{% extends '../../base.htm' %}
{% load static %}
{% block title %}
<title>ПРЕДИСЛОВИЕ АВТОРОВ | {{book.title}} | {%for author in book.authors.all%} {%if author.first_name%} {{author.first_name}} {%endif%} {%if author.second_name%} {{author.second_name}} {%endif%} {%if forloop.counter == book.authors.all.count%} {{author.last_name}} {%else%} {{author.last_name}}, {%endif%} {%endfor%} | {{book.year}}</title>
{% endblock title %}
{% block content %}

<div class="iBook">
{% include '../../snippet_litres_banner1.htm' %}

<div class="section">
<div class="chessBoard small floater" data-start-fen="rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w KQkq - 0 1"></div>
<div class="score">
 <span class="line0" onclick='loadMove("rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w KQkq - 0 1", this, ""); '>[...]</span> 
<blockquote style="text-align:right; font-style:italic;">
Жизнь — это шахматная партия<br />
М. Сервантес<br />
</blockquote>
<blockquote style="text-align:right; font-style:italic;">
Мир я сравнил бы с шахматной доской<br />
То день, то ночь... А пешки? — мы с тобой.<br />
Подвигают, притиснут — и побили.<br />
И в темный ящик сунут на покой! О. Хайям<br />
</blockquote>
<h1>ПРЕДИСЛОВИЕ АВТОРОВ</h1>
<p>Кто начал изучать шахматы в конце 70-х или в начале 80-х годов минувшего столетия, хорошо помнит замечательную книгу «Вместе с гроссмейстерами», написанную известными чешскими гроссмейстерами, двумя Властимилами — Гортом и Янсой. Не составили исключения и авторы настоящей работы. Та необычная книга, выдержанная в оригинальном (отчасти заданном, отчасти философском, немного сатирическом, но во всех отношениях воспитывающем) стиле, навсегда осталась в их памяти. Прошли годы, и у «бывших» читателей (хотя все мы до конца своих дней остаемся читателями), а ныне играющих шахматистов, тоже набралось немало интересных партий с любопытными и поучительными эпизодами. И однажды им (авторам) захотелось поделиться своими находками с любителями шахмат. Так появился на свет этот труд.</p>
<p>Авторы сопровождают каждый пример пословицами и высказываниями известных личностей, желая тем самым подчеркнуть, что шахматы и философия имеют много общего. Мы искренно надеемся, что, прочитав эту книгу, вы лишний раз почувствуете, какая это прекрасная игра — шахматы, и полюбите их еще сильнее. Перед вами откроются новые горизонты шахматного искусства.</p>
<p>Как и в большинстве схожих «решебников», за каждый правильный ответ полагаются очки. Закончив со всеми примерами, вы сможете проверить свою силу. Максимальный результат — 1474 очка; если вы набрали более 1100, это свидетельствует о хорошем уровне подготовленности. Позиции на диаграммах носят разноплановой характер. Тут вы встретите внезапные тактические удары, глубокие стратегические маневры, дебютные ловушки, стандартные эндшпильные приемы и т. д.</p>
<p>Желаем удачи!</p>
<!--p>4</p><p>Тесты для квалифицированных шахматистов. Повысьте свой рейтинг!</p-->
</div> <!-- score -->
</div> <!-- section -->

{% include '../../snippet_litres_banner1.htm' %}
</div> <!-- iBook -->
{% endblock content %}
