{% extends '../../base.htm' %}
{% load static %}
{% block title %}
<title>ЗАДАНИЯ | {{book.title}} | {%for author in book.authors.all%} {%if author.first_name%} {{author.first_name}} {%endif%} {%if author.second_name%} {{author.second_name}} {%endif%} {%if forloop.counter == book.authors.all.count%} {{author.last_name}} {%else%} {{author.last_name}}, {%endif%} {%endfor%} | {{book.year}}</title>
{% endblock title %}
{% block content %}

<div class="iBook">
{% include '../../snippet_litres_banner1.htm' %}

<div class="section">
<div class="score">
<h1>ЗАДАНИЯ</h1>
</div> <!-- score -->
</div> <!-- section -->

<div class="section">
<div class="score">
<p class="capTop">№ 1</p>
 <!--span class="line0" onclick='loadMove("1r2k3/5p1p/2ppbpr1/p3q3/2P1PR2/1P1B4/P4QPP/3R3K w - - 0 22", this, ""); '>[...]</span--> 
<div class="chessBoard small nobuttons" data-start-fen="1r2k3/5p1p/2ppbpr1/p3q3/2P1PR2/1P1B4/P4QPP/3R3K w - - 0 22"></div>
<p class="capBot">Ход белых</p>
<p>Их позиция: а) выигранная; b) лучше; с) равная ?</p>
</div> <!-- score -->
</div> <!-- section -->
<hr />
<div class="section">
<div class="score">
<p class="capTop">№ 2</p>
 <span class="line0" onclick='loadMove("1rbq1rk1/1p1n1pbp/p2p1np1/2pP4/P1N5/2N3P1/1P2PPBP/R1BQ1RK1 b - - 0 1", this, ""); '>[...]</span> 
<div class="chessBoard small nobuttons" data-start-fen="1rbq1rk1/1p1n1pbp/p2p1np1/2pP4/P1N5/2N3P1/1P2PPBP/R1BQ1RK1 b - - 0 1"></div>
<p class="capBot">Ход черных</p>
<p>Как бы вы сыграли: 1)
 <span onclick='loadMove("1rbq1rk1/1p3pbp/pn1p1np1/2pP4/P1N5/2N3P1/1P2PPBP/R1BQ1RK1 w - - 0 2", this, "d7b6"); ' class="line0">1...Кb6</span> 
; 2)
 <span onclick='loadMove("1rb2rk1/1p1nqpbp/p2p1np1/2pP4/P1N5/2N3P1/1P2PPBP/R1BQ1RK1 w - - 0 2", this, "d8e7"); ' class="line0">1...Фe7</span> 
; 3)
 <span onclick='loadMove("1rbqnrk1/1p1n1pbp/p2p2p1/2pP4/P1N5/2N3P1/1P2PPBP/R1BQ1RK1 w - - 0 2", this, "f6e8"); ' class="line0">1...Кe8!?</span> 
.</p>
</div> <!-- score -->
</div> <!-- section -->
<hr />
<div class="section">
<div class="score">
<p class="capTop">№ 3</p>
 <!--span class="line0" onclick='loadMove("r3r1k1/pb2q2p/1p2p1pQ/nR3p2/3P2N1/P1P5/5PPP/1B2R1K1 w - - 0 24", this, ""); '>[...]</span--> 
<div class="chessBoard small nobuttons" data-start-fen="r3r1k1/pb2q2p/1p2p1pQ/nR3p2/3P2N1/P1P5/5PPP/1B2R1K1 w - - 0 24"></div>
<p class="capBot">Ход белых</p>
<p>Их позиция: а) выигранная; b) безнадежная; с) равная ?</p>
</div> <!-- score -->
</div> <!-- section -->
<hr />
<div class="section">
<div class="score">
<p class="capTop">№ 4</p>
 <!--span class="line0" onclick='loadMove("rn1q1rk1/4b1p1/1pp1p2p/5p2/P1PPpP2/4P2N/2Q3PP/R1B2RK1 b - - 0 18", this, ""); '>[...]</span--> 
<div class="chessBoard small nobuttons" data-start-fen="rn1q1rk1/4b1p1/1pp1p2p/5p2/P1PPpP2/4P2N/2Q3PP/R1B2RK1 b - - 0 18"></div>
<p class="capBot">Ход черных</p>
<p>Их позиция: а) лучше; b) хуже; с) равная ?</p>
</div> <!-- score -->
</div> <!-- section -->
<hr />
<div class="section">
<div class="score">
<p class="capTop">№ 5</p>
 <span class="line0" onclick='loadMove("8/1k2q2p/2p1r1p1/p1PpNpQb/Pp1P1P2/1P2P3/3K3P/6R1 b - - 0 46", this, ""); '>[...]</span> 
<div class="chessBoard small nobuttons" data-start-fen="8/1k2q2p/2p1r1p1/p1PpNpQb/Pp1P1P2/1P2P3/3K3P/6R1 b - - 0 46"></div>
<p class="capBot">Ход черных</p>
<p>Их позиция: а) лучше; b) хуже; с) равная ?</p>
<p>Как следует играть: 1)
 <span onclick='loadMove("8/2k1q2p/2p1r1p1/p1PpNpQb/Pp1P1P2/1P2P3/3K3P/6R1 w - - 0 47", this, "b7c7"); ' class="line0">46...Крc7</span> 
; 2)
 <span onclick='loadMove("8/1k5p/2p1r1p1/p1PpNpqb/Pp1P1P2/1P2P3/3K3P/6R1 w - - 0 47", this, "e7g5"); ' class="line0">46...Ф:g5</span> 
?</p>
</div> <!-- score -->
</div> <!-- section -->
<hr />
<div class="section">
<div class="score">
<p class="capTop">№ 6</p>
 <!--span class="line0" onclick='loadMove("8/6nk/6B1/4p3/1P4P1/2Q4P/3r1q2/4R2K b - - 0 1", this, ""); '>[...]</span--> 
<div class="chessBoard small nobuttons" data-start-fen="8/6nk/6B1/4p3/1P4P1/2Q4P/3r1q2/4R2K b - - 0 1"></div>
<p class="capBot">Ход черных</p>
<p>Их позиция: а) выигранная; b) безнадежная; с) равная ?</p>
<!--p>Тесты для квалифицированных шахматистов. Повысьте свой рейтинг!</p-->
</div> <!-- score -->
</div> <!-- section -->
<hr />
<div class="section">
<div class="score">
<p class="capTop">№ 7</p>
 <!--span class="line0" onclick='loadMove("6k1/p4p2/7p/3p1P2/3PpQP1/7P/P1R3K1/1r2q3 w - - 0 42", this, ""); '>[...]</span--> 
<div class="chessBoard small nobuttons" data-start-fen="6k1/p4p2/7p/3p1P2/3PpQP1/7P/P1R3K1/1r2q3 w - - 0 42"></div>
<p class="capBot">Ход белых</p>
<p>Их позиция: а) выигранная; b) безнадежная; с) равная ?</p>
</div> <!-- score -->
</div> <!-- section -->
<hr />
<div class="section">
<div class="score">
<p class="capTop">№ 8</p>
 <!--span class="line0" onclick='loadMove("r1bqk2r/3n1p2/pp1p2p1/2PPp2n/2P1P2p/P1NN4/4BPPP/1RbQ1RK1 w kq - 0 15", this, ""); '>[...]</span--> 
<div class="chessBoard small nobuttons" data-start-fen="r1bqk2r/3n1p2/pp1p2p1/2PPp2n/2P1P2p/P1NN4/4BPPP/1RbQ1RK1 w kq - 0 15"></div>
<p class="capBot">Ход белых</p>
<p>Их позиция: а) лучше; b) хуже; с) равная ?</p>
</div> <!-- score -->
</div> <!-- section -->
<hr />
<div class="section">
<div class="score">
<p class="capTop">№ 9</p>
 <!--span class="line0" onclick='loadMove("3r2k1/p1rqnpp1/1p2bp1p/8/3P4/2P1NB2/PQ3PPP/R3R1K1 w - - 0 1", this, ""); '>[...]</span--> 
<div class="chessBoard small nobuttons" data-start-fen="3r2k1/p1rqnpp1/1p2bp1p/8/3P4/2P1NB2/PQ3PPP/R3R1K1 w - - 0 1"></div>
<p class="capBot">Ход белых</p>
<p>Их позиция: а) лучше; b) хуже; с) равная ?</p>
</div> <!-- score -->
</div> <!-- section -->
<hr />
<div class="section">
<div class="score">
<p class="capTop">№ 10</p>
 <span class="line0" onclick='loadMove("rnbqk1nr/pp4pp/2pbp3/3p1pB1/2PP4/2N2N2/PPQ1PPPP/R3KB1R b KQkq - 0 1", this, ""); '>[...]</span> 
<div class="chessBoard small nobuttons" data-start-fen="rnbqk1nr/pp4pp/2pbp3/3p1pB1/2PP4/2N2N2/PPQ1PPPP/R3KB1R b KQkq - 0 1"></div>
<p class="capBot">Ход черных</p>
<p>Как бы вы сыграли: 1)
 <span onclick='loadMove("rnbqk2r/pp4pp/2pbpn2/3p1pB1/2PP4/2N2N2/PPQ1PPPP/R3KB1R w KQkq - 0 2", this, "g8f6"); ' class="line0">1...Кf6</span> 
; 2)
 <span onclick='loadMove("rnbqk2r/pp2n1pp/2pbp3/3p1pB1/2PP4/2N2N2/PPQ1PPPP/R3KB1R w KQkq - 0 2", this, "g8e7"); ' class="line0">1...Кe7</span> 
?</p>
</div> <!-- score -->
</div> <!-- section -->
<hr />
<div class="section">
<div class="score">
<p class="capTop">№ 11</p>
 <!--span class="line0" onclick='loadMove("r2r2k1/pp1bppbp/2n3p1/2pq4/Q2P1B2/2P1PN2/P3BPPP/R4RK1 w - - 0 1", this, ""); '>[...]</span--> 
<div class="chessBoard small nobuttons" data-start-fen="r2r2k1/pp1bppbp/2n3p1/2pq4/Q2P1B2/2P1PN2/P3BPPP/R4RK1 w - - 0 1"></div>
<p class="capBot">Ход белых</p>
<p>Их позиция: а) лучше; b) хуже; с) равная ?</p>
</div> <!-- score -->
</div> <!-- section -->
<hr />
<div class="section">
<div class="score">
<p class="capTop">№ 12</p>
 <!--span class="line0" onclick='loadMove("5r1k/p5pp/1p5q/2pPp3/4P1Q1/6PP/PP6/5RK1 b - - 0 1", this, ""); '>[...]</span--> 
<div class="chessBoard small nobuttons" data-start-fen="5r1k/p5pp/1p5q/2pPp3/4P1Q1/6PP/PP6/5RK1 b - - 0 1"></div>
<p class="capBot">Ход черных</p>
<p>Их позиция: а) выигранная; b) безнадежная; с) равная ?</p>
<!--p>Тесты для квалифицированных шахматистов. Повысьте свой рейтинг!</p-->
</div> <!-- score -->
</div> <!-- section -->
<hr />
<div class="section">
<div class="score">
<p class="capTop">№ 13</p>
 <!--span class="line0" onclick='loadMove("8/2p3p1/7p/1p5P/4N1k1/1K4N1/8/8 w - - 0 1", this, ""); '>[...]</span--> 
<div class="chessBoard small nobuttons" data-start-fen="8/2p3p1/7p/1p5P/4N1k1/1K4N1/8/8 w - - 0 1"></div>
<p class="capBot">Ход белых</p>
<p>Их позиция: а) лучше; b) выигранная; с) равная ?</p>
</div> <!-- score -->
</div> <!-- section -->
<hr />
<div class="section">
<div class="score">
<p class="capTop">№ 14</p>
 <span class="line0" onclick='loadMove("r4rk1/pp1nqpp1/2p1pnp1/8/PbBP1P2/2N1P3/1P2Q1PP/R1BR2K1 b - - 0 13", this, ""); '>[...]</span> 
<div class="chessBoard small nobuttons" data-start-fen="r4rk1/pp1nqpp1/2p1pnp1/8/PbBP1P2/2N1P3/1P2Q1PP/R1BR2K1 b - - 0 13"></div>
<p class="capBot">Ход черных</p>
<p>Их позиция: а) лучше; b) хуже; с) равная ?</p>
<p>Как им следует играть: 1)
 <span onclick='loadMove("r4rk1/pp1nqpp1/4pnp1/2p5/PbBP1P2/2N1P3/1P2Q1PP/R1BR2K1 w - - 0 14", this, "c6c5"); ' class="line0">13...c5</span> 
; 2)
 <span onclick='loadMove("r2r2k1/pp1nqpp1/2p1pnp1/8/PbBP1P2/2N1P3/1P2Q1PP/R1BR2K1 w - - 0 14", this, "f8d8"); ' class="line0">13...Лfd8</span> 
; 3)
 <span onclick='loadMove("3r1rk1/pp1nqpp1/2p1pnp1/8/PbBP1P2/2N1P3/1P2Q1PP/R1BR2K1 w - - 0 14", this, "a8d8"); ' class="line0">13...Лad8</span> 
?</p>
</div> <!-- score -->
</div> <!-- section -->
<hr />
<div class="section">
<div class="score">
<p class="capTop">№ 15</p>
 <span class="line0" onclick='loadMove("r5rk/1p3p1b/1pp1pP1Q/1q5P/1b1P2P1/1P3B2/P7/B2R1R1K b - - 0 40", this, ""); '>[...]</span> 
<div class="chessBoard small nobuttons" data-start-fen="r5rk/1p3p1b/1pp1pP1Q/1q5P/1b1P2P1/1P3B2/P7/B2R1R1K b - - 0 40"></div>
<p>Здесь черные сыграли
 <span onclick='loadMove("6rk/1p3p1b/1pp1pP1Q/1q5P/1b1P2P1/1P3B2/r7/B2R1R1K w - - 0 41", this, "a8a2"); ' class="line0">40...Л:a2!?</span> 
.</p>
<p>Верное ли это решение?</p>
</div> <!-- score -->
</div> <!-- section -->
<hr />
<div class="section">
<div class="score">
<p class="capTop">№ 16</p>
 <!--span class="line0" onclick='loadMove("8/N5k1/2P4p/KP6/P7/8/5r1P/4r3 b - - 0 1", this, ""); '>[...]</span--> 
<div class="chessBoard small nobuttons" data-start-fen="8/N5k1/2P4p/KP6/P7/8/5r1P/4r3 b - - 0 1"></div>
<p class="capBot">Ход черных</p>
<p>Их позиция: а) выигранная; b) безнадежная; с) равная ?</p>
</div> <!-- score -->
</div> <!-- section -->
<hr />
<div class="section">
<div class="score">
<p class="capTop">№ 17</p>
 <!--span class="line0" onclick='loadMove("r1b1r1k1/bpp2pp1/p2p3p/P1P1n3/1P1NP2q/7P/1BQ2PP1/R3RB1K b - - 0 1", this, ""); '>[...]</span--> 
<div class="chessBoard small nobuttons" data-start-fen="r1b1r1k1/bpp2pp1/p2p3p/P1P1n3/1P1NP2q/7P/1BQ2PP1/R3RB1K b - - 0 1"></div>
<p class="capBot">Ход черных</p>
<p>Их позиция: а) лучше; b) хуже; с) равная ?</p>
</div> <!-- score -->
</div> <!-- section -->
<hr />
<div class="section">
<div class="score">
<p class="capTop">№ 18</p>
 <!--span class="line0" onclick='loadMove("R7/8/P4k2/8/6K1/r7/8/8 b - - 0 1", this, ""); '>[...]</span--> 
<div class="chessBoard small nobuttons" data-start-fen="R7/8/P4k2/8/6K1/r7/8/8 b - - 0 1"></div>
<p class="capBot">Ход черных</p>
<p>Позиция белых: а) равная; b) выигранная ?</p>
<!--p>Тесты для квалифицированных шахматистов. Повысьте свой рейтинг!</p-->
</div> <!-- score -->
</div> <!-- section -->
<hr />
<div class="section">
<div class="score">
<p class="capTop">№ 19</p>
 <!--span class="line0" onclick='loadMove("4R3/p4pk1/1p4p1/2r3P1/3p4/8/PP3b2/K4R2 w - - 0 1", this, ""); '>[...]</span--> 
<div class="chessBoard small nobuttons" data-start-fen="4R3/p4pk1/1p4p1/2r3P1/3p4/8/PP3b2/K4R2 w - - 0 1"></div>
<p class="capBot">Ход белых</p>
<p>Их позиция: а) лучше; b) хуже; с) равная ?</p>
</div> <!-- score -->
</div> <!-- section -->
<hr />
<div class="section">
<div class="score">
<p class="capTop">№ 20</p>
 <!--span class="line0" onclick='loadMove("3q3r/5rk1/3p2p1/p1nPp1Pp/PpP2p1Q/1P3P1P/2B4K/1R2R3 b - - 0 1", this, ""); '>[...]</span--> 
<div class="chessBoard small nobuttons" data-start-fen="3q3r/5rk1/3p2p1/p1nPp1Pp/PpP2p1Q/1P3P1P/2B4K/1R2R3 b - - 0 1"></div>
<p class="capBot">Ход черных</p>
<p>Их позиция: а) лучше; b) хуже; с) равная ?</p>
</div> <!-- score -->
</div> <!-- section -->
<hr />
<div class="section">
<div class="score">
<p class="capTop">№ 21</p>
 <!--span class="line0" onclick='loadMove("8/6P1/8/1p6/4k1r1/2B5/5K2/8 b - - 0 1", this, ""); '>[...]</span--> 
<div class="chessBoard small nobuttons" data-start-fen="8/6P1/8/1p6/4k1r1/2B5/5K2/8 b - - 0 1"></div>
<p class="capBot">Ход черных</p>
<p>Их позиция: а) выигранная; b) равная ?</p>
</div> <!-- score -->
</div> <!-- section -->
<hr />
<div class="section">
<div class="score">
<p class="capTop">№ 22</p>
 <!--span class="line0" onclick='loadMove("r5k1/1q4pp/4p3/p1r2p2/1n6/1P4P1/1B1QPP1P/R4RK1 w - - 0 1", this, ""); '>[...]</span--> 
<div class="chessBoard small nobuttons" data-start-fen="r5k1/1q4pp/4p3/p1r2p2/1n6/1P4P1/1B1QPP1P/R4RK1 w - - 0 1"></div>
<p class="capBot">Ход белых</p>
<p>Их позиция: а) лучше; b) хуже; с) равная ?</p>
</div> <!-- score -->
</div> <!-- section -->
<hr />
<div class="section">
<div class="score">
<p class="capTop">№ 23</p>
 <!--span class="line0" onclick='loadMove("r4rk1/3b1pp1/p2q1b1p/1p1P4/8/1BP2Q2/PP3BP1/3RR1K1 w - - 0 1", this, ""); '>[...]</span--> 
<div class="chessBoard small nobuttons" data-start-fen="r4rk1/3b1pp1/p2q1b1p/1p1P4/8/1BP2Q2/PP3BP1/3RR1K1 w - - 0 1"></div>
<p class="capBot">Ход белых</p>
<p>Их позиция: а) лучше; b) намного лучше; с) равная ?</p>
</div> <!-- score -->
</div> <!-- section -->
<hr />
<div class="section">
<div class="score">
<p class="capTop">№ 24</p>
 <span class="line0" onclick='loadMove("r5k1/q3rppp/p1p5/3p4/N3n3/4P3/PPQ2PPP/2RR2K1 w - - 0 20", this, ""); '>[...]</span> 
<div class="chessBoard small nobuttons" data-start-fen="r5k1/q3rppp/p1p5/3p4/N3n3/4P3/PPQ2PPP/2RR2K1 w - - 0 20"></div>
<p class="capBot">Ход белых</p>
<p>Как им следует играть: 1)
 <span onclick='loadMove("r5k1/q3rppp/p1Q5/3p4/N3n3/4P3/PP3PPP/2RR2K1 b - - 0 20", this, "c2c6"); ' class="line0">20.Ф:c6!?</span> 
; 2)
 <span onclick='loadMove("r5k1/q3rppp/p1p5/2Np4/4n3/4P3/PPQ2PPP/2RR2K1 b - - 0 20", this, "a4c5"); ' class="line0">20.Кc5</span> 
?</p>
<!--p>Тесты для квалифицированных шахматистов. Повысьте свой рейтинг!</p-->
</div> <!-- score -->
</div> <!-- section -->
<hr />
<div class="section">
<div class="score">
<p class="capTop">№ 25</p>
 <!--span class="line0" onclick='loadMove("1b1r1rk1/pp1nq2p/2p1p3/2PpPppb/PP6/3NPPP1/1BQ3BP/R4RK1 b - - 0 1", this, ""); '>[...]</span--> 
<div class="chessBoard small nobuttons" data-start-fen="1b1r1rk1/pp1nq2p/2p1p3/2PpPppb/PP6/3NPPP1/1BQ3BP/R4RK1 b - - 0 1"></div>
<p class="capBot">Ход черных</p>
<p>Их позиция: а) лучше; b) хуже; с) равная ?</p>
</div> <!-- score -->
</div> <!-- section -->
<hr />
<div class="section">
<div class="score">
<p class="capTop">№ 26</p>
 <!--span class="line0" onclick='loadMove("5rk1/5pp1/8/1pq1P1R1/7P/1Qn3P1/P2r2B1/4R2K b - - 0 1", this, ""); '>[...]</span--> 
<div class="chessBoard small nobuttons" data-start-fen="5rk1/5pp1/8/1pq1P1R1/7P/1Qn3P1/P2r2B1/4R2K b - - 0 1"></div>
<p class="capBot">Ход черных</p>
<p>Их позиция: а) лучше; b) выигранная; с) равная ?</p>
</div> <!-- score -->
</div> <!-- section -->
<hr />
<div class="section">
<div class="score">
<p class="capTop">№ 27</p>
 <!--span class="line0" onclick='loadMove("2rr2k1/3b1ppp/p2b1n2/1p1p4/1P3P2/PN6/1B1PN1PP/R3R1K1 b - - 0 1", this, ""); '>[...]</span--> 
<div class="chessBoard small nobuttons" data-start-fen="2rr2k1/3b1ppp/p2b1n2/1p1p4/1P3P2/PN6/1B1PN1PP/R3R1K1 b - - 0 1"></div>
<p class="capBot">Ход черных</p>
<p>Их позиция: а) лучше; b) хуже; с) равная ?</p>
</div> <!-- score -->
</div> <!-- section -->
<hr />
<div class="section">
<div class="score">
<p class="capTop">№ 28</p>
 <!--span class="line0" onclick='loadMove("1k6/5NR1/p6P/1pr4P/8/2Pn4/P2r4/1K5R b - - 0 1", this, ""); '>[...]</span--> 
<div class="chessBoard small nobuttons" data-start-fen="1k6/5NR1/p6P/1pr4P/8/2Pn4/P2r4/1K5R b - - 0 1"></div>
<p class="capBot">Ход черных</p>
<p>Позиция белых: а) лучше; b) выигранная; с) равная ?</p>
</div> <!-- score -->
</div> <!-- section -->
<hr />
<div class="section">
<div class="score">
<p class="capTop">№ 29</p>
 <!--span class="line0" onclick='loadMove("5b1k/p4p2/2r1pP2/q3B3/3pNP1P/3P4/8/3Q2K1 w - - 0 1", this, ""); '>[...]</span--> 
<div class="chessBoard small nobuttons" data-start-fen="5b1k/p4p2/2r1pP2/q3B3/3pNP1P/3P4/8/3Q2K1 w - - 0 1"></div>
<p class="capBot">Ход белых</p>
<p>Их позиция: а) лучше; b) выигранная; с) равная ?</p>
</div> <!-- score -->
</div> <!-- section -->
<hr />
<div class="section">
<div class="score">
<p class="capTop">№ 30</p>
 <!--span class="line0" onclick='loadMove("r1rq2k1/1b2bpp1/p3p2p/PpnnP3/4N3/5N2/2QB1PPP/RB2R1K1 w - - 0 1", this, ""); '>[...]</span--> 
<div class="chessBoard small nobuttons" data-start-fen="r1rq2k1/1b2bpp1/p3p2p/PpnnP3/4N3/5N2/2QB1PPP/RB2R1K1 w - - 0 1"></div>
<p class="capBot">Ход белых</p>
<p>Их позиция: а) лучше; b) хуже; с) равная ?</p>
<!--p>Тесты для квалифицированных шахматистов. Повысьте свой рейтинг!</p><p>9</p-->
</div> <!-- score -->
</div> <!-- section -->
<hr />
<div class="section">
<div class="score">
<p class="capTop">№ 31</p>
 <span class="line0" onclick='loadMove("B7/5k2/8/4pp2/1B1b2b1/6P1/6K1/8 w - - 0 37", this, ""); '>[...]</span> 
<div class="chessBoard small nobuttons" data-start-fen="B7/5k2/8/4pp2/1B1b2b1/6P1/6K1/8 w - - 0 37"></div>
<p class="capBot">Ход белых</p>
<p>Позиция черных: а) выигранная; b) равная ?</p>
<p>Можно ли играть
 <span onclick='loadMove("8/5k2/8/4pp2/1B1b2b1/5BP1/6K1/8 b - - 0 37", this, "a8f3"); ' class="line0">37.Сf3</span> 
?</p>
</div> <!-- score -->
</div> <!-- section -->
<hr />
<div class="section">
<div class="score">
<p class="capTop">№ 32</p>
 <!--span class="line0" onclick='loadMove("1r6/pBr1bpk1/2P1b2p/8/1N1p1P2/P5P1/8/2R1R1K1 b - - 0 1", this, ""); '>[...]</span--> 
<div class="chessBoard small nobuttons" data-start-fen="1r6/pBr1bpk1/2P1b2p/8/1N1p1P2/P5P1/8/2R1R1K1 b - - 0 1"></div>
<p class="capBot">Ход черных</p>
<p>Их позиция: а) лучше; b) хуже; с) равная ?</p>
</div> <!-- score -->
</div> <!-- section -->
<hr />
<div class="section">
<div class="score">
<p class="capTop">№ 33</p>
 <!--span class="line0" onclick='loadMove("3r1rk1/pp1nbpp1/4pn1p/1q5P/2NP1P2/3Q2N1/PP1B2P1/4RR1K w - - 0 1", this, ""); '>[...]</span--> 
<div class="chessBoard small nobuttons" data-start-fen="3r1rk1/pp1nbpp1/4pn1p/1q5P/2NP1P2/3Q2N1/PP1B2P1/4RR1K w - - 0 1"></div>
<p class="capBot">Ход белых</p>
<p>Их позиция: а) лучше; b) хуже; с) равная ?</p>
</div> <!-- score -->
</div> <!-- section -->
<hr />
<div class="section">
<div class="score">
<p class="capTop">№ 34</p>
 <!--span class="line0" onclick='loadMove("5nk1/1p1nr1p1/p3p2p/4P3/1q2N3/5NQP/PPr3P1/3RR2K w - - 0 1", this, ""); '>[...]</span--> 
<div class="chessBoard small nobuttons" data-start-fen="5nk1/1p1nr1p1/p3p2p/4P3/1q2N3/5NQP/PPr3P1/3RR2K w - - 0 1"></div>
<p class="capBot">Ход белых</p>
<p>Их позиция: а) лучше; b) хуже; с) выигранная ?</p>
</div> <!-- score -->
</div> <!-- section -->
<hr />
<div class="section">
<div class="score">
<p class="capTop">№ 35</p>
 <!--span class="line0" onclick='loadMove("r3r1k1/1pqb1pb1/1npp2p1/2n2P1p/p1PNP3/P1N3PP/1PQ2B2/3RRBK1 w - - 0 1", this, ""); '>[...]</span--> 
<div class="chessBoard small nobuttons" data-start-fen="r3r1k1/1pqb1pb1/1npp2p1/2n2P1p/p1PNP3/P1N3PP/1PQ2B2/3RRBK1 w - - 0 1"></div>
<p class="capBot">Ход белых</p>
<p>Их позиция: а) лучше; b) хуже; с) равная ?</p>
</div> <!-- score -->
</div> <!-- section -->
<hr />
<div class="section">
<div class="score">
<p class="capTop">№ 36</p>
 <!--span class="line0" onclick='loadMove("2r4r/1p3P2/p2kpPQp/q2p3P/3P4/1nN2N2/1PR2K2/1n3b2 w - - 0 1", this, ""); '>[...]</span--> 
<div class="chessBoard small nobuttons" data-start-fen="2r4r/1p3P2/p2kpPQp/q2p3P/3P4/1nN2N2/1PR2K2/1n3b2 w - - 0 1"></div>
<p class="capBot">Ход белых</p>
<p>Их позиция: а) выигранная; b) проигранная; с) равная ?</p>
<!--p>10</p><p>Тесты для квалифицированных шахматистов. Повысьте свой рейтинг!</p-->
</div> <!-- score -->
</div> <!-- section -->
<hr />
<div class="section">
<div class="score">
<p class="capTop">№ 37</p>
 <!--span class="line0" onclick='loadMove("r2q3r/3n1pk1/pp1p1bpp/2nPp3/1RP1P1P1/P1N1BN1R/3Q1P1P/7K b - - 0 1", this, ""); '>[...]</span--> 
<div class="chessBoard small nobuttons" data-start-fen="r2q3r/3n1pk1/pp1p1bpp/2nPp3/1RP1P1P1/P1N1BN1R/3Q1P1P/7K b - - 0 1"></div>
<p class="capBot">Ход черных</p>
<p>Их позиция: а) лучше; b) хуже; с) равная ?</p>
</div> <!-- score -->
</div> <!-- section -->
<hr />
<div class="section">
<div class="score">
<p class="capTop">№ 38</p>
 <span class="line0" onclick='loadMove("2rQ2k1/2P3p1/2b4p/5p2/8/p1R2P1P/6PK/1q6 b - - 0 37", this, ""); '>[...]</span> 
<div class="chessBoard small nobuttons" data-start-fen="2rQ2k1/2P3p1/2b4p/5p2/8/p1R2P1P/6PK/1q6 b - - 0 37"></div>
<p class="capBot">Ход черных</p>
<p>Их позиция: а) лучше; b) хуже; с) равная ?</p>
<p>Как им следует играть: 1)
 <span onclick='loadMove("3r2k1/2P3p1/2b4p/5p2/8/p1R2P1P/6PK/1q6 w - - 0 38", this, "c8d8"); ' class="line0">37...Л:d8</span> 
; 2)
 <span onclick='loadMove("2rQ4/2P3pk/2b4p/5p2/8/p1R2P1P/6PK/1q6 w - - 0 38", this, "g8h7"); ' class="line0">37...Крh7</span> 
?</p>
</div> <!-- score -->
</div> <!-- section -->
<hr />
<div class="section">
<div class="score">
<p class="capTop">№ 39</p>
 <!--span class="line0" onclick='loadMove("2qrr1k1/5ppp/n2b4/Pp1np3/8/1QPP1NP1/1B3P2/R3RNK1 b - - 0 1", this, ""); '>[...]</span--> 
<div class="chessBoard small nobuttons" data-start-fen="2qrr1k1/5ppp/n2b4/Pp1np3/8/1QPP1NP1/1B3P2/R3RNK1 b - - 0 1"></div>
<p class="capBot">Ход черных</p>
<p>Их позиция: а) выигранная; b) хуже; с) равная ?</p>
</div> <!-- score -->
</div> <!-- section -->
<hr />
<div class="section">
<div class="score">
<p class="capTop">№ 40</p>
 <!--span class="line0" onclick='loadMove("4r3/1p2ppkp/q4np1/1R2Q3/3PN3/1P5P/1r3PP1/4R1K1 b - - 0 1", this, ""); '>[...]</span--> 
<div class="chessBoard small nobuttons" data-start-fen="4r3/1p2ppkp/q4np1/1R2Q3/3PN3/1P5P/1r3PP1/4R1K1 b - - 0 1"></div>
<p class="capBot">Ход черных</p>
<p>Как им защищаться от угрозы <b>g2-g4-g5</b>?</p>
</div> <!-- score -->
</div> <!-- section -->
<hr />
<div class="section">
<div class="score">
<p class="capTop">№ 41</p>
 <span class="line0" onclick='loadMove("r3r1k1/1p3p1b/2p2q1p/1p2n1p1/2nNP3/P1Q2PPP/1P3BB1/2RR2K1 w - - 0 1", this, ""); '>[...]</span> 
<div class="chessBoard small nobuttons" data-start-fen="r3r1k1/1p3p1b/2p2q1p/1p2n1p1/2nNP3/P1Q2PPP/1P3BB1/2RR2K1 w - - 0 1"></div>
<p class="capBot">Ход белых</p>
<p>Их позиция: а) лучше; b) хуже; с) равная ?</p>
<p>Как им следует играть: 1)
 <span onclick='loadMove("r3r1k1/1p3p1b/2p2q1p/1p2n1p1/2n1P3/PNQ2PPP/1P3BB1/2RR2K1 b - - 0 1", this, "d4b3"); ' class="line0">1.Кb3</span> 
; 2)
 <span onclick='loadMove("r3r1k1/1p3p1b/2p2q1p/1p2n1p1/2nNP3/P1Q2PPP/1P3BBK/2RR4 b - - 0 1", this, "g1h2"); ' class="line0">1.Крh2</span> 
; 3)
 <span onclick='loadMove("r3r1k1/1p3p1b/2p2q1p/1p2n1p1/2nNP3/P4PPP/1PQ2BB1/2RR2K1 b - - 0 1", this, "c3c2"); ' class="line0">1.Фc2</span> 
?</p>
</div> <!-- score -->
</div> <!-- section -->
<hr />
<div class="section">
<div class="score">
<p class="capTop">№ 42</p>
 <!--span class="line0" onclick='loadMove("r3k1r1/1b3pP1/2p1p3/1p2q3/1bp4R/2N3P1/1P3PB1/R2Q1K2 w q - 0 1", this, ""); '>[...]</span--> 
<div class="chessBoard small nobuttons" data-start-fen="r3k1r1/1b3pP1/2p1p3/1p2q3/1bp4R/2N3P1/1P3PB1/R2Q1K2 w q - 0 1"></div>
<p class="capBot">Ход белых</p>
<p>Их позиция: а) выигранная; b) равная; с) хуже ?</p>
<!--p>Тесты для квалифицированных шахматистов. Повысьте свой рейтинг!</p><p>11</p-->
</div> <!-- score -->
</div> <!-- section -->
<hr />
<div class="section">
<div class="score">
<p class="capTop">№ 43</p>
 <span class="line0" onclick='loadMove("r1br2k1/ppp2nbp/6p1/3Bpp2/8/NP2P1PP/PBP2P2/3R1RK1 b - - 0 15", this, ""); '>[...]</span> 
<div class="chessBoard small nobuttons" data-start-fen="r1br2k1/ppp2nbp/6p1/3Bpp2/8/NP2P1PP/PBP2P2/3R1RK1 b - - 0 15"></div>
<p class="capBot">Ход черных</p>
<p>Их позиция: а) лучше; b) хуже; с) равная ?</p>
<p>Как им следует играть: 1)
 <span onclick='loadMove("r1b3k1/pppr1nbp/6p1/3Bpp2/8/NP2P1PP/PBP2P2/3R1RK1 w - - 0 16", this, "d8d7"); ' class="line0">15...Лd7</span> 
; 2)
 <span onclick='loadMove("r1b1r1k1/ppp2nbp/6p1/3Bpp2/8/NP2P1PP/PBP2P2/3R1RK1 w - - 0 16", this, "d8e8"); ' class="line0">15...Лe8</span> 
; 3)
 <span onclick='loadMove("r1b2rk1/ppp2nbp/6p1/3Bpp2/8/NP2P1PP/PBP2P2/3R1RK1 w - - 0 16", this, "d8f8"); ' class="line0">15...Лf8</span> 
?</p>
</div> <!-- score -->
</div> <!-- section -->
<hr />
<div class="section">
<div class="score">
<p class="capTop">№ 44</p>
 <span class="line0" onclick='loadMove("3qkr2/1Br2ppp/p3pn2/8/b2N4/5Q2/P4PPP/R4RK1 w - - 0 21", this, ""); '>[...]</span> 
<div class="chessBoard small nobuttons" data-start-fen="3qkr2/1Br2ppp/p3pn2/8/b2N4/5Q2/P4PPP/R4RK1 w - - 0 21"></div>
<p class="capBot">Ход белых</p>
<p>Их позиция: а) выигранная; b) равная; с) хуже ?</p>
<p>Могут ли они играть
 <span onclick='loadMove("3qkr2/1Br2ppp/p3pn2/5N2/b7/5Q2/P4PPP/R4RK1 b - - 0 21", this, "d4f5"); ' class="line0">21.Кf5</span> 
?</p>
</div> <!-- score -->
</div> <!-- section -->
<hr />
<div class="section">
<div class="score">
<p class="capTop">№ 45</p>
 <span class="line0" onclick='loadMove("3r1rk1/pp4pp/1qp2n2/4N3/3P3Q/6R1/PP3PP1/4R1K1 w - - 0 34", this, ""); '>[...]</span> 
<div class="chessBoard small nobuttons" data-start-fen="3r1rk1/pp4pp/1qp2n2/4N3/3P3Q/6R1/PP3PP1/4R1K1 w - - 0 34"></div>
<p class="capBot">Ход белых</p>
<p>Их позиция: а) выигранная; b) равная; с) хуже ?</p>
<p>Могут ли они играть
 <span onclick='loadMove("3r1rk1/pp4Rp/1qp2n2/4N3/3P3Q/8/PP3PP1/4R1K1 b - - 0 34", this, "g3g7"); ' class="line0">34.Л:g7+</span> 
?</p>
</div> <!-- score -->
</div> <!-- section -->
<hr />
<div class="section">
<div class="score">
<p class="capTop">№ 46</p>
 <span class="line0" onclick='loadMove("1r1r2k1/pbpqppbp/5np1/8/2pPP3/2N3P1/PP3PBP/R1BQR1K1 b - - 0 13", this, ""); '>[...]</span> 
<div class="chessBoard small nobuttons" data-start-fen="1r1r2k1/pbpqppbp/5np1/8/2pPP3/2N3P1/PP3PBP/R1BQR1K1 b - - 0 13"></div>
<p class="capBot">Ход черных</p>
<p>Их позиция: а) лучше; b) хуже; с) равная ?</p>
<p>Могут ли они играть
 <span onclick='loadMove("1r1r2k1/pbp1ppbp/5np1/8/2pqP3/2N3P1/PP3PBP/R1BQR1K1 w - - 0 14", this, "d7d4"); ' class="line0">13...Ф:d4</span> 
?</p>
</div> <!-- score -->
</div> <!-- section -->
<hr />
<div class="section">
<div class="score">
<p class="capTop">№ 47</p>
 <!--span class="line0" onclick='loadMove("3B2k1/5pp1/p6p/1p6/1P6/P4K2/8/8 b - - 0 1", this, ""); '>[...]</span--> 
<div class="chessBoard small nobuttons" data-start-fen="3B2k1/5pp1/p6p/1p6/1P6/P4K2/8/8 b - - 0 1"></div>
<p class="capBot">Ход черных</p>
<p>Их позиция: а) проигранная; b) выигранная, с) равная ?</p>
</div> <!-- score -->
</div> <!-- section -->
<hr />
<div class="section">
<div class="score">
<p class="capTop">№ 48</p>
 <!--span class="line0" onclick='loadMove("3r1rk1/2q1bp2/b2p1npp/2p1p3/p3P1PB/PpPPNQ1P/1P3P2/RB2R1K1 b - - 0 1", this, ""); '>[...]</span--> 
<div class="chessBoard small nobuttons" data-start-fen="3r1rk1/2q1bp2/b2p1npp/2p1p3/p3P1PB/PpPPNQ1P/1P3P2/RB2R1K1 b - - 0 1"></div>
<p class="capBot">Ход черных</p>
<p>Их позиция: а) лучше; b) намного лучше; с) хуже ?</p>
<!--p>12</p><p>Тесты для квалифицированных шахматистов. Повысьте свой рейтинг!</p-->
</div> <!-- score -->
</div> <!-- section -->
<hr />
<div class="section">
<div class="score">
<p class="capTop">№ 49</p>
 <!--span class="line0" onclick='loadMove("3q1rk1/p2bppb1/3p1np1/1Nr1n1Bp/4P2P/1BN2P2/PPPQ2P1/2KR3R w - - 0 1", this, ""); '>[...]</span--> 
<div class="chessBoard small nobuttons" data-start-fen="3q1rk1/p2bppb1/3p1np1/1Nr1n1Bp/4P2P/1BN2P2/PPPQ2P1/2KR3R w - - 0 1"></div>
<p class="capBot">Ход белых</p>
<p>Их позиция: а) выигранная; b) равная; с) лучше ?</p>
</div> <!-- score -->
</div> <!-- section -->
<hr />
<div class="section">
<div class="score">
<p class="capTop">№ 50</p>
 <!--span class="line0" onclick='loadMove("8/7k/6R1/5P2/6p1/1r5p/7K/8 b - - 0 1", this, ""); '>[...]</span--> 
<div class="chessBoard small nobuttons" data-start-fen="8/7k/6R1/5P2/6p1/1r5p/7K/8 b - - 0 1"></div>
<p class="capBot">Ход черных</p>
<p>Их позиция: а) равная; b) выигранная ?</p>
</div> <!-- score -->
</div> <!-- section -->
<hr />
<div class="section">
<div class="score">
<p class="capTop">№ 51</p>
 <!--span class="line0" onclick='loadMove("r3k2r/2qb1pp1/p2bp2p/3nn3/1p1N2PP/5P2/PPPQ3B/1NKR1B1R w kq - 0 1", this, ""); '>[...]</span--> 
<div class="chessBoard small nobuttons" data-start-fen="r3k2r/2qb1pp1/p2bp2p/3nn3/1p1N2PP/5P2/PPPQ3B/1NKR1B1R w kq - 0 1"></div>
<p class="capBot">Ход белых</p>
<p>Их позиция: а) лучше; b) намного лучше; с) хуже ?</p>
</div> <!-- score -->
</div> <!-- section -->
<hr />
<div class="section">
<div class="score">
<p class="capTop">№ 52</p>
 <!--span class="line0" onclick='loadMove("3r2k1/5pp1/4r2p/P2p4/1P2bq2/1NP4P/3R1PP1/2R2QK1 b - - 0 1", this, ""); '>[...]</span--> 
<div class="chessBoard small nobuttons" data-start-fen="3r2k1/5pp1/4r2p/P2p4/1P2bq2/1NP4P/3R1PP1/2R2QK1 b - - 0 1"></div>
<p class="capBot">Ход черных</p>
<p>Их позиция: а) выигранная; b) проигранная; с) равная ?</p>
</div> <!-- score -->
</div> <!-- section -->
<hr />
<div class="section">
<div class="score">
<p class="capTop">№ 53</p>
 <!--span class="line0" onclick='loadMove("r4k2/pp1bnpp1/4p2r/3Pq2p/2B4P/P1N5/1PP2QP1/2KR3R w - - 0 1", this, ""); '>[...]</span--> 
<div class="chessBoard small nobuttons" data-start-fen="r4k2/pp1bnpp1/4p2r/3Pq2p/2B4P/P1N5/1PP2QP1/2KR3R w - - 0 1"></div>
<p class="capBot">Ход белых</p>
<p>Как им реализовать перевес?</p>
</div> <!-- score -->
</div> <!-- section -->
<hr />
<div class="section">
<div class="score">
<p class="capTop">№ 54</p>
 <!--span class="line0" onclick='loadMove("5r1k/8/1Rp1p3/p1Pp2n1/P2P2p1/4P2p/3N2PP/6K1 w - - 0 1", this, ""); '>[...]</span--> 
<div class="chessBoard small nobuttons" data-start-fen="5r1k/8/1Rp1p3/p1Pp2n1/P2P2p1/4P2p/3N2PP/6K1 w - - 0 1"></div>
<p class="capBot">Ход белых</p>
<p>Их позиция: а) лучше; b) выигранная; с) равная ?</p>
<!--p>Тесты для квалифицированных шахматистов. Повысьте свой рейтинг!</p><p>13</p-->
</div> <!-- score -->
</div> <!-- section -->
<hr />
<div class="section">
<div class="score">
<p class="capTop">№ 55</p>
 <!--span class="line0" onclick='loadMove("3r1r1k/pp3bp1/2pRp2p/2P1Pp1n/1P3P1P/4pP2/P3N1B1/5R1K b - - 0 1", this, ""); '>[...]</span--> 
<div class="chessBoard small nobuttons" data-start-fen="3r1r1k/pp3bp1/2pRp2p/2P1Pp1n/1P3P1P/4pP2/P3N1B1/5R1K b - - 0 1"></div>
<p class="capBot">Ход черных</p>
<p>Их позиция: а) лучше; b) хуже; с) равная ?</p>
</div> <!-- score -->
</div> <!-- section -->
<hr />
<div class="section">
<div class="score">
<p class="capTop">№ 56</p>
 <!--span class="line0" onclick='loadMove("3r2k1/p1q2pp1/1pnNb2p/3n4/P1pP4/B1P3P1/2Q2PBP/4R1K1 w - - 0 1", this, ""); '>[...]</span--> 
<div class="chessBoard small nobuttons" data-start-fen="3r2k1/p1q2pp1/1pnNb2p/3n4/P1pP4/B1P3P1/2Q2PBP/4R1K1 w - - 0 1"></div>
<p class="capBot">Ход белых</p>
<p>Их позиция: а) лучше; b) намного лучше ?</p>
</div> <!-- score -->
</div> <!-- section -->
<hr />
<div class="section">
<div class="score">
<p class="capTop">№ 57</p>
 <!--span class="line0" onclick='loadMove("4rrk1/1p3ppp/p1b5/8/2pR4/P1P3N1/1P4PP/3R2K1 b - - 0 1", this, ""); '>[...]</span--> 
<div class="chessBoard small nobuttons" data-start-fen="4rrk1/1p3ppp/p1b5/8/2pR4/P1P3N1/1P4PP/3R2K1 b - - 0 1"></div>
<p class="capBot">Ход черных</p>
<p>Их позиция: а) лучше; b) выигранная; с) равная ?</p>
</div> <!-- score -->
</div> <!-- section -->
<hr />
<div class="section">
<div class="score">
<p class="capTop">№ 58</p>
 <span class="line0" onclick='loadMove("rn1qr1k1/1p3ppp/1p1p1nb1/3P4/1PB5/P3B1NP/5PP1/R2QK2R b KQ - 0 16", this, ""); '>[...]</span> 
<div class="chessBoard small nobuttons" data-start-fen="rn1qr1k1/1p3ppp/1p1p1nb1/3P4/1PB5/P3B1NP/5PP1/R2QK2R b KQ - 0 16"></div>
<p class="capBot">Ход черных</p>
<p>Их позиция: а) лучше; b) равная; с) хуже ?</p>
<p>Как им следует играть: 1)
 <span onclick='loadMove("rn1qr1k1/1p3ppp/1p1p2b1/3P3n/1PB5/P3B1NP/5PP1/R2QK2R w KQ - 0 17", this, "f6h5"); ' class="line0">16...Кh5</span> 
; 2)
 <span onclick='loadMove("r2qr1k1/1p1n1ppp/1p1p1nb1/3P4/1PB5/P3B1NP/5PP1/R2QK2R w KQ - 0 17", this, "b8d7"); ' class="line0">16...Кbd7</span> 
; 3)
 <span onclick='loadMove("rn1qr1k1/1p3ppp/1p1p2b1/3P4/1PB1n3/P3B1NP/5PP1/R2QK2R w KQ - 0 17", this, "f6e4"); ' class="line0">16...Кe4</span> 
?</p>
</div> <!-- score -->
</div> <!-- section -->
<hr />
<div class="section">
<div class="score">
<p class="capTop">№ 59</p>
 <!--span class="line0" onclick='loadMove("3r4/kpb2pp1/r1p1q2p/2PnN2P/1pNP4/8/PP1Q2P1/K2RR3 b - - 0 1", this, ""); '>[...]</span--> 
<div class="chessBoard small nobuttons" data-start-fen="3r4/kpb2pp1/r1p1q2p/2PnN2P/1pNP4/8/PP1Q2P1/K2RR3 b - - 0 1"></div>
<p class="capBot">Ход черных</p>
<p>Их позиция: а) лучше; b) хуже; с) равная ?</p>
</div> <!-- score -->
</div> <!-- section -->
<hr />
<div class="section">
<div class="score">
<p class="capTop">№ 60</p>
 <!--span class="line0" onclick='loadMove("r3qrk1/pp6/2pbbn2/3pNp1p/1P1P1Pp1/3NP1P1/P1Q3BP/RR4K1 b - - 0 1", this, ""); '>[...]</span--> 
<div class="chessBoard small nobuttons" data-start-fen="r3qrk1/pp6/2pbbn2/3pNp1p/1P1P1Pp1/3NP1P1/P1Q3BP/RR4K1 b - - 0 1"></div>
<p class="capBot">Ход черных</p>
<p>Их позиция: а) лучше; b) хуже; с) равная ?</p>
<!--p>14</p><p>Тесты для квалифицированных шахматистов. Повысьте свой рейтинг!</p-->
</div> <!-- score -->
</div> <!-- section -->
<hr />
<div class="section">
<div class="score">
<p class="capTop">№ 61</p>
 <!--span class="line0" onclick='loadMove("2r1kb2/5p1Q/p2p4/1p1Pppq1/3n4/N1P4P/PP3Pr1/R3KB1R w KQ - 0 1", this, ""); '>[...]</span--> 
<div class="chessBoard small nobuttons" data-start-fen="2r1kb2/5p1Q/p2p4/1p1Pppq1/3n4/N1P4P/PP3Pr1/R3KB1R w KQ - 0 1"></div>
<p class="capBot">Ход белых</p>
<p>Их позиция: а) выигранная; b) равная; с) хуже ?</p>
</div> <!-- score -->
</div> <!-- section -->
<hr />
<div class="section">
<div class="score">
<p class="capTop">№ 62</p>
 <!--span class="line0" onclick='loadMove("2n4k/pq3r1p/4pp1P/P1Rb2p1/2pP4/Q1P2PB1/2B2KP1/8 w - - 0 1", this, ""); '>[...]</span--> 
<div class="chessBoard small nobuttons" data-start-fen="2n4k/pq3r1p/4pp1P/P1Rb2p1/2pP4/Q1P2PB1/2B2KP1/8 w - - 0 1"></div>
<p class="capBot">Ход белых</p>
<p>Как им реализовать свой перевес?</p>
</div> <!-- score -->
</div> <!-- section -->
<hr />
<div class="section">
<div class="score">
<p class="capTop">№ 63</p>
 <span class="line0" onclick='loadMove("2rqr1k1/pb2bp1p/1pn1p1pB/3n4/3PN3/P2Q1N2/1PB2PPP/R4RK1 b - - 0 1", this, ""); '>[...]</span> 
<div class="chessBoard small nobuttons" data-start-fen="2rqr1k1/pb2bp1p/1pn1p1pB/3n4/3PN3/P2Q1N2/1PB2PPP/R4RK1 b - - 0 1"></div>
<p>Здесь последовало
 <span onclick='loadMove("2rqr1k1/pb2bp1p/1p2p1pB/3n4/1n1PN3/P2Q1N2/1PB2PPP/R4RK1 w - - 0 2", this, "c6b4"); ' class="line0">1...Кcb4!?</span> 
</p>
<p>Этот ход: а) проигрывает; b) уравнивает игру; с) ведет к перевесу черных?</p>
</div> <!-- score -->
</div> <!-- section -->
<hr />
<div class="section">
<div class="score">
<p class="capTop">№ 64</p>
 <!--span class="line0" onclick='loadMove("r4nk1/p3rbp1/2pN1p1p/q4P2/2pPB3/P3n1B1/1Q4PP/2R1R1K1 b - - 0 1", this, ""); '>[...]</span--> 
<div class="chessBoard small nobuttons" data-start-fen="r4nk1/p3rbp1/2pN1p1p/q4P2/2pPB3/P3n1B1/1Q4PP/2R1R1K1 b - - 0 1"></div>
<p class="capBot">Ход черных</p>
<p>Их позиция: а) лучше; b) хуже; с) равная ?</p>
</div> <!-- score -->
</div> <!-- section -->
<hr />
<div class="section">
<div class="score">
<p class="capTop">№ 65</p>
 <!--span class="line0" onclick='loadMove("r4rk1/pp2qpb1/3Np1pp/3nP3/5P2/1N6/PP2Q1PP/3R1RK1 b - - 0 1", this, ""); '>[...]</span--> 
<div class="chessBoard small nobuttons" data-start-fen="r4rk1/pp2qpb1/3Np1pp/3nP3/5P2/1N6/PP2Q1PP/3R1RK1 b - - 0 1"></div>
<p class="capBot">Ход черных</p>
<p>Их позиция: а) лучше; b) хуже; с) равная ?</p>
</div> <!-- score -->
</div> <!-- section -->
<hr />
<div class="section">
<div class="score">
<p class="capTop">№ 66</p>
 <!--span class="line0" onclick='loadMove("2r2b2/3k1p2/3n4/1p1B2Q1/p7/6P1/5PK1/8 w - - 0 1", this, ""); '>[...]</span--> 
<div class="chessBoard small nobuttons" data-start-fen="2r2b2/3k1p2/3n4/1p1B2Q1/p7/6P1/5PK1/8 w - - 0 1"></div>
<p class="capBot">Ход белых</p>
<p>Как им следует продолжать?</p>
<!--p>Тесты для квалифицированных шахматистов. Повысьте свой рейтинг!</p><p>15</p-->
</div> <!-- score -->
</div> <!-- section -->
<hr />
<div class="section">
<div class="score">
<p class="capTop">№ 67</p>
 <span class="line0" onclick='loadMove("r5k1/4ppb1/3p2p1/3P4/2q1P3/1R4PN/5PK1/1Q6 b - - 0 33", this, ""); '>[...]</span> 
<div class="chessBoard small nobuttons" data-start-fen="r5k1/4ppb1/3p2p1/3P4/2q1P3/1R4PN/5PK1/1Q6 b - - 0 33"></div>
<p>Здесь черные сыграли
 <span onclick='loadMove("6k1/4ppb1/3p2p1/3P4/2q1P3/1R4PN/5PK1/rQ6 w - - 0 34", this, "a8a1"); ' class="line0">33...Лa1!?</span> 
</p>
<p>Как оценить позицию после этого хода: а) ничья; b) черные выигрывают; с) белые выигрывают?</p>
</div> <!-- score -->
</div> <!-- section -->
<hr />
<div class="section">
<div class="score">
<p class="capTop">№ 68</p>
 <!--span class="line0" onclick='loadMove("4r3/3Q1pkp/8/p3P1Pp/1r3P2/8/KPRR4/4q3 b - - 0 1", this, ""); '>[...]</span--> 
<div class="chessBoard small nobuttons" data-start-fen="4r3/3Q1pkp/8/p3P1Pp/1r3P2/8/KPRR4/4q3 b - - 0 1"></div>
<p class="capBot">Ход черных</p>
<p>Их позиция: а) лучше; b) хуже; с) равная ?</p>
</div> <!-- score -->
</div> <!-- section -->
<hr />
<div class="section">
<div class="score">
<p class="capTop">№ 69</p>
 <!--span class="line0" onclick='loadMove("r4rk1/ppqnbppp/1np1p3/7b/PP1PP3/6P1/NN1Q1PBP/R1B2RK1 b - - 0 1", this, ""); '>[...]</span--> 
<div class="chessBoard small nobuttons" data-start-fen="r4rk1/ppqnbppp/1np1p3/7b/PP1PP3/6P1/NN1Q1PBP/R1B2RK1 b - - 0 1"></div>
<p class="capBot">Ход черных</p>
<p>Их позиция: а) лучше; b) хуже; с) равная ?</p>
</div> <!-- score -->
</div> <!-- section -->
<hr />
<div class="section">
<div class="score">
<p class="capTop">№ 70</p>
 <!--span class="line0" onclick='loadMove("5rk1/1p3r2/p1p1p2q/P1PpPnb1/1P1P1p1p/2Q5/3BBRPP/5RK1 b - - 0 1", this, ""); '>[...]</span--> 
<div class="chessBoard small nobuttons" data-start-fen="5rk1/1p3r2/p1p1p2q/P1PpPnb1/1P1P1p1p/2Q5/3BBRPP/5RK1 b - - 0 1"></div>
<p class="capBot">Ход черных</p>
<p>Как им лучше всего реализовать свой позиционный перевес?</p>
</div> <!-- score -->
</div> <!-- section -->
<hr />
<div class="section">
<div class="score">
<p class="capTop">№ 71</p>
 <!--span class="line0" onclick='loadMove("r3r1k1/p2RRppp/1p4b1/2nN4/qp1Q1B2/2P2P2/P1P3P1/6K1 w - - 0 1", this, ""); '>[...]</span--> 
<div class="chessBoard small nobuttons" data-start-fen="r3r1k1/p2RRppp/1p4b1/2nN4/qp1Q1B2/2P2P2/P1P3P1/6K1 w - - 0 1"></div>
<p class="capBot">Ход белых</p>
<p>Как им завершить атаку?</p>
</div> <!-- score -->
</div> <!-- section -->
<hr />
<div class="section">
<div class="score">
<p class="capTop">№ 72</p>
 <!--span class="line0" onclick='loadMove("2rq4/p4pk1/1p1Qpnp1/8/B2P4/2P5/P5PP/5RK1 w - - 0 1", this, ""); '>[...]</span--> 
<div class="chessBoard small nobuttons" data-start-fen="2rq4/p4pk1/1p1Qpnp1/8/B2P4/2P5/P5PP/5RK1 w - - 0 1"></div>
<p class="capBot">Ход белых</p>
<p>Их позиция: а) лучше; b) хуже; с) равная ?</p>
<!--p>16</p><p>Тесты для квалифицированных шахматистов. Повысьте свой рейтинг!</p-->
</div> <!-- score -->
</div> <!-- section -->
<hr />
<div class="section">
<div class="score">
<p class="capTop">№ 73</p>
 <!--span class="line0" onclick='loadMove("8/5k1p/1P4p1/8/3BbPK1/8/7P/8 w - - 0 1", this, ""); '>[...]</span--> 
<div class="chessBoard small nobuttons" data-start-fen="8/5k1p/1P4p1/8/3BbPK1/8/7P/8 w - - 0 1"></div>
<p class="capBot">Ход белых</p>
<p>Их позиция: а) выигранная; b) ничейная ?</p>
</div> <!-- score -->
</div> <!-- section -->
<hr />
<div class="section">
<div class="score">
<p class="capTop">№ 74</p>
 <!--span class="line0" onclick='loadMove("8/6kp/p2N1p2/4p3/1P1bP2P/2p5/P7/1K6 b - - 0 1", this, ""); '>[...]</span--> 
<div class="chessBoard small nobuttons" data-start-fen="8/6kp/p2N1p2/4p3/1P1bP2P/2p5/P7/1K6 b - - 0 1"></div>
<p class="capBot">Ход черных</p>
<p>Их позиция: а) лучше; b) хуже; с) равная ?</p>
</div> <!-- score -->
</div> <!-- section -->
<hr />
<div class="section">
<div class="score">
<p class="capTop">№ 75</p>
 <!--span class="line0" onclick='loadMove("6r1/2Qn1k1p/r1p1p2p/2P2q2/4p3/4P3/5PPP/1RB2RK1 b - - 0 1", this, ""); '>[...]</span--> 
<div class="chessBoard small nobuttons" data-start-fen="6r1/2Qn1k1p/r1p1p2p/2P2q2/4p3/4P3/5PPP/1RB2RK1 b - - 0 1"></div>
<p class="capBot">Ход черных</p>
<p>Их позиция: а) лучше; b) хуже; с) равная ?</p>
</div> <!-- score -->
</div> <!-- section -->
<hr />
<div class="section">
<div class="score">
<p class="capTop">№ 76</p>
 <!--span class="line0" onclick='loadMove("R7/2p3rk/3b3p/3P4/3Bp3/P1Q3P1/q4P2/2K5 b - - 0 1", this, ""); '>[...]</span--> 
<div class="chessBoard small nobuttons" data-start-fen="R7/2p3rk/3b3p/3P4/3Bp3/P1Q3P1/q4P2/2K5 b - - 0 1"></div>
<p class="capBot">Ход черных</p>
<p>Их позиция: а) лучше; b) хуже; с) равная ?</p>
</div> <!-- score -->
</div> <!-- section -->
<hr />
<div class="section">
<div class="score">
<p class="capTop">№ 77</p>
 <!--span class="line0" onclick='loadMove("r1r3k1/pp1bbpp1/1q2p2p/3pP3/3N4/2PQ1N2/PP3PPP/1R3RK1 b - - 0 1", this, ""); '>[...]</span--> 
<div class="chessBoard small nobuttons" data-start-fen="r1r3k1/pp1bbpp1/1q2p2p/3pP3/3N4/2PQ1N2/PP3PPP/1R3RK1 b - - 0 1"></div>
<p class="capBot">Ход черных</p>
<p>Их позиция: а) лучше; b) хуже; с) равная ?</p>
</div> <!-- score -->
</div> <!-- section -->
<hr />
<div class="section">
<div class="score">
<p class="capTop">№ 78</p>
 <!--span class="line0" onclick='loadMove("r1b2rk1/5pb1/p1p2q2/Np2p3/2P1P1pp/2P5/P2Q1PPP/3RRBK1 w - - 0 1", this, ""); '>[...]</span--> 
<div class="chessBoard small nobuttons" data-start-fen="r1b2rk1/5pb1/p1p2q2/Np2p3/2P1P1pp/2P5/P2Q1PPP/3RRBK1 w - - 0 1"></div>
<p class="capBot">Ход белых</p>
<p>Их позиция: а) лучше; b) хуже; с) равная ?</p>
<!--p>Тесты для квалифицированных шахматистов. Повысьте свой рейтинг!</p><p>17</p-->
</div> <!-- score -->
</div> <!-- section -->
<hr />
<div class="section">
<div class="score">
<p class="capTop">№ 79</p>
 <!--span class="line0" onclick='loadMove("3r1rk1/2q2pbp/2p2np1/1pP1p1B1/1Pb1P3/2Nn1NPP/4QPB1/1R1R2K1 w - - 0 1", this, ""); '>[...]</span--> 
<div class="chessBoard small nobuttons" data-start-fen="3r1rk1/2q2pbp/2p2np1/1pP1p1B1/1Pb1P3/2Nn1NPP/4QPB1/1R1R2K1 w - - 0 1"></div>
<p class="capBot">Ход белых</p>
<p>Их позиция: а) лучше; b) хуже; с) равная ?</p>
</div> <!-- score -->
</div> <!-- section -->
<hr />
<div class="section">
<div class="score">
<p class="capTop">№ 80</p>
 <!--span class="line0" onclick='loadMove("rn1qk3/p3bp2/4p1p1/1p1bP1Nr/2pP2Qp/2P2B2/5PPP/R1B1K2R w KQq - 0 1", this, ""); '>[...]</span--> 
<div class="chessBoard small nobuttons" data-start-fen="rn1qk3/p3bp2/4p1p1/1p1bP1Nr/2pP2Qp/2P2B2/5PPP/R1B1K2R w KQq - 0 1"></div>
<p class="capBot">Ход белых</p>
<p>Их позиция: а) выигранная; b) хуже; с) равная ?</p>
</div> <!-- score -->
</div> <!-- section -->
<hr />
<div class="section">
<div class="score">
<p class="capTop">№ 81</p>
 <!--span class="line0" onclick='loadMove("6k1/pp4pp/n1p5/b3p3/2P1B1b1/BPN3P1/P2r1PKP/2R5 w - - 0 1", this, ""); '>[...]</span--> 
<div class="chessBoard small nobuttons" data-start-fen="6k1/pp4pp/n1p5/b3p3/2P1B1b1/BPN3P1/P2r1PKP/2R5 w - - 0 1"></div>
<p class="capBot">Ход белых</p>
<p>Их позиция: а) лучше; b) хуже; с) равная ?</p>
</div> <!-- score -->
</div> <!-- section -->
<hr />
<div class="section">
<div class="score">
<p class="capTop">№ 82</p>
 <!--span class="line0" onclick='loadMove("2kr3r/1b3p2/p3p2b/1p1pq3/3N2Q1/6R1/PPP1BPP1/1K1R4 w - - 0 1", this, ""); '>[...]</span--> 
<div class="chessBoard small nobuttons" data-start-fen="2kr3r/1b3p2/p3p2b/1p1pq3/3N2Q1/6R1/PPP1BPP1/1K1R4 w - - 0 1"></div>
<p class="capBot">Ход белых</p>
<p>Их позиция: а) лучше; b) хуже; с) равная ?</p>
</div> <!-- score -->
</div> <!-- section -->
<hr />
<div class="section">
<div class="score">
<p class="capTop">№ 83</p>
 <!--span class="line0" onclick='loadMove("6k1/4qb2/1p4pQ/p7/P2Np1P1/4P3/5RK1/1r6 w - - 0 1", this, ""); '>[...]</span--> 
<div class="chessBoard small nobuttons" data-start-fen="6k1/4qb2/1p4pQ/p7/P2Np1P1/4P3/5RK1/1r6 w - - 0 1"></div>
<p class="capBot">Ход белых</p>
<p>Они пожертвовали пешку, обеспечив своим фигурам угрожающие позиции вблизи неприятельского короля. Верен ли был их расчет?</p>
</div> <!-- score -->
</div> <!-- section -->
<hr />
<div class="section">
<div class="score">
<p class="capTop">№ 84</p>
 <span class="line0" onclick='loadMove("k6r/p2r1p2/2q1p2p/3nP2P/1ppR1B2/5QP1/PPP5/2KR4 b - - 0 31", this, ""); '>[...]</span> 
<div class="chessBoard small nobuttons" data-start-fen="k6r/p2r1p2/2q1p2p/3nP2P/1ppR1B2/5QP1/PPP5/2KR4 b - - 0 31"></div>
<p class="capBot">Ход черных</p>
<p>Их позиция: а) лучше; b) хуже; с) равная ? Как им следует играть: 1)
 <span onclick='loadMove("k6r/p2r1p2/2q1p2p/3nP2P/1p1R1B2/2p2QP1/PPP5/2KR4 w - - 0 32", this, "c4c3"); ' class="line0">31...c3</span> 
; 2)
 <span onclick='loadMove("k1r5/p2r1p2/2q1p2p/3nP2P/1ppR1B2/5QP1/PPP5/2KR4 w - - 0 32", this, "h8c8"); ' class="line0">31...Лc8</span> 
; 3)
 <span onclick='loadMove("k6r/pr3p2/2q1p2p/3nP2P/1ppR1B2/5QP1/PPP5/2KR4 w - - 0 32", this, "d7b7"); ' class="line0">31...Лb7</span> 
?</p>
</div> <!-- score -->
</div> <!-- section -->

{% include '../../snippet_litres_banner1.htm' %}
</div> <!-- iBook -->
{% endblock content %}
