{% extends '../../base.htm' %}
{% load static %}
{% block title %}
<title>Путеводитель по второй части | {{book.title}} | {%for author in book.authors.all%} {%if author.first_name%} {{author.first_name}} {%endif%} {%if author.second_name%} {{author.second_name}} {%endif%} {%if forloop.counter == book.authors.all.count%} {{author.last_name}} {%else%} {{author.last_name}}, {%endif%} {%endfor%} | {{book.year}}</title>
{% endblock title %}
{% block content %}

<div class="iBook">

<div class="section">
<div class="chessBoard small floater" data-start-fen="rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w KQkq - 0 1"></div>
<div class="score">
 <span class="line0" onclick='loadMove("rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w KQkq - 0 1", this, ""); '>[...]</span> 

<li><a href="{% url 'page-view' book.root_dir|add:'/2-00-chast-2.htm' %}"><h2>Путеводитель по второй части</h2></a>
 <span onclick='loadMove("rnbqkbnr/pppppppp/8/8/4P3/8/PPPP1PPP/RNBQKBNR b KQkq e3 0 1", this, "e2e4"); ' class="line0">1.e4</span> 
 <span onclick='loadMove("rnbqkbnr/pp1ppppp/8/2p5/4P3/8/PPPP1PPP/RNBQKBNR w KQkq c6 0 2", this, "c7c5"); ' class="line0">c5</span> 
 <span onclick='loadMove("rnbqkbnr/pp1ppppp/8/2p5/4P3/5N2/PPPP1PPP/RNBQKB1R b KQkq - 0 2", this, "g1f3"); ' class="line0">2.Кf3</span> 
 <span onclick='loadMove("rnbqkbnr/pp2pppp/3p4/2p5/4P3/5N2/PPPP1PPP/RNBQKB1R w KQkq - 0 3", this, "d7d6"); ' class="line0">d6</span> 
 <span onclick='loadMove("rnbqkbnr/pp2pppp/3p4/2p5/3PP3/5N2/PPP2PPP/RNBQKB1R b KQkq d3 0 3", this, "d2d4"); ' class="line0">3.d4</span> 
 <span onclick='loadMove("rnbqkbnr/pp2pppp/3p4/8/3pP3/5N2/PPP2PPP/RNBQKB1R w KQkq - 0 4", this, "c5d4"); ' class="line0">cd</span> 
 <span onclick='loadMove("rnbqkbnr/pp2pppp/3p4/8/3NP3/8/PPP2PPP/RNBQKB1R b KQkq - 0 4", this, "f3d4"); ' class="line0">4.К:d4</span> 
 <span onclick='loadMove("rnbqkb1r/pp2pppp/3p1n2/8/3NP3/8/PPP2PPP/RNBQKB1R w KQkq - 0 5", this, "g8f6"); ' class="line0">Кf6</span> 
 <span onclick='loadMove("rnbqkb1r/pp2pppp/3p1n2/8/3NP3/2N5/PPP2PPP/R1BQKB1R b KQkq - 0 5", this, "b1c3"); ' class="line0">5.Кc3</span> 
 <span onclick='loadMove("r1bqkb1r/pp2pppp/2np1n2/8/3NP3/2N5/PPP2PPP/R1BQKB1R w KQkq - 0 6", this, "b8c6"); ' class="line0">Кc6</span> 
 <span onclick='loadMove("r1bqkb1r/pp2pppp/2np1n2/6B1/3NP3/2N5/PPP2PPP/R2QKB1R b KQkq - 0 6", this, "c1g5"); ' class="line0">6.Сg5</span> 
 <span onclick='loadMove("r1bqkb1r/pp3ppp/2nppn2/6B1/3NP3/2N5/PPP2PPP/R2QKB1R w KQkq - 0 7", this, "e7e6"); ' class="line0">e6</span> 
</li>
<ul>
<li><a href="{% url 'page-view' book.root_dir|add:'/2-06-0-glava-6-ataka-rihtera.htm' %}">Глава шестая. Атака Рихтера</a>
 <span onclick='loadMove("r1bqkb1r/pp3ppp/2Nppn2/6B1/4P3/2N5/PPP2PPP/R2QKB1R b KQkq - 0 7", this, "d4c6"); ' class="line1">7.К:c6</span> 
 <span onclick='loadMove("r1bqkb1r/p4ppp/2pppn2/6B1/4P3/2N5/PPP2PPP/R2QKB1R w KQkq - 0 8", this, "b7c6"); ' class="line1">bc</span> 
 <span onclick='loadMove("r1bqkb1r/p4ppp/2pppn2/4P1B1/8/2N5/PPP2PPP/R2QKB1R b KQkq - 0 8", this, "e4e5"); ' class="line1">8.e5</span> 
</li>
<ul>
<li><a href="{% url 'page-view' book.root_dir|add:'/2-06-1-0.htm' %}">I.</a>
 <span onclick='loadMove("r1b1kb1r/p4ppp/2pppn2/q3P1B1/8/2N5/PPP2PPP/R2QKB1R w KQkq - 0 9", this, "d8a5"); ' class="line2">8...Фa5</span> 
</li>
<li><a href="{% url 'page-view' book.root_dir|add:'/2-06-2-0.htm' %}">II.</a>
 <span onclick='loadMove("r1bqkb1r/p4ppp/2p1pn2/4p1B1/8/2N5/PPP2PPP/R2QKB1R w KQkq - 0 9", this, "d6e5"); ' class="line2">8...de</span> 
</li>
</ul>
<li><a href="{% url 'page-view' book.root_dir|add:'/2-07-0-glava-7-margetskij-variant.htm' %}">Глава седьмая. Маргетский вариант</a>
 <span onclick='loadMove("r1bqkb1r/pp3ppp/2nppn2/1B4B1/3NP3/2N5/PPP2PPP/R2QK2R b KQkq - 0 7", this, "f1b5"); ' class="line1">7.Сb5</span> 
 <span onclick='loadMove("r2qkb1r/pp1b1ppp/2nppn2/1B4B1/3NP3/2N5/PPP2PPP/R2QK2R w KQkq - 0 8", this, "c8d7"); ' class="line1">Сd7</span> 
 <span onclick='loadMove("r2qkb1r/pp1b1ppp/2Bppn2/6B1/3NP3/2N5/PPP2PPP/R2QK2R b KQkq - 0 8", this, "b5c6"); ' class="line1">8.С:c6</span> 
 <span onclick='loadMove("r2qkb1r/p2b1ppp/2pppn2/6B1/3NP3/2N5/PPP2PPP/R2QK2R w KQkq - 0 9", this, "b7c6"); ' class="line1">bc</span> 
 <span onclick='loadMove("r2qkb1r/p2b1ppp/2pppn2/6B1/3NP3/2N2Q2/PPP2PPP/R3K2R b KQkq - 0 9", this, "d1f3"); ' class="line1">9.Фf3</span> 
</li>
<ul>
<li><a href="{% url 'page-view' book.root_dir|add:'/2-07-1-0.htm' %}">I.</a>
 <span onclick='loadMove("r3kb1r/p2b1ppp/1qpppn2/6B1/3NP3/2N2Q2/PPP2PPP/R3K2R w KQkq - 0 10", this, "d8b6"); ' class="line2">9...Фb6</span> 
</li>
<li><a href="{% url 'page-view' book.root_dir|add:'/2-07-2-0.htm' %}">II.</a>
 <span onclick='loadMove("r2qkb1r/p2b1pp1/2pppn1p/6B1/3NP3/2N2Q2/PPP2PPP/R3K2R w KQkq - 0 10", this, "h7h6"); ' class="line2">9...h6</span> 
</li>
</ul>
<li><a href="{% url 'page-view' book.root_dir|add:'/2-08-0-glava-8-variant-keresa.htm' %}">Глава восьмая. Вариант Кереса</a>
 <span onclick='loadMove("r1bqkb1r/pp3ppp/2nppn2/6B1/3NP3/2NQ4/PPP2PPP/R3KB1R b KQkq - 0 7", this, "d1d3"); ' class="line1">7.Фd3</span> 
</li>
<ul>
<li><a href="{% url 'page-view' book.root_dir|add:'/2-08-1-0.htm' %}">I.</a>
 <span onclick='loadMove("r1bqk2r/pp2bppp/2nppn2/6B1/3NP3/2NQ4/PPP2PPP/R3KB1R w KQkq - 0 8", this, "f8e7"); ' class="line2">7...Сe7</span> 
</li>
<li><a href="{% url 'page-view' book.root_dir|add:'/2-08-2-0.htm' %}">II.</a>
 <span onclick='loadMove("r1bqkb1r/1p3ppp/p1nppn2/6B1/3NP3/2NQ4/PPP2PPP/R3KB1R w KQkq - 0 8", this, "a7a6"); ' class="line2">7...a6</span> 
</li>
</ul>
</ul>

<!--p>70</p-->
</div> <!-- score -->
</div> <!-- section -->

</div> <!-- iBook -->
{% endblock content %}

