{% extends '../../base.htm' %}
{% load static %}
{% block title %}
<title>Путеводитель по третьей части | {{book.title}} | {%for author in book.authors.all%} {%if author.first_name%} {{author.first_name}} {%endif%} {%if author.second_name%} {{author.second_name}} {%endif%} {%if forloop.counter == book.authors.all.count%} {{author.last_name}} {%else%} {{author.last_name}}, {%endif%} {%endfor%} | {{book.year}}</title>
{% endblock title %}
{% block content %}

<div class="iBook">

<div class="section">
<div class="chessBoard small floater" data-start-fen="rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w KQkq - 0 1"></div>
<div class="score">
 <span class="line0" onclick='loadMove("rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w KQkq - 0 1", this, ""); '>[...]</span> 

<li><a href="{% url 'page-view' book.root_dir|add:'/3-00-chast-3-ataka-rauzera.htm' %}"><h2>Путеводитель по третьей части</h2></a>
 <span onclick='loadMove("rnbqkbnr/pppppppp/8/8/4P3/8/PPPP1PPP/RNBQKBNR b KQkq e3 0 1", this, "e2e4"); ' class="line0">1.e4</span> 
 <span onclick='loadMove("rnbqkbnr/pp1ppppp/8/2p5/4P3/8/PPPP1PPP/RNBQKBNR w KQkq c6 0 2", this, "c7c5"); ' class="line0">c5</span> 
 <span onclick='loadMove("rnbqkbnr/pp1ppppp/8/2p5/4P3/5N2/PPPP1PPP/RNBQKB1R b KQkq - 0 2", this, "g1f3"); ' class="line0">2.Кf3</span> 
 <span onclick='loadMove("rnbqkbnr/pp2pppp/3p4/2p5/4P3/5N2/PPPP1PPP/RNBQKB1R w KQkq - 0 3", this, "d7d6"); ' class="line0">d6</span> 
 <span onclick='loadMove("rnbqkbnr/pp2pppp/3p4/2p5/3PP3/5N2/PPP2PPP/RNBQKB1R b KQkq d3 0 3", this, "d2d4"); ' class="line0">3.d4</span> 
 <span onclick='loadMove("rnbqkbnr/pp2pppp/3p4/8/3pP3/5N2/PPP2PPP/RNBQKB1R w KQkq - 0 4", this, "c5d4"); ' class="line0">cd</span> 
 <span onclick='loadMove("rnbqkbnr/pp2pppp/3p4/8/3NP3/8/PPP2PPP/RNBQKB1R b KQkq - 0 4", this, "f3d4"); ' class="line0">4.К:d4</span> 
 <span onclick='loadMove("rnbqkb1r/pp2pppp/3p1n2/8/3NP3/8/PPP2PPP/RNBQKB1R w KQkq - 0 5", this, "g8f6"); ' class="line0">Кf6</span> 
 <span onclick='loadMove("rnbqkb1r/pp2pppp/3p1n2/8/3NP3/2N5/PPP2PPP/R1BQKB1R b KQkq - 0 5", this, "b1c3"); ' class="line0">5.Кc3</span> 
 <span onclick='loadMove("r1bqkb1r/pp2pppp/2np1n2/8/3NP3/2N5/PPP2PPP/R1BQKB1R w KQkq - 0 6", this, "b8c6"); ' class="line0">Кc6</span> 
 <span onclick='loadMove("r1bqkb1r/pp2pppp/2np1n2/6B1/3NP3/2N5/PPP2PPP/R2QKB1R b KQkq - 0 6", this, "c1g5"); ' class="line0">6.Сg5</span> 
 <span onclick='loadMove("r1bqkb1r/pp3ppp/2nppn2/6B1/3NP3/2N5/PPP2PPP/R2QKB1R w KQkq - 0 7", this, "e7e6"); ' class="line0">e6</span> 
 <span onclick='loadMove("r1bqkb1r/pp3ppp/2nppn2/6B1/3NP3/2N5/PPPQ1PPP/R3KB1R b KQkq - 0 7", this, "d1d2"); ' class="line0">7.Фd2</span> 
</li>
<ul>
<li><a href="{% url 'page-view' book.root_dir|add:'/3-09-0-glava-9.htm' %}">Глава девятая</a>
 <span onclick='loadMove("r1bqkb1r/pp3pp1/2nppn1p/6B1/3NP3/2N5/PPPQ1PPP/R3KB1R w KQkq - 0 8", this, "h7h6"); ' class="line1">7...h6</span> 
</li>
<li><a href="{% url 'page-view' book.root_dir|add:'/3-10-0-glava-10.htm' %}">Глава десятая</a>
 <span onclick='loadMove("r1bqk2r/pp2bppp/2nppn2/6B1/3NP3/2N5/PPPQ1PPP/R3KB1R w KQkq - 0 8", this, "f8e7"); ' class="line1">7...Сe7</span> 
 <span onclick='loadMove("r1bqk2r/pp2bppp/2nppn2/6B1/3NP3/2N5/PPPQ1PPP/2KR1B1R b kq - 0 8", this, "e1c1"); ' class="line1">8.0-0-0</span> 
 <span onclick='loadMove("r1bq1rk1/pp2bppp/2nppn2/6B1/3NP3/2N5/PPPQ1PPP/2KR1B1R w - - 0 9", this, "e8g8"); ' class="line1">0-0</span> 
</li>
<ul>
<li><a href="{% url 'page-view' book.root_dir|add:'/3-10-1-0.htm' %}">I.</a>
 <span onclick='loadMove("r1bq1rk1/pp2bppp/2nppn2/1N4B1/4P3/2N5/PPPQ1PPP/2KR1B1R b - - 0 9", this, "d4b5"); ' class="line2">9.Кdb5</span> 
</li>
<li><a href="{% url 'page-view' book.root_dir|add:'/3-10-2-0-podebradskij-variant.htm' %}">II. Подебрадский вариант</a>
 <span onclick='loadMove("r1bq1rk1/pp2bppp/2nppn2/6B1/4P3/1NN5/PPPQ1PPP/2KR1B1R b - - 0 9", this, "d4b3"); ' class="line2">9.Кb3</span> 
</li>
<ul>
<li><a href="{% url 'page-view' book.root_dir|add:'/3-10-2-a-0.htm' %}">A.</a>
 <span onclick='loadMove("r1bq1rk1/1p2bppp/2nppn2/p5B1/4P3/1NN5/PPPQ1PPP/2KR1B1R w - a6 0 10", this, "a7a5"); ' class="line3">9...a5</span> 
</li>
<li><a href="{% url 'page-view' book.root_dir|add:'/3-10-2-b-0.htm' %}">B.</a>
 <span onclick='loadMove("r1bq1rk1/1p2bppp/p1nppn2/6B1/4P3/1NN5/PPPQ1PPP/2KR1B1R w - - 0 10", this, "a7a6"); ' class="line3">9...a6</span> 
</li>
<li><a href="{% url 'page-view' book.root_dir|add:'/3-10-2-c-0.htm' %}">C.</a>
 <span onclick='loadMove("r1b2rk1/pp2bppp/1qnppn2/6B1/4P3/1NN5/PPPQ1PPP/2KR1B1R w - - 0 10", this, "d8b6"); ' class="line3">9...Фb6</span> 
 <span onclick='loadMove("r1b2rk1/pp2bppp/1qnppn2/6B1/4P3/1NN2P2/PPPQ2PP/2KR1B1R b - - 0 10", this, "f2f3"); ' class="line3">10.f3</span> 
</li>
<ul>
<li><a href="{% url 'page-view' book.root_dir|add:'/3-10-2-c-1.htm' %}">C1.</a>
 <span onclick='loadMove("r1br2k1/pp2bppp/1qnppn2/6B1/4P3/1NN2P2/PPPQ2PP/2KR1B1R w - - 0 11", this, "f8d8"); ' class="line4">10...Лd8</span> 
</li>
<ul>
<li><a href="{% url 'page-view' book.root_dir|add:'/3-10-2-c-1.htm' %}#C1a">C1a.</a>
 <span onclick='loadMove("r1br2k1/pp2bppp/1qnppn2/8/4P3/1NN1BP2/PPPQ2PP/2KR1B1R b - - 0 11", this, "g5e3"); ' class="line5">11.Сe3</span> 
</li>
<li><a href="{% url 'page-view' book.root_dir|add:'/3-10-2-c-1.htm' %}#C1b">C1b.</a>
 <span onclick='loadMove("r1br2k1/pp2bppp/1qnppn2/1N4B1/4P3/1N3P2/PPPQ2PP/2KR1B1R b - - 0 11", this, "c3b5"); ' class="line5">11.Кb5</span> 
</li>
</ul>
<li><a href="{% url 'page-view' book.root_dir|add:'/3-10-2-c-2.htm' %}">C2.</a>
 <span onclick='loadMove("r1b2rk1/1p2bppp/pqnppn2/6B1/4P3/1NN2P2/PPPQ2PP/2KR1B1R w - - 0 11", this, "a7a6"); ' class="line4">10...a6</span> 
</li>
</ul>
</ul>
<li><a href="{% url 'page-view' book.root_dir|add:'/3-10-3-0.htm' %}">III.</a>
 <span onclick='loadMove("r1bq1rk1/pp2bppp/2nppn2/6B1/3NPP2/2N5/PPPQ2PP/2KR1B1R b - f3 0 9", this, "f2f4"); ' class="line2">9.f4</span> 
</li>
<ul>
<li><a href="{% url 'page-view' book.root_dir|add:'/3-10-3-a-0.htm' %}">A.</a>
 <span onclick='loadMove("r1bq1rk1/pp2bppp/2n1pn2/3p2B1/3NPP2/2N5/PPPQ2PP/2KR1B1R w - - 0 10", this, "d6d5"); ' class="line3">9...d5</span> 
</li>
<li><a href="{% url 'page-view' book.root_dir|add:'/3-10-3-b-0.htm' %}">B.</a>
 <span onclick='loadMove("r1bq1rk1/pp2bppp/2np1n2/4p1B1/3NPP2/2N5/PPPQ2PP/2KR1B1R w - - 0 10", this, "e6e5"); ' class="line3">9...e5</span> 
</li>
<li><a href="{% url 'page-view' book.root_dir|add:'/3-10-3-c-0.htm' %}">C.</a>
 <span onclick='loadMove("r1bq1rk1/pp2bpp1/2nppn1p/6B1/3NPP2/2N5/PPPQ2PP/2KR1B1R w - - 0 10", this, "h7h6"); ' class="line3">9...h6</span> 
</li>
<ul>
<li><a href="{% url 'page-view' book.root_dir|add:'/3-10-3-c-1.htm' %}">C1.</a>
 <span onclick='loadMove("r1bq1rk1/pp2bpp1/2nppB1p/8/3NPP2/2N5/PPPQ2PP/2KR1B1R b - - 0 10", this, "g5f6"); ' class="line4">10.С:f6</span> 
</li>
<li><a href="{% url 'page-view' book.root_dir|add:'/3-10-3-c-2.htm' %}">C2.</a>
 <span onclick='loadMove("r1bq1rk1/pp2bpp1/2nppn1p/8/3NPP1B/2N5/PPPQ2PP/2KR1B1R b - - 0 10", this, "g5h4"); ' class="line4">10.Сh4</span> 
</li>
<ul>
<li><a href="{% url 'page-view' book.root_dir|add:'/3-10-3-c-2.htm' %}#C2a">C2a.</a>
 <span onclick='loadMove("r2q1rk1/pp1bbpp1/2nppn1p/8/3NPP1B/2N5/PPPQ2PP/2KR1B1R w - - 0 11", this, "c8d7"); ' class="line5">10...Сd7</span> 
</li>
<li><a href="{% url 'page-view' book.root_dir|add:'/3-10-3-c-2.htm' %}#C2b">C2b.</a>
 <span onclick='loadMove("r1bq1rk1/pp2bpp1/2np1n1p/4p3/3NPP1B/2N5/PPPQ2PP/2KR1B1R w - - 0 11", this, "e6e5"); ' class="line5">10...e5</span> 
 <span onclick='loadMove("r1bq1rk1/pp2bpp1/2np1n1p/4pN2/4PP1B/2N5/PPPQ2PP/2KR1B1R b - - 0 11", this, "d4f5"); ' class="line5">11.Кf5</span> 
 <span onclick='loadMove("r2q1rk1/pp2bpp1/2np1n1p/4pb2/4PP1B/2N5/PPPQ2PP/2KR1B1R w - - 0 12", this, "c8f5"); ' class="line5">С:f5</span> 
 <span onclick='loadMove("r2q1rk1/pp2bpp1/2np1n1p/4pP2/5P1B/2N5/PPPQ2PP/2KR1B1R b - - 0 12", this, "e4f5"); ' class="line5">12.ef</span> 
 <span onclick='loadMove("r2q1rk1/pp2bpp1/2np1n1p/5P2/5p1B/2N5/PPPQ2PP/2KR1B1R w - - 0 13", this, "e5f4"); ' class="line5">ef</span> 
 <span onclick='loadMove("r2q1rk1/pp2bpp1/2np1n1p/5P2/5p1B/2N5/PPPQ2PP/1K1R1B1R b - - 0 13", this, "c1b1"); ' class="line5">13.Крb1</span> 
 <span onclick='loadMove("r2q1rk1/pp2bpp1/2n2n1p/3p1P2/5p1B/2N5/PPPQ2PP/1K1R1B1R w - - 0 14", this, "d6d5"); ' class="line5">d5</span> 
 <span onclick='loadMove("r2q1rk1/pp2bpp1/2n2B1p/3p1P2/5p2/2N5/PPPQ2PP/1K1R1B1R b - - 0 14", this, "h4f6"); ' class="line5">14.С:f6</span> 
 <span onclick='loadMove("r2q1rk1/pp3pp1/2n2b1p/3p1P2/5p2/2N5/PPPQ2PP/1K1R1B1R w - - 0 15", this, "e7f6"); ' class="line5">С:f6</span> 
 <span onclick='loadMove("r2q1rk1/pp3pp1/2n2b1p/3N1P2/5p2/8/PPPQ2PP/1K1R1B1R b - - 0 15", this, "c3d5"); ' class="line5">15.К:d5</span> 
 <span onclick='loadMove("r2q1rk1/pp3pp1/2n4p/3NbP2/5p2/8/PPPQ2PP/1K1R1B1R w - - 0 16", this, "f6e5"); ' class="line5">Сe5</span> 
 <span onclick='loadMove("r2q1rk1/pp3pp1/2n4p/3NbP2/2B2p2/8/PPPQ2PP/1K1R3R b - - 0 16", this, "f1c4"); ' class="line5">16.Сc4</span> 
 <span onclick='loadMove("r2q1rk1/p4pp1/2n4p/1p1NbP2/2B2p2/8/PPPQ2PP/1K1R3R w - b6 0 17", this, "b7b5"); ' class="line5">b5</span> 
</li>
<ul>
<li><a href="{% url 'page-view' book.root_dir|add:'/3-10-3-c-2.htm' %}#C2b1">C2b1.</a>
 <span onclick='loadMove("r2q1rk1/p4pp1/2n4p/1B1NbP2/5p2/8/PPPQ2PP/1K1R3R b - - 0 17", this, "c4b5"); ' class="line6">17.С:b5</span> 
</li>
<li><a href="{% url 'page-view' book.root_dir|add:'/3-10-3-c-2.htm' %}#C2b2">C2b2.</a>
 <span onclick='loadMove("r2q1rk1/p4pp1/2n4p/1p1NbP2/5p2/1B6/PPPQ2PP/1K1R3R b - - 0 17", this, "c4b3"); ' class="line6">17.Сb3</span> 
</li>
</ul>
</ul>
</ul>
<li><a href="{% url 'page-view' book.root_dir|add:'/3-10-3-d-0.htm' %}">D.</a>
 <span onclick='loadMove("r1bq1rk1/pp2bppp/3ppn2/6B1/3nPP2/2N5/PPPQ2PP/2KR1B1R w - - 0 10", this, "c6d4"); ' class="line3">9...К:d4</span> 
 <span onclick='loadMove("r1bq1rk1/pp2bppp/3ppn2/6B1/3QPP2/2N5/PPP3PP/2KR1B1R b - - 0 10", this, "d2d4"); ' class="line3">10.Ф:d4</span> 
</li>
<ul>
<li><a href="{% url 'page-view' book.root_dir|add:'/3-10-3-d-1.htm' %}">D1.</a>
 <span onclick='loadMove("r1b2rk1/pp2bppp/3ppn2/q5B1/3QPP2/2N5/PPP3PP/2KR1B1R w - - 0 11", this, "d8a5"); ' class="line4">10...Фa5</span> 
</li>
<ul>
<li><a href="{% url 'page-view' book.root_dir|add:'/3-10-3-d-1.htm' %}#D1a">D1a.</a>
 <span onclick='loadMove("r1b2rk1/pp2bppp/3ppn2/q3P1B1/3Q1P2/2N5/PPP3PP/2KR1B1R b - - 0 11", this, "e4e5"); ' class="line5">11.e5</span> 
</li>
<li><a href="{% url 'page-view' book.root_dir|add:'/3-10-3-d-1.htm' %}#D1b">D1b.</a>
 <span onclick='loadMove("r1b2rk1/pp2bppp/3ppn2/q5B1/2BQPP2/2N5/PPP3PP/2KR3R b - - 0 11", this, "f1c4"); ' class="line5">11.Сc4</span> 
 <span onclick='loadMove("r4rk1/pp1bbppp/3ppn2/q5B1/2BQPP2/2N5/PPP3PP/2KR3R w - - 0 12", this, "c8d7"); ' class="line5">Сd7</span> 
</li>
<ul>
<li><a href="{% url 'page-view' book.root_dir|add:'/3-10-3-d-1.htm' %}#D1b1">D1b1.</a>
 <span onclick='loadMove("r4rk1/pp1bbppp/3ppn2/q5B1/3QPP2/1BN5/PPP3PP/2KR3R b - - 0 12", this, "c4b3"); ' class="line6">12.Сb3</span> 
</li>
<li><a href="{% url 'page-view' book.root_dir|add:'/3-10-3-d-1.htm' %}#D1b2">D1b2.</a>
 <span onclick='loadMove("r4rk1/pp1bbppp/3ppn2/q5B1/2BQPP2/2NR4/PPP3PP/2K4R b - - 0 12", this, "d1d3"); ' class="line6">12.Лd3</span> 
</li>
<li><a href="{% url 'page-view' book.root_dir|add:'/3-10-3-d-1.htm' %}#D1b3">D1b3.</a>
 <span onclick='loadMove("r4rk1/pp1bbppp/3ppn2/q3P1B1/2BQ1P2/2N5/PPP3PP/2KR3R b - - 0 12", this, "e4e5"); ' class="line6">12.e5</span> 
 <span onclick='loadMove("r4rk1/pp1bbppp/4pn2/q3p1B1/2BQ1P2/2N5/PPP3PP/2KR3R w - - 0 13", this, "d6e5"); ' class="line6">de</span> 
 <span onclick='loadMove("r4rk1/pp1bbppp/4pn2/q3P1B1/2BQ4/2N5/PPP3PP/2KR3R b - - 0 13", this, "f4e5"); ' class="line6">13.fe</span> 
 <span onclick='loadMove("r4rk1/pp2bppp/2b1pn2/q3P1B1/2BQ4/2N5/PPP3PP/2KR3R w - - 0 14", this, "d7c6"); ' class="line6">Сc6</span> 
 <span onclick='loadMove("r4rk1/pp2bppp/2b1pn2/q3P3/2BQ4/2N5/PPPB2PP/2KR3R b - - 0 14", this, "g5d2"); ' class="line6">14.Сd2!?</span> 
 <span onclick='loadMove("r4rk1/pp1nbppp/2b1p3/q3P3/2BQ4/2N5/PPPB2PP/2KR3R w - - 0 15", this, "f6d7"); ' class="line6">Кd7</span> 
 <span onclick='loadMove("r4rk1/pp1nbppp/2b1p3/q2NP3/2BQ4/8/PPPB2PP/2KR3R b - - 0 15", this, "c3d5"); ' class="line6">15.Кd5</span> 
 <span onclick='loadMove("r2q1rk1/pp1nbppp/2b1p3/3NP3/2BQ4/8/PPPB2PP/2KR3R w - - 0 16", this, "a5d8"); ' class="line6">Фd8</span> 
 <span onclick='loadMove("r2q1rk1/pp1nNppp/2b1p3/4P3/2BQ4/8/PPPB2PP/2KR3R b - - 0 16", this, "d5e7"); ' class="line6">16.К:e7+</span> 
 <span onclick='loadMove("r4rk1/pp1nqppp/2b1p3/4P3/2BQ4/8/PPPB2PP/2KR3R w - - 0 17", this, "d8e7"); ' class="line6">Ф:e7</span> 
 <span onclick='loadMove("r4rk1/pp1nqppp/2b1p3/4P3/2BQ4/8/PPPB2PP/2KRR3 b - - 0 17", this, "h1e1"); ' class="line6">17.Лhe1</span> 
 <span onclick='loadMove("r2r2k1/pp1nqppp/2b1p3/4P3/2BQ4/8/PPPB2PP/2KRR3 w - - 0 18", this, "f8d8"); ' class="line6">Лfd8</span> 
</li>
<ul>
<li><a href="{% url 'page-view' book.root_dir|add:'/3-10-3-d-1.htm' %}#D1b31">D1b31.</a>
 <span onclick='loadMove("r2r2k1/pp1nqppp/2b1p3/4P3/3Q4/8/PPPB2PP/2KRRB2 b - - 0 18", this, "c4f1"); ' class="line7">18.Сf1</span> 
</li>
<li><a href="{% url 'page-view' book.root_dir|add:'/3-10-3-d-1.htm' %}#D1b32">D1b32.</a>
 <span onclick='loadMove("r2r2k1/pp1nqppp/2b1p3/4P3/2B3Q1/8/PPPB2PP/2KRR3 b - - 0 18", this, "d4g4"); ' class="line7">18.Фg4</span> 
</li>
</ul>
</ul>
</ul>
<!--p>260</p-->
<li><a href="{% url 'page-view' book.root_dir|add:'/3-10-3-d-2.htm' %}">D2.</a>
 <span onclick='loadMove("r1bq1rk1/pp2bpp1/3ppn1p/6B1/3QPP2/2N5/PPP3PP/2KR1B1R w - - 0 11", this, "h7h6"); ' class="line4">10...h6</span> 
 <span onclick='loadMove("r1bq1rk1/pp2bpp1/3ppn1p/8/3QPP1B/2N5/PPP3PP/2KR1B1R b - - 0 11", this, "g5h4"); ' class="line4">11.Сh4</span> 
</li>
<li><a href="{% url 'page-view' book.root_dir|add:'/3-10-3-d-3.htm' %}">D3.</a>
 <span onclick='loadMove("r1bq1rk1/pp2bpp1/3ppn1p/6B1/3QPP2/2N5/PPP3PP/2KR1B1R w - - 0 11", this, "h7h6"); ' class="line4">10...h6</span> 
 <span onclick='loadMove("r1bq1rk1/pp2bpp1/3ppn1p/6B1/3QPP1P/2N5/PPP3P1/2KR1B1R b - h3 0 11", this, "h2h4"); ' class="line4">11.h4</span> 
</li>
</ul>
</ul>
</ul>
<li><a href="{% url 'page-view' book.root_dir|add:'/3-11-0-glava-11-variant-aronina.htm' %}">Глава одиннадцатая. Вариант Аронина</a>
 <span onclick='loadMove("r1bqkb1r/1p3ppp/p1nppn2/6B1/3NP3/2N5/PPPQ1PPP/R3KB1R w KQkq - 0 8", this, "a7a6"); ' class="line1">7...a6</span> 
 <span onclick='loadMove("r1bqkb1r/1p3ppp/p1nppn2/6B1/3NP3/2N5/PPPQ1PPP/2KR1B1R b kq - 0 8", this, "e1c1"); ' class="line1">8.0-0-0</span> 
 <span onclick='loadMove("r1bqkb1r/1p3pp1/p1nppn1p/6B1/3NP3/2N5/PPPQ1PPP/2KR1B1R w kq - 0 9", this, "h7h6"); ' class="line1">h6</span> 
</li>
<ul>
<li><a href="{% url 'page-view' book.root_dir|add:'/3-11-1-0.htm' %}">I.</a>
 <span onclick='loadMove("r1bqkb1r/1p3pp1/p1nppn1p/8/3NPB2/2N5/PPPQ1PPP/2KR1B1R b kq - 0 9", this, "g5f4"); ' class="line2">9.Сf4</span> 
 <span onclick='loadMove("r2qkb1r/1p1b1pp1/p1nppn1p/8/3NPB2/2N5/PPPQ1PPP/2KR1B1R w kq - 0 10", this, "c8d7"); ' class="line2">Сd7</span> 
 <span onclick='loadMove("r2qkb1r/1p1b1pp1/p1Nppn1p/8/4PB2/2N5/PPPQ1PPP/2KR1B1R b kq - 0 10", this, "d4c6"); ' class="line2">10.К:c6</span> 
 <span onclick='loadMove("r2qkb1r/1p3pp1/p1bppn1p/8/4PB2/2N5/PPPQ1PPP/2KR1B1R w kq - 0 11", this, "d7c6"); ' class="line2">С:c6</span> 
</li>
<ul>
<li><a href="{% url 'page-view' book.root_dir|add:'/3-11-1-a-0.htm' %}">A.</a>
 <span onclick='loadMove("r2qkb1r/1p3pp1/p1bppn1p/8/4PB2/2N5/PPP2PPP/2KRQB1R b kq - 0 11", this, "d2e1"); ' class="line3">11.Фe1</span> 
</li>
<ul>
<li><a href="{% url 'page-view' book.root_dir|add:'/3-11-1-a-1.htm' %}">A1.</a>
 <span onclick='loadMove("r3kb1r/1p3pp1/p1bppn1p/q7/4PB2/2N5/PPP2PPP/2KRQB1R w kq - 0 12", this, "d8a5"); ' class="line4">11...Фa5</span> 
</li>
<li><a href="{% url 'page-view' book.root_dir|add:'/3-11-1-a-2.htm' %}">A2.</a>
 <span onclick='loadMove("r2qk2r/1p2bpp1/p1bppn1p/8/4PB2/2N5/PPP2PPP/2KRQB1R w kq - 0 12", this, "f8e7"); ' class="line4">11...Сe7</span> 
</li>
</ul>
<li><a href="{% url 'page-view' book.root_dir|add:'/3-11-1-b-0.htm' %}">B.</a>
 <span onclick='loadMove("r2qkb1r/1p3pp1/p1bppn1p/8/4PB2/2N2P2/PPPQ2PP/2KR1B1R b kq - 0 11", this, "f2f3"); ' class="line3">11.f3</span> 
 <span onclick='loadMove("r2qkb1r/1p3pp1/p1b1pn1p/3p4/4PB2/2N2P2/PPPQ2PP/2KR1B1R w kq - 0 12", this, "d6d5"); ' class="line3">d5</span> 
 <span onclick='loadMove("r2qkb1r/1p3pp1/p1b1pn1p/3p4/4PB2/2N2P2/PPP3PP/2KRQB1R b kq - 0 12", this, "d2e1"); ' class="line3">12.Фe1</span> 
 <span onclick='loadMove("r2qk2r/1p3pp1/p1b1pn1p/3p4/1b2PB2/2N2P2/PPP3PP/2KRQB1R w kq - 0 13", this, "f8b4"); ' class="line3">Сb4</span> 
 <span onclick='loadMove("r2qk2r/1p3pp1/p1b1pn1p/3p4/1b2PB2/P1N2P2/1PP3PP/2KRQB1R b kq - 0 13", this, "a2a3"); ' class="line3">13.a3</span> 
 <span onclick='loadMove("r2qk2r/1p3pp1/p1b1pn1p/b2p4/4PB2/P1N2P2/1PP3PP/2KRQB1R w kq - 0 14", this, "b4a5"); ' class="line3">Сa5</span> 
</li>
<ul>
<li><a href="{% url 'page-view' book.root_dir|add:'/3-11-1-b-1.htm' %}">B1.</a>
 <span onclick='loadMove("r2qk2r/1p3pp1/p1b1pn1p/b2p4/1P2PB2/P1N2P2/2P3PP/2KRQB1R b kq b3 0 14", this, "b2b4"); ' class="line4">14.b4</span> 
</li>
<li><a href="{% url 'page-view' book.root_dir|add:'/3-11-1-b-2.htm' %}">B2.</a>
 <span onclick='loadMove("r2qk2r/1p3pp1/p1b1pn1p/b2p4/4P3/P1N2P2/1PPB2PP/2KRQB1R b kq - 0 14", this, "f4d2"); ' class="line4">14.Сd2</span> 
</li>
<ul>
<li><a href="{% url 'page-view' book.root_dir|add:'/3-11-1-b-2.htm' %}#B2a">B2a.</a>
 <span onclick='loadMove("r3k2r/1p2qpp1/p1b1pn1p/b2p4/4P3/P1N2P2/1PPB2PP/2KRQB1R w kq - 0 15", this, "d8e7"); ' class="line5">14...Фe7</span> 
</li>
<li><a href="{% url 'page-view' book.root_dir|add:'/3-11-1-b-2.htm' %}#B2b">B2b.</a>
 <span onclick='loadMove("r2qk2r/1p3pp1/p1b1pn1p/b7/3pP3/P1N2P2/1PPB2PP/2KRQB1R w kq - 0 15", this, "d5d4"); ' class="line5">14...d4</span> 
</li>
</ul>
</ul>
</ul>
<li><a href="{% url 'page-view' book.root_dir|add:'/3-11-2-0.htm' %}">II.</a>
 <span onclick='loadMove("r1bqkb1r/1p3pp1/p1nppn1p/8/3NP3/2N1B3/PPPQ1PPP/2KR1B1R b kq - 0 9", this, "g5e3"); ' class="line2">9.Сe3</span> 
</li>
<ul>
<li><a href="{% url 'page-view' book.root_dir|add:'/3-11-2-a-0.htm' %}">A.</a>
 <span onclick='loadMove("r2qkb1r/1p1b1pp1/p1nppn1p/8/3NP3/2N1B3/PPPQ1PPP/2KR1B1R w kq - 0 10", this, "c8d7"); ' class="line3">9...Сd7</span> 
</li>
<ul>
<li><a href="{% url 'page-view' book.root_dir|add:'/3-11-2-a-1.htm' %}">A1.</a>
 <span onclick='loadMove("r2qkb1r/1p1b1pp1/p1nppn1p/8/3NP3/2N1BP2/PPPQ2PP/2KR1B1R b kq - 0 10", this, "f2f3"); ' class="line4">10.f3</span> 
</li>
<li><a href="{% url 'page-view' book.root_dir|add:'/3-11-2-a-2.htm' %}">A2.</a>
 <span onclick='loadMove("r2qkb1r/1p1b1pp1/p1nppn1p/8/3NPP2/2N1B3/PPPQ2PP/2KR1B1R b kq f3 0 10", this, "f2f4"); ' class="line4">10.f4</span> 
</li>
<ul>
<li><a href="{% url 'page-view' book.root_dir|add:'/3-11-2-a-2.htm' %}#A2a">A2a.</a>
 <span onclick='loadMove("r2qkb1r/3b1pp1/p1nppn1p/1p6/3NPP2/2N1B3/PPPQ2PP/2KR1B1R w kq b6 0 11", this, "b7b5"); ' class="line5">10...b5</span> 
</li>
<li><a href="{% url 'page-view' book.root_dir|add:'/3-11-2-a-2.htm' %}#A2b">A2b.</a>
 <span onclick='loadMove("r2qk2r/1p1bbpp1/p1nppn1p/8/3NPP2/2N1B3/PPPQ2PP/2KR1B1R w kq - 0 11", this, "f8e7"); ' class="line5">10...Сe7</span> 
</li>
<ul>
<li><a href="{% url 'page-view' book.root_dir|add:'/3-11-2-a-2.htm' %}#A2b1">A2b1.</a>
 <span onclick='loadMove("r2qk2r/1p1bbpp1/p1nppn1p/8/3NPP2/2N1B3/PPPQB1PP/2KR3R b kq - 0 11", this, "f1e2"); ' class="line6">11.Сe2</span> 
</li>
<li><a href="{% url 'page-view' book.root_dir|add:'/3-11-2-a-2.htm' %}#A2b2">A2b2.</a>
 <span onclick='loadMove("r2qk2r/1p1bbpp1/p1nppn1p/8/3NPP2/2N1B2P/PPPQ2P1/2KR1B1R b kq - 0 11", this, "h2h3"); ' class="line6">11.h3</span> 
</li>
<li><a href="{% url 'page-view' book.root_dir|add:'/3-11-2-a-2.htm' %}#A2b3">A2b3.</a>
 <span onclick='loadMove("r2qk2r/1p1bbpp1/p1nppn1p/8/3NPP2/2N1B3/PPPQ2PP/1K1R1B1R b kq - 0 11", this, "c1b1"); ' class="line6">11.Крb1</span> 
</li>
</ul>
</ul>
</ul>
<li><a href="{% url 'page-view' book.root_dir|add:'/3-11-2-b-0.htm' %}">B.</a>
 <span onclick='loadMove("r1bqk2r/1p2bpp1/p1nppn1p/8/3NP3/2N1B3/PPPQ1PPP/2KR1B1R w kq - 0 10", this, "f8e7"); ' class="line3">9...Сe7</span> 
</li>
<ul>
<li><a href="{% url 'page-view' book.root_dir|add:'/3-11-2-b-1.htm' %}">B1.</a>
 <span onclick='loadMove("r1bqk2r/1p2bpp1/p1nppn1p/8/3NP3/2N1BP2/PPPQ2PP/2KR1B1R b kq - 0 10", this, "f2f3"); ' class="line4">10.f3</span> 
 <span onclick='loadMove("r1bqk2r/1p2bpp1/p2ppn1p/8/3nP3/2N1BP2/PPPQ2PP/2KR1B1R w kq - 0 11", this, "c6d4"); ' class="line4">К:d4</span> 
</li>
<ul>
<li><a href="{% url 'page-view' book.root_dir|add:'/3-11-2-b-1.htm' %}#B1a">B1a.</a>
 <span onclick='loadMove("r1bqk2r/1p2bpp1/p2ppn1p/8/3QP3/2N1BP2/PPP3PP/2KR1B1R b kq - 0 11", this, "d2d4"); ' class="line5">11.Ф:d4</span> 
</li>
<li><a href="{% url 'page-view' book.root_dir|add:'/3-11-2-b-1.htm' %}#B1b">B1b.</a>
 <span onclick='loadMove("r1bqk2r/1p2bpp1/p2ppn1p/8/3BP3/2N2P2/PPPQ2PP/2KR1B1R b kq - 0 11", this, "e3d4"); ' class="line5">11.С:d4</span> 
 <span onclick='loadMove("r1bqk2r/4bpp1/p2ppn1p/1p6/3BP3/2N2P2/PPPQ2PP/2KR1B1R w kq b6 0 12", this, "b7b5"); ' class="line5">b5</span> 
</li>
<ul>
<li><a href="{% url 'page-view' book.root_dir|add:'/3-11-2-b-1.htm' %}#B1b1">B1b1.</a>
 <span onclick='loadMove("r1bqk2r/4bpp1/p2ppn1p/1p6/3BP2P/2N2P2/PPPQ2P1/2KR1B1R b kq h3 0 12", this, "h2h4"); ' class="line6">12.h4</span> 
</li>
<li><a href="{% url 'page-view' book.root_dir|add:'/3-11-2-b-1.htm' %}#B1b2">B1b2.</a>
 <span onclick='loadMove("r1bqk2r/4bpp1/p2ppn1p/1p6/3BP3/2N2P2/PPPQ2PP/1K1R1B1R b kq - 0 12", this, "c1b1"); ' class="line6">12.Крb1</span> 
</li>
</ul>
</ul>
<li><a href="{% url 'page-view' book.root_dir|add:'/3-11-2-b-2.htm' %}">B2.</a>
 <span onclick='loadMove("r1bqk2r/1p2bpp1/p1nppn1p/8/3NPP2/2N1B3/PPPQ2PP/2KR1B1R b kq f3 0 10", this, "f2f4"); ' class="line4">10.f4</span> 
 <span onclick='loadMove("r1bqk2r/1p2bpp1/p2ppn1p/8/3nPP2/2N1B3/PPPQ2PP/2KR1B1R w kq - 0 11", this, "c6d4"); ' class="line4">К:d4</span> 
 <span onclick='loadMove("r1bqk2r/1p2bpp1/p2ppn1p/8/3BPP2/2N5/PPPQ2PP/2KR1B1R b kq - 0 11", this, "e3d4"); ' class="line4">11.С:d4</span> 
 <span onclick='loadMove("r1bqk2r/4bpp1/p2ppn1p/1p6/3BPP2/2N5/PPPQ2PP/2KR1B1R w kq b6 0 12", this, "b7b5"); ' class="line4">b5</span> 
</li>
<ul>
<li><a href="{% url 'page-view' book.root_dir|add:'/3-11-2-b-2.htm' %}#B2a">B2a.</a>
 <span onclick='loadMove("r1bqk2r/4bpp1/p2ppn1p/1p6/3BPP2/2N5/PPPQB1PP/2KR3R b kq - 0 12", this, "f1e2"); ' class="line5">12.Сe2</span> 
</li>
<li><a href="{% url 'page-view' book.root_dir|add:'/3-11-2-b-2.htm' %}#B2b">B2b.</a>
 <span onclick='loadMove("r1bqk2r/4bpp1/p2ppn1p/1p6/3BPP2/2N1Q3/PPP3PP/2KR1B1R b kq - 0 12", this, "d2e3"); ' class="line5">12.Фe3</span> 
</li>
<li><a href="{% url 'page-view' book.root_dir|add:'/3-11-2-b-2.htm' %}#B2c">B2c.</a>
 <span onclick='loadMove("r1bqk2r/4bpp1/p2ppn1p/1p6/3BPP2/2NB4/PPPQ2PP/2KR3R b kq - 0 12", this, "f1d3"); ' class="line5">12.Сd3</span> 
</li>
</ul>
</ul>
<li><a href="{% url 'page-view' book.root_dir|add:'/3-11-2-c-0.htm' %}">C.</a>
 <span onclick='loadMove("r1bqkb1r/1p3pp1/p2ppn1p/8/3nP3/2N1B3/PPPQ1PPP/2KR1B1R w kq - 0 10", this, "c6d4"); ' class="line3">9...К:d4</span> 
</li>
</ul>
<li><a href="{% url 'page-view' book.root_dir|add:'/3-11-3-0.htm' %}">III.</a>
 <span onclick='loadMove("r1bqkb1r/1p3pp1/p1Nppn1p/6B1/4P3/2N5/PPPQ1PPP/2KR1B1R b kq - 0 9", this, "d4c6"); ' class="line2">9.К:c6</span> 
</li>
</ul>
<li><a href="{% url 'page-view' book.root_dir|add:'/3-12-0-glava-12.htm' %}">Глава двенадцатая</a>
 <span onclick='loadMove("r1bqkb1r/1p3ppp/p1nppn2/6B1/3NP3/2N5/PPPQ1PPP/R3KB1R w KQkq - 0 8", this, "a7a6"); ' class="line1">7...a6</span> 
 <span onclick='loadMove("r1bqkb1r/1p3ppp/p1nppn2/6B1/3NP3/2N5/PPPQ1PPP/2KR1B1R b kq - 0 8", this, "e1c1"); ' class="line1">8.0-0-0</span> 
 <span onclick='loadMove("r2qkb1r/1p1b1ppp/p1nppn2/6B1/3NP3/2N5/PPPQ1PPP/2KR1B1R w kq - 0 9", this, "c8d7"); ' class="line1">Сd7</span> 
</li>
<ul>
<li><a href="{% url 'page-view' book.root_dir|add:'/3-12-1-0.htm' %}">I.</a>
 <span onclick='loadMove("r2qkb1r/1p1b1ppp/p1nppn2/6B1/3NP3/2N2P2/PPPQ2PP/2KR1B1R b kq - 0 9", this, "f2f3"); ' class="line2">9.f3</span> 
</li>
<!--p>261</p-->
<li><a href="{% url 'page-view' book.root_dir|add:'/3-12-2-0.htm' %}">II.</a>
 <span onclick='loadMove("r2qkb1r/1p1b1ppp/p1nppn2/6B1/3NPP2/2N5/PPPQ2PP/2KR1B1R b kq f3 0 9", this, "f2f4"); ' class="line2">9.f4</span> 
</li>
<ul>
<li><a href="{% url 'page-view' book.root_dir|add:'/3-12-2-a-0.htm' %}">A.</a>
 <span onclick='loadMove("r2qkb1r/1p1b1pp1/p1nppn1p/6B1/3NPP2/2N5/PPPQ2PP/2KR1B1R w kq - 0 10", this, "h7h6"); ' class="line3">9...h6</span> 
 <span onclick='loadMove("r2qkb1r/1p1b1pp1/p1nppn1p/8/3NPP1B/2N5/PPPQ2PP/2KR1B1R b kq - 0 10", this, "g5h4"); ' class="line3">10.Сh4</span> 
</li>
<ul>
<li><a href="{% url 'page-view' book.root_dir|add:'/3-12-2-a-1.htm' %}">A1.</a>
 <span onclick='loadMove("r2qkb1r/1p1b1pp1/p1npp2p/8/3NnP1B/2N5/PPPQ2PP/2KR1B1R w kq - 0 11", this, "f6e4"); ' class="line4">10...К:e4</span> 
</li>
<li><a href="{% url 'page-view' book.root_dir|add:'/3-12-2-a-2.htm' %}">A2.</a>
 <span onclick='loadMove("r2qkb1r/1p1b1p2/p1nppn1p/6p1/3NPP1B/2N5/PPPQ2PP/2KR1B1R w kq g6 0 11", this, "g7g5"); ' class="line4">10...g5</span> 
 <span onclick='loadMove("r2qkb1r/1p1b1p2/p1nppn1p/6P1/3NP2B/2N5/PPPQ2PP/2KR1B1R b kq - 0 11", this, "f4g5"); ' class="line4">11.fg</span> 
 <span onclick='loadMove("r2qkb1r/1p1b1p2/p1npp2p/6P1/3NP1nB/2N5/PPPQ2PP/2KR1B1R w kq - 0 12", this, "f6g4"); ' class="line4">Кg4</span> 
</li>
<ul>
<li><a href="{% url 'page-view' book.root_dir|add:'/3-12-2-a-2.htm' %}#A2a">A2a.</a>
 <span onclick='loadMove("r2qkb1r/1p1b1p2/p1Npp2p/6P1/4P1nB/2N5/PPPQ2PP/2KR1B1R b kq - 0 12", this, "d4c6"); ' class="line5">12.К:c6</span> 
</li>
<li><a href="{% url 'page-view' book.root_dir|add:'/3-12-2-a-2.htm' %}#A2b">A2b.</a>
 <span onclick='loadMove("r2qkb1r/1p1b1p2/p1npp2p/6P1/4P1nB/2N2N2/PPPQ2PP/2KR1B1R b kq - 0 12", this, "d4f3"); ' class="line5">12.Кf3</span> 
</li>
<li><a href="{% url 'page-view' book.root_dir|add:'/3-12-2-a-2.htm' %}#A2c">A2c.</a>
 <span onclick='loadMove("r2qkb1r/1p1b1p2/p1npp2p/6P1/3NP1nB/2N5/PPPQB1PP/2KR3R b kq - 0 12", this, "f1e2"); ' class="line5">12.Сe2!?</span> 
</li>
</ul>
</ul>
<li><a href="{% url 'page-view' book.root_dir|add:'/3-12-2-b-0.htm' %}">B.</a>
 <span onclick='loadMove("r2qkb1r/3b1ppp/p1nppn2/1p4B1/3NPP2/2N5/PPPQ2PP/2KR1B1R w kq b6 0 10", this, "b7b5"); ' class="line3">9...b5</span> 
</li>
<ul>
<li><a href="{% url 'page-view' book.root_dir|add:'/3-12-2-b-1.htm' %}">B1.</a>
 <span onclick='loadMove("r2qkb1r/3b1ppp/p1Nppn2/1p4B1/4PP2/2N5/PPPQ2PP/2KR1B1R b kq - 0 10", this, "d4c6"); ' class="line4">10.К:c6</span> 
</li>
<li><a href="{% url 'page-view' book.root_dir|add:'/3-12-2-b-2.htm' %}">B2.</a>
 <span onclick='loadMove("r2qkb1r/3b1ppp/p1nppB2/1p6/3NPP2/2N5/PPPQ2PP/2KR1B1R b kq - 0 10", this, "g5f6"); ' class="line4">10.С:f6</span> 
 <span onclick='loadMove("r2qkb1r/3b1p1p/p1nppp2/1p6/3NPP2/2N5/PPPQ2PP/2KR1B1R w kq - 0 11", this, "g7f6"); ' class="line4">gf</span> 
</li>
<ul>
<li><a href="{% url 'page-view' book.root_dir|add:'/3-12-2-b-2.htm' %}#B2a">B2a.</a>
 <span onclick='loadMove("r2qkb1r/3b1p1p/p1Nppp2/1p6/4PP2/2N5/PPPQ2PP/2KR1B1R b kq - 0 11", this, "d4c6"); ' class="line5">11.К:c6</span> 
</li>
<li><a href="{% url 'page-view' book.root_dir|add:'/3-12-2-b-2.htm' %}#B2b">B2b.</a>
 <span onclick='loadMove("r2qkb1r/3b1p1p/p1nppp2/1p3P2/3NP3/2N5/PPPQ2PP/2KR1B1R b kq - 0 11", this, "f4f5"); ' class="line5">11.f5</span> 
</li>
<li><a href="{% url 'page-view' book.root_dir|add:'/3-12-2-b-2.htm' %}#B2c">B2c.</a>
 <span onclick='loadMove("r2qkb1r/3b1p1p/p1nppp2/1p6/3NPP2/2N5/PPPQ2PP/1K1R1B1R b kq - 0 11", this, "c1b1"); ' class="line5">11.Крb1</span> 
</li>
</ul>
</ul>
<li><a href="{% url 'page-view' book.root_dir|add:'/3-12-2-c-0.htm' %}">C.</a>
 <span onclick='loadMove("r2qk2r/1p1bbppp/p1nppn2/6B1/3NPP2/2N5/PPPQ2PP/2KR1B1R w kq - 0 10", this, "f8e7"); ' class="line3">9...Сe7</span> 
 <span onclick='loadMove("r2qk2r/1p1bbppp/p1nppn2/6B1/4PP2/2N2N2/PPPQ2PP/2KR1B1R b kq - 0 10", this, "d4f3"); ' class="line3">10.Кf3</span> 
 <span onclick='loadMove("r2qk2r/3bbppp/p1nppn2/1p4B1/4PP2/2N2N2/PPPQ2PP/2KR1B1R w kq b6 0 11", this, "b7b5"); ' class="line3">b5</span> 
</li>
<ul>
<li><a href="{% url 'page-view' book.root_dir|add:'/3-12-2-c-1.htm' %}">C1.</a>
 <span onclick='loadMove("r2qk2r/3bbppp/p1nppn2/1p2P1B1/5P2/2N2N2/PPPQ2PP/2KR1B1R b kq - 0 11", this, "e4e5"); ' class="line4">11.e5</span> 
</li>
<li><a href="{% url 'page-view' book.root_dir|add:'/3-12-2-c-2.htm' %}">C2.</a>
 <span onclick='loadMove("r2qk2r/3bbppp/p1nppB2/1p6/4PP2/2N2N2/PPPQ2PP/2KR1B1R b kq - 0 11", this, "g5f6"); ' class="line4">11.С:f6</span> 
</li>
<ul>
<li><a href="{% url 'page-view' book.root_dir|add:'/3-12-2-c-2.htm' %}#C2a">C2a.</a>
 <span onclick='loadMove("r2qk2r/3b1ppp/p1nppb2/1p6/4PP2/2N2N2/PPPQ2PP/2KR1B1R w kq - 0 12", this, "e7f6"); ' class="line5">11...С:f6</span> 
</li>
<li><a href="{% url 'page-view' book.root_dir|add:'/3-12-2-c-2.htm' %}#C2b">C2b.</a>
 <span onclick='loadMove("r2qk2r/3bbp1p/p1nppp2/1p6/4PP2/2N2N2/PPPQ2PP/2KR1B1R w kq - 0 12", this, "g7f6"); ' class="line5">11...gf</span> 
</li>
</ul>
</ul>
</ul>
</ul>
<li><a href="{% url 'page-view' book.root_dir|add:'/3-13-0-glava-13.htm' %}">Глава тринадцатая</a>
 <span onclick='loadMove("r1bqkb1r/1p3ppp/p1nppn2/6B1/3NP3/2N5/PPPQ1PPP/R3KB1R w KQkq - 0 8", this, "a7a6"); ' class="line1">7...a6</span> 
 <span onclick='loadMove("r1bqkb1r/1p3ppp/p1nppn2/6B1/3NP3/2N5/PPPQ1PPP/2KR1B1R b kq - 0 8", this, "e1c1"); ' class="line1">8.0-0-0</span> 
 <span onclick='loadMove("r1bqkb1r/1p3ppp/p2ppn2/6B1/3nP3/2N5/PPPQ1PPP/2KR1B1R w kq - 0 9", this, "c6d4"); ' class="line1">К:d4</span> 
 <span onclick='loadMove("r1bqkb1r/1p3ppp/p2ppn2/6B1/3QP3/2N5/PPP2PPP/2KR1B1R b kq - 0 9", this, "d2d4"); ' class="line1">9.Ф:d4</span> 
 <span onclick='loadMove("r1bqk2r/1p2bppp/p2ppn2/6B1/3QP3/2N5/PPP2PPP/2KR1B1R w kq - 0 10", this, "f8e7"); ' class="line1">Сe7</span> 
</li>
<ul>
<li><a href="{% url 'page-view' book.root_dir|add:'/3-13-1-0.htm' %}">I.</a>
 <span onclick='loadMove("r1bqk2r/1p2bppp/p2ppn2/6B1/3QP3/2N2P2/PPP3PP/2KR1B1R b kq - 0 10", this, "f2f3"); ' class="line2">10.f3</span> 
</li>
<li><a href="{% url 'page-view' book.root_dir|add:'/3-13-2-0.htm' %}">II.</a>
 <span onclick='loadMove("r1bqk2r/1p2bppp/p2ppn2/6B1/3QPP2/2N5/PPP3PP/2KR1B1R b kq f3 0 10", this, "f2f4"); ' class="line2">10.f4</span> 
 <span onclick='loadMove("r1bqk2r/4bppp/p2ppn2/1p4B1/3QPP2/2N5/PPP3PP/2KR1B1R w kq b6 0 11", this, "b7b5"); ' class="line2">b5</span> 
 <span onclick='loadMove("r1bqk2r/4bppp/p2ppB2/1p6/3QPP2/2N5/PPP3PP/2KR1B1R b kq - 0 11", this, "g5f6"); ' class="line2">11.С:f6</span> 
 <span onclick='loadMove("r1bqk2r/4bp1p/p2ppp2/1p6/3QPP2/2N5/PPP3PP/2KR1B1R w kq - 0 12", this, "g7f6"); ' class="line2">gf</span> 
</li>
<ul>
<li><a href="{% url 'page-view' book.root_dir|add:'/3-13-2-a-0.htm' %}">A.</a>
 <span onclick='loadMove("r1bqk2r/4bp1p/p2ppp2/1p3P2/3QP3/2N5/PPP3PP/2KR1B1R b kq - 0 12", this, "f4f5"); ' class="line3">12.f5</span> 
</li>
<li><a href="{% url 'page-view' book.root_dir|add:'/3-13-2-b-0.htm' %}">B.</a>
 <span onclick='loadMove("r1bqk2r/4bp1p/p2ppp2/1p2P3/3Q1P2/2N5/PPP3PP/2KR1B1R b kq - 0 12", this, "e4e5"); ' class="line3">12.e5</span> 
</li>
</ul>
</ul>
</ul>
<!--p>262</p-->
</div> <!-- score -->
</div> <!-- section -->

</div> <!-- iBook -->
{% endblock content %}

