.iBook { overflow: hidden; line-height: 1.5em; font-size: 1.1em; }

.iBook .indent { padding-left: 20px; }

.iBook .section { overflow: hidden; clear: both; margin-bottom: 10px; }
.iBook .section .comment { color: #555; display:none}
.iBook .section > * { overflow: hidden; }

/*.iBook p { margin: 0 0 3px 0; line-height: 1.4em; }*/

.iBook .chessBoard.small { float: left; }
.iBook .chessBoard.analysis { margin-left: 10%; margin-top: 10px; }
.iBook .chessBoard { margin-right: 10px; margin-bottom: 10px; clear: left; line-height: 10px; }

.iBook .line0 { color: #0187C5; }
.iBook .line0, .iBook .line1, .iBook .line2, .iBook .line3, .iBook .line4,
.iBook .line5, .iBook .line6, .iBook .line7 { cursor: pointer; text-decoration: none; font-weight: bold; padding: 1px 1px; }
.iBook .line0.current_move { background: #0187C5; color: #fff; }
.iBook .line1 { color: #00435B; }
.iBook .line1.current_move { background: #00435B; color: #fff; }
.iBook .line2 { color: #753A00; }
.iBook .line2.current_move { background: #753A00; color: #fff; }
.iBook .line3 { color: #350A0F; }
.iBook .line3.current_move { background: #350A0F; color: #fff; }
.iBook .line4 { color: #A4A46F; }
.iBook .line4.current_move { background: #A4A46F; color: #fff; }
.iBook .line5 { color: #9370DB; }
.iBook .line5.current_move { background: #9370DB; color: #fff; }
.iBook .line6 { color: #008B8B; }
.iBook .line6.current_move { background: #008B8B; color: #fff; }

.iBook .line7.current_move { background: #444; color: #fff; }

.iBook .line0:hover, .iBook .line1:hover, .iBook .line2:hover, 
.iBook .line3:hover, .iBook .line4:hover, .iBook .line5:hover,
.iBook .line6:hover, .iBook .line7:hover { text-decoration: underline; }

.ellipsis0 { color: #0187C5; }
.ellipsis1 { color: #00435B; }
.ellipsis0, .ellipsis1  { text-decoration: none; font-weight: bold; padding: 1px 1px; }