/*----------------------------------------------------------
The base color for this template is #5c87b2. If you'd like
to use a different color start by replacing all instances of
#5c87b2 with your new color.
----------------------------------------------------------*/

body {
  background-color: #f5f5f5;
  font-size: 10pt;
  font-family: "Lucida Grande" , Arial, Helvetica, Verdana, sans-serif;
  margin: 40px auto;
  color: black;
  max-width:900px;
}

.white { color:#fff;}

a { color: #0187C5; text-decoration: underline; }
a:visited { color: #0187C5; }

a.bold { text-decoration: none; font-weight: bold; }
a.bold.white { text-decoration: none; font-weight: bold; color:fff;}
a.bold:hover { text-decoration: underline; }
a.bold.white:hover { text-decoration: underline; }

a.visit:visited { color: #386C7A; }

a:hover { color: #0187C5; text-decoration: underline; }
a:active { color: #B50D07; }

h2 a { color: #7F511D; text-decoration: none; border-bottom: solid 1px #7F511D; }
h3 a { color: #696969; text-decoration: none; }
h3 a:hover { text-decoration: none; border-bottom: solid 1px #0187C5; }
h2 a:hover { color: #D51007; text-decoration: none; border-bottom: none; }
h2 a:visited { color: #7F511D; }

/* HEADINGS   
----------------------------------------------------------*/
h1, h2, h3, h4, h5, h6 { color: #000; line-height: 1.5em; /*margin: 0 0 15px 0;*/ }

h1 { font-size: 1.6em; padding-bottom: 10px; border-bottom: solid 1px #ccc; }
h2 { font-size: 1.3em; color: #7F511D; }
h3 { font-size: 1.2em; }
h4 { font-size: 1.1em; }
h5, h6 { font-size: 1em; }

/* this rule styles <h2> tags that are the 
first child of the left and right table columns */
.rightColumn > h1, .rightColumn > h2, .leftColumn > h1, .leftColumn > h2 { margin-top: 0; }

/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/

/* you can specify a greater or lesser percentage for the 
page width. Or, you can specify an exact pixel width. */

.page { box-shadow: 0px 0px 6px #ccc; margin-top: 10px; margin-bottom: 10px; border: solid 1px #ccc; padding: 0; border-radius: 2px; background-color: White; }
.page_wrapper { width: 1000px; margin-left: auto; margin-right: auto; }

.col20 { width: 20%; }
.col25 { width: 25%; }
.col30 { width: 30%; }
.col40 { width: 40%; }
.col50 { width: 50%; }
.col60 { width: 60%; }
.col70 { width: 70%; }
.col75 { width: 75%; }
.col80 { width: 80%; }

/* TABLE
----------------------------------------------------------*/

table { border: solid 1px #f0f0f0; border-collapse: collapse; font-size: inherit; }
table td { padding: 5px; border: solid 1px #f0f0f0; }
table th { padding: 6px 5px; text-align: left; background-color: #f0f0f0; border: solid 1px #f0f0f0; text-shadow: 1px 1px white; }

/* MISC  
----------------------------------------------------------*/
hr { border-bottom: solid 1px #ccc; border-top: none; border-left: none; border-right: none; color: #ccc; height: 1px; }

.clear { clear: both; }
.error { color: Red; }

.flash_message { border: solid 1px #9BCAD5; background-color: #E4F3FE; padding: 10px; margin-bottom: 20px; box-shadow: 1px 1px 2px #EEE; }
.important_message { border: solid 1px #F7C735; background-color: #FFFFAA; padding: 10px; margin-bottom: 20px; box-shadow: 1px 1px 2px #EEE; }

.message { padding: 10px; margin-bottom: 10px; box-shadow: 1px 1px 2px #EEE; }
.message.icon { background-position: 10px center; background-repeat: no-repeat; padding-left: 50px; } 
.message.notification { border: solid 1px #9BCAD5; background-color: #E4F3FE; }
.message.warning { border: solid 1px #F7C735; background-color: #FFFFAA; }

.header-bottom { padding-right: 1px; }
.header-bottom .message { border-top: none; border-right: none; border-left: none; margin: 0px; }

.feature_plan { float: left; margin-right: 20px; border: solid 1px #ccc; padding: 0px; width: 270px; box-shadow: 1px 1px 2px #EEE; }
.feature_plan.highlighted { border: solid 1px #F7C735; }
.feature_plan.highlighted th { background-color: #FFFFAA; }

.advertising { text-align: center; }

.width100 { width: 100%; }
.borderless { border: 0; }

.blank-board { float: left; margin-right: 10px; }

/* .container { overflow: hidden; margin-bottom: 10px; } */


