{% extends '../../base.htm' %}
{% load static %}
{% block title %}
<title>Задачи 1-10 | {{book.title}} | {%for author in book.authors.all%} {%if author.first_name%} {{author.first_name}} {%endif%} {%if author.second_name%} {{author.second_name}} {%endif%} {%if forloop.counter == book.authors.all.count%} {{author.last_name}} {%else%} {{author.last_name}}, {%endif%} {%endfor%} | {{book.year}}</title>
{% endblock title %}
{% block content %}

<div class="iBook">

<div class="section">
<p class="zadacha">1. Какого цвета поля c3, d5, f6, g8, h2?</p>
<div class="score">
<div class="spoiler-wrap">
  <div class="spoiler-head folded">Решение</div>
  <div class="spoiler-body">
<p>[...страница отсутствует...]</p>
  </div>
</div> <!-- spoiler-wrap -->
</div> <!-- score -->
</div>

<div class="section">
<p class="zadacha">2. На каком поле пересекаются диагонали a4-e8 и h3-c8?</p>
<div class="score">
<div class="spoiler-wrap">
  <div class="spoiler-head folded">Решение</div>
  <div class="spoiler-body">
<p>[...страница отсутствует...]</p>
  </div>
</div> <!-- spoiler-wrap -->
</div> <!-- score -->
</div>

<div class="section">
<p class="zadacha">3. Пересекаются ли диагонали a3-f8 и g1-a7 и диагонали b1-h7 и h4-d8?</p>
<div class="score">
<div class="spoiler-wrap">
  <div class="spoiler-head folded">Решение</div>
  <div class="spoiler-body">
<p>[...страница отсутствует...]</p>
  </div>
</div> <!-- spoiler-wrap -->
</div> <!-- score -->
</div>

<div class="section">
<p class="zadacha">4. На каком поле пересекается диагональ e1-а5 и четвертая горизонталь?</p>
<div class="score">
<div class="spoiler-wrap">
  <div class="spoiler-head folded">Решение</div>
  <div class="spoiler-body">
<p>[...страница отсутствует...]</p>
  </div>
</div> <!-- spoiler-wrap -->
</div> <!-- score -->
</div>

<div class="section">
<p class="zadacha">5. На каком поле пересекается диагональ a2-g8 и вертикаль «е»?</p>
<div class="score">
<div class="spoiler-wrap">
  <div class="spoiler-head folded">Решение</div>
  <div class="spoiler-body">
<p>[...страница отсутствует...]</p>
  </div>
</div> <!-- spoiler-wrap -->
</div> <!-- score -->
</div>

<div class="section">
<p class="zadacha">6. Какие диагонали проходят через поле f4 и какого они цвета?</p>
<div class="score">
<div class="spoiler-wrap">
  <div class="spoiler-head folded">Решение</div>
  <div class="spoiler-body">
<p>[...страница отсутствует...]</p>
  </div>
</div> <!-- spoiler-wrap -->
</div> <!-- score -->
</div>

<div class="section">
<p class="zadacha">7. Назовите все поля диагонали c1-h6. Какого они цвета?</p>
<div class="score">
<div class="spoiler-wrap">
  <div class="spoiler-head folded">Решение</div>
  <div class="spoiler-body">
<p>[...страница отсутствует...]</p>
  </div>
</div> <!-- spoiler-wrap -->
</div> <!-- score -->
</div> <!-- section -->

<div class="section">
<p class="zadacha">8. Постройте на доске в любом месте квадрат, сторона которого состоит из пяти полей. Сколько полей имеет диагональ такого квадрата?</p>
<div class="score">
<div class="spoiler-wrap">
  <div class="spoiler-head folded">Решение</div>
  <div class="spoiler-body">
<p>[...страница отсутствует...]</p>
  </div>
</div> <!-- spoiler-wrap -->
</div> <!-- score -->
</div> <!-- section -->

<div class="section">
<p class="zadacha">9. За сколько ходов пешка со своего начального поля может достигнуть последней горизонтали и превратиться в фигуру?</p>
<div class="score">
<div class="spoiler-wrap">
  <div class="spoiler-head folded">Решение</div>
  <div class="spoiler-body">
<p>[...страница отсутствует...]</p>
  </div>
</div> <!-- spoiler-wrap -->
</div> <!-- score -->
</div> <!-- section -->

<div class="section">
<p class="zadacha">10. На какой горизонтали должна стоять черная пешка, чтобы иметь право брать на проходе, если представится возможность?</p>
<div class="score">
<div class="spoiler-wrap">
  <div class="spoiler-head folded">Решение</div>
  <div class="spoiler-body">
<p>[...страница отсутствует...]</p>
<p>...ной доске в алгебраической нотации всегда ведутс¤ со стороны белых.</p>
  </div>
</div> <!-- spoiler-wrap -->
</div> <!-- score -->
</div> <!-- section -->

</div> <!-- iBook -->

{% endblock content %}

