{% extends '../../base.htm' %}
{% load static %}
{% block title %}
<title>№6. Ферзевый гамбит И. ЦУКЕРТОРТ - В. СТЕЙНИЦ Матч на первенство мира, 7-я партия, Сент-Луис, 1886 | {{book.title}} | {%for author in book.authors.all%} {%if author.first_name%} {{author.first_name}} {%endif%} {%if author.second_name%} {{author.second_name}} {%endif%} {%if forloop.counter == book.authors.all.count%} {{author.last_name}} {%else%} {{author.last_name}}, {%endif%} {%endfor%} | {{book.year}}</title>
{% endblock title %}
{% block content %}

<div class="iBook">
{% include '../../snippet_litres_banner1.htm' %}

<div class="section">
<div class="chessBoard small floater" data-start-fen="rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w KQkq - 0 1"></div>
<div class="score">
 <span class="line0" onclick='loadMove("rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w KQkq - 0 1", this, ""); '>[...]</span> 
<p class="capTop diagram">№6. <i>Ферзевый гамбит</i><br /><strong>И. ЦУКЕРТОРТ - В. СТЕЙНИЦ</strong><br />Матч на первенство мира, 7-я партия, Сент-Луис, 1886</p>
<p>
 <span onclick='loadMove("rnbqkbnr/pppppppp/8/8/3P4/8/PPP1PPPP/RNBQKBNR b KQkq d3 0 1", this, "d2d4"); ' class="line0">1.d4</span> 
 <span onclick='loadMove("rnbqkbnr/ppp1pppp/8/3p4/3P4/8/PPP1PPPP/RNBQKBNR w KQkq d6 0 2", this, "d7d5"); ' class="line0">d5</span> 
 <span onclick='loadMove("rnbqkbnr/ppp1pppp/8/3p4/2PP4/8/PP2PPPP/RNBQKBNR b KQkq c3 0 2", this, "c2c4"); ' class="line0">2.c4</span> 
 <span onclick='loadMove("rnbqkbnr/ppp2ppp/4p3/3p4/2PP4/8/PP2PPPP/RNBQKBNR w KQkq - 0 3", this, "e7e6"); ' class="line0">e6</span> 
 <span onclick='loadMove("rnbqkbnr/ppp2ppp/4p3/3p4/2PP4/2N5/PP2PPPP/R1BQKBNR b KQkq - 0 3", this, "b1c3"); ' class="line0">3.Кc3</span> 
 <span onclick='loadMove("rnbqkb1r/ppp2ppp/4pn2/3p4/2PP4/2N5/PP2PPPP/R1BQKBNR w KQkq - 0 4", this, "g8f6"); ' class="line0">Кf6</span> 
 <span onclick='loadMove("rnbqkb1r/ppp2ppp/4pn2/3p4/2PP4/2N1P3/PP3PPP/R1BQKBNR b KQkq - 0 4", this, "e2e3"); ' class="line0">4.e3</span> 
 <span onclick='loadMove("rnbqkb1r/pp3ppp/4pn2/2pp4/2PP4/2N1P3/PP3PPP/R1BQKBNR w KQkq c6 0 5", this, "c7c5"); ' class="line0">c5</span> 
 <span onclick='loadMove("rnbqkb1r/pp3ppp/4pn2/2pp4/2PP4/2N1PN2/PP3PPP/R1BQKB1R b KQkq - 0 5", this, "g1f3"); ' class="line0">5.Кf3</span> 
 <span onclick='loadMove("r1bqkb1r/pp3ppp/2n1pn2/2pp4/2PP4/2N1PN2/PP3PPP/R1BQKB1R w KQkq - 0 6", this, "b8c6"); ' class="line0">Кc6</span> 
 <span onclick='loadMove("r1bqkb1r/pp3ppp/2n1pn2/2pp4/2PP4/P1N1PN2/1P3PPP/R1BQKB1R b KQkq - 0 6", this, "a2a3"); ' class="line0">6.a3</span> 
 <span onclick='loadMove("r1bqkb1r/pp3ppp/2n1pn2/2p5/2pP4/P1N1PN2/1P3PPP/R1BQKB1R w KQkq - 0 7", this, "d5c4"); ' class="line0">dc</span> 
 <span onclick='loadMove("r1bqkb1r/pp3ppp/2n1pn2/2p5/2BP4/P1N1PN2/1P3PPP/R1BQK2R b KQkq - 0 7", this, "f1c4"); ' class="line0">7.С:c4</span> 
 <span onclick='loadMove("r1bqkb1r/pp3ppp/2n1pn2/8/2Bp4/P1N1PN2/1P3PPP/R1BQK2R w KQkq - 0 8", this, "c5d4"); ' class="line0">cd</span> 
 <span onclick='loadMove("r1bqkb1r/pp3ppp/2n1pn2/8/2BP4/P1N2N2/1P3PPP/R1BQK2R b KQkq - 0 8", this, "e3d4"); ' class="line0">8.ed</span> 
 <span onclick='loadMove("r1bqk2r/pp2bppp/2n1pn2/8/2BP4/P1N2N2/1P3PPP/R1BQK2R w KQkq - 0 9", this, "f8e7"); ' class="line0">Сe7</span> 
 <span onclick='loadMove("r1bqk2r/pp2bppp/2n1pn2/8/2BP4/P1N2N2/1P3PPP/R1BQ1RK1 b kq - 0 9", this, "e1g1"); ' class="line0">9.0-0</span> 
 <span onclick='loadMove("r1bq1rk1/pp2bppp/2n1pn2/8/2BP4/P1N2N2/1P3PPP/R1BQ1RK1 w - - 0 10", this, "e8g8"); ' class="line0">0-0</span> 
 <span onclick='loadMove("r1bq1rk1/pp2bppp/2n1pn2/8/2BP4/P1N1BN2/1P3PPP/R2Q1RK1 b - - 0 10", this, "c1e3"); ' class="line0">10.Сe3</span> 
.</p>
<p>Не самое подходящее место для слона, обычно его развивают на g5. Теперь Стейниц начинает планомерную осаду пешка d4 — типичный план борьбы с «изолятором».</p>
<p>
 <span onclick='loadMove("r2q1rk1/pp1bbppp/2n1pn2/8/2BP4/P1N1BN2/1P3PPP/R2Q1RK1 w - - 0 11", this, "c8d7"); ' class="line0">10...Сd7</span> 
 <span onclick='loadMove("r2q1rk1/pp1bbppp/2n1pn2/8/2BP4/P1NQBN2/1P3PPP/R4RK1 b - - 0 11", this, "d1d3"); ' class="line0">11.Фd3</span> 
 <span onclick='loadMove("2rq1rk1/pp1bbppp/2n1pn2/8/2BP4/P1NQBN2/1P3PPP/R4RK1 w - - 0 12", this, "a8c8"); ' class="line0">Лc8</span> 
 <span onclick='loadMove("2rq1rk1/pp1bbppp/2n1pn2/8/2BP4/P1NQBN2/1P3PPP/2R2RK1 b - - 0 12", this, "a1c1"); ' class="line0">12.Лac1</span> 
.</p>
<p>В подобных позициях всегда возникает проблема, на каких линиях «с», «d» и «е», расположить ладьи белым и черным. Пожалуй, здесь для ферзевой ладьи больше подходит поле d1.</p>
<p>
 <span onclick='loadMove("2r2rk1/pp1bbppp/2n1pn2/q7/2BP4/P1NQBN2/1P3PPP/2R2RK1 w - - 0 13", this, "d8a5"); ' class="line0">12...Фa5</span> 
 <span onclick='loadMove("2r2rk1/pp1bbppp/2n1pn2/q7/3P4/P1NQBN2/BP3PPP/2R2RK1 b - - 0 13", this, "c4a2"); ' class="line0">13.Сa2</span> 
.</p>
<p>И белые действуют по известным рецептам — изолированная пешка дает богатые ресурсы в атаке на неприятельского короля.</p>
<p>
 <span onclick='loadMove("2rr2k1/pp1bbppp/2n1pn2/q7/3P4/P1NQBN2/BP3PPP/2R2RK1 w - - 0 14", this, "f8d8"); ' class="line0">13...Лfd8</span> 
 <span onclick='loadMove("2rr2k1/pp1bbppp/2n1pn2/q7/3P4/P1NQBN2/BP3PPP/2R1R1K1 b - - 0 14", this, "f1e1"); ' class="line0">14.Лfe1</span> 
.</p>
<p>Теперь королевской ладье точнее было сразу занять поле d1.</p>
<p>
 <span onclick='loadMove("2rrb1k1/pp2bppp/2n1pn2/q7/3P4/P1NQBN2/BP3PPP/2R1R1K1 w - - 0 15", this, "d7e8"); ' class="line0">14...Сe8</span> 
 <span onclick='loadMove("2rrb1k1/pp2bppp/2n1pn2/q7/3P4/P1NQBN2/1P3PPP/1BR1R1K1 b - - 0 15", this, "a2b1"); ' class="line0">15.Сb1</span> 
 <span onclick='loadMove("2rrb1k1/pp2bp1p/2n1pnp1/q7/3P4/P1NQBN2/1P3PPP/1BR1R1K1 w - - 0 16", this, "g7g6"); ' class="line0">g6</span> 
 <span onclick='loadMove("2rrb1k1/pp2bp1p/2n1pnp1/q7/3P4/P1N1BN2/1P2QPPP/1BR1R1K1 b - - 0 16", this, "d3e2"); ' class="line0">16.Фe2</span> 
 <span onclick='loadMove("2rrbbk1/pp3p1p/2n1pnp1/q7/3P4/P1N1BN2/1P2QPPP/1BR1R1K1 w - - 0 17", this, "e7f8"); ' class="line0">Сf8</span> 
 <span onclick='loadMove("2rrbbk1/pp3p1p/2n1pnp1/q7/3P4/P1N1BN2/1P2QPPP/1BRR2K1 b - - 0 17", this, "e1d1"); ' class="line0">17.Лed1</span> 
 <span onclick='loadMove("2rrb1k1/pp3pbp/2n1pnp1/q7/3P4/P1N1BN2/1P2QPPP/1BRR2K1 w - - 0 18", this, "f8g7"); ' class="line0">Сg7</span> 
 <span onclick='loadMove("2rrb1k1/pp3pbp/2n1pnp1/q7/3P4/P1N1BN2/BP2QPPP/2RR2K1 b - - 0 18", this, "b1a2"); ' class="line0">18.Сa2</span> 
 <span onclick='loadMove("2rrb1k1/pp2npbp/4pnp1/q7/3P4/P1N1BN2/BP2QPPP/2RR2K1 w - - 0 19", this, "c6e7"); ' class="line0">Кe7</span> 
.</p>
<p>Стейниц выстроил надежную крепость, и никакие тактические
<!--p>14</p><p>Все чемпионы мира по шахматам</p-->
ухищрения не позволяют противнику пробить ее.</p>
<p>
 <span onclick='loadMove("2rrb1k1/pp2npbp/4pnp1/q7/3P4/P1N1BN2/BP1Q1PPP/2RR2K1 b - - 0 19", this, "e2d2"); ' class="line0">19.Фd2</span> 
.</p>
<p>Белым следовало признать дебютную неточность и немедленно переместить своего слона на g5 (
 <span onclick='loadMove("2rrb1k1/pp2npbp/4pnp1/q5B1/3P4/P1N2N2/BP2QPPP/2RR2K1 b - - 0 19", this, "e3g5"); ' class="line1">19.Сg5</span> 
 <span onclick='loadMove("2rrb1k1/pp3pbp/4pnp1/q4nB1/3P4/P1N2N2/BP2QPPP/2RR2K1 w - - 0 20", this, "e7f5"); ' class="line1">Кf5</span> 
 <span onclick='loadMove("2rrb1k1/pp3pbp/4pnp1/q2P1nB1/8/P1N2N2/BP2QPPP/2RR2K1 b - - 0 20", this, "d4d5"); ' class="line1">20.d5!</span> 
).</p>
<p>
 <span onclick='loadMove("2rrb1k1/pp2npbp/q3pnp1/8/3P4/P1N1BN2/BP1Q1PPP/2RR2K1 w - - 0 20", this, "a5a6"); ' class="line0">19...Фa6!</span> 
 <span onclick='loadMove("2rrb1k1/pp2npbp/q3pnp1/6B1/3P4/P1N2N2/BP1Q1PPP/2RR2K1 b - - 0 20", this, "e3g5"); ' class="line0">20.Сg5</span> 
 <span onclick='loadMove("2rrb1k1/pp3pbp/q3pnp1/5nB1/3P4/P1N2N2/BP1Q1PPP/2RR2K1 w - - 0 21", this, "e7f5"); ' class="line0">Кf5</span> 
 <span onclick='loadMove("2rrb1k1/pp3pbp/q3pnp1/5nB1/3P2P1/P1N2N2/BP1Q1P1P/2RR2K1 b - g3 0 21", this, "g2g4"); ' class="line0">21.g4?</span> 
</p>
<p>Белые рассчитывали на отступление коня
 <span onclick='loadMove("2rrb1k1/pp3pbp/q3pnp1/5nB1/3P2P1/P1N2N2/BP1Q1P1P/2RR2K1 w - - 0 22", this, "g2g4"); ' class="line1">21...z0</span> 
и далее
 <span onclick='loadMove("2rrb1k1/pp3pbp/q3pnp1/5nB1/3P1QP1/P1N2N2/BP3P1P/2RR2K1 b - - 0 22", this, "d2f4"); ' class="line1">22.Фf4</span> 
. Но их ждет горькое разочарование — эффектный удар конем позволяет противнику провести тактическую операцию и путем ряда разменов перейти в выгодный эндшпиль.</p>
<div class="chessBoard analysis nobuttons" data-start-fen="2rrb1k1/pp3pbp/q3pnp1/5nB1/3P2P1/P1N2N2/BP1Q1P1P/2RR2K1 b - g3 0 21"></div>
<p>
 <span onclick='loadMove("2rrb1k1/pp3pbp/q3pnp1/6B1/3n2P1/P1N2N2/BP1Q1P1P/2RR2K1 w - - 0 22", this, "f5d4"); ' class="line0">21...К:d4!</span> 
 <span onclick='loadMove("2rrb1k1/pp3pbp/q3pnp1/6B1/3N2P1/P1N5/BP1Q1P1P/2RR2K1 b - - 0 22", this, "f3d4"); ' class="line0">22.К:d4</span> 
 <span onclick='loadMove("2rrb1k1/pp3pbp/q4np1/4p1B1/3N2P1/P1N5/BP1Q1P1P/2RR2K1 w - - 0 23", this, "e6e5"); ' class="line0">e5</span> 
 <span onclick='loadMove("2rrb1k1/pp3pbp/q4np1/3Np1B1/3N2P1/P7/BP1Q1P1P/2RR2K1 b - - 0 23", this, "c3d5"); ' class="line0">23.Кd5</span> 
 <span onclick='loadMove("3rb1k1/pp3pbp/q4np1/3Np1B1/3N2P1/P7/BP1Q1P1P/2rR2K1 w - - 0 24", this, "c8c1"); ' class="line0">Л:c1</span> 
 <span onclick='loadMove("3rb1k1/pp3pbp/q4np1/3Np1B1/3N2P1/P7/BP3P1P/2QR2K1 b - - 0 24", this, "d2c1"); ' class="line0">24.Ф:c1</span> 
 <span onclick='loadMove("3rb1k1/pp3pbp/q4np1/3N2B1/3p2P1/P7/BP3P1P/2QR2K1 w - - 0 25", this, "e5d4"); ' class="line0">ed</span> 
 <span onclick='loadMove("3rb1k1/pp3pbp/q4np1/3N2B1/3R2P1/P7/BP3P1P/2Q3K1 b - - 0 25", this, "d1d4"); ' class="line0">25.Л:d4</span> 
 <span onclick='loadMove("3rb1k1/pp3pbp/q5p1/3n2B1/3R2P1/P7/BP3P1P/2Q3K1 w - - 0 26", this, "f6d5"); ' class="line0">К:d5</span> 
 <span onclick='loadMove("3rb1k1/pp3pbp/q5p1/3R2B1/6P1/P7/BP3P1P/2Q3K1 b - - 0 26", this, "d4d5"); ' class="line0">26.Л:d5</span> 
 <span onclick='loadMove("4b1k1/pp3pbp/q5p1/3r2B1/6P1/P7/BP3P1P/2Q3K1 w - - 0 27", this, "d8d5"); ' class="line0">Л:d5</span> 
 <span onclick='loadMove("4b1k1/pp3pbp/q5p1/3B2B1/6P1/P7/1P3P1P/2Q3K1 b - - 0 27", this, "a2d5"); ' class="line0">27.С:d5</span> 
 <span onclick='loadMove("4b1k1/pp3pbp/6p1/3B2B1/6P1/P7/1P2qP1P/2Q3K1 w - - 0 28", this, "a6e2"); ' class="line0">Фe2!</span> 
</p>
<p>Изящно используя неустроенность неприятельского короля.</p>
<p>
 <span onclick='loadMove("4b1k1/pp3pbp/6p1/3B2B1/6P1/P6P/1P2qP2/2Q3K1 b - - 0 28", this, "h2h3"); ' class="line0">28.h3</span> 
 <span onclick='loadMove("4b1k1/pp3pb1/6pp/3B2B1/6P1/P6P/1P2qP2/2Q3K1 w - - 0 29", this, "h7h6"); ' class="line0">h6</span> 
.</p>
<p>Сразу к цели вело
 <span onclick='loadMove("4b1k1/pp3p1p/6p1/3B2B1/6P1/P6P/1b2qP2/2Q3K1 w - - 0 29", this, "g7b2"); ' class="line1">28...С:b2</span> 
 <span onclick='loadMove("4b1k1/pp3p1p/6p1/2QB2B1/6P1/P6P/1b2qP2/6K1 b - - 0 29", this, "c1c5"); ' class="line1">29.Фc5</span> 
 <span onclick='loadMove("4b1k1/pp3p1p/6p1/2QB2B1/6P1/P6P/1b3P2/3q2K1 w - - 0 30", this, "e2d1"); ' class="line1">Фd1+</span> 
 <span onclick='loadMove("4b1k1/pp3p1p/6p1/2QB2B1/6P1/P6P/1b3P1K/3q4 b - - 0 30", this, "g1h2"); ' class="line1">30.Крh2</span> 
 <span onclick='loadMove("4b1k1/pp3p1p/6p1/2QBb1B1/6P1/P6P/5P1K/3q4 w - - 0 31", this, "b2e5"); ' class="line1">Сe5+</span> 
 <span onclick='loadMove("4b1k1/pp3p1p/6p1/2QBb1B1/6P1/P6P/5PK1/3q4 b - - 0 31", this, "h2g2"); ' class="line1">31.Крg2</span> 
 <span onclick='loadMove("4b1k1/pp3p1p/6p1/2Qqb1B1/6P1/P6P/5PK1/8 w - - 0 32", this, "d1d5"); ' class="line1">Ф:d5+</span> 
 <span onclick='loadMove("4b1k1/pp3p1p/6p1/3Qb1B1/6P1/P6P/5PK1/8 b - - 0 32", this, "c5d5"); ' class="line1">32.Ф:d5</span> 
 <span onclick='loadMove("6k1/pp3p1p/2b3p1/3Qb1B1/6P1/P6P/5PK1/8 w - - 0 33", this, "e8c6"); ' class="line1">Сc6</span> 
,
или
 <span onclick='loadMove("2Q1b1k1/pp3p1p/6p1/3B2B1/6P1/P6P/1b2qP2/6K1 b - - 0 29", this, "c1c8"); ' class="line2">29.Фc8</span> 
 <span onclick='loadMove("2Q1b1k1/pp3p1p/6p1/3B2B1/6P1/P6P/1b3P2/3q2K1 w - - 0 30", this, "e2d1"); ' class="line2">Фd1+</span> 
 <span onclick='loadMove("2Q1b1k1/pp3p1p/6p1/3B2B1/6P1/P6P/1b3P1K/3q4 b - - 0 30", this, "g1h2"); ' class="line2">30.Крh2</span> 
 <span onclick='loadMove("2Q1b1k1/pp3p1p/6p1/3Bb1B1/6P1/P6P/5P1K/3q4 w - - 0 31", this, "b2e5"); ' class="line2">Сe5+</span> 
 <span onclick='loadMove("2Q1b1k1/pp3p1p/6p1/3Bb1B1/5PP1/P6P/7K/3q4 b - f3 0 31", this, "f2f4"); ' class="line2">31.f4</span> 
 <span onclick='loadMove("2Q1b1k1/pp3p1p/6p1/3Bb1B1/5PP1/P6P/3q3K/8 w - - 0 32", this, "d1d2"); ' class="line2">Фd2+</span> 
 <span onclick='loadMove("2Q1b1k1/pp3p1p/6p1/3Bb1B1/5PP1/P5KP/3q4/8 b - - 0 32", this, "h2g3"); ' class="line2">32.Крg3</span> 
 <span onclick='loadMove("2Q1b1k1/pp3p1p/6p1/3Bb1B1/5PP1/P3q1KP/8/8 w - - 0 33", this, "d2e3"); ' class="line2">Фe3+</span> 
 <span onclick='loadMove("2Q1b1k1/pp3p1p/6p1/3Bb1B1/5PP1/P3q2P/6K1/8 b - - 0 33", this, "g3g2"); ' class="line2">33.Крg2</span> 
 <span onclick='loadMove("2Q1b1k1/pp3p1p/6p1/3Bb1B1/5PP1/P6P/4q1K1/8 w - - 0 34", this, "e3e2"); ' class="line2">Фe2+</span> 
 <span onclick='loadMove("2Q1b1k1/pp3p1p/6p1/3Bb1B1/5PP1/P5KP/4q3/8 b - - 0 34", this, "g2g3"); ' class="line2">34.Крg3</span> 
 <span onclick='loadMove("2Q1b1k1/pp3p1p/6p1/3B2B1/3b1PP1/P5KP/4q3/8 w - - 0 35", this, "e5d4"); ' class="line2">Сd4</span> 
 <span onclick='loadMove("2Q1b1k1/pp3p1p/6p1/3B2B1/3b1PPP/P5K1/4q3/8 b - - 0 35", this, "h3h4"); ' class="line2">35.h4</span> 
 <span onclick='loadMove("2Q1b1k1/pp3p1p/6p1/3B2B1/5PPP/P5K1/4qb2/8 w - - 0 36", this, "d4f2"); ' class="line2">Сf2+</span> 
с быстрым матом.</p>
<p>
 <span onclick='loadMove("4b1k1/pp3pb1/6pp/6B1/2B3P1/P6P/1P2qP2/2Q3K1 b - - 0 29", this, "d5c4"); ' class="line0">29.Сc4?</span> 
</p>
<p>Необходимо было
 <span onclick='loadMove("4b1k1/pp3pb1/6pp/3B4/6P1/P3B2P/1P2qP2/2Q3K1 b - - 0 29", this, "g5e3"); ' class="line1">29.Сe3!</span> 
с шансами на ничью. Теперь же, несмотря на  материальное равенство в окончании, Стейниц создает матовое кольцо.</p>
<p>
 <span onclick='loadMove("4b1k1/pp3pb1/6pp/6B1/2B3P1/P4q1P/1P3P2/2Q3K1 w - - 0 30", this, "e2f3"); ' class="line0">29...Фf3</span> 
 <span onclick='loadMove("4b1k1/pp3pb1/6pp/6B1/2B3P1/P3Qq1P/1P3P2/6K1 b - - 0 30", this, "c1e3"); ' class="line0">30.Фe3</span> 
 <span onclick='loadMove("4b1k1/pp3pb1/6pp/6B1/2B3P1/P3Q2P/1P3P2/3q2K1 w - - 0 31", this, "f3d1"); ' class="line0">Фd1+</span> 
 <span onclick='loadMove("4b1k1/pp3pb1/6pp/6B1/2B3P1/P3Q2P/1P3P1K/3q4 b - - 0 31", this, "g1h2"); ' class="line0">31.Крh2</span> 
 <span onclick='loadMove("6k1/pp3pb1/2b3pp/6B1/2B3P1/P3Q2P/1P3P1K/3q4 w - - 0 32", this, "e8c6"); ' class="line0">Сc6</span> 
 <span onclick='loadMove("6k1/pp2Bpb1/2b3pp/8/2B3P1/P3Q2P/1P3P1K/3q4 b - - 0 32", this, "g5e7"); ' class="line0">32.Сe7</span> 
 <span onclick='loadMove("6k1/pp2Bp2/2b3pp/4b3/2B3P1/P3Q2P/1P3P1K/3q4 w - - 0 33", this, "g7e5"); ' class="line0">Сe5+!</span> 
 <span onclick='loadMove("6k1/pp2Bp2/2b3pp/4b3/2B2PP1/P3Q2P/1P5K/3q4 b - f3 0 33", this, "f2f4"); ' class="line0">33.f4</span> 
.</p>
<p>Слон неуязвим:
 <span onclick='loadMove("6k1/pp2Bp2/2b3pp/4Q3/2B3P1/P6P/1P3P1K/3q4 b - - 0 33", this, "e3e5"); ' class="line1">33.Ф:e5</span> 
 <span onclick='loadMove("6k1/pp2Bp2/2b3pp/4Q3/2B3P1/P6P/1P3P1K/7q w - - 0 34", this, "d1h1"); ' class="line1">Фh1+</span> 
 <span onclick='loadMove("6k1/pp2Bp2/2b3pp/4Q3/2B3P1/P5KP/1P3P2/7q b - - 0 34", this, "h2g3"); ' class="line1">34.Крg3</span> 
 <span onclick='loadMove("6k1/pp2Bp2/2b3pp/4Q3/2B3P1/P5KP/1P3Pq1/8 w - - 0 35", this, "h1g2"); ' class="line1">Фg2+</span> 
 <span onclick='loadMove("6k1/pp2Bp2/2b3pp/4Q3/2B3PK/P6P/1P3Pq1/8 b - - 0 35", this, "g3h4"); ' class="line1">35.Крh4</span> 
 <span onclick='loadMove("6k1/pp2Bp2/2b3pp/4Q3/2B3PK/P6P/1P3q2/8 w - - 0 36", this, "g2f2"); ' class="line1">Ф:f2+</span> 
 <span onclick='loadMove("6k1/pp2Bp2/2b3pp/8/2B3PK/P5QP/1P3q2/8 b - - 0 36", this, "e5g3"); ' class="line1">36.Фg3</span> 
 <span onclick='loadMove("6k1/pp2Bp2/2b4p/6p1/2B3PK/P5QP/1P3q2/8 w - - 0 37", this, "g6g5"); ' class="line1">g5+</span> 
.</p>
<p>
 <span onclick='loadMove("6k1/pp2Bp2/2b3pp/8/2B2bP1/P3Q2P/1P5K/3q4 w - - 0 34", this, "e5f4"); ' class="line0">33...С:f4+</span> 
 <span onclick='loadMove("6k1/pp2Bp2/2b3pp/8/2B2QP1/P6P/1P5K/3q4 b - - 0 34", this, "e3f4"); ' class="line0">34.Ф:f4</span> 
 <span onclick='loadMove("6k1/pp2Bp2/2b3pp/8/2B2QP1/P6P/1P5K/7q w - - 0 35", this, "d1h1"); ' class="line0">Фh1+</span> 
 <span onclick='loadMove("6k1/pp2Bp2/2b3pp/8/2B2QP1/P5KP/1P6/7q b - - 0 35", this, "h2g3"); ' class="line0">35.Крg3</span> 
 <span onclick='loadMove("6k1/pp2Bp2/2b3pp/8/2B2QP1/P5KP/1P6/6q1 w - - 0 36", this, "h1g1"); ' class="line0">Фg1+</span> 
. Белые сдались.</p>
</div> <!-- score -->
</div> <!-- section -->

{% include '../../snippet_litres_banner1.htm' %}
</div> <!-- iBook -->
{% endblock content %}

