{% extends '../../base.htm' %}
{% load static %}
{% block title %}
<title>{{book.title}} | {%for author in book.authors.all%} {%if author.first_name%} {{author.first_name}} {%endif%} {%if author.second_name%} {{author.second_name}} {%endif%} {%if forloop.counter == book.authors.all.count%} {{author.last_name}} {%else%} {{author.last_name}}, {%endif%} {%endfor%} | {{book.year}}</title>
{% endblock title %}
{% block content %}

<div class="iBook">

<div class="section">
<div class="small floater">
 <img src="{% static 'images/'|add:book.slug|add:'/thumb.jpg' %}" />
</div>
<div class="score">

<div class="diagram">
<h3>Из наследия мировой философской мысли: история философии</h3>
</div>

<div class="diagram">
<h2>Johann Schultz</h2>
<h1>ERL&Auml;UTERUNGEN<br />ZU KANTS KRITIK DER REINEN VERNUNFT</h1>
</div>

<div class="diagram">
<h2>И. Шульц</h2>
<h1>РАЗЪЯСНЯЮЩЕЕ ИЗЛОЖЕНИЕ<br />«КРИТИКИ ЧИСТОГО РАЗУМА»</h1>
<h4>Руководство для чтения</h4>
<h5>Перевод<br />со второго немецкого издания<br />под редакцией Б. А. Фохта</h5>
<h5>Издание второе, исправленное</h5>
</div>

<div class="diagram">
<p>URSS</p>
<p>МОСКВА</p>
</div>

<hr />

<div class="diagram">
<p>ББК87.3</p>
</div>

<div class="diagram">
<p><b>Шульц Иоганн</b></p>
<p><b>Разъясняющее изложение «Критики чистого разума»: Руководство для чтения</b>. Пер. с нем. / Под ред. Б. А. Фохта. Изд. 2-е, испр. — М.: Книжный дом «ЛИБРОКОМ», 2010. —152 с. (Из наследия мировой философской мысли: история философии.)</p>
</div>

<div class="diagram">
<p>Вниманию читателей предлагается книга немецкого философа и математика Иоганна Шульца (1739-1805), в которой была сделана первая по времени попытка адаптировать для широкого круга читателей великую работу Иммануила Канта «Критика чистого разума». Первая часть книги содержит подробное изложение всей «Критики» ; эта часть была признана одним из лучших в Германии университетских пособий по изучению работ Канта. Во второй части содержание и ход рассуждений «Критики» излагаются снова, но по другому методу — в систематическом порядке основных проблем теоретической философии Канта.</p>
<p>Книга представляет интерес как для профессиональных философов и историков науки, так и для широкого круга читателей.</p>
</div>

<div class="diagram">
<p>Издательство «Книжный дом“ ЛИБРОКОМ”».</p>
<p>117312, Москва, пр-т Шестидесятилетия Октября, 9.</p>
<p>Формат 60x90/16. Печ. л. 9,3. Зак. № 3890.</p>
<p>Отпечатано в ООО «ЛЕНАНД».</p>
<p>117312, Москва, пр-т Шестидесятилетия Октября, 11А, стр. 11.</p>
</div>

<div class="diagram">
<b>ISBN 978-5-397-01495-3</b>
<p style="float:right;">© Книжный дом «ЛИБРОКОМ», оформление, 2010</p>
<div style="clear:both;"></div>
</div>

<div class="diagram">
<h4>НАУЧНАЯ И УЧЕБНАЯ ЛИТЕРАТУРА</h4>
<p>URSS</p>
<p>E-mall: URSS@URSS.ru</p>
<p>Каталог изданий в Интернете:</p>
<p>http://URSS.ru</p>
<p>Тел./факс: 7 (499) 135-42-16</p>
<p>Тел./факс: 7 (499) 135-42-46</p>
</div>
</div> <!-- score -->
</div> <!-- section -->

</div> <!-- iBook -->
{% endblock content %}

