{% extends '../../base.htm' %}
{% load static %}
{% block title %}
<title>Предисловие | {{book.title}} | {%for author in book.authors.all%} {%if author.first_name%} {{author.first_name}} {%endif%} {%if author.second_name%} {{author.second_name}} {%endif%} {%if forloop.counter == book.authors.all.count%} {{author.last_name}} {%else%} {{author.last_name}}, {%endif%} {%endfor%} | {{book.year}}</title>
{% endblock title %}
{% block content %}

<div class="iBook">

<div class="section">
<div class="chessBoard small floater" data-start-fen="rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w KQkq - 0 1"></div>
<div class="score">
 <span class="line0" onclick='loadMove("rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w KQkq - 0 1", this, ""); '>[...]</span> 
<h1>Предисловие</h1>
<p>Королевский гамбит - древнейший из известных в литературе гамбитов. Действительно, первая партия одной из наиболее популярных баз - это</p>
</div> <!-- score -->
</div> <!-- section -->

<a name="game1620"></a>
<div class="section">
<div class="chessBoard small floater" data-start-fen="rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w KQkq - 0 1"></div>
<div class="score">
 <span class="line0" onclick='loadMove("rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w KQkq - 0 1", this, ""); '>[...]</span> 
<p class="capTop diagram"><strong>Греко — NN</strong><br />Европа 1620</p>
<p class="longNotation">
 <span onclick='loadMove("rnbqkbnr/pppppppp/8/8/4P3/8/PPPP1PPP/RNBQKBNR b KQkq e3 0 1", this, "e2e4"); ' class="line0">1.e2-e4</span> 
 <span onclick='loadMove("rnbqkbnr/pppp1ppp/8/4p3/4P3/8/PPPP1PPP/RNBQKBNR w KQkq e6 0 2", this, "e7e5"); ' class="line0">e7-e5</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("rnbqkbnr/pppp1ppp/8/4p3/4PP2/8/PPPP2PP/RNBQKBNR b KQkq f3 0 2", this, "f2f4"); ' class="line0">2.f2-f4</span> 
 <span class="ellipsis0">...</span> 
</p>
<div class="chessBoard analysis nobuttons" data-start-fen="rnbqkbnr/pppp1ppp/8/4p3/4PP2/8/PPPP2PP/RNBQKBNR b KQkq f3 0 2"></div>
<p class="longNotation">
 <span class="ellipsis0">2. ...</span> 
 <span onclick='loadMove("rnbqkbnr/pppp1ppp/8/8/4Pp2/8/PPPP2PP/RNBQKBNR w KQkq - 0 3", this, "e5f4"); ' class="line0">e5:f4</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("rnbqkbnr/pppp1ppp/8/8/4Pp2/5N2/PPPP2PP/RNBQKB1R b KQkq - 0 3", this, "g1f3"); ' class="line0">3.Кg1-f3</span> 
 <span onclick='loadMove("rnbqkbnr/pppp1p1p/8/6p1/4Pp2/5N2/PPPP2PP/RNBQKB1R w KQkq g6 0 4", this, "g7g5"); ' class="line0">g7-g5</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("rnbqkbnr/pppp1p1p/8/6p1/2B1Pp2/5N2/PPPP2PP/RNBQK2R b KQkq - 0 4", this, "f1c4"); ' class="line0">4.Сf1-c4</span> 
 <span onclick='loadMove("rnbqkbnr/pppp1p1p/8/8/2B1Ppp1/5N2/PPPP2PP/RNBQK2R w KQkq - 0 5", this, "g5g4"); ' class="line0">g5-g4</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("rnbqkbnr/pppp1B1p/8/8/4Ppp1/5N2/PPPP2PP/RNBQK2R b KQkq - 0 5", this, "c4f7"); ' class="line0">5.Сc4:f7+</span> 
 <span onclick='loadMove("rnbq1bnr/pppp1k1p/8/8/4Ppp1/5N2/PPPP2PP/RNBQK2R w KQ - 0 6", this, "e8f7"); ' class="line0">Крe8:f7</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("rnbq1bnr/pppp1k1p/8/4N3/4Ppp1/8/PPPP2PP/RNBQK2R b KQ - 0 6", this, "f3e5"); ' class="line0">6.Кf3-e5+</span> 
 <span onclick='loadMove("rnbq1bnr/pppp3p/4k3/4N3/4Ppp1/8/PPPP2PP/RNBQK2R w KQ - 0 7", this, "f7e6"); ' class="line0">Крf7-e6</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("rnbq1bnr/pppp3p/4k3/4N3/4PpQ1/8/PPPP2PP/RNB1K2R b KQ - 0 7", this, "d1g4"); ' class="line0">7.Фd1:g4+</span> 
 <span onclick='loadMove("rnbq1bnr/pppp3p/8/4k3/4PpQ1/8/PPPP2PP/RNB1K2R w KQ - 0 8", this, "e6e5"); ' class="line0">Крe6:e5</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("rnbq1bnr/pppp3p/8/4kQ2/4Pp2/8/PPPP2PP/RNB1K2R b KQ - 0 8", this, "g4f5"); ' class="line0">8.Фg4-f5+</span> 
 <span onclick='loadMove("rnbq1bnr/pppp3p/3k4/5Q2/4Pp2/8/PPPP2PP/RNB1K2R w KQ - 0 9", this, "e5d6"); ' class="line0">Крe5-d6</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("rnbq1bnr/pppp3p/3k4/5Q2/3PPp2/8/PPP3PP/RNB1K2R b KQ d3 0 9", this, "d2d4"); ' class="line0">9.d2-d4</span> 
 <span onclick='loadMove("rnbq2nr/pppp2bp/3k4/5Q2/3PPp2/8/PPP3PP/RNB1K2R w KQ - 0 10", this, "f8g7"); ' class="line0">Сf8-g7</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("rnbq2nr/pppp2bp/3k4/5Q2/3PPB2/8/PPP3PP/RN2K2R b KQ - 0 10", this, "c1f4"); ' class="line0">10.Сc1:f4+</span> 
 <span onclick='loadMove("rnbq2nr/ppppk1bp/8/5Q2/3PPB2/8/PPP3PP/RN2K2R w KQ - 0 11", this, "d6e7"); ' class="line0">Крd6-e7</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("rnbq2nr/ppppk1bp/8/5QB1/3PP3/8/PPP3PP/RN2K2R b KQ - 0 11", this, "f4g5"); ' class="line0">11.Сf4-g5+</span> 
 <span onclick='loadMove("rnbq2nr/ppppk2p/5b2/5QB1/3PP3/8/PPP3PP/RN2K2R w KQ - 0 12", this, "g7f6"); ' class="line0">Сg7-f6</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("rnbq2nr/ppppk2p/5b2/4PQB1/3P4/8/PPP3PP/RN2K2R b KQ - 0 12", this, "e4e5"); ' class="line0">12.e4-e5</span> 
 <span onclick='loadMove("rnbq2nr/ppppk2p/8/4PQb1/3P4/8/PPP3PP/RN2K2R w KQ - 0 13", this, "f6g5"); ' class="line0">Сf6:g5</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("rnbq2nr/ppppk2p/8/4P1Q1/3P4/8/PPP3PP/RN2K2R b KQ - 0 13", this, "f5g5"); ' class="line0">13.Фf5:g5+</span> 
 <span onclick='loadMove("rnbqk1nr/pppp3p/8/4P1Q1/3P4/8/PPP3PP/RN2K2R w KQkq - 0 14", this, "e7e8"); ' class="line0">Крe7-e8</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("rnbqk1nr/pppp3p/8/4P2Q/3P4/8/PPP3PP/RN2K2R b KQkq - 0 14", this, "g5h5"); ' class="line0">14.Фg5-h5+</span> 
 <span onclick='loadMove("rnbq2nr/ppppk2p/8/4P2Q/3P4/8/PPP3PP/RN2K2R w KQ - 0 15", this, "e8e7"); ' class="line0">Крe8-e7</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("rnbq2nr/ppppk2p/8/4P2Q/3P4/8/PPP3PP/RN3RK1 b - - 0 15", this, "e1g1"); ' class="line0">15.0-0</span> 
 <span onclick='loadMove("rnb1q1nr/ppppk2p/8/4P2Q/3P4/8/PPP3PP/RN3RK1 w - - 0 16", this, "d8e8"); ' class="line0">Фd8-e8</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("rnb1q1nr/ppppk2p/8/4P1Q1/3P4/8/PPP3PP/RN3RK1 b - - 0 16", this, "h5g5"); ' class="line0">16.Фh5-g5+</span> 
 <span onclick='loadMove("rnb1q1nr/pppp3p/4k3/4P1Q1/3P4/8/PPP3PP/RN3RK1 w - - 0 17", this, "e7e6"); ' class="line0">Крe7-e6</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("rnb1q1nr/pppp3p/4kR2/4P1Q1/3P4/8/PPP3PP/RN4K1 b - - 0 17", this, "f1f6"); ' class="line0">17.Лf1-f6+</span> 
 <span onclick='loadMove("rnb1q2r/pppp3p/4kn2/4P1Q1/3P4/8/PPP3PP/RN4K1 w - - 0 18", this, "g8f6"); ' class="line0">Кg8:f6</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("rnb1q2r/pppp3p/4kQ2/4P3/3P4/8/PPP3PP/RN4K1 b - - 0 18", this, "g5f6"); ' class="line0">18.Фg5:f6+</span> 
 <span onclick='loadMove("rnb1q2r/pppp3p/5Q2/3kP3/3P4/8/PPP3PP/RN4K1 w - - 0 19", this, "e6d5"); ' class="line0">Крe6-d5</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("rnb1q2r/pppp3p/5Q2/3kP3/3P4/2N5/PPP3PP/R5K1 b - - 0 19", this, "b1c3"); ' class="line0">19.Кb1-c3+</span> 
 <span onclick='loadMove("rnb1q2r/pppp3p/5Q2/4P3/3k4/2N5/PPP3PP/R5K1 w - - 0 20", this, "d5d4"); ' class="line0">Крd5:d4</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("rnb1q2r/pppp3p/8/4P3/3k1Q2/2N5/PPP3PP/R5K1 b - - 0 20", this, "f6f4"); ' class="line0">20.Фf6-f4+</span> 
 <span onclick='loadMove("rnb1q2r/pppp3p/8/2k1P3/5Q2/2N5/PPP3PP/R5K1 w - - 0 21", this, "d4c5"); ' class="line0">Крd4-c5</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("rnb1q2r/pppp3p/8/2k1P3/1P3Q2/2N5/P1P3PP/R5K1 b - b3 0 21", this, "b2b4"); ' class="line0">21.b2-b4+</span> 
 <span onclick='loadMove("rnb1q2r/pppp3p/2k5/4P3/1P3Q2/2N5/P1P3PP/R5K1 w - - 0 22", this, "c5c6"); ' class="line0">Крc5-c6</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("rnb1q2r/pppp3p/2k5/4P3/1PQ5/2N5/P1P3PP/R5K1 b - - 0 22", this, "f4c4"); ' class="line0">22.Фf4-c4+</span> 
 <span onclick='loadMove("rnb1q2r/pppp3p/1k6/4P3/1PQ5/2N5/P1P3PP/R5K1 w - - 0 23", this, "c6b6"); ' class="line0">Крc6-b6</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("rnb1q2r/pppp3p/1k6/4P3/NPQ5/8/P1P3PP/R5K1 b - - 0 23", this, "c3a4"); ' class="line0">23.Кc3-a4X</span> 
 <span class="ellipsis0">...</span> 
</p>
<p><b>1-0</b></p>
<p>Королевский гамбит - один из самых острых и сложных дебютов. Упоминание о нем впервые встречается в книге Лопеса (XVI век). Важную роль в разработке гамбита сыграли исследования и партии итальянских мастеров Средневековья Греко, Полерио, Сальвио и других. Еще в XIX веке королевский гамбит был одним из популярных дебютов.</p>
<p>Со второй половины XX века старинные гамбиты начали изредка снова встречаться в соревнованиях. Но современные шахматисты не копируют полузабытые варианты, а ищут новые пути. Королевский гамбит успешно применяли П. Керес, Д. Бронштейн, Б. Спасский, Р. Фишер, А. Морозевич.</p>
<!--p>6 | Предисловие</p-->
<p>Напомним, что слово гамбит происходит от итальянского «dare il gambetto» - поставить подножку, а по сути - это начало, при котором одна из сторон жертвует материал для быстрого развития или других позиционных выгод. В нашем случае основные позиционные достижения таковы: (1) открытие линии «f», по которой после рокировки может начать действовать ладья; (2) возможность создать после ухода пешки e5 крепкий центр посредством <b>d2-d4</b>.</p>
<p>У черных есть три основных способа защиты: (1) продолжать развитие путем
 <span onclick='loadMove("rnbqk1nr/pppp1ppp/8/2b1p3/4PP2/8/PPPP2PP/RNBQKBNR w KQkq - 0 3", this, "f8c5"); ' class="line1">2...Сc5</span> 
, игнорируя гамбитное предложение; (2) нанести встречный удар в центре
 <span onclick='loadMove("rnbqkbnr/ppp2ppp/8/3pp3/4PP2/8/PPPP2PP/RNBQKBNR w KQkq d6 0 3", this, "d7d5"); ' class="line1">2...d5</span> 
, после чего получается уже гамбит за черных; (3) принять предложенную жертву с разнообразными последующими вариантами.</p>
<p>В соответствии с этим построена структура книги.</p>
<p>Сначала рассматриваются различные способы защиты, связанные с отказом от принятия жертвы: (1) малоупотребительные продолжения (партии 1-10); (2) отказанный королевский гамбит после
 <span onclick='loadMove("rnbqk1nr/pppp1ppp/8/2b1p3/4PP2/8/PPPP2PP/RNBQKBNR w KQkq - 0 3", this, "f8c5"); ' class="line1">2...Сc5</span> 
(партии 11-90). Здесь можно отметить, что одно из основных положений этой системы после
 <span onclick='loadMove("rnbqkbnr/pppppppp/8/8/4P3/8/PPPP1PPP/RNBQKBNR b KQkq e3 0 1", this, "e2e4"); ' class="line1">1.e4</span> 
 <span onclick='loadMove("rnbqkbnr/pppp1ppp/8/4p3/4P3/8/PPPP1PPP/RNBQKBNR w KQkq e6 0 2", this, "e7e5"); ' class="line1">e5</span> 
 <span onclick='loadMove("rnbqkbnr/pppp1ppp/8/4p3/4PP2/8/PPPP2PP/RNBQKBNR b KQkq f3 0 2", this, "f2f4"); ' class="line1">2.f4</span> 
 <span onclick='loadMove("rnbqk1nr/pppp1ppp/8/2b1p3/4PP2/8/PPPP2PP/RNBQKBNR w KQkq - 0 3", this, "f8c5"); ' class="line1">Сc5</span> 
 <span onclick='loadMove("rnbqk1nr/pppp1ppp/8/2b1p3/4PP2/5N2/PPPP2PP/RNBQKB1R b KQkq - 0 3", this, "g1f3"); ' class="line1">3.Кf3</span> 
 <span onclick='loadMove("rnbqk1nr/ppp2ppp/3p4/2b1p3/4PP2/5N2/PPPP2PP/RNBQKB1R w KQkq - 0 4", this, "d7d6"); ' class="line1">d6</span> 
 <span onclick='loadMove("rnbqk1nr/ppp2ppp/3p4/2b1p3/4PP2/2N2N2/PPPP2PP/R1BQKB1R b KQkq - 0 4", this, "b1c3"); ' class="line1">4.Кc3</span> 
 <span onclick='loadMove("rnbqk2r/ppp2ppp/3p1n2/2b1p3/4PP2/2N2N2/PPPP2PP/R1BQKB1R w KQkq - 0 5", this, "g8f6"); ' class="line1">Кf6</span> 
 <span onclick='loadMove("rnbqk2r/ppp2ppp/3p1n2/2b1p3/2B1PP2/2N2N2/PPPP2PP/R1BQK2R b KQkq - 0 5", this, "f1c4"); ' class="line1">5.Сc4</span> 
 <span onclick='loadMove("r1bqk2r/ppp2ppp/2np1n2/2b1p3/2B1PP2/2N2N2/PPPP2PP/R1BQK2R w KQkq - 0 6", this, "b8c6"); ' class="line1">Кc6</span> 
 <span onclick='loadMove("r1bqk2r/ppp2ppp/2np1n2/2b1p3/2B1PP2/2NP1N2/PPP3PP/R1BQK2R b KQkq - 0 6", this, "d2d3"); ' class="line1">6.d3</span> 
</p>
<div class="chessBoard analysis nobuttons" data-start-fen="r1bqk2r/ppp2ppp/2np1n2/2b1p3/2B1PP2/2NP1N2/PPP3PP/R1BQK2R b KQkq - 0 6"></div>
<p>скорее в пользу белых, так как они при случае могут вскрыть линию «f», а для черных размен <b>e5:f4</b> невыгоден.</p>
<p>Далее следуют разнообразные разветвления контргамбита после
 <span onclick='loadMove("rnbqkbnr/ppp2ppp/8/3pp3/4PP2/8/PPPP2PP/RNBQKBNR w KQkq d6 0 3", this, "d7d5"); ' class="line1">2...d5</span> 
(партии 91-130). В двадцатые годы прошлого века контргамбит считался чуть ли не опровержением королевского гамбита, однако позднее нашлось чисто позиционное решение (см. партию 130).</p>
<p>Остальная часть книги посвящена принятому гамбиту
 <span onclick='loadMove("rnbqkbnr/pppppppp/8/8/4P3/8/PPPP1PPP/RNBQKBNR b KQkq e3 0 1", this, "e2e4"); ' class="line1">1.e4</span> 
 <span onclick='loadMove("rnbqkbnr/pppp1ppp/8/4p3/4P3/8/PPPP1PPP/RNBQKBNR w KQkq e6 0 2", this, "e7e5"); ' class="line1">e5</span> 
 <span onclick='loadMove("rnbqkbnr/pppp1ppp/8/4p3/4PP2/8/PPPP2PP/RNBQKBNR b KQkq f3 0 2", this, "f2f4"); ' class="line1">2.f4</span> 
 <span onclick='loadMove("rnbqkbnr/pppp1ppp/8/8/4Pp2/8/PPPP2PP/RNBQKBNR w KQkq - 0 3", this, "e5f4"); ' class="line1">e:f4</span> 
.</p>
<div class="chessBoard analysis nobuttons" data-start-fen="rnbqkbnr/pppp1ppp/8/8/4Pp2/8/PPPP2PP/RNBQKBNR w KQkq - 0 3"></div>
<p>Здесь материал располагается следующим образом: (1) так
<!--p>7 I Предисловие</p-->
называемый испанский гамбит
 <span onclick='loadMove("rnbqkbnr/pppp1ppp/8/8/3PPp2/8/PPP3PP/RNBQKBNR b KQkq d3 0 3", this, "d2d4"); ' class="line1">3.d4</span> 
(партия 131); (2) гамбит Брейера
 <span onclick='loadMove("rnbqkbnr/pppp1ppp/8/8/4Pp2/5Q2/PPPP2PP/RNB1KBNR b KQkq - 0 3", this, "d1f3"); ' class="line1">3.Фf3</span> 
(партия 132); (3) гамбит Петрова
 <span onclick='loadMove("rnbqkbnr/pppp1ppp/8/8/4Pp2/8/PPPPB1PP/RNBQK1NR b KQkq - 0 3", this, "f1e2"); ' class="line1">3.Сe2</span> 
(партия 133); (4) гамбит Мэзона
 <span onclick='loadMove("rnbqkbnr/pppp1ppp/8/8/4Pp2/2N5/PPPP2PP/R1BQKBNR b KQkq - 0 3", this, "b1c3"); ' class="line1">3.Кc3</span> 
(партии 134-135). В следующей части рассматривается гамбит слона
 <span onclick='loadMove("rnbqkbnr/pppppppp/8/8/4P3/8/PPPP1PPP/RNBQKBNR b KQkq e3 0 1", this, "e2e4"); ' class="line1">1.e4</span> 
 <span onclick='loadMove("rnbqkbnr/pppp1ppp/8/4p3/4P3/8/PPPP1PPP/RNBQKBNR w KQkq e6 0 2", this, "e7e5"); ' class="line1">e5</span> 
 <span onclick='loadMove("rnbqkbnr/pppp1ppp/8/4p3/4PP2/8/PPPP2PP/RNBQKBNR b KQkq f3 0 2", this, "f2f4"); ' class="line1">2.f4</span> 
 <span onclick='loadMove("rnbqkbnr/pppp1ppp/8/8/4Pp2/8/PPPP2PP/RNBQKBNR w KQkq - 0 3", this, "e5f4"); ' class="line1">e:f4</span> 
 <span onclick='loadMove("rnbqkbnr/pppp1ppp/8/8/2B1Pp2/8/PPPP2PP/RNBQK1NR b KQkq - 0 3", this, "f1c4"); ' class="line1">3.Сc4</span> 
(партии 136-167).</p>
<div class="chessBoard analysis nobuttons" data-start-fen="rnbqkbnr/pppp1ppp/8/8/2B1Pp2/8/PPPP2PP/RNBQK1NR b KQkq - 0 3"></div>
<p>И, наконец, в заключительных главах разбираются варианты гамбита коня - наиболее разнообразного и идейно насыщенного разветвления королевского гамбита:
 <span onclick='loadMove("rnbqkbnr/pppppppp/8/8/4P3/8/PPPP1PPP/RNBQKBNR b KQkq e3 0 1", this, "e2e4"); ' class="line1">1.e4</span> 
 <span onclick='loadMove("rnbqkbnr/pppp1ppp/8/4p3/4P3/8/PPPP1PPP/RNBQKBNR w KQkq e6 0 2", this, "e7e5"); ' class="line1">e5</span> 
 <span onclick='loadMove("rnbqkbnr/pppp1ppp/8/4p3/4PP2/8/PPPP2PP/RNBQKBNR b KQkq f3 0 2", this, "f2f4"); ' class="line1">2.f4</span> 
 <span onclick='loadMove("rnbqkbnr/pppp1ppp/8/8/4Pp2/8/PPPP2PP/RNBQKBNR w KQkq - 0 3", this, "e5f4"); ' class="line1">e:f4</span> 
 <span onclick='loadMove("rnbqkbnr/pppp1ppp/8/8/4Pp2/5N2/PPPP2PP/RNBQKB1R b KQkq - 0 3", this, "g1f3"); ' class="line1">3.Кf3</span> 
.</p>
<div class="chessBoard analysis nobuttons" data-start-fen="rnbqkbnr/pppp1ppp/8/8/4Pp2/5N2/PPPP2PP/RNBQKB1R b KQkq - 0 3"></div>
<p>В партии 168 разбирается защита
 <span onclick='loadMove("rnbqkbnr/pppp2pp/8/5p2/4Pp2/5N2/PPPP2PP/RNBQKB1R w KQkq f6 0 4", this, "f7f5"); ' class="line1">3...f5</span> 
. Затем следует популярная защита
 <span onclick='loadMove("rnbqkb1r/ppppnppp/8/8/4Pp2/5N2/PPPP2PP/RNBQKB1R w KQkq - 0 4", this, "g8e7"); ' class="line1">3...Кe7</span> 
(партии 169-174). Защите Фишера с
 <span onclick='loadMove("rnbqkbnr/ppp2ppp/3p4/8/4Pp2/5N2/PPPP2PP/RNBQKB1R w KQkq - 0 4", this, "d7d6"); ' class="line1">3...d6</span> 
посвящены партии 175-183. В партиях 184-193 рассматривается защита Шаллопа -
 <span onclick='loadMove("rnbqkb1r/pppp1ppp/5n2/8/4Pp2/5N2/PPPP2PP/RNBQKB1R w KQkq - 0 4", this, "g8f6"); ' class="line1">3...Кf6</span> 
. Далее изучаются: защита Беккера
 <span onclick='loadMove("rnbqkbnr/pppp1pp1/7p/8/4Pp2/5N2/PPPP2PP/RNBQKB1R w KQkq - 0 4", this, "h7h6"); ' class="line1">3...h6</span> 
(партии 194-207), защита
 <span onclick='loadMove("r1bqkbnr/pppp1ppp/2n5/8/4Pp2/5N2/PPPP2PP/RNBQKB1R w KQkq - 0 4", this, "b8c6"); ' class="line1">3...Кc6</span> 
(партии 208-222), защита
 <span onclick='loadMove("rnbqk1nr/ppppbppp/8/8/4Pp2/5N2/PPPP2PP/RNBQKB1R w KQkq - 0 4", this, "f8e7"); ' class="line1">3...Сe7</span> 
(партии 223-236), современная защита
 <span onclick='loadMove("rnbqkbnr/ppp2ppp/8/3p4/4Pp2/5N2/PPPP2PP/RNBQKB1R w KQkq d6 0 4", this, "d7d5"); ' class="line1">3...d5</span> 
(партии 237-267).</p>
<p>В последней главе сначала разбираются старинные классические разветвления: гамбит Квааде
 <span onclick='loadMove("rnbqkbnr/pppppppp/8/8/4P3/8/PPPP1PPP/RNBQKBNR b KQkq e3 0 1", this, "e2e4"); ' class="line1">1.e4</span> 
 <span onclick='loadMove("rnbqkbnr/pppp1ppp/8/4p3/4P3/8/PPPP1PPP/RNBQKBNR w KQkq e6 0 2", this, "e7e5"); ' class="line1">e5</span> 
 <span onclick='loadMove("rnbqkbnr/pppp1ppp/8/4p3/4PP2/8/PPPP2PP/RNBQKBNR b KQkq f3 0 2", this, "f2f4"); ' class="line1">2.f4</span> 
 <span onclick='loadMove("rnbqkbnr/pppp1ppp/8/8/4Pp2/8/PPPP2PP/RNBQKBNR w KQkq - 0 3", this, "e5f4"); ' class="line1">e:f4</span> 
 <span onclick='loadMove("rnbqkbnr/pppp1ppp/8/8/4Pp2/5N2/PPPP2PP/RNBQKB1R b KQkq - 0 3", this, "g1f3"); ' class="line1">3.Кf3</span> 
 <span onclick='loadMove("rnbqkbnr/pppp1p1p/8/6p1/4Pp2/5N2/PPPP2PP/RNBQKB1R w KQkq g6 0 4", this, "g7g5"); ' class="line1">g5</span> 
 <span onclick='loadMove("rnbqkbnr/pppp1p1p/8/6p1/4Pp2/2N2N2/PPPP2PP/R1BQKB1R b KQkq - 0 4", this, "b1c3"); ' class="line1">4.Кc3</span> 
(партия 268), гамбит Розентретера
 <span onclick='loadMove("rnbqkbnr/pppppppp/8/8/4P3/8/PPPP1PPP/RNBQKBNR b KQkq e3 0 1", this, "e2e4"); ' class="line1">1.e4</span> 
 <span onclick='loadMove("rnbqkbnr/pppp1ppp/8/4p3/4P3/8/PPPP1PPP/RNBQKBNR w KQkq e6 0 2", this, "e7e5"); ' class="line1">e5</span> 
 <span onclick='loadMove("rnbqkbnr/pppp1ppp/8/4p3/4PP2/8/PPPP2PP/RNBQKBNR b KQkq f3 0 2", this, "f2f4"); ' class="line1">2.f4</span> 
 <span onclick='loadMove("rnbqkbnr/pppp1ppp/8/8/4Pp2/8/PPPP2PP/RNBQKBNR w KQkq - 0 3", this, "e5f4"); ' class="line1">e:f4</span> 
 <span onclick='loadMove("rnbqkbnr/pppp1ppp/8/8/4Pp2/5N2/PPPP2PP/RNBQKB1R b KQkq - 0 3", this, "g1f3"); ' class="line1">3.Кf3</span> 
 <span onclick='loadMove("rnbqkbnr/pppp1p1p/8/6p1/4Pp2/5N2/PPPP2PP/RNBQKB1R w KQkq g6 0 4", this, "g7g5"); ' class="line1">g5</span> 
 <span onclick='loadMove("rnbqkbnr/pppp1p1p/8/6p1/3PPp2/5N2/PPP3PP/RNBQKB1R b KQkq d3 0 4", this, "d2d4"); ' class="line1">4.d4</span> 
 <span onclick='loadMove("rnbqkbnr/pppp1p1p/8/8/3PPpp1/5N2/PPP3PP/RNBQKB1R w KQkq - 0 5", this, "g5g4"); ' class="line1">g4</span> 
(партии 269-271), гамбиты Сальвио
 <span onclick='loadMove("rnbqkbnr/pppppppp/8/8/4P3/8/PPPP1PPP/RNBQKBNR b KQkq e3 0 1", this, "e2e4"); ' class="line1">1.e4</span> 
 <span onclick='loadMove("rnbqkbnr/pppp1ppp/8/4p3/4P3/8/PPPP1PPP/RNBQKBNR w KQkq e6 0 2", this, "e7e5"); ' class="line1">e5</span> 
 <span onclick='loadMove("rnbqkbnr/pppp1ppp/8/4p3/4PP2/8/PPPP2PP/RNBQKBNR b KQkq f3 0 2", this, "f2f4"); ' class="line1">2.f4</span> 
 <span onclick='loadMove("rnbqkbnr/pppp1ppp/8/8/4Pp2/8/PPPP2PP/RNBQKBNR w KQkq - 0 3", this, "e5f4"); ' class="line1">e:f4</span> 
 <span onclick='loadMove("rnbqkbnr/pppp1ppp/8/8/4Pp2/5N2/PPPP2PP/RNBQKB1R b KQkq - 0 3", this, "g1f3"); ' class="line1">3.Кf3</span> 
 <span onclick='loadMove("rnbqkbnr/pppp1p1p/8/6p1/4Pp2/5N2/PPPP2PP/RNBQKB1R w KQkq g6 0 4", this, "g7g5"); ' class="line1">g5</span> 
 <span onclick='loadMove("rnbqkbnr/pppp1p1p/8/6p1/2B1Pp2/5N2/PPPP2PP/RNBQK2R b KQkq - 0 4", this, "f1c4"); ' class="line1">4.Сc4</span> 
 <span onclick='loadMove("rnbqkbnr/pppp1p1p/8/8/2B1Ppp1/5N2/PPPP2PP/RNBQK2R w KQkq - 0 5", this, "g5g4"); ' class="line1">g4</span> 
 <span onclick='loadMove("rnbqkbnr/pppp1p1p/8/4N3/2B1Ppp1/8/PPPP2PP/RNBQK2R b KQkq - 0 5", this, "f3e5"); ' class="line1">5.Кe5</span> 
и Мак-Доннеля
 <span onclick='loadMove("rnbqkbnr/pppppppp/8/8/4P3/8/PPPP1PPP/RNBQKBNR b KQkq e3 0 1", this, "e2e4"); ' class="line1">1.e4</span> 
 <span onclick='loadMove("rnbqkbnr/pppp1ppp/8/4p3/4P3/8/PPPP1PPP/RNBQKBNR w KQkq e6 0 2", this, "e7e5"); ' class="line1">e5</span> 
 <span onclick='loadMove("rnbqkbnr/pppp1ppp/8/4p3/4PP2/8/PPPP2PP/RNBQKBNR b KQkq f3 0 2", this, "f2f4"); ' class="line1">2.f4</span> 
 <span onclick='loadMove("rnbqkbnr/pppp1ppp/8/8/4Pp2/8/PPPP2PP/RNBQKBNR w KQkq - 0 3", this, "e5f4"); ' class="line1">e:f4</span> 
 <span onclick='loadMove("rnbqkbnr/pppp1ppp/8/8/4Pp2/5N2/PPPP2PP/RNBQKB1R b KQkq - 0 3", this, "g1f3"); ' class="line1">3.Кf3</span> 
 <span onclick='loadMove("rnbqkbnr/pppp1p1p/8/6p1/4Pp2/5N2/PPPP2PP/RNBQKB1R w KQkq g6 0 4", this, "g7g5"); ' class="line1">g5</span> 
 <span onclick='loadMove("rnbqkbnr/pppp1p1p/8/6p1/2B1Pp2/5N2/PPPP2PP/RNBQK2R b KQkq - 0 4", this, "f1c4"); ' class="line1">4.Сc4</span> 
 <span onclick='loadMove("rnbqkbnr/pppp1p1p/8/8/2B1Ppp1/5N2/PPPP2PP/RNBQK2R w KQkq - 0 5", this, "g5g4"); ' class="line1">g4</span> 
 <span onclick='loadMove("rnbqkbnr/pppp1p1p/8/8/2B1Ppp1/2N2N2/PPPP2PP/R1BQK2R b KQkq - 0 5", this, "b1c3"); ' class="line1">5.Кc3</span> 
 <span onclick='loadMove("rnbqkbnr/pppp1p1p/8/8/2B1Pp2/2N2p2/PPPP2PP/R1BQK2R w KQkq - 0 6", this, "g4f3"); ' class="line1">g:f3</span> 
 <span onclick='loadMove("rnbqkbnr/pppp1p1p/8/8/2B1Pp2/2N2Q2/PPPP2PP/R1B1K2R b KQkq - 0 6", this, "d1f3"); ' class="line1">6.Ф:f3</span> 
(партии 272 и 273), гамбит Полерио-Муцио
 <span onclick='loadMove("rnbqkbnr/pppppppp/8/8/4P3/8/PPPP1PPP/RNBQKBNR b KQkq e3 0 1", this, "e2e4"); ' class="line1">1.e4</span> 
 <span onclick='loadMove("rnbqkbnr/pppp1ppp/8/4p3/4P3/8/PPPP1PPP/RNBQKBNR w KQkq e6 0 2", this, "e7e5"); ' class="line1">e5</span> 
 <span onclick='loadMove("rnbqkbnr/pppp1ppp/8/4p3/4PP2/8/PPPP2PP/RNBQKBNR b KQkq f3 0 2", this, "f2f4"); ' class="line1">2.f4</span> 
 <span onclick='loadMove("rnbqkbnr/pppp1ppp/8/8/4Pp2/8/PPPP2PP/RNBQKBNR w KQkq - 0 3", this, "e5f4"); ' class="line1">e:f4</span> 
 <span onclick='loadMove("rnbqkbnr/pppp1ppp/8/8/4Pp2/5N2/PPPP2PP/RNBQKB1R b KQkq - 0 3", this, "g1f3"); ' class="line1">3.Кf3</span> 
 <span onclick='loadMove("rnbqkbnr/pppp1p1p/8/6p1/4Pp2/5N2/PPPP2PP/RNBQKB1R w KQkq g6 0 4", this, "g7g5"); ' class="line1">g5</span> 
 <span onclick='loadMove("rnbqkbnr/pppp1p1p/8/6p1/2B1Pp2/5N2/PPPP2PP/RNBQK2R b KQkq - 0 4", this, "f1c4"); ' class="line1">4.Сc4</span> 
 <span onclick='loadMove("rnbqkbnr/pppp1p1p/8/8/2B1Ppp1/5N2/PPPP2PP/RNBQK2R w KQkq - 0 5", this, "g5g4"); ' class="line1">g4</span> 
 <span onclick='loadMove("rnbqkbnr/pppp1p1p/8/8/2B1Ppp1/5N2/PPPP2PP/RNBQ1RK1 b kq - 0 5", this, "e1g1"); ' class="line1">5.0-0</span> 
(партии 274-279), гамбит Греко-Филидора
 <span onclick='loadMove("rnbqkbnr/pppppppp/8/8/4P3/8/PPPP1PPP/RNBQKBNR b KQkq e3 0 1", this, "e2e4"); ' class="line1">1.e4</span> 
 <span onclick='loadMove("rnbqkbnr/pppp1ppp/8/4p3/4P3/8/PPPP1PPP/RNBQKBNR w KQkq e6 0 2", this, "e7e5"); ' class="line1">e5</span> 
 <span onclick='loadMove("rnbqkbnr/pppp1ppp/8/4p3/4PP2/8/PPPP2PP/RNBQKBNR b KQkq f3 0 2", this, "f2f4"); ' class="line1">2.f4</span> 
 <span onclick='loadMove("rnbqkbnr/pppp1ppp/8/8/4Pp2/8/PPPP2PP/RNBQKBNR w KQkq - 0 3", this, "e5f4"); ' class="line1">e:f4</span> 
 <span onclick='loadMove("rnbqkbnr/pppp1ppp/8/8/4Pp2/5N2/PPPP2PP/RNBQKB1R b KQkq - 0 3", this, "g1f3"); ' class="line1">3.Кf3</span> 
 <span onclick='loadMove("rnbqkbnr/pppp1pp1/7p/8/4Pp2/5N2/PPPP2PP/RNBQKB1R w KQkq - 0 4", this, "h7h6"); ' class="line1">h6</span> 
 <span onclick='loadMove("rnbqkbnr/pppp1pp1/7p/8/2B1Pp2/5N2/PPPP2PP/RNBQK2R b KQkq - 0 4", this, "f1c4"); ' class="line1">4.Сc4</span> 
 <span onclick='loadMove("rnbqkbnr/ppp2pp1/3p3p/8/2B1Pp2/5N2/PPPP2PP/RNBQK2R w KQkq - 0 5", this, "d7d6"); ' class="line1">d6</span> 
 <span onclick='loadMove("rnbqkbnr/ppp2pp1/3p3p/8/2BPPp2/5N2/PPP3PP/RNBQK2R b KQkq d3 0 5", this, "d2d4"); ' class="line1">5.d4</span> 
 <span onclick='loadMove("rnbqkbnr/ppp2p2/3p3p/6p1/2BPPp2/5N2/PPP3PP/RNBQK2R w KQkq g6 0 6", this, "g7g5"); ' class="line1">g5</span> 
 <span onclick='loadMove("rnbqkbnr/ppp2p2/3p3p/6p1/2BPPp1P/5N2/PPP3P1/RNBQK2R b KQkq h3 0 6", this, "h2h4"); ' class="line1">6.h4</span> 
 <span onclick='loadMove("rnbqk1nr/ppp2pb1/3p3p/6p1/2BPPp1P/5N2/PPP3P1/RNBQK2R w KQkq - 0 7", this, "f8g7"); ' class="line1">Сg7</span> 
(партии 280-281), гамбит Ганштейна
 <span onclick='loadMove("rnbqkbnr/pppppppp/8/8/4P3/8/PPPP1PPP/RNBQKBNR b KQkq e3 0 1", this, "e2e4"); ' class="line1">1.e4</span> 
 <span onclick='loadMove("rnbqkbnr/pppp1ppp/8/4p3/4P3/8/PPPP1PPP/RNBQKBNR w KQkq e6 0 2", this, "e7e5"); ' class="line1">e5</span> 
 <span onclick='loadMove("rnbqkbnr/pppp1ppp/8/4p3/4PP2/8/PPPP2PP/RNBQKBNR b KQkq f3 0 2", this, "f2f4"); ' class="line1">2.f4</span> 
 <span onclick='loadMove("rnbqkbnr/pppp1ppp/8/8/4Pp2/8/PPPP2PP/RNBQKBNR w KQkq - 0 3", this, "e5f4"); ' class="line1">e:f4</span> 
 <span onclick='loadMove("rnbqkbnr/pppp1ppp/8/8/4Pp2/5N2/PPPP2PP/RNBQKB1R b KQkq - 0 3", this, "g1f3"); ' class="line1">3.Кf3</span> 
 <span onclick='loadMove("rnbqkbnr/pppp1p1p/8/6p1/4Pp2/5N2/PPPP2PP/RNBQKB1R w KQkq g6 0 4", this, "g7g5"); ' class="line1">g5</span> 
 <span onclick='loadMove("rnbqkbnr/pppp1p1p/8/6p1/2B1Pp2/5N2/PPPP2PP/RNBQK2R b KQkq - 0 4", this, "f1c4"); ' class="line1">4.Сc4</span> 
 <span onclick='loadMove("rnbqk1nr/pppp1pbp/8/6p1/2B1Pp2/5N2/PPPP2PP/RNBQK2R w KQkq - 0 5", this, "f8g7"); ' class="line1">Сg7</span> 
 <span onclick='loadMove("rnbqk1nr/pppp1pbp/8/6p1/2B1Pp2/5N2/PPPP2PP/RNBQ1RK1 b kq - 0 5", this, "e1g1"); ' class="line1">5.0-0</span> 
 <span onclick='loadMove("rnbqk1nr/ppp2pbp/3p4/6p1/2B1Pp2/5N2/PPPP2PP/RNBQ1RK1 w kq - 0 6", this, "d7d6"); ' class="line1">d6</span> 
 <span onclick='loadMove("rnbqk1nr/ppp2pbp/3p4/6p1/2BPPp2/5N2/PPP3PP/RNBQ1RK1 b kq d3 0 6", this, "d2d4"); ' class="line1">6.d4</span> 
 <span onclick='loadMove("rnbqk1nr/ppp2pb1/3p3p/6p1/2BPPp2/5N2/PPP3PP/RNBQ1RK1 w kq - 0 7", this, "h7h6"); ' class="line1">h6</span> 
 <span onclick='loadMove("rnbqk1nr/ppp2pb1/3p3p/6p1/2BPPp2/2P2N2/PP4PP/RNBQ1RK1 b kq - 0 7", this, "c2c3"); ' class="line1">7.c3</span> 
 <span onclick='loadMove("r1bqk1nr/ppp2pb1/2np3p/6p1/2BPPp2/2P2N2/PP4PP/RNBQ1RK1 w kq - 0 8", this, "b8c6"); ' class="line1">Кc6</span> 
(партии 282-286) и гамбит Альгайера
 <span onclick='loadMove("rnbqkbnr/pppppppp/8/8/4P3/8/PPPP1PPP/RNBQKBNR b KQkq e3 0 1", this, "e2e4"); ' class="line1">1.e4</span> 
 <span onclick='loadMove("rnbqkbnr/pppp1ppp/8/4p3/4P3/8/PPPP1PPP/RNBQKBNR w KQkq e6 0 2", this, "e7e5"); ' class="line1">e5</span> 
 <span onclick='loadMove("rnbqkbnr/pppp1ppp/8/4p3/4PP2/8/PPPP2PP/RNBQKBNR b KQkq f3 0 2", this, "f2f4"); ' class="line1">2.f4</span> 
 <span onclick='loadMove("rnbqkbnr/pppp1ppp/8/8/4Pp2/8/PPPP2PP/RNBQKBNR w KQkq - 0 3", this, "e5f4"); ' class="line1">e:f4</span> 
 <span onclick='loadMove("rnbqkbnr/pppp1ppp/8/8/4Pp2/5N2/PPPP2PP/RNBQKB1R b KQkq - 0 3", this, "g1f3"); ' class="line1">3.Кf3</span> 
 <span onclick='loadMove("rnbqkbnr/pppp1p1p/8/6p1/4Pp2/5N2/PPPP2PP/RNBQKB1R w KQkq g6 0 4", this, "g7g5"); ' class="line1">g5</span> 
 <span onclick='loadMove("rnbqkbnr/pppp1p1p/8/6p1/4Pp1P/5N2/PPPP2P1/RNBQKB1R b KQkq h3 0 4", this, "h2h4"); ' class="line1">4.h4</span> 
 <span onclick='loadMove("rnbqkbnr/pppp1p1p/8/8/4PppP/5N2/PPPP2P1/RNBQKB1R w KQkq - 0 5", this, "g5g4"); ' class="line1">g4</span> 
 <span onclick='loadMove("rnbqkbnr/pppp1p1p/8/6N1/4PppP/8/PPPP2P1/RNBQKB1R b KQkq - 0 5", this, "f3g5"); ' class="line1">5.Кg5</span> 
(партии 287-289).</p>
<p>И завершает книгу гамбит Кизерицкого:
 <span onclick='loadMove("rnbqkbnr/pppppppp/8/8/4P3/8/PPPP1PPP/RNBQKBNR b KQkq e3 0 1", this, "e2e4"); ' class="line1">1.e4</span> 
 <span onclick='loadMove("rnbqkbnr/pppp1ppp/8/4p3/4P3/8/PPPP1PPP/RNBQKBNR w KQkq e6 0 2", this, "e7e5"); ' class="line1">e5</span> 
 <span onclick='loadMove("rnbqkbnr/pppp1ppp/8/4p3/4PP2/8/PPPP2PP/RNBQKBNR b KQkq f3 0 2", this, "f2f4"); ' class="line1">2.f4</span> 
 <span onclick='loadMove("rnbqkbnr/pppp1ppp/8/8/4Pp2/8/PPPP2PP/RNBQKBNR w KQkq - 0 3", this, "e5f4"); ' class="line1">e:f4</span> 
 <span onclick='loadMove("rnbqkbnr/pppp1ppp/8/8/4Pp2/5N2/PPPP2PP/RNBQKB1R b KQkq - 0 3", this, "g1f3"); ' class="line1">3.Кf3</span> 
 <span onclick='loadMove("rnbqkbnr/pppp1p1p/8/6p1/4Pp2/5N2/PPPP2PP/RNBQKB1R w KQkq g6 0 4", this, "g7g5"); ' class="line1">g5</span> 
 <span onclick='loadMove("rnbqkbnr/pppp1p1p/8/6p1/4Pp1P/5N2/PPPP2P1/RNBQKB1R b KQkq h3 0 4", this, "h2h4"); ' class="line1">4.h4</span> 
 <span onclick='loadMove("rnbqkbnr/pppp1p1p/8/8/4PppP/5N2/PPPP2P1/RNBQKB1R w KQkq - 0 5", this, "g5g4"); ' class="line1">g4</span> 
 <span onclick='loadMove("rnbqkbnr/pppp1p1p/8/4N3/4PppP/8/PPPP2P1/RNBQKB1R b KQkq - 0 5", this, "f3e5"); ' class="line1">5.Кe5</span> 
(партии 290-317).</p>
<!--p>8 I Предисловие</p-->
<div class="chessBoard analysis nobuttons" data-start-fen="rnbqkbnr/pppp1p1p/8/4N3/4PppP/8/PPPP2P1/RNBQKB1R b KQkq - 0 5"></div>
<p>Это разветвление королевского гамбита входило в дебютный репертуар таких корифеев прошлого, как Морфи, Андерсен, Чигорин... Не потерял актуальности гамбит Кизерицкого и в наше время.</p>
<p>Материал книги дается на основе партий, сыгранных до 1.03.2010 г.</p>
</div> <!-- score -->
</div> <!-- section -->

</div> <!-- iBook -->
{% endblock content %}

