{% extends '../../base.htm' %}
{% load static %}
{% block title %}
<title>Глава 6. ГАМБИТ КОНЯ 3.Кf3 | {{book.title}} | {%for author in book.authors.all%} {%if author.first_name%} {{author.first_name}} {%endif%} {%if author.second_name%} {{author.second_name}} {%endif%} {%if forloop.counter == book.authors.all.count%} {{author.last_name}} {%else%} {{author.last_name}}, {%endif%} {%endfor%} | {{book.year}}</title>
{% endblock title %}
{% block content %}

<div class="iBook">

<div class="section">
<div class="chessBoard small floater" data-start-fen="rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w KQkq - 0 1"></div>
<div class="score">
 <span class="line0" onclick='loadMove("rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w KQkq - 0 1", this, ""); '>[...]</span> 
<h2>Глава 6. ГАМБИТ КОНЯ 3.Кf3</h2>
<p>В этой главе рассматриваются все способы защиты кроме «классической» <b>3...g5</b>, хотя исторически именно она была сначала наиболее популярна.</p>
<p class="longNotation">
 <span onclick='loadMove("rnbqkbnr/pppppppp/8/8/4P3/8/PPPP1PPP/RNBQKBNR b KQkq e3 0 1", this, "e2e4"); ' class="line0">1.e2-e4</span> 
 <span onclick='loadMove("rnbqkbnr/pppp1ppp/8/4p3/4P3/8/PPPP1PPP/RNBQKBNR w KQkq e6 0 2", this, "e7e5"); ' class="line0">e7-e5</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("rnbqkbnr/pppp1ppp/8/4p3/4PP2/8/PPPP2PP/RNBQKBNR b KQkq f3 0 2", this, "f2f4"); ' class="line0">2.f2-f4</span> 
 <span onclick='loadMove("rnbqkbnr/pppp1ppp/8/8/4Pp2/8/PPPP2PP/RNBQKBNR w KQkq - 0 3", this, "e5f4"); ' class="line0">e5:f4</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("rnbqkbnr/pppp1ppp/8/8/4Pp2/5N2/PPPP2PP/RNBQKB1R b KQkq - 0 3", this, "g1f3"); ' class="line0">3.Кg1-f3</span> 
 <span class="ellipsis0">...</span> 
</p>
<div class="chessBoard analysis nobuttons" data-start-fen="rnbqkbnr/pppp1ppp/8/8/4Pp2/5N2/PPPP2PP/RNBQKB1R b KQkq - 0 3"></div>
<p>Итак, перед нами исходная позиция гамбита коня.</p>
<p>Материал располагается следующим образом:</p>
<p>1. Модная защита
 <span onclick='loadMove("rnbqkb1r/ppppnppp/8/8/4Pp2/5N2/PPPP2PP/RNBQKB1R w KQkq - 0 4", this, "g8e7"); ' class="line1">3...Кe7</span> 
; 2. Защита Фишера
 <span onclick='loadMove("rnbqkbnr/ppp2ppp/3p4/8/4Pp2/5N2/PPPP2PP/RNBQKB1R w KQkq - 0 4", this, "d7d6"); ' class="line1">3...d6</span> 
; 3. Защита Шаллопа
 <span onclick='loadMove("rnbqkb1r/pppp1ppp/5n2/8/4Pp2/5N2/PPPP2PP/RNBQKB1R w KQkq - 0 4", this, "g8f6"); ' class="line1">3...Кf6</span> 
; 4. Защита Беккера
 <span onclick='loadMove("rnbqkbnr/pppp1pp1/7p/8/4Pp2/5N2/PPPP2PP/RNBQKB1R w KQkq - 0 4", this, "h7h6"); ' class="line1">3...h6</span> 
; 5. Защита
 <span onclick='loadMove("r1bqkbnr/pppp1ppp/2n5/8/4Pp2/5N2/PPPP2PP/RNBQKB1R w KQkq - 0 4", this, "b8c6"); ' class="line1">3...Кc6</span> 
; 6. Защита
 <span onclick='loadMove("rnbqk1nr/ppppbppp/8/8/4Pp2/5N2/PPPP2PP/RNBQKB1R w KQkq - 0 4", this, "f8e7"); ' class="line1">3...Сe7</span> 
; 7. Современная защита
 <span onclick='loadMove("rnbqkbnr/ppp2ppp/8/3p4/4Pp2/5N2/PPPP2PP/RNBQKB1R w KQkq d6 0 4", this, "d7d5"); ' class="line1">3...d5</span> 
.</p>
<p>Бросается в глаза разнообразие дебютных идей, что свидетельствует о неисчерпаемости старинного начала. Как обычно, начинаем с редкого варианта.</p>
</div> <!-- score -->
</div> <!-- section -->

</div> <!-- iBook -->
{% endblock content %}

