{% extends '../../base.htm' %}
{% load static %}
{% block title %}
<title>Устранение защиты | {{book.title}} | {%for author in book.authors.all%} {%if author.first_name%} {{author.first_name}} {%endif%} {%if author.second_name%} {{author.second_name}} {%endif%} {%if forloop.counter == book.authors.all.count%} {{author.last_name}} {%else%} {{author.last_name}}, {%endif%} {%endfor%} | {{book.year}}</title>
{% endblock title %}
{% block content %}

<div class="iBook">

<div class="section">
<div class="score">
<h2>УСТРАНЕНИЕ ЗАЩИТЫ</h2>
<p>В шахматной партии очень часто встречаются положения, в которых все фигуры кажутся взаимно защищенными. Однако нередко при этом защищающая фигура может быть отвлечена ходом противника, после чего другая, более сильная фигура остается без прикрытия.</p>
<p>Возьмем, например, следующее положение.</p>
</div> <!-- score -->
</div> <!-- section -->

<div class="section">
<div class="chessBoard small" data-start-fen="4r1k1/5qb1/6Q1/8/8/4B3/5P2/2K4R w - - 0 1"></div>
<div class="score">
 <span class="line0" onclick='loadMove("4r1k1/5qb1/6Q1/8/8/4B3/5P2/2K4R w - - 0 1", this, ""); '>[...]</span> 
<p>№ 86</p>
<!--img src="images/Tarrash_1933-86.png" style="width:120pt;height:90pt;"/-->
<p>
 <span onclick='loadMove("4r1kR/5qb1/6Q1/8/8/4B3/5P2/2K5 b - - 0 1", this, "h1h8"); ' class="line0">1.Лh1-h8+</span> 
 <span onclick='loadMove("4r2k/5qb1/6Q1/8/8/4B3/5P2/2K5 w - - 0 2", this, "g8h8"); ' class="line0">Крg8:h8</span> 
 <span onclick='loadMove("4r2k/5Qb1/8/8/8/4B3/5P2/2K5 b - - 0 2", this, "g6f7"); ' class="line0">2.Фg6:f7</span> 
, и белые выигрывают ферзя, так как жертвою ладьи белые отвлекли короля от защиты ферзя. Та же комбинация может встретиться в несколько усложненной форме.</p>
</div> <!-- score -->
</div> <!-- section -->

<div class="section">
<div class="chessBoard small" data-start-fen="4r1k1/5pb1/5qQ1/8/2B5/4B3/5P2/2K4R w - - 0 1"></div>
<div class="score">
 <span class="line0" onclick='loadMove("4r1k1/5pb1/5qQ1/8/2B5/4B3/5P2/2K4R w - - 0 1", this, ""); '>[...]</span> 
<p>№ 87</p>
<!--img src="images/Tarrash_1933-87.png" style="width:120pt;height:90pt;"/-->
<p>Белые играют:
 <span onclick='loadMove("4r1k1/5Bb1/5qQ1/8/8/4B3/5P2/2K4R b - - 0 1", this, "c4f7"); ' class="line0">1.Сc4:f7+</span> 
 <span onclick='loadMove("4r1k1/5qb1/6Q1/8/8/4B3/5P2/2K4R w - - 0 2", this, "f6f7"); ' class="line0">Фf6:f7</span> 
, и теперь следует жертва ладьи
 <span onclick='loadMove("4r1kR/5qb1/6Q1/8/8/4B3/5P2/2K5 b - - 0 2", this, "h1h8"); ' class="line0">2.Лh1-h8+</span> 
. Если же черные не бьют слона, то после
 <span onclick='loadMove("4rk2/5Bb1/5qQ1/8/8/4B3/5P2/2K4R w - - 0 2", this, "g8f8"); ' class="line1">1...Крg8-f8</span> 
вынуждается мат:
 <span onclick='loadMove("4rk2/5Bb1/5qQ1/2B5/8/8/5P2/2K4R b - - 0 2", this, "e3c5"); ' class="line1">2.Сe3-c5+</span> 
 <span onclick='loadMove("5k2/4rBb1/5qQ1/2B5/8/8/5P2/2K4R w - - 0 3", this, "e8e7"); ' class="line1">Лe8-e7</span> 
 <span onclick='loadMove("5k1R/4rBb1/5qQ1/2B5/8/8/5P2/2K5 b - - 0 3", this, "h1h8"); ' class="line1">3.Лh1-h8+</span> 
 <span onclick='loadMove("5k1b/4rB2/5qQ1/2B5/8/8/5P2/2K5 w - - 0 4", this, "g7h8"); ' class="line1">Сg7:h8</span> 
 <span onclick='loadMove("5kQb/4rB2/5q2/2B5/8/8/5P2/2K5 b - - 0 4", this, "g6g8"); ' class="line1">4.Фg6-g8X</span> 
.</p>
</div> <!-- score -->
</div> <!-- section -->

<div class="section">
<div class="chessBoard small" data-start-fen="3rr1k1/5pb1/8/8/6b1/4B3/3N1P2/2R2RK1 b - - 0 1"></div>
<div class="score">
 <span class="line0" onclick='loadMove("3rr1k1/5pb1/8/8/6b1/4B3/3N1P2/2R2RK1 b - - 0 1", this, ""); '>[...]</span> 
<p>№ 88</p>
<!--img src="images/Tarrash_1933-88.png" style="width:120pt;height:90pt;"/-->
<!--p>34</p-->
<p>Черные добиваются преимущества посредством
 <span onclick='loadMove("3r2k1/5pb1/8/8/6b1/4r3/3N1P2/2R2RK1 w - - 0 2", this, "e8e3"); ' class="line0">1...Лe8:e3</span> 
 <span onclick='loadMove("3r2k1/5pb1/8/8/6b1/4P3/3N4/2R2RK1 b - - 0 2", this, "f2e3"); ' class="line0">2.f2:e3</span> 
 <span onclick='loadMove("6k1/5pb1/8/8/6b1/4P3/3r4/2R2RK1 w - - 0 3", this, "d8d2"); ' class="line0">Лd8:d2</span> 
.</p>
</div> <!-- score -->
</div> <!-- section -->

<div class="section">
<div class="chessBoard small" data-start-fen="2kr4/1pq2ppp/8/4n3/2P1B3/1Q5P/5PP1/4R1K1 w - - 0 1"></div>
<div class="score">
 <span class="line0" onclick='loadMove("2kr4/1pq2ppp/8/4n3/2P1B3/1Q5P/5PP1/4R1K1 w - - 0 1", this, ""); '>[...]</span> 
<p>№ 89</p>
<!--img src="images/Tarrash_1933-89.png" style="width:89pt;height:91pt;"/-->
<p>Белые выигрывают пешку посредством
 <span onclick='loadMove("2kr4/1Qq2ppp/8/4n3/2P1B3/7P/5PP1/4R1K1 b - - 0 1", this, "b3b7"); ' class="line0">1.Фb3:b7+</span> 
 <span onclick='loadMove("2kr4/1q3ppp/8/4n3/2P1B3/7P/5PP1/4R1K1 w - - 0 2", this, "c7b7"); ' class="line0">Фc7:b7</span> 
 <span onclick='loadMove("2kr4/1B3ppp/8/4n3/2P5/7P/5PP1/4R1K1 b - - 0 2", this, "e4b7"); ' class="line0">2.Сe4:b7+</span> 
 <span onclick='loadMove("3r4/1k3ppp/8/4n3/2P5/7P/5PP1/4R1K1 w - - 0 3", this, "c8b7"); ' class="line0">Крc8:b7</span> 
 <span onclick='loadMove("3r4/1k3ppp/8/4R3/2P5/7P/5PP1/6K1 b - - 0 3", this, "e1e5"); ' class="line0">3.Лe1:e5</span> 
.</p>
</div> <!-- score -->
</div> <!-- section -->

<div class="section">
<div class="chessBoard small" data-start-fen="6k1/p4pp1/q1b4p/8/5B2/3r2P1/P3QP1P/R5K1 b - - 0 1"></div>
<div class="score">
 <span class="line0" onclick='loadMove("6k1/p4pp1/q1b4p/8/5B2/3r2P1/P3QP1P/R5K1 b - - 0 1", this, ""); '>[...]</span> 
<p>№ 90</p>
<!--img src="images/Tarrash_1933-90.png" style="width:89pt;height:91pt;"/-->
<p>Черные выигрывают ферзя посредством
 <span onclick='loadMove("6k1/p4pp1/q1b4p/8/5B2/6r1/P3QP1P/R5K1 w - - 0 2", this, "d3g3"); ' class="line0">1...Лd3:g3+</span> 
 <span onclick='loadMove("6k1/p4pp1/q1b4p/8/5B2/6r1/P3QP1P/R4K2 b - - 0 2", this, "g1f1"); ' class="line0">2.Крg1-f1</span> 
(При других ответах белый ферзь забирается немедленно)
 <span onclick='loadMove("6k1/p4pp1/q1b4p/8/5B2/8/P3QP1P/R4Kr1 w - - 0 3", this, "g3g1"); ' class="line0">2...Лg3-g1+!</span> 
 <span onclick='loadMove("6k1/p4pp1/q1b4p/8/5B2/8/P3QP1P/R5K1 b - - 0 3", this, "f1g1"); ' class="line0">3.Крf1:g1</span> 
 <span onclick='loadMove("6k1/p4pp1/2b4p/8/5B2/8/P3qP1P/R5K1 w - - 0 4", this, "a6e2"); ' class="line0">Фa6:e2</span> 
.</p>
</div> <!-- score -->
</div> <!-- section -->

<div class="section">
<div class="chessBoard small" data-start-fen="2r2bk1/6p1/p7/1p6/2n5/P1N5/1P3RP1/2B4K b - - 0 1"></div>
<div class="score">
 <span class="line0" onclick='loadMove("2r2bk1/6p1/p7/1p6/2n5/P1N5/1P3RP1/2B4K b - - 0 1", this, ""); '>[...]</span> 
<p>№ 91</p>
<!--img src="images/Tarrash_1933-92.png" style="width:87pt;height:91pt;"/-->
<p>Черные выигрывают пешку посредством
 <span onclick='loadMove("2r2bk1/6p1/p7/1p6/8/n1N5/1P3RP1/2B4K w - - 0 2", this, "c4a3"); ' class="line0">1...Кc4:a3</span> 
 <span onclick='loadMove("2r2bk1/6p1/p7/1p6/8/P1N5/5RP1/2B4K b - - 0 2", this, "b2a3"); ' class="line0">2.b2:a3</span> 
 <span onclick='loadMove("5bk1/6p1/p7/1p6/8/P1r5/5RP1/2B4K w - - 0 3", this, "c8c3"); ' class="line0">Лc8:c3</span> 
.</p>
</div> <!-- score -->
</div> <!-- section -->

<div class="section">
<div class="chessBoard small" data-start-fen="8/8/6k1/6p1/1B6/P6P/6QK/3rq3 b - - 0 1"></div>
<div class="score">
 <span class="line0" onclick='loadMove("8/8/6k1/6p1/1B6/P6P/6QK/3rq3 b - - 0 1", this, ""); '>[...]</span> 
<p>№ 92</p>
<!--img src="images/Tarrash_1933-91.png" style="width:87pt;height:90pt;"/-->
<p>Черные выигрывают ферзя посредством
 <span onclick='loadMove("8/8/6k1/4q1p1/1B6/P6P/6QK/3r4 w - - 0 2", this, "e1e5"); ' class="line0">1...Фe1-e5+</span> 
 <span onclick='loadMove("8/8/6k1/4q1p1/1B6/P5QP/7K/3r4 b - - 0 2", this, "g2g3"); ' class="line0">2.Фg2-g3</span> 
 <span onclick='loadMove("8/8/6k1/4q1p1/1B6/P5QP/7K/7r w - - 0 3", this, "d1h1"); ' class="line0">Лd1-h1+</span> 
 <span onclick='loadMove("8/8/6k1/4q1p1/1B6/P5QP/6K1/7r b - - 0 3", this, "h2g2"); ' class="line0">3.Крh2-g2</span> 
(Или
 <span onclick='loadMove("8/8/6k1/4q1p1/1B6/P5QP/8/7K b - - 0 3", this, "h2h1"); ' class="line1">3.Кр:h1</span> 
 <span onclick='loadMove("8/8/6k1/6p1/1B6/P5qP/8/7K w - - 0 4", this, "e5g3"); ' class="line1">Ф:g3</span> 
)
 <span onclick='loadMove("8/8/6k1/4q1p1/1B6/P5QP/6K1/6r1 w - - 0 4", this, "h1g1"); ' class="line0">3...Лh1-g1+</span> 
 <span onclick='loadMove("8/8/6k1/4q1p1/1B6/P5QP/8/6K1 b - - 0 4", this, "g2g1"); ' class="line0">4.Крg2:g1</span> 
 <span onclick='loadMove("8/8/6k1/6p1/1B6/P5qP/8/6K1 w - - 0 5", this, "e5g3"); ' class="line0">Фe5:g3+</span> 
.</p>
</div> <!-- score -->
</div> <!-- section -->

<div class="section">
<div class="chessBoard small" data-start-fen="r5k1/p1p1q1pp/3b4/1P1P4/N2Q4/5R2/PP4PP/6K1 b - - 0 1"></div>
<div class="score">
 <span class="line0" onclick='loadMove("r5k1/p1p1q1pp/3b4/1P1P4/N2Q4/5R2/PP4PP/6K1 b - - 0 1", this, ""); '>[...]</span> 
<p>№ 93</p>
<!--img src="images/Tarrash_1933-93.png" style="width:89pt;height:90pt;"/-->
<p>Черные выигрывают качество:</p>
<p>
 <span onclick='loadMove("r5k1/p1p3pp/3b4/1P1P4/N2Q4/5R2/PP4PP/4q1K1 w - - 0 2", this, "e7e1"); ' class="line0">1...Фe7-e1+</span> 
 <span onclick='loadMove("r5k1/p1p3pp/3b4/1P1P4/N2Q4/8/PP4PP/4qRK1 b - - 0 2", this, "f3f1"); ' class="line0">2.Лf3-f1</span> 
 <span onclick='loadMove("r5k1/p1p3pp/8/1P1P4/N2Q4/8/PP4Pb/4qRK1 w - - 0 3", this, "d6h2"); ' class="line0">Сd6:h2+</span> 
 <span onclick='loadMove("r5k1/p1p3pp/8/1P1P4/N2Q4/8/PP4PK/4qR2 b - - 0 3", this, "g1h2"); ' class="line0">3.Крg1:h2</span> 
 <span onclick='loadMove("r5k1/p1p3pp/8/1P1P4/N2Q4/8/PP4PK/5q2 w - - 0 4", this, "e1f1"); ' class="line0">Фe1:f1</span> 
.</p>
</div> <!-- score -->
</div> <!-- section -->

<div class="section">
<div class="chessBoard small" data-start-fen="4rrk1/p1p1q1pp/1p1b4/1P1Pnp2/N2Q4/3B4/PP4PP/4RRK1 w - - 0 1"></div>
<div class="score">
 <span class="line0" onclick='loadMove("4rrk1/p1p1q1pp/1p1b4/1P1Pnp2/N2Q4/3B4/PP4PP/4RRK1 w - - 0 1", this, ""); '>[...]</span> 
<p>№ 94</p>
<!--img src="images/Tarrash_1933-94.png" style="width:88pt;height:90pt;"/-->
<!--p>35</p-->
<p>Белые совершат грубый промах, если слоном d3 возьмут пешку f5. Черные пожертвуют на f5 качество, после чего ладья e1 останется без защиты:
 <span onclick='loadMove("4rrk1/p1p1q1pp/1p1b4/1P1PnB2/N2Q4/8/PP4PP/4RRK1 b - - 0 1", this, "d3f5"); ' class="line0">1.Сd3:f5?</span> 
 <span onclick='loadMove("4r1k1/p1p1q1pp/1p1b4/1P1Pnr2/N2Q4/8/PP4PP/4RRK1 w - - 0 2", this, "f8f5"); ' class="line0">Лf8:f5!</span> 
 <span onclick='loadMove("4r1k1/p1p1q1pp/1p1b4/1P1PnR2/N2Q4/8/PP4PP/4R1K1 b - - 0 2", this, "f1f5"); ' class="line0">2.Лf1:f5</span> 
 <span onclick='loadMove("4r1k1/p1p1q1pp/1p1b4/1P1P1R2/N2Q4/5n2/PP4PP/4R1K1 w - - 0 3", this, "e5f3"); ' class="line0">Кe5-f3+!</span> 
 <span onclick='loadMove("4r1k1/p1p1q1pp/1p1b4/1P1P4/N2Q4/5R2/PP4PP/4R1K1 b - - 0 3", this, "f5f3"); ' class="line0">3.Лf5:f3!</span> 
(
 <span onclick='loadMove("4r1k1/p1p1q1pp/1p1b4/1P1P1R2/N2Q4/5P2/PP5P/4R1K1 b - - 0 3", this, "g2f3"); ' class="line1">3.g2:f3</span> 
приводит к мату после
 <span onclick='loadMove("4r1k1/p1p3pp/1p1b4/1P1P1R2/N2Q4/5P2/PP5P/4q1K1 w - - 0 4", this, "e7e1"); ' class="line1">3...Ф:e1+</span> 
 <span onclick='loadMove("4r1k1/p1p3pp/1p1b4/1P1P1R2/N2Q4/5P2/PP4KP/4q3 b - - 0 4", this, "g1g2"); ' class="line1">4.Крg2</span> 
 <span onclick='loadMove("6k1/p1p3pp/1p1b4/1P1P1R2/N2Q4/5P2/PP2r1KP/4q3 w - - 0 5", this, "e8e2"); ' class="line1">Лe2+</span> 
 <span onclick='loadMove("6k1/p1p3pp/1p1b4/1P1P1R2/N2Q4/5P1K/PP2r2P/4q3 b - - 0 5", this, "g2h3"); ' class="line1">5.Крh3</span> 
 <span onclick='loadMove("6k1/p1p3pp/1p1b4/1P1P1R2/N2Q4/5P1K/PP5r/4q3 w - - 0 6", this, "e2h2"); ' class="line1">Л:h2+</span> 
 <span onclick='loadMove("6k1/p1p3pp/1p1b4/1P1P1R2/N2Q2K1/5P2/PP5r/4q3 b - - 0 6", this, "h3g4"); ' class="line1">6.Крg4</span> 
 <span onclick='loadMove("6k1/p1p3pp/1p1b4/1P1P1R2/N2Q2Kq/5P2/PP5r/8 w - - 0 7", this, "e1h4"); ' class="line1">Фh4X</span> 
)
 <span onclick='loadMove("4r1k1/p1p3pp/1p1b4/1P1P4/N2Q4/5R2/PP4PP/4q1K1 w - - 0 4", this, "e7e1"); ' class="line0">3...Фe7:e1+</span> 
 <span onclick='loadMove("4r1k1/p1p3pp/1p1b4/1P1P4/N2Q4/8/PP4PP/4qRK1 b - - 0 4", this, "f3f1"); ' class="line0">4.Лf3-f1</span> 
 <span onclick='loadMove("4r1k1/p1p3pp/1p6/1P1P4/N2Q4/8/PP4Pb/4qRK1 w - - 0 5", this, "d6h2"); ' class="line0">Сd6:h2+</span> 
(Снова отвлечение защищающей фигуры)
 <span onclick='loadMove("4r1k1/p1p3pp/1p6/1P1P4/N2Q4/8/PP4PK/4qR2 b - - 0 5", this, "g1h2"); ' class="line0">5.Крg1:h2</span> 
 <span onclick='loadMove("4r1k1/p1p3pp/1p6/1P1P4/N2Q4/8/PP4PK/5q2 w - - 0 6", this, "e1f1"); ' class="line0">Фe1:f1</span> 
, и черные при продолжающейся атаке остаются с лишним качеством.</p>
</div> <!-- score -->
</div> <!-- section -->

<div class="section">
<div class="chessBoard small" data-start-fen="6k1/2Q2bb1/7p/2p5/2P5/8/2q1rNP1/2B2RK1 b - - 0 1"></div>
<div class="score">
 <span class="line0" onclick='loadMove("6k1/2Q2bb1/7p/2p5/2P5/8/2q1rNP1/2B2RK1 b - - 0 1", this, ""); '>[...]</span> 
<p>№ 95</p>
<!--img src="images/Tarrash_1933-95.png" style="width:120pt;height:90pt;"/-->
<p>Черные добиваются преимущества посредством
 <span onclick='loadMove("6k1/2Q2bb1/7p/2p5/2P5/8/2q2rP1/2B2RK1 w - - 0 2", this, "e2f2"); ' class="line0">1...Лe2:f2!</span> 
 <span onclick='loadMove("6k1/2Q2bb1/7p/2p5/2P5/8/2q2RP1/2B3K1 b - - 0 2", this, "f1f2"); ' class="line0">2.Лf1:f2</span> 
 <span onclick='loadMove("6k1/2Q2bb1/7p/2p5/2P5/8/5RP1/2q3K1 w - - 0 3", this, "c2c1"); ' class="line0">Фc2:c1+</span> 
.</p>
</div> <!-- score -->
</div> <!-- section -->

<p class="score">Следующая комбинация, нередко встречающаяся в практической игре, также основана на отвлечении защищающей ферзя фигуры.</p>

<div class="section">
<div class="chessBoard small" data-start-fen="r2r3k/pp4p1/7p/3q4/8/8/PP1Q2PP/R4RK1 w - - 0 1"></div>
<div class="score">
 <span class="line0" onclick='loadMove("r2r3k/pp4p1/7p/3q4/8/8/PP1Q2PP/R4RK1 w - - 0 1", this, ""); '>[...]</span> 
<p>№ 96</p>
<!--img src="images/Tarrash_1933-96.png" style="width:119pt;height:91pt;"/-->
<p>(См. диаграмму № 96) Белые выигрывают изящным и неожиданным ходом
 <span onclick='loadMove("r2r1R1k/pp4p1/7p/3q4/8/8/PP1Q2PP/R5K1 b - - 0 1", this, "f1f8"); ' class="line0">1.Лf1-f8+</span> 
. Если теперь
 <span onclick='loadMove("r4r1k/pp4p1/7p/3q4/8/8/PP1Q2PP/R5K1 w - - 0 2", this, "d8f8"); ' class="line0">1...Лd8:f8</span> 
, то после
 <span onclick='loadMove("r4r1k/pp4p1/7p/3Q4/8/8/PP4PP/R5K1 b - - 0 2", this, "d2d5"); ' class="line0">2.Фd2:d5</span> 
белые остаются с ферзем за ладью, а при
 <span onclick='loadMove("r2r1R2/pp4pk/7p/3q4/8/8/PP1Q2PP/R5K1 w - - 0 2", this, "h8h7"); ' class="line1">1...Крh8-h7</span> 
 <span onclick='loadMove("r2r1R2/pp4pk/7p/3Q4/8/8/PP4PP/R5K1 b - - 0 2", this, "d2d5"); ' class="line1">2.Фd2:d5</span> 
 <span onclick='loadMove("r4R2/pp4pk/7p/3r4/8/8/PP4PP/R5K1 w - - 0 3", this, "d8d5"); ' class="line1">Лd8:d5</span> 
 <span onclick='loadMove("R7/pp4pk/7p/3r4/8/8/PP4PP/R5K1 b - - 0 3", this, "f8a8"); ' class="line1">3.Лf8:a8</span> 
они получают лишнюю ладью. В обоих случаях положение черных безнадежно; между тем при отходе белого ферзя (или размене) игра равна.</p>
</div> <!-- score -->
</div> <!-- section -->

<p class="score">Иногда можно добиться устранения защиты посредством пересечения соответствующей диагонали или вертикали.</p>

<div class="section">
<div class="chessBoard small" data-start-fen="3rr1k1/p1pqbppp/2pp1n2/8/4P3/1P1P2N1/PB3PPP/R2QR1K1 b - - 0 1"></div>
<div class="score">
 <span class="line0" onclick='loadMove("3rr1k1/p1pqbppp/2pp1n2/8/4P3/1P1P2N1/PB3PPP/R2QR1K1 b - - 0 1", this, ""); '>[...]</span> 
<p>№ 97</p>
<!--img src="images/Tarrash_1933-97.png" style="width:120pt;height:91pt;"/-->
<p>Так, например, в положении на диагр. № 97, если черные сыграют
 <span onclick='loadMove("3rr1k1/p1pqbppp/2p2n2/3p4/4P3/1P1P2N1/PB3PPP/R2QR1K1 w - - 0 2", this, "d6d5"); ' class="line0">1...d6-d5?</span> 
, то белые выиграют фигуру посредством
 <span onclick='loadMove("3rr1k1/p1pqbppp/2p2n2/3pP3/8/1P1P2N1/PB3PPP/R2QR1K1 b - - 0 2", this, "e4e5"); ' class="line0">2.e4-e5</span> 
 <span onclick='loadMove("3rr1k1/p1pqbppp/2p5/3pP3/6n1/1P1P2N1/PB3PPP/R2QR1K1 w - - 0 3", this, "f6g4"); ' class="line0">Кf6-g4</span> 
 <span onclick='loadMove("3rr1k1/p1pqbppp/2p1P3/3p4/6n1/1P1P2N1/PB3PPP/R2QR1K1 b - - 0 3", this, "e5e6"); ' class="line0">3.e5-e6!</span> 
(Пересекая диагональ)
 <span onclick='loadMove("3rr1k1/p1pqb1pp/2p1p3/3p4/6n1/1P1P2N1/PB3PPP/R2QR1K1 w - - 0 4", this, "f7e6"); ' class="line0">3...f7:e6</span> 
 <span onclick='loadMove("3rr1k1/p1pqb1pp/2p1p3/3p4/6Q1/1P1P2N1/PB3PPP/R3R1K1 b - - 0 4", this, "d1g4"); ' class="line0">4.Фd1:g4</span> 
.</p>
</div> <!-- score -->
</div> <!-- section -->

<div class="section">
<div class="chessBoard small" data-start-fen="1r2rqk1/p4pb1/3pn1pp/2p5/2p1P1PP/1P2BP2/PPKQN3/3R3R w - - 0 1"></div>
<div class="score">
 <span class="line0" onclick='loadMove("1r2rqk1/p4pb1/3pn1pp/2p5/2p1P1PP/1P2BP2/PPKQN3/3R3R w - - 0 1", this, ""); '>[...]</span> 
<p>№ 98</p>
<!--img src="images/Tarrash_1933-98.png" style="width:120pt;height:91pt;"/-->
<p>Также и в положении на диагр. № 98 белым нельзя бить пешку d6, так как на
<!--p>36</p-->
 <span onclick='loadMove("1r2rqk1/p4pb1/3Qn1pp/2p5/2p1P1PP/1P2BP2/PPK1N3/3R3R b - - 0 1", this, "d2d6"); ' class="line0">1.Фd2:d6</span> 
последует
 <span onclick='loadMove("1r2rqk1/p4pb1/3Q2pp/2p5/2pnP1PP/1P2BP2/PPK1N3/3R3R w - - 0 2", this, "e6d4"); ' class="line0">1...Кe6-d4+</span> 
, и вследствие пересечения вертикали ферзь лишается защиты ладьи. В данном случае белые вынуждены посредством
 <span onclick='loadMove("1r2rqk1/p4pb1/3Q2pp/2p5/2pRP1PP/1P2BP2/PPK1N3/7R b - - 0 2", this, "d1d4"); ' class="line0">2.Лd1:d4</span> 
отдать качество.</p>
</div> <!-- score -->
</div> <!-- section -->

</div> <!-- iBook -->
{% endblock content %}

