{% extends '../../base.htm' %}
{% load static %}
{% block title %}
<title>Ловля ферзя после взятия пешки на b2 (b7) | {{book.title}} | {%for author in book.authors.all%} {%if author.first_name%} {{author.first_name}} {%endif%} {%if author.second_name%} {{author.second_name}} {%endif%} {%if forloop.counter == book.authors.all.count%} {{author.last_name}} {%else%} {{author.last_name}}, {%endif%} {%endfor%} | {{book.year}}</title>
{% endblock title %}
{% block content %}

<div class="iBook">

<div class="section">
<div class="score">
<h2>ЛОВЛЯ ФЕРЗЯ ПОСЛЕ ВЗЯТИЯ ПЕШКИ НА b2 (b7)</h2>
<p>Если Ферзь неосторожно вторгается во вражеский лагерь, он легко может там подвергнуться атаке и в конце концов погибнуть. Выше мы уже привели несколько примеров этого (см., напр., диагр. № 111). Ограничимся здесь демонстрацией двух типичных случаев, которые получаются после взятия ферзем пешки b2 (b7).</p>
</div> <!-- score -->
</div> <!-- section -->

<div class="section">
<div class="chessBoard small" data-start-fen="2br1rk1/1p2nppp/pq1b1n2/3pNP2/2pP2P1/P1N1BB2/1PPQ3P/R4RK1 w - - 0 1"></div>
<div class="score">
 <span class="line0" onclick='loadMove("2br1rk1/1p2nppp/pq1b1n2/3pNP2/2pP2P1/P1N1BB2/1PPQ3P/R4RK1 w - - 0 1", this, ""); '>[...]</span> 
<p>№ 121</p>
<!--img src="images/Tarrash_1933-121.png" style="width:121pt;height:90pt;"/-->
<p>Белые играют
 <span onclick='loadMove("2br1rk1/1p2nppp/pq1b1n2/3pNP2/2pP2P1/P1N1BB2/1PPQ3P/3R1RK1 b - - 0 1", this, "a1d1"); ' class="line0">1.Лa1-d1</span> 
, заманивая противника в ловушку, которая при
 <span onclick='loadMove("2br1rk1/1p2nppp/pq1b1n2/3pNP2/2pP2P1/P1N1BB2/1PPQ3P/R2R2K1 b - - 0 1", this, "f1d1"); ' class="line1">1.Лf1-d1</span> 
была бы слишком прозрачной, так как в этом случае после
 <span onclick='loadMove("2br1rk1/1p2nppp/p2b1n2/3pNP2/2pP2P1/P1N1BB2/1qPQ3P/R2R2K1 w - - 0 2", this, "b6b2"); ' class="line1">1...Фb6:b2?</span> 
ферзь выигрывается сразу посредством
 <span onclick='loadMove("2br1rk1/1p2nppp/p2b1n2/3pNP2/2pP2P1/P1N1BB2/1qPQ3P/RR4K1 b - - 0 2", this, "d1b1"); ' class="line1">2.Лd1-b1</span> 
. После сделанного хода черные
<!--p>44</p-->
полагают, что они могут безнаказанно бить пешку; однако продолжение
 <span onclick='loadMove("2br1rk1/1p2nppp/p2b1n2/3pNP2/2pP2P1/P1N1BB2/1qPQ3P/3R1RK1 w - - 0 2", this, "b6b2"); ' class="line0">1...Фb6:b2?</span> 
 <span onclick='loadMove("2br1rk1/1p2nppp/p2b1n2/3pNP2/2pP2P1/P1N1BB2/1qPQ3P/1R3RK1 b - - 0 2", this, "d1b1"); ' class="line0">2.Лd1-b1</span> 
 <span onclick='loadMove("2br1rk1/1p2nppp/p2b1n2/3pNP2/2pP2P1/q1N1BB2/2PQ3P/1R3RK1 w - - 0 3", this, "b2a3"); ' class="line0">Фb2:a3</span> 
 <span onclick='loadMove("2br1rk1/1p2nppp/p2b1n2/3pNP2/2pP2P1/q1N1BB2/2PQ3P/R4RK1 b - - 0 3", this, "b1a1"); ' class="line0">3.Лb1-a1</span> 
 <span onclick='loadMove("2br1rk1/1p2nppp/p2b1n2/3pNP2/1qpP2P1/2N1BB2/2PQ3P/R4RK1 w - - 0 4", this, "a3b4"); ' class="line0">Фa3-b4</span> 
 <span onclick='loadMove("2br1rk1/1p2nppp/p2b1n2/3pNP2/1qpP2P1/2N1BB2/2PQ3P/RR4K1 b - - 0 4", this, "f1b1"); ' class="line0">4.Лf1-b1</span> 
показывает, что и в этом случае ферзь обречен на гибель.</p>
</div> <!-- score -->
</div> <!-- section -->

<div class="section">
<div class="chessBoard small" data-start-fen="r1bk3r/pp4b1/2np2qp/5pp1/3P2P1/2PB1N2/PP4K1/R1BQ3R w - - 0 1"></div>
<div class="score">
 <span class="line0" onclick='loadMove("r1bk3r/pp4b1/2np2qp/5pp1/3P2P1/2PB1N2/PP4K1/R1BQ3R w - - 0 1", this, ""); '>[...]</span> 
<p>№ 122</p>
<!--img src="images/Tarrash_1933-122.png" style="width:89pt;height:90pt;"/-->
<p>Здесь последовало:
 <span onclick='loadMove("r1bk3r/pp4b1/2np2qp/5pp1/3P2P1/1QPB1N2/PP4K1/R1B4R b - - 0 1", this, "d1b3"); ' class="line0">1.Фd1-b3</span> 
 <span onclick='loadMove("r1bk1r2/pp4b1/2np2qp/5pp1/3P2P1/1QPB1N2/PP4K1/R1B4R w - - 0 2", this, "h8f8"); ' class="line0">Лh8-f8</span> 
 <span onclick='loadMove("r1bk1r2/pp4b1/2np2qp/5Pp1/3P4/1QPB1N2/PP4K1/R1B4R b - - 0 2", this, "g4f5"); ' class="line0">2.g4:f5?</span> 
(Белые считают этот ход очень сильным, так как по их мнению слон c8 должен защищать пешку b7)
 <span onclick='loadMove("r2k1r2/pp4b1/2np2qp/5bp1/3P4/1QPB1N2/PP4K1/R1B4R w - - 0 3", this, "c8f5"); ' class="line0">2...Сc8:f5!</span> 
 <span onclick='loadMove("r2k1r2/pQ4b1/2np2qp/5bp1/3P4/2PB1N2/PP4K1/R1B4R b - - 0 3", this, "b3b7"); ' class="line0">3.Фb3:b7?</span> 
(С нападением на ладью и коня)
 <span onclick='loadMove("r2k1r2/pQ4b1/2np2qp/6p1/3P4/2Pb1N2/PP4K1/R1B4R w - - 0 4", this, "f5d3"); ' class="line0">3...Сf5:d3</span> 
 <span onclick='loadMove("Q2k1r2/p5b1/2np2qp/6p1/3P4/2Pb1N2/PP4K1/R1B4R b - - 0 4", this, "b7a8"); ' class="line0">4.Фb7:a8+</span> 
 <span onclick='loadMove("Q4r2/p1k3b1/2np2qp/6p1/3P4/2Pb1N2/PP4K1/R1B4R w - - 0 5", this, "d8c7"); ' class="line0">Крd8-c7</span> 
, и ферзь погиб. На
 <span onclick='loadMove("r2k1r2/p5b1/2Qp2qp/6p1/3P4/2Pb1N2/PP4K1/R1B4R b - - 0 4", this, "b7c6"); ' class="line1">4.Фb7:c6</span> 
,
 <span onclick='loadMove("r2k1r2/p5b1/2Qp2qp/6p1/3Pb3/2P2N2/PP4K1/R1B4R w - - 0 5", this, "d3e4"); ' class="line1">4...Сd3-e4</span> 
выигрывает коня f3.</p>
<p>Когда ферзь при полной доске фигур забирается в лагерь противника, необходимо точно рассчитать, не будет ли ему отрезано отступление.</p>
</div> <!-- score -->
</div> <!-- section -->

</div> <!-- iBook -->
{% endblock content %}

