{% extends '../../base.htm' %}
{% load static %}
{% block title %}
<title>{{book.title}} | {%for author in book.authors.all%} {%if author.first_name%} {{author.first_name}} {%endif%} {%if author.second_name%} {{author.second_name}} {%endif%} {%if forloop.counter == book.authors.all.count%} {{author.last_name}} {%else%} {{author.last_name}}, {%endif%} {%endfor%} | {{book.year}}</title>
{% endblock title %}
{% block content %}

<div class="iBook">

<div class="section">
<div class="small floater">
 <img src="{% static 'images/'|add:book.slug|add:'/thumb.jpg' %}" />
</div>
<div class="score">
<p>ШАХМАТНОЕ ИСКУССТВО</p>
<p>М. Юдович</p>
<h1>МИХАИЛ ЧИГОРИН<br>Жизнь и творчество</h1>
<p>МОСКВА «СОВЕТСКАЯ РОССИЯ» 1985</p>
<hr />

<!--p>7А9.1.</p-->
<!--p>Ю16</p-->

<div class="message">
<p>Рецензент А. С. Суэтин</p>
<p>Художник Л. Е. Генкель</p>
</div>

<div class="message">
<p>Юдович М. М.</p>
<p>1016 Михаил Чигорин: Жизнь и творчество.— М.: Сов.Россия, 1985.— 208 с., 0,5 л. илл., диагр.— (Шахматное искусство).</p>
</div>

<div class="notification message">
<p>В XIX веке выдвинулась целая плеяда выдающихся русских шахматистов, творчество которых способствовало зарождению отечественной шахматной школы, получившей всемирное признание. Главная роль здесь принадлежит Михаилу Ивановичу Чигорину. Автор книги знакомит читателя с наиболее значительными событиями жизни и творчества этого выдающегося шахматиста, на примере лучших его партий н задач
показыпает вклад Чигорина в развитие теории шахмат.</p>
</div>

<!--p>Ю 4202000000-047 73-86</p-->
<!--p>М-105 (03) 86</p-->
<!--p>7А9.1.</p-->
<p>© Издательство «Советская Россия*, 1985 г.</p>
</div> <!-- score -->
</div> <!-- section -->

</div> <!-- iBook -->

{% endblock content %}

