{% extends '../../base.htm' %}
{% load static %}
{% block title %}
<title>Рубцы на сердце | {{book.title}} | {%for author in book.authors.all%} {%if author.first_name%} {{author.first_name}} {%endif%} {%if author.second_name%} {{author.second_name}} {%endif%} {%if forloop.counter == book.authors.all.count%} {{author.last_name}} {%else%} {{author.last_name}}, {%endif%} {%endfor%} | {{book.year}}</title>
{% endblock title %}
{% block content %}

<div class="iBook">

<h2>РУБЦЫ НА СЕРДЦЕ</h2>

<div class="score">
<p>Этот трехэтажный каменный дом, просторный, торжественный и вместе с тем мрачный,— один из самых приметных на центральной улице небольшого старинного города Гатчина, что в 45 километрах от Ленинграда.</p>
<p>Сейчас здесь разместились некоторые городские учреждения, а с 1806 года в течение многих десятков лет находился в этом доме Гатчинский сиротский институт. По уставу в институт принимали «сирот военных обер-офицеров и гражданской службы чиновников, до 9-го класса включительно, преимущественно лишившихся отца и матери, то есть круглых сирот».</p>
<p>Сюда, в дождливый осенний день 1859 года, Фекла Ивановна Чигорина привела своего племянника, робкого черноволосого мальчугана Мишу Чигорина. Направлен Миша в институт был еще в июле 1859 года следующим постановлением Санкт-Петербургского опекунского совета:</p>
<p>«Оставшегося в круглом сиротстве сына титулярного советника Чигорина Михаила зачислить в кандидатский список по Гатчинскому Николаевскому сиротскому институту для преимущественного поступления в сие заведение по достижении очереди».</p>
<p>«Сие заведение» готовило чиновников низшего ранга. Особое внимание в учебной программе уделялось закону божьему и чистописанию, выпускники должны были служить верноподанно, уметь красиво переписывать казенные бумаги.</p>
<p>Почти три месяца свободных вакансий в институте не было, и лишь в октябре Миша был принят в группу «малолетних детей». Было ему тогда девять лет.</p>

<h3 style="text-align:center">* * *</h3>

<p>Немного сохранилось достоверных данных о роде потомственных мастеровых Чигориных. Известно, что дед знаменитого
<!--p>3</p-->
шахматиста Иван Чигорин в начале прошлого века был солдатом. По окончании срока службы отставного солдата причислили рабочим на Охтинский пороховой завод, основанный еще в 1715 году по указу Петра Первого.</p>
<p>Отец русского чемпиона Иван Иванович Чигорин в 1837 году закончил пиротехническую школу при этом старинном заводе и в двадцатилетнем возрасте стал мастером порохового дела первого разряда.</p>
<p>Способный и трудолюбивый Иван Иванович делал немалые успехи — в 1843 году его уже назначили старшим мастером.</p>
<p>31 октября 1850 года у Ивана Ивановича и жены его — крестьянки Натальи Егоровны родился сын Миша. Семья была дружной, работящей, малыш был окружен заботой и вниманием, ни в чем не испытывал нужды.</p>
<p>На заводе дела у Ивана Ивановича шли хорошо. В 1853 году ему было доверено заведовать пиротехнической школой, а еще через год стал он помощником бухгалтера.</p>
<p>12 апреля 1856 года начальник завода генерал-майор Фадеев докладывал главному инспектору пороховых заводов:</p>
<p>«...Принимая во внимание, что основательные познания титулярного советника Чигорина, приобретенные им в школе и на практике в 10-летнюю бытность его старшим пороховым мастером, способствуют делопроизводству, как по письменной, так и по счетной, а в особенности технической частям... предписано мной титулярному советнику Чигорину... принять все дела по канцелярии и вступить вполне в управление канцеляриею».</p>
<p>В тот же, 1856 год тяжелое горе обрушилось на семью Чигориных. Всего лишь в возрасте 34 лет умерла Наталья Егоровна. Смерть эта потрясла и подкосила Ивана Ивановича. Только на три года пережил он горячо любимую жену. Так и стал Миша Чигорин круглым сиротой...</p>
<p>Заботы о мальчике приняла на себя сестра его отца Фекла Ивановна. Хлопоты ее о принятии на казенный счет воспитания и обучения Миши в сиротском институте поддержала дирекция порохового завода, которому отец Миши отдал более двадцати лет «беспорочной службы».</p>
<p>Страшным было это время для Миши Чигорина, неизгладимые рубцы оставило оно в его сердце. Чувствовать себя одиноким, никому не нужным — тяжкое испытание для ребенка.</p>
<p>Да и в сиротском институте, где девять лет провел Миша, обстановка была крайне тяжелой. Учили здесь плохо, царила палочная дисциплина, за малейшую провинность били,
<!--p>4</p-->
воспитанников сажали в сырой и темный карцер, узаконена была еженедельная порка провинившихся.</p>
<p>Кормили кое-как... «Хлеб — кислый, затхлый, с песком, говядина — жесткая, суп и каша — с песком, масло горькое»,— вспоминал впоследствии Чигорин.</p>
<p>Почти все учителя были озлобленными людьми, уныло тянувшими служебную лямку, не любившими детей. Не повезло Чигорину. В год его поступления ушел из института выдающийся русский педагог Константин Дмитриевич Ушинский, несколько лет бывший там инспектором. Не ко двору в этом мрачном заведении пришелся он со своими воззрениями о воспитании любви к родине и веры в неиссякаемые силы народа.</p>
<p>И все же благотворное влияние преподавательской деятельности Ушинского кое в чем сказалось. Его стараниями в институте была создана неплохая по тем временам библиотека. Среди старших воспитанников было немало таких, кто благоговейно хранил память о беседах Константина Дмитриевича, учившего доброте и уважению достоинства человека. Вера в лучшее будущее скрашивала мрачные будни института.</p>
<p>Единственным утешением Миши Чигорина были книги. Читал он очень много, правда беспорядочно, все, что попадется под руку. А потом еще появилась маленькая радость. Когда Мише было шестнадцать лет, его научил играть в шахматы учитель немецкого языка Август Августович Шуман. Большой любитель шахмат, добрый человек, Шуман старался научить этой игре воспитанников института, хоть чем-то облегчить их трудную жизнь.</p>
<p>Партнеров среди своих коллег он не находил, учителя находили его увлечение смешным. Одним из постоянных соперников Шумана стал Миша Чигорин.</p>
<p>Сохранились свидетельства, что Шуман, которому было под шестьдесят лет, имел некоторый опыт игры в различных кафе Риги. Вначале он познакомил Чигорина с правилами игры и, конечно, давал ему большую фору, но вскоре и на равных начал проигрывать своему ученику. Дело дошло даже до того, что уже Чигорин стал играть с Шуманом без ладьи.</p>
<p>И учитель и ученик понятия не имели о теории, несомненно, играли очень слабо, но... недаром говорят, что нет шахматиста столь слабого, который не мог бы встретить еще более слабого и дать ему ладью вперед!</p>
<p>А обстановка в институте становилась все более тягостной. Особенно усердствовал в издевательствах над ребятами воспитатель Игнациус, придиравшийся к воспитанникам за
<!--p>5</p-->
каждую мелочь, избивавший их палкой. Он обычно говорил: «У вас прав нет никаких, моя воля для вас — закон».</p>
<p>Воспитанники не раз жаловались директору института Доливо-Добровольскому на истязания, учиняемые Игнациусом, но все оставалось по-прежнему.</p>
<p>Беспросветная жизнь довела воспитанников до отчаяния. Долготерпение лопнуло в феврале 1868 года. События развивались так.</p>
<p>20 февраля был арестован воспитанник Власов, отказавшийся поцеловать руку священнику.</p>
<p>В ту пору это было чуть ли не государственное преступление, и Доливо-Добровольский заявил, что нарушитель дисциплины будет отдан в солдаты.</p>
<p>Делегация старших воспитанников явилась к директору с просьбой освободить Власова и прекратить издевательства Игнациуса. Переговоры ни к чему не привели. 22 февраля ученики снова пришли к директору, но на этот раз на квартиру с теми же просьбами. Доливо-Добровольский стал им угрожать. Кто-то из ребят погасил лампу, и в темноте воспитанники избили директора до полусмерти...</p>
<p>Дело получило широкую огласку. Властями была создана следственная комиссия. Вскрылись неприглядные факты хищений, издевательств над детьми. Стремясь замять неприятный инцидент, комиссия предложила директору подать в отставку «по болезни», девять «бунтовщиков» — воспитанников исключили из института. Среди них был и Миша Чигорин.</p>
<p>Так закончились детские и школьные годы Чигорина. На улице без профессии, без законченного образования, без поддержки. Уволенным из института выдали по 60 рублей на экипировку и предложили самим изыскивать средства существования.</p>
<p>И вот Чигорин опять у тетки Феклы Ивановны в ее скромном домике на окраине Петербурга. Как жить, что делать?</p>
<p>Начинаются мучительные поиски работы, отказы, отказы, снова отказы... Кто же захочет принять неблагонадежного, исключенного из института за «неподчинение властям»? Бетонной тяжестью наваливаются бесконечные заботы о хлебе насущном. Жалкая судьба неудачника, вечного просителя.</p>
<p>И снова рубцы на сердце...</p>
<p>Неминуемо, что детство без детства, все, так рано пережитое, должно было сказаться и сказалось в дальнейшем на характере Михаила Ивановича, определило его мнительность, острое чувство обидчивости, психологическую неустойчивость.</p>
<p>Три долгих года обивал Чигорин пороги всевозможных
<!--p>6</p-->
департаментов и канцелярий, жил в тягостной, постоянной нужде. О шахматах и не вспоминал: ни партнеров, ни настроения не было. А книги — в них ему виделось все хорошее на земле, вся мудрость бытия. Надо читать много, чтобы знать хоть немного,— это Чигорин понял еще в сиротском институте. Только книги помогали жить, укрепляли его веру в будущее, в то, что не все еще потеряно...</p>
<p>И вот, наконец, ему, близкому к отчаянию, улыбнулось счастье. В августе 1871 года после многих прошений он был определен «исправляющим должность письмоводителя» в одно из управлений петербургского градоначальника. Более чем скромная должность, мизерное жалование, но все-таки постоянный заработок.</p>
<p>В мир шахмат вернул случай. В департаменте рассказал кто-то, что на Невском в ресторане «Доминик» играют любители шахмат. Захотелось и Чигорину хоть немного развеяться, поглядеть на шахматные поединки...</p>
<p>Каменный дом в центре Гатчины. Две мемориальные доски на его стене. Два великих сына России — Константин Дмитриевич Ушинский, Михаил Иванович Чигорин — связаны своей жизнью и судьбой с этим домом, с Гатчинским сиротским институтом...</p>
</div> <!-- score -->

</div> <!-- iBook -->

{% endblock content %}

