{% extends '../../base.htm' %}
{% load static %}
{% block title %}
<title>В поисках истины | {{book.title}} | {%for author in book.authors.all%} {%if author.first_name%} {{author.first_name}} {%endif%} {%if author.second_name%} {{author.second_name}} {%endif%} {%if forloop.counter == book.authors.all.count%} {{author.last_name}} {%else%} {{author.last_name}}, {%endif%} {%endfor%} | {{book.year}}</title>
{% endblock title %}
{% block content %}

<div class="iBook">

<h2>В ПОИСКАХ ИСТИНЫ</h2>

<div class="score">
<p>«Характерным для Чигорина было то, что главным в шахматах он считал искание истины»,— писал в 1928 году Р. Шпильман, который внимательно изучал творчество русского чемпиона, не раз встречался с ним на международных соревнованиях. Интересны следующие строки из его воспоминаний:</p>
<p>«По окончании каждой партии Чигорин садился за анализ. Бесконечные мелодии иррационального, неподдающегося учету, неисследованного, неисчерпаемого,— среди всего этого он жил во время игры,— Чигорин стремился точно разобрать, проверить, определить. Со временем он не считался, важно было понять сокровенную суть происходившего. Так Чигорин боролся за истину в шахматном искусстве».</p>
<p>Талант Чигорина формировался в период, когда в шахматах, господствовали взгляды на теорию, сформулированные чемпионом мира В.Стейницем, взгляды, нашедшие дальнейшее развитие в работах одного из ведущих гроссмейстеров конца прошлого и начала нашего века З. Тарраша.</p>
<p>Основным стремлением «новой школы», как ее называл Стейниц, было установление четких принципов и методов игры, диктующих линию «правильного поведения» во всех событиях шахматной борьбы. Замечательный исследователь, Стейниц установил ряд важных закономерностей стратегии шахмат. Сделанные им открытия значительно расширили представления о многих элементах этой стратегии, основанной на рациональном анализе и последовательном учете различных позиционных факторов.</p>
<p>Стейниц исходил из совершенно правильной предпосылки, что всякий шахматный план должен иметь логичное обоснование. Сама по себе мысль эта была не нова, но никто из мастеров до Стейница не имел ясного представления о том, какими должны быть реальные обоснования того или иного плана.</p>
<p>Стейниц выдвинул тезис о том, что любая позиция характеризуется каким-нибудь определенным признаком, дающим четкий ориентир для планирования дальнейших операций.</p>
<p>Стейниц ввел в теорию шахмат понятие о равной игре, равновесии, которое может быть нарушено ошибкой одного
<!--p>124</p-->
из противников. Ему принадлежит разработка основ теории о сильных и слабых пунктах, о пешечных цепях, о различных формах слабости пешек (отсталые, изолированные, сдвоенные). Он обстоятельно изучил специфические свойства фигур и закономерности, связанные с их использованием в разнообразных позициях.</p>
<p>Увлеченный своими замыслами и теоретическими находками Стейниц, однако, не раз впадал в крайности, полагая, что им, и только им, раскрыта сокровенная сущность шахмат, выявлены обязательные внутренние законы их стратегии и тактики.</p>
<p>«Самая лучшая игра с обеих сторон,— писал Стейниц,— состоит в осмотрительном развитии без всякого пожертвования материала, в осмотрительном внимании к равновесию сил и положениях во всех местах доски и в накоплении мелких преимуществ».</p>
<p>Обратите внимание на эту основополагающую формулу. Есть, конечно, в ней много справедливого. Характерно, однако, что Стейниц ни словом не обмолвился об интуиции, фантазии, творческом поиске, всем том, что поднимает шахматы на уровень искусства. А ведь фантазия, поиск необходимы так же, как и основательный труд над собранным материалом. Без фантазии накопление мелких преимуществ превращается в нагромождение псевдонаучных умозаключений, зачастую бесплодных.</p>
<p>Теорию «новой школы» Стейница его талантливый популяризатор Тарраш уложил в ряд законов и принципов, создав таким образом схему решения творческих проблем путем соображений общего характера. Втискивая в жесткие рамки шахматы, Тарраш разработал своего рода «правила уличного движения» применительно к шахматной доске.</p>
<p>Подобный подход неизбежно отрывал теорию от практики, поскольку она становилась значительно выше, ограничивал поиски нового, необычного, самобытного. На этой почве неминуемо должен был расцвести и действительно расцвел догматизм. Справедливо ведь говорят — всякая крайность есть родная сестра ограниченности.</p>
<p>И Стейниц и Тарраш были выдающимися мастерами, одаренными богатой творческой интуицией, и, к счастью для шахмат, в своих партиях они сами нередко уходили в сторону от своих же теоретических предначертаний, которые не могли быть и не были непреложными. Это именно и позволяло им добиваться впечатляющих спортивных побед.</p>
<p>Но было у этих больших мастеров немало значительно
<!--p>125</p-->
менее одаренных последователей, рьяно прославляющих идеи «новой школы», полагавших, что все выходящее за рамки ее законов и правил неоправданно и никуда не годится.</p>
<p>О забавной истории поведал в одной из своих статей уже упоминавшийся нами мастер Г. Марко. Он получил письмо от любителя шахмат, который с возмущением писал о том, что в трех своих турнирных партиях следовал указанию Тарраша: ставить ладью в эндшпиле позади проходной пешки, и все три партии проиграл. В чем же дело?</p>
<p>— А в том, ответил ему Марко, что ладью надо ставить позади проходной пешки лишь тогда..., когда это хорошо.</p>
<p>Действительно, хотя для большинства окончаний правило Тарраша справедливо, но есть немало и таких положений, которые из-за своих конкретных особенностей требуют иных решений.</p>
<p>Для успеха необходима самостоятельность мышления. И в шахматах нельзя жить чужим умом!</p>
<p>В своем гениальном романе «Война и мир» Л. Н. Толстой рассказал и об австрийском генерале Пфуле, который «воображает, что знает истину, науку, которую он сам выдумал, но которая для него есть абсолютная истина».</p>
<p>Порою многие последователи Стейница и Тарраша напоминали этого незадачливого военачальника.</p>
<p>У Пфуля «была наука... выведенная им из истории войн Фридриха Великого, и все, что встречалось ему в новейшей военной истории, казалось ему бессмыслицей, варварством, безобразным столкновением, в котором с обеих сторон было сделано столько ошибок, что войны эти не могли быть названы войнами: они не подходили под теорию и не могли служить предметом науки».</p>
<p>Прекрасно понимая, что Стейниц очень много привнес ценного в теорию шахмат, высоко ценя искусство первого чемпиона мира, глубоко его уважая, Чигорин много лет вел с ним творческий спор, оставивший глубокий след в истории развития шахматной мысли. При этом надо со всей ясностью представлять, что ряд принципиальных положений «новой школы», основанных на практическом опыте, Чигорин не только разделял, но и сам руководствовался ими.</p>
<p>Нет сомнений в том, что Стейниц, и как практик и как теоретик, охотно согласился бы, например, со следующим советом Чигорина:</p>
<p>«Желание воспользоваться сколь возможно поспешней ходом противника, кажущимся, на первый взгляд, неестественным, ошибочным, может завести в атаку по ложному пути.</p>
<!--p>126</p-->
<p>Только при постепенном развитии своих сил и крайне осмотрительной игре мало-помалу приобретаются известные выгоды в положении, а затем является уже возможность нанести противнику решительный удар».</p>
<p>«Не сами позиционные законы и принципы осуждал Чигорин, как многие думают, отнюдь нет. Он протестовал лишь против чрезмерного ограничения творческого процесса этими законами и принципами»,— справедливо отмечал известный советский мастер П. А. Романовский.</p>
<p>Чигорин утверждал, что не только этими принципами начинается и не ими кончается творческая линия шахматного мышления.</p>
<p>Однако Чигорин со всей решительностью восставал против догматического понимания проблем теории, против попыток ограничить творчество узкими рамками правил. Он верил в неисчерпаемость шахматного искусства, в то, что неизбежный процесс развития отвергнет многие прежние представления. «То, что теория признает сегодня, отвергается завтра»,— писал он в 1901 году. И мы видим справедливость этих слов в турнирной практике наших дней.</p>
<p>В своей исследовательской новаторской работе Чигорин руководствовался подлинно научным методом в поисках возможно более точного анализа, избегая расплывчатых «общих рассуждений» за пышностью слов, подчас скрывающих убожество мысли.</p>
<p>Возражая критикам, указывавшим, что он «играет не по правилам», Чигорин писал:</p>
<p>«Умение искусно комбинировать, способность находить в каждом данном положении наиболее целесообразный ход, скорее ведущий к выполнению задуманного плана,— выше всяких принципов — или, вернее сказать, и есть единственный принцип в шахматной игре, поддающийся такому определению».</p>
<p>Могучая фантазия Чигорина, его критическое отношение к утверждениям авторитетов, его глубокая вера в красоту шахмат, внутреннюю их логику, стремление к конкретности и четкой убедительности суждений сделали исследования русского чемпиона важнейшим вкладом в современную теорию, положили начало отечественной школе шахмат.</p>
<p>Возьмем, например, такую особо изученную область шахмат — теорию начал. Она была более всего исследована и во времена Чигорина.</p>
<p>«В шахматных книгах и мемуарах, равно как и в словесных беседах, то и дело приходится слышать: теоретично, теоретич-</p>
<!--p>127</p-->
<p>нее было бы и т. п. При этом под именем теоретичного разумеют обыкновенно ходы, общепринятые, постоянно встречающиеся, имеющие разве то преимущество, что они более других исследованы».</p>
<p>Так писал Чигорин и, развивая свою мысль, добавлял:</p>
<p>«В действительности же почти во всех дебютах можно приискать такие ходы, которые не уступят теоретическим, если опытный и сильный игрок сумеет сделать их исходным пунктом целой комбинации. Вообще шахматная игра гораздо богаче, чем можно представить ее на основании существующей теории, стремящейся сжать ее в определенные узкие формы».</p>
<p>Вдумайтесь в эти мысли. Ведь именно они явились отправной базой для создания новых дебютных схем и, казалось бы, «неправильных» построений. Важнейшим оружием наследников Чигорина, мастеров нашей отечественной школы стало стремление искать не отдельные ходы, а именно системы, в которых эти ходы являются звеньями одной неразрывной цепи.</p>
<p>И глубоко прав был чемпион мира М. Ботвинник, писавший, что «Михаил Иванович Чигорин на много лет опередил свое время, его творчество всегда будет являться для нас неиссякаемым источником развития и совершенствования шахматных идей».</p>
<p>Ориентиром в плавании по волнам неизведанных шахматных идей и комбинаций стало другое высказывание Чигорина:</p> <p>«Нередко теоретическое — синоним шаблонного. Ибо что такое теоретическое в шахматах, как не то, что можно встретить в учебниках и чего стараются придерживаться, раз не могут придумать чего-либо более сильного или равного, самобытного».</p>
<p>В первую очередь это замечание касается тех многочисленных начетчиков, которые считают, что без объемистого дебютного справочника, оракула шахматных истин, их турнирные выступления обречены на провал.</p>
<p>Очень интересно рассказал Чигорин о своем ходе <b>2. Фd1-e2</b> (после <b>1. e2-e4 e7-e6</b>), примененном им в матче с Таррашем (1893 г.). Критики наивно расценили этот ход ферзем в дебюте как чудачество.</p>
<p>«Ход <b>2. Фe2</b> в первых четырех матчевых партиях с д-ром Таррашем совершенно лишал французскую защиту ее обычного характера, придавал он известную своеобразность и в остальных...</p>
<p>Во всяком случае обсуждать его можно только в связи со всем планом, возникающим из него, а не изолированно, как это делают гг. шахматные критики».</p>
<!--p>128</p-->
<p>Чигоринское утверждение, что дебют нельзя рассматривать как обособленную фазу сражения, а начальное развитие фигур необходимо органически связывать с планами дальнейшей игры, стало сейчас общепринятым и бесспорным.</p>
<p>Громадное значение для разработки современных творческих и теоретических проблем имело следующее открытие Чигорина, шедшее вразрез со всеми главными правилами Тарраша и вторивших ему «знатоков». «Всякое стесненное положение таит в себе зародыш проигрыша»,— вещал Тарраш.</p>
<p>Представьте себе на миг, что это мнение восторжествовало, подтверждено турнирной практикой. В таком случае не только такие важнейшие дебюты, как староиндийская защита, защита Пирца — Уфимцева, новоиндийская защита, не могли бы возникнуть, но и вообще полностью изменилась бы вся стратегия современных шахмат.</p>
<p>Насколько глубже и реалистичнее понимал сущность шахматной борьбы Чигорин, видно из следующего его высказывания: «Не всякое стесненное положение служит признаком превосходства партии противника».</p>
<p>И Чигорин не только рассуждал, он и в практической шахматной борьбе успешно отстаивал свое мнение. Ему принадлежит честь разработки и введения в турнирную практику нескольких систем огнеупорной староиндийской защиты.</p>
<p>Впервые в истории шахматной мысли Чигорин систематизировал многие дебютные построения, в которых потеря темпа при развитии фигур не сказывается на ухудшении позиции, так как потеря времени компенсируется другими существенными выгодами.</p>
<p>В связи с этим следует подчеркнуть, что само понятие «темп» Чигорин трактовал совсем по-иному, нежели Тарраш и ряд других теоретиков. И вновь заметим, что точка зрения Чигорина принята сейчас всеми видными представителями современных шахмат.</p>
<p>Разница в подходе к понятию «темп» видна из небольшой дискуссии, развернувшейся между Чигориным и Таррашем в 1901 году.</p>
</div> <!-- score -->

<div class="section">
<div class="chessBoard small floater" data-start-fen="rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w KQkq - 0 1"></div>
<div class="score">
 <span class="line0" onclick='loadMove("rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w KQkq - 0 1", this, ""); '>[...]</span> 
<p>Известна позиция, возникающая в одном из вариантов сицилианской защиты после</p>
<p class="longNotation">
 <span onclick='loadMove("rnbqkbnr/pppppppp/8/8/4P3/8/PPPP1PPP/RNBQKBNR b KQkq e3 0 1", this, "e2e4"); ' class="line0">1.e2-e4</span> 
 <span onclick='loadMove("rnbqkbnr/pp1ppppp/8/2p5/4P3/8/PPPP1PPP/RNBQKBNR w KQkq c6 0 2", this, "c7c5"); ' class="line0">c7-c5</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("rnbqkbnr/pp1ppppp/8/2p5/4P3/5N2/PPPP1PPP/RNBQKB1R b KQkq - 0 2", this, "g1f3"); ' class="line0">2.Кg1-f3</span> 
 <span onclick='loadMove("r1bqkbnr/pp1ppppp/2n5/2p5/4P3/5N2/PPPP1PPP/RNBQKB1R w KQkq - 0 3", this, "b8c6"); ' class="line0">Кb8-c6</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("r1bqkbnr/pp1ppppp/2n5/2p5/3PP3/5N2/PPP2PPP/RNBQKB1R b KQkq d3 0 3", this, "d2d4"); ' class="line0">3.d2-d4</span> 
 <span onclick='loadMove("r1bqkbnr/pp1ppppp/2n5/8/3pP3/5N2/PPP2PPP/RNBQKB1R w KQkq - 0 4", this, "c5d4"); ' class="line0">c5:d4</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("r1bqkbnr/pp1ppppp/2n5/8/3NP3/8/PPP2PPP/RNBQKB1R b KQkq - 0 4", this, "f3d4"); ' class="line0">4.Кf3:d4</span> 
 <span onclick='loadMove("r1bqkb1r/pp1ppppp/2n2n2/8/3NP3/8/PPP2PPP/RNBQKB1R w KQkq - 0 5", this, "g8f6"); ' class="line0">Кg8-f6</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("r1bqkb1r/pp1ppppp/2n2n2/8/3NP3/2N5/PPP2PPP/R1BQKB1R b KQkq - 0 5", this, "b1c3"); ' class="line0">5.Кb1-c3</span> 
 <span onclick='loadMove("r1bqkb1r/pp1p1ppp/2n1pn2/8/3NP3/2N5/PPP2PPP/R1BQKB1R w KQkq - 0 6", this, "e7e6"); ' class="line0">e7-e6</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("r1bqkb1r/pp1p1ppp/2n1pn2/1N6/4P3/2N5/PPP2PPP/R1BQKB1R b KQkq - 0 6", this, "d4b5"); ' class="line0">6.Кd4-b5</span> 
 <span onclick='loadMove("r1bqk2r/pp1p1ppp/2n1pn2/1N6/1b2P3/2N5/PPP2PPP/R1BQKB1R w KQkq - 0 7", this, "f8b4"); ' class="line0">Сf8-b4</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("r1bqk2r/pp1p1ppp/2n1pn2/1N6/1b2P3/P1N5/1PP2PPP/R1BQKB1R b KQkq - 0 7", this, "a2a3"); ' class="line0">7.a2-a3</span>.</p>
<p>Тарраш так оценивал последний ход белых:</p>
<p>«Раз белые сыграли конем на b5, то следует дать им шах на d6. С ходом же <b>a2-a3</b> они теряют не меньше трех темпов.</p>
<!--p>129</p-->
<div class="chessBoard analysis nobuttons" data-start-fen="r1bqk2r/pp1p1ppp/2n1pn2/1N6/1b2P3/P1N5/1PP2PPP/R1BQKB1R b KQkq - 0 7"></div>
<!--img src="images/Yud-Chig-60.png" style="width:142pt;height:141pt;"/-->
<p>Сам по себе ход <b>a2-a3</b> по своему ничтожеству = 2 темпам. Следовательно, белые проиграли 3 темпа.</p>
<p>Тем не менее,— добавляет Тарраш,— этот вариант, несмотря на его ошибочность, много раз встречался в турнирных партиях».</p>
<p>Комментируя эти схоластические, оторванные от жизни рассуждения, Чигорин сказал:</p>
<p>«Должно быть, не перестают прибегать к нему (варианту), между прочим, потому, что не могут понять мудреных рассуждений почтенного доктора о проигранных темпах и его арифметике, ведь черные, играя слоном на b4 и беря им коня c3, делают не один, а два хода. Серьезная и главная причина, по которой стали чаще теперь делать ход
 <span onclick='loadMove("r1bqk2r/pp1p1ppp/2n1pn2/1N6/1b2P3/P1N5/1PP2PPP/R1BQKB1R b KQkq - 0 7", this, "a2a3"); ' class="line1">7.a2-a3</span>, заключается в личном соображении игрока, который имеет смелость предполагать, что даже при трех «проигранных темпах» и «идиотском», по выражению Тарраша, ходе
 <span onclick='loadMove("r1bqk2r/pp1p1ppp/2n1pn2/1N6/1b2P3/P1N5/1PP2PPP/R1BQKB1R b KQkq - 0 7", this, "a2a3"); ' class="line1">7.a2-a3</span> 
белые получают лучшую партию, чем при
 <span onclick='loadMove("r1bqk2r/pp1p1ppp/2nNpn2/8/1b2P3/2N5/PPP2PPP/R1BQKB1R b KQkq - 0 7", this, "b5d6"); ' class="line1">7.Кb5-d6+</span> 
с почти неизбежным продолжением
 <span onclick='loadMove("r1bq3r/pp1pkppp/2nNpn2/8/1b2P3/2N5/PPP2PPP/R1BQKB1R w KQ - 0 8", this, "e8e7"); ' class="line1">7...Крe7</span> 
 <span onclick='loadMove("r1bq3r/pp1pkppp/2nNpn2/8/1b2PB2/2N5/PPP2PPP/R2QKB1R b KQ - 0 8", this, "c1f4"); ' class="line1">8.Сf4</span> 
 <span onclick='loadMove("r1bq3r/pp1pkppp/2nN1n2/4p3/1b2PB2/2N5/PPP2PPP/R2QKB1R w KQ - 0 9", this, "e6e5"); ' class="line1">e5</span> 
 <span onclick='loadMove("r1bq3r/pp1pkppp/2n2n2/4pN2/1b2PB2/2N5/PPP2PPP/R2QKB1R b KQ - 0 9", this, "d6f5"); ' class="line1">9.Кf5+</span> 
 <span onclick='loadMove("r1bq1k1r/pp1p1ppp/2n2n2/4pN2/1b2PB2/2N5/PPP2PPP/R2QKB1R w KQ - 0 10", this, "e7f8"); ' class="line1">Крf8</span> 
 <span onclick='loadMove("r1bq1k1r/pp1p1ppp/2n2n2/4pNB1/1b2P3/2N5/PPP2PPP/R2QKB1R b KQ - 0 10", this, "f4g5"); ' class="line1">10.Сg5</span> 
 <span onclick='loadMove("r1bq1k1r/pp3ppp/2n2n2/3ppNB1/1b2P3/2N5/PPP2PPP/R2QKB1R w KQ d6 0 11", this, "d7d5"); ' class="line1">d5</span> 
 <span onclick='loadMove("r1bq1k1r/pp3ppp/2n2n2/3PpNB1/1b6/2N5/PPP2PPP/R2QKB1R b KQ - 0 11", this, "e4d5"); ' class="line1">11.ed</span> 
 <span onclick='loadMove("r2q1k1r/pp3ppp/2n2n2/3PpbB1/1b6/2N5/PPP2PPP/R2QKB1R w KQ - 0 12", this, "c8f5"); ' class="line1">С:f5</span> 
и т. д.».</p>
<p>Известно, что теория наших дней именно ход <b>7. a2-a3</b> считает сильнейшим в данном положении, связывая с ним надежды белых на получение дебютного преимущества.</p>
</div> <!-- score -->
</div> <!-- section -->

<div class="score">
<p>Есть в шахматной теории понятие «естественный» ход. Но ведь бывает и так, что такими естественными ходами чаще всего являются продолжения, как бы лежащие на поверхности, обманчивые своим кажущимся благополучием, опирающиеся на общие представления.</p>
<p>Чигорин учил умению в шахматах не поддаваться обману «естественных» ходов, проницательнее оценивать конкретные? особенности позиции, быть требовательнее к себе.</p>
<!--p>130</p-->
<p>«Следует,— писал он,— обратить внимание на такие ходы, которые, представляясь на первый взгляд хорошими, как будто стесняющими игру противника, в действительности ставят партию в плохое положение».</p>
<p>Трудно переоценить значение другого открытия Чигорина, ставшего основой современного понимания дебютных систем, открытия, глубокий смысл которого стал ясным лишь через много лет после смерти великого русского шахматиста.</p>
</div> <!-- score -->

<div class="section">
<div class="chessBoard small" data-start-fen="rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w KQkq - 0 1"></div>
<div class="score">
 <span class="line0" onclick='loadMove("rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w KQkq - 0 1", this, ""); '>[...]</span> 
<p>Мы имеем в виду выдвинутую Чигориным идею о возможности успешно бороться с пешечным центром противника при помощи фигурного давления на центральные поля. Эта удивительная для того времени мысль нашла практическое выражение в создании Чигориным своей системы в ферзевом гамбите (<span onclick='loadMove("rnbqkbnr/pppppppp/8/8/3P4/8/PPP1PPPP/RNBQKBNR b KQkq d3 0 1", this, "d2d4"); ' class="line0">1.d2-d4</span> 
 <span onclick='loadMove("rnbqkbnr/ppp1pppp/8/3p4/3P4/8/PPP1PPPP/RNBQKBNR w KQkq d6 0 2", this, "d7d5"); ' class="line0">d7-d5</span> 
 <span onclick='loadMove("rnbqkbnr/ppp1pppp/8/3p4/2PP4/8/PP2PPPP/RNBQKBNR b KQkq c3 0 2", this, "c2c4"); ' class="line0">2.c2-c4</span> 
 <span onclick='loadMove("r1bqkbnr/ppp1pppp/2n5/3p4/2PP4/8/PP2PPPP/RNBQKBNR w KQkq - 0 3", this, "b8c6"); ' class="line0">Кb8-c6</span>).</p>
<p>На этой превосходной чигоринской идее основаны принципы защиты Алехина, защиты Грюнфельда и весь комплекс индийских схем. Вообще идея фигурного давления на пешечный центр, сделав шахматы более динамичными, стала одной из основных проблем современной стратегии шахмат.</p>
</div> <!-- score -->
</div> <!-- section -->

<div class="score">
<p>Существует наивный и совершенно неправильный взгляд, что Чигорин был лишь большим мастером атаки и его шахматная сила проявлялась главным образом в комбинационных осложнениях и нападениях на короля.</p>
<p>Странное заблуждение! Конечно, Чигорин не упускал возможности смелой атаки и провел сотни блестящих комбинаций, но тактические операции в шахматных сражениях были для него не самоцелью, а лишь лучшим путем завершения стратегического этапа борьбы.</p>
<p>«В каждой позиции,— говорил Чигорин,— скрывается возможная комбинация, и каждая комбинация исходит из позиции. Все зависит от конкретного положения на доске и от умения его понять»,</p>
<p>Да, именно понять. Чигорин был знатоком и позиционной игры, блестящим специалистом маневренной, стратегической игры. Он превосходно оценивал скрытые оборонительные ресурсы и весьма скептически относился к дешевым эффектам.</p>
<p>Любопытно замечание Чигорина о некоторых партиях с жертвами фигур и пешек, сыгранных входившим тогда в моду северным гамбитом.</p>
<p>«Красивенькие партии, встречающиеся в печати, показывают нам лишь слабую защиту черных, вследствие чего атаки белых блистательно завершались».</p>
<p>Поиск истины в шахматах — дело очень трудное. Чигорин глубоко и самокритично исследовал шахматные позиции. Он
<!--p>131</p-->
опубликовал множество превосходных комментариев к партиям с интересными, содержательными вариантами и анализами всех стадий шахматной борьбы. Порою он ошибался, но ведь стремиться найти истину — заслуга, если даже на этом пути и споткнешься. В конечном счете, истина — это то, что выдерживает проверку опытом.</p>
<p>Познакомимся с тем, как на конкретных примерах в области дебютной стратегии оправдывались предложения и оценки русского чемпиона.</p>
</div> <!-- score -->

</div> <!-- iBook -->

{% endblock content %}

