{% extends '../../base.htm' %}
{% load static %}
{% block title %}
<title>Знаменитые партии Чигорина (34-38) | {{book.title}} | {%for author in book.authors.all%} {%if author.first_name%} {{author.first_name}} {%endif%} {%if author.second_name%} {{author.second_name}} {%endif%} {%if forloop.counter == book.authors.all.count%} {{author.last_name}} {%else%} {{author.last_name}}, {%endif%} {%endfor%} | {{book.year}}</title>
{% endblock title %}
{% block content %}

<div class="iBook">

<h2>ЗНАМЕНИТЫЕ ПАРТИИ ЧИГОРИНА</h2>
<!--p>144</p-->

<div class="score">
<p>«Шахматы содержат в себе чистое наслаждение и удовлетворение, как искусно изваянная статуя или хорошее стихотворение»,— писал выдающийся румынский писатель, лауреат Ленинской премии М. Садовяну. Убежден, что наслаждение и радость сопереживания дадут вам, дорогой читатель, и эти партии, сыгранные на соревнованиях конца прошлого и начала нашего столетия. Подлинные произведения искусства не знают старости.</p>
<p>Чигорин выступал на 33 турнирах, в том числе 24 международных, в большинстве из них занимая высокие призовые места. Из 18 матчей с прославленными зарубежными корифеями и лучшими шахматистами России он проиграл три, два закончил вничью и в тринадцати одержал победы.</p>
<p>После окончания первого матча с В. Стейницем Чигорин принял участие в двухкруговом международном турнире в Нью-Йорке. В нем играли 20 гроссмейстеров и мастеров. Дистанция была поистине марафонской, поскольку во втором круге все ничьи переигрывались. Соревнование продолжалось более двух месяцев (25.3.—27.5.1889 г.).</p>
<p>Первое и второе места разделили М. Вейсс и М. Чигорин, набравшие по 29 очков из 38 возможных. Позади остались такие известные шахматисты, как И. Гунсберг, Д. Блекберн, А. Берн, Д. Месон, Д. Берд и ряд других видных мастеров.</p>

<ol start="34">
<li><a class="line1" href="{% url 'page-view' book.root_dir|add:'/12-1-partii-34-38.htm' %}#game34">М. Чигорин — В. Поллок (<i>Гамбит Эванса</i>)</a></li>
<li><a class="line1" href="{% url 'page-view' book.root_dir|add:'/12-1-partii-34-38.htm' %}#game35">М. Чигорин — Р. Харузек (<i>Итальянская партия</i>), 7-й тур</a></li>
<li><a class="line1" href="{% url 'page-view' book.root_dir|add:'/12-1-partii-34-38.htm' %}#game36">М. Чигорин — А. Альбин (<i>Контргамбит Альбина</i>), 13-й тур</a></li>
<li><a class="line1" href="{% url 'page-view' book.root_dir|add:'/12-1-partii-34-38.htm' %}#game37">М. Чигорин — А. Вальбродт (<i>Контргамбит Фалькбеера</i>), 6-й тур</a></li>
<li><a class="line1" href="{% url 'page-view' book.root_dir|add:'/12-1-partii-34-38.htm' %}#game38">М. Чигорин — А. Цинкль (<i>Французская защита</i>)</a></li>
</ol>

<ol start="39">
<li><a class="line1" href="{% url 'page-view' book.root_dir|add:'/12-2-partii-39-47.htm' %}#game39">М. Чигорин — Г. Каро (<i>Венская партия</i>), 10-й тур</a></li>
<li><a class="line1" href="{% url 'page-view' book.root_dir|add:'/12-2-partii-39-47.htm' %}#game40">Э. Шифферс — М. Чигорин (<i>Индийская защита</i>), 11-й тур</a></li>
<li><a class="line1" href="{% url 'page-view' book.root_dir|add:'/12-2-partii-39-47.htm' %}#game41">Г. Пильсбери — М. Чигорин (<i>Защита Чигорина</i>)</a></li>
<li><a class="line1" href="{% url 'page-view' book.root_dir|add:'/12-2-partii-39-47.htm' %}#game42">Ф. Ли — М. Чигорин (<i>Дебют ферзевых пешек</i>), 20-й тур</a></li>
<li><a class="line1" href="{% url 'page-view' book.root_dir|add:'/12-2-partii-39-47.htm' %}#game43">М. Чигорин — Д. Мортимер (<i>Гамбит Стейница</i>)</a></li>
<li><a class="line1" href="{% url 'page-view' book.root_dir|add:'/12-2-partii-39-47.htm' %}#game44">Ф. Маршалл — М. Чигорин (<i>Французская защита</i>)</a></li>
<li><a class="line1" href="{% url 'page-view' book.root_dir|add:'/12-2-partii-39-47.htm' %}#game45">М. Чигорин — З. Тарраш (<i>Итальянская партия</i>)</a></li>
<li><a class="line1" href="{% url 'page-view' book.root_dir|add:'/12-2-partii-39-47.htm' %}#game46">М. Чигорин — К. Шлехтер (<i>Итальянская партия</i>), 19-й тур</a></li>
<li><a class="line1" href="{% url 'page-view' book.root_dir|add:'/12-2-partii-39-47.htm' %}#game47">Ф. Маршалл — М. Чигорин (<i>Ферзевый гамбит</i>), 13-й тур</a></li>
</ol>

<ol start="48">
<li><a class="line1" href="{% url 'page-view' book.root_dir|add:'/12-3-partii-48-54.htm' %}#game48">М. Чигорин — Г. Марко (<i>Королевский гамбит</i>), 2-й тур</a></li>
<li><a class="line1" href="{% url 'page-view' book.root_dir|add:'/12-3-partii-48-54.htm' %}#game49">Р. Тейхман — М. Чигорин (<i>Защита Чигорина</i>), 15-й тур</a></li>
<li><a class="line1" href="{% url 'page-view' book.root_dir|add:'/12-3-partii-48-54.htm' %}#game50">И. Мизес — М. Чигорин (<i>Английское начало</i>), 12-й тур</a></li>
<li><a class="line1" href="{% url 'page-view' book.root_dir|add:'/12-3-partii-48-54.htm' %}#game51">Ф. Маршалл — М. Чигорин (<i>Староиндийская защита</i>), Остенде, 1906 г.</a></li>
<li><a class="line1" href="{% url 'page-view' book.root_dir|add:'/12-3-partii-48-54.htm' %}#game52">Ф. Маршалл — М. Чигорин (<i>Староиндийская защита</i>), 4-й тур</a></li>
<li><a class="line1" href="{% url 'page-view' book.root_dir|add:'/12-3-partii-48-54.htm' %}#game53">О. Дурас — М. Чигорин (<i>Испанская партия</i>), 6-й тур</a></li>
<li><a class="line1" href="{% url 'page-view' book.root_dir|add:'/12-3-partii-48-54.htm' %}#game54">М. Чигорин — М. Видмар (<i>Отказанный королевский гамбит</i>), 21-й тур</a></li>
</ol>

</div> <!-- score -->

</div> <!-- iBook -->

{% endblock content %}

