{% extends '../../base.htm' %}
{% load static %}
{% block title %}
<title>Предисловие | {{book.title}} | {%for author in book.authors.all%} {%if author.first_name%} {{author.first_name}} {%endif%} {%if author.second_name%} {{author.second_name}} {%endif%} {%if forloop.counter == book.authors.all.count%} {{author.last_name}} {%else%} {{author.last_name}}, {%endif%} {%endfor%} | {{book.year}}</title>
{% endblock title %}
{% block content %}

<div class="iBook">

<div class="section">
<div class="chessBoard small floater" data-start-fen="rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w KQkq - 0 1"></div>
<div class="score">
 <span class="line0" onclick='loadMove("rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w KQkq - 0 1", this, ""); '>[...]</span> 
<h2>Предисловие</h2>
<p>Французская защита - старинный и, вместе с тем, всегда молодой дебют. Возникающие здесь ситуации весьма разнообразны - от сложной маневренной борьбы в позициях с замкнутыми пешечными цепями до иррациональных тактических осложнений при нарушенном стратегическом равновесии на различных участках доски. Подобная широта творческой палитры всегда привлекала к этому началу внимание шахматистов самых различных стилей. Сейчас, когда в дебютной сфере ощущается некоторое пресыщение "сицилианскими" сражениями, обращение к французской защите может оказаться неплохим практическим решением.</p>
<p>В настоящей работе, наряду с исследованием основных вариантов французской защиты, предпринята попытка ввести читателя в круг стратегических идей дебюта, без овладения которыми невозможно его творческое разыгрывание.</p>
<p>Теоретический материал книги демонстрируется на примере "полнометражных" партий, характерных для идейного содержания изучаемого дебюта. Комментарии к партиям не ограничивается лишь освещением теоретических вопросов - читатель найдет в книге немало оригинальных анализов, относящихся к области миттельшпиля и эндшпиля.</p>
<p>При исследовании многих критических положений, связанных с тактическими осложнениями, на помощь (по существующей ныне традиции) был призван компьютер. Но и в этих случаях было бы наивно полагать, что "истина в последней инстанции" уже установлена. Желаем Вам, читатель, творчески и критически отнестись к содержанию книги и достичь успехов в самостоятельных аналитических изысканиях!</p>
</div> <!-- score -->
</div> <!-- section -->

</div> <!-- iBook -->

{% endblock content %}

