.problem_solved { color: Green; }
.problem_unsolved { color: Red; }

.chessBoard { line-height: 15px; }

.chessBoard .indicator { width: 7px; height: 7px; margin: 3px 3px; }
.chessBoard.small .indicator { margin: 3px 3px; width: 6px; height: 6px; }
.chessBoard.analysis .indicator { margin: 3px 3px; width: 6px; height: 6px; }
.chessBoard .indicator.white { background: white; border: solid 1px #444; }
.chessBoard .indicator.black { background: black; border: solid 1px #bbb; }

/* Board wrapper */

.chessBoard .flipicon { cursor: pointer; margin-left: 2px; margin-top: 1px; width: 11px; height: 11px; }
.chessBoard.small .markersView { margin: 14px; }
.chessBoard.analysis .markersView { margin: 0px; }
.chessBoard .markersView { margin: 15px; position: absolute; left: 0px; top: 0px; }

@font-face {
	font-family: 'CAChessRegular';
	src: url("Fonts/prg55che.eot-iefix") format('eot'), url("Fonts/prg55che.woff") format('woff'), url("Fonts/prg55che.ttf") format('truetype')/*, url("Fonts/prg55che.svg#webfontLiuwoyqV") format('svg')*/;
	font-weight: normal;
	font-style: normal;
}
/* @font-face { font-family: "CA Chess";} */
.CAChess { font-family: "CAChessRegular"; font-size: 1.0em; font-weight: 300; }

.chessBoard .pgn { display: none; }

/* Small board */

.chessBoard.small table.game_board { font-size: 8px; }
.chessBoard.small table.game_board td.corner { width: 14px; height: 14px; }
.chessBoard.small table.game_board td.lettertop, .chessBoard.small table.game_board td.letterbottom { width: 27px; height: 14px; }
.chessBoard.small table.game_board td.numberleft, .chessBoard.small table.game_board td.numberright { width: 14px; height: 27px; }
.chessBoard.small table.game_board td.white { width: 27px; height: 27px; }
.chessBoard.small table.game_board td.black { width: 27px; height: 27px; }

/* Analysis board */

.chessBoard.analysis table.game_board { font-size: 7px; }
.chessBoard.analysis table.game_board td.corner { display:none; width: 11px; height: 11px; }
.chessBoard.analysis table.game_board td.lettertop, .chessBoard.analysis table.game_board td.letterbottom { display:none; width: 22px; height: 11px; }
.chessBoard.analysis table.game_board td.numberleft, .chessBoard.analysis table.game_board td.numberright { display:none; width: 11px; height: 22px; }
.chessBoard.analysis table.game_board td.white { width: 22px; height: 22px; }
.chessBoard.analysis table.game_board td.black { width: 22px; height: 22px; }


/* table View */
.chessBoard .tableView { position: relative; overflow: hidden; }

/* Pieces */
.piece { width: 50px; height: 50px; margin: 0; background-position: center; background-repeat: no-repeat; cursor: pointer; }
.small .piece { width: 27px; height: 27px; }
.analysis .piece { width: 22px; height: 22px; }

/* Board */

table.game_board { position: static; font-size: 10px; font-weight: bold; color: white; border-collapse: collapse; border-spacing: 0px; /* cellspacing */ border: 0px; table-layout: fixed; }
table.game_board td { text-align: center; padding: 0px; margin: 0px; border: none; }
table.game_board td img { padding: 0px; margin: 0px; border: 0px; }
table.game_board td.corner { width: 15px; height: 15px; }
table.game_board td.lettertop, table.game_board td.letterbottom { width: 50px; height: 15px; vertical-align: middle; }
table.game_board td.numberleft, table.game_board td.numberright { width: 15px; height: 50px; vertical-align: middle; }
table.game_board td.white { width: 50px; height: 50px; }
table.game_board td.black { width: 50px; height: 50px; }
table.game_board td.black.controlled { background-color: #b892c3; }
table.game_board td.white.controlled { background-color: #dac6e1; }
/* END Board */

/* Promotion */

#promotion, .promotion { border-top: 1px solid #d2d5df; border-left: 1px solid #d2d5df; border-right: 1px solid #d2d5df; border-bottom: 1px solid #d2d5df; text-align: center; padding: 2px; vertical-align: bottom; display: none; font-family: Tahoma; font-weight: bold; font-size: 12px; color: white; padding: 5px; background-color: #777; }
.promotion .piece { float: left; margin: 5px; }

/* END Promotion */

.task_notation .line.active { cursor: pointer; text-decoration: none; font-weight: bold; padding: 1px 1px; color: #0187C5; }
.task_notation .line.active:hover { text-decoration: underline; }
.task_notation .line.active.current_move { background: #0187C5; color: #fff; }

/* Board Buttons */
.board_buttons { overflow: hidden; padding-top:5px; }
.board_buttons .button_start { background: url("buttons/Start.png") no-repeat; margin-left:5%; width:28%; height:32px;  float:left;}
.board_buttons .button_left { background: url("buttons/Left.png") no-repeat; width:17%; height:32px;  float:left;}
.board_buttons .button_right { background: url("buttons/Right.png") no-repeat; width:33%; height:32px; float:left;}
.board_buttons .button_end { background: url("buttons/End.png") no-repeat; width:17%; height:32px; float:left;}

.nobuttons .board_buttons { display: none; overflow: hidden;}
