{% extends '../base.htm' %}
{% load static %}
{% block content %}

<div class="iBook">

<div class="section">
<div class="chessBoard small floater" data-start-fen="rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w KQkq - 0 1"></div>
<div class="score">
 <span class="line0" onclick='loadMove("rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w KQkq - 0 1", this, ""); '>[...]</span> 
<h2>II. Реальная жертва</h2>
<p>Возможность превращения при случае материала в силу, а силы в материал представляет собой замечательное свойство шахмат, возможно — наиболее существенную их тайну.</p>
<p>Вопрос «каким образом с выгодой превратить материал в силу» возникает обычно в дебюте, в то время как вопрос превращения силы в материал более существен для дальнейших стадий игры. Нас интересует превращение материала в силу, следовательно, — жертвование ради динамических выгод.</p>
<p>При жертвах рассмотренных типов достижение динамического преимущества было столь значительным, что за превращением материала в силу немедленно следовало обратное превращение силы в материал. Это относится также и к матовой жертве, когда речь идет о пленении короля. Здесь мы рассмотрим реальные жертвы, то есть такие, которые характеризуются определенным риском, так как результат их может быть определен с долей вероятности, но не точностью. Реальная жертва, в отличие от мнимой, представляет собой не комбинацию в полном смысле этого слова, а комбинацию, рассчитанную на время.</p>
<p>Вероятность успеха может базироваться не только на оценке позиции; она может иметь основанием и всевозможные побочные обстоятельства. Например, можно учитывать индивидуальные слабости противника, то есть играть на психологию; можно спекулировать на цейтноте противника, следовательно, выискивать спортивные преимущества. Принимая во внимание эти соображения, следует признать многие жертвы правильными, хотя при анализе они не выдерживают серьезной критики. Отсюда вытекает необходимость различия теоретической и практической оценки правильности жертвы.</p>
<p>Правда, аналитики очень редко имеют возможность принимать во внимание обстоятельства указанного рода. О таких моментах может, как правило, судить только сам играющий: этот мотив лишний раз, побуждает меня пользоваться только моими сыгранными партиями.</p>
  <ul>
	<li><a class="line0" href="{% url 'spielmann_2-1-2-A._Razvivayushchaya_zhertva' %}">А. Развивающая жертва<!--70--></a></li>
	<li><a class="line0" href="{% url 'spielmann_2-1-2-B._Tormozyashchaya_zhertva' %}">Б. Тормозящая жертва<!--77--></a></li>
	<li><a class="line0" href="{% url 'spielmann_2-1-2-V._Prepyatstvuyushchaya_zhertva' %}">В. Препятствующая жертва<!--87--></a></li>
	<li><a class="line0" href="{% url 'spielmann_2-1-2-G._Linejnaya_zhertva' %}">Г. Линейная жертва<!--101--></a></li>
	<li><a class="line0" href="{% url 'spielmann_2-1-2-D._Osvobozhdayushchaya_zhertva' %}">Д. Освобождающая жертва<!--108--></a></li>
	<li><a class="line0" href="{% url 'spielmann_2-1-2-E._Otvlekayushchaya_zhertva' %}">Е. Отвлекающая жертва<!--114--></a></li>
	<li><a class="line0" href="{% url 'spielmann_2-1-2-ZH._ZHertva_protiv_pozicii_rokirovki' %}">Ж. Жертва против позиции рокировки<!--117--></a></li>
	<li><a class="line0" href="{% url 'spielmann_2-1-2-Z._Presleduyushchaya_zhertva' %}">З. Преследующая жертва<!--135--></a></li>
  </ul>
</div> <!-- score -->
</div> <!-- section -->

</div> <!-- iBook -->

{% endblock content %}
