{% extends '../base.htm' %}
{% load static %}
{% block content %}

<div class="iBook">

<div class="section">
<div class="chessBoard small floater" data-start-fen="rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w KQkq - 0 1"></div>
<div class="score">
 <span class="line0" onclick='loadMove("rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w KQkq - 0 1", this, ""); '>[...]</span> 
<h2>Заключение</h2>
<p>Мы приближаемся к концу. Как уже указывалось во вступлении, моя работа представляет собой первую попытку объяснить, отделить и наименовать различные встречающиеся в практической партии жертвы. Я буду удовлетворен, если критика заинтересуется темой и предложит свои улучшения. Жертвы составляют часть шахматной теории и подчиняются таким же законам, как дебют или эндшпиль. Шахматная теория — продукт всего шахматного мира; шахматные теоретики — только летописцы, собирающие и увековечивающие творческое наследие своих современников. Предлагаемое исследование, затрагивающее неразработанную до сих пор область общей теории, должно быть противопоставлено мнениям и предложениям других, чтобы из первых попыток постепенно выкристаллизовалась ясная картина. Я неоднократно подчеркивал субъективность высказываемых мной взглядов. Объективные выводы можно будет сделать лишь на основании большого числа выслушанных мнений.</p>
<p>Во время работы, по мере того, как я углублялся в нее, мне приходили в голову новые мысли и доводы, так что я с большим трудом мог сдерживать себя в определенных рамках. Результаты моих исследований неоднократно поражали меня своей неожиданностью. Так, например, привыкшее к определенным понятиям, мое сознание противилось бесповоротному признанию мнимых жертв, в том числе и матовых как таковых. Однако не оставалось ничего другого, как подчиниться законам логики.</p>
<p>Больших трудов стоили мне соответствующие термины для обозначения различных типов жертв. Некоторые названия до сих пор не удовлетворяют меня, несмотря на многократные уточнения. Упорнейшее сопротивление оказывает препятствующая жертва. Термин недостаточно ясен, однако я не мог найти лучшего.</p>
<!--p>168</p--><!--p>Теория жертвы</p-->
<p>Первоначально я имел в виду разобрать жертвы и с других точек зрения. Я хотел исследовать правильные и неправильные жертвы, жертвы атаки и жертвы защиты, стратегические и тактические, классические и современные жертвы. Однако я пришел к заключению, что это завело бы меня слишком далеко и потребовало бы, по меньшей мере, двойного объема книги. Кроме того, переплетающиеся понятия затруднили бы ориентировку, и предложенная систематизация могла оказаться противоречивой. Более точное разделение темы станет возможным лишь впоследствии.</p>
<p>Этим я заканчиваю свое исследование и предоставляю слово критике.</p>
</div> <!-- score -->
</div> <!-- section -->

</div> <!-- iBook -->

{% endblock content %}
