{% extends '../../base.htm' %}
{% load static %}
{% block title %}
<title>7. Взятие на проходе | {{book.title}} | {%for author in book.authors.all%} {%if author.first_name%} {{author.first_name}} {%endif%} {%if author.second_name%} {{author.second_name}} {%endif%} {%if forloop.counter == book.authors.all.count%} {{author.last_name}} {%else%} {{author.last_name}}, {%endif%} {%endfor%} | {{book.year}}</title>
{% endblock title %}
{% block content %}

<div class="iBook">
{% include '../../snippet_litres_banner1.htm' %}

<div class="section">
<div class="score">
<h3>7. Взятие на проходе</h3>
<p>Теперь, когда изучающий ознакомился с шахматной нотацией, мы разъясним еще один ход, о котором мы намеренно раньше умалчивали. Это — особое взятие пешкой, называемое «en passant», что в переводе с французского означает взятие «на проходе».</p>
</div> <!-- score -->
</div> <!-- section -->

<div class="section">
<div class="chessBoard small floater" data-start-fen="2qrr1k1/ppb1nppp/2p1bn2/3pN3/2PPpP2/2N1B3/PPB1Q1PP/3R1RK1 w f3 - 0 1"></div>
<div class="score">
 <span class="line0" onclick='loadMove("2qrr1k1/ppb1nppp/2p1bn2/3pN3/2PPpP2/2N1B3/PPB1Q1PP/3R1RK1 w f3 - 0 1", this, "f2f4"); '>[...]</span> 
<p class="capTop diagram">18</p>
<div class="chessBoard analysis nobuttons" data-start-fen="2qrr1k1/ppb1nppp/2p1bn2/3pN3/2PPpP2/2N1B3/PPB1Q1PP/3R1RK1 w f3 - 0 1"></div>
<p>В положении на диаграмме 18 последний ход белых был пешкой «f» на два поля, т. е. <b>f2-f4</b>. При
<!--p>Глава 1. Игра, фигуры, их ходы, цель игры</p><p>13</p-->
своем движении пешка прошла через поле f3, находящееся под ударом черной пешки e4. При таких условиях черные имеют право взять пешку на проходе, после чего получится положение, показанное на следующей диаграмме.</p>

<p class="capTop diagram">19</p>
<div class="chessBoard analysis nobuttons" data-start-fen="2qrr1k1/ppb1nppp/2p1bn2/3pN3/2PP4/2N1Bp2/PPB1Q1PP/3R1RK1 w - - 0 1"></div>
<p>Как показывает диаграмма, результат получился такой же, как если бы белые пошли своей пешкой лишь на одно поле и черные побили ее. Если бы черные решили не брать пешку на проходе, они не могли бы в дальнейшем побить ее своей пешкой e4, так как по правилам игры брать на проходе нужно ближайшим ходом, иначе это право утрачивается. Легко убедиться, что брать на проходе могут только пешки белых, стоящие в пятом горизонтальном ряду, или пешки черных в четвертом ряду, причем бить этим способом можно только пешки, расположенные в смежном вертикальном ряду, и то лишь при том условии, что пешка противника еще не ходила и продвинулась сразу на два поля.</p>
<p>Все эти условия должны быть соблюдены при взятии на проходе. Если бы, например, пешка белых перед тем, как она пошла на f4, стояла на f3, а не на f2, черные не могли бы побить ее на проходе. Взятие на проходе необязательно, но, как мы уже отметили выше, оно может последовать только на ближайшем ходу. Позже право брать на проходе утрачивается. Ввиду трудности усвоения этого хода рекомендуем тщательно ознакомиться с приведенными выше объяснениями. Прежде чем читать книгу дальше, изучающему следует еще раз просмотреть все прочитанное и проверить, вполне ли он овладел изложенными сведениями.</p>
<!--p>14</p><p>Часть I. Общие сведения о шахматной игре</p-->
</div> <!-- score -->
</div> <!-- section -->

{% include '../../snippet_litres_banner1.htm' %}
</div> <!-- iBook -->
{% endblock content %}
