{% extends '../../base.htm' %}
{% load static %}
{% block title %}
<title>БЛОКИРОВКА | {{book.title}} | {%for author in book.authors.all%} {%if author.first_name%} {{author.first_name}} {%endif%} {%if author.second_name%} {{author.second_name}} {%endif%} {%if forloop.counter == book.authors.all.count%} {{author.last_name}} {%else%} {{author.last_name}}, {%endif%} {%endfor%} | {{book.year}}</title>
{% endblock title %}
{% block content %}

<div class="iBook">

<div class="section">
<div class="chessBoard small floater" data-start-fen="rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w KQkq - 0 1"></div>
<div class="score">
 <span class="line0" onclick='loadMove("rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w KQkq - 0 1", this, ""); '>[...]</span> 
<h1>БЛОКИРОВКА</h1>
<p>При блокировке фигуру противника заставляют (или побуждают) забаррикадировать жизненно важное поле, необходимое для другой, более ценной фигуры (чаще всего короля). Помехи противнику, таким образом, создаются его же собственными силами.</p>
</div> <!-- score -->
</div> <!-- section -->

<div class="section">
<div class="chessBoard small floater" data-start-fen="3q4/p4pkp/1p1r2p1/2p5/3pR3/1P1P3P/P1P1QPP1/6K1 w - - 0 1"></div>
<div class="score">
 <span class="line0" onclick='loadMove("3q4/p4pkp/1p1r2p1/2p5/3pR3/1P1P3P/P1P1QPP1/6K1 w - - 0 1", this, ""); '>[...]</span> 
<p class="capTop diagram"><strong>Квилецкий — Реслинский</strong><br />Познань 1963</p>
<div class="chessBoard analysis nobuttons" data-start-fen="3q4/p4pkp/1p1r2p1/2p5/3pR3/1P1P3P/P1P1QPP1/6K1 w - - 0 1"></div>
<p class="capTop">Ход белых</p>
<p>Было сыграно</p>
<p class="longNotation">
 <span onclick='loadMove("3q4/p3Rpkp/1p1r2p1/2p5/3p4/1P1P3P/P1P1QPP1/6K1 b - - 0 1", this, "e4e7"); ' class="line0">1.Лe7</span> 
 <span onclick='loadMove("3q4/p2rRpkp/1p4p1/2p5/3p4/1P1P3P/P1P1QPP1/6K1 w - - 0 2", this, "d6d7"); ' class="line0">Лd7</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("3q4/p2rRpkp/1p4p1/2p1Q3/3p4/1P1P3P/P1P2PP1/6K1 b - - 0 2", this, "e2e5"); ' class="line0">2.Фe5+</span> 
 <span onclick='loadMove("3q1k2/p2rRp1p/1p4p1/2p1Q3/3p4/1P1P3P/P1P2PP1/6K1 w - - 0 3", this, "g7f8"); ' class="line0">Крf8</span> 
</p>
<div class="chessBoard analysis nobuttons" data-start-fen="3q1k2/p2rRp1p/1p4p1/2p1Q3/3p4/1P1P3P/P1P2PP1/6K1 w - - 0 3"></div>
<!--[FN "3q1k2/p2rRp1p/1p4p1/2p1Q3/3p4/1P1P3P/P1P2PP1/6K1 w - - 0 1"]-->
<p>Здесь ходом</p>
<p class="longNotation">
 <span onclick='loadMove("3q1k2/p2rRp1p/1p3Qp1/2p5/3p4/1P1P3P/P1P2PP1/6K1 b - - 0 3", this, "e5f6"); ' class="line0">3.Фf6!</span> 
 <span class="ellipsis0">...</span> 
</p>
<p>белые выиграли ферзя. Защититься от мата можно лишь путем
 <span onclick='loadMove("4qk2/p2rRp1p/1p3Qp1/2p5/3p4/1P1P3P/P1P2PP1/6K1 w - - 0 4", this, "d8e8"); ' class="line1">3...Фe8</span> 
. Ладья же неприкосновенна: взяв ее, черные заблокируют выход своему королю и получат мат на h8.</p>
<!--p>62 Блокировка</p-->
</div> <!-- score -->
</div> <!-- section -->

<div class="section">
<div class="chessBoard small floater" data-start-fen="1r2q1k1/2r3p1/pp2Pp2/n2p2NQ/8/1P6/P4PPP/4R1K1 w - - 0 1"></div>
<div class="score">
 <span class="line0" onclick='loadMove("1r2q1k1/2r3p1/pp2Pp2/n2p2NQ/8/1P6/P4PPP/4R1K1 w - - 0 1", this, ""); '>[...]</span> 
<p class="capTop diagram"><strong>Полянский — Герчиков</strong><br />Архангельск 1949</p>
<div class="chessBoard analysis nobuttons" data-start-fen="1r2q1k1/2r3p1/pp2Pp2/n2p2NQ/8/1P6/P4PPP/4R1K1 w - - 0 1"></div>
<p class="capTop">Ход белых</p>
<p>Как преградить королю путь к бегству? Для этого надо заставить фигуру противника заблокировать поле e7:</p>
<p class="longNotation">
 <span onclick='loadMove("1r2q1k1/2r3pQ/pp2Pp2/n2p2N1/8/1P6/P4PPP/4R1K1 b - - 0 1", this, "h5h7"); ' class="line0">1.Фh7+</span> 
 <span onclick='loadMove("1r2qk2/2r3pQ/pp2Pp2/n2p2N1/8/1P6/P4PPP/4R1K1 w - - 0 2", this, "g8f8"); ' class="line0">Крf8</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("1r2qk2/2r1P1pQ/pp3p2/n2p2N1/8/1P6/P4PPP/4R1K1 b - - 0 2", this, "e6e7"); ' class="line0">2.e7+!</span> 
 <span onclick='loadMove("1r2qk2/4r1pQ/pp3p2/n2p2N1/8/1P6/P4PPP/4R1K1 w - - 0 3", this, "c7e7"); ' class="line0">Л:e7</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("1r2qk1Q/4r1p1/pp3p2/n2p2N1/8/1P6/P4PPP/4R1K1 b - - 0 3", this, "h7h8"); ' class="line0">3.Фh8X</span> 
.</p>
</div> <!-- score -->
</div> <!-- section -->

<div class="section">
<div class="chessBoard small floater" data-start-fen="1k2rr1q/pb6/8/1N6/3Q4/8/PP6/K2R4 w - - 0 1"></div>
<div class="score">
 <span class="line0" onclick='loadMove("1k2rr1q/pb6/8/1N6/3Q4/8/PP6/K2R4 w - - 0 1", this, ""); '>[...]</span> 
<div class="chessBoard analysis nobuttons" data-start-fen="1k2rr1q/pb6/8/1N6/3Q4/8/PP6/K2R4 w - - 0 1"></div>
<p>Перед нами задача из старинной книги Дамиано, изданной в 1512 году в Риме. Форсированными маневрами ферзя и коня —</p>
<p class="longNotation">
 <span onclick='loadMove("1k2rr1q/pb6/3Q4/1N6/8/8/PP6/K2R4 b - - 0 1", this, "d4d6"); ' class="line0">1.Фd6+</span> 
 <span onclick='loadMove("k3rr1q/pb6/3Q4/1N6/8/8/PP6/K2R4 w - - 0 2", this, "b8a8"); ' class="line0">Крa8</span> 
</p>
<p>(В то время решение задачи могло начинаться с шаха.)</p>
<p class="longNotation">
 <span onclick='loadMove("k3rr1q/pbN5/3Q4/8/8/8/PP6/K2R4 b - - 0 2", this, "b5c7"); ' class="line0">2.Кc7+</span> 
 <span onclick='loadMove("1k2rr1q/pbN5/3Q4/8/8/8/PP6/K2R4 w - - 0 3", this, "a8b8"); ' class="line0">Крb8</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("1k2rr1q/pb6/N2Q4/8/8/8/PP6/K2R4 b - - 0 3", this, "c7a6"); ' class="line0">3.Кa6++</span> 
 <span onclick='loadMove("k3rr1q/pb6/N2Q4/8/8/8/PP6/K2R4 w - - 0 4", this, "b8a8"); ' class="line0">Крa8</span> 
</p>
<p>создается исходная позиция для жертвы. После</p>
<p class="longNotation">
 <span onclick='loadMove("kQ2rr1q/pb6/N7/8/8/8/PP6/K2R4 b - - 0 4", this, "d6b8"); ' class="line0">4.Фb8+!</span> 
 <span onclick='loadMove("kr3r1q/pb6/N7/8/8/8/PP6/K2R4 w - - 0 5", this, "e8b8"); ' class="line0">Л:b8</span> 
</p>
<p>«задушенный» собственными фигурами король получает мат —</p>
<p class="longNotation">
 <span onclick='loadMove("kr3r1q/pbN5/8/8/8/8/PP6/K2R4 b - - 0 5", this, "a6c7"); ' class="line0">5.Кc7X</span> 
.</p>
</div> <!-- score -->
</div> <!-- section -->

<div class="section">
<div class="chessBoard small floater" data-start-fen="rr4k1/6pp/2Q5/3KN3/8/q7/8/8 w - - 0 1"></div>
<div class="score">
 <span class="line0" onclick='loadMove("rr4k1/6pp/2Q5/3KN3/8/q7/8/8 w - - 0 1", this, ""); '>[...]</span> 
<p>Несколько раньше, в конце XV столетия, такую же комбинацию на королевском фланге привел в своем труде испанец Лусена.</p>
<div class="chessBoard analysis nobuttons" data-start-fen="rr4k1/6pp/2Q5/3KN3/8/q7/8/8 w - - 0 1"></div>
<p>Мат в пять ходов</p>
<!--p>Блокировка 63</p-->
<p class="longNotation">
 <span onclick='loadMove("rr4k1/6pp/4Q3/3KN3/8/q7/8/8 b - - 0 1", this, "c6e6"); ' class="line0">1.Фe6+</span> 
 <span onclick='loadMove("rr5k/6pp/4Q3/3KN3/8/q7/8/8 w - - 0 2", this, "g8h8"); ' class="line0">Крh8</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("rr5k/5Npp/4Q3/3K4/8/q7/8/8 b - - 0 2", this, "e5f7"); ' class="line0">2.Кf7+</span> 
 <span onclick='loadMove("rr4k1/5Npp/4Q3/3K4/8/q7/8/8 w - - 0 3", this, "h8g8"); ' class="line0">Крg8</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("rr4k1/6pp/4Q2N/3K4/8/q7/8/8 b - - 0 3", this, "f7h6"); ' class="line0">3.Кh6++</span> 
 <span onclick='loadMove("rr5k/6pp/4Q2N/3K4/8/q7/8/8 w - - 0 4", this, "g8h8"); ' class="line0">Крh8</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("rr4Qk/6pp/7N/3K4/8/q7/8/8 b - - 0 4", this, "e6g8"); ' class="line0">4.Фg8+</span> 
 <span onclick='loadMove("r5rk/6pp/7N/3K4/8/q7/8/8 w - - 0 5", this, "b8g8"); ' class="line0">Л:g8</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("r5rk/5Npp/8/3K4/8/q7/8/8 b - - 0 5", this, "h6f7"); ' class="line0">5.Кf7X</span> 
.</p>
<p>Комбинация стала типовой, ее модификаций — великое множество.</p>
</div> <!-- score -->
</div> <!-- section -->

<div class="section">
<div class="chessBoard small floater" data-start-fen="r2q1rk1/pb2bppp/4pn2/1p4B1/2pnP3/6N1/PPPN2PP/R1Q1R1K1 b - - 0 1"></div>
<div class="score">
 <span class="line0" onclick='loadMove("r2q1rk1/pb2bppp/4pn2/1p4B1/2pnP3/6N1/PPPN2PP/R1Q1R1K1 b - - 0 1", this, ""); '>[...]</span> 
<p class="capTop diagram"><strong>Калдолин — Оянен</strong><br />Хельсинки 1952</p>
<div class="chessBoard analysis nobuttons" data-start-fen="r2q1rk1/pb2bppp/4pn2/1p4B1/2pnP3/6N1/PPPN2PP/R1Q1R1K1 b - - 0 1"></div>
<p class="capTop">Ход черных</p>
<p>Черные сыграли</p>
<p class="longNotation">
 <span class="ellipsis0">1. ...</span> 
 <span onclick='loadMove("r2q1rk1/pb2bppp/4p3/1p4B1/2pnP1n1/6N1/PPPN2PP/R1Q1R1K1 w - - 0 2", this, "f6g4"); ' class="line0">Кg4</span> 
</p>
<p>Этот ход белые расценили как предложение разменять слонов и ответили</p>
<p class="longNotation">
 <span onclick='loadMove("r2q1rk1/pb2Bppp/4p3/1p6/2pnP1n1/6N1/PPPN2PP/R1Q1R1K1 b - - 0 2", this, "g5e7"); ' class="line0">2.С:e7</span> 
 <span class="ellipsis0">...</span> 
</p>
<p>На самом деле, маневр коня был вступлением к знакомой нам комбинации. Последовало</p>
<p class="longNotation">
 <span class="ellipsis0">2. ...</span> 
 <span onclick='loadMove("r4rk1/pb2Bppp/1q2p3/1p6/2pnP1n1/6N1/PPPN2PP/R1Q1R1K1 w - - 0 3", this, "d8b6"); ' class="line0">Фb6!!</span> 
</p>
<p>Чтобы защититься от угрозы
 <!--span onclick='loadMove("r4rk1/pb2Bppp/1q2p3/1p6/2pnP1n1/6N1/PPPN2PP/R1Q1R1K1 b - - 0 3", this, "d8b6"); ' class="line1">3.z0</span--> 

 <span onclick='loadMove("r4rk1/pb2Bppp/1q2p3/1p6/2p1P1n1/5nN1/PPPN2PP/R1Q1R1K1 w - - 0 4", this, "d4f3"); ' class="line1">3...Кf3++</span> 
(
 <span onclick='loadMove("r4rk1/pb2Bppp/1q2p3/1p6/2p1P1n1/6N1/PPPNn1PP/R1Q1R1K1 w - - 0 4", this, "d4e2"); ' class="line2">3...Кe2++</span> 
)
 <!--span onclick='loadMove("r4rk1/pb2Bppp/1q2p3/1p6/2p1P1n1/5nN1/PPPN2PP/R1Q1R1K1 b - - 0 4", this, "d4e2"); ' class="line1">4.z0</span--> 
и
 <span onclick='loadMove("r4rk1/pb2Bppp/1q2p3/1p6/2p1P3/5nN1/PPPN1nPP/R1Q1R1K1 w - - 0 5", this, "g4f2"); ' class="line1">4...Кf2X</span> 
(<b>4...Фg1X</b>), белые пошли</p>
<p class="longNotation">
 <span onclick='loadMove("r4rk1/pb2Bppp/1q2p3/1p6/2pnP1n1/6N1/PPPN2PP/R1Q1R2K b - - 0 3", this, "g1h1"); ' class="line0">3.Крh1</span> 
 <span class="ellipsis0">...</span> 
</p>
<p>Тогда черные осуществили свой замысел переставив ходы:</p>
<p class="longNotation">
 <span class="ellipsis0">3. ...</span> 
 <span onclick='loadMove("r4rk1/pb2Bppp/1q2p3/1p6/2pnP3/6N1/PPPN1nPP/R1Q1R2K w - - 0 4", this, "g4f2"); ' class="line0">Кf2+</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("r4rk1/pb2Bppp/1q2p3/1p6/2pnP3/6N1/PPPN1nPP/R1Q1R1K1 b - - 0 4", this, "h1g1"); ' class="line0">4.Крg1</span> 
 <span onclick='loadMove("r4rk1/pb2Bppp/1q2p3/1p6/2p1P3/6N1/PPPNnnPP/R1Q1R1K1 w - - 0 5", this, "d4e2"); ' class="line0">Кe2+!</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("r4rk1/pb2Bppp/1q2p3/1p6/2p1P3/8/PPPNNnPP/R1Q1R1K1 b - - 0 5", this, "g3e2"); ' class="line0">5.К:e2</span> 
 <span class="ellipsis0">...</span> 
</p>
<p>
(если
 <span onclick='loadMove("r4rk1/pb2Bppp/1q2p3/1p6/2p1P3/6N1/PPPNRnPP/R1Q3K1 b - - 0 5", this, "e1e2"); ' class="line2">5.Л:e2</span> 
, то
 <span onclick='loadMove("r4rk1/pb2Bppp/1q2p3/1p6/2p1P3/6Nn/PPPNR1PP/R1Q3K1 w - - 0 6", this, "f2h3"); ' class="line2">5...Кh3++</span> 
и <b>6...Фg1X</b>)
</p>
<p class="longNotation">
 <span class="ellipsis0">5. ...</span> 
 <span onclick='loadMove("r4rk1/pb2Bppp/1q2p3/1p6/2p1P3/7n/PPPNN1PP/R1Q1R1K1 w - - 0 6", this, "f2h3"); ' class="line0">Кh3++</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("r4rk1/pb2Bppp/1q2p3/1p6/2p1P3/7n/PPPNN1PP/R1Q1R2K b - - 0 6", this, "g1h1"); ' class="line0">6.Крh1</span> 
 <span onclick='loadMove("r4rk1/pb2Bppp/4p3/1p6/2p1P3/7n/PPPNN1PP/R1Q1R1qK w - - 0 7", this, "b6g1"); ' class="line0">Фg1+</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("r4rk1/pb2Bppp/4p3/1p6/2p1P3/7n/PPPNN1PP/R1Q3RK b - - 0 7", this, "e1g1"); ' class="line0">7.Л:g1</span> 
 <span onclick='loadMove("r4rk1/pb2Bppp/4p3/1p6/2p1P3/8/PPPNNnPP/R1Q3RK w - - 0 8", this, "h3f2"); ' class="line0">Кf2X</span> 
</p>
</div> <!-- score -->
</div> <!-- section -->

</div> <!-- iBook -->
{% endblock content %}

