{% extends '../../base.htm' %}
{% load static %}
{% block title %}
<title>КАК БЫ ВЫ СЫГРАЛИ? | {{book.title}} | {%for author in book.authors.all%} {%if author.first_name%} {{author.first_name}} {%endif%} {%if author.second_name%} {{author.second_name}} {%endif%} {%if forloop.counter == book.authors.all.count%} {{author.last_name}} {%else%} {{author.last_name}}, {%endif%} {%endfor%} | {{book.year}}</title>
{% endblock title %}
{% block content %}

<div class="iBook">

<div class="section">
<div class="chessBoard small floater" data-start-fen="rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w KQkq - 0 1"></div>
<div class="score">
 <span class="line0" onclick='loadMove("rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w KQkq - 0 1", this, ""); '>[...]</span> 
<h2>КАК БЫ ВЫ СЫГРАЛИ?</h2>
</div> <!-- score -->
</div> <!-- section -->

<div class="section">
<div class="chessBoard small floater" data-start-fen="2Q5/8/p3R3/P5pP/3p2P1/3k4/3q4/6K1 b - - 0 1"></div>
<div class="score">
 <span class="line0" onclick='loadMove("2Q5/8/p3R3/P5pP/3p2P1/3k4/3q4/6K1 b - - 0 1", this, ""); '>[...]</span> 
<div class="chessBoard analysis nobuttons" data-start-fen="2Q5/8/p3R3/P5pP/3p2P1/3k4/3q4/6K1 b - - 0 1"></div>
<p class="capTop">135. Ход черных</p>
<div class="spoiler-wrap">
<div class="spoiler-head folded">Решение</div>
<div class="spoiler-body">
<p><b>135.</b>
У белых лишняя ладья, но поставив ферзя под удар ходом
 <span onclick='loadMove("2Q5/8/p3R3/P5pP/3p2P1/3k4/8/2q3K1 w - - 0 2", this, "d2c1"); ' class="line0">1...Фc1+!</span> 
, черные добились ничьей (Титенко - Мурей, Москва 1961).</p>
</div>
</div> <!-- spoiler-wrap -->
</div> <!-- score -->
</div> <!-- section -->

<div class="section">
<div class="chessBoard small floater" data-start-fen="7k/3q4/6Q1/3p2K1/3P1P2/4P3/8/8 b - - 0 1"></div>
<div class="score">
 <span class="line0" onclick='loadMove("7k/3q4/6Q1/3p2K1/3P1P2/4P3/8/8 b - - 0 1", this, ""); '>[...]</span> 
<div class="chessBoard analysis nobuttons" data-start-fen="7k/3q4/6Q1/3p2K1/3P1P2/4P3/8/8 b - - 0 1"></div>
<p class="capTop">136. Ход черных</p>
<div class="spoiler-wrap">
<div class="spoiler-head folded">Решение</div>
<div class="spoiler-body">
<p><b>136.</b>
Король черных не имеет ходов, единственная пешка блокирована, и жертвуя ферзя, они спасают партию:
 <span onclick='loadMove("7k/8/6Q1/3p2K1/3P1Pq1/4P3/8/8 w - - 0 2", this, "d7g4"); ' class="line0">1...Фg4+</span> 
 <span onclick='loadMove("7k/8/6QK/3p4/3P1Pq1/4P3/8/8 b - - 0 2", this, "g5h6"); ' class="line0">2.Крh6</span> 
 <span onclick='loadMove("7k/8/6QK/3p2q1/3P1P2/4P3/8/8 w - - 0 3", this, "g4g5"); ' class="line0">Фg5+</span> 
(этот же ход следовал на
 <span onclick='loadMove("7k/8/5KQ1/3p4/3P1Pq1/4P3/8/8 b - - 0 2", this, "g5f6"); ' class="line1">2.Крf6</span> 
)
. Так закончилась встреча Портиш - Лендьел (Малага 1964).</p>
</div>
</div> <!-- spoiler-wrap -->
</div> <!-- score -->
</div> <!-- section -->

<div class="section">
<div class="chessBoard small floater" data-start-fen="6rk/7p/5q1P/p1pQ4/P1P2P1R/1P4P1/5PK1/8 b - - 0 1"></div>
<div class="score">
 <span class="line0" onclick='loadMove("6rk/7p/5q1P/p1pQ4/P1P2P1R/1P4P1/5PK1/8 b - - 0 1", this, ""); '>[...]</span> 
<div class="chessBoard analysis nobuttons" data-start-fen="6rk/7p/5q1P/p1pQ4/P1P2P1R/1P4P1/5PK1/8 b - - 0 1"></div>
<p class="capTop">137. Ход черных</p>
<div class="spoiler-wrap">
<div class="spoiler-head folded">Решение</div>
<div class="spoiler-body">
<p><b>137.</b>

 <span onclick='loadMove("7k/7p/5q1P/p1pQ4/P1P2P1R/1P4r1/5PK1/8 w - - 0 2", this, "g8g3"); ' class="line0">1...Л:g3+</span> 
 <span onclick='loadMove("7k/7p/5q1P/p1pQ4/P1P2P1R/1P4r1/5P2/5K2 b - - 0 2", this, "g2f1"); ' class="line0">2.Крf1</span> 
.
(Если
 <span onclick='loadMove("7k/7p/5q1P/p1pQ4/P1P2P1R/1P4K1/5P2/8 b - - 0 2", this, "g2g3"); ' class="line1">2.Кр:g3</span> 
, то
 <span onclick='loadMove("7k/7p/7P/p1pQ4/P1P2P1q/1P4K1/5P2/8 w - - 0 3", this, "f6h4"); ' class="line1">2...Ф:h4+</span> 
,)
(а на
 <span onclick='loadMove("7k/7p/5q1P/p1pQ4/P1P2P1R/1P4P1/6K1/8 b - - 0 2", this, "f2g3"); ' class="line1">2.fg</span> 
к ничьей ведет
 <span onclick='loadMove("7k/7p/7P/p1pQ4/P1P2P1R/1P4P1/1q4K1/8 w - - 0 3", this, "f6b2"); ' class="line1">2...Фb2+</span> 
с последующей жертвой ферзя.)
 <span onclick='loadMove("7k/7p/7P/p1pQ4/P1P2P1R/1P4r1/5P2/q4K2 w - - 0 3", this, "f6a1"); ' class="line0">2...Фa1+</span> 
 <span onclick='loadMove("7k/7p/7P/p1pQ4/P1P2P1R/1P4r1/4KP2/q7 b - - 0 3", this, "f1e2"); ' class="line0">3.Крe2</span> 
 <span onclick='loadMove("7k/7p/7P/p1pQ4/P1P2P1R/1P2r3/4KP2/q7 w - - 0 4", this, "g3e3"); ' class="line0">Лe3+</span> 
 <span onclick='loadMove("7k/7p/7P/p1pQ4/P1P2P1R/1P2K3/5P2/q7 b - - 0 4", this, "e2e3"); ' class="line0">4.Кр:e3</span> 
 <span onclick='loadMove("7k/7p/7P/p1pQ4/P1P2P1R/1P2K3/5P2/4q3 w - - 0 5", this, "a1e1"); ' class="line0">Фe1+</span> 
 <span onclick='loadMove("7k/7p/7P/p1pQ4/P1P2P1R/1P3K2/5P2/4q3 b - - 0 5", this, "e3f3"); ' class="line0">5.Крf3</span> 
 <span onclick='loadMove("7k/7p/7P/p1pQ4/P1P2P1R/1P2qK2/5P2/8 w - - 0 6", this, "e1e3"); ' class="line0">Фe3+</span> 
 <span onclick='loadMove("7k/7p/7P/p1pQ4/P1P2P1R/1P2K3/5P2/8 b - - 0 6", this, "f3e3"); ' class="line0">6.Кр:e3</span> 
- пат (Даниэльсон-Ланге, 10-я Олимпиада, Хельсинки 1952).</p>
</div>
</div> <!-- spoiler-wrap -->
</div> <!-- score -->
</div> <!-- section -->

<div class="section">
<div class="chessBoard small floater" data-start-fen="8/3R3p/6rk/2PP4/7p/6P1/5QKP/1q6 b - - 0 1"></div>
<div class="score">
 <span class="line0" onclick='loadMove("8/3R3p/6rk/2PP4/7p/6P1/5QKP/1q6 b - - 0 1", this, ""); '>[...]</span> 
<div class="chessBoard analysis nobuttons" data-start-fen="8/3R3p/6rk/2PP4/7p/6P1/5QKP/1q6 b - - 0 1"></div>
<p class="capTop">138. Ход черных</p>
<div class="spoiler-wrap">
<div class="spoiler-head folded">Решение</div>
<div class="spoiler-body">
<p><b>138.</b>

 <span onclick='loadMove("8/3R3p/6rk/2PP4/8/6Pp/5QKP/1q6 w - - 0 2", this, "h4h3"); ' class="line0">1...h3+!</span> 
(завлечение)
 <span onclick='loadMove("8/3R3p/6rk/2PP4/8/6PK/5Q1P/1q6 b - - 0 2", this, "g2h3"); ' class="line0">2.Кр:h3</span> 
.
</p>
<div class="chessBoard analysis nobuttons" data-start-fen="8/3R3p/6rk/2PP4/8/6PK/5Q1P/1q6 b - - 0 2"></div>
<p>
 <span onclick='loadMove("8/3R3p/6rk/2PP1q2/8/6PK/5Q1P/8 w - - 0 3", this, "b1f5"); ' class="line0">2...Фf5+!</span> 
 <span onclick='loadMove("8/3R3p/6rk/2PP1Q2/8/6PK/7P/8 b - - 0 3", this, "f2f5"); ' class="line0">3.Ф:f5</span> 
 <span onclick='loadMove("8/3R3p/7k/2PP1Q2/8/6rK/7P/8 w - - 0 4", this, "g6g3"); ' class="line0">Л:g3+!</span> 
 <span onclick='loadMove("8/3R3p/7k/2PP1Q2/7K/6r1/7P/8 b - - 0 4", this, "h3h4"); ' class="line0">4.Крh4</span> 
 <span onclick='loadMove("8/3R3p/7k/2PP1Q2/6rK/8/7P/8 w - - 0 5", this, "g3g4"); ' class="line0">Лg4+</span> 
. Избежать шахов на полях g3 и g4 можно только взяв ладью, а тогда - пат (Тибергер - Дреликевич, Польша 1970).</p>
</div>
</div> <!-- spoiler-wrap -->
</div> <!-- score -->
</div> <!-- section -->

<div class="section">
<div class="chessBoard small floater" data-start-fen="8/4R3/8/3k1p2/3np3/4K3/r5B1/8 w - - 0 1"></div>
<div class="score">
 <span class="line0" onclick='loadMove("8/4R3/8/3k1p2/3np3/4K3/r5B1/8 w - - 0 1", this, ""); '>[...]</span> 
<div class="chessBoard analysis nobuttons" data-start-fen="8/4R3/8/3k1p2/3np3/4K3/r5B1/8 w - - 0 1"></div>
<p class="capTop">139. Ход белых</p>
<div class="spoiler-wrap">
<div class="spoiler-head folded">Решение</div>
<div class="spoiler-body">
<p><b>139.</b>
После
 <span onclick='loadMove("8/4R3/8/3k1p2/3nB3/4K3/r7/8 b - - 0 1", this, "g2e4"); ' class="line0">1.С:e4+</span> 
 <span onclick='loadMove("8/4R3/8/3k4/3np3/4K3/r7/8 w - - 0 2", this, "f5e4"); ' class="line0">fe</span> 
 <span onclick='loadMove("8/8/8/3kR3/3np3/4K3/r7/8 b - - 0 2", this, "e7e5"); ' class="line0">2.Лe5+!</span> 
(
 <span onclick='loadMove("8/8/8/3k4/3nR3/4K3/r7/8 b - - 0 2", this, "e7e4"); ' class="line1">2.Л:e4?</span> 
 <span onclick='loadMove("8/8/8/3k4/3nR3/4K3/4r3/8 w - - 0 3", this, "a2e2"); ' class="line1">Лe2+</span> 
)
 <span onclick='loadMove("8/8/3k4/4R3/3np3/4K3/r7/8 w - - 0 3", this, "d5d6"); ' class="line0">2...Крd6</span> 
(если взять ладью, будет пат)
 <span onclick='loadMove("8/8/3k4/8/3nR3/4K3/r7/8 b - - 0 3", this, "e5e4"); ' class="line0">3.Л:e4</span> 
игра сводится к теоретическому окончанию, в котором ладья и конь не выигрывают против ладьи (Лисицын - Бондаревский, Ленинград 1950).</p>
</div>
</div> <!-- spoiler-wrap -->
</div> <!-- score -->
</div> <!-- section -->

<div class="section">
<div class="chessBoard small floater" data-start-fen="4r3/6R1/8/8/6p1/7k/6p1/6K1 w - - 0 1"></div>
<div class="score">
 <span class="line0" onclick='loadMove("4r3/6R1/8/8/6p1/7k/6p1/6K1 w - - 0 1", this, ""); '>[...]</span> 
<div class="chessBoard analysis nobuttons" data-start-fen="4r3/6R1/8/8/6p1/7k/6p1/6K1 w - - 0 1"></div>
<p class="capTop">140. Ход белых</p>
<div class="spoiler-wrap">
<div class="spoiler-head folded">Решение</div>
<div class="spoiler-body">
<p><b>140.</b>
Белые спасаются посредством
 <span onclick='loadMove("4r3/7R/8/8/6p1/7k/6p1/6K1 b - - 0 1", this, "g7h7"); ' class="line0">1.Лh7+</span> 
 <span onclick='loadMove("4r3/7R/8/8/6p1/6k1/6p1/6K1 w - - 0 2", this, "h3g3"); ' class="line0">Крg3</span> 
 <span onclick='loadMove("4r3/4R3/8/8/6p1/6k1/6p1/6K1 b - - 0 2", this, "h7e7"); ' class="line0">2.Лe7!</span> 
 <span onclick='loadMove("3r4/4R3/8/8/6p1/6k1/6p1/6K1 w - - 0 3", this, "e8d8"); ' class="line0">Лd8</span> 
 <span onclick='loadMove("3r4/3R4/8/8/6p1/6k1/6p1/6K1 b - - 0 3", this, "e7d7"); ' class="line0">3.Лd7</span> 
(из книги А. Сальвио, 1634).</p>
</div>
</div> <!-- spoiler-wrap -->
</div> <!-- score -->
</div> <!-- section -->

<div class="section">
<div class="chessBoard small floater" data-start-fen="6k1/3q4/4n3/2p1B2Q/p1PpK3/P2P4/1P6/8 b - - 0 1"></div>
<div class="score">
 <span class="line0" onclick='loadMove("6k1/3q4/4n3/2p1B2Q/p1PpK3/P2P4/1P6/8 b - - 0 1", this, ""); '>[...]</span> 
<div class="chessBoard analysis nobuttons" data-start-fen="6k1/3q4/4n3/2p1B2Q/p1PpK3/P2P4/1P6/8 b - - 0 1"></div>
<p class="capTop">141. Ход черных</p>
<div class="spoiler-wrap">
<div class="spoiler-head folded">Решение</div>
<div class="spoiler-body">
<p><b>141.</b>
После
 <span onclick='loadMove("6k1/8/2q1n3/2p1B2Q/p1PpK3/P2P4/1P6/8 w - - 0 2", this, "d7c6"); ' class="line0">1...Фc6+</span> 
 <span onclick='loadMove("6k1/8/2q1n3/2p1BK1Q/p1Pp4/P2P4/1P6/8 b - - 0 2", this, "e4f5"); ' class="line0">2.Крf5</span> 
черных выручает
 <span onclick='loadMove("6k1/6n1/2q5/2p1BK1Q/p1Pp4/P2P4/1P6/8 w - - 0 3", this, "e6g7"); ' class="line0">2...Кg7+!</span> 
 <span onclick='loadMove("6k1/6B1/2q5/2p2K1Q/p1Pp4/P2P4/1P6/8 b - - 0 3", this, "e5g7"); ' class="line0">3.С:g7</span> 
 <span onclick='loadMove("6k1/6B1/6q1/2p2K1Q/p1Pp4/P2P4/1P6/8 w - - 0 4", this, "c6g6"); ' class="line0">Фg6+!</span> 
, и любое взятие ферзя ведет к пату (Питч - Фукс, Берлин 1963).</p>
</div>
</div> <!-- spoiler-wrap -->
</div> <!-- score -->
</div> <!-- section -->

<div class="section">
<div class="chessBoard small floater" data-start-fen="6R1/5p1p/4b2k/7N/2r2PPK/8/8/8 b - - 0 1"></div>
<div class="score">
 <span class="line0" onclick='loadMove("6R1/5p1p/4b2k/7N/2r2PPK/8/8/8 b - - 0 1", this, ""); '>[...]</span> 
<div class="chessBoard analysis nobuttons" data-start-fen="6R1/5p1p/4b2k/7N/2r2PPK/8/8/8 b - - 0 1"></div>
<p class="capTop">142. Ход черных</p>
<div class="spoiler-wrap">
<div class="spoiler-head folded">Решение</div>
<div class="spoiler-body">
<p><b>142.</b>

 <span onclick='loadMove("6R1/5p1p/7k/7N/2r2PbK/8/8/8 w - - 0 2", this, "e6g4"); ' class="line0">1...С:g4!</span> 
 <span onclick='loadMove("8/5p1p/7k/7N/2r2PRK/8/8/8 b - - 0 2", this, "g8g4"); ' class="line0">2.Л:g4</span> 
(если
 <span onclick='loadMove("6R1/5p1p/7k/7N/2r2PK1/8/8/8 b - - 0 2", this, "h4g4"); ' class="line1">2.Кр:g4</span> 
, то
 <span onclick='loadMove("6R1/7p/7k/5p1N/2r2PK1/8/8/8 w - f6 0 3", this, "f7f5"); ' class="line1">2...f5+</span> 
 <span onclick='loadMove("6R1/7p/7k/5p1N/2r2P1K/8/8/8 b - - 0 3", this, "g4h4"); ' class="line1">3.Крh4</span> 
 <span onclick='loadMove("6R1/7p/7k/5p1N/5r1K/8/8/8 w - - 0 4", this, "c4f4"); ' class="line1">Л:f4+</span> 
 <span onclick='loadMove("6R1/7p/7k/5p2/5N1K/8/8/8 b - - 0 4", this, "h5f4"); ' class="line1">4.К:f4</span> 
-пат)
 <span onclick='loadMove("8/7p/7k/5p1N/2r2PRK/8/8/8 w - f6 0 3", this, "f7f5"); ' class="line0">2...f5</span> 
 <span onclick='loadMove("6R1/7p/7k/5p1N/2r2P1K/8/8/8 b - - 0 3", this, "g4g8"); ' class="line0">3.Лg8</span> 
 <span onclick='loadMove("6R1/7p/7k/5p1N/5r1K/8/8/8 w - - 0 4", this, "c4f4"); ' class="line0">Л:f4+</span> 
 <span onclick='loadMove("6R1/7p/7k/5p2/5N1K/8/8/8 b - - 0 4", this, "h5f4"); ' class="line0">4.К:f4</span> 
- пат (Луйк - Хиндре, Таллинн 1955).</p>
</div>
</div> <!-- spoiler-wrap -->
</div> <!-- score -->
</div> <!-- section -->

<div class="section">
<div class="chessBoard small floater" data-start-fen="8/8/2PQ4/4p2k/4P1qP/4Bp1n/8/5B1K b - - 0 1"></div>
<div class="score">
 <span class="line0" onclick='loadMove("8/8/2PQ4/4p2k/4P1qP/4Bp1n/8/5B1K b - - 0 1", this, ""); '>[...]</span> 
<div class="chessBoard analysis nobuttons" data-start-fen="8/8/2PQ4/4p2k/4P1qP/4Bp1n/8/5B1K b - - 0 1"></div>
<p class="capTop">143. Ход черных</p>
<div class="spoiler-wrap">
<div class="spoiler-head folded">Решение</div>
<div class="spoiler-body">
<p><b>143.</b>

 <span onclick='loadMove("8/8/2PQ4/4p2k/4P1qP/4Bp2/5n2/5B1K w - - 0 2", this, "h3f2"); ' class="line0">1...Кf2+!</span> 
 <span onclick='loadMove("8/8/2PQ4/4p2k/4P1qP/5p2/5B2/5B1K b - - 0 2", this, "e3f2"); ' class="line0">2.С:f2</span> 
(разумеется, не
 <span onclick='loadMove("8/8/2PQ4/4p2k/4P1qP/4Bp2/5n1K/5B2 b - - 0 2", this, "h1h2"); ' class="line1">2.Крh2?</span> 
 <span onclick='loadMove("8/8/2PQ4/4p2k/4P2q/4Bp2/5n1K/5B2 w - - 0 3", this, "g4h4"); ' class="line1">Ф:h4+</span> 
 <span onclick='loadMove("8/8/2PQ4/4p2k/4P2q/4Bp2/5n2/5BK1 b - - 0 3", this, "h2g1"); ' class="line1">3.Крg1</span> 
 <span onclick='loadMove("8/8/2PQ4/4p2k/4P3/4Bpq1/5n2/5BK1 w - - 0 4", this, "h4g3"); ' class="line1">Фg3+</span> 
)
 <span onclick='loadMove("8/8/2PQ4/4p2k/4P2P/5p1q/5B2/5B1K w - - 0 3", this, "g4h3"); ' class="line0">2...Фh3+!</span> 
 <span onclick='loadMove("8/8/2PQ4/4p2k/4P2P/5p1q/5B2/5BK1 b - - 0 3", this, "h1g1"); ' class="line0">3.Крg1</span> 
(
 <span onclick='loadMove("8/8/2PQ4/4p2k/4P2P/5p1B/5B2/7K b - - 0 3", this, "f1h3"); ' class="line1">3.С:h3</span> 
- пат)
 <span onclick='loadMove("8/8/2PQ4/4p2k/4P1qP/5p2/5B2/5BK1 w - - 0 4", this, "h3g4"); ' class="line0">3...Фg4+</span> 
 <span onclick='loadMove("8/8/2PQ4/4p2k/4P1qP/5p2/5B1K/5B2 b - - 0 4", this, "g1h2"); ' class="line0">4.Крh2</span> 
 <span onclick='loadMove("8/8/2PQ4/4p2k/4P2P/5p1q/5B1K/5B2 w - - 0 5", this, "g4h3"); ' class="line0">Фh3+</span> 
. Ничья (Родригес - Вайсман, Бухарест 1974).</p>
</div>
</div> <!-- spoiler-wrap -->
</div> <!-- score -->
</div> <!-- section -->

<div class="section">
<div class="chessBoard small floater" data-start-fen="2R5/p3q1kp/6p1/3p4/b2P2p1/Pr4N1/5Q2/3K3R w - - 0 1"></div>
<div class="score">
 <span class="line0" onclick='loadMove("2R5/p3q1kp/6p1/3p4/b2P2p1/Pr4N1/5Q2/3K3R w - - 0 1", this, ""); '>[...]</span> 
<div class="chessBoard analysis nobuttons" data-start-fen="2R5/p3q1kp/6p1/3p4/b2P2p1/Pr4N1/5Q2/3K3R w - - 0 1"></div>
<p class="capTop">144. Ход белых</p>
<div class="spoiler-wrap">
<div class="spoiler-head folded">Решение</div>
<div class="spoiler-body">
<p><b>144.</b>

 <span onclick='loadMove("2R5/p3q1kp/6p1/3p1N2/b2P2p1/Pr6/5Q2/3K3R b - - 0 1", this, "g3f5"); ' class="line0">1.Кf5+!</span> 
 <span onclick='loadMove("2R5/p3q1kp/8/3p1p2/b2P2p1/Pr6/5Q2/3K3R w - - 0 2", this, "g6f5"); ' class="line0">gf</span> 
 <span onclick='loadMove("2R5/p3q1kR/8/3p1p2/b2P2p1/Pr6/5Q2/3K4 b - - 0 2", this, "h1h7"); ' class="line0">2.Л:h7+!</span> 
 <span onclick='loadMove("2R5/p3q2k/8/3p1p2/b2P2p1/Pr6/5Q2/3K4 w - - 0 3", this, "g7h7"); ' class="line0">Кр:h7</span> 
 <span onclick='loadMove("2R5/p3q2k/8/3p1Q2/b2P2p1/Pr6/8/3K4 b - - 0 3", this, "f2f5"); ' class="line0">3.Ф:f5+</span> 
 <span onclick='loadMove("2R5/p3q1k1/8/3p1Q2/b2P2p1/Pr6/8/3K4 w - - 0 4", this, "h7g7"); ' class="line0">Крg7</span> 
.
(
 <span onclick='loadMove("2R5/p3q3/7k/3p1Q2/b2P2p1/Pr6/8/3K4 w - - 0 4", this, "h7h6"); ' class="line1">3...Крh6</span> 
Отступления на h6 нет ввиду
 <span onclick='loadMove("7R/p3q3/7k/3p1Q2/b2P2p1/Pr6/8/3K4 b - - 0 4", this, "c8h8"); ' class="line1">4.Лh8+</span> 
 <span onclick='loadMove("7R/p3q1k1/8/3p1Q2/b2P2p1/Pr6/8/3K4 w - - 0 5", this, "h6g7"); ' class="line1">Крg7</span> 
 <span onclick='loadMove("8/p3q1kR/8/3p1Q2/b2P2p1/Pr6/8/3K4 b - - 0 5", this, "h8h7"); ' class="line1">5.Лh7+</span> 
 <span onclick='loadMove("6k1/p3q2R/8/3p1Q2/b2P2p1/Pr6/8/3K4 w - - 0 6", this, "g7g8"); ' class="line1">Крg8</span> 
 <span onclick='loadMove("6k1/p3q2R/6Q1/3p4/b2P2p1/Pr6/8/3K4 b - - 0 6", this, "f5g6"); ' class="line1">6.Фg6+</span> 
 <span onclick='loadMove("5k2/p3q2R/6Q1/3p4/b2P2p1/Pr6/8/3K4 w - - 0 7", this, "g8f8"); ' class="line1">Крf8</span> 
 <span onclick='loadMove("5k1R/p3q3/6Q1/3p4/b2P2p1/Pr6/8/3K4 b - - 0 7", this, "h7h8"); ' class="line1">7.Лh8X</span> 
.)
 <span onclick='loadMove("2R5/p3q1k1/8/3p4/b2P2Q1/Pr6/8/3K4 b - - 0 4", this, "f5g4"); ' class="line0">4.Ф:g4+</span> 
 <span onclick='loadMove("2R5/p3q3/5k2/3p4/b2P2Q1/Pr6/8/3K4 w - - 0 5", this, "g7f6"); ' class="line0">Крf6</span> 
 <span onclick='loadMove("2R5/p3q3/5k2/3p4/b2P1Q2/Pr6/8/3K4 b - - 0 5", this, "g4f4"); ' class="line0">5.Фf4+</span> 
 <span onclick='loadMove("2R5/p3q1k1/8/3p4/b2P1Q2/Pr6/8/3K4 w - - 0 6", this, "f6g7"); ' class="line0">Крg7</span> 
 <span onclick='loadMove("2R5/p3q1k1/8/3p4/b2P2Q1/Pr6/8/3K4 b - - 0 6", this, "f4g4"); ' class="line0">6.Фg4+</span> 
 <span onclick='loadMove("2R5/p3q3/5k2/3p4/b2P2Q1/Pr6/8/3K4 w - - 0 7", this, "g7f6"); ' class="line0">Крf6</span> 
 <span onclick='loadMove("2R5/p3q3/5k2/3p4/b2P1Q2/Pr6/8/3K4 b - - 0 7", this, "g4f4"); ' class="line0">7.Фf4+</span> 
с вечным шахом (Спилмэн - Рей, Лон Пайн 1978).</p>
</div>
</div> <!-- spoiler-wrap -->
</div> <!-- score -->
</div> <!-- section -->

<div class="section">
<div class="chessBoard small floater" data-start-fen="4Q3/7k/2p2q1p/1p3p1K/5P2/p6P/8/8 w - - 0 1"></div>
<div class="score">
 <span class="line0" onclick='loadMove("4Q3/7k/2p2q1p/1p3p1K/5P2/p6P/8/8 w - - 0 1", this, ""); '>[...]</span> 
<div class="chessBoard analysis nobuttons" data-start-fen="4Q3/7k/2p2q1p/1p3p1K/5P2/p6P/8/8 w - - 0 1"></div>
<p class="capTop">145. Ход белых</p>
<div class="spoiler-wrap">
<div class="spoiler-head folded">Решение</div>
<div class="spoiler-body">
<p><b>145.</b>
Тонким ходом
 <span onclick='loadMove("4Q3/7k/2p2q1p/1p3p1K/5P1P/p7/8/8 b - - 0 1", this, "h3h4"); ' class="line0">1.h4!</span> 
(
 <!--span onclick='loadMove("4Q3/7k/2p2q1p/1p3p1K/5P1P/p7/8/8 w - - 0 2", this, "h3h4"); ' class="line1">1...z0</span--> 
с угрозой пата после
 <span onclick='loadMove("6Q1/7k/2p2q1p/1p3p1K/5P1P/p7/8/8 b - - 0 2", this, "e8g8"); ' class="line1">2.Фg8+</span> 
)
белые добиваются ничьей (Жданов - Пигитс, Рига 1953).</p>
</div>
</div> <!-- spoiler-wrap -->
</div> <!-- score -->
</div> <!-- section -->

<div class="section">
<div class="chessBoard small floater" data-start-fen="3q4/1k4b1/1p6/p7/2Q1Np2/2n2P2/7r/2K1R3 w - - 0 1"></div>
<div class="score">
 <span class="line0" onclick='loadMove("3q4/1k4b1/1p6/p7/2Q1Np2/2n2P2/7r/2K1R3 w - - 0 1", this, ""); '>[...]</span> 
<div class="chessBoard analysis nobuttons" data-start-fen="3q4/1k4b1/1p6/p7/2Q1Np2/2n2P2/7r/2K1R3 w - - 0 1"></div>
<p class="capTop">146. Ход белых</p>
<div class="spoiler-wrap">
<div class="spoiler-head folded">Решение</div>
<div class="spoiler-body">
<p><b>146.</b>

 <span onclick='loadMove("3q4/1k4b1/1p1N4/p7/2Q2p2/2n2P2/7r/2K1R3 b - - 0 1", this, "e4d6"); ' class="line0">1.Кd6+!</span> 
 <span onclick='loadMove("8/1k4b1/1p1q4/p7/2Q2p2/2n2P2/7r/2K1R3 w - - 0 2", this, "d8d6"); ' class="line0">Ф:d6</span> 
(
 <span onclick='loadMove("3q4/k5b1/1p1N4/p7/2Q2p2/2n2P2/7r/2K1R3 w - - 0 2", this, "b7a7"); ' class="line1">1...Крa7?</span> 
 <span onclick='loadMove("3q4/k4Qb1/1p1N4/p7/5p2/2n2P2/7r/2K1R3 b - - 0 2", this, "c4f7"); ' class="line1">2.Фf7+</span> 
)
 <span onclick='loadMove("8/1k2R1b1/1p1q4/p7/2Q2p2/2n2P2/7r/2K5 b - - 0 2", this, "e1e7"); ' class="line0">2.Лe7+</span> 
 <span onclick='loadMove("8/1k2q1b1/1p6/p7/2Q2p2/2n2P2/7r/2K5 w - - 0 3", this, "d6e7"); ' class="line0">Ф:e7</span> 
 <span onclick='loadMove("8/1kQ1q1b1/1p6/p7/5p2/2n2P2/7r/2K5 b - - 0 3", this, "c4c7"); ' class="line0">3.Фc7+!</span> 
Ничья (Гольдин - Рябов, Новосибирск 1982).</p>
</div>
</div> <!-- spoiler-wrap -->
</div> <!-- score -->
</div> <!-- section -->

<div class="section">
<div class="chessBoard small floater" data-start-fen="5bk1/1R1R3p/6p1/8/8/6P1/rp3PKP/8 b - - 0 1"></div>
<div class="score">
 <span class="line0" onclick='loadMove("5bk1/1R1R3p/6p1/8/8/6P1/rp3PKP/8 b - - 0 1", this, ""); '>[...]</span> 
<div class="chessBoard analysis nobuttons" data-start-fen="5bk1/1R1R3p/6p1/8/8/6P1/rp3PKP/8 b - - 0 1"></div>
<p class="capTop">147. Ход черных</p>
<div class="spoiler-wrap">
<div class="spoiler-head folded">Решение</div>
<div class="spoiler-body">
<p><b>147.</b>
Черные могли спастись изящным ходом
 <span onclick='loadMove("5bk1/rR1R3p/6p1/8/8/6P1/1p3PKP/8 w - - 0 2", this, "a2a7"); ' class="line0">1...Лa7!!</span> 
(возможность, упущенная в партии Решевский - Болеславский, турнир претендентов, Цюрих 1953, где было сыграно
 <span onclick='loadMove("6k1/1R1R3p/6p1/2b5/8/6P1/rp3PKP/8 w - - 0 2", this, "f8c5"); ' class="line1">1...Сc5?</span> 
 <span onclick='loadMove("3R2k1/1R5p/6p1/2b5/8/6P1/rp3PKP/8 b - - 0 2", this, "d7d8"); ' class="line1">2.Лd8+</span> 
 <span onclick='loadMove("3R1bk1/1R5p/6p1/8/8/6P1/rp3PKP/8 w - - 0 3", this, "c5f8"); ' class="line1">Сf8</span> 
 <span onclick='loadMove("1R3bk1/1R5p/6p1/8/8/6P1/rp3PKP/8 b - - 0 3", this, "d8b8"); ' class="line1">3.Лdb8</span> 
, и черные сдались)
. За пешку «b» пришлось бы отдать ладью:
 <span onclick='loadMove("5bk1/rR5R/6p1/8/8/6P1/1p3PKP/8 b - - 0 2", this, "d7h7"); ' class="line0">2.Л:h7</span> 
 <span onclick='loadMove("5bk1/rR5R/6p1/8/8/6P1/5PKP/1q6 w - - 0 3", this, "b2b1"); ' class="line0">b1Ф</span> 
 <span onclick='loadMove("5bk1/r6R/6p1/8/8/6P1/5PKP/1R6 b - - 0 3", this, "b7b1"); ' class="line0">3.Л:b1</span> 
 <span onclick='loadMove("5b2/r6k/6p1/8/8/6P1/5PKP/1R6 w - - 0 4", this, "g8h7"); ' class="line0">Кр:h7</span> 
.</p>
</div>
</div> <!-- spoiler-wrap -->
</div> <!-- score -->
</div> <!-- section -->

<div class="section">
<div class="chessBoard small floater" data-start-fen="rb5k/1b1N2p1/p4n1p/np6/8/P1PQ2Pq/BP1B1P1P/4R1K1 w - - 0 1"></div>
<div class="score">
 <span class="line0" onclick='loadMove("rb5k/1b1N2p1/p4n1p/np6/8/P1PQ2Pq/BP1B1P1P/4R1K1 w - - 0 1", this, ""); '>[...]</span> 
<div class="chessBoard analysis nobuttons" data-start-fen="rb5k/1b1N2p1/p4n1p/np6/8/P1PQ2Pq/BP1B1P1P/4R1K1 w - - 0 1"></div>
<p class="capTop">148. Ход белых</p>
<div class="spoiler-wrap">
<div class="spoiler-head folded">Решение</div>
<div class="spoiler-body">
<p><b>148.</b>
Белые добиваются ничьей путем
 <span onclick='loadMove("rb2R2k/1b1N2p1/p4n1p/np6/8/P1PQ2Pq/BP1B1P1P/6K1 b - - 0 1", this, "e1e8"); ' class="line0">1.Лe8+!</span> 
 <span onclick='loadMove("rb2n2k/1b1N2p1/p6p/np6/8/P1PQ2Pq/BP1B1P1P/6K1 w - - 0 2", this, "f6e8"); ' class="line0">К:e8</span> 
 <span onclick='loadMove("rb2n2k/1b1N2pQ/p6p/np6/8/P1P3Pq/BP1B1P1P/6K1 b - - 0 2", this, "d3h7"); ' class="line0">2.Фh7+!</span> 
 <span onclick='loadMove("rb2n3/1b1N2pk/p6p/np6/8/P1P3Pq/BP1B1P1P/6K1 w - - 0 3", this, "h8h7"); ' class="line0">Кр:h7</span> 
 <span onclick='loadMove("rb2nN2/1b4pk/p6p/np6/8/P1P3Pq/BP1B1P1P/6K1 b - - 0 3", this, "d7f8"); ' class="line0">3.Кf8+</span> 
 <span onclick='loadMove("rb2nN1k/1b4p1/p6p/np6/8/P1P3Pq/BP1B1P1P/6K1 w - - 0 4", this, "h7h8"); ' class="line0">Крh8</span> 
 <span onclick='loadMove("rb2n2k/1b4p1/p5Np/np6/8/P1P3Pq/BP1B1P1P/6K1 b - - 0 4", this, "f8g6"); ' class="line0">4.Кg6+</span> 
с вечным шахом (Нейман - №№, 1956).</p>
</div>
</div> <!-- spoiler-wrap -->
</div> <!-- score -->
</div> <!-- section -->

<div class="section">
<div class="chessBoard small floater" data-start-fen="3R4/4Qpk1/4p1p1/7p/7K/5rP1/5P2/2q5 w - - 0 1"></div>
<div class="score">
 <span class="line0" onclick='loadMove("3R4/4Qpk1/4p1p1/7p/7K/5rP1/5P2/2q5 w - - 0 1", this, ""); '>[...]</span> 
<div class="chessBoard analysis nobuttons" data-start-fen="3R4/4Qpk1/4p1p1/7p/7K/5rP1/5P2/2q5 w - - 0 1"></div>
<p class="capTop">149. Ход белых</p>
<div class="spoiler-wrap">
<div class="spoiler-head folded">Решение</div>
<div class="spoiler-body">
<p><b>149.</b>
Белым грозит мат, и им ничего не остается как давать шахи.
 <span onclick='loadMove("3R1Q2/5pk1/4p1p1/7p/7K/5rP1/5P2/2q5 b - - 0 1", this, "e7f8"); ' class="line0">1.Фf8+</span> 
 <span onclick='loadMove("3R1Q2/5p2/4pkp1/7p/7K/5rP1/5P2/2q5 w - - 0 2", this, "g7f6"); ' class="line0">Крf6</span> 
 <span onclick='loadMove("3R3Q/5p2/4pkp1/7p/7K/5rP1/5P2/2q5 b - - 0 2", this, "f8h8"); ' class="line0">2.Фh8+</span> 
 <span onclick='loadMove("3R3Q/5p2/4p1p1/5k1p/7K/5rP1/5P2/2q5 w - - 0 3", this, "f6f5"); ' class="line0">Крf5</span> 
.
</p>
<div class="chessBoard analysis nobuttons" data-start-fen="3R3Q/5p2/4p1p1/5k1p/7K/5rP1/5P2/2q5 w - - 0 3"></div>
<p>
А что же дальше? Дальше
 <span onclick='loadMove("3R3Q/5p2/4p1p1/5k1p/6PK/5r2/5P2/2q5 b - - 0 3", this, "g3g4"); ' class="line0">3.g4+!</span> 
 <span onclick='loadMove("3R3Q/5p2/4p1p1/5k2/6pK/5r2/5P2/2q5 w - - 0 4", this, "h5g4"); ' class="line0">hg</span> 
(
 <span onclick='loadMove("3R3Q/5p2/4p1p1/7p/4k1PK/5r2/5P2/2q5 w - - 0 4", this, "f5e4"); ' class="line1">3...Крe4??</span> 
 <span onclick='loadMove("7Q/5p2/4p1p1/7p/3Rk1PK/5r2/5P2/2q5 b - - 0 4", this, "d8d4"); ' class="line1">4.Лd4X</span> 
)
. Теперь, когда белый король запатован, оставшиеся тяжелые фигуры черных подставляют себя под удар:
 <span onclick='loadMove("7Q/5p2/4p1p1/3R1k2/6pK/5r2/5P2/2q5 b - - 0 4", this, "d8d5"); ' class="line0">4.Лd5+!</span> 
 <span onclick='loadMove("7Q/5p2/6p1/3p1k2/6pK/5r2/5P2/2q5 w - - 0 5", this, "e6d5"); ' class="line0">ed</span> 
 <span onclick='loadMove("2Q5/5p2/6p1/3p1k2/6pK/5r2/5P2/2q5 b - - 0 5", this, "h8c8"); ' class="line0">5.Фc8+</span> 
 <span onclick='loadMove("2q5/5p2/6p1/3p1k2/6pK/5r2/5P2/8 w - - 0 6", this, "c1c8"); ' class="line0">Ф:c8</span> 
- пат (Заздис - Земидис, Рига 1936).</p>
</div>
</div> <!-- spoiler-wrap -->
</div> <!-- score -->
</div> <!-- section -->

<div class="section">
<div class="chessBoard small floater" data-start-fen="r5k1/7p/p3R1p1/3R4/1Q6/4B2q/1PP4b/7K w - - 0 1"></div>
<div class="score">
 <span class="line0" onclick='loadMove("r5k1/7p/p3R1p1/3R4/1Q6/4B2q/1PP4b/7K w - - 0 1", this, ""); '>[...]</span> 
<div class="chessBoard analysis nobuttons" data-start-fen="r5k1/7p/p3R1p1/3R4/1Q6/4B2q/1PP4b/7K w - - 0 1"></div>
<p class="capTop">150. Ход белых</p>
<!--p>92 Как бы Вы сыграли?</p-->
<div class="spoiler-wrap">
<div class="spoiler-head folded">Решение</div>
<div class="spoiler-body">
<p><b>150.</b>

 <span onclick='loadMove("r5k1/7p/p5R1/3R4/1Q6/4B2q/1PP4b/7K b - - 0 1", this, "e6g6"); ' class="line0">1.Л:g6+!</span> 
 <span onclick='loadMove("r5k1/8/p5p1/3R4/1Q6/4B2q/1PP4b/7K w - - 0 2", this, "h7g6"); ' class="line0">hg</span> 
(на ход королем следует
 <span onclick='loadMove("r5k1/8/p5p1/3R4/6Q1/4B2q/1PP4b/7K b - - 0 2", this, "b4g4"); ' class="line1">2.Фg4</span> 
)
 <span onclick='loadMove("r2R2k1/8/p5p1/8/1Q6/4B2q/1PP4b/7K b - - 0 2", this, "d5d8"); ' class="line0">2.Лd8+!</span> 
 <span onclick='loadMove("3r2k1/8/p5p1/8/1Q6/4B2q/1PP4b/7K w - - 0 3", this, "a8d8"); ' class="line0">Л:d8</span> 
 <span onclick='loadMove("3r2k1/8/p5p1/8/8/1Q2B2q/1PP4b/7K b - - 0 3", this, "b4b3"); ' class="line0">3.Фb3+</span> 
 <span onclick='loadMove("3r4/7k/p5p1/8/8/1Q2B2q/1PP4b/7K w - - 0 4", this, "g8h7"); ' class="line0">Крh7</span> 
(на черное поле королю идти запрещено из-за вскрытого шаха и потери ферзя)
 <span onclick='loadMove("3r4/5Q1k/p5p1/8/8/4B2q/1PP4b/7K b - - 0 4", this, "b3f7"); ' class="line0">4.Фf7+</span> 
 <span onclick='loadMove("3r3k/5Q2/p5p1/8/8/4B2q/1PP4b/7K w - - 0 5", this, "h7h8"); ' class="line0">Крh8</span> 
 <span onclick='loadMove("3r3k/8/p4Qp1/8/8/4B2q/1PP4b/7K b - - 0 5", this, "f7f6"); ' class="line0">5.Фf6+</span> 
, и ничья (вариант из партии Панов - Абрамов, Москва 1949).</p>
</div>
</div> <!-- spoiler-wrap -->
</div> <!-- score -->
</div> <!-- section -->

<div class="section">
<div class="chessBoard small floater" data-start-fen="r2r1k2/pb3p1Q/1p2pp1p/2P5/5q2/2P5/PPB2PPP/R4RK1 b - - 0 1"></div>
<div class="score">
 <span class="line0" onclick='loadMove("r2r1k2/pb3p1Q/1p2pp1p/2P5/5q2/2P5/PPB2PPP/R4RK1 b - - 0 1", this, ""); '>[...]</span> 
<div class="chessBoard analysis nobuttons" data-start-fen="r2r1k2/pb3p1Q/1p2pp1p/2P5/5q2/2P5/PPB2PPP/R4RK1 b - - 0 1"></div>
<p class="capTop">151. Ход белых</p>
<p>Черные сыграли
 <span onclick='loadMove("r2r1k2/p4p1Q/1p2pp1p/2P5/5q2/2P5/PPB2PbP/R4RK1 w - - 0 2", this, "b7g2"); ' class="line0">1...С:g2</span> 
. Ваш ответ.</p>
<div class="spoiler-wrap">
<div class="spoiler-head folded">Решение</div>
<div class="spoiler-body">
<p><b>151.</b>

 <span onclick='loadMove("r2r1k2/p4p1Q/1p2pp1p/2P5/5q2/2P5/PPB2PbP/R4RK1 w - - 0 2", this, "b7g2"); ' class="line0">1...С:g2</span> 
(Если взять слона
 <span onclick='loadMove("r2r1k2/p4p1Q/1p2pp1p/2P5/5q2/2P5/PPB2PKP/R4R2 b - - 0 2", this, "g1g2"); ' class="line1">2.Кр:g2</span> 
, черные выиграют:
 <span onclick='loadMove("r2r1k2/p4p1Q/1p2pp1p/2P5/6q1/2P5/PPB2PKP/R4R2 w - - 0 3", this, "f4g4"); ' class="line1">2...Фg4+</span> 
 <span onclick='loadMove("r2r1k2/p4p1Q/1p2pp1p/2P5/6q1/2P5/PPB2P1P/R4R1K b - - 0 3", this, "g2h1"); ' class="line1">3.Крh1</span> 
 <span onclick='loadMove("r2r1k2/p4p1Q/1p2pp1p/2P5/8/2P2q2/PPB2P1P/R4R1K w - - 0 4", this, "g4f3"); ' class="line1">Фf3+</span> 
 <!--span onclick='loadMove("r2r1k2/p4p1Q/1p2pp1p/2P5/8/2P2q2/PPB2P1P/R4R1K b - - 0 4", this, "g4f3"); ' class="line1">4.z0</span--> 
и
 <span onclick='loadMove("r4k2/p4p1Q/1p2pp1p/2Pr4/8/2P2q2/PPB2P1P/R4R1K w - - 0 5", this, "d8d5"); ' class="line1">4...Лd5</span> 
.)
Спасает партию парадоксальный, на первый взгляд, ход
 <span onclick='loadMove("r2r1k2/p4p1Q/1p2ppBp/2P5/5q2/2P5/PP3PbP/R4RK1 b - - 0 2", this, "c2g6"); ' class="line0">2.Сg6!!</span> 
Благодаря пешке c5 белые объявляют вечный шах после
 <span onclick='loadMove("r2r1k2/p6Q/1p2pppp/2P5/5q2/2P5/PP3PbP/R4RK1 w - - 0 3", this, "f7g6"); ' class="line0">2...fg</span> 
 <span onclick='loadMove("r2r1k1Q/p7/1p2pppp/2P5/5q2/2P5/PP3PbP/R4RK1 b - - 0 3", this, "h7h8"); ' class="line0">3.Фh8+</span> 
 <span onclick='loadMove("r2r3Q/p4k2/1p2pppp/2P5/5q2/2P5/PP3PbP/R4RK1 w - - 0 4", this, "f8f7"); ' class="line0">Крf7</span> 
 <span onclick='loadMove("r2r4/p4k1Q/1p2pppp/2P5/5q2/2P5/PP3PbP/R4RK1 b - - 0 4", this, "h8h7"); ' class="line0">4.Фh7+</span> 
. Так закончилась встреча Готгильф - Розенталь (Ленинград 1934).
(Если черные в ответ на
 <span onclick='loadMove("r2r1k2/p4p1Q/1p2ppBp/2P5/5q2/2P5/PP3PbP/R4RK1 b - - 0 2", this, "c2g6"); ' class="line1">2.Сg6</span> 
отклоняли жертву и защищались от мата ходом
 <span onclick='loadMove("r4k2/p2r1p1Q/1p2ppBp/2P5/5q2/2P5/PP3PbP/R4RK1 w - - 0 3", this, "d8d7"); ' class="line1">2...Лd7</span> 
, они лишались важного маневра <b>Лd8-d5</b>. Белые просто забрали бы слона g2, и вечный шах (на полях g4 и f3) пришлось бы давать черным.)
</p>
</div>
</div> <!-- spoiler-wrap -->
</div> <!-- score -->
</div> <!-- section -->

<div class="section">
<div class="chessBoard small floater" data-start-fen="6r1/5p1k/4p3/3pQp2/1p1P1P1q/1Pr2RR1/6KP/8 b - - 0 1"></div>
<div class="score">
 <span class="line0" onclick='loadMove("6r1/5p1k/4p3/3pQp2/1p1P1P1q/1Pr2RR1/6KP/8 b - - 0 1", this, ""); '>[...]</span> 
<div class="chessBoard analysis nobuttons" data-start-fen="6r1/5p1k/4p3/3pQp2/1p1P1P1q/1Pr2RR1/6KP/8 b - - 0 1"></div>
<p class="capTop">152. Ход черных</p>
<p>На
 <span onclick='loadMove("6r1/5p1k/4p3/3pQp2/1p1P1P1q/1P3RR1/2r3KP/8 w - - 0 2", this, "c3c2"); ' class="line0">1...Лc2+</span> 
последовало
 <span onclick='loadMove("6r1/5p1k/4p3/3pQp2/1p1P1P1q/1P3RR1/2r4P/5K2 b - - 0 2", this, "g2f1"); ' class="line0">2.Крf1</span> 
. Могут ли черные выиграть?</p>
<div class="spoiler-wrap">
<div class="spoiler-head folded">Решение</div>
<div class="spoiler-body">
<p><b>152.</b>

 <span onclick='loadMove("6r1/5p1k/4p3/3pQp2/1p1P1P1q/1P3RR1/2r3KP/8 w - - 0 2", this, "c3c2"); ' class="line0">1...Лc2+</span> 
 <span onclick='loadMove("6r1/5p1k/4p3/3pQp2/1p1P1P1q/1P3RR1/2r4P/5K2 b - - 0 2", this, "g2f1"); ' class="line0">2.Крf1?</span> 
К победе ведет
 <span onclick='loadMove("8/5p1k/4p3/3pQp2/1p1P1Prq/1P3RR1/2r4P/5K2 w - - 0 3", this, "g8g4"); ' class="line0">2...Лg4!</span> 
(Прежде чем взять пешку h2, черные должны сделать этот ход, ибо на немедленное
 <span onclick='loadMove("6r1/5p1k/4p3/3pQp2/1p1P1P1q/1P3RR1/7r/5K2 w - - 0 3", this, "c2h2"); ' class="line1">2...Л:h2</span> 
белые эффектно добиваются ничьей:
 <span onclick='loadMove("6R1/5p1k/4p3/3pQp2/1p1P1P1q/1P3R2/7r/5K2 b - - 0 3", this, "g3g8"); ' class="line1">3.Л:g8</span> 
 <span onclick='loadMove("6k1/5p2/4p3/3pQp2/1p1P1P1q/1P3R2/7r/5K2 w - - 0 4", this, "h7g8"); ' class="line1">Кр:g8</span> 
(
 <span onclick='loadMove("6R1/5p1k/4p3/3pQp2/1p1P1P1q/1P3R2/8/5K1r w - - 0 4", this, "h2h1"); ' class="line2">3...Лh1+?</span> 
 <span onclick='loadMove("8/5p1k/4p3/3pQp2/1p1P1P1q/1P3R2/8/5KRr b - - 0 4", this, "g8g1"); ' class="line2">4.Лg1</span> 
)
 <span onclick='loadMove("6k1/5p2/4p3/3pQp2/1p1P1P1q/1P4R1/7r/5K2 b - - 0 4", this, "f3g3"); ' class="line1">4.Лg3+!</span> 
 <span onclick='loadMove("6k1/5p2/4p3/3pQp2/1p1P1P2/1P4q1/7r/5K2 w - - 0 5", this, "h4g3"); ' class="line1">Ф:g3</span> 
(не получать же черным мат после
 <span onclick='loadMove("5k2/5p2/4p3/3pQp2/1p1P1P1q/1P4R1/7r/5K2 w - - 0 5", this, "g8f8"); ' class="line2">4...Крf8?</span> 
 <span onclick='loadMove("5k2/5p2/3Qp3/3p1p2/1p1P1P1q/1P4R1/7r/5K2 b - - 0 5", this, "e5d6"); ' class="line2">5.Фd6+</span> 
 <!--span onclick='loadMove("5k2/5p2/3Qp3/3p1p2/1p1P1P1q/1P4R1/7r/5K2 w - - 0 6", this, "e5d6"); ' class="line2">z0</span--> 
и
 <span onclick='loadMove("5kR1/5p2/3Qp3/3p1p2/1p1P1P1q/1P6/7r/5K2 b - - 0 6", this, "g3g8"); ' class="line2">6.Лg8X</span> 
)
 <span onclick='loadMove("1Q4k1/5p2/4p3/3p1p2/1p1P1P2/1P4q1/7r/5K2 b - - 0 5", this, "e5b8"); ' class="line1">5.Фb8+!</span> 
 <span onclick='loadMove("1Q6/5pk1/4p3/3p1p2/1p1P1P2/1P4q1/7r/5K2 w - - 0 6", this, "g8g7"); ' class="line1">Крg7</span> 
 <span onclick='loadMove("6Q1/5pk1/4p3/3p1p2/1p1P1P2/1P4q1/7r/5K2 b - - 0 6", this, "b8g8"); ' class="line1">6.Фg8+!</span> 
)
 <span onclick='loadMove("8/5p1k/4p3/3pQp2/1p1P1Prq/1P3R1R/2r4P/5K2 b - - 0 3", this, "g3h3"); ' class="line0">3.Лh3</span> 
 <span onclick='loadMove("8/5p1k/4p3/3pQp2/1p1P1Prq/1P3R1R/7P/2r2K2 w - - 0 4", this, "c2c1"); ' class="line0">Лc1+</span> 
 <span onclick='loadMove("8/5p1k/4p3/3pQp2/1p1P1Prq/1P3R1R/4K2P/2r5 b - - 0 4", this, "f1e2"); ' class="line0">4.Крe2</span> 
 <span onclick='loadMove("8/5p1k/4p3/3pQp2/1p1P1Prq/1P3R1R/4K2P/4r3 w - - 0 5", this, "c1e1"); ' class="line0">Лe1+</span> 
 <span onclick='loadMove("8/5p1k/4p3/3pQp2/1p1P1Prq/1P1K1R1R/7P/4r3 b - - 0 5", this, "e2d3"); ' class="line0">5.Крd3</span> 
 <span onclick='loadMove("8/5p1k/4p3/3prp2/1p1P1Prq/1P1K1R1R/7P/8 w - - 0 6", this, "e1e5"); ' class="line0">Л:e5</span> 
 <span onclick='loadMove("8/5p1k/4p3/3pPp2/1p3Prq/1P1K1R1R/7P/8 b - - 0 6", this, "d4e5"); ' class="line0">6.de</span> 
 <span onclick='loadMove("8/5p1k/4p3/3pPp2/1p3r1q/1P1K1R1R/7P/8 w - - 0 7", this, "g4f4"); ' class="line0">Л:f4</span> 
 <span onclick='loadMove("8/5p1k/4p3/3pPp2/1p3r1R/1P1K1R2/7P/8 b - - 0 7", this, "h3h4"); ' class="line0">7.Л:h4+</span> 
 <span onclick='loadMove("8/5p1k/4p3/3pPp2/1p5r/1P1K1R2/7P/8 w - - 0 8", this, "f4h4"); ' class="line0">Л:h4</span> 
, и у черных легко выигрышный ладейный эндшпиль (вариант из партии Тайманов - Геллер, Москва 1951).</p>
</div>
</div> <!-- spoiler-wrap -->
</div> <!-- score -->
</div> <!-- section -->

</div> <!-- iBook -->
{% endblock content %}

