{% extends '../base.htm' %}
{% load static %}
{% block content %}

<div class="section">
<h2 class="floater"><a name="123">Глава XIV</a></h2>

<div class="score">
<p>Пол приехал в кафе точно вовремя, но Гаррвитца не было. Наконец от него принесли записку. Гаррвитц писал, что более не в силах продолжать игру в присутствии публики (его «непременное условие»!) и просит Пола подняться наверх, в комнату, куда посторонние не допускаются.</p>
<p>Новость возбудила публику, даже ставившие на Гаррвитца (а их было человек восемь или десять) сердились на него.</p>
<p>Теперь даже они желали Полу победы.</p>
<p>Положение было затруднительным. Пол послал сказать Гаррвит-цу, что клуб — самостоятельная организация, отнюдь не приглашавшая его к себе. Гаррвитц ничего не ответил; казалось, тем дело и кончится. Тогда члены клуба энергично взялись за Пола и заставили его подняться наверх.</p>
<p>Началась игра, к 20 ходам у Пола был огромный перевес. Он уже добивал Гаррвитца, когда внезапно грубо ошибся и подставил ладью, вместо того чтобы дать мат в два хода.</p>
<p>Пол расхохотался, но Гаррвитц проворно схватил ладью, и Полу пришлось давать вечный шах, имевшийся в его распоряжении.</p>
<p>Позднее у Гаррвитца хватило нахальства заявить, что «седьмая партия все равно была ничья!»</p>
<p>После этого Гаррвитц снова начал «хворать», однако освобождающиеся от игры дни он использовал не для лечения.</p>
<p>Отложив партию «ввиду нездоровья», он приходил в кафе «Де ля Режанс» и играл в шахматы до полуночи — с кем угодно, кроме Пола.</p>
<p>Наконец Гаррвитц счел себя оправившимся. Восьмую партию он играл с огромным напряжением, партия длилась 59 ходов, и все же Гаррвитц проиграл ее.</p>
<p>Счет стал 5 : 2 в пользу Пола при одной ничьей.</p>
<p>Наутро пришло сообщение, что в связи с плохим состоянием здоровья Гаррвитц вынужден прекратить игру надолго... В кафе началось нечто вроде скандала. Гаррвитц не счел нужным посоветоваться со своими ставщиками, он даже не сообщил им своего решения. Сторонники Гаррвитца были крайне недовольны своим чемпионом и громко отказывались верить в его заболевание.</p>
<p>Арбитр, скульптор мсье Лекэн, объявил матч проигранным Гаррвитцем и вручил Полу выигранные им ставки, которых набралось на мизерную сумму — 290 франков.</p>
<p>Пол отказался принять деньги, вновь заявив, что они не имеют никакого отношения к шахматной игре. Лекэн спустился с деньгами в кафе, но ставщики вновь отправили его наверх: они считали себя проигравшими и не имели права на эти деньги.</p>
<p>Тем временем устыдился и Гаррвитц. Он предложил заменить свой «отказ по нездоровью» формальной капитуляцией или даже, если Полу угодно, доиграть матч до конца.</p>
<p>Пол ответил Гаррвитцу письменно, что матч уже сдан ввиду его, Гаррвитца, отказа продолжать игру. Если же г-н Гаррвитц хочет сыграть еще один матч, Пол Морфи к его услугам, и матч может начаться хоть сегодня.</p>
<p>Этого вызова Гаррвитц предпочел не принять, он был сыт поражениями.</p>
<p>Отказ Пола принять ставку вызвал бурю. Приходили сотни писем отовсюду, везде держали тысячи пари, и поступок Пола внес полную неясность. И Пол, как всегда, нашел самое мудрое и справедливое решение. Он принял у Лекэна деньги и передал их мсье Делонэ с тем, что каждый из проигравших может при желании получить свою ставку обратно. Если же, говорилось в письменном заявлении Пола, при этом у мсье Делонэ останется на руках остаток, то эти деньги следует употребить на оплату проезда из Брес-лавля в Париж великому немецкому мастеру Адольфу Андерсену, если он пожелает сыграть с Полом Морфи дружеский матч.</p>
<p>Казалось, все окончилось к обоюдному удовольствию, но здесь опять Гаррвитц выкинул один из своих фокусов: он напечатал в ряде бульварных газет заявление, в котором утверждал, что никогда не проигрывал матча мистеру Морфи, что матч был прерван незаконченным и что мистер Морфи любезно согласился считать матч аннулированным ввиду его, Гаррвитца, плохого самочувствия.</p>
<p>Поднялся такой шум, что Гаррвитцу пришлось на некоторое время исчезнуть с парижского шахматного горизонта.</p>
<p>Все парижские газеты — от серьезного «Монитора» до юмористического «Шаривари» — писали о Поле Морфи со дня его появления в Париже беспрерывно. Он стал излюбленным персонажем, переходящим из номера в номер.</p>
<p>На одной карикатуре Британия получала «шахи» от Индии и просила мистера Пола Морфи помочь ей в игре.</p>
<p>На другой некий человек отказывался войти с женой в кафе «Де ля Режанс» на том основании, что заседающий там американец отберет, чего доброго, его королеву.</p>
<p>Во всех иллюстрированных газетах печатались десятки портретов Пола, но среди них не было и двух на него похожих.</p>
<p>Осенью 1858 года Пол Морфи, «маленький американец», был одной из главных достопримечательностей Парижа. Все знали и все любили его.</p>
<p>Сент-Аман писал, что Пол сумел удовлетворить потребность, давно уже терзавшую Париж,— потребность в герое.</p>
<p>Скульптор Лекэн попросил Пола позировать ему для бюста, и Пол покорно высиживал в мастерской долгие часы, пока светлый металлический бюст не был готов.</p>
<p>Бюст был выставлен на Елисейских Полях, весь Париж бегал смотреть его и восхищаться как великолепным талантом скульптора, так и благородным лицом оригинала.</p>
<p>Вести о Поле проникли в великосветские салоны, посыпались приглашения из недоступных особняков в предместьях Сент-Онорэ и Сен-Жермэн, у Пола появились друзья и поклонники в самых высших сферах.</p>
<p>Пол и вездесущий Эдж были частыми посетителями герцогской ложи в Итальянской опере.</p>
<p>Однажды давали «Норму» Беллини. В антракте Пола заставили играть против совещавшихся герцога Брауншвейгского и графа</p>
<p>Изуара. Пол сидел спиной к сцене. Партия складывалась интересно, и партнеры совсем забыли, что начинается второй акт.</p>
<p>Пол, выросший в музыкальной семье, чувствовал себя отвратительно. Он любил музыку, ценил и уважал труд актеров, но герцог и граф не отпускали его буквально насильно.</p>
<p>Примадонна мадам Панко, певшая партию друидской жрицы, бросала на герцога презрительные взгляды. Хористы, изображавшие друидов, пели про «кровь и огонь» с особой выразительностью, часто поглядывая на злополучную ложу.</p>
<p>Наконец Пол разозлился и заматовал герцога и графа, создав при этом одну из вечных, неумирающих партий.</p>
<p>Пожалуй, самые приятные часы в Париже Пол провел в доме одной баронессы, славившейся как покровительница искусств.</p>
<p>Баронесса была по крови креолка, она железной хваткой вцепилась в маленького Пола, водила его под руку по своему особняку и представляла всем и каждому:</p>
<p>— Вот, смотрите! Наконец-то я нашла в Париже настоящего креола! Чистокровного креола, такого же ленивого и беспечного, как я сама!</p>
<p>Баронесса любила шахматы. Когда она играла с Полом, возле нее усаживались Лекэн и Сент-Аман и не позволяли ей делать грубых ошибок. Естественно, почти все партии заканчивались вничью. При этом все четверо комментировали партии так, что зрители помирали со смеху.</p>
<p>В этом доме часто бывал достопочтенный мистер Мэзон, посол Соединенных Штатов в Париже. Он очень гордился Полом и осыпал его знаками внимания.</p>
<p>— А вы сами играете в шахматы, мистер Мэзон? — наивно спросил его как-то Пол.</p>
<p>— Мой молодой друг! — ответил мистер Мэзон.— Как могу я не играть в шахматы? Это было бы оскорблением памяти Бенджамина Франклина, в доме которого я живу! *(* Бенджамин Франклин, американский ученый, писатель, дипломат и шахматист, был первым послом Соединенных Штатов в Париже после того, как Штаты стали государством и вели войну за независимость в конце XVIII столетия.)</p>
<p>Отель Мэрис вскоре надоел Полу, они переехали в отель Бре-тейль, на углу улиц Дофэн и Риволи. Это было в двух шагах от лучших кварталов города и от кафе «Де ля Режанс».</p>
<p>Эти комнаты занимал прежде Сент-Аман. У окна стояло старинное бюро редкой работы. За него каждое утро усаживался Эдж и чертыхался, не зная, куда ему девать свои длинные ноги.</p>
<p>Пол Морфи был очень ленив на писанье. Казалось, это не он в юности исписал огромное количество тетрадей лекциями и конспектами, не он выработал мелкожемчужную скоропись, удивлявшую каллиграфов.</p>
<p>Теперь заставить его писать было почти невозможно. Даже письма родным писал за него Эдж, добросовестно перечисляя успехи, города и даты. Пол так привык доверять Эджу, что даже не перечитывал им написанного. Он знал, что все будет изложено аккуратно и добросовестно, брал перо и приписывал снизу: «Целую всех. Пол». И письмо отправлялось в длинный путь.</p>
<p>Вскоре после того, как состоялся переезд в отель Бретейль, к Полу как-то утром пришел человек средних лет, с медлительными движениями и тусклыми серо-голубыми глазами.</p>
<p>Бдительный Эдж спросил его сухо:</p>
<p>— Что вам угодно от мистера Морфи, мсье?</p>
<p>— Мне ничего не угодно, я просто хотел поглядеть на мистера Морфи. Дело в том, видите ли, что я прямой и единственный внук Франсуа Филидора...</p>
<p>Пол выбежал из соседней комнаты, откуда он слушал разговор.</p>
<p>— Как? Вы внук великого Филидора, мсье? Как же вас зовут?</p>
<p>— Тоже Франсуа-Андрэ-Даникан... В нашем роду это фамильное имя.</p>
<p>— И вы тоже играете в шахматы?</p>
<p>— Нет, мсье Морфи, я торгую сукнами.</p>
<p>— Но почему же?..</p>
<p>— Нося имя и фамилию великого Филидора, мсье Морфи, играть посредственно — это кощунство! Я пробовал играть, у меня нет шахматных способностей, увы... Добрый вечер, мсье Морфи!</p>
<p>И странный посетитель ушел, даже не попрощавшись с Эджем: Очевидно, он увидел все, что хотел увидеть.</p>
<p>В конце октября пришло письмо из Бреславля от Адольфа Андерсена. Андерсен писал, что кафедра математики Бреславльской государственной гимназии не имеет никакой возможности предоставить ему отпуск посреди учебного года.</p>
<p>Единственное, что он постарается сделать,— это приехать в Париж на рождественские каникулы, приехать специально ради того, чтобы повидаться со знаменитым молодым американцем.</p>
<p>— Очень жаль! — разочарованно сказал Пол.— К рождеству я уже буду на пути домой... Досадно, что не пришлось сыграть с Адольфом Андерсеном, я высоко ценю его удивительную игру!</p>
<p>— Вы не уедете, мистер Морфи, а будете играть с Андерсеном на рождество! — вдруг грубо сказал Эдж.</p>
<p>— Не вы ли помешаете мне уехать? — насмешливо спросил его Пол.</p>
<p>— Нет, не я. Вы сами себе этого не позволите. Без победы над Андерсеном список ваших европейских побед будет неполон. Андерсен играет сейчас значительно сильнее Стаунтона, и вы отлично это знаете. Европа не позволит вам уехать!</p>
<p>— Значит, придется мне переупрямить Европу!</p>
<p>— Браво! — сказал Эдж.— Желаю вам успеха!</p>
<p>И Эдж тут же засел за работу, которую держал в секрете. Никому не сказав ни слова, он направил письма во все ведущие клубы Англии и континента. Он просил клубы вмешаться и не дать исчезнуть такой редчайшей возможности, как возможность матча Мор-фи — Андерсен.</p>
<p>«Встреча Пола Морфи с Адольфом Андерсеном должна сказочно обогатить шахматную сокровищницу!»— писал Эдж.</p>
<p>И клубы поддержали его. Через неделю ответные письма посыпались дождем. Писали Амстердам и Лейпциг, Брюссель и Рим, Бреславль и Берлин, Стокгольм и Санкт-Петербург.</p>
<p>Из лондонского Сент-Джордж-клуба прибыла петиция, подписанная множеством лиц.</p>
<p>Все в один голос просили Пола Морфи остаться на зиму в Европе. Сам Андерсен прислал длинное письмо — и Пол не устоял перед просьбой немецкого чемпиона.</p>
<p>В запасе у Эджа оставался еще один «медицинский козырь»: лечивший Пола врач полагал, что состояние его здоровья не таково, чтобы пересекать Атлантику зимой. Врач написал соответствующую справку, и Эдж аккуратно отправил ее в Новый Орлеан.</p>
<p>Дело было сделано. Пол остался в Европе.</p>
<p>Встретив на улице Гаррвитца, Эдж сказал ему как только мог ласково:</p>
<p>— Мистер Гаррвитц, вы, конечно, будете счастливы: мистер Морфи решил провести в Париже еще несколько месяцев.</p>
<p>Гаррвитц ответил довольно грубо:</p>
<p>— Значит, мистер Морфи — не человек слова!</p>
<p>В бульварных газетах, где Гаррвитц был своим человеком, вскоре появилась такая заметка:</p>
<p>«Знаменитый мистер Морфи уступил настояниям своего друга маэстро Д. Гаррвитца и окончательно согласился остаться в Париже до весны».</p>
<p>Прочитав эту заметку, Пол хохотал как безумный.</p>
<p>Еще раньше, в октябре 1858 года, Пол вынужден был вернуться к неприятным мыслям о Говарде Стаунтоне и предстоящим столкновениям с ним. Ему хотелось бы пойти по линии наименьшего сопротивления и дать Стаунтону возможность ускользнуть от игры, раз он столь страстно ищет такую возможность. Но это было невозможно — слишком многое знаменовал собой для Пола матч со Стаунтоном, слишком многое было в него вложено, с ним неразрывно связано...</p>
<p>Бросить мысль о матче с рыжим англичанином было равносильно тому, чтобы признать себя побежденным, равносильно тому, чтобы уехать из Европы, не сделав в ней самого главного.</p>
<p>Правда, Стаунтон обещал публично, при свидетелях, что он будет играть матч в ноябре. Но откуда же проскальзывали тогда в лондонской печати эти неожиданные «опровержения», «сомнения» и «возражения»?</p>
<p>Почему партии Пола печатались в «Иллюстрэйтед Лондон ньюс» в искаженном виде, с односторонними и недобросовестными примечаниями? Все это настораживало, и Пол решил действовать.</p>
<p>К тому же неугомонный Эдж зудел над ним, как комар, призывая «писать, писать и писать».</p>
<p>Сидя как-то вечером в кафе «Де ля Режанс», Пол удалился в меньшую комнату и потребовал бумагу, перо и чернила.</p>
<p>Эдж немедленно прилип к нему, они просидели вдвоем довольно долго.</p>
<p>Наутро за подписью мистера Пола Морфи, эсквайра, было отправлено два важных письма.</p>
<p>В первом, адресованном лично Стаунтону, давалась отповедь подписанным и неподписанным газетным сплетням. Копии этого письма были разосланы также в редакции газет «Иллюстрэйтед Лондон ньюс», «Белль'с лайф ин Лондон», «Эра», «Филд» и «Сандей таймс».</p>
<p>Второе письмо адресовалось Т. Гэмптону, эсквайру, секретарю Сент-Джордского шахматного клуба.</p>

<p>«Сэр!</p>
<p>Разрешите почтительно известить Вас, что новоорлеанский шахматный клуб внес 500 (пятьсот) фунтов стерлингов в банкирскую контору гг. Гейвуд и К° в Лондоне.</p>
<p>Эта сумма является моей долей ставки в предстоящем моем матче с м-ром Г. Стаунтоном.</p>
<p>Я сочту большой честью, если Сент-Джордж-клуб окажет мне любезность и назначит для меня двоих секундантов на этом соревновании из числа своих членов. Избранным клубом джентльменам я вверяю право вести предварительные переговоры от моего имени.</p>
<p>Разрешите просить Вас ознакомить членов клуба с этим моим посланием и удостоить меня скорого ответа.</p>
<p>Имею честь оставаться, сэр, Вашим покорным и послушным слугой</p>
<p>Пол Морфи</p>
<p>Париж, кафе «Де ля Режанс», 8 октября 1858 года»</p>
<p>Недели две ответа не было. Затем Стаунтон опубликовал в своей газете миролюбивое по форме письмо, суть которого сводилась к следующему.</p>
<p>Мистер Стаунтон давно не играл в шахматы, и его сегодняшняя форма сомнительна. Вызов м-ра Морфи был принят лишь условно, и литературные занятия м-ра Стаунтона принятию вызова отнюдь не благоприятствуют. Оторваться от работы сейчас для м-ра Стаунтона — значит, потерять тысячи и тысячи фунтов. М-р Стаунтон лишь дожидался конца матча Морфи — Гаррвитц, чтобы сообщить м-ру Морфи о том, что играть в ближайшее времени он не имеет возможности.</p>
<p>Впрочем,— говорилось в постскриптуме,— если м-ру Морфи доведется еще раз быть гостем м-ра Стаунтона, м-р Стаунтон с удовольствием сыграет с м-ром Морфи несколько легких, неофициальных партий «без каких-либо условий и церемоний».</p>
<p>Но этим мистер Стаунтон, шекспиролог, не ограничился.</p>
</div> <!-- score -->
</div> <!-- section -->

{% endblock content %}
