{% extends '../../base.htm' %}
{% load static %}
{% block title %}
<title>ТУРНИРНЫЕ И МАТЧЕВЫЕ РЕЗУЛЬТАТЫ Р. ФИШЕРА | {{book.title}} | {%for author in book.authors.all%} {%if author.first_name%} {{author.first_name}} {%endif%} {%if author.second_name%} {{author.second_name}} {%endif%} {%if forloop.counter == book.authors.all.count%} {{author.last_name}} {%else%} {{author.last_name}}, {%endif%} {%endfor%} | {{book.year}}</title>
{% endblock title %}
{% block content %}

<div class="iBook">

<div class="section">
<div class="chessBoard small floater" data-start-fen="rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w KQkq - 0 1"></div>
<div class="score">
 <span class="line0" onclick='loadMove("rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w KQkq - 0 1", this, ""); '>[...]</span> 
<h1>ТУРНИРНЫЕ И МАТЧЕВЫЕ РЕЗУЛЬТАТЫ Р. ФИШЕРА</h1>
<table border="1">
<tr><td>Первенство Бруклинского шахматного клуба</td><td>1955</td><td>3—5</td></tr>
<tr><td>Первенство США среди любителей, Нью-Джерси</td><td>1955</td><td>Меньше 50%</td></tr>
<tr><td>Юношеское первенство США, Небраска</td><td>1955</td><td>10—20</td></tr>
<tr><td>Первенство Нью-Йорка</td><td>1956</td><td>5—7</td></tr>
<tr><td>Манхэттенский шахматный клуб, турнир «А»</td><td>1956</td><td>1</td></tr>
<tr><td>Первенство США среди любителей, Нью-Джерси</td><td>1956</td><td>21</td></tr>
<tr><td>Юношеское первенство США, Филадельфия</td><td>1956</td><td>1</td></tr>
<tr><td>Открытое первенство США, Оклахома</td><td>1956</td><td>4—8</td></tr>
<tr><td>Открытое первенство Канады, Монреаль</td><td>1956</td><td>8—12</td></tr>
<tr><td>Первенство Восточных Штатов, Вашингтон</td><td>1956</td><td>2</td></tr>
<tr><td>Турнир на приз Розенвальда, Нью-Йорк</td><td>1956/57</td><td>8</td></tr>
<tr><td>Открытое первенство Лог-Кэбин, Нью-Джерси</td><td>1957</td><td>6</td></tr>
<tr><td>Открытое первенство Западных Штатов, Милуоки</td><td>1957</td><td>7</td></tr>
<tr><td>Юношеское первенство США, Сан-Франциско</td><td>1957</td><td>1</td></tr>
<tr><td>Открытое первенство США, Кливленд</td><td>1957</td><td>1</td></tr>
<tr><td>Матч с Кардосо из 8 партий, Нью-Йорк</td><td>1957</td><td>6 : 2</td></tr>
<tr><td>Открытое первенство Нью-Джерси</td><td>1957</td><td>1</td></tr>
<tr><td>Первенство Среднего Севера, Милуоки</td><td>1957</td><td>6</td></tr>
<tr><td>Первенство США, Нью-Йорк</td><td>1957/58</td><td>1</td></tr>
<tr><td>Межзональный турнир, Порторож</td><td>1958</td><td>5—6</td></tr>
<tr><td>Матч с Матуловичем, Белград</td><td>1958</td><td>2,5 : 1,5</td></tr>
<tr><td>Первенство США, Нью-Йорк</td><td>1958/59</td><td>1</td></tr>
<tr><td>Мар-дель-Плата, Аргентина</td><td>1959</td><td>3—4</td></tr>
<tr><td>Сантьяго, Чили</td><td>1959</td><td>4—7</td></tr>
<tr><td>Цюрих, Швейцария</td><td>1959</td><td>3—4</td></tr>
<tr><td>Турнир претендентов, Югославия</td><td>1959</td><td>5—6</td></tr>
<tr><td>Первенство США, Нью-Йорк</td><td>1959/60</td><td>1</td></tr>
<tr><td>Мар-дель-Плата, Аргентина</td><td>1960</td><td>1—2</td></tr>
<tr><td>Рейкьявик, Исландия</td><td>1960</td><td>1</td></tr>
<tr><td>Буэнос-Айрес</td><td>1960</td><td>13</td></tr>
<tr><td>Олимпиада в Лейпциге</td><td>1960</td><td>Лучший результат на 1-й доске в финале</td></tr>
<tr><td>Первенство США, Нью-Йорк</td><td>1960/61</td><td>1</td></tr>
<tr><td>Матч из 16 партий с Решевским Нью-Йорк и Лос-Анджелес</td><td>1961</td><td>5&frac12; : 5&frac12; (матч не закончен)</td></tr>
<tr><td>Блед, Югославия</td><td>1961</td><td>2</td></tr>
<tr><td>Межзональный турнир, Стокгольм</td><td>1962</td><td>1</td></tr>
<tr><td>Турнир претендентов, Кюрасао</td><td>1962</td><td>4</td></tr>
<!--/table-->
<!--p>268</p-->
<!--table border="1"-->
<tr><td>Олимпиада в Варне</td><td>1962</td><td>Лучший результат на 1-й доске в предварительной группе</td></tr>
<tr><td>Первенство США, Нью-Йорк</td><td>1962/63</td><td>1</td></tr>
<tr><td>Открытое первенство Западных Штатов, Мичиган</td><td>1963</td><td>1</td></tr>
<tr><td>Открытое первенство Нью-Йорка</td><td>1963</td><td>1</td></tr>
<tr><td>Первенство США, Нью-Йорк</td><td>1963/64</td><td>1</td></tr>
<tr><td>Турнир памяти Капабланки, Гавана</td><td>1965</td><td>2—4</td></tr>
<tr><td>Первенство США, Нью-Йорк</td><td>1965/66</td><td>1</td></tr>
<tr><td>Турнир на Кубок Пятигорского, Лос-Анджелес</td><td>1966</td><td>2</td></tr>
<tr><td>Олимпиада в Гаване</td><td>1966</td><td>2-й результат на 1-й доске</td></tr>
<tr><td>Первенство США, Нью-Йорк</td><td>1966/67</td><td>1</td></tr>
<tr><td>Турнир в Монако</td><td>1967</td><td>1</td></tr>
<tr><td>Скопле, Югославия</td><td>1967</td><td>1</td></tr>
<tr><td>Межзональный турнир, Сус</td><td>1967</td><td>Выбыл, будучи лидером</td></tr>
<tr><td>Израиль</td><td>1968</td><td>1</td></tr>
<tr><td>Югославия</td><td>1968</td><td>1</td></tr>
<tr><td>«Матч века», Югославия (2-я доска — с Петросяном)</td><td>1970</td><td>3 : 1</td></tr>
<tr><td>Загреб, Югославия</td><td>1970</td><td>1</td></tr>
<tr><td>Буэнос-Айрес</td><td>1970</td><td>1</td></tr>
<tr><td>Олимпиада в Зигене</td><td>1970</td><td>2-й результат на 1-й доске</td></tr>
<tr><td>Межзональный турнир, Пальма-де-Мальорка</td><td>1970</td><td>1</td></tr>
<tr><td>Матчи претендентов: с Таймановым</td><td>1971</td><td>6 : 0</td></tr>
<tr><td>» » с Ларсеном</td><td>1971</td><td>6 : 0</td></tr>
<tr><td>» » с Петросяном</td><td>1971</td><td>6&frac12; : 2&frac12;</td></tr>
</table>
</div> <!-- score -->
</div> <!-- section -->

</div> <!-- iBook -->
{% endblock content %}

