{% extends '../../base.htm' %}
{% load static %}
{% block title %}
<title>Примеры активной силы короля | {{book.title}} | {%for author in book.authors.all%} {%if author.first_name%} {{author.first_name}} {%endif%} {%if author.second_name%} {{author.second_name}} {%endif%} {%if forloop.counter == book.authors.all.count%} {{author.last_name}} {%else%} {{author.last_name}}, {%endif%} {%endfor%} | {{book.year}}</title>
{% endblock title %}
{% block content %}

<div class="iBook">

<h3>Примеры активной силы короля</h3>

<div class="section">
<div class="chessBoard small floater" data-start-fen="3b3r/3P1kp1/3p2p1/1B1P1p2/5P2/6P1/7P/4R1K1 w - - 0 36"></div>
<div class="score">
 <span class="line0" onclick='loadMove("3b3r/3P1kp1/3p2p1/1B1P1p2/5P2/6P1/7P/4R1K1 w - - 0 36", this, ""); '>[...]</span> 
<h6>Морфи.</h6>
<!--[FEN "3b3r/3P1kp1/3p2p1/1B1P1p2/5P2/6P1/7P/4R1K1 w - - 0 36"]-->
<div class="chessBoard analysis nobuttons" data-start-fen="3b3r/3P1kp1/3p2p1/1B1P1p2/5P2/6P1/7P/4R1K1 w - - 0 36"></div>
<!--p><img width=468 height=477 src="Эм. Ласкер - Здравый смысл в шахматной игре.files/image026.gif"></p-->
<p class="longNotation">
 <span onclick='loadMove("3bR2r/3P1kp1/3p2p1/1B1P1p2/5P2/6P1/7P/6K1 b - - 0 36", this, "e1e8"); ' class="line0">36.Лe1-e8</span> 
 <span onclick='loadMove("3bRr2/3P1kp1/3p2p1/1B1P1p2/5P2/6P1/7P/6K1 w - - 0 37", this, "h8f8"); ' class="line0">Лh8-f8</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("3bRr2/3P1kp1/3p2p1/1B1P1p2/5P2/6P1/5K1P/8 b - - 0 37", this, "g1f2"); ' class="line0">37.Крg1-f2</span> 
 <span class="ellipsis0">...</span> 
</p>
<p>Король решает партию, вступая в бой</p>
<p class="longNotation">
 <span class="ellipsis0">37. ...</span> 
 <span onclick='loadMove("3bRr2/3P1kp1/3p4/1B1P1pp1/5P2/6P1/5K1P/8 w - - 0 38", this, "g6g5"); ' class="line0">g6-g5</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("3bRr2/3P1kp1/3p4/1B1P1pp1/5P2/4K1P1/7P/8 b - - 0 38", this, "f2e3"); ' class="line0">38.Крf2-e3</span> 
 <span onclick='loadMove("3bRr2/3P1kp1/3p4/1B1P1p2/5Pp1/4K1P1/7P/8 w - - 0 39", this, "g5g4"); ' class="line0">g5-g4</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("3bRr2/3P1kp1/3p4/1B1P1p2/5Pp1/3K2P1/7P/8 b - - 0 39", this, "e3d3"); ' class="line0">39.Крe3-d3</span> 
 <span onclick='loadMove("3bRr2/3P1k2/3p4/1B1P1pp1/5Pp1/3K2P1/7P/8 w - g6 0 40", this, "g7g5"); ' class="line0">g7-g5</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("3bRr2/3P1k2/2Bp4/3P1pp1/5Pp1/3K2P1/7P/8 b - - 0 40", this, "b5c6"); ' class="line0">40.Сb5-c6</span> 
 <span onclick='loadMove("3bRr2/3P1k2/2Bp4/3P1p2/5pp1/3K2P1/7P/8 w - - 0 41", this, "g5f4"); ' class="line0">g5:f4</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("3bRr2/3P1k2/2Bp4/3P1p2/5Pp1/3K4/7P/8 b - - 0 41", this, "g3f4"); ' class="line0">41.g3:f4</span> 
 <span onclick='loadMove("3bR1r1/3P1k2/2Bp4/3P1p2/5Pp1/3K4/7P/8 w - - 0 42", this, "f8g8"); ' class="line0">Лf8-g8</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("3bR1r1/3P1k2/2Bp4/3P1p2/2K2Pp1/8/7P/8 b - - 0 42", this, "d3c4"); ' class="line0">42.Крd3-c4</span> 
 <span onclick='loadMove("3bRr2/3P1k2/2Bp4/3P1p2/2K2Pp1/8/7P/8 w - - 0 43", this, "g8f8"); ' class="line0">Лg8-f8</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("3bRr2/3P1k2/2Bp4/1K1P1p2/5Pp1/8/7P/8 b - - 0 43", this, "c4b5"); ' class="line0">43.Крc4-b5</span> 
 <span onclick='loadMove("3bR1r1/3P1k2/2Bp4/1K1P1p2/5Pp1/8/7P/8 w - - 0 44", this, "f8g8"); ' class="line0">Лf8-g8</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("3bR1r1/3P1k2/K1Bp4/3P1p2/5Pp1/8/7P/8 b - - 0 44", this, "b5a6"); ' class="line0">44.Крb5-a6</span> 
 <span onclick='loadMove("3bRr2/3P1k2/K1Bp4/3P1p2/5Pp1/8/7P/8 w - - 0 45", this, "g8f8"); ' class="line0">Лg8-f8</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("3bRr2/1K1P1k2/2Bp4/3P1p2/5Pp1/8/7P/8 b - - 0 45", this, "a6b7"); ' class="line0">45.Крa6-b7</span> 
 <span onclick='loadMove("3bR1r1/1K1P1k2/2Bp4/3P1p2/5Pp1/8/7P/8 w - - 0 46", this, "f8g8"); ' class="line0">Лf8-g8</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("2KbR1r1/3P1k2/2Bp4/3P1p2/5Pp1/8/7P/8 b - - 0 46", this, "b7c8"); ' class="line0">46.Крb7-c8</span> 
 <span onclick='loadMove("2K1R1r1/3P1k2/1bBp4/3P1p2/5Pp1/8/7P/8 w - - 0 47", this, "d8b6"); ' class="line0">Сd8-b6</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("2K3R1/3P1k2/1bBp4/3P1p2/5Pp1/8/7P/8 b - - 0 47", this, "e8g8"); ' class="line0">47.Лe8:g8</span> 
 <span onclick='loadMove("2K3k1/3P4/1bBp4/3P1p2/5Pp1/8/7P/8 w - - 0 48", this, "f7g8"); ' class="line0">Крf7:g8</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("2KQ2k1/8/1bBp4/3P1p2/5Pp1/8/7P/8 b - - 0 48", this, "d7d8"); ' class="line0">48.d7-d8Ф+</span> 
 <span onclick='loadMove("2Kb2k1/8/2Bp4/3P1p2/5Pp1/8/7P/8 w - - 0 49", this, "b6d8"); ' class="line0">Сb6:d8</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("3K2k1/8/2Bp4/3P1p2/5Pp1/8/7P/8 b - - 0 49", this, "c8d8"); ' class="line0">49.Крc8:d8</span> 
Сдались</p>
</div> <!-- score -->
</div> <!-- section -->

<div class="section">
<div class="chessBoard small floater" data-start-fen="4k3/1p2b2p/r2pp1p1/1p6/r2BP3/1KPR1P2/1P4PP/7R w - - 0 1"></div>
<div class="score">
 <span class="line0" onclick='loadMove("4k3/1p2b2p/r2pp1p1/1p6/r2BP3/1KPR1P2/1P4PP/7R w - - 0 1", this, ""); '>[...]</span> 
<h6>Ласкер — Стейниц.</h6>
<!--[FEN "4k3/1p2b2p/r2pp1p1/1p6/r2BP3/1KPR1P2/1P4PP/7R w - - 0 1"]-->
<div class="chessBoard analysis nobuttons" data-start-fen="4k3/1p2b2p/r2pp1p1/1p6/r2BP3/1KPR1P2/1P4PP/7R w - - 0 1"></div>
<!--p><img width=468 height=477 src="Эм. Ласкер - Здравый смысл в шахматной игре.files/image027.gif"></p-->
<p>В одной из моих матчевых партий с г. Стейницем встретилась вышеприведенная позиция; ход белых.</p>
<p class="longNotation">
 <span onclick='loadMove("4k3/1p2b2p/r2pp1p1/1p6/r2BP3/1KPR1P2/1P4PP/3R4 b - - 0 1", this, "h1d1"); ' class="line0">1.Лh1-d1</span> 
 <span onclick='loadMove("4k3/1p2b2p/r2p2p1/1p2p3/r2BP3/1KPR1P2/1P4PP/3R4 w - - 0 2", this, "e6e5"); ' class="line0">e6-e5</span> 
</p>
<p>Если сразу
 <span onclick='loadMove("8/1p1kb2p/r2pp1p1/1p6/r2BP3/1KPR1P2/1P4PP/3R4 w - - 0 2", this, "e8d7"); ' class="line1">1...Крd7</span> 
, то
 <span onclick='loadMove("8/1p1kb2p/r2pp1p1/1p6/r2BPP2/1KPR4/1P4PP/3R4 b - - 0 2", this, "f3f4"); ' class="line1">2.f4</span> 
даст белым хорошую партию.</p>
<p class="longNotation">
 <span onclick='loadMove("4k3/1p2b2p/r2p2p1/1p2p3/r3P3/1KPRBP2/1P4PP/3R4 b - - 0 2", this, "d4e3"); ' class="line0">2.Сd4-e3</span> 
 <span onclick='loadMove("8/1p1kb2p/r2p2p1/1p2p3/r3P3/1KPRBP2/1P4PP/3R4 w - - 0 3", this, "e8d7"); ' class="line0">Крe8-d7</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("8/1p1kb2p/r2p2p1/1pB1p3/r3P3/1KPR1P2/1P4PP/3R4 b - - 0 3", this, "e3c5"); ' class="line0">3.Сe3-c5</span> 
 <span onclick='loadMove("8/1p1kb2p/r2p2p1/1pB1p3/4P3/1KPR1P2/1P4PP/r2R4 w - - 0 4", this, "a4a1"); ' class="line0">Лa4-a1</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("8/1p1kb2p/r2p2p1/1pB1p3/4P3/1KPR1P2/1P1R2PP/r7 b - - 0 4", this, "d1d2"); ' class="line0">4.Лd1-d2</span> 
 <span onclick='loadMove("8/1p2b2p/r2pk1p1/1pB1p3/4P3/1KPR1P2/1P1R2PP/r7 w - - 0 5", this, "d7e6"); ' class="line0">Крd7-e6</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("8/1p2b2p/r2pk1p1/1p2p3/4P3/BKPR1P2/1P1R2PP/r7 b - - 0 5", this, "c5a3"); ' class="line0">5.Сc5-a3</span> 
 <span onclick='loadMove("8/1p2b2p/r2pk3/1p2p1p1/4P3/BKPR1P2/1P1R2PP/r7 w - - 0 6", this, "g6g5"); ' class="line0">g6-g5</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("8/1p2b2p/r2pk3/1p1Rp1p1/4P3/BKP2P2/1P1R2PP/r7 b - - 0 6", this, "d3d5"); ' class="line0">6.Лd3-d5</span> 
 <span onclick='loadMove("8/1p2b2p/1r1pk3/1p1Rp1p1/4P3/BKP2P2/1P1R2PP/r7 w - - 0 7", this, "a6b6"); ' class="line0">Лa6-b6</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("8/1p2b2p/1r1pk3/1p1Rp1p1/1K2P3/B1P2P2/1P1R2PP/r7 b - - 0 7", this, "b3b4"); ' class="line0">7.Крb3-b4</span> 
 <span class="ellipsis0">...</span> 
</p>
<p>Теперь король активно вступает в борьбу.</p>
<p class="longNotation">
 <span class="ellipsis0">7. ...</span> 
 <span onclick='loadMove("8/1p2b2p/1r1pk3/1p1Rp3/1K2P1p1/B1P2P2/1P1R2PP/r7 w - - 0 8", this, "g5g4"); ' class="line0">g5-g4</span> 
</p>
<p>Начало тонкой контр-атаки, которой едва не удалось перевернуть картину.</p>
<p class="longNotation">
 <span onclick='loadMove("8/1p2b2p/1r1pk3/Kp1Rp3/4P1p1/B1P2P2/1P1R2PP/r7 b - - 0 8", this, "b4a5"); ' class="line0">8.Крb4-a5</span> 
 <span onclick='loadMove("8/1p2b2p/r2pk3/Kp1Rp3/4P1p1/B1P2P2/1P1R2PP/r7 w - - 0 9", this, "b6a6"); ' class="line0">Лb6-a6+</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("8/1p2b2p/r2pk3/1K1Rp3/4P1p1/B1P2P2/1P1R2PP/r7 b - - 0 9", this, "a5b5"); ' class="line0">9.Крa5:b5</span> 
 <span onclick='loadMove("8/1p2b3/r2pk3/1K1Rp2p/4P1p1/B1P2P2/1P1R2PP/r7 w - h6 0 10", this, "h7h5"); ' class="line0">h7-h5</span> 
</p>
<p>Или
 <span onclick='loadMove("8/1p2b2p/r2pk3/1K1Rp3/4P1p1/B1P2P2/1P1R2PP/7r w - - 0 10", this, "a1h1"); ' class="line1">9...Лh1</span> 
 <span onclick='loadMove("8/1p2b2p/r2pk3/1K1Rp3/4P1p1/B1P2PP1/1P1R3P/7r b - - 0 10", this, "g2g3"); ' class="line1">10.g3</span> 
 <span onclick='loadMove("8/1p2b2p/r2pk3/1K1Rp3/4P1p1/B1P2PP1/1P1R3P/4r3 w - - 0 11", this, "h1e1"); ' class="line1">Лe1</span> 
 <span onclick='loadMove("8/1p2b2p/r2pk3/1K1Rp3/4P1p1/B1P2PPP/1P1R4/4r3 b - - 0 11", this, "h2h3"); ' class="line1">11.h3</span> 
 <span onclick='loadMove("8/1p2b2p/r2pk3/1K1Rp3/4r1p1/B1P2PPP/1P1R4/8 w - - 0 12", this, "e1e4"); ' class="line1">Л:e4</span> 
 <span onclick='loadMove("8/1p2b2p/r2pk3/1K1Rp3/2P1r1p1/B4PPP/1P1R4/8 b - - 0 12", this, "c3c4"); ' class="line1">12.c4</span> 
.</p>
<p class="longNotation">
 <span onclick='loadMove("8/1p2b3/r2pk3/1K1Rp2p/4P1p1/B1P2P2/1P4PP/r2R4 b - - 0 10", this, "d2d1"); ' class="line0">10.Лd2-d1</span> 
 <span onclick='loadMove("8/1p2b3/r2pk3/1K1Rp2p/4P1p1/B1P2P2/1P4PP/3r4 w - - 0 11", this, "a1d1"); ' class="line0">Лa1:d1</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("8/1p2b3/r2pk3/1K2p2p/4P1p1/B1P2P2/1P4PP/3R4 b - - 0 11", this, "d5d1"); ' class="line0">11.Лd5:d1</span> 
 <span onclick='loadMove("8/1p2b3/r2pk3/1K2p2p/4P3/B1P2p2/1P4PP/3R4 w - - 0 12", this, "g4f3"); ' class="line0">g4:f3</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("8/1p2b3/r2pk3/1K2p2p/4P3/B1P2P2/1P5P/3R4 b - - 0 12", this, "g2f3"); ' class="line0">12.g2:f3</span> 
 <span onclick='loadMove("r7/1p2b3/3pk3/1K2p2p/4P3/B1P2P2/1P5P/3R4 w - - 0 13", this, "a6a8"); ' class="line0">Лa6-a8</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("r7/1p2b3/1K1pk3/4p2p/4P3/B1P2P2/1P5P/3R4 b - - 0 13", this, "b5b6"); ' class="line0">13.Крb5-b6</span> 
 <span onclick='loadMove("6r1/1p2b3/1K1pk3/4p2p/4P3/B1P2P2/1P5P/3R4 w - - 0 14", this, "a8g8"); ' class="line0">Лa8-g8</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("6r1/1K2b3/3pk3/4p2p/4P3/B1P2P2/1P5P/3R4 b - - 0 14", this, "b6b7"); ' class="line0">14.Крb6:b7</span> 
 <span onclick='loadMove("8/1K2b3/3pk3/4p2p/4P3/B1P2P2/1P4rP/3R4 w - - 0 15", this, "g8g2"); ' class="line0">Лg8-g2</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("8/1K2b3/3pk3/4p2p/4P2P/B1P2P2/1P4r1/3R4 b - h3 0 15", this, "h2h4"); ' class="line0">15.h2-h4</span> 
 <span onclick='loadMove("8/1K2b3/3pk3/4p2p/4P2P/B1P2P2/1P5r/3R4 w - - 0 16", this, "g2h2"); ' class="line0">Лg2-h2</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("8/4b3/2Kpk3/4p2p/4P2P/B1P2P2/1P5r/3R4 b - - 0 16", this, "b7c6"); ' class="line0">16.Крb7-c6</span> 
 <span class="ellipsis0">...</span> 
</p>
<p>Этот маневр делает игру черных безнадежной.</p>
<p class="longNotation">
 <span class="ellipsis0">16. ...</span> 
 <span onclick='loadMove("8/8/2Kpk3/4p2p/4P2b/B1P2P2/1P5r/3R4 w - - 0 17", this, "e7h4"); ' class="line0">Сe7:h4</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("8/8/2KRk3/4p2p/4P2b/B1P2P2/1P5r/8 b - - 0 17", this, "d1d6"); ' class="line0">17.Лd1:d6+</span> 
 <span onclick='loadMove("8/5k2/2KR4/4p2p/4P2b/B1P2P2/1P5r/8 w - - 0 18", this, "e6f7"); ' class="line0">Крe6-f7</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("8/5k2/3R4/3Kp2p/4P2b/B1P2P2/1P5r/8 b - - 0 18", this, "c6d5"); ' class="line0">18.Крc6-d5</span> 
 <span onclick='loadMove("8/5k2/3R1b2/3Kp2p/4P3/B1P2P2/1P5r/8 w - - 0 19", this, "h4f6"); ' class="line0">Сh4-f6</span> 
</p>
<p>Если
 <span onclick='loadMove("8/5k2/3R4/3Kp2p/4P2b/B1P2P2/1P1r4/8 w - - 0 19", this, "h2d2"); ' class="line1">18...Лd2+</span> 
, то
 <span onclick='loadMove("8/5k2/3R4/4K2p/4P2b/B1P2P2/1P1r4/8 b - - 0 19", this, "d5e5"); ' class="line1">19.Кр:e5</span> 
 <span onclick='loadMove("8/5k2/3R4/4K2p/4P3/B1P2Pb1/1P1r4/8 w - - 0 20", this, "h4g3"); ' class="line1">Сg3+</span> 
 <span onclick='loadMove("8/5k2/3R4/4K2p/4PP2/B1P3b1/1P1r4/8 b - - 0 20", this, "f3f4"); ' class="line1">20.f4</span> 
 <span onclick='loadMove("8/5k2/3r4/4K2p/4PP2/B1P3b1/1P6/8 w - - 0 21", this, "d2d6"); ' class="line1">Л:d6</span> 
 <span onclick='loadMove("8/5k2/3B4/4K2p/4PP2/2P3b1/1P6/8 b - - 0 21", this, "a3d6"); ' class="line1">21.С:d6</span> 
 <span onclick='loadMove("8/5k2/3B4/4K3/4PP1p/2P3b1/1P6/8 w - - 0 22", this, "h5h4"); ' class="line1">h4</span> 
 <span onclick='loadMove("8/5k2/8/2B1K3/4PP1p/2P3b1/1P6/8 b - - 0 22", this, "d6c5"); ' class="line1">22.Сc5</span> 
 <span onclick='loadMove("8/5k2/8/2B1K3/4PP2/2P3bp/1P6/8 w - - 0 23", this, "h4h3"); ' class="line1">h3</span> 
 <span onclick='loadMove("8/5k2/8/4K3/4PP2/2P3bp/1P6/6B1 b - - 0 23", this, "c5g1"); ' class="line1">23.Сg1</span> 
и четыре проходных белых пешки выигрывают легко против слона.</p>
<p class="longNotation">
 <span onclick='loadMove("8/3R1k2/5b2/3Kp2p/4P3/B1P2P2/1P5r/8 b - - 0 19", this, "d6d7"); ' class="line0">19.Лd6-d7+</span> 
 <span onclick='loadMove("8/3R4/5bk1/3Kp2p/4P3/B1P2P2/1P5r/8 w - - 0 20", this, "f7g6"); ' class="line0">Крf7-g6</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("8/3R4/4Kbk1/4p2p/4P3/B1P2P2/1P5r/8 b - - 0 20", this, "d5e6"); ' class="line0">20.Крd5-e6</span> 
 <span class="ellipsis0">...</span> 
</p>
<p>Чтобы остановить наступление черного короля. Если теперь
 <span onclick='loadMove("8/3R4/4Kb2/4p1kp/4P3/B1P2P2/1P5r/8 w - - 0 21", this, "g6g5"); ' class="line1">20...Крg5</span> 
, то
 <span onclick='loadMove("8/5R2/4Kb2/4p1kp/4P3/B1P2P2/1P5r/8 b - - 0 21", this, "d7f7"); ' class="line1">21.Лf7</span> 
 <span onclick='loadMove("3b4/5R2/4K3/4p1kp/4P3/B1P2P2/1P5r/8 w - - 0 22", this, "f6d8"); ' class="line1">Сd8</span> 
 <span onclick='loadMove("3b1R2/8/4K3/4p1kp/4P3/B1P2P2/1P5r/8 b - - 0 22", this, "f7f8"); ' class="line1">22.Лf8</span> 
 <span onclick='loadMove("5R2/8/1b2K3/4p1kp/4P3/B1P2P2/1P5r/8 w - - 0 23", this, "d8b6"); ' class="line1">Сb6</span> 
 <span onclick='loadMove("5R2/4B3/1b2K3/4p1kp/4P3/2P2P2/1P5r/8 b - - 0 23", this, "a3e7"); ' class="line1">23.Сe7+</span> 
 <span onclick='loadMove("5R2/4B3/1b2K1k1/4p2p/4P3/2P2P2/1P5r/8 w - - 0 24", this, "g5g6"); ' class="line1">Крg6</span> 
 <span onclick='loadMove("6R1/4B3/1b2K1k1/4p2p/4P3/2P2P2/1P5r/8 b - - 0 24", this, "f8g8"); ' class="line1">24.Лg8+</span> 
 <span onclick='loadMove("6R1/4B2k/1b2K3/4p2p/4P3/2P2P2/1P5r/8 w - - 0 25", this, "g6h7"); ' class="line1">Крh7</span> 
 <span onclick='loadMove("6R1/4BK1k/1b6/4p2p/4P3/2P2P2/1P5r/8 b - - 0 25", this, "e6f7"); ' class="line1">25.Крf7</span> 
с последующим Сf6 оттеснило бы черного короля в матовую сеть.</p>
<p class="longNotation">
 <span class="ellipsis0">20. ...</span> 
 <span onclick='loadMove("8/3R4/4Kbk1/4p3/4P2p/B1P2P2/1P5r/8 w - - 0 21", this, "h5h4"); ' class="line0">h5-h4</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("8/8/4Kbk1/4p3/4P2p/B1P2P2/1P5r/3R4 b - - 0 21", this, "d7d1"); ' class="line0">21.Лd7-d1</span> 
 <span onclick='loadMove("8/8/4Kbk1/4p3/4P3/B1P2P1p/1P5r/3R4 w - - 0 22", this, "h4h3"); ' class="line0">h4-h3</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("8/8/4Kbk1/4p3/4P3/B1P2P1p/1P5r/6R1 b - - 0 22", this, "d1g1"); ' class="line0">22.Лd1-g1+</span> 
 <span onclick='loadMove("8/8/4Kbk1/4p3/4P3/B1P2P1p/1P4r1/6R1 w - - 0 23", this, "h2g2"); ' class="line0">Лh2-g2</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("8/8/4Kbk1/4p3/4P3/B1P2P1p/1P4R1/8 b - - 0 23", this, "g1g2"); ' class="line0">23.Лg1:g2+</span> 
 <span onclick='loadMove("8/8/4Kbk1/4p3/4P3/B1P2P2/1P4p1/8 w - - 0 24", this, "h3g2"); ' class="line0">h3:g2</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("8/8/4Kbk1/2B1p3/4P3/2P2P2/1P4p1/8 b - - 0 24", this, "a3c5"); ' class="line0">24.Сa3-c5</span> 
 <span class="ellipsis0">...</span> 
</p>
<p>и выигрывают через несколько ходов своими проходными пешками.</p>
</div> <!-- score -->
</div> <!-- section -->

<div class="section">
<div class="chessBoard small floater" data-start-fen="4r1k1/pbp4p/1p1p1np1/1P1P1p2/2P2P2/P3P1P1/6K1/1B2RN2 b - - 0 1"></div>
<div class="score">
 <span class="line0" onclick='loadMove("4r1k1/pbp4p/1p1p1np1/1P1P1p2/2P2P2/P3P1P1/6K1/1B2RN2 b - - 0 1", this, ""); '>[...]</span> 
<h6>Гаррвиц — Морфи.</h6>
<!--[FEN "4r1k1/pbp4p/1p1p1np1/1P1P1p2/2P2P2/P3P1P1/6K1/1B2RN2 b - - 0 1"]-->
<div class="chessBoard analysis nobuttons" data-start-fen="4r1k1/pbp4p/1p1p1np1/1P1P1p2/2P2P2/P3P1P1/6K1/1B2RN2 b - - 0 1"></div>
<!--p><img width=468 height=477 src="Эм. Ласкер - Здравый смысл в шахматной игре.files/image028.gif"></p-->
<p>Эта позиция встретилась в одной из матчевых партий Морфи (ход черных). Партия продолжалась так:</p>
<p class="longNotation">
 <span class="ellipsis0">1. ...</span> 
 <span onclick='loadMove("4r1k1/1bp4p/pp1p1np1/1P1P1p2/2P2P2/P3P1P1/6K1/1B2RN2 w - - 0 2", this, "a7a6"); ' class="line0">a7-a6</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("4r1k1/1bp4p/pp1p1np1/1P1P1p2/P1P2P2/4P1P1/6K1/1B2RN2 b - - 0 2", this, "a3a4"); ' class="line0">2.a3-a4</span> 
 <span onclick='loadMove("4r1k1/1bp4p/1p1p1np1/1p1P1p2/P1P2P2/4P1P1/6K1/1B2RN2 w - - 0 3", this, "a6b5"); ' class="line0">a6:b5</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("4r1k1/1bp4p/1p1p1np1/1P1P1p2/2P2P2/4P1P1/6K1/1B2RN2 b - - 0 3", this, "a4b5"); ' class="line0">3.a4:b5</span> 
 <span onclick='loadMove("r5k1/1bp4p/1p1p1np1/1P1P1p2/2P2P2/4P1P1/6K1/1B2RN2 w - - 0 4", this, "e8a8"); ' class="line0">Лe8-a8</span> 
</p>
<p>Теперь достигнуто первое преимущество: закрыта открытая линия для белой ладьи.</p>
<p class="longNotation">
 <span onclick='loadMove("r5k1/1bp4p/1p1p1np1/1P1P1p2/2P2P2/4P1P1/3N2K1/1B2R3 b - - 0 4", this, "f1d2"); ' class="line0">4.Кf1-d2</span> 
 <span onclick='loadMove("6k1/1bp4p/1p1p1np1/1P1P1p2/2P2P2/r3P1P1/3N2K1/1B2R3 w - - 0 5", this, "a8a3"); ' class="line0">Лa8-a3</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("6k1/1bp4p/1p1p1np1/1P1P1p2/2P1PP2/r5P1/3N2K1/1B2R3 b - - 0 5", this, "e3e4"); ' class="line0">5.e3-e4</span> 
 <span onclick='loadMove("6k1/1bp4p/1p1p1np1/1P1P4/2P1pP2/r5P1/3N2K1/1B2R3 w - - 0 6", this, "f5e4"); ' class="line0">f5:e4</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("6k1/1bp4p/1p1p1np1/1P1P4/2P1NP2/r5P1/6K1/1B2R3 b - - 0 6", this, "d2e4"); ' class="line0">6.Кd2:e4</span> 
 <span onclick='loadMove("6k1/1bp4p/1p1p2p1/1P1P4/2P1nP2/r5P1/6K1/1B2R3 w - - 0 7", this, "f6e4"); ' class="line0">Кf6:e4</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("6k1/1bp4p/1p1p2p1/1P1P4/2P1BP2/r5P1/6K1/4R3 b - - 0 7", this, "b1e4"); ' class="line0">7.Сb1:e4</span> 
 <span onclick='loadMove("6k1/1bp4p/1p1p2p1/1P1P4/2P1BP2/2r3P1/6K1/4R3 w - - 0 8", this, "a3c3"); ' class="line0">Лa3-c3</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("6k1/1bp4p/1p1p2p1/1P1P4/2P2P2/2r2BP1/6K1/4R3 b - - 0 8", this, "e4f3"); ' class="line0">8.Сe4-f3</span> 
 <span class="ellipsis0">...</span> 
</p>
<p>Угрожая теперь, разумеется,
 <!--span onclick='loadMove("6k1/1bp4p/1p1p2p1/1P1P4/2P2P2/2r2BP1/6K1/4R3 w - - 0 9", this, "e4f3"); ' class="line1">8...z0</span--> 
 <span onclick='loadMove("4R1k1/1bp4p/1p1p2p1/1P1P4/2P2P2/2r2BP1/6K1/8 b - - 0 9", this, "e1e8"); ' class="line1">9.Лe8+</span> 
и затем Лb8.</p>
<p class="longNotation">
 <span class="ellipsis0">8. ...</span> 
 <span onclick='loadMove("8/1bp2k1p/1p1p2p1/1P1P4/2P2P2/2r2BP1/6K1/4R3 w - - 0 9", this, "g8f7"); ' class="line0">Крg8-f7</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("8/1bp2k1p/1p1p2p1/1P1P4/2P1RP2/2r2BP1/6K1/8 b - - 0 9", this, "e1e4"); ' class="line0">9.Лe1-e4</span> 
 <span onclick='loadMove("2b5/2p2k1p/1p1p2p1/1P1P4/2P1RP2/2r2BP1/6K1/8 w - - 0 10", this, "b7c8"); ' class="line0">Сb7-c8</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("2b5/2p2k1p/1p1p2p1/1P1P4/2P1RP2/2r3P1/4B1K1/8 b - - 0 10", this, "f3e2"); ' class="line0">10.Сf3-e2</span> 
 <span onclick='loadMove("8/2p2k1p/1p1p2p1/1P1P1b2/2P1RP2/2r3P1/4B1K1/8 w - - 0 11", this, "c8f5"); ' class="line0">Сc8-f5</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("8/2p2k1p/1p1p2p1/1P1P1b2/2PR1P2/2r3P1/4B1K1/8 b - - 0 11", this, "e4d4"); ' class="line0">11.Лe4-d4</span> 
 <span onclick='loadMove("8/2p2k2/1p1p2p1/1P1P1b1p/2PR1P2/2r3P1/4B1K1/8 w - h6 0 12", this, "h7h5"); ' class="line0">h7-h5</span> 
</p>
<p>Вследствие этого хода становится сильным для черных важный пункт f5.</p>
<p class="longNotation">
 <span onclick='loadMove("8/2p2k2/1p1p2p1/1P1P1b1p/2PR1P2/2r3P1/4BK2/8 b - - 0 12", this, "g2f2"); ' class="line0">12.Крg2-f2</span> 
 <span onclick='loadMove("8/2p5/1p1p1kp1/1P1P1b1p/2PR1P2/2r3P1/4BK2/8 w - - 0 13", this, "f7f6"); ' class="line0">Крf7-f6</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("8/2p5/1p1p1kp1/1P1P1b1p/2P2P2/2r3P1/3RBK2/8 b - - 0 13", this, "d4d2"); ' class="line0">13.Лd4-d2</span> 
 <span onclick='loadMove("8/2p5/1p1p1kp1/1P1P3p/2P2P2/2r3P1/2bRBK2/8 w - - 0 14", this, "f5c2"); ' class="line0">Сf5-c2</span> 
</p>
<p>Слабость пункта c4 очевидна.</p>
<p class="longNotation">
 <span onclick='loadMove("8/2p5/1p1p1kp1/1P1P3p/2P2P2/2r3P1/2bRB3/4K3 b - - 0 14", this, "f2e1"); ' class="line0">14.Крf2-e1</span> 
 <span onclick='loadMove("8/2p5/1p1p1kp1/1P1P3p/2P1bP2/2r3P1/3RB3/4K3 w - - 0 15", this, "c2e4"); ' class="line0">Сc2-e4</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("8/2p5/1p1p1kp1/1P1P3p/2P1bP2/2r3P1/3RBK2/8 b - - 0 15", this, "e1f2"); ' class="line0">15.Крe1-f2</span> 
 <span onclick='loadMove("8/2p5/1p1p2p1/1P1P1k1p/2P1bP2/2r3P1/3RBK2/8 w - - 0 16", this, "f6f5"); ' class="line0">Крf6-f5</span> 
</p>
<p>Лучше, вероятно, сперва
 <span onclick='loadMove("8/2p5/1p1p1kp1/1P1P3p/2P1bP2/r5P1/3RBK2/8 w - - 0 16", this, "c3a3"); ' class="line1">15...Лc3-a3</span> 
. Черные хотят как можно дальше проникнуть своим королем, оттесняя белого короля ладьей.</p>
<p class="longNotation">
 <span onclick='loadMove("8/2p5/1p1p2p1/1P1P1k1p/2P1bP2/2r3P1/R3BK2/8 b - - 0 16", this, "d2a2"); ' class="line0">16.Лd2-a2</span> 
 <span onclick='loadMove("8/2p5/1p1p2p1/1P1P1k2/2P1bP1p/2r3P1/R3BK2/8 w - - 0 17", this, "h5h4"); ' class="line0">h5-h4</span> 
</p>
<p>Пешка g3 должна служить защитой f4 и поэтому слаба.</p>
<p class="longNotation">
 <span onclick='loadMove("8/2p5/1p1p2p1/1P1P1k2/2P1bP1P/2r5/R3BK2/8 b - - 0 17", this, "g3h4"); ' class="line0">17.g3:h4</span> 
 <span class="ellipsis0">...</span> 
</p>
<p>Белые неправильно оценили положение. Пункт f4 нельзя ни в коем случае сдать черным. При ходе
 <span onclick='loadMove("8/R1p5/1p1p2p1/1P1P1k2/2P1bP1p/2r3P1/4BK2/8 b - - 0 17", this, "a2a7"); ' class="line1">17.Лa7</span> 
белые получали известную контр-игру.</p>
<p class="longNotation">
 <span class="ellipsis0">17. ...</span> 
 <span onclick='loadMove("8/2p5/1p1p2p1/1P1P4/2P1bk1P/2r5/R3BK2/8 w - - 0 18", this, "f5f4"); ' class="line0">Крf5:f4</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("8/R1p5/1p1p2p1/1P1P4/2P1bk1P/2r5/4BK2/8 b - - 0 18", this, "a2a7"); ' class="line0">18.Лa2-a7</span> 
 <span onclick='loadMove("8/R1p5/1p1p2p1/1P1P4/2P1bk1P/7r/4BK2/8 w - - 0 19", this, "c3h3"); ' class="line0">Лc3-h3!</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("8/2R5/1p1p2p1/1P1P4/2P1bk1P/7r/4BK2/8 b - - 0 19", this, "a7c7"); ' class="line0">19.Лa7:c7</span> 
 <span onclick='loadMove("8/2R5/1p1p2p1/1P1P4/2P1bk1P/8/4BK1r/8 w - - 0 20", this, "h3h2"); ' class="line0">Лh3-h2+</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("8/2R5/1p1p2p1/1P1P4/2P1bk1P/8/4B2r/4K3 b - - 0 20", this, "f2e1"); ' class="line0">20.Крf2-e1</span> 
 <span onclick='loadMove("8/2R5/1p1p2p1/1P1P4/2P1b2P/4k3/4B2r/4K3 w - - 0 21", this, "f4e3"); ' class="line0">Крf4-e3</span> 
</p>
<p>Теперь белый король попадает в матовую сеть. Спасенья нет.</p>
</div> <!-- score -->
</div> <!-- section -->

<div class="section">
<div class="chessBoard small floater" data-start-fen="5b2/8/5k2/3K4/P5P1/8/8/8 w - - 0 1"></div>
<div class="score">
 <span class="line0" onclick='loadMove("5b2/8/5k2/3K4/P5P1/8/8/8 w - - 0 1", this, ""); '>[...]</span> 
<h6>Белые при своем ходе выигрывают.</h6>
<!--[FEN "5b2/8/5k2/3K4/P5P1/8/8/8 w - - 0 1"]-->
<div class="chessBoard analysis nobuttons" data-start-fen="5b2/8/5k2/3K4/P5P1/8/8/8 w - - 0 1"></div>
<!--p><img width=468 height=477 src="Эм. Ласкер - Здравый смысл в шахматной игре.files/image029.gif"></p-->
<p>Сперва используем пешку a4. Король ее задержать не может, следовательно, это должен сделать слон.</p>
<p class="longNotation">
 <span onclick='loadMove("5b2/8/5k2/P2K4/6P1/8/8/8 b - - 0 1", this, "a4a5"); ' class="line0">1.a4-a5</span> 
 <span onclick='loadMove("8/8/5k1b/P2K4/6P1/8/8/8 w - - 0 2", this, "f8h6"); ' class="line0">Сf8-h6</span> 
</p>
<p>с намерением стать на e3.</p>
<p>Если
 <span onclick='loadMove("8/8/5k1b/P7/3K2P1/8/8/8 b - - 0 2", this, "d5d4"); ' class="line1">2.Крd5-d4</span> 
, <b>то Сh6-f4-h2-g1+</b>.</p>
<p>Если
 <span onclick='loadMove("8/8/5k1b/P7/4K1P1/8/8/8 b - - 0 2", this, "d5e4"); ' class="line1">2.Крd5-e4</span> 
, то
 <span onclick='loadMove("5b2/8/5k2/P7/4K1P1/8/8/8 w - - 0 3", this, "h6f8"); ' class="line1">2...Сf8</span> 
.</p>
<p class="longNotation">
 <span onclick='loadMove("8/8/5k1b/P2K2P1/8/8/8/8 b - - 0 2", this, "g4g5"); ' class="line0">2.g4-g5+!</span> 
 <span class="ellipsis0">...</span> 
</p>
<p>Если теперь возьмет пешку король, то он закроет слону поле e3.</p>
<p class="longNotation">
 <span class="ellipsis0">2. ...</span> 
 <span onclick='loadMove("8/8/5k2/P2K2b1/8/8/8/8 w - - 0 3", this, "h6g5"); ' class="line0">Сh6:g5</span> 
</p>
<p>Теперь слону закрыто поле e7.</p>
<p class="longNotation">
 <span onclick='loadMove("8/8/5k2/P5b1/4K3/8/8/8 b - - 0 3", this, "d5e4"); ' class="line0">3.Крd5-e4</span> 
 <span onclick='loadMove("8/8/5k2/P7/4K2b/8/8/8 w - - 0 4", this, "g5h4"); ' class="line0">Сg5-h4</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("8/8/5k2/P7/7b/5K2/8/8 b - - 0 4", this, "e4f3"); ' class="line0">4.Крe4-f3</span> 
 <span class="ellipsis0">...</span> 
</p>
<p>Король владеет над полями e3 и f2 и, таким образом, парализует слона. Пешка a5 — проходит.</p>
</div> <!-- score -->
</div> <!-- section -->

<div class="section">
<div class="chessBoard small floater" data-start-fen="4k3/2p5/4PP2/8/3p4/5K2/8/8 w - - 0 1"></div>
<div class="score">
 <span class="line0" onclick='loadMove("4k3/2p5/4PP2/8/3p4/5K2/8/8 w - - 0 1", this, ""); '>[...]</span> 
<h6>Белые начинают и выигрывают.</h6>
<!--[FEN "4k3/2p5/4PP2/8/3p4/5K2/8/8 w - - 0 1"]-->
<div class="chessBoard analysis nobuttons" data-start-fen="4k3/2p5/4PP2/8/3p4/5K2/8/8 w - - 0 1"></div>
<!--p><img width=468 height=477 src="Эм. Ласкер - Здравый смысл в шахматной игре.files/image030.gif"></p-->
<p>Здесь белые выигрывают благодаря превосходству позиции своего короля и благодаря тому, что их пешки далее продвинуты, чем пешки черных. Играет роль и цугцванг.</p>
<p class="longNotation">
 <span onclick='loadMove("4k3/2p5/4PP2/8/3p1K2/8/8/8 b - - 0 1", this, "f3f4"); ' class="line0">1.Крf3-f4!</span> 
 <span class="ellipsis0">...</span> 
</p>
<p>Необходимо осторожно выждать с выигрывающим маневром. Поэтому мы не должны сразу направляться на e4.</p>
<p class="longNotation">
 <span class="ellipsis0">1. ...</span> 
 <span onclick='loadMove("5k2/2p5/4PP2/8/3p1K2/8/8/8 w - - 0 2", this, "e8f8"); ' class="line0">Крe8-f8</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("5k2/2p5/4PP2/8/3pK3/8/8/8 b - - 0 2", this, "f4e4"); ' class="line0">2.Крf4-e4</span> 
 <span onclick='loadMove("5k2/8/4PP2/2p5/3pK3/8/8/8 w - c6 0 3", this, "c7c5"); ' class="line0">c7-c5</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("5k2/8/4PP2/2p5/3p4/3K4/8/8 b - - 0 3", this, "e4d3"); ' class="line0">3.Крe4-d3</span> 
 <span onclick='loadMove("4k3/8/4PP2/2p5/3p4/3K4/8/8 w - - 0 4", this, "f8e8"); ' class="line0">Крf8-e8</span> 
</p>
<p>Важно, что теперь ход белых в тот момент, когда черный король стоит на e8, а не на f8; вот почему белые на первом ходе не сыграли Крe4.</p>
<p class="longNotation">
 <span onclick='loadMove("4k3/4P3/5P2/2p5/3p4/3K4/8/8 b - - 0 4", this, "e6e7"); ' class="line0">4.e6-e7</span> 
 <span onclick='loadMove("8/3kP3/5P2/2p5/3p4/3K4/8/8 w - - 0 5", this, "e8d7"); ' class="line0">Крe8-d7</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("8/3kP3/5P2/2p5/2Kp4/8/8/8 b - - 0 5", this, "d3c4"); ' class="line0">5.Крd3-c4</span> 
 <span onclick='loadMove("4k3/4P3/5P2/2p5/2Kp4/8/8/8 w - - 0 6", this, "d7e8"); ' class="line0">Крd7-e8</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("4k3/4P3/5P2/2K5/3p4/8/8/8 b - - 0 6", this, "c4c5"); ' class="line0">6.Крc4:c5</span> 
 <span onclick='loadMove("4k3/4P3/5P2/2K5/8/3p4/8/8 w - - 0 7", this, "d4d3"); ' class="line0">d4-d3</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("4k3/4P3/3K1P2/8/8/3p4/8/8 b - - 0 7", this, "c5d6"); ' class="line0">7.Крc5-d6</span> 
 <span onclick='loadMove("4k3/4P3/3K1P2/8/8/8/3p4/8 w - - 0 8", this, "d3d2"); ' class="line0">d3-d2</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("4k3/4P3/4KP2/8/8/8/3p4/8 b - - 0 8", this, "d6e6"); ' class="line0">8.Крd6-e6</span> 
 <span onclick='loadMove("4k3/4P3/4KP2/8/8/8/8/3q4 w - - 0 9", this, "d2d1"); ' class="line0">d2-d1Ф</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("4k3/4PP2/4K3/8/8/8/8/3q4 b - - 0 9", this, "f6f7"); ' class="line0">9.f6-f7X</span> 
</p>
</div> <!-- score -->
</div> <!-- section -->

<div class="section">
<div class="chessBoard small floater" data-start-fen="2K1k3/1P6/8/8/8/8/7b/B7 w - - 0 1"></div>
<div class="score">
 <span class="line0" onclick='loadMove("2K1k3/1P6/8/8/8/8/7b/B7 w - - 0 1", this, ""); '>[...]</span> 
<h6>Белые начинают и выигрывают.</h6>
<!--[FEN "2K1k3/1P6/8/8/8/8/7b/B7 w - - 0 1"]-->
<div class="chessBoard analysis nobuttons" data-start-fen="2K1k3/1P6/8/8/8/8/7b/B7 w - - 0 1"></div>
<!--p><img width=468 height=477 src="Эм. Ласкер - Здравый смысл в шахматной игре.files/image031.gif"></p-->
<p>Белые проникли своим королем на c8 и держат черного короля в отдалении от пешки. Теперь нужно еще оттеснить слона.</p>
<p class="longNotation">
 <span onclick='loadMove("2K1k3/1P6/8/8/3B4/8/7b/8 b - - 0 1", this, "a1d4"); ' class="line0">1.Сa1-d4</span> 
 <span onclick='loadMove("2K1k3/1P6/8/8/3B4/6b1/8/8 w - - 0 2", this, "h2g3"); ' class="line0">Сh2-g3</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("2K1k3/BP6/8/8/8/6b1/8/8 b - - 0 2", this, "d4a7"); ' class="line0">2.Сd4-a7</span> 
 <span onclick='loadMove("2K1k3/BP6/8/8/5b2/8/8/8 w - - 0 3", this, "g3f4"); ' class="line0">Сg3-f4</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("1BK1k3/1P6/8/8/5b2/8/8/8 b - - 0 3", this, "a7b8"); ' class="line0">3.Сa7-b8</span> 
 <span onclick='loadMove("1BK1k3/1P6/8/8/8/4b3/8/8 w - - 0 4", this, "f4e3"); ' class="line0">Сf4-e3</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("2K1k3/1PB5/8/8/8/4b3/8/8 b - - 0 4", this, "b8c7"); ' class="line0">4.Сb8-c7</span> 
 <span onclick='loadMove("2K1k3/bPB5/8/8/8/8/8/8 w - - 0 5", this, "e3a7"); ' class="line0">Сe3-a7</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("2K1k3/bP6/1B6/8/8/8/8/8 b - - 0 5", this, "c7b6"); ' class="line0">5.Сc7-b6</span> 
 <span class="ellipsis0">...</span> 
</p>
<p>и выигрывают.</p>
</div> <!-- score -->
</div> <!-- section -->

</div> <!-- iBook -->
{% endblock content %}

