{% extends '../../base.htm' %}
{% load static %}
{% block title %}
<title>Перечень партий | {{book.title}} | {%for author in book.authors.all%} {%if author.first_name%} {{author.first_name}} {%endif%} {%if author.second_name%} {{author.second_name}} {%endif%} {%if forloop.counter == book.authors.all.count%} {{author.last_name}} {%else%} {{author.last_name}}, {%endif%} {%endfor%} | {{book.year}}</title>
{% endblock title %}
{% block content %}

<div class="iBook">

<div class="section">
<div class="chessBoard small floater" data-start-fen="rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w KQkq - 0 1"></div>
<div class="score">
 <span class="line0" onclick='loadMove("rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w KQkq - 0 1", this, ""); '>[...]</span> 
<h2>ПЕРЕЧЕНЬ ПАРТИЙ</h2>
<ul>
<li><a href="1-1-1-prodolzhenie-9_d5.htm#game1">№1. Смыслов - Гуфельд, Москва 1961</a><!--12--></li>
<li><a href="1-1-1-prodolzhenie-9_d5.htm#game2">№2. Иванчук - А.Федоров, Поляница-Здруй 2000</a><!--13--></li>
<li><a href="1-1-2-1-12_e5.htm#game3">№3. Псахис - Васюков, Вильнюс 1980/81</a><!--25--></li>
<li><a href="1-1-2-1-12_e5.htm#game4">№4. Велимирович - Гуфельд, Винковцы 1982</a><!--35--></li>
<li><a href="1-1-2-1-12_e5.htm#game5">№5. Олль - Гуфельд, Тбилиси 1983</a><!--36--></li>
<li><a href="1-1-2-2-12_Nxc3.htm#game6">№6. Каспаров - Топалов, Амстердам 1995</a><!--41--></li>
<li><a href="1-1-2-3-12_Bxd4.htm#game7">№7. Широв - А.Федоров, Батуми 1999</a><!--51--></li>
<li><a href="1-1-2-3-12_Bxd4.htm#game8">№8. Морозевич - Кир.Георгиев, Сараево 2000</a><!--52--></li>
<li><a href="1-1-3-prodolzhenie-10-Qe1.htm#game9">№9. Се Цзюнь - Гуфельд, Куала Лумпур 1994</a><!--58--></li>
<li><a href="1-1-3-prodolzhenie-10-Qe1.htm#game10">№10. Свидлер - Раджабов, Гран-При, Сочи 2008</a><!--59--></li>
<li><a href="1-1-3-prodolzhenie-10-Qe1.htm#game11">№11. Адамс - Топалов, Вейк-ан-Зее 1996</a><!--64--></li>
<li><a href="1-1-4-prodolzhenie-10-Kb1.htm#game12">№12. Адамс - Иванчук, Дортмунд 1998</a><!--70--></li>
<li><a href="1-1-4-prodolzhenie-10-Kb1.htm#game13">№13. Нисипеану - Карлсен, Базна 2010</a><!--76--></li>
<li><a href="1-2-01-prodolzhenie-12-h4.htm#game14">№14. Белявский - Гуфельд, Новосибирск 1976</a><!--117--></li>
<li><a href="1-2-02-prodolzhenie-12-h4-h5.htm#game15">№15. Раджабов - Касымжанов, Гран-при, Элиста 2008</a><!--151--></li>
<li><a href="1-2-02-prodolzhenie-12-h4-h5.htm#game16">№16. Ананд - Каспаров, Нью-Йорк (m/11) 1995</a><!--153--></li>
<li><a href="1-2-03-prodolzhenie-13-Bg5.htm#game17">№17. Ананд - Каспаров, Нью-Йорк (m/17) 1995</a><!--161--></li>
<li><a href="1-2-03-prodolzhenie-13-Bg5.htm#game18">№18. Раджабов - Карлсен, Гран-При, Баку 2008</a><!--163--></li>
<li><a href="1-2-04-prodolzhenie-12-Kb1.htm#game19">№19. Домингес - Карлсен, Биль 2008</a><!--184--></li>
<li><a href="1-2-04-prodolzhenie-12-Kb1.htm#game20">№20. Ананд - Карлсен, Майнц 2008</a><!--187--></li>
<li><a href="1-2-04-prodolzhenie-12-Kb1.htm#game21">№21. Топалов - Карлсен, Бильбао 2008</a><!--188--></li>
<li><a href="1-2-07-kitajskij-drakon.htm#game22">№22. Карлсен - Раджабов, Бильбао 2008</a><!--228--></li>
<li><a href="1-2-07-kitajskij-drakon.htm#game23">№23. Домингес - Карлсен, Линарес 2009</a><!--232--></li>
<li><a href="1-2-08-prodolzheniia-10_Qb8-i-10_Qc7.htm#game24">№24. Леко - А.Федоров, Батуми 1999</a><!--245--></li>
<li><a href="1-2-11-prodolzheniia-s-zaderzhkoj-rokirovki.htm#game25">№25. Ананд - Каспаров, Нью-Йорк (m/13) 1995</a><!--269--></li>
<ul>
</div> <!-- score -->
</div> <!-- section -->

</div> <!-- iBook -->
{% endblock content %}
