{% extends '../../base.htm' %}
{% load static %}
{% block title %}
<title>Классические варианты | {{book.title}} | {%for author in book.authors.all%} {%if author.first_name%} {{author.first_name}} {%endif%} {%if author.second_name%} {{author.second_name}} {%endif%} {%if forloop.counter == book.authors.all.count%} {{author.last_name}} {%else%} {{author.last_name}}, {%endif%} {%endfor%} | {{book.year}}</title>
{% endblock title %}
{% block content %}

<div class="iBook">

<div class="section">
<div class="small floater">
 <img src="{% static 'images/'|add:book.slug|add:'/thumb-2015.jpg' %}" />
</div>
<div class="score">
<h1>НЕСГИБАЕМЫЙ ДРАКОН</h1>
<h2>Классические варианты</h2>
<h3>Олег Стецко</h3>

<div class="diagram">
<p>Издатель «Андрей Ельков»</p>
<p>Москва 2015</p>
</div>

<hr />

<div class="diagram">
<p>УДК 794.1</p>
<p>ББК 75.581</p>
<p>Б79</p>
</div>

<div class="diagram">
<p><b>Олег Стецко</b></p>
<p>Б79 <b>НЕСГИБАЕМЫЙ ДРАКОН</b>. Классические системы. Москва, 2015, 200 с.</p>
<p><b>ISBN 978-5-906254-24-5</b></p>
<p>УДК 794.1</p>
<p>ББК 75.581</p>
</div>

<div class="notification message">
<p>«Вариант Дракона» в сицилианской защите стабильно входит в репертуар шахматистов активного стиля игры. Его полуторавековая практика показывает, что приверженцы развития слона на g7 не сдают своих рубежей. Находится «Дракон» и в поле зрения современной элиты - чемпиона мира Магнуса Карлсена, Теймура Раджабова и др.</p>
<p>«Вариант Дракона» - из числа самых сложных дебютов, применяемых в современной турнирной практике. Автор рассматривает классические и другие системы («атаке Раузера» посвящен отдельный том - 2014 года того же автора), которые применяли, или с ними боролись, чемпионы мира - Эм.Ласкер, Алехин, Ботвинник и др. Эти системы актуальны и сегодня. Без их знания игроки, применяющие «Дракон», не обладали бы полной информацией об этом дебюте в целом.</p>
<p>Рассмотрены главные направления, включая разработки 21-го века.</p>
<p>Книга рассчитана на шахматистов «клубного» уровня и выше.</p>
</div>

<div class="diagram">
<p>Олег Стецко</p>
<p><b>НЕСГИБАЕМЫЙ ДРАКОН</b>. Классические системы.</p>
</div>

<div class="diagram">
<p>Оформление, верстка Андрей Ельков</p>
<p>Формат 60x90 1/16.</p>
<p>Печать офсетная. Бумага офсетная.</p>
<p>Тел./факс: (495) 963-80-17</p>
<p>e-mail: elkov_andrey@mail.ru, murad@chess-m.com</p>
<p>http://www.elkov.ru,</p>
<p>http://www.chessm.ru - Интернет-магазин</p>
<p>Заказ № 266</p>
<p>Отпечатано с готового оригинал-макета в ОАО «ИПП «Правда Севера».</p>
<p>163002, г. Архангельск, пр. Новгородский, 32.</p>
<p>Тел./факс (8182) 64-14-54, тел.: (8182) 65-37-65,65-38-78</p>
<p>www.ippps.ru, e-mail: zakaz@ippps.ru</p>
</div>

<div class="message warning">
<b>ISBN 978-5-906254-24-5</b>
<div style="float:right;">© Стецко О., 2015<br />© Издатель Ельков А., 2015</div>
<div class="clear"></div>
</div>

<h2>СОДЕРЖАНИЕ</h2>
<ul>
<li><a class="line0" href="{% url 'page-view' book.root_dir|add:'/2-0-1-predislovie.htm' %}">Предисловие</a><!--5--></li>
<li><a class="line0" href="{% url 'page-view' book.root_dir|add:'/2-1-1-variant-6-Be2-Bg7-7-Be3.htm' %}">Глава 1. Вариант 6.Сe2 Сg7 7.Сe3. Продолжения 9.Фd2 и 9.f4</a><!--7--></li>
<li><a class="line0" href="{% url 'page-view' book.root_dir|add:'/2-1-2-variant-6-Be2-Bg7-7-Be3.htm' %}">Глава 2. Вариант 6.Сe2 Сg7 7.Сe3. Продолжение 9.Кb3</a><!--26--></li>
<li><a class="line0" href="{% url 'page-view' book.root_dir|add:'/2-1-3-variant-6-Be2-Bg7-7-Be3.htm' %}">Глава 3. Вариант 6.Сe2 Сg7 7.Сe3. Продолжения 8.Кb3 и 8.Фd2</a><!--50--></li>
<li><a class="line0" href="{% url 'page-view' book.root_dir|add:'/2-1-4-variant-6-Be2-Bg7-7-Nb3.htm' %}">Глава 4. Вариант 6.Сe2 Сg7 7.Кb3. Продолжение 9.Сg5</a><!--63--></li>
<li><a class="line0" href="{% url 'page-view' book.root_dir|add:'/2-1-5-variant-6-Be2-Bg7-7-Nb3.htm' %}">Глава 5. Вариант 6.Сe2 Сg7 7.Кb3. Продолжения 9.Крh1 и 9.Лe1</a><!--92--></li>
<li><a class="line0" href="{% url 'page-view' book.root_dir|add:'/2-1-6-variant-6-Bc4.htm' %}">Глава 6. Вариант 6.Сc4</a><!--115--></li>
<li><a class="line0" href="{% url 'page-view' book.root_dir|add:'/2-1-7-variant-6-Bg5.htm' %}">Глава 7. Вариант 6.Сg5</a><!--147--></li>
<li><a class="line0" href="{% url 'page-view' book.root_dir|add:'/2-1-8-ataka-levenfisha-6-f4.htm' %}">Глава 8. Атака Левенфиша 6.f4</a><!--153--></li>
<li><a class="line0" href="{% url 'page-view' book.root_dir|add:'/2-1-9-fianketto-slona-6-g3.htm' %}">Глава 9. Фианкетто слона 6.g3</a><!--169--></li>
<li><a class="line0" href="{% url 'page-view' book.root_dir|add:'/2-2-0-perechen-partij.htm' %}">Перечень партий</a><!--195--></li>
<li><a class="line0" href="{% url 'page-view' book.root_dir|add:'/2-2-1-varianty.htm' %}">Индексы вариантов</a><!--196--></li>
</ul>

</div> <!-- score -->
</div> <!-- section -->

</div> <!-- iBook -->
{% endblock content %}
