{% extends '../../base.htm' %}
{% load static %}
{% block title %}
<title>Конь сильнее... коня | {{book.title}} | {%for author in book.authors.all%} {%if author.first_name%} {{author.first_name}} {%endif%} {%if author.second_name%} {{author.second_name}} {%endif%} {%if forloop.counter == book.authors.all.count%} {{author.last_name}} {%else%} {{author.last_name}}, {%endif%} {%endfor%} | {{book.year}}</title>
{% endblock title %}
{% block content %}

<div class="iBook">

<div class="section">
<h3>Конь сильнее... коня</h3>
<div class="score">
<p>Что такое сила шахматной фигуры? Постоянная или меняющаяся это величина?</p>
<p>Ответить на эти вопросы нетрудно. Ведь потому и красива шахматная борьба, что сила фигур и пешек часто изменяется. Сила фигур зависит от того, какую позицию они занимают и
какую роль выполняют в осуществлении общего плана. Часто бывает и так, что одна скромная пешка становится более сильной, чем многие фигуры и пешки противника.</p>
<p>Но для того, чтобы так получилось, ты должен вдохнуть жизнь в свои фигуры и пешки, заставить их как следует поработать, проявить свою мощь в полной мере.</p>
<p>Если рассуждать теоретически, то сила фигуры — это ее способность держать под своим контролем определенный участок доски. Ферзь, скажем, потому сильнее слона, что ходит по любым диагоналям и по горизонталям.</p>
<img style="width:100%;" src="{% static 'images/'|add:book.slug|add:'/008.jpg' %}"/>
<p>Но в практической борьбе бывает и так. Один из играющих так «законопатит» своего ферзя где-либо в углу, что у бедняги не
 <!--p>-7-</p-->
окажется ни одного подходящего хода ни по диагонали, ни по горизонтали. Где уж ему тогда сравниться даже со слоном!</p>
<p>Поставь на центральное поле e4 коня. Посчитай, сколько полей он контролирует. Видишь, какой размах — настоящий круговой обстрел. </p>
<p>А теперь поставь этого же коня на поле h1. Как ограниченны стали его возможности! Всего лишь два поля держит он под своим контролем. Конь стал слабее... коня!</p>
<p>Подобные изменения произойдут и с любой другой фигурой. На центральных полях доски фигура, как правило, становится сильнее, активнее. Вот почему, начиная сражение, ты должен бороться за овладение центром доски, командными высотами на ней.</p>
</div> <!-- score -->
</div> <!-- section -->

</div> <!-- iBook -->

{% endblock content %}

