{% extends '../../base.htm' %}
{% load static %}
{% block title %}
<title>Коньки-горбунки... | {{book.title}} | {%for author in book.authors.all%} {%if author.first_name%} {{author.first_name}} {%endif%} {%if author.second_name%} {{author.second_name}} {%endif%} {%if forloop.counter == book.authors.all.count%} {{author.last_name}} {%else%} {{author.last_name}}, {%endif%} {%endfor%} | {{book.year}}</title>
{% endblock title %}
{% block content %}

<div class="iBook">

<div class="section">
<h3>Коньки-горбунки...</h3>
<div class="chessBoard small floater" data-start-fen="8/8/8/1pp2Brb/1pqp4/1p2p1N1/1Pnkpr2/1K1nb3 w - - 0 1"></div>
<div class="score">
 <span class="line0" onclick='loadMove("8/8/8/1pp2Brb/1pqp4/1p2p1N1/1Pnkpr2/1K1nb3 w - - 0 1", this, ""); '>[...]</span> 
<p>Помнишь, как выручал конек-горбунок Иванушку? Шахматные коньки-горбунки так же старательны, находчивы, не боятся опасностей. Множество различных красивых комбинаций связано с атаками шахматных коней. Особенно опасны кони в стесненных положениях, где другим фигурам трудно проявить свою активность. Вот несколько таких позиций, где «чудо-кони» делают, казалось бы, невозможное.</p>
<p class="capTop diagram">31</p>
<div class="chessBoard analysis nobuttons" data-start-fen="8/8/8/1pp2Brb/1pqp4/1p2p1N1/1Pnkpr2/1K1nb3 w - - 0 1"></div>
<p>Трудно представить себе, что белые здесь добиваются победы, но это действительно так. Героем событий является белый конь, причем белые хорошо используют грозную силу двойного шаха. Даже при лучшей защите черные неизбежно получают мат не позднее восьмого хода. Вот как это происходит.</p>
<p>
 <span onclick='loadMove("8/8/8/1pp2Brb/1pqpN3/1p2p3/1Pnkpr2/1K1nb3 b - - 0 1", this, "g3e4"); ' class="line0">1.Кe4+</span> 
 <span onclick='loadMove("8/8/8/1pp2Brb/1pqpN3/1p1kp3/1Pn1pr2/1K1nb3 w - - 0 2", this, "d2d3"); ' class="line0">Крd3</span> 
 <span onclick='loadMove("8/8/8/1pp2Brb/1pqp4/1p1kp3/1Pn1pN2/1K1nb3 b - - 0 2", this, "e4f2"); ' class="line0">2.К:f2++</span> 
 <span onclick='loadMove("8/8/8/1pp2Brb/1pqp4/1p2p3/1PnkpN2/1K1nb3 w - - 0 3", this, "d3d2"); ' class="line0">Крd2</span> 
 <span onclick='loadMove("8/8/8/1pp2Brb/1pqpN3/1p2p3/1Pnkp3/1K1nb3 b - - 0 3", this, "f2e4"); ' class="line0">3.Кe4+</span> 
 <span onclick='loadMove("8/8/8/1pp2Brb/1pqpN3/1p1kp3/1Pn1p3/1K1nb3 w - - 0 4", this, "d2d3"); ' class="line0">Крd3</span> 
 <span onclick='loadMove("8/8/8/1pp2BNb/1pqp4/1p1kp3/1Pn1p3/1K1nb3 b - - 0 4", this, "e4g5"); ' class="line0">4.К:g5+</span> 
 <span onclick='loadMove("8/8/8/1pp2BNb/1pqp4/1p2p3/1Pnkp3/1K1nb3 w - - 0 5", this, "d3d2"); ' class="line0">Крd2</span> 
 <span onclick='loadMove("8/8/8/1pp2B1b/1pqpN3/1p2p3/1Pnkp3/1K1nb3 b - - 0 5", this, "g5e4"); ' class="line0">5.Кe4+</span> 
 <span onclick='loadMove("8/8/8/1pp2B1b/1pqpN3/1p1kp3/1Pn1p3/1K1nb3 w - - 0 6", this, "d2d3"); ' class="line0">Крd3</span> 
.</p>
<p>Сделано пять ходов, осталось еще три до контрольного срока. А теперь попробуй найти сам, как белые матуют черного короля.</p>

<div class="spoiler-wrap">
  <div class="spoiler-head folded">Решение</div>
  <div class="spoiler-body">
	<p><b>Коньки-горбунки</b>. №31.
	 <span class="line0" onclick='loadMove("8/8/8/1pp2B1b/1pqpN3/1p1kp3/1Pn1p3/1K1nb3 w - - 0 6", this, ""); '>[...]</span> 
	 <span onclick='loadMove("8/8/8/1pp2B1b/1pqpN3/1p1kp3/1Pn1p3/2Knb3 b - - 0 6", this, "b1c1"); ' class="line0">6.Крc1!</span> 
	 <span onclick='loadMove("8/8/8/1pp2B1b/1pqpN3/1p1kp3/1nn1p3/2K1b3 w - - 0 7", this, "d1b2"); ' class="line0">К:b2</span> 
	(
	 <span onclick='loadMove("8/8/8/1ppq1B1b/1p1pN3/1p1kp3/1Pn1p3/2Knb3 w - - 0 7", this, "c4d5"); ' class="line1">6...Фd5</span> 
	 <span onclick='loadMove("8/8/8/1ppq1B1b/1p1p4/1p1kp3/1Pn1pN2/2Knb3 b - - 0 7", this, "e4f2"); ' class="line1">7.Кf2+</span> 
	 <span onclick='loadMove("8/8/8/1ppq1B1b/1pkp4/1p2p3/1Pn1pN2/2Knb3 w - - 0 8", this, "d3c4"); ' class="line1">Крc4</span> 
	 <span onclick='loadMove("8/8/8/1ppq3b/1pkp4/1p1Bp3/1Pn1pN2/2Knb3 b - - 0 8", this, "f5d3"); ' class="line1">8.Сd3X</span> 
	)
	 <span onclick='loadMove("8/8/8/1pp2B1b/1pqp4/1p1kp3/1nnNp3/2K1b3 b - - 0 7", this, "e4d2"); ' class="line0">7.Кd2+</span> 
	 <span onclick='loadMove("8/8/8/1pp2B1b/1pqp4/1pk1p3/1nnNp3/2K1b3 w - - 0 8", this, "d3c3"); ' class="line0">Крc3</span> 
	 <span onclick='loadMove("8/8/8/1pp2B1b/1pqp4/1pk1p3/1nn1p3/1NK1b3 b - - 0 8", this, "d2b1"); ' class="line0">8.Кb1X</span> 
	.</p>
  </div>
</div> <!-- spoiler-wrap -->

</div> <!-- score -->
</div> <!-- section -->

<div class="section">
<div class="chessBoard small floater" data-start-fen="8/1nq5/bppp4/1p1k1K1N/1rrp3b/2pp2p1/8/n7 w - - 0 1"></div>
<div class="score">
 <span class="line0" onclick='loadMove("8/1nq5/bppp4/1p1k1K1N/1rrp3b/2pp2p1/8/n7 w - - 0 1", this, ""); '>[...]</span> 
<p>Белому коню в выполнении его боевой задачи
<!--p>— 24 —</p-->
усердно помогал слон. А теперь позиция, в которой один конь справляется с громадной армией черных фигур.</p>
<p class="capTop diagram">32</p>
<div class="chessBoard analysis nobuttons" data-start-fen="8/1nq5/bppp4/1p1k1K1N/1rrp3b/2pp2p1/8/n7 w - - 0 1"></div>
<p>Плохо распорядились черные своими силами, фигуры их лишь мешают друг другу. За это следует жестокое наказание.</p>
<p>
 <span onclick='loadMove("8/1nq5/bppp4/1p1k1K2/1rrp1N1b/2pp2p1/8/n7 b - - 0 1", this, "h5f4"); ' class="line0">1.Кf4+</span> 
 <span onclick='loadMove("8/1nq5/bppp4/1pk2K2/1rrp1N1b/2pp2p1/8/n7 w - - 0 2", this, "d5c5"); ' class="line0">Крc5</span> 
 <span onclick='loadMove("8/1nq5/bpppN3/1pk2K2/1rrp3b/2pp2p1/8/n7 b - - 0 2", this, "f4e6"); ' class="line0">2.Кe6+</span> 
 <span onclick='loadMove("8/1nq5/bpppN3/1p1k1K2/1rrp3b/2pp2p1/8/n7 w - - 0 3", this, "c5d5"); ' class="line0">Крd5</span> 
 <span onclick='loadMove("8/1nN5/bppp4/1p1k1K2/1rrp3b/2pp2p1/8/n7 b - - 0 3", this, "e6c7"); ' class="line0">3.К:c7+</span> 
 <span onclick='loadMove("8/1nN5/bppp4/1pk2K2/1rrp3b/2pp2p1/8/n7 w - - 0 4", this, "d5c5"); ' class="line0">Крc5</span> 
 <span onclick='loadMove("8/1n6/Nppp4/1pk2K2/1rrp3b/2pp2p1/8/n7 b - - 0 4", this, "c7a6"); ' class="line0">4.К:a6+</span> 
 <span onclick='loadMove("8/1n6/Nppp4/1p1k1K2/1rrp3b/2pp2p1/8/n7 w - - 0 5", this, "c5d5"); ' class="line0">Крd5</span> 
 <span onclick='loadMove("8/1nN5/1ppp4/1p1k1K2/1rrp3b/2pp2p1/8/n7 b - - 0 5", this, "a6c7"); ' class="line0">5.Кc7+</span> 
 <span onclick='loadMove("8/1nN5/1ppp4/1pk2K2/1rrp3b/2pp2p1/8/n7 w - - 0 6", this, "d5c5"); ' class="line0">Крc5</span> 
 <span onclick='loadMove("8/1n6/1pppN3/1pk2K2/1rrp3b/2pp2p1/8/n7 b - - 0 6", this, "c7e6"); ' class="line0">6.Кe6+</span> 
 <span onclick='loadMove("8/1n6/1pppN3/1p1k1K2/1rrp3b/2pp2p1/8/n7 w - - 0 7", this, "c5d5"); ' class="line0">Крd5</span> 
 <span onclick='loadMove("8/1n6/1ppp4/1p1k1K2/1rrp1N1b/2pp2p1/8/n7 b - - 0 7", this, "e6f4"); ' class="line0">7.Кf4+</span> 
 <span onclick='loadMove("8/1n6/1ppp4/1pk2K2/1rrp1N1b/2pp2p1/8/n7 w - - 0 8", this, "d5c5"); ' class="line0">Крc5</span> 
.</p>
<p>А теперь в наступление переходит и белый король.</p>
<p>
 <span onclick='loadMove("8/1n6/1ppp4/1pk5/1rrpKN1b/2pp2p1/8/n7 b - - 0 8", this, "f5e4"); ' class="line0">8.Крe4</span> 
 <span onclick='loadMove("8/1n6/1pp5/1pkp4/1rrpKN1b/2pp2p1/8/n7 w - - 0 9", this, "d6d5"); ' class="line0">d5+</span> 
 <span onclick='loadMove("8/1n6/1pp5/1pkpK3/1rrp1N1b/2pp2p1/8/n7 b - - 0 9", this, "e4e5"); ' class="line0">9.Крe5</span> 
 <span onclick='loadMove("8/1n6/1pp2b2/1pkpK3/1rrp1N2/2pp2p1/8/n7 w - - 0 10", this, "h4f6"); ' class="line0">Сf6+</span> 
 <span onclick='loadMove("8/1n6/1pp1Kb2/1pkp4/1rrp1N2/2pp2p1/8/n7 b - - 0 10", this, "e5e6"); ' class="line0">10.Крe6</span> 
 <span onclick='loadMove("3n4/8/1pp1Kb2/1pkp4/1rrp1N2/2pp2p1/8/n7 w - - 0 11", this, "b7d8"); ' class="line0">Кd8+</span> 
 <span onclick='loadMove("3n4/3K4/1pp2b2/1pkp4/1rrp1N2/2pp2p1/8/n7 b - - 0 11", this, "e6d7"); ' class="line0">11.Крd7</span> 
, и мат конем на d3 стал неизбежным.</p>
</div> <!-- score -->
</div> <!-- section -->

<div class="section">
<div class="chessBoard small floater" data-start-fen="qnbn1K2/bprk1p2/p1rppP2/pPP5/B3P3/B2N4/8/8 w - - 0 1"></div>
<div class="score">
 <span class="line0" onclick='loadMove("qnbn1K2/bprk1p2/p1rppP2/pPP5/B3P3/B2N4/8/8 w - - 0 1", this, ""); '>[...]</span> 
<p>Трагикомическая позиция приведена и на этой диаграмме.</p>
<p class="capTop diagram">33</p>
<div class="chessBoard analysis nobuttons" data-start-fen="qnbn1K2/bprk1p2/p1rppP2/pPP5/B3P3/B2N4/8/8 w - - 0 1"></div>
<p>Зажаты в угол черные фигуры. Реальная сила ферзя, например, забравшегося на поле a8, близка к нулю, и не случайно, что белые могут добиться победы. Вначале они жертвой коня окончательно патуют фигуры противника, а затем спокойно проводят в ферзи свою пешку, превращают ее в нового коня и матуют черного короля.</p>
<p>Белые дают мат в пять ходов. Каким образом?</p>

<div class="spoiler-wrap">
  <div class="spoiler-head folded">Решение</div>
  <div class="spoiler-body">
	<p>№ 33.
	 <span class="line0" onclick='loadMove("qnbn1K2/bprk1p2/p1rppP2/pPP5/B3P3/B2N4/8/8 w - - 0 1", this, ""); '>[...]</span> 
	 <span onclick='loadMove("qnbn1K2/bprk1p2/p1rppP2/pPP1N3/B3P3/B7/8/8 b - - 0 1", this, "d3e5"); ' class="line0">1.Кe5+</span> 
	 <span onclick='loadMove("qnbn1K2/bprk1p2/p1r1pP2/pPP1p3/B3P3/B7/8/8 w - - 0 2", this, "d6e5"); ' class="line0">de</span> 
	 <span onclick='loadMove("qnbn1K2/bprk1p2/pPr1pP2/p1P1p3/B3P3/B7/8/8 b - - 0 2", this, "b5b6"); ' class="line0">2.b6</span> 
	 <span onclick='loadMove("qnbn1K2/1prk1p2/pbr1pP2/p1P1p3/B3P3/B7/8/8 w - - 0 3", this, "a7b6"); ' class="line0">С:b6</span> 
	 <span onclick='loadMove("qnbn1K2/1prk1p2/pPr1pP2/p3p3/B3P3/B7/8/8 b - - 0 3", this, "c5b6"); ' class="line0">3.cb</span> 
	 <span onclick='loadMove("1nbn1K2/qprk1p2/pPr1pP2/p3p3/B3P3/B7/8/8 w - - 0 4", this, "a8a7"); ' class="line0">Фa7</span> 
	 <span onclick='loadMove("1nbn1K2/Pprk1p2/p1r1pP2/p3p3/B3P3/B7/8/8 b - - 0 4", this, "b6a7"); ' class="line0">4.ba</span> 
	 <!--span onclick='loadMove("1nbn1K2/Pprk1p2/p1r1pP2/p3p3/B3P3/B7/8/8 w - - 0 5", this, "b6a7"); ' class="line0">z0</span--> 
	и
	 <span onclick='loadMove("1Nbn1K2/1prk1p2/p1r1pP2/p3p3/B3P3/B7/8/8 b - - 0 5", this, "a7b8"); ' class="line0">5.abКX</span> 
	.</p>
  </div>
</div> <!-- spoiler-wrap -->

</div> <!-- score -->
</div> <!-- section -->

<div class="section">
<div class="chessBoard small floater" data-start-fen="8/8/2Knpn2/4kr2/3ppp2/4N3/1B6/8 w - - 0 1"></div>
<div class="score">
 <span class="line0" onclick='loadMove("8/8/2Knpn2/4kr2/3ppp2/4N3/1B6/8 w - - 0 1", this, ""); '>[...]</span> 
<p>А теперь попробуй решить несколько задач-двухходовок, в которых черных губит крайняя стесненность их позиции.</p>
<p>I. Белые: Крc6, Сb2, Кe3 (3). Черные: Крe5, Лf5, Кd6, Кf6, п. d4, e6, e4, f4(8).</p>
<div class="chessBoard analysis nobuttons" data-start-fen="8/8/2Knpn2/4kr2/3ppp2/4N3/1B6/8 w - - 0 1"></div>

<div class="spoiler-wrap">
  <div class="spoiler-head folded">Решение</div>
  <div class="spoiler-body">
	<p>I.
	 <span onclick='loadMove("8/8/2Knpn2/4kr2/3ppp2/B3N3/8/8 b - - 0 1", this, "b2a3"); ' class="line0">1.Сa3!</span> 
	</p>
  </div>
</div> <!-- spoiler-wrap -->

</div> <!-- score -->
</div> <!-- section -->

<div class="section">
<div class="chessBoard small floater" data-start-fen="5b2/4nK1p/6Pk/6pp/7p/8/1B6/8 w - - 0 1"></div>
<div class="score">
 <span class="line0" onclick='loadMove("5b2/4nK1p/6Pk/6pp/7p/8/1B6/8 w - - 0 1", this, ""); '>[...]</span> 
<p>II. Белые: Крf7, Сb2, п. g6 (3). Черные: Крh6, Сf8, Кe7, п. g5, h7, h5, h4 (7).</p>
<div class="chessBoard analysis nobuttons" data-start-fen="5b2/4nK1p/6Pk/6pp/7p/8/1B6/8 w - - 0 1"></div>

<div class="spoiler-wrap">
  <div class="spoiler-head folded">Решение</div>
  <div class="spoiler-body">
	<p>II.
	 <span onclick='loadMove("5b2/4nKPp/7k/6pp/7p/8/1B6/8 b - - 0 1", this, "g6g7"); ' class="line0">1.g7!</span> 
	</p>
  </div>
</div> <!-- spoiler-wrap -->

</div> <!-- score -->
</div> <!-- section -->

<div class="section">
<div class="chessBoard small floater" data-start-fen="3rN3/6b1/1N6/3pp3/2prk1K1/1p1bp3/1q2p3/8 w - - 0 1"></div>
<div class="score">
 <span class="line0" onclick='loadMove("3rN3/6b1/1N6/3pp3/2prk1K1/1p1bp3/1q2p3/8 w - - 0 1", this, ""); '>[...]</span> 
<p>III. Белые: Крg4, Кb6, Кe8 (3). Черные: Крe4, Фb2, Лd4, Лd8, Сd3, Сg7, п. b3, c4, d5, e5, e3, e2 (12).</p>
<div class="chessBoard analysis nobuttons" data-start-fen="3rN3/6b1/1N6/3pp3/2prk1K1/1p1bp3/1q2p3/8 w - - 0 1"></div>

<div class="spoiler-wrap">
  <div class="spoiler-head folded">Решение</div>
  <div class="spoiler-body">
	<p>III.
	 <span onclick='loadMove("3rN3/6b1/8/3pp3/N1prk1K1/1p1bp3/1q2p3/8 b - - 0 1", this, "b6a4"); ' class="line0">1.Кa4!</span> 
	</p>
  </div>
</div> <!-- spoiler-wrap -->

</div> <!-- score -->
</div> <!-- section -->

<div class="section">
<div class="chessBoard small floater" data-start-fen="8/3r4/6p1/8/2N5/4N2b/q2pp3/2brk1K1 w - - 0 1"></div>
<div class="score">
 <span class="line0" onclick='loadMove("8/3r4/6p1/8/2N5/4N2b/q2pp3/2brk1K1 w - - 0 1", this, ""); '>[...]</span> 
<p>IV. Белые: Крg1, Кc4, Кe3 (3). Черные: Крe1, Фa2, Лd1, Лd7, Сc1, Сh3, п. d2, e2, g6 (9).</p>
<div class="chessBoard analysis nobuttons" data-start-fen="8/3r4/6p1/8/2N5/4N2b/q2pp3/2brk1K1 w - - 0 1"></div>

<div class="spoiler-wrap">
  <div class="spoiler-head folded">Решение</div>
  <div class="spoiler-body">
	<p>IV.
	 <span onclick='loadMove("8/3r4/6p1/4N3/8/4N2b/q2pp3/2brk1K1 b - - 0 1", this, "c4e5"); ' class="line0">1.Кe5!</span> 
	</p>
  </div>
</div> <!-- spoiler-wrap -->

</div> <!-- score -->
</div> <!-- section -->

<div class="section">
<div class="chessBoard small floater" data-start-fen="2b5/K7/8/k7/rp1NN3/p3n3/8/1r4b1 w - - 0 1"></div>
<div class="score">
 <span class="line0" onclick='loadMove("2b5/K7/8/k7/rp1NN3/p3n3/8/1r4b1 w - - 0 1", this, ""); '>[...]</span> 
<p>V. Белые: Крa7, Кd4, Кe4, (3). Черные: Крa5, Лa4, Лb1, Сc8, Сg1, Кe3, п. a3, b4 (8).</p>
<div class="chessBoard analysis nobuttons" data-start-fen="2b5/K7/8/k7/rp1NN3/p3n3/8/1r4b1 w - - 0 1"></div>

<div class="spoiler-wrap">
  <div class="spoiler-head folded">Решение</div>
  <div class="spoiler-body">
	<p>V.
	 <span onclick='loadMove("2b5/K7/3N4/k7/rp1N4/p3n3/8/1r4b1 b - - 0 1", this, "e4d6"); ' class="line0">1.Кd6</span> 
	</p>
  </div>
</div> <!-- spoiler-wrap -->

</div> <!-- score -->
</div> <!-- section -->

<div class="section">
<div class="chessBoard small floater" data-start-fen="3K4/2rP1Pr1/3pkp2/3pbp2/3q1n2/8/8/8 w - - 0 1"></div>
<div class="score">
 <span class="line0" onclick='loadMove("3K4/2rP1Pr1/3pkp2/3pbp2/3q1n2/8/8/8 w - - 0 1", this, ""); '>[...]</span> 
<p>VI. Белые: Крd8, п. d7, f7 (3). Черные: Крe6, Фd4, Лc7, Лg7, Сe5, Кf4, п. d6, d5, f6, f5 (10).</p>
<div class="chessBoard analysis nobuttons" data-start-fen="3K4/2rP1Pr1/3pkp2/3pbp2/3q1n2/8/8/8 w - - 0 1"></div>

<div class="spoiler-wrap">
  <div class="spoiler-head folded">Решение</div>
  <div class="spoiler-body">
	<p>VI.
	 <span onclick='loadMove("4K3/2rP1Pr1/3pkp2/3pbp2/3q1n2/8/8/8 b - - 0 1", this, "d8e8"); ' class="line0">1.Крe8!</span> 
	</p>
  </div>
</div> <!-- spoiler-wrap -->

</div> <!-- score -->
</div> <!-- section -->

<div class="section">
<div class="score">
 <img style="width:100%;" src="{% static 'images/'|add:book.slug|add:'/039.jpg' %}"/>
</div> <!-- score -->
</div> <!-- section -->

<div class="section">
<div class="chessBoard small floater" data-start-fen="4K3/bn6/b1Ppkp2/pp1prp2/3pn3/5r2/4N3/8 w - - 0 1"></div>
<div class="score">
 <span class="line0" onclick='loadMove("4K3/bn6/b1Ppkp2/pp1prp2/3pn3/5r2/4N3/8 w - - 0 1", this, ""); '>[...]</span> 
<p>VII. Белые: Крe8, Кe2, п. c6 (3). Черные: Крe6, Лe5, Лf3, Сa6, Сa7, Кb7, Кe4, п. a5, b5, d4, d5, d6, f5, f6 (14).</p>
<!--p>— 25 —</p-->
<div class="chessBoard analysis nobuttons" data-start-fen="4K3/bn6/b1Ppkp2/pp1prp2/3pn3/5r2/4N3/8 w - - 0 1"></div>

<div class="spoiler-wrap">
  <div class="spoiler-head folded">Решение</div>
  <div class="spoiler-body">
	<p>VII.
	 <span onclick='loadMove("4K3/bnP5/b2pkp2/pp1prp2/3pn3/5r2/4N3/8 b - - 0 1", this, "c6c7"); ' class="line0">1.c7!</span> 
	</p>
  </div>
</div> <!-- spoiler-wrap -->

</div> <!-- score -->
</div> <!-- section -->

<div class="section">
<div class="chessBoard small floater" data-start-fen="3K1n2/nP1pp2p/2pkpP2/2prp2b/3bp3/8/1r6/8 w - - 0 1"></div>
<div class="score">
 <span class="line0" onclick='loadMove("3K1n2/nP1pp2p/2pkpP2/2prp2b/3bp3/8/1r6/8 w - - 0 1", this, ""); '>[...]</span> 
<p>VIII. Белые: Крd8, п. b7, f6 (3). Черные: Крd6, Лd5, Лb2, Сd4, Сh5, Кa7, Кf8, п. c6, c5, d7, e7, e6, e5, e4, h7 (15).</p>
<div class="chessBoard analysis nobuttons" data-start-fen="3K1n2/nP1pp2p/2pkpP2/2prp2b/3bp3/8/1r6/8 w - - 0 1"></div>

<div class="spoiler-wrap">
  <div class="spoiler-head folded">Решение</div>
  <div class="spoiler-body">
	<p>VIII.
	 <span onclick='loadMove("3K1n2/nP1pP2p/2pkp3/2prp2b/3bp3/8/1r6/8 b - - 0 1", this, "f6e7"); ' class="line0">1.fe!</span> 
	</p>
  </div>
</div> <!-- spoiler-wrap -->

</div> <!-- score -->
</div> <!-- section -->

<div class="section">
<div class="chessBoard small floater" data-start-fen="R7/1p6/1N6/1p6/1p6/1p4p1/1p1p2p1/1kbB2Kb w - - 0 1"></div>
<div class="score">
 <span class="line0" onclick='loadMove("R7/1p6/1N6/1p6/1p6/1p4p1/1p1p2p1/1kbB2Kb w - - 0 1", this, ""); '>[...]</span> 
<p class="capTop diagram">34</p>
<div class="chessBoard analysis nobuttons" data-start-fen="R7/1p6/1N6/1p6/1p6/1p4p1/1p1p2p1/1kbB2Kb w - - 0 1"></div>
<p>Частокол черных пешек стоит на пути белых фигур. Только ловкий конь чувствует себя здесь отлично. Белые дают мат в двенадцать ходов черному королю. Вот как начинается решение:
 <span onclick='loadMove("R1N5/1p6/8/1p6/1p6/1p4p1/1p1p2p1/1kbB2Kb b - - 0 1", this, "b6c8"); ' class="line0">1.Кc8</span> 
 <span onclick='loadMove("R1N5/8/1p6/1p6/1p6/1p4p1/1p1p2p1/1kbB2Kb w - - 0 2", this, "b7b6"); ' class="line0">b6</span> 
 <span onclick='loadMove("R7/N7/1p6/1p6/1p6/1p4p1/1p1p2p1/1kbB2Kb b - - 0 2", this, "c8a7"); ' class="line0">2.Кa7</span> 
 <span onclick='loadMove("R7/N7/1p6/1p6/1p6/1p4p1/kp1p2p1/2bB2Kb w - - 0 3", this, "b1a2"); ' class="line0">Крa2</span> 
 <span onclick='loadMove("R7/8/1p6/1N6/1p6/1p4p1/kp1p2p1/2bB2Kb b - - 0 3", this, "a7b5"); ' class="line0">3.К:b5+</span> 
 <span onclick='loadMove("R7/8/1p6/1N6/1p6/1p4p1/1p1p2p1/1kbB2Kb w - - 0 4", this, "a2b1"); ' class="line0">Крb1</span> 
.</p>
<p>А дальше попробуй сам разобраться в хитрой механике, которую придумали белые.</p>

<div class="spoiler-wrap">
  <div class="spoiler-head folded">Решение</div>
  <div class="spoiler-body">
	<p><b>Хитрая механика</b>.
	 <span class="line0" onclick='loadMove("R7/8/1p6/1N6/1p6/1p4p1/1p1p2p1/1kbB2Kb w - - 0 4", this, ""); '>[...]</span> 
	 <span onclick='loadMove("R7/2N5/1p6/8/1p6/1p4p1/1p1p2p1/1kbB2Kb b - - 0 4", this, "b5c7"); ' class="line0">4.Кc7</span> 
	 <!--span onclick='loadMove("R7/2N5/1p6/8/1p6/1p4p1/1p1p2p1/1kbB2Kb w - - 0 5", this, "b5c7"); ' class="line0">z0</span--> 
	 <span onclick='loadMove("R7/8/Np6/8/1p6/1p4p1/1p1p2p1/1kbB2Kb b - - 0 5", this, "c7a6"); ' class="line0">5.Кa6</span> 
	 <!--span onclick='loadMove("R7/8/Np6/8/1p6/1p4p1/1p1p2p1/1kbB2Kb w - - 0 6", this, "c7a6"); ' class="line0">z0</span--> 
	 <span onclick='loadMove("R7/8/1p6/8/1N6/1p4p1/1p1p2p1/1kbB2Kb b - - 0 6", this, "a6b4"); ' class="line0">6.К:b4+</span> 
	 <!--span onclick='loadMove("R7/8/1p6/8/1N6/1p4p1/1p1p2p1/1kbB2Kb w - - 0 7", this, "a6b4"); ' class="line0">z0</span--> 
	 <span onclick='loadMove("R7/8/1pN5/8/8/1p4p1/1p1p2p1/1kbB2Kb b - - 0 7", this, "b4c6"); ' class="line0">7.Кc6</span> 
	 <!--span onclick='loadMove("R7/8/1pN5/8/8/1p4p1/1p1p2p1/1kbB2Kb w - - 0 8", this, "b4c6"); ' class="line0">z0</span--> 
	 <span onclick='loadMove("R7/8/1p6/N7/8/1p4p1/1p1p2p1/1kbB2Kb b - - 0 8", this, "c6a5"); ' class="line0">8.Кa5</span> 
	 <!--span onclick='loadMove("R7/8/1p6/N7/8/1p4p1/1p1p2p1/1kbB2Kb w - - 0 9", this, "c6a5"); ' class="line0">z0</span--> 
	 <span onclick='loadMove("R7/8/1p6/8/8/1N4p1/1p1p2p1/1kbB2Kb b - - 0 9", this, "a5b3"); ' class="line0">9.К:b3+</span> 
	 <!--span onclick='loadMove("R7/8/1p6/8/8/1N4p1/1p1p2p1/1kbB2Kb w - - 0 10", this, "a5b3"); ' class="line0">z0</span--> 
	 <span onclick='loadMove("R7/8/1p6/2N5/8/6p1/1p1p2p1/1kbB2Kb b - - 0 10", this, "b3c5"); ' class="line0">10.Кc5</span> 
	 <!--span onclick='loadMove("R7/8/1p6/2N5/8/6p1/1p1p2p1/1kbB2Kb w - - 0 11", this, "b3c5"); ' class="line0">z0</span--> 
	 <span onclick='loadMove("R7/8/1p6/8/N7/6p1/1p1p2p1/1kbB2Kb b - - 0 11", this, "c5a4"); ' class="line0">11.Кa4</span> 
	. Все ответы черных очевидны, и мат на двенадцатом ходу неизбежен.</p>
  </div>
</div> <!-- spoiler-wrap -->

</div> <!-- score -->
</div> <!-- section -->

</div> <!-- iBook -->

{% endblock content %}

