{% extends '../../base.htm' %}
{% load static %}
{% block title %}
<title>Ряд чудесных изменений | {{book.title}} | {%for author in book.authors.all%} {%if author.first_name%} {{author.first_name}} {%endif%} {%if author.second_name%} {{author.second_name}} {%endif%} {%if forloop.counter == book.authors.all.count%} {{author.last_name}} {%else%} {{author.last_name}}, {%endif%} {%endfor%} | {{book.year}}</title>
{% endblock title %}
{% block content %}

<div class="iBook">

<div class="section">
<h3>Ряд чудесных изменений</h3>
<div class="chessBoard small floater" data-start-fen="3B4/1K2PN2/3pk1P1/8/4P3/8/8/8 w - - 0 1"></div>
<div class="score">
 <span class="line0" onclick='loadMove("3B4/1K2PN2/3pk1P1/8/4P3/8/8/8 w - - 0 1", this, ""); '>[...]</span> 
<p>Удивительная позиция приведена на следующей диаграмме. Это положение говорит о различных возможностях, связанных с превращениями пешки.</p>
<p class="capTop diagram">35</p>
<div class="chessBoard analysis nobuttons" data-start-fen="3B4/1K2PN2/3pk1P1/8/4P3/8/8/8 w - - 0 1"></div>
<p>Превращая свою пешку в различные фигуры, белые могут дать мат черному королю в один, два, три и четыре хода. Вот как это происходит: Мат в один ход
 <span onclick='loadMove("3BQ3/1K3N2/3pk1P1/8/4P3/8/8/8 b - - 0 1", this, "e7e8"); ' class="line0">1.e8ФX</span> 
. Мат в два хода
 <span onclick='loadMove("3BR3/1K3N2/3pk1P1/8/4P3/8/8/8 b - - 0 1", this, "e7e8"); ' class="line1">1.e8Л+</span> 
 <span onclick='loadMove("3BR3/1K1k1N2/3p2P1/8/4P3/8/8/8 w - - 0 2", this, "e6d7"); ' class="line1">Крd7</span> 
 <span onclick='loadMove("3B4/1K1kRN2/3p2P1/8/4P3/8/8/8 b - - 0 2", this, "e8e7"); ' class="line1">2.Лe7X</span> 
.</p>
<p>Мат в три хода
 <span onclick='loadMove("3BB3/1K3N2/3pk1P1/8/4P3/8/8/8 b - - 0 1", this, "e7e8"); ' class="line1">1.e8С</span> 
 <span onclick='loadMove("3BB3/1K3N2/4k1P1/3p4/4P3/8/8/8 w - - 0 2", this, "d6d5"); ' class="line1">d5</span> 
 <span onclick='loadMove("3BB3/5N2/2K1k1P1/3p4/4P3/8/8/8 b - - 0 2", this, "b7c6"); ' class="line1">2.Крc6</span> 
 <span onclick='loadMove("3BB3/5N2/2K1k1P1/8/4p3/8/8/8 w - - 0 3", this, "d5e4"); ' class="line1">de</span> 
 <span onclick='loadMove("3B4/3B1N2/2K1k1P1/8/4p3/8/8/8 b - - 0 3", this, "e8d7"); ' class="line1">3.Сd7X</span> 
.</p>
<!--p>— 26 —</p-->
<p>Мат в четыре хода
 <span onclick='loadMove("3BN3/1K3N2/3pk1P1/8/4P3/8/8/8 b - - 0 1", this, "e7e8"); ' class="line1">1.e8К</span> 
 <span onclick='loadMove("3BN3/1K1k1N2/3p2P1/8/4P3/8/8/8 w - - 0 2", this, "e6d7"); ' class="line1">Крd7</span> 
 <span onclick='loadMove("3B4/1K1k1NN1/3p2P1/8/4P3/8/8/8 b - - 0 2", this, "e8g7"); ' class="line1">2.Кg7</span> 
 <span onclick='loadMove("3B4/1K1k1NN1/6P1/3p4/4P3/8/8/8 w - - 0 3", this, "d6d5"); ' class="line1">d5</span> 
 <span onclick='loadMove("3B4/1K1k1NN1/6P1/3pP3/8/8/8/8 b - - 0 3", this, "e4e5"); ' class="line1">3.e5</span> 
 <span onclick='loadMove("3B4/1K1k1NN1/6P1/4P3/3p4/8/8/8 w - - 0 4", this, "d5d4"); ' class="line1">d4</span> 
 <span onclick='loadMove("3B4/1K1k1NN1/4P1P1/8/3p4/8/8/8 b - - 0 4", this, "e5e6"); ' class="line1">4.e6X</span> 
.</p>
</div> <!-- score -->
</div> <!-- section -->

<div class="section">
<div class="chessBoard small floater" data-start-fen="8/2P1P1P1/3PkP2/8/4K3/8/8/8 w - - 0 1"></div>
<div class="score">
 <span class="line0" onclick='loadMove("8/2P1P1P1/3PkP2/8/4K3/8/8/8 w - - 0 1", this, ""); '>[...]</span> 
<p>Необычные случаи превращения пешки содержит и следующая оригинальная задача. Занятно, что эта задача была предложена для решения созданной у нас кибернетической машине, умеющей играть в шахматы. Машина решила задачу за десять минут.</p>
<p>Как же дать мат в три хода черному королю? Надеюсь, что ты не отстанешь от хитрой машины.</p>
<p class="capTop diagram">36</p>
<div class="chessBoard analysis nobuttons" data-start-fen="8/2P1P1P1/3PkP2/8/4K3/8/8/8 w - - 0 1"></div>

<div class="spoiler-wrap">
  <div class="spoiler-head folded">Решение</div>
  <div class="spoiler-body">
	<p><b>Ряд чудесных изменений</b>.
	 <span class="line0" onclick='loadMove("8/2P1P1P1/3PkP2/8/4K3/8/8/8 w - - 0 1", this, ""); '>[...]</span> 
	 <span onclick='loadMove("4B3/2P3P1/3PkP2/8/4K3/8/8/8 b - - 0 1", this, "e7e8"); ' class="line0">1.e8С</span> 
	 <span onclick='loadMove("4B3/2P3P1/3k1P2/8/4K3/8/8/8 w - - 0 2", this, "e6d6"); ' class="line0">Кр:d6</span> 
	 <span onclick='loadMove("2R1B3/6P1/3k1P2/8/4K3/8/8/8 b - - 0 2", this, "c7c8"); ' class="line0">2.c8Л</span> 
	 <!--span onclick='loadMove("2R1B3/6P1/3k1P2/8/4K3/8/8/8 w - - 0 3", this, "c7c8"); ' class="line0">z0</span--> 
	и
	 <span onclick='loadMove("4B3/6P1/2Rk1P2/8/4K3/8/8/8 b - - 0 3", this, "c8c6"); ' class="line0">3.Лc6X</span> 
	или
	 <span onclick='loadMove("4B3/2P3P1/3P1k2/8/4K3/8/8/8 w - - 0 2", this, "e6f6"); ' class="line1">1...Кр:f6</span> 
	 <span onclick='loadMove("4B1R1/2P5/3P1k2/8/4K3/8/8/8 b - - 0 2", this, "g7g8"); ' class="line1">2.g8Л</span> 
	 <!--span onclick='loadMove("4B1R1/2P5/3P1k2/8/4K3/8/8/8 w - - 0 3", this, "g7g8"); ' class="line1">z0</span--> 
	и
	 <span onclick='loadMove("4B3/2P5/3P1kR1/8/4K3/8/8/8 b - - 0 3", this, "g8g6"); ' class="line1">3.Лg6X</span> 
	.</p>
  </div>
</div> <!-- spoiler-wrap -->

</div> <!-- score -->
</div> <!-- section -->

</div> <!-- iBook -->

{% endblock content %}

