{% extends '../../base.htm' %}
{% load static %}
{% block title %}
<title>В твое распоряжение... | {{book.title}} | {%for author in book.authors.all%} {%if author.first_name%} {{author.first_name}} {%endif%} {%if author.second_name%} {{author.second_name}} {%endif%} {%if forloop.counter == book.authors.all.count%} {{author.last_name}} {%else%} {{author.last_name}}, {%endif%} {%endfor%} | {{book.year}}</title>
{% endblock title %}
{% block content %}

<div class="iBook">

<div class="section">
<h3>В твое распоряжение...</h3>
<div class="score">
<p>В твое распоряжение отдаю я сейчас много коротких партий, в которых или белые или черные допускали серьезные ошибки в дебюте и быстро погибали.</p>
<p>Попробуй разобрать эти партии так, как мы с тобой разбирали примеры из этой главы. У тебя будет надежный компас в этом плавании
по вариантам. Следи за восклицательными знаками,которыми в шахматной нотации отмечаются хорошие ходы, и за вопросительными, которые «украшают» плохие.</p>
<p>Партии с примечаниями перепиши в тетрадь, сгруппируй их по темам комбинаций, пусть это будет первый опыт твоего самостоятельного комментирования. Не торопись. Старайся разобраться во всем, что происходило в партии. Определив, в чем ошибка, допущенная одним из играющих, найди правильное продолжение для него.</p>
</div> <!-- score -->
</div> <!-- section -->

</div> <!-- iBook -->

{% endblock content %}

