{% extends '../../base.htm' %}
{% load static %}
{% block title %}
<title>Разве это план? | {{book.title}} | {%for author in book.authors.all%} {%if author.first_name%} {{author.first_name}} {%endif%} {%if author.second_name%} {{author.second_name}} {%endif%} {%if forloop.counter == book.authors.all.count%} {{author.last_name}} {%else%} {{author.last_name}}, {%endif%} {%endfor%} | {{book.year}}</title>
{% endblock title %}
{% block content %}

<div class="iBook">

<div class="section">
<h3>Разве это план?</h3>
<div class="score">
<p>Разговорился я как-то с одним начинающим любителем шахмат. Стали толковать о том, как строить игру. «У меня всегда есть план в партии,— сказал мне мой собеседник.— Я хочу дать мат королю противника».</p>
<p>Можно ли считать такое намерение планом? Конечно, нет. Обдуманного в этом предположении пока очень мало.</p>
<p>«Человек может создать бесчисленное количество планов; об основаниях этих планов можно сказать словами
<!--p>— 61 —</p-->
Гамлета, что они дешевы, как ежевика. «План должен иметь верное обоснование»,— так справедливо писал много лет назад Эм. Ласкер. </p>
<p>Вернемся к плану сразу дать мат. Совершенно очевидно, что заматовать короля немедленно не удастся. Осуществлению этого «плана» могут помочь лишь грубые ошибки противника. А если он их не сделает? Создавать планы лишь в расчете на то, что противник ошибется,— это все равно, что строить карточные домики. Дунешь на такой домик, и он разлетится.</p>
<p>Мат королю противника — это цель, к которой можно прийти лишь постепенно, наметив и осуществив определенный порядок действий. </p>
</div> <!-- score -->
</div> <!-- section -->

</div> <!-- iBook -->

{% endblock content %}

