{% extends '../../base.htm' %}
{% load static %}
{% block title %}
<title>Что такое комбинация | {{book.title}} | {%for author in book.authors.all%} {%if author.first_name%} {{author.first_name}} {%endif%} {%if author.second_name%} {{author.second_name}} {%endif%} {%if forloop.counter == book.authors.all.count%} {{author.last_name}} {%else%} {{author.last_name}}, {%endif%} {%endfor%} | {{book.year}}</title>
{% endblock title %}
{% block content %}

<div class="iBook">

<div class="section">
<h3>Что такое комбинация</h3>
<div class="score">
<p>Что же характерно для комбинации, радующей сердца любителей шахмат остроумием, выдумкой, смелостью?</p>
<p>Основной частью комбинации является жертва. Жертвуя пешки или фигуры, активная сторона добивается того, что оставшиеся на доске фигуры развивают громадную энергию, а фигуры противника теряют возможность согласованных действий.</p>
<p>Жертва — это не самоцель, нельзя жертвовать фигуры наобум. Как говорит народная пословица, «не всякий гром бьет, а и бьет да не по нас». Комбинация ставит своей целью добиться выгодного изменения позиции.</p>
<p>Активность, сила фигур
<!--p>— 91 —</p-->
после жертвы возрастают настолько, что оказывается возможным, несмотря на материальный перевес партнера, добиться определенных выгод. </p>
</div> <!-- score -->
</div> <!-- section -->

</div> <!-- iBook -->

{% endblock content %}

