{% extends '../../base.htm' %}
{% load static %}
{% block title %}
<title>Ударом на удар | {{book.title}} | {%for author in book.authors.all%} {%if author.first_name%} {{author.first_name}} {%endif%} {%if author.second_name%} {{author.second_name}} {%endif%} {%if forloop.counter == book.authors.all.count%} {{author.last_name}} {%else%} {{author.last_name}}, {%endif%} {%endfor%} | {{book.year}}</title>
{% endblock title %}
{% block content %}

<div class="iBook">

<div class="section">
<h3>Ударом на удар</h3>
<div class="chessBoard small floater" data-start-fen="2r1kb1r/pp3ppp/q3b3/6Q1/1n1N4/2N1B3/PPP2PPP/2KRR3 b k - 0 1"></div>
<div class="score">
 <span class="line0" onclick='loadMove("2r1kb1r/pp3ppp/q3b3/6Q1/1n1N4/2N1B3/PPP2PPP/2KRR3 b k - 0 1", this, ""); '>[...]</span> 
<p>Черные решили начать атаку на белого короля и сыграли
 <span onclick='loadMove("4kb1r/pp3ppp/q3b3/6Q1/1n1N4/2r1B3/PPP2PPP/2KRR3 w k - 0 2", this, "c8c3"); ' class="line0">1...Л:c3</span> 
. Найди, как белые комбинационным путем опровергают этот замысел.</p>
<!--p>— 98 —</p-->
<p class="capTop diagram">134</p>
<div class="chessBoard analysis nobuttons" data-start-fen="4kb1r/pp3ppp/q3b3/6Q1/1n1N4/2r1B3/PPP2PPP/2KRR3 w k - 0 2"></div>

<div class="spoiler-wrap">
  <div class="spoiler-head folded">Решение</div>
  <div class="spoiler-body">
	<p>Диаграмма № 134.
	 <span class="line0" onclick='loadMove("2r1kb1r/pp3ppp/q3b3/6Q1/1n1N4/2N1B3/PPP2PPP/2KRR3 b k - 0 1", this, ""); '>[...]</span> 
	 <span onclick='loadMove("4kb1r/pp3ppp/q3b3/6Q1/1n1N4/2r1B3/PPP2PPP/2KRR3 w k - 0 2", this, "c8c3"); ' class="line0">1...Л:c3</span> 
	 <span onclick='loadMove("3Qkb1r/pp3ppp/q3b3/8/1n1N4/2r1B3/PPP2PPP/2KRR3 b k - 0 2", this, "g5d8"); ' class="line0">2.Фd8+!</span> 
	 <span onclick='loadMove("3k1b1r/pp3ppp/q3b3/8/1n1N4/2r1B3/PPP2PPP/2KRR3 w - - 0 3", this, "e8d8"); ' class="line0">Кр:d8</span> 
	 <span onclick='loadMove("3k1b1r/pp3ppp/q3N3/8/1n6/2r1B3/PPP2PPP/2KRR3 b - - 0 3", this, "d4e6"); ' class="line0">3.К:e6++</span> 
	 <span onclick='loadMove("5b1r/pp2kppp/q3N3/8/1n6/2r1B3/PPP2PPP/2KRR3 w - - 0 4", this, "d8e7"); ' class="line0">Крe7</span> 
	(Или
	 <span onclick='loadMove("2k2b1r/pp3ppp/q3N3/8/1n6/2r1B3/PPP2PPP/2KRR3 w - - 0 4", this, "d8c8"); ' class="line1">3...Крc8</span> 
	 <span onclick='loadMove("2kR1b1r/pp3ppp/q3N3/8/1n6/2r1B3/PPP2PPP/2K1R3 b - - 0 4", this, "d1d8"); ' class="line1">4.Лd8X</span> 
	,
	а если
	 <span onclick='loadMove("4kb1r/pp3ppp/q3N3/8/1n6/2r1B3/PPP2PPP/2KRR3 w k - 0 4", this, "d8e8"); ' class="line1">3...Крe8</span> 
	, то
	 <span onclick='loadMove("4kb1r/pp3pNp/q7/8/1n6/2r1B3/PPP2PPP/2KRR3 b k - 0 4", this, "e6g7"); ' class="line1">4.К:g7+</span> 
	 <span onclick='loadMove("4k2r/pp3pbp/q7/8/1n6/2r1B3/PPP2PPP/2KRR3 w k - 0 5", this, "f8g7"); ' class="line1">С:g7</span> 
	 <span onclick='loadMove("4k2r/pp3pbp/q7/6B1/1n6/2r5/PPP2PPP/2KRR3 b k - 0 5", this, "e3g5"); ' class="line1">5.Сg5+</span> 
	 <!--span onclick='loadMove("4k2r/pp3pbp/q7/6B1/1n6/2r5/PPP2PPP/2KRR3 w k - 0 6", this, "e3g5"); ' class="line1">z0</span--> 
	и
	 <span onclick='loadMove("3Rk2r/pp3pbp/q7/6B1/1n6/2r5/PPP2PPP/2K1R3 b k - 0 6", this, "d1d8"); ' class="line1">6.Лd8X</span> 
	)
	 <span onclick='loadMove("5b1r/pp2kppp/q3N3/6B1/1n6/2r5/PPP2PPP/2KRR3 b - - 0 4", this, "e3g5"); ' class="line0">4.Сg5+</span> 
	 <span onclick='loadMove("5b1r/pp2k1pp/q3Np2/6B1/1n6/2r5/PPP2PPP/2KRR3 w - - 0 5", this, "f7f6"); ' class="line0">f6</span> 
	 <span onclick='loadMove("3N1b1r/pp2k1pp/q4p2/6B1/1n6/2r5/PPP2PPP/2KRR3 b - - 0 5", this, "e6d8"); ' class="line0">5.Кd8+</span> 
	, и черные сдались.</p>
  </div>
</div> <!-- spoiler-wrap -->

</div> <!-- score -->
</div> <!-- section -->

<div class="section">
<div class="chessBoard small floater" data-start-fen="r4r1k/1p3p1p/p2N1Pq1/5R2/8/3Q3P/7K/8 b - - 0 1"></div>
<div class="score">
 <span class="line0" onclick='loadMove("r4r1k/1p3p1p/p2N1Pq1/5R2/8/3Q3P/7K/8 b - - 0 1", this, ""); '>[...]</span> 
<p>Любопытно следующее положение. Белые: Крh2, Фd3, Лf5, Кd6, п. f6, h3 (6). Черные: Крh8, Фg6, Лa8, Лf8, п. a6, b7, f7, h7 (8).</p>
<p>Подумай над таким вопросом — стоит ли черным играть на мат
 <span onclick='loadMove("r5rk/1p3p1p/p2N1Pq1/5R2/8/3Q3P/7K/8 w - - 0 2", this, "f8g8"); ' class="line1">1...Лg8</span> 
. К чему привел бы этот ход? Какое продолжение, по-твоему, черным надо избрать?</p>

<div class="spoiler-wrap">
  <div class="spoiler-head folded">Решение</div>
  <div class="spoiler-body">
	<p>а) Если
	 <span class="line0" onclick='loadMove("r4r1k/1p3p1p/p2N1Pq1/5R2/8/3Q3P/7K/8 b - - 0 1", this, ""); '>[...]</span> 
	 <span onclick='loadMove("r5rk/1p3p1p/p2N1Pq1/5R2/8/3Q3P/7K/8 w - - 0 2", this, "f8g8"); ' class="line0">1...Лg8?</span> 
	, то
	 <span onclick='loadMove("r5rk/1p3p1p/p2N1Pq1/6R1/8/3Q3P/7K/8 b - - 0 2", this, "f5g5"); ' class="line0">2.Лg5!</span> 
	 <span onclick='loadMove("r5rk/1p3p1p/p2N1q2/6R1/8/3Q3P/7K/8 w - - 0 3", this, "g6f6"); ' class="line0">Ф:f6</span> 
	 <span onclick='loadMove("r5rk/1p3p1p/p2N1q2/6R1/3Q4/7P/7K/8 b - - 0 3", this, "d3d4"); ' class="line0">3.Фd4!</span> 
	, и у черных нет
	<!--p>— 101 —</p-->
	удовлетворительной защиты, на
	 <span onclick='loadMove("r6k/1p3p1p/p2N1qr1/6R1/3Q4/7P/7K/8 w - - 0 4", this, "g8g6"); ' class="line0">3...Лg6</span> 
	решает
	 <span onclick='loadMove("r6k/1p3p1p/p2N1qR1/8/3Q4/7P/7K/8 b - - 0 4", this, "g5g6"); ' class="line0">4.Л:g6</span> 
	.</p>
  </div>
</div> <!-- spoiler-wrap -->

</div> <!-- score -->
</div> <!-- section -->

</div> <!-- iBook -->

{% endblock content %}

