{% extends '../../base.htm' %}
{% load static %}
{% block title %}
<title>Король — сильная фигура | {{book.title}} | {%for author in book.authors.all%} {%if author.first_name%} {{author.first_name}} {%endif%} {%if author.second_name%} {{author.second_name}} {%endif%} {%if forloop.counter == book.authors.all.count%} {{author.last_name}} {%else%} {{author.last_name}}, {%endif%} {%endfor%} | {{book.year}}</title>
{% endblock title %}
{% block content %}

<div class="iBook">

<div class="section">
<h3>Король — сильная фигура</h3>
<div class="score">
<p>Как определить, когда в партии начинается эндшпиль? Конечно, очень неубедительным было бы утверждение, что эндшпиль начинается с размена ферзей. Ведь часто и без ферзей на доске ведутся ожесточенные сражения, организуется матовая атака.</p>
<p>Принято считать, что эндшпиль начинается, когда король не нуждается больше в постоянной защите своих фигур и может активно участвовать в игре. В эндшпиле король — важнейшая боевая единица, и очень часто именно возможности короля активно вмешаться в ход сражения определяют перевес одной из сторон.</p>
<p>Надо обратить внимание также и на то, что в эндшпиле значительно увеличивается роль пешек. «Почему?» — спросишь ты. По той
<!--p>— 104 —</p-->
причине, что в этой стадии партии реальным становится превращение пешки в ка-кую-либо фигуру, а стремительное движение пешек к восьмой (первой) горизонтали часто является центральным событием поединка.</p>
<p>Из фигур особенно отличаются в эндшпиле ладьи. И это легко понять. Ведь ладьи обычно действуют за пешечным частоколом и размениваются позднее других фигур. После разменов многие вертикали и горизонтали освобождаются и ладьи находят для себя обширное поле действий.</p>
</div> <!-- score -->
</div> <!-- section -->

</div> <!-- iBook -->

{% endblock content %}

