{% extends '../../base.htm' %}
{% load static %}
{% block title %}
<title>Давно это было | {{book.title}} | {%for author in book.authors.all%} {%if author.first_name%} {{author.first_name}} {%endif%} {%if author.second_name%} {{author.second_name}} {%endif%} {%if forloop.counter == book.authors.all.count%} {{author.last_name}} {%else%} {{author.last_name}}, {%endif%} {%endfor%} | {{book.year}}</title>
{% endblock title %}
{% block content %}

<div class="iBook">

<div class="section">
<h3>Давно это было</h3>
<div class="score">
<p>Да, давно это было, около сорока лет назад. Был я тогда начинающим любителем шахмат, хотя и знал немного теорию и даже побеждал в школьных турнирах. У себя в школе считался «непобедимым чемпионом».</p>
<p>Как-то решили ребята организовать мой матч с другим школьным «гроссмейстером» — Сережей Белавенцем.</p>
<p>И вот наш поединок состоялся. Увы, я не оправдал надежд своих друзей. Все партии матча развивались на редкость однообразно. Я атаковал, искал комбинации, а Сережа хладнокровно защищался, принимал все жертвы, потом разменивал ферзей, переводил партию в эндшпиль и выигрывал.</p>
<p>Ох уж этот эндшпиль! Я считал в ту пору, что это на редкость скучная часть шахматной партии. «Без ферзей на доске и настоящей игры нет»,— так казалось мне.</p>
<p>А Сережа играл совсем по-другому. Он умел и в эндшпиле находить интересные возможности, умел создавать и здесь комбинации, неплохо владел техникой реализации преимущества.</p>
<p>После того как матч закончился моим поражением, я попросил Сережу помочь мне заняться изучением эндшпиля. Он посоветовал мне
<!--p>— 103 —</p-->
прежде всего разобраться в основах эндшпиля по старой книге «Самоучитель шахматной игры» русского мастера Э. С. Шифферса. И верно. В этой книге я нашел много полезного. </p>
<p>Несколько лет спустя, когда Сережа и я сами стали мастерами, мы не раз вместе анализировали красивые позиции, приведенные в книге Э. С. Шифферса.</p>
</div> <!-- score -->
</div> <!-- section -->

</div> <!-- iBook -->

{% endblock content %}

