{% extends '../../base.htm' %}
{% load static %}
{% block title %}
<title>Матч двух музыкантов | {{book.title}} | {%for author in book.authors.all%} {%if author.first_name%} {{author.first_name}} {%endif%} {%if author.second_name%} {{author.second_name}} {%endif%} {%if forloop.counter == book.authors.all.count%} {{author.last_name}} {%else%} {{author.last_name}}, {%endif%} {%endfor%} | {{book.year}}</title>
{% endblock title %}
{% block content %}

<div class="iBook">

<div class="section">
<h3>Матч двух музыкантов</h3>
<div class="score">
<p>До сих пор, дорогой друг, я рассказывал тебе о далеком прошлом. Конечно, в наши дни шахматы стали обладать еще большей притягательной силой для людей различных профессий и возрастов. У нас в шахматы играют и рабочие, и колхозники, и школьники. Много среди любителей шахмат и деятелей культуры.</p>
<p>Этот раздел я назвал «Матч двух музыкантов». Речь в нем идет о соревновании, проведенном в Центральном Доме работников искусств в 1937 году. За шахматной доской тогда встретились всемирно известные композитор С. Прокофьев и скрипач Д. Ойстрах.</p>
<p>В пяти партиях разыгрывались шахматные симфонии. Четыре встречи завершились ничейным исходом, и лишь в одной Д. Ойстраху удалось одержать победу.</p>

<p>Вот окончание одной из партий этого матча.</p>
</div> <!-- score -->
</div> <!-- section -->

<div class="section">
<div class="chessBoard small" data-start-fen="8/Pk6/2NK1p2/P7/8/2P5/8/5b2 b - - 0 60"></div>
<div class="score">
<p class="capTop diagram">216</p>
<div class="chessBoard analysis nobuttons" data-start-fen="8/Pk6/2NK1p2/P7/8/2P5/8/5b2 b - - 0 60"></div>
	<p>У белых (Прокофьев) две лишние пешки, но слон черных проявляет чудеса храбрости...</p>
	<p>В партии было:
	 <span class="line0" onclick='loadMove("8/Pk6/2NK1p2/P7/8/2P5/8/5b2 b - - 0 60", this, ""); '>[...]</span> 
	 <span onclick='loadMove("8/Pk6/2NK4/P4p2/8/2P5/8/5b2 w - - 0 60", this, "f6f5"); ' class="line0">60...f6-f5</span> 
	 <span onclick='loadMove("8/Pk6/2N5/P3Kp2/8/2P5/8/5b2 b - - 0 60", this, "d6e5"); ' class="line0">61.Крd6-e5</span> 
	 <span onclick='loadMove("8/Pk6/2N5/P3Kp2/8/2Pb4/8/8 w - - 0 60", this, "f1d3"); ' class="line0">Сf1-d3</span> 
	 <span onclick='loadMove("8/Pk6/2N5/P4p2/3K4/2Pb4/8/8 b - - 0 60", this, "e5d4"); ' class="line0">62.Крe5-d4</span> 
	 <span onclick='loadMove("8/Pk6/2N5/P4p2/3Kb3/2P5/8/8 w - - 0 60", this, "d3e4"); ' class="line0">Сd3-e4</span> 
	 <span onclick='loadMove("8/Pk6/P1N5/5p2/3Kb3/2P5/8/8 b - - 0 60", this, "a5a6"); ' class="line0">63.a5-a6+</span> 
	 <span onclick='loadMove("k7/P7/P1N5/5p2/3Kb3/2P5/8/8 w - - 0 60", this, "b7a8"); ' class="line0">Крb7-a8</span> 
	 <span onclick='loadMove("k7/P7/P7/5p2/1N1Kb3/2P5/8/8 b - - 0 60", this, "c6b4"); ' class="line0">64.Кc6-b4</span> 
	 <span onclick='loadMove("8/k7/P7/5p2/1N1Kb3/2P5/8/8 w - - 0 60", this, "a8a7"); ' class="line0">Крa8:a7</span> 
	 <span onclick='loadMove("8/k7/P7/5p2/1NPKb3/8/8/8 b - - 0 60", this, "c3c4"); ' class="line0">65.c3-c4</span> 
	 <span onclick='loadMove("8/8/Pk6/5p2/1NPKb3/8/8/8 w - - 0 60", this, "a7b6"); ' class="line0">Крa7-b6</span> 
	 <span onclick='loadMove("8/8/Pk6/2P2p2/1N1Kb3/8/8/8 b - - 0 60", this, "c4c5"); ' class="line0">66.c4-c5+</span> 
	 <span onclick='loadMove("8/k7/P7/2P2p2/1N1Kb3/8/8/8 w - - 0 60", this, "b6a7"); ' class="line0">Крb6-a7</span> 
	 <span onclick='loadMove("8/k7/P7/2P1Kp2/1N2b3/8/8/8 b - - 0 60", this, "d4e5"); ' class="line0">67.Крd4-e5</span> 
	 <span onclick='loadMove("1k6/8/P7/2P1Kp2/1N2b3/8/8/8 w - - 0 60", this, "a7b8"); ' class="line0">Крa7-b8</span> 
	 <span onclick='loadMove("1k6/8/P7/2PNKp2/4b3/8/8/8 b - - 0 60", this, "b4d5"); ' class="line0">68.Кb4-d5</span> 
	 <span onclick='loadMove("1k6/8/P7/2PNKp2/8/3b4/8/8 w - - 0 60", this, "e4d3"); ' class="line0">Сe4-d3</span> 
	 <span onclick='loadMove("1k6/8/P7/2P1Kp2/1N6/3b4/8/8 b - - 0 60", this, "d5b4"); ' class="line0">69.Кd5-b4</span> 
	 <span onclick='loadMove("1k6/8/P7/2P1Kp2/1N2b3/8/8/8 w - - 0 60", this, "d3e4"); ' class="line0">Сd3-e4</span> 
	 <span onclick='loadMove("1k6/8/P1P5/4Kp2/1N2b3/8/8/8 b - - 0 60", this, "c5c6"); ' class="line0">70.c5-c6</span> 
	 <span onclick='loadMove("8/2k5/P1P5/4Kp2/1N2b3/8/8/8 w - - 0 60", this, "b8c7"); ' class="line0">Крb8-c7</span> 
	 <span onclick='loadMove("8/P1k5/2P5/4Kp2/1N2b3/8/8/8 b - - 0 60", this, "a6a7"); ' class="line0">71.a6-a7</span> 
	 <span onclick='loadMove("8/P1k5/2b5/4Kp2/1N6/8/8/8 w - - 0 60", this, "e4c6"); ' class="line0">Сe4:c6</span> 
	 <span onclick='loadMove("8/P1k5/2N5/4Kp2/8/8/8/8 b - - 0 60", this, "b4c6"); ' class="line0">72.Кb4:c6</span> 
	 <span onclick='loadMove("8/Pk6/2N5/4Kp2/8/8/8/8 w - - 0 60", this, "c7b7"); ' class="line0">Крc7-b7</span>.</p>
	<p>Ойстрах нашел интересную ничейную позицию. Черные ходят королем с a8 на b7, и все попытки белых приблизить короля для защиты пешки a7 приводят к пату.</p>
	<p>Неожиданная смелая идея торжествует над привычным представлением о решающем значении материального превосходства. У белых лишние конь и пешка, король черных <!--p>— 170 —</p--> остался в одиночестве, а выигрыша у белых все же нет.</p>
	<p>«Шахматы для меня,— писал С. Прокофьев,— это особый мир, мир борьбы планов и страстей».</p>
	<p>Так казалось композитору. Скажем и мы еще раз о том, с чего начался наш разговор. Шахматное творчество увлекательно. И, как во всяком творчестве, есть в нем и своя поэзия вдохновения.</p>
</div> <!-- score -->
</div> <!-- section -->

<div class="section">
<div class="score">
<p>«Шахматы содержат в себе чистое наслаждение и удовлетворение, как искусно изваянная статуя или хорошее стихотворение...» Так писал известный румынский писатель академик М. Садовяну.</p>
<p>А следующие слова принадлежат лауреату Ленинской премии поэту Пабло Неруде.</p>
<p>«Что такое шахматы? Это одна из человеческих побед над самим собой. Для одних шахматы — звук, для других — картина, для меня они — поэзия, поэзия борьбы разума и воли».</p>
</div> <!-- score -->
</div> <!-- section -->

</div> <!-- iBook -->

{% endblock content %}

