{% extends '../../base.htm' %}
{% load static %}
{% block title %}
<title>Вице-президент конгресса | {{book.title}} | {%for author in book.authors.all%} {%if author.first_name%} {{author.first_name}} {%endif%} {%if author.second_name%} {{author.second_name}} {%endif%} {%if forloop.counter == book.authors.all.count%} {{author.last_name}} {%else%} {{author.last_name}}, {%endif%} {%endfor%} | {{book.year}}</title>
{% endblock title %}
{% block content %}

<div class="iBook">

<div class="section">
<h3>Вице-президент конгресса</h3>
<div class="score">
<p>29 июня 1853 года выдающийся русский писатель И. С. Тургенев, находившийся в селе Спасском, обратился с письмом к писателю С. Г. Аксакову.</p>
<p>«Знаете ли, в чем состоит главное мое занятие? — говорится в этом письме.-— Играю в шахматы с соседями или даже один, разбираю шахматные игры по книгам».</p>
<!--p>- 167 —</p-->
<p>Шахматы, конечно, лишь на какой-то очень небольшой срок были «главным занятием» И. С. Тургенева, но на протяжении всей своей жизни он охотно отдыхал за шахматной доской.</p>
<p>Многие русские писатели любили шахматы. В библиотеке А. С. Пушкина были шахматные книги. Н. Г. Чернышевский организовал в 1862 году шахматный клуб в Петербурге.</p>
<p>Охотно «сражались» в шахматы А. И. Герцен, В. Г. Короленко, Н. П. Огарев, Н. А. Некрасов, А. Ф. Писемский.</p>
<p>Л. Н. Толстой почти ежедневно находил время, чтобы сыграть в шахматы. Его партнерами были художник И. Е. Репин, музыканты С. И. Танеев и А. Б. Гольденвейзер.</p>
<p>«Я люблю шахматы,— говорил Л. Н. Толстой,— потому что это хороший отдых».</p>
<p>Но среди всех русских писателей, несомненно, лучшим шахматистом был И. С. Тургенев. В бытность свою в Париже он не раз принимал участие в турнирах и обычно занимал высокие места.</p>
<p>Когда в 1870 году проводился шахматный конгресс в Баден-Бадене, И. С. Тургенев был избран вице-президентом этого международного съезда шахматистов.</p>
</div> <!-- score -->
</div> <!-- section -->

<div class="section">
<div class="chessBoard small" data-start-fen="2kr4/p2b1p2/1p2p3/3PQ3/3BP3/P4r2/1K5P/8 b - - 0 33"></div>
<div class="score">
<p class="capTop diagram">214</p>
<div class="chessBoard analysis nobuttons" data-start-fen="2kr4/p2b1p2/1p2p3/3PQ3/3BP3/P4r2/1K5P/8 b - - 0 33"></div>
	<p>На этой диаграмме вы видите позицию из партии В. Мачуский — И. С. Тургенев, игранной в турнире лучших шахматистов Парижа в 1861 году.</p>
	<p>Решающее значение для исхода борьбы имеет неудачное положение белого короля. И. С. Тургенев сильно проводит заключительную атаку:</p>
	<p>
	 <span class="line0" onclick='loadMove("2kr4/p2b1p2/1p2p3/3PQ3/3BP3/P4r2/1K5P/8 b - - 0 33", this, ""); '>[...]</span> 
	 <span onclick='loadMove("2k3r1/p2b1p2/1p2p3/3PQ3/3BP3/P4r2/1K5P/8 w - - 0 33", this, "d8g8"); ' class="line0">33...Лd8-g8</span> 
	 <span onclick='loadMove("2k3r1/p2b1p2/1p2p3/3PQ3/4P3/P1B2r2/1K5P/8 b - - 0 33", this, "d4c3"); ' class="line0">34.Сd4-c3</span> 
	 <span onclick='loadMove("2k3r1/p4p2/1p2p3/3PQ3/b3P3/P1B2r2/1K5P/8 w - - 0 33", this, "d7a4"); ' class="line0">Сd7-a4!</span> 
	(все фигуры черных принимают участие в наступлении)
	 <span onclick='loadMove("2k3r1/p4p2/1p2p3/3P4/b2QP3/P1B2r2/1K5P/8 b - - 0 33", this, "e5d4"); ' class="line0">35.Фe5-d4</span> 
	 <span onclick='loadMove("2k5/p4p2/1p2p3/3P4/b2QP3/P1B2r2/1K4rP/8 w - - 0 33", this, "g8g2"); ' class="line0">Лg8-g2+</span> 
	 <span onclick='loadMove("2k5/p4p2/1p2p3/3P4/b2QP3/P4r2/1K1B2rP/8 b - - 0 33", this, "c3d2"); ' class="line0">36.Сc3-d2</span> 
	 <span onclick='loadMove("2k5/p2b1p2/1p2p3/3P4/3QP3/P4r2/1K1B2rP/8 w - - 0 33", this, "a4d7"); ' class="line0">Сa4-d7!</span> 
	(теперь у белых нет защиты от сдвоения черных ладей по второй вертикали)
	 <span onclick='loadMove("2k5/p2b1p2/1p2p3/3P4/3QP2P/P4r2/1K1B2r1/8 b - h3 0 33", this, "h2h4"); ' class="line0">37.h2-h4</span> 
	 <span onclick='loadMove("2k5/p2b1p2/1p2p3/3P4/3QP2P/P7/1K1B1rr1/8 w - - 0 33", this, "f3f2"); ' class="line0">Лf3-f2</span> 
	 <span onclick='loadMove("2k5/p2b1p2/1p2p3/3P4/3QP2P/P1K5/3B1rr1/8 b - - 0 33", this, "b2c3"); ' class="line0">38.Крb2-c3</span> 
	 <span onclick='loadMove("2k5/p2b1p2/1p2p3/3P4/3QP2P/P1K5/3r2r1/8 w - - 0 33", this, "f2d2"); ' class="line0">Лf2:d2</span> 
	 <span onclick='loadMove("2k4Q/p2b1p2/1p2p3/3P4/4P2P/P1K5/3r2r1/8 b - - 0 33", this, "d4h8"); ' class="line0">39.Фd4-h8+</span> 
	 <span onclick='loadMove("7Q/pk1b1p2/1p2p3/3P4/4P2P/P1K5/3r2r1/8 w - - 0 33", this, "c8b7"); ' class="line0">Крc8-b7</span> 
	 <span onclick='loadMove("7Q/pk1b1p2/1p2p3/3P3P/4P3/P1K5/3r2r1/8 b - - 0 33", this, "h4h5"); ' class="line0">40.h4-h5</span> 
	 <span onclick='loadMove("7Q/pk1b1p2/1p6/3p3P/4P3/P1K5/3r2r1/8 w - - 0 33", this, "e6d5"); ' class="line0">e6:d5</span> 
	 <span onclick='loadMove("7Q/pk1b1p2/1p6/3P3P/8/P1K5/3r2r1/8 b - - 0 33", this, "e4d5"); ' class="line0">41.e4:d5</span> 
	 <span onclick='loadMove("7Q/pk1b1p2/1p6/3r3P/8/P1K5/6r1/8 w - - 0 33", this, "d2d5"); ' class="line0">Лd2:d5</span> 
	 <span onclick='loadMove("7Q/pk1b1p2/1p5P/3r4/8/P1K5/6r1/8 b - - 0 33", this, "h5h6"); ' class="line0">42.h5-h6</span> 
	 <span onclick='loadMove("7Q/pk3p2/1p5P/3r1b2/8/P1K5/6r1/8 w - - 0 33", this, "d7f5"); ' class="line0">Сd7-f5</span> 
	 <span onclick='loadMove("8/pk3p2/1p3Q1P/3r1b2/8/P1K5/6r1/8 b - - 0 33", this, "h8f6"); ' class="line0">43.Фh8-f6</span> 
	 <span onclick='loadMove("8/pk3p2/1p3Q1P/3r1b2/8/P1K5/2r5/8 w - - 0 33", this, "g2c2"); ' class="line0">Лg2-c2+</span> 
	 <span onclick='loadMove("8/pk3p2/1p3Q1P/3r1b2/1K6/P7/2r5/8 b - - 0 33", this, "c3b4"); ' class="line0">44.Крc3-b4</span> 
	 <span onclick='loadMove("8/1k3p2/1p3Q1P/p2r1b2/1K6/P7/2r5/8 w - a6 0 33", this, "a7a5"); ' class="line0">a7-a5+</span> 
	 <span onclick='loadMove("8/1k3p2/1p3Q1P/p2r1b2/K7/P7/2r5/8 b - - 0 33", this, "b4a4"); ' class="line0">45.Крb4-a4</span> 
	 <span onclick='loadMove("8/1kr2p2/1p3Q1P/p2r1b2/K7/P7/8/8 w - - 0 33", this, "c2c7"); ' class="line0">Лc2-c7</span> 
	(Грозит мат слоном на c2)
	 <span onclick='loadMove("8/1kr2p2/1p3Q1P/p2r1b2/8/PK6/8/8 b - - 0 33", this, "a4b3"); ' class="line0">46.Крa4-b3</span> 
	 <span onclick='loadMove("8/1kr2p2/1p3Q1P/pr3b2/8/PK6/8/8 w - - 0 33", this, "d5b5"); ' class="line0">Лd5-b5+</span> 
	 <span onclick='loadMove("8/1kr2p2/1p3Q1P/pr3b2/K7/P7/8/8 b - - 0 33", this, "b3a4"); ' class="line0">47.Крb3-a4</span> 
	 <span onclick='loadMove("8/1krb1p2/1p3Q1P/pr6/K7/P7/8/8 w - - 0 33", this, "f5d7"); ' class="line0">Сf5-d7!</span> 
	</p>
	<p>Белые попали в трагикомическое положение. Их король на a4 — жалкий <!--p>— 168 —</p--> узник, не имеющий защиты от вскрытого шаха ладьей b5. Если
	 <span onclick='loadMove("8/1krb1p2/1p5P/pr6/K7/P4Q2/8/8 b - - 0 33", this, "f6f3"); ' class="line0">48.Фf3+</span>, то просто
	 <span onclick='loadMove("8/k1rb1p2/1p5P/pr6/K7/P4Q2/8/8 w - - 0 33", this, "b7a7"); ' class="line0">48...Крa7</span>. В. Мачуский признал себя побежденным.</p>
</div> <!-- score -->
</div> <!-- section -->

</div> <!-- iBook -->

{% endblock content %}

