{% extends '../../base.htm' %}
{% load static %}
{% block title %}
<title>Endgame Study Solutions | {{book.title}} | {%for author in book.authors.all%} {%if author.first_name%} {{author.first_name}} {%endif%} {%if author.second_name%} {{author.second_name}} {%endif%} {%if forloop.counter == book.authors.all.count%} {{author.last_name}} {%else%} {{author.last_name}}, {%endif%} {%endfor%} | {{book.year}}</title>
{% endblock title %}
{% block content %}

<div class="iBook">

<div class="section">
<div class="chessBoard small floater" data-start-fen="7K/8/k1P5/7p/8/8/8/8 w - - 0 1"></div>
<div class="score">
 <span class="line0" onclick='loadMove("7K/8/k1P5/7p/8/8/8/8 w - - 0 1", this, ""); '>[...]</span> 
<h2>ENDGAME STUDY SOLUTIONS</h2>
<p>No. 1.
 <span onclick='loadMove("8/6K1/k1P5/7p/8/8/8/8 b - - 0 1", this, "h8g7"); ' class="line0">1.Kg7</span> 
 <span onclick='loadMove("8/6K1/1kP5/7p/8/8/8/8 w - - 0 2", this, "a6b6"); ' class="line0">Kb6</span> 
 <span onclick='loadMove("8/8/1kP2K2/7p/8/8/8/8 b - - 0 2", this, "g7f6"); ' class="line0">2.Kf6</span> 
 <span onclick='loadMove("8/8/1kP2K2/8/7p/8/8/8 w - - 0 3", this, "h5h4"); ' class="line0">h4</span> 
 <span onclick='loadMove("8/8/1kP5/4K3/7p/8/8/8 b - - 0 3", this, "f6e5"); ' class="line0">3.Ke5</span> 
 <span onclick='loadMove("8/8/1kP5/4K3/8/7p/8/8 w - - 0 4", this, "h4h3"); ' class="line0">h3</span> 
 <span onclick='loadMove("8/8/1kPK4/8/8/7p/8/8 b - - 0 4", this, "e5d6"); ' class="line0">4.Kd6</span> 
 <span onclick='loadMove("8/8/1kPK4/8/8/8/7p/8 w - - 0 5", this, "h3h2"); ' class="line0">h2</span> 
 <span onclick='loadMove("8/2P5/1k1K4/8/8/8/7p/8 b - - 0 5", this, "c6c7"); ' class="line0">5.c7</span> 
, and both sides queen pawns with a drawn ending.</p>
<p>
 <span onclick='loadMove("8/6K1/k1P5/8/7p/8/8/8 w - - 0 2", this, "h5h4"); ' class="line1">1...h4</span> 
 <span onclick='loadMove("8/8/k1P2K2/8/7p/8/8/8 b - - 0 2", this, "g7f6"); ' class="line1">2.Kf6</span> 
 <span onclick='loadMove("8/8/1kP2K2/8/7p/8/8/8 w - - 0 3", this, "a6b6"); ' class="line1">Kb6</span> 
 <span onclick='loadMove("8/8/1kP5/4K3/7p/8/8/8 b - - 0 3", this, "f6e5"); ' class="line1">3.Ke5</span> 
, and draws as above.</p>
<p>
 <span onclick='loadMove("8/8/k1P2K2/8/8/7p/8/8 w - - 0 3", this, "h4h3"); ' class="line2">2...h3</span> 
 <span onclick='loadMove("8/8/k1P1K3/8/8/7p/8/8 b - - 0 3", this, "f6e6"); ' class="line2">3.Ke6</span> 
or
 <span onclick='loadMove("8/4K3/k1P5/8/8/7p/8/8 b - - 0 3", this, "f6e7"); ' class="line2">3.Ke7</span> 
, and draws.</p>
</div> <!-- score -->
</div> <!-- section -->

<div class="section">
<div class="chessBoard small floater" data-start-fen="8/8/5N2/B1pK4/1p6/k7/8/8 w - - 0 1"></div>
<div class="score">
 <span class="line0" onclick='loadMove("8/8/5N2/B1pK4/1p6/k7/8/8 w - - 0 1", this, ""); '>[...]</span> 
<p>No. 2.
 <span onclick='loadMove("8/8/5N2/B1p5/1p2K3/k7/8/8 b - - 0 1", this, "d5e4"); ' class="line0">1.Ke4</span> 
 <span onclick='loadMove("8/8/5N2/B1p5/4K3/kp6/8/8 w - - 0 2", this, "b4b3"); ' class="line0">b3</span> 
 <span onclick='loadMove("8/8/8/B1pN4/4K3/kp6/8/8 b - - 0 2", this, "f6d5"); ' class="line0">2.Nd5</span> 
 <span onclick='loadMove("8/8/8/B1pN4/4K3/k7/1p6/8 w - - 0 3", this, "b3b2"); ' class="line0">b2</span> 
 <span onclick='loadMove("8/8/8/B1p5/4K3/k1N5/1p6/8 b - - 0 3", this, "d5c3"); ' class="line0">3.Nc3</span> 
 <span onclick='loadMove("8/8/8/B1p5/4K3/1kN5/1p6/8 w - - 0 4", this, "a3b3"); ' class="line0">Kb3</span> 
 <span onclick='loadMove("8/8/8/B1p5/8/1kNK4/1p6/8 b - - 0 4", this, "e4d3"); ' class="line0">4.Kd3</span> 
, and wins. The point of the ending is that other first moves by White allow Black to obtain a draw by stalemate.
If
 <span onclick='loadMove("8/8/8/B1pK4/1p2N3/k7/8/8 b - - 0 1", this, "f6e4"); ' class="line1">1.Ne4</span> 
 <span onclick='loadMove("8/8/8/B1pK4/4N3/kp6/8/8 w - - 0 2", this, "b4b3"); ' class="line1">b3</span> 
 <span onclick='loadMove("8/8/8/B1p5/2K1N3/kp6/8/8 b - - 0 2", this, "d5c4"); ' class="line1">2.Kc4</span> 
 <span onclick='loadMove("8/8/8/B1p5/2K1N3/k7/1p6/8 w - - 0 3", this, "b3b2"); ' class="line1">b2</span> 
 <span onclick='loadMove("8/8/8/B1p5/2K5/k1N5/1p6/8 b - - 0 3", this, "e4c3"); ' class="line1">3.Nc3</span> 
 <span onclick='loadMove("8/8/8/B1p5/2K5/k1N5/8/1q6 w - - 0 4", this, "b2b1"); ' class="line1">b1Q</span> 
 <span onclick='loadMove("8/8/8/B1p5/2K5/k7/8/1N6 b - - 0 4", this, "c3b1"); ' class="line1">4.Nxb1+</span> 
 <span onclick='loadMove("8/8/8/B1p5/k1K5/8/8/1N6 w - - 0 5", this, "a3a4"); ' class="line1">Ka4</span> 
5. <b>Bishop moves</b>, and Black is stalemate.
Similarly, if
 <span onclick='loadMove("8/8/5N2/B1p5/1pK5/k7/8/8 b - - 0 1", this, "d5c4"); ' class="line1">1.Kc4</span> 
 <span onclick='loadMove("8/8/5N2/B1p5/2K5/kp6/8/8 w - - 0 2", this, "b4b3"); ' class="line1">b3</span> 
 <span onclick='loadMove("8/8/8/B1p5/2K1N3/kp6/8/8 b - - 0 2", this, "f6e4"); ' class="line1">2.Ne4</span> 
 <span onclick='loadMove("8/8/8/B1p5/2K1N3/k7/1p6/8 w - - 0 3", this, "b3b2"); ' class="line1">b2</span> 
, entering into the same variation as above.</p>
</div> <!-- score -->
</div> <!-- section -->

<div class="section">
<div class="chessBoard small floater" data-start-fen="8/p7/8/1P2K3/P6P/5b2/5k2/8 w - - 0 1"></div>
<div class="score">
 <span class="line0" onclick='loadMove("8/p7/8/1P2K3/P6P/5b2/5k2/8 w - - 0 1", this, ""); '>[...]</span> 
<p>No. 3.
 <span onclick='loadMove("8/p7/8/1P3K2/P6P/5b2/5k2/8 b - - 0 1", this, "e5f5"); ' class="line0">1.Kf5!</span> 
 <span onclick='loadMove("8/p7/8/1P3K2/P6P/8/4bk2/8 w - - 0 2", this, "f3e2"); ' class="line0">Be2</span> 
 <span onclick='loadMove("8/p7/8/1P6/P4K1P/8/4bk2/8 b - - 0 2", this, "f5f4"); ' class="line0">2.Kf4</span> 
, and now Black is in zugzwang. A Bishop move would allow one of the pawns to advance and a King move takes the black King too far away from the Q side pawns, so that White can play <b>Kg5</b> and force the KBP forward, winning the Bishop, when one of his Q side pawns will queen.</p>
<p>If
 <span onclick='loadMove("8/p7/8/1P3K2/P6P/4kb2/8/8 w - - 0 2", this, "f2e3"); ' class="line1">1...Ke3</span> 
 <span onclick='loadMove("8/p7/8/PP3K2/7P/4kb2/8/8 b - - 0 2", this, "a4a5"); ' class="line1">2.a5</span> 
 <span onclick='loadMove("8/p7/8/PP3K2/3k3P/5b2/8/8 w - - 0 3", this, "e3d4"); ' class="line1">Kd4</span> 
 <span onclick='loadMove("8/p7/1P6/P4K2/3k3P/5b2/8/8 b - - 0 3", this, "b5b6"); ' class="line1">3.b6</span> 
 <span onclick='loadMove("8/8/1p6/P4K2/3k3P/5b2/8/8 w - - 0 4", this, "a7b6"); ' class="line1">ab</span> 
 <span onclick='loadMove("8/8/1P6/5K2/3k3P/5b2/8/8 b - - 0 4", this, "a5b6"); ' class="line1">4.ab</span> 
 <span onclick='loadMove("8/8/1P6/2k2K2/7P/5b2/8/8 w - - 0 5", this, "d4c5"); ' class="line1">Kc5</span> 
 <span onclick='loadMove("8/8/1P6/2k5/5K1P/5b2/8/8 b - - 0 5", this, "f5f4"); ' class="line1">5.Kf4</span> 
 <span onclick='loadMove("8/8/1P6/2kb4/5K1P/8/8/8 w - - 0 6", this, "f3d5"); ' class="line1">Bd5</span> 
 <span onclick='loadMove("8/8/1P6/2kbK3/7P/8/8/8 b - - 0 6", this, "f4e5"); ' class="line1">6.Ke5</span> 
 <span onclick='loadMove("8/8/1P6/2k1K3/7P/5b2/8/8 w - - 0 7", this, "d5f3"); ' class="line1">Bf3</span> 
 <span onclick='loadMove("8/8/1P6/2k1K2P/8/5b2/8/8 b - - 0 7", this, "h4h5"); ' class="line1">7.h5</span> 
, and neither pawn can be taken without allowing the other to queen.</p>
<p>If
 <span onclick='loadMove("8/p7/8/1P3K2/P6P/5bk1/8/8 w - - 0 2", this, "f2g3"); ' class="line1">1...Kg3</span> 
 <span onclick='loadMove("8/p7/8/1P4K1/P6P/5bk1/8/8 b - - 0 2", this, "f5g5"); ' class="line1">2.Kg5</span> 
 <span onclick='loadMove("8/p7/8/1P4K1/P6P/6k1/4b3/8 w - - 0 3", this, "f3e2"); ' class="line1">Be2</span> 
 <span onclick='loadMove("8/p7/8/1P4KP/P7/6k1/4b3/8 b - - 0 3", this, "h4h5"); ' class="line1">3.h5</span> 
 <span onclick='loadMove("8/p7/8/1P4KP/P7/8/4bk2/8 w - - 0 4", this, "g3f2"); ' class="line1">Kf2</span> 
 <span onclick='loadMove("8/p7/7P/1P4K1/P7/8/4bk2/8 b - - 0 4", this, "h5h6"); ' class="line1">4.h6</span> 
 <span onclick='loadMove("8/p7/7P/1P4K1/P7/3b4/5k2/8 w - - 0 5", this, "e2d3"); ' class="line1">Bd3</span> 
 <span onclick='loadMove("8/p7/7P/PP4K1/8/3b4/5k2/8 b - - 0 5", this, "a4a5"); ' class="line1">5.a5</span> 
. This gives the zugzwang picture as far as the attack is concerned; but there is also a zugzwang defence.</p>
<p>If White plays at once
 <span onclick='loadMove("8/p7/8/1P6/P4K1P/5b2/5k2/8 b - - 0 1", this, "e5f4"); ' class="line1">1.Kf4</span> 
, then
 <span onclick='loadMove("8/p7/8/1P6/P4K1P/8/4bk2/8 w - - 0 2", this, "f3e2"); ' class="line1">1...Be2</span> 
, and now White is in zugzwang himself. Any pawn move loses a pawn, whilst if
 <span onclick='loadMove("8/p7/8/1P6/P3K2P/8/4bk2/8 b - - 0 2", this, "f4e4"); ' class="line1">2.Ke4</span> 
 <span onclick='loadMove("8/p7/8/1P6/P3K2P/6k1/4b3/8 w - - 0 3", this, "f2g3"); ' class="line1">Kg3</span> 
, and if
 <span onclick='loadMove("8/p7/8/1P4K1/P6P/8/4bk2/8 b - - 0 2", this, "f4g5"); ' class="line1">2.Kg5</span> 
 <span onclick='loadMove("8/p7/8/1P4K1/P6P/4k3/4b3/8 w - - 0 3", this, "f2e3"); ' class="line1">Ke3</span> 
, draws.</p>
</div> <!-- score -->
</div> <!-- section -->

<div class="section">
<div class="chessBoard small floater" data-start-fen="4k3/8/3p4/p6K/P5P1/8/8/8 w - - 0 1"></div>
<div class="score">
 <span class="line0" onclick='loadMove("4k3/8/3p4/p6K/P5P1/8/8/8 w - - 0 1", this, ""); '>[...]</span> 
<p>No. 4.
 <span onclick='loadMove("4k3/8/3p4/p5K1/P5P1/8/8/8 b - - 0 1", this, "h5g5"); ' class="line0">1.Kg5</span> 
 <span onclick='loadMove("8/5k2/3p4/p5K1/P5P1/8/8/8 w - - 0 2", this, "e8f7"); ' class="line0">Kf7</span> 
 <span onclick='loadMove("8/5k2/3p4/p4K2/P5P1/8/8/8 b - - 0 2", this, "g5f5"); ' class="line0">2.Kf5</span> 
 <span onclick='loadMove("8/4k3/3p4/p4K2/P5P1/8/8/8 w - - 0 3", this, "f7e7"); ' class="line0">Ke7</span> 
 <span onclick='loadMove("8/4k3/3p2K1/p7/P5P1/8/8/8 b - - 0 3", this, "f5g6"); ' class="line0">3.Kg6</span> 
 <span onclick='loadMove("8/8/3pk1K1/p7/P5P1/8/8/8 w - - 0 4", this, "e7e6"); ' class="line0">Ke6</span> 
 <span onclick='loadMove("8/8/3pk1K1/p5P1/P7/8/8/8 b - - 0 4", this, "g4g5"); ' class="line0">4.g5</span> 
, and wins, since his pawn queens with check before Black's QP gets to the 8th.
If
 <span onclick='loadMove("8/4k3/6K1/p2p4/P5P1/8/8/8 w - - 0 4", this, "d6d5"); ' class="line1">3...d5</span> 
 <span onclick='loadMove("8/4k3/8/p2p1K2/P5P1/8/8/8 b - - 0 4", this, "g6f5"); ' class="line1">4.Kf5</span> 
 <span onclick='loadMove("8/8/3k4/p2p1K2/P5P1/8/8/8 w - - 0 5", this, "e7d6"); ' class="line1">Kd6</span> 
 <span onclick='loadMove("8/8/3k4/p2p1KP1/P7/8/8/8 b - - 0 5", this, "g4g5"); ' class="line1">5.g5</span> 
, and wins, as the black King must go after the KNP and cannot get back in time to place itself in front of White's QRP. These two variations show the two ideas mentioned on p. 104.</p>
<p>
 <span onclick='loadMove("8/4k3/3p4/p5K1/P5P1/8/8/8 w - - 0 2", this, "e8e7"); ' class="line1">1...Ke7</span> 
 <span onclick='loadMove("8/4k3/3p2K1/p7/P5P1/8/8/8 b - - 0 2", this, "g5g6"); ' class="line1">2.Kg6</span> 
transposes into the first variation given above.</p>
<p>Note that a straightforward rush for the QP leads to a draw by
 <span onclick='loadMove("4k3/8/3p2K1/p7/P5P1/8/8/8 b - - 0 1", this, "h5g6"); ' class="line1">1.Kg6</span> 
 <span onclick='loadMove("8/4k3/3p2K1/p7/P5P1/8/8/8 w - - 0 2", this, "e8e7"); ' class="line1">Ke7</span> 
 <span onclick='loadMove("8/4k3/3p4/p4K2/P5P1/8/8/8 b - - 0 2", this, "g6f5"); ' class="line1">2.Kf5</span> 
 <span onclick='loadMove("8/5k2/3p4/p4K2/P5P1/8/8/8 w - - 0 3", this, "e7f7"); ' class="line1">Kf7</span> 
 <span onclick='loadMove("8/5k2/3p4/p7/P3K1P1/8/8/8 b - - 0 3", this, "f5e4"); ' class="line1">3.Ke4</span> 
 <span onclick='loadMove("8/8/3p2k1/p7/P3K1P1/8/8/8 w - - 0 4", this, "f7g6"); ' class="line1">Kg6</span> 
<!--p>167</p-->
<!--p>168</p><p>RTI'S BEST GAMES OF CHESS</p-->
 <span onclick='loadMove("8/8/3p2k1/p2K4/P5P1/8/8/8 b - - 0 4", this, "e4d5"); ' class="line1">4.Kd5</span> 
 <span onclick='loadMove("8/8/3p4/p2K2k1/P5P1/8/8/8 w - - 0 5", this, "g6g5"); ' class="line1">Kg5</span> 
 <span onclick='loadMove("8/8/3K4/p5k1/P5P1/8/8/8 b - - 0 5", this, "d5d6"); ' class="line1">5.Kxd6</span> 
 <span onclick='loadMove("8/8/3K4/p7/P5k1/8/8/8 w - - 0 6", this, "g5g4"); ' class="line1">Kxg4</span> 
 <span onclick='loadMove("8/8/8/p1K5/P5k1/8/8/8 b - - 0 6", this, "d6c5"); ' class="line1">6.Kc5</span> 
 <span onclick='loadMove("8/8/8/p1K2k2/P7/8/8/8 w - - 0 7", this, "g4f5"); ' class="line1">Kf5</span> 
 <span onclick='loadMove("8/8/8/pK3k2/P7/8/8/8 b - - 0 7", this, "c5b5"); ' class="line1">7.Kb5</span> 
 <span onclick='loadMove("8/8/4k3/pK6/P7/8/8/8 w - - 0 8", this, "f5e6"); ' class="line1">Ke6</span> 
 <span onclick='loadMove("8/8/4k3/K7/P7/8/8/8 b - - 0 8", this, "b5a5"); ' class="line1">8.Kxa5</span> 
 <span onclick='loadMove("8/3k4/8/K7/P7/8/8/8 w - - 0 9", this, "e6d7"); ' class="line1">Kd7</span> 
 <span onclick='loadMove("8/3k4/1K6/8/P7/8/8/8 b - - 0 9", this, "a5b6"); ' class="line1">9.Kb6</span> 
 <span onclick='loadMove("2k5/8/1K6/8/P7/8/8/8 w - - 0 10", this, "d7c8"); ' class="line1">Kc8</span> 
.</p>
<p>Equally, the ending is drawn if White attempts to force through his pawn to queen by
 <span onclick='loadMove("4k3/8/3p2K1/p7/P5P1/8/8/8 b - - 0 1", this, "h5g6"); ' class="line1">1.Kg6</span> 
 <span onclick='loadMove("8/4k3/3p2K1/p7/P5P1/8/8/8 w - - 0 2", this, "e8e7"); ' class="line1">Ke7</span> 
 <span onclick='loadMove("8/4k3/3p2K1/p5P1/P7/8/8/8 b - - 0 2", this, "g4g5"); ' class="line1">2.g5</span> 
 <span onclick='loadMove("8/4k3/6K1/p2p2P1/P7/8/8/8 w - - 0 3", this, "d6d5"); ' class="line1">d5</span> 
 <span onclick='loadMove("8/4k2K/8/p2p2P1/P7/8/8/8 b - - 0 3", this, "g6h7"); ' class="line1">3.Kh7</span> 
 <span onclick='loadMove("8/4k2K/8/p5P1/P2p4/8/8/8 w - - 0 4", this, "d5d4"); ' class="line1">d4</span> 
 <span onclick='loadMove("8/4k2K/6P1/p7/P2p4/8/8/8 b - - 0 4", this, "g5g6"); ' class="line1">4.g6</span> 
 <span onclick='loadMove("8/4k2K/6P1/p7/P7/3p4/8/8 w - - 0 5", this, "d4d3"); ' class="line1">d3</span> 
 <span onclick='loadMove("8/4k1PK/8/p7/P7/3p4/8/8 b - - 0 5", this, "g6g7"); ' class="line1">5.g7</span> 
 <span onclick='loadMove("8/4k1PK/8/p7/P7/8/3p4/8 w - - 0 6", this, "d3d2"); ' class="line1">d2</span> 
 <span onclick='loadMove("6Q1/4k2K/8/p7/P7/8/3p4/8 b - - 0 6", this, "g7g8"); ' class="line1">6.g8Q</span> 
 <span onclick='loadMove("6Q1/4k2K/8/p7/P7/8/8/3q4 w - - 0 7", this, "d2d1"); ' class="line1">d1Q</span> 
.</p>
</div> <!-- score -->
</div> <!-- section -->

<div class="section">
<div class="chessBoard small floater" data-start-fen="8/1B6/8/8/6pp/7p/4K2k/1N6 w - - 0 1"></div>
<div class="score">
 <span class="line0" onclick='loadMove("8/1B6/8/8/6pp/7p/4K2k/1N6 w - - 0 1", this, ""); '>[...]</span> 
<p>No. 5.
 <span onclick='loadMove("8/1B6/8/8/6pp/7p/7k/1N2K3 b - - 0 1", this, "e2e1"); ' class="line0">1.Ke1!</span> 
 <span onclick='loadMove("8/1B6/8/8/7p/6pp/7k/1N2K3 w - - 0 2", this, "g4g3"); ' class="line0">g3</span> 
 <span onclick='loadMove("8/1B6/8/8/7p/6pp/3N3k/4K3 b - - 0 2", this, "b1d2"); ' class="line0">2.Nd2</span> 
 <span onclick='loadMove("8/1B6/8/8/7p/7p/3N2pk/4K3 w - - 0 3", this, "g3g2"); ' class="line0">g2</span> 
 <span onclick='loadMove("8/1B6/8/8/7p/5N1p/6pk/4K3 b - - 0 3", this, "d2f3"); ' class="line0">3.Nf3+</span> 
 <span onclick='loadMove("8/1B6/8/8/7p/5Nkp/6p1/4K3 w - - 0 4", this, "h2g3"); ' class="line0">Kg3</span> 
 <span onclick='loadMove("8/1B6/8/8/7p/6kp/6p1/4K1N1 b - - 0 4", this, "f3g1"); ' class="line0">4.Ng1</span> 
 <span onclick='loadMove("8/1B6/8/8/7p/6k1/6pp/4K1N1 w - - 0 5", this, "h3h2"); ' class="line0">h2</span> 
(or
 <span onclick='loadMove("8/1B6/8/8/6kp/7p/6p1/4K1N1 w - - 0 5", this, "g3g4"); ' class="line1">4...Kg4</span> 
 <span onclick='loadMove("2B5/8/8/8/6kp/7p/6p1/4K1N1 b - - 0 5", this, "b7c8"); ' class="line1">5.Bc8+</span> 
, followed by <b>Bxh3</b>)
 <span onclick='loadMove("8/1B6/8/8/7p/6k1/4N1pp/4K3 b - - 0 5", this, "g1e2"); ' class="line0">5.Ne2+</span> 
 <span onclick='loadMove("8/1B6/8/8/7p/7k/4N1pp/4K3 w - - 0 6", this, "g3h3"); ' class="line0">Kh3</span> 
(otherwise <b>Bxg2</b>)
 <span onclick='loadMove("2B5/8/8/8/7p/7k/4N1pp/4K3 b - - 0 6", this, "b7c8"); ' class="line0">6.Bc8</span> 
mate.
If in this variation
 <span onclick='loadMove("8/1B6/8/8/7p/6pp/3N4/4K1k1 w - - 0 3", this, "h2g1"); ' class="line1">2...Kg1</span> 
 <span onclick='loadMove("8/1B6/8/8/7p/5Npp/8/4K1k1 b - - 0 3", this, "d2f3"); ' class="line1">3.Nf3+</span> 
 <span onclick='loadMove("8/1B6/8/8/7p/5Npp/6k1/4K3 w - - 0 4", this, "g1g2"); ' class="line1">Kg2</span> 
 <span onclick='loadMove("8/8/2B5/8/7p/5Npp/6k1/4K3 b - - 0 4", this, "b7c6"); ' class="line1">4.Bc6</span> 
 <span onclick='loadMove("8/8/2B5/8/7p/5Npp/8/4K2k w - - 0 5", this, "g2h1"); ' class="line1">Kh1</span> 
(or
 <span onclick='loadMove("8/8/2B5/8/7p/5Np1/6kp/4K3 w - - 0 5", this, "h3h2"); ' class="line2">4...h2</span> 
 <span onclick='loadMove("8/8/2B5/6N1/7p/6p1/6kp/4K3 b - - 0 5", this, "f3g5"); ' class="line2">5.Ng5+</span> 
 <span onclick='loadMove("8/8/2B5/6N1/7p/6p1/7p/4K1k1 w - - 0 6", this, "g2g1"); ' class="line2">Kg1</span> 
 <span onclick='loadMove("8/8/2B5/8/7p/6pN/7p/4K1k1 b - - 0 6", this, "g5h3"); ' class="line2">6.Nh3</span> 
mate)
 <span onclick='loadMove("8/8/2B5/8/7p/5Npp/8/5K1k b - - 0 5", this, "e1f1"); ' class="line1">5.Kf1</span> 
 <span onclick='loadMove("8/8/2B5/8/7p/5N1p/6p1/5K1k w - - 0 6", this, "g3g2"); ' class="line1">g2+</span> 
 <span onclick='loadMove("8/8/2B5/8/7p/5N1p/5Kp1/7k b - - 0 6", this, "f1f2"); ' class="line1">6.Kf2</span> 
 <span onclick='loadMove("8/8/2B5/8/7p/5N2/5Kpp/7k w - - 0 7", this, "h3h2"); ' class="line1">h2</span> 
 <span onclick='loadMove("8/8/2B5/8/7p/8/5Kpp/4N2k b - - 0 7", this, "f3e1"); ' class="line1">7.Ne1</span> 
 <span onclick='loadMove("8/8/2B5/8/8/7p/5Kpp/4N2k w - - 0 8", this, "h4h3"); ' class="line1">h3</span> 
 <span onclick='loadMove("8/8/2B5/8/8/7p/5KNp/7k b - - 0 8", this, "e1g2"); ' class="line1">8.Nxg2</span> 
 <span onclick='loadMove("8/8/2B5/8/8/8/5Kpp/7k w - - 0 9", this, "h3g2"); ' class="line1">hg</span> 
 <span onclick='loadMove("8/8/8/8/8/8/5KBp/7k b - - 0 9", this, "c6g2"); ' class="line1">9.Bxg2</span> 
mate.</p>
<p>
 <span onclick='loadMove("8/1B6/8/8/6pp/7p/8/1N2K1k1 w - - 0 2", this, "h2g1"); ' class="line1">1...Kg1</span> 
 <span onclick='loadMove("8/1B6/8/8/6pp/2N4p/8/4K1k1 b - - 0 2", this, "b1c3"); ' class="line1">2.Nc3</span> 
 <span onclick='loadMove("8/1B6/8/8/6pp/2N5/7p/4K1k1 w - - 0 3", this, "h3h2"); ' class="line1">h2</span> 
 <span onclick='loadMove("8/1B6/8/8/6pp/8/4N2p/4K1k1 b - - 0 3", this, "c3e2"); ' class="line1">3.Ne2</span> 
mate. This line shows why <b>Ke1</b> is necessary: the e2 square must be vacated for the Knight, but at the same time the squares f2 and f1 must be prohibited to the black King.</p>
</div> <!-- score -->
</div> <!-- section -->

<div class="section">
<div class="chessBoard small floater" data-start-fen="7R/4r2P/1p6/5p2/1K6/2P1k3/8/8 w - - 0 1"></div>
<div class="score">
 <span class="line0" onclick='loadMove("7R/4r2P/1p6/5p2/1K6/2P1k3/8/8 w - - 0 1", this, ""); '>[...]</span> 
<p>No. 6.
 <span onclick='loadMove("7R/4r2P/1p6/1K3p2/8/2P1k3/8/8 b - - 0 1", this, "b4b5"); ' class="line0">1.Kb5</span> 
 <span onclick='loadMove("7R/4r2P/1p6/1K6/5p2/2P1k3/8/8 w - - 0 2", this, "f5f4"); ' class="line0">f4</span> 
 <span onclick='loadMove("7R/4r2P/1pK5/8/5p2/2P1k3/8/8 b - - 0 2", this, "b5c6"); ' class="line0">2.Kc6</span> 
(not
 <span onclick='loadMove("7R/4r2P/1K6/8/5p2/2P1k3/8/8 b - - 0 2", this, "b5b6"); ' class="line1">2.Kxb6</span> 
 <span onclick='loadMove("7R/4r2P/1K6/8/8/2P1kp2/8/8 w - - 0 3", this, "f4f3"); ' class="line1">f3</span> 
, when the game is drawn)
 <span onclick='loadMove("7R/4r2P/1pK5/8/5p2/2P5/5k2/8 w - - 0 3", this, "e3f2"); ' class="line0">2...Kf2</span> 
(if now
 <span onclick='loadMove("7R/4r2P/1pK5/8/8/2P1kp2/8/8 w - - 0 3", this, "f4f3"); ' class="line1">2...f3</span> 
 <span onclick='loadMove("7R/4r2P/1p1K4/8/8/2P1kp2/8/8 b - - 0 3", this, "c6d6"); ' class="line1">3.Kd6</span> 
 <span onclick='loadMove("7R/4r2P/1p1K4/8/8/2P1k3/5p2/8 w - - 0 4", this, "f3f2"); ' class="line1">f2</span> 
 <span onclick='loadMove("7R/4K2P/1p6/8/8/2P1k3/5p2/8 b - - 0 4", this, "d6e7"); ' class="line1">4.Kxe7</span> 
 <span onclick='loadMove("7R/4K2P/1p6/8/8/2P1k3/8/5q2 w - - 0 5", this, "f2f1"); ' class="line1">f1Q</span> 
 <span onclick='loadMove("5R2/4K2P/1p6/8/8/2P1k3/8/5q2 b - - 0 5", this, "h8f8"); ' class="line1">5.Rf8</span> 
, and wins)
 <span onclick='loadMove("7R/4r2P/1K6/8/5p2/2P5/5k2/8 b - - 0 3", this, "c6b6"); ' class="line0">3.Kxb6</span> 
 <span onclick='loadMove("7R/4r2P/1K6/8/8/2P2p2/5k2/8 w - - 0 4", this, "f4f3"); ' class="line0">f3</span> 
 <span onclick='loadMove("7R/4r2P/2K5/8/8/2P2p2/5k2/8 b - - 0 4", this, "b6c6"); ' class="line0">4.Kc6</span> 
(not
 <span onclick='loadMove("7R/4r2P/1K6/8/2P5/5p2/5k2/8 b - - 0 4", this, "c3c4"); ' class="line1">4.c4</span> 
 <span onclick='loadMove("7R/4r2P/1K6/8/2P5/5p2/4k3/8 w - - 0 5", this, "f2e2"); ' class="line1">Ke2</span> 
 <span onclick='loadMove("7R/4r2P/2K5/8/2P5/5p2/4k3/8 b - - 0 5", this, "b6c6"); ' class="line1">5.Kc6</span> 
 <span onclick='loadMove("7R/4r2P/2K5/8/2P5/8/4kp2/8 w - - 0 6", this, "f3f2"); ' class="line1">f2</span> 
 <span onclick='loadMove("7R/4r2P/3K4/8/2P5/8/4kp2/8 b - - 0 6", this, "c6d6"); ' class="line1">6.Kd6</span> 
 <span onclick='loadMove("7R/7r/3K4/8/2P5/8/4kp2/8 w - - 0 7", this, "e7h7"); ' class="line1">Rxh7!</span> 
)
 <span onclick='loadMove("7R/5r1P/2K5/8/8/2P2p2/5k2/8 w - - 0 5", this, "e7f7"); ' class="line0">4...Rf7</span> 
(if
 <span onclick='loadMove("7R/4r2P/2K5/8/8/2P2p2/4k3/8 w - - 0 5", this, "f2e2"); ' class="line1">4...Ke2</span> 
 <span onclick='loadMove("7R/4r2P/3K4/8/8/2P2p2/4k3/8 b - - 0 5", this, "c6d6"); ' class="line1">5.Kd6</span> 
, with a similar variation to that given in the first note.
Or if
 <span onclick='loadMove("7R/4r2P/2K5/8/8/2P2p2/8/5k2 w - - 0 5", this, "f2f1"); ' class="line1">4...Kf1</span> 
 <span onclick='loadMove("5R2/4r2P/2K5/8/8/2P2p2/8/5k2 b - - 0 5", this, "h8f8"); ' class="line1">5.Rf8</span> 
, wins at once)
 <span onclick='loadMove("7R/5r1P/3K4/8/8/2P2p2/5k2/8 b - - 0 5", this, "c6d6"); ' class="line0">5.Kd6</span> 
(other moves allow Black to play <b>Kf1</b>, e.g.
 <span onclick='loadMove("7R/5r1P/2K5/8/2P5/5p2/5k2/8 b - - 0 5", this, "c3c4"); ' class="line1">5.c4</span> 
 <span onclick='loadMove("7R/5r1P/2K5/8/2P5/5p2/8/5k2 w - - 0 6", this, "f2f1"); ' class="line1">Kf1</span> 
 <span onclick='loadMove("7R/5r1P/2K5/2P5/8/5p2/8/5k2 b - - 0 6", this, "c4c5"); ' class="line1">6.c5</span> 
 <span onclick='loadMove("7R/5r1P/2K5/2P5/8/8/5p2/5k2 w - - 0 7", this, "f3f2"); ' class="line1">f2</span> 
 <span onclick='loadMove("7R/5r1P/3K4/2P5/8/8/5p2/5k2 b - - 0 7", this, "c6d6"); ' class="line1">7.Kd6</span> 
 <span onclick='loadMove("7R/7P/3K1r2/2P5/8/8/5p2/5k2 w - - 0 8", this, "f7f6"); ' class="line1">Rf6+</span> 
 <span onclick='loadMove("7R/7P/5r2/2PK4/8/8/5p2/5k2 b - - 0 8", this, "d6d5"); ' class="line1">8.Kd5</span> 
 <span onclick='loadMove("7R/7P/5r2/2PK4/8/8/5p2/4k3 w - - 0 9", this, "f1e1"); ' class="line1">Ke1</span> 
 <span onclick='loadMove("4R3/7P/5r2/2PK4/8/8/5p2/4k3 b - - 0 9", this, "h8e8"); ' class="line1">9.Re8+</span> 
 <span onclick='loadMove("4R3/7P/5r2/2PK4/8/8/3k1p2/8 w - - 0 10", this, "e1d2"); ' class="line1">Kd2</span> 
 <span onclick='loadMove("4R2Q/8/5r2/2PK4/8/8/3k1p2/8 b - - 0 10", this, "h7h8"); ' class="line1">10.h8Q</span> 
 <span onclick='loadMove("4R2Q/8/5r2/2PK4/8/8/3k4/5q2 w - - 0 11", this, "f2f1"); ' class="line1">f1Q</span> 
 <span onclick='loadMove("4R3/8/5r2/2PK4/8/8/3k3Q/5q2 b - - 0 11", this, "h8h2"); ' class="line1">11.Qh2+</span> 
 <span onclick='loadMove("4R3/8/5r2/2PK4/8/8/7Q/2k2q2 w - - 0 12", this, "d2c1"); ' class="line1">Kc1</span> 
)
 <span onclick='loadMove("7R/7P/3K1r2/8/8/2P2p2/5k2/8 w - - 0 6", this, "f7f6"); ' class="line0">5...Rf6+</span> 
(
 <span onclick='loadMove("7R/5r1P/3K4/8/8/2P2p2/8/5k2 w - - 0 6", this, "f2f1"); ' class="line1">5...Kf1</span> 
is now met by
 <span onclick='loadMove("7R/5r1P/4K3/8/8/2P2p2/8/5k2 b - - 0 6", this, "d6e6"); ' class="line1">6.Ke6</span> 
,
and if
 <span onclick='loadMove("7R/r6P/3K4/8/8/2P2p2/5k2/8 w - - 0 6", this, "f7a7"); ' class="line1">5...Ra7</span> 
 <span onclick='loadMove("7R/r6P/3K4/8/2P5/5p2/5k2/8 b - - 0 6", this, "c3c4"); ' class="line1">6.c4</span> 
 <span onclick='loadMove("7R/r6P/3K4/8/2P5/5p2/8/5k2 w - - 0 7", this, "f2f1"); ' class="line1">Kf1</span> 
 <span onclick='loadMove("5R2/r6P/3K4/8/2P5/5p2/8/5k2 b - - 0 7", this, "h8f8"); ' class="line1">7.Rf8</span> 
, wins)
 <span onclick='loadMove("7R/7P/5r2/3K4/8/2P2p2/5k2/8 b - - 0 6", this, "d6d5"); ' class="line0">6.Kd5</span> 
 <span onclick='loadMove("7R/7P/8/3K1r2/8/2P2p2/5k2/8 w - - 0 7", this, "f6f5"); ' class="line0">Rf5+</span> 
 <span onclick='loadMove("7R/7P/4K3/5r2/8/2P2p2/5k2/8 b - - 0 7", this, "d5e6"); ' class="line0">7.Ke6</span> 
 <span onclick='loadMove("7R/7P/4K3/7r/8/2P2p2/5k2/8 w - - 0 8", this, "f5h5"); ' class="line0">Rh5</span> 
(or
 <span onclick='loadMove("7R/7P/4K3/6r1/8/2P2p2/5k2/8 w - - 0 8", this, "f5g5"); ' class="line1">7...Rg5</span> 
 <span onclick='loadMove("5R2/7P/4K3/6r1/8/2P2p2/5k2/8 b - - 0 8", this, "h8f8"); ' class="line1">8.Rf8</span> 
)
 <span onclick='loadMove("7R/7P/3K4/7r/8/2P2p2/5k2/8 b - - 0 8", this, "e6d6"); ' class="line0">8.Kd6</span> 
(Black draws after
 <span onclick='loadMove("7R/7P/4K3/7r/2P5/5p2/5k2/8 b - - 0 8", this, "c3c4"); ' class="line1">8.c4</span> 
 <span onclick='loadMove("7R/7P/4K3/7r/2P5/4kp2/8/8 w - - 0 9", this, "f2e3"); ' class="line1">Ke3</span> 
 <span onclick='loadMove("7R/7P/3K4/7r/2P5/4kp2/8/8 b - - 0 9", this, "e6d6"); ' class="line1">9.Kd6</span> 
 <span onclick='loadMove("7R/7P/3K4/7r/2Pk4/5p2/8/8 w - - 0 10", this, "e3d4"); ' class="line1">Kd4</span> 
)
 <span onclick='loadMove("7R/7P/3K3r/8/8/2P2p2/5k2/8 w - - 0 9", this, "h5h6"); ' class="line0">8...Rh6+</span> 
 <span onclick='loadMove("7R/7P/7r/2K5/8/2P2p2/5k2/8 b - - 0 9", this, "d6c5"); ' class="line0">9.Kc5</span> 
 <span onclick='loadMove("7R/7P/8/2K4r/8/2P2p2/5k2/8 w - - 0 10", this, "h6h5"); ' class="line0">Rh5+</span> 
 <span onclick='loadMove("7R/7P/8/7r/1K6/2P2p2/5k2/8 b - - 0 10", this, "c5b4"); ' class="line0">10.Kb4</span> 
, and now White fends off the Rook checks and wins at the same time by advancing the BP.</p>
</div> <!-- score -->
</div> <!-- section -->

<div class="section">
<div class="chessBoard small floater" data-start-fen="r7/ppK2P1P/8/2P5/3k4/8/P7/8 w - - 0 1"></div>
<div class="score">
 <span class="line0" onclick='loadMove("r7/ppK2P1P/8/2P5/3k4/8/P7/8 w - - 0 1", this, ""); '>[...]</span> 
<p>No. 7.
 <span onclick='loadMove("r7/pp1K1P1P/8/2P5/3k4/8/P7/8 b - - 0 1", this, "c7d7"); ' class="line0">1.Kd7</span> 
(threatening <b>Ke6</b> and, if necessary, <b>Kf6</b> and <b>Kg7</b>)
 <span onclick='loadMove("7r/pp1K1P1P/8/2P5/3k4/8/P7/8 w - - 0 2", this, "a8h8"); ' class="line0">1...Rh8</span> 
 <span onclick='loadMove("7r/pp3P1P/3K4/2P5/3k4/8/P7/8 b - - 0 2", this, "d7d6"); ' class="line0">2.Kd6</span> 
(if
 <span onclick='loadMove("7r/pp2KP1P/8/2P5/3k4/8/P7/8 b - - 0 2", this, "d7e7"); ' class="line1">2.Ke7?</span> 
 <span onclick='loadMove("8/pp2KP1r/8/2P5/3k4/8/P7/8 w - - 0 3", this, "h8h7"); ' class="line1">Rxh7</span> 
, and Black wins)
 <span onclick='loadMove("7r/pp3P1P/3K4/2P5/2k5/8/P7/8 w - - 0 3", this, "d4c4"); ' class="line0">2...Kc4</span> 
 <span onclick='loadMove("7r/pp3P1P/2PK4/8/2k5/8/P7/8 b - - 0 3", this, "c5c6"); ' class="line0">3.c6</span> 
 <span onclick='loadMove("7r/p4P1P/2pK4/8/2k5/8/P7/8 w - - 0 4", this, "b7c6"); ' class="line0">bc</span> 
 <span onclick='loadMove("7r/p4P1P/2p5/4K3/2k5/8/P7/8 b - - 0 4", this, "d6e5"); ' class="line0">4.Ke5!</span> 
(threatening <b>Kf6</b> and <b>Kg7</b>. A mistake by which the wrong side would come into zugzwang is
 <span onclick='loadMove("7r/p4P1P/2p1K3/8/2k5/8/P7/8 b - - 0 4", this, "d6e6"); ' class="line1">4.Ke6?</span> 
 <span onclick='loadMove("7r/p4P1P/2p1K3/2k5/8/8/P7/8 w - - 0 5", this, "c4c5"); ' class="line1">Kc5</span> 
. Now the RPs can be moved up, but then White must move the King. If
 <span onclick='loadMove("7r/p4P1P/2p2K2/2k5/8/8/P7/8 b - - 0 5", this, "e6f6"); ' class="line1">5.Kf6</span> 
 <span onclick='loadMove("7r/p4P1P/2pk1K2/8/8/8/P7/8 w - - 0 6", this, "c5d6"); ' class="line1">Kd6</span> 
 <span onclick='loadMove("7r/p4PKP/2pk4/8/8/8/P7/8 b - - 0 6", this, "f6g7"); ' class="line1">6.Kg7</span> 
 <span onclick='loadMove("7r/p3kPKP/2p5/8/8/8/P7/8 w - - 0 7", this, "d6e7"); ' class="line1">Ke7</span> 
 <span onclick='loadMove("7K/p3kP1P/2p5/8/8/8/P7/8 b - - 0 7", this, "g7h8"); ' class="line1">7.Kxh8</span> 
 <span onclick='loadMove("7K/p4k1P/2p5/8/8/8/P7/8 w - - 0 8", this, "e7f7"); ' class="line1">Kxf7</span> 
, and the game is drawn. Or if
 <span onclick='loadMove("7r/p4P1P/2p5/2k1K3/8/8/P7/8 b - - 0 5", this, "e6e5"); ' class="line1">5.Ke5</span> 
 <span onclick='loadMove("1r6/p4P1P/2p5/2k1K3/8/8/P7/8 w - - 0 6", this, "h8b8"); ' class="line1">Rb8</span> 
 <span onclick='loadMove("1r6/p4P1P/2p2K2/2k5/8/8/P7/8 b - - 0 6", this, "e5f6"); ' class="line1">6.Kf6</span> 
 <span onclick='loadMove("1r6/p4P1P/2pk1K2/8/8/8/P7/8 w - - 0 7", this, "c5d6"); ' class="line1">Kd6</span> 
 <span onclick='loadMove("1r6/p4PKP/2pk4/8/8/8/P7/8 b - - 0 7", this, "f6g7"); ' class="line1">7.Kg7</span> 
 <span onclick='loadMove("1r6/p3kPKP/2p5/8/8/8/P7/8 w - - 0 8", this, "d6e7"); ' class="line1">Ke7</span> 
, and
<!--p>ENDGAME STUDY SOLUTIONS</p><p>169</p-->
Black wins)
 <span onclick='loadMove("7r/p4P1P/2p5/2k1K3/8/8/P7/8 w - - 0 5", this, "c4c5"); ' class="line0">4...Kc5</span> 
(preventing White from winning by
 <span onclick='loadMove("7r/p4P1P/2p2K2/2k5/8/8/P7/8 b - - 0 5", this, "e5f6"); ' class="line1">5.Kf6</span> 
, because of
 <span onclick='loadMove("7r/p4P1P/2pk1K2/8/8/8/P7/8 w - - 0 6", this, "c5d6"); ' class="line1">5...Kd6</span> 
)
 <span onclick='loadMove("7r/p4P1P/2p1K3/2k5/8/8/P7/8 b - - 0 5", this, "e5e6"); ' class="line0">5.Ke6!</span> 
(now Black is in zugzwang. Both sides move up their RPs and then, if Black moves his King, White wins by
 <span onclick='loadMove("7r/p4P1P/2p2K2/2k5/8/8/P7/8 b - - 0 5", this, "e5f6"); ' class="line1">5.Kf6</span> 
if he moves his Rook, say
 <span onclick='loadMove("1r6/p4P1P/2p2K2/2k5/8/8/P7/8 w - - 0 6", this, "h8b8"); ' class="line1">5...Rb8</span> 
 <span onclick='loadMove("1r6/p3KP1P/2p5/2k5/8/8/P7/8 b - - 0 6", this, "f6e7"); ' class="line1">6.Ke7</span> 
 <span onclick='loadMove("8/pr2KP1P/2p5/2k5/8/8/P7/8 w - - 0 7", this, "b8b7"); ' class="line1">Rb7+</span> 
 <span onclick='loadMove("5K2/pr3P1P/2p5/2k5/8/8/P7/8 b - - 0 7", this, "e7f8"); ' class="line1">7.Kf8</span> 
 <span onclick='loadMove("1r3K2/p4P1P/2p5/2k5/8/8/P7/8 w - - 0 8", this, "b7b8"); ' class="line1">Rb8+</span> 
 <span onclick='loadMove("1r6/p4PKP/2p5/2k5/8/8/P7/8 b - - 0 8", this, "f8g7"); ' class="line1">8.Kg7</span> 
, and wins).</p>
<p>One other neat point:
 <span onclick='loadMove("r7/pp3P1P/3K4/2P5/3k4/8/P7/8 b - - 0 1", this, "c7d6"); ' class="line1">1.Kd6</span> 
will not do because of
 <span onclick='loadMove("7r/pp3P1P/3K4/2P5/3k4/8/P7/8 w - - 0 2", this, "a8h8"); ' class="line1">1...Rh8</span> 
 <span onclick='loadMove("7r/pp3P1P/2PK4/8/3k4/8/P7/8 b - - 0 2", this, "c5c6"); ' class="line1">2.c6</span> 
 <span onclick='loadMove("7r/p4P1P/2pK4/8/3k4/8/P7/8 w - - 0 3", this, "b7c6"); ' class="line1">bc</span> 
 <span onclick='loadMove("7r/p4P1P/2p1K3/8/3k4/8/P7/8 b - - 0 3", this, "d6e6"); ' class="line1">3.Ke6</span> 
 <span onclick='loadMove("7r/p4P1P/2p1K3/2k5/8/8/P7/8 w - - 0 4", this, "d4c5"); ' class="line1">Kc5</span> 
, and again White finds himself in the zugzwang position described above.</p>
</div> <!-- score -->
</div> <!-- section -->

<div class="section">
<div class="chessBoard small floater" data-start-fen="1n6/2k4K/5P2/3P1P2/8/8/8/4b3 w - - 0 1"></div>
<div class="score">
 <span class="line0" onclick='loadMove("1n6/2k4K/5P2/3P1P2/8/8/8/4b3 w - - 0 1", this, ""); '>[...]</span> 
<p>No. 8.
 <span onclick='loadMove("1n6/2k4K/3P1P2/5P2/8/8/8/4b3 b - - 0 1", this, "d5d6"); ' class="line0">1.d6+</span> 
 <span onclick='loadMove("1n6/7K/3k1P2/5P2/8/8/8/4b3 w - - 0 2", this, "c7d6"); ' class="line0">Kxd6</span> 
 <span onclick='loadMove("1n6/5P1K/3k4/5P2/8/8/8/4b3 b - - 0 2", this, "f6f7"); ' class="line0">2.f7</span> 
(not
 <span onclick='loadMove("1n6/6K1/3k1P2/5P2/8/8/8/4b3 b - - 0 2", this, "h7g7"); ' class="line1">2.Kg7?</span> 
 <span onclick='loadMove("1n6/6K1/3k1P2/5P2/8/2b5/8/8 w - - 0 3", this, "e1c3"); ' class="line1">Bc3</span> 
)
 <span onclick='loadMove("8/3n1P1K/3k4/5P2/8/8/8/4b3 w - - 0 3", this, "b8d7"); ' class="line0">2...Nd7</span> 
 <span onclick='loadMove("8/3n1PK1/3k4/5P2/8/8/8/4b3 b - - 0 3", this, "h7g7"); ' class="line0">3.Kg7!</span> 
 <span onclick='loadMove("8/3n1PK1/3k4/5P2/8/2b5/8/8 w - - 0 4", this, "e1c3"); ' class="line0">Bc3+</span> 
 <span onclick='loadMove("6K1/3n1P2/3k4/5P2/8/2b5/8/8 b - - 0 4", this, "g7g8"); ' class="line0">4.Kg8</span> 
, and now if
(a)
 <span onclick='loadMove("6K1/3nkP2/8/5P2/8/2b5/8/8 w - - 0 5", this, "d6e7"); ' class="line1">4...Ke7</span> 
 <span onclick='loadMove("5QK1/3nk3/8/5P2/8/2b5/8/8 b - - 0 5", this, "f7f8"); ' class="line1">5.f8Q+</span> 
 <span onclick='loadMove("5nK1/4k3/8/5P2/8/2b5/8/8 w - - 0 6", this, "d7f8"); ' class="line1">Nxf8</span> 
 <span onclick='loadMove("5nK1/4k3/5P2/8/8/2b5/8/8 b - - 0 6", this, "f5f6"); ' class="line1">6.f6+</span> 
 <span onclick='loadMove("5nK1/4k3/5b2/8/8/8/8/8 w - - 0 7", this, "c3f6"); ' class="line1">Bxf6</span> 
, stalemate.
Or if (b)
 <span onclick='loadMove("6K1/5P2/3k1n2/5P2/8/2b5/8/8 w - - 0 5", this, "d7f6"); ' class="line1">4...Nf6+</span> 
 <span onclick='loadMove("8/5PK1/3k1n2/5P2/8/2b5/8/8 b - - 0 5", this, "g8g7"); ' class="line1">5.Kg7</span> 
 <span onclick='loadMove("8/5PK1/3k4/5P2/6n1/2b5/8/8 w - - 0 6", this, "f6g4"); ' class="line1">Ng4+</span> 
 <span onclick='loadMove("8/5PK1/3k1P2/8/6n1/2b5/8/8 b - - 0 6", this, "f5f6"); ' class="line1">6.f6</span> 
 <span onclick='loadMove("8/5PK1/3k1b2/8/6n1/8/8/8 w - - 0 7", this, "c3f6"); ' class="line1">Bxf6+</span> 
 <span onclick='loadMove("8/5P2/3k1bK1/8/6n1/8/8/8 b - - 0 7", this, "g7g6"); ' class="line1">7.Kg6</span> 
 <span onclick='loadMove("8/4bP2/3k2K1/8/6n1/8/8/8 w - - 0 8", this, "f6e7"); ' class="line1">Be7</span> 
 <span onclick='loadMove("8/4bPK1/3k4/8/6n1/8/8/8 b - - 0 8", this, "g6g7"); ' class="line1">8.Kg7</span> 
 <span onclick='loadMove("8/5PK1/3k1b2/8/6n1/8/8/8 w - - 0 9", this, "e7f6"); ' class="line1">Bf6+</span> 
 <span onclick='loadMove("8/5P2/3k1bK1/8/6n1/8/8/8 b - - 0 9", this, "g7g6"); ' class="line1">9.Kg6</span> 
 <span onclick='loadMove("8/4kP2/5bK1/8/6n1/8/8/8 w - - 0 10", this, "d6e7"); ' class="line1">Ke7</span> 
 <span onclick='loadMove("5Q2/4k3/5bK1/8/6n1/8/8/8 b - - 0 10", this, "f7f8"); ' class="line1">10.f8Q+</span> 
 <span onclick='loadMove("5k2/8/5bK1/8/6n1/8/8/8 w - - 0 11", this, "e7f8"); ' class="line1">Kxf8</span> 
 <span onclick='loadMove("5k2/8/5b2/5K2/6n1/8/8/8 b - - 0 11", this, "g6f5"); ' class="line1">11.Kf5</span> 
, and a piece is lost.</p>
</div> <!-- score -->
</div> <!-- section -->

<div class="section">
<div class="chessBoard small floater" data-start-fen="1b2K3/1P6/6n1/1P2k3/8/8/8/8 w - - 0 1"></div>
<div class="score">
 <span class="line0" onclick='loadMove("1b2K3/1P6/6n1/1P2k3/8/8/8/8 w - - 0 1", this, ""); '>[...]</span> 
<p>No. 9.
 <span onclick='loadMove("1b1K4/1P6/6n1/1P2k3/8/8/8/8 b - - 0 1", this, "e8d8"); ' class="line0">1.Kd8!</span> 
 <span onclick='loadMove("3K4/1P6/3b2n1/1P2k3/8/8/8/8 w - - 0 2", this, "b8d6"); ' class="line0">Bd6</span> 
 <span onclick='loadMove("8/1P1K4/3b2n1/1P2k3/8/8/8/8 b - - 0 2", this, "d8d7"); ' class="line0">2.Kd7!</span> 
 <span onclick='loadMove("8/1P1K4/3b2n1/1P1k4/8/8/8/8 w - - 0 3", this, "e5d5"); ' class="line0">Kd5</span> 
(the only way of getting further, but it deprives the Knight of the all-important square, d5. No Knight move will serve here, e.g.
 <span onclick='loadMove("8/1P1Kn3/3b4/1P2k3/8/8/8/8 w - - 0 3", this, "g6e7"); ' class="line1">2...Ne7</span> 
 <span onclick='loadMove("1Q6/3Kn3/3b4/1P2k3/8/8/8/8 b - - 0 3", this, "b7b8"); ' class="line1">3.b8Q</span> 
or
 <span onclick='loadMove("8/1P1K4/3b4/1P2k3/5n2/8/8/8 w - - 0 3", this, "g6f4"); ' class="line1">2...Nf4</span> 
 <span onclick='loadMove("2K5/1P6/3b4/1P2k3/5n2/8/8/8 b - - 0 3", this, "d7c8"); ' class="line1">3.Kc8</span> 
)
 <span onclick='loadMove("2K5/1P6/3b2n1/1P1k4/8/8/8/8 b - - 0 3", this, "d7c8"); ' class="line0">3.Kc8</span> 
 <span onclick='loadMove("2K5/1P2n3/3b4/1P1k4/8/8/8/8 w - - 0 4", this, "g6e7"); ' class="line0">Ne7+</span> 
 <span onclick='loadMove("8/1P1Kn3/3b4/1P1k4/8/8/8/8 b - - 0 4", this, "c8d7"); ' class="line0">4.Kd7</span> 
, and draws.</p>
<p>One might ask why not
 <span onclick='loadMove("1b6/1P1K4/6n1/1P2k3/8/8/8/8 b - - 0 1", this, "e8d7"); ' class="line1">1.Kd7</span> 
at once, but this would lose after
 <span onclick='loadMove("8/1P1K4/3b2n1/1P2k3/8/8/8/8 w - - 0 2", this, "b8d6"); ' class="line1">1...Bd6</span> 
 <span onclick='loadMove("2K5/1P6/3b2n1/1P2k3/8/8/8/8 b - - 0 2", this, "d7c8"); ' class="line1">2.Kc8</span> 
 <span onclick='loadMove("2K5/1P2n3/3b4/1P2k3/8/8/8/8 w - - 0 3", this, "g6e7"); ' class="line1">Ne7+</span> 
 <span onclick='loadMove("8/1P1Kn3/3b4/1P2k3/8/8/8/8 b - - 0 3", this, "c8d7"); ' class="line1">3.Kd7</span> 
 <span onclick='loadMove("8/1P1K4/3b4/1P1nk3/8/8/8/8 w - - 0 4", this, "e7d5"); ' class="line1">Nd5!</span> 
 <span onclick='loadMove("2K5/1P6/3b4/1P1nk3/8/8/8/8 b - - 0 4", this, "d7c8"); ' class="line1">4.Kc8</span> 
 <span onclick='loadMove("2K5/1P6/1n1b4/1P2k3/8/8/8/8 w - - 0 5", this, "d5b6"); ' class="line1">Nb6+</span> 
 <span onclick='loadMove("3K4/1P6/1n1b4/1P2k3/8/8/8/8 b - - 0 5", this, "c8d8"); ' class="line1">5.Kd8</span> 
 <span onclick='loadMove("3K4/1P6/1n1bk3/1P6/8/8/8/8 w - - 0 6", this, "e5e6"); ' class="line1">Ke6</span> 
 <span onclick='loadMove("4K3/1P6/1n1bk3/1P6/8/8/8/8 b - - 0 6", this, "d8e8"); ' class="line1">6.Ke8</span> 
 <span onclick='loadMove("4K3/1Pb5/1n2k3/1P6/8/8/8/8 w - - 0 7", this, "d6c7"); ' class="line1">Bc7</span> 
, etc.</p>
</div> <!-- score -->
</div> <!-- section -->

<div class="section">
<div class="chessBoard small floater" data-start-fen="5K2/k7/4P1p1/8/8/8/4b3/8 w - - 0 1"></div>
<div class="score">
 <span class="line0" onclick='loadMove("5K2/k7/4P1p1/8/8/8/4b3/8 w - - 0 1", this, ""); '>[...]</span> 
<p>No. 10.
 <span onclick='loadMove("8/k3K3/4P1p1/8/8/8/4b3/8 b - - 0 1", this, "f8e7"); ' class="line0">1.Ke7</span> 
 <span onclick='loadMove("8/k3K3/4P3/6p1/8/8/4b3/8 w - - 0 2", this, "g6g5"); ' class="line0">g5</span> 
 <span onclick='loadMove("8/k7/3KP3/6p1/8/8/4b3/8 b - - 0 2", this, "e7d6"); ' class="line0">2.Kd6</span> 
 <span onclick='loadMove("8/k7/3KP3/8/6p1/8/4b3/8 w - - 0 3", this, "g5g4"); ' class="line0">g4</span> 
 <span onclick='loadMove("8/k3P3/3K4/8/6p1/8/4b3/8 b - - 0 3", this, "e6e7"); ' class="line0">3.e7</span> 
 <span onclick='loadMove("8/k3P3/3K4/1b6/6p1/8/8/8 w - - 0 4", this, "e2b5"); ' class="line0">Bb5</span> 
(now the white King utilises the opposing Bishop as a kind of springboard back to his own half of the board)
 <span onclick='loadMove("8/k3P3/8/1bK5/6p1/8/8/8 b - - 0 4", this, "d6c5"); ' class="line0">4.Kc5</span> 
 <span onclick='loadMove("4b3/k3P3/8/2K5/6p1/8/8/8 w - - 0 5", this, "b5e8"); ' class="line0">Be8</span> 
 <span onclick='loadMove("4b3/k3P3/8/8/3K2p1/8/8/8 b - - 0 5", this, "c5d4"); ' class="line0">5.Kd4</span> 
 <span onclick='loadMove("4b3/1k2P3/8/8/3K2p1/8/8/8 w - - 0 6", this, "a7b7"); ' class="line0">Kb7</span> 
 <span onclick='loadMove("4b3/1k2P3/8/8/4K1p1/8/8/8 b - - 0 6", this, "d4e4"); ' class="line0">6.Ke4</span> 
 <span onclick='loadMove("4b3/2k1P3/8/8/4K1p1/8/8/8 w - - 0 7", this, "b7c7"); ' class="line0">Kc7</span> 
 <span onclick='loadMove("4b3/2k1P3/8/8/5Kp1/8/8/8 b - - 0 7", this, "e4f4"); ' class="line0">7.Kf4</span> 
 <span onclick='loadMove("8/2k1P3/8/7b/5Kp1/8/8/8 w - - 0 8", this, "e8h5"); ' class="line0">Bh5</span> 
 <span onclick='loadMove("4Q3/2k5/8/7b/5Kp1/8/8/8 b - - 0 8", this, "e7e8"); ' class="line0">8.e8Q</span> 
.</p>
</div> <!-- score -->
</div> <!-- section -->

<div class="section">
<div class="chessBoard small floater" data-start-fen="8/1p1N4/8/4P3/1K6/1P2k3/8/1r6 w - - 0 1"></div>
<div class="score">
 <span class="line0" onclick='loadMove("8/1p1N4/8/4P3/1K6/1P2k3/8/1r6 w - - 0 1", this, ""); '>[...]</span> 
<p>No. 11.
 <span onclick='loadMove("8/1p1N4/4P3/8/1K6/1P2k3/8/1r6 b - - 0 1", this, "e5e6"); ' class="line0">1.e6</span> 
 <span onclick='loadMove("8/1p1N4/4P3/8/1K6/1P2k3/8/4r3 w - - 0 2", this, "b1e1"); ' class="line0">Re1</span> 
 <span onclick='loadMove("8/1p6/4P3/4N3/1K6/1P2k3/8/4r3 b - - 0 2", this, "d7e5"); ' class="line0">2.Ne5</span> 
, and Black loses his Rook.</p>
<p>Or
 <span onclick='loadMove("8/1p1N4/4P3/8/1K6/1P2k3/8/r7 w - - 0 2", this, "b1a1"); ' class="line1">1...Ra1</span> 
 <span onclick='loadMove("8/1p1NP3/8/8/1K6/1P2k3/8/r7 b - - 0 2", this, "e6e7"); ' class="line1">2.e7</span> 
 <span onclick='loadMove("r7/1p1NP3/8/8/1K6/1P2k3/8/8 w - - 0 3", this, "a1a8"); ' class="line1">Ra8</span> 
 <span onclick='loadMove("r7/1p2P3/1N6/8/1K6/1P2k3/8/8 b - - 0 3", this, "d7b6"); ' class="line1">3.Nb6</span> 
.</p>
<p>Or
 <span onclick='loadMove("8/1p1N4/4P3/8/1K1k4/1P6/8/1r6 w - - 0 2", this, "e3d4"); ' class="line1">1...Kd4</span> 
 <span onclick='loadMove("8/1p6/4P3/4N3/1K1k4/1P6/8/1r6 b - - 0 2", this, "d7e5"); ' class="line1">2.Ne5</span> 
 <span onclick='loadMove("8/1p6/4P3/4N3/1K1k4/1P6/8/r7 w - - 0 3", this, "b1a1"); ' class="line1">Ra1</span> 
 <span onclick='loadMove("8/1p2P3/8/4N3/1K1k4/1P6/8/r7 b - - 0 3", this, "e6e7"); ' class="line1">3.e7</span> 
 <span onclick='loadMove("r7/1p2P3/8/4N3/1K1k4/1P6/8/8 w - - 0 4", this, "a1a8"); ' class="line1">Ra8</span> 
 <span onclick='loadMove("r7/1p2PN2/8/8/1K1k4/1P6/8/8 b - - 0 4", this, "e5f7"); ' class="line1">4.Nf7</span> 
 <span onclick='loadMove("4r3/1p2PN2/8/8/1K1k4/1P6/8/8 w - - 0 5", this, "a8e8"); ' class="line1">Re8</span> 
 <span onclick='loadMove("4r3/1p2P3/3N4/8/1K1k4/1P6/8/8 b - - 0 5", this, "f7d6"); ' class="line1">5.Nd6</span> 
.</p>
<p>Or
 <span onclick='loadMove("8/1p1N4/4P3/8/1K3k2/1P6/8/1r6 w - - 0 2", this, "e3f4"); ' class="line1">1...Kf4</span> 
 <span onclick='loadMove("8/1p1NP3/8/8/1K3k2/1P6/8/1r6 b - - 0 2", this, "e6e7"); ' class="line1">2.e7</span> 
 <span onclick='loadMove("8/1p1NP3/8/8/1K3k2/1P6/8/4r3 w - - 0 3", this, "b1e1"); ' class="line1">Re1</span> 
 <span onclick='loadMove("8/1p2P3/5N2/8/1K3k2/1P6/8/4r3 b - - 0 3", this, "d7f6"); ' class="line1">3.Nf6</span> 
.</p>
</div> <!-- score -->
</div> <!-- section -->

<div class="section">
<div class="chessBoard small floater" data-start-fen="4kr2/5p1K/3p1Q2/1p4P1/4P3/1PP5/7b/8 w - - 0 1"></div>
<div class="score">
 <span class="line0" onclick='loadMove("4kr2/5p1K/3p1Q2/1p4P1/4P3/1PP5/7b/8 w - - 0 1", this, ""); '>[...]</span> 
<p>No. 12.
 <span onclick='loadMove("4kr2/5p2/3p1Q1K/1p4P1/4P3/1PP5/7b/8 b - - 0 1", this, "h7h6"); ' class="line0">1.Kh6</span> 
(he cannot move his Queen, e.g.
 <span onclick='loadMove("4kr2/5p1K/3p4/1p4P1/4P3/1PP5/5Q1b/8 b - - 0 1", this, "f6f2"); ' class="line1">1.Qf2</span> 
 <span onclick='loadMove("4kr2/5p1K/3p4/1p2b1P1/4P3/1PP5/5Q2/8 w - - 0 2", this, "h2e5"); ' class="line1">Be5</span> 
, with the threat of mate; hence he proposes to bring his King to h5, freeing his Queen.
Bad would be
 <span onclick='loadMove("4kr2/5pK1/3p1Q2/1p4P1/4P3/1PP5/7b/8 b - - 0 1", this, "h7g7"); ' class="line1">1.Kg7</span> 
 <span onclick='loadMove("4kr2/5pK1/3p1Q2/1p2b1P1/4P3/1PP5/8/8 w - - 0 2", this, "h2e5"); ' class="line1">Be5</span> 
 <span onclick='loadMove("4kr2/5pK1/3p1Q2/1p2b1P1/2P1P3/1P6/8/8 b - - 0 2", this, "c3c4"); ' class="line1">2.c4</span> 
 <span onclick='loadMove("4kr2/5pK1/3p1b2/1p4P1/2P1P3/1P6/8/8 w - - 0 3", this, "e5f6"); ' class="line1">Bxf6+</span> 
 <span onclick='loadMove("4kr2/5pK1/3p1P2/1p6/2P1P3/1P6/8/8 b - - 0 3", this, "g5f6"); ' class="line1">3.gf</span> 
 <span onclick='loadMove("4kr2/5pK1/3p1P2/8/1pP1P3/1P6/8/8 w - - 0 4", this, "b5b4"); ' class="line1">b4!</span> 
, when White is in zugzwang, since
 <span onclick='loadMove("4kr2/5p1K/3p1P2/8/1pP1P3/1P6/8/8 b - - 0 4", this, "g7h7"); ' class="line1">4.Kh7</span> 
loses after
 <span onclick='loadMove("5r2/3k1p1K/3p1P2/8/1pP1P3/1P6/8/8 w - - 0 5", this, "e8d7"); ' class="line1">4...Kd7</span> 
)
 <span onclick='loadMove("4kr2/5p2/3p1Q1K/1p2b1P1/4P3/1PP5/8/8 w - - 0 2", this, "h2e5"); ' class="line0">1...Be5</span> 
 <span onclick='loadMove("4kr2/5pK1/3p1Q2/1p2b1P1/4P3/1PP5/8/8 b - - 0 2", this, "h6g7"); ' class="line0">2.Kg7!</span> 
<!--p>170</p><p>RTI'S BEST GAMES OF CHESS</p-->
(the retort courteous! Now Black is in zugzwang, and he must move the Bishop away, since
 <span onclick='loadMove("4kr2/5pK1/3p1b2/1p4P1/4P3/1PP5/8/8 w - - 0 3", this, "e5f6"); ' class="line1">2...Bxf6+</span> 
 <span onclick='loadMove("4kr2/5pK1/3p1P2/1p6/4P3/1PP5/8/8 b - - 0 3", this, "g5f6"); ' class="line1">3.gf</span> 
means that White wins the Rook with a won pawn ending)
 <span onclick='loadMove("4kr2/5pK1/3p1Q2/1p4P1/4P3/1PP5/7b/8 w - - 0 3", this, "e5h2"); ' class="line0">2...Bh2</span> 
 <span onclick='loadMove("4kr2/5pK1/3p1Q2/1p4P1/2P1P3/1P6/7b/8 b - - 0 3", this, "c3c4"); ' class="line0">3.c4</span> 
 <span onclick='loadMove("4kr2/5pK1/3p1Q2/6P1/2p1P3/1P6/7b/8 w - - 0 4", this, "b5c4"); ' class="line0">bc</span> 
(after
 <span onclick='loadMove("4kr2/5pK1/3p1Q2/6P1/1pP1P3/1P6/7b/8 w - - 0 4", this, "b5b4"); ' class="line1">3...b4</span> 
 <span onclick='loadMove("4kr2/5pK1/3p1Q2/2P3P1/1p2P3/1P6/7b/8 b - - 0 4", this, "c4c5"); ' class="line1">4.c5</span> 
wins)
 <span onclick='loadMove("4kr2/5pK1/3p1Q2/4P1P1/2p5/1P6/7b/8 b - - 0 4", this, "e4e5"); ' class="line0">4.e5!</span> 
 <span onclick='loadMove("4kr2/5pK1/3p1Q2/4b1P1/2p5/1P6/8/8 w - - 0 5", this, "h2e5"); ' class="line0">Bxe5</span> 
(if
 <span onclick='loadMove("4kr2/5pK1/5Q2/3pP1P1/2p5/1P6/7b/8 w - - 0 5", this, "d6d5"); ' class="line1">4...d5</span> 
 <span onclick='loadMove("4kr2/5pK1/2Q5/3pP1P1/2p5/1P6/7b/8 b - - 0 5", this, "f6c6"); ' class="line1">5.Qc6+</span> 
)
 <span onclick='loadMove("4kr2/5pK1/3p1Q2/4b1P1/2P5/8/8/8 b - - 0 5", this, "b3c4"); ' class="line0">5.bc</span> 
 <span onclick='loadMove("4kr2/5pK1/3p1b2/6P1/2P5/8/8/8 w - - 0 6", this, "e5f6"); ' class="line0">Bxf6+</span> 
(or
 <span onclick='loadMove("4kr2/5pK1/3p1Q2/6P1/2P5/8/7b/8 w - - 0 6", this, "e5h2"); ' class="line1">5...Bh2</span> 
 <span onclick='loadMove("4kr2/5pK1/3p1Q2/2P3P1/8/8/7b/8 b - - 0 6", this, "c4c5"); ' class="line1">6.c5</span> 
 <span onclick='loadMove("4kr2/5pK1/3p1Q2/2P1b1P1/8/8/8/8 w - - 0 7", this, "h2e5"); ' class="line1">Be5</span> 
 <span onclick='loadMove("4kr2/5pK1/3P1Q2/4b1P1/8/8/8/8 b - - 0 7", this, "c5d6"); ' class="line1">7.cd</span> 
)
 <span onclick='loadMove("4kr2/5pK1/3p1P2/8/2P5/8/8/8 b - - 0 6", this, "g5f6"); ' class="line0">6.gf</span> 
 <span onclick='loadMove("4k2r/5pK1/3p1P2/8/2P5/8/8/8 w k - 0 7", this, "f8h8"); ' class="line0">Rh8</span> 
 <span onclick='loadMove("4k2K/5p2/3p1P2/8/2P5/8/8/8 b - - 0 7", this, "g7h8"); ' class="line0">7.Kxh8</span> 
 <span onclick='loadMove("7K/3k1p2/3p1P2/8/2P5/8/8/8 w - - 0 8", this, "e8d7"); ' class="line0">Kd7</span> 
 <span onclick='loadMove("6K1/3k1p2/3p1P2/8/2P5/8/8/8 b - - 0 8", this, "h8g8"); ' class="line0">8.Kg8!</span> 
 <span onclick='loadMove("6K1/5p2/3pkP2/8/2P5/8/8/8 w - - 0 9", this, "d7e6"); ' class="line0">Ke6</span> 
 <span onclick='loadMove("8/5pK1/3pkP2/8/2P5/8/8/8 b - - 0 9", this, "g8g7"); ' class="line0">9.Kg7</span> 
, winning the BP.</p>
</div> <!-- score -->
</div> <!-- section -->

<div class="section">
<div class="chessBoard small floater" data-start-fen="8/1K6/P7/kn6/4N3/8/8/8 w - - 0 1"></div>
<div class="score">
 <span class="line0" onclick='loadMove("8/1K6/P7/kn6/4N3/8/8/8 w - - 0 1", this, ""); '>[...]</span> 
<p>No. 13.
 <span onclick='loadMove("8/1K6/P7/knN5/8/8/8/8 b - - 0 1", this, "e4c5"); ' class="line0">1.Nc5</span> 
 <span onclick='loadMove("8/1K6/P7/1nN5/1k6/8/8/8 w - - 0 2", this, "a5b4"); ' class="line0">Kb4</span> 
 <span onclick='loadMove("8/8/PK6/1nN5/1k6/8/8/8 b - - 0 2", this, "b7b6"); ' class="line0">2.Kb6</span> 
 <span onclick='loadMove("8/8/PK1n4/2N5/1k6/8/8/8 w - - 0 3", this, "b5d6"); ' class="line0">Nd6</span> 
 <span onclick='loadMove("8/8/PK1n4/8/1k2N3/8/8/8 b - - 0 3", this, "c5e4"); ' class="line0">3.Ne4!</span> 
 <span onclick='loadMove("2n5/8/PK6/8/1k2N3/8/8/8 w - - 0 4", this, "d6c8"); ' class="line0">Nc8+</span> 
 <span onclick='loadMove("2n5/2K5/P7/8/1k2N3/8/8/8 b - - 0 4", this, "b6c7"); ' class="line0">4.Kc7</span> 
 <span onclick='loadMove("2n5/2K5/P7/1k6/4N3/8/8/8 w - - 0 5", this, "b4b5"); ' class="line0">Kb5</span> 
 <span onclick='loadMove("2n5/1K6/P7/1k6/4N3/8/8/8 b - - 0 5", this, "c7b7"); ' class="line0">5.Kb7</span> 
 <span onclick='loadMove("2n5/1K6/P7/k7/4N3/8/8/8 w - - 0 6", this, "b5a5"); ' class="line0">Ka5</span> 
 <span onclick='loadMove("2n5/1K6/P7/k1N5/8/8/8/8 b - - 0 6", this, "e4c5"); ' class="line0">6.Nc5</span> 
 <span onclick='loadMove("8/1K6/P2n4/k1N5/8/8/8/8 w - - 0 7", this, "c8d6"); ' class="line0">Nd6+</span> 
 <span onclick='loadMove("8/2K5/P2n4/k1N5/8/8/8/8 b - - 0 7", this, "b7c7"); ' class="line0">7.Kc7</span> 
 <span onclick='loadMove("8/2K5/P7/knN5/8/8/8/8 w - - 0 8", this, "d6b5"); ' class="line0">Nb5+</span> 
 <span onclick='loadMove("8/8/P1K5/knN5/8/8/8/8 b - - 0 8", this, "c7c6"); ' class="line0">8.Kc6</span> 
 <span onclick='loadMove("8/n7/P1K5/k1N5/8/8/8/8 w - - 0 9", this, "b5a7"); ' class="line0">Na7+</span> 
 <span onclick='loadMove("8/nK6/P7/k1N5/8/8/8/8 b - - 0 9", this, "c6b7"); ' class="line0">9.Kb7</span> 
 <span onclick='loadMove("8/1K6/P7/knN5/8/8/8/8 w - - 0 10", this, "a7b5"); ' class="line0">Nb5</span> 
 <span onclick='loadMove("8/1K6/P7/kn6/4N3/8/8/8 b - - 0 10", this, "c5e4"); ' class="line0">10.Ne4</span> 
(we now have the original position, with Black to move)
 <span onclick='loadMove("8/1K6/P7/1n6/1k2N3/8/8/8 w - - 0 11", this, "a5b4"); ' class="line0">10...Kb4</span> 
(if
 <span onclick='loadMove("8/1K6/P7/1n6/k3N3/8/8/8 w - - 0 11", this, "a5a4"); ' class="line1">10...Ka4</span> 
 <span onclick='loadMove("8/1K6/P7/1n6/k7/2N5/8/8 b - - 0 11", this, "e4c3"); ' class="line1">11.Nc3+!</span> 
)
 <span onclick='loadMove("8/8/PK6/1n6/1k2N3/8/8/8 b - - 0 11", this, "b7b6"); ' class="line0">11.Kb6</span> 
 <span onclick='loadMove("8/8/PK6/1n6/2k1N3/8/8/8 w - - 0 12", this, "b4c4"); ' class="line0">Kc4</span> 
 <span onclick='loadMove("8/8/PK6/1n6/2k5/2N5/8/8 b - - 0 12", this, "e4c3"); ' class="line0">12.Nc3!</span> 
, and wins.</p>
</div> <!-- score -->
</div> <!-- section -->

<div class="section">
<div class="chessBoard small floater" data-start-fen="8/2K5/4P2p/P7/8/N1k5/1q6/6R1 w - - 0 1"></div>
<div class="score">
 <span class="line0" onclick='loadMove("8/2K5/4P2p/P7/8/N1k5/1q6/6R1 w - - 0 1", this, ""); '>[...]</span> 
<p>No. 14.
 <span onclick='loadMove("8/2K1P3/7p/P7/8/N1k5/1q6/6R1 b - - 0 1", this, "e6e7"); ' class="line0">1.e7</span> 
 <span onclick='loadMove("8/2K1P3/7p/P7/8/N1k5/4q3/6R1 w - - 0 2", this, "b2e2"); ' class="line0">Qe2</span> 
 <span onclick='loadMove("8/2K1P3/7p/P7/8/N1k3R1/4q3/8 b - - 0 2", this, "g1g3"); ' class="line0">2.Rg3+</span> 
 <!--span onclick='loadMove("8/2K1P3/7p/P7/8/N1k3R1/4q3/8 w - - 0 3", this, "g1g3"); ' class="line0">z0</span--> 
King moves
 <span onclick='loadMove("8/2K1P3/7p/P7/8/N1k1R3/4q3/8 b - - 0 3", this, "g3e3"); ' class="line0">3.Re3!</span> 
 <span onclick='loadMove("8/2K1P3/7p/P7/8/N1k1q3/8/8 w - - 0 4", this, "e2e3"); ' class="line0">Qxe3</span> 
 <span onclick='loadMove("8/2K1P3/7p/P7/8/2k1q3/2N5/8 b - - 0 4", this, "a3c2"); ' class="line0">4.Nc2</span> 
or <b>Nc4</b>, winning the Queen.</p>
<p>Or
 <span onclick='loadMove("8/2K1P3/7p/P7/8/N1k5/7q/6R1 w - - 0 2", this, "b2h2"); ' class="line1">1...Qh2+</span> 
 <span onclick='loadMove("8/4P3/2K4p/P7/8/N1k5/7q/6R1 b - - 0 2", this, "c7c6"); ' class="line1">2.Kc6</span> 
 <span onclick='loadMove("8/4P3/2K4p/P7/8/N1k5/4q3/6R1 w - - 0 3", this, "h2e2"); ' class="line1">Qe2</span> 
(if
 <span onclick='loadMove("8/4P3/2K4p/P3q3/8/N1k5/8/6R1 w - - 0 3", this, "h2e5"); ' class="line2">2...Qe5</span> 
 <span onclick='loadMove("8/4P3/2K4p/P3q3/8/N1k3R1/8/8 b - - 0 3", this, "g1g3"); ' class="line2">3.Rg3+</span> 
 <span onclick='loadMove("8/4P3/2K4p/P3q3/1k6/N5R1/8/8 w - - 0 4", this, "c3b4"); ' class="line2">Kb4</span> 
 <span onclick='loadMove("8/4P3/2K4p/P3q3/1k6/6R1/2N5/8 b - - 0 4", this, "a3c2"); ' class="line2">4.Nc2+</span> 
 <span onclick='loadMove("8/4P3/2K4p/P3q3/2k5/6R1/2N5/8 w - - 0 5", this, "b4c4"); ' class="line2">Kc4</span> 
 <span onclick='loadMove("8/4P3/2K4p/P3q3/2k5/4N1R1/8/8 b - - 0 5", this, "c2e3"); ' class="line2">5.Ne3+</span> 
 <span onclick='loadMove("8/4P3/2K4p/P3q3/8/1k2N1R1/8/8 w - - 0 6", this, "c4b3"); ' class="line2">Kb3</span> 
 <span onclick='loadMove("8/4P3/2K4p/P3qN2/8/1k4R1/8/8 b - - 0 6", this, "e3f5"); ' class="line2">6.Nf5</span> 
dis ch, followed by <b>Re3</b>.
If in this variation
 <span onclick='loadMove("8/4P3/2K4p/P3q3/3k4/N5R1/8/8 w - - 0 4", this, "c3d4"); ' class="line2">3...Kd4</span> 
 <span onclick='loadMove("8/4P3/2K4p/PN2q3/3k4/6R1/8/8 b - - 0 4", this, "a3b5"); ' class="line2">4.Nb5+</span> 
, followed by <b>Nd6+</b>)
 <span onclick='loadMove("8/4P3/2K4p/PN6/8/2k5/4q3/6R1 b - - 0 3", this, "a3b5"); ' class="line1">3.Nb5+</span> 
, and now we have five King moves from which to choose:</p>
<p>(a)
 <span onclick='loadMove("8/4P3/2K4p/PN6/8/8/3kq3/6R1 w - - 0 4", this, "c3d2"); ' class="line2">3...Kd2</span> 
 <span onclick='loadMove("8/4P3/2K4p/PN6/8/8/3kq3/3R4 b - - 0 4", this, "g1d1"); ' class="line2">4.Rd1+!</span> 
 <span onclick='loadMove("8/4P3/2K4p/PN6/8/8/2k1q3/3R4 w - - 0 5", this, "d2c2"); ' class="line2">Kc2</span> 
 <span onclick='loadMove("8/4P3/2K4p/P7/3N4/8/2k1q3/3R4 b - - 0 5", this, "b5d4"); ' class="line2">5.Nd4+</span> 
.</p>
<p>(b)
 <span onclick='loadMove("8/4P3/2K4p/PN6/8/3k4/4q3/6R1 w - - 0 4", this, "c3d3"); ' class="line2">3...Kd3</span> 
 <span onclick='loadMove("8/4P3/2K4p/PN6/8/3k4/4q3/3R4 b - - 0 4", this, "g1d1"); ' class="line2">4.Rd1+</span> 
 <span onclick='loadMove("8/4P3/2K4p/PN6/2k5/8/4q3/3R4 w - - 0 5", this, "d3c4"); ' class="line2">Kc4</span> 
 <span onclick='loadMove("8/4P3/2KN3p/P7/2k5/8/4q3/3R4 b - - 0 5", this, "b5d6"); ' class="line2">5.Nd6+</span> 
.</p>
<p>(c)
 <span onclick='loadMove("8/4P3/2K4p/PN6/8/8/1k2q3/6R1 w - - 0 4", this, "c3b2"); ' class="line2">3...Kb2</span> 
 <span onclick='loadMove("8/4P3/2K4p/PN6/8/8/1k2q3/1R6 b - - 0 4", this, "g1b1"); ' class="line2">4.Rb1+!</span> 
, and wherever the King moves the Knight administers a fatal fork next move.</p>
<p>(d)
 <span onclick='loadMove("8/4P3/2K4p/PN6/1k6/8/4q3/6R1 w - - 0 4", this, "c3b4"); ' class="line2">3...Kb4</span> 
 <span onclick='loadMove("8/4P3/2K4p/PN6/1k4R1/8/4q3/8 b - - 0 4", this, "g1g4"); ' class="line2">4.Rg4+!</span> 
 <span onclick='loadMove("8/4P3/2K4p/kN6/6R1/8/4q3/8 w - - 0 5", this, "b4a5"); ' class="line2">Kxa5</span> 
 <span onclick='loadMove("8/4P3/2K4p/kN6/R7/8/4q3/8 b - - 0 5", this, "g4a4"); ' class="line2">5.Ra4+</span> 
.</p>
<p>(e)
 <span onclick='loadMove("8/4P3/2K4p/PN6/2k5/8/4q3/6R1 w - - 0 4", this, "c3c4"); ' class="line2">3...Kc4</span> 
 <span onclick='loadMove("8/4P3/2KN3p/P7/2k5/8/4q3/6R1 b - - 0 4", this, "b5d6"); ' class="line2">4.Nd6+</span> 
.</p>
</div> <!-- score -->
</div> <!-- section -->

<div class="section">
<div class="chessBoard small floater" data-start-fen="K7/2P5/b4k1p/3P4/6P1/8/8/8 w - - 0 1"></div>
<div class="score">
 <span class="line0" onclick='loadMove("K7/2P5/b4k1p/3P4/6P1/8/8/8 w - - 0 1", this, ""); '>[...]</span> 
<p>No. 15.
 <span onclick='loadMove("K7/2P5/b2P1k1p/8/6P1/8/8/8 b - - 0 1", this, "d5d6"); ' class="line0">1.d6</span> 
 <span onclick='loadMove("K7/2P5/b2Pk2p/8/6P1/8/8/8 w - - 0 2", this, "f6e6"); ' class="line0">Ke6</span> 
 <span onclick='loadMove("K7/2PP4/b3k2p/8/6P1/8/8/8 b - - 0 2", this, "d6d7"); ' class="line0">2.d7</span> 
 <span onclick='loadMove("K7/2Pk4/b6p/8/6P1/8/8/8 w - - 0 3", this, "e6d7"); ' class="line0">Kxd7</span> 
 <span onclick='loadMove("8/K1Pk4/b6p/8/6P1/8/8/8 b - - 0 3", this, "a8a7"); ' class="line0">3.Ka7</span> 
 <span onclick='loadMove("8/K1Pk4/7p/8/6P1/8/4b3/8 w - - 0 4", this, "a6e2"); ' class="line0">Be2</span> 
 <span onclick='loadMove("1K6/2Pk4/7p/8/6P1/8/4b3/8 b - - 0 4", this, "a7b8"); ' class="line0">4.Kb8</span> 
 <span onclick='loadMove("1K6/2Pk4/b6p/8/6P1/8/8/8 w - - 0 5", this, "e2a6"); ' class="line0">Ba6</span> 
 <span onclick='loadMove("8/K1Pk4/b6p/8/6P1/8/8/8 b - - 0 5", this, "b8a7"); ' class="line0">5.Ka7</span> 
 <span onclick='loadMove("2b5/K1Pk4/7p/8/6P1/8/8/8 w - - 0 6", this, "a6c8"); ' class="line0">Bc8</span> 
 <span onclick='loadMove("1Kb5/2Pk4/7p/8/6P1/8/8/8 b - - 0 6", this, "a7b8"); ' class="line0">6.Kb8</span> 
, and draws as Black must repeat moves.
Note that White would lose after an inversion of moves by
 <span onclick='loadMove("8/K1P5/b2Pk2p/8/6P1/8/8/8 b - - 0 2", this, "a8a7"); ' class="line1">2.Ka7</span> 
 <span onclick='loadMove("2b5/K1P5/3Pk2p/8/6P1/8/8/8 w - - 0 3", this, "a6c8"); ' class="line1">Bc8</span> 
 <span onclick='loadMove("2b5/K1PP4/4k2p/8/6P1/8/8/8 b - - 0 3", this, "d6d7"); ' class="line1">3.d7</span> 
 <span onclick='loadMove("8/K1Pb4/4k2p/8/6P1/8/8/8 w - - 0 4", this, "c8d7"); ' class="line1">Bxd7!</span> 
or
 <span onclick='loadMove("1Kb5/2P5/3Pk2p/8/6P1/8/8/8 b - - 0 3", this, "a7b8"); ' class="line1">3.Kb8</span> 
 <span onclick='loadMove("1Kb5/2Pk4/3P3p/8/6P1/8/8/8 w - - 0 4", this, "e6d7"); ' class="line1">Kd7</span> 
.</p>
</div> <!-- score -->
</div> <!-- section -->

</div> <!-- iBook -->
{% endblock content %}
