{% extends '../../base.htm' %}
{% load static %}
{% block title %}
<title>Bibliography | {{book.title}} | {%for author in book.authors.all%} {%if author.first_name%} {{author.first_name}} {%endif%} {%if author.second_name%} {{author.second_name}} {%endif%} {%if forloop.counter == book.authors.all.count%} {{author.last_name}} {%else%} {{author.last_name}}, {%endif%} {%endfor%} | {{book.year}}</title>
{% endblock title %}
{% block content %}

<div class="iBook">

<div class="section">
<!--div class="chessBoard small floater" data-start-fen="rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w KQkq - 0 1"></div-->
<div class="score">
 <!--span class="line0" onclick='loadMove("rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w KQkq - 0 1", this, ""); '>[...]</span--> 
<h2>Bibliography</h2>
<h3>Books</h3>
<p>Beating the Sicilian 3, John Nunn and Joe Gallagher (Batsford 1995)</p>
<p>Easy Guide to the Najdorf, Tony Kosten (Everyman 1999)</p>
<p>Experts vs. the Sicilian, eds. Jacob Aagaard and John Shaw (Quality Chess 2004)</p>
<p>Grandmaster Preparation, Lev Polugaevsky (Pergamon 1981)</p>
<p>Mastering the Najdorf, Julen Arizmendi and Javier Moreno (Gambit 2004)</p>
<p>Play the Najdorf: Scheveningen Style, John Emms (Everyman 2003)</p>
<p>Taming the Sicilian, Nigel Davies (Everyman 2002)</p>
<p>The Complete Najdorf: Modern Lines, John Nunn and Joe Gallagher (Batsford 1998)</p>
<p>The Complete Najdorf: 6 Bg5, John Nunn (Batsford 1996)</p>
<p>The English Attack, Tapani Sammalvuo (Gambit 2004)</p>
<p>The Sicilian Sozin, Mikhail Golubev (Gambit 2001)</p>
<p>Winning With the Najdorf, Daniel King (Batsford 1993)</p>
<h3>Periodicals</h3>
<p>CHESS, Chess Informant, Chess Publishing, Chess Today, New in Chess Magazine and New in Chess Yearbook</p>
<h2>Acknowledgements</h2>
<p>I'm very grateful for the help given during the process of writing this book by John Emms, Paul Hopwood and Jos Woolley. My thanks to them.</p>
</div> <!-- score -->
</div> <!-- section -->

</div> <!-- iBook -->
{% endblock content %}
