{% extends '../../base.htm' %}
{% load static %}
{% block title %}
<title>Introduction and 10 Qd2 | {{book.title}} | {%for author in book.authors.all%} {%if author.first_name%} {{author.first_name}} {%endif%} {%if author.second_name%} {{author.second_name}} {%endif%} {%if forloop.counter == book.authors.all.count%} {{author.last_name}} {%else%} {{author.last_name}}, {%endif%} {%endfor%} | {{book.year}}</title>
{% endblock title %}
{% block content %}

<div class="iBook">

<div class="section">
<div class="chessBoard small floater" data-start-fen="rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w KQkq - 0 1"></div>
<div class="score">
 <span class="line0" onclick='loadMove("rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w KQkq - 0 1", this, ""); '>[...]</span> 
<h3>Introduction and 10 Qd2</h3>
<!--p>(View in Game Format)</p-->
<p>
 <span onclick='loadMove("rnbqkbnr/pppppppp/8/8/4P3/8/PPPP1PPP/RNBQKBNR b KQkq e3 0 1", this, "e2e4"); ' class="line0">1.e4</span> 
 <span onclick='loadMove("rnbqkbnr/pp1ppppp/8/2p5/4P3/8/PPPP1PPP/RNBQKBNR w KQkq c6 0 2", this, "c7c5"); ' class="line0">c5</span> 
 <span onclick='loadMove("rnbqkbnr/pp1ppppp/8/2p5/4P3/5N2/PPPP1PPP/RNBQKB1R b KQkq - 0 2", this, "g1f3"); ' class="line0">2.Nf3</span> 
 <span onclick='loadMove("rnbqkbnr/pp2pppp/3p4/2p5/4P3/5N2/PPPP1PPP/RNBQKB1R w KQkq - 0 3", this, "d7d6"); ' class="line0">d6</span> 
 <span onclick='loadMove("rnbqkbnr/pp2pppp/3p4/2p5/3PP3/5N2/PPP2PPP/RNBQKB1R b KQkq d3 0 3", this, "d2d4"); ' class="line0">3.d4</span> 
 <span onclick='loadMove("rnbqkbnr/pp2pppp/3p4/8/3pP3/5N2/PPP2PPP/RNBQKB1R w KQkq - 0 4", this, "c5d4"); ' class="line0">cxd4</span> 
 <span onclick='loadMove("rnbqkbnr/pp2pppp/3p4/8/3NP3/8/PPP2PPP/RNBQKB1R b KQkq - 0 4", this, "f3d4"); ' class="line0">4.Nxd4</span> 
 <span onclick='loadMove("rnbqkb1r/pp2pppp/3p1n2/8/3NP3/8/PPP2PPP/RNBQKB1R w KQkq - 0 5", this, "g8f6"); ' class="line0">Nf6</span> 
 <span onclick='loadMove("rnbqkb1r/pp2pppp/3p1n2/8/3NP3/2N5/PPP2PPP/R1BQKB1R b KQkq - 0 5", this, "b1c3"); ' class="line0">5.Nc3</span> 
 <span onclick='loadMove("rnbqkb1r/1p2pppp/p2p1n2/8/3NP3/2N5/PPP2PPP/R1BQKB1R w KQkq - 0 6", this, "a7a6"); ' class="line0">a6</span> 
 <span onclick='loadMove("rnbqkb1r/1p2pppp/p2p1n2/8/3NP3/2N1B3/PPP2PPP/R2QKB1R b KQkq - 0 6", this, "c1e3"); ' class="line0">6.Be3</span> 
 <span onclick='loadMove("rnbqkb1r/1p2pppp/p2p4/8/3NP1n1/2N1B3/PPP2PPP/R2QKB1R w KQkq - 0 7", this, "f6g4"); ' class="line0">Ng4</span> 
</p>
<div class="chessBoard analysis nobuttons" data-start-fen="rnbqkb1r/1p2pppp/p2p4/8/3NP1n1/2N1B3/PPP2PPP/R2QKB1R w KQkq - 0 7"></div>
<p class="caption"><b><i>Refusing to let White settle</i></b></p>
<h4>What is Black's idea?</h4>
<p>The modern chessplayer is prepared to strive for an early initiative, even as Black. With
 <span onclick='loadMove("rnbqkb1r/1p2pppp/p2p1n2/8/3NP3/2N1B3/PPP2PPP/R2QKB1R b KQkq - 0 6", this, "c1e3"); ' class="line1">6.Be3</span> 
White intends to be the player who will quickly gain the initiative with his kingside attack, but
 <span onclick='loadMove("rnbqkb1r/1p2pppp/p2p4/8/3NP1n1/2N1B3/PPP2PPP/R2QKB1R w KQkq - 0 7", this, "f6g4"); ' class="line1">6...Ng4</span> 
prevents that and begins an immediate fight for the ascendancy. White usually responds to Black's provocation with
 <span onclick='loadMove("rnbqkb1r/1p2pppp/p2p4/6B1/3NP1n1/2N5/PPP2PPP/R2QKB1R b KQkq - 0 7", this, "e3g5"); ' class="line1">7.Bg5</span> 
when Black reveals his main point by expanding on the kingside with
 <span onclick='loadMove("rnbqkb1r/1p2ppp1/p2p3p/6B1/3NP1n1/2N5/PPP2PPP/R2QKB1R w KQkq - 0 8", this, "h7h6"); ' class="line1">7...h6</span> 
 <span onclick='loadMove("rnbqkb1r/1p2ppp1/p2p3p/8/3NP1nB/2N5/PPP2PPP/R2QKB1R b KQkq - 0 8", this, "g5h4"); ' class="line1">8.Bh4</span> 
 <span onclick='loadMove("rnbqkb1r/1p2pp2/p2p3p/6p1/3NP1nB/2N5/PPP2PPP/R2QKB1R w KQkq g6 0 9", this, "g7g5"); ' class="line1">g5</span> 
 <span onclick='loadMove("rnbqkb1r/1p2pp2/p2p3p/6p1/3NP1n1/2N3B1/PPP2PPP/R2QKB1R b KQkq - 0 9", this, "h4g3"); ' class="line1">9.Bg3</span> 
 <span onclick='loadMove("rnbqk2r/1p2ppb1/p2p3p/6p1/3NP1n1/2N3B1/PPP2PPP/R2QKB1R w KQkq - 0 10", this, "f8g7"); ' class="line1">Bg7</span> 
.</p>
<div class="chessBoard analysis nobuttons" data-start-fen="rnbqk2r/1p2ppb1/p2p3p/6p1/3NP1n1/2N3B1/PPP2PPP/R2QKB1R w KQkq - 0 10"></div>
<p class="caption"><b><i>Black will play on the dark squares</i></b></p>
<p>It's not surprising that it wasn't until the early nineties that this idea caught on as Black has irrevocably weakened his kingside. However, in return he gains a dynamic position and is already the proud owner of a rather strong dark-squared bishop. Compare that piece to White's and you will see why this variation is quite attractive for Black, especially if he doesn't want to indulge in a do or die race scenario so typical of the English Attack.
 <span onclick='loadMove("rnbqkb1r/1p2pppp/p2p1n2/8/3NP3/2N1B3/PPP2PPP/R2QKB1R b KQkq - 0 6", this, "c1e3"); ' class="line1">6.Be3</span> 
white players are though often after such a situation and so they may well not respond well to
 <span onclick='loadMove("rnbqkb1r/1p2pppp/p2p4/8/3NP1n1/2N1B3/PPP2PPP/R2QKB1R w KQkq - 0 7", this, "f6g4"); ' class="line1">6...Ng4</span> 
, as White actually didn't initially at grandmaster level. White will need to play carefully and often quite positionally to restrain Black's early activity, and to prove that ...g5 is a weakness, not a strength. It certainly is a strength in the short-term, buying Black control over f4 and thus enabling the g4-knight to retreat to the excellent central e5-square.</p>
<h4>Does White have to allow this?</h4>
<p>Some players prefer to only enter the English Attack these days after
 <span onclick='loadMove("rnbqkb1r/1p2pppp/p2p1n2/8/3NP3/2N2P2/PPP3PP/R1BQKB1R b KQkq - 0 6", this, "f2f3"); ' class="line1">6.f3</span> 
, which certainly prevents
 <span onclick='loadMove("rnbqkb1r/1p2pppp/p2p4/8/3NP1n1/2N2P2/PPP3PP/R1BQKB1R w KQkq - 0 7", this, "f6g4"); ' class="line1">6...Ng4</span> 
but isn't ideal in other ways as we will discuss later in this chapter.
White also has two alternatives after
 <span onclick='loadMove("rnbqkb1r/1p2pppp/p2p1n2/8/3NP3/2N1B3/PPP2PPP/R2QKB1R b KQkq - 0 6", this, "c1e3"); ' class="line1">6.Be3</span> 
 <span onclick='loadMove("rnbqkb1r/1p2pppp/p2p4/8/3NP1n1/2N1B3/PPP2PPP/R2QKB1R w KQkq - 0 7", this, "f6g4"); ' class="line1">Ng4</span> 
to
 <span onclick='loadMove("rnbqkb1r/1p2pppp/p2p4/6B1/3NP1n1/2N5/PPP2PPP/R2QKB1R b KQkq - 0 7", this, "e3g5"); ' class="line1">7.Bg5</span> 
:</p>
<p>(a)
 <span onclick='loadMove("rnbqkb1r/1p2pppp/p2p4/8/2BNP1n1/2N1B3/PPP2PPP/R2QK2R b KQkq - 0 7", this, "f1c4"); ' class="line2">7.Bc4?!</span> 
hopes for a quick initiative after
 <span onclick='loadMove("rnbqkb1r/1p2pppp/p2p4/8/2BNP3/2N1n3/PPP2PPP/R2QK2R w KQkq - 0 8", this, "g4e3"); ' class="line2">7...Nxe3</span> 
 <span onclick='loadMove("rnbqkb1r/1p2pppp/p2p4/8/2BNP3/2N1P3/PPP3PP/R2QK2R b KQkq - 0 8", this, "f2e3"); ' class="line2">8.fxe3</span> 
 <span onclick='loadMove("rnbqkb1r/1p3ppp/p2pp3/8/2BNP3/2N1P3/PPP3PP/R2QK2R w KQkq - 0 9", this, "e7e6"); ' class="line2">e6</span> 
 <span onclick='loadMove("rnbqkb1r/1p3ppp/p2pp3/8/2BNP3/2N1P3/PPP3PP/R2Q1RK1 b kq - 0 9", this, "e1g1"); ' class="line2">9.O-O</span> 
, but
 <span onclick='loadMove("r1bqkb1r/1p3ppp/p1npp3/8/2BNP3/2N1P3/PPP3PP/R2Q1RK1 w kq - 0 10", this, "b8c6"); ' class="line2">9...Nc6!</span> 
</p>
<div class="chessBoard analysis nobuttons" data-start-fen="r1bqkb1r/1p3ppp/p1npp3/8/2BNP3/2N1P3/PPP3PP/R2Q1RK1 w kq - 0 10"></div>
<p class="caption"><b><i>The f-file pressure is insufficient</i></b></p>
<p>eliminates any sacrifices. Polugaevsky's
 <span onclick='loadMove("r1bqkb1r/1p3ppp/p1Npp3/8/2B1P3/2N1P3/PPP3PP/R2Q1RK1 b kq - 0 10", this, "d4c6"); ' class="line2">10.Nxc6</span> 
 <span onclick='loadMove("r1bqkb1r/5ppp/p1ppp3/8/2B1P3/2N1P3/PPP3PP/R2Q1RK1 w kq - 0 11", this, "b7c6"); ' class="line2">bxc6</span> 
 <span onclick='loadMove("r1bqkb1r/5ppp/p1ppp3/8/2B1P3/2N1PQ2/PPP3PP/R4RK1 b kq - 0 11", this, "d1f3"); ' class="line2">11.Qf3</span> 
 <span onclick='loadMove("r1b1kb1r/5ppp/p1pppq2/8/2B1P3/2N1PQ2/PPP3PP/R4RK1 w kq - 0 12", this, "d8f6"); ' class="line2">Qf6!?</span> 
further neutralizes White's intentions after which Black's superior structure and bishop-pair grants him the better chances.</p>
<p>(b)
 <span onclick='loadMove("rnbqkb1r/1p2pppp/p2p4/8/3NP1n1/2N5/PPP2PPP/R1BQKB1R b KQkq - 0 7", this, "e3c1"); ' class="line2">7.Bc1</span> 
prepares to repeat after
 <span onclick='loadMove("rnbqkb1r/1p2pppp/p2p1n2/8/3NP3/2N5/PPP2PPP/R1BQKB1R w KQkq - 0 8", this, "g4f6"); ' class="line2">7...Nf6</span> 
. Even if Black is determined not to finish so quickly, he should accept the first repetition as White may well choose a different anti-Najdorf system the second time around. However, if White does repeat with
 <span onclick='loadMove("rnbqkb1r/1p2pppp/p2p1n2/8/3NP3/2N1B3/PPP2PPP/R2QKB1R b KQkq - 0 8", this, "c1e3"); ' class="line2">8.Be3</span> 
then Black can switch to
 <span onclick='loadMove("rnbqkb1r/1p3ppp/p2p1n2/4p3/3NP3/2N1B3/PPP2PPP/R2QKB1R w KQkq e6 0 9", this, "e7e5"); ' class="line2">8...e5</span> 
or opt for
 <span onclick='loadMove("rnbqkb1r/1p2pppp/p2p4/8/3NP1n1/2N1B3/PPP2PPP/R2QKB1R w KQkq - 0 9", this, "f6g4"); ' class="line2">8...Ng4</span> 
 <span onclick='loadMove("rnbqkb1r/1p2pppp/p2p4/8/3NP1n1/2N5/PPP2PPP/R1BQKB1R b KQkq - 0 9", this, "e3c1"); ' class="line2">9.Bc1</span> 
 <span onclick='loadMove("r1bqkb1r/1p2pppp/p1np4/8/3NP1n1/2N5/PPP2PPP/R1BQKB1R w KQkq - 0 10", this, "b8c6"); ' class="line2">Nc6!?</span> 
,</p>
<div class="chessBoard analysis nobuttons" data-start-fen="r1bqkb1r/1p2pppp/p1np4/8/3NP1n1/2N5/PPP2PPP/R1BQKB1R w KQkq - 0 10"></div>
<p class="caption"><b><i>Ending the repetition</i></b></p>
<p>hoping for
 <span onclick='loadMove("r1bqkb1r/1p2pppp/p1np4/8/3NP1n1/2N2P2/PPP3PP/R1BQKB1R b KQkq - 0 10", this, "f2f3"); ' class="line2">10.f3?</span> 
 <span onclick='loadMove("r1b1kb1r/1p2pppp/pqnp4/8/3NP1n1/2N2P2/PPP3PP/R1BQKB1R w KQkq - 0 11", this, "d8b6"); ' class="line2">Qb6!</span> 
.
 <span onclick='loadMove("r1bqkb1r/1p2pppp/p1np4/8/3NP1n1/2N5/PPP1BPPP/R1BQK2R b KQkq - 0 10", this, "f1e2"); ' class="line3">10.Be2</span> 
is a superior choice when
 <span onclick='loadMove("r1b1kb1r/1p2pppp/pqnp4/8/3NP1n1/2N5/PPP1BPPP/R1BQK2R w KQkq - 0 11", this, "d8b6"); ' class="line3">10...Qb6!?</span> 
 <span onclick='loadMove("r1b1kb1r/1p2pppp/pqnp4/8/3NP1B1/2N5/PPP2PPP/R1BQK2R b KQkq - 0 11", this, "e2g4"); ' class="line3">11.Bxg4</span> 
 <span onclick='loadMove("r1b1kb1r/1p2pppp/p1np4/8/3qP1B1/2N5/PPP2PPP/R1BQK2R w KQkq - 0 12", this, "b6d4"); ' class="line3">Qxd4</span> 
 <span onclick='loadMove("r1b1kb1r/1p2pppp/p1np4/8/3qP1B1/2N1B3/PPP2PPP/R2QK2R b KQkq - 0 12", this, "c1e3"); ' class="line3">12.Be3</span> 
 <span onclick='loadMove("r1b1kb1r/1p2pppp/p1np4/8/4P1B1/2N1B3/PPP2PPP/R2qK2R w KQkq - 0 13", this, "d4d1"); ' class="line3">Qxd1+</span> 
 <span onclick='loadMove("r1b1kb1r/1p2pppp/p1np4/8/4P3/2N1B3/PPP2PPP/R2BK2R b KQkq - 0 13", this, "g4d1"); ' class="line3">13.Bxd1</span> 
 <span onclick='loadMove("r3kb1r/1p2pppp/p1npb3/8/4P3/2N1B3/PPP2PPP/R2BK2R w KQkq - 0 14", this, "c8e6"); ' class="line3">Be6</span> 
 <span onclick='loadMove("r3kb1r/1p2pppp/p1npb3/8/4PP2/2N1B3/PPP3PP/R2BK2R b KQkq f3 0 14", this, "f2f4"); ' class="line3">14.f4</span> 
 <span onclick='loadMove("r3kb1r/1p2pp1p/p1npb1p1/8/4PP2/2N1B3/PPP3PP/R2BK2R w KQkq - 0 15", this, "g7g6"); ' class="line3">g6</span> 
 <span onclick='loadMove("r3kb1r/1p2pp1p/p1npb1p1/3N4/4PP2/4B3/PPP3PP/R2BK2R b KQkq - 0 15", this, "c3d5"); ' class="line3">15.Nd5</span> 
 <span onclick='loadMove("2r1kb1r/1p2pp1p/p1npb1p1/3N4/4PP2/4B3/PPP3PP/R2BK2R w KQk - 0 16", this, "a8c8"); ' class="line3">Rc8</span> 
 <span onclick='loadMove("2r1kb1r/1p2pp1p/p1npb1p1/3N4/4PP2/2P1B3/PP4PP/R2BK2R b KQk - 0 16", this, "c2c3"); ' class="line3">16.c3</span> 
 <span onclick='loadMove("2r1k2r/1p2ppbp/p1npb1p1/3N4/4PP2/2P1B3/PP4PP/R2BK2R w KQk - 0 17", this, "f8g7"); ' class="line3">Bg7</span> 
led to an unbalanced position in <b>M.Rose-R.Palliser, Oxford 2002</b>, although
 <span onclick='loadMove("2r1k2r/1p2ppbp/pNnpb1p1/8/4PP2/2P1B3/PP4PP/R2BK2R b KQk - 0 17", this, "d5b6"); ' class="line3">17.Nb6</span> 
 <span onclick='loadMove("4k2r/1pr1ppbp/pNnpb1p1/8/4PP2/2P1B3/PP4PP/R2BK2R w KQk - 0 18", this, "c8c7"); ' class="line3">Rc7</span> 
 <span onclick='loadMove("4k2r/1pr1ppbp/pNnpb1p1/8/4PP2/2P1B3/PP4PP/R2B1RK1 b k - 0 18", this, "e1g1"); ' class="line3">18.O-O</span> 
would have retained a small edge for White.</p>
<h4>How good is 6...Ng4?</h4>
<p>Everything so far has sounded quite rosy for Black, but it is worth noting that Kasparov, who had contributed so much to it, gave up the variation in 2000. Whether that was due to the arrival of
 <span onclick='loadMove("rnbqkb1r/1p2pppp/p2p1n2/8/3NP3/2N2P2/PPP3PP/R1BQKB1R b KQkq - 0 6", this, "f2f3"); ' class="line1">6.f3</span> 
as an alternative move-order or to the new problems being posed by <b>10.h3</b> is, however, not known.
 <span onclick='loadMove("rnbqkb1r/1p2pppp/p2p4/8/3NP1n1/2N2P2/PPP3PP/R1BQKB1R w KQkq - 0 7", this, "f6g4"); ' class="line1">6...Ng4</span> 
still continued to be defended by a number of grandmasters, but it did appear that its star was on the wane until it made a comeback at elite level at San Luis. Currently, despite the huge interest in <b>10.h3!?</b>, Black appears to theoretically be holding his own with
 <span onclick='loadMove("rnbqkb1r/1p2pppp/p2p4/8/3NP1n1/2N2P2/PPP3PP/R1BQKB1R w KQkq - 0 7", this, "f6g4"); ' class="line1">6...Ng4</span> 
.</p>
<h4>How should White complete his development?</h4>
<p>
 <span onclick='loadMove("rnbqkb1r/1p2pppp/p2p4/6B1/3NP1n1/2N5/PPP2PPP/R2QKB1R b KQkq - 0 7", this, "e3g5"); ' class="line0">7.Bg5</span> 
 <span onclick='loadMove("rnbqkb1r/1p2ppp1/p2p3p/6B1/3NP1n1/2N5/PPP2PPP/R2QKB1R w KQkq - 0 8", this, "h7h6"); ' class="line0">h6</span> 
 <span onclick='loadMove("rnbqkb1r/1p2ppp1/p2p3p/8/3NP1nB/2N5/PPP2PPP/R2QKB1R b KQkq - 0 8", this, "g5h4"); ' class="line0">8.Bh4</span> 
 <span onclick='loadMove("rnbqkb1r/1p2pp2/p2p3p/6p1/3NP1nB/2N5/PPP2PPP/R2QKB1R w KQkq g6 0 9", this, "g7g5"); ' class="line0">g5</span> 
 <span onclick='loadMove("rnbqkb1r/1p2pp2/p2p3p/6p1/3NP1n1/2N3B1/PPP2PPP/R2QKB1R b KQkq - 0 9", this, "h4g3"); ' class="line0">9.Bg3</span> 
 <span onclick='loadMove("rnbqk2r/1p2ppb1/p2p3p/6p1/3NP1n1/2N3B1/PPP2PPP/R2QKB1R w KQkq - 0 10", this, "f8g7"); ' class="line0">Bg7</span> 
should definitely not be met by
 <span onclick='loadMove("rnbqk2r/1p2ppb1/p2p3p/6p1/3NP1n1/2N2PB1/PPP3PP/R2QKB1R b KQkq - 0 10", this, "f2f3"); ' class="line1">10.f3??</span> 
as
 <span onclick='loadMove("rnbqk2r/1p2ppb1/p2p3p/6p1/3NP3/2N1nPB1/PPP3PP/R2QKB1R w KQkq - 0 11", this, "g4e3"); ' class="line1">10...Ne3</span> 
 <span onclick='loadMove("rnbqk2r/1p2ppb1/p2p3p/6p1/3NP3/2N1nPB1/PPPQ2PP/R3KB1R b KQkq - 0 11", this, "d1d2"); ' class="line1">11.Qd2</span> 
 <span onclick='loadMove("rnbqk2r/1p2pp2/p2p3p/6p1/3bP3/2N1nPB1/PPPQ2PP/R3KB1R w KQkq - 0 12", this, "g7d4"); ' class="line1">Bxd4!</span> 
wins a piece.
Instead White usually nowadays prefers one of
 <span onclick='loadMove("rnbqk2r/1p2ppb1/p2p3p/6p1/3NP1n1/2N3B1/PPP1BPPP/R2QK2R b KQkq - 0 10", this, "f1e2"); ' class="line1">10.Be2</span> 
or
 <span onclick='loadMove("rnbqk2r/1p2ppb1/p2p3p/6p1/3NP1n1/2N3BP/PPP2PP1/R2QKB1R b KQkq - 0 10", this, "h2h3"); ' class="line1">10.h3</span> 
, immediately attacking the pesky g4-knight, whereas
 <span onclick='loadMove("rnbqk2r/1p2ppb1/p2p3p/6p1/3NP1n1/2N3B1/PPPQ1PPP/R3KB1R b KQkq - 0 10", this, "d1d2"); ' class="line1">10.Qd2</span> 
, which was once a main line, has now rather faded away, largely because it is considered quite comfortable for Black.</p>
<p>
 <span onclick='loadMove("rnbqk2r/1p2ppb1/p2p3p/6p1/3NP1n1/2N3B1/PPPQ1PPP/R3KB1R b KQkq - 0 10", this, "d1d2"); ' class="line0">10.Qd2</span> 
 <span onclick='loadMove("r1bqk2r/1p2ppb1/p1np3p/6p1/3NP1n1/2N3B1/PPPQ1PPP/R3KB1R w KQkq - 0 11", this, "b8c6"); ' class="line0">Nc6</span> 
 <span onclick='loadMove("r1bqk2r/1p2ppb1/p1np3p/6p1/4P1n1/1NN3B1/PPPQ1PPP/R3KB1R b KQkq - 0 11", this, "d4b3"); ' class="line0">11.Nb3</span> 
</p>
<div class="chessBoard analysis nobuttons" data-start-fen="r1bqk2r/1p2ppb1/p1np3p/6p1/4P1n1/1NN3B1/PPPQ1PPP/R3KB1R b KQkq - 0 11"></div>
<p class="caption"><b><i>Black has good central control</i></b></p>
<p>It may well be having to make this meek move which has put most players off
 <span onclick='loadMove("rnbqk2r/1p2ppb1/p2p3p/6p1/3NP1n1/2N3B1/PPPQ1PPP/R3KB1R b KQkq - 0 10", this, "d1d2"); ' class="line1">10.Qd2</span> 
. Black's knights will now control a number of central squares from c6 and e5, whereas the white knight achieves little from b3.</p>
<p>
 <span onclick='loadMove("r2qk2r/1p2ppb1/p1npb2p/6p1/4P1n1/1NN3B1/PPPQ1PPP/R3KB1R w KQkq - 0 12", this, "c8e6"); ' class="line0">11...Be6</span> 
</p>
<p>For Kasparov's preferred move-order
 <span onclick='loadMove("r1bqk2r/1p2ppb1/p1np3p/4n1p1/4P3/1NN3B1/PPPQ1PPP/R3KB1R w KQkq - 0 12", this, "g4e5"); ' class="line1">11...Nge5</span> 
see <b>Ivanchuk-Kasparov</b>,
but
 <span onclick='loadMove("r2qk2r/1p2ppb1/p1npb2p/6p1/4P1n1/1NN3B1/PPPQ1PPP/R3KB1R w KQkq - 0 12", this, "c8e6"); ' class="line1">11...Be6</span> 
has been by far the more popular choice.</p>
<p>
 <span onclick='loadMove("r2qk2r/1p2ppb1/p1npb2p/6p1/4P1n1/1NN2PB1/PPPQ2PP/R3KB1R b KQkq - 0 12", this, "f2f3"); ' class="line0">12.f3</span> 
</p>
<p>Bringing the bishop back into play which makes positional sense, but is a little slow. Much more challenging is
 <span onclick='loadMove("r2qk2r/1p2ppb1/p1npb2p/6p1/4P1nP/1NN3B1/PPPQ1PP1/R3KB1R b KQkq h3 0 12", this, "h2h4"); ' class="line1">12.h4!</span> 
when
 <span onclick='loadMove("r2qk2r/1p2ppb1/p1npb2p/8/4P1np/1NN3B1/PPPQ1PP1/R3KB1R w KQkq - 0 13", this, "g5h4"); ' class="line1">12...gxh4</span> 
 <span onclick='loadMove("r2qk2r/1p2ppb1/p1npb2p/8/4P1nB/1NN5/PPPQ1PP1/R3KB1R b KQkq - 0 13", this, "g3h4"); ' class="line1">13.Bxh4</span> 
 <span onclick='loadMove("2rqk2r/1p2ppb1/p1npb2p/8/4P1nB/1NN5/PPPQ1PP1/R3KB1R w KQk - 0 14", this, "a8c8"); ' class="line1">Rc8</span> 
 <span onclick='loadMove("2rqk2r/1p2ppb1/p1npb2p/8/4P1nB/1NN2P2/PPPQ2P1/R3KB1R b KQk - 0 14", this, "f2f3"); ' class="line1">14.f3!</span> 
maintains control and should lead to a an advantage for White. Black should thus not fracture his structure, preferring
 <span onclick='loadMove("r2qk1r1/1p2ppb1/p1npb2p/6p1/4P1nP/1NN3B1/PPPQ1PP1/R3KB1R w KQq - 0 13", this, "h8g8"); ' class="line1">12...Rg8!?</span> 
 <span onclick='loadMove("r2qk1r1/1p2ppb1/p1npb2p/6P1/4P1n1/1NN3B1/PPPQ1PP1/R3KB1R b KQq - 0 13", this, "h4g5"); ' class="line1">13.hxg5</span> 
 <span onclick='loadMove("r2qk1r1/1p2ppb1/p1npb3/6p1/4P1n1/1NN3B1/PPPQ1PP1/R3KB1R w KQq - 0 14", this, "h6g5"); ' class="line1">hxg5</span> 
when Ftacnik's
 <span onclick='loadMove("r2qk1r1/1p2ppb1/p1npb3/6p1/4P1n1/1NN2PB1/PPPQ2P1/R3KB1R b KQq - 0 14", this, "f2f3"); ' class="line1">14.f3</span> 
 <span onclick='loadMove("r2qk1r1/1p2pp2/p1npb3/6p1/4P1n1/1Nb2PB1/PPPQ2P1/R3KB1R w KQq - 0 15", this, "g7c3"); ' class="line1">Bxc3!?</span> 
 <span onclick='loadMove("r2qk1r1/1p2pp2/p1npb3/6p1/4P1n1/1NQ2PB1/PPP3P1/R3KB1R b KQq - 0 15", this, "d2c3"); ' class="line1">15.Qxc3</span> 
 <span onclick='loadMove("r2qk1r1/1p2pp2/p1npb3/4n1p1/4P3/1NQ2PB1/PPP3P1/R3KB1R w KQq - 0 16", this, "g4e5"); ' class="line1">Nge5</span> 
 <span onclick='loadMove("r2qk1r1/1p2pp2/p1npb3/4n1p1/4P3/1NQ2PB1/PPP3P1/2KR1B1R b q - 0 16", this, "e1c1"); ' class="line1">16.O-O-O</span> 
 <span onclick='loadMove("2rqk1r1/1p2pp2/p1npb3/4n1p1/4P3/1NQ2PB1/PPP3P1/2KR1B1R w - - 0 17", this, "a8c8"); ' class="line1">Rc8</span> 
 <span onclick='loadMove("2rqk1r1/1p2pp2/p1npb3/4n1p1/4P3/1N3PB1/PPPQ2P1/2KR1B1R b - - 0 17", this, "c3d2"); ' class="line1">17.Qd2</span> 
 <span onclick='loadMove("2r1k1r1/1p2pp2/pqnpb3/4n1p1/4P3/1N3PB1/PPPQ2P1/2KR1B1R w - - 0 18", this, "d8b6"); ' class="line1">Qb6!</span> 
is rather radical, but also very solid for Black.</p>
<p>
 <span onclick='loadMove("r2qk2r/1p2ppb1/p1npb2p/4n1p1/4P3/1NN2PB1/PPPQ2PP/R3KB1R w KQkq - 0 13", this, "g4e5"); ' class="line0">12...Nge5</span> 
 <span onclick='loadMove("r2qk2r/1p2ppb1/p1npb2p/3Nn1p1/4P3/1N3PB1/PPPQ2PP/R3KB1R b KQkq - 0 13", this, "c3d5"); ' class="line0">13.Nd5</span> 
 <span onclick='loadMove("r2qk2r/4ppb1/p1npb2p/1p1Nn1p1/4P3/1N3PB1/PPPQ2PP/R3KB1R w KQkq b6 0 14", this, "b7b5"); ' class="line0">b5</span> 
 <span onclick='loadMove("r2qk2r/4ppb1/p1npb2p/1p1Nn1p1/4P3/1N3P2/PPPQ1BPP/R3KB1R b KQkq - 0 14", this, "g3f2"); ' class="line0">14.Bf2</span> 
 <span onclick='loadMove("1r1qk2r/4ppb1/p1npb2p/1p1Nn1p1/4P3/1N3P2/PPPQ1BPP/R3KB1R w KQk - 0 15", this, "a8b8"); ' class="line0">Rb8</span> 
 <span onclick='loadMove("1r1qk2r/4ppb1/p1npb2p/1p1Nn1p1/3NP3/5P2/PPPQ1BPP/R3KB1R b KQk - 0 15", this, "b3d4"); ' class="line0">15.Nd4</span> 
</p>
<p>Exchanging off one of the black knights and centralizing the bishop, but Black is still to be troubled on the kingside.</p>
<p>
 <span onclick='loadMove("1r1qk2r/4ppb1/p2pb2p/1p1Nn1p1/3nP3/5P2/PPPQ1BPP/R3KB1R w KQk - 0 16", this, "c6d4"); ' class="line0">15...Nxd4</span> 
 <span onclick='loadMove("1r1qk2r/4ppb1/p2pb2p/1p1Nn1p1/3BP3/5P2/PPPQ2PP/R3KB1R b KQk - 0 16", this, "f2d4"); ' class="line0">16.Bxd4</span> 
 <span onclick='loadMove("1r1qk2r/4p1b1/p2pb2p/1p1Nnpp1/3BP3/5P2/PPPQ2PP/R3KB1R w KQk f6 0 17", this, "f7f5"); ' class="line0">f5!</span> 
 <span onclick='loadMove("1r1qk2r/4p1b1/p2pb2p/1p1Nnpp1/3BP2P/5P2/PPPQ2P1/R3KB1R b KQk h3 0 17", this, "h2h4"); ' class="line0">17.h4</span> 
 <span onclick='loadMove("1r1qk2r/4p1b1/p2pb2p/1p1Nn1p1/3BPp1P/5P2/PPPQ2P1/R3KB1R w KQk - 0 18", this, "f5f4"); ' class="line0">f4!</span> 
</p>
<div class="chessBoard analysis nobuttons" data-start-fen="1r1qk2r/4p1b1/p2pb2p/1p1Nn1p1/3BPp1P/5P2/PPPQ2P1/R3KB1R w KQk - 0 18"></div>
<p class="caption"><b><i>Securing f4</i></b></p>
<p>White has finally advanced his h-pawn and his knight is well placed on d5, but Black is still pretty comfortable here as he has maintained control over e5. Furthermore, he doesn't mind an exchange on g5 and his king will be quite safe, once Black begins to advance on the queenside, on e8 or f7.</p>
<h4>Theoretical?</h4>
<p>In general
 <span onclick='loadMove("rnbqkb1r/1p2pppp/p2p4/8/3NP1n1/2N1B3/PPP2PPP/R2QKB1R w KQkq - 0 7", this, "f6g4"); ' class="line1">6...Ng4</span> 
is less theoretical than
 <span onclick='loadMove("rnbqkb1r/1p3ppp/p2p1n2/4p3/3NP3/2N1B3/PPP2PPP/R2QKB1R w KQkq e6 0 7", this, "e7e5"); ' class="line1">6...e5</span> 
, although it has been much debated for the past fifteen years and so a body of theory has built up. Black's dark-square play, aiming to fully exploit his strong g7-bishop and e5-knight, is though quite logical, especially in the event of
 <span onclick='loadMove("rnbqk2r/1p2ppb1/p2p3p/6p1/3NP1n1/2N3B1/PPPQ1PPP/R3KB1R b KQkq - 0 10", this, "d1d2"); ' class="line1">10.Qd2</span> 
. However, as we have seen,
 <span onclick='loadMove("rnbqk2r/1p2ppb1/p2p3p/6p1/3NP1n1/2N3B1/PPPQ1PPP/R3KB1R b KQkq - 0 10", this, "d1d2"); ' class="line1">10.Qd2</span> 
does contain some awkward ideas and is far from dead and buried, while
 <span onclick='loadMove("r1bqk2r/1p2ppb1/p1np3p/6p1/3NP1n1/2N3B1/PPPQ1PPP/R3KB1R w KQkq - 0 11", this, "b8c6"); ' class="line1">10...Nc6</span> 
 <span onclick='loadMove("r1bqk2r/1p2ppb1/p1np3p/6p1/4P1n1/1NN3B1/PPPQ1PPP/R3KB1R b KQkq - 0 11", this, "d4b3"); ' class="line1">11.Nb3</span> 
 <span onclick='loadMove("r1bqk2r/4ppb1/p1np3p/1p4p1/4P1n1/1NN3B1/PPPQ1PPP/R3KB1R w KQkq b6 0 12", this, "b7b5"); ' class="line1">b5!?</span> 
could well be Black's best move-order.</p>
<h4>Statistics</h4>
<p>From our starting position (after
 <span onclick='loadMove("rnbqk2r/1p2ppb1/p2p3p/6p1/3NP1n1/2N3B1/PPP2PPP/R2QKB1R w KQkq - 0 10", this, "f8g7"); ' class="line1">9...Bg7</span> 
), Black has surprisingly scored only 45% from almost 900 games with this positionally rich line. However, if Topalov continues to replace Kasparov in enriching it with new ideas, that percentage should rise.
 <span onclick='loadMove("rnbqk2r/1p2ppb1/p2p3p/6p1/3NP1n1/2N3B1/PPPQ1PPP/R3KB1R b KQkq - 0 10", this, "d1d2"); ' class="line1">10.Qd2</span> 
has secured a reasonable 56% from 195 games when Kasparov's
 <span onclick='loadMove("r1bqk2r/1p2ppb1/p1np3p/6p1/3NP1n1/2N3B1/PPPQ1PPP/R3KB1R w KQkq - 0 11", this, "b8c6"); ' class="line1">10...Nc6</span> 
 <span onclick='loadMove("r1bqk2r/1p2ppb1/p1np3p/6p1/4P1n1/1NN3B1/PPPQ1PPP/R3KB1R b KQkq - 0 11", this, "d4b3"); ' class="line1">11.Nb3</span> 
 <span onclick='loadMove("r1bqk2r/1p2ppb1/p1np3p/4n1p1/4P3/1NN3B1/PPPQ1PPP/R3KB1R w KQkq - 0 12", this, "g4e5"); ' class="line1">Nge5</span> 
is Black's best scoring defence, netting 48% albeit from just 22 outings.</p>
</div> <!-- score -->
</div> <!-- section -->

<div class="section">
<div class="chessBoard small floater" data-start-fen="rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w KQkq - 0 1"></div>
<div class="score">
 <span class="line0" onclick='loadMove("rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w KQkq - 0 1", this, ""); '>[...]</span> 
<h3>Introduction and 10 Qd2: <a name="Games">Illustrative Games</a></h3>
<h4>Game 22<br>Ivanchuk, V. - Kasparov, G.<br>Linares 1999</h4>
<p>[ECO "B90"]</p>
<p>
 <span onclick='loadMove("rnbqkbnr/pppppppp/8/8/4P3/8/PPPP1PPP/RNBQKBNR b KQkq e3 0 1", this, "e2e4"); ' class="line0">1.e4</span> 
 <span onclick='loadMove("rnbqkbnr/pp1ppppp/8/2p5/4P3/8/PPPP1PPP/RNBQKBNR w KQkq c6 0 2", this, "c7c5"); ' class="line0">c5</span> 
 <span onclick='loadMove("rnbqkbnr/pp1ppppp/8/2p5/4P3/5N2/PPPP1PPP/RNBQKB1R b KQkq - 0 2", this, "g1f3"); ' class="line0">2.Nf3</span> 
 <span onclick='loadMove("rnbqkbnr/pp2pppp/3p4/2p5/4P3/5N2/PPPP1PPP/RNBQKB1R w KQkq - 0 3", this, "d7d6"); ' class="line0">d6</span> 
 <span onclick='loadMove("rnbqkbnr/pp2pppp/3p4/2p5/3PP3/5N2/PPP2PPP/RNBQKB1R b KQkq d3 0 3", this, "d2d4"); ' class="line0">3.d4</span> 
 <span onclick='loadMove("rnbqkbnr/pp2pppp/3p4/8/3pP3/5N2/PPP2PPP/RNBQKB1R w KQkq - 0 4", this, "c5d4"); ' class="line0">cxd4</span> 
 <span onclick='loadMove("rnbqkbnr/pp2pppp/3p4/8/3NP3/8/PPP2PPP/RNBQKB1R b KQkq - 0 4", this, "f3d4"); ' class="line0">4.Nxd4</span> 
 <span onclick='loadMove("rnbqkb1r/pp2pppp/3p1n2/8/3NP3/8/PPP2PPP/RNBQKB1R w KQkq - 0 5", this, "g8f6"); ' class="line0">Nf6</span> 
 <span onclick='loadMove("rnbqkb1r/pp2pppp/3p1n2/8/3NP3/2N5/PPP2PPP/R1BQKB1R b KQkq - 0 5", this, "b1c3"); ' class="line0">5.Nc3</span> 
 <span onclick='loadMove("rnbqkb1r/1p2pppp/p2p1n2/8/3NP3/2N5/PPP2PPP/R1BQKB1R w KQkq - 0 6", this, "a7a6"); ' class="line0">a6</span> 
 <span onclick='loadMove("rnbqkb1r/1p2pppp/p2p1n2/8/3NP3/2N1B3/PPP2PPP/R2QKB1R b KQkq - 0 6", this, "c1e3"); ' class="line0">6.Be3</span> 
 <span onclick='loadMove("rnbqkb1r/1p2pppp/p2p4/8/3NP1n1/2N1B3/PPP2PPP/R2QKB1R w KQkq - 0 7", this, "f6g4"); ' class="line0">Ng4</span> 
 <span onclick='loadMove("rnbqkb1r/1p2pppp/p2p4/6B1/3NP1n1/2N5/PPP2PPP/R2QKB1R b KQkq - 0 7", this, "e3g5"); ' class="line0">7.Bg5</span> 
 <span onclick='loadMove("rnbqkb1r/1p2ppp1/p2p3p/6B1/3NP1n1/2N5/PPP2PPP/R2QKB1R w KQkq - 0 8", this, "h7h6"); ' class="line0">h6</span> 
 <span onclick='loadMove("rnbqkb1r/1p2ppp1/p2p3p/8/3NP1nB/2N5/PPP2PPP/R2QKB1R b KQkq - 0 8", this, "g5h4"); ' class="line0">8.Bh4</span> 
 <span onclick='loadMove("rnbqkb1r/1p2pp2/p2p3p/6p1/3NP1nB/2N5/PPP2PPP/R2QKB1R w KQkq g6 0 9", this, "g7g5"); ' class="line0">g5</span> 
 <span onclick='loadMove("rnbqkb1r/1p2pp2/p2p3p/6p1/3NP1n1/2N3B1/PPP2PPP/R2QKB1R b KQkq - 0 9", this, "h4g3"); ' class="line0">9.Bg3</span> 
 <span onclick='loadMove("rnbqk2r/1p2ppb1/p2p3p/6p1/3NP1n1/2N3B1/PPP2PPP/R2QKB1R w KQkq - 0 10", this, "f8g7"); ' class="line0">Bg7</span> 
 <span onclick='loadMove("rnbqk2r/1p2ppb1/p2p3p/6p1/3NP1n1/2N3B1/PPPQ1PPP/R3KB1R b KQkq - 0 10", this, "d1d2"); ' class="line0">10.Qd2</span> 
 <span onclick='loadMove("r1bqk2r/1p2ppb1/p1np3p/6p1/3NP1n1/2N3B1/PPPQ1PPP/R3KB1R w KQkq - 0 11", this, "b8c6"); ' class="line0">Nc6</span> 
 <span onclick='loadMove("r1bqk2r/1p2ppb1/p1np3p/6p1/4P1n1/1NN3B1/PPPQ1PPP/R3KB1R b KQkq - 0 11", this, "d4b3"); ' class="line0">11.Nb3</span> 
 <span onclick='loadMove("r1bqk2r/1p2ppb1/p1np3p/4n1p1/4P3/1NN3B1/PPPQ1PPP/R3KB1R w KQkq - 0 12", this, "g4e5"); ' class="line0">Nge5</span> 
</p>
<p>We've already noted that
 <span onclick='loadMove("r2qk2r/1p2ppb1/p1npb2p/6p1/4P1n1/1NN3B1/PPPQ1PPP/R3KB1R w KQkq - 0 12", this, "c8e6"); ' class="line2">11...Be6</span> 
 <span onclick='loadMove("r2qk2r/1p2ppb1/p1npb2p/6p1/4P1nP/1NN3B1/PPPQ1PP1/R3KB1R b KQkq h3 0 12", this, "h2h4"); ' class="line2">12.h4!</span> 
is a little troubling for Black and so too might be
 <span onclick='loadMove("r1bqk2r/1p2ppb1/p1np3p/4n1p1/4P3/1NN3B1/PPPQ1PPP/R3KB1R w KQkq - 0 12", this, "g4e5"); ' class="line2">11...Nge5</span> 
 <span onclick='loadMove("r1bqk2r/1p2ppb1/p1np3p/4n1p1/P3P3/1NN3B1/1PPQ1PPP/R3KB1R b KQkq a3 0 12", this, "a2a4"); ' class="line2">12.a4</span> 
.
To avoid that
 <span onclick='loadMove("r1bqk2r/4ppb1/p1np3p/1p4p1/4P1n1/1NN3B1/PPPQ1PPP/R3KB1R w KQkq b6 0 12", this, "b7b5"); ' class="line1">11...b5!?</span> 
is possible,
intending to transpose to our main game after
 <span onclick='loadMove("r1bqk2r/4ppb1/p1np3p/1p4p1/4P1n1/1NN2PB1/PPPQ2PP/R3KB1R b KQkq - 0 12", this, "f2f3"); ' class="line2">12.f3</span> 
 <span onclick='loadMove("r1bqk2r/4ppb1/p1np3p/1p2n1p1/4P3/1NN2PB1/PPPQ2PP/R3KB1R w KQkq - 0 13", this, "g4e5"); ' class="line2">Nge5</span> 
.
More critical is
 <span onclick='loadMove("r1bqk2r/4ppb1/p1np3p/1p4p1/4P1nP/1NN3B1/PPPQ1PP1/R3KB1R b KQkq h3 0 12", this, "h2h4"); ' class="line1">12.h4!?</span> 
, although
 <span onclick='loadMove("r1bqk2r/4ppb1/p1np3p/1p6/4P1np/1NN3B1/PPPQ1PP1/R3KB1R w KQkq - 0 13", this, "g5h4"); ' class="line1">12...gxh4</span> 
 <span onclick='loadMove("r1bqk2r/4ppb1/p1np3p/1p6/4P1nB/1NN5/PPPQ1PP1/R3KB1R b KQkq - 0 13", this, "g3h4"); ' class="line1">13.Bxh4</span> 
 <span onclick='loadMove("r1bqk2r/4ppb1/p1np3p/1p2n3/4P2B/1NN5/PPPQ1PP1/R3KB1R w KQkq - 0 14", this, "g4e5"); ' class="line1">Nge5</span> 
appears quite playable for Black, when the knight may well quickly come to c4, while
 <span onclick='loadMove("r1bqk2r/4ppb1/p1np3p/6p1/1p2P1nP/1NN3B1/PPPQ1PP1/R3KB1R w KQkq - 0 13", this, "b5b4"); ' class="line1">12...b4!?</span> 
is also an option, driving the knight back to d1.</p>
<p>
 <span onclick='loadMove("r1bqk2r/1p2ppb1/p1np3p/4n1p1/4P3/1NN2PB1/PPPQ2PP/R3KB1R b KQkq - 0 12", this, "f2f3"); ' class="line0">12.f3</span> 
</p>
<p>Now Black seizes space on the queenside and it's surprising that Ivanchuk didn't prevent that with Leko's
 <span onclick='loadMove("r1bqk2r/1p2ppb1/p1np3p/4n1p1/P3P3/1NN3B1/1PPQ1PPP/R3KB1R b KQkq a3 0 12", this, "a2a4"); ' class="line1">12.a4</span> 
, aiming to keep Black's activity under control. Presumably Kasparov was ready for this and had a novelty prepared as Black has scored just 0.5/4 from this position on the database!
<b>P.Leko-I.Morovic Fernandez, Cienfuegos 1997</b> continued
 <span onclick='loadMove("r1bqk2r/1p2ppb1/p2p3p/n3n1p1/P3P3/1NN3B1/1PPQ1PPP/R3KB1R w KQkq - 0 13", this, "c6a5"); ' class="line1">12...Na5!</span> 
 <span onclick='loadMove("r1bqk2r/1p2ppb1/p2p3p/N3n1p1/P3P3/2N3B1/1PPQ1PPP/R3KB1R b KQkq - 0 13", this, "b3a5"); ' class="line1">13.Nxa5</span> 
 <span onclick='loadMove("r1b1k2r/1p2ppb1/p2p3p/q3n1p1/P3P3/2N3B1/1PPQ1PPP/R3KB1R w KQkq - 0 14", this, "d8a5"); ' class="line1">Qxa5</span> 
 <span onclick='loadMove("r1b1k2r/1p2ppb1/p2p3p/q2Nn1p1/P3P3/6B1/1PPQ1PPP/R3KB1R b KQkq - 0 14", this, "c3d5"); ' class="line1">14.Nd5!</span> 
 <span onclick='loadMove("r1b1k2r/1p2ppb1/p2p3p/3Nn1p1/P3P3/6B1/1PPq1PPP/R3KB1R w KQkq - 0 15", this, "a5d2"); ' class="line1">Qxd2+</span> 
 <span onclick='loadMove("r1b1k2r/1p2ppb1/p2p3p/3Nn1p1/P3P3/6B1/1PPK1PPP/R4B1R b kq - 0 15", this, "e1d2"); ' class="line1">15.Kxd2</span> 
 <span onclick='loadMove("1rb1k2r/1p2ppb1/p2p3p/3Nn1p1/P3P3/6B1/1PPK1PPP/R4B1R w k - 0 16", this, "a8b8"); ' class="line1">Rb8</span> 
 <span onclick='loadMove("1rb1k2r/1p2ppb1/p2p3p/3Nn1p1/P3P3/5PB1/1PPK2PP/R4B1R b k - 0 16", this, "f2f3"); ' class="line1">16.f3</span> 
when Leko suggests
 <span onclick='loadMove("1rb1k2r/1p2p1b1/p2p3p/3Nnpp1/P3P3/5PB1/1PPK2PP/R4B1R w k f6 0 17", this, "f7f5"); ' class="line1">16...f5!?</span> 
 <span onclick='loadMove("1rb1k2r/1p2p1b1/p2p3p/3Nnpp1/P3P3/5P2/1PPK1BPP/R4B1R b k - 0 17", this, "g3f2"); ' class="line1">17.Bf2</span> 
 <span onclick='loadMove("1rb1k2r/1p2p1b1/p1np3p/3N1pp1/P3P3/5P2/1PPK1BPP/R4B1R w k - 0 18", this, "e5c6"); ' class="line1">Nc6</span> 
 <span onclick='loadMove("1rb1k2r/1p2p1b1/p1np3p/3N1Pp1/P7/5P2/1PPK1BPP/R4B1R b k - 0 18", this, "e4f5"); ' class="line1">18.exf5</span> 
 <span onclick='loadMove("1r2k2r/1p2p1b1/p1np3p/3N1bp1/P7/5P2/1PPK1BPP/R4B1R w k - 0 19", this, "c8f5"); ' class="line1">Bxf5</span> 
 <span onclick='loadMove("1r2k2r/1p2p1b1/p1np3p/3N1bp1/P7/2P2P2/1P1K1BPP/R4B1R b k - 0 19", this, "c2c3"); ' class="line1">19.c3</span> 
and assesses this as slightly favouring White. Black does possess an extra pawn island, but this position appears quite playable for him: his bishops are well-placed, his kingside space will be quite useful in the endgame, <b>...b5-b4</b> will be a strong minority attack and he can drive back the white knight with <b>...e6</b> if necessary.</p>
<p>
 <span onclick='loadMove("r1bqk2r/4ppb1/p1np3p/1p2n1p1/4P3/1NN2PB1/PPPQ2PP/R3KB1R w KQkq b6 0 13", this, "b7b5"); ' class="line0">12...b5</span> 
 <span onclick='loadMove("r1bqk2r/4ppb1/p1np3p/1p2n1p1/4P3/1NN2P2/PPPQ1BPP/R3KB1R b KQkq - 0 13", this, "g3f2"); ' class="line0">13.Bf2</span> 
 <span onclick='loadMove("1rbqk2r/4ppb1/p1np3p/1p2n1p1/4P3/1NN2P2/PPPQ1BPP/R3KB1R w KQk - 0 14", this, "a8b8"); ' class="line0">Rb8!</span> 
</p>
<p>Prophylaxis against
 <span onclick='loadMove("1rbqk2r/4ppb1/p1np3p/1p1Nn1p1/4P3/1N3P2/PPPQ1BPP/R3KB1R b KQk - 0 14", this, "c3d5"); ' class="line1">14.Nd5</span> 
as b6 is now covered and once again we find White lacking a good plan.</p>
<p class="notification message">NOTE: With
 <span onclick='loadMove("rnbqkb1r/1p2pppp/p2p4/8/3NP1n1/2N1B3/PPP2PPP/R2QKB1R w KQkq - 0 7", this, "f6g4"); ' class="line1">6...Ng4</span> 
Black immediately tries to seize the initiative, but White shouldn't meekly let himself be driven backwards. Instead he must aim to either counter on the kingside, with an early <b>h4</b> or <b>Nf5</b>, or play more positionally by seeking a bind right across the board, as Leko's
 <span onclick='loadMove("r1bqk2r/1p2ppb1/p1np3p/4n1p1/4P3/1NN3B1/PPPQ1PPP/R3KB1R w KQkq - 0 12", this, "g4e5"); ' class="line1">11...Nge5</span> 
 <span onclick='loadMove("r1bqk2r/1p2ppb1/p1np3p/4n1p1/P3P3/1NN3B1/1PPQ1PPP/R3KB1R b KQkq a3 0 12", this, "a2a4"); ' class="line1">12.a4</span> 
intends.</p>
<p>
 <span onclick='loadMove("1rbqk2r/4ppb1/p1np3p/1p2n1p1/3NP3/2N2P2/PPPQ1BPP/R3KB1R b KQk - 0 14", this, "b3d4"); ' class="line0">14.Nd4?!</span> 
</p>
<p>Once again this is too slow and costs the initiative.
However, the white position already doesn't inspire confidence and
 <span onclick='loadMove("1rbqk2r/4ppb1/p1np3p/1p1Nn1p1/4P3/1N3P2/PPPQ1BPP/R3KB1R b KQk - 0 14", this, "c3d5"); ' class="line1">14.Nd5</span> 
 <span onclick='loadMove("1rbqk2r/5pb1/p1npp2p/1p1Nn1p1/4P3/1N3P2/PPPQ1BPP/R3KB1R w KQk - 0 15", this, "e7e6"); ' class="line1">e6!</span> 
 <span onclick='loadMove("1rbqk2r/5pb1/p1npp2p/1p2n1p1/4P3/1N2NP2/PPPQ1BPP/R3KB1R b KQk - 0 15", this, "d5e3"); ' class="line1">15.Ne3</span> 
 <span onclick='loadMove("1rbqk2r/5pb1/2npp2p/pp2n1p1/4P3/1N2NP2/PPPQ1BPP/R3KB1R w KQk - 0 16", this, "a6a5"); ' class="line1">a5</span> 
 <span onclick='loadMove("1rbqk2r/5pb1/2npp2p/pp2n1p1/P3P3/1N2NP2/1PPQ1BPP/R3KB1R b KQk a3 0 16", this, "a2a4"); ' class="line1">16.a4!</span> 
 <span onclick='loadMove("1rbqk2r/5pb1/2npp2p/p3n1p1/p3P3/1N2NP2/1PPQ1BPP/R3KB1R w KQk - 0 17", this, "b5a4"); ' class="line1">bxa4</span> 
 <span onclick='loadMove("1rbqk2r/5pb1/2npp2p/p3n1p1/R3P3/1N2NP2/1PPQ1BPP/4KB1R b Kk - 0 17", this, "a1a4"); ' class="line1">17.Rxa4</span> 
 <span onclick='loadMove("1rbq1rk1/5pb1/2npp2p/p3n1p1/R3P3/1N2NP2/1PPQ1BPP/4KB1R w K - 0 18", this, "e8g8"); ' class="line1">O-O</span> 
 <span onclick='loadMove("1rbq1rk1/5pb1/2npp2p/p3n1p1/R3P3/1N2NP2/1PPQBBPP/4K2R b K - 0 18", this, "f1e2"); ' class="line1">18.Be2</span> 
, whilst a better try, still allows Black good counterplay with Ftacnik's
 <span onclick='loadMove("1rbq1rk1/5pb1/2n1p2p/p2pn1p1/R3P3/1N2NP2/1PPQBBPP/4K2R w K - 0 19", this, "d6d5"); ' class="line1">18...d5!</span> 
.</p>
<p>
 <span onclick='loadMove("1rbqk2r/4ppb1/p1np3p/4n1p1/1p1NP3/2N2P2/PPPQ1BPP/R3KB1R w KQk - 0 15", this, "b5b4"); ' class="line0">14...b4!</span> 
 <span onclick='loadMove("1rbqk2r/4ppb1/p1np3p/4n1p1/1p1NP3/5P2/PPPQ1BPP/R2NKB1R b KQk - 0 15", this, "c3d1"); ' class="line0">15.Nd1</span> 
 <span onclick='loadMove("1rbqk2r/4ppb1/p2p3p/4n1p1/1p1nP3/5P2/PPPQ1BPP/R2NKB1R w KQk - 0 16", this, "c6d4"); ' class="line0">Nxd4</span> 
 <span onclick='loadMove("1rbqk2r/4ppb1/p2p3p/4n1p1/1p1BP3/5P2/PPPQ2PP/R2NKB1R b KQk - 0 16", this, "f2d4"); ' class="line0">16.Bxd4</span> 
 <span onclick='loadMove("1rbqk2r/4ppb1/p6p/3pn1p1/1p1BP3/5P2/PPPQ2PP/R2NKB1R w KQk - 0 17", this, "d6d5"); ' class="line0">d5!</span> 
 <span onclick='loadMove("1rbqk2r/4ppb1/p6p/3Pn1p1/1p1B4/5P2/PPPQ2PP/R2NKB1R b KQk - 0 17", this, "e4d5"); ' class="line0">17.exd5?!</span> 
</p>
<p>Black has seized the initiative and is extremely active right across the board.
Ivanchuk presumably didn't want to cede any more dark square control, but
 <span onclick='loadMove("1rbqk2r/4ppb1/p6p/3pB1p1/1p2P3/5P2/PPPQ2PP/R2NKB1R b KQk - 0 17", this, "d4e5"); ' class="line1">17.Bxe5</span> 
 <span onclick='loadMove("1rbqk2r/4pp2/p6p/3pb1p1/1p2P3/5P2/PPPQ2PP/R2NKB1R w KQk - 0 18", this, "g7e5"); ' class="line1">Bxe5</span> 
 <span onclick='loadMove("1rbqk2r/4pp2/p6p/3Pb1p1/1p6/5P2/PPPQ2PP/R2NKB1R b KQk - 0 18", this, "e4d5"); ' class="line1">18.exd5</span> 
might have been a better try, albeit still rather grim for White after
 <span onclick='loadMove("1rb1k2r/2q1pp2/p6p/3Pb1p1/1p6/5P2/PPPQ2PP/R2NKB1R w KQk - 0 19", this, "d8c7"); ' class="line1">18...Qc7</span> 
.</p>
<p>
 <span onclick='loadMove("1rb1k2r/4ppb1/p6p/3qn1p1/1p1B4/5P2/PPPQ2PP/R2NKB1R w KQk - 0 18", this, "d8d5"); ' class="line0">17...Qxd5</span> 
 <span onclick='loadMove("1rb1k2r/4ppb1/p6p/3qn1p1/1p1B4/2P2P2/PP1Q2PP/R2NKB1R b KQk - 0 18", this, "c2c3"); ' class="line0">18.c3</span> 
 <span onclick='loadMove("1rb2rk1/4ppb1/p6p/3qn1p1/1p1B4/2P2P2/PP1Q2PP/R2NKB1R w KQ - 0 19", this, "e8g8"); ' class="line0">O-O</span> 
 <span onclick='loadMove("1rb2rk1/4ppb1/p6p/3qn1p1/1p1B4/2P2P2/PP1QB1PP/R2NK2R b KQ - 0 19", this, "f1e2"); ' class="line0">19.Be2</span> 
 <span onclick='loadMove("1rbr2k1/4ppb1/p6p/3qn1p1/1p1B4/2P2P2/PP1QB1PP/R2NK2R w KQ - 0 20", this, "f8d8"); ' class="line0">Rd8</span> 
 <span onclick='loadMove("1rbr2k1/4ppb1/p6p/3qn1p1/1p1B4/2P1QP2/PP2B1PP/R2NK2R b KQ - 0 20", this, "d2e3"); ' class="line0">20.Qe3</span> 
 <span onclick='loadMove("1r1r2k1/1b2ppb1/p6p/3qn1p1/1p1B4/2P1QP2/PP2B1PP/R2NK2R w KQ - 0 21", this, "c8b7"); ' class="line0">Bb7!</span> 
</p>
<p>A quick glance at the activity and coordination of the two forces confirms Black's large advantage, whilst poor Ivanchuk can't even castle here
 <!--span onclick='loadMove("1r1r2k1/1b2ppb1/p6p/3qn1p1/1p1B4/2P1QP2/PP2B1PP/R2NK2R b KQ - 0 21", this, "c8b7"); ' class="line1">21.z0</span--> 
due to
 <span onclick='loadMove("1r1r2k1/1b2ppb1/p6p/3q2p1/1p1B2n1/2P1QP2/PP2B1PP/R2NK2R w KQ - 0 22", this, "e5g4"); ' class="line1">21...Ng4</span> 
.</p>
<p>
 <span onclick='loadMove("1r1r2k1/1b2ppb1/p6p/3qn1p1/1p1B4/2P1QP2/PP2BNPP/R3K2R b KQ - 0 21", this, "d1f2"); ' class="line0">21.Nf2</span> 
 <span onclick='loadMove("1r1r2k1/1b2ppb1/p6p/3qn1p1/3B4/2p1QP2/PP2BNPP/R3K2R w KQ - 0 22", this, "b4c3"); ' class="line0">bxc3</span> 
 <span onclick='loadMove("1r1r2k1/1b2ppb1/p6p/3qn1p1/8/2B1QP2/PP2BNPP/R3K2R b KQ - 0 22", this, "d4c3"); ' class="line0">22.Bxc3</span> 
 <span onclick='loadMove("1r1r2k1/1b2ppb1/p3q2p/4n1p1/8/2B1QP2/PP2BNPP/R3K2R w KQ - 0 23", this, "d5e6"); ' class="line0">Qe6!</span> 
 <span onclick='loadMove("1r1r2k1/1b2ppb1/p3q2p/4n1p1/8/2B1QP2/PP2BNPP/R4K1R b - - 0 23", this, "e1f1"); ' class="line0">23.Kf1</span> 
</p>
<p>Black has continued to generate tactics to keep the white king in the centre as
 <span onclick='loadMove("1r1r2k1/1b2ppb1/p3q2p/4n1p1/8/2B1QP2/PP2BNPP/R4RK1 b - - 0 23", this, "e1g1"); ' class="line1">23.O-O?</span> 
 <span onclick='loadMove("1r1r2k1/1b2ppb1/p3q2p/6p1/8/2B1Qn2/PP2BNPP/R4RK1 w - - 0 24", this, "e5f3"); ' class="line1">Nxf3+!</span> 
demonstrates.</p>
<p>
 <span onclick='loadMove("1r1r2k1/4ppb1/p3q2p/3bn1p1/8/2B1QP2/PP2BNPP/R4K1R w - - 0 24", this, "b7d5"); ' class="line0">23...Bd5!</span> 
 <span onclick='loadMove("1r1r2k1/4ppb1/p3q2p/3bn1p1/8/1PB1QP2/P3BNPP/R4K1R b - - 0 24", this, "b2b3"); ' class="line0">24.b3?!</span> 
 <span onclick='loadMove("2rr2k1/4ppb1/p3q2p/3bn1p1/8/1PB1QP2/P3BNPP/R4K1R w - - 0 25", this, "b8c8"); ' class="line0">Rbc8</span> 
 <span onclick='loadMove("2rr2k1/4ppb1/p3q2p/3bn1p1/8/1PB1QP2/P3BNPP/3R1K1R b - - 0 25", this, "a1d1"); ' class="line0">25.Rd1</span> 
 <span onclick='loadMove("3r2k1/4ppb1/p3q2p/3bn1p1/8/1Pr1QP2/P3BNPP/3R1K1R w - - 0 26", this, "c8c3"); ' class="line0">Rxc3!</span> 
</p>
<p>Kasparov's initiative has flowed almost effortlessly thus far and typically he finishes with a bang.</p>
<p>
 <span onclick='loadMove("3r2k1/4ppb1/p3q2p/3bn1p1/8/1PQ2P2/P3BNPP/3R1K1R b - - 0 26", this, "e3c3"); ' class="line0">26.Qxc3</span> 
 <span onclick='loadMove("3r2k1/4ppb1/p3q2p/3b2p1/6n1/1PQ2P2/P3BNPP/3R1K1R w - - 0 27", this, "e5g4"); ' class="line0">Ng4</span> 
 <span onclick='loadMove("3r2k1/4ppb1/p3q2p/Q2b2p1/6n1/1P3P2/P3BNPP/3R1K1R b - - 0 27", this, "c3a5"); ' class="line0">27.Qa5</span> 
 <span onclick='loadMove("3r2k1/4ppb1/p3q2p/Q2b2p1/8/1P2nP2/P3BNPP/3R1K1R w - - 0 28", this, "g4e3"); ' class="line0">Ne3+</span> 
 <span onclick='loadMove("3r2k1/4ppb1/p3q2p/Q2b2p1/8/1P2nP2/P3BNPP/3R2KR b - - 0 28", this, "f1g1"); ' class="line0">28.Kg1</span> 
 <span onclick='loadMove("2r3k1/4ppb1/p3q2p/Q2b2p1/8/1P2nP2/P3BNPP/3R2KR w - - 0 29", this, "d8c8"); ' class="line0">Rc8?!</span> 
</p>
<p>White is playing without his h1-rook and, as Kasparov later pointed out,
 <span onclick='loadMove("3r2k1/4ppb1/p3q2p/Q2b2p1/8/1P3P2/P3BNPP/3n2KR w - - 0 29", this, "e3d1"); ' class="line1">28...Nxd1!</span> 
 <span onclick='loadMove("3Q2k1/4ppb1/p3q2p/3b2p1/8/1P3P2/P3BNPP/3n2KR b - - 0 29", this, "a5d8"); ' class="line1">29.Qxd8+</span> 
 <span onclick='loadMove("3Q4/4ppbk/p3q2p/3b2p1/8/1P3P2/P3BNPP/3n2KR w - - 0 30", this, "g8h7"); ' class="line1">Kh7</span> 
 <span onclick='loadMove("3Q4/4ppbk/p3q2p/3b2p1/8/1P3P2/P3BNPP/3n1K1R b - - 0 30", this, "g1f1"); ' class="line1">30.Kf1</span> 
 <span onclick='loadMove("3Q4/4ppbk/p3q2p/3b2p1/8/1P2nP2/P3BNPP/5K1R w - - 0 31", this, "d1e3"); ' class="line1">Ne3+</span> 
 <span onclick='loadMove("3Q4/4ppbk/p3q2p/3b2p1/8/1P2nP2/P3BNPP/6KR b - - 0 31", this, "f1g1"); ' class="line1">31.Kg1</span> 
 <span onclick='loadMove("3Q4/4ppbk/p1q4p/3b2p1/8/1P2nP2/P3BNPP/6KR w - - 0 32", this, "e6c6"); ' class="line1">Qc6</span> 
would have been the clinical finish he was seeking.</p>
<p>
 <span onclick='loadMove("2r3k1/4ppb1/Q3q2p/3b2p1/8/1P2nP2/P3BNPP/3R2KR b - - 0 29", this, "a5a6"); ' class="line0">29.Qxa6</span> 
</p>
<p>Trying to get the queens off and
 <span onclick='loadMove("2r3k1/4ppb1/p3q2p/Q2b2p1/8/1P2nP2/P3BNPP/1R4KR b - - 0 29", this, "d1b1"); ' class="line1">29.Rb1!?</span> 
was the other option, although after
 <span onclick='loadMove("2r3k1/4pp2/p3q2p/Q2b2p1/3b4/1P2nP2/P3BNPP/1R4KR w - - 0 30", this, "g7d4"); ' class="line1">29...Bd4!</span> 
 <span onclick='loadMove("2r3k1/4pp2/p3q2p/3b2p1/3b4/1P2nP2/P2QBNPP/1R4KR b - - 0 30", this, "a5d2"); ' class="line1">30.Qd2</span> 
 <span onclick='loadMove("2r3k1/4pp2/pq5p/3b2p1/3b4/1P2nP2/P2QBNPP/1R4KR w - - 0 31", this, "e6b6"); ' class="line1">Qb6</span> 
 <span onclick='loadMove("2r3k1/4pp2/pq5p/3b2p1/3b4/1P2nP2/P2QBNPP/2R3KR b - - 0 31", this, "b1c1"); ' class="line1">31.Rc1</span> 
Black's bishops and pressure are so strong that he can simply continue
 <span onclick='loadMove("6k1/4pp2/pq5p/3b2p1/3b4/1P2nP2/P2QBNPP/2r3KR w - - 0 32", this, "c8c1"); ' class="line1">31...Rxc1+!</span> 
 <span onclick='loadMove("6k1/4pp2/pq5p/3b2p1/3b4/1P2nP2/P3BNPP/2Q3KR b - - 0 32", this, "d2c1"); ' class="line1">32.Qxc1</span> 
 <span onclick='loadMove("6k1/4pp2/p6p/q2b2p1/3b4/1P2nP2/P3BNPP/2Q3KR w - - 0 33", this, "b6a5"); ' class="line1">Qa5</span> 
.</p>
<p>
 <span onclick='loadMove("2r3k1/4ppb1/Q3q2p/3b2p1/8/1P3P2/P3BNPP/3n2KR w - - 0 30", this, "e3d1"); ' class="line0">29...Nxd1</span> 
 <span onclick='loadMove("2r3k1/4ppb1/4Q2p/3b2p1/8/1P3P2/P3BNPP/3n2KR b - - 0 30", this, "a6e6"); ' class="line0">30.Qxe6</span> 
 <span onclick='loadMove("2r3k1/4ppb1/4b2p/6p1/8/1P3P2/P3BNPP/3n2KR w - - 0 31", this, "d5e6"); ' class="line0">Bxe6</span> 
 <span onclick='loadMove("2r3k1/4ppb1/4b2p/6p1/8/1P3P2/P4NPP/3B2KR b - - 0 31", this, "e2d1"); ' class="line0">31.Bxd1</span> 
 <span onclick='loadMove("6k1/4ppb1/4b2p/6p1/8/1P3P2/P4NPP/2rB2KR w - - 0 32", this, "c8c1"); ' class="line0">Rc1</span> 
</p>
<p>A rather premature decision as White is a pawn ahead, albeit horribly bound and facing a mighty bishop-pair.
However, Black is close to winning here after
 <span onclick='loadMove("6k1/4ppb1/4b2p/6p1/8/1P3P2/P4NPP/2rB2KR w - - 0 32", this, "c8c1"); ' class="line1">31...Rc1</span> 
 <span onclick='loadMove("6k1/4ppb1/4b2p/6p1/8/1P3PP1/P4N1P/2rB2KR b - - 0 32", this, "g2g3"); ' class="line1">32.g3</span> 
(or
 <span onclick='loadMove("6k1/4ppb1/4b2p/6p1/8/1P3P2/P4NPP/2rB1K1R b - - 0 32", this, "g1f1"); ' class="line2">32.Kf1</span> 
 <span onclick='loadMove("6k1/4ppb1/4b2p/6p1/8/1P3P2/P4NPP/r2B1K1R w - - 0 33", this, "c1a1"); ' class="line2">Ra1</span> 
 <span onclick='loadMove("6k1/4ppb1/4b2p/6p1/8/1P3P2/P3KNPP/r2B3R b - - 0 33", this, "f1e2"); ' class="line2">33.Ke2</span> 
 <span onclick='loadMove("6k1/4ppb1/4b2p/6p1/8/1P3P2/r3KNPP/3B3R w - - 0 34", this, "a1a2"); ' class="line2">Rxa2+</span> 
 <span onclick='loadMove("6k1/4ppb1/4b2p/6p1/8/1P2KP2/r4NPP/3B3R b - - 0 34", this, "e2e3"); ' class="line2">34.Ke3</span> 
 <span onclick='loadMove("6k1/4p1b1/4b2p/5pp1/8/1P2KP2/r4NPP/3B3R w - f6 0 35", this, "f7f5"); ' class="line2">f5!</span> 
)
 <span onclick='loadMove("6k1/4ppb1/4b2p/6p1/8/1P3PP1/P4N1P/r2B2KR w - - 0 33", this, "c1a1"); ' class="line1">32...Ra1</span> 
 <span onclick='loadMove("6k1/4ppb1/4b2p/6p1/8/1P3PP1/P4NKP/r2B3R b - - 0 33", this, "g1g2"); ' class="line1">33.Kg2</span> 
 <span onclick='loadMove("6k1/4pp2/4b2p/6p1/8/1Pb2PP1/P4NKP/r2B3R w - - 0 34", this, "g7c3"); ' class="line1">Bc3!</span> 
 <span onclick='loadMove("6k1/4pp2/4b2p/6p1/P7/1Pb2PP1/5NKP/r2B3R b - a3 0 34", this, "a2a4"); ' class="line1">34.a4</span> 
 <span onclick='loadMove("6k1/4pp2/4b2p/6p1/P7/1Pb2PP1/r4NKP/3B3R w - - 0 35", this, "a1a2"); ' class="line1">Ra2</span> 
(Kasparov).</p>
<p><b>0-1</b></p>
</div> <!-- score -->
</div> <!-- section -->

</div> <!-- iBook -->
{% endblock content %}
