{% extends '../../base.htm' %}
{% load static %}
{% block title %}
<title>Points to Remember | {{book.title}} | {%for author in book.authors.all%} {%if author.first_name%} {{author.first_name}} {%endif%} {%if author.second_name%} {{author.second_name}} {%endif%} {%if forloop.counter == book.authors.all.count%} {{author.last_name}} {%else%} {{author.last_name}}, {%endif%} {%endfor%} | {{book.year}}</title>
{% endblock title %}
{% block content %}

<div class="iBook">

<div class="section">
<!--div class="chessBoard small floater" data-start-fen="rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w KQkq - 0 1"></div-->
<div class="score">
 <!--span class="line0" onclick='loadMove("rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w KQkq - 0 1", this, ""); '>[...]</span--> 
<h3>Points to Remember</h3>
<p>1) The Poisoned Pawn Variation is the choice of the world's best, but there is a lot of theory on it.</p>
<p>2) Expect to see much more of <b>9.Nb3!?</b> in the Poisoned Pawn as the main line appears to offer White no more than a draw.</p>
<p>3) If you are seeking a variation often considered slightly suspect, but one that is full of resources, then do consider following in Polugaevsky's footsteps.</p>
<p>4) The variations in this chapter are all rather complex and it is not so hard for either side to lose their way when out of theory in a sharp position as Shirov has shown.</p>
<!--p>Return to Contents Page</p-->
</div> <!-- score -->
</div> <!-- section -->

</div> <!-- iBook -->
{% endblock content %}
