{% extends '../../base.htm' %}
{% load static %}
{% block title %}
<title>Слон против коня | {{book.title}} | {%for author in book.authors.all%} {%if author.first_name%} {{author.first_name}} {%endif%} {%if author.second_name%} {{author.second_name}} {%endif%} {%if forloop.counter == book.authors.all.count%} {{author.last_name}} {%else%} {{author.last_name}}, {%endif%} {%endfor%} | {{book.year}}</title>
{% endblock title %}
{% block content %}

<div class="iBook">

<div class="section">
<div class="score">
<h3>Слон против коня</h3>
<p>Игра на обоих флангах — важный стратегический прием в борьбе слона с конем противника.</p>
</div> <!-- score -->
</div> <!-- section -->

<div class="section">
<div class="chessBoard small floater" data-start-fen="8/6p1/7p/1P1n1k2/4p3/4P2P/5KP1/5B2 w - - 0 1"></div>
<div class="score">
 <span class="line0" onclick='loadMove("8/6p1/7p/1P1n1k2/4p3/4P2P/5KP1/5B2 w - - 0 1", this, ""); '>[...]</span> 
<h4>Арбаков - Гулько<br>Москва, 1981</h4>
<!--img src="images/Gufeld-59.png" style="width:90pt;height:90pt;"/-->
<div class="chessBoard analysis nobuttons" data-start-fen="8/6p1/7p/1P1n1k2/4p3/4P2P/5KP1/5B2 w - - 0 1"></div>
<p>Проходная пешка «b» — достаточно весомый плюс в позиции белых, но бросать на произвол судьбы пешки королевского фланга и «бежать» королем на ферзевый им нельзя. В данной ситуации необходимо сочетать игру на обоих флангах,
<!--p>48</p-->
только в этом случае преимущество слона над конем станет очевидным.</p>
<p class="longNotation">
 <span onclick='loadMove("8/6p1/7p/1P1n1k2/2B1p3/4P2P/5KP1/8 b - - 0 1", this, "f1c4"); ' class="line0">1.Сf1-c4</span> 
 <span onclick='loadMove("8/6p1/1n5p/1P3k2/2B1p3/4P2P/5KP1/8 w - - 0 2", this, "d5b6"); ' class="line0">Кd5-b6</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("8/5Bp1/1n5p/1P3k2/4p3/4P2P/5KP1/8 b - - 0 2", this, "c4f7"); ' class="line0">2.Сc4-f7!</span> 
</p>
<p>Шаблонное
 <span onclick='loadMove("8/6p1/1n5p/1P3k2/4p3/1B2P2P/5KP1/8 b - - 0 2", this, "c4b3"); ' class="line1">2.Сb3</span> 
слабее ввиду
 <span onclick='loadMove("8/6p1/1n5p/1P2k3/4p3/1B2P2P/5KP1/8 w - - 0 3", this, "f5e5"); ' class="line1">2...Крe5</span> 
 <span onclick='loadMove("8/6p1/1n5p/1P2k3/4p3/1B2P1KP/6P1/8 b - - 0 3", this, "f2g3"); ' class="line1">3.Крg3</span> 
 <span onclick='loadMove("8/6p1/1n5p/1P3k2/4p3/1B2P1KP/6P1/8 w - - 0 4", this, "e5f5"); ' class="line1">Крf5</span> 
 <span onclick='loadMove("8/6p1/1n5p/1P3k2/4p2K/1B2P2P/6P1/8 b - - 0 4", this, "g3h4"); ' class="line1">4.Крh4</span> 
 <span onclick='loadMove("8/8/1n4pp/1P3k2/4p2K/1B2P2P/6P1/8 w - - 0 5", this, "g7g6"); ' class="line1">g6</span> 
 <span onclick='loadMove("8/8/1n4pp/1P3k2/4p1PK/1B2P2P/8/8 b - g3 0 5", this, "g2g4"); ' class="line1">5.g4</span> 
 <span onclick='loadMove("8/8/1n4pp/1P2k3/4p1PK/1B2P2P/8/8 w - - 0 6", this, "f5e5"); ' class="line1">Крe5!</span> 
 <span onclick='loadMove("8/8/1n4pp/1P2k1P1/4p2K/1B2P2P/8/8 b - - 0 6", this, "g4g5"); ' class="line1">6.g5</span> 
 <span onclick='loadMove("8/8/1n4p1/1P2k1Pp/4p2K/1B2P2P/8/8 w - - 0 7", this, "h6h5"); ' class="line1">h5</span> 
 <span onclick='loadMove("8/8/1n4p1/1P2k1Pp/4p2K/4P2P/8/3B4 b - - 0 7", this, "b3d1"); ' class="line1">7.Сd1</span> 
 <span onclick='loadMove("8/8/6p1/1P2k1Pp/2n1p2K/4P2P/8/3B4 w - - 0 8", this, "b6c4"); ' class="line1">Кc4</span> 
 <span onclick='loadMove("8/8/6p1/1P2k1PB/2n1p2K/4P2P/8/8 b - - 0 8", this, "d1h5"); ' class="line1">8.С:h5</span> 
 <span onclick='loadMove("8/8/8/1P2k1Pp/2n1p2K/4P2P/8/8 w - - 0 9", this, "g6h5"); ' class="line1">gh</span> 
 <span onclick='loadMove("8/8/6P1/1P2k2p/2n1p2K/4P2P/8/8 b - - 0 9", this, "g5g6"); ' class="line1">9.g6</span> 
 <span onclick='loadMove("8/8/6P1/1P2k2p/4p2K/4n2P/8/8 w - - 0 10", this, "c4e3"); ' class="line1">К:e3</span> 
 <span onclick='loadMove("8/8/1P4P1/4k2p/4p2K/4n2P/8/8 b - - 0 10", this, "b5b6"); ' class="line1">10.b6</span> 
 <span onclick='loadMove("8/8/1P1k2P1/7p/4p2K/4n2P/8/8 w - - 0 11", this, "e5d6"); ' class="line1">Крd6</span> 
 <span onclick='loadMove("8/8/1P1k2P1/7K/4p3/4n2P/8/8 b - - 0 11", this, "h4h5"); ' class="line1">11.Кр:h5</span> 
 <span onclick='loadMove("8/8/1P1k2P1/5n1K/4p3/7P/8/8 w - - 0 12", this, "e3f5"); ' class="line1">Кf5!</span> 
 <span onclick='loadMove("8/8/1P1k2P1/5n2/4p1K1/7P/8/8 b - - 0 12", this, "h5g4"); ' class="line1">12.Крg4</span> 
 <span onclick='loadMove("8/8/1P1k2P1/5n2/6K1/4p2P/8/8 w - - 0 13", this, "e4e3"); ' class="line1">e3</span> 
с равновесием. Белые переводят слона на c6, откуда он возьмет на прицел пешку e4, тем самым лишая возможной активности короля противника.</p>
<p class="longNotation">
 <span class="line0">2. ...</span>
 <span onclick='loadMove("8/5Bp1/1n3k1p/1P6/4p3/4P2P/5KP1/8 w - - 0 3", this, "f5f6"); ' class="line0">Крf5-f6</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("4B3/6p1/1n3k1p/1P6/4p3/4P2P/5KP1/8 b - - 0 3", this, "f7e8"); ' class="line0">3.Сf7-e8</span> 
 <span onclick='loadMove("4B3/6p1/5k1p/1P6/2n1p3/4P2P/5KP1/8 w - - 0 4", this, "b6c4"); ' class="line0">Кb6-c4</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("8/6p1/2B2k1p/1P6/2n1p3/4P2P/5KP1/8 b - - 0 4", this, "e8c6"); ' class="line0">4.Сe8-c6</span> 
 <span onclick='loadMove("8/6p1/2B4p/1P3k2/2n1p3/4P2P/5KP1/8 w - - 0 5", this, "f6f5"); ' class="line0">Крf6-f5</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("8/6p1/2B4p/1P3k2/2n1p3/4P2P/4K1P1/8 b - - 0 5", this, "f2e2"); ' class="line0">5.Крf2-e2</span> 
 <span onclick='loadMove("8/6p1/2B4p/1P2k3/2n1p3/4P2P/4K1P1/8 w - - 0 6", this, "f5e5"); ' class="line0">Крf5-e5</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("8/6p1/2B4p/1P2k3/2n1p1P1/4P2P/4K3/8 b - g3 0 6", this, "g2g4"); ' class="line0">6.g2-g4!</span> 
 <span onclick='loadMove("8/8/2B3pp/1P2k3/2n1p1P1/4P2P/4K3/8 w - - 0 7", this, "g7g6"); ' class="line0">g7-g6!</span> 
</p>
<p>Нельзя лишать подвижности пешки королевского фланга. В случае
 <span onclick='loadMove("8/8/2B4p/1P2k1p1/2n1p1P1/4P2P/4K3/8 w - g6 0 7", this, "g7g5"); ' class="line1">6...g5?</span> 
белый король может спокойно отправиться к своей проходной, используя с этой целью цугцванг:
 <span onclick='loadMove("B7/8/7p/1P2k1p1/2n1p1P1/4P2P/4K3/8 b - - 0 7", this, "c6a8"); ' class="line1">7.Сa8</span> 
 <span onclick='loadMove("B7/8/1n5p/1P2k1p1/4p1P1/4P2P/4K3/8 w - - 0 8", this, "c4b6"); ' class="line1">Кb6</span> 
 <span onclick='loadMove("8/1B6/1n5p/1P2k1p1/4p1P1/4P2P/4K3/8 b - - 0 8", this, "a8b7"); ' class="line1">8.Сb7</span> 
 <span onclick='loadMove("8/1B6/7p/1P2k1p1/2n1p1P1/4P2P/4K3/8 w - - 0 9", this, "b6c4"); ' class="line1">Кc4</span> 
 <span onclick='loadMove("8/8/2B4p/1P2k1p1/2n1p1P1/4P2P/4K3/8 b - - 0 9", this, "b7c6"); ' class="line1">9.Сc6</span> 
. Теперь черные будут вынуждены отойти конем на b6, и контроль над полем d2 теряется.</p>
<p class="longNotation">
 <span onclick='loadMove("8/8/2B3pp/1P2k3/2n1p1P1/4P2P/5K2/8 b - - 0 7", this, "e2f2"); ' class="line0">7.Крe2-f2</span> 
</p>
<p>Белые выжидают, стремясь передать очередь хода противнику.</p>
<p class="longNotation">
 <span class="line0">7. ...</span>
 <span onclick='loadMove("8/8/1nB3pp/1P2k3/4p1P1/4P2P/5K2/8 w - - 0 8", this, "c4b6"); ' class="line0">Кc4-b6</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("8/8/1nB3pp/1P2k3/4p1P1/4P2P/8/4K3 b - - 0 8", this, "f2e1"); ' class="line0">8.Крf2-e1</span> 
 <span onclick='loadMove("8/8/1nB3p1/1P2k2p/4p1P1/4P2P/8/4K3 w - - 0 9", this, "h6h5"); ' class="line0">h6-h5</span> 
</p>
<p>Или
 <span onclick='loadMove("8/8/2B3pp/1P2k3/2n1p1P1/4P2P/8/4K3 w - - 0 9", this, "b6c4"); ' class="line1">8...Кc4</span> 
 <span onclick='loadMove("8/8/2B3pp/1P2k3/2n1p1P1/4P2P/4K3/8 b - - 0 9", this, "e1e2"); ' class="line1">9.Крe2!</span> 
 <span onclick='loadMove("8/8/2B3p1/1P2k2p/2n1p1P1/4P2P/4K3/8 w - - 0 10", this, "h6h5"); ' class="line1">h5</span> 
 <span onclick='loadMove("8/8/2B3p1/1P2k2P/2n1p3/4P2P/4K3/8 b - - 0 10", this, "g4h5"); ' class="line1">10.gh</span> 
 <span onclick='loadMove("8/8/2B5/1P2k2p/2n1p3/4P2P/4K3/8 w - - 0 11", this, "g6h5"); ' class="line1">gh</span> 
 <span onclick='loadMove("8/8/2B5/1P2k2p/2n1p2P/4P3/4K3/8 b - - 0 11", this, "h3h4"); ' class="line1">11.h4</span> 
 <span onclick='loadMove("8/8/2B5/1P3k1p/2n1p2P/4P3/4K3/8 w - - 0 12", this, "e5f5"); ' class="line1">Крf5</span> 
 <span onclick='loadMove("8/3B4/8/1P3k1p/2n1p2P/4P3/4K3/8 b - - 0 12", this, "c6d7"); ' class="line1">12.Сd7</span> 
, и белые выигрывают.</p>
<p class="longNotation">
 <span onclick='loadMove("8/8/1nB3p1/1P2k2P/4p3/4P2P/8/4K3 b - - 0 9", this, "g4h5"); ' class="line0">9.g4:h5</span> 
 <span onclick='loadMove("8/8/1nB5/1P2k2p/4p3/4P2P/8/4K3 w - - 0 10", this, "g6h5"); ' class="line0">g6:h5</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("8/8/1nB5/1P2k2p/4p2P/4P3/8/4K3 b - - 0 10", this, "h3h4"); ' class="line0">10.h3-h4</span> 
 <span onclick='loadMove("8/8/1nB5/1P3k1p/4p2P/4P3/8/4K3 w - - 0 11", this, "e5f5"); ' class="line0">Крe5-f5</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("8/8/1nB5/1P3k1p/4p2P/4P3/3K4/8 b - - 0 11", this, "e1d2"); ' class="line0">11.Крe1-d2</span> 
 <span onclick='loadMove("8/8/1nB5/1P5p/4p1kP/4P3/3K4/8 w - - 0 12", this, "f5g4"); ' class="line0">Крf5-g4</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("8/8/1nB5/1P5p/4p1kP/2K1P3/8/8 b - - 0 12", this, "d2c3"); ' class="line0">12.Крd2-c3</span> 
 <span onclick='loadMove("8/8/1nB5/1P5p/4p2k/2K1P3/8/8 w - - 0 13", this, "g4h4"); ' class="line0">Крg4:h4</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("8/8/1nB5/1P5p/3Kp2k/4P3/8/8 b - - 0 13", this, "c3d4"); ' class="line0">13.Крc3-d4</span> 
 <span onclick='loadMove("8/8/1nB5/1P5p/3Kp1k1/4P3/8/8 w - - 0 14", this, "h4g4"); ' class="line0">Крh4-g4</span> 
</p>
<p>Не давая возможности с удобством двигать проходную «е» —
 <span onclick='loadMove("8/8/1nB5/1P5p/3Kp3/4P1k1/8/8 w - - 0 14", this, "h4g3"); ' class="line1">13...Крg3?</span> 
 <span onclick='loadMove("8/8/1nB5/1P5p/4K3/4P1k1/8/8 b - - 0 14", this, "d4e4"); ' class="line1">14.Кр:e4</span> 
 <span onclick='loadMove("8/8/1nB5/1P6/4K2p/4P1k1/8/8 w - - 0 15", this, "h5h4"); ' class="line1">h4</span> 
 <span onclick='loadMove("8/8/1nB5/1P3K2/7p/4P1k1/8/8 b - - 0 15", this, "e4f5"); ' class="line1">15.Крf5</span> 
.</p>
<p class="longNotation">
 <span onclick='loadMove("8/8/1n6/1P5p/3KB1k1/4P3/8/8 b - - 0 14", this, "c6e4"); ' class="line0">14.Сc6:e4</span> 
 <span onclick='loadMove("8/8/1n6/1P6/3KB1kp/4P3/8/8 w - - 0 15", this, "h5h4"); ' class="line0">h5-h4</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("8/8/1n6/1PK5/4B1kp/4P3/8/8 b - - 0 15", this, "d4c5"); ' class="line0">15.Крd4-c5</span> 
 <span onclick='loadMove("8/8/8/1PK5/n3B1kp/4P3/8/8 w - - 0 16", this, "b6a4"); ' class="line0">Кb6-a4+</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("8/8/2K5/1P6/n3B1kp/4P3/8/8 b - - 0 16", this, "c5c6"); ' class="line0">16.Крc5-c6</span> 
 <span onclick='loadMove("8/8/2K5/1P6/n3B2p/4P1k1/8/8 w - - 0 17", this, "g4g3"); ' class="line0">Крg4-g3</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("8/8/2K5/1P1B4/n6p/4P1k1/8/8 b - - 0 17", this, "e4d5"); ' class="line0">17.Сe4-d5</span> 
</p>
<p>Надо освободить дорогу пешке «е». Черный король угрожал нападением снизу
 <span onclick='loadMove("8/8/2K5/1P1B4/n6p/4P3/5k2/8 w - - 0 18", this, "g3f2"); ' class="line1">17...Крf2</span> 
.</p>
<p class="longNotation">
 <span class="line0">17. ...</span>
 <span onclick='loadMove("8/8/2K5/1P1B4/n6p/4P3/5k2/8 w - - 0 18", this, "g3f2"); ' class="line0">Крg3-f2!</span> 
</p>
<p>Проигрывает
 <span onclick='loadMove("8/8/2K5/1P1B4/n7/4P1kp/8/8 w - - 0 18", this, "h4h3"); ' class="line1">17...h3</span> 
 <span onclick='loadMove("8/8/1PK5/3B4/n7/4P1kp/8/8 b - - 0 18", this, "b5b6"); ' class="line1">18.b6</span> 
 <span onclick='loadMove("8/8/1nK5/3B4/8/4P1kp/8/8 w - - 0 19", this, "a4b6"); ' class="line1">К:b6</span> 
 <span onclick='loadMove("8/8/1K6/3B4/8/4P1kp/8/8 b - - 0 19", this, "c6b6"); ' class="line1">19.Кр:b6</span> 
 <span onclick='loadMove("8/8/1K6/3B4/8/4P1k1/7p/8 w - - 0 20", this, "h3h2"); ' class="line1">h2</span> 
 <span onclick='loadMove("8/8/8/2KB4/8/4P1k1/7p/8 b - - 0 20", this, "b6c5"); ' class="line1">20.Крc5</span> 
 <span onclick='loadMove("8/8/8/2KB4/8/4P3/5k1p/8 w - - 0 21", this, "g3f2"); ' class="line1">Крf2</span> 
 <span onclick='loadMove("8/8/8/3B4/3K4/4P3/5k1p/8 b - - 0 21", this, "c5d4"); ' class="line1">21.Крd4</span> 
.</p>
<p class="longNotation">
 <span onclick='loadMove("8/8/2K5/1P1B4/n3P2p/8/5k2/8 b - - 0 18", this, "e3e4"); ' class="line0">18.e3-e4</span> 
 <span onclick='loadMove("8/8/2K5/1P1B4/4P2p/2n5/5k2/8 w - - 0 19", this, "a4c3"); ' class="line0">Кa4-c3</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("8/8/1PK5/3B4/4P2p/2n5/5k2/8 b - - 0 19", this, "b5b6"); ' class="line0">19.b5-b6</span> 
 <span onclick='loadMove("8/8/1PK5/3B4/4P3/2n4p/5k2/8 w - - 0 20", this, "h4h3"); ' class="line0">h4-h3</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("8/1P6/2K5/3B4/4P3/2n4p/5k2/8 b - - 0 20", this, "b6b7"); ' class="line0">20.b6-b7</span> 
 <span onclick='loadMove("8/1P6/2K5/3B4/4P3/2n5/5k1p/8 w - - 0 21", this, "h3h2"); ' class="line0">h3-h2</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("1Q6/8/2K5/3B4/4P3/2n5/5k1p/8 b - - 0 21", this, "b7b8"); ' class="line0">21.b7-b8Ф</span> 
 <span onclick='loadMove("1Q6/8/2K5/3B4/4P3/2n5/5k2/7q w - - 0 22", this, "h2h1"); ' class="line0">h2-h1Ф</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("8/8/2K5/3B4/4PQ2/2n5/5k2/7q b - - 0 22", this, "b8f4"); ' class="line0">22.Фb8-f4+!</span> 
</p>
<p>Самое точное. Не так сильно
 <span onclick='loadMove("8/8/2K5/3B4/4P3/2n5/1Q3k2/7q b - - 0 22", this, "b8b2"); ' class="line1">22.Фb2+</span> 
 <span onclick='loadMove("8/8/2K5/3B4/4P3/8/1Q2nk2/7q w - - 0 23", this, "c3e2"); ' class="line1">Кe2</span> 
 <span onclick='loadMove("8/8/2K5/3BP3/8/8/1Q2nk2/7q b - - 0 23", this, "e4e5"); ' class="line1">23.e5</span> 
 <span onclick='loadMove("7q/8/2K5/3BP3/8/8/1Q2nk2/8 w - - 0 24", this, "h1h8"); ' class="line1">Фh8!</span> 
, и черные еще могут обороняться.</p>
<p class="longNotation">
 <span class="line0">22. ...</span>
 <span onclick='loadMove("8/8/2K5/3B4/4PQ2/2n5/4k3/7q w - - 0 23", this, "f2e2"); ' class="line0">Крf2-e2</span> 
</p>
<p>Безнадежно и
 <span onclick='loadMove("8/8/2K5/3B4/4PQ2/2n5/8/4k2q w - - 0 23", this, "f2e1"); ' class="line1">22...Крe1</span> 
ввиду
 <span onclick='loadMove("8/8/2K5/3B4/4P3/2n1Q3/8/4k2q b - - 0 23", this, "f4e3"); ' class="line1">23.Фe3+</span> 
 <span onclick='loadMove("8/8/2K5/3B4/4P3/4Q3/4n3/4k2q w - - 0 24", this, "c3e2"); ' class="line1">Кe2</span> 
 <span onclick='loadMove("8/8/2K5/8/2B1P3/4Q3/4n3/4k2q b - - 0 24", this, "d5c4"); ' class="line1">24.Сc4</span> 
.</p>
<p class="longNotation">
 <span onclick='loadMove("8/8/2K5/8/2B1PQ2/2n5/4k3/7q b - - 0 23", this, "d5c4"); ' class="line0">23.Сd5-c4+</span> 
 <span onclick='loadMove("8/8/2K5/8/2B1PQ2/2n5/8/3k3q w - - 0 24", this, "e2d1"); ' class="line0">Крe2-d1</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("8/8/2KQ4/8/2B1P3/2n5/8/3k3q b - - 0 24", this, "f4d6"); ' class="line0">24.Фf4-d6+</span> 
.</p>
<p>Черные сдались.</p>
<p>На
 <span onclick='loadMove("8/8/2KQ4/8/2B1P3/2n5/8/2k4q w - - 0 25", this, "d1c1"); ' class="line1">24...Крc1</span> 
решает
 <span onclick='loadMove("8/8/2K5/8/2B1P3/Q1n5/8/2k4q b - - 0 25", this, "d6a3"); ' class="line1">25.Фa3+</span> 
,
а на
 <span onclick='loadMove("8/8/2KQ4/8/2B1P3/2n5/8/4k2q w - - 0 25", this, "d1e1"); ' class="line1">24...Крe1</span> 
—
 <span onclick='loadMove("8/8/2K5/8/2B1P3/2n3Q1/8/4k2q b - - 0 25", this, "d6g3"); ' class="line1">25.Фg3+</span> 
.</p>
</div> <!-- score -->
</div> <!-- section -->

</div> <!-- iBook -->

{% endblock content %}
