{% extends '../../base.htm' %}
{% load static %}
{% block title %}
<title>Вступление | {{book.title}} | {%for author in book.authors.all%} {%if author.first_name%} {{author.first_name}} {%endif%} {%if author.second_name%} {{author.second_name}} {%endif%} {%if forloop.counter == book.authors.all.count%} {{author.last_name}} {%else%} {{author.last_name}}, {%endif%} {%endfor%} | {{book.year}}</title>
{% endblock title %}
{% block content %}

<div class="iBook">

<div class="section">
<div class="chessBoard small floater" data-start-fen="rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w KQkq - 0 1"></div>
<div class="score">
 <span class="line0" onclick='loadMove("rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w KQkq - 0 1", this, ""); '>[...]</span> 
<h2>ВСТУПЛЕНИЕ</h2>
<p>Внимательный читатель помнит, что я учился в детстве на партиях А. Карпова. Затем Дворец Пионеров, шахматный кружок, потом институт физкультуры в Челябинске (шахматное отделение). Сотни прочитанных книг. Всё это в сумме дало классическое шахматное воспитание. Очень редко в периодической печати мелькали статьи о каких-то оригинальных системах или схемах, но, в целом, всем было ясно, что надо занимать центральными пешками поля e4 и d4. Выводить фигуры, делать рокировку и т д. Так играет 99% людей.</p>
<p>
 <span onclick='loadMove("rnbqkbnr/pppppppp/8/8/3P4/8/PPP1PPPP/RNBQKBNR b KQkq d3 0 1", this, "d2d4"); ' class="line0">1.d4</span> 
</p>
<p>Эта книга будет посвящена универсальной системе игры за черных против закрытых дебютов. А именно, против ходов
 <span onclick='loadMove("rnbqkbnr/pppppppp/8/8/3P4/8/PPP1PPPP/RNBQKBNR b KQkq d3 0 1", this, "d2d4"); ' class="line1">1.d4</span> 
,
 <span onclick='loadMove("rnbqkbnr/pppppppp/8/8/2P5/8/PP1PPPPP/RNBQKBNR b KQkq c3 0 1", this, "c2c4"); ' class="line1">1.c4</span> 
,
 <span onclick='loadMove("rnbqkbnr/pppppppp/8/8/8/5N2/PPPPPPPP/RNBQKB1R b KQkq - 0 1", this, "g1f3"); ' class="line1">1.Кf3</span> 
. Вы не увидите здесь строго научной дебютной монографии. Это Книга-Приключение. По неизведанному. Как будто вы попадаете в другую галактику. Вокруг вас светит 4 солнца. Ваши соперники не будут иметь ни одного классического ориентира. Вы сможете победить в отдельной партии кого угодно. Перворазрядник может победить гроссмейстера, если гроссмейстер первый раз видит происходящее на доске. Но черным будет дан надежный компас. Всё в этой книге будет в большой степени субъективно, потому что мы и не хотим очень уж сильно искать опровержение Системы Эльшада. Перед белыми встает в этом дебюте Эверест проблем, которые надо преодолеть.</p>
<p>Итак, мы начинаем. Когда любитель, а любителями в шахматах являются 99 % шахматистов, обдумывает, какой дебют сыграть с более сильным игроком, очень быстро наступает упадок моральных сил. Сами подумайте, мастер сыграл с вами
 <span onclick='loadMove("rnbqkbnr/pppppppp/8/8/3P4/8/PPP1PPPP/RNBQKBNR b KQkq d3 0 1", this, "d2d4"); ' class="line1">1.d4</span> 
. Если сейчас ответить
 <span onclick='loadMove("rnbqkbnr/ppp1pppp/8/3p4/3P4/8/PPP1PPPP/RNBQKBNR w KQkq d6 0 2", this, "d7d5"); ' class="line1">1...d5</span> 
, то получаются позиции ферзевого гамбита. Они в основном довольно статичны. Фиксированная пешечная структура в центре дает возможность белым 100 ходов подряд немножко жать на вас. Если класс игры разный, то вероятность неблагоприятного исхода возрастает. Ведь мастер сильнее вас, лучше знает теорию, более опытен. Как же быть? Можно сыграть Староиндийскую защиту или защиту Грюнфельда, но везде мы
<!--p>Вступление</p><p>13</p-->
сталкиваемся с этой же проблемой, против нас сидит теоретически и практически гораздо более подготовленный соперник.</p>
<p>И только в дебюте Эльшада можно с уверенностью 98% сказать, что ваш соперник НИЧЕГО не знает. Он будет «творить» с первых ходов. В книге вы увидите много партий, даже сыгранных в классику против сильных гроссмейстеров, с печальным для них исходом.</p>
<p>
 <span onclick='loadMove("rnbqkbnr/pp1ppppp/2p5/8/3P4/8/PPP1PPPP/RNBQKBNR w KQkq - 0 2", this, "c7c6"); ' class="line0">1...c6</span> 
</p>
<p>Начинается система именно этим ходом. Вы можете возразить, что после
 <span onclick='loadMove("rnbqkbnr/pp1ppppp/2p5/8/3PP3/8/PPP2PPP/RNBQKBNR b KQkq e3 0 2", this, "e2e4"); ' class="line1">2.e4</span> 
получается защита Каро-Канн, но, во-первых, мы можем всё равно разыграть дебют Эльшада, а во-вторых, мы же не утверждаем, что опровергли
 <span onclick='loadMove("rnbqkbnr/pppppppp/8/8/3P4/8/PPP1PPPP/RNBQKBNR b KQkq d3 0 1", this, "d2d4"); ' class="line1">1.d4</span> 
.</p>
<p>
 <span onclick='loadMove("rnbqkbnr/pp1ppppp/2p5/8/2PP4/8/PP2PPPP/RNBQKBNR b KQkq c3 0 2", this, "c2c4"); ' class="line0">2.c4</span> 
</p>
<p>Дело в том, что играющий белыми
 <span onclick='loadMove("rnbqkbnr/pppppppp/8/8/3P4/8/PPP1PPPP/RNBQKBNR b KQkq d3 0 1", this, "d2d4"); ' class="line1">1.d4</span> 
, совсем не собирается отказываться от своей дебютной стратегии. Почему он сыграл
 <span onclick='loadMove("rnbqkbnr/pppppppp/8/8/3P4/8/PPP1PPPP/RNBQKBNR b KQkq d3 0 1", this, "d2d4"); ' class="line1">1.d4</span> 
? Вероятно, потому что этот ход он явно предпочитает
 <span onclick='loadMove("rnbqkbnr/pppppppp/8/8/4P3/8/PPPP1PPP/RNBQKBNR b KQkq e3 0 1", this, "e2e4"); ' class="line1">1.e4</span> 
. Люди в основном консервативны. Если вы настроились на закрытый дебют, вряд ли теперь перейдете в Каро-Канн. Большинство играющих вообще применяют исключительно
 <span onclick='loadMove("rnbqkbnr/pppppppp/8/8/3P4/8/PPP1PPPP/RNBQKBNR b KQkq d3 0 1", this, "d2d4"); ' class="line1">1.d4</span> 
или
 <span onclick='loadMove("rnbqkbnr/pppppppp/8/8/4P3/8/PPPP1PPP/RNBQKBNR b KQkq e3 0 1", this, "e2e4"); ' class="line1">1.e4</span> 
. Мало кто может одинаково хорошо разыгрывать острые открытые позиции и стратегические закрытые дебюты. Так что вероятность
 <span onclick='loadMove("rnbqkbnr/pp1ppppp/2p5/8/2PP4/8/PP2PPPP/RNBQKBNR b KQkq c3 0 2", this, "c2c4"); ' class="line1">2.c4</span> 
- огромна. Все! Белые попались!</p>
<p>Они уже не смогут вернуться пешкой «с» назад, на c3, чтобы защитить пешку d4.</p>
<p>
 <span onclick='loadMove("rnbqkbnr/pp2pppp/2pp4/8/2PP4/8/PP2PPPP/RNBQKBNR w KQkq - 0 3", this, "d7d6"); ' class="line0">2...d6</span> 
</p>
<p>Это первая важная развилка дебюта Эльшада, сам он предпочитает играть
 <span onclick='loadMove("rnb1kbnr/pp1ppppp/2p5/q7/2PP4/8/PP2PPPP/RNBQKBNR w KQkq - 0 3", this, "d8a5"); ' class="line1">2...Фa5</span> 
. Это продолжение мы также очень внимательно изучим в книге.</p>
<p>
 <span onclick='loadMove("rnbqkbnr/pp2pppp/2pp4/8/2PPP3/8/PP3PPP/RNBQKBNR b KQkq e3 0 3", this, "e2e4"); ' class="line0">3.e4</span> 
</p>
<p>Поскольку черные вот так уступают центр, белые, конечно, его захватывают! Иногда происходят перестановки ходов, скажем
 <span onclick='loadMove("rnbqkbnr/pp2pppp/2pp4/8/2PP4/2N5/PP2PPPP/R1BQKBNR b KQkq - 0 3", this, "b1c3"); ' class="line1">3.Кc3</span> 
или
 <span onclick='loadMove("rnbqkbnr/pp2pppp/2pp4/8/2PP4/5N2/PP2PPPP/RNBQKB1R b KQkq - 0 3", this, "g1f3"); ' class="line1">3.Кf3</span> 
, но суть остается прежней, белые будут захватывать пространство, ведь это же «правильно».</p>
<p>
 <span onclick='loadMove("r1bqkbnr/pp1npppp/2pp4/8/2PPP3/8/PP3PPP/RNBQKBNR w KQkq - 0 4", this, "b8d7"); ' class="line0">3...Кd7</span> 
</p>
<div class="chessBoard analysis nobuttons" data-start-fen="r1bqkbnr/pp1npppp/2pp4/8/2PPP3/8/PP3PPP/RNBQKBNR w KQkq - 0 4"></div>
<p>В этой книге будет дано объяснение каждому ходу черных. Каждая идея, любой замысел будет подвергнут тщательному анализу. Скоро мы подберемся к главной позиции всего дебюта. Итак, куда идет конь? В ближайший план черных входят
<!--p>14</p><p>Вступление</p-->
следующие ходы: <b>h6</b>, <b>g5</b>, <b>Сg7</b>, <b>Кf8</b>. Этот конь будет затем выскакивать на e6, чтобы много раз могли черные напасть на пешку d4. И вызвать продвижение d4-d5. Затем конь возвращается на f8. И, поскольку поле e5 теперь наше, маршрут меняется, <b>Кf8-g6-e5!!</b> Если вы играете блицпартию, в этот момент минимум полминуты-минуту вы уже выиграли. Но и в классике, как будет показано далее, проблемы не решают даже гроссмейстеры.</p>
<p>
 <span onclick='loadMove("r1bqkbnr/pp1npppp/2pp4/8/2PPP3/2N5/PP3PPP/R1BQKBNR b KQkq - 0 4", this, "b1c3"); ' class="line0">4.Кc3</span> 
 <span onclick='loadMove("r1bqkbnr/pp1nppp1/2pp3p/8/2PPP3/2N5/PP3PPP/R1BQKBNR w KQkq - 0 5", this, "h7h6"); ' class="line0">h6</span> 
</p>
<div class="chessBoard analysis nobuttons" data-start-fen="r1bqkbnr/pp1nppp1/2pp3p/8/2PPP3/2N5/PP3PPP/R1BQKBNR w KQkq - 0 5"></div>
<p>Еще одна важная развилка. Как только ни ходят здесь белые. Самые популярные продолжения
 <span onclick='loadMove("r1bqkbnr/pp1nppp1/2pp3p/8/2PPPP2/2N5/PP4PP/R1BQKBNR b KQkq f3 0 5", this, "f2f4"); ' class="line1">5.f4</span> 
и
 <span onclick='loadMove("r1bqkbnr/pp1nppp1/2pp3p/8/2PPP3/2N2N2/PP3PPP/R1BQKB1R b KQkq - 0 5", this, "g1f3"); ' class="line1">5.Кf3</span> 
. Им будет уделено главное наше внимание. Но и другие ходы не останутся подернутыми дымкой. Всё, мало-мальски опасное для черных, найдет свое отражение в книге.</p>
<p>
 <span onclick='loadMove("r1bqkbnr/pp1nppp1/2pp3p/8/2PPPP2/2N5/PP4PP/R1BQKBNR b KQkq f3 0 5", this, "f2f4"); ' class="line0">5.f4</span> 
</p>
<div class="chessBoard analysis nobuttons" data-start-fen="r1bqkbnr/pp1nppp1/2pp3p/8/2PPPP2/2N5/PP4PP/R1BQKBNR b KQkq f3 0 5"></div>
<p>Важным является все-таки легитимность авторства дебюта. Этой позиции нет ни в одной базе. А между тем, в моей базе более ста партий, сыгранных Эльшадом, мной, некоторыми моими учениками. Причем сам автор системы играет эту позицию с 1975 года.</p>
<p>
 <span onclick='loadMove("r1bqkbnr/pp1npp2/2pp3p/6p1/2PPPP2/2N5/PP4PP/R1BQKBNR w KQkq g6 0 6", this, "g7g5"); ' class="line0">5...g5!</span> 
</p>
<div class="chessBoard analysis nobuttons" data-start-fen="r1bqkbnr/pp1npp2/2pp3p/6p1/2PPPP2/2N5/PP4PP/R1BQKBNR w KQkq g6 0 6"></div>
<p>Именно в этом ходе — вся суть системы! Очень интересную мысль высказал сильный гроссмейстер Игорь Коваленко, когда у меня в гостях посмотрел несколько материалов книги. «Белые, — сказал он, — просто
<!--p>Вступление</p><p>15</p-->
классически расставляются, они не готовы к конкретной игре ход-в-ход. «Гроссмейстер сравнил это с тем, как классический боксер попал в ситуацию уличной драки, где нет судьи, бой никто не остановит, и бежать некуда!!!»</p>
<p>
 <span onclick='loadMove("r1bqkbnr/pp1npp2/2pp3p/6P1/2PPP3/2N5/PP4PP/R1BQKBNR b KQkq - 0 6", this, "f4g5"); ' class="line0">6.f:g5</span> 
</p>
<p>Сразу-то непонятно, за что черные отдают пешку?!</p>
<p>
 <span onclick='loadMove("r1bqk1nr/pp1nppb1/2pp3p/6P1/2PPP3/2N5/PP4PP/R1BQKBNR w KQkq - 0 7", this, "f8g7"); ' class="line0">6...Сg7</span> 
</p>
<p>Напоминает идеи волжского гамбита с переменой флангов. Здесь эти идеи еще сильнее, так как направлены против короля белых.</p>
<p>
 <span onclick='loadMove("r1bqk1nr/pp1nppb1/2pp3P/8/2PPP3/2N5/PP4PP/R1BQKBNR b KQkq - 0 7", this, "g5h6"); ' class="line0">7.g:h6</span> 
</p>
<div class="chessBoard analysis nobuttons" data-start-fen="r1bqk1nr/pp1nppb1/2pp3P/8/2PPP3/2N5/PP4PP/R1BQKBNR b KQkq - 0 7"></div>
<p>Во всяком случае, последовательно. И мы переходим к партиям.</p>
</div> <!-- score -->
</div> <!-- section -->

</div> <!-- iBook -->
{% endblock content %}

