{% extends '../../base.htm' %}
{% load static %}
{% block title %}
<title>Глава 3. Классический вариант (белые играют Кf3, Сe2, 0-0) | {{book.title}} | {%for author in book.authors.all%} {%if author.first_name%} {{author.first_name}} {%endif%} {%if author.second_name%} {{author.second_name}} {%endif%} {%if forloop.counter == book.authors.all.count%} {{author.last_name}} {%else%} {{author.last_name}}, {%endif%} {%endfor%} | {{book.year}}</title>
{% endblock title %}
{% block content %}

<div class="iBook">

<div class="section">
<h2>Глава 3. КЛАССИЧЕСКИЙ ВАРИАНТ (белые играют Кf3, Сe2, 0-0)</h2>
<div class="score">
<ul>
	<li><a class="line0" href="{% url 'page-view' book.root_dir|add:'/3-1-partii-51-57.htm' %}">Партии 51-57</a></li>
	<li><a class="line0" href="{% url 'page-view' book.root_dir|add:'/3-2-partii-58-65.htm' %}">Партии 58-65</a></li>
</ul>
</div> <!-- score -->
</div> <!-- section -->

</div> <!-- iBook -->
{% endblock content %}

