{% extends '../../base.htm' %}
{% load static %}
{% block title %}
<title>{{book.title}} | {%for author in book.authors.all%} {%if author.first_name%} {{author.first_name}} {%endif%} {%if author.second_name%} {{author.second_name}} {%endif%} {%if forloop.counter == book.authors.all.count%} {{author.last_name}} {%else%} {{author.last_name}}, {%endif%} {%endfor%} | {{book.year}}</title>
{% endblock title %}
{% block content %}

<div class="iBook">

<div class="section">
<div class="small floater">
 <img src="{% static 'images/'|add:book.slug|add:'/thumb.jpg' %}" />
</div>
<div class='score'>

<div class='diagram'>
<h2>Ю. АВЕРБАХ, М. БЕЙЛИН</h2>
<h1>ПУТЕШЕСТВИЕ<br />В ШАХМАТНОЕ КОРОЛЕВСТВО</h1>
</div>

<div class='diagram'>
<p>Издательство «Физкультура и спорт»</p>
<p>Москва 1972</p>
</div>

<hr />

<img src="{% static 'images/'|add:book.slug|add:'/chap-00.jpg' %}" style="width:95%" />

<hr />

<table>
<tr><td><!--p><img width=189 height=184 src="image004.jpg" /></p--></td><td><!--p><img width=185 height=184 src="image005.jpg" /></p--></td></tr>
<tr>
<td>
<p><strong>Ю. Л. АВЕРБАХ —</strong></p>
<p>известный гроссмейстер, победитель многих международных соревнований. Ему пятьдесят лет, а в шахматы он играет вот уже около сорока. Юрий Львович — автор многих книг и статей о шахматах. Среди них есть и серьезные исследования, и популярные очерки, и зарисовки. Гроссмейстер Авербах — главный редактор журнала „Шахматы в СССР“.</p>
</td>
<td>
<p><strong>М. А. БЕЙЛИН —</strong></p>
<p>мастер спорта по шахматам. Он ровесник своего соавтора и тоже около сорока лет занимается шахматами. Известный шахматный журналист и литератор, Михаил Абрамович Бейлин написал много очерков, статей, фельетонов и несколько книг о шахматах. Мастер Бейлин — заместитель редактора шахматного еженедельника „64“.</p>
</td>
</tr>
</table>

<p>Художник Ю. Селиверстов</p>

<hr />

<div class="message">
<p><strong>Авербах Ю. Л. и Бейлин М. А.</strong></p>
<p>А19 Путешествие в шахматное королевство. М. «Физкультура и спорт», 1972.</p>
</div>

<div class="message notification">
<p>Авторы этой книги, гроссмейстер Ю. Л. Авербах и мастер М. А. Бейлин, — ровесники и старые товарищи по шахматному оружию. Много лет они выступают в шахматной печати, написали несколько книг (одну из них — совместно) и много статей, очерков, фельетонов.</p>
<p>В этой книге авторы возложили на себя обязанности гидов в увлекательном путешествии читателя по шахматному королевству. От самых азов, от правил игры и ходов фигур, они ведут читателя к пониманию красоты и глубины древней игры.</p>
<p>Авторов спросили, читателям какого возраста они адресовали книгу?</p>
<p>— От семи до семидесяти, — ответили они.</p>
</div>

<div class="message">
<p>6-9-4</p>
<p>88-72</p>
</div>

<p>7А 9.1</p>

<div class="message">
<p><strong>Юрий Львович Авербах</strong></p>
<p><strong>Михаил Абрамович Бейлин</strong></p>
</div>

<h1>ПУТЕШЕСТВИЕ В ШАХМАТНОЕ КОРОЛЕВСТВО</h1>

<div class="message">
<p>Редактор Ю. А. Бразильский</p>
<p>Художественный редактор Л. А. Кулагин</p>
<p>Технический редактор Е. А. Трнденская</p>
<p>Корректор 3. Г. Самылкина</p>
</div>

<div class="message">
<p>А07849 Сдано в производство 29/XI—1971 г.</p>
<p>Подписано к печати 9./III—1972.</p>
<p>Бумага 84x 108/,, Гознак 100 гр.</p>
<p>Печ. л. 9,0. Усл. п. л. 15,12. Уч.-изд. л. 14,0.</p>
<p>Бум. л. 4,5. Тираж 200000 (1-й завод 1-100 000) экз. Издат. № 4243.</p>
<p>Цена 99 коп. в перепл. № 7, I р. 05 к. в перепл. № 4.</p>
<p>Зак. 2312</p>
</div>

<div class="message">
<p>Издательство «Физкультура и спорт»</p>
<p>Комитета по печати при Совете Министров СССР</p>
<p>Москва, К-6, Каляевская ул., 27.</p>
</div>

<div class="message">
<p>Ордена Трудового Красного Знамени</p>
<p>Первая Образцовая типография имени А. А. Жданова</p>
<p>Главполиграфпрома Комитета по печати</p>
<p>при Совете Министров СССР</p>
<p>Москва, М-54, Валовая, 28</p>
</div>

</div> <!-- score -->
</div> <!-- section -->

</div> <!-- iBook -->
{% endblock content %}

