{% extends '../../base.htm' %}
{% load static %}
{% block title %}
<title>МИХАИЛ БОТВИННИК | {{book.title}} | {%for author in book.authors.all%} {%if author.first_name%} {{author.first_name}} {%endif%} {%if author.second_name%} {{author.second_name}} {%endif%} {%if forloop.counter == book.authors.all.count%} {{author.last_name}} {%else%} {{author.last_name}}, {%endif%} {%endfor%} | {{book.year}}</title>
{% endblock title %}
{% block content %}

<div class="iBook">

<h3>МИХАИЛ БОТВИННИК</h3>
<!--p><img width=172 height=171 src="image029.jpg"></p-->
<div class="message">
<p>Это произошло в Ленинграде в 1925 году. Чемпион мира Капабланка давал сеанс одновременной игры. Быстро переходил он от доски к доске и, не задумываясь, словно шутя, передвигал фигуры. Но у одного столика, где против него сидел худенький мальчик в очках, знаменитый кубинец подолгу задерживался. Фигуры юного противника со всех сторон теснили короля чемпиона мира. — Молодец! Будет мастером,— сказал Капабланка и положил своего короля в знак капитуляции.</p>
<p>Интуиция не обманула Капабланку. Через два года, в Москве, когда закончился очередной чемпионат СССР, зрители с удивлением наблюдали, как раскрасневшийся юноша в очках взлетел к потолку... Такова была традиция посвящения в шахматные мастера. Юношу звали Михаил Ботвинник.</p>
<p>Еще через четыре года Ботвинник стал чемпионом СССР. Вместе с ним на передовые позиции вышло молодое поколение мастеров, воспитанное уже в годы советской власти.</p>
<p>Ботвинник родился в 1911 году, в двенадцать лет познакомился с шахматами и с первых же шагов обнаружил большую серьезность, обстоятельность и целеустремленность. Вся жизнь Ботвинника — классический пример целеустремленного движения к поставленной цели, настоящий трудовой подвиг.</p>
<p>Ботвинник — один из немногих шахматистов высшего класса, кому удалось сочетать занятия шахматами с другой профессией. Он сумел достичь вершины в шахматном мире и стать известным ученым в области электротехники. Ботвинник разработал научную систему подготовки к соревнованиям. Он всесторонне изучал своих соперников и с научной объективностью программировал (как он любит сам говорить) тактику игры с ними.</p>
<p>Шахматная карьера Ботвинника — это непрестанное движение вперед, к новым победам, к новым успехам. В 1935 году на втором московском международном турнире Ботвинник, разделив 1—2-е места с Флором, впереди Ласкера и Капабланки, заставил заговорить о себе весь шахматный мир. В 1936 году Ботвинник делит 1—2-е места с Капабланкой на международном турнире в Ноттингеме, впереди Алехина, Эйве, Ласкера.</p>
<p>Ботвинник ставит перед собой задачу — бороться за звание чемпиона мира. Когда после смерти Алехина шахматный мир остался без чемпиона, Международная шахматная федерация решила, что новый чемпион будет определен в матч-турнире пяти гроссмейстеров — М. Ботвинника, П. Кереса, В. Смыслова (все — СССР), С. Решевского (США) и М. Эйве (Голландия). Матч-турнир пяти состоялся в 1948 году и закончился триумфом Ботвинника — он занял первое место и победил в индивидуальных матчах каждого из своих соперников (в этих матчах партнеры играли по пять партий).</p>
<p>Впервые чемпионом мира стал гражданин СССР. Чемпион мира раз в три года должен защищать свое звание в матче из 24 партий против претендента, который выявляется целой серией отборочных соревнований лучших шахматистов мира. Этот порядок установлен ФИДЕ — Международной шахматной федерацией. Первый матч состоялся в 1951 году. Ботвинник скрестил шпагу с молодым Давидом Бронштейном. Матч этот проходил в исключительно упорной борьбе. Лишь на самом финише М. Ботвиннику удалось сравнять счет, и матч окончился вничью.</p>
<p>Согласно правилам розыгрыша первенства мира, чемпион сохранил свое звание, но, как заявил после матча сам Ботвинник, он стал только первым среди равных — целая группа советских гроссмейстеров по классу игры приблизилась к М. Ботвиннику.</p>
<p>Со следующим претендентом — Василием Смысловым Ботвинник сыграл три матча. Первый — в 1954 году, закончился вничью (+7 -7 =10), второй — в 1957 году, Ботвинник проиграл (+3 -6 =13) и утратил звание чемпиона, в 1958 году состоялся матч-реванш (+7 -5 =11), и Ботвинник снова стал чемпионом. В 1960 году М. Ботвинник второй раз утратил звание чемпиона (+2 -6 =13), его победил молодой рижский гроссмейстер Михаил Таль. Однако через год, накануне своего пятидесятилетия, Ботвинник нанес Талю решительное поражение (+10 -5 =6). В 1963 году Ботвинник потерпел поражение в матче с советским гроссмейстером Ти-граном Петросяном. В то время ФИДЕ уже отменила право чемпиона на матч-реванш, и Ботвинник принял решение больше не бороться за звание чемпиона мира. Ботвинник нашел поле соприкосновения шахмат со своей профессией — он разрабатывает алгоритм шахмат и убежден, что сумеет научить электронную вычислительную машину сильно играть в шахматы.</p>
<p>Роль Ботвинника в истории наших шахмат исключительно велика. Он способствовал завоеванию советской шахматной школой ведущих позиций в мире, высоко поднял значение дебютной теории, рациональных методов работы над шахматами и подготовки к состязаниям, углубил понимание законов позиционной борьбы.</p>
<p>Вся спортивная биография Ботвинника, его жизнь, его отношение к шахматам, к науке — достойнейший пример для подражания, особенно для молодых шахматистов.</p>
</div>

<div class="section">
<div class="chessBoard small floater" data-start-fen="rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w KQkq - 0 1"></div>
<div class="score">
 <span class="line0" onclick='loadMove("rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w KQkq - 0 1", this, ""); '>[...]</span> 
<p><b>Ферзевый гамбит</b></p>
<p><b>М. Ботвинник — М. Видмар</b></p>
<p><i>Играна в Ноттингеме в 1936 году</i></p>
<p class="longNotation">
 <span onclick='loadMove("rnbqkbnr/pppppppp/8/8/2P5/8/PP1PPPPP/RNBQKBNR b KQkq c3 0 1", this, "c2c4"); ' class="line0">1.c2-c4</span> 
 <span onclick='loadMove("rnbqkbnr/pppp1ppp/4p3/8/2P5/8/PP1PPPPP/RNBQKBNR w KQkq - 0 2", this, "e7e6"); ' class="line0">e7-e6</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("rnbqkbnr/pppp1ppp/4p3/8/2P5/5N2/PP1PPPPP/RNBQKB1R b KQkq - 0 2", this, "g1f3"); ' class="line0">2.Кg1-f3</span> 
 <span onclick='loadMove("rnbqkbnr/ppp2ppp/4p3/3p4/2P5/5N2/PP1PPPPP/RNBQKB1R w KQkq d6 0 3", this, "d7d5"); ' class="line0">d7-d5</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("rnbqkbnr/ppp2ppp/4p3/3p4/2PP4/5N2/PP2PPPP/RNBQKB1R b KQkq d3 0 3", this, "d2d4"); ' class="line0">3.d2-d4</span> 
 <span class="ellipsis0">...</span> 
</p>
<p>С небольшой перестановкой ходов получился обыкновенный ферзевый гамбит.</p>
<p class="longNotation">
 <span class="ellipsis0">3. ...</span> 
 <span onclick='loadMove("rnbqkb1r/ppp2ppp/4pn2/3p4/2PP4/5N2/PP2PPPP/RNBQKB1R w KQkq - 0 4", this, "g8f6"); ' class="line0">Кg8-f6</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("rnbqkb1r/ppp2ppp/4pn2/3p4/2PP4/2N2N2/PP2PPPP/R1BQKB1R b KQkq - 0 4", this, "b1c3"); ' class="line0">4.Кb1-c3</span> 
 <span onclick='loadMove("rnbqk2r/ppp1bppp/4pn2/3p4/2PP4/2N2N2/PP2PPPP/R1BQKB1R w KQkq - 0 5", this, "f8e7"); ' class="line0">Сf8-e7</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("rnbqk2r/ppp1bppp/4pn2/3p2B1/2PP4/2N2N2/PP2PPPP/R2QKB1R b KQkq - 0 5", this, "c1g5"); ' class="line0">5.Сc1-g5</span> 
 <span onclick='loadMove("rnbq1rk1/ppp1bppp/4pn2/3p2B1/2PP4/2N2N2/PP2PPPP/R2QKB1R w KQ - 0 6", this, "e8g8"); ' class="line0">0-0</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("rnbq1rk1/ppp1bppp/4pn2/3p2B1/2PP4/2N1PN2/PP3PPP/R2QKB1R b KQ - 0 6", this, "e2e3"); ' class="line0">6.e2-e3</span> 
 <span onclick='loadMove("r1bq1rk1/pppnbppp/4pn2/3p2B1/2PP4/2N1PN2/PP3PPP/R2QKB1R w KQ - 0 7", this, "b8d7"); ' class="line0">Кb8-d7</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("r1bq1rk1/pppnbppp/4pn2/3p2B1/2PP4/2NBPN2/PP3PPP/R2QK2R b KQ - 0 7", this, "f1d3"); ' class="line0">7.Сf1-d3</span> 
 <span onclick='loadMove("r1bq1rk1/pp1nbppp/4pn2/2pp2B1/2PP4/2NBPN2/PP3PPP/R2QK2R w KQ c6 0 8", this, "c7c5"); ' class="line0">c7-c5</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("r1bq1rk1/pp1nbppp/4pn2/2pp2B1/2PP4/2NBPN2/PP3PPP/R2Q1RK1 b - - 0 8", this, "e1g1"); ' class="line0">8.0-0</span> 
 <span onclick='loadMove("r1bq1rk1/pp1nbppp/4pn2/3p2B1/2Pp4/2NBPN2/PP3PPP/R2Q1RK1 w - - 0 9", this, "c5d4"); ' class="line0">c5:d4</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("r1bq1rk1/pp1nbppp/4pn2/3p2B1/2PP4/2NB1N2/PP3PPP/R2Q1RK1 b - - 0 9", this, "e3d4"); ' class="line0">9.e3:d4</span> 
 <span onclick='loadMove("r1bq1rk1/pp1nbppp/4pn2/6B1/2pP4/2NB1N2/PP3PPP/R2Q1RK1 w - - 0 10", this, "d5c4"); ' class="line0">d5:c4</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("r1bq1rk1/pp1nbppp/4pn2/6B1/2BP4/2N2N2/PP3PPP/R2Q1RK1 b - - 0 10", this, "d3c4"); ' class="line0">10.Сd3:c4</span> 
 <span class="ellipsis0">...</span> 
</p>
<p>В результате дебютных ходов у белых образовалась изолированная пешка, но этот недостаток компенсируется более свободным и активным расположением фигур.</p>
<p class="longNotation">
 <span class="ellipsis0">10. ...</span> 
 <span onclick='loadMove("r1bq1rk1/pp2bppp/1n2pn2/6B1/2BP4/2N2N2/PP3PPP/R2Q1RK1 w - - 0 11", this, "d7b6"); ' class="line0">Кd7-b6</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("r1bq1rk1/pp2bppp/1n2pn2/6B1/3P4/1BN2N2/PP3PPP/R2Q1RK1 b - - 0 11", this, "c4b3"); ' class="line0">11.Сc4-b3</span> 
 <span onclick='loadMove("r2q1rk1/pp1bbppp/1n2pn2/6B1/3P4/1BN2N2/PP3PPP/R2Q1RK1 w - - 0 12", this, "c8d7"); ' class="line0">Сc8-d7</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("r2q1rk1/pp1bbppp/1n2pn2/6B1/3P4/1BNQ1N2/PP3PPP/R4RK1 b - - 0 12", this, "d1d3"); ' class="line0">12.Фd1-d3</span> 
 <span class="ellipsis0">...</span> 
</p>
<p>При случае белые могут создать знакомый нам механизм давления по диагонали — ферзь на d3 и слои на c2.</p>
<p class="longNotation">
 <span class="ellipsis0">12. ...</span> 
 <span onclick='loadMove("r2q1rk1/pp1bbppp/4pn2/3n2B1/3P4/1BNQ1N2/PP3PPP/R4RK1 w - - 0 13", this, "b6d5"); ' class="line0">Кb6-d5</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("r2q1rk1/pp1bbppp/4pn2/3nN1B1/3P4/1BNQ4/PP3PPP/R4RK1 b - - 0 13", this, "f3e5"); ' class="line0">13.Кf3-e5</span> 
 <span onclick='loadMove("r2q1rk1/pp2bppp/2b1pn2/3nN1B1/3P4/1BNQ4/PP3PPP/R4RK1 w - - 0 14", this, "d7c6"); ' class="line0">Сd7-c6</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("r2q1rk1/pp2bppp/2b1pn2/3nN1B1/3P4/1BNQ4/PP3PPP/3R1RK1 b - - 0 14", this, "a1d1"); ' class="line0">14.Лa1-d1</span> 
 <span onclick='loadMove("r2q1rk1/pp2bppp/2b1pn2/4N1B1/1n1P4/1BNQ4/PP3PPP/3R1RK1 w - - 0 15", this, "d5b4"); ' class="line0">Кd5-b4</span> 
</p>
<p>Неуместная активность. Нужно было думать о защите.</p>
<p class="longNotation">
 <span onclick='loadMove("r2q1rk1/pp2bppp/2b1pn2/4N1B1/1n1P4/1BN4Q/PP3PPP/3R1RK1 b - - 0 15", this, "d3h3"); ' class="line0">15.Фd3-h3</span> 
 <span onclick='loadMove("r2q1rk1/pp2bppp/4pn2/3bN1B1/1n1P4/1BN4Q/PP3PPP/3R1RK1 w - - 0 16", this, "c6d5"); ' class="line0">Сc6-d5</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("r2q1rk1/pp2bppp/4pn2/3NN1B1/1n1P4/1B5Q/PP3PPP/3R1RK1 b - - 0 16", this, "c3d5"); ' class="line0">16.Кc3:d5</span> 
 <span onclick='loadMove("r2q1rk1/pp2bppp/4pn2/3nN1B1/3P4/1B5Q/PP3PPP/3R1RK1 w - - 0 17", this, "b4d5"); ' class="line0">Кb4:d5</span> 
</p>
<p>В подобных позициях для защищающегося полезны размены, поэтому правильнее было
 <span onclick='loadMove("r2q1rk1/pp2bppp/4p3/3nN1B1/1n1P4/1B5Q/PP3PPP/3R1RK1 w - - 0 17", this, "f6d5"); ' class="line1">16...Кf:d5</span>.</p>
<p class="longNotation">
 <span onclick='loadMove("r2q1rk1/pp2bppp/4pn2/3nN1B1/3P1P2/1B5Q/PP4PP/3R1RK1 b - f3 0 17", this, "f2f4"); ' class="line0">17.f2-f4</span> 
 <span onclick='loadMove("2rq1rk1/pp2bppp/4pn2/3nN1B1/3P1P2/1B5Q/PP4PP/3R1RK1 w - - 0 18", this, "a8c8"); ' class="line0">Лa8-c8</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("2rq1rk1/pp2bppp/4pn2/3nNPB1/3P4/1B5Q/PP4PP/3R1RK1 b - - 0 18", this, "f4f5"); ' class="line0">18.f4-f5</span> 
 <span class="ellipsis0">...</span> 
</p>
<p>С железной последовательностью Ботвинник проводит свою идею — вскрытие линий на королевском фланге.</p>
<p class="longNotation">
 <span class="ellipsis0">18. ...</span> 
 <span onclick='loadMove("2rq1rk1/pp2bppp/5n2/3nNpB1/3P4/1B5Q/PP4PP/3R1RK1 w - - 0 19", this, "e6f5"); ' class="line0">e6:f5</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("2rq1rk1/pp2bppp/5n2/3nNRB1/3P4/1B5Q/PP4PP/3R2K1 b - - 0 19", this, "f1f5"); ' class="line0">19.Лf1:f5</span> 
 <span onclick='loadMove("2r2rk1/pp2bppp/3q1n2/3nNRB1/3P4/1B5Q/PP4PP/3R2K1 w - - 0 20", this, "d8d6"); ' class="line0">Фd8-d6</span> 
</p>
<p>Теперь Ботвинник точно рассчитанной комбинацией венчает свою стратегию. От немедленного разгрома черных спасал ход
 <span onclick='loadMove("3q1rk1/ppr1bppp/5n2/3nNRB1/3P4/1B5Q/PP4PP/3R2K1 w - - 0 20", this, "c8c7"); ' class="line1">19...Лc7</span>.</p>
<p class="capTop diagram">347</p>
<div class="chessBoard analysis nobuttons" data-start-fen="2r2rk1/pp2bppp/3q1n2/3nNRB1/3P4/1B5Q/PP4PP/3R2K1 w - - 0 20"></div>
<p class="longNotation">
 <span onclick='loadMove("2r2rk1/pp2bNpp/3q1n2/3n1RB1/3P4/1B5Q/PP4PP/3R2K1 b - - 0 20", this, "e5f7"); ' class="line0">20.Кe5:f7!</span> 
 <span onclick='loadMove("2r3k1/pp2brpp/3q1n2/3n1RB1/3P4/1B5Q/PP4PP/3R2K1 w - - 0 21", this, "f8f7"); ' class="line0">Лf8:f7</span> 
</p>
<p>Не годилось
 <span onclick='loadMove("2r2r2/pp2bkpp/3q1n2/3n1RB1/3P4/1B5Q/PP4PP/3R2K1 w - - 0 21", this, "g8f7"); ' class="line1">20...Кр:f7</span> 
из-за
 <span onclick='loadMove("2r2r2/pp2bkpp/3q1n2/3B1RB1/3P4/7Q/PP4PP/3R2K1 b - - 0 21", this, "b3d5"); ' class="line1">21.С:d5+</span>.</p>
<p class="longNotation">
 <span onclick='loadMove("2r3k1/pp2brpp/3q1B2/3n1R2/3P4/1B5Q/PP4PP/3R2K1 b - - 0 21", this, "g5f6"); ' class="line0">21.Сg5:f6</span> 
 <span onclick='loadMove("2r3k1/pp3rpp/3q1b2/3n1R2/3P4/1B5Q/PP4PP/3R2K1 w - - 0 22", this, "e7f6"); ' class="line0">Сe7:f6</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("2r3k1/pp3rpp/3q1b2/3R4/3P4/1B5Q/PP4PP/3R2K1 b - - 0 22", this, "f5d5"); ' class="line0">22.Лf5:d5</span> 
 <span onclick='loadMove("2r3k1/pp3rpp/2q2b2/3R4/3P4/1B5Q/PP4PP/3R2K1 w - - 0 23", this, "d6c6"); ' class="line0">Фd6-c6</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("2r3k1/pp3rpp/2qR1b2/8/3P4/1B5Q/PP4PP/3R2K1 b - - 0 23", this, "d5d6"); ' class="line0">23.Лd5-d6</span> 
 <span class="ellipsis0">...</span> 
</p>
<p>Мы советовали вам быть осторожными в дебюте, однако не только в дебюте надо быть осторожным! Здесь напрашивался ход
 <span onclick='loadMove("2r3k1/pp3rpp/2q2b2/2R5/3P4/1B5Q/PP4PP/3R2K1 b - - 0 23", this, "d5c5"); ' class="line1">23.Лc5</span>, но он не годился из-за
 <span onclick='loadMove("2r3k1/pp3rpp/2q5/2R5/3b4/1B5Q/PP4PP/3R2K1 w - - 0 24", this, "f6d4"); ' class="line1">23...С:d4+</span>.</p>
<p class="longNotation">
 <span class="ellipsis0">23. ...</span> 
 <span onclick='loadMove("2r1q1k1/pp3rpp/3R1b2/8/3P4/1B5Q/PP4PP/3R2K1 w - - 0 24", this, "c6e8"); ' class="line0">Фc6-e8</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("2r1q1k1/pp1R1rpp/5b2/8/3P4/1B5Q/PP4PP/3R2K1 b - - 0 24", this, "d6d7"); ' class="line0">24.Лd6-d7</span> 
.</p>
<p>Черные сдались.</p>
<p>Маленькое дебютное преимущество Ботвинник последовательно наращивал, не давая партнеру ускользнуть, подчиняя его своей воле. Комбинация прозвучала как финальный аккорд. Она была предрешена всей предыдущей игрой.</p>
</div> <!-- score -->
</div> <!-- section -->

</div> <!-- iBook -->
{% endblock content %}

