{% extends '../../base.htm' %}
{% load static %}
{% block title %}
<title>Глава 1. ЛАДЬЯ | {{book.title}} | {%for author in book.authors.all%} {%if author.first_name%} {{author.first_name}} {%endif%} {%if author.second_name%} {{author.second_name}} {%endif%} {%if forloop.counter == book.authors.all.count%} {{author.last_name}} {%else%} {{author.last_name}}, {%endif%} {%endfor%} | {{book.year}}</title>
{% endblock title %}
{% block content %}

<div class="iBook">
{% include '../../snippet_litres_banner1.htm' %}

<div class="section">
<div class="small floater">
<img src="{% static 'images/'|add:book.slug|add:'/rook.jpg' %}"/>
</div>
<div class="score">
<h2>Глава 1. ЛАДЬЯ</h2>
<p>За очень редкими исключениями ладья самостоятельно объявляет мат на последней горизонтали, где пути к отступлению королю соперника преграждают собственные пешки (иногда - с фигурами). Немало случаев, когда ладья пользуется при этом услугами собственных пешек, отрезающих королю пути к отступлению. Ну и, конечно, нередко ей помогает собственный король.</p>
<div style="display: flex; flex-wrap: wrap;">
<div class="chessBoard analysis nobuttons" data-start-fen="R5k1/5ppp/8/8/8/8/8/8 b - - 0 1"></div>
<div class="chessBoard analysis nobuttons" data-start-fen="6rk/6p1/8/8/7R/8/8/8 b - - 0 1"></div>
<div class="chessBoard analysis nobuttons" data-start-fen="6r1/6pk/6p1/8/7R/8/8/8 b - - 0 1"></div>
</div>
</div> <!-- score -->
</div> <!-- section -->

<div class="section">
<div class="chessBoard small floater" data-start-fen="4Qbk1/5p2/5Pp1/ppqn1rPp/7P/P1P5/1P2R3/1K1R4 w - - 0 45"></div>
<div class="score">
 <span class="line0" onclick='loadMove("4Qbk1/5p2/5Pp1/ppqn1rPp/7P/P1P5/1P2R3/1K1R4 w - - 0 45", this, ""); '>[...]</span> 
<div class="chessBoard analysis nobuttons" data-start-fen="4Qbk1/5p2/5Pp1/ppqn1rPp/7P/P1P5/1P2R3/1K1R4 w - - 0 45"></div>
<p class="caption">Ход белых</p>
<p><strong>М. Апицелла - Л. Жидарелли</strong> (2003)</p>
<p>
 <span onclick='loadMove("4Qbk1/4Rp2/5Pp1/ppqn1rPp/7P/P1P5/1P6/1K1R4 b - - 0 45", this, "e2e7"); ' class="line0">45.Лe7!</span> 
Одним ходом убивая двух зайцев: конь отвлекается с d5, одновременно перекрывая диагональ f8-a3. Черные сдались, поскольку угрозу пункту f7 можно отразить лишь путем</p>
<p>
 <span onclick='loadMove("4Qbk1/4np2/5Pp1/ppq2rPp/7P/P1P5/1P6/1K1R4 w - - 0 46", this, "d5e7"); ' class="line0">45...К:e7</span> 
(ударом по воде оказывается
 <span onclick='loadMove("4Qbk1/4Rp2/5Pp1/ppq2rPp/7P/P1n5/1P6/1K1R4 w - - 0 46", this, "d5c3"); ' class="line1">45...К:c3+</span> 
 <span onclick='loadMove("4Qbk1/4Rp2/5Pp1/ppq2rPp/7P/P1P5/8/1K1R4 b - - 0 46", this, "b2c3"); ' class="line1">46.b:c3</span> 
),
а здесь срабатывает известная идея:
 <span onclick='loadMove("5Qk1/4np2/5Pp1/ppq2rPp/7P/P1P5/1P6/1K1R4 b - - 0 46", this, "e8f8"); ' class="line0">46.Ф:f8+!</span> 
 <span onclick='loadMove("5k2/4np2/5Pp1/ppq2rPp/7P/P1P5/1P6/1K1R4 w - - 0 47", this, "g8f8"); ' class="line0">Кр:f8</span> 
(
 <span onclick='loadMove("5Q2/4np1k/5Pp1/ppq2rPp/7P/P1P5/1P6/1K1R4 w - - 0 47", this, "g8h7"); ' class="line1">46...Крh7</span> 
 <span onclick='loadMove("8/4npQk/5Pp1/ppq2rPp/7P/P1P5/1P6/1K1R4 b - - 0 47", this, "f8g7"); ' class="line1">47.Фg7X</span> 
)
 <span onclick='loadMove("3R1k2/4np2/5Pp1/ppq2rPp/7P/P1P5/1P6/1K6 b - - 0 47", this, "d1d8"); ' class="line0">47.Лd8X</span> 
.</p>
<!--p>8</p><p>Глава 1</p-->
</div> <!-- score -->
</div> <!-- section -->

<div class="section">
<div class="chessBoard small floater" data-start-fen="2r2k1r/pp1Qnppp/8/q3p3/4p3/4B2P/PPP2PP1/2KR3R w - - 0 18"></div>
<div class="score">
 <span class="line0" onclick='loadMove("2r2k1r/pp1Qnppp/8/q3p3/4p3/4B2P/PPP2PP1/2KR3R w - - 0 18", this, ""); '>[...]</span> 
<div class="chessBoard analysis nobuttons" data-start-fen="2r2k1r/pp1Qnppp/8/q3p3/4p3/4B2P/PPP2PP1/2KR3R w - - 0 18"></div>
<p class="caption">Ход белых</p>
<p><strong>Л. Брусон - Б. Джобава</strong> (2005) Если бы черный ферзь не контролировал пункт d8, то немедленно выигрывало <b>Фd8+</b>. Поэтому белые проводят подготовительную работу:</p>
<p>
 <span onclick='loadMove("2r2k1r/pp1Qnppp/8/q1B1p3/4p3/7P/PPP2PP1/2KR3R b - - 0 18", this, "e3c5"); ' class="line0">18.Сc5!</span> 
 <span onclick='loadMove("4rk1r/pp1Qnppp/8/q1B1p3/4p3/7P/PPP2PP1/2KR3R w - - 0 19", this, "c8e8"); ' class="line0">Лe8</span> 
(иначе коня не защитить, а в случае
 <span onclick='loadMove("2r2k1r/pp1Qnppp/8/2q1p3/4p3/7P/PPP2PP1/2KR3R w - - 0 19", this, "a5c5"); ' class="line1">18...Ф:c5</span> 
к победе ведет уже знакомое
 <span onclick='loadMove("2rQ1k1r/pp2nppp/8/2q1p3/4p3/7P/PPP2PP1/2KR3R b - - 0 19", this, "d7d8"); ' class="line1">19.Фd8+</span> 
)
 <span onclick='loadMove("4rk1r/pp1Qnppp/8/q1BRp3/4p3/7P/PPP2PP1/2K4R b - - 0 19", this, "d1d5"); ' class="line0">19.Лd5</span> 
.
Ферзю придется покинуть диагональ a5-d8,
 <!--span onclick='loadMove("4rk1r/pp1Qnppp/8/q1BRp3/4p3/7P/PPP2PP1/2K4R w - - 0 20", this, "d1d5"); ' class="line1">19...z0</span--> 
после чего решает
 <span onclick='loadMove("4rk1r/pp2Qppp/8/q1BRp3/4p3/7P/PPP2PP1/2K4R b - - 0 20", this, "d7e7"); ' class="line1">20.Ф:e7+</span> 
. Черные сдались.</p>
</div> <!-- score -->
</div> <!-- section -->

<div class="section">
<div class="chessBoard small floater" data-start-fen="4r1k1/1b2rp2/1q1p2pp/pN6/P1P1Pb2/3Q4/B3R1PP/4R2K b - - 0 40"></div>
<div class="score">
 <span class="line0" onclick='loadMove("4r1k1/1b2rp2/1q1p2pp/pN6/P1P1Pb2/3Q4/B3R1PP/4R2K b - - 0 40", this, ""); '>[...]</span> 
<div class="chessBoard analysis nobuttons" data-start-fen="4r1k1/1b2rp2/1q1p2pp/pN6/P1P1Pb2/3Q4/B3R1PP/4R2K b - - 0 40"></div>
<p class="caption">Ход черных</p>
<p><strong>В. Мерибанов - В. Тетерев</strong> (2011)</p>
<p>
 <span onclick='loadMove("4r1k1/4rp2/1q1p2pp/pN6/P1P1bb2/3Q4/B3R1PP/4R2K w - - 0 41", this, "b7e4"); ' class="line0">40...С:e4!</span> 
 <span onclick='loadMove("4r1k1/4rp2/1q1p2pp/pN6/P1P1Rb2/3Q4/B5PP/4R2K b - - 0 41", this, "e2e4"); ' class="line0">41.Л:e4</span> 
 <span onclick='loadMove("4r1k1/4rp2/3p2pp/pN6/P1P1Rb2/3Q4/B4qPP/4R2K w - - 0 42", this, "b6f2"); ' class="line0">Фf2!</span> 
Теперь на
 <span onclick='loadMove("4r1k1/4Rp2/3p2pp/pN6/P1P2b2/3Q4/B4qPP/4R2K b - - 0 42", this, "e4e7"); ' class="line1">42.Л:e7</span> 
к мату ведет
 <span onclick='loadMove("4r1k1/4Rp2/3p2pp/pN6/P1P2b2/3Q4/B5PP/4q2K w - - 0 43", this, "f2e1"); ' class="line1">42...Ф:e1+</span> 
,
а в случае
 <span onclick='loadMove("4r1k1/4rp2/3p2pp/pN6/P1P1Rb2/3Q4/B4qPP/5R1K b - - 0 42", this, "e1f1"); ' class="line1">42.Лf1</span> 
 <span onclick='loadMove("4r1k1/4rp2/3p2pp/pN6/P1P1Rb2/3Q4/B5PP/5q1K w - - 0 43", this, "f2f1"); ' class="line1">Ф:f1+</span> 
 <span onclick='loadMove("4r1k1/4rp2/3p2pp/pN6/P1P1Rb2/8/B5PP/5Q1K b - - 0 43", this, "d3f1"); ' class="line1">43.Ф:f1</span> 
 <span onclick='loadMove("4r1k1/5p2/3p2pp/pN6/P1P1rb2/8/B5PP/5Q1K w - - 0 44", this, "e7e4"); ' class="line1">Л:e4</span> 
 <!--span onclick='loadMove("4r1k1/5p2/3p2pp/pN6/P1P1rb2/8/B5PP/5Q1K b - - 0 44", this, "e7e4"); ' class="line1">44.z0</span--> 
белые не в силах помешать
 <span onclick='loadMove("4r1k1/5p2/3p2pp/pN6/P1P2b2/8/B5PP/4rQ1K w - - 0 45", this, "e4e1"); ' class="line1">44...Лe1</span> 
с решающими материальными завоеваниями, поэтому они сдались.</p>
<p>Очень изящно добились успеха белые в следующем гроссмейстерском поединке.</p>
</div> <!-- score -->
</div> <!-- section -->

<div class="section">
<div class="chessBoard small floater" data-start-fen="1r4k1/5ppp/4p3/n3q3/1Q6/5BP1/1P2PP1P/3R2K1 w - - 0 30"></div>
<div class="score">
 <span class="line0" onclick='loadMove("1r4k1/5ppp/4p3/n3q3/1Q6/5BP1/1P2PP1P/3R2K1 w - - 0 30", this, ""); '>[...]</span> 
<div class="chessBoard analysis nobuttons" data-start-fen="1r4k1/5ppp/4p3/n3q3/1Q6/5BP1/1P2PP1P/3R2K1 w - - 0 30"></div>
<p class="caption">Ход белых</p>
<p><strong>А. Лендерман - Т. Гареев</strong> (2010)</p>
<p>
 <span onclick='loadMove("1r4k1/5ppp/3Rp3/n3q3/1Q6/5BP1/1P2PP1P/6K1 b - - 0 30", this, "d1d6"); ' class="line0">30.Лd6!!</span> 
Черные сдались. Ферзь, очевидно, несъедобен из-за мата,
а после
 <span onclick='loadMove("2r3k1/5ppp/3Rp3/n3q3/1Q6/5BP1/1P2PP1P/6K1 w - - 0 31", this, "b8c8"); ' class="line1">30...Лc8</span> 
 <span onclick='loadMove("2r3k1/5ppp/R3p3/n3q3/1Q6/5BP1/1P2PP1P/6K1 b - - 0 31", this, "d6a6"); ' class="line1">31.Лa6</span> 
(белый-то король имеет форточку!)
коня спасти невозможно. Например,
 <span onclick='loadMove("2r3k1/5ppp/R3p3/4q3/1Qn5/5BP1/1P2PP1P/6K1 w - - 0 32", this, "a5c4"); ' class="line1">31...Кc4</span> 
 <span onclick='loadMove("2r3k1/5ppp/R3p3/4q3/2Q5/5BP1/1P2PP1P/6K1 b - - 0 32", this, "b4c4"); ' class="line1">32.Ф:c4</span> 
 <span onclick='loadMove("6k1/5ppp/R3p3/4q3/2r5/5BP1/1P2PP1P/6K1 w - - 0 33", this, "c8c4"); ' class="line1">Л:c4</span> 
 <span onclick='loadMove("R5k1/5ppp/4p3/4q3/2r5/5BP1/1P2PP1P/6K1 b - - 0 33", this, "a6a8"); ' class="line1">33.Лa8+</span> 
.</p>
<!--p>Ладья</p><p>9</p-->
</div> <!-- score -->
</div> <!-- section -->

<div class="section">
<div class="chessBoard small floater" data-start-fen="3qr1k1/p2n3p/4rp2/1p1Q4/3N1B2/8/PP3PPP/R5K1 b - - 0 23"></div>
<div class="score">
 <span class="line0" onclick='loadMove("3qr1k1/p2n3p/4rp2/1p1Q4/3N1B2/8/PP3PPP/R5K1 b - - 0 23", this, ""); '>[...]</span> 
<div class="chessBoard analysis nobuttons" data-start-fen="3qr1k1/p2n3p/4rp2/1p1Q4/3N1B2/8/PP3PPP/R5K1 b - - 0 23"></div>
<p class="caption">Ход черных</p>
<p><strong>Я. Зеберски - О. Вечорек</strong> (2010)</p>
<p>
 <span onclick='loadMove("3qrnk1/p6p/4rp2/1p1Q4/3N1B2/8/PP3PPP/R5K1 w - - 0 24", this, "d7f8"); ' class="line0">23...Кf8!!</span> 
 <span onclick='loadMove("3Qrnk1/p6p/4rp2/1p6/3N1B2/8/PP3PPP/R5K1 b - - 0 24", this, "d5d8"); ' class="line0">24.Ф:d8</span> 
(
 <span onclick='loadMove("3qrnk1/p6p/4rp2/1p6/3N1B2/1Q6/PP3PPP/R5K1 b - - 0 24", this, "d5b3"); ' class="line1">24.Фb3</span> 
 <span onclick='loadMove("4rnk1/p6p/4rp2/1p6/3q1B2/1Q6/PP3PPP/R5K1 w - - 0 25", this, "d8d4"); ' class="line1">Ф:d4</span> 
-+)
 <span onclick='loadMove("3Qrnk1/p6p/5p2/1p6/3N1B2/8/PP3PPP/R3r1K1 w - - 0 25", this, "e6e1"); ' class="line0">24...Лe1+</span> 
. Белые сдались.
Вы можете спросить: а почему не
 <span onclick='loadMove("3qr1k1/p6p/1n2rp2/1p1Q4/3N1B2/8/PP3PPP/R5K1 w - - 0 24", this, "d7b6"); ' class="line1">23...Кb6</span> 
? А в этом случае после
 <span onclick='loadMove("3Qr1k1/p6p/1n2rp2/1p6/3N1B2/8/PP3PPP/R5K1 b - - 0 24", this, "d5d8"); ' class="line1">24.Ф:d8</span> 
не проходит шах на e1: белые просто заберут ладью, и ладья на e8 оказывается связанной. Поэтому ход конем на f8 строго единственный.</p>
<p>Красивая комбинация решила исход следующего поединка.</p>
</div> <!-- score -->
</div> <!-- section -->

<div class="section">
<div class="chessBoard small floater" data-start-fen="r4r1k/bbp2ppp/8/1p1nN2N/1n1P3q/1B5P/1P3PP1/R1BQR1K1 w - - 0 21"></div>
<div class="score">
 <span class="line0" onclick='loadMove("r4r1k/bbp2ppp/8/1p1nN2N/1n1P3q/1B5P/1P3PP1/R1BQR1K1 w - - 0 21", this, ""); '>[...]</span> 
<div class="chessBoard analysis nobuttons" data-start-fen="r4r1k/bbp2ppp/8/1p1nN2N/1n1P3q/1B5P/1P3PP1/R1BQR1K1 w - - 0 21"></div>
<p class="caption">Ход белых</p> <p><strong>К. Кюлаотс - М. Антонсен</strong> (2010)</p>
<p>
 <span onclick='loadMove("r4r1k/Rbp2ppp/8/1p1nN2N/1n1P3q/1B5P/1P3PP1/2BQR1K1 b - - 0 21", this, "a1a7"); ' class="line0">21.Л:a7!!</span> 
Эта жертва имеет двоякую цель: во-первых, снимается удар с пешки d4, а во-вторых, как вы уже догадались, ослабляется восьмой ряд. Но как это можно использовать?..</p>
<p>
 <span onclick='loadMove("5r1k/rbp2ppp/8/1p1nN2N/1n1P3q/1B5P/1P3PP1/2BQR1K1 w - - 0 22", this, "a8a7"); ' class="line0">21...Л:a7</span> 
 <span onclick='loadMove("5r1k/rbp2ppp/8/1p1nN1BN/1n1P3q/1B5P/1P3PP1/3QR1K1 b - - 0 22", this, "c1g5"); ' class="line0">22.Сg5!</span> 
Пуанта.
Оказывается, ферзь не имеет полей для отступления и вынужден забрать дерзкого слона, но после
 <span onclick='loadMove("5r1k/rbp2ppp/8/1p1nN1qN/1n1P4/1B5P/1P3PP1/3QR1K1 w - - 0 23", this, "h4g5"); ' class="line1">22...Ф:g5</span> 
 <span onclick='loadMove("5r1k/rbp2Npp/8/1p1n2qN/1n1P4/1B5P/1P3PP1/3QR1K1 b - - 0 23", this, "e5f7"); ' class="line1">23.К:f7+</span> 
и второй ладье придется покинуть последнюю горизонталь - либо же черные остаются без сильнейшей фигуры. Но тогда матует <b>Лe8+</b>. Черные сдались.</p>
</div> <!-- score -->
</div> <!-- section -->

<div class="section">
<div class="score">
<p>Нередко ладье помогает поставить мат собственная пешка.</p>
<div style="display: flex; flex-wrap: wrap;">
<div class="chessBoard analysis nobuttons" data-start-fen="4R1k1/5p1p/7P/8/8/8/8/8 b - - 0 1"></div>
<div class="chessBoard analysis nobuttons" data-start-fen="4R1k1/5p1p/5P2/8/8/8/8/8 b - - 0 1"></div>
<div class="chessBoard analysis nobuttons" data-start-fen="4R1k1/6p1/6P1/8/8/8/8/8 b - - 0 1"></div>
<div class="chessBoard analysis nobuttons" data-start-fen="4R2k/7p/5P2/8/8/8/8/8 b - - 0 1"></div>
<div class="chessBoard analysis nobuttons" data-start-fen="6rk/5p2/5P2/7R/8/8/8/8 b - - 0 1"></div>
<div class="chessBoard analysis nobuttons" data-start-fen="6r1/7k/5Pn1/7R/8/8/8/8 b - - 0 1"></div>
<!--p>10</p><p>Глава 1</p-->
</div>
<p>В следующем примере черные устроили прямо-таки форменную охоту на белого ферзя, пытаясь отвлечь его от главной цели - защиты пункта f1.</p>
</div> <!-- score -->
</div> <!-- section -->

<div class="section">
<div class="chessBoard small floater" data-start-fen="5rk1/6qp/Q2p4/2pP4/3bP1P1/1R4pP/6P1/3N3K b - - 0 29"></div>
<div class="score">
 <span class="line0" onclick='loadMove("5rk1/6qp/Q2p4/2pP4/3bP1P1/1R4pP/6P1/3N3K b - - 0 29", this, ""); '>[...]</span> 
<div class="chessBoard analysis nobuttons" data-start-fen="5rk1/6qp/Q2p4/2pP4/3bP1P1/1R4pP/6P1/3N3K b - - 0 29"></div>
<p class="caption">Ход черных</p>
<p><strong>Р. Ягар - П. Главина</strong> (2013)</p>
<p>
 <span onclick='loadMove("5rk1/q6p/Q2p4/2pP4/3bP1P1/1R4pP/6P1/3N3K w - - 0 30", this, "g7a7"); ' class="line0">29...Фa7!</span> 
 <span onclick='loadMove("5rk1/q6p/3p4/2pP4/3bP1P1/1R1Q2pP/6P1/3N3K b - - 0 30", this, "a6d3"); ' class="line0">30.Фd3</span> 
(на
 <span onclick='loadMove("5rk1/q6p/3p4/2pP4/3bP1P1/1R4pP/4Q1P1/3N3K b - - 0 30", this, "a6e2"); ' class="line1">30.Фe2</span> 
сразу решает
 <span onclick='loadMove("5rk1/7p/3p4/2pP4/3bP1P1/1R4pP/q3Q1P1/3N3K w - - 0 31", this, "a7a2"); ' class="line1">30...Фa2</span> 
)
 <span onclick='loadMove("5rk1/q6p/3p4/3P4/2pbP1P1/1R1Q2pP/6P1/3N3K w - - 0 31", this, "c5c4"); ' class="line0">30...c4!</span> 
 <span onclick='loadMove("5rk1/q6p/3p4/3P4/2QbP1P1/1R4pP/6P1/3N3K b - - 0 31", this, "d3c4"); ' class="line0">31.Ф:c4</span> 
 <span onclick='loadMove("5rk1/7p/3p4/3P4/q1QbP1P1/1R4pP/6P1/3N3K w - - 0 32", this, "a7a4"); ' class="line0">Фa4!</span> 
Ладью не спасти, и белые сдались.</p>
</div> <!-- score -->
</div> <!-- section -->

<div class="section">
<div class="chessBoard small floater" data-start-fen="4r1rk/p2q1pp1/2p5/1p1n1N1P/3P2Q1/8/PP1B1PP1/2K4R w - - 0 31"></div>
<div class="score">
 <span class="line0" onclick='loadMove("4r1rk/p2q1pp1/2p5/1p1n1N1P/3P2Q1/8/PP1B1PP1/2K4R w - - 0 31", this, ""); '>[...]</span> 
<div class="chessBoard analysis nobuttons" data-start-fen="4r1rk/p2q1pp1/2p5/1p1n1N1P/3P2Q1/8/PP1B1PP1/2K4R w - - 0 31"></div>
<p class="caption">Ход белых</p>
<p><strong>М. Зуфич - Д. Дорич</strong> (2013)</p>
<p>
 <span onclick='loadMove("4r1rk/p2q1pp1/2p3Q1/1p1n1N1P/3P4/8/PP1B1PP1/2K4R b - - 0 31", this, "g4g6"); ' class="line0">31.Фg6!!</span> 
Блестящее решение.
Трудно поверить, но единственной целью этой акции является блокада пешки g7 и затем осуществление продвижения <b>h5-h6</b>
(немедленное
 <span onclick='loadMove("4r1rk/p2q1pp1/2p4P/1p1n1N2/3P2Q1/8/PP1B1PP1/2K4R b - - 0 31", this, "h5h6"); ' class="line1">31.h6</span> 
парируется путем
 <span onclick='loadMove("4r1rk/p2q1p2/2p3pP/1p1n1N2/3P2Q1/8/PP1B1PP1/2K4R w - - 0 32", this, "g7g6"); ' class="line1">31...g6</span> 
).
Черные сдались:
на
 <span onclick='loadMove("6rk/p2q1pp1/2p1r1Q1/1p1n1N1P/3P4/8/PP1B1PP1/2K4R w - - 0 32", this, "e8e6"); ' class="line1">31...Лe6</span> 
, как и на почти любой ход черных, немедленно выигрывает
 <span onclick='loadMove("6rk/p2q1pp1/2p1r1QP/1p1n1N2/3P4/8/PP1B1PP1/2K4R b - - 0 32", this, "h5h6"); ' class="line1">32.h6!</span> 
</p>
<p>Изумительной красоты комбинация удалась английскому гроссмейстеру в достаточно прочной на вид позиции.</p>
</div> <!-- score -->
</div> <!-- section -->

<div class="section">
<div class="chessBoard small floater" data-start-fen="4brk1/5p1p/4PRpP/4r3/1pp3P1/8/1PP3BK/5R2 w - - 0 36"></div>
<div class="score">
 <span class="line0" onclick='loadMove("4brk1/5p1p/4PRpP/4r3/1pp3P1/8/1PP3BK/5R2 w - - 0 36", this, ""); '>[...]</span> 
<div class="chessBoard analysis nobuttons" data-start-fen="4brk1/5p1p/4PRpP/4r3/1pp3P1/8/1PP3BK/5R2 w - - 0 36"></div>
<p class="caption">Ход белых</p>
<p><string>Н. Шорт - Х. Стефанссон</string> (2002)</p>
<p>
 <span onclick='loadMove("4brk1/5p1p/4PRpP/3Br3/1pp3P1/8/1PP4K/5R2 b - - 0 36", this, "g2d5"); ' class="line0">36.Сd5!</span> 
 <span onclick='loadMove("4brk1/5p1p/4PRpP/3r4/1pp3P1/8/1PP4K/5R2 w - - 0 37", this, "e5d5"); ' class="line0">Л:d5</span> 
(иначе черные теряют слишком много пешек)
 <span onclick='loadMove("4brk1/4Pp1p/5RpP/3r4/1pp3P1/8/1PP4K/5R2 b - - 0 37", this, "e6e7"); ' class="line0">37.e7</span> 
 <span onclick='loadMove("4brk1/4Pp1p/5RpP/4r3/1pp3P1/8/1PP4K/5R2 w - - 0 38", this, "d5e5"); ' class="line0">Лe5</span> 
. Что ж, белые забирают качество за пешку и готовятся к длительной реализации? Отнюдь:</p>
<p>
 <span onclick='loadMove("4brk1/4Pp1p/6RP/4r3/1pp3P1/8/1PP4K/5R2 b - - 0 38", this, "f6g6"); ' class="line0">38.Л:g6+!!</span> 
И черные сдались, поскольку не в состоянии помешать появлению нового белого ферзя:
 <span onclick='loadMove("4brk1/4Pp2/6pP/4r3/1pp3P1/8/1PP4K/5R2 w - - 0 39", this, "h7g6"); ' class="line0">38...h:g6</span> 
 <span onclick='loadMove("4brk1/4Pp1P/6p1/4r3/1pp3P1/8/1PP4K/5R2 b - - 0 39", this, "h6h7"); ' class="line0">39.h7+</span> 
, и взятие ладьи f8 происходит с
<!--p>Ладья</p><p>11</p-->
решающим эффектом - одна из вариаций бессмертных «штанов».</p>
</div> <!-- score -->
</div> <!-- section -->

<div class="section">
<div class="chessBoard small floater" data-start-fen="r2R1r1k/1p2Q1pp/qPp3n1/p1P2p2/5P1P/6P1/P5B1/4R1K1 w - - 0 32"></div>
<div class="score">
 <span class="line0" onclick='loadMove("r2R1r1k/1p2Q1pp/qPp3n1/p1P2p2/5P1P/6P1/P5B1/4R1K1 w - - 0 32", this, ""); '>[...]</span> 
<div class="chessBoard analysis nobuttons" data-start-fen="r2R1r1k/1p2Q1pp/qPp3n1/p1P2p2/5P1P/6P1/P5B1/4R1K1 w - - 0 32"></div>
<p class="caption">Ход белых</p>
<p><strong>А. Тимофеев - К. Ланда</strong> (2006) Белые подметили неудачное расположение черной королевы и провели изящную комбинацию.</p>
<p>
 <span onclick='loadMove("r4R1k/1p2Q1pp/qPp3n1/p1P2p2/5P1P/6P1/P5B1/4R1K1 b - - 0 32", this, "d8f8"); ' class="line0">32.Л:f8+</span> 
 <span onclick='loadMove("5r1k/1p2Q1pp/qPp3n1/p1P2p2/5P1P/6P1/P5B1/4R1K1 w - - 0 33", this, "a8f8"); ' class="line0">Л:f8</span> 
(
 <span onclick='loadMove("r4n1k/1p2Q1pp/qPp5/p1P2p2/5P1P/6P1/P5B1/4R1K1 w - - 0 33", this, "g6f8"); ' class="line1">32...К:f8</span> 
 <span onclick='loadMove("r4n1k/1p2Q1pp/qPp5/p1P2p2/5P1P/6P1/P7/4RBK1 b - - 0 33", this, "g2f1"); ' class="line1">33.Сf1</span> 
)
 <span onclick='loadMove("5Q1k/1p4pp/qPp3n1/p1P2p2/5P1P/6P1/P5B1/4R1K1 b - - 0 33", this, "e7f8"); ' class="line0">33.Ф:f8+!</span> 
 <span onclick='loadMove("5n1k/1p4pp/qPp5/p1P2p2/5P1P/6P1/P5B1/4R1K1 w - - 0 34", this, "g6f8"); ' class="line0">К:f8</span> 
 <span onclick='loadMove("4Rn1k/1p4pp/qPp5/p1P2p2/5P1P/6P1/P5B1/6K1 b - - 0 34", this, "e1e8"); ' class="line0">34.Лe8!</span> 
(с темпом отбирая у ферзя поле a8 - черные обязаны парировать угрозу мата)
 <span onclick='loadMove("4Rnk1/1p4pp/qPp5/p1P2p2/5P1P/6P1/P5B1/6K1 w - - 0 35", this, "h8g8"); ' class="line0">34...Крg8</span> 
 <span onclick='loadMove("4Rnk1/1p4pp/qPp5/p1P2p2/5P1P/6P1/P7/5BK1 b - - 0 35", this, "g2f1"); ' class="line0">35.Сf1</span> 
 <span onclick='loadMove("4Rn2/1p3kpp/qPp5/p1P2p2/5P1P/6P1/P7/5BK1 w - - 0 36", this, "g8f7"); ' class="line0">Крf7</span> 
 <span onclick='loadMove("5R2/1p3kpp/qPp5/p1P2p2/5P1P/6P1/P7/5BK1 b - - 0 36", this, "e8f8"); ' class="line0">36.Л:f8+</span> 
 <span onclick='loadMove("5k2/1p4pp/qPp5/p1P2p2/5P1P/6P1/P7/5BK1 w - - 0 37", this, "f7f8"); ' class="line0">Кр:f8</span> 
 <span onclick='loadMove("5k2/1p4pp/BPp5/p1P2p2/5P1P/6P1/P7/6K1 b - - 0 37", this, "f1a6"); ' class="line0">37.С:a6</span> 
. Черные сдались.</p>
</div> <!-- score -->
</div> <!-- section -->

<div class="section">
<div class="chessBoard small floater" data-start-fen="5b1r/3k1p2/1K1ppPpp/r5P1/8/P7/1P5P/2R2R2 w - - 0 36"></div>
<div class="score">
 <span class="line0" onclick='loadMove("5b1r/3k1p2/1K1ppPpp/r5P1/8/P7/1P5P/2R2R2 w - - 0 36", this, ""); '>[...]</span> 
<div class="chessBoard analysis nobuttons" data-start-fen="5b1r/3k1p2/1K1ppPpp/r5P1/8/P7/1P5P/2R2R2 w - - 0 36"></div>
<p class="caption">Ход белых</p>
<p><strong>В. Крамник - В. Топалов</strong> (2003)</p>
<p>
 <span onclick='loadMove("5b1r/2Rk1p2/1K1ppPpp/r5P1/8/P7/1P5P/5R2 b - - 0 36", this, "c1c7"); ' class="line0">36.Лc7+!</span> 
Важно отбросить короля на последний ряд, где он окажется в ловушке.
Сильно затягивало борьбу
 <span onclick='loadMove("5b1r/3k1p2/3ppPpp/K5P1/8/P7/1P5P/2R2R2 b - - 0 36", this, "b6a5"); ' class="line1">36.Кр:a5</span> 
 <span onclick='loadMove("5b1r/3k1p2/3ppPp1/K5p1/8/P7/1P5P/2R2R2 w - - 0 37", this, "h6g5"); ' class="line1">h:g5</span> 
 <span onclick='loadMove("5b1r/3k1p2/1K1ppPp1/6p1/8/P7/1P5P/2R2R2 b - - 0 37", this, "a5b6"); ' class="line1">37.Крb6</span> 
 <span onclick='loadMove("5b1r/3k1p2/1K1p1Pp1/4p1p1/8/P7/1P5P/2R2R2 w - - 0 38", this, "e6e5"); ' class="line1">e5</span> 
.</p>
<p>
 <span onclick='loadMove("3k1b1r/2R2p2/1K1ppPpp/r5P1/8/P7/1P5P/5R2 w - - 0 37", this, "d7d8"); ' class="line0">36...Крd8</span> 
 <span onclick='loadMove("3k1b1r/2R2p2/1K1ppPpp/r5P1/8/P7/1P5P/2R5 b - - 0 37", this, "f1c1"); ' class="line0">37.Лfc1!</span> 
 <span onclick='loadMove("3k1b1r/2R2p2/1K1ppPpp/2r3P1/8/P7/1P5P/2R5 w - - 0 38", this, "a5c5"); ' class="line0">Лc5</span> 
(отчаянное
 <span onclick='loadMove("r2k1b1r/2R2p2/1K1ppPpp/6P1/8/P7/1P5P/2R5 w - - 0 38", this, "a5a8"); ' class="line1">37...Лa8</span> 
не помогало ввиду
 <span onclick='loadMove("r2k1b1r/1KR2p2/3ppPpp/6P1/8/P7/1P5P/2R5 b - - 0 38", this, "b6b7"); ' class="line1">38.Крb7</span> 
, и ладье некуда деваться)
 <span onclick='loadMove("3k1b1r/2R2p2/1K1ppPpp/2R3P1/8/P7/1P5P/8 b - - 0 38", this, "c1c5"); ' class="line0">38.Л1:c5</span> 
 <span onclick='loadMove("3k1b1r/2R2p2/1K2pPpp/2p3P1/8/P7/1P5P/8 w - - 0 39", this, "d6c5"); ' class="line0">d:c5</span> 
 <span onclick='loadMove("3k1b1r/2R2p2/2K1pPpp/2p3P1/8/P7/1P5P/8 b - - 0 39", this, "b6c6"); ' class="line0">39.Крc6!</span> 
Черные сдались,
так как после
 <span onclick='loadMove("3k1b1r/2R2p2/2K1pPp1/2p3p1/8/P7/1P5P/8 w - - 0 40", this, "h6g5"); ' class="line1">39...h:g5</span> 
 <span onclick='loadMove("3k1b1r/R4p2/2K1pPp1/2p3p1/8/P7/1P5P/8 b - - 0 40", this, "c7a7"); ' class="line1">40.Лa7</span> 
они получают мат. Эту знаменитую партию соперники сыграли вслепую на Амбер-турнире в Монако.</p>
</div> <!-- score -->
</div> <!-- section -->

<div class="section">
<div class="chessBoard small floater" data-start-fen="1R6/p2r4/1p1B2pp/1R3p2/k1P2n2/5r2/P4P1P/6K1 w - - 0 37"></div>
<div class="score">
 <span class="line0" onclick='loadMove("1R6/p2r4/1p1B2pp/1R3p2/k1P2n2/5r2/P4P1P/6K1 w - - 0 37", this, ""); '>[...]</span> 
<div class="chessBoard analysis nobuttons" data-start-fen="1R6/p2r4/1p1B2pp/1R3p2/k1P2n2/5r2/P4P1P/6K1 w - - 0 37"></div>
<p class="caption">Ход белых</p>
<p><strong>В. Барский - Е. Логунов</strong> (2004)</p>
<p>Положение выглядит критическим для белых, поскольку слон не может отступить ввиду мата на d1, а размен на f4 ведет к потере пешки c4. Но находится неожиданный тактический удар...</p>
<p>
 <span onclick='loadMove("1R6/p2r4/1R1B2pp/5p2/k1P2n2/5r2/P4P1P/6K1 b - - 0 37", this, "b5b6"); ' class="line0">37.Л5:b6!</span> 
 <span onclick='loadMove("1R6/3r4/1R1B2pp/p4p2/k1P2n2/5r2/P4P1P/6K1 w - a6 0 38", this, "a7a5"); ' class="line0">a5</span> 
(к мату ведет
 <span onclick='loadMove("1R6/3r4/1p1B2pp/5p2/k1P2n2/5r2/P4P1P/6K1 w - - 0 38", this, "a7b6"); ' class="line1">37...a:b6</span> 
 <span onclick='loadMove("R7/3r4/1p1B2pp/5p2/k1P2n2/5r2/P4P1P/6K1 b - - 0 38", this, "b8a8"); ' class="line1">38.Лa8+</span> 
)
 <span onclick='loadMove("1R6/3r4/3B2pp/p4p2/kRP2n2/5r2/P4P1P/6K1 b - - 0 38", this, "b6b4"); ' class="line0">38.Лb4+!</span> 
<!--p>12</p><p>Глава 1</p-->
Злоключения черных продолжаются - снова нельзя брать ладью
 <!--span onclick='loadMove("1R6/3r4/3B2pp/p4p2/kRP2n2/5r2/P4P1P/6K1 w - - 0 39", this, "b6b4"); ' class="line1">38...z0</span--> 
ввиду
 <span onclick='loadMove("R7/3r4/3B2pp/p4p2/kRP2n2/5r2/P4P1P/6K1 b - - 0 39", this, "b8a8"); ' class="line1">39.Лa8+</span> 
.</p>
<p>
 <span onclick='loadMove("1R6/3r4/3B2pp/p4p2/1RP2n2/k4r2/P4P1P/6K1 w - - 0 39", this, "a4a3"); ' class="line0">38...Крa3</span> 
 <span onclick='loadMove("1R6/3r4/3B2pp/p4p2/2P2n2/kR3r2/P4P1P/6K1 b - - 0 39", this, "b4b3"); ' class="line0">39.Лb3+</span> 
(решало и
 <span onclick='loadMove("1R6/3r4/3B2pp/pR3p2/2P2n2/k4r2/P4P1P/6K1 b - - 0 39", this, "b4b5"); ' class="line1">39.Л4b5+</span> 
 <span onclick='loadMove("1R6/3r4/3B2pp/pR3p2/k1P2n2/5r2/P4P1P/6K1 w - - 0 40", this, "a3a4"); ' class="line1">Крa4</span> 
 <span onclick='loadMove("R7/3r4/3B2pp/pR3p2/k1P2n2/5r2/P4P1P/6K1 b - - 0 40", this, "b8a8"); ' class="line1">40.Лa8</span> 
с матом в несколько ходов)
 <span onclick='loadMove("1R6/3r4/3B2pp/p4p2/k1P2n2/1R3r2/P4P1P/6K1 w - - 0 40", this, "a3a4"); ' class="line0">39...Крa4</span> 
 <span onclick='loadMove("1R6/3r4/3B2pp/p4p2/k1P2n2/5R2/P4P1P/6K1 b - - 0 40", this, "b3f3"); ' class="line0">40.Л:f3</span> 
 <span onclick='loadMove("1R6/8/3r2pp/p4p2/k1P2n2/5R2/P4P1P/6K1 w - - 0 41", this, "d7d6"); ' class="line0">Л:d6</span> 
 <span onclick='loadMove("1R6/8/3r2pp/p4p2/k1P2R2/8/P4P1P/6K1 b - - 0 41", this, "f3f4"); ' class="line0">41.Л:f4</span> 
. Черные сдались.</p>
<p>А вот еще пример того, как неуютно порой бывает королю на крайней вертикали.</p>
</div> <!-- score -->
</div> <!-- section -->

<div class="section">
<div class="chessBoard small floater" data-start-fen="7R/p4pp1/7p/5Q2/1P3Prk/P7/5q1P/5B1K w - - 0 51"></div>
<div class="score">
 <span class="line0" onclick='loadMove("7R/p4pp1/7p/5Q2/1P3Prk/P7/5q1P/5B1K w - - 0 51", this, ""); '>[...]</span> 
<div class="chessBoard analysis nobuttons" data-start-fen="7R/p4pp1/7p/5Q2/1P3Prk/P7/5q1P/5B1K w - - 0 51"></div>
<p class="caption">Ход белых</p>
<p><strong>В. Лазничка - П. Неги</strong> (2011)</p>
<p>
 <span onclick='loadMove("7R/p4pp1/5Q1p/8/1P3Prk/P7/5q1P/5B1K b - - 0 51", this, "f5f6"); ' class="line0">51.Фf6+!!</span> 
 <span onclick='loadMove("7R/p4pp1/5Q1p/7k/1P3Pr1/P7/5q1P/5B1K w - - 0 52", this, "h4h5"); ' class="line0">Крh5</span> 
(
 <span onclick='loadMove("7R/p4p2/5p1p/8/1P3Prk/P7/5q1P/5B1K w - - 0 52", this, "g7f6"); ' class="line1">51...g:f6</span> 
 <span onclick='loadMove("8/p4p2/5p1R/8/1P3Prk/P7/5q1P/5B1K b - - 0 52", this, "h8h6"); ' class="line1">52.Л:h6X</span> 
)
 <span onclick='loadMove("7R/p4Qp1/7p/7k/1P3Pr1/P7/5q1P/5B1K b - - 0 52", this, "f6f7"); ' class="line0">52.Ф:f7+</span> 
 <span onclick='loadMove("7R/p4Qp1/7p/8/1P3Prk/P7/5q1P/5B1K w - - 0 53", this, "h5h4"); ' class="line0">Крh4</span> 
 <span onclick='loadMove("7R/p3Q1p1/7p/8/1P3Prk/P7/5q1P/5B1K b - - 0 53", this, "f7e7"); ' class="line0">53.Фe7+</span> 
. Черные сдались:
после
 <span onclick='loadMove("7R/p3Q1p1/7p/7k/1P3Pr1/P7/5q1P/5B1K w - - 0 54", this, "h4h5"); ' class="line1">53...Крh5</span> 
 <span onclick='loadMove("7R/p5p1/7p/2Q4k/1P3Pr1/P7/5q1P/5B1K b - - 0 54", this, "e7c5"); ' class="line1">54.Фc5+</span> 
белые разменивают ферзей и остаются с лишней фигурой.</p>

</div> <!-- score -->
</div> <!-- section -->

{% include '../../snippet_litres_banner1.htm' %}
</div> <!-- iBook -->
{% endblock content %}
