{% extends '../../base.htm' %}
{% load static %}
{% block title %}
<title>Контрудар в центре против фланговых операций | {{book.title}} | {%for author in book.authors.all%} {%if author.first_name%} {{author.first_name}} {%endif%} {%if author.second_name%} {{author.second_name}} {%endif%} {%if forloop.counter == book.authors.all.count%} {{author.last_name}} {%else%} {{author.last_name}}, {%endif%} {%endfor%} | {{book.year}}</title>
{% endblock title %}
{% block content %}

<div class="iBook">

<h3><a name="#20">Контрудар в центре против фланговых операций</a></h3>

<p>Типичным приемом в ответ на фланговую атаку в ранней стадии партии (правильнее назвать ее диверсией) является осуществление эффективного пешечного контрудара в центре. Порой он носит острый тактический характер, требует далекого расчета. Этот классический прием в наше время нередко бывает связан с острой атакой на короля противника.</p>
<p>Именно так развивалась следующая партия, сыгранная в одном из международных турниров.</p>

<div class="section">
	<p class="capTop opening">Сицилианская защита</p>
	<p class="capTop">Суэтин - Барцаи<br />Будапешт, 1976</p>
	<div class="chessBoard small" data-start-fen="rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w KQkq - 0 1"></div>
<div class="score">
	<p>
	 <span class="line0" onclick='loadMove("rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w KQkq - 0 1", this, ""); '>[...]</span> 
	 <span onclick='loadMove("rnbqkbnr/pppppppp/8/8/4P3/8/PPPP1PPP/RNBQKBNR b KQkq e3 0 1", this, "e2e4"); ' class="line0">1.e4</span> 
	 <span onclick='loadMove("rnbqkbnr/pp1ppppp/8/2p5/4P3/8/PPPP1PPP/RNBQKBNR w KQkq c6 0 1", this, "c7c5"); ' class="line0">c5</span> 
	 <span onclick='loadMove("rnbqkbnr/pp1ppppp/8/2p5/4P3/5N2/PPPP1PPP/RNBQKB1R b KQkq - 0 1", this, "g1f3"); ' class="line0">2.Кf3</span> 
	 <span onclick='loadMove("rnbqkbnr/pp1p1ppp/4p3/2p5/4P3/5N2/PPPP1PPP/RNBQKB1R w KQkq - 0 1", this, "e7e6"); ' class="line0">e6</span> 
	 <span onclick='loadMove("rnbqkbnr/pp1p1ppp/4p3/2p5/3PP3/5N2/PPP2PPP/RNBQKB1R b KQkq d3 0 1", this, "d2d4"); ' class="line0">3.d4</span> 
	 <span onclick='loadMove("rnbqkbnr/pp1p1ppp/4p3/8/3pP3/5N2/PPP2PPP/RNBQKB1R w KQkq - 0 1", this, "c5d4"); ' class="line0">cd</span> 
	 <span onclick='loadMove("rnbqkbnr/pp1p1ppp/4p3/8/3NP3/8/PPP2PPP/RNBQKB1R b KQkq - 0 1", this, "f3d4"); ' class="line0">4.К:d4</span> 
	 <span onclick='loadMove("rnbqkb1r/pp1p1ppp/4pn2/8/3NP3/8/PPP2PPP/RNBQKB1R w KQkq - 0 1", this, "g8f6"); ' class="line0">Кf6</span> 
	 <span onclick='loadMove("rnbqkb1r/pp1p1ppp/4pn2/8/3NP3/2N5/PPP2PPP/R1BQKB1R b KQkq - 0 1", this, "b1c3"); ' class="line0">5.Кc3</span> 
	 <span onclick='loadMove("rnbqkb1r/pp3ppp/3ppn2/8/3NP3/2N5/PPP2PPP/R1BQKB1R w KQkq - 0 1", this, "d7d6"); ' class="line0">d6</span> 
	 <span onclick='loadMove("rnbqkb1r/pp3ppp/3ppn2/8/3NP3/2N1B3/PPP2PPP/R2QKB1R b KQkq - 0 1", this, "c1e3"); ' class="line0">6.Сe3</span> 
	 <span onclick='loadMove("rnbqkb1r/1p3ppp/p2ppn2/8/3NP3/2N1B3/PPP2PPP/R2QKB1R w KQkq - 0 1", this, "a7a6"); ' class="line0">a6</span> 
	 <span onclick='loadMove("rnbqkb1r/1p3ppp/p2ppn2/8/3NPP2/2N1B3/PPP3PP/R2QKB1R b KQkq f3 0 1", this, "f2f4"); ' class="line0">7.f4</span> 
	 <span onclick='loadMove("r1bqkb1r/1p3ppp/p1nppn2/8/3NPP2/2N1B3/PPP3PP/R2QKB1R w KQkq - 0 1", this, "b8c6"); ' class="line0">Кc6</span> 
	 <span onclick='loadMove("r1bqkb1r/1p3ppp/p1nppn2/8/3NPP2/2N1BQ2/PPP3PP/R3KB1R b KQkq - 0 1", this, "d1f3"); ' class="line0">8.Фf3</span> 
	 <span onclick='loadMove("r1b1kb1r/1pq2ppp/p1nppn2/8/3NPP2/2N1BQ2/PPP3PP/R3KB1R w KQkq - 0 1", this, "d8c7"); ' class="line0">Фc7</span> 
	 <span onclick='loadMove("r1b1kb1r/1pq2ppp/p1nppn2/8/3NPP2/2N1BQ2/PPP3PP/2KR1B1R b kq - 0 1", this, "e1c1"); ' class="line0">9.0-0-0</span> 
	 <span onclick='loadMove("r3kb1r/1pqb1ppp/p1nppn2/8/3NPP2/2N1BQ2/PPP3PP/2KR1B1R w kq - 0 1", this, "c8d7"); ' class="line0">Сd7</span> 
	 <span onclick='loadMove("r3kb1r/1pqb1ppp/p1nppn2/8/3NPPP1/2N1BQ2/PPP4P/2KR1B1R b kq g3 0 1", this, "g2g4"); ' class="line0">10.g4</span> 
	 <span onclick='loadMove("r3kb1r/1pqb1pp1/p1nppn1p/8/3NPPP1/2N1BQ2/PPP4P/2KR1B1R w kq - 0 1", this, "h7h6"); ' class="line0">h6</span> 
	 <span onclick='loadMove("r3kb1r/1pqb1pp1/p1nppn1p/8/3NPPP1/2N1BQ2/PPP1B2P/2KR3R b kq - 0 1", this, "f1e2"); ' class="line0">11.Сe2</span> 
	 <span onclick='loadMove("r3kb1r/2qb1pp1/p1nppn1p/1p6/3NPPP1/2N1BQ2/PPP1B2P/2KR3R w kq b6 0 1", this, "b7b5"); ' class="line0">b5?</span> 
	 <span onclick='loadMove("r3kb1r/2qb1pp1/p1nppn1p/1p2P3/3N1PP1/2N1BQ2/PPP1B2P/2KR3R b kq - 0 1", this, "e4e5"); ' class="line0">12.e5!</span> 
	</p>
	<p>В ответ на преждевременную активность черных на ферзевом фланге белые предпринимают решительную атаку в центре, объектом которой становится король черных.</p>
	<p>
	 <span onclick='loadMove("r3kb1r/2qb1pp1/p1n1pn1p/1p2p3/3N1PP1/2N1BQ2/PPP1B2P/2KR3R w kq - 0 1", this, "d6e5"); ' class="line0">12...de</span> 
	 <span onclick='loadMove("r3kb1r/2qb1pp1/p1n1pn1p/1p2P3/3N2P1/2N1BQ2/PPP1B2P/2KR3R b kq - 0 1", this, "f4e5"); ' class="line0">13.fe</span> 
	 <span onclick='loadMove("r3kb1r/2qb1pp1/p1n1pn1p/4P3/1p1N2P1/2N1BQ2/PPP1B2P/2KR3R w kq - 0 1", this, "b5b4"); ' class="line0">b4</span> 
	 <span onclick='loadMove("r3kb1r/2qb1pp1/p1n1pn1p/1N2P3/1p4P1/2N1BQ2/PPP1B2P/2KR3R b kq - 0 1", this, "d4b5"); ' class="line0">14.Кdb5!</span> 
	 <span onclick='loadMove("r3kb1r/2qb1pp1/2n1pn1p/1p2P3/1p4P1/2N1BQ2/PPP1B2P/2KR3R w kq - 0 1", this, "a6b5"); ' class="line0">ab</span> 
	 <span onclick='loadMove("r3kb1r/2qb1pp1/2n1pn1p/1N2P3/1p4P1/4BQ2/PPP1B2P/2KR3R b kq - 0 1", this, "c3b5"); ' class="line0">15.К:b5</span> 
	 <span onclick='loadMove("r1q1kb1r/3b1pp1/2n1pn1p/1N2P3/1p4P1/4BQ2/PPP1B2P/2KR3R w kq - 0 1", this, "c7c8"); ' class="line0">Фc8</span> 
	 <span onclick='loadMove("r1q1kb1r/3b1pp1/2n1pP1p/1N6/1p4P1/4BQ2/PPP1B2P/2KR3R b kq - 0 1", this, "e5f6"); ' class="line0">16.ef</span> 
	 <span onclick='loadMove("r1q1kb1r/3b1pp1/2n1pP1p/1N6/6P1/1p2BQ2/PPP1B2P/2KR3R w kq - 0 1", this, "b4b3"); ' class="line0">b3</span>.</p>
	<p>Отчаянная попытка, которая, однако, не может изменить течение борьбы. Позиция черных безнадежна.</p>
	<p>
	 <span onclick='loadMove("r1q1kb1r/3b1pP1/2n1p2p/1N6/6P1/1p2BQ2/PPP1B2P/2KR3R b kq - 0 1", this, "f6g7"); ' class="line0">17.fg</span> 
	 <span onclick='loadMove("r1q1kb1r/3b1pP1/4p2p/1N6/1n4P1/1p2BQ2/PPP1B2P/2KR3R w kq - 0 1", this, "c6b4"); ' class="line0">Кb4</span> 
	 <span onclick='loadMove("r1q1kb1r/2Nb1pP1/4p2p/8/1n4P1/1p2BQ2/PPP1B2P/2KR3R b kq - 0 1", this, "b5c7"); ' class="line0">18.Кc7+!</span> 
	 <span onclick='loadMove("r3kb1r/2qb1pP1/4p2p/8/1n4P1/1p2BQ2/PPP1B2P/2KR3R w kq - 0 1", this, "c8c7"); ' class="line0">Ф:c7</span> 
	 <span onclick='loadMove("Q3kb1r/2qb1pP1/4p2p/8/1n4P1/1p2B3/PPP1B2P/2KR3R b k - 0 1", this, "f3a8"); ' class="line0">19.Ф:a8+</span> 
	 <span onclick='loadMove("Q4b1r/2qbkpP1/4p2p/8/1n4P1/1p2B3/PPP1B2P/2KR3R w - - 0 1", this, "e8e7"); ' class="line0">Крe7</span> 
	 <span onclick='loadMove("Q4b1r/2qRkpP1/4p2p/8/1n4P1/1p2B3/PPP1B2P/2K4R b - - 0 1", this, "d1d7"); ' class="line0">20.Л:d7+!</span> 
	 <span onclick='loadMove("Q4b1r/2qk1pP1/4p2p/8/1n4P1/1p2B3/PPP1B2P/2K4R w - - 0 1", this, "e7d7"); ' class="line0">Кр:d7</span> 
	 <span onclick='loadMove("Q4b1r/2qk1pP1/4p2p/1B6/1n4P1/1p2B3/PPP4P/2K4R b - - 0 1", this, "e2b5"); ' class="line0">21.Сb5+</span>. Черные сдались.</p>
</div> <!-- score -->
</div> <!-- section -->

</div> <!-- iBook -->

{% endblock content %}

