{% extends '../../base.htm' %}
{% load static %}
{% block title %}
<title>Метод контригры | {{book.title}} | {%for author in book.authors.all%} {%if author.first_name%} {{author.first_name}} {%endif%} {%if author.second_name%} {{author.second_name}} {%endif%} {%if forloop.counter == book.authors.all.count%} {{author.last_name}} {%else%} {{author.last_name}}, {%endif%} {%endfor%} | {{book.year}}</title>
{% endblock title %}
{% block content %}

<div class="iBook">

<h3><a name="#57a">Метод контригры</a></h3>

<p>Развитие теории многих современных начал связано с тем, что неуклонно совершенствуются методы борьбы за инициативу. Появление все новых и новых активных возможностей за белых предполагает и расширение диапазона защитных ресурсов.</p>
<p>С точки зрения сегодняшнего дня, возможности черных в дебюте долгое время заметно ограничивались. Принято было считать, что играющие черными в дебюте словно обречены в течение определенного времени вести пассивную оборону и, по сути дела, лишены активности.</p>
<p>Современная трактовка резко изменила этот взгляд. Активность черных в современных дебютных построениях все более возрастает.</p>
<p>Конечно, черные испытывают в. дебюте больше трудностей и несут большую ответственность за свои действия. Так, если незначительная ошибка со стороны белых влечет обычно за собой только потерю ими <!--p>57</p--> инициативы, то подобная ошибка со стороны черных в целом ряде случаев может привести к значительно худшим последствиям. Но основой дебютной стратегии черных все же стало неуклонное стремление к активной контригре. Можно сказать, что черные стали более агрессивными в борьбе за инициативу.</p>
<p>Стратегия контригры, несомненно, является наиболее действенной в современных дебютных системах за черных. Наибольшей популярностью в настоящее время пользуются системы с ярко выраженным стремлением черных к активной контригре, например в ответ на <b>1. e4</b> — чигоринские системы в испанской партии, сицилианская и французская защиты, а в ответ на <b>1. d4</b> — защита Нимцовича, защита Грюнфельда, различные индийские системы.</p>
<p>В поисках новых возможностей контригры пересматриваются ныне и многие другие системы защиты, значительно обогащаясь новым содержанием.</p>
<p>При стремлении черных к активной контригре в дебюте белые обязаны действовать конкретно, не полагаясь беспечно на преимущество выступки. В случае шаблонной игры белые могут не только быстро утратить инициативу, но и попасть в полосу больших затруднений.</p>
<p>Вот один из примеров такого рода.</p>

<div class="section">
	<p class="capTop opening">Староиндийская защита</p>
	<p class="capTop">Алаторцев - Болеславский<br />18-е первенство СССР, 1950</p>
	<div class="chessBoard small floater" data-start-fen="rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w KQkq - 0 1"></div>
<div class="score">
	<p>
	 <span class="line0" onclick='loadMove("rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w KQkq - 0 1", this, ""); '>[...]</span> 
	 <span onclick='loadMove("rnbqkbnr/pppppppp/8/8/3P4/8/PPP1PPPP/RNBQKBNR b KQkq d3 0 1", this, "d2d4"); ' class="line0">1.d4</span> 
	 <span onclick='loadMove("rnbqkb1r/pppppppp/5n2/8/3P4/8/PPP1PPPP/RNBQKBNR w KQkq - 0 1", this, "g8f6"); ' class="line0">Кf6</span> 
	 <span onclick='loadMove("rnbqkb1r/pppppppp/5n2/8/2PP4/8/PP2PPPP/RNBQKBNR b KQkq c3 0 1", this, "c2c4"); ' class="line0">2.c4</span> 
	 <span onclick='loadMove("rnbqkb1r/ppp1pppp/3p1n2/8/2PP4/8/PP2PPPP/RNBQKBNR w KQkq - 0 1", this, "d7d6"); ' class="line0">d6</span> 
	 <span onclick='loadMove("rnbqkb1r/ppp1pppp/3p1n2/8/2PP4/2N5/PP2PPPP/R1BQKBNR b KQkq - 0 1", this, "b1c3"); ' class="line0">3.Кc3</span> 
	 <span onclick='loadMove("rnbqkb1r/ppp2ppp/3p1n2/4p3/2PP4/2N5/PP2PPPP/R1BQKBNR w KQkq e6 0 1", this, "e7e5"); ' class="line0">e5</span> 
	 <span onclick='loadMove("rnbqkb1r/ppp2ppp/3p1n2/4p3/2PPP3/2N5/PP3PPP/R1BQKBNR b KQkq e3 0 1", this, "e2e4"); ' class="line0">4.e4</span> 
	 <span onclick='loadMove("rnbqkb1r/ppp2ppp/3p1n2/8/2PpP3/2N5/PP3PPP/R1BQKBNR w KQkq - 0 1", this, "e5d4"); ' class="line0">ed</span> 
	 <span onclick='loadMove("rnbqkb1r/ppp2ppp/3p1n2/8/2PQP3/2N5/PP3PPP/R1B1KBNR b KQkq - 0 1", this, "d1d4"); ' class="line0">5.Ф:d4</span> 
	 <span onclick='loadMove("r1bqkb1r/ppp2ppp/2np1n2/8/2PQP3/2N5/PP3PPP/R1B1KBNR w KQkq - 0 1", this, "b8c6"); ' class="line0">Кc6</span> 
	 <span onclick='loadMove("r1bqkb1r/ppp2ppp/2np1n2/8/2P1P3/2N5/PP1Q1PPP/R1B1KBNR b KQkq - 0 1", this, "d4d2"); ' class="line0">6.Фd2</span> 
	 <span onclick='loadMove("r1bqkb1r/ppp2p1p/2np1np1/8/2P1P3/2N5/PP1Q1PPP/R1B1KBNR w KQkq - 0 1", this, "g7g6"); ' class="line0">g6</span> 
	 <span onclick='loadMove("r1bqkb1r/ppp2p1p/2np1np1/8/2P1P3/1PN5/P2Q1PPP/R1B1KBNR b KQkq - 0 1", this, "b2b3"); ' class="line0">7.b3</span> 
	 <span onclick='loadMove("r1bqk2r/ppp2pbp/2np1np1/8/2P1P3/1PN5/P2Q1PPP/R1B1KBNR w KQkq - 0 1", this, "f8g7"); ' class="line0">Сg7</span> 
	 <span onclick='loadMove("r1bqk2r/ppp2pbp/2np1np1/8/2P1P3/1PN5/PB1Q1PPP/R3KBNR b KQkq - 0 1", this, "c1b2"); ' class="line0">8.Сb2</span> 
	 <span onclick='loadMove("r1bq1rk1/ppp2pbp/2np1np1/8/2P1P3/1PN5/PB1Q1PPP/R3KBNR w KQ - 0 1", this, "e8g8"); ' class="line0">0-0</span> 
	 <span onclick='loadMove("r1bq1rk1/ppp2pbp/2np1np1/8/2P1P3/1PNB4/PB1Q1PPP/R3K1NR b KQ - 0 1", this, "f1d3"); ' class="line0">9.Сd3</span> 
	 <span onclick='loadMove("r1bq1rk1/ppp2pbp/2np2p1/8/2P1P1n1/1PNB4/PB1Q1PPP/R3K1NR w KQ - 0 1", this, "f6g4"); ' class="line0">Кg4!</span> 
	</p>
	<!--p>58</p-->
	<!--img src="images/32.png"/-->
	<p>Ход, нелогичный с точки зрения старых принципов развития. Однако в нем выражается современный, конкретный подход к позиции: черные издали «прицеливаются» к королевскому флангу белых.</p>
	<p>
	 <span onclick='loadMove("r1bq1rk1/ppp2pbp/2np2p1/8/2P1P1n1/1PNB1N2/PB1Q1PPP/R3K2R b KQ - 0 1", this, "g1f3"); ' class="line0">10.Кf3</span> 
	 <span onclick='loadMove("r1bq1rk1/ppp2pbp/2np2p1/4n3/2P1P3/1PNB1N2/PB1Q1PPP/R3K2R w KQ - 0 1", this, "g4e5"); ' class="line0">Кge5</span> 
	 <span onclick='loadMove("r1bq1rk1/ppp2pbp/2np2p1/4n3/2P1P3/1PN2N2/PB1QBPPP/R3K2R b KQ - 0 1", this, "d3e2"); ' class="line0">11.Сe2</span> 
	 <span onclick='loadMove("r1bq1rk1/ppp2pbp/2np2p1/8/2P1P3/1PN2n2/PB1QBPPP/R3K2R w KQ - 0 1", this, "e5f3"); ' class="line0">К:f3+</span> 
	 <span onclick='loadMove("r1bq1rk1/ppp2pbp/2np2p1/8/2P1P3/1PN2B2/PB1Q1PPP/R3K2R b KQ - 0 1", this, "e2f3"); ' class="line0">12.С:f3</span> 
	 <span onclick='loadMove("r1bq1rk1/ppp2pbp/3p2p1/8/2PnP3/1PN2B2/PB1Q1PPP/R3K2R w KQ - 0 1", this, "c6d4"); ' class="line0">Кd4!</span> 
	 <span onclick='loadMove("r1bq1rk1/ppp2pbp/3p2p1/8/2PnP3/1PN5/PB1Q1PPP/R2BK2R b KQ - 0 1", this, "f3d1"); ' class="line0">13.Сd1</span> 
	 <span onclick='loadMove("r1bq1rk1/ppp3bp/3p2p1/5p2/2PnP3/1PN5/PB1Q1PPP/R2BK2R w KQ f6 0 1", this, "f7f5"); ' class="line0">f5!</span> 
	 <span onclick='loadMove("r1bq1rk1/ppp3bp/3p2p1/5P2/2Pn4/1PN5/PB1Q1PPP/R2BK2R b KQ - 0 1", this, "e4f5"); ' class="line0">14.ef</span> 
	 <span onclick='loadMove("r2q1rk1/ppp3bp/3p2p1/5b2/2Pn4/1PN5/PB1Q1PPP/R2BK2R w KQ - 0 1", this, "c8f5"); ' class="line0">С:f5</span> 
	 <span onclick='loadMove("r2q1rk1/ppp3bp/3p2p1/5b2/2Pn4/1P6/PB1QNPPP/R2BK2R b KQ - 0 1", this, "c3e2"); ' class="line0">15.Кe2?</span> 
	</p>
	<p>Следовало продолжать
	 <span onclick='loadMove("r2q1rk1/ppp3bp/3p2p1/5b2/2Pn4/1PN5/PB1Q1PPP/R2B1RK1 b - - 0 1", this, "e1g1"); ' class="line1">15.0-0</span> 
	с приемлемой игрой. Но белые играют беспечно, не чувствуя опасности. Стремясь скорее разменять «назойливого» коня черных, белые упускают из виду форсированно развертывающуюся атаку черных на королевском фланге.</p>
	<p>
	 <span onclick='loadMove("r2q1rk1/ppp3bp/3p2p1/5b2/2P5/1P6/PB1QnPPP/R2BK2R w KQ - 0 1", this, "d4e2"); ' class="line0">15...К:e2</span> 
	 <span onclick='loadMove("r2q1rk1/ppp3bp/3p2p1/5b2/2P5/1P6/PB1QBPPP/R3K2R b KQ - 0 1", this, "d1e2"); ' class="line0">16.С:e2</span>.</p>
	<p>Несколько лучше
	 <span onclick='loadMove("r2q1rk1/ppp3Bp/3p2p1/5b2/2P5/1P6/P2QnPPP/R2BK2R b KQ - 0 1", this, "b2g7"); ' class="line1">16.С:g7</span>, хотя и здесь после
	 <span onclick='loadMove("r2q1rk1/ppp3Bp/3p2p1/5b2/2P2n2/1P6/P2Q1PPP/R2BK2R w KQ - 0 1", this, "e2f4"); ' class="line1">16...Кf4!</span> 
	у черных сильная инициатива.</p>
	<p>
	 <span onclick='loadMove("r2q1rk1/ppp4p/3p2p1/5b2/2P5/1P6/Pb1QBPPP/R3K2R w KQ - 0 1", this, "g7b2"); ' class="line0">16...С:b2</span> 
	 <span onclick='loadMove("r2q1rk1/ppp4p/3p2p1/5b2/2P5/1P6/PQ2BPPP/R3K2R b KQ - 0 1", this, "d2b2"); ' class="line0">17.Ф:b2</span> 
	 <span onclick='loadMove("r4rk1/ppp4p/3p2p1/5bq1/2P5/1P6/PQ2BPPP/R3K2R w KQ - 0 1", this, "d8g5"); ' class="line0">Фg5!</span> 
	 <span onclick='loadMove("r4rk1/ppp4p/3p2p1/5bq1/2P5/1P4P1/PQ2BP1P/R3K2R b KQ - 0 1", this, "g2g3"); ' class="line0">18.g3</span> 
	 <span onclick='loadMove("4rrk1/ppp4p/3p2p1/5bq1/2P5/1P4P1/PQ2BP1P/R3K2R w KQ - 0 1", this, "a8e8"); ' class="line0">Лae8</span> 
	 <span onclick='loadMove("4rrk1/ppp4p/3p2p1/5bq1/2P5/1P4P1/PQ2BP1P/R4RK1 b - - 0 1", this, "e1g1"); ' class="line0">19.0-0</span> 
	 <span onclick='loadMove("4rrk1/ppp4p/3p2p1/6q1/2P5/1P4Pb/PQ2BP1P/R4RK1 w - - 0 1", this, "f5h3"); ' class="line0">Сh3</span> 
	 <span onclick='loadMove("4rrk1/ppp4p/3p2p1/6q1/2P2P2/1P4Pb/PQ2B2P/R4RK1 b - f3 0 1", this, "f2f4"); ' class="line0">20.f4</span> 
	(<span onclick='loadMove("4rrk1/ppp4p/3p2p1/6q1/2P5/1P4Pb/PQ2BP1P/R3R1K1 b - - 0 1", this, "f1e1"); ' class="line1">20.Лfe1</span> 
	 <span onclick='loadMove("4r1k1/ppp4p/3p2p1/6q1/2P5/1P4Pb/PQ2Br1P/R3R1K1 w - - 0 1", this, "f8f2"); ' class="line1">Л:f2!</span>)
	 <span onclick='loadMove("4rrk1/ppp4p/3p2p1/6q1/2P2P2/1P4P1/PQ2B2P/R4bK1 w - - 0 1", this, "h3f1"); ' class="line0">20...С:f1!</span> 
	</p>
	<p>Замечательный комбинационный удар, раскрывающий конкретный замысел черных. Поучительно проследить, как на протяжении всей партии согласованно действовали фигуры черных. Конкретный подход и гармония — весьма близкие понятия в оценке действия боевых сил.</p>
	<p>
	 <span onclick='loadMove("4rrk1/ppp4p/3p2p1/6P1/2P5/1P4P1/PQ2B2P/R4bK1 b - - 0 1", this, "f4g5"); ' class="line0">21.fg</span> 
	 <span onclick='loadMove("5rk1/ppp4p/3p2p1/6P1/2P5/1P4P1/PQ2r2P/R4bK1 w - - 0 1", this, "e8e2"); ' class="line0">Л:e2</span> 
	 <span onclick='loadMove("5rk1/ppp4p/3p2p1/6P1/2P5/1PQ3P1/P3r2P/R4bK1 b - - 0 1", this, "b2c3"); ' class="line0">22.Фc3</span> 
	 <span onclick='loadMove("5rk1/ppp4p/3p2p1/6P1/2P5/1PQ3P1/P3r1bP/R5K1 w - - 0 1", this, "f1g2"); ' class="line0">Сg2!</span> 
	 <span onclick='loadMove("5rk1/ppp4p/3p2p1/6P1/2P5/1P1Q2P1/P3r1bP/R5K1 b - - 0 1", this, "c3d3"); ' class="line0">23.Фd3</span> 
	 <span onclick='loadMove("5rk1/ppp4p/3p2p1/6P1/2P5/1P1Q1bP1/P3r2P/R5K1 w - - 0 1", this, "g2f3"); ' class="line0">Сf3</span> 
	 <span onclick='loadMove("5rk1/ppp4p/3p2p1/6P1/2P5/1P1Q1bP1/P3r2P/5RK1 b - - 0 1", this, "a1f1"); ' class="line0">24.Лf1</span> 
	 <span onclick='loadMove("5rk1/ppp4p/3p2p1/6P1/2P5/1P1Q1bP1/P5rP/5RK1 w - - 0 1", this, "e2g2"); ' class="line0">Лg2+</span> 
	 <span onclick='loadMove("5rk1/ppp4p/3p2p1/6P1/2P5/1P1Q1bP1/P5rP/5R1K b - - 0 1", this, "g1h1"); ' class="line0">25.Крh1</span> 
	 <span onclick='loadMove("5rk1/ppp4p/2bp2p1/6P1/2P5/1P1Q2P1/P5rP/5R1K w - - 0 1", this, "f3c6"); ' class="line0">Сc6!</span> 
	 <span onclick='loadMove("5Rk1/ppp4p/2bp2p1/6P1/2P5/1P1Q2P1/P5rP/7K b - - 0 1", this, "f1f8"); ' class="line0">26.Л:f8+</span> 
	 <span onclick='loadMove("5k2/ppp4p/2bp2p1/6P1/2P5/1P1Q2P1/P5rP/7K w - - 0 1", this, "g8f8"); ' class="line0">Кр:f8</span> 
	 <span onclick='loadMove("5k2/ppp4p/2bp2p1/6P1/2P5/1P4P1/P5rP/5Q1K b - - 0 1", this, "d3f1"); ' class="line0">27.Фf1+</span> 
	 <span onclick='loadMove("5k2/ppp4p/2bp2p1/6P1/2P5/1P4P1/P4r1P/5Q1K w - - 0 1", this, "g2f2"); ' class="line0">Лf2+</span>. Белые сдались.</p>
</div> <!-- score -->
</div> <!-- section -->

<p>В целом же основой современной дебютной стратегии белых остается стремление к длительному и последовательному давлению на центральные поля. Это находит яркое выражение в испанской партии, наиболее популярных полуоткрытых и закрытых дебютах.</p>
<p>При этом главная задача стратегии белых в борьбе за центр заключается в том, что, избегая быстрого упрощения игры и преждевременной ликвидации напряжения в центре, они намереваются воспрепятствовать свободному развитию черных, стремясь постепенно лишить их активной игры. Такая стратегическая линия, выдвинутая еще школой Стейница, с тех пор претерпела немало изменений и необычайно обогатилась новым содержанием. В настоящее время она открывает путь к сложной динамической борьбе, а не к накоплению мелких преимуществ, на что делали упор ранее.</p>
<p>В ряде актуальных дебютных систем белые буквально обязаны вести активную борьбу за инициативу и бескомпромиссно идти на обострение игры. Менее всего допустимо в подобных случаях механическое осуществление дебютных принципов. Уже в начале партии каждая из сторон стремится нарушить взаимодействие боевых сил у противника в борьбе за центр, причем учитываются конкретные перспективы на середину игры. Словом, идет напряженная борьба за каждый участок пространства.</p>
<p>В процессе такой борьбы возникают сложные позиции с богатыми и разнообразными стратегическими планами. Примерное равенство шансов сторон при этом не предвещает упрощений и быстрой ничьей, что типично для многих вариантов старинных открытых дебютов. Оно лишь подчеркивает полноправность стремлений сторон в предстоящем сражении.</p>
<p>Итак, можно сделать вывод, что контригра является лучшим способом борьбы с инициативой как в дебюте, так и на протяжении всей партии. К пассивной защите сейчас прибегают только в случае крайней необходимости, так как она явно ограничивает возможности черных.</p>
<p>Безусловно, играющий черными должен проявить в дебюте известную осторожность, ставя все же основной целью получение равных шансов в миттельшпильной борьбе. Однако лучший способ к уравнению (а точнее, к получению полноправных шансов) заключается в активной контригре.</p>
<p>Вот один из примеров современной стратегической борьбы.</p>

<div class="section">
	<p class="capTop opening">Староиндийская защита</p>
	<p class="capTop">Бронштейн - Петросян<br />Турнир претендентов, Амстердам, 1956</p>
	<div class="chessBoard small" data-start-fen="rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w KQkq - 0 1"></div>
<div class="score">
	 <span class="line0" onclick='loadMove("rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w KQkq - 0 1", this, ""); '>[...]</span> 
	<p>
	 <span onclick='loadMove("rnbqkbnr/pppppppp/8/8/2P5/8/PP1PPPPP/RNBQKBNR b KQkq c3 0 1", this, "c2c4"); ' class="line0">1.c4</span> 
	 <span onclick='loadMove("rnbqkbnr/pppppp1p/6p1/8/2P5/8/PP1PPPPP/RNBQKBNR w KQkq - 0 1", this, "g7g6"); ' class="line0">g6</span> 
	 <span onclick='loadMove("rnbqkbnr/pppppp1p/6p1/8/2P5/2N5/PP1PPPPP/R1BQKBNR b KQkq - 0 1", this, "b1c3"); ' class="line0">2.Кc3</span> 
	 <span onclick='loadMove("rnbqk1nr/ppppppbp/6p1/8/2P5/2N5/PP1PPPPP/R1BQKBNR w KQkq - 0 1", this, "f8g7"); ' class="line0">Сg7</span> 
	 <span onclick='loadMove("rnbqk1nr/ppppppbp/6p1/8/2P5/2N2N2/PP1PPPPP/R1BQKB1R b KQkq - 0 1", this, "g1f3"); ' class="line0">3.Кf3</span> 
	 <span onclick='loadMove("rnbqk1nr/ppp1ppbp/3p2p1/8/2P5/2N2N2/PP1PPPPP/R1BQKB1R w KQkq - 0 1", this, "d7d6"); ' class="line0">d6</span> 
	 <span onclick='loadMove("rnbqk1nr/ppp1ppbp/3p2p1/8/2PP4/2N2N2/PP2PPPP/R1BQKB1R b KQkq d3 0 1", this, "d2d4"); ' class="line0">4.d4</span> 
	 <span onclick='loadMove("rnbqk2r/ppp1ppbp/3p1np1/8/2PP4/2N2N2/PP2PPPP/R1BQKB1R w KQkq - 0 1", this, "g8f6"); ' class="line0">Кf6</span> 
	 <span onclick='loadMove("rnbqk2r/ppp1ppbp/3p1np1/8/2PPP3/2N2N2/PP3PPP/R1BQKB1R b KQkq e3 0 1", this, "e2e4"); ' class="line0">5.e4</span> 
	 <span onclick='loadMove("rnbq1rk1/ppp1ppbp/3p1np1/8/2PPP3/2N2N2/PP3PPP/R1BQKB1R w KQ - 0 1", this, "e8g8"); ' class="line0">0-0</span> 
	 <span onclick='loadMove("rnbq1rk1/ppp1ppbp/3p1np1/8/2PPP3/2N2N2/PP2BPPP/R1BQK2R b KQ - 0 1", this, "f1e2"); ' class="line0">6.Сe2</span> 
	 <span onclick='loadMove("rnbq1rk1/ppp2pbp/3p1np1/4p3/2PPP3/2N2N2/PP2BPPP/R1BQK2R w KQ e6 0 1", this, "e7e5"); ' class="line0">e5</span> 
	 <span onclick='loadMove("rnbq1rk1/ppp2pbp/3p1np1/4p3/2PPP3/2N2N2/PP2BPPP/R1BQ1RK1 b - - 0 1", this, "e1g1"); ' class="line0">7.0-0</span> 
	 <span onclick='loadMove("r1bq1rk1/pppn1pbp/3p1np1/4p3/2PPP3/2N2N2/PP2BPPP/R1BQ1RK1 w - - 0 1", this, "b8d7"); ' class="line0">Кbd7</span> 
	 <span onclick='loadMove("r1bq1rk1/pppn1pbp/3p1np1/4p3/2PPP3/2N2N2/PP2BPPP/R1BQR1K1 b - - 0 1", this, "f1e1"); ' class="line0">8.Лe1</span> 
	 <span onclick='loadMove("r1bq1rk1/pp1n1pbp/2pp1np1/4p3/2PPP3/2N2N2/PP2BPPP/R1BQR1K1 w - - 0 1", this, "c7c6"); ' class="line0">c6</span> 
	 <span onclick='loadMove("r1bq1rk1/pp1n1pbp/2pp1np1/3Pp3/2P1P3/2N2N2/PP2BPPP/R1BQR1K1 b - - 0 1", this, "d4d5"); ' class="line0">9.d5</span> 
	 <span onclick='loadMove("r1bq1rk1/pp1n1pbp/3p1np1/2pPp3/2P1P3/2N2N2/PP2BPPP/R1BQR1K1 w - - 0 1", this, "c6c5"); ' class="line0">c5</span> 
	 <span onclick='loadMove("r1bq1rk1/pp1n1pbp/3p1np1/2pPp3/2P1P3/P1N2N2/1P2BPPP/R1BQR1K1 b - - 0 1", this, "a2a3"); ' class="line0">10.a3</span> 
	 <span onclick='loadMove("r1bqnrk1/pp1n1pbp/3p2p1/2pPp3/2P1P3/P1N2N2/1P2BPPP/R1BQR1K1 w - - 0 1", this, "f6e8"); ' class="line0">Кe8</span> 
	 <span onclick='loadMove("r1bqnrk1/pp1n1pbp/3p2p1/2pPp1B1/2P1P3/P1N2N2/1P2BPPP/R2QR1K1 b - - 0 1", this, "c1g5"); ' class="line0">11.Сg5</span> 
	 <span onclick='loadMove("r1bqnrk1/pp1n2bp/3p1pp1/2pPp1B1/2P1P3/P1N2N2/1P2BPPP/R2QR1K1 w - - 0 1", this, "f7f6"); ' class="line0">f6</span> 
	 <span onclick='loadMove("r1bqnrk1/pp1n2bp/3p1pp1/2pPp3/2P1P3/P1N2N2/1P1BBPPP/R2QR1K1 b - - 0 1", this, "g5d2"); ' class="line0">12.Сd2</span> 
	 <span onclick='loadMove("r1bqnrk1/pp1n2bp/3p2p1/2pPpp2/2P1P3/P1N2N2/1P1BBPPP/R2QR1K1 w - - 0 1", this, "f6f5"); ' class="line0">f5!</span> 
	 <span onclick='loadMove("r1bqnrk1/pp1n2bp/3p2p1/2pPppN1/2P1P3/P1N5/1P1BBPPP/R2QR1K1 b - - 0 1", this, "f3g5"); ' class="line0">13.Кg5</span> 
	 <span onclick='loadMove("r1bq1rk1/ppnn2bp/3p2p1/2pPppN1/2P1P3/P1N5/1P1BBPPP/R2QR1K1 w - - 0 1", this, "e8c7"); ' class="line0">Кc7</span> 
	 <span onclick='loadMove("r1bq1rk1/ppnn2bp/3p2p1/2pPpPN1/2P5/P1N5/1P1BBPPP/R2QR1K1 b - - 0 1", this, "e4f5"); ' class="line0">14.ef</span> 
	 <span onclick='loadMove("r1bq1rk1/ppnn2bp/3p4/2pPppN1/2P5/P1N5/1P1BBPPP/R2QR1K1 w - - 0 1", this, "g6f5"); ' class="line0">gf</span> 
	 <span onclick='loadMove("r1bq1rk1/ppnn2bp/3p4/2pPppN1/2P2P2/P1N5/1P1BB1PP/R2QR1K1 b - f3 0 1", this, "f2f4"); ' class="line0">15.f4!</span> 
	 <span onclick='loadMove("r1bq1rk1/ppnn2bp/3p4/2pP1pN1/2P1pP2/P1N5/1P1BB1PP/R2QR1K1 w - - 0 1", this, "e5e4"); ' class="line0">e4</span> 
	 <span onclick='loadMove("r1bq1rk1/ppnn2bp/3p4/2pP1pN1/2P1pP2/P1N1B3/1P2B1PP/R2QR1K1 b - - 0 1", this, "d2e3"); ' class="line0">16.Сe3</span> 
	 <span onclick='loadMove("r1bq1rk1/ppnn2b1/3p3p/2pP1pN1/2P1pP2/P1N1B3/1P2B1PP/R2QR1K1 w - - 0 1", this, "h7h6"); ' class="line0">h6</span> 
	 <span onclick='loadMove("r1bq1rk1/ppnn2b1/3p3p/2pP1p2/2P1pP2/P1N1B2N/1P2B1PP/R2QR1K1 b - - 0 1", this, "g5h3"); ' class="line0">17.Кh3</span> 
	 <span onclick='loadMove("r1bq1rk1/ppnn4/3p3p/2pP1p2/2P1pP2/P1b1B2N/1P2B1PP/R2QR1K1 w - - 0 1", this, "g7c3"); ' class="line0">С:c3!</span> 
	</p>
	<p>Не смущаясь предрассудками, черные принимают глубоко правильное и оригинальное решение. Хотя они и отдают сильного слона, при этом значительно <!--p>59</p--> сужаются активные возможности противника.</p>
	<!--img src="images/33.png"/-->
	<p>
	 <span onclick='loadMove("r1bq1rk1/ppnn4/3p3p/2pP1p2/2P1pP2/P1P1B2N/4B1PP/R2QR1K1 b - - 0 1", this, "b2c3"); ' class="line0">18.bc</span> 
	 <span onclick='loadMove("r1bq1rk1/ppn5/3p1n1p/2pP1p2/2P1pP2/P1P1B2N/4B1PP/R2QR1K1 w - - 0 1", this, "d7f6"); ' class="line0">Кf6</span> 
	 <span onclick='loadMove("r1bq1rk1/ppn5/3p1n1p/2pP1p2/P1P1pP2/2P1B2N/4B1PP/R2QR1K1 b - - 0 1", this, "a3a4"); ' class="line0">19.a4</span> 
	 <span onclick='loadMove("r1bq1r1k/ppn5/3p1n1p/2pP1p2/P1P1pP2/2P1B2N/4B1PP/R2QR1K1 w - - 0 1", this, "g8h8"); ' class="line0">Крh8!</span> 
	</p>
	<p>Черные принимают меры против наиболее опасного плана белых, заключавшегося в организации прорыва <b>g2—g4</b>. С этой целью они концентрируют спои тяжелые фигуры на линии «g» и при случае готовы сыграть <b>h6—h5</b>. Существенно, что у черных нет забот с защитой своего ферзевого фланга, где белые пешки лишены подвижности. На доске возникла своеобразная позиция динамического равновесия.</p>
	<p>
	 <span onclick='loadMove("r1bq1r1k/ppn5/3p1n1p/2pP1p2/P1P1pP2/2P1B3/4BNPP/R2QR1K1 b - - 0 1", this, "h3f2"); ' class="line0">20.Кf2</span> 
	 <span onclick='loadMove("r1bq2rk/ppn5/3p1n1p/2pP1p2/P1P1pP2/2P1B3/4BNPP/R2QR1K1 w - - 0 1", this, "f8g8"); ' class="line0">Лg8</span> 
	 <span onclick='loadMove("r1bq2rk/ppn5/3p1n1p/2pP1p2/P1P1pP2/2P1B3/4BNPP/R2QR2K b - - 0 1", this, "g1h1"); ' class="line0">21.Крh1</span> 
	 <span onclick='loadMove("r1b1q1rk/ppn5/3p1n1p/2pP1p2/P1P1pP2/2P1B3/4BNPP/R2QR2K w - - 0 1", this, "d8e8"); ' class="line0">Фe8</span> 
	 <span onclick='loadMove("r1b1q1rk/ppn5/3p1n1p/2pP1p2/P1P1pP2/2P1B3/4BNPP/R2Q2RK b - - 0 1", this, "e1g1"); ' class="line0">22.Лg1</span> 
	 <span onclick='loadMove("r1b3rk/ppn5/3p1nqp/2pP1p2/P1P1pP2/2P1B3/4BNPP/R2Q2RK w - - 0 1", this, "e8g6"); ' class="line0">Фg6</span> 
	 <span onclick='loadMove("r1b3rk/ppn5/3p1nqp/2pP1p2/P1P1pP2/2P1B3/3QBNPP/R5RK b - - 0 1", this, "d1d2"); ' class="line0">23.Фd2</span> 
	 <span onclick='loadMove("r5rk/ppnb4/3p1nqp/2pP1p2/P1P1pP2/2P1B3/3QBNPP/R5RK w - - 0 1", this, "c8d7"); ' class="line0">Сd7</span> 
	 <span onclick='loadMove("r5rk/ppnb4/3p1nqp/2pP1p2/P1P1pP2/2P1B1P1/3QBN1P/R5RK b - - 0 1", this, "g2g3"); ' class="line0">24.g3</span> 
	 <span onclick='loadMove("4r1rk/ppnb4/3p1nqp/2pP1p2/P1P1pP2/2P1B1P1/3QBN1P/R5RK w - - 0 1", this, "a8e8"); ' class="line0">Лae8</span> 
	 <span onclick='loadMove("4r1rk/ppnb4/3p1nqp/P1pP1p2/2P1pP2/2P1B1P1/3QBN1P/R5RK b - - 0 1", this, "a4a5"); ' class="line0">25.a5</span> 
	 <span onclick='loadMove("6rk/ppnbr3/3p1nqp/P1pP1p2/2P1pP2/2P1B1P1/3QBN1P/R5RK w - - 0 1", this, "e8e7"); ' class="line0">Лe7</span> 
	 <span onclick='loadMove("6rk/ppnbr3/3p1nqp/P1pP1p2/2P1pP2/2P1B1P1/3QBN1P/1R4RK b - - 0 1", this, "a1b1"); ' class="line0">26.Лab1</span> 
	 <span onclick='loadMove("2b3rk/ppn1r3/3p1nqp/P1pP1p2/2P1pP2/2P1B1P1/3QBN1P/1R4RK w - - 0 1", this, "d7c8"); ' class="line0">Сc8</span> 
	 <span onclick='loadMove("2b3rk/ppn1r3/3p1nqp/P1pP1p2/2P1pP2/2P1B1P1/3QBNRP/1R5K b - - 0 1", this, "g1g2"); ' class="line0">27.Лg2</span> 
	 <span onclick='loadMove("2b3rk/ppn3r1/3p1nqp/P1pP1p2/2P1pP2/2P1B1P1/3QBNRP/1R5K w - - 0 1", this, "e7g7"); ' class="line0">Лeg7</span> 
	 <span onclick='loadMove("2b3rk/ppn3r1/3p1nqp/P1pP1p2/2P1pP2/2P1B1P1/3QBNRP/6RK b - - 0 1", this, "b1g1"); ' class="line0">28.Лbg1</span> 
	 <span onclick='loadMove("2b1n1rk/pp4r1/3p1nqp/P1pP1p2/2P1pP2/2P1B1P1/3QBNRP/6RK w - - 0 1", this, "c7e8"); ' class="line0">Кce8</span> 
	 <span onclick='loadMove("2b1n1rk/pp4r1/3p1nqp/P1pP1p2/2P1pP2/2P1B1PP/3QBNR1/6RK b - - 0 1", this, "h2h3"); ' class="line0">29.h3</span> 
	 <span onclick='loadMove("2b1n1rk/pp4r1/3p1nq1/P1pP1p1p/2P1pP2/2P1B1PP/3QBNR1/6RK w - - 0 1", this, "h6h5"); ' class="line0">h5</span>. Ничья.</p>
</div> <!-- score -->
</div> <!-- section -->

</div> <!-- iBook -->

{% endblock content %}

