img  {width:220px;}
p     {margin:0 0 0 0; text-indent:20px; text-align:justify; clear:both;}

.diagram  {text-align:center; margin:20pt;}
.capTop   {width:244px; margin-top:10px; text-indent:0; text-align:center;}
.capBot   {width:244px; margin-top:-10px; margin-bottom:10px; clear:left; float:left; text-indent:0; text-align:center;}
.zadacha  {float:left; margin-right:20px; width:234px; text-align:left;}
.opening  {margin-top:10px; font-weight: bold; font-size: 1.2em; font-style:italic; color: #555;}
.detailes {font-weight:bold; color: #9F51FD;}
.longNotation {
	text-indent:0px;
	padding:0;
	font-size: 1rem !important;
	line-height: 1.3em !important;
	white-space: nowrap !important;
	overflow:hidden !important;
	clear:both;
}
.longNotation > span {
	width:7em;
	margin-left:3%;
	padding-left:1em !important;
	overflow:hidden;
	white-space: nowrap;
	display:inline-block;
}
.caption {width:244px; margin-top:-1px; margin-bottom:10px; margin-left:4%; clear:left; float:left; text-indent:0; text-align:center;}

.bg-page {
	box-shadow: 0px 0px 6px #ccc;
	margin-top: 10px;
	margin-bottom:	10px;
	border: solid 1px #ccc;
	/* padding: 0; */
	border-radius: 2px;
	background-color: White;
}

.spoiler-wrap {
  background: none repeat scroll 0 0 #E9E9E6;
  border-color: #C3CBD1;
  border-style: solid;
  border-width: 1px 1px 1px 2px;
  margin: 6px;
  /*width: 90%;*/
}
.spoiler-head {
  font-size: 11px;
  line-height: 15px;
  margin-left: 6px;
  padding: 1px 14px 3px;
  cursor: pointer;
}
.folded {
  background: url("icon_plus_1.gif") no-repeat scroll left center transparent;
  display: block;
  padding-left: 14px;
}
.unfolded {
  background: url("icon_minus_1.gif") no-repeat scroll left center transparent;
  display: block;
  padding-left: 14px;
}
.spoiler-body {
  background: none repeat scroll 0 0 #F5F5F5;
  border-top: 1px solid #C3CBD1;
  padding: 1px 6px 2px;
  line-height: 20px;
}

.floater { position:absolute; top:10%; }
.score { margin-left: 260px; margin-right: 20px; }


/* nav bars */

.corner_nav {
  position: fixed;
  margin: 0;
  padding: 0;
  z-index:1;
}

.corner_nav ul li {
  display: inline-block;
  position: relative;
  padding-left: 0.25rem;  
  padding-right: 0.25rem;  
  font-size: 30px;
}

.corner_nav.bottom_right {
  bottom: 10px;
}

.corner_nav.bottom_right ul li a {
  display: block;
  text-decoration: none;
  font-weight: bold;
  color: #696969;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.corner_nav.bottom_right ul li a:hover {
  color: #D51007;
  -webkit-transform: scale(1.6,1.6);
  transform: scale(1.6,1.6);
}

.corner_nav.top_left, .corner_nav.top_right {
  top:10px;
}

.corner_nav.top_left ul li {
  color: #696969;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.corner_nav.top_left ul li:hover {
  color:#5c87b2;
  cursor: pointer;
  -webkit-transform: rotate(180deg) scale(1.6,1.6);
  transform: rotate(180deg) scale(1.6,1.6);
}

.corner_nav.top_right ul li a {
  font-size: 30px;
  text-decoration: none;
  font-weight: bold;
  color: #D51007;
  -webkit-transition: all 0.75s ease-in-out;
  transition: all 0.75s ease-in-out;
}

.corner_nav.top_right ul li a:hover {
  color: #696969;
  font-size: 48px;
}


/* stationary board with notation */
.modal_overlay {
  touch-action: none;
  display: none; /* Hidden by default */
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal_overlay * {
  touch-action: none;
}

#stationary_board {
  margin: auto;
  padding-top: 20px;
  width: 460px;
}

.task_notation {
  padding:10px;
  width:410px;
  background-color: #fefefe;
  border: 1px solid #888;
  font-size:1.2em;
}

/* The Close Button */
.btn_close {
  color: #ddd;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.btn_close:hover,
.btn_close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.border-litres {
	border: 1px solid #FF4C14 !important;
}

.border-no-litres {
	border: 1px solid #9013FE !important;
}

.flex-row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -10px;
  margin-left: -10px;
}

.card {
  display:inline-block;
  position: relative;
  padding: 10px;
  margin: 10px;
  box-shadow: 1px 1px 5px rgba(15,25,35,0.5);
  min-width: 0;
  /* word-wrap: break-word; */
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}

.card-img {
  float:right;
  margin-left: 10px;
}

.card-img img {
  width:10em;
}

.card-ref {
  margin-bottom: 10px;
}

.card-description {
  text-align: justify;
}

.card-body {
	float:clear;
}

.card-footer {
	float:clear;
}

.card-series {
	padding:1em;
	font-size:small;
}

@media (min-width: 1125px) {
  body {
    font-size: 14px !important; 
    line-height: 1.4em !important;
    max-width:1050px;
  }
}

@media (max-width: 940px) {
  body {
  margin-left:20px !important;
  margin-right:20px !important;
  }
}

@media (max-width: 567px) {
  .section  .small { opacity: 0; margin-right:-280px !important; z-index:-9999;}
  .score  .small { opacity: 1; margin-right:10px !important;}
  .score { margin-left: 0px; }
  .card { width:100%; }
}

@media (min-width: 568px) {
  .section .small  { opacity: 1; margin-right:10px;}
  .score { margin-left: 260px; }
  .card { width:500px }
}

@media (min-width: 841px) {
  .card { width:360px }
}

@media (min-width: 941px) {
  .card { width:410px }
}
