{% extends '../../base.htm' %}
{% load static %}
{% block title %}
<title>КОГДА НЕТ ГАРМОНИИ: Липницкий - Смыслов, Чемпионат СССР, Москва, 1951 г. | {{book.title}} | {%for author in book.authors.all%} {%if author.first_name%} {{author.first_name}} {%endif%} {%if author.second_name%} {{author.second_name}} {%endif%} {%if forloop.counter == book.authors.all.count%} {{author.last_name}} {%else%} {{author.last_name}}, {%endif%} {%endfor%} | {{book.year}}</title>
{% endblock title %}
{% block content %}

<div class="iBook">

<h2>КОГДА НЕТ ГАРМОНИИ</h2>

<div class="section">
<div class="chessBoard small floater" data-start-fen="rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w KQkq - 0 1"></div>
<div class="score">
 <span class="line0" onclick='loadMove("rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w KQkq - 0 1", this, ""); '>[...]</span> 
<h3>Липницкий - Смыслов<br>Чемпионат СССР, Москва, 1951 г.</h3>
<p class="longNotation">
 <span onclick='loadMove("rnbqkbnr/pppppppp/8/8/3P4/8/PPP1PPPP/RNBQKBNR b KQkq d3 0 1", this, "d2d4"); ' class="line0">1.d2-d4</span> 
 <span onclick='loadMove("rnbqkb1r/pppppppp/5n2/8/3P4/8/PPP1PPPP/RNBQKBNR w KQkq - 0 2", this, "g8f6"); ' class="line0">Кg8-f6</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("rnbqkb1r/pppppppp/5n2/8/2PP4/8/PP2PPPP/RNBQKBNR b KQkq c3 0 2", this, "c2c4"); ' class="line0">2.c2-c4</span> 
 <span onclick='loadMove("rnbqkb1r/pppp1ppp/4pn2/8/2PP4/8/PP2PPPP/RNBQKBNR w KQkq - 0 3", this, "e7e6"); ' class="line0">e7-e6</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("rnbqkb1r/pppp1ppp/4pn2/8/2PP4/2N5/PP2PPPP/R1BQKBNR b KQkq - 0 3", this, "b1c3"); ' class="line0">3.Кb1-c3</span> 
 <span class="ellipsis0">...</span> 
</p>
<p>Конь c3 поддерживает продвижение <b>e2-e4</b>. Но существует система (защита Нимцовича), в которой слон, связывая коня c3, лишает его возможности контролировать поле e4.</p>
<p class="longNotation">
 <span class="ellipsis0">3. ...</span> 
 <span onclick='loadMove("rnbqk2r/pppp1ppp/4pn2/8/1bPP4/2N5/PP2PPPP/R1BQKBNR w KQkq - 0 4", this, "f8b4"); ' class="line0">Сf8-b4</span> 
</p>
<p>Есть ли в этом выпаде отрицательные стороны и как их подчеркнуть? После хода <b>a2-a3</b> произойдет размен ( <b>С : c3+</b>, <b>bc</b>). Белые теряют время на ход пешкой «а», но у них остаются два слона. Имеет ли это значение? Пока игра носит закрытый характер,— никакого. Но если белым удастся ее вскрыть, то пара слонов может более активно помочь наступлению, чем конь и слон или два коня.</p>
<!--img src="images/Abr-Hod-25.png" style="width:142pt;height:142pt;"/-->
<!--p>33</p-->
<p>Сдвоение пешек не является минусом для белых, так как после продвижения <b>d7-d5</b> одна из пешек разменивается и пешечное построение приводится в порядок. Но сдвоен и я пешек можно и избежать. Скажем,
 <span onclick='loadMove("rnbqk2r/pppp1ppp/4pn2/8/1bPP4/2N1P3/PP3PPP/R1BQKBNR b KQkq - 0 4", this, "e2e3"); ' class="line1">4.e3</span> 
 <!--span onclick='loadMove("rnbqk2r/pppp1ppp/4pn2/8/1bPP4/2N1P3/PP3PPP/R1BQKBNR w KQkq - 0 5", this, "e2e3"); ' class="line1">z0</span--> 
,
 <span onclick='loadMove("rnbqk2r/pppp1ppp/4pn2/8/1bPP4/2N1P3/PP2NPPP/R1BQKB1R b KQkq - 0 5", this, "g1e2"); ' class="line1">5.Кe2</span> 
и лишь затем <b>a2-a3</b> (до этого хода черным меняться не выгодно). Есть и ход ферзем (Фc2), защищающий коня и берущий под контроль поле e4.</p>
<p class="longNotation">
 <span onclick='loadMove("rnbqk2r/pppp1ppp/4pn2/8/1bPP4/2N5/PPQ1PPPP/R1B1KBNR b KQkq - 0 4", this, "d1c2"); ' class="line0">4.Фd1-c2</span> 
 <span class="ellipsis0">...</span> 
</p>
<p>Чтобы препятствовать ходу <b>e2-e4</b>, надо либо сразу играть <b>d7-d5</b>, либо воспользоваться тем, что пешка d4 осталась без защиты, и напасть на нее.</p>
<p class="longNotation">
 <span class="ellipsis0">4. ...</span> 
 <span onclick='loadMove("r1bqk2r/pppp1ppp/2n1pn2/8/1bPP4/2N5/PPQ1PPPP/R1B1KBNR w KQkq - 0 5", this, "b8c6"); ' class="line0">Кb8-c6</span> 
</p>
<p>Развиваем коня.</p>
<p class="longNotation">
 <span onclick='loadMove("r1bqk2r/pppp1ppp/2n1pn2/8/1bPP4/2N2N2/PPQ1PPPP/R1B1KB1R b KQkq - 0 5", this, "g1f3"); ' class="line0">5.Кg1-f3</span> 
 <span class="ellipsis0">...</span> 
</p>
<p>Теперь препятствовать продвижению <b>e2-e4</b> можно только одним способом.</p>
<p class="longNotation">
 <span class="ellipsis0">5. ...</span> 
 <span onclick='loadMove("r1bqk2r/ppp2ppp/2n1pn2/3p4/1bPP4/2N2N2/PPQ1PPPP/R1B1KB1R w KQkq d6 0 6", this, "d7d5"); ' class="line0">d7-d5</span> 
</p>
<p>Пора предложить противнику разменять чернопольного слона.</p>
<p class="longNotation">
 <span onclick='loadMove("r1bqk2r/ppp2ppp/2n1pn2/3p4/1bPP4/P1N2N2/1PQ1PPPP/R1B1KB1R b KQkq - 0 6", this, "a2a3"); ' class="line0">6.a2-a3</span> 
 <span onclick='loadMove("r1bqk2r/ppp2ppp/2n1pn2/3p4/2PP4/P1b2N2/1PQ1PPPP/R1B1KB1R w KQkq - 0 7", this, "b4c3"); ' class="line0">Сb4:c3+</span> 
</p>
<p>После обычного
 <span onclick='loadMove("r1bqk2r/ppp2ppp/2n1pn2/3p4/2PP4/P1Q2N2/1P2PPPP/R1B1KB1R b KQkq - 0 7", this, "c2c3"); ' class="line1">7.Ф:c3</span> 
 <span onclick='loadMove("r1bqk2r/ppp2ppp/2n1p3/3p4/2PPn3/P1Q2N2/1P2PPPP/R1B1KB1R w KQkq - 0 8", this, "f6e4"); ' class="line1">Кe4</span> 
 <span onclick='loadMove("r1bqk2r/ppp2ppp/2n1p3/3p4/2PPn3/P4N2/1PQ1PPPP/R1B1KB1R b KQkq - 0 8", this, "c3c2"); ' class="line1">8.Фc2</span> 
у черных появляется возможность освобождающего продвижения
 <span onclick='loadMove("r1bqk2r/ppp2ppp/2n5/3pp3/2PPn3/P4N2/1PQ1PPPP/R1B1KB1R w KQkq - 0 9", this, "e6e5"); ' class="line1">8...e6-e5</span> 
(
 <span onclick='loadMove("r1bqk2r/ppp2ppp/2n5/3pP3/2P1n3/P4N2/1PQ1PPPP/R1B1KB1R b KQkq - 0 9", this, "d4e5"); ' class="line1">9.de?</span> 
 <span onclick='loadMove("r2qk2r/ppp2ppp/2n5/3pPb2/2P1n3/P4N2/1PQ1PPPP/R1B1KB1R w KQkq - 0 10", this, "c8f5"); ' class="line1">Сf5</span> 
с атакой). А попробуем, чтобы не давать черным темпа (
 <span onclick='loadMove("r1bqk2r/ppp2ppp/2n1p3/3p4/2PPn3/P1Q2N2/1P2PPPP/R1B1KB1R w KQkq - 0 8", this, "f6e4"); ' class="line2">7...Кe4</span> 
), взять пешкой.</p>
<p class="longNotation">
 <span onclick='loadMove("r1bqk2r/ppp2ppp/2n1pn2/3p4/2PP4/P1P2N2/2Q1PPPP/R1B1KB1R b KQkq - 0 7", this, "b2c3"); ' class="line0">7.b2:c3</span> 
 <span class="ellipsis0">...</span> 
</p>
<p>В отличие от распространенных построений белые затратили время на малополезный в данной ситуации ход <b>Фc2</b> (важнее был бы ход <b>e2-e3</b>). Нельзя ли это использовать, начав борьбу за пункт c4? Если удастся утвердить на поле c4 коня, то он будет стеснять неприятельские силы; в крайнем случае белые будут вынуждены отдать за него белопольного слона.</p>
<p class="longNotation">
 <span class="ellipsis0">7. ...</span> 
 <span onclick='loadMove("r1bqk2r/ppp2ppp/4pn2/n2p4/2PP4/P1P2N2/2Q1PPPP/R1B1KB1R w KQkq - 0 8", this, "c6a5"); ' class="line0">Кc6-a5</span> 
</p>
<p>Коня, конечно, не выиграть (
 <span onclick='loadMove("r1bqk2r/ppp2ppp/4pn2/n2p4/Q1PP4/P1P2N2/4PPPP/R1B1KB1R b KQkq - 0 8", this, "c2a4"); ' class="line1">8.Фa4+</span> 
 <span onclick='loadMove("r1bqk2r/pp3ppp/2p1pn2/n2p4/Q1PP4/P1P2N2/4PPPP/R1B1KB1R w KQkq - 0 9", this, "c7c6"); ' class="line1">c6</span> 
). Вариант
 <span onclick='loadMove("r1bqk2r/ppp2ppp/4pn2/n2p4/2PP4/P1P1PN2/2Q2PPP/R1B1KB1R b KQkq - 0 8", this, "e2e3"); ' class="line1">8.e3</span> 
 <span onclick='loadMove("r1bqk2r/ppp2ppp/4pn2/3p4/2nP4/P1P1PN2/2Q2PPP/R1B1KB1R w KQkq - 0 9", this, "a5c4"); ' class="line1">К:c4</span> 
 <span onclick='loadMove("r1bqk2r/ppp2ppp/4pn2/3p4/2BP4/P1P1PN2/2Q2PPP/R1B1K2R b KQkq - 0 9", this, "f1c4"); ' class="line1">9.С:c4</span> 
 <span onclick='loadMove("r1bqk2r/ppp2ppp/4pn2/8/2pP4/P1P1PN2/2Q2PPP/R1B1K2R w KQkq - 0 10", this, "d5c4"); ' class="line1">dc</span> 
 <span onclick='loadMove("r1bqk2r/ppp2ppp/4pn2/8/Q1pP4/P1P1PN2/5PPP/R1B1K2R b KQkq - 0 10", this, "c2a4"); ' class="line1">10.Фa4+</span> 
 <span onclick='loadMove("r2qk2r/pppb1ppp/4pn2/8/Q1pP4/P1P1PN2/5PPP/R1B1K2R w KQkq - 0 11", this, "c8d7"); ' class="line1">Сd7</span> 
 <span onclick='loadMove("r2qk2r/pppb1ppp/4pn2/8/2QP4/P1P1PN2/5PPP/R1B1K2R b KQkq - 0 11", this, "a4c4"); ' class="line1">11.Ф:c4</span> 
 <span onclick='loadMove("r2qk2r/ppp2ppp/2b1pn2/8/2QP4/P1P1PN2/5PPP/R1B1K2R w KQkq - 0 12", this, "d7c6"); ' class="line1">Сc6</span> 
непривлекателен. Наверное, лучшее сейчас — это защитить пешку c4 конем, учитывая вторую косвенную защиту — шах ферзем на a4.</p>
<p class="longNotation">
 <span onclick='loadMove("r1bqk2r/ppp2ppp/4pn2/n2pN3/2PP4/P1P5/2Q1PPPP/R1B1KB1R b KQkq - 0 8", this, "f3e5"); ' class="line0">8.Кf3-e5</span> 
 <span class="ellipsis0">...</span> 
</p>
<p>Надо разменять коней. Централизованный конь белых довольно неприятен.</p>
<p class="longNotation">
 <span class="ellipsis0">8. ...</span> 
 <span onclick='loadMove("r1bqk2r/pppn1ppp/4p3/n2pN3/2PP4/P1P5/2Q1PPPP/R1B1KB1R w KQkq - 0 9", this, "f6d7"); ' class="line0">Кf6-d7</span> 
</p>
<p>Если черные возьмут на e5, пешки окажутся разрозненными. Разменяемся сами.</p>
<p class="longNotation">
 <span onclick='loadMove("r1bqk2r/pppN1ppp/4p3/n2p4/2PP4/P1P5/2Q1PPPP/R1B1KB1R b KQkq - 0 9", this, "e5d7"); ' class="line0">9.Кe5:d7</span> 
 <span class="ellipsis0">...</span> 
</p>
<p>Возьмем слоном, чтобы эта фигура скорее приняла участие в борьбе.</p>
<p class="longNotation">
 <span class="ellipsis0">9. ...</span> 
 <span onclick='loadMove("r2qk2r/pppb1ppp/4p3/n2p4/2PP4/P1P5/2Q1PPPP/R1B1KB1R w KQkq - 0 10", this, "c8d7"); ' class="line0">Сc8:d7</span> 
</p>
<p>Опять надо заботиться о пешке c4. Другого выхода, кроме размена, нет.</p>
<p class="longNotation">
 <span onclick='loadMove("r2qk2r/pppb1ppp/4p3/n2P4/3P4/P1P5/2Q1PPPP/R1B1KB1R b KQkq - 0 10", this, "c4d5"); ' class="line0">10.c4:d5</span> 
 <span onclick='loadMove("r2qk2r/pppb1ppp/8/n2p4/3P4/P1P5/2Q1PPPP/R1B1KB1R w KQkq - 0 11", this, "e6d5"); ' class="line0">e6:d5</span> 
</p>
<p>Снова не хочется играть
 <span onclick='loadMove("r2qk2r/pppb1ppp/8/n2p4/3P4/P1P1P3/2Q2PPP/R1B1KB1R b KQkq - 0 11", this, "e2e3"); ' class="line1">11.e3</span> 
. Ведь противник может ответить
 <span onclick='loadMove("r2qk2r/pp1b1ppp/8/n1pp4/3P4/P1P1P3/2Q2PPP/R1B1KB1R w KQkq c6 0 12", this, "c7c5"); ' class="line1">11...c5</span> 
, затем <b>Лc8</b> и размен на d4 с инициативой, а возможно, <b>c5-c4</b> и <b>Кb3</b>. Брать на c5 самим тоже плохо, так как пешка сразу отыгрывается, а слабая пешка c3 подвергнется осаде. Итак...</p>
<p class="longNotation">
 <span onclick='loadMove("r2qk2r/pppb1ppp/8/n2p4/3P1B2/P1P5/2Q1PPPP/R3KB1R b KQkq - 0 11", this, "c1f4"); ' class="line0">11.Сc1-f4</span> 
 <span class="ellipsis0">...</span> 
</p>
<p>Это дает возможность захватить поле c4. Такое продолжение полностью отвечает стратегическому плану.</p>
<p class="longNotation">
 <span class="ellipsis0">11. ...</span> 
 <span onclick='loadMove("r2qk2r/ppp2ppp/8/nb1p4/3P1B2/P1P5/2Q1PPPP/R3KB1R w KQkq - 0 12", this, "d7b5"); ' class="line0">Сd7-b5</span> 
</p>
<p>Теперь надо расстаться с мыслью о продолжении <b>e2-e3</b>. После размена белопольных слонов конь вторгается навечно на поле c4, откуда будет контролировать весь ферзевый фланг белых. Правда, можно и не играть
<!--p>34</p-->
пока e3, а белопольного слона фианкеттировать, но после
 <span onclick='loadMove("r2qk2r/ppp2ppp/8/nb1p4/3P1B2/P1P3P1/2Q1PP1P/R3KB1R b KQkq - 0 12", this, "g2g3"); ' class="line1">12.g3</span> 
 <span onclick='loadMove("r2q1rk1/ppp2ppp/8/nb1p4/3P1B2/P1P3P1/2Q1PP1P/R3KB1R w KQ - 0 13", this, "e8g8"); ' class="line1">0-0</span> 
 <span onclick='loadMove("r2q1rk1/ppp2ppp/8/nb1p4/3P1B2/P1P3P1/2Q1PPBP/R3K2R b KQ - 0 13", this, "f1g2"); ' class="line1">13.Сg2</span> 
 <span onclick='loadMove("r2qr1k1/ppp2ppp/8/nb1p4/3P1B2/P1P3P1/2Q1PPBP/R3K2R w KQ - 0 14", this, "f8e8"); ' class="line1">Лe8</span> 
придется либо играть
 <span onclick='loadMove("r2qr1k1/ppp2ppp/8/nb1p4/3P1B2/P1P1P1P1/2Q2PBP/R3K2R b KQ - 0 14", this, "e2e3"); ' class="line1">14.e3</span> 
и снова остаться без рокировки, либо
 <span onclick='loadMove("r2qr1k1/ppp2ppp/8/nb1p4/3P1B2/P1P2BP1/2Q1PP1P/R3K2R b KQ - 0 14", this, "g2f3"); ' class="line2">14.Сf3</span> 
, и предстоит тяжелая защита в связи с энергичным ударом
 <span onclick='loadMove("r2qr1k1/pp3ppp/8/nbpp4/3P1B2/P1P2BP1/2Q1PP1P/R3K2R w KQ c6 0 15", this, "c7c5"); ' class="line2">14...c5</span> 
.</p>
<!--img src="images/Abr-Hod-26.png" style="width:143pt;height:142pt;"/-->
<p>Другой план — оставить короля в центре под прикрытием надежно защищенной пешки e2 и активизировать ладьи.</p>
<p class="longNotation">
 <span onclick='loadMove("r2qk2r/ppp2ppp/8/nb1p4/3P1B1P/P1P5/2Q1PPP1/R3KB1R b KQkq h3 0 12", this, "h2h4"); ' class="line0">12.h2-h4</span> 
 <span onclick='loadMove("r2q1rk1/ppp2ppp/8/nb1p4/3P1B1P/P1P5/2Q1PPP1/R3KB1R w KQ - 0 13", this, "e8g8"); ' class="line0">0-0</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("r2q1rk1/ppp2ppp/8/nb1p4/3P1B1P/P1P5/2Q1PPP1/1R2KB1R b K - 0 13", this, "a1b1"); ' class="line0">13.Лa1-b1</span> 
 <span class="ellipsis0">...</span> 
</p>
<p>Можно отойти слоном на a6, но для игры по белым полям хорошо бы подключить ферзя, освободив одновременно дорогу ладье a8.</p>
<p class="longNotation">
 <span class="ellipsis0">13. ...</span> 
 <span onclick='loadMove("r4rk1/pppq1ppp/8/nb1p4/3P1B1P/P1P5/2Q1PPP1/1R2KB1R w K - 0 14", this, "d8d7"); ' class="line0">Фd8-d7</span> 
</p>
<p>Ход
 <span onclick='loadMove("r4rk1/ppBq1ppp/8/nb1p4/3P3P/P1P5/2Q1PPP1/1R2KB1R b K - 0 14", this, "f4c7"); ' class="line1">14.С:c7</span> 
грубая ошибка: черные с темпом отойдут слоном (
 <span onclick='loadMove("r4rk1/ppBq1ppp/8/n2p4/b2P3P/P1P5/2Q1PPP1/1R2KB1R w K - 0 15", this, "b5a4"); ' class="line1">14...Сa4</span> 
), а затем возьмут слона c7.</p>
<p class="longNotation">
 <span onclick='loadMove("r4rk1/pppq1ppp/8/nb1p4/3P1B1P/P1P4R/2Q1PPP1/1R2KB2 b - - 0 14", this, "h1h3"); ' class="line0">14.Лh1-h3</span> 
 <span class="ellipsis0">...</span> 
</p>
<p>Полезно убрать ладью с f8, чтобы после <b>Лg3</b> не был опасен ход <b>Сh6</b>. Поставим ее на линию «е», готовя нападение на позицию короля.</p>
<p class="longNotation">
 <span class="ellipsis0">14. ...</span> 
 <span onclick='loadMove("r3r1k1/pppq1ppp/8/nb1p4/3P1B1P/P1P4R/2Q1PPP1/1R2KB2 w - - 0 15", this, "f8e8"); ' class="line0">Лf8-e8</span> 
</p>
<p>Единственная контригра — по линии «g».</p>
<p class="longNotation">
 <span onclick='loadMove("r3r1k1/pppq1ppp/8/nb1p4/3P1B1P/P1P3R1/2Q1PPP1/1R2KB2 b - - 0 15", this, "h3g3"); ' class="line0">15.Лh3-g3</span> 
 <span class="ellipsis0">...</span> 
</p>
<p>На
 <!--span onclick='loadMove("r3r1k1/pppq1ppp/8/nb1p4/3P1B1P/P1P3R1/2Q1PPP1/1R2KB2 w - - 0 16", this, "h3g3"); ' class="line1">15...z0</span--> 
 <span onclick='loadMove("r3r1k1/pppq1ppp/7B/nb1p4/3P3P/P1P3R1/2Q1PPP1/1R2KB2 b - - 0 16", this, "f4h6"); ' class="line1">16.Сh6</span> 
хорошо
 <span onclick='loadMove("r3r1k1/pppq1p1p/6pB/nb1p4/3P3P/P1P3R1/2Q1PPP1/1R2KB2 w - - 0 17", this, "g7g6"); ' class="line1">16...g6</span> 
. Менее приятно
 <!--span onclick='loadMove("r3r1k1/pppq1ppp/8/nb1p4/3P1B1P/P1P3R1/2Q1PPP1/1R2KB2 w - - 0 16", this, "g7g6"); ' class="line1">15...z0</span--> 
 <span onclick='loadMove("r3r1k1/pppq1ppp/8/nb1pB3/3P3P/P1P3R1/2Q1PPP1/1R2KB2 b - - 0 16", this, "f4e5"); ' class="line1">16.Сe5</span> 
 <span onclick='loadMove("r3r1k1/pppq1p1p/6p1/nb1pB3/3P3P/P1P3R1/2Q1PPP1/1R2KB2 w - - 0 17", this, "g7g6"); ' class="line1">g6</span> 
 <span onclick='loadMove("r3r1k1/pppq1p1p/6p1/nb1pB3/3P3P/P1P3R1/4PPP1/1RQ1KB2 b - - 0 17", this, "c2c1"); ' class="line1">17.Фc1</span> 
и на
 <span onclick='loadMove("r3r1k1/pppq1p1p/6p1/1b1pB3/2nP3P/P1P3R1/4PPP1/1RQ1KB2 w - - 0 18", this, "a5c4"); ' class="line1">17...Кc4</span> 
(отражая
 <span onclick='loadMove("r3r1k1/pppq1p1p/6pQ/1b1pB3/2nP3P/P1P3R1/4PPP1/1R2KB2 b - - 0 18", this, "c1h6"); ' class="line2">18.Фh6</span> 
)
 <span onclick='loadMove("r3r1k1/ppBq1p1p/6p1/1b1p4/2nP3P/P1P3R1/4PPP1/1RQ1KB2 b - - 0 18", this, "e5c7"); ' class="line1">18.С:c7</span> 
. Поэтому возьмем под удар поле e5 и приблизим коня к позиции белых.</p>
<p class="longNotation">
 <span class="ellipsis0">15. ...</span> 
 <span onclick='loadMove("r3r1k1/pppq1ppp/8/1b1p4/2nP1B1P/P1P3R1/2Q1PPP1/1R2KB2 w - - 0 16", this, "a5c4"); ' class="line0">Кa5-c4</span> 
</p>
<p>Надо вызвать ход <b>g7-g6</b> и создать угрозы по ослабленным черным полям.</p>
<p class="longNotation">
 <span onclick='loadMove("r3r1k1/pppq1ppp/7B/1b1p4/2nP3P/P1P3R1/2Q1PPP1/1R2KB2 b - - 0 16", this, "f4h6"); ' class="line0">16.Сf4-h6</span> 
 <span onclick='loadMove("r3r1k1/pppq1p1p/6pB/1b1p4/2nP3P/P1P3R1/2Q1PPP1/1R2KB2 w - - 0 17", this, "g7g6"); ' class="line0">g7-g6</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("r3r1k1/pppq1p1p/6pB/1b1p4/2nP3P/P1P3R1/4PPP1/1RQ1KB2 b - - 0 17", this, "c2c1"); ' class="line0">17.Фc2-c1</span> 
 <span class="ellipsis0">...</span> 
</p>
<p>Теперь поле e5 не нуждается в контроле, и напрашивается перевод коня на f5. Отсюда он атакует ладью и слона, защищая критическое поле g7.</p>
<p class="longNotation">
 <span class="ellipsis0">17. ...</span> 
 <span onclick='loadMove("r3r1k1/pppq1p1p/3n2pB/1b1p4/3P3P/P1P3R1/4PPP1/1RQ1KB2 w - - 0 18", this, "c4d6"); ' class="line0">Кc4-d6</span> 
</p>
<p>Пора подключить к атаке ферзя.</p>
<p class="longNotation">
 <span onclick='loadMove("r3r1k1/pppq1p1p/3n2pB/1b1p4/3P1Q1P/P1P3R1/4PPP1/1R2KB2 b - - 0 18", this, "c1f4"); ' class="line0">18.Фc1-f4</span> 
 <span class="ellipsis0">...</span> 
</p>
<!--img src="images/Abr-Hod-27.png" style="width:143pt;height:142pt;"/-->
<p>Ход
 <span onclick='loadMove("r3r1k1/pppq1p1p/6pB/1b1p1n2/3P1Q1P/P1P3R1/4PPP1/1R2KB2 w - - 0 19", this, "d6f5"); ' class="line1">18...Кf5</span> 
сейчас невозможен —
 <span onclick='loadMove("r3r1k1/pppq1p1p/6pB/1R1p1n2/3P1Q1P/P1P3R1/4PPP1/4KB2 b - - 0 19", this, "b1b5"); ' class="line1">19.Л:b5</span> 
, и брать ладью (
 <span onclick='loadMove("r3r1k1/ppp2p1p/6pB/1q1p1n2/3P1Q1P/P1P3R1/4PPP1/4KB2 w - - 0 20", this, "d7b5"); ' class="line1">19...Ф:b5</span> 
) нельзя из-за
 <span onclick='loadMove("r3r1k1/ppp2p1p/6pB/1q1p1Q2/3P3P/P1P3R1/4PPP1/4KB2 b - - 0 20", this, "f4f5"); ' class="line1">20.Ф:f5</span> 
. И после
 <span onclick='loadMove("r3r1k1/pppq1p1p/6pB/1R1p4/3P1Q1P/P1P3n1/4PPP1/4KB2 w - - 0 20", this, "f5g3"); ' class="line1">19...К:g3</span> 
 <span onclick='loadMove("r3r1k1/pppq1p1p/6pB/1R1p4/3P1Q1P/P1P3P1/4P1P1/4KB2 b - - 0 20", this, "f2g3"); ' class="line1">20.fg</span> 
опять нельзя брать ладью (
 <span onclick='loadMove("r3r1k1/ppp2p1p/6pB/1q1p4/3P1Q1P/P1P3P1/4P1P1/4KB2 w - - 0 21", this, "d7b5"); ' class="line1">20...Ф:b5</span> 
) в связи с
 <span onclick='loadMove("r3r1k1/ppp2p1p/5QpB/1q1p4/3P3P/P1P3P1/4P1P1/4KB2 b - - 0 21", this, "f4f6"); ' class="line1">21.Фf6</span> 
. Отступим слоном, чтобы освободить ферзя от его защиты.</p>
<p class="longNotation">
 <span class="ellipsis0">18. ...</span> 
 <span onclick='loadMove("r3r1k1/pppq1p1p/b2n2pB/3p4/3P1Q1P/P1P3R1/4PPP1/1R2KB2 w - - 0 19", this, "b5a6"); ' class="line0">Сb5-a6</span> 
</p>
<p>Грозит
 <!--span onclick='loadMove("r3r1k1/pppq1p1p/b2n2pB/3p4/3P1Q1P/P1P3R1/4PPP1/1R2KB2 b - - 0 19", this, "b5a6"); ' class="line1">19.z0</span--> 

 <span onclick='loadMove("r3r1k1/pppq1p1p/b5pB/3p1n2/3P1Q1P/P1P3R1/4PPP1/1R2KB2 w - - 0 20", this, "d6f5"); ' class="line1">19...Кf5</span> 
, отражая все угрозы королю. Без слона f1 игра не получится. Да и ладья b1 ничем пока не помогает. Не сыграть ли наконец <b>e2-e3</b>? Линия «е» будет прочно перекрыта, а после размена белопольных слонов выявится слабость пешки b7 и конь не сможет отойти.</p>
<p class="longNotation">
 <span onclick='loadMove("r3r1k1/pppq1p1p/b2n2pB/3p4/3P1Q1P/P1P1P1R1/5PP1/1R2KB2 b - - 0 19", this, "e2e3"); ' class="line0">19.e2-e3</span> 
 <span class="ellipsis0">...</span> 
</p>
<!--p>35</p-->
<p>Можно разменять слонов и защититься путем <b>b7-b6</b>. Но почему не перейти в контратаку? Вскрытие линии «b» будет только на пользу.</p>
<p class="longNotation">
 <span class="ellipsis0">19. ...</span> 
 <span onclick='loadMove("r3r1k1/pppq1p1p/b5pB/3p1n2/3P1Q1P/P1P1P1R1/5PP1/1R2KB2 w - - 0 20", this, "d6f5"); ' class="line0">Кd6-f5</span> 
</p>
<p>Отступать ладьей нельзя.</p>
<p>Если
 <span onclick='loadMove("r3r1k1/pppq1p1p/b5pB/3p1n2/3P1QRP/P1P1P3/5PP1/1R2KB2 b - - 0 20", this, "g3g4"); ' class="line1">20.Лg4</span> 
, то
 <span onclick='loadMove("r3r1k1/pppq1p1p/b5pn/3p4/3P1QRP/P1P1P3/5PP1/1R2KB2 w - - 0 21", this, "f5h6"); ' class="line1">20...К:h6</span> 
и остаемся без фигуры. На
 <span onclick='loadMove("r3r1k1/pppq1p1p/b5pB/3p1n2/3P1Q1P/P1P1P2R/5PP1/1R2KB2 b - - 0 20", this, "g3h3"); ' class="line1">20.Лh3</span> 
последует
 <span onclick='loadMove("r5k1/pppq1p1p/b5pB/3p1n2/3PrQ1P/P1P1P2R/5PP1/1R2KB2 w - - 0 21", this, "e8e4"); ' class="line1">20...Лe4</span> 
 <span onclick='loadMove("r5k1/pppq1p1p/b5pB/3p1nQ1/3Pr2P/P1P1P2R/5PP1/1R2KB2 b - - 0 21", this, "f4g5"); ' class="line1">21.Фg5</span> 
 <span onclick='loadMove("r5k1/pppq3p/b4ppB/3p1nQ1/3Pr2P/P1P1P2R/5PP1/1R2KB2 w - - 0 22", this, "f7f6"); ' class="line1">f6</span> 
, и теряется слон. Поэтому следует отдать качество, но захватить инициативу.</p>
<p class="longNotation">
 <span onclick='loadMove("r3r1k1/pppq1p1p/B5pB/3p1n2/3P1Q1P/P1P1P1R1/5PP1/1R2K3 b - - 0 20", this, "f1a6"); ' class="line0">20.Сf1:a6</span> 
 <span class="ellipsis0">...</span> 
</p>
<p>Плохо
 <span onclick='loadMove("r3r1k1/pppq1p1p/B5pB/3p4/3P1Q1P/P1P1P1n1/5PP1/1R2K3 w - - 0 21", this, "f5g3"); ' class="line1">20...К:g3</span> 
из-за
 <span onclick='loadMove("r3r1k1/pBpq1p1p/6pB/3p4/3P1Q1P/P1P1P1n1/5PP1/1R2K3 b - - 0 21", this, "a6b7"); ' class="line1">21.С:b7</span> 
 <span onclick='loadMove("1r2r1k1/pBpq1p1p/6pB/3p4/3P1Q1P/P1P1P1n1/5PP1/1R2K3 w - - 0 22", this, "a8b8"); ' class="line1">Лab8</span> 
 <span onclick='loadMove("1r2r1k1/pBpq1p1p/6pB/3p4/3P1Q1P/P1P1P1P1/6P1/1R2K3 b - - 0 22", this, "f2g3"); ' class="line1">22.fg</span> 
, и нельзя играть
 <span onclick='loadMove("1r2r1k1/pB1q1p1p/2p3pB/3p4/3P1Q1P/P1P1P1P1/6P1/1R2K3 w - - 0 23", this, "c7c6"); ' class="line1">22...c6</span> 
(
 <span onclick='loadMove("1r2r1k1/pB1q1p1p/2p2QpB/3p4/3P3P/P1P1P1P1/6P1/1R2K3 b - - 0 23", this, "f4f6"); ' class="line1">23.Фf6</span> 
). Ничего не даст и
 <span onclick='loadMove("r5k1/pppq1p1p/B5pB/3p1n2/3PrQ1P/P1P1P1R1/5PP1/1R2K3 w - - 0 21", this, "e8e4"); ' class="line1">20...Лe4</span> 
.</p>
<p class="longNotation">
 <span class="ellipsis0">20. ...</span> 
 <span onclick='loadMove("r3r1k1/p1pq1p1p/p5pB/3p1n2/3P1Q1P/P1P1P1R1/5PP1/1R2K3 w - - 0 21", this, "b7a6"); ' class="line0">b7:a6</span> 
</p>
<p>Нельзя отойти ладьей
 <!--span onclick='loadMove("r3r1k1/p1pq1p1p/p5pB/3p1n2/3P1Q1P/P1P1P1R1/5PP1/1R2K3 b - - 0 21", this, "b7a6"); ' class="line1">21.z0</span--> 
в связи с
 <span onclick='loadMove("r5k1/p1pq1p1p/p5pB/3p1n2/3PrQ1P/P1P1P1R1/5PP1/1R2K3 w - - 0 22", this, "e8e4"); ' class="line1">21...Лe4</span> 
. Шансы на спасение в активности.</p>
<p class="longNotation">
 <span onclick='loadMove("r3r1k1/pRpq1p1p/p5pB/3p1n2/3P1Q1P/P1P1P1R1/5PP1/4K3 b - - 0 21", this, "b1b7"); ' class="line0">21.Лb1-b7</span> 
 <span class="ellipsis0">...</span> 
</p>
<p>Если
 <span onclick='loadMove("r3r1k1/pRpq1p1p/p5pB/3p4/3P1Q1P/P1P1P1n1/5PP1/4K3 w - - 0 22", this, "f5g3"); ' class="line1">21...К:g3</span> 
 <span onclick='loadMove("r3r1k1/pRpq1p1p/p5pB/3p4/3P1Q1P/P1P1P1P1/6P1/4K3 b - - 0 22", this, "f2g3"); ' class="line1">22.fg</span> 
, то нельзя играть
 <span onclick='loadMove("1r2r1k1/pRpq1p1p/p5pB/3p4/3P1Q1P/P1P1P1P1/6P1/4K3 w - - 0 23", this, "a8b8"); ' class="line1">22...Лab8</span> 
из-за
 <span onclick='loadMove("1r2r1k1/pRpq1p1p/p4QpB/3p4/3P3P/P1P1P1P1/6P1/4K3 b - - 0 23", this, "f4f6"); ' class="line1">23.Фf6</span> 
. Придется отдать пешку c7, может быть, a7, и исход борьбы далеко не ясен. А если захватить вертикаль «b», то появится атака, которая сразу принесет свои плоды.</p>
<p class="longNotation">
 <span class="ellipsis0">21. ...</span> 
 <span onclick='loadMove("1r2r1k1/pRpq1p1p/p5pB/3p1n2/3P1Q1P/P1P1P1R1/5PP1/4K3 w - - 0 22", this, "a8b8"); ' class="line0">Лa8-b8</span> 
</p>
<!--img src="images/Abr-Hod-28.png" style="width:143pt;height:143pt;"/-->
<p>Открытую линию не удержать. На
 <span onclick='loadMove("1r2r1k1/p1pq1p1p/p5pB/3p1n2/1R1P1Q1P/P1P1P1R1/5PP1/4K3 b - - 0 22", this, "b7b4"); ' class="line1">22.Лb4</span> 
она захватывается типичным приемом
 <span onclick='loadMove("1r2r1k1/p1pq1p1p/6pB/p2p1n2/1R1P1Q1P/P1P1P1R1/5PP1/4K3 w - - 0 23", this, "a6a5"); ' class="line1">22...a5</span> 
. Выиграем пешку и нападем на ферзя.</p>
<p class="longNotation">
 <span onclick='loadMove("1r2r1k1/p1Rq1p1p/p5pB/3p1n2/3P1Q1P/P1P1P1R1/5PP1/4K3 b - - 0 22", this, "b7c7"); ' class="line0">22.Лb7:c7</span> 
 <span class="ellipsis0">...</span> 
</p>
<p>Сейчас можно не думать о защите. Усилиями ферзя и ладьи создадим матовую сеть неприятельскому королю.</p>
<p class="longNotation">
 <span class="ellipsis0">22. ...</span> 
 <span onclick='loadMove("4r1k1/p1Rq1p1p/p5pB/3p1n2/3P1Q1P/P1P1P1R1/5PP1/1r2K3 w - - 0 23", this, "b8b1"); ' class="line0">Лb8-b1+</span> 
</p>
<p>Может быть, удастся спастись через поле f3?</p>
<p class="longNotation">
 <span onclick='loadMove("4r1k1/p1Rq1p1p/p5pB/3p1n2/3P1Q1P/P1P1P1R1/4KPP1/1r6 b - - 0 23", this, "e1e2"); ' class="line0">23.Крe1-e2</span> 
 <span class="ellipsis0">...</span> 
</p>
<p>По белым полям от угроз не уйти.</p>
<p class="longNotation">
 <span class="ellipsis0">23. ...</span> 
 <span onclick='loadMove("4r1k1/p1R2p1p/p5pB/3p1n2/q2P1Q1P/P1P1P1R1/4KPP1/1r6 w - - 0 24", this, "d7a4"); ' class="line0">Фd7-a4</span> 
</p>
<p>И не спасает любой ход короля, в том числе и на f3.</p>
<p>Белые сдались.</p>
<p>Белые с самого начала партии не уделяли должного внимания гармоничному развитию своих сил. Начав с экспериментального дебютного продолжения
 <span onclick='loadMove("r1bqk2r/ppp2ppp/2n1pn2/3p4/2PP4/P1P2N2/2Q1PPPP/R1B1KB1R b KQkq - 0 7", this, "b2c3"); ' class="line1">7.bc</span> 
(вместо
 <span onclick='loadMove("r1bqk2r/ppp2ppp/2n1pn2/3p4/2PP4/P1Q2N2/1P2PPPP/R1B1KB1R b KQkq - 0 7", this, "c2c3"); ' class="line2">7.Ф:c3</span> 
), а затем
 <span onclick='loadMove("r2qk2r/pppb1ppp/8/n2p4/3P1B2/P1P5/2Q1PPPP/R3KB1R b KQkq - 0 11", this, "c1f4"); ' class="line1">11.Сf4</span> 
(вместо
 <span onclick='loadMove("r2qk2r/pppb1ppp/8/n2p4/3P4/P1P1P3/2Q2PPP/R1B1KB1R b KQkq - 0 11", this, "e2e3"); ' class="line2">11.e3</span> 
), они отдали противнику белые поля.</p>
<p>Надо было проявить особую бдительность. Однако вместо трудной, но возможной защиты, связанной с ходом
 <span onclick='loadMove("r2qk2r/ppp2ppp/8/nb1p4/3P1B2/P1P3P1/2Q1PP1P/R3KB1R b KQkq - 0 12", this, "g2g3"); ' class="line1">12.g3</span> 
, допускается еще одна принципиальная ошибка: при необеспеченном короле в центре несколько фигур бросаются в азартную атаку. Вскоре выясняется, что поддержать ускользающую инициативу нечем, а фигуры черных, заняв открытые линии и ослабленные белые поля, готовы к атаке. Исход борьбы предрешен, и последние чрезвычайные меры только ускоряют неизбежное поражение.</p>
</div> <!-- score -->
</div> <!-- section -->

</div> <!-- iBook -->
{% endblock content %}

