{% extends '../../base.htm' %}
{% load static %}
{% block title %}
<title>Глава вторая. ТРУДНОЕ ЗАДАНИЕ | {{book.title}} | {%for author in book.authors.all%} {%if author.first_name%} {{author.first_name}} {%endif%} {%if author.second_name%} {{author.second_name}} {%endif%} {%if forloop.counter == book.authors.all.count%} {{author.last_name}} {%else%} {{author.last_name}}, {%endif%} {%endfor%} | {{book.year}}</title>
{% endblock title %}
{% block content %}

<div class="iBook">

<hr />
<h3>Глава вторая<br>ТРУДНОЕ ЗАДАНИЕ</h3>

<div class="section">
<div class="chessBoard small floater" data-start-fen="8/1p3p2/5P2/8/pk1p4/3P4/1P5P/3K4 w - - 0 35"></div>
<div class="score">
 <span class="line0" onclick='loadMove("8/1p3p2/5P2/8/pk1p4/3P4/1P5P/3K4 w - - 0 35", this, ""); '>[...]</span> 
<p>Инженер ван дер Ланге впервые приехал как турист в Советскую Россию, идя навстречу желаниям матери и расчетам отца. Его мать, Марину Макарову, во время второй мировой войны гитлеровцы вывезли из Смоленска в Германию, силой заставив работать на рейх вместе с другими иностранными рабочими.</p>
<p>Там она и встретилась с веселым, предприимчивым великаном Максом ван дер Ланге, электромонтером. Был он младшим сыном фермера из Арнема и в детстве помогал отцу выращивать тюльпаны. Макс и Марина поженились еще в лагере для подневольных рабочих. После же освобождения английскими войсками Лахена, близ которого находились концлагеря, супруги перебрались в Голландию. Там тюльпанами вместо отца теперь занимался скупой и расчетливый Ян ван дер Ланге. Помощи брата, умудрившегося жениться даже в плену, ему не требовалось. Голландия издревле поставляла здоровых и трудолюбивых мужчин во все страны света. Недаром даже город Нью-Йорк был назван его основателями Нью-Амстердам. И Макс ван дер Ланге с женой и двумя дочерьми отправились за океан, в Канаду.</p>
<p>Маленький Саша, как звала его мать, родился в Монреале.</p>
<p>Мать, как и дочерей, выучила его русскому языку, на котором говорили в семье все, даже Макс, которого Марине все же не удалось уговорить отправиться по примеру других голландских семей, где жены были русские, в Советский Союз. Макс ссылался на то, что кто-то вернулся оттуда обратно, и для неги этого достаточно, чтобы не рисковать. К тому же в Канаде ему повезло, и он даже сумел открыть собственную контору по продаже электрических бытовых приборов. И дело расцветет, когда вырастет сын. Пять дочерей не в счет.</p>
<p>Саша ван дер Ланге рос в Канаде, имея о России очень смутное представление. Он совершенствовал свой русский язык в колледже и в русских семьях. Отец считал, что знание языка -</p>
<p>это капитал, который со временем надо пустить в дело. И когда Александр ван дер Ланге по окончании политехнического института получил диплом инженера, отец собрал денег для его туристской поездки в Россию. Эту мысль Макс ван дер Ланге вынашивал еще с Монреальской международной выставки, показывая там сынишке удивительные достижения заокеанской страны, где сумели и переломить хребет немецкому фашизму, и первыми взлететь в космос, и покорить атомную энергию. "От них всего можно ожидать", - вразумлял сына Макс.</p>
<p>У молодого инженера ван дер Ланге был к Советской России еще и особый интерес - как к шахматному Эльдорадо, родине шахматных корифеев, перед которыми преклонялся любитель шахмат Саша ван дер Ланге.</p>
<p>Однако когда иностранный турист из Канады Александр ван дер Ланге предпринял энергичную попытку отыскать "шахматного маэстро", случайного соседа по ресторанному столику, то справедливости ради надо сказать, что им руководила не только любовь к шахматам.</p>
<p>Где же искать шахматиста, как не в Центральном шахматноем клубе? И Александр ван дер Лапге направился в привлекательный особняк на Гоголевском бульваре.</p>
<p>Во всяком бизнесе должно быть везение, иначе нет бизнеса!</p>
<p>В большом, со вкусом отделанном зале клуба проходил решающий тур какого-то турнира. И одну из центральных партий, которая демонстрировалась на доске с магнитными фигурами, играл знакомый "маэстро".</p>
<p>Инженер ван дер Ланге осторожно сел на свободный стул в одном из последних рядов. Велико же было его изумление и даже, пожалуй, радость, когда он увидел рядом с собой "заслуженную артистку республики из театра Сатиры", с которой обедал на московской высоте. Он расплылся в почтительной улыбке.</p>
<p>- Вот и хорошо, что вы здесь, - сказала Вика. - Будете мне объяснять, что там происходит, - и она кивнула на доску. - А то все ахают и охают, а я... - и она выразительно боднула крутым своим лбом воздух.</p>
<p>- О, непременно! С большой охотой. Зовите меня Александром Максимовичем, пожалуйста.</p>
<p>Ему очень хотелось спросить у своей случайной знакомой, что привело ее сюда, если она далека от шахмат, но он, с присущим ему тактом, сдержался, решив, что полезнее самому делать выводы из всего, что удается наблюдать.</p>
<p>Александр Максимович изучающе посмотрел на демонстрационную доску. В зале слышался шорох. Зрители вполголоса обсуждали положение в партии. Иностранцу захотелось посмотреть на неравнодушных зрителей, и он сразу увидел впереди себя того самого седого человека, которому маэстро показывал свой этюд со взапмопатом. Александр Максимович наклонился к "артистке":</p>
<p>- Вам не хочется подсесть вон к тому господину? Он был тогда с нами "на высоте".</p>
<p>Иван Тимофеевич Гусаков решил перед отъездом отыскать здесь, в клубе, Костю Куликова и проститься с ним. Он сразу узнал и Вику, и иностранного туриста и недовольно хмыкнул в седые усы. При этом подвинулся, чтобы те могли сесть рядом.</p>
<p>- Что вы скажете? Как у него? - кивнула на демонстрационную доску Вика.</p>
<!--p><img src="images/KAISA10.GIF" /></p-->
<div class="chessBoard analysis nobuttons" data-start-fen="8/1p3p2/5P2/8/pk1p4/3P4/1P5P/3K4 w - - 0 35"></div>
<p>Там стояла вот такая позиция (10). Черными играл Куликов.</p>
<p>- Мне кажется положение черных безнадежным, - заметил Александр Максимович. - К тому же оба в цейтноте. Не осталось времени на обдумывание ходов. А вы как полагаете? - обратился он к Гусакову.</p>
<p>Иван Тимофеевич молчал, только сопел.</p>
<p>- Ну! - требовательно произнесла Вика и даже толкнула своего пожилого соседа локтем. - Ну же!</p>
<p>- Не понимаю, что тут думать, - размышлял вслух иностранец, - Ведь надо успеть сделать пять ходов. Однако белая пешка неудержимо проходит в королевы.</p>
<p>- В ферзи, - недовольно поправил Гусаков.</p>
<p>- Это даже я вижу, - призналась Вика. - И королю ее не догнать?</p>
<p>Костя Куликов сидел откинувшись на стуле и смотрел куда-то поверх головы противника, который при острой нехватке времени загадочно задумался над очевидным, казалось бы, ходом. Это был очень полный человек с красивыми чертами холеного лица и огненными цыганскими глазами. Из таблички, приколотой к столику, зрители знали, что это мастер Сергей Верейский, партии которого были знакомы Александру Максимовичу по шахматным журналам еще в Канаде.</p>
<p>Вика с трудом сидела на месте.</p>
<p>- Почему он не ходит пешкой? - все спрашивала она.</p>
<p>И противник Кости Куликова наконец сделал ход, щелкнув кнопкой шахматных часов:
 <span onclick='loadMove("8/1p3p2/5P2/8/pk1p3P/3P4/1P6/3K4 b - - 0 35", this, "h2h4"); ' class="line0">35.h4</span> 
. Вздох облегчения, а может быть, тревоги пронесся по залу. Куликов сразу ответил
 <span onclick='loadMove("8/1p3p2/5P2/8/p2p3P/1k1P4/1P6/3K4 w - - 0 36", this, "b4b3"); ' class="line0">35...Крb3</span> 
и тоже щелкнул кнопкой часов.</p>
<p>- Извините, тут еще покумекать надо, - глубокомысленно заметил Гусаков.</p>
<p>Мастер Верейский небрежно подвинул короля к своей пешке -
 <span onclick='loadMove("8/1p3p2/5P2/8/p2p3P/1k1P4/1P6/2K5 b - - 0 36", this, "d1c1"); ' class="line0">36.Крc1</span> 
- и так же небрежно потянулся к часам.</p>
<p>- Ага! - торжествующе процедил сквозь зубы Гусаков. -</p>
<p>Страшно стало? Мы своего ферзя с шахом бы поставили. Но...</p>
<p>как это наш Костя доигрался до этакого?</p>
<p>- Ну нет! Позиция еще не труп. Уверен, наш этюдист найдет что-нибудь изобрести.</p>
<p>- Изобрести? - повторил Гусаков и покосился на соседа.</p>
<p>- Посмотрите, извольте посмотреть! - зашептал тот.</p>
<p>Куликов сыграл
 <span onclick='loadMove("8/1p3p2/5P2/8/p2p3P/3P4/kP6/2K5 w - - 0 37", this, "b3a2"); ' class="line0">36...Крa2</span> 
.</p>
<!--p><img src="images/KAISA11.GIF" /></p-->
<div class="chessBoard analysis nobuttons" data-start-fen="8/1p3p2/5P2/8/p2p3P/3P4/kP6/2K5 w - - 0 37"></div>
<p>- Не оставляет его в покое, - заключил Гусаков. - Пешке что противопоставить надо? Известно что - опять же пешку!</p>
<p>- Это справедливо, но мне пока расчет неясен, - усомнился Александр Максимович. - Кажется, белые раньше поставят королеву.</p>
<p>- Ферзя, - раздраженно поправил Гусаков.</p>
<p>- Простите, детская привычка есть вторая натура.</p>
<p>- Первая, - почти огрызнулся Гусаков.</p>
<p>Он нервничал, и Вика ощущала это всем телом. И, может быть, потому сама она не могла совладать с собой, хотя и плоховато разбиралась в происходящем на доске. Да и чего это она так распсиховалась? Кто ей этот длинноволосый юноша? Брат? Сват?</p>
<p>Катя узнает - засмеет!</p>
<p>И все-таки Вика смотрела на демонстрационную доску не отрываясь.</p>
<p>Мастер Верейский невозмутимо двинул пешку к последней горизонтали -
 <span onclick='loadMove("8/1p3p2/5P2/7P/p2p4/3P4/kP6/2K5 b - - 0 37", this, "h4h5"); ' class="line0">37.h5</span> 
;
 <span onclick='loadMove("8/5p2/5P2/1p5P/p2p4/3P4/kP6/2K5 w - - 0 38", this, "b7b5"); ' class="line0">37...b5</span> 
- быстро ответил Куликов и встал, смотря на позицию сверху, потом перевел взгляд на большую висячую доску, где демонстратор передвигал длинной палкой его пешку "b". Костя словно сверял положение на двух досках.</p>
<p>- От исхода этой партии зависит, наберет ли он норму мастера, - заметил Гусаков. - Ничья ему нужна, как яхте ветер, чтобы в большое плавание выйти.</p>
<p>- Прошу простить, - удивился Александр Максимович. - Я полагал, Куликов уже маэстро.</p>
<p>- По шахматной композиции. А тут он дубль хочет устроить: и по практической игре тоже мастером стать.</p>
<p>- Похвально, весьма похвально. Мне очень импонирует этот молодой человек.</p>
<p>- Вы знаете, и мне тоже! - вдруг выпалила Вика и сердито закусила губу. И вечно ее заносит на поворотах!</p>
<p>Иван Тимофеевич посмотрел на нее с ласковым пониманием.</p>
<p>Мастер Верейский тем временем небрежно передвинул свою неотвратимо рвущуюся в ферзи пешку -
 <span onclick='loadMove("8/5p2/5P1P/1p6/p2p4/3P4/kP6/2K5 b - - 0 38", this, "h5h6"); ' class="line0">38.h6</span> 
;
 <span onclick='loadMove("8/5p2/5P1P/8/pp1p4/3P4/kP6/2K5 w - - 0 39", this, "b5b4"); ' class="line0">38...b4</span> 
- сразу ответил Куликов.
 <span onclick='loadMove("8/5p1P/5P2/8/pp1p4/3P4/kP6/2K5 b - - 0 39", this, "h6h7"); ' class="line0">39.h7</span> 
 <span onclick='loadMove("8/5p1P/5P2/8/1p1p4/p2P4/kP6/2K5 w - - 0 40", this, "a4a3"); ' class="line0">a3</span> 
 <span onclick='loadMove("8/5p1P/5P2/8/1p1p4/pP1P4/k7/2K5 b - - 0 40", this, "b2b3"); ' class="line0">40.b3</span> 
(12) - пожертвовал пешку Верейский;
 <span onclick='loadMove("8/5p1P/5P2/8/1p1p4/pP1P4/8/k1K5 w - - 0 41", this, "a2a1"); ' class="line0">40...Крa1</span> 
, - не думая, отказался от нее Куликов. Ходы эти были сделаны так быстро, что демонстратор уже позже стал показывать их зрителям.</p>
<p>- Уфф! - сказал Гусаков и полез в карман за платком, чтобы вытереть лоб. - Все, - сказал он. - Теперь белые запишут свой ход. Партия откладывается.</p>
<p>- Вот как? - разочарованно протянула Вика. - Они не закончат?</p>
<p>- Сейчас мы Костю порасспросим, что он думает, - пообещал Иван Тимофеевич.</p>
<p>Костя Куликов стоял засунув руки в карманы и смотрел, как трудится демонстратор. Потом отошел от столика и оказался среди зрителей. Увидел Вику, обрадовался, засиял. И тут перед ним появился Гусаков.</p>
<p>- О! Иван Тимофеевич! - воскликнул Костя. - Я так обрадовался!</p>
<p>- Вижу, - усмехнулся Гусаков. - Только чему тут радоваться? ферзя сейчас поставит.</p>
<p>Костя многозначительно поднес палец к губам и указал глазами на недовольного шумом длинноносого судью. Он осуждающе посматривал в зал от столика, за которым сидел задумавшись мастер Верейский.</p>
<p>- И чего он думает! - прошептала Вика.</p>
<p>Костя сделал вид, что только теперь увидел ее. Снова расцнел в улнбке:</p>
<p>- Вот не думал!..</p>
<p>- Я тоже не думала. Не думала, что вы так с треском проиграете.</p>
<p>- Уверяю вас, вы недооцениваете изобретателя, - сказал с почтительной улыбкой Александр Максимович.</p>
<p>- А, и вы здесь! - узнал туриста Куликов. - Полный стол!</p>
<p>Что заказывать будем? - улыбаясь, спросил он.</p>
<p>- Идея очень хороша. Кажется, совсем недалеко отсюда расположен великолепный ресторан "Прага"? Не рассмотреть ли нам там вашу позицию?</p>
<p>- Отчего же? - согласился Гусаков. - Заодно меня проводите.</p>
<p>Так случилось, что все четверо, встретившиеся на Останкинской телебашне, вновь оказались за ресторанным столиком и снова с развернутыми магнитными шахматами на белоснежной скатерти.</p>
<p>- Так вот почему нельзя ставить королеву, пардон, ферзя?</p>
<!--p><img src="images/KAISA12.GIF" /></p-->
<div class="chessBoard analysis nobuttons" data-start-fen="8/5p1P/5P2/8/1p1p4/pP1P4/8/k1K5 w - - 0 41"></div>
<p>Как это вы показали? (12) - и Александр Максимович стал переставлять магнитные фигурки. - Если
 <span onclick='loadMove("7Q/5p2/5P2/8/1p1p4/pP1P4/8/k1K5 b - - 0 41", this, "h7h8"); ' class="line1">41.h8Ф</span> 
, то
 <span onclick='loadMove("7Q/5p2/5P2/8/1p1p4/1P1P4/p7/k1K5 w - - 0 42", this, "a3a2"); ' class="line1">41...a2</span> 
 <span onclick='loadMove("7Q/5p2/5P2/8/1p1p4/1P1P4/p2K4/k7 b - - 0 42", this, "c1d2"); ' class="line1">42.Крd2</span> 
 <span onclick='loadMove("7Q/5p2/5P2/8/1p1p4/1P1P4/pk1K4/8 w - - 0 43", this, "a1b2"); ' class="line1">Крb2</span> 
 <span onclick='loadMove("3Q4/5p2/5P2/8/1p1p4/1P1P4/pk1K4/8 b - - 0 43", this, "h8d8"); ' class="line1">43.Фd8</span> 
(13), и что же теперь?</p>
<!--p><img src="images/KAISA13.GIF" /></p-->
<div class="chessBoard analysis nobuttons" data-start-fen="3Q4/5p2/5P2/8/1p1p4/1P1P4/pk1K4/8 b - - 0 43"></div>
<p>- А теперь
 <span onclick='loadMove("3Q4/5p2/5P2/8/1p1p4/1P1P4/1k1K4/q7 w - - 0 44", this, "a2a1"); ' class="line1">43...a1Ф</span> 
.</p>
<p>- Так ведь
 <span onclick='loadMove("8/5p2/5P2/8/1p1Q4/1P1P4/1k1K4/q7 b - - 0 44", this, "d8d4"); ' class="line1">44.Ф:d4+</span> 
и разгром! Не правда ли?</p>
<p>- Вовсе нет, - рассмеялся Костя.</p>
<p>- Как так, позвольте узнать?</p>
<p>- А чего ж тут узнавать-то? И так видно, - сказал Иван Тимофеевич и передвинул короля -
 <span onclick='loadMove("8/5p2/5P2/8/1p1Q4/1k1P4/3K4/q7 w - - 0 45", this, "b2b3"); ' class="line1">44...Кр:b3</span> 
. - Пожалуйте бриться. Можете скушать ферзя на a1 (
 <span onclick='loadMove("8/5p2/5P2/8/1p6/1k1P4/3K4/Q7 b - - 0 45", this, "d4a1"); ' class="line1">45.Ф:a1</span> 
), или, как вы говорите, королеву (14).</p>
<!--p><img src="images/KAISA14.GIF" /></p-->
<div class="chessBoard analysis nobuttons" data-start-fen="8/5p2/5P2/8/1p6/1k1P4/3K4/Q7 b - - 0 45"></div>
<p>- И будет пат черным! - обрадовался Александр Максимович. - Я же говорил, что этюдист непременно что-нибудь изобретет.</p>
<p>Ведь вы же прирожденный изобретатель? Не правда ли?</p>
<p>- Да, я рассчитывал на этот пат, - сказал Костя.</p>
<p>Вика восхищенно смотрела на него.</p>
<p>- А теперь рассказывайте.</p>
<p>- О чем?</p>
<p>- Про то, как на парашюте подниматься будем в поднебесные башни-трубы. Я ведь правильно поняла ваши секретничанья? - задорно говорила она.</p>
<p>- На парашюте? Вверх?-удивился Александр Максимович.</p>
<p>Гусаков нахмурился.</p>
<p>- Я имел в виду совсем не парашют, - смущаясь, начал Костя. - Я имел в виду тягу в трубе за счет разницы температур у ее вершины и у основания. Из-за этого в трубе возникает поток воздуха - тяга, и даже очень ощутимая.</p>
<p>- Для поднятия парашютов? - поинтересовалась Вика.</p>
<p>- Нет. Для вращения ветротурбин. При высоте трубы, скажем, в километр, при диаметре ее десять метров мощность турбины будет двадцать тысяч киловатт.</p>
<p>- Ну, брат, и болтун же ты!- рассердился Иван Тимофеевич, отворачиваясь от молчаливо слушавшего Александра Масимовича.</p>
<p>- И вовсе не болтун, - рассмеялся Костя. - Все подсчитанопересчитано. Перевернем энергетику Земного шара! Вот он рычаг, о котором мечтал Архимед! Не тепловые, не атомные и не гидростанции будем строить, а километровые трубы, всюду... Они ничему не помешают! Будут стоять, как исполинские деревья, и в любом месте дадут энергию, ту самую энергию, которую Солнце шлет на Землю, вечную неиссякаемую энергию. И никакого перегрева планеты! Вы сами меня, Иван Тимофеевич, натолкнули на эту идею, еще в детстве. Помните, тяга в трубе, вентилятор?</p>
<p>А где вентилятор, там и турбину поставить можно. Вопрос количественный. Все просто.</p>
<p>- А как же сооружать столь высокую трубу? - облизнув пересохшие губы, спросил инженер ван дер Ланге. Сердце у него так колотилось, что он прикрыл грудь салфеткой, чтобы не слышно было. Ведь на Западе энергетический кризис! "Поистине, бизнес - это прежде всего везение!"</p>
<p>- Ничего особенного, - отозвался Костя. - Останкинскую башню построили. В Польше еще выше строят. А японцы обратились к строителю Останкинской телебашни, инженеру Никитину, с просьбой помочь выстроить дом в километр высотой. Только Никитин доказал им невыгодность такого сооружения.</p>
<p>- Вот видишь, - назидательно сказал Гусаков.</p>
<p>- Это для дома невыгодно, - не сдавался Костя, - а для вездесущей электростанции, бестопливной, бесплотинной... во имя спасения планеты от перегрева и отравления атмосферы...</p>
<p>в особенности за рубежом, где с этим считаться не хотят...</p>
<p>Вика снова, как на телебашне, залюбовалась живыми, горящими глазами Кости и волнистыми его волосами (как у принца!).</p>
<p>- У меня диплом на другую тему был, а сейчас... я к своей мечте вернусь.</p>
<p>- Мечта о трубе поднебесной? - почему-то шепотом спросила Вика.</p>
<p>Костя кивнул и увлеченно продолжал:</p>
<p>- На километровой высоте всегда зимняя температура, а у подножия трубы даже зимой теплее, не говоря уже о лете! Поэтому столб воздуха в трубе легче, чем в атмосфере, снаружи.</p>
<p>И давление, создаваемое разницей этих весов, выталкивает внутренний столб воздуха - в трубе появляется вертикальный ветер, который и будет вращать турбину.</p>
<p>Иван Тимофеевич даже плюнул от возмущения.</p>
<p>- Ну и язык же у тобя... без костей, - сказал он. Потом, косясь на иностранца, стал уверять Костю во вздорности его идеи. - Ведь подумать только - километровая махина! Это какая же жесткость нужна? Говорю, язык без костей.</p>
<p>Александр Максимович согласно кивал, и это немного успокоило Гусакова. Но тут совсем некстати вмешалась Вика.</p>
<p>- Кстати, про жесткость и... про язык, как вы тут сказали.</p>
<p>A вы знаете "тещин язык"? - обратилась она к Косте.</p>
<p>Тот смутился.</p>
<p>- Да я не женат.</p>
<p>- Это видно. А игрушку такую - "тещин язык" знаете?</p>
<p>- Ах, бумажная трубка, свернутая? Подуешь в нее - и развернется.</p>
<p>- И даже стоймя поднимается, - подсказала Вика.</p>
<p>- Да, и вертикально, - согласился Костя.</p>
<p>- Так чего же вам еще надо?</p>
<p>- Как чего?</p>
<p>- А еще изобретатель! Километровые трубы, как деревья, всюду сажать хочет, - издевалась Вика.</p>
<p>- Так то же твердые трубы!</p>
<p>- А зачем вам неприменно твердые? Делайте "тещины языки"</p>
<p>из мягкого материала. Вертикальный ветер у вас в трубе появится, он и надует ее, поставит стоймя.</p>
<p>- Слушайте! Заслуженная артистка без публики! Да вы кто такая? Я вам инженерное звание присваиваю! Вы понимаете, что сказали!</p>
<p>- Только женщина и придумает такое! - покачал головой Иван Тимофеевич. - Юбку выдумала в километр высотой. Вот уж архимакси! Вы их не слушайте, - обратился он к иностранцу.</p>
<p>- Нет, почему же? - отозвался тот и залпом выпил стакан нарзана. - При энергетическом кризисе такие идеи ценны.</p>
<p>- Вы же соавтором моим становитесь... по проекту! Эх, если бы вы не были артисткой! - сокрушался Костя.</p>
<p>- Буду инженером, только для вас, - лукаво заверила Вика.</p>
<p>- Когда доигрывание-то? - хмуро осведомился Гусаков.</p>
<p>- Завтра утром. Ведь воскресенье.</p>
<p>- Стало быть, утром и увидимся. У меня поезд вечером. В понедельник - на работу.</p>
</div> <!-- score -->
</div> <!-- section -->

</div> <!-- iBook -->
{% endblock content %}

