{% extends '../../base.htm' %}
{% load static %}
{% block title %}
<title>About this Publication | {{book.title}} | {%for author in book.authors.all%} {%if author.first_name%} {{author.first_name}} {%endif%} {%if author.second_name%} {{author.second_name}} {%endif%} {%if forloop.counter == book.authors.all.count%} {{author.last_name}} {%else%} {{author.last_name}}, {%endif%} {%endfor%} | {{book.year}}</title>
{% endblock title %}
{% block content %}

<div class="iBook">

<div class="section">
<div class="chessBoard small floater" data-start-fen="rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w KQkq - 0 1"></div>
<div class="score">
 <span class="line0" onclick='loadMove("rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w KQkq - 0 1", this, ""); '>[...]</span> 
<h2>About this Publication</h2>
<p>The Grand Prix Attack is one of White’s most aggressive ways of fighting the Sicilian. It leads to a sharp, complex battle in which White often launches a direct attack against the black king. The opening has become a powerful weapon in the cut and thrust of tournament chess, where victory is everything and draws are not enough. It has even gained the seal of approval from elite players such as Vishy Anand and Nigel Short, who have both utilized it with success.</p>
<p>In this book Gawain Jones, one of the world’s leading experts on the Grand Prix Attack, provides everything you need to know about this opening. Using illustrative games and drawing upon his own wealth of experience, he introduces the key moves and ideas for both sides, taking care to explain the reasoning behind them – something that has often been neglected or taken for granted.</p>
<p>The Everyman Chess Starting Out series has firmly established itself as the leading guide to studying openings for up-and-coming players. These books are distinguished by their easy-to-read layout, the lucid explanations of the fundamentals, and the abundance of notes, tips and warnings to help the reader absorb vital ideas.</p>
<div class="notation message">
<p>• Covers all the main lines after <b>2.Nc3</b> and <b>3.f4</b></p>
<p>• Includes bonus chapters on the fashionable <b>2.Nc3 Nc6 3.Bb5</b></p>
<p>• Ideal for improvers, club players and tournament players</p>
</div>
<p>Gawain Jones is a Grandmaster who has rapidly established himself as one of the UK’s top players. He first hit the headlines when, as a nine-year-old, he became the youngest ever player to defeat an International Master in a competitive game. More recently he gained an individual silver medal playing top board at the 2006 European Club Championship, and in 2007 he made his debut for England at the European Team Championship.</p>
</div> <!-- score -->
</div> <!-- section -->

</div> <!-- iBook -->
{% endblock content %}
