{% extends '../../base.htm' %}
{% load static %}
{% block title %}
<title>Турнирные и матчевые результаты Эм. Ласкера | {{book.title}} | {%for author in book.authors.all%} {%if author.first_name%} {{author.first_name}} {%endif%} {%if author.second_name%} {{author.second_name}} {%endif%} {%if forloop.counter == book.authors.all.count%} {{author.last_name}} {%else%} {{author.last_name}}, {%endif%} {%endfor%} | {{book.year}}</title>
{% endblock title %}
{% block content %}

<div class="iBook">

<div class="section">
<div class="chessBoard small floater" data-start-fen="rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w KQkq - 0 1"></div>
<div class="score">
 <span class="line0" onclick='loadMove("rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w KQkq - 0 1", this, ""); '>[...]</span> 
<h2>Турнирные и матчевые результаты Эм. Ласкера</h2>
<table border="1">
<tr><td>Год</td><td>Соревнование</td><td>+</td><td>-</td><td>=</td><td>Место</td></tr>
<tr><td>1889</td><td>Бреславль (побочный турнир)</td><td>11</td><td>2</td><td>2</td><td>1</td></tr>
<tr><td>1889</td><td>Амстердам</td><td colspan="3" style="text-align:center;">6 из 8</td><td>2</td></tr>
<tr><td>1889</td><td>Матч Ласкер — Барделебен</td><td>2</td><td>1</td><td>1</td><td>—</td></tr>
<tr><td>1889/90</td><td>Матч Ласкер — Мизес</td><td>5</td><td>—</td><td>3</td><td>—</td></tr>
<tr><td>1890</td><td>Матч Ласкер — Берд</td><td>7</td><td>2</td><td>3</td><td>—</td></tr>
<tr><td>1890</td><td>Матч Ласкер — Ли</td><td>1</td><td>—</td><td>1</td><td>—</td></tr>
<tr><td>1890</td><td>Матч Ласкер—Энглиш</td><td>2</td><td>—</td><td>3</td><td>—</td></tr>
<tr><td>1890</td><td>Матч Ласкер — Миниати</td><td>4</td><td>1</td><td>—</td><td>—</td></tr>
<tr><td>1890</td><td>Берлин (турнир немецких мастеров)</td><td colspan="3" style="text-align:center;">5&frac12; из 7</td><td>1-2</td></tr>
<tr><td>1890</td><td>Грац (турнир мастеров)</td><td colspan="3" style="text-align:center;">4 из 7</td><td>3</td></tr>
<tr><td>1892</td><td>Лондон</td><td>8</td><td>1</td><td>2</td><td>1</td></tr>
<tr><td>1892</td><td>Лондон (турнир пяти)</td><td>5</td><td>—</td><td>3</td><td>1</td></tr>
<tr><td>1892</td><td>Матч Ласкер — Блэкберн</td><td>6</td><td>—</td><td>4</td><td>—</td></tr>
<tr><td>1892</td><td>Матч Ласкер — Берд</td><td>5</td><td>—</td><td>—</td><td>—</td></tr>
<tr><td>1892/93</td><td>Матч Ласкер — Шовальтер</td><td>6</td><td>2</td><td>2</td><td>—</td></tr>
<tr><td>1893</td><td>Матч Ласкер — Гольмайо</td><td>2</td><td>—</td><td>1</td><td>—</td></tr>
<tr><td>1893</td><td>Матч Ласкер — Васкез</td><td>3</td><td>—</td><td>—</td><td>—</td></tr>
<tr><td>1893</td><td>Матч Ласкер—Этлингер</td><td>5</td><td>—</td><td>—</td><td>—</td></tr>
<tr><td>1894</td><td>Матч Ласкер — Стейниц</td><td>10</td><td>5</td><td>4</td><td>—</td></tr>
<tr><td>1895</td><td>Гастингс</td><td>14</td><td>4</td><td>3</td><td>3</td></tr>
<tr><td>1895/96</td><td>Петербург</td><td>8</td><td>3</td><td>7</td><td>1</td></tr>
<tr><td>1896</td><td>Нюрнберг</td><td>12</td><td>3</td><td>3</td><td>1</td></tr>
<tr><td>1896/97</td><td>Матч-реванш Ласкер — Стейниц</td><td>10</td><td>2</td><td>5</td><td>—</td></tr>
<tr><td>1899</td><td>Лондон</td><td>20</td><td>1</td><td>7</td><td>1</td></tr>
<tr><td>1900</td><td>Париж</td><td>14</td><td>1</td><td>1</td><td>1</td></tr>
<tr><td>1903</td><td>Матч Ласкер — Чигорин (тематический матч гамбитом Райса)</td><td>1</td><td>2</td><td>3</td><td>—</td></tr>
<tr><td>1904</td><td>Кембридж-Спрингс</td><td>9</td><td>2</td><td>4</td><td>2-3</td></tr>
<tr><td>1907</td><td>Матч Ласкер—Маршалл</td><td>8</td><td>—</td><td>7</td><td>—</td></tr>
<tr><td>1908</td><td>Матч Ласкер — Тарраш</td><td>8</td><td>3</td><td>5</td><td>—</td></tr>
<tr><td>1908</td><td>Матч Ласкер — Шпейер</td><td>2</td><td>—</td><td>1</td><td>—</td></tr>
<tr><td>1909</td><td>Петербург</td><td>13</td><td>2</td><td>3</td><td>1-2</td></tr>
<tr><td>1909</td><td>Матч Ласкер — Яновский (предварительный)</td><td>2</td><td>2</td><td>—</td><td>—</td></tr>
<tr><td>1909</td><td>Матч Ласкер — Яновский</td><td>7</td><td>1</td><td>2</td><td>—</td></tr>
<tr><td>1910</td><td>Матч Ласкер — Шлехтер</td><td>1</td><td>1</td><td>8</td><td>—</td></tr>
<tr><td>1910</td><td>Матч Ласкер —Яновский</td><td>8</td><td>—</td><td>3</td><td>—</td></tr>
<tr><td>1914</td><td>Петербург</td><td>10</td><td>1</td><td>7</td><td>1</td></tr>
<tr><td>1916</td><td>Матч Ласкер — Тарраш</td><td>5</td><td>—</td><td>1</td><td>—</td></tr>
<tr><td>1918</td><td>Берлин</td><td>3</td><td>—</td><td>3</td><td>1</td></tr>
<tr><td>1921</td><td>Матч Ласкер — Капабланка</td><td>—</td><td>4</td><td>10</td><td>—</td></tr>
<tr><td>1923</td><td>Острава-Моравска</td><td>8</td><td>—</td><td>5</td><td>1</td></tr>
<tr><td>1924</td><td>Нью-Йорк</td><td>13</td><td>1</td><td>6</td><td>1</td></tr>
<tr><td>1925</td><td>Москва</td><td>10</td><td>2</td><td>8</td><td>2</td></tr>
<tr><td>1934</td><td>Цюрих</td><td>9</td><td>4</td><td>2</td><td>5</td></tr>
<tr><td>1935</td><td>Москва</td><td>6</td><td>—</td><td>13</td><td>3</td></tr>
<tr><td>1936</td><td>Москва</td><td>3</td><td>5</td><td>10</td><td>6</td></tr>
<tr><td>1936</td><td>Ноттингем</td><td>6</td><td>3</td><td>5</td><td>7-8</td></tr>
</table>
<!--p>281</p-->
</div> <!-- score -->
</div> <!-- section -->

</div> <!-- iBook -->
{% endblock content %}

