{% extends '../../base.htm' %}
{% load static %}
{% block title %}
<title>Предисловие | {{book.title}} | {%for author in book.authors.all%} {%if author.first_name%} {{author.first_name}} {%endif%} {%if author.second_name%} {{author.second_name}} {%endif%} {%if forloop.counter == book.authors.all.count%} {{author.last_name}} {%else%} {{author.last_name}}, {%endif%} {%endfor%} | {{book.year}}</title>
{% endblock title %}
{% block content %}

<div class="iBook">

<div class="section">
<div class="chessBoard small floater" data-start-fen="rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w KQkq - 0 1"></div>
<div class="score">
 <span class="line0" onclick='loadMove("rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w KQkq - 0 1", this, ""); '>[...]</span> 
<h2>Предисловие</h2>
<p>Мне давно хотелось прокомментировать партию так, чтобы сделать из нее небольшой учебник шахматной игры, вживить в ткань конкретного поединка какие-то общие законы борьбы. Однако, понимая невозможность объять необъятное, попробую это сделать хотя бы для начальной стадии партии. Но сначала небольшое вступление.</p>
<p>Да, шахматы — это борьба, по выражению 11-го чемпиона мира Роберта Фишера,— «тотальная война». Но, с другой стороны, эта прекрасная игра, по-моему, полностью заменяет войну. Меня давно подмывает предложить президенту ФИДЕ провести первенство мира среди... милитаристов. Может быть, тогда они одумаются и прекратят гонку вооружений? Во всяком случае, одна из древних индийских легенд о происхождении шахмат гласит: когда супруга какого-то непоседливого раджи устала от бесконечных войн, она с помощью приближенных изобрела столь захватывающую игру, что ее повелитель забыл обо всем на свете и в тех краях установился прочный мир. Этой игрой были шахматы — «этот прекрасный и яростный мир»! Мир искусства, в котором кроме борьбы ценится красота. И в этом мире, где есть доля и моего труда, уже полвека почетное место занимает староиндийская защита.</p>
<p>Нравится вам или нет, но автор книги по дебютам не может быть абсолютно объективным. Особенно это относится к системам и вариантам, которые он зачастую применяет в своей практике. Главная идея староиндийской защиты — (точнее, староиндийской атаки!) — это борьба против пешечного центра белых фигурами, которые должны быть своевременно поддержаны пешечными контрударами. Староиндийская защита — это асимметричный дебют! Стратегия черных основана на разрушении планов противника, и в то же время уже на ранней стадии дебюта черные пытаются реализовать собственный план контригры. По этой причине староиндийская защита должна изучаться исключительно как процесс перехода от дебюта к миттельшпилю. Соответственно, большую часть данной книги составляют партии, которые позволяют прослеживать эту связь.</p>
<!--p>6</p--><!--p>Э. Гуфельд «Староиндийская длиною в жизнь»</p-->
<p>Шахматный дебют — это подготовка к сражению, мобилизация фигур в центр. Именно в центр, ибо отсюда отлично просматривается все поле битвы. И тот, кто лучше подготовлен, кто лучше мобилизован — тот имеет больше шансов победить. Бывает, конечно, что партия выигрывается и другим способом, но мы будем говорить о научном подходе к шахматам.</p>
<p>Многое из того, что делается в дебюте, подчинено строго определенным законам. Здесь шахматы проявляются как наука. Но если бы эта игра была только сводом законов, она бы давно исчезла, вымерла: каждый изучил бы законы, неукоснительно следовал бы им, и на этом, собственно, все бы и кончилось. В том-то и дело, что, следуя правилам, мы добиваемся цели лишь в 80 случаях из ста, а 20 процентов составляют исключения, то есть те загадочные случаи, когда общие правила вдруг оказываются недействительными. И наоборот, если шахматист играет вопреки законам, даю гарантию, что у него будет 80 процентов ошибок из ста.</p>
<p>Вывод прост: надо очень хорошо знать правила, чтобы уметь находить исключения! В этом и только в этом я вижу научную сторону шахмат. Попробуем выявить по крайней мере два закона. Как уже говорилось, первая заповедь дебюта — быстрая мобилизация фигур в центр. Вторая, тесно с ней связанная,— захват центра пешками (и, естественно, противодействие этому со стороны противника). Конечно, само по себе наличие пешечного центра (скажем, пары пешек на d4 и e4) не сулит никаких материальных выгод, не создает никаких угроз. Но это мешает противнику осуществлять первую заповедь, то есть развивать фигуры по направлению к центру. Пешки стесняют силы противника, отнимают у неприятельских фигур удобные центральные поля. А теперь посмотрим, как действовали эти законы в конкретном дебюте — староиндийской защите.</p>
</div> <!-- score -->
</div> <!-- section -->

<div class="section">
<div class="chessBoard small floater" data-start-fen="rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w KQkq - 0 1"></div>
<div class="score">
 <span class="line0" onclick='loadMove("rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w KQkq - 0 1", this, ""); '>[...]</span> 
<p>
 <span onclick='loadMove("rnbqkbnr/pppppppp/8/8/3P4/8/PPP1PPPP/RNBQKBNR b KQkq d3 0 1", this, "d2d4"); ' class="line0">1.d4</span> 
 <span onclick='loadMove("rnbqkb1r/pppppppp/5n2/8/3P4/8/PPP1PPPP/RNBQKBNR w KQkq - 0 2", this, "g8f6"); ' class="line0">Кf6</span> 
 <span onclick='loadMove("rnbqkb1r/pppppppp/5n2/8/2PP4/8/PP2PPPP/RNBQKBNR b KQkq c3 0 2", this, "c2c4"); ' class="line0">2.c4</span> 
 <span onclick='loadMove("rnbqkb1r/pppppp1p/5np1/8/2PP4/8/PP2PPPP/RNBQKBNR w KQkq - 0 3", this, "g7g6"); ' class="line0">g6</span> 
 <span onclick='loadMove("rnbqkb1r/pppppp1p/5np1/8/2PP4/2N5/PP2PPPP/R1BQKBNR b KQkq - 0 3", this, "b1c3"); ' class="line0">3.Кc3</span> 
 <span onclick='loadMove("rnbqk2r/ppppppbp/5np1/8/2PP4/2N5/PP2PPPP/R1BQKBNR w KQkq - 0 4", this, "f8g7"); ' class="line0">Сg7</span> 
</p>
<!--img src="images/GufeldIndian2002-1.png" style="width:109pt;height:111pt;"/-->
<div class="chessBoard analysis nobuttons" data-start-fen="rnbqk2r/ppppppbp/5np1/8/2PP4/2N5/PP2PPPP/R1BQKBNR w KQkq - 0 4"></div>
<p>Что же произошло на первых ходах? Как исполнялись две заповеди дебюта? Белые явно преуспевают в захвате центра
<!--p>Раздел 1. Полвека вместе</p--><!--p>6</p-->
пешками, зато черные их опередили в развитии сил. Здесь, как в законе сообщающихся сосудов: насколько наполняется один сосуд — ровно настолько мелеет другой. Выигрываешь в одном — проигрываешь в другом.</p>
<p>
 <span onclick='loadMove("rnbqk2r/ppppppbp/5np1/8/2PPP3/2N5/PP3PPP/R1BQKBNR b KQkq e3 0 4", this, "e2e4"); ' class="line0">4.e4</span> 
 <span onclick='loadMove("rnbqk2r/ppp1ppbp/3p1np1/8/2PPP3/2N5/PP3PPP/R1BQKBNR w KQkq - 0 5", this, "d7d6"); ' class="line0">d6</span> 
</p>
<p>Каковы же должны быть дальнейшие действия сражающихся сторон? Логика размышления подсказывает: раз черные позволяют белым занять пешками центр, то в дальнейшем они приложат все силы, чтобы его разрушить. В свою очередь, белые будут стремиться сохранить пешечный центр и догнать черных в развитии. Рассмотрим наиболее популярный план дальнейшего сражения, когда белые приступают к развитию фигур.</p>
<p>
 <span onclick='loadMove("rnbqk2r/ppp1ppbp/3p1np1/8/2PPP3/2N2N2/PP3PPP/R1BQKB1R b KQkq - 0 5", this, "g1f3"); ' class="line0">5.Кf3</span> 
 <span onclick='loadMove("rnbq1rk1/ppp1ppbp/3p1np1/8/2PPP3/2N2N2/PP3PPP/R1BQKB1R w KQ - 0 6", this, "e8g8"); ' class="line0">0-0</span> 
 <span onclick='loadMove("rnbq1rk1/ppp1ppbp/3p1np1/8/2PPP3/2N2N2/PP2BPPP/R1BQK2R b KQ - 0 6", this, "f1e2"); ' class="line0">6.Сe2</span> 
 <span onclick='loadMove("rnbq1rk1/ppp2pbp/3p1np1/4p3/2PPP3/2N2N2/PP2BPPP/R1BQK2R w KQ e6 0 7", this, "e7e5"); ' class="line0">e5</span> 
</p>
<p>Лучшая контратака — это удар по центру! Его самый уязвимый объект — пешка d4. По ней и наносится удар. Теперь (если оставить без внимания безобидное
 <span onclick='loadMove("rnbq1rk1/ppp2pbp/3p1np1/4P3/2P1P3/2N2N2/PP2BPPP/R1BQK2R b KQ - 0 7", this, "d4e5"); ' class="line1">7.de</span> 
 <span onclick='loadMove("rnbq1rk1/ppp2pbp/5np1/4p3/2P1P3/2N2N2/PP2BPPP/R1BQK2R w KQ - 0 8", this, "d6e5"); ' class="line1">de</span> 
 <span onclick='loadMove("rnbq1rk1/ppp2pbp/5np1/4N3/2P1P3/2N5/PP2BPPP/R1BQK2R b KQ - 0 8", this, "f3e5"); ' class="line1">8.К:e5</span> 
 <span onclick='loadMove("rnbq1rk1/ppp2pbp/6p1/4N3/2P1n3/2N5/PP2BPPP/R1BQK2R w KQ - 0 9", this, "f6e4"); ' class="line1">К:e4</span> 
) белые оказываются перед выбором: закрыть центр
 <span onclick='loadMove("rnbq1rk1/ppp2pbp/3p1np1/3Pp3/2P1P3/2N2N2/PP2BPPP/R1BQK2R b KQ - 0 7", this, "d4d5"); ' class="line1">7.d5</span> 
, создавая мотивы для его дальнейшего подрыва посредством <b>f7-f5</b> и <b>c7-c6</b> или сохранить напряжение. Допустим, они выбирают последнее.</p>
<p>
 <span onclick='loadMove("rnbq1rk1/ppp2pbp/3p1np1/4p3/2PPP3/2N2N2/PP2BPPP/R1BQ1RK1 b - - 0 7", this, "e1g1"); ' class="line0">7.0-0</span> 
 <span onclick='loadMove("r1bq1rk1/ppp2pbp/2np1np1/4p3/2PPP3/2N2N2/PP2BPPP/R1BQ1RK1 w - - 0 8", this, "b8c6"); ' class="line0">Кc6</span> 
</p>
<p>Черные продолжают атаку пешки d4, вынуждая белых все-таки закрыть центр. Борьба начинается...</p>
</div> <!-- score -->
</div> <!-- section -->

<div class="section">
<div class="chessBoard small floater" data-start-fen="rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w KQkq - 0 1"></div>
<div class="score">
 <span class="line0" onclick='loadMove("rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w KQkq - 0 1", this, ""); '>[...]</span> 
<p>А что если белые предпочтут план фигурного воздействия на центральные поля?</p>
<p>
 <span onclick='loadMove("rnbqkbnr/pppppppp/8/8/3P4/8/PPP1PPPP/RNBQKBNR b KQkq d3 0 1", this, "d2d4"); ' class="line0">1.d4</span> 
 <span onclick='loadMove("rnbqkb1r/pppppppp/5n2/8/3P4/8/PPP1PPPP/RNBQKBNR w KQkq - 0 2", this, "g8f6"); ' class="line0">Кf6</span> 
 <span onclick='loadMove("rnbqkb1r/pppppppp/5n2/8/2PP4/8/PP2PPPP/RNBQKBNR b KQkq c3 0 2", this, "c2c4"); ' class="line0">2.c4</span> 
 <span onclick='loadMove("rnbqkb1r/pppppp1p/5np1/8/2PP4/8/PP2PPPP/RNBQKBNR w KQkq - 0 3", this, "g7g6"); ' class="line0">g6</span> 
 <span onclick='loadMove("rnbqkb1r/pppppp1p/5np1/8/2PP4/6P1/PP2PP1P/RNBQKBNR b KQkq - 0 3", this, "g2g3"); ' class="line0">3.g3</span> 
 <span onclick='loadMove("rnbqk2r/ppppppbp/5np1/8/2PP4/6P1/PP2PP1P/RNBQKBNR w KQkq - 0 4", this, "f8g7"); ' class="line0">Сg7</span> 
 <span onclick='loadMove("rnbqk2r/ppppppbp/5np1/8/2PP4/6P1/PP2PPBP/RNBQK1NR b KQkq - 0 4", this, "f1g2"); ' class="line0">4.Сg2</span> 
 <span onclick='loadMove("rnbq1rk1/ppppppbp/5np1/8/2PP4/6P1/PP2PPBP/RNBQK1NR w KQ - 0 5", this, "e8g8"); ' class="line0">0-0</span> 
 <span onclick='loadMove("rnbq1rk1/ppppppbp/5np1/8/2PP4/2N3P1/PP2PPBP/R1BQK1NR b KQ - 0 5", this, "b1c3"); ' class="line0">5.Кc3</span> 
 <span onclick='loadMove("rnbq1rk1/ppp1ppbp/3p1np1/8/2PP4/2N3P1/PP2PPBP/R1BQK1NR w KQ - 0 6", this, "d7d6"); ' class="line0">d6</span> 
 <span onclick='loadMove("rnbq1rk1/ppp1ppbp/3p1np1/8/2PP4/2N2NP1/PP2PPBP/R1BQK2R b KQ - 0 6", this, "g1f3"); ' class="line0">6.Кf3</span> 
</p>
<p>Белые заканчивают развитие королевского фланга, но черным, чтобы атаковать пешечный центр посредством <b>e7-e5</b> осталось сделать подготовительный ход
 <span onclick='loadMove("r1bq1rk1/pppnppbp/3p1np1/8/2PP4/2N2NP1/PP2PPBP/R1BQK2R w KQ - 0 7", this, "b8d7"); ' class="line1">6...Кbd7</span> 
. Первое время он и считался основным продолжением. Но пока белые не расширили пешечный плацдарм черные могут развить коня и на более активную позицию.</p>
<p>
 <span onclick='loadMove("r1bq1rk1/ppp1ppbp/2np1np1/8/2PP4/2N2NP1/PP2PPBP/R1BQK2R w KQ - 0 7", this, "b8c6"); ' class="line0">6...Кc6</span> 
</p>
<p>Этим ходом черные, не отказываясь от атаки пешкой е, расширяют круг своих возможностей. К тому же
 <span onclick='loadMove("r1bq1rk1/ppp1ppbp/2np1np1/8/2PP4/2N2NP1/PP2PPBP/R1BQK2R w KQ - 0 7", this, "b8c6"); ' class="line1">6...Кc6</span> 
это и своеобразная провокация: черные как бы приглашают пешку d напасть на коня. Однако после
 <span onclick='loadMove("r1bq1rk1/ppp1ppbp/2np1np1/3P4/2P5/2N2NP1/PP2PPBP/R1BQK2R b KQ - 0 7", this, "d4d5"); ' class="line1">7.d5</span> 
 <span onclick='loadMove("r1bq1rk1/ppp1ppbp/3p1np1/n2P4/2P5/2N2NP1/PP2PPBP/R1BQK2R w KQ - 0 8", this, "c6a5"); ' class="line1">Кa5</span> 
белые вынуждены защищать пешку c4, и после
 <!--span onclick='loadMove("r1bq1rk1/ppp1ppbp/3p1np1/n2P4/2P5/2N2NP1/PP2PPBP/R1BQK2R b KQ - 0 8", this, "c6a5"); ' class="line1">8.z0</span--> 

 <span onclick='loadMove("r1bq1rk1/pp2ppbp/3p1np1/n1pP4/2P5/2N2NP1/PP2PPBP/R1BQK2R w KQ c6 0 9", this, "c7c5"); ' class="line1">8...c5</span> 
(для безопасности коня), черные получают возможность не только атаковать пешку d5 ходом <b>e7-e6</b>, но и ферзевый фланг - <b>a7-a6</b>, <b>Лa8-b8</b> и <b>b7-b5</b>. В итоге достигнут своей главной цели: вскроют линии для контратаки.</p>
</div> <!-- score -->
</div> <!-- section -->

<div class="section">
<div class="chessBoard small floater" data-start-fen="rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w KQkq - 0 1"></div>
<div class="score">
 <span class="line0" onclick='loadMove("rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w KQkq - 0 1", this, ""); '>[...]</span> 
<p>Еще больше аргументов в пользу развития коня на c6 можно привести при развитии
<!--p>8</p--><!--p>Э. Гуфельд «Староиндийская длиною в жизнь»</p-->
белых по системе Земиша</p>
<p>
 <span onclick='loadMove("rnbqkbnr/pppppppp/8/8/3P4/8/PPP1PPPP/RNBQKBNR b KQkq d3 0 1", this, "d2d4"); ' class="line0">1.d4</span> 
 <span onclick='loadMove("rnbqkb1r/pppppppp/5n2/8/3P4/8/PPP1PPPP/RNBQKBNR w KQkq - 0 2", this, "g8f6"); ' class="line0">Кf6</span> 
 <span onclick='loadMove("rnbqkb1r/pppppppp/5n2/8/2PP4/8/PP2PPPP/RNBQKBNR b KQkq c3 0 2", this, "c2c4"); ' class="line0">2.c4</span> 
 <span onclick='loadMove("rnbqkb1r/pppppp1p/5np1/8/2PP4/8/PP2PPPP/RNBQKBNR w KQkq - 0 3", this, "g7g6"); ' class="line0">g6</span> 
 <span onclick='loadMove("rnbqkb1r/pppppp1p/5np1/8/2PP4/2N5/PP2PPPP/R1BQKBNR b KQkq - 0 3", this, "b1c3"); ' class="line0">3.Кc3</span> 
 <span onclick='loadMove("rnbqk2r/ppppppbp/5np1/8/2PP4/2N5/PP2PPPP/R1BQKBNR w KQkq - 0 4", this, "f8g7"); ' class="line0">Сg7</span> 
 <span onclick='loadMove("rnbqk2r/ppppppbp/5np1/8/2PPP3/2N5/PP3PPP/R1BQKBNR b KQkq e3 0 4", this, "e2e4"); ' class="line0">4.e4</span> 
 <span onclick='loadMove("rnbqk2r/ppp1ppbp/3p1np1/8/2PPP3/2N5/PP3PPP/R1BQKBNR w KQkq - 0 5", this, "d7d6"); ' class="line0">d6</span> 
 <span onclick='loadMove("rnbqk2r/ppp1ppbp/3p1np1/8/2PPP3/2N2P2/PP4PP/R1BQKBNR b KQkq - 0 5", this, "f2f3"); ' class="line0">5.f3</span> 
 <span onclick='loadMove("rnbq1rk1/ppp1ppbp/3p1np1/8/2PPP3/2N2P2/PP4PP/R1BQKBNR w KQ - 0 6", this, "e8g8"); ' class="line0">0-0</span> 
 <span onclick='loadMove("rnbq1rk1/ppp1ppbp/3p1np1/8/2PPP3/2N1BP2/PP4PP/R2QKBNR b KQ - 0 6", this, "c1e3"); ' class="line0">6.Сe3</span> 
,</p>
<p>которая подразумевает эвакуацию короля на ферзевый фланг. После</p>
<p>
 <span onclick='loadMove("r1bq1rk1/ppp1ppbp/2np1np1/8/2PPP3/2N1BP2/PP4PP/R2QKBNR w KQ - 0 7", this, "b8c6"); ' class="line0">6...Кc6</span> 
 <span onclick='loadMove("r1bq1rk1/ppp1ppbp/2np1np1/8/2PPP3/2N1BP2/PP1Q2PP/R3KBNR b KQ - 0 7", this, "d1d2"); ' class="line0">7.Фd2</span> 
</p>
<p>(здесь на
 <span onclick='loadMove("r1bq1rk1/ppp1ppbp/2np1np1/3P4/2P1P3/2N1BP2/PP4PP/R2QKBNR b KQ - 0 7", this, "d4d5"); ' class="line1">7.d5</span> 
последует
 <span onclick='loadMove("r1bq1rk1/ppp1ppbp/3p1np1/3Pn3/2P1P3/2N1BP2/PP4PP/R2QKBNR w KQ - 0 8", this, "c6e5"); ' class="line1">7...Кe5!</span> 
и черные подрывают центр ходом <b>c7-c6</b>)</p>
<p>
 <span onclick='loadMove("r1bq1rk1/1pp1ppbp/p1np1np1/8/2PPP3/2N1BP2/PP1Q2PP/R3KBNR w KQ - 0 8", this, "a7a6"); ' class="line0">7...a6</span> 
 <span onclick='loadMove("r1bq1rk1/1pp1ppbp/p1np1np1/8/2PPP3/2N1BP2/PP1Q2PP/2KR1BNR b - - 0 8", this, "e1c1"); ' class="line0">8.0-0-0</span> 
 <span onclick='loadMove("1rbq1rk1/1pp1ppbp/p1np1np1/8/2PPP3/2N1BP2/PP1Q2PP/2KR1BNR w - - 0 9", this, "a8b8"); ' class="line0">Лb8</span> 
</p>
<p>с последующим <b>b7-b5</b>, объектом контратаки становится король.</p>
<p>Теперь несколько странный ход
 <span onclick='loadMove("r1bq1rk1/ppp1ppbp/2np1np1/8/2PPP3/2N1BP2/PP4PP/R2QKBNR w KQ - 0 7", this, "b8c6"); ' class="line1">6...Кc6</span> 
становится совершенно понятным. Черные не только следуют заповеди (развивают фигуру в центр), но и предвидят дальнейшие события.</p>
<p>Так постепенно мы подошли к идее развития коня на c6 на конкретных примерах. Но на эту идею можно посмотреть значительно шире. В предлагаемой книге тема развития коня на c6 (перед пешкой c7) рассматривается в качестве универсального средства и в других системах развития белых. Я попытался сконцентрировать свой многолетний опыт в староиндийской защите, на основании которого сделан вывод, что это лучший способ решения проблемы ферзевого коня (а она в этом дебюте несомненно существует).</p>
<!--p>Раздел 1. Полвека вместе</p--><!--p>9</p-->
</div> <!-- score -->
</div> <!-- section -->

</div> <!-- iBook -->

{% endblock content %}
