{% extends '../../base.htm' %}
{% load static %}
{% block title %}
<title>ВВЕДЕНИЕ | {{book.title}} | {%for author in book.authors.all%} {%if author.first_name%} {{author.first_name}} {%endif%} {%if author.second_name%} {{author.second_name}} {%endif%} {%if forloop.counter == book.authors.all.count%} {{author.last_name}} {%else%} {{author.last_name}}, {%endif%} {%endfor%} | {{book.year}}</title>
{% endblock title %}
{% block content %}

<div class="iBook">

            <h1 class="floater">ВВЕДЕНИЕ</h1>

<div class="score">
<p>Дебютная стратегия является самой трудной темой в изучении
шахматного искусства. Данная работа (одна из немногих в безбрежном море
шахматной литературы) призвана помочь читателям решить проблему изучения теории
дебютов и сформировать надежный дебютный репертуар. Автор предлагает
материал, пригодный как для малоопытных шахматистов, так и для игроков высокого
уровня.</p>

<p>Одной из важнейших задач для шахматиста, стремящегося к
покорению спортивных вершин, является формирование дебютного репертуара. Это
достаточно сложный и трудоемкий процесс, который автор проходит вместе с
читателем.</p>

<p>Дебютный репертуар строится в зависимости от множества
факторов, среди которых можно выделить стиль шахматиста (комбинационный или позиционный), его
характер, склонность к разыгрыванию тех или иных позиций, его опыт, турнирное
положение и т.д.</p>

<p>Данная книга адресована в первую очередь шахматистам,
любящим атаковать или вынужденным играть остро в соответствии со своим турнирным
положением.</p>

<p>Автор выбрал перспективные и качественные системы,
открывающие широкий простор для ваших комбинационных способностей. К этому
же материалу, вне всяких сомнений, следует обратиться и начинающим шахматистам,
становление стиля которых зависит в первую очередь от освоения принципов открытой
острой игры.</p>

<p>Малоискушенным шахматистам адресована, в первую очередь, и
глава «Стратегия дебюта», позволяющая лучше усвоить основные дебютные принципы.</p>

<p>Белыми рекомендуется начинать партию ходом <b>1.e2-e4!</b>
(грозное оружие Роберта Фишера) и в ответ на <b>1...e7-e5</b> избрать <b>2.Кb1-c3</b>
(Венская партия). Этот дебют позволяет получить перспективные, атакующие
позиции и требует от черных чрезвычайной точности. А если вы будете продолжать
исследовательскую работу, то сможете отточить вое дебютное оружие до полного
блеска. Напомним блестящий успех в межзональном турнире (Амстердам 1964) Бента
Ларсена, достигнутый во многом благодаря «венке».</p>

<p>На <b>1...c7-c5</b> - коварная и острая система <b>2.f2-f4!</b>, от которой
до сих пор не найдено достаточное противоядие. Против Французской защиты и
Каро-Канн советуем схемы с <b>3.e4-e5</b>, ведущие к острой игре с шансами на атаку у
белых.</p>

<p>С защитами Пирца-Уфимцева и Робача перспективно бороться
активными схемами, связанными с созданием мощного пешечного кулака в центре.
Это же относится и к защите Алехина, про которую сам Алехин говорил, что если и
существует опровержение его защиты, то только в варианте четырех пешек.</p>

<hr />

<p>Проблемы черного цвета в ответ на <b>1.e2-e4</b> автор предлагает
решать, применяя вариант Дракона. Хотя он и не имеет репутации стопроцентно
надежного, зато позволяет черным получить острую интересную игру с большими
контршансами, ведь недаром его включили в свой репертуар такие звезды первой
величины, как Г.Каспаров, В.Ананд, В.Иванчук, В.Топалов, А.Халифман. Особенно
эффективно применение Дракона в смешанных турнирах, где он приносит своим поклонникам
много очков.</p>

<p>На <b>1.d2-d4</b> есть универсальная схема Ленинградского
варианта голландской защиты, также отлично подходящая для смешанных турниров.
Удобство этого варианта еще и в том, что он практически позволяет игнорировать
первые ходы белых и проводить свой план, а от соперника требует очень точной
игры в дебюте. Таковы основные дебютные схемы данного тома, рекомендованные читателям.</p>

<p>Стоит отметить, что автор дает самый современный шахматный
материал, зачастую уточняя и опровергая устоявшиеся оценки. Поэтому работа
будет полезна не только широкому кругу любителей шахмат, делающим первые шаги в
изучении теории, но и опытным шахматистам, которые, изучив книгу, смогут
по-новому взглянуть на многие известные позиции.</p>

<p>Автор уверен, что данная работа поможет вам решить сложные
проблемы с формированием дебютного репертуара, в том числе важнейшую -
проблему черного цвета! Ведь грамотный репертуар даст возможность существенно
повысить класс вашей игры и улучшить турнирные результаты.</p>

<p>Надеюсь, что книга будет полезна всем желающим повысить
свое шахматное мастерство.</p>
<br />
<p style="text-align:right;font-weight:bold;">Николай Калиниченко</p>

</div> <!-- score -->

</div> <!-- iBook -->

{% endblock content %}

