{% extends '../../base.htm' %}
{% load static %}
{% block title %}
<title>№ 3. Свешников - Рамеш | {{book.title}} | {%for author in book.authors.all%} {%if author.first_name%} {{author.first_name}} {%endif%} {%if author.second_name%} {{author.second_name}} {%endif%} {%if forloop.counter == book.authors.all.count%} {{author.last_name}} {%else%} {{author.last_name}}, {%endif%} {%endfor%} | {{book.year}}</title>
{% endblock title %}
{% block content %}

<div class="iBook">

<div class="section">
<div class="chessBoard small floater" data-start-fen="rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w KQkq - 0 1"></div>
<div class="score">
<p class="capTop diagram">№ 3. <strong>Свешников - Рамеш</strong><br />Дубай 2001<br /><i>Сицилианская защита</i></p>
<span class="line0" onclick='loadMove("rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w KQkq - 0 1", this, ""); '>[...]</span> 
<p class="longNotation">
 <span onclick='loadMove("rnbqkbnr/pppppppp/8/8/4P3/8/PPPP1PPP/RNBQKBNR b KQkq e3 0 1", this, "e2e4"); ' class="line0">1.e2-e4</span> 
 <span onclick='loadMove("rnbqkbnr/pp1ppppp/8/2p5/4P3/8/PPPP1PPP/RNBQKBNR w KQkq c6 0 2", this, "c7c5"); ' class="line0">c7-c5</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("rnbqkbnr/pp1ppppp/8/2p5/4PP2/8/PPPP2PP/RNBQKBNR b KQkq f3 0 2", this, "f2f4"); ' class="line0">2.f2-f4</span> 
 <span onclick='loadMove("rnbqkbnr/pp2pppp/8/2pp4/4PP2/8/PPPP2PP/RNBQKBNR w KQkq d6 0 3", this, "d7d5"); ' class="line0">d7-d5</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("rnbqkbnr/pp2pppp/8/2pP4/5P2/8/PPPP2PP/RNBQKBNR b KQkq - 0 3", this, "e4d5"); ' class="line0">3.e4:d5</span> 
 <span onclick='loadMove("rnb1kbnr/pp2pppp/8/2pq4/5P2/8/PPPP2PP/RNBQKBNR w KQkq - 0 4", this, "d8d5"); ' class="line0">Фd8:d5</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("rnb1kbnr/pp2pppp/8/2pq4/5P2/2N5/PPPP2PP/R1BQKBNR b KQkq - 0 4", this, "b1c3"); ' class="line0">4.Кb1-c3</span> 
 <span onclick='loadMove("rnbqkbnr/pp2pppp/8/2p5/5P2/2N5/PPPP2PP/R1BQKBNR w KQkq - 0 5", this, "d5d8"); ' class="line0">Фd5-d8</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("rnbqkbnr/pp2pppp/8/2p5/5P2/2N2N2/PPPP2PP/R1BQKB1R b KQkq - 0 5", this, "g1f3"); ' class="line0">5.Кg1-f3</span> 
 <span onclick='loadMove("r1bqkbnr/pp2pppp/2n5/2p5/5P2/2N2N2/PPPP2PP/R1BQKB1R w KQkq - 0 6", this, "b8c6"); ' class="line0">Кb8-c6</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("r1bqkbnr/pp2pppp/2n5/1Bp5/5P2/2N2N2/PPPP2PP/R1BQK2R b KQkq - 0 6", this, "f1b5"); ' class="line0">6.Сf1-b5</span> 
 <span onclick='loadMove("r2qkbnr/pp1bpppp/2n5/1Bp5/5P2/2N2N2/PPPP2PP/R1BQK2R w KQkq - 0 7", this, "c8d7"); ' class="line0">Сc8-d7</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("r2qkbnr/pp1bpppp/2n5/1Bp5/5P2/2N2N2/PPPP2PP/R1BQ1RK1 b kq - 0 7", this, "e1g1"); ' class="line0">7.0-0</span> 
 <span onclick='loadMove("r2qkbnr/pp1b1ppp/2n1p3/1Bp5/5P2/2N2N2/PPPP2PP/R1BQ1RK1 w kq - 0 8", this, "e7e6"); ' class="line0">e7-e6</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("r2qkbnr/pp1b1ppp/2B1p3/2p5/5P2/2N2N2/PPPP2PP/R1BQ1RK1 b kq - 0 8", this, "b5c6"); ' class="line0">8.Сb5:c6</span> 
 <span onclick='loadMove("r2qkbnr/pp3ppp/2b1p3/2p5/5P2/2N2N2/PPPP2PP/R1BQ1RK1 w kq - 0 9", this, "d7c6"); ' class="line0">Сd7:c6</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("r2qkbnr/pp3ppp/2b1p3/2p1N3/5P2/2N5/PPPP2PP/R1BQ1RK1 b kq - 0 9", this, "f3e5"); ' class="line0">9.Кf3-e5</span> 
 <span onclick='loadMove("2rqkbnr/pp3ppp/2b1p3/2p1N3/5P2/2N5/PPPP2PP/R1BQ1RK1 w k - 0 10", this, "a8c8"); ' class="line0">Лa8-c8</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("2rqkbnr/pp3ppp/2b1p3/2p1N3/5P2/2N5/PPPPQ1PP/R1B2RK1 b k - 0 10", this, "d1e2"); ' class="line0">10.Фd1-e2</span> 
 <span onclick='loadMove("2rqk1nr/pp2bppp/2b1p3/2p1N3/5P2/2N5/PPPPQ1PP/R1B2RK1 w k - 0 11", this, "f8e7"); ' class="line0">Сf8-e7</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("2rqk1nr/pp2bppp/2b1p3/2p1N3/5P2/2NP4/PPP1Q1PP/R1B2RK1 b k - 0 11", this, "d2d3"); ' class="line0">11.d2-d3</span> 
 <span class="ellipsis0">...</span> 
</p>
<p>Логичным представляется ход
 <span onclick='loadMove("2rqk1nr/pp2bppp/2b1p3/2p1NP2/8/2N5/PPPPQ1PP/R1B2RK1 b k - 0 11", this, "f4f5"); ' class="line1">11.f5</span>. После
 <span onclick='loadMove("2rqk1nr/pp2bppp/2b5/2p1Np2/8/2N5/PPPPQ1PP/R1B2RK1 w k - 0 12", this, "e6f5"); ' class="line1">11...ef</span> 
 <span onclick='loadMove("2rqk1nr/pp2bppp/2b5/2p1NR2/8/2N5/PPPPQ1PP/R1B3K1 b k - 0 12", this, "f1f5"); ' class="line1">12.Л:f5</span> 
 <span onclick='loadMove("2rqk2r/pp2bppp/2b2n2/2p1NR2/8/2N5/PPPPQ1PP/R1B3K1 w k - 0 13", this, "g8f6"); ' class="line1">Кf6</span> 
 <span onclick='loadMove("2rqk2r/pp2bppp/2b2n2/2p1NR2/8/2NP4/PPP1Q1PP/R1B3K1 b k - 0 13", this, "d2d3"); ' class="line1">13.d3!?</span> 
 <span onclick='loadMove("2rq1rk1/pp2bppp/2b2n2/2p1NR2/8/2NP4/PPP1Q1PP/R1B3K1 w - - 0 14", this, "e8g8"); ' class="line1">0-0</span> 
 <span onclick='loadMove("2rq1rk1/pp2bppp/2b2n2/2p1NR2/8/2NPB3/PPP1Q1PP/R5K1 b - - 0 14", this, "c1e3"); ' class="line1">14.Сe3</span> 
белые сохраняют некоторое давление.</p>
<p class="longNotation">
 <span class="ellipsis0">11. ...</span> 
 <span onclick='loadMove("2rqk2r/pp2bppp/2b1pn2/2p1N3/5P2/2NP4/PPP1Q1PP/R1B2RK1 w k - 0 12", this, "g8f6"); ' class="line0">Кg8-f6</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("2rqk2r/pp2bppp/2b1pn2/2p1N3/5P2/2NPB3/PPP1Q1PP/R4RK1 b k - 0 12", this, "c1e3"); ' class="line0">12.Сc1-e3</span> 
 <span class="ellipsis0">...</span> 
</p>
<!--p>204</p><p>Примерные партии</p-->
<p>И здесь возможно
 <span onclick='loadMove("2rqk2r/pp2bppp/2b1pn2/2p1NP2/8/2NP4/PPP1Q1PP/R1B2RK1 b k - 0 12", this, "f4f5"); ' class="line1">12.f5</span>, сводя игру к варианту, рассмотренному выше.</p>
<p class="longNotation">
 <span class="ellipsis0">12. ...</span> 
 <span onclick='loadMove("2rq1rk1/pp2bppp/2b1pn2/2p1N3/5P2/2NPB3/PPP1Q1PP/R4RK1 w - - 0 13", this, "e8g8"); ' class="line0">0-0</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("2rq1rk1/pp2bppp/2b1pn2/2p1N3/5P2/2NPB3/PPP1Q1PP/3R1RK1 b - - 0 13", this, "a1d1"); ' class="line0">13.Лa1-d1</span> 
 <span onclick='loadMove("2rq1rk1/pp2bppp/2b1p3/2pnN3/5P2/2NPB3/PPP1Q1PP/3R1RK1 w - - 0 14", this, "f6d5"); ' class="line0">Кf6-d5</span> 
</p>
<p>На
 <span onclick='loadMove("2rq1rk1/pp1nbppp/2b1p3/2p1N3/5P2/2NPB3/PPP1Q1PP/3R1RK1 w - - 0 14", this, "f6d7"); ' class="line1">13...Кd7</span> 
неплохо выглядит
 <span onclick='loadMove("2rq1rk1/pp1nbppp/2b1p3/2p1N3/5PQ1/2NPB3/PPP3PP/3R1RK1 b - - 0 14", this, "e2g4"); ' class="line1">14.Фg4!?</span>, подтягивая ферзя к театру военных действий.</p>
<p class="longNotation">
 <span onclick='loadMove("2rq1rk1/pp2bppp/2b1p3/2pNN3/5P2/3PB3/PPP1Q1PP/3R1RK1 b - - 0 14", this, "c3d5"); ' class="line0">14.Кc3:d5</span> 
 <span onclick='loadMove("2rq1rk1/pp2bppp/2b5/2ppN3/5P2/3PB3/PPP1Q1PP/3R1RK1 w - - 0 15", this, "e6d5"); ' class="line0">e6:d5</span> 
</p>
<p>
 <span onclick='loadMove("2rq1rk1/pp2bppp/4p3/2pbN3/5P2/3PB3/PPP1Q1PP/3R1RK1 w - - 0 15", this, "c6d5"); ' class="line1">14...С:d5</span> 
 <span onclick='loadMove("2rq1rk1/pp2bppp/4p3/2pbN3/2P2P2/3PB3/PP2Q1PP/3R1RK1 b - c3 0 15", this, "c2c4"); ' class="line1">15.c4</span> 
 <span onclick='loadMove("2rq1rk1/pp2bppp/2b1p3/2p1N3/2P2P2/3PB3/PP2Q1PP/3R1RK1 w - - 0 16", this, "d5c6"); ' class="line1">Сc6</span> 
 <span onclick='loadMove("2rq1rk1/pp2bppp/2b1p3/2p1N3/2PP1P2/4B3/PP2Q1PP/3R1RK1 b - - 0 16", this, "d3d4"); ' class="line1">16.d4</span> 
<span class="CAChess">&#24;</span>.</p>
<p class="longNotation">
 <span onclick='loadMove("2rq1rk1/pp2bppp/2b5/2ppN3/3P1P2/4B3/PPP1Q1PP/3R1RK1 b - - 0 15", this, "d3d4"); ' class="line0">15.d3-d4</span> 
 <span onclick='loadMove("2rq1rk1/pp2bppp/2b5/3pN3/2pP1P2/4B3/PPP1Q1PP/3R1RK1 w - - 0 16", this, "c5c4"); ' class="line0">c5-c4</span> 
</p>
<p>Не решало дебютных проблем
 <span onclick='loadMove("2rqr1k1/pp2bppp/2b5/2ppN3/3P1P2/4B3/PPP1Q1PP/3R1RK1 w - - 0 16", this, "f8e8"); ' class="line1">15...Лe8</span> 
 <span onclick='loadMove("2rqr1k1/pp2bppp/2b5/2PpN3/5P2/4B3/PPP1Q1PP/3R1RK1 b - - 0 16", this, "d4c5"); ' class="line1">16.dc!</span> 
(<span onclick='loadMove("2rqr1k1/pp2bppp/2b5/2ppNP2/3P4/4B3/PPP1Q1PP/3R1RK1 b - - 0 16", this, "f4f5"); ' class="line2">16.f5?</span> 
 <span onclick='loadMove("2rqr1k1/pp3ppp/2b2b2/2ppNP2/3P4/4B3/PPP1Q1PP/3R1RK1 w - - 0 17", this, "e7f6"); ' class="line2">Сf6</span>)
 <span onclick='loadMove("2r1r1k1/pp2bppp/2b5/q1PpN3/5P2/4B3/PPP1Q1PP/3R1RK1 w - - 0 17", this, "d8a5"); ' class="line1">16...Фa5</span> 
(<span onclick='loadMove("2rqr1k1/pp3ppp/2b2b2/2PpN3/5P2/4B3/PPP1Q1PP/3R1RK1 w - - 0 17", this, "e7f6"); ' class="line2">16...Сf6</span> 
 <span onclick='loadMove("2rqr1k1/pp3ppp/2b2b2/2PpN3/3B1P2/8/PPP1Q1PP/3R1RK1 b - - 0 17", this, "e3d4"); ' class="line2">17.Сd4</span>)
 <span onclick='loadMove("2r1r1k1/pp2bppp/2b5/q1PpN3/5P2/4B3/PPPQ2PP/3R1RK1 b - - 0 17", this, "e2d2"); ' class="line1">17.Фd2</span> 
 <span onclick='loadMove("2r1r1k1/pp2bppp/2b5/2PpN3/5P2/4B3/PPPq2PP/3R1RK1 w - - 0 18", this, "a5d2"); ' class="line1">Ф:d2</span> 
 <span onclick='loadMove("2r1r1k1/pp2bppp/2b5/2PpN3/5P2/4B3/PPPR2PP/5RK1 b - - 0 18", this, "d1d2"); ' class="line1">18.Л:d2</span> 
 <span onclick='loadMove("2r1r1k1/pp2bppp/8/1bPpN3/5P2/4B3/PPPR2PP/5RK1 w - - 0 19", this, "c6b5"); ' class="line1">Сb5</span> 
 <span onclick='loadMove("2r1r1k1/pp2bppp/8/1bPpN3/5P2/4B3/PPPR2PP/3R2K1 b - - 0 19", this, "f1d1"); ' class="line1">19.Лfd1</span> 
 <span onclick='loadMove("2r1r1k1/pp2b1pp/5p2/1bPpN3/5P2/4B3/PPPR2PP/3R2K1 w - - 0 20", this, "f7f6"); ' class="line1">f6</span> 
 <span onclick='loadMove("2r1r1k1/pp2b1pp/5p2/1bPp4/5P2/4BN2/PPPR2PP/3R2K1 b - - 0 20", this, "e5f3"); ' class="line1">20.Кf3</span> 
 <span onclick='loadMove("2r1rbk1/pp4pp/5p2/1bPp4/5P2/4BN2/PPPR2PP/3R2K1 w - - 0 21", this, "e7f8"); ' class="line1">Сf8</span> 
 <span onclick='loadMove("2r1rbk1/pp4pp/5p2/1bPp4/5P2/5N2/PPPR1BPP/3R2K1 b - - 0 21", this, "e3f2"); ' class="line1">21.Сf2</span> 
(<span onclick='loadMove("2r1rbk1/pp4pp/5p2/1bPp4/3B1P2/5N2/PPPR2PP/3R2K1 b - - 0 21", this, "e3d4"); ' class="line2">21.Сd4</span> 
 <span onclick='loadMove("2r2bk1/pp4pp/5p2/1bPp4/3BrP2/5N2/PPPR2PP/3R2K1 w - - 0 22", this, "e8e4"); ' class="line2">Лe4!</span> 
*=*)
 <span onclick='loadMove("2r1rbk1/pp4pp/2b2p2/2Pp4/5P2/5N2/PPPR1BPP/3R2K1 w - - 0 22", this, "b5c6"); ' class="line1">21...Сc6</span> 
 <span onclick='loadMove("2r1rbk1/pp4pp/2b2p2/2Pp4/1P3P2/5N2/P1PR1BPP/3R2K1 b - b3 0 22", this, "b2b4"); ' class="line1">22.b4</span> 
 <span onclick='loadMove("2r2bk1/pp4pp/2b2p2/2Pp4/1P2rP2/5N2/P1PR1BPP/3R2K1 w - - 0 23", this, "e8e4"); ' class="line1">Лe4</span> 
 <span onclick='loadMove("2r2bk1/pp4pp/2b2p2/2Pp4/1P1RrP2/5N2/P1P2BPP/3R2K1 b - - 0 23", this, "d2d4"); ' class="line1">23.Лd4</span><span class="CAChess">&#178;</span>.</p>
<p class="longNotation">
 <span onclick='loadMove("2rq1rk1/pp2bppp/2b5/3pNP2/2pP4/4B3/PPP1Q1PP/3R1RK1 b - - 0 16", this, "f4f5"); ' class="line0">16.f4-f5</span> 
 <span onclick='loadMove("2rqbrk1/pp2bppp/8/3pNP2/2pP4/4B3/PPP1Q1PP/3R1RK1 w - - 0 17", this, "c6e8"); ' class="line0">Сc6-e8?!</span> 
</p>
<p>Серьезная неточность. И после
 <span onclick='loadMove("2rq1rk1/pp3ppp/2b2b2/3pNP2/2pP4/4B3/PPP1Q1PP/3R1RK1 w - - 0 17", this, "e7f6"); ' class="line1">16...Сf6</span> 
 <span onclick='loadMove("2rq1rk1/pp3ppp/2b2b2/3pNP1Q/2pP4/4B3/PPP3PP/3R1RK1 b - - 0 17", this, "e2h5"); ' class="line1">17.Фh5!?</span> 
 <span onclick='loadMove("2rq1rk1/pp3ppp/5b2/3pNP1Q/b1pP4/4B3/PPP3PP/3R1RK1 w - - 0 18", this, "c6a4"); ' class="line1">Сa4</span> 
 <span onclick='loadMove("2rq1rk1/pp3ppp/5b2/3pNP1Q/b1pP4/4B3/PPP2RPP/3R2K1 b - - 0 18", this, "f1f2"); ' class="line1">18.Лf2</span> 
 <span onclick='loadMove("2rq1rk1/pp3ppp/5b2/3pNP1Q/b2P4/2p1B3/PPP2RPP/3R2K1 w - - 0 19", this, "c4c3"); ' class="line1">c3</span> 
 <span onclick='loadMove("2rq1rk1/pp3ppp/5b2/3pNP1Q/b2P4/1Pp1B3/P1P2RPP/3R2K1 b - - 0 19", this, "b2b3"); ' class="line1">19.b3</span> 
 <span onclick='loadMove("2rq1rk1/pp3ppp/5b2/1b1pNP1Q/3P4/1Pp1B3/P1P2RPP/3R2K1 w - - 0 20", this, "a4b5"); ' class="line1">Сb5</span> 
 <span onclick='loadMove("2rq1rk1/pp3ppp/5b2/1b1p1P1Q/3P2N1/1Pp1B3/P1P2RPP/3R2K1 b - - 0 20", this, "e5g4"); ' class="line1">20.Кg4</span> 
у белых хорошие виды на атаку, но в случае активного
 <span onclick='loadMove("2rq1rk1/pp2bppp/8/3pNP2/b1pP4/4B3/PPP1Q1PP/3R1RK1 w - - 0 17", this, "c6a4"); ' class="line1">16...Сa4!?</span> 
 <span onclick='loadMove("2rq1rk1/pp2bppp/8/3pNP2/b1pP4/4B3/PPP1Q1PP/4RRK1 b - - 0 17", this, "d1e1"); ' class="line1">17.Лde1</span> 
черные сохраняли обороноспособную позицию. Сомнительно
 <span onclick='loadMove("2rq1rk1/pp2b1pp/2b2p2/3pNP2/2pP4/4B3/PPP1Q1PP/3R1RK1 w - - 0 17", this, "f7f6"); ' class="line1">16...f6?!</span> 
ввиду
 <span onclick='loadMove("2rq1rk1/pp2b1pp/2N2p2/3p1P2/2pP4/4B3/PPP1Q1PP/3R1RK1 b - - 0 17", this, "e5c6"); ' class="line1">17.К:c6</span> 
 <span onclick='loadMove("3q1rk1/pp2b1pp/2r2p2/3p1P2/2pP4/4B3/PPP1Q1PP/3R1RK1 w - - 0 18", this, "c8c6"); ' class="line1">Л:c6</span> 
 <span onclick='loadMove("3q1rk1/pp2b1pp/2r2p2/3p1P2/2pP4/2P1B3/PP2Q1PP/3R1RK1 b - - 0 18", this, "c2c3"); ' class="line1">18.c3</span><span class="CAChess">&#178;</span>.</p>
<div class="chessBoard analysis nobuttons" data-start-fen="2rqbrk1/pp2bppp/8/3pNP2/2pP4/4B3/PPP1Q1PP/3R1RK1 w - - 0 17"></div>
<p class="longNotation">
 <span onclick='loadMove("2rqbrk1/pp2bppp/8/3pNP2/2pP2Q1/4B3/PPP3PP/3R1RK1 b - - 0 17", this, "e2g4"); ' class="line0">17.Фe2-g4</span> 
 <span onclick='loadMove("2rq1rk1/pp2bppp/8/3pNP2/b1pP2Q1/4B3/PPP3PP/3R1RK1 w - - 0 18", this, "e8a4"); ' class="line0">Сe8-a4?</span> 
</p>
<p>Решающий промах в несколько худшей позиции. После крепкого
 <span onclick='loadMove("2rqbrk1/pp3ppp/5b2/3pNP2/2pP2Q1/4B3/PPP3PP/3R1RK1 w - - 0 18", this, "e7f6"); ' class="line1">17...Сf6</span> 
 <span onclick='loadMove("2rqbrk1/pp3ppp/5b2/3pNP2/2pP2Q1/2P1B3/PP4PP/3R1RK1 b - - 0 18", this, "c2c3"); ' class="line1">18.c3</span> 
у белых инициатива, но черные могут надеяться на успешный исход партии.</p>
<p class="longNotation">
 <span onclick='loadMove("2rq1rk1/pp2bppp/7B/3pNP2/b1pP2Q1/8/PPP3PP/3R1RK1 b - - 0 18", this, "e3h6"); ' class="line0">18.Сe3-h6</span>.</p>
<p>Черные сдались.</p>
</div> <!-- score -->
</div> <!-- section -->

</div> <!-- iBook -->
{% endblock content %}

