{% extends '../../base.htm' %}
{% load static %}
{% block title %}
<title>№ 16. Лисс - Гофштейн | {{book.title}} | {%for author in book.authors.all%} {%if author.first_name%} {{author.first_name}} {%endif%} {%if author.second_name%} {{author.second_name}} {%endif%} {%if forloop.counter == book.authors.all.count%} {{author.last_name}} {%else%} {{author.last_name}}, {%endif%} {%endfor%} | {{book.year}}</title>
{% endblock title %}
{% block content %}

<div class="iBook">

<div class="section">
<div class="chessBoard small floater" data-start-fen="rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w KQkq - 0 1"></div>
<div class="score">
<p class="capTop diagram">№ 16. <strong>Лисс - Гофштейн</strong><br />Израиль 1994<br /><i>Защита Пирца-Уфимцева</i></p>
 <span class="line0" onclick='loadMove("rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w KQkq - 0 1", this, ""); '>[...]</span> 
<p class="longNotation">
 <span onclick='loadMove("rnbqkbnr/pppppppp/8/8/4P3/8/PPPP1PPP/RNBQKBNR b KQkq e3 0 1", this, "e2e4"); ' class="line0">1.e2-e4</span> 
 <span onclick='loadMove("rnbqkbnr/ppp1pppp/3p4/8/4P3/8/PPPP1PPP/RNBQKBNR w KQkq - 0 2", this, "d7d6"); ' class="line0">d7-d6</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("rnbqkbnr/ppp1pppp/3p4/8/3PP3/8/PPP2PPP/RNBQKBNR b KQkq d3 0 2", this, "d2d4"); ' class="line0">2.d2-d4</span> 
 <span onclick='loadMove("rnbqkb1r/ppp1pppp/3p1n2/8/3PP3/8/PPP2PPP/RNBQKBNR w KQkq - 0 3", this, "g8f6"); ' class="line0">Кg8-f6</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("rnbqkb1r/ppp1pppp/3p1n2/8/3PP3/2N5/PPP2PPP/R1BQKBNR b KQkq - 0 3", this, "b1c3"); ' class="line0">3.Кb1-c3</span> 
 <span onclick='loadMove("rnbqkb1r/ppp1pp1p/3p1np1/8/3PP3/2N5/PPP2PPP/R1BQKBNR w KQkq - 0 4", this, "g7g6"); ' class="line0">g7-g6</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("rnbqkb1r/ppp1pp1p/3p1np1/8/3PPP2/2N5/PPP3PP/R1BQKBNR b KQkq f3 0 4", this, "f2f4"); ' class="line0">4.f2-f4</span> 
 <span onclick='loadMove("rnbqk2r/ppp1ppbp/3p1np1/8/3PPP2/2N5/PPP3PP/R1BQKBNR w KQkq - 0 5", this, "f8g7"); ' class="line0">Сf8-g7</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("rnbqk2r/ppp1ppbp/3p1np1/8/3PPP2/2N2N2/PPP3PP/R1BQKB1R b KQkq - 0 5", this, "g1f3"); ' class="line0">5.Кg1-f3</span> 
 <span onclick='loadMove("rnbqk2r/pp2ppbp/3p1np1/2p5/3PPP2/2N2N2/PPP3PP/R1BQKB1R w KQkq c6 0 6", this, "c7c5"); ' class="line0">c7-c5</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("rnbqk2r/pp2ppbp/3p1np1/1Bp5/3PPP2/2N2N2/PPP3PP/R1BQK2R b KQkq - 0 6", this, "f1b5"); ' class="line0">6.Сf1-b5+</span> 
 <span onclick='loadMove("rn1qk2r/pp1bppbp/3p1np1/1Bp5/3PPP2/2N2N2/PPP3PP/R1BQK2R w KQkq - 0 7", this, "c8d7"); ' class="line0">Сc8-d7</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("rn1qk2r/pp1bppbp/3p1np1/1Bp1P3/3P1P2/2N2N2/PPP3PP/R1BQK2R b KQkq - 0 7", this, "e4e5"); ' class="line0">7.e4-e5</span> 
 <span onclick='loadMove("rn1qk2r/pp1bppbp/3p2p1/1Bp1P3/3P1Pn1/2N2N2/PPP3PP/R1BQK2R w KQkq - 0 8", this, "f6g4"); ' class="line0">Кf6-g4</span> 
</p>
<div class="chessBoard analysis nobuttons" data-start-fen="rn1qk2r/pp1bppbp/3p2p1/1Bp1P3/3P1Pn1/2N2N2/PPP3PP/R1BQK2R w KQkq - 0 8"></div>
<p>Вступительные ходы к этой интересной (и опасной для черных) системе подробно рассмотрены в аналитической части.</p>
<p>К сказанному там хочется добавить еще одну интересную идею за белых -
 <span onclick='loadMove("rn1qk2r/pp1bppbp/3p2p1/1Bp1P1N1/3P1Pn1/2N5/PPP3PP/R1BQK2R b KQkq - 0 8", this, "f3g5"); ' class="line1">8.Кg5!?</span> 
(под ударом конь g4)
 <span onclick='loadMove("rn1qk2r/pp2ppbp/3p2p1/1bp1P1N1/3P1Pn1/2N5/PPP3PP/R1BQK2R w KQkq - 0 9", this, "d7b5"); ' class="line1">8...С:b5</span> 
 <span onclick='loadMove("rn1qk2r/pp2ppbp/3p2p1/1bp1P1N1/3P1PQ1/2N5/PPP3PP/R1B1K2R b KQkq - 0 9", this, "d1g4"); ' class="line1">9.Ф:g4</span> 
 <span onclick='loadMove("rn1qk2r/pp1bppbp/3p2p1/2p1P1N1/3P1PQ1/2N5/PPP3PP/R1B1K2R w KQkq - 0 10", this, "b5d7"); ' class="line1">Сd7</span> 
 <span onclick='loadMove("rn1qk2r/pp1bppbp/3pP1p1/2p3N1/3P1PQ1/2N5/PPP3PP/R1B1K2R b KQkq - 0 10", this, "e5e6"); ' class="line1">10.e6!</span> 
 <span onclick='loadMove("rn1qk2r/pp1bp1bp/3pp1p1/2p3N1/3P1PQ1/2N5/PPP3PP/R1B1K2R w KQkq - 0 11", this, "f7e6"); ' class="line1">fe</span> 
 <span onclick='loadMove("rn1qk2r/pp1bp1bN/3pp1p1/2p5/3P1PQ1/2N5/PPP3PP/R1B1K2R b KQkq - 0 11", this, "g5h7"); ' class="line1">11.К:h7!</span> 
(основная идея атаки
 <span onclick='loadMove("rn1qk2r/pp1bppbp/3p2p1/1Bp1P1N1/3P1Pn1/2N5/PPP3PP/R1BQK2R b KQkq - 0 8", this, "f3g5"); ' class="line1">8.Кg5</span>- тактическим путем полностью разрушена пешечная цепь королевского фланга черных)
 <span onclick='loadMove("rn1q3r/pp1bpkbN/3pp1p1/2p5/3P1PQ1/2N5/PPP3PP/R1B1K2R w KQ - 0 12", this, "e8f7"); ' class="line1">11...Крf7</span> 
 <span onclick='loadMove("rn1q3r/pp1bpkb1/3pp1p1/2p3N1/3P1PQ1/2N5/PPP3PP/R1B1K2R b KQ - 0 12", this, "h7g5"); ' class="line1">12.Кg5+</span> 
 <span onclick='loadMove("rn1q1k1r/pp1bp1b1/3pp1p1/2p3N1/3P1PQ1/2N5/PPP3PP/R1B1K2R w KQ - 0 13", this, "f7f8"); ' class="line1">Крf8</span> 
 <span onclick='loadMove("rn1q1k1r/pp1bp1b1/3pQ1p1/2p3N1/3P1P2/2N5/PPP3PP/R1B1K2R b KQ - 0 13", this, "g4e6"); ' class="line1">13.Ф:e6!</span>, и белые выигрывают пешку.</p>
<p class="longNotation">
 <span onclick='loadMove("rn1qk2r/pp1Bppbp/3p2p1/2p1P3/3P1Pn1/2N2N2/PPP3PP/R1BQK2R b KQkq - 0 8", this, "b5d7"); ' class="line0">8.Сb5:d7+</span> 
 <span onclick='loadMove("rn2k2r/pp1qppbp/3p2p1/2p1P3/3P1Pn1/2N2N2/PPP3PP/R1BQK2R w KQkq - 0 9", this, "d8d7"); ' class="line0">Фd8:d7</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("rn2k2r/pp1qppbp/3p2p1/2pPP3/5Pn1/2N2N2/PPP3PP/R1BQK2R b KQkq - 0 9", this, "d4d5"); ' class="line0">9.d4-d5</span> 
 <span onclick='loadMove("rn2k2r/pp1qppbp/6p1/2pPp3/5Pn1/2N2N2/PPP3PP/R1BQK2R w KQkq - 0 10", this, "d6e5"); ' class="line0">d6:e5</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("rn2k2r/pp1qppbp/6p1/2pPp3/5Pn1/2N2N1P/PPP3P1/R1BQK2R b KQkq - 0 10", this, "h2h3"); ' class="line0">10.h2-h3</span> 
 <span onclick='loadMove("rn2k2r/pp1qppbp/6p1/2pP4/4pPn1/2N2N1P/PPP3P1/R1BQK2R w KQkq - 0 11", this, "e5e4"); ' class="line0">e5-e4</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("rn2k2r/pp1qppbp/6p1/2pP4/4NPn1/5N1P/PPP3P1/R1BQK2R b KQkq - 0 11", this, "c3e4"); ' class="line0">11.Кc3:e4</span> 
 <span onclick='loadMove("rn2k2r/pp1qppbp/5np1/2pP4/4NP2/5N1P/PPP3P1/R1BQK2R w KQkq - 0 12", this, "g4f6"); ' class="line0">Кg4-f6</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("rn2k2r/pp1qppbp/5Np1/2pP4/5P2/5N1P/PPP3P1/R1BQK2R b KQkq - 0 12", this, "e4f6"); ' class="line0">12.Кe4:f6+</span> 
 <span onclick='loadMove("rn2k2r/pp1qpp1p/5bp1/2pP4/5P2/5N1P/PPP3P1/R1BQK2R w KQkq - 0 13", this, "g7f6"); ' class="line0">Сg7:f6</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("rn2k2r/pp1qpp1p/5bp1/2pP4/5P2/5N1P/PPP3P1/R1BQ1RK1 b kq - 0 13", this, "e1g1"); ' class="line0">13.0-0</span> 
 <span onclick='loadMove("rn3rk1/pp1qpp1p/5bp1/2pP4/5P2/5N1P/PPP3P1/R1BQ1RK1 w - - 0 14", this, "e8g8"); ' class="line0">0-0</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("rn3rk1/pp1qpp1p/5bp1/2pP4/5P2/4BN1P/PPP3P1/R2Q1RK1 b - - 0 14", this, "c1e3"); ' class="line0">14.Сc1-e3</span> 
 <span onclick='loadMove("rn3rk1/pp1qpp1p/6p1/2pP4/5P2/4BN1P/PbP3P1/R2Q1RK1 w - - 0 15", this, "f6b2"); ' class="line0">Сf6:b2</span> 
</p>
<p>Это взятие точнее, чем
 <span onclick='loadMove("r4rk1/pp1qpp1p/n4bp1/2pP4/5P2/4BN1P/PPP3P1/R2Q1RK1 w - - 0 15", this, "b8a6"); ' class="line1">14...Кa6</span>, разобранное в первой части книги.</p>
<p>Не оправдало себя и
 <span onclick='loadMove("rn1r2k1/pp1qpp1p/5bp1/2pP4/5P2/4BN1P/PPP3P1/R2Q1RK1 w - - 0 15", this, "f8d8"); ' class="line1">14...Лd8</span>, встретившееся в партии Лукин - Губанов (Санкт-Петербург 1995), где было
 <span onclick='loadMove("rn1r2k1/pp1qpp1p/5bp1/2pP4/2P2P2/4BN1P/PP4P1/R2Q1RK1 b - c3 0 15", this, "c2c4"); ' class="line1">15.c4</span> 
 <span onclick='loadMove("rn1r2k1/pp1q1p1p/4pbp1/2pP4/2P2P2/4BN1P/PP4P1/R2Q1RK1 w - - 0 16", this, "e7e6"); ' class="line1">e6</span> 
 <span onclick='loadMove("rn1r2k1/pp1q1p1p/4pbp1/2pPN3/2P2P2/4B2P/PP4P1/R2Q1RK1 b - - 0 16", this, "f3e5"); ' class="line1">16.Кe5</span> 
 <span onclick='loadMove("rn1r2k1/pp3p1p/3qpbp1/2pPN3/2P2P2/4B2P/PP4P1/R2Q1RK1 w - - 0 17", this, "d7d6"); ' class="line1">Фd6</span> 
(<span onclick='loadMove("rn1r2k1/pp2qp1p/4pbp1/2pPN3/2P2P2/4B2P/PP4P1/R2Q1RK1 w - - 0 17", this, "d7e7"); ' class="line2">16...Фe7!?</span>)
 <span onclick='loadMove("rn1r2k1/pp3p1p/3qpbp1/2pP4/2P2PN1/4B2P/PP4P1/R2Q1RK1 b - - 0 17", this, "e5g4"); ' class="line1">17.Кg4</span> 
(знакомая идея жертвы пешки b2)
 <span onclick='loadMove("rn1r2k1/pp3p1p/3qp1p1/2pP4/2P2PN1/4B2P/Pb4P1/R2Q1RK1 w - - 0 18", this, "f6b2"); ' class="line1">17...С:b2</span> 
 <span onclick='loadMove("rn1r2k1/pp3p1p/3qp1p1/2pP4/2P2PN1/4B2P/Pb4P1/1R1Q1RK1 b - - 0 18", this, "a1b1"); ' class="line1">18.Лb1</span> 
 <span onclick='loadMove("rn1r2k1/pp3pbp/3qp1p1/2pP4/2P2PN1/4B2P/P5P1/1R1Q1RK1 w - - 0 19", this, "b2g7"); ' class="line1">Сg7</span> 
 <span onclick='loadMove("rn1r2k1/pp3pbp/3qP1p1/2p5/2P2PN1/4B2P/P5P1/1R1Q1RK1 b - - 0 19", this, "d5e6"); ' class="line1">19.de</span> 
 <span onclick='loadMove("rn1r2k1/pp4bp/3qP1p1/2p2p2/2P2PN1/4B2P/P5P1/1R1Q1RK1 w - f6 0 20", this, "f7f5"); ' class="line1">f5</span> 
 <span onclick='loadMove("rn1r2k1/pp4bp/3qP1p1/2p1Np2/2P2P2/4B2P/P5P1/1R1Q1RK1 b - - 0 20", this, "g4e5"); ' class="line1">20.Кe5</span> 
с очевидным перевесом.</p>
<p class="longNotation">
 <span onclick='loadMove("rn3rk1/pp1qpp1p/6p1/2pP4/5P2/4BN1P/PbP3P1/1R1Q1RK1 b - - 0 15", this, "a1b1"); ' class="line0">15.Лa1-b1</span> 
 <span class="ellipsis0">...</span> 
</p>
<p>Заслуживает внимания рекомендация А.Чернина
 <span onclick='loadMove("rn3rk1/pp1qpp1p/6p1/2pPN3/5P2/4B2P/PbP3P1/R2Q1RK1 b - - 0 15", this, "f3e5"); ' class="line1">15.Кe5!?</span> 
</p>
<p class="longNotation">
 <span class="ellipsis0">15. ...</span> 
 <span onclick='loadMove("rn3rk1/pp1qpp1p/5bp1/2pP4/5P2/4BN1P/P1P3P1/1R1Q1RK1 w - - 0 16", this, "b2f6"); ' class="line0">Сb2-f6</span> 
</p>
<p>Во встрече Лисс - Чернин (Израиль 1994) черные уточнили игру:
 <span onclick='loadMove("rn3rk1/pp1qppbp/6p1/2pP4/5P2/4BN1P/P1P3P1/1R1Q1RK1 w - - 0 16", this, "b2g7"); ' class="line1">15...Сg7!?</span> 
 <span onclick='loadMove("rn3rk1/pp1qppbp/6p1/2BP4/5P2/5N1P/P1P3P1/1R1Q1RK1 b - - 0 16", this, "e3c5"); ' class="line1">16.С:c5</span> 
 <span onclick='loadMove("rn1r2k1/pp1qppbp/6p1/2BP4/5P2/5N1P/P1P3P1/1R1Q1RK1 w - - 0 17", this, "f8d8"); ' class="line1">Лd8</span> 
<!--p>228</p><p>Примерные партии</p-->
 <span onclick='loadMove("rn1r2k1/pp1qppbp/6p1/2BPN3/5P2/7P/P1P3P1/1R1Q1RK1 b - - 0 17", this, "f3e5"); ' class="line1">17.Кe5</span> 
 <span onclick='loadMove("rn1r2k1/ppq1ppbp/6p1/2BPN3/5P2/7P/P1P3P1/1R1Q1RK1 w - - 0 18", this, "d7c7"); ' class="line1">Фc7!</span> 
 <span onclick='loadMove("rn1r2k1/ppq1ppbp/6p1/3PN3/5P2/B6P/P1P3P1/1R1Q1RK1 b - - 0 18", this, "c5a3"); ' class="line1">18.Сa3</span> 
 <span onclick='loadMove("r2r2k1/ppq1ppbp/2n3p1/3PN3/5P2/B6P/P1P3P1/1R1Q1RK1 w - - 0 19", this, "b8c6"); ' class="line1">Кc6</span> 
со сложной борьбой.</p>
<p class="longNotation">
 <span onclick='loadMove("rn3rk1/pp1qpp1p/5bp1/2pPN3/5P2/4B2P/P1P3P1/1R1Q1RK1 b - - 0 16", this, "f3e5"); ' class="line0">16.Кf3-e5</span> 
 <span onclick='loadMove("rn3rk1/ppq1pp1p/5bp1/2pPN3/5P2/4B2P/P1P3P1/1R1Q1RK1 w - - 0 17", this, "d7c7"); ' class="line0">Фd7-c7</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("rn3rk1/ppq1pp1p/5bp1/2pP4/5PN1/4B2P/P1P3P1/1R1Q1RK1 b - - 0 17", this, "e5g4"); ' class="line0">17.Кe5-g4</span> 
 <span onclick='loadMove("r4rk1/ppqnpp1p/5bp1/2pP4/5PN1/4B2P/P1P3P1/1R1Q1RK1 w - - 0 18", this, "b8d7"); ' class="line0">Кb8-d7</span> 
</p>
<p>Черные заканчивают развитие ферзевого фланга и подтягивают коня для защиты королевского, где, очевидно, развернутся основные события.</p>
<p>Слабо, конечно,
 <span onclick='loadMove("rn3rk1/ppq1pp1p/6p1/2pP4/3b1PN1/4B2P/P1P3P1/1R1Q1RK1 w - - 0 18", this, "f6d4"); ' class="line1">17...Сd4?</span> 
 <span onclick='loadMove("rn3rk1/ppq1pp1p/6p1/2pP4/3B1PN1/7P/P1P3P1/1R1Q1RK1 b - - 0 18", this, "e3d4"); ' class="line1">18.С:d4</span> 
 <span onclick='loadMove("rn3rk1/ppq1pp1p/6p1/3P4/3p1PN1/7P/P1P3P1/1R1Q1RK1 w - - 0 19", this, "c5d4"); ' class="line1">cd</span> 
 <span onclick='loadMove("rn3rk1/ppq1pp1p/6p1/3P4/3Q1PN1/7P/P1P3P1/1R3RK1 b - - 0 19", this, "d1d4"); ' class="line1">19.Ф:d4</span> 
и грозит мат на h6, а на
 <span onclick='loadMove("rn3rk1/ppq1ppbp/6p1/2pP4/5PN1/4B2P/P1P3P1/1R1Q1RK1 w - - 0 18", this, "f6g7"); ' class="line1">17...Сg7</span> 
(сохраняя слона) хорошо естественное
 <span onclick='loadMove("rn3rk1/ppq1ppbp/6p1/2pP1P2/6N1/4B2P/P1P3P1/1R1Q1RK1 b - - 0 18", this, "f4f5"); ' class="line1">18.f5</span> 
с сильной атакой.</p>
<p class="longNotation">
 <span onclick='loadMove("r4rk1/ppqnpp1p/5bp1/2pP1P2/6N1/4B2P/P1P3P1/1R1Q1RK1 b - - 0 18", this, "f4f5"); ' class="line0">18.f4-f5</span> 
 <span class="ellipsis0">...</span> 
</p>
<p>Типовая атака для данного варианта.</p>
<p class="longNotation">
 <span class="ellipsis0">18. ...</span> 
 <span onclick='loadMove("3r1rk1/ppqnpp1p/5bp1/2pP1P2/6N1/4B2P/P1P3P1/1R1Q1RK1 w - - 0 19", this, "a8d8"); ' class="line0">Лa8-d8</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("3r1rk1/ppqnpp1p/5bpB/2pP1P2/6N1/7P/P1P3P1/1R1Q1RK1 b - - 0 19", this, "e3h6"); ' class="line0">19.Сe3-h6</span> 
 <span onclick='loadMove("3r1rk1/ppqnppbp/6pB/2pP1P2/6N1/7P/P1P3P1/1R1Q1RK1 w - - 0 20", this, "f6g7"); ' class="line0">Сf6-g7</span> 
</p>
<div class="chessBoard analysis nobuttons" data-start-fen="3r1rk1/ppqnppbp/6pB/2pP1P2/6N1/7P/P1P3P1/1R1Q1RK1 w - - 0 20"></div>
<p class="longNotation">
 <span onclick='loadMove("3r1rk1/ppqnppbp/3P2pB/2p2P2/6N1/7P/P1P3P1/1R1Q1RK1 b - - 0 20", this, "d5d6"); ' class="line0">20.d5-d6!</span> 
 <span class="ellipsis0">...</span> 
</p>
<p>Изящное тактическое решение, достойно венчающее игру белых.</p>
<p class="longNotation">
 <span class="ellipsis0">20. ...</span> 
 <span onclick='loadMove("3r1rk1/ppqn1pbp/3p2pB/2p2P2/6N1/7P/P1P3P1/1R1Q1RK1 w - - 0 21", this, "e7d6"); ' class="line0">e7:d6</span> 
</p>
<p>В случае
 <span onclick='loadMove("3r1rk1/pp1nppbp/3q2pB/2p2P2/6N1/7P/P1P3P1/1R1Q1RK1 w - - 0 21", this, "c7d6"); ' class="line1">20...Ф:d6</span> 
 <span onclick='loadMove("3r1rk1/pp1nppbp/3Q2pB/2p2P2/6N1/7P/P1P3P1/1R3RK1 b - - 0 21", this, "d1d6"); ' class="line1">21.Ф:d6</span> 
 <span onclick='loadMove("3r1rk1/pp1n1pbp/3p2pB/2p2P2/6N1/7P/P1P3P1/1R3RK1 w - - 0 22", this, "e7d6"); ' class="line1">ed</span> 
 <span onclick='loadMove("3r1rk1/pp1n1pBp/3p2p1/2p2P2/6N1/7P/P1P3P1/1R3RK1 b - - 0 22", this, "h6g7"); ' class="line1">22.С:g7</span> 
 <span onclick='loadMove("3r1r2/pp1n1pkp/3p2p1/2p2P2/6N1/7P/P1P3P1/1R3RK1 w - - 0 23", this, "g8g7"); ' class="line1">Кр:g7</span> 
 <span onclick='loadMove("3r1r2/pp1n1pkp/3p1Pp1/2p5/6N1/7P/P1P3P1/1R3RK1 b - - 0 23", this, "f5f6"); ' class="line1">23.f6+</span> 
 <span onclick='loadMove("3r1r1k/pp1n1p1p/3p1Pp1/2p5/6N1/7P/P1P3P1/1R3RK1 w - - 0 24", this, "g7h8"); ' class="line1">Крh8</span> 
 <span onclick='loadMove("3r1r1k/pR1n1p1p/3p1Pp1/2p5/6N1/7P/P1P3P1/5RK1 b - - 0 24", this, "b1b7"); ' class="line1">24.Л:b7</span> 
черных ожидал тяжелейший эндшпиль «без короля».</p>
<p class="longNotation">
 <span onclick='loadMove("3r1rk1/ppqn1pbp/3p2pB/2p2P2/6N1/7P/P1PQ2P1/1R3RK1 b - - 0 21", this, "d1d2"); ' class="line0">21.Фd1-d2!</span> 
 <span class="ellipsis0">...</span> 
</p>
<p>Основная идея атаки - черные поля на королевском фланге соперника безнадежно слабы (важнейшую роль в атаке играет пешка f, готовая подключиться к преследованию черного монарха в любую минуту).</p>
<p class="longNotation">
 <span class="ellipsis0">21. ...</span> 
 <span onclick='loadMove("3r1rk1/ppqn1p1p/3p2pb/2p2P2/6N1/7P/P1PQ2P1/1R3RK1 w - - 0 22", this, "g7h6"); ' class="line0">Сg7:h6</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("3r1rk1/ppqn1p1p/3p2pQ/2p2P2/6N1/7P/P1P3P1/1R3RK1 b - - 0 22", this, "d2h6"); ' class="line0">22.Фd2:h6</span> 
 <span onclick='loadMove("3r1r1k/ppqn1p1p/3p2pQ/2p2P2/6N1/7P/P1P3P1/1R3RK1 w - - 0 23", this, "g8h8"); ' class="line0">Крg8-h8</span> 
</p>
<p>Грозило <b>f5-f6</b> с матом.</p>
<p class="longNotation">
 <span onclick='loadMove("3r1r1k/ppqn1p1p/3p2pQ/2p2P2/6N1/7P/P1P3P1/4RRK1 b - - 0 23", this, "b1e1"); ' class="line0">23.Лb1-e1</span> 
 <span onclick='loadMove("3r1r1k/ppqn1p1p/3p2pQ/5P2/2p3N1/7P/P1P3P1/4RRK1 w - - 0 24", this, "c5c4"); ' class="line0">c5-c4</span> 
</p>
<p>Нет возможности нейтрализовать линию «е» - на
 <span onclick='loadMove("4rr1k/ppqn1p1p/3p2pQ/2p2P2/6N1/7P/P1P3P1/4RRK1 w - - 0 24", this, "d8e8"); ' class="line1">23...Лde8</span> 
следует
 <span onclick='loadMove("4rr1k/ppqn1p1p/3p1PpQ/2p5/6N1/7P/P1P3P1/4RRK1 b - - 0 24", this, "f5f6"); ' class="line1">24.f6</span> 
 <span onclick='loadMove("4r1rk/ppqn1p1p/3p1PpQ/2p5/6N1/7P/P1P3P1/4RRK1 w - - 0 25", this, "f8g8"); ' class="line1">Лg8</span> 
 <span onclick='loadMove("4R1rk/ppqn1p1p/3p1PpQ/2p5/6N1/7P/P1P3P1/5RK1 b - - 0 25", this, "e1e8"); ' class="line1">25.Л:e8</span>.</p>
<p class="longNotation">
 <span onclick='loadMove("3r1r1k/ppqn1p1p/3p2PQ/8/2p3N1/7P/P1P3P1/4RRK1 b - - 0 24", this, "f5g6"); ' class="line0">24.f5:g6</span> 
 <span onclick='loadMove("3r1r1k/ppqn3p/3p2pQ/8/2p3N1/7P/P1P3P1/4RRK1 w - - 0 25", this, "f7g6"); ' class="line0">f7:g6</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("3r1r1k/ppqnR2p/3p2pQ/8/2p3N1/7P/P1P3P1/5RK1 b - - 0 25", this, "e1e7"); ' class="line0">25.Лe1-e7</span> 
 <span onclick='loadMove("3r3k/ppqnR2p/3p2pQ/8/2p3N1/7P/P1P3P1/5rK1 w - - 0 26", this, "f8f1"); ' class="line0">Лf8:f1+</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("3r3k/ppqnR2p/3p2pQ/8/2p3N1/7P/P1P3P1/5K2 b - - 0 26", this, "g1f1"); ' class="line0">26.Крg1:f1</span> 
 <span onclick='loadMove("5r1k/ppqnR2p/3p2pQ/8/2p3N1/7P/P1P3P1/5K2 w - - 0 27", this, "d8f8"); ' class="line0">Лd8-f8+</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("5r1k/ppqnR2p/3p2pQ/8/2p3N1/7P/P1P1K1P1/8 b - - 0 27", this, "f1e2"); ' class="line0">27.Крf1-e2</span>.</p>
<p>Черные сдались.</p>
</div> <!-- score -->
</div> <!-- section -->

</div> <!-- iBook -->
{% endblock content %}

