{% extends '../../base.htm' %}
{% load static %}
{% block title %}
<title>ГЛАВА ТРЕТЬЯ: Эстетика комбинации : Общие представления | {{book.title}} | {%for author in book.authors.all%} {%if author.first_name%} {{author.first_name}} {%endif%} {%if author.second_name%} {{author.second_name}} {%endif%} {%if forloop.counter == book.authors.all.count%} {{author.last_name}} {%else%} {{author.last_name}}, {%endif%} {%endfor%} | {{book.year}}</title>
{% endblock title %}
{% block content %}

<div class="iBook">

<div class="section">
<div class="chessBoard small floater" data-start-fen="rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w KQkq - 0 1"></div>
<div class="score">
 <span class="line0" onclick='loadMove("rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w KQkq - 0 1", this, ""); '>[...]</span> 
<h2>ГЛАВА ТРЕТЬЯ</h2>
<h1>Эстетика комбинации. Общие представления</h1>
<p>Всякое высшее выражение гармонии производит глубокое эстетическое впечатление. Оно волнует, создает представления о прекрасном.</p>
<p>Комбинация в шахматном искусстве представляет собой высшее выражение гармонии шахматных сил. Даже простая по структуре комбинация сама по себе эстетична уже одним тем, что все действующие в ней фигуры инициатора сливают свои силы воедино, гармонично проводя комбинационную тему.</p>
<p>Эстетика комбинации выражается также и в методах действия. Здесь на первый план выдвигается понятие жертвы. В чем эстетика жертвы? Как известно, с самых первых шагов начинающих любителей мы учим бережно относиться к материалу. Мы приводим им поучительные примеры, когда, потеряв легкую фигуру, мастера сдают партию, считая бесплодным дальнейшее сопротивление. Даже лишняя пешка, всего лишь одна пешка, доставляет часто ее обладателю легкую победу. Поэтому добровольная отдача пешки или фигуры, или размен более сильной фигуры на менее сильную, например, ферзя на ладью или ладьи на коня и т. п.— событие, выглядящее контрастно на строгом фоне бережного отношения даже к самой слабой шахматной единице. Если же жертвуется несколько фигур или сильная фигура (например, ферзь, ладья), то контраст усугубляется.</p>
<p>Кажущаяся нелепость, безрассудство хода вдруг превращается силой замысла в орудие торжества, победу. Внешне слабое,— благодаря тайному смыслу, торжествует над силой.</p>
<p>Ловкость, ум, фантазия выходят победителями в борьбе с более мощно вооруженным противником. В этом заключена своеобразная красота жертвы. Жертва часто
<!--p>13</p-->
бывает неожиданной, и эта внезапность нарушает обычные, будничные представления о ходе борьбы и уводит также зрителя в область волшебных приключений. Существует даже большая собственная терминология, характеризующая эстетику шахматных комбинаций. Возникли понятия изящных и даже грациозных комбинаций, редких по красоте произведений, бессмертных идей, зеркальных матов, элегантных решений и т. п. Уже в прошлом столетии в турнирах стали учреждать специальные призы за красоту игры.</p>
<p>В шахматной литературе имеется ряд статей и специальных трудов, посвященных эстетике шахматной комбинации. Укажем на труд профессора литературоведа А. А. Смирнова «Красота в шахматной партии», на книгу профессора В. И. Волькенштайна , теоретика драматургии, «Опыт современной эстетики», где мы находим специальную главу, посвященную шахматной игре. В учебнике многолетнего чемпиона мира Эммануила Ласкера также есть специальная глава (пятая) под заглавием «Эстетика шахматной игры».</p>
<p>Приведем несколько примеров красоты в шахматной комбинации. Начнем иллюстрацию с эндшпилей, где простота и обычность ситуаций будут особенно рельефно контрастировать с неожиданным вторжением в борьбу комбинации. Это обстоятельство, несомненно, должно произвести на нас большое эстетическое впечатление. Казалось бы, в простой позиции перед нами вдруг возникает высокохудожественная идея. Вот положение из партии <strong>Пильсбери — Гунсберг</strong> (Международный турнир в Гастингсе, 1895 г.)</p>
</div> <!-- score -->
</div> <!-- section -->

<div class="section">
<div class="chessBoard small floater" data-start-fen="1n6/4k2p/p3pp2/1pPp1Pp1/3P2P1/3NP3/P3K2P/8 w - - 0 28"></div>
<div class="score">
 <span class="line0" onclick='loadMove("1n6/4k2p/p3pp2/1pPp1Pp1/3P2P1/3NP3/P3K2P/8 w - - 0 28", this, ""); '>[...]</span> 
<div class="chessBoard analysis nobuttons" data-start-fen="1n6/4k2p/p3pp2/1pPp1Pp1/3P2P1/3NP3/P3K2P/8 w - - 0 28"></div>
<p>Посмотрим, как оригинально и интересно развивалась в ней комбинация:
 <span onclick='loadMove("1n6/4k2p/p3pp2/1pPp1Pp1/1N1P2P1/4P3/P3K2P/8 b - - 0 28", this, "d3b4"); ' class="line0">28.Кb4</span> 
(Уже этот ход заставляет черных насторожиться. Ведь на сделанный ход черные могут ответить
 <span onclick='loadMove("1n6/4k2p/4pp2/ppPp1Pp1/1N1P2P1/4P3/P3K2P/8 w - - 0 29", this, "a6a5"); ' class="line1">28...a5</span> 
и коню белых придется ретироваться. Вместе с тем, имеют ли черные в своем распоряжении что-нибудь другое? На
 <span onclick='loadMove("1n6/4k2p/p4p2/1pPp1pp1/1N1P2P1/4P3/P3K2P/8 w - - 0 29", this, "e6f5"); ' class="line1">28...ef</span> 
последует
 <span onclick='loadMove("1n6/4k2p/p4p2/1pPp1Pp1/1N1P4/4P3/P3K2P/8 b - - 0 29", this, "g4f5"); ' class="line1">29.gf</span> 
 <!--span onclick='loadMove("1n6/4k2p/p4p2/1pPp1Pp1/1N1P4/4P3/P3K2P/8 w - - 0 30", this, "g4f5"); ' class="line1">z0</span--> 
и затем уже
 <span onclick='loadMove("1n6/4k2p/p4p2/1pPN1Pp1/3P4/4P3/P3K2P/8 b - - 0 30", this, "b4d5"); ' class="line1">30.К:d5+</span> 
. На
 <span onclick='loadMove("1n6/3k3p/p3pp2/1pPp1Pp1/1N1P2P1/4P3/P3K2P/8 w - - 0 29", this, "e7d7"); ' class="line1">28...Крd7</span> 
проще всего
 <span onclick='loadMove("1n6/3k3p/p3Pp2/1pPp2p1/1N1P2P1/4P3/P3K2P/8 b - - 0 29", this, "f5e6"); ' class="line1">29.fe+</span> 
 <span onclick='loadMove("1n6/7p/p3kp2/1pPp2p1/1N1P2P1/4P3/P3K2P/8 w - - 0 30", this, "d7e6"); ' class="line1">Кр:e6</span> 
 <span onclick='loadMove("1n6/7p/p1P1kp2/1p1p2p1/1N1P2P1/4P3/P3K2P/8 b - - 0 30", this, "c5c6"); ' class="line1">30.c6</span> 
 <span onclick='loadMove("1n6/7p/p1Pk1p2/1p1p2p1/1N1P2P1/4P3/P3K2P/8 w - - 0 31", this, "e6d6"); ' class="line1">Крd6</span> 
 <span onclick='loadMove("1n6/2P4p/p2k1p2/1p1p2p1/1N1P2P1/4P3/P3K2P/8 b - - 0 31", this, "c6c7"); ' class="line1">31.c7</span> 
 <span onclick='loadMove("1n6/2k4p/p4p2/1p1p2p1/1N1P2P1/4P3/P3K2P/8 w - - 0 32", this, "d6c7"); ' class="line1">Кр:c7</span> 
 <span onclick='loadMove("1n6/2k4p/p4p2/1p1N2p1/3P2P1/4P3/P3K2P/8 b - - 0 32", this, "b4d5"); ' class="line1">32.К:d5+</span> 
<!--p>14</p-->
и <b>К:f6</b>. Таким образом у черных нет выбора)
 <span onclick='loadMove("1n6/4k2p/4pp2/ppPp1Pp1/1N1P2P1/4P3/P3K2P/8 w - - 0 29", this, "a6a5"); ' class="line0">28...a5</span> 
 <span onclick='loadMove("1n6/4k2p/2P1pp2/pp1p1Pp1/1N1P2P1/4P3/P3K2P/8 b - - 0 29", this, "c5c6"); ' class="line0">29.c6!!</span> 
(Начало длинной комбинации, в которой главной темой служит двойная угроза пешкой — своеобразный вид двойного нападения)
 <span onclick='loadMove("1n6/7p/2Pkpp2/pp1p1Pp1/1N1P2P1/4P3/P3K2P/8 w - - 0 30", this, "e7d6"); ' class="line0">29...Крd6</span> 
(Но теперь-то конь должен, кажется, отступить)
 <span onclick='loadMove("1n6/7p/2PkPp2/pp1p2p1/1N1P2P1/4P3/P3K2P/8 b - - 0 30", this, "f5e6"); ' class="line0">30.fe!!</span> 
(гвоздь, т. е. основа комбинационного замысла).</p>
<p>
 <span onclick='loadMove("8/7p/2nkPp2/pp1p2p1/1N1P2P1/4P3/P3K2P/8 w - - 0 31", this, "b8c6"); ' class="line0">30...К:c6</span> 
(У черных нет ничего другого, позиция, что часто случается во время течения комбинации, ярка и необычна. Еще два хода тому назад она выглядела как спокойный коневой эндшпиль с некоторым позиционным перевесом у белых. Сейчас же две пешки белых ворвались на 6-ю горизонталь, а коня — свою последнюю фигуру—белые приносят в жертву. Ради чего и почему черные отказываются от принятия жертвы? Ответ на это дает следующее возможное продолжение:
 <span onclick='loadMove("1n6/7p/2PkPp2/1p1p2p1/1p1P2P1/4P3/P3K2P/8 w - - 0 31", this, "a5b4"); ' class="line1">30...ab</span> 
 <span onclick='loadMove("1n6/4P2p/2Pk1p2/1p1p2p1/1p1P2P1/4P3/P3K2P/8 b - - 0 31", this, "e6e7"); ' class="line1">31.e7</span> 
 <span onclick='loadMove("1n6/4k2p/2P2p2/1p1p2p1/1p1P2P1/4P3/P3K2P/8 w - - 0 32", this, "d6e7"); ' class="line1">Кр:e7</span> 
 <span onclick='loadMove("1n6/2P1k2p/5p2/1p1p2p1/1p1P2P1/4P3/P3K2P/8 b - - 0 32", this, "c6c7"); ' class="line1">32.c7</span> 
, и белая пешка проходит в ферзи, так как от двух угроз <b>cbФ</b> или <b>c8Ф</b> черные не имеют защиты. Своеобразный вид двойного нападения пешки!)
 <span onclick='loadMove("8/7p/2NkPp2/pp1p2p1/3P2P1/4P3/P3K2P/8 b - - 0 31", this, "b4c6"); ' class="line0">31.К:c6</span> 
 <span onclick='loadMove("8/7p/2k1Pp2/pp1p2p1/3P2P1/4P3/P3K2P/8 w - - 0 32", this, "d6c6"); ' class="line0">Кр:c6</span> 
 <span onclick='loadMove("8/7p/2k1Pp2/pp1p2p1/3PP1P1/8/P3K2P/8 b - - 0 32", this, "e3e4"); ' class="line0">32.e4!</span> 
 <span onclick='loadMove("8/7p/2k1Pp2/pp4p1/3Pp1P1/8/P3K2P/8 w - - 0 33", this, "d5e4"); ' class="line0">de</span> 
 <span onclick='loadMove("8/7p/2k1Pp2/pp1P2p1/4p1P1/8/P3K2P/8 b - - 0 33", this, "d4d5"); ' class="line0">33.d5+</span> 
(Если первой темой во всей комбинации явилось «двойное» нападение пешки, то второй — образование двух соединенных проходных, перешедших уже границу)
 <span onclick='loadMove("8/7p/3kPp2/pp1P2p1/4p1P1/8/P3K2P/8 w - - 0 34", this, "c6d6"); ' class="line0">33...Крd6</span> 
 <span onclick='loadMove("8/7p/3kPp2/pp1P2p1/4p1P1/4K3/P6P/8 b - - 0 34", this, "e2e3"); ' class="line0">34.Крe3</span> 
 <span onclick='loadMove("8/7p/3kPp2/p2P2p1/1p2p1P1/4K3/P6P/8 w - - 0 35", this, "b5b4"); ' class="line0">b4</span> 
 <span onclick='loadMove("8/7p/3kPp2/p2P2p1/1p2K1P1/8/P6P/8 b - - 0 35", this, "e3e4"); ' class="line0">35.Кр:e4</span> 
 <span onclick='loadMove("8/7p/3kPp2/3P2p1/pp2K1P1/8/P6P/8 w - - 0 36", this, "a5a4"); ' class="line0">a4</span> 
 <span onclick='loadMove("8/7p/3kPp2/3P2p1/pp1K2P1/8/P6P/8 b - - 0 36", this, "e4d4"); ' class="line0">36.Крd4</span> 
. Белые успевают задержать пешки черных, что и решило исход борьбы. Комбинационную миниатюру Пильсбери его современники считали одной из самых изящных, именноизящных произведений Гастингского турнира. Так оно и есть на самом деле. Комбинация изящна по своей внезапности, оригинальности темы, редко встречающейся в практике, простоте материала, принявшего в ней участие, красивой жертве единственной фигуры и вообще красоте всего замысла. Две пешки, стоящие почти рядом, преодолевают без фигурной поддержки сопротивление короля и коня, т. е. фигур, значительно более сильных.</p>
</div> <!-- score -->
</div> <!-- section -->

<div class="section">
<div class="chessBoard small floater" data-start-fen="K7/8/5P1k/p7/8/8/8/8 w - - 0 1"></div>
<div class="score">
 <span class="line0" onclick='loadMove("K7/8/5P1k/p7/8/8/8/8 w - - 0 1", this, ""); '>[...]</span> 
<div class="chessBoard analysis nobuttons" data-start-fen="K7/8/5P1k/p7/8/8/8/8 w - - 0 1"></div>
<p>На этой диаграмме изображен этюд Рети. Белые начинают и делают ничью. На первый взгляд этюдное задание выглядит как явная
<!--p>15</p-->
нелепость. Ведь белая пешка на f6 нейтрализована, в то время как пешку черных белый король настигнуть никак не может. Таково очевидное положение вещей. Но очевидное в данном случае не является истиной. На самом деле, белые проводят комбинацию с двумя темами. Одна из них иллюстрирует удачную погоню белого короля за пешкой черных, а другая — проведение собственной пешки в ферзи, несмотря на надежную сторожевую роль короля черных. Комбинация развивается так:
 <span onclick='loadMove("8/1K6/5P1k/p7/8/8/8/8 b - - 0 1", this, "a8b7"); ' class="line0">1.Крb7</span> 
 <span onclick='loadMove("8/1K6/5P1k/8/p7/8/8/8 w - - 0 2", this, "a5a4"); ' class="line0">a4</span> 
 <span onclick='loadMove("8/8/2K2P1k/8/p7/8/8/8 b - - 0 2", this, "b7c6"); ' class="line0">2.Крc6</span> 
(Теперь, если
 <span onclick='loadMove("8/8/2K2P1k/8/8/p7/8/8 w - - 0 3", this, "a4a3"); ' class="line1">2...a3</span> 
, то
 <span onclick='loadMove("8/8/3K1P1k/8/8/p7/8/8 b - - 0 3", this, "c6d6"); ' class="line1">3.Крd6</span> 
 <span onclick='loadMove("8/8/3K1P1k/8/8/8/p7/8 w - - 0 4", this, "a3a2"); ' class="line1">a2</span> 
 <span onclick='loadMove("8/5P2/3K3k/8/8/8/p7/8 b - - 0 4", this, "f6f7"); ' class="line1">4.f7</span> 
 <span onclick='loadMove("8/5Pk1/3K4/8/8/8/p7/8 w - - 0 5", this, "h6g7"); ' class="line1">Крg7</span> 
 <span onclick='loadMove("8/4KPk1/8/8/8/8/p7/8 b - - 0 5", this, "d6e7"); ' class="line1">5.Крe7</span> 
и белые также проводят ферзя)
 <span onclick='loadMove("8/8/2K2Pk1/8/p7/8/8/8 w - - 0 3", this, "h6g6"); ' class="line0">2...Крg6</span> 
 <span onclick='loadMove("8/8/5Pk1/3K4/p7/8/8/8 b - - 0 3", this, "c6d5"); ' class="line0">3.Крd5!!</span> 
(Ход с двумя угрозами! Войти в квадрат пешки «а» и защитить свою проходную)
 <span onclick='loadMove("8/8/5Pk1/3K4/8/p7/8/8 w - - 0 4", this, "a4a3"); ' class="line0">3...a3</span> 
 <span onclick='loadMove("8/8/4KPk1/8/8/p7/8/8 b - - 0 4", this, "d5e6"); ' class="line0">4.Крe6</span> 
 <span onclick='loadMove("8/8/4KPk1/8/8/8/p7/8 w - - 0 5", this, "a3a2"); ' class="line0">a2</span> 
 <span onclick='loadMove("8/5P2/4K1k1/8/8/8/p7/8 b - - 0 5", this, "f6f7"); ' class="line0">5.f7</span> 
. Ничья.</p>
<br />
<p>Волнуют многие комбинационные этюды классика этюдной композиции, незабвенного А. А. Троицкого. Проиллюстрируем один из них, который нам кажется наиболее эстетически впечатляющим.</p>
</div> <!-- score -->
</div> <!-- section -->

<div class="section">
<div class="chessBoard small floater" data-start-fen="8/1qp1k3/p4p2/3PN3/3RP3/8/PP3Pn1/6K1 w - - 0 1"></div>
<div class="score">
 <span class="line0" onclick='loadMove("8/1qp1k3/p4p2/3PN3/3RP3/8/PP3Pn1/6K1 w - - 0 1", this, ""); '>[...]</span> 
<div class="chessBoard analysis nobuttons" data-start-fen="8/1qp1k3/p4p2/3PN3/3RP3/8/PP3Pn1/6K1 w - - 0 1"></div>
<p>Комбинация, приводящая к выигрышу, построена на шестикратном повторении темы двойного удара, но этого мало. Красота этюда заключается еще в крайне скупом движении ладьи сначала вперед, а потом назад
<!--p>16</p-->
по тому же пути (за 4 хода) и эта «ленивая» скупость в движении приносит в то же время громовой эффект:
 <span onclick='loadMove("8/1qp1k3/p4p2/3PN3/1R2P3/8/PP3Pn1/6K1 b - - 0 1", this, "d4b4"); ' class="line0">1.Лb4!</span> 
 <span onclick='loadMove("2q5/2p1k3/p4p2/3PN3/1R2P3/8/PP3Pn1/6K1 w - - 0 2", this, "b7c8"); ' class="line0">Фc8</span> 
 <span onclick='loadMove("1Rq5/2p1k3/p4p2/3PN3/4P3/8/PP3Pn1/6K1 b - - 0 2", this, "b4b8"); ' class="line0">2.Лb8</span> 
 <span onclick='loadMove("1R6/2p1k3/p4p2/3PN3/4P3/7q/PP3Pn1/6K1 w - - 0 3", this, "c8h3"); ' class="line0">Фh3</span> 
 <span onclick='loadMove("7R/2p1k3/p4p2/3PN3/4P3/7q/PP3Pn1/6K1 b - - 0 3", this, "b8h8"); ' class="line0">3.Лh8</span> 
 <span onclick='loadMove("7R/2p1k3/p4p2/3PN3/4P2n/7q/PP3P2/6K1 w - - 0 4", this, "g2h4"); ' class="line0">Кh4</span> 
 <span onclick='loadMove("8/2p1k3/p4p2/3PN3/4P2R/7q/PP3P2/6K1 b - - 0 4", this, "h8h4"); ' class="line0">4.Л:h4</span> 
 <span onclick='loadMove("2q5/2p1k3/p4p2/3PN3/4P2R/8/PP3P2/6K1 w - - 0 5", this, "h3c8"); ' class="line0">Фc8</span> 
 <span onclick='loadMove("2q4R/2p1k3/p4p2/3PN3/4P3/8/PP3P2/6K1 b - - 0 5", this, "h4h8"); ' class="line0">5.Лh8</span> 
 <span onclick='loadMove("7R/1qp1k3/p4p2/3PN3/4P3/8/PP3P2/6K1 w - - 0 6", this, "c8b7"); ' class="line0">Фb7</span> 
 <span onclick='loadMove("1R6/1qp1k3/p4p2/3PN3/4P3/8/PP3P2/6K1 b - - 0 6", this, "h8b8"); ' class="line0">6.Лb8</span> 
, и черные, наконец, теряют упорно ускользавшего ферзя. Художественна и конструкция маневра ладьи: <b>Лb8-h8:h4-h8-b8</b>.</p>
<p>Рассматривая воздействие творческого хода в шахматной партии на зрителя, Эм. Ласкер говорит: «Зритель наслаждается не только внешней стороной шахматной партии, но также ее историей, ее драмой. Не имеет значения, что сценой служит шахматная доска, а актеров изображают шахматные фигуры. Если бы драма шахматных игроков развертывалась на сцене театра, она не могла бы произвести более глубокого впечатления, однако при том непременном условии, что к происходящему на доске зритель чувствует интерес и понимает его».</p>
<p>Не все комбинации производят равное эстетическое впечатление. Комбинации могут быть более красивы и менее красивы. Грубая внешняя оболочка (форма) может не соответствовать тонкому замыслу (содержанию). В основе комбинации всегда сочетаются два важных творческих метода — динамика и гармония. Это сочетание ведет к созданию творческих образцов, художественное содержание которых и составляет, главным образом, эстетику комбинации.</p>
</div> <!-- score -->
</div> <!-- section -->

</div> <!-- iBook -->
{% endblock content %}

