{% extends '../../base.htm' %}
{% load static %}
{% block title %}
<title>Глава 2 | ПРИМЕРНЫЕ ПАРТИИ | 4.Кc3 | АНТИ-БЕРЛИН | {{book.title}} | {%for author in book.authors.all%} {%if author.first_name%} {{author.first_name}} {%endif%} {%if author.second_name%} {{author.second_name}} {%endif%} {%if forloop.counter == book.authors.all.count%} {{author.last_name}} {%else%} {{author.last_name}}, {%endif%} {%endfor%} | {{book.year}}</title>
{% endblock title %}
{% block content %}

<div class="iBook">

<div class="section">
<div class="chessBoard small floater" data-start-fen="rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w KQkq - 0 1"></div>
<div class="score">
 <span class="line0" onclick='loadMove("rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w KQkq - 0 1", this, ""); '>[...]</span> 
<h1>Глава 2<br />
 <span onclick='loadMove("rnbqkbnr/pppppppp/8/8/4P3/8/PPPP1PPP/RNBQKBNR b KQkq e3 0 1", this, "e2e4"); ' class="line0">1.e4</span> 
 <span onclick='loadMove("rnbqkbnr/pppp1ppp/8/4p3/4P3/8/PPPP1PPP/RNBQKBNR w KQkq e6 0 2", this, "e7e5"); ' class="line0">e5</span> 
 <span onclick='loadMove("rnbqkbnr/pppp1ppp/8/4p3/4P3/5N2/PPPP1PPP/RNBQKB1R b KQkq - 0 2", this, "g1f3"); ' class="line0">2.Кf3</span> 
 <span onclick='loadMove("r1bqkbnr/pppp1ppp/2n5/4p3/4P3/5N2/PPPP1PPP/RNBQKB1R w KQkq - 0 3", this, "b8c6"); ' class="line0">Кc6</span> 
 <span onclick='loadMove("r1bqkbnr/pppp1ppp/2n5/1B2p3/4P3/5N2/PPPP1PPP/RNBQK2R b KQkq - 0 3", this, "f1b5"); ' class="line0">3.Сb5</span> 
 <span onclick='loadMove("r1bqkb1r/pppp1ppp/2n2n2/1B2p3/4P3/5N2/PPPP1PPP/RNBQK2R w KQkq - 0 4", this, "g8f6"); ' class="line0">Кf6</span> 
 <span onclick='loadMove("r1bqkb1r/pppp1ppp/2n2n2/1B2p3/4P3/2N2N2/PPPP1PPP/R1BQK2R b KQkq - 0 4", this, "b1c3"); ' class="line0">4.Кc3</span> 
 <span onclick='loadMove("r1bqk2r/pppp1ppp/2n2n2/1B2p3/1b2P3/2N2N2/PPPP1PPP/R1BQK2R w KQkq - 0 5", this, "f8b4"); ' class="line0">Сb4</span> 
</h1>
<h2>ПРИМЕРНЫЕ ПАРТИИ</h2>
</div> <!-- score -->
</div> <!-- section -->

<div class="section">
<div class="chessBoard small floater" data-start-fen="rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w KQkq - 0 1"></div>
<div class="score">
 <span class="line0" onclick='loadMove("rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w KQkq - 0 1", this, ""); '>[...]</span> 
<h3 class="capTop diagram">6 <strong>Nisipeanu – Ponomariov</strong><br />Bazna 2010</h3>
<p>
 <span onclick='loadMove("rnbqkbnr/pppppppp/8/8/4P3/8/PPPP1PPP/RNBQKBNR b KQkq e3 0 1", this, "e2e4"); ' class="line0">1.e4</span> 
 <span onclick='loadMove("rnbqkbnr/pppp1ppp/8/4p3/4P3/8/PPPP1PPP/RNBQKBNR w KQkq e6 0 2", this, "e7e5"); ' class="line0">e5</span> 
 <span onclick='loadMove("rnbqkbnr/pppp1ppp/8/4p3/4P3/5N2/PPPP1PPP/RNBQKB1R b KQkq - 0 2", this, "g1f3"); ' class="line0">2.Кf3</span> 
 <span onclick='loadMove("r1bqkbnr/pppp1ppp/2n5/4p3/4P3/5N2/PPPP1PPP/RNBQKB1R w KQkq - 0 3", this, "b8c6"); ' class="line0">Кc6</span> 
 <span onclick='loadMove("r1bqkbnr/pppp1ppp/2n5/4p3/4P3/2N2N2/PPPP1PPP/R1BQKB1R b KQkq - 0 3", this, "b1c3"); ' class="line0">3.Кc3</span> 
 <span onclick='loadMove("r1bqkb1r/pppp1ppp/2n2n2/4p3/4P3/2N2N2/PPPP1PPP/R1BQKB1R w KQkq - 0 4", this, "g8f6"); ' class="line0">Кf6</span> 
 <span onclick='loadMove("r1bqkb1r/pppp1ppp/2n2n2/1B2p3/4P3/2N2N2/PPPP1PPP/R1BQK2R b KQkq - 0 4", this, "f1b5"); ' class="line0">4.Сb5</span> 
 <span onclick='loadMove("r1bqk2r/pppp1ppp/2n2n2/1B2p3/1b2P3/2N2N2/PPPP1PPP/R1BQK2R w KQkq - 0 5", this, "f8b4"); ' class="line0">Сb4</span> 
 <span onclick='loadMove("r1bqk2r/pppp1ppp/2n2n2/1B2p3/1b2P3/2N2N2/PPPP1PPP/R1BQ1RK1 b kq - 0 5", this, "e1g1"); ' class="line0">5.0-0</span> 
 <span onclick='loadMove("r1bq1rk1/pppp1ppp/2n2n2/1B2p3/1b2P3/2N2N2/PPPP1PPP/R1BQ1RK1 w - - 0 6", this, "e8g8"); ' class="line0">0-0</span> 
 <span onclick='loadMove("r1bq1rk1/pppp1ppp/2n2n2/1B2p3/1b2P3/2NP1N2/PPP2PPP/R1BQ1RK1 b - - 0 6", this, "d2d3"); ' class="line0">6.d3</span> 
 <span onclick='loadMove("r1bq1rk1/ppp2ppp/2np1n2/1B2p3/1b2P3/2NP1N2/PPP2PPP/R1BQ1RK1 w - - 0 7", this, "d7d6"); ' class="line0">d6</span> 
 <span onclick='loadMove("r1bq1rk1/ppp2ppp/2np1n2/1B2p1B1/1b2P3/2NP1N2/PPP2PPP/R2Q1RK1 b - - 0 7", this, "c1g5"); ' class="line0">7.Сg5</span> 
 <span onclick='loadMove("r1bq1rk1/ppp1nppp/3p1n2/1B2p1B1/1b2P3/2NP1N2/PPP2PPP/R2Q1RK1 w - - 0 8", this, "c6e7"); ' class="line0">Кe7</span> 
 <span onclick='loadMove("r1bq1rk1/ppp1nppp/3p1n2/1B2p1B1/1b2P2N/2NP4/PPP2PPP/R2Q1RK1 b - - 0 8", this, "f3h4"); ' class="line0">8.Кh4</span> 
 <span onclick='loadMove("r1bq1rk1/pp2nppp/2pp1n2/1B2p1B1/1b2P2N/2NP4/PPP2PPP/R2Q1RK1 w - - 0 9", this, "c7c6"); ' class="line0">c6</span> 
 <span onclick='loadMove("r1bq1rk1/pp2nppp/2pp1n2/4p1B1/1bB1P2N/2NP4/PPP2PPP/R2Q1RK1 b - - 0 9", this, "b5c4"); ' class="line0">9.Сc4</span> 
 <span onclick='loadMove("r1bq1rk1/pp2nppp/2p2n2/3pp1B1/1bB1P2N/2NP4/PPP2PPP/R2Q1RK1 w - - 0 10", this, "d6d5"); ' class="line0">d5</span> 
 <span onclick='loadMove("r1bq1rk1/pp2nppp/2p2B2/3pp3/1bB1P2N/2NP4/PPP2PPP/R2Q1RK1 b - - 0 10", this, "g5f6"); ' class="line0">10.С:f6</span> 
 <span onclick='loadMove("r1bq1rk1/pp2np1p/2p2p2/3pp3/1bB1P2N/2NP4/PPP2PPP/R2Q1RK1 w - - 0 11", this, "g7f6"); ' class="line0">g:f6</span> 
 <span onclick='loadMove("r1bq1rk1/pp2np1p/2p2p2/3pp3/1b2P2N/1BNP4/PPP2PPP/R2Q1RK1 b - - 0 11", this, "c4b3"); ' class="line0">11.Сb3</span> 
 <span onclick='loadMove("r1bq1rk1/1p2np1p/2p2p2/p2pp3/1b2P2N/1BNP4/PPP2PPP/R2Q1RK1 w - a6 0 12", this, "a7a5"); ' class="line0">a5</span> 
 <span onclick='loadMove("r1bq1rk1/1p2np1p/2p2p2/p2pp3/1b2P2N/PBNP4/1PP2PPP/R2Q1RK1 b - - 0 12", this, "a2a3"); ' class="line0">12.a3</span> 
 <span onclick='loadMove("r1bq1rk1/1p2np1p/2p2p2/p2pp3/4P2N/PBbP4/1PP2PPP/R2Q1RK1 w - - 0 13", this, "b4c3"); ' class="line0">С:c3</span> 
 <span onclick='loadMove("r1bq1rk1/1p2np1p/2p2p2/p2pp3/4P2N/PBPP4/2P2PPP/R2Q1RK1 b - - 0 13", this, "b2c3"); ' class="line0">13.b:c3</span> 
 <span onclick='loadMove("r1bq1rk1/1p2np1p/2p2p2/3pp3/p3P2N/PBPP4/2P2PPP/R2Q1RK1 w - - 0 14", this, "a5a4"); ' class="line0">a4</span> 
 <span onclick='loadMove("r1bq1rk1/1p2np1p/2p2p2/3pp3/p3P2N/P1PP4/B1P2PPP/R2Q1RK1 b - - 0 14", this, "b3a2"); ' class="line0">14.Сa2</span> 
 <span onclick='loadMove("r1bq1rk1/1p3p1p/2p2pn1/3pp3/p3P2N/P1PP4/B1P2PPP/R2Q1RK1 w - - 0 15", this, "e7g6"); ' class="line0">Кg6</span> 
 <span onclick='loadMove("r1bq1rk1/1p3p1p/2p2pn1/3pp2Q/p3P2N/P1PP4/B1P2PPP/R4RK1 b - - 0 15", this, "d1h5"); ' class="line0">15.Фh5</span> 
 <span onclick='loadMove("r1bq1r1k/1p3p1p/2p2pn1/3pp2Q/p3P2N/P1PP4/B1P2PPP/R4RK1 w - - 0 16", this, "g8h8"); ' class="line0">Крh8</span> 
 <span onclick='loadMove("r1bq1r1k/1p3p1p/2p2pn1/3pp2Q/p3P2N/P1PP4/B1P2PPP/R4R1K b - - 0 16", this, "g1h1"); ' class="line0">16.Крh1</span> 
 <span onclick='loadMove("r1bq2rk/1p3p1p/2p2pn1/3pp2Q/p3P2N/P1PP4/B1P2PPP/R4R1K w - - 0 17", this, "f8g8"); ' class="line0">Лg8</span> 
</p>
<div class="chessBoard analysis nobuttons" data-start-fen="r1bq2rk/1p3p1p/2p2pn1/3pp2Q/p3P2N/P1PP4/B1P2PPP/R4R1K w - - 0 17"></div>
<p>
 <span onclick='loadMove("r1bq2rk/1p3p1p/2p2pn1/3pp2Q/p2PP2N/P1P5/B1P2PPP/R4R1K b - - 0 17", this, "d3d4"); ' class="line0">17.d4?</span> 
</p>
<p>Неудачная попытка борьбы за перевес, аккуратное
 <span onclick='loadMove("r1bq2rk/1p3p1p/2p2pN1/3pp2Q/p3P3/P1PP4/B1P2PPP/R4R1K b - - 0 17", this, "h4g6"); ' class="line1">17.К:g6+</span> 
 <span onclick='loadMove("r1bq2rk/1p5p/2p2pp1/3pp2Q/p3P3/P1PP4/B1P2PPP/R4R1K w - - 0 18", this, "f7g6"); ' class="line1">f:g6</span> 
 <span onclick='loadMove("r1bq2rk/1p5p/2p2pp1/3pp3/p3P2Q/P1PP4/B1P2PPP/R4R1K b - - 0 18", this, "h5h4"); ' class="line1">18.Фh4</span> 
 <span onclick='loadMove("r1bq2rk/1p5p/2p2p2/3pp1p1/p3P2Q/P1PP4/B1P2PPP/R4R1K w - - 0 19", this, "g6g5"); ' class="line1">g5</span> 
 <span onclick='loadMove("r1bq2rk/1p5p/2p2p2/3pp1p1/p3P3/P1PP2Q1/B1P2PPP/R4R1K b - - 0 19", this, "h4g3"); ' class="line1">19.Фg3</span> 
 <span onclick='loadMove("r2q2rk/1p5p/2p1bp2/3pp1p1/p3P3/P1PP2Q1/B1P2PPP/R4R1K w - - 0 20", this, "c8e6"); ' class="line1">Сe6</span> 
= не ставит проблем, но и не дает худшей игры.</p>
<p>
 <span onclick='loadMove("r1bq2rk/1p3p1p/2p3n1/3ppp1Q/p2PP2N/P1P5/B1P2PPP/R4R1K w - - 0 18", this, "f6f5"); ' class="line0">17...f5!</span> 
 <span onclick='loadMove("r1bq2rk/1p3p1p/2p3n1/3ppN1Q/p2PP3/P1P5/B1P2PPP/R4R1K b - - 0 18", this, "h4f5"); ' class="line0">18.К:f5?</span> 
</p>
<p>Шансы на уравнение давало
 <span onclick='loadMove("r1bq2rk/1p3p1p/2p3N1/3ppp1Q/p2PP3/P1P5/B1P2PPP/R4R1K b - - 0 18", this, "h4g6"); ' class="line1">18.К:g6+</span> 
 <span onclick='loadMove("r1bq2rk/1p5p/2p3p1/3ppp1Q/p2PP3/P1P5/B1P2PPP/R4R1K w - - 0 19", this, "f7g6"); ' class="line1">f:g6</span> 
 <span onclick='loadMove("r1bq2rk/1p5p/2p3pQ/3ppp2/p2PP3/P1P5/B1P2PPP/R4R1K b - - 0 19", this, "h5h6"); ' class="line1">19.Фh6</span> 
 <span onclick='loadMove("r1bq2rk/1p5p/2p3pQ/3pp3/p2Pp3/P1P5/B1P2PPP/R4R1K w - - 0 20", this, "f5e4"); ' class="line1">f:e4</span> 
 <span onclick='loadMove("r1bq2rk/1p5p/2p3pQ/3pp3/p1PPp3/P7/B1P2PPP/R4R1K b - - 0 20", this, "c3c4"); ' class="line1">20.c4!</span> 
<b class="CAChess">&#179;</b></p>
<p>
 <span onclick='loadMove("r1bq2rk/1p3p1p/2p5/3ppN1Q/p2PPn2/P1P5/B1P2PPP/R4R1K w - - 0 19", this, "g6f4"); ' class="line0">18...Кf4</span> 
</p>
<div class="chessBoard analysis nobuttons" data-start-fen="r1bq2rk/1p3p1p/2p5/3ppN1Q/p2PPn2/P1P5/B1P2PPP/R4R1K w - - 0 19"></div>
<p>
 <span onclick='loadMove("r1bq2rk/1p3p1p/2p4Q/3ppN2/p2PPn2/P1P5/B1P2PPP/R4R1K b - - 0 19", this, "h5h6"); ' class="line0">19.Фh6?</span> 
</p>
<p>Третья ошибка подряд делает позицию белых совершенно безнадежной, затягивало сопротивление
 <span onclick='loadMove("r1bq2rk/1p3p1p/2p4N/3pp2Q/p2PPn2/P1P5/B1P2PPP/R4R1K b - - 0 19", this, "f5h6"); ' class="line1">19.Кh6</span> 
 <span onclick='loadMove("r1bq2rk/1p3p1p/2p4N/3pp2n/p2PP3/P1P5/B1P2PPP/R4R1K w - - 0 20", this, "f4h5"); ' class="line1">К:h5</span> 
 <span onclick='loadMove("r1bq2rk/1p3N1p/2p5/3pp2n/p2PP3/P1P5/B1P2PPP/R4R1K b - - 0 20", this, "h6f7"); ' class="line1">20.К:f7+</span> 
 <span onclick='loadMove("r1bq2r1/1p3Nkp/2p5/3pp2n/p2PP3/P1P5/B1P2PPP/R4R1K w - - 0 21", this, "h8g7"); ' class="line1">Крg7</span> 
 <span onclick='loadMove("r1bN2r1/1p4kp/2p5/3pp2n/p2PP3/P1P5/B1P2PPP/R4R1K b - - 0 21", this, "f7d8"); ' class="line1">21.К:d8</span> 
 <span onclick='loadMove("r1br4/1p4kp/2p5/3pp2n/p2PP3/P1P5/B1P2PPP/R4R1K w - - 0 22", this, "g8d8"); ' class="line1">Л:d8</span> 
 <span onclick='loadMove("r1br4/1p4kp/2p5/3pP2n/p3P3/P1P5/B1P2PPP/R4R1K b - - 0 22", this, "d4e5"); ' class="line1">22.d:e5</span> 
<b class="CAChess">&#181;</b></p>
<p>
 <span onclick='loadMove("r1bq3k/1p3p1p/2p3rQ/3ppN2/p2PPn2/P1P5/B1P2PPP/R4R1K w - - 0 20", this, "g8g6"); ' class="line0">19...Лg6</span> 
 <span onclick='loadMove("r1bq3k/1p3p1p/2p3r1/3ppN2/p2PPn1Q/P1P5/B1P2PPP/R4R1K b - - 0 20", this, "h6h4"); ' class="line0">20.Фh4</span> 
 <span onclick='loadMove("r2q3k/1p3p1p/2p3r1/3ppb2/p2PPn1Q/P1P5/B1P2PPP/R4R1K w - - 0 21", this, "c8f5"); ' class="line0">С:f5</span> 
 <span onclick='loadMove("r2Q3k/1p3p1p/2p3r1/3ppb2/p2PPn2/P1P5/B1P2PPP/R4R1K b - - 0 21", this, "h4d8"); ' class="line0">21.Ф:d8+</span> 
 <span onclick='loadMove("3r3k/1p3p1p/2p3r1/3ppb2/p2PPn2/P1P5/B1P2PPP/R4R1K w - - 0 22", this, "a8d8"); ' class="line0">Л:d8</span> 
 <span onclick='loadMove("3r3k/1p3p1p/2p3r1/3ppP2/p2P1n2/P1P5/B1P2PPP/R4R1K b - - 0 22", this, "e4f5"); ' class="line0">22.e:f5</span> 
 <span onclick='loadMove("3r3k/1p3p1p/2p5/3ppP2/p2P1n2/P1P5/B1P2PrP/R4R1K w - - 0 23", this, "g6g2"); ' class="line0">Л:g2</span> 
 <span onclick='loadMove("3r3k/1p3p1p/2p5/3pPP2/p4n2/P1P5/B1P2PrP/R4R1K b - - 0 23", this, "d4e5"); ' class="line0">23.d:e5</span> 
 <span onclick='loadMove("6rk/1p3p1p/2p5/3pPP2/p4n2/P1P5/B1P2PrP/R4R1K w - - 0 24", this, "d8g8"); ' class="line0">Лdg8</span> 
<b>0-1</b></p>
<p>Угрожает мат в 3 хода
 <!--span onclick='loadMove("6rk/1p3p1p/2p5/3pPP2/p4n2/P1P5/B1P2PrP/R4R1K b - - 0 24", this, "d8g8"); ' class="line1">24.z0</span--> 
путем
 <span onclick='loadMove("6rk/1p3p1p/2p5/3pPP2/p7/P1P4n/B1P2PrP/R4R1K w - - 0 25", this, "f4h3"); ' class="line1">24...Кh3</span> 
 <!--span onclick='loadMove("6rk/1p3p1p/2p5/3pPP2/p7/P1P4n/B1P2PrP/R4R1K b - - 0 25", this, "f4h3"); ' class="line1">25.z0</span--> 
с неизбежным
 <span onclick='loadMove("6rk/1p3p1p/2p5/3pPP2/p7/P1P4n/B1P2P1P/R4RrK w - - 0 26", this, "g2g1"); ' class="line1">25...Лg1+</span> 
и <b>26...Кf2X</b>,
а единственная защита от него ведет после к потере слона
 <span onclick='loadMove("6rk/1p3p1p/2p5/3pPP2/p4n2/P1P5/B1P2PrP/R5RK b - - 0 24", this, "f1g1"); ' class="line1">24.Лg1</span> 
 <span onclick='loadMove("6rk/1p3p1p/2p5/3pPP2/p4n2/P1P5/B1P2P1P/R5rK w - - 0 25", this, "g2g1"); ' class="line1">Л:g1+</span> 
 <span onclick='loadMove("6rk/1p3p1p/2p5/3pPP2/p4n2/P1P5/B1P2P1P/6RK b - - 0 25", this, "a1g1"); ' class="line1">25.Л:g1</span> 
 <span onclick='loadMove("7k/1p3p1p/2p5/3pPP2/p4n2/P1P5/B1P2P1P/6rK w - - 0 26", this, "g8g1"); ' class="line1">Л:g1+</span> 
 <span onclick='loadMove("7k/1p3p1p/2p5/3pPP2/p4n2/P1P5/B1P2P1P/6K1 b - - 0 26", this, "h1g1"); ' class="line1">26.Кр:g1</span> 
 <span onclick='loadMove("7k/1p3p1p/2p5/3pPP2/p7/P1P5/B1P1nP1P/6K1 w - - 0 27", this, "f4e2"); ' class="line1">Кe2+</span> 
 <span onclick='loadMove("7k/1p3p1p/2p5/3pPP2/p7/P1P5/B1P1nP1P/5K2 b - - 0 27", this, "g1f1"); ' class="line1">27.Крf1</span> 
 <span onclick='loadMove("7k/1p3p1p/2p5/3pPP2/p7/P1n5/B1P2P1P/5K2 w - - 0 28", this, "e2c3"); ' class="line1">К:c3</span> 
<b class="CAChess">&#176;</b></p>
</div> <!-- score -->
</div> <!-- section -->

<div class="section">
<div class="chessBoard small floater" data-start-fen="rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w KQkq - 0 1"></div>
<div class="score">
 <span class="line0" onclick='loadMove("rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w KQkq - 0 1", this, ""); '>[...]</span> 
<h3 class="capTop diagram">7 <strong>Yu Ruiyuan – Harikrishna</strong><br />Mashhad 2011</h3>
<p>
 <span onclick='loadMove("rnbqkbnr/pppppppp/8/8/4P3/8/PPPP1PPP/RNBQKBNR b KQkq e3 0 1", this, "e2e4"); ' class="line0">1.e4</span> 
 <span onclick='loadMove("rnbqkbnr/pppp1ppp/8/4p3/4P3/8/PPPP1PPP/RNBQKBNR w KQkq e6 0 2", this, "e7e5"); ' class="line0">e5</span> 
 <span onclick='loadMove("rnbqkbnr/pppp1ppp/8/4p3/4P3/5N2/PPPP1PPP/RNBQKB1R b KQkq - 0 2", this, "g1f3"); ' class="line0">2.Кf3</span> 
 <span onclick='loadMove("r1bqkbnr/pppp1ppp/2n5/4p3/4P3/5N2/PPPP1PPP/RNBQKB1R w KQkq - 0 3", this, "b8c6"); ' class="line0">Кc6</span> 
 <span onclick='loadMove("r1bqkbnr/pppp1ppp/2n5/4p3/4P3/2N2N2/PPPP1PPP/R1BQKB1R b KQkq - 0 3", this, "b1c3"); ' class="line0">3.Кc3</span> 
 <span onclick='loadMove("r1bqkb1r/pppp1ppp/2n2n2/4p3/4P3/2N2N2/PPPP1PPP/R1BQKB1R w KQkq - 0 4", this, "g8f6"); ' class="line0">Кf6</span> 
<!--p>52</p--><!--p>4.Кc3 Сb4 5.0-0 0-0 6.d3 d6</p-->
 <span onclick='loadMove("r1bqkb1r/pppp1ppp/2n2n2/1B2p3/4P3/2N2N2/PPPP1PPP/R1BQK2R b KQkq - 0 4", this, "f1b5"); ' class="line0">4.Сb5</span> 
 <span onclick='loadMove("r1bqk2r/pppp1ppp/2n2n2/1B2p3/1b2P3/2N2N2/PPPP1PPP/R1BQK2R w KQkq - 0 5", this, "f8b4"); ' class="line0">Сb4</span> 
 <span onclick='loadMove("r1bqk2r/pppp1ppp/2n2n2/1B2p3/1b2P3/2N2N2/PPPP1PPP/R1BQ1RK1 b kq - 0 5", this, "e1g1"); ' class="line0">5.0-0</span> 
 <span onclick='loadMove("r1bq1rk1/pppp1ppp/2n2n2/1B2p3/1b2P3/2N2N2/PPPP1PPP/R1BQ1RK1 w - - 0 6", this, "e8g8"); ' class="line0">0-0</span> 
 <span onclick='loadMove("r1bq1rk1/pppp1ppp/2n2n2/1B2p3/1b2P3/2NP1N2/PPP2PPP/R1BQ1RK1 b - - 0 6", this, "d2d3"); ' class="line0">6.d3</span> 
 <span onclick='loadMove("r1bq1rk1/ppp2ppp/2np1n2/1B2p3/1b2P3/2NP1N2/PPP2PPP/R1BQ1RK1 w - - 0 7", this, "d7d6"); ' class="line0">d6</span> 
 <span onclick='loadMove("r1bq1rk1/ppp2ppp/2np1n2/1B2p1B1/1b2P3/2NP1N2/PPP2PPP/R2Q1RK1 b - - 0 7", this, "c1g5"); ' class="line0">7.Сg5</span> 
 <span onclick='loadMove("r1bq1rk1/ppp1nppp/3p1n2/1B2p1B1/1b2P3/2NP1N2/PPP2PPP/R2Q1RK1 w - - 0 8", this, "c6e7"); ' class="line0">Кe7</span> 
 <span onclick='loadMove("r1bq1rk1/ppp1nppp/3p1n2/1B2p1B1/1b2P2N/2NP4/PPP2PPP/R2Q1RK1 b - - 0 8", this, "f3h4"); ' class="line0">8.Кh4</span> 
 <span onclick='loadMove("r1bq1rk1/pp2nppp/2pp1n2/1B2p1B1/1b2P2N/2NP4/PPP2PPP/R2Q1RK1 w - - 0 9", this, "c7c6"); ' class="line0">c6</span> 
 <span onclick='loadMove("r1bq1rk1/pp2nppp/2pp1n2/4p1B1/1bB1P2N/2NP4/PPP2PPP/R2Q1RK1 b - - 0 9", this, "b5c4"); ' class="line0">9.Сc4</span> 
 <span onclick='loadMove("r1bq1rk1/pp2nppp/2p2n2/3pp1B1/1bB1P2N/2NP4/PPP2PPP/R2Q1RK1 w - - 0 10", this, "d6d5"); ' class="line0">d5</span> 
 <span onclick='loadMove("r1bq1rk1/pp2nppp/2p2n2/3pp1B1/1b2P2N/1BNP4/PPP2PPP/R2Q1RK1 b - - 0 10", this, "c4b3"); ' class="line0">10.Сb3</span> 
 <span onclick='loadMove("r1bq1rk1/1p2nppp/2p2n2/p2pp1B1/1b2P2N/1BNP4/PPP2PPP/R2Q1RK1 w - a6 0 11", this, "a7a5"); ' class="line0">a5</span> 
 <span onclick='loadMove("r1bq1rk1/1p2nppp/2p2n2/p2pp1B1/Pb2P2N/1BNP4/1PP2PPP/R2Q1RK1 b - a3 0 11", this, "a2a4"); ' class="line0">11.a4</span> 
 <span onclick='loadMove("r1b2rk1/1p2nppp/2pq1n2/p2pp1B1/Pb2P2N/1BNP4/1PP2PPP/R2Q1RK1 w - - 0 12", this, "d8d6"); ' class="line0">Фd6</span> 
 <span onclick='loadMove("r1b2rk1/1p2nppp/2pq1n2/p2pp1B1/Pb2P2N/1BNP1Q2/1PP2PPP/R4RK1 b - - 0 12", this, "d1f3"); ' class="line0">12.Фf3</span> 
 <span onclick='loadMove("r1b2rk1/1p2npp1/2pq1n1p/p2pp1B1/Pb2P2N/1BNP1Q2/1PP2PPP/R4RK1 w - - 0 13", this, "h7h6"); ' class="line0">h6</span> 
 <span onclick='loadMove("r1b2rk1/1p2npp1/2pq1B1p/p2pp3/Pb2P2N/1BNP1Q2/1PP2PPP/R4RK1 b - - 0 13", this, "g5f6"); ' class="line0">13.С:f6</span> 
 <span onclick='loadMove("r1b2rk1/1p2npp1/2p2q1p/p2pp3/Pb2P2N/1BNP1Q2/1PP2PPP/R4RK1 w - - 0 14", this, "d6f6"); ' class="line0">Ф:f6</span> 
 <span onclick='loadMove("r1b2rk1/1p2npp1/2p2Q1p/p2pp3/Pb2P2N/1BNP4/1PP2PPP/R4RK1 b - - 0 14", this, "f3f6"); ' class="line0">14.Ф:f6</span> 
 <span onclick='loadMove("r1b2rk1/1p2np2/2p2p1p/p2pp3/Pb2P2N/1BNP4/1PP2PPP/R4RK1 w - - 0 15", this, "g7f6"); ' class="line0">g:f6</span> 
 <span onclick='loadMove("r1b2rk1/1p2np2/2p2p1p/p2pp3/Pb2PP1N/1BNP4/1PP3PP/R4RK1 b - f3 0 15", this, "f2f4"); ' class="line0">15.f4</span> 
 <span onclick='loadMove("r4rk1/1p2np2/2p1bp1p/p2pp3/Pb2PP1N/1BNP4/1PP3PP/R4RK1 w - - 0 16", this, "c8e6"); ' class="line0">Сe6</span> 
 <span onclick='loadMove("r4rk1/1p2np2/2p1bp1p/p2Pp3/Pb3P1N/1BNP4/1PP3PP/R4RK1 b - - 0 16", this, "e4d5"); ' class="line0">16.e:d5</span> 
 <span onclick='loadMove("r4rk1/1p2np2/4bp1p/p2pp3/Pb3P1N/1BNP4/1PP3PP/R4RK1 w - - 0 17", this, "c6d5"); ' class="line0">c:d5</span> 
 <span onclick='loadMove("r4rk1/1p2np2/4bp1p/pN1pp3/Pb3P1N/1B1P4/1PP3PP/R4RK1 b - - 0 17", this, "c3b5"); ' class="line0">17.Кb5</span> 
 <span onclick='loadMove("3r1rk1/1p2np2/4bp1p/pN1pp3/Pb3P1N/1B1P4/1PP3PP/R4RK1 w - - 0 18", this, "a8d8"); ' class="line0">Лad8</span> 
<b class="CAChess">&#132;</b></p>
<div class="chessBoard analysis nobuttons" data-start-fen="3r1rk1/1p2np2/4bp1p/pN1pp3/Pb3P1N/1B1P4/1PP3PP/R4RK1 w - - 0 18"></div>
<p>Черные надежно укрепили центральные пешки, а преимущество двух слонов позволяет им смело смотреть в будущее.</p>
<p>
 <span onclick='loadMove("3r1rk1/1p2np2/4bp1p/pN1pp3/Pb3P1N/1B1P4/1PP3PP/R4R1K b - - 0 18", this, "g1h1"); ' class="line0">18.Крh1</span> 
</p>
<p>После
 <span onclick='loadMove("3r1rk1/1p2np2/4bp1p/pN1pp3/Pb3P1N/1BPP4/1P4PP/R4RK1 b - - 0 18", this, "c2c3"); ' class="line1">18.c3</span> 
 <span onclick='loadMove("3r1rk1/1p2np2/4bp1p/pNbpp3/P4P1N/1BPP4/1P4PP/R4RK1 w - - 0 19", this, "b4c5"); ' class="line1">Сc5+</span> 
 <span onclick='loadMove("3r1rk1/1p2np2/4bp1p/pNbpp3/P2P1P1N/1BP5/1P4PP/R4RK1 b - - 0 19", this, "d3d4"); ' class="line1">19.d4</span> 
 <span onclick='loadMove("3r1rk1/1p2np2/1b2bp1p/pN1pp3/P2P1P1N/1BP5/1P4PP/R4RK1 w - - 0 20", this, "c5b6"); ' class="line1">Сb6</span> 
<b class="CAChess">&#132;</b> не видно, как белые могут усилить давление на центр противника.</p>
<p>
 <span onclick='loadMove("3r1rk1/1p2np2/4bp1p/pN1p4/Pb2pP1N/1B1P4/1PP3PP/R4R1K w - - 0 19", this, "e5e4"); ' class="line0">18...e4!?</span> 
 <span onclick='loadMove("3r1rk1/1p2np2/4bp1p/pN1p4/Pb2pP1N/1BPP4/1P4PP/R4R1K b - - 0 19", this, "c2c3"); ' class="line0">19.c3</span> 
 <span onclick='loadMove("3r1rk1/1p2np2/4bp1p/pNbp4/P3pP1N/1BPP4/1P4PP/R4R1K w - - 0 20", this, "b4c5"); ' class="line0">Сc5</span> 
 <span onclick='loadMove("3r1rk1/1p2np2/4bp1p/pNbp4/P2PpP1N/1BP5/1P4PP/R4R1K b - - 0 20", this, "d3d4"); ' class="line0">20.d4</span> 
 <span onclick='loadMove("3r1rk1/1p2np2/1b2bp1p/pN1p4/P2PpP1N/1BP5/1P4PP/R4R1K w - - 0 21", this, "c5b6"); ' class="line0">Сb6</span> 
 <span onclick='loadMove("3r1rk1/1p2np2/1b2bp1p/pN1p4/P2PpP1N/1BP3P1/1P5P/R4R1K b - - 0 21", this, "g2g3"); ' class="line0">21.g3</span> 
 <span onclick='loadMove("3r1r2/1p2npk1/1b2bp1p/pN1p4/P2PpP1N/1BP3P1/1P5P/R4R1K w - - 0 22", this, "g8g7"); ' class="line0">Крg7</span> 
 <span onclick='loadMove("3r1r2/1p2npk1/1b2bp1p/p2p4/P2PpP1N/NBP3P1/1P5P/R4R1K b - - 0 22", this, "b5a3"); ' class="line0">22.Кa3</span> 
 <span onclick='loadMove("3r1r2/1p2npk1/1b2b2p/p2p1p2/P2PpP1N/NBP3P1/1P5P/R4R1K w - - 0 23", this, "f6f5"); ' class="line0">f5</span> 
 <span onclick='loadMove("3r1r2/1p2npk1/1b2b2p/p2p1p2/P2PpP1N/1BP3P1/1PN4P/R4R1K b - - 0 23", this, "a3c2"); ' class="line0">23.Кc2</span> 
 <span onclick='loadMove("3r1r2/1p3pk1/1b2b1np/p2p1p2/P2PpP1N/1BP3P1/1PN4P/R4R1K w - - 0 24", this, "e7g6"); ' class="line0">Кg6</span> 
 <span onclick='loadMove("3r1r2/1p3pk1/1b2b1np/p2p1p2/P2PpP2/1BP3P1/1PN3NP/R4R1K b - - 0 24", this, "h4g2"); ' class="line0">24.Кg2</span> 
 <span onclick='loadMove("3r1r2/1pb2pk1/4b1np/p2p1p2/P2PpP2/1BP3P1/1PN3NP/R4R1K w - - 0 25", this, "b6c7"); ' class="line0">Сc7</span> 
</p>
<div class="chessBoard analysis nobuttons" data-start-fen="3r1r2/1pb2pk1/4b1np/p2p1p2/P2PpP2/1BP3P1/1PN3NP/R4R1K w - - 0 25"></div>
<p>
 <span onclick='loadMove("3r1r2/1pb2pk1/4b1np/p2p1p2/P2PpP2/1BP1N1P1/1P4NP/R4R1K b - - 0 25", this, "c2e3"); ' class="line0">25.Кce3?!</span> 
</p>
<p>Аккуратное
 <span onclick='loadMove("3r1r2/1pb2pk1/4b1np/p2p1p2/P2PpP2/NBP3P1/1P4NP/R4R1K b - - 0 25", this, "c2a3"); ' class="line1">25.Кa3</span> 
 <span onclick='loadMove("3r1r2/1pb2pk1/4b1n1/p2p1p1p/P2PpP2/NBP3P1/1P4NP/R4R1K w - - 0 26", this, "h6h5"); ' class="line1">h5</span> 
 <span onclick='loadMove("3r1r2/1pb2pk1/4b1n1/p2p1p1p/P2PpP1P/NBP3P1/1P4N1/R4R1K b - h3 0 26", this, "h2h4"); ' class="line1">26.h4</span> 
 <span onclick='loadMove("3r1r2/1pb1npk1/4b3/p2p1p1p/P2PpP1P/NBP3P1/1P4N1/R4R1K w - - 0 27", this, "g6e7"); ' class="line1">Кe7</span> 
 <span onclick='loadMove("3r1r2/1pb1npk1/4b3/p2p1p1p/P2PpP1P/NBP1N1P1/1P6/R4R1K b - - 0 27", this, "g2e3"); ' class="line1">27.Кe3</span> 
= поддерживало состояние равновесия – белым не на что нападать, а черным негде прорваться.</p>
<p>
 <span onclick='loadMove("3r1r2/1pb2pk1/4b1n1/p2p1p1p/P2PpP2/1BP1N1P1/1P4NP/R4R1K w - - 0 26", this, "h6h5"); ' class="line0">25...h5!</span> 
 <span onclick='loadMove("3r1r2/1pb2pk1/4b1n1/p2p1p1p/P2PpP2/1BP1N1P1/1P4NP/R4RK1 b - - 0 26", this, "h1g1"); ' class="line0">26.Крg1</span> 
</p>
<p>Дальнейшее движение пешки “h” можно было не допустить, сыграв
 <span onclick='loadMove("3r1r2/1pb2pk1/4b1n1/p2p1p1p/P2PpP1P/1BP1N1P1/1P4N1/R4R1K b - h3 0 26", this, "h2h4"); ' class="line1">26.h4</span> 
 <span onclick='loadMove("3r1r2/1pb1npk1/4b3/p2p1p1p/P2PpP1P/1BP1N1P1/1P4N1/R4R1K w - - 0 27", this, "g6e7"); ' class="line1">Кe7</span> 
 <span onclick='loadMove("3r1r2/1pb1npk1/4b3/p2p1p1p/P2PpP1P/1BP3P1/1PN3N1/R4R1K b - - 0 27", this, "e3c2"); ' class="line1">27.Кc2</span> 
 <span onclick='loadMove("5r2/1pb1npk1/3rb3/p2p1p1p/P2PpP1P/1BP3P1/1PN3N1/R4R1K w - - 0 28", this, "d8d6"); ' class="line1">Лd6</span> 
 <span onclick='loadMove("5r2/1pb1npk1/3rb3/p2p1p1p/P2PpP1P/NBP3P1/1P4N1/R4R1K b - - 0 28", this, "c2a3"); ' class="line1">28.Кa3</span> 
 <span onclick='loadMove("5r2/1pb1npk1/1r2b3/p2p1p1p/P2PpP1P/NBP3P1/1P4N1/R4R1K w - - 0 29", this, "d6b6"); ' class="line1">Лb6</span> 
 <span onclick='loadMove("5r2/1pb1npk1/1r2b3/pN1p1p1p/P2PpP1P/1BP3P1/1P4N1/R4R1K b - - 0 29", this, "a3b5"); ' class="line1">29.Кb5</span> 
 <span onclick='loadMove("5r2/1pbbnpk1/1r6/pN1p1p1p/P2PpP1P/1BP3P1/1P4N1/R4R1K w - - 0 30", this, "e6d7"); ' class="line1">Сd7</span> 
<b class="CAChess">&#179;</b>. Однако, в этом случае белые теряют пешку.</p>
<p>
 <span onclick='loadMove("3r1r2/1pb2pk1/4b1n1/p2p1p2/P2PpP1p/1BP1N1P1/1P4NP/R4RK1 w - - 0 27", this, "h5h4"); ' class="line0">26...h4</span> 
 <span onclick='loadMove("3r1r2/1pb2pk1/4b1n1/p2p1p2/P2PpP1p/1BP1N1P1/1P3KNP/R4R2 b - - 0 27", this, "g1f2"); ' class="line0">27.Крf2</span> 
 <span onclick='loadMove("3r3r/1pb2pk1/4b1n1/p2p1p2/P2PpP1p/1BP1N1P1/1P3KNP/R4R2 w - - 0 28", this, "f8h8"); ' class="line0">Лh8</span> 
 <span onclick='loadMove("3r3r/1pb2pk1/4b1n1/p2p1p2/P2PpP1p/1BP1N1P1/1P3KNP/R5R1 b - - 0 28", this, "f1g1"); ' class="line0">28.Лg1</span> 
 <span onclick='loadMove("3r3r/1pb2p2/4bkn1/p2p1p2/P2PpP1p/1BP1N1P1/1P3KNP/R5R1 w - - 0 29", this, "g7f6"); ' class="line0">Крf6</span> 
 <span onclick='loadMove("3r3r/1pb2p2/4bkn1/p2p1p2/P2PpP1p/1BP1N1P1/1P3KNP/R4R2 b - - 0 29", this, "g1f1"); ' class="line0">29.Лgf1</span> 
 <span onclick='loadMove("3r3r/1pb1kp2/4b1n1/p2p1p2/P2PpP1p/1BP1N1P1/1P3KNP/R4R2 w - - 0 30", this, "f6e7"); ' class="line0">Крe7</span> 
 <span onclick='loadMove("3r3r/1pb1kp2/4b1n1/p2p1p2/P2PpP1p/RBP1N1P1/1P3KNP/5R2 b - - 0 30", this, "a1a3"); ' class="line0">30.Лa3?</span> 
</p>
<p>Главный минус этого хода в том, что ладья добровольно попадает в офсайд.</p>
<p>Следовало стоять на месте, хотя бы путем
 <span onclick='loadMove("3r3r/1pb1kp2/4b1n1/p2p1p2/P2PpP1p/2P1N1P1/BP3KNP/R4R2 b - - 0 30", this, "b3a2"); ' class="line1">30.Сa2</span> 
<b class="CAChess">&#179;</b></p>
<p>
 <span onclick='loadMove("3r3r/1pb1kp2/4b1n1/p2p1p2/P2PpP2/RBP1N1Pp/1P3KNP/5R2 w - - 0 31", this, "h4h3"); ' class="line0">30...h3</span> 
 <span onclick='loadMove("3r3r/1pb1kp2/4b1n1/p2p1p2/P2PpP2/RBP1N1Pp/1P3K1P/4NR2 b - - 0 31", this, "g2e1"); ' class="line0">31.Кe1</span> 
 <span onclick='loadMove("3r3r/1pb1kp2/4b3/p2p1p2/P2Ppn2/RBP1N1Pp/1P3K1P/4NR2 w - - 0 32", this, "g6f4"); ' class="line0">К:f4!</span> 
 <span onclick='loadMove("3r3r/1pb1kp2/4b3/p2p1p2/P2PpP2/RBP1N2p/1P3K1P/4NR2 b - - 0 32", this, "g3f4"); ' class="line0">32.g:f4</span> 
 <span onclick='loadMove("3r3r/1p2kp2/4b3/p2p1p2/P2Ppb2/RBP1N2p/1P3K1P/4NR2 w - - 0 33", this, "c7f4"); ' class="line0">С:f4</span> 
<b class="CAChess">&#176;</b></p>
<div class="chessBoard analysis nobuttons" data-start-fen="3r3r/1p2kp2/4b3/p2p1p2/P2Ppb2/RBP1N2p/1P3K1P/4NR2 w - - 0 33"></div>
<p>Мощные центральные пешки, поддержанные парой сильных слонов обеспечивают черным решающий перевес.</p>
<p>
 <span onclick='loadMove("3r3r/1p2kp2/4b3/p2p1p2/P2Ppb2/RBP1N2p/1P3K1P/4N2R b - - 0 33", this, "f1h1"); ' class="line0">33.Лh1</span> 
 <span onclick='loadMove("3r3r/1p2kp2/4b3/p2p1pb1/P2Pp3/RBP1N2p/1P3K1P/4N2R w - - 0 34", this, "f4g5"); ' class="line0">Сg5</span> 
 <span onclick='loadMove("3r3r/1p2kp2/4b3/p2p1pb1/P2Pp3/RBP1NN1p/1P3K1P/7R b - - 0 34", this, "e1f3"); ' class="line0">34.Кf3</span> 
</p>
<p>Несколько упорнее, но также безнадёжно
 <span onclick='loadMove("3r3r/1p2kp2/4b3/p2p1pb1/P2Pp3/RBP4p/1P3K1P/3NN2R b - - 0 34", this, "e3d1"); ' class="line1">34.Кd1</span> 
 <span onclick='loadMove("3r2r1/1p2kp2/4b3/p2p1pb1/P2Pp3/RBP4p/1P3K1P/3NN2R w - - 0 35", this, "h8g8"); ' class="line1">Лhg8</span> 
 <span onclick='loadMove("3r2r1/1p2kp2/4b3/p2p1pb1/P2Pp3/RBP4p/1P5P/3NNK1R b - - 0 35", this, "f2f1"); ' class="line1">35.Крf1</span> 
 <span onclick='loadMove("3r2r1/1p2kp2/4b3/p2p2b1/P2Ppp2/RBP4p/1P5P/3NNK1R w - - 0 36", this, "f5f4"); ' class="line1">f4</span> 
<b class="CAChess">&#176;</b></p>
<p>
 <span onclick='loadMove("3r3r/1p2kp2/4b3/p2p1pb1/P2P4/RBP1Np1p/1P3K1P/7R w - - 0 35", this, "e4f3"); ' class="line0">34...e:f3</span> 
 <span onclick='loadMove("3r3r/1p2kp2/4b3/p2p1pb1/P2P4/RBP1NK1p/1P5P/7R b - - 0 35", this, "f2f3"); ' class="line0">35.Кр:f3</span> 
 <span onclick='loadMove("3r4/1p2kp2/4b3/p2p1pb1/P2P3r/RBP1NK1p/1P5P/7R w - - 0 36", this, "h8h4"); ' class="line0">Лh4</span> 
 <span onclick='loadMove("3r4/1p2kp2/4b3/p2p1pb1/P2P3r/R1P1NK1p/1PB4P/7R b - - 0 36", this, "b3c2"); ' class="line0">36.Сc2</span> 
 <span onclick='loadMove("6r1/1p2kp2/4b3/p2p1pb1/P2P3r/R1P1NK1p/1PB4P/7R w - - 0 37", this, "d8g8"); ' class="line0">Лg8</span> 
 <span onclick='loadMove("6r1/1p2kp2/4b3/p2p1pb1/P2P3r/R1P1NK1p/1PB4P/5R2 b - - 0 37", this, "h1f1"); ' class="line0">37.Лf1</span> 
 <span onclick='loadMove("6r1/1p2kp2/4b3/p2p1p2/P2P3r/R1P1bK1p/1PB4P/5R2 w - - 0 38", this, "g5e3"); ' class="line0">С:e3</span> 
 <span onclick='loadMove("6r1/1p2kp2/4b3/p2p1p2/P2P3r/R1P1K2p/1PB4P/5R2 b - - 0 38", this, "f3e3"); ' class="line0">38.Кр:e3</span> 
 <span onclick='loadMove("6r1/1p2kp2/4b3/p2p4/P2P1p1r/R1P1K2p/1PB4P/5R2 w - - 0 39", this, "f5f4"); ' class="line0">f4+</span> 
<b>0-1</b></p>
<p>После размена ладей белые теряют пешку h2.</p>
<!--p>53</p-->
</div> <!-- score -->
</div> <!-- section -->

</div> <!-- iBook -->
{% endblock content %}

