{% extends '../../base.htm' %}
{% load static %}
{% block title %}
<title>Надо было попасть в ловушку | {{book.title}} | {%for author in book.authors.all%} {%if author.first_name%} {{author.first_name}} {%endif%} {%if author.second_name%} {{author.second_name}} {%endif%} {%if forloop.counter == book.authors.all.count%} {{author.last_name}} {%else%} {{author.last_name}}, {%endif%} {%endfor%} | {{book.year}}</title>
{% endblock title %}
{% block content %}

<div class="iBook">

<div class="section">
<h2><a name="55">Надо было попасть в ловушку</a></h2>
<div class="score">
<p>— Однако не всех ловушек надо избегать; иногда бывает выгодно в нее угодить. Вот, например...</p>
<p>— Да чего ж тут может быть выгодного? — не выдержал Николай. — Мат зевнуть или без фигуры остаться?</p>
<p>— Ну не скажи. А вдруг соперник чего-нибудь недосчитал? Может такое случиться? Поэтому любую ловушку, как бы она ни была очевидна, надо проверять. Вот, например, известная немецкая шахматистка Э. Келлер-Герман играла в одном международном турнире с венгеркой Е. Кертес...</p>
<p>— Извините, Борис Самойлович, а почему она сразу и Келлер и Герман? — перебил Сережа.</p>
<p>— Вечно ты, Сергей, со своими вопросами!— воскликнул с укором Николай. — Ну какая тебе разница, Келлер она или Герман?</p>
<p>— Ничего, Сережа, не огорчайся, — сказал я, заметив его расстроенное лицо. — Бывает, что неожиданный вопрос раскрывает какую-то новую черту в облике человека, которая иначе бы осталась в тени...</p>
<p>— Вот видишь, Николай, — обрадовался Сережа, — сейчас мы узнаем что-то интересное о Келлер-Герман или, по крайней мере, об одной из них.</p>
<p>— Так вот, — продолжил я, — спортсменки, завоевавшие себе имя еще в юности, обычно, выходя замуж, сохраняют девичью фамилию, но часто присоединяют к ней и фамилию мужа. А Эдит Келлер стала сильным мастером еще до замужества. Между прочим, ее муж Герман — тоже шахматный мастер, кстати весьма обаятельный человек, прямо-таки эталон спокойного, дружелюбного немца.</p>

<p>Но вернемся к партии. Значит, играет она белыми с Кертес:</p>
</div> <!-- score -->
</div> <!-- section -->

<div class="section">
<div class="chessBoard small floater" data-start-fen="rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w KQkq - 0 1"></div>
<div class="score">
<p>
 <span class="line0" onclick='loadMove("rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w KQkq - 0 1", this, ""); '>[...]</span>
 <span onclick='loadMove("rnbqkbnr/pppppppp/8/8/3P4/8/PPP1PPPP/RNBQKBNR b KQkq d3 0 1", this, "d2d4"); ' class="line0">1.d4</span>
 <span onclick='loadMove("rnbqkbnr/ppp1pppp/8/3p4/3P4/8/PPP1PPPP/RNBQKBNR w KQkq d6 0 1", this, "d7d5"); ' class="line0">d5</span>
 <span onclick='loadMove("rnbqkbnr/ppp1pppp/8/3p4/2PP4/8/PP2PPPP/RNBQKBNR b KQkq c3 0 1", this, "c2c4"); ' class="line0">2.c4</span>
 <span onclick='loadMove("rnbqkbnr/ppp2ppp/4p3/3p4/2PP4/8/PP2PPPP/RNBQKBNR w KQkq - 0 1", this, "e7e6"); ' class="line0">e6</span>
 <span onclick='loadMove("rnbqkbnr/ppp2ppp/4p3/3p4/2PP4/2N5/PP2PPPP/R1BQKBNR b KQkq - 0 1", this, "b1c3"); ' class="line0">3.Кc3</span>
 <span onclick='loadMove("rnbqkb1r/ppp2ppp/4pn2/3p4/2PP4/2N5/PP2PPPP/R1BQKBNR w KQkq - 0 1", this, "g8f6"); ' class="line0">Кf6</span>
 <span onclick='loadMove("rnbqkb1r/ppp2ppp/4pn2/3P4/3P4/2N5/PP2PPPP/R1BQKBNR b KQkq - 0 1", this, "c4d5"); ' class="line0">4.cd</span>
 <span onclick='loadMove("rnbqkb1r/ppp2ppp/4p3/3n4/3P4/2N5/PP2PPPP/R1BQKBNR w KQkq - 0 1", this, "f6d5"); ' class="line0">К:d5</span>
 <span onclick='loadMove("rnbqkb1r/ppp2ppp/4p3/3n4/3P4/2N2N2/PP2PPPP/R1BQKB1R b KQkq - 0 1", this, "g1f3"); ' class="line0">5.Кf3</span>
 <span onclick='loadMove("rnbqk2r/ppp2ppp/4p3/3n4/1b1P4/2N2N2/PP2PPPP/R1BQKB1R w KQkq - 0 1", this, "f8b4"); ' class="line0">Сb4</span>
 <span onclick='loadMove("rnbqk2r/ppp2ppp/4p3/3n4/1b1P4/1QN2N2/PP2PPPP/R1B1KB1R b KQkq - 0 1", this, "d1b3"); ' class="line0">6.Фb3</span>
 <span onclick='loadMove("rnbqk2r/pp3ppp/4p3/2pn4/1b1P4/1QN2N2/PP2PPPP/R1B1KB1R w KQkq c6 0 1", this, "c7c5"); ' class="line0">c5</span>
 <span onclick='loadMove("rnbqk2r/pp3ppp/4p3/2pn4/1b1PP3/1QN2N2/PP3PPP/R1B1KB1R b KQkq e3 0 1", this, "e2e4"); ' class="line0">7.e4</span>
 <span onclick='loadMove("rnbqk2r/pp3ppp/4pn2/2p5/1b1PP3/1QN2N2/PP3PPP/R1B1KB1R w KQkq - 0 1", this, "d5f6"); ' class="line0">Кf6</span>
 <span onclick='loadMove("rnbqk2r/pp3ppp/4pn2/2P5/1b2P3/1QN2N2/PP3PPP/R1B1KB1R b KQkq - 0 1", this, "d4c5"); ' class="line0">8.dc</span>
 <span onclick='loadMove("rnb1k2r/pp3ppp/4pn2/q1P5/1b2P3/1QN2N2/PP3PPP/R1B1KB1R w KQkq - 0 1", this, "d8a5"); ' class="line0">Фa5</span>
 <span onclick='loadMove("rnb1k2r/pp3ppp/4pn2/q1P5/1b2P3/1QN2N2/PP1B1PPP/R3KB1R b KQkq - 0 1", this, "c1d2"); ' class="line0">9.Сd2</span>
 <span onclick='loadMove("rnb1k2r/pp3ppp/4pn2/2q5/1b2P3/1QN2N2/PP1B1PPP/R3KB1R w KQkq - 0 1", this, "a5c5"); ' class="line0">Ф:c5</span>
 <span onclick='loadMove("rnb1k2r/pp3ppp/4pn2/2q5/1b2P3/1QN2N2/PP1B1PPP/2R1KB1R b Kkq - 0 1", this, "a1c1"); ' class="line0">10.Лc1</span>.</p>

<div class="chessBoard analysis nobuttons" data-start-fen="rnb1k2r/pp3ppp/4pn2/2q5/1b2P3/1QN2N2/PP1B1PPP/2R1KB1R w Kkq - 0 1"></div>
<p class="caption"><b>Диаграмма 52</b></p>

<p>В этой позиции Кертес сделала ловушечный ход
 <span onclick='loadMove("rnb1k2r/pp3ppp/4p3/2q5/1b2n3/1QN2N2/PP1B1PPP/2R1KB1R w Kkq - 0 1", this, "f6e4"); ' class="line0">10...К:e4</span>,
имея в виду на
 <span onclick='loadMove("rnb1k2r/pp3ppp/4p3/2q5/1b2N3/1Q3N2/PP1B1PPP/2R1KB1R b Kkq - 0 1", this, "c3e4"); ' class="line1">11.К:e4</span>
ответить
 <span onclick='loadMove("rnb1k2r/pp3ppp/4p3/8/1b2N3/1Q3N2/PP1B1PPP/2q1KB1R w Kkq - 0 1", this, "c5c1"); ' class="line1">11...Ф:c1+</span>, и белые не могут взять ферзя, ибо слон d2 неожиданно оказался связан.
Келлер-Герман, конечно, увидела ловушку, ответила
 <span onclick='loadMove("rnb1k2r/pp3ppp/4p3/1Bq5/1b2n3/1QN2N2/PP1B1PPP/2R1K2R b Kkq - 0 1", this, "f1b5"); ' class="line0">11.Сb5+</span>
 <span onclick='loadMove("r1b1k2r/pp3ppp/2n1p3/1Bq5/1b2n3/1QN2N2/PP1B1PPP/2R1K2R w Kkq - 0 1", this, "b8c6"); ' class="line0">Кc6</span>
 <span onclick='loadMove("r1b1k2r/pp3ppp/2n1p3/1Bq5/1b2n3/1QN2N2/PP1B1PPP/2R2RK1 b kq - 0 1", this, "e1g1"); ' class="line0">12.0-0</span>
 <span onclick='loadMove("r1b1k2r/pp3ppp/2n1p3/1Bq5/1b6/1QN2N2/PP1n1PPP/2R2RK1 w kq - 0 1", this, "e4d2"); ' class="line0">К:d2</span>, и черные остались с лишней пешкой.</p>
<p>— Так что, было бы выгоднее, чтобы белые попали в ловушку и остались не только без пешки, но еще и без качества? — пожал плечами Николай. — Да и вообще, мне кажется, тут нарушена логика шахмат. Белые прекрасно развиты, не делали лишних ходов, а черные? Ходили ферзем туда-сюда, отыгрывая пешку, конем четыре раза прыгали, и вдруг — ловушка, и белые практически в проигранном положении. Почему так?</p>
<p>— Ты совершенно прав. Вот поэтому-то белым и следовало попасть в ловушку! Тогда бы они могли сами провести изумительно красивую комбинацию:</p>
<p>
 <span onclick='loadMove("rnb1k2r/pp3ppp/4p3/1Bq5/1b2n3/1QN2N2/PP1B1PPP/2R1K2R b Kkq - 0 1", this, "f1b5"); ' class="line1">11.Сb5+</span>
 <span onclick='loadMove("r1b1k2r/pp3ppp/2n1p3/1Bq5/1b2n3/1QN2N2/PP1B1PPP/2R1K2R w Kkq - 0 1", this, "b8c6"); ' class="line1">Кc6</span>
 <span onclick='loadMove("r1b1k2r/pp3ppp/2n1p3/1Bq5/1b2N3/1Q3N2/PP1B1PPP/2R1K2R b Kkq - 0 1", this, "c3e4"); ' class="line1">12.К:e4!!</span>
 <span onclick='loadMove("r1b1k2r/pp3ppp/2n1p3/1B6/1b2N3/1Q3N2/PP1B1PPP/2q1K2R w Kkq - 0 1", this, "c5c1"); ' class="line1">Ф:c1+</span>
 <span onclick='loadMove("r1b1k2r/pp3ppp/2n1p3/1B6/1b2N3/1Q3N2/PP1BKPPP/2q4R b kq - 0 1", this, "e1e2"); ' class="line1">13.Крe2</span>
 <span onclick='loadMove("r1b1k2r/pp3ppp/2n1p3/1B6/1b2N3/1Q3N2/PP1BKPPP/7q w kq - 0 1", this, "c1h1"); ' class="line1">Ф:h1</span>
 <span onclick='loadMove("r1b1k2r/pp3ppp/2n1p3/1B6/1Q2N3/5N2/PP1BKPPP/7q b kq - 0 1", this, "b3b4"); ' class="line1">14.Ф:b4</span>.</p>

<div class="chessBoard analysis nobuttons" data-start-fen="r1b1k2r/pp3ppp/2n1p3/1B6/1Q2N3/5N2/PP1BKPPP/7q w kq - 0 1"></div>
<p class="caption"><b>Диаграмма 53</b></p>

<p>У черных два лишних качества и пешка в придачу, но у белых сильнейшая атака, и у меня как-то все получалось, что она приводит к мату. Например:
 <span onclick='loadMove("r1b1k2r/pp3ppp/2n1p3/1B6/1Q2N3/5N2/PP1BKPqP/8 w kq - 0 1", this, "h1g2"); ' class="line1">14...Ф:g2</span>
(если сразу
 <span onclick='loadMove("r1b1k2r/pp4pp/2n1pp2/1B6/1Q2N3/5N2/PP1BKPPP/7q w kq - 0 1", this, "f7f6"); ' class="line2">14...f6</span>, то
 <span onclick='loadMove("r1b1k2r/pp4pp/2n1pp2/1B2N3/1Q2N3/8/PP1BKPPP/7q b kq - 0 1", this, "f3e5"); ' class="line2">15.Кe5!</span>
 <span onclick='loadMove("r1b1k2r/pp4pp/2n1p3/1B2p3/1Q2N3/8/PP1BKPPP/7q w kq - 0 1", this, "f6e5"); ' class="line2">fe</span>
 <span onclick='loadMove("r1b1k2r/pp4pp/2n1p3/1B2p1B1/1Q2N3/8/PP2KPPP/7q b kq - 0 1", this, "d2g5"); ' class="line2">16.Сg5</span>
 <span onclick='loadMove("r1b4r/pp3kpp/2n1p3/1B2p1B1/1Q2N3/8/PP2KPPP/7q w - - 0 1", this, "e8f7"); ' class="line2">Крf7</span>
 <span onclick='loadMove("r1b4r/pp3kpp/2B1p3/4p1B1/1Q2N3/8/PP2KPPP/7q b - - 0 1", this, "b5c6"); ' class="line2">17.С:c6</span>
 <span onclick='loadMove("r1b4r/p4kpp/2p1p3/4p1B1/1Q2N3/8/PP2KPPP/7q w - - 0 1", this, "b7c6"); ' class="line2">bc</span>
 <span onclick='loadMove("r1b4r/p3Qkpp/2p1p3/4p1B1/4N3/8/PP2KPPP/7q b - - 0 1", this, "b4e7"); ' class="line2">18.Фe7+</span>
 <span onclick='loadMove("r1b4r/p3Q1pp/2p1p1k1/4p1B1/4N3/8/PP2KPPP/7q w - - 0 1", this, "f7g6"); ' class="line2">Крg6</span>
 <span onclick='loadMove("r1b4r/p3Q1pp/2p1pBk1/4p3/4N3/8/PP2KPPP/7q b - - 0 1", this, "g5f6"); ' class="line2">19.Сf6!</span>
 <span onclick='loadMove("r6r/p3Q1pp/b1p1pBk1/4p3/4N3/8/PP2KPPP/7q w - - 0 1", this, "c8a6"); ' class="line2">Сa6+</span>
 <span onclick='loadMove("r6r/p3Q1pp/b1p1pBk1/4p3/4N3/5K2/PP3PPP/7q b - - 0 1", this, "e2f3"); ' class="line2">20.Крf3</span>
 <span onclick='loadMove("r6r/p3Q1pp/b1p1pBk1/4p3/4N3/5K2/PP3PPP/3q4 w - - 0 1", this, "h1d1"); ' class="line2">Фd1+</span>
 <span onclick='loadMove("r6r/p3Q1pp/b1p1pBk1/4p3/4N3/6K1/PP3PPP/3q4 b - - 0 1", this, "f3g3"); ' class="line2">21.Крg3</span>
 <span onclick='loadMove("r5r1/p3Q1pp/b1p1pBk1/4p3/4N3/6K1/PP3PPP/3q4 w - - 0 1", this, "h8g8"); ' class="line2">Лhg8</span>
 <span onclick='loadMove("r5r1/p3Q1Bp/b1p1p1k1/4p3/4N3/6K1/PP3PPP/3q4 b - - 0 1", this, "f6g7"); ' class="line2">22.С:g7!</span>, и от мата нет защиты)
 <span onclick='loadMove("r1b1k2r/pp3ppp/2n1p3/1B4B1/1Q2N3/5N2/PP2KPqP/8 b kq - 0 1", this, "d2g5"); ' class="line1">15.Сg5</span>
 <span onclick='loadMove("r1b1k2r/pp4pp/2n1pp2/1B4B1/1Q2N3/5N2/PP2KPqP/8 w kq - 0 1", this, "f7f6"); ' class="line1">f6</span>
 <span onclick='loadMove("r1b1k2r/pp4pp/2B1pp2/6B1/1Q2N3/5N2/PP2KPqP/8 b kq - 0 1", this, "b5c6"); ' class="line1">16.С:c6+</span>
 <span onclick='loadMove("r1b1k2r/p5pp/2p1pp2/6B1/1Q2N3/5N2/PP2KPqP/8 w kq - 0 1", this, "b7c6"); ' class="line1">bc</span>
 <span onclick='loadMove("r1b1k2r/p5pp/2p1pN2/6B1/1Q6/5N2/PP2KPqP/8 b kq - 0 1", this, "e4f6"); ' class="line1">17.К:f6+</span>
 <span onclick='loadMove("r1b1k2r/p6p/2p1pp2/6B1/1Q6/5N2/PP2KPqP/8 w kq - 0 1", this, "g7f6"); ' class="line1">gf</span>
 (<span onclick='loadMove("r1b4r/p4kpp/2p1pN2/6B1/1Q6/5N2/PP2KPqP/8 w - - 0 1", this, "e8f7"); ' class="line2">17...Крf7?</span>
 <span onclick='loadMove("r1b4r/p4kpp/2p1pN2/4N1B1/1Q6/8/PP2KPqP/8 b - - 0 1", this, "f3e5"); ' class="line2">18.Кe5X</span>)
 <span onclick='loadMove("r1b1k2r/p6p/2p1pB2/8/1Q6/5N2/PP2KPqP/8 b kq - 0 1", this, "g5f6"); ' class="line1">18.С:f6</span>
 <span onclick='loadMove("r3k2r/p6p/b1p1pB2/8/1Q6/5N2/PP2KPqP/8 w kq - 0 1", this, "c8a6"); ' class="line1">Сa6+</span>
 <span onclick='loadMove("r3k2r/p6p/b1p1pB2/8/1Q6/4KN2/PP3PqP/8 b kq - 0 1", this, "e2e3"); ' class="line1">19.Крe3</span>. Несмотря на то, что у белых всего один конь за две ладьи, они все же выигрывают:
 <span onclick='loadMove("r6r/p4k1p/b1p1pB2/8/1Q6/4KN2/PP3PqP/8 w - - 0 1", this, "e8f7"); ' class="line1">19...Крf7</span>
 <span onclick='loadMove("r6r/p3Qk1p/b1p1pB2/8/8/4KN2/PP3PqP/8 b - - 0 1", this, "b4e7"); ' class="line1">20.Фe7+</span>
 <span onclick='loadMove("r5kr/p3Q2p/b1p1pB2/8/8/4KN2/PP3PqP/8 w - - 0 1", this, "f7g8"); ' class="line1">Крg8</span>
 <span onclick='loadMove("r5kr/p3Q2p/b1p1pB2/6N1/8/4K3/PP3PqP/8 b - - 0 1", this, "f3g5"); ' class="line1">21.Кg5</span>
или
 <span onclick='loadMove("r6r/p2k3p/b1p1pB2/8/1Q6/4KN2/PP3PqP/8 w - - 0 1", this, "e8d7"); ' class="line1">19...Крd7</span>
 <span onclick='loadMove("r6r/p2kQ2p/b1p1pB2/8/8/4KN2/PP3PqP/8 b - - 0 1", this, "b4e7"); ' class="line1">20.Фe7+</span>
 <span onclick='loadMove("r1k4r/p3Q2p/b1p1pB2/8/8/4KN2/PP3PqP/8 w - - 0 1", this, "d7c8"); ' class="line1">Крc8</span>
 <span onclick='loadMove("r1k4r/p3Q2p/b1p1p3/4B3/8/4KN2/PP3PqP/8 b - - 0 1", this, "f6e5"); ' class="line1">21.Сe5</span>.</p>
</div> <!-- score -->
</div> <!-- section -->

</div> <!-- iBook -->
{% endblock content %}

