{% extends '../../base.htm' %}
{% load static %}
{% block title %}
<title>Король упал с доски | {{book.title}} | {%for author in book.authors.all%} {%if author.first_name%} {{author.first_name}} {%endif%} {%if author.second_name%} {{author.second_name}} {%endif%} {%if forloop.counter == book.authors.all.count%} {{author.last_name}} {%else%} {{author.last_name}}, {%endif%} {%endfor%} | {{book.year}}</title>
{% endblock title %}
{% block content %}

<div class="iBook">

<div class="section">
<h2><a name="#72">Король упал с доски</a></h2>
<div class="chessBoard small floater" data-start-fen="r1b1kb1r/pp1qpppp/1np5/8/2PP4/2N2B2/PP4PP/R1BQ1R1K w kq - 0 1"></div>
<div class="score">
<p>Падение короля шахматисты считают плохой приметой. Но для кого?</p>
<p>На турнире в Будапеште (1926) после шести туров лидировал бельгиец Эдгар Колле. В седьмом туре его партия с венгром Эндре Штейнером, который играл белыми, пришла к такому положению:</p>

<div class="chessBoard analysis nobuttons" data-start-fen="r1b1kb1r/pp1qpppp/1np5/8/2PP4/2N2B2/PP4PP/R1BQ1R1K w kq - 0 1"></div>
<p class="caption"><b>Диаграмма 67</b></p>

<p>
 <span class="line0" onclick='loadMove("r1b1kb1r/pp1qpppp/1np5/8/2PP4/2N2B2/PP4PP/R1BQ1R1K w kq - 0 1", this, ""); '>[...]</span> 
В этот момент с доски упал белый король. Штейнер поднял его и поставил не на h1, где король стоял до падения,
 <span onclick='loadMove("r1b1kb1r/pp1qpppp/1np5/8/2PP4/2N2B2/PP4PP/R1BQ1RK1 w kq - 0 1", this, ""); ' class="line0">а на g1</span>.
Борьба продолжалась так:
 <span onclick='loadMove("r1b1kb1r/pp1qpppp/1np5/2P5/3P4/2N2B2/PP4PP/R1BQ1RK1 b kq - 0 1", this, "c4c5"); ' class="line0">1.c5</span> 
 <span onclick='loadMove("r1b1kb1r/pp1qpppp/2p5/2Pn4/3P4/2N2B2/PP4PP/R1BQ1RK1 w kq - 0 1", this, "b6d5"); ' class="line0">Кd5</span> 
 <span onclick='loadMove("r1b1kb1r/pp1qpppp/2p5/2Pn4/3P4/1QN2B2/PP4PP/R1B2RK1 b kq - 0 1", this, "d1b3"); ' class="line0">2.Фb3</span> 
 <span onclick='loadMove("r1b1kb1r/pp1q1ppp/2p1p3/2Pn4/3P4/1QN2B2/PP4PP/R1B2RK1 w kq - 0 1", this, "e7e6"); ' class="line0">e6</span> 
 <span onclick='loadMove("r1b1kb1r/pp1q1ppp/2p1p3/2PB4/3P4/1QN5/PP4PP/R1B2RK1 b kq - 0 1", this, "f3d5"); ' class="line0">3.С:d5</span> 
 <span onclick='loadMove("r1b1kb1r/pp1q1ppp/2p5/2Pp4/3P4/1QN5/PP4PP/R1B2RK1 w kq - 0 1", this, "e6d5"); ' class="line0">ed</span> 
 <span onclick='loadMove("r1b1kb1r/pp1q1ppp/2p5/2Pp2B1/3P4/1QN5/PP4PP/R4RK1 b kq - 0 1", this, "c1g5"); ' class="line0">4.Сg5</span> 
 <span onclick='loadMove("r1b1kb1r/pp1q2pp/2p2p2/2Pp2B1/3P4/1QN5/PP4PP/R4RK1 w kq - 0 1", this, "f7f6"); ' class="line0">f6</span> 
 <span onclick='loadMove("r1b1kb1r/pp1q2pp/2p2p2/2Pp2B1/3P4/1QN5/PP4PP/4RRK1 b kq - 0 1", this, "a1e1"); ' class="line0">5.Лae1+</span> 
 <span onclick='loadMove("r1b1k2r/pp1qb1pp/2p2p2/2Pp2B1/3P4/1QN5/PP4PP/4RRK1 w kq - 0 1", this, "f8e7"); ' class="line0">Сe7</span>.</p>
<p>Здесь Штейнер провел комбинацию с жертвой ладьи:
 <span onclick='loadMove("r1b1k2r/pp1qb1pp/2p2R2/2Pp2B1/3P4/1QN5/PP4PP/4R1K1 b kq - 0 1", this, "f1f6"); ' class="line0">6.Л:f6</span> 
 <span onclick='loadMove("r1b1k2r/pp1qb2p/2p2p2/2Pp2B1/3P4/1QN5/PP4PP/4R1K1 w kq - 0 1", this, "g7f6"); ' class="line0">gf</span> 
 <span onclick='loadMove("r1b1k2r/pp1qb2p/2p2B2/2Pp4/3P4/1QN5/PP4PP/4R1K1 b kq - 0 1", this, "g5f6"); ' class="line0">7.С:f6</span> 
 <span onclick='loadMove("r1b2rk1/pp1qb2p/2p2B2/2Pp4/3P4/1QN5/PP4PP/4R1K1 w - - 0 1", this, "e8g8"); ' class="line0">0-0</span> 
 <span onclick='loadMove("r1b2rk1/pp1qR2p/2p2B2/2Pp4/3P4/1QN5/PP4PP/6K1 b - - 0 1", this, "e1e7"); ' class="line0">8.Л:e7</span> 
 <span onclick='loadMove("r1b3k1/pp1qR2p/2p2r2/2Pp4/3P4/1QN5/PP4PP/6K1 w - - 0 1", this, "f8f6"); ' class="line0">Л:f6</span> 
 <span onclick='loadMove("r1b3k1/pp1R3p/2p2r2/2Pp4/3P4/1QN5/PP4PP/6K1 b - - 0 1", this, "e7d7"); ' class="line0">9.Л:d7</span> 
 <span onclick='loadMove("r5k1/pp1b3p/2p2r2/2Pp4/3P4/1QN5/PP4PP/6K1 w - - 0 1", this, "c8d7"); ' class="line0">С:d7</span>.</p>

<div class="chessBoard analysis nobuttons" data-start-fen="r5k1/pp1b3p/2p2r2/2Pp4/3P4/1QN5/PP4PP/6K1 w - - 0 1"></div>
<p class="caption"><b>Диаграмма 68</b></p>

<p>У черных две ладьи за ферзя, но они не в состоянии защитить пешки ферзевого фланга, и через несколько ходов Колле сдался, хотя упал-то не его король. Примета не оправдалась! Однако задача белых заметно осложнилась бы, если бы король стоял там, где ему надлежало.</p>
<p>Тогда ход <b>8. Л:e7</b> был бы невозможен: черные просто взяли бы ферзем ладью и на <b>9. С:e7</b> дали бы мат ладьей на f1.</p>
<p>Все это выяснилось сразу после партии, но протест Колле не был принят во внимание, и ему засчитали поражение. Он был настолько расстроен этим инцидентом, что последующие партии играл очень неудачно, разделив в итоге 7—8-е места...</p>

<p>— А правильно ли было решение судьи о том, чтобы засчитать Штейнеру победу? — спросил Сережа. — Ведь это он уронил короля, а затем поставил на другое поле.</p>
<p>— Шахматный кодекс гласит: «Если одна или несколько фигур сдвинуты и неправильно поставлены не на свои места, позиция восстанавливается такой, какой она была до искажения, и партия продолжается».</p>
<p>— Так в чем же дело?</p>
<p>Пусть бы они и продолжали игру с позиции на диаграмме.</p>
<p>— Следующий пункт кодекса говорит о том, что правило о восстановлении позиции применяется лишь в том случае, если неправильность установлена до окончания партии. Выходит, что решение судьи было справедливо.</p>
</div> <!-- score -->
</div> <!-- section -->
<p style="text-align:center"><b>* * *</b></p>

<div class="section">
<div class="score">
<p>Ошибка Колле не в том, что он не заметил, куда противник поставил упавшего короля, и не в том, что он проиграл партию, а в том, что после обидного недоразумения у него не хватило характера стоически перенести удар и продолжать борьбу.</p>
<p>Как же следует держаться в подобной ситуации? Об этом наша следующая история.</p>
</div> <!-- score -->
</div> <!-- section -->

</div> <!-- iBook -->
{% endblock content %}

