{% extends '../../base.htm' %}
{% load static %}
{% block title %}
<title>«Историческая» партия | {{book.title}} | {%for author in book.authors.all%} {%if author.first_name%} {{author.first_name}} {%endif%} {%if author.second_name%} {{author.second_name}} {%endif%} {%if forloop.counter == book.authors.all.count%} {{author.last_name}} {%else%} {{author.last_name}}, {%endif%} {%endfor%} | {{book.year}}</title>
{% endblock title %}
{% block content %}

<div class="iBook">

<div class="section">
<h2><a name="#104">«Историческая» партия</a></h2>
<div class="score">
<p>«Недавно мы были приятно изумлены чрезвычайно интересным открытием: редакция «Всемирной иллюстрации» получила несколько шахматных партий, игранных 40 лет назад между лицами, изображенными в «Онегине», — между Ольгой и Ленским... Партии писаны рукою Ольги... Везде дается мат Ленскому...»</p>
<p>Так писал в 1870 году Илья Шумов — один из первых русских мастеров — в своем шахматном отделе в журнале «Всемирная иллюстрация». Что Ленский играл с Ольгой в шахматы — об этом все знают:</p>
<div class="message">
<p>Уединясь от всех далеко,</p>
<p>Они над шахматной доской,</p>
<p>На стол облокотясь, порой</p>
<p>Сидят, задумавшись глубоко...</p>
</div>

<p>Но Шумов «опубликовал» сочиненную им партию. Вот она:</p>
</div> <!-- score -->
</div> <!-- section -->

<div class="section">
<div class="floater">
<p class="capTop"><span class=" opening">Королевский гамбит</span><br />Ленский - Ларина</p>
<div class="chessBoard small" data-start-fen="rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w KQkq - 0 1"></div>
</div>
<div class="score">
<p>
 <span class="line0" onclick='loadMove("rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w KQkq - 0 1", this, ""); '>[...]</span> 
 <span onclick='loadMove("rnbqkbnr/pppppppp/8/8/4P3/8/PPPP1PPP/RNBQKBNR b KQkq e3 0 1", this, "e2e4"); ' class="line0">1.e4</span> 
 <span onclick='loadMove("rnbqkbnr/pppp1ppp/8/4p3/4P3/8/PPPP1PPP/RNBQKBNR w KQkq e6 0 1", this, "e7e5"); ' class="line0">e5</span> 
 <span onclick='loadMove("rnbqkbnr/pppp1ppp/8/4p3/4PP2/8/PPPP2PP/RNBQKBNR b KQkq f3 0 1", this, "f2f4"); ' class="line0">2.f4</span> 
 <span onclick='loadMove("rnbqkbnr/pppp1ppp/8/8/4Pp2/8/PPPP2PP/RNBQKBNR w KQkq - 0 1", this, "e5f4"); ' class="line0">ef</span> 
 <span onclick='loadMove("rnbqkbnr/pppp1ppp/8/8/4Pp2/5N2/PPPP2PP/RNBQKB1R b KQkq - 0 1", this, "g1f3"); ' class="line0">3.Кf3</span> 
 <span onclick='loadMove("rnbqkbnr/pppp1p1p/8/6p1/4Pp2/5N2/PPPP2PP/RNBQKB1R w KQkq g6 0 1", this, "g7g5"); ' class="line0">g5</span> 
 <span onclick='loadMove("rnbqkbnr/pppp1p1p/8/6p1/2B1Pp2/5N2/PPPP2PP/RNBQK2R b KQkq - 0 1", this, "f1c4"); ' class="line0">4.Сc4</span> 
 <span onclick='loadMove("rnbqkbnr/pppp1p1p/8/8/2B1Ppp1/5N2/PPPP2PP/RNBQK2R w KQkq - 0 1", this, "g5g4"); ' class="line0">g4</span> 
 <span onclick='loadMove("rnbqkbnr/pppp1p1p/8/8/2B1Ppp1/5N2/PPPP2PP/RNBQ1RK1 b kq - 0 1", this, "e1g1"); ' class="line0">5.0-0</span> 
 <span onclick='loadMove("rnbqkbnr/pppp1p1p/8/8/2B1Pp2/5p2/PPPP2PP/RNBQ1RK1 w kq - 0 1", this, "g4f3"); ' class="line0">gf</span>.</p>
<p>Ленский играет гамбит Муцио — начало, модное в прошлом веке.</p>
<p>
 <span onclick='loadMove("rnbqkbnr/pppp1p1p/8/8/2BPPp2/5p2/PPP3PP/RNBQ1RK1 b kq d3 0 1", this, "d2d4"); ' class="line0">6.d4</span>.</p>
<p>Ловушка, в которую Ольга и попадается.
Здесь обычно берут пешку f3 ферзем
 <span onclick='loadMove("rnbqkbnr/pppp1p1p/8/8/2B1Pp2/5Q2/PPPP2PP/RNB2RK1 b kq - 0 1", this, "d1f3"); ' class="line1">6.Ф:f3</span>, затем после <b>d2-d4</b> берут еще пешку f4 слоном и развивают сильную атаку по линии «f».
На сделанный Ленским ход Ольга, если бы знала теорию, ответила
 <span onclick='loadMove("r1bqkbnr/pppp1p1p/2n5/8/2BPPp2/5p2/PPP3PP/RNBQ1RK1 w kq - 0 1", this, "b8c6"); ' class="line1">6...Кc6</span>;
она же берет пешку, которая ей совершенно не нужна.
 <span onclick='loadMove("rnbqkbnr/pppp1p1p/8/8/2BPPp2/8/PPP3pP/RNBQ1RK1 w kq - 0 1", this, "f3g2"); ' class="line0">6...fg</span> 
 <span onclick='loadMove("rnbqkbnr/pppp1B1p/8/8/3PPp2/8/PPP3pP/RNBQ1RK1 b kq - 0 1", this, "c4f7"); ' class="line0">7.С:f7+!</span> 
 <span onclick='loadMove("rnbq1bnr/pppp1k1p/8/8/3PPp2/8/PPP3pP/RNBQ1RK1 w - - 0 1", this, "e8f7"); ' class="line0">Кр:f7</span> 
 <span onclick='loadMove("rnbq1bnr/pppp1k1p/8/7Q/3PPp2/8/PPP3pP/RNB2RK1 b - - 0 1", this, "d1h5"); ' class="line0">8.Фh5+</span> 
 <span onclick='loadMove("rnbq1bnr/ppppk2p/8/7Q/3PPp2/8/PPP3pP/RNB2RK1 w - - 0 1", this, "f7e7"); ' class="line0">Крe7</span> 
 <span onclick='loadMove("rnbq1bnr/ppppk2p/8/7Q/3PPR2/8/PPP3pP/RNB3K1 b - - 0 1", this, "f1f4"); ' class="line0">9.Л:f4</span> 
 <span onclick='loadMove("rnbq1b1r/ppppk2p/5n2/7Q/3PPR2/8/PPP3pP/RNB3K1 w - - 0 1", this, "g8f6"); ' class="line0">Кf6</span> 
 <span onclick='loadMove("rnbq1b1r/ppppk2p/5R2/7Q/3PP3/8/PPP3pP/RNB3K1 b - - 0 1", this, "f4f6"); ' class="line0">10.Л:f6</span> 
 <span onclick='loadMove("rnb1qb1r/ppppk2p/5R2/7Q/3PP3/8/PPP3pP/RNB3K1 w - - 0 1", this, "d8e8"); ' class="line0">Фe8</span> 
 <span onclick='loadMove("rnb1qb1r/ppppk2p/5R2/8/3PP2Q/8/PPP3pP/RNB3K1 b - - 0 1", this, "h5h4"); ' class="line0">11.Фh4</span> 
 <span onclick='loadMove("rnb1qb1r/ppp1k2p/3p1R2/8/3PP2Q/8/PPP3pP/RNB3K1 w - - 0 1", this, "d7d6"); ' class="line0">d6</span> 
 <span onclick='loadMove("rnb1qb1r/ppp1k2p/3p1R2/4P3/3P3Q/8/PPP3pP/RNB3K1 b - - 0 1", this, "e4e5"); ' class="line0">12.e5</span> 
 <span onclick='loadMove("rnb1qb1r/ppp1k2p/5R2/4p3/3P3Q/8/PPP3pP/RNB3K1 w - - 0 1", this, "d6e5"); ' class="line0">de</span> 
 <span onclick='loadMove("rnb1qb1r/ppp1k2p/5R2/4P3/7Q/8/PPP3pP/RNB3K1 b - - 0 1", this, "d4e5"); ' class="line0">13.de</span> 
 <span onclick='loadMove("rnb1qb1r/pppk3p/5R2/4P3/7Q/8/PPP3pP/RNB3K1 w - - 0 1", this, "e7d7"); ' class="line0">Крd7</span>.</p>

<div class="chessBoard analysis nobuttons" data-start-fen="rnb1qb1r/pppk3p/5R2/4P3/7Q/8/PPP3pP/RNB3K1 w - - 0 1"></div>
<p class="caption"><b>Диаграмма 90</b></p>

<p>И Ленский пешкою ладью</p>
<p>Берет в рассеяньи свою.
 <span onclick='loadMove("rnb1qb1r/pppk3p/5P2/8/7Q/8/PPP3pP/RNB3K1 b - - 0 1", this, "e5f6"); ' class="line0">14.ef</span>. «Заметив свою ошибку, — пишет Шумов, — Ленский хотел переменить ход, но Ольга ему не позволила...»</p>
<p>Мат не позже шестого хода!</p>
</div> <!-- score -->
</div> <!-- section -->

</div> <!-- iBook -->
{% endblock content %}

