{% extends '../../base.htm' %}
{% load static %}
{% block title %}
<title>Ферзьбери на пляже, или По червонцу | {{book.title}} | {%for author in book.authors.all%} {%if author.first_name%} {{author.first_name}} {%endif%} {%if author.second_name%} {{author.second_name}} {%endif%} {%if forloop.counter == book.authors.all.count%} {{author.last_name}} {%else%} {{author.last_name}}, {%endif%} {%endfor%} | {{book.year}}</title>
{% endblock title %}
{% block content %}

<div class="iBook">

<div class="section">
<h2><a name="#146">Ферзьбери на пляже, или По червонцу</a></h2>
<div class="score">
<p>Однажды в Сочи я попал на аристократический пляж, куда пускали только жителей престижной гостиницы и лишь изредка за плату или по блату — посторонних, к числу которых принадлежал и я.</p>
<p>Обстановка там, надо сказать, была очень комфортабельна даже на вкус капризных интуристов, не говоря уже о наших безропотных отдыхающих. Среди прочих удобств и развлечений, имелись, конечно, и шахматы — большой стол с огромными лакированными фигурами, их жалко даже разменивать, не говоря уже о том, чтобы жертвовать.</p>
<p>Стол в тот день пустовал, но неподалеку на топчане расположились двое со своей обыкновенной доской и с часами.</p>
<p>Один из них, в белой майке с надписью «All or nothing», делал ходы со скоростью китайского чемпиона по настольному теннису. Его левая рука все время лежала на кнопке часов, а правой он передвигал фигуру, как только партнер успевал сделать ход, а иногда и чуть раньше. Противник его, полный, кавказского вида мужчина с густыми черными усами, играл как будто в другом временном измерении, порой даже задумывался, а часы переводил спокойно. Как раз когда я подошел, он зевнул фигуру, но продолжал тянуть сопротивление, надеясь, видно, что на часах партнера упадет флажок.</p>
<p>Получив все же мат, черноусый извлек откуда-то десятку, невозмутимо вручил ее партнеру и, поднявшись, сказал:</p>
<p>— Ладно, Виталик, пойду окунусь, а там, глядишь, еще сыграем...</p>
<p>Между тем у топчана остановился бородатый молодой человек в темных очках. Он видел сценку расчета, усмехнулся и покачал головой.</p>
<p>— Хотите сыграть? — спросил его победитель.</p>
<p>Бородатый неуверенно пожал плечами.</p>
<p>— А у вас есть разряд? — снова спросил Виталик.</p>
<p>— Разряд? — переспросил владелец темных очков с некоторым смущением. — Нет, у меня нет разряда.</p>
<p>Последнее слово он, правда, произнес с нажимом, как бы давая понять, что хоть разряда у него и нет, но постоять за себя он может.</p>
<p>— Ладно, тогда мне три минуты, а вам десять, — распорядился Виталик. — По червонцу. Согласны?</p>
<p>— Ну давайте... Только две партии: чтобы и черными, и белыми, — подумав, ответил бородатый.</p>
<p>Потом добавил: — Да и десять минут — ни то ни се: для шахмат — мало, для баловства — много.</p>
<p>Пусть уж обоим по пяти.</p>
<p>Бородатый начал белыми, очки он так и не снял.</p>
<p>Играл неторопливо, спокойно, передвигал фигуры и нажимал на кнопку одной рукой. На часы он не смотрел, да и в позицию не очень-то вглядывался.</p>
<p>Казалось, его больше интересовал партнер.</p>
<p>Минуты через три Виталик сдался и стал быстро расставлять фигуры, видимо, надеясь белыми легко отыграться.</p>

<p>И вот я вижу — королевский гамбит. Бородатый поначалу не принял гамбит, но затем все же пешку взял и при этом почему-то покосился на меня.</p>
</div> <!-- score -->
</div> <!-- section -->

<div class="section">
<div class="chessBoard small floater" data-start-fen="rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w KQkq - 0 1"></div>
<div class="score">
<p>
 <span class="line0" onclick='loadMove("rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w KQkq - 0 1", this, ""); '>[...]</span> 
 <span onclick='loadMove("rnbqkbnr/pppppppp/8/8/4P3/8/PPPP1PPP/RNBQKBNR b KQkq e3 0 1", this, "e2e4"); ' class="line0">1.e4</span> 
 <span onclick='loadMove("rnbqkbnr/pppp1ppp/8/4p3/4P3/8/PPPP1PPP/RNBQKBNR w KQkq e6 0 1", this, "e7e5"); ' class="line0">e5</span> 
 <span onclick='loadMove("rnbqkbnr/pppp1ppp/8/4p3/4PP2/8/PPPP2PP/RNBQKBNR b KQkq f3 0 1", this, "f2f4"); ' class="line0">2.f4</span> 
 <span onclick='loadMove("r1bqkbnr/pppp1ppp/2n5/4p3/4PP2/8/PPPP2PP/RNBQKBNR w KQkq - 0 1", this, "b8c6"); ' class="line0">Кc6</span> 
 <span onclick='loadMove("r1bqkbnr/pppp1ppp/2n5/4p3/4PP2/5N2/PPPP2PP/RNBQKB1R b KQkq - 0 1", this, "g1f3"); ' class="line0">3.Кf3</span> 
 <span onclick='loadMove("r1bqkbnr/pppp1ppp/2n5/8/4Pp2/5N2/PPPP2PP/RNBQKB1R w KQkq - 0 1", this, "e5f4"); ' class="line0">ef</span> 
 <span onclick='loadMove("r1bqkbnr/pppp1ppp/2n5/8/2B1Pp2/5N2/PPPP2PP/RNBQK2R b KQkq - 0 1", this, "f1c4"); ' class="line0">4.Сc4</span> 
 <span onclick='loadMove("r1bqk1nr/pppp1ppp/2n5/2b5/2B1Pp2/5N2/PPPP2PP/RNBQK2R w KQkq - 0 1", this, "f8c5"); ' class="line0">Сc5</span>.</p>
<p>Я мысленно восклицаю: «Аллах акбар! Ведь сейчас будет контргамбит Ферзьбери». И впрямь:
 <span onclick='loadMove("r1bqk1nr/pppp1ppp/2n5/2b5/2BPPp2/5N2/PPP3PP/RNBQK2R b KQkq d3 0 1", this, "d2d4"); ' class="line0">5.d4</span> 
 <span onclick='loadMove("r1bqk1nr/pppp1ppp/8/2b5/2BnPp2/5N2/PPP3PP/RNBQK2R w KQkq - 0 1", this, "c6d4"); ' class="line0">К:d4</span> 
 <span onclick='loadMove("r1bqk1nr/pppp1ppp/8/2b5/2BNPp2/8/PPP3PP/RNBQK2R b KQkq - 0 1", this, "f3d4"); ' class="line0">6.К:d4</span> 
 <span onclick='loadMove("r1b1k1nr/pppp1ppp/8/2b5/2BNPp1q/8/PPP3PP/RNBQK2R w KQkq - 0 1", this, "d8h4"); ' class="line0">Фh4+</span> 
 <span onclick='loadMove("r1b1k1nr/pppp1ppp/8/2b5/2BNPp1q/8/PPP3PP/RNBQ1K1R b kq - 0 1", this, "e1f1"); ' class="line0">7.Крf1</span> 
 <span onclick='loadMove("r1b1k1nr/ppp2ppp/8/2bp4/2BNPp1q/8/PPP3PP/RNBQ1K1R w kq d6 0 1", this, "d7d5"); ' class="line0">d5</span> 
 <span onclick='loadMove("r1b1k1nr/ppp2ppp/8/2bB4/3NPp1q/8/PPP3PP/RNBQ1K1R b kq - 0 1", this, "c4d5"); ' class="line0">8.С:d5</span> 
 <span onclick='loadMove("r3k1nr/ppp2ppp/8/2bB4/3NPpbq/8/PPP3PP/RNBQ1K1R w kq - 0 1", this, "c8g4"); ' class="line0">Сg4</span> 
 <span onclick='loadMove("r3k1nr/ppp2ppp/8/2bB4/3NPpbq/3Q4/PPP3PP/RNB2K1R b kq - 0 1", this, "d1d3"); ' class="line0">9.Фd3</span> 
 <span onclick='loadMove("2kr2nr/ppp2ppp/8/2bB4/3NPpbq/3Q4/PPP3PP/RNB2K1R w - - 0 1", this, "e8c8"); ' class="line0">0-0-0</span>.</p>

<div class="chessBoard analysis nobuttons" data-start-fen="2kr2nr/ppp2ppp/8/2bB4/3NPpbq/3Q4/PPP3PP/R1B2K1R w - - 0 1"></div>
<p class="caption"><b>Диаграмма 118</b></p>

<p>Тут хозяин шахмат задумался уже минуты на полторы. Действительно, от обилия возможных ходов рябит в глазах, и под тиканье часов лучший найти не так-то просто (а еженедельник «64» с анализами контргамбита он явно не читал). Наконец, бросив взгляд на поднимающийся флажок и решив, наверное, что пляжного пижона он с лишней фигурой как-нибудь да одолеет, Виталик решительно двинул пешку на b4.</p>
<p>Я волновался за свое детище так, будто это мои двадцать рублей стояли на кону. Но оказалось, что беспокоиться было нечего: черные хладнокровно отбили внешне опасную, но не основательную атаку противника...</p>
<p>— Может, сыграем на-квит? — робко спросил Виталик таинственного незнакомца.</p>
<p>— А чего с тобой играть? — насмешливо возразил тот, перейдя вдруг на «ты». — Самый популярный вариант в современном королевском гамбите и то не знаешь!</p>
<p>— А еще сказал, что нет разряда...</p>
<p>В ответ бородатый наконец снял очки.</p>
<p>— Зачем мне разряд, когда я международный мастер? Не узнаешь?</p>
<p>Виталик посмотрел на него, но не с укором, как я ожидал, а скорее с почтением. Потом вытащил только что выигранную десятку, порылся в карманах брюк, лежавших па топчане, извлек оттуда еще несколько рублей.</p>
<p>— Здесь пятнадцать, остальные, уж извини, через часок. Гурген вот подойдет...</p>
<p>Мастер даже не взглянул на протянутые деньги.</p>
<p>— Я в шахматы на деньги не играю и тебе не советую. Слушай, тебя же дисквалифицируют, запретят детей тренировать, что будешь делать? Сопьешься? А как ты стал играть! Помнишь, шесть лет назад ты выиграл блицтурнир? Чудак, у тебя же талант был...</p>
<p>Мне стало жаль Виталика.</p>
<p>— Простите, — обратился я к мастеру, — но и вы в одном месте спутали порядок ходов...</p>
<p>— Вполне возможно, — не удивился он.— Ведь в турнирах, согласитесь, такие дебюты не каждый день встречаются.</p>
<p>— Вот видишь, — воспрянул духом Виталик, — меня укоряешь, а самого посторонние поправляют.</p>
<p>— Ничего себе «посторонний»! Это же гроссмейстер Ферзьбери!</p>
<p>После этих слов мастер унырнул в море, а мы остались на раскаленной гальке. Мне льстило, что меня узнали даже на пляже, а Виталик произнес с досадой:</p>
<p>— Ну надо же так нарваться! Да и не узнал я его — очки, борода...</p>
<p>Сколько раз говорил себе: не связывайся с неизвестными. Так нет же!</p>
<p>— И давно вы уже на пляжах в шахматы играете? — поинтересовался я.</p>
<p>— Да в Сочи вот уже третий год, — ответил он.</p>
<p>И, как бы предупреждая мой следующий вопрос, рассказал о себе: — Живу далеко, за Уралом, сюда приезжаю только на лето.</p>
<p>В нашем городе шахматами много не заработаешь — я тренер во Дворце пионеров, а здесь любителей полно, для них червонец — не деньги. Окупаю все расходы, да еще коечто на зиму остается.</p>
<p>Игра, правда, изматывает, иной раз поиграешь часок — руки трясутся. Ведь за три минуты надо не только получить выигранную позицию, но и дать мат! Бывает, ладья лишняя, а флажок упал.</p>
<p>— А как вообще получилось, что вы стали на деньги играть? Ведь вы же тренер...</p>
<p>— Так у себя дома я на деньги не играю и ребятам говорю: «Боже упаси!» А как получилось?</p>
<p>Да очень просто. Однажды был в Москве, зашел в сад «Эрмитаж». Смотрю, там сидят ребята у шахматных столиков, рядом книги разложены. Подошел. И вдруг вижу — книга одна, уж мне так хотелось ее иметь, но у нас нипочем не достать... Я говорю одному: «Продайте мне эту книгу», а он отвечает: «Давайте сыграем. У вас какая?»</p>
<p>А у меня никакой. «Тогда, — он говорит, — ставьте червонец, а я — книгу.</p>
<p>Каждому по пять минут, играем до трех выигранных. Идет? Если ничья — книга ваша, но вы отдаете мне червонец».</p>
<p>Парень попался сильный по игре — хороший кандидат. Ну, я очень старался, выиграл три кряду.</p>
<p>Кстати, номинал той книги был два двадцать...</p>
<p>Он помолчал. Я не торопил его.</p>
<p>— В другой раз там же предложили сыграть просто на деньги. Мне неудобно было, да и денег с собой всего ничего, но я подумал: раз я книгу выиграл и десятка при мне осталась, можно рискнуть. Вот с тех пор и рискую... Знаю ведь, что нехорошо фраеров обыгрывать, но так тянет летом к морю! На свои-то здесь не шибко отдохнешь...</p>
<p>А иной раз думаю, — он пожал плечами, — почему нельзя играть в шахматы на деньги? Чего тут плохого? Ведь и вы, гроссмейстеры, если разобраться, тоже на деньги играете. Да еще на какие!</p>
<p>Я тут десятки сшибаю, а там счет на тысячи идет, да не рублей, а долларов... В этом вся и разница!</p>
<p>— Разница в другом: там деньги дают спонсоры, а гроссмейстеры друг у друга из кармана доллары не вытаскивают.</p>
<p>— Как же не вытаскивают? Спонсоры-то деньги уже дали, приз стоит на кону. Если один получил — значит, у другого отнял.</p>
<p>Выходит, где-то там в Бугойно, в Севилье — можно, а в Сочи нельзя? Откуда такая дискриминация нашего отечественного курорта?</p>
<p>Виталик усмехнулся, а потом уже серьезно добавил:</p>
<p>— Нет, надо что-то в жизни менять...</p>
<p>Подошел давешний черноусый:</p>
<p>— Кого это ты так красноречиво убеждаешь, Виталик? Давай лучше сыграем.</p>
<p>— Давай, Гурген. Только без часов и без денег!</p>
</div> <!-- score -->
</div> <!-- section -->

</div> <!-- iBook -->
{% endblock content %}

