{% extends '../../base.htm' %}
{% load static %}
{% block title %}
<title>Пешечный эндшпиль | {{book.title}} | {%for author in book.authors.all%} {%if author.first_name%} {{author.first_name}} {%endif%} {%if author.second_name%} {{author.second_name}} {%endif%} {%if forloop.counter == book.authors.all.count%} {{author.last_name}} {%else%} {{author.last_name}}, {%endif%} {%endfor%} | {{book.year}}</title>
{% endblock title %}
{% block content %}

<div class="iBook">
{% include '../../snippet_litres_banner1.htm' %}

<div class="section">
<h2 class="message">Пешечный эндшпиль</h2>
<div class="score">
<div class="chessBoard analysis nobuttons" data-start-fen="7K/8/k1P5/7p/8/8/8/8 w - - 0 1"></div>
<p>Пешечный эндшпиль — это основа всех эндшпилей. Его необходимо изучать особенно тщательно, т.к. любой эндшпиль может свестись к пешечному. Несмотря на свою простоту, пешечные окончания очень сложны. Даже гроссмейстеры и мастера допускают много ошибок при разыгрывании пешечных эндшпилей. Сложность пешечного эндшпиля в том, что он конкретен, в нем нет оценок <b>+/-</b> или <b>+/=</b>, а есть только выигрыш или ничья. Неправильный переход в него может привести к печальным последствиям.</p>
<p>Для правильного понимания пешечных окончаний необходимо усвоить следующие стратегические идеи и приемы.</p>
</div> <!-- score -->
</div> <!-- section -->

{% include '../../snippet_litres_banner1.htm' %}
</div> <!-- iBook -->
{% endblock content %}

