{% extends '../../base.htm' %}
{% load static %}
{% block title %}
<title>Гамбит Гулам Кассима C37 | {{book.title}} | {%for author in book.authors.all%} {%if author.first_name%} {{author.first_name}} {%endif%} {%if author.second_name%} {{author.second_name}} {%endif%} {%if forloop.counter == book.authors.all.count%} {{author.last_name}} {%else%} {{author.last_name}}, {%endif%} {%endfor%} | {{book.year}}</title>
{% endblock title %}
{% block content %}

<div class="iBook">

<div class="section">
<div class="score">
<h2>Гамбит ГУЛАМ КАССИМА</h2>

<div class="notification message">
<p>Название гамбит получил по имени индийского шахматиста, опубликовавшего анализ варианта в своей книге (Мадрас, 1826).</p>
</div>

</div> <!-- score -->
</div> <!-- section -->


<div class="section">
<div class="chessBoard small floater" data-start-fen="rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w KQkq - 0 1"></div>
<div class="score">
<p>
 <span class="line0" onclick='loadMove("rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w KQkq - 0 1", this, ""); '>[...]</span> 
 <span onclick='loadMove("rnbqkbnr/pppppppp/8/8/4P3/8/PPPP1PPP/RNBQKBNR b KQkq e3 0 1", this, "e2e4"); ' class="line0">1.e4</span> 
 <span onclick='loadMove("rnbqkbnr/pppp1ppp/8/4p3/4P3/8/PPPP1PPP/RNBQKBNR w KQkq e6 0 2", this, "e7e5"); ' class="line0">e5</span> 
 <span onclick='loadMove("rnbqkbnr/pppp1ppp/8/4p3/4PP2/8/PPPP2PP/RNBQKBNR b KQkq f3 0 2", this, "f2f4"); ' class="line0">2.f4</span> 
 <span onclick='loadMove("rnbqkbnr/pppp1ppp/8/8/4Pp2/8/PPPP2PP/RNBQKBNR w KQkq - 0 3", this, "e5f4"); ' class="line0">ef</span> 
 <span onclick='loadMove("rnbqkbnr/pppp1ppp/8/8/4Pp2/5N2/PPPP2PP/RNBQKB1R b KQkq - 0 3", this, "g1f3"); ' class="line0">3.Кf3</span> 
 <span onclick='loadMove("rnbqkbnr/pppp1p1p/8/6p1/4Pp2/5N2/PPPP2PP/RNBQKB1R w KQkq g6 0 4", this, "g7g5"); ' class="line0">g5</span> 
 <span onclick='loadMove("rnbqkbnr/pppp1p1p/8/6p1/2B1Pp2/5N2/PPPP2PP/RNBQK2R b KQkq - 0 4", this, "f1c4"); ' class="line0">4.Сc4</span> 
 <span onclick='loadMove("rnbqkbnr/pppp1p1p/8/8/2B1Ppp1/5N2/PPPP2PP/RNBQK2R w KQkq - 0 5", this, "g5g4"); ' class="line0">g4</span> 
 <span onclick='loadMove("rnbqkbnr/pppp1p1p/8/8/2BPPpp1/5N2/PPP3PP/RNBQK2R b KQkq d3 0 5", this, "d2d4"); ' class="line0">5.d4</span> 
.</p>
<div class="chessBoard analysis nobuttons" data-start-fen="rnbqkbnr/pppp1p1p/8/8/2BPPpp1/5N2/PPP3PP/RNBQK2R b KQkq d3 0 5"></div>
<p>По мнению теории, после
 <span onclick='loadMove("rnbqkbnr/pppp1p1p/8/8/2BPPp2/5p2/PPP3PP/RNBQK2R w KQkq - 0 6", this, "g4f3"); ' class="line0">5...gf</span> 
 <span onclick='loadMove("rnbqkbnr/pppp1p1p/8/8/2BPPp2/5Q2/PPP3PP/RNB1K2R b KQkq - 0 6", this, "d1f3"); ' class="line0">6.Ф:f3</span> 
 <span onclick='loadMove("rnbqkbnr/ppp2p1p/8/3p4/2BPPp2/5Q2/PPP3PP/RNB1K2R w KQkq d6 0 7", this, "d7d5"); ' class="line0">d5!</span> 
 <span onclick='loadMove("rnbqkbnr/ppp2p1p/8/3B4/3PPp2/5Q2/PPP3PP/RNB1K2R b KQkq - 0 7", this, "c4d5"); ' class="line0">7.С:d5</span> 
 <span onclick='loadMove("rnbqkb1r/ppp2p1p/5n2/3B4/3PPp2/5Q2/PPP3PP/RNB1K2R w KQkq - 0 8", this, "g8f6"); ' class="line0">Кf6</span> 
черные постепенно отражают атаку, сохраняя материальный перевес.</p>

<!--div class="diagram"-->
<!--img src="images/1-40.png" style="width:112pt;height:117pt;"/-->
<!--div class="diagram">Пол Морфи</div-->
<!--/div-->

</div> <!-- score -->
</div> <!-- section -->


<div class="section">
<div class="chessBoard small floater" data-start-fen="rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w KQkq - 0 1"></div>
<div class="score">
 <span class="line0" onclick='loadMove("rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w KQkq - 0 1", this, ""); '>[...]</span> 
<p class="capTop diagram"><i>Гамбит Гулам Кассима C37</i><br /><strong>П.МОРФИ – С.Кнотт</strong><br />Нью-Йорк, 1859</p>
<p>
 <span onclick='loadMove("rnbqkbnr/pppppppp/8/8/4P3/8/PPPP1PPP/RNBQKBNR b KQkq e3 0 1", this, "e2e4"); ' class="line0">1.e4</span> 
 <span onclick='loadMove("rnbqkbnr/pppp1ppp/8/4p3/4P3/8/PPPP1PPP/RNBQKBNR w KQkq e6 0 2", this, "e7e5"); ' class="line0">e5</span> 
 <span onclick='loadMove("rnbqkbnr/pppp1ppp/8/4p3/4PP2/8/PPPP2PP/RNBQKBNR b KQkq f3 0 2", this, "f2f4"); ' class="line0">2.f4</span> 
 <span onclick='loadMove("rnbqkbnr/pppp1ppp/8/8/4Pp2/8/PPPP2PP/RNBQKBNR w KQkq - 0 3", this, "e5f4"); ' class="line0">ef</span> 
 <span onclick='loadMove("rnbqkbnr/pppp1ppp/8/8/4Pp2/5N2/PPPP2PP/RNBQKB1R b KQkq - 0 3", this, "g1f3"); ' class="line0">3.Кf3</span> 
 <span onclick='loadMove("rnbqkbnr/pppp1p1p/8/6p1/4Pp2/5N2/PPPP2PP/RNBQKB1R w KQkq g6 0 4", this, "g7g5"); ' class="line0">g5</span> 
 <span onclick='loadMove("rnbqkbnr/pppp1p1p/8/6p1/2B1Pp2/5N2/PPPP2PP/RNBQK2R b KQkq - 0 4", this, "f1c4"); ' class="line0">4.Сc4</span> 
 <span onclick='loadMove("rnbqkbnr/pppp1p1p/8/8/2B1Ppp1/5N2/PPPP2PP/RNBQK2R w KQkq - 0 5", this, "g5g4"); ' class="line0">g4</span> 
 <span onclick='loadMove("rnbqkbnr/pppp1p1p/8/8/2BPPpp1/5N2/PPP3PP/RNBQK2R b KQkq d3 0 5", this, "d2d4"); ' class="line0">5.d4</span> 
.</p>
<p>Среди всех способов пожертвовать в этой ситуации коня f3 лучший, видимо,
 <span onclick='loadMove("rnbqkbnr/pppp1p1p/8/8/2B1Ppp1/5N2/PPPP2PP/RNBQ1RK1 b kq - 0 5", this, "e1g1"); ' class="line1">5.0-0</span> 
. Однако, если Морфи играет
 <span onclick='loadMove("rnbqkbnr/pppp1p1p/8/8/2BPPpp1/5N2/PPP3PP/RNBQK2R b KQkq d3 0 5", this, "d2d4"); ' class="line1">5.d4</span> 
, значит, он верит, что и в таком исполнении атака белых стоит потерянного коня. Во всяком случае, защищаться черным нужно очень осмотрительно.</p>
<p>
 <span onclick='loadMove("rnbqkbnr/pppp1p1p/8/8/2BPPp2/5p2/PPP3PP/RNBQK2R w KQkq - 0 6", this, "g4f3"); ' class="line0">5...gf</span> 
 <span onclick='loadMove("rnbqkbnr/pppp1p1p/8/8/2BPPp2/5p2/PPP3PP/RNBQ1RK1 b kq - 0 6", this, "e1g1"); ' class="line0">6.0-0</span> 
 <span onclick='loadMove("rnbqkbnr/ppp2p1p/8/3p4/2BPPp2/5p2/PPP3PP/RNBQ1RK1 w kq d6 0 7", this, "d7d5"); ' class="line0">d5</span> 
 <span onclick='loadMove("rnbqkbnr/ppp2p1p/8/3B4/3PPp2/5p2/PPP3PP/RNBQ1RK1 b kq - 0 7", this, "c4d5"); ' class="line0">7.С:d5</span> 
 <span onclick='loadMove("rn1qkbnr/ppp2p1p/8/3B4/3PPpb1/5p2/PPP3PP/RNBQ1RK1 w kq - 0 8", this, "c8g4"); ' class="line0">Сg4</span> 
 <span onclick='loadMove("rn1qkbnr/ppp2p1p/8/3B4/3PPpb1/3Q1p2/PPP3PP/RNB2RK1 b kq - 0 8", this, "d1d3"); ' class="line0">8.Фd3</span> 
 <span onclick='loadMove("rn1qkbnr/ppp2p1p/8/3B4/3PPpb1/3Q4/PPP3pP/RNB2RK1 w kq - 0 9", this, "f3g2"); ' class="line0">fg</span> 
.</p>
<p>Маленькая черная хитрость. На
 <span onclick='loadMove("rn1qkbnr/ppp2p1p/8/3B4/3PPRb1/3Q4/PPP3pP/RNB3K1 b kq - 0 9", this, "f1f4"); ' class="line1">9.Л:f4?</span> 
теперь имеется
 <span onclick='loadMove("rn1qk1nr/ppp2p1p/7b/3B4/3PPRb1/3Q4/PPP3pP/RNB3K1 w kq - 0 10", this, "f8h6"); ' class="line1">9...Сh6!</span> 
с неожиданной контратакой.</p>
<p>
 <span onclick='loadMove("rn1qkbnr/ppp2p1p/8/3B4/3PPpb1/3Q4/PPP2RpP/RNB3K1 b kq - 0 9", this, "f1f2"); ' class="line0">9.Лf2</span> 
 <span onclick='loadMove("rn1qkbnr/pp3p1p/2p5/3B4/3PPpb1/3Q4/PPP2RpP/RNB3K1 w kq - 0 10", this, "c7c6"); ' class="line0">c6</span> 
 <span onclick='loadMove("rn1qkbnr/pp3B1p/2p5/8/3PPpb1/3Q4/PPP2RpP/RNB3K1 b kq - 0 10", this, "d5f7"); ' class="line0">10.С:f7+!?</span> 
</p>
<p>Стиль надо держать в чистоте. Отступление
 <span onclick='loadMove("rn1qkbnr/pp3p1p/2p5/8/3PPpb1/1B1Q4/PPP2RpP/RNB3K1 b kq - 0 10", this, "d5b3"); ' class="line1">10.Сb3</span> 
дает сопернику важную передышку:
 <span onclick='loadMove("rn1qk1nr/pp3pbp/2p5/8/3PPpb1/1B1Q4/PPP2RpP/RNB3K1 w kq - 0 11", this, "f8g7"); ' class="line1">10...Сg7</span> 
 <span onclick='loadMove("rn1qk1nr/pp3pbp/2p5/8/3PPpb1/1BPQ4/PP3RpP/RNB3K1 b kq - 0 11", this, "c2c3"); ' class="line1">11.c3</span> 
 <span onclick='loadMove("rn1qk1nr/pp3pbp/2p5/8/3PP1b1/1BPQ1p2/PP3RpP/RNB3K1 w kq - 0 12", this, "f4f3"); ' class="line1">f3</span> 
, и где она - атака?</p>
<p>
 <span onclick='loadMove("rn1q1bnr/pp3k1p/2p5/8/3PPpb1/3Q4/PPP2RpP/RNB3K1 w - - 0 11", this, "e8f7"); ' class="line0">10...Кр:f7</span> 
 <span onclick='loadMove("rn1q1bnr/pp3k1p/2p5/8/3PPBb1/3Q4/PPP2RpP/RN4K1 b - - 0 11", this, "c1f4"); ' class="line0">11.С:f4</span> 
 <span onclick='loadMove("rn1q1b1r/pp3k1p/2p2n2/8/3PPBb1/3Q4/PPP2RpP/RN4K1 w - - 0 12", this, "g8f6"); ' class="line0">Кf6</span> 
 <span onclick='loadMove("rn1q1b1r/pp3k1p/2p2n2/4P3/3P1Bb1/3Q4/PPP2RpP/RN4K1 b - - 0 12", this, "e4e5"); ' class="line0">12.e5</span> 
 <span onclick='loadMove("r2q1b1r/pp1n1k1p/2p2n2/4P3/3P1Bb1/3Q4/PPP2RpP/RN4K1 w - - 0 13", this, "b8d7"); ' class="line0">Кbd7</span> 
 <span onclick='loadMove("r2q1b1r/pp1n1k1p/2p2n2/4P3/3P1Bb1/2NQ4/PPP2RpP/R5K1 b - - 0 13", this, "b1c3"); ' class="line0">13.Кc3</span> 
 <span onclick='loadMove("r2q3r/pp1n1kbp/2p2n2/4P3/3P1Bb1/2NQ4/PPP2RpP/R5K1 w - - 0 14", this, "f8g7"); ' class="line0">Сg7</span> 
 <span onclick='loadMove("r2q3r/pp1n1kbp/2p2n2/4P3/3PNBb1/3Q4/PPP2RpP/R5K1 b - - 0 14", this, "c3e4"); ' class="line0">14.Кe4</span> 
.</p>
<div class="chessBoard analysis nobuttons" data-start-fen="r2q3r/pp1n1kbp/2p2n2/4P3/3PNBb1/3Q4/PPP2RpP/R5K1 b - - 0 14"></div>
<p>Белые сделали все, что могли, но сейчас смелое
 <span onclick='loadMove("r2q3r/pp1n1kbp/2p5/4P3/3PnBb1/3Q4/PPP2RpP/R5K1 w - - 0 15", this, "f6e4"); ' class="line1">14...К:e4!</span> 
сбивало главную волну атаки. На
 <span onclick='loadMove("r2q3r/pp1n1kbp/2p5/4P1B1/3Pn1b1/3Q4/PPP2RpP/R5K1 b - - 0 15", this, "f4g5"); ' class="line1">15.Сg5+</span> 
времени нет -
 <span onclick='loadMove("r2q3r/pp1n1kbp/2p5/4P1B1/3P2b1/3Q4/PPP2npP/R5K1 w - - 0 16", this, "e4f2"); ' class="line1">15...К:f2</span> 
, а
 <span onclick='loadMove("r2q3r/pp1n1kbp/2p5/4P3/3PQBb1/8/PPP2RpP/R5K1 b - - 0 15", this, "d3e4"); ' class="line1">15.Ф:e4</span> 
 <span onclick='loadMove("r2q2kr/pp1n2bp/2p5/4P3/3PQBb1/8/PPP2RpP/R5K1 w - - 0 16", this, "f7g8"); ' class="line1">Крg8!</span> 
также меняет ситуацию в пользу черных.</p>
<p>
 <span onclick='loadMove("r2q3r/pp1n1kb1/2p2n1p/4P3/3PNBb1/3Q4/PPP2RpP/R5K1 w - - 0 15", this, "h7h6"); ' class="line0">14...h6?</span> 
 <span onclick='loadMove("r2q3r/pp1n1kb1/2p2P1p/8/3PNBb1/3Q4/PPP2RpP/R5K1 b - - 0 15", this, "e5f6"); ' class="line0">15.ef</span> 
 <span onclick='loadMove("r2q3r/pp3kb1/2p2n1p/8/3PNBb1/3Q4/PPP2RpP/R5K1 w - - 0 16", this, "d7f6"); ' class="line0">К:f6</span> 
 <span onclick='loadMove("r2q3r/pp3kb1/2p2n1p/4B3/3PN1b1/3Q4/PPP2RpP/R5K1 b - - 0 16", this, "f4e5"); ' class="line0">16.Сe5</span> 
 <span onclick='loadMove("r2q1r2/pp3kb1/2p2n1p/4B3/3PN1b1/3Q4/PPP2RpP/R5K1 w - - 0 17", this, "h8f8"); ' class="line0">Лf8</span> 
 <span onclick='loadMove("r2q1r2/pp3kb1/2p2N1p/4B3/3P2b1/3Q4/PPP2RpP/R5K1 b - - 0 17", this, "e4f6"); ' class="line0">17.К:f6</span> 
 <span onclick='loadMove("r2q1r2/pp3k2/2p2b1p/4B3/3P2b1/3Q4/PPP2RpP/R5K1 w - - 0 18", this, "g7f6"); ' class="line0">С:f6</span> 
 <span onclick='loadMove("r2q1r2/pp3k2/2p2B1p/8/3P2b1/3Q4/PPP2RpP/R5K1 b - - 0 18", this, "e5f6"); ' class="line0">18.С:f6</span> 
 <span onclick='loadMove("r4r2/pp1q1k2/2p2B1p/8/3P2b1/3Q4/PPP2RpP/R5K1 w - - 0 19", this, "d8d7"); ' class="line0">Фd7</span> 
 <span onclick='loadMove("r4r2/pp1q1k1Q/2p2B1p/8/3P2b1/8/PPP2RpP/R5K1 b - - 0 19", this, "d3h7"); ' class="line0">19.Фh7+</span> 
 <span onclick='loadMove("r3kr2/pp1q3Q/2p2B1p/8/3P2b1/8/PPP2RpP/R5K1 w q - 0 20", this, "f7e8"); ' class="line0">Крe8</span> 
 <span onclick='loadMove("r3kr2/pp1q4/2p2BQp/8/3P2b1/8/PPP2RpP/R5K1 b q - 0 20", this, "h7g6"); ' class="line0">20.Фg6+</span> 
 <span onclick='loadMove("r3k3/pp1q1r2/2p2BQp/8/3P2b1/8/PPP2RpP/R5K1 w q - 0 21", this, "f8f7"); ' class="line0">Лf7</span> 
.</p>
<p>Потренируйтесь:
 <span onclick='loadMove("r3k1Q1/pp1q1r2/2p2B1p/8/3P2b1/8/PPP2RpP/R5K1 b q - 0 21", this, "g6g8"); ' class="line1">21.Фg8+</span> 
ведет к мату в 6 ходов —
 <span onclick='loadMove("r3krQ1/pp1q4/2p2B1p/8/3P2b1/8/PPP2RpP/R5K1 w q - 0 22", this, "f7f8"); ' class="line1">21...Лf8</span> 
 <span onclick='loadMove("r3krQ1/pp1q4/2p2B1p/8/3P2b1/8/PPP2RpP/4R1K1 b q - 0 22", this, "a1e1"); ' class="line1">22.Лe1+</span> 
 <span onclick='loadMove("r3krQ1/pp6/2p1qB1p/8/3P2b1/8/PPP2RpP/4R1K1 w q - 0 23", this, "d7e6"); ' class="line1">Фe6</span> 
 <span onclick='loadMove("r3krQ1/pp6/2p1RB1p/8/3P2b1/8/PPP2RpP/6K1 b q - 0 23", this, "e1e6"); ' class="line1">23.Л:e6+</span> 
 <span onclick='loadMove("r4rQ1/pp1k4/2p1RB1p/8/3P2b1/8/PPP2RpP/6K1 w - - 0 24", this, "e8d7"); ' class="line1">Крd7</span> 
 <span onclick='loadMove("r4rQ1/pp1kR3/2p2B1p/8/3P2b1/8/PPP2RpP/6K1 b - - 0 24", this, "e6e7"); ' class="line1">24.Лe7+</span> 
 <span onclick='loadMove("r4rQ1/pp2R3/2pk1B1p/8/3P2b1/8/PPP2RpP/6K1 w - - 0 25", this, "d7d6"); ' class="line1">Крd6</span> 
 <span onclick='loadMove("r4r2/pp2R3/2pk1B1p/8/3P2Q1/8/PPP2RpP/6K1 b - - 0 25", this, "g8g4"); ' class="line1">25.Ф:g4</span> 
 <span onclick='loadMove("r7/pp2R3/2pk1r1p/8/3P2Q1/8/PPP2RpP/6K1 w - - 0 26", this, "f8f6"); ' class="line1">Л:f6</span> 
 <span onclick='loadMove("r7/pp1R4/2pk1r1p/8/3P2Q1/8/PPP2RpP/6K1 b - - 0 26", this, "e7d7"); ' class="line1">26.Лd7X</span> 
. 1-0.</p>
</div> <!-- score -->
</div> <!-- section -->

<div class="section">
<div class="chessBoard small floater" data-start-fen="rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w KQkq - 0 1"></div>
<div class="score">
 <span class="line0" onclick='loadMove("rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w KQkq - 0 1", this, ""); '>[...]</span> 
<p class="capTop diagram"><i>Гамбит Гулам Кассима C37</i><br /><strong>П.МОРФИ – Г.КОНВЕЙ</strong><br />Нью-Йорк 1859</p>
<p>
 <span onclick='loadMove("rnbqkbnr/pppppppp/8/8/4P3/8/PPPP1PPP/RNBQKBNR b KQkq e3 0 1", this, "e2e4"); ' class="line0">1.e4</span> 
 <span onclick='loadMove("rnbqkbnr/pppp1ppp/8/4p3/4P3/8/PPPP1PPP/RNBQKBNR w KQkq e6 0 2", this, "e7e5"); ' class="line0">e5</span> 
 <span onclick='loadMove("rnbqkbnr/pppp1ppp/8/4p3/4PP2/8/PPPP2PP/RNBQKBNR b KQkq f3 0 2", this, "f2f4"); ' class="line0">2.f4</span> 
 <span onclick='loadMove("rnbqkbnr/pppp1ppp/8/8/4Pp2/8/PPPP2PP/RNBQKBNR w KQkq - 0 3", this, "e5f4"); ' class="line0">ef</span> 
 <span onclick='loadMove("rnbqkbnr/pppp1ppp/8/8/4Pp2/5N2/PPPP2PP/RNBQKB1R b KQkq - 0 3", this, "g1f3"); ' class="line0">3.Кf3</span> 
 <span onclick='loadMove("rnbqkbnr/pppp1p1p/8/6p1/4Pp2/5N2/PPPP2PP/RNBQKB1R w KQkq g6 0 4", this, "g7g5"); ' class="line0">g5</span> 
 <span onclick='loadMove("rnbqkbnr/pppp1p1p/8/6p1/2B1Pp2/5N2/PPPP2PP/RNBQK2R b KQkq - 0 4", this, "f1c4"); ' class="line0">4.Сc4</span> 
 <span onclick='loadMove("rnbqkbnr/pppp1p1p/8/8/2B1Ppp1/5N2/PPPP2PP/RNBQK2R w KQkq - 0 5", this, "g5g4"); ' class="line0">g4</span> 
 <span onclick='loadMove("rnbqkbnr/pppp1p1p/8/8/2BPPpp1/5N2/PPP3PP/RNBQK2R b KQkq d3 0 5", this, "d2d4"); ' class="line0">5.d4</span> 
 <span onclick='loadMove("rnbqkbnr/pppp1p1p/8/8/2BPPp2/5p2/PPP3PP/RNBQK2R w KQkq - 0 6", this, "g4f3"); ' class="line0">gf</span> 
 <span onclick='loadMove("rnbqkbnr/pppp1p1p/8/8/2BPPp2/5Q2/PPP3PP/RNB1K2R b KQkq - 0 6", this, "d1f3"); ' class="line0">6.Ф:f3</span> 
 <span onclick='loadMove("rnbqk1nr/pppp1p1p/7b/8/2BPPp2/5Q2/PPP3PP/RNB1K2R w KQkq - 0 7", this, "f8h6"); ' class="line0">Сh6?!</span> 
</p>
<p>Верный способ защиты
 <span onclick='loadMove("rnbqkbnr/ppp2p1p/8/3p4/2BPPp2/5Q2/PPP3PP/RNB1K2R w KQkq d6 0 7", this, "d7d5"); ' class="line1">6...d5!?</span> 
 <span onclick='loadMove("rnbqkbnr/ppp2p1p/8/3B4/3PPp2/5Q2/PPP3PP/RNB1K2R b KQkq - 0 7", this, "c4d5"); ' class="line1">7.С:d5</span> 
 <span onclick='loadMove("rnbqkb1r/ppp2p1p/5n2/3B4/3PPp2/5Q2/PPP3PP/RNB1K2R w KQkq - 0 8", this, "g8f6"); ' class="line1">Кf6</span> 
.</p>
<p>
 <span onclick='loadMove("rnbqk1nr/pppp1p1p/7b/8/2BPPp2/5Q2/PPP3PP/RNB2RK1 b kq - 0 7", this, "e1g1"); ' class="line0">7.0-0</span> 
 <span onclick='loadMove("rnbqk2r/ppppnp1p/7b/8/2BPPp2/5Q2/PPP3PP/RNB2RK1 w kq - 0 8", this, "g8e7"); ' class="line0">Кe7?</span> 
</p>
<p>Сохраняло полноправие
 <span onclick='loadMove("rnb1k1nr/pppp1p1p/5q1b/8/2BPPp2/5Q2/PPP3PP/RNB2RK1 w kq - 0 8", this, "d8f6"); ' class="line1">7...Фf6</span> 
.</p>
<p>
 <span onclick='loadMove("rnbqk2r/ppppnp1p/7b/8/2BPPB2/5Q2/PPP3PP/RN3RK1 b kq - 0 8", this, "c1f4"); ' class="line0">8.С:f4</span> 
 <span onclick='loadMove("rnbqk2r/ppppnp1p/8/8/2BPPb2/5Q2/PPP3PP/RN3RK1 w kq - 0 9", this, "h6f4"); ' class="line0">С:f4</span> 
.</p>
<div class="chessBoard analysis nobuttons" data-start-fen="rnbqk2r/ppppnp1p/8/8/2BPPb2/5Q2/PPP3PP/RN3RK1 w kq - 0 9"></div>
<p>
 <span onclick='loadMove("rnbqk2r/ppppnB1p/8/8/3PPb2/5Q2/PPP3PP/RN3RK1 b kq - 0 9", this, "c4f7"); ' class="line0">9.С:f7+!</span> 
 <span onclick='loadMove("rnbq3r/ppppnk1p/8/8/3PPb2/5Q2/PPP3PP/RN3RK1 w - - 0 10", this, "e8f7"); ' class="line0">Кр:f7</span> 
 <span onclick='loadMove("rnbq3r/ppppnk1p/8/8/3PPQ2/8/PPP3PP/RN3RK1 b - - 0 10", this, "f3f4"); ' class="line0">10.Ф:f4+</span> 
 <span onclick='loadMove("rnbq3r/ppppn1kp/8/8/3PPQ2/8/PPP3PP/RN3RK1 w - - 0 11", this, "f7g7"); ' class="line0">Крg7</span> 
 <span onclick='loadMove("rnbq3r/ppppn1kp/5Q2/8/3PP3/8/PPP3PP/RN3RK1 b - - 0 11", this, "f4f6"); ' class="line0">11.Фf6+</span> 
 <span onclick='loadMove("rnbq2kr/ppppn2p/5Q2/8/3PP3/8/PPP3PP/RN3RK1 w - - 0 12", this, "g7g8"); ' class="line0">Крg8</span> 
 <span onclick='loadMove("rnbq2kr/ppppnQ1p/8/8/3PP3/8/PPP3PP/RN3RK1 b - - 0 12", this, "f6f7"); ' class="line0">12.Фf7X</span> 
.</p>
</div> <!-- score -->
</div> <!-- section -->

</div> <!-- iBook -->
{% endblock content %}

