{% extends '../../base.htm' %}
{% load static %}
{% block title %}
<title>Гамбит ДРАКОНА B76 | {{book.title}} | {%for author in book.authors.all%} {%if author.first_name%} {{author.first_name}} {%endif%} {%if author.second_name%} {{author.second_name}} {%endif%} {%if forloop.counter == book.authors.all.count%} {{author.last_name}} {%else%} {{author.last_name}}, {%endif%} {%endfor%} | {{book.year}}</title>
{% endblock title %}
{% block content %}

<div class="iBook">

<div class="section">
<div class="chessBoard small floater" data-start-fen="rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w KQkq - 0 1"></div>
<div class="score">
 <span class="line0" onclick='loadMove("rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w KQkq - 0 1", this, ""); '>[...]</span> 
<h2>Гамбит ДРАКОНА</h2>
<p>Откуда вообще взялось это название — «Вариант дракона»?</p>
<p>
 <span onclick='loadMove("rnbqkbnr/pppppppp/8/8/4P3/8/PPPP1PPP/RNBQKBNR b KQkq e3 0 1", this, "e2e4"); ' class="line0">1.e4</span> 
 <span onclick='loadMove("rnbqkbnr/pp1ppppp/8/2p5/4P3/8/PPPP1PPP/RNBQKBNR w KQkq c6 0 2", this, "c7c5"); ' class="line0">c5</span> 
 <span onclick='loadMove("rnbqkbnr/pp1ppppp/8/2p5/4P3/5N2/PPPP1PPP/RNBQKB1R b KQkq - 0 2", this, "g1f3"); ' class="line0">2.Кf3</span> 
 <span onclick='loadMove("rnbqkbnr/pp2pppp/3p4/2p5/4P3/5N2/PPPP1PPP/RNBQKB1R w KQkq - 0 3", this, "d7d6"); ' class="line0">d6</span> 
 <span onclick='loadMove("rnbqkbnr/pp2pppp/3p4/2p5/3PP3/5N2/PPP2PPP/RNBQKB1R b KQkq d3 0 3", this, "d2d4"); ' class="line0">3.d4</span> 
 <span onclick='loadMove("rnbqkbnr/pp2pppp/3p4/8/3pP3/5N2/PPP2PPP/RNBQKB1R w KQkq - 0 4", this, "c5d4"); ' class="line0">cd</span> 
 <span onclick='loadMove("rnbqkbnr/pp2pppp/3p4/8/3NP3/8/PPP2PPP/RNBQKB1R b KQkq - 0 4", this, "f3d4"); ' class="line0">4.К:d4</span> 
 <span onclick='loadMove("rnbqkb1r/pp2pppp/3p1n2/8/3NP3/8/PPP2PPP/RNBQKB1R w KQkq - 0 5", this, "g8f6"); ' class="line0">Кf6</span> 
 <span onclick='loadMove("rnbqkb1r/pp2pppp/3p1n2/8/3NP3/2N5/PPP2PPP/R1BQKB1R b KQkq - 0 5", this, "b1c3"); ' class="line0">5.Кc3</span> 
 <span onclick='loadMove("rnbqkb1r/pp2pp1p/3p1np1/8/3NP3/2N5/PPP2PPP/R1BQKB1R w KQkq - 0 6", this, "g7g6"); ' class="line0">g6</span> 
.</p>
<p>Русский международный мастер Федор Дуз-Хотимирский, часто применявший эту систему в начале XX века, написал в книжке избранных партиях: «Впервые это название было произнесено мною в Киеве в 1902 году. Увлекаясь астрономией, изучая звездное небо, я подметил внешнее сходство очертаний созвездия Дракон с конфигурацией пешек d6, e7, f7, g6, h7 в сицилианской защите. Зрительная ассоциация дала мне повод назвать этот вариант вариантом дракона».</p>
<p>
 <span onclick='loadMove("rnbqkb1r/pp2pp1p/3p1np1/8/3NP3/2N1B3/PPP2PPP/R2QKB1R b KQkq - 0 6", this, "c1e3"); ' class="line0">6.Сe3</span> 
 <span onclick='loadMove("rnbqk2r/pp2ppbp/3p1np1/8/3NP3/2N1B3/PPP2PPP/R2QKB1R w KQkq - 0 7", this, "f8g7"); ' class="line0">Сg7</span> 
 <span onclick='loadMove("rnbqk2r/pp2ppbp/3p1np1/8/3NP3/2N1BP2/PPP3PP/R2QKB1R b KQkq - 0 7", this, "f2f3"); ' class="line0">7.f3</span> 
 <span onclick='loadMove("rnbq1rk1/pp2ppbp/3p1np1/8/3NP3/2N1BP2/PPP3PP/R2QKB1R w KQ - 0 8", this, "e8g8"); ' class="line0">0-0</span> 
 <span onclick='loadMove("rnbq1rk1/pp2ppbp/3p1np1/8/3NP3/2N1BP2/PPPQ2PP/R3KB1R b KQ - 0 8", this, "d1d2"); ' class="line0">8.Фd2</span> 
 <span onclick='loadMove("r1bq1rk1/pp2ppbp/2np1np1/8/3NP3/2N1BP2/PPPQ2PP/R3KB1R w KQ - 0 9", this, "b8c6"); ' class="line0">Кc6</span> 
 <span onclick='loadMove("r1bq1rk1/pp2ppbp/2np1np1/8/3NP3/2N1BP2/PPPQ2PP/2KR1B1R b - - 0 9", this, "e1c1"); ' class="line0">9.0-0-0</span> 
.</p>
<div class="chessBoard analysis nobuttons" data-start-fen="r1bq1rk1/pp2ppbp/2np1np1/8/3NP3/2N1BP2/PPPQ2PP/2KR1B1R b - - 0 9"></div>
<p>
 <span onclick='loadMove("r1bq1rk1/pp2ppbp/2n2np1/3p4/3NP3/2N1BP2/PPPQ2PP/2KR1B1R w - - 0 10", this, "d6d5"); ' class="line0">9...d5!?</span> 
</p>
<p>Гамбитная идея И.Константиновского. Жертва пешки вполне корректна, и проблемы защиты возникают у черных только тогда, когда белые отклоняют жертву в пользу позиционных продолжений.</p>
<p>
 <span onclick='loadMove("r1bq1rk1/pp2ppbp/2n2np1/3P4/3N4/2N1BP2/PPPQ2PP/2KR1B1R b - - 0 10", this, "e4d5"); ' class="line0">10.ed</span> 
 <span onclick='loadMove("r1bq1rk1/pp2ppbp/2n3p1/3n4/3N4/2N1BP2/PPPQ2PP/2KR1B1R w - - 0 11", this, "f6d5"); ' class="line0">К:d5</span> 
 <span onclick='loadMove("r1bq1rk1/pp2ppbp/2N3p1/3n4/8/2N1BP2/PPPQ2PP/2KR1B1R b - - 0 11", this, "d4c6"); ' class="line0">11.К:c6</span> 
 <span onclick='loadMove("r1bq1rk1/p3ppbp/2p3p1/3n4/8/2N1BP2/PPPQ2PP/2KR1B1R w - - 0 12", this, "b7c6"); ' class="line0">bc</span> 
 <span onclick='loadMove("r1bq1rk1/p3ppbp/2p3p1/3n4/3B4/2N2P2/PPPQ2PP/2KR1B1R b - - 0 12", this, "e3d4"); ' class="line0">12.Сd4</span> 
.</p>
<p>В варианте
 <span onclick='loadMove("r1bq1rk1/p3ppbp/2p3p1/3N4/8/4BP2/PPPQ2PP/2KR1B1R b - - 0 12", this, "c3d5"); ' class="line1">12.К:d5</span> 
 <span onclick='loadMove("r1bq1rk1/p3ppbp/6p1/3p4/8/4BP2/PPPQ2PP/2KR1B1R w - - 0 13", this, "c6d5"); ' class="line1">cd</span> 
 <span onclick='loadMove("r1bq1rk1/p3ppbp/6p1/3Q4/8/4BP2/PPP3PP/2KR1B1R b - - 0 13", this, "d2d5"); ' class="line1">13.Ф:d5</span> 
 <span onclick='loadMove("r1b2rk1/p1q1ppbp/6p1/3Q4/8/4BP2/PPP3PP/2KR1B1R w - - 0 14", this, "d8c7"); ' class="line1">Фc7!</span> 
 <span onclick='loadMove("Q1b2rk1/p1q1ppbp/6p1/8/8/4BP2/PPP3PP/2KR1B1R b - - 0 14", this, "d5a8"); ' class="line1">14.Ф:a8</span> 
 <span onclick='loadMove("Q4rk1/p1q1ppbp/6p1/5b2/8/4BP2/PPP3PP/2KR1B1R w - - 0 15", this, "c8f5"); ' class="line1">Сf5</span> 
 <span onclick='loadMove("5Qk1/p1q1ppbp/6p1/5b2/8/4BP2/PPP3PP/2KR1B1R b - - 0 15", this, "a8f8"); ' class="line1">15.Ф:f8+</span> 
 <span onclick='loadMove("5k2/p1q1ppbp/6p1/5b2/8/4BP2/PPP3PP/2KR1B1R w - - 0 16", this, "g8f8"); ' class="line1">Кр:f8</span> 
черный ферзь не слабее двух белых ладей. Например,
 <span onclick='loadMove("5k2/p1q1ppbp/6p1/5b2/8/4BP2/PPPR2PP/2K2B1R b - - 0 16", this, "d1d2"); ' class="line1">16.Лd2</span> 
 <span onclick='loadMove("5k2/p1q1ppb1/6p1/5b1p/8/4BP2/PPPR2PP/2K2B1R w - h6 0 17", this, "h7h5"); ' class="line1">h5!</span> 
 <span onclick='loadMove("5k2/p1q1ppb1/6p1/5b1p/8/4BP2/PPPRB1PP/2K4R b - - 0 17", this, "f1e2"); ' class="line1">17.Сe2</span> 
 <span onclick='loadMove("1q3k2/p3ppb1/6p1/5b1p/8/4BP2/PPPRB1PP/2K4R w - - 0 18", this, "c7b8"); ' class="line1">Фb8</span> 
 <span onclick='loadMove("1q3k2/p3ppb1/6p1/5b1p/8/1P2BP2/P1PRB1PP/2K4R b - - 0 18", this, "b2b3"); ' class="line1">18.b3</span> 
 <span onclick='loadMove("1q3k2/p3pp2/6p1/5b1p/8/1Pb1BP2/P1PRB1PP/2K4R w - - 0 19", this, "g7c3"); ' class="line1">Сc3</span> 
 <span onclick='loadMove("1q3k2/p3pp2/6p1/3R1b1p/8/1Pb1BP2/P1P1B1PP/2K4R b - - 0 19", this, "d2d5"); ' class="line1">19.Лd5</span> 
 <span onclick='loadMove("1q3k2/p3pp2/4b1p1/3R3p/8/1Pb1BP2/P1P1B1PP/2K4R w - - 0 20", this, "f5e6"); ' class="line1">Сe6</span> 
, и черные захватывают инициативу.</p>
<p>
 <span onclick='loadMove("r1bq1rk1/p4pbp/2p3p1/3np3/3B4/2N2P2/PPPQ2PP/2KR1B1R w - e6 0 13", this, "e7e5"); ' class="line0">12...e5</span> 
 <span onclick='loadMove("r1bq1rk1/p4pbp/2p3p1/2Bnp3/8/2N2P2/PPPQ2PP/2KR1B1R b - - 0 13", this, "d4c5"); ' class="line0">13.Сc5</span> 
 <span onclick='loadMove("r2q1rk1/p4pbp/2p1b1p1/2Bnp3/8/2N2P2/PPPQ2PP/2KR1B1R w - - 0 14", this, "c8e6"); ' class="line0">Сe6!?</span> 
 <span onclick='loadMove("r2q1rk1/p4pbp/2p1b1p1/2Bnp3/4N3/5P2/PPPQ2PP/2KR1B1R b - - 0 14", this, "c3e4"); ' class="line0">14.Кe4</span> 
.</p>
<p>Опасно
 <span onclick='loadMove("r2q1Bk1/p4pbp/2p1b1p1/3np3/8/2N2P2/PPPQ2PP/2KR1B1R b - - 0 14", this, "c5f8"); ' class="line1">14.С:f8</span> 
-
 <span onclick='loadMove("r4qk1/p4pbp/2p1b1p1/3np3/8/2N2P2/PPPQ2PP/2KR1B1R w - - 0 15", this, "d8f8"); ' class="line1">14...Ф:f8</span> 
 <span onclick='loadMove("r4qk1/p4pbp/2p1b1p1/3Np3/8/5P2/PPPQ2PP/2KR1B1R b - - 0 15", this, "c3d5"); ' class="line1">15.К:d5</span> 
 <span onclick='loadMove("r4qk1/p4pbp/4b1p1/3pp3/8/5P2/PPPQ2PP/2KR1B1R w - - 0 16", this, "c6d5"); ' class="line1">cd</span> 
 <span onclick='loadMove("r4qk1/p4pbp/4b1p1/Q2pp3/8/5P2/PPP3PP/2KR1B1R b - - 0 16", this, "d2a5"); ' class="line1">16.Фa5</span> 
 <span onclick='loadMove("r5k1/p3qpbp/4b1p1/Q2pp3/8/5P2/PPP3PP/2KR1B1R w - - 0 17", this, "f8e7"); ' class="line1">Фe7!</span> 
 <span onclick='loadMove("r5k1/p3qpbp/4b1p1/Q2pp3/8/3R1P2/PPP3PP/2K2B1R b - - 0 17", this, "d1d3"); ' class="line1">17.Лd3</span> 
 <span onclick='loadMove("r5k1/p3qpbp/4b1p1/Q2p4/4p3/3R1P2/PPP3PP/2K2B1R w - - 0 18", this, "e5e4"); ' class="line1">e4</span> 
с атакой.</p>
<p>
 <span onclick='loadMove("1r1q1rk1/p4pbp/2p1b1p1/2Bnp3/4N3/5P2/PPPQ2PP/2KR1B1R w - - 0 15", this, "a8b8"); ' class="line0">14...Лb8</span> 
.</p>
<div class="chessBoard analysis nobuttons" data-start-fen="1r1q1rk1/p4pbp/2p1b1p1/2Bnp3/4N3/5P2/PPPQ2PP/2KR1B1R w - - 0 15"></div>
<p>Далее - два практических примера.</p>
<br />
<p class="capTop diagram"><strong>Л.ОЛЛЬ – Э.ГУФЕЛЬД</strong><br />Тбилиси, 1983</p>
<p><b>...</b>
 <span onclick='loadMove("1r1q1rk1/p4pbp/2p1b1p1/2Bnp3/2P1N3/5P2/PP1Q2PP/2KR1B1R b - c3 0 15", this, "c2c4"); ' class="line0">15.c4</span> 
 <span onclick='loadMove("1r1qr1k1/p4pbp/2p1b1p1/2Bnp3/2P1N3/5P2/PP1Q2PP/2KR1B1R w - - 0 16", this, "f8e8"); ' class="line0">Лe8</span> 
 <span onclick='loadMove("1r1qr1k1/p4pbp/2p1b1p1/2Bnp3/2P1N1P1/5P2/PP1Q3P/2KR1B1R b - g3 0 16", this, "g2g4"); ' class="line0">16.g4</span> 
.</p>
<p>Или
 <span onclick='loadMove("1r1qr1k1/p4pbp/2p1b1p1/2BPp3/4N3/5P2/PP1Q2PP/2KR1B1R b - - 0 16", this, "c4d5"); ' class="line1">16.cd</span> 
 <span onclick='loadMove("1r1qr1k1/p4pbp/4b1p1/2Bpp3/4N3/5P2/PP1Q2PP/2KR1B1R w - - 0 17", this, "c6d5"); ' class="line1">cd</span> 
с грозной инициативой у черных.</p>
<p>
 <span onclick='loadMove("1r1qr1k1/p4pbp/1np1b1p1/2B1p3/2P1N1P1/5P2/PP1Q3P/2KR1B1R w - - 0 17", this, "d5b6"); ' class="line0">16...Кb6</span> 
 <span onclick='loadMove("1r1qr1k1/p4pbp/1np1b1p1/2B1p3/2P1N1P1/5P2/PPQ4P/2KR1B1R b - - 0 17", this, "d2c2"); ' class="line0">17.Фc2</span> 
 <span onclick='loadMove("1r1qr1k1/p2n1pbp/2p1b1p1/2B1p3/2P1N1P1/5P2/PPQ4P/2KR1B1R w - - 0 18", this, "b6d7"); ' class="line0">Кd7</span> 
 <span onclick='loadMove("1r1qr1k1/p2n1pbp/2p1b1p1/2B1p3/2P1N1PP/5P2/PPQ5/2KR1B1R b - h3 0 18", this, "h2h4"); ' class="line0">18.h4</span> 
 <span onclick='loadMove("1r2r1k1/p2n1pbp/2p1b1p1/q1B1p3/2P1N1PP/5P2/PPQ5/2KR1B1R w - - 0 19", this, "d8a5"); ' class="line0">Фa5</span> 
 <span onclick='loadMove("1r2r1k1/p2n1pbp/2p1b1p1/q3p3/2P1N1PP/B4P2/PPQ5/2KR1B1R b - - 0 19", this, "c5a3"); ' class="line0">19.Сa3</span> 
 <span onclick='loadMove("1r2r1k1/p4pbp/2p1bnp1/q3p3/2P1N1PP/B4P2/PPQ5/2KR1B1R w - - 0 20", this, "d7f6"); ' class="line0">Кf6!</span> 
 <span onclick='loadMove("1r2r1k1/p4pbp/2p1bnp1/q3p1P1/2P1N2P/B4P2/PPQ5/2KR1B1R b - - 0 20", this, "g4g5"); ' class="line0">20.g5</span> 
 <span onclick='loadMove("1r2r1k1/p4pbp/2p1b1p1/q3p1P1/2P1n2P/B4P2/PPQ5/2KR1B1R w - - 0 21", this, "f6e4"); ' class="line0">К:e4</span> 
 <span onclick='loadMove("1r2r1k1/p4pbp/2p1b1p1/q3p1P1/2P1P2P/B7/PPQ5/2KR1B1R b - - 0 21", this, "f3e4"); ' class="line0">21.fe</span> 
.</p>
<div class="chessBoard analysis nobuttons" data-start-fen="1r2r1k1/p4pbp/2p1b1p1/q3p1P1/2P1P2P/B7/PPQ5/2KR1B1R b - - 0 21"></div>
<p>
 <span onclick='loadMove("1r2rbk1/p4p1p/2p1b1p1/q3p1P1/2P1P2P/B7/PPQ5/2KR1B1R w - - 0 22", this, "g7f8"); ' class="line0">21...Сf8!</span> 
 <span onclick='loadMove("1r2rBk1/p4p1p/2p1b1p1/q3p1P1/2P1P2P/8/PPQ5/2KR1B1R b - - 0 22", this, "a3f8"); ' class="line0">22.С:f8</span> 
 <span onclick='loadMove("1r3rk1/p4p1p/2p1b1p1/q3p1P1/2P1P2P/8/PPQ5/2KR1B1R w - - 0 23", this, "e8f8"); ' class="line0">Л:f8</span> 
 <span onclick='loadMove("1r3rk1/p4p1p/2p1b1p1/q3p1P1/2P1P2P/8/PPQ5/1K1R1B1R b - - 0 23", this, "c1b1"); ' class="line0">23.Крb1</span> 
 <span onclick='loadMove("1r1r2k1/p4p1p/2p1b1p1/q3p1P1/2P1P2P/8/PPQ5/1K1R1B1R w - - 0 24", this, "f8d8"); ' class="line0">Лfd8</span> 
 <span onclick='loadMove("1r1r2k1/p4p1p/2p1b1p1/q3p1P1/2P1P2P/3B4/PPQ5/1K1R3R b - - 0 24", this, "f1d3"); ' class="line0">24.Сd3</span> 
.</p>
<p>Осмотрительнее
 <span onclick='loadMove("1r1r2k1/p4p1p/2p1b1p1/q3p1P1/2P1P2P/8/PPQ1B3/1K1R3R b - - 0 24", this, "f1e2"); ' class="line1">24.Сe2</span> 
с шансами на защиту.</p>
<p>
 <span onclick='loadMove("1r4k1/p4p1p/2p1b1p1/q3p1P1/2PrP2P/3B4/PPQ5/1K1R3R w - - 0 25", this, "d8d4"); ' class="line0">24...Лd4</span> 
 <span onclick='loadMove("1r4k1/p4p1p/2p1b1p1/q3p1P1/2PrP2P/3B4/PP2Q3/1K1R3R b - - 0 25", this, "c2e2"); ' class="line0">25.Фe2</span> 
 <span onclick='loadMove("1r4k1/p4p1p/2p1b1p1/4p1P1/1qPrP2P/3B4/PP2Q3/1K1R3R w - - 0 26", this, "a5b4"); ' class="line0">Фb4!</span> 
 <span onclick='loadMove("1r4k1/p4p1p/2p1b1p1/4p1P1/1qPrP2P/1P1B4/P3Q3/1K1R3R b - - 0 26", this, "b2b3"); ' class="line0">26.b3</span> 
 <span onclick='loadMove("1r4k1/5p1p/2p1b1p1/p3p1P1/1qPrP2P/1P1B4/P3Q3/1K1R3R w - a6 0 27", this, "a7a5"); ' class="line0">a5</span> 
 <span onclick='loadMove("1r4k1/5p1p/2p1b1p1/p3p1P1/1qPrP2P/1P1B4/PK2Q3/3R3R b - - 0 27", this, "b1b2"); ' class="line0">27.Крb2</span> 
.</p>
<p>Пора было создать хотя бы видимость контригры —
 <span onclick='loadMove("1r4k1/5p1p/2p1b1p1/p3p1PP/1qPrP3/1P1B4/P3Q3/1K1R3R b - - 0 27", this, "h4h5"); ' class="line1">27.h5</span> 
.</p>
<p>
 <span onclick='loadMove("1r4k1/5p1p/2p1b1p1/4p1P1/pqPrP2P/1P1B4/PK2Q3/3R3R w - - 0 28", this, "a5a4"); ' class="line0">27...a4</span> 
 <span onclick='loadMove("1r4k1/5p1p/2p1b1p1/4p1P1/pqPrP2P/1P1B4/PK6/3RQ2R b - - 0 28", this, "e2e1"); ' class="line0">28.Фe1</span> 
 <span onclick='loadMove("1r4k1/5p1p/2pqb1p1/4p1P1/p1PrP2P/1P1B4/PK6/3RQ2R w - - 0 29", this, "b4d6"); ' class="line0">Фd6</span> 
 <span onclick='loadMove("1r4k1/5p1p/2pqb1p1/4p1P1/p1PrP2P/1P6/PKB5/3RQ2R b - - 0 29", this, "d3c2"); ' class="line0">29.Сc2</span> 
 <span onclick='loadMove("1r4k1/5p1p/2pq2p1/4p1P1/p1brP2P/1P6/PKB5/3RQ2R w - - 0 30", this, "e6c4"); ' class="line0">С:c4</span> 
 <span onclick='loadMove("1r4k1/5p1p/2pq2p1/4p1P1/p1brP2P/1PQ5/PKB5/3R3R b - - 0 30", this, "e1c3"); ' class="line0">30.Фc3</span> 
 <span onclick='loadMove("1r4k1/5p1p/2pq2p1/4p1P1/2brP2P/1pQ5/PKB5/3R3R w - - 0 31", this, "a4b3"); ' class="line0">ab</span> 
 <span onclick='loadMove("1r4k1/5p1p/2pq2p1/4p1P1/2brP2P/1PQ5/1KB5/3R3R b - - 0 31", this, "a2b3"); ' class="line0">31.ab</span> 
 <span onclick='loadMove("1r4k1/5p1p/2pq2p1/4p1P1/3rP2P/1bQ5/1KB5/3R3R w - - 0 32", this, "c4b3"); ' class="line0">С:b3!</span> 
</p>
<p><b>0-1</b>.</p>
<br />
<p class="capTop diagram"><strong>С.ШНЕЙДЕР – А.ЙОНАССОН</strong><br />Рейкьявик, 1984</p>
<p><b>...</b>
 <span onclick='loadMove("1r1q1rk1/p4pbp/2p1b1p1/2Bnp3/4N2P/5P2/PPPQ2P1/2KR1B1R b - h3 0 15", this, "h2h4"); ' class="line0">15.h4</span> 
 <span onclick='loadMove("1r1qr1k1/p4pbp/2p1b1p1/2Bnp3/4N2P/5P2/PPPQ2P1/2KR1B1R w - - 0 16", this, "f8e8"); ' class="line0">Лe8</span> 
 <span onclick='loadMove("1r1qr1k1/p4pbp/2p1b1p1/2Bnp3/4N1PP/5P2/PPPQ4/2KR1B1R b - g3 0 16", this, "g2g4"); ' class="line0">16.g4</span> 
 <span onclick='loadMove("1r1qr1k1/p5bp/2p1b1p1/2Bnpp2/4N1PP/5P2/PPPQ4/2KR1B1R w - f6 0 17", this, "f7f5"); ' class="line0">f5</span> 
 <span onclick='loadMove("1r1qr1k1/p5bp/2p1b1p1/2BnpP2/4N2P/5P2/PPPQ4/2KR1B1R b - - 0 17", this, "g4f5"); ' class="line0">17.gf</span> 
 <span onclick='loadMove("1r1qr1k1/p5bp/2p1b3/2Bnpp2/4N2P/5P2/PPPQ4/2KR1B1R w - - 0 18", this, "g6f5"); ' class="line0">gf</span> 
 <span onclick='loadMove("1r1qr1k1/p5bp/2pNb3/2Bnpp2/7P/5P2/PPPQ4/2KR1B1R b - - 0 18", this, "e4d6"); ' class="line0">18.Кd6</span> 
 <span onclick='loadMove("1r1qr1k1/p5bp/2pNb3/2Bn1p2/4p2P/5P2/PPPQ4/2KR1B1R w - - 0 19", this, "e5e4"); ' class="line0">e4</span> 
.</p>
<p>Верное решение
 <span onclick='loadMove("1r1q2k1/p3r1bp/2pNb3/2Bnpp2/7P/5P2/PPPQ4/2KR1B1R w - - 0 19", this, "e8e7"); ' class="line1">18...Лe7</span> 
 <span onclick='loadMove("1r1q2k1/p3r1bp/2pNb3/2Bnpp2/2P4P/5P2/PP1Q4/2KR1B1R b - c3 0 19", this, "c2c4"); ' class="line1">19.c4</span> 
 <span onclick='loadMove("1r1q2k1/p2r2bp/2pNb3/2Bnpp2/2P4P/5P2/PP1Q4/2KR1B1R w - - 0 20", this, "e7d7"); ' class="line1">Лd7</span> 
с неясными последствиями.</p>
<p>
 <span onclick='loadMove("1r1qr1k1/p5bp/2pNb3/2Bn1p2/4p2P/5P2/PPPQ4/2KR1BR1 b - - 0 19", this, "h1g1"); ' class="line0">19.Лg1</span> 
 <span onclick='loadMove("1r1qr1k1/p5bp/2pNb3/2Bn1p2/7P/4pP2/PPPQ4/2KR1BR1 w - - 0 20", this, "e4e3"); ' class="line0">e3</span> 
.</p>
<div class="chessBoard analysis nobuttons" data-start-fen="1r1qr1k1/p5bp/2pNb3/2Bn1p2/7P/4pP2/PPPQ4/2KR1BR1 w - - 0 20"></div>
<p>
 <span onclick='loadMove("1r1qr1k1/p5Rp/2pNb3/2Bn1p2/7P/4pP2/PPPQ4/2KR1B2 b - - 0 20", this, "g1g7"); ' class="line0">20.Л:g7+!</span> 
</p>
<p><b>1-0</b>. А здесь последствия рассчитать легко:
 <span onclick='loadMove("1r1qr3/p5kp/2pNb3/2Bn1p2/7P/4pP2/PPPQ4/2KR1B2 w - - 0 21", this, "g8g7"); ' class="line1">20...Кр:g7</span> 
 <span onclick='loadMove("1r1qr3/p5kp/2pNb3/2Bn1p2/7P/4pP2/PPP3Q1/2KR1B2 b - - 0 21", this, "d2g2"); ' class="line1">21.Фg2+</span> 
с быстрой победой.</p>
</div> <!-- score -->
</div> <!-- section -->

</div> <!-- iBook -->
{% endblock content %}

