{% extends '../../base.htm' %}
{% load static %}
{% block title %}
<title>Гамбит Кохрена C42 | {{book.title}} | {%for author in book.authors.all%} {%if author.first_name%} {{author.first_name}} {%endif%} {%if author.second_name%} {{author.second_name}} {%endif%} {%if forloop.counter == book.authors.all.count%} {{author.last_name}} {%else%} {{author.last_name}}, {%endif%} {%endfor%} | {{book.year}}</title>
{% endblock title %}
{% block content %}

<div class="iBook">

<div class="section">
<div class="score">
<h2>Гамбит КОХРЕНА</h2>
<!--div class="diagram"-->
<!--img src="images/1-65.png" style="width:108pt;height:131pt;"/-->
<!--div class="diagram">Джон Кохрен</div-->
<!--/div-->
<div class="notification message">
<p><strong>Джон Кохрен</strong> (1798-1878) - шотландский мастер, впервые выдвинулся в Париже (1824), играя с Дешапелем и Лабурдоне. Большую часть жизни (1824-1869) провел в Индии. В 1822 году издал в Лондоне книгу, содержащую партии и список шахматных писателей.</p>
</div>

</div> <!-- score -->
</div> <!-- section -->


<div class="section">
<div class="chessBoard small floater" data-start-fen="rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w KQkq - 0 1"></div>
<div class="score">
<p>В теории его именем назван гамбитный вариант русской партии:</p>
<p>
 <span class="line0" onclick='loadMove("rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w KQkq - 0 1", this, ""); '>[...]</span> 
 <span onclick='loadMove("rnbqkbnr/pppppppp/8/8/4P3/8/PPPP1PPP/RNBQKBNR b KQkq e3 0 1", this, "e2e4"); ' class="line0">1.e4</span> 
 <span onclick='loadMove("rnbqkbnr/pppp1ppp/8/4p3/4P3/8/PPPP1PPP/RNBQKBNR w KQkq e6 0 2", this, "e7e5"); ' class="line0">e5</span> 
 <span onclick='loadMove("rnbqkbnr/pppp1ppp/8/4p3/4P3/5N2/PPPP1PPP/RNBQKB1R b KQkq - 0 2", this, "g1f3"); ' class="line0">2.Кf3</span> 
 <span onclick='loadMove("rnbqkb1r/pppp1ppp/5n2/4p3/4P3/5N2/PPPP1PPP/RNBQKB1R w KQkq - 0 3", this, "g8f6"); ' class="line0">Кf6</span> 
 <span onclick='loadMove("rnbqkb1r/pppp1ppp/5n2/4N3/4P3/8/PPPP1PPP/RNBQKB1R b KQkq - 0 3", this, "f3e5"); ' class="line0">3.К:e5</span> 
 <span onclick='loadMove("rnbqkb1r/ppp2ppp/3p1n2/4N3/4P3/8/PPPP1PPP/RNBQKB1R w KQkq - 0 4", this, "d7d6"); ' class="line0">d6</span> 
 <span onclick='loadMove("rnbqkb1r/ppp2Npp/3p1n2/8/4P3/8/PPPP1PPP/RNBQKB1R b KQkq - 0 4", this, "e5f7"); ' class="line0">4.К:f7</span> 
.</p>
<div class="chessBoard analysis nobuttons" data-start-fen="rnbqkb1r/ppp2Npp/3p1n2/8/4P3/8/PPPP1PPP/RNBQKB1R b KQkq - 0 4"></div>
<p>После
 <span onclick='loadMove("rnbq1b1r/ppp2kpp/3p1n2/8/4P3/8/PPPP1PPP/RNBQKB1R w KQ - 0 5", this, "e8f7"); ' class="line0">4...Кр:f7</span> 
 <span onclick='loadMove("rnbq1b1r/ppp2kpp/3p1n2/8/3PP3/8/PPP2PPP/RNBQKB1R b KQ d3 0 5", this, "d2d4"); ' class="line0">5.d4</span> 
у белых за коня две пешки, опережение в развитии и возможности пешечного наступления в центре.</p>
</div> <!-- score -->
</div> <!-- section -->

<div class="section">
<div class="chessBoard small floater" data-start-fen="rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w KQkq - 0 1"></div>
<div class="score">
 <span class="line0" onclick='loadMove("rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w KQkq - 0 1", this, ""); '>[...]</span> 
<p class="capTop diagram"><i>Гамбит Кохрена C42</i><br /><strong>Р.МЕССИНГЕР – Г.РАШ</strong><br />Берлин, 1989</p>
<p>
 <span onclick='loadMove("rnbqkbnr/pppppppp/8/8/4P3/8/PPPP1PPP/RNBQKBNR b KQkq e3 0 1", this, "e2e4"); ' class="line0">1.e4</span> 
 <span onclick='loadMove("rnbqkbnr/pppp1ppp/8/4p3/4P3/8/PPPP1PPP/RNBQKBNR w KQkq e6 0 2", this, "e7e5"); ' class="line0">e5</span> 
 <span onclick='loadMove("rnbqkbnr/pppp1ppp/8/4p3/4P3/5N2/PPPP1PPP/RNBQKB1R b KQkq - 0 2", this, "g1f3"); ' class="line0">2.Кf3</span> 
 <span onclick='loadMove("rnbqkb1r/pppp1ppp/5n2/4p3/4P3/5N2/PPPP1PPP/RNBQKB1R w KQkq - 0 3", this, "g8f6"); ' class="line0">Кf6</span> 
 <span onclick='loadMove("rnbqkb1r/pppp1ppp/5n2/4N3/4P3/8/PPPP1PPP/RNBQKB1R b KQkq - 0 3", this, "f3e5"); ' class="line0">3.К:e5</span> 
 <span onclick='loadMove("rnbqkb1r/ppp2ppp/3p1n2/4N3/4P3/8/PPPP1PPP/RNBQKB1R w KQkq - 0 4", this, "d7d6"); ' class="line0">d6</span> 
 <span onclick='loadMove("rnbqkb1r/ppp2Npp/3p1n2/8/4P3/8/PPPP1PPP/RNBQKB1R b KQkq - 0 4", this, "e5f7"); ' class="line0">4.К:f7</span> 
 <span onclick='loadMove("rnbq1b1r/ppp2kpp/3p1n2/8/4P3/8/PPPP1PPP/RNBQKB1R w KQ - 0 5", this, "e8f7"); ' class="line0">Кр:f7</span> 
 <span onclick='loadMove("rnbq1b1r/ppp2kpp/3p1n2/8/3PP3/8/PPP2PPP/RNBQKB1R b KQ d3 0 5", this, "d2d4"); ' class="line0">5.d4</span> 
 <span onclick='loadMove("rnbq1b1r/pp3kpp/3p1n2/2p5/3PP3/8/PPP2PPP/RNBQKB1R w KQ c6 0 6", this, "c7c5"); ' class="line0">c5</span> 
.</p>
<p>Более перспективными способами борьбы с гамбитной идеей белых выглядят
 <span onclick='loadMove("rnbq3r/ppp1bkpp/3p1n2/8/3PP3/8/PPP2PPP/RNBQKB1R w KQ - 0 6", this, "f8e7"); ' class="line1">5...Сe7</span> 
или
 <span onclick='loadMove("rnbq1b1r/ppp2k1p/3p1np1/8/3PP3/8/PPP2PPP/RNBQKB1R w KQ - 0 6", this, "g7g6"); ' class="line1">5...g6</span> 
.</p>
<p>
 <span onclick='loadMove("rnbq1b1r/pp3kpp/3p1n2/2P5/4P3/8/PPP2PPP/RNBQKB1R b KQ - 0 6", this, "d4c5"); ' class="line0">6.dc</span> 
 <span onclick='loadMove("rn1q1b1r/pp3kpp/3pbn2/2P5/4P3/8/PPP2PPP/RNBQKB1R w KQ - 0 7", this, "c8e6"); ' class="line0">Сe6?!</span> 
</p>
<p>Верное решение
 <span onclick='loadMove("r1bq1b1r/pp3kpp/2np1n2/2P5/4P3/8/PPP2PPP/RNBQKB1R w KQ - 0 7", this, "b8c6"); ' class="line1">6...Кc6!?</span> 
</p>
<p>
 <span onclick='loadMove("rn1q1b1r/pp3kpp/3pbn2/2P1P3/8/8/PPP2PPP/RNBQKB1R b KQ - 0 7", this, "e4e5"); ' class="line0">7.e5!</span> 
 <span onclick='loadMove("rn1q1b1r/pp3kpp/3pb3/2P1P3/6n1/8/PPP2PPP/RNBQKB1R w KQ - 0 8", this, "f6g4"); ' class="line0">Кg4</span> 
 <span onclick='loadMove("rn1q1b1r/pp3kpp/3pb3/2P1P3/6n1/5Q2/PPP2PPP/RNB1KB1R b KQ - 0 8", this, "d1f3"); ' class="line0">8.Фf3+</span> 
 <span onclick='loadMove("rn1q1bkr/pp4pp/3pb3/2P1P3/6n1/5Q2/PPP2PPP/RNB1KB1R w KQ - 0 9", this, "f7g8"); ' class="line0">Крg8</span> 
 <span onclick='loadMove("rn1q1bkr/pp4pp/3Pb3/2P5/6n1/5Q2/PPP2PPP/RNB1KB1R b KQ - 0 9", this, "e5d6"); ' class="line0">9.ed</span> 
 <span onclick='loadMove("r2q1bkr/pp4pp/2nPb3/2P5/6n1/5Q2/PPP2PPP/RNB1KB1R w KQ - 0 10", this, "b8c6"); ' class="line0">Кc6?</span> 
</p>
<p>Связку слон+конь следовало срочно укрепить —
 <span onclick='loadMove("rn3bkr/pp1q2pp/3Pb3/2P5/6n1/5Q2/PPP2PPP/RNB1KB1R w KQ - 0 10", this, "d8d7"); ' class="line1">9...Фd7</span> 
. Теперь же все заканчивается мгновенно</p>
<div class="chessBoard analysis nobuttons" data-start-fen="r2q1bkr/pp4pp/2nPb3/2P5/6n1/5Q2/PPP2PPP/RNB1KB1R w KQ - 0 10"></div>
<p>
 <span onclick='loadMove("r2q1bkr/pp4pp/2nPb3/2P5/6Q1/8/PPP2PPP/RNB1KB1R b KQ - 0 10", this, "f3g4"); ' class="line0">10.Ф:g4!</span> 
</p>
<p>Все. На
 <span onclick='loadMove("r2q1bkr/pp4pp/2nP4/2P5/6b1/8/PPP2PPP/RNB1KB1R w KQ - 0 11", this, "e6g4"); ' class="line0">10...С:g4</span> 
тут же
 <span onclick='loadMove("r2q1bkr/pp4pp/2nP4/2P5/2B3b1/8/PPP2PPP/RNB1K2R b KQ - 0 11", this, "f1c4"); ' class="line0">11.Сc4+</span> 
. 1-0.</p>
</div> <!-- score -->
</div> <!-- section -->

<div class="section">
<div class="chessBoard small floater" data-start-fen="rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w KQkq - 0 1"></div>
<div class="score">
 <span class="line0" onclick='loadMove("rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w KQkq - 0 1", this, ""); '>[...]</span> 
<p class="capTop diagram"><i>Гамбит Кохрена C42</i><br /><strong>Г.АБРОМЕЙГ – М.СОБЧАК</strong><br />Хамм, 2001</p>
<p>
 <span onclick='loadMove("rnbqkbnr/pppppppp/8/8/4P3/8/PPPP1PPP/RNBQKBNR b KQkq e3 0 1", this, "e2e4"); ' class="line0">1.e4</span> 
 <span onclick='loadMove("rnbqkbnr/pppp1ppp/8/4p3/4P3/8/PPPP1PPP/RNBQKBNR w KQkq e6 0 2", this, "e7e5"); ' class="line0">e5</span> 
 <span onclick='loadMove("rnbqkbnr/pppp1ppp/8/4p3/4P3/5N2/PPPP1PPP/RNBQKB1R b KQkq - 0 2", this, "g1f3"); ' class="line0">2.Кf3</span> 
 <span onclick='loadMove("rnbqkb1r/pppp1ppp/5n2/4p3/4P3/5N2/PPPP1PPP/RNBQKB1R w KQkq - 0 3", this, "g8f6"); ' class="line0">Кf6</span> 
 <span onclick='loadMove("rnbqkb1r/pppp1ppp/5n2/4N3/4P3/8/PPPP1PPP/RNBQKB1R b KQkq - 0 3", this, "f3e5"); ' class="line0">3.К:e5</span> 
 <span onclick='loadMove("rnbqkb1r/ppp2ppp/3p1n2/4N3/4P3/8/PPPP1PPP/RNBQKB1R w KQkq - 0 4", this, "d7d6"); ' class="line0">d6</span> 
.</p>
<p>Все тихо, спокойно, мирно, благолепно.</p>
<p>
 <span onclick='loadMove("rnbqkb1r/ppp2Npp/3p1n2/8/4P3/8/PPPP1PPP/RNBQKB1R b KQkq - 0 4", this, "e5f7"); ' class="line0">4.К:f7!?</span> 
</p>
<p>Рано или поздно, но кто-то должен был решиться на эту смелую жертву.</p>
<div class="chessBoard analysis nobuttons" data-start-fen="rnbqkb1r/ppp2Npp/3p1n2/8/4P3/8/PPPP1PPP/RNBQKB1R b KQkq - 0 4"></div>
<p>
 <span onclick='loadMove("rnbq1b1r/ppp2kpp/3p1n2/8/4P3/8/PPPP1PPP/RNBQKB1R w KQ - 0 5", this, "e8f7"); ' class="line0">4...Кр:f7</span> 
 <span onclick='loadMove("rnbq1b1r/ppp2kpp/3p1n2/8/3PP3/8/PPP2PPP/RNBQKB1R b KQ d3 0 5", this, "d2d4"); ' class="line0">5.d4</span> 
 <span onclick='loadMove("rnbq1b1r/ppp2kpp/3p4/8/3Pn3/8/PPP2PPP/RNBQKB1R w KQ - 0 6", this, "f6e4"); ' class="line0">К:e4?</span> 
</p>
<p>Начальная ошибка в редком дебюте. Заниматься пешкоедством всегда опасно, а в такой напряженной ситуации — вдвойне. Чтобы бороться с агрессивной идеей белых, нужно срочно вводить в бой резервы:
 <span onclick='loadMove("rnbq3r/ppp1bkpp/3p1n2/8/3PP3/8/PPP2PPP/RNBQKB1R w KQ - 0 6", this, "f8e7"); ' class="line1">5...Сe7</span> 
или даже
 <span onclick='loadMove("rnbq1b1r/ppp2kpp/5n2/3p4/3PP3/8/PPP2PPP/RNBQKB1R w KQ - 0 6", this, "d6d5"); ' class="line1">5...d5</span> 
.</p>
<p>
 <span onclick='loadMove("rnbq1b1r/ppp2kpp/3p4/7Q/3Pn3/8/PPP2PPP/RNB1KB1R b KQ - 0 6", this, "d1h5"); ' class="line0">6.Фh5+</span> 
 <span onclick='loadMove("rnbq1b1r/ppp1k1pp/3p4/7Q/3Pn3/8/PPP2PPP/RNB1KB1R w KQ - 0 7", this, "f7e7"); ' class="line0">Крe7</span> 
.</p>
<p>После
 <span onclick='loadMove("rnbq1b1r/ppp2k1p/3p2p1/7Q/3Pn3/8/PPP2PPP/RNB1KB1R w KQ - 0 7", this, "g7g6"); ' class="line1">6...g6</span> 
 <span onclick='loadMove("rnbq1b1r/ppp2k1p/3p2p1/3Q4/3Pn3/8/PPP2PPP/RNB1KB1R b KQ - 0 7", this, "h5d5"); ' class="line1">7.Фd5+</span> 
конь возвращается с прибылью.</p>
<p>
 <span onclick='loadMove("rnbq1b1r/ppp1k1pp/3p4/8/3Pn3/8/PPP1QPPP/RNB1KB1R b KQ - 0 7", this, "h5e2"); ' class="line0">7.Фe2</span> 
 <span onclick='loadMove("rnbq1b1r/ppp1k1pp/8/3p4/3Pn3/8/PPP1QPPP/RNB1KB1R w KQ - 0 8", this, "d6d5"); ' class="line0">d5?!</span> 
</p>
<p>Ошибка, которая уже ничего не портит.</p>
<p>
 <span onclick='loadMove("rnbq1b1r/ppp1k1pp/8/3p2B1/3Pn3/8/PPP1QPPP/RN2KB1R b KQ - 0 8", this, "c1g5"); ' class="line0">8.Сg5+!</span> 
</p>
<p>1-0. Казалось бы, что делать шахматному человечеству на этой редкой дорожке? Однако — столпотворение: Д.Готши — Г.Гейнрих, корр. (Германия) 1980, А.Содерстром — С.Тзанетакис, корр. (Германия) 1981; Н.Лазарев — О.Кундышев, Москва (Россия) 1982; Д.Уелл — Г.Тира, Даутон (США) 1985; К.Пирсиг — О.Диттмар, корр. (Германия) 1988; Р.Маркус — К.Андре, корр. (Европа) 1989; К.Пирсиг — Т.Лиске, корр (Германия) 1990; Б.Бетерман — М.Позерн, корр (Европа) 1990; Д.Увелл — Р.Монд, Монтайн Фьев (США) 1991; Р.Эдвардс — Д.Макалистер, Фелл Ривьер (США) 1991; Д.Фишер — М.Кришнер, Фремонт (США) 1993; Р.Форстер — К.Шилд, Берн (Швейцария) 1994; Д.Райдерман — П.ван дер Стеррен, Амстердам (Нидерланды) 1994. Если покопаться в Интернете, список можно удвоить. Кстати, обилие переписочных партий оттого, что гамбитом Кохрена часто игрались тематические турниры.</p>
</div> <!-- score -->
</div> <!-- section -->

</div> <!-- iBook -->
{% endblock content %}

