{% extends '../../base.htm' %}
{% load static %}
{% block title %}
<title>Гамбит Льюиса C23 | {{book.title}} | {%for author in book.authors.all%} {%if author.first_name%} {{author.first_name}} {%endif%} {%if author.second_name%} {{author.second_name}} {%endif%} {%if forloop.counter == book.authors.all.count%} {{author.last_name}} {%else%} {{author.last_name}}, {%endif%} {%endfor%} | {{book.year}}</title>
{% endblock title %}
{% block content %}

<div class="iBook">

<div class="section">
<div class="score">
<h2>Гамбит ЛЬЮИСА</h2>

<div class="notification message">
<p><strong>Уильям Льюис</strong> (1787-1870) — считался одним из лучших шахматистов Англии. Автор ряда дебютных исследований. Книга Льюиса «Цикл лекций о шахматной игре» не раз переиздавалась в XIX веке.</p>
</div>

</div> <!-- score -->
</div> <!-- section -->

<div class="section">
<div class="chessBoard small floater" data-start-fen="rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w KQkq - 0 1"></div>
<div class="score">
<p>
 <span class="line0" onclick='loadMove("rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w KQkq - 0 1", this, ""); '>[...]</span> 
 <span onclick='loadMove("rnbqkbnr/pppppppp/8/8/4P3/8/PPPP1PPP/RNBQKBNR b KQkq e3 0 1", this, "e2e4"); ' class="line0">1.e4</span> 
 <span onclick='loadMove("rnbqkbnr/pppp1ppp/8/4p3/4P3/8/PPPP1PPP/RNBQKBNR w KQkq e6 0 2", this, "e7e5"); ' class="line0">e5</span> 
 <span onclick='loadMove("rnbqkbnr/pppp1ppp/8/4p3/2B1P3/8/PPPP1PPP/RNBQK1NR b KQkq - 0 2", this, "f1c4"); ' class="line0">2.Сc4</span> 
 <span onclick='loadMove("rnbqk1nr/pppp1ppp/8/2b1p3/2B1P3/8/PPPP1PPP/RNBQK1NR w KQkq - 0 3", this, "f8c5"); ' class="line0">Сc5</span> 
 <span onclick='loadMove("rnbqk1nr/pppp1ppp/8/2b1p3/2BPP3/8/PPP2PPP/RNBQK1NR b KQkq d3 0 3", this, "d2d4"); ' class="line0">3.d4</span> 
.</p>
<div class="chessBoard analysis nobuttons" data-start-fen="rnbqk1nr/pppp1ppp/8/2b1p3/2BPP3/8/PPP2PPP/RNBQK1NR b KQkq d3 0 3"></div>
<p>Идея гамбита в
 <span onclick='loadMove("rnbqk1nr/pppp1ppp/8/2b5/2BpP3/8/PPP2PPP/RNBQK1NR w KQkq - 0 4", this, "e5d4"); ' class="line1">3...ed</span> 
 <span onclick='loadMove("rnbqk1nr/pppp1Bpp/8/2b5/3pP3/8/PPP2PPP/RNBQK1NR b KQkq - 0 4", this, "c4f7"); ' class="line1">4.С:f7+</span> 
 <span onclick='loadMove("rnbq2nr/pppp1kpp/8/2b5/3pP3/8/PPP2PPP/RNBQK1NR w KQ - 0 5", this, "e8f7"); ' class="line1">Кр:f7</span> 
 <span onclick='loadMove("rnbq2nr/pppp1kpp/8/2b4Q/3pP3/8/PPP2PPP/RNB1K1NR b KQ - 0 5", this, "d1h5"); ' class="line1">5.Фh5+</span> 
 <span onclick='loadMove("rnbq2nr/pppp1k1p/6p1/2b4Q/3pP3/8/PPP2PPP/RNB1K1NR w KQ - 0 6", this, "g7g6"); ' class="line1">g6</span> 
 <span onclick='loadMove("rnbq2nr/pppp1k1p/6p1/2Q5/3pP3/8/PPP2PPP/RNB1K1NR b KQ - 0 6", this, "h5c5"); ' class="line1">6.Ф:c5</span> 
. Но пешку можно взять слоном.</p>
<p>
 <span onclick='loadMove("rnbqk1nr/pppp1ppp/8/4p3/2BbP3/8/PPP2PPP/RNBQK1NR w KQkq - 0 4", this, "c5d4"); ' class="line0">3...С:d4</span> 
 <span onclick='loadMove("rnbqk1nr/pppp1ppp/8/4p3/2BbP3/5N2/PPP2PPP/RNBQK2R b KQkq - 0 4", this, "g1f3"); ' class="line0">4.Кf3</span> 
 <span onclick='loadMove("rnb1k1nr/pppp1ppp/5q2/4p3/2BbP3/5N2/PPP2PPP/RNBQK2R w KQkq - 0 5", this, "d8f6"); ' class="line0">Фf6</span> 
 <span onclick='loadMove("rnb1k1nr/pppp1ppp/5q2/4p3/2BNP3/8/PPP2PPP/RNBQK2R b KQkq - 0 5", this, "f3d4"); ' class="line0">5.К:d4</span> 
 <span onclick='loadMove("rnb1k1nr/pppp1ppp/5q2/8/2BpP3/8/PPP2PPP/RNBQK2R w KQkq - 0 6", this, "e5d4"); ' class="line0">ed</span> 
 <span onclick='loadMove("rnb1k1nr/pppp1ppp/5q2/8/2BpP3/8/PPP2PPP/RNBQ1RK1 b kq - 0 6", this, "e1g1"); ' class="line0">6.0-0</span> 
 <span onclick='loadMove("r1b1k1nr/pppp1ppp/2n2q2/8/2BpP3/8/PPP2PPP/RNBQ1RK1 w kq - 0 7", this, "b8c6"); ' class="line0">Кc6</span> 
 <span onclick='loadMove("r1b1k1nr/pppp1ppp/2n2q2/8/2BpPP2/8/PPP3PP/RNBQ1RK1 b kq f3 0 7", this, "f2f4"); ' class="line0">7.f4</span> 
 <span onclick='loadMove("r1b1k1nr/ppp2ppp/2np1q2/8/2BpPP2/8/PPP3PP/RNBQ1RK1 w kq - 0 8", this, "d7d6"); ' class="line0">d6</span> 
 <span onclick='loadMove("r1b1k1nr/ppp2ppp/2np1q2/1B6/3pPP2/8/PPP3PP/RNBQ1RK1 b kq - 0 8", this, "c4b5"); ' class="line0">8.Сb5</span> 
 <span onclick='loadMove("r3k1nr/pppb1ppp/2np1q2/1B6/3pPP2/8/PPP3PP/RNBQ1RK1 w kq - 0 9", this, "c8d7"); ' class="line0">Сd7</span> 
. У черных нет трудностей.</p>
</div> <!-- score -->
</div> <!-- section -->

<div class="section">
<div class="chessBoard small floater" data-start-fen="rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w KQkq - 0 1"></div>
<div class="score">
 <span class="line0" onclick='loadMove("rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w KQkq - 0 1", this, ""); '>[...]</span> 
<p class="capTop diagram"><i>Гамбит Льюиса C23</i><br /><strong>Д.КОХРЕН – Г.СТАУНТОН</strong><br />Лондон, 1841</p>
<p>
 <span onclick='loadMove("rnbqkbnr/pppppppp/8/8/4P3/8/PPPP1PPP/RNBQKBNR b KQkq e3 0 1", this, "e2e4"); ' class="line0">1.e4</span> 
 <span onclick='loadMove("rnbqkbnr/pppp1ppp/8/4p3/4P3/8/PPPP1PPP/RNBQKBNR w KQkq e6 0 2", this, "e7e5"); ' class="line0">e5</span> 
 <span onclick='loadMove("rnbqkbnr/pppp1ppp/8/4p3/2B1P3/8/PPPP1PPP/RNBQK1NR b KQkq - 0 2", this, "f1c4"); ' class="line0">2.Сc4</span> 
 <span onclick='loadMove("rnbqk1nr/pppp1ppp/8/2b1p3/2B1P3/8/PPPP1PPP/RNBQK1NR w KQkq - 0 3", this, "f8c5"); ' class="line0">Сc5</span> 
 <span onclick='loadMove("rnbqk1nr/pppp1ppp/8/2b1p3/2BPP3/8/PPP2PPP/RNBQK1NR b KQkq d3 0 3", this, "d2d4"); ' class="line0">3.d4</span> 
 <span onclick='loadMove("rnbqk1nr/pppp1ppp/8/4p3/2BbP3/8/PPP2PPP/RNBQK1NR w KQkq - 0 4", this, "c5d4"); ' class="line0">С:d4</span> 
 <span onclick='loadMove("rnbqk1nr/pppp1ppp/8/4p3/2BbP3/5N2/PPP2PPP/RNBQK2R b KQkq - 0 4", this, "g1f3"); ' class="line0">4.Кf3</span> 
 <span onclick='loadMove("rnb1k1nr/pppp1ppp/5q2/4p3/2BbP3/5N2/PPP2PPP/RNBQK2R w KQkq - 0 5", this, "d8f6"); ' class="line0">Фf6</span> 
 <span onclick='loadMove("rnb1k1nr/pppp1ppp/5q2/4p3/2BbP3/5N2/PPP2PPP/RNBQ1RK1 b kq - 0 5", this, "e1g1"); ' class="line0">5.0-0</span> 
 <span onclick='loadMove("rnb1k1nr/pppp1ppp/1b3q2/4p3/2B1P3/5N2/PPP2PPP/RNBQ1RK1 w kq - 0 6", this, "d4b6"); ' class="line0">Сb6</span> 
.</p>
<p>Правило, по которому в дебюте не следует лишний раз ходить одной и той же фигурой, написано не только для новичков, но и для опытных игроков. Нужный ход — 
 <span onclick='loadMove("r1b1k1nr/pppp1ppp/2n2q2/4p3/2BbP3/5N2/PPP2PPP/RNBQ1RK1 w kq - 0 6", this, "b8c6"); ' class="line1">5...Кc6</span> 
, поддерживая равноправие.</p>
<p>
 <span onclick='loadMove("rnb1k1nr/pppp1ppp/1b3q2/4p3/2B1P3/2N2N2/PPP2PPP/R1BQ1RK1 b kq - 0 6", this, "b1c3"); ' class="line0">6.Кc3</span> 
 <span onclick='loadMove("rnb1k1nr/pp1p1ppp/1bp2q2/4p3/2B1P3/2N2N2/PPP2PPP/R1BQ1RK1 w kq - 0 7", this, "c7c6"); ' class="line0">c6?</span> 
</p>
<p>Двойная ошибка. Во-первых, верно
 <span onclick='loadMove("r1b1k1nr/pppp1ppp/1bn2q2/4p3/2B1P3/2N2N2/PPP2PPP/R1BQ1RK1 w kq - 0 7", this, "b8c6"); ' class="line1">6...Кc6</span> 
 <span onclick='loadMove("r1b1k1nr/pppp1ppp/1bn2q2/3Np3/2B1P3/5N2/PPP2PPP/R1BQ1RK1 b kq - 0 7", this, "c3d5"); ' class="line1">7.Кd5</span> 
 <span onclick='loadMove("r1b1k1nr/pppp1ppp/1bn3q1/3Np3/2B1P3/5N2/PPP2PPP/R1BQ1RK1 w kq - 0 8", this, "f6g6"); ' class="line1">Фg6</span> 
— у белых лишь небольшое позиционное превосходство, с которым можно благополучно бороться. Во-вторых, ошибиться можно было гораздо красивее:
 <span onclick='loadMove("rnb1k1nr/ppp2ppp/1b1p1q2/4p3/2B1P3/2N2N2/PPP2PPP/R1BQ1RK1 w kq - 0 7", this, "d7d6"); ' class="line1">6...d6</span> 
 <span onclick='loadMove("rnb1k1nr/ppp2ppp/1b1p1q2/4p1B1/2B1P3/2N2N2/PPP2PPP/R2Q1RK1 b kq - 0 7", this, "c1g5"); ' class="line1">7.Сg5</span> 
 <span onclick='loadMove("rnb1k1nr/ppp2ppp/1b1p2q1/4p1B1/2B1P3/2N2N2/PPP2PPP/R2Q1RK1 w kq - 0 8", this, "f6g6"); ' class="line1">Фg6</span> 
 <span onclick='loadMove("rnb1k1nr/ppp2ppp/1b1p2q1/4N1B1/2B1P3/2N5/PPP2PPP/R2Q1RK1 b kq - 0 8", this, "f3e5"); ' class="line1">8.К:e5!</span> 
</p>
<p>
 <span onclick='loadMove("rnb1k1nr/pp1p1ppp/1bp2q2/4p1B1/2B1P3/2N2N2/PPP2PPP/R2Q1RK1 b kq - 0 7", this, "c1g5"); ' class="line0">7.Сg5</span> 
 <span onclick='loadMove("rnb1k1nr/pp1p1ppp/1bp3q1/4p1B1/2B1P3/2N2N2/PPP2PPP/R2Q1RK1 w kq - 0 8", this, "f6g6"); ' class="line0">Фg6</span> 
.</p>
<div class="chessBoard analysis nobuttons" data-start-fen="rnb1k1nr/pp1p1ppp/1bp3q1/4p1B1/2B1P3/2N2N2/PPP2PPP/R2Q1RK1 w kq - 0 8"></div>
<p>
 <span onclick='loadMove("rnb1k1nr/pp1p1ppp/1bp3q1/4N1B1/2B1P3/2N5/PPP2PPP/R2Q1RK1 b kq - 0 8", this, "f3e5"); ' class="line0">8.К:e5!</span> 
 <span onclick='loadMove("rnb1k1nr/pp1p1ppp/1bp5/4N1q1/2B1P3/2N5/PPP2PPP/R2Q1RK1 w kq - 0 9", this, "g6g5"); ' class="line0">Ф:g5</span> 
 <span onclick='loadMove("rnb1k1nr/pp1p1Npp/1bp5/6q1/2B1P3/2N5/PPP2PPP/R2Q1RK1 b kq - 0 9", this, "e5f7"); ' class="line0">9.К:f7</span> 
 <span onclick='loadMove("rnb1k1nr/pp1p1Npp/1bp5/2q5/2B1P3/2N5/PPP2PPP/R2Q1RK1 w kq - 0 10", this, "g5c5"); ' class="line0">Фc5</span> 
 <span onclick='loadMove("rnb1k1nr/pp1p1Npp/1bp5/2q5/N1B1P3/8/PPP2PPP/R2Q1RK1 b kq - 0 10", this, "c3a4"); ' class="line0">10.Кa4!</span> 
</p>
<p>Выигрывало и простое отступление слона на b3, но так изящнее.</p>
<p>
 <span onclick='loadMove("rnb1k1nr/pp1p1Npp/1bp5/8/N1q1P3/8/PPP2PPP/R2Q1RK1 w kq - 0 11", this, "c5c4"); ' class="line0">10...Ф:c4</span> 
 <span onclick='loadMove("rnb1k1nr/pp1p2pp/1bpN4/8/N1q1P3/8/PPP2PPP/R2Q1RK1 b kq - 0 11", this, "f7d6"); ' class="line0">11.Кd6+</span> 
. 1-0.</p>
</div> <!-- score -->
</div> <!-- section -->

</div> <!-- iBook -->
{% endblock content %}

