{% extends '../../base.htm' %}
{% load static %}
{% block title %}
<title>Гамбит Морра С21 | {{book.title}} | {%for author in book.authors.all%} {%if author.first_name%} {{author.first_name}} {%endif%} {%if author.second_name%} {{author.second_name}} {%endif%} {%if forloop.counter == book.authors.all.count%} {{author.last_name}} {%else%} {{author.last_name}}, {%endif%} {%endfor%} | {{book.year}}</title>
{% endblock title %}
{% block content %}

<div class="iBook">

<div class="section">
<div class="chessBoard small floater" data-start-fen="rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w KQkq - 0 1"></div>
<div class="score">
 <span class="line0" onclick='loadMove("rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w KQkq - 0 1", this, ""); '>[...]</span> 
<h2>Гамбит МОРРА</h2>
<p>Партии, сыгранные гамбитом
 <span onclick='loadMove("rnbqkbnr/pppppppp/8/8/4P3/8/PPPP1PPP/RNBQKBNR b KQkq e3 0 1", this, "e2e4"); ' class="line0">1.e4</span> 
 <span onclick='loadMove("rnbqkbnr/pp1ppppp/8/2p5/4P3/8/PPPP1PPP/RNBQKBNR w KQkq c6 0 2", this, "c7c5"); ' class="line0">c5</span> 
 <span onclick='loadMove("rnbqkbnr/pp1ppppp/8/2p5/3PP3/8/PPP2PPP/RNBQKBNR b KQkq d3 0 2", this, "d2d4"); ' class="line0">2.d4</span> 
 <span onclick='loadMove("rnbqkbnr/pp1ppppp/8/8/3pP3/8/PPP2PPP/RNBQKBNR w KQkq - 0 3", this, "c5d4"); ' class="line0">cd</span> 
 <span onclick='loadMove("rnbqkbnr/pp1ppppp/8/8/3pP3/2P5/PP3PPP/RNBQKBNR b KQkq - 0 3", this, "c2c3"); ' class="line0">3.c3</span> 
, встречались уже в конце XIX века.</p>
<div class="chessBoard analysis nobuttons" data-start-fen="rnbqkbnr/pp1ppppp/8/8/3pP3/2P5/PP3PPP/RNBQKBNR b KQkq - 0 3"></div>
<p>B 1945 году в Ницце вышел подробный анализ начала, опубликованный французским шахматистом-переписочником <strong>Пьером Морра</strong>.</p>
<p>Гамбит вошел в большую турнирную практику стараниями гроссмейстеров Савелия Тартаковера, Пауля Кереса, Бента Ларсена, Милана Матуловича. За пешку белые получают устойчивую инициативу, и от черных требуется точность в защите и постоянная бдительность.</p>
</div> <!-- score -->
</div> <!-- section -->

<div class="section">
<div class="chessBoard small floater" data-start-fen="rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w KQkq - 0 1"></div>
<div class="score">
 <span class="line0" onclick='loadMove("rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w KQkq - 0 1", this, ""); '>[...]</span> 
<p class="capTop diagram"><i>Гамбит Морра С21</i><br /><strong>А.КАЗАНЦЕВ – Д.ИСАКОВ</strong><br />Барнаул, 1989</p>
<p>
 <span onclick='loadMove("rnbqkbnr/pppppppp/8/8/4P3/8/PPPP1PPP/RNBQKBNR b KQkq e3 0 1", this, "e2e4"); ' class="line0">1.e4</span> 
 <span onclick='loadMove("rnbqkbnr/pp1ppppp/8/2p5/4P3/8/PPPP1PPP/RNBQKBNR w KQkq c6 0 2", this, "c7c5"); ' class="line0">c5</span> 
 <span onclick='loadMove("rnbqkbnr/pp1ppppp/8/2p5/3PP3/8/PPP2PPP/RNBQKBNR b KQkq d3 0 2", this, "d2d4"); ' class="line0">2.d4</span> 
 <span onclick='loadMove("rnbqkbnr/pp1ppppp/8/8/3pP3/8/PPP2PPP/RNBQKBNR w KQkq - 0 3", this, "c5d4"); ' class="line0">cd</span> 
 <span onclick='loadMove("rnbqkbnr/pp1ppppp/8/8/3pP3/2P5/PP3PPP/RNBQKBNR b KQkq - 0 3", this, "c2c3"); ' class="line0">3.c3</span> 
 <span onclick='loadMove("rnbqkbnr/pp1ppppp/8/8/4P3/2p5/PP3PPP/RNBQKBNR w KQkq - 0 4", this, "d4c3"); ' class="line0">dc</span> 
 <span onclick='loadMove("rnbqkbnr/pp1ppppp/8/8/4P3/2N5/PP3PPP/R1BQKBNR b KQkq - 0 4", this, "b1c3"); ' class="line0">4.К:c3</span> 
 <span onclick='loadMove("rnbqkbnr/pp2pppp/3p4/8/4P3/2N5/PP3PPP/R1BQKBNR w KQkq - 0 5", this, "d7d6"); ' class="line0">d6</span> 
 <span onclick='loadMove("rnbqkbnr/pp2pppp/3p4/8/2B1P3/2N5/PP3PPP/R1BQK1NR b KQkq - 0 5", this, "f1c4"); ' class="line0">5.Сc4</span> 
 <span onclick='loadMove("rnbqkb1r/pp2pppp/3p1n2/8/2B1P3/2N5/PP3PPP/R1BQK1NR w KQkq - 0 6", this, "g8f6"); ' class="line0">Кf6?!</span> 
</p>
<p>За пешкой e4 в этом гамбите нужен глаз да глаз. Точными возражениями выглядят
 <span onclick='loadMove("rnbqkbnr/pp3ppp/3pp3/8/2B1P3/2N5/PP3PPP/R1BQK1NR w KQkq - 0 6", this, "e7e6"); ' class="line1">5...e6</span> 
или
 <span onclick='loadMove("r1bqkbnr/pp2pppp/2np4/8/2B1P3/2N5/PP3PPP/R1BQK1NR w KQkq - 0 6", this, "b8c6"); ' class="line1">5...Кc6</span> 
, ограничивая ее активность.</p>
<div class="chessBoard analysis nobuttons" data-start-fen="rnbqkb1r/pp2pppp/3p1n2/8/2B1P3/2N5/PP3PPP/R1BQK1NR w KQkq - 0 6"></div>
<p>
 <span onclick='loadMove("rnbqkb1r/pp2pppp/3p1n2/4P3/2B5/2N5/PP3PPP/R1BQK1NR b KQkq - 0 6", this, "e4e5"); ' class="line0">6.e5!</span> 
 <span onclick='loadMove("rnbqkb1r/pp2pppp/5n2/4p3/2B5/2N5/PP3PPP/R1BQK1NR w KQkq - 0 7", this, "d6e5"); ' class="line0">de?</span> 
</p>
<p>Отступление на g8, конечно, не улучшало позицию, но не проигрывало партию.</p>
<p>
 <span onclick='loadMove("rnbqkb1r/pp2pBpp/5n2/4p3/8/2N5/PP3PPP/R1BQK1NR b KQkq - 0 7", this, "c4f7"); ' class="line0">7.С:f7+!</span> 
</p>
<p><b>1-0</b>.</p>
</div> <!-- score -->
</div> <!-- section -->

</div> <!-- iBook -->
{% endblock content %}

