{% extends '../../base.htm' %}
{% load static %}
{% block title %}
<title>Перуанский гамбит D50 | {{book.title}} | {%for author in book.authors.all%} {%if author.first_name%} {{author.first_name}} {%endif%} {%if author.second_name%} {{author.second_name}} {%endif%} {%if forloop.counter == book.authors.all.count%} {{author.last_name}} {%else%} {{author.last_name}}, {%endif%} {%endfor%} | {{book.year}}</title>
{% endblock title %}
{% block content %}

<div class="iBook">

<div class="section">
<div class="chessBoard small floater" data-start-fen="rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w KQkq - 0 1"></div>
<div class="score">
 <span class="line0" onclick='loadMove("rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w KQkq - 0 1", this, ""); '>[...]</span> 
<h2>ПЕРУАНСКИЙ гамбит</h2>
<p>
 <span onclick='loadMove("rnbqkbnr/pppppppp/8/8/3P4/8/PPP1PPPP/RNBQKBNR b KQkq d3 0 1", this, "d2d4"); ' class="line0">1.d4</span> 
 <span onclick='loadMove("rnbqkbnr/ppp1pppp/8/3p4/3P4/8/PPP1PPPP/RNBQKBNR w KQkq d6 0 2", this, "d7d5"); ' class="line0">d5</span> 
 <span onclick='loadMove("rnbqkbnr/ppp1pppp/8/3p4/2PP4/8/PP2PPPP/RNBQKBNR b KQkq c3 0 2", this, "c2c4"); ' class="line0">2.c4</span> 
 <span onclick='loadMove("rnbqkbnr/ppp2ppp/4p3/3p4/2PP4/8/PP2PPPP/RNBQKBNR w KQkq - 0 3", this, "e7e6"); ' class="line0">e6</span> 
 <span onclick='loadMove("rnbqkbnr/ppp2ppp/4p3/3p4/2PP4/2N5/PP2PPPP/R1BQKBNR b KQkq - 0 3", this, "b1c3"); ' class="line0">3.Кc3</span> 
 <span onclick='loadMove("rnbqkb1r/ppp2ppp/4pn2/3p4/2PP4/2N5/PP2PPPP/R1BQKBNR w KQkq - 0 4", this, "g8f6"); ' class="line0">Кf6</span> 
 <span onclick='loadMove("rnbqkb1r/ppp2ppp/4pn2/3p2B1/2PP4/2N5/PP2PPPP/R2QKBNR b KQkq - 0 4", this, "c1g5"); ' class="line0">4.Сg5</span> 
 <span onclick='loadMove("rnbqkb1r/pp3ppp/4pn2/2pp2B1/2PP4/2N5/PP2PPPP/R2QKBNR w KQkq c6 0 5", this, "c7c5"); ' class="line0">c5</span> 
 <span onclick='loadMove("rnbqkb1r/pp3ppp/4pn2/2pP2B1/3P4/2N5/PP2PPPP/R2QKBNR b KQkq - 0 5", this, "c4d5"); ' class="line0">5.cd</span> 
 <span onclick='loadMove("rnb1kb1r/pp3ppp/1q2pn2/2pP2B1/3P4/2N5/PP2PPPP/R2QKBNR w KQkq - 0 6", this, "d8b6"); ' class="line0">Фb6</span> 
.</p>
<div class="chessBoard analysis nobuttons" data-start-fen="rnb1kb1r/pp3ppp/1q2pn2/2pP2B1/3P4/2N5/PP2PPPP/R2QKBNR w KQkq - 0 6"></div>
<p>B 1948 году так впервые сыграл перуанский мастер <strong>Э.Каналь</strong> в партии с С.Тартаковером на международном турнире в Венеции. Ранний выход ферзя внушает, конечно, определенные сомнения, но форсированного опровержения его пока найти не удалось.</p>
</div> <!-- score -->
</div> <!-- section -->

<div class="section">
<div class="chessBoard small floater" data-start-fen="rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w KQkq - 0 1"></div>
<div class="score">
 <span class="line0" onclick='loadMove("rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w KQkq - 0 1", this, ""); '>[...]</span> 
<p class="capTop diagram"><i>Перуанский гамбит D50</i><br /><strong>Р.ТОРБАН – Г.ГУРЕВИЧ</strong><br />Москва, 2000</p>
<p>
 <span onclick='loadMove("rnbqkbnr/pppppppp/8/8/3P4/8/PPP1PPPP/RNBQKBNR b KQkq d3 0 1", this, "d2d4"); ' class="line0">1.d4</span> 
 <span onclick='loadMove("rnbqkbnr/ppp1pppp/8/3p4/3P4/8/PPP1PPPP/RNBQKBNR w KQkq d6 0 2", this, "d7d5"); ' class="line0">d5</span> 
 <span onclick='loadMove("rnbqkbnr/ppp1pppp/8/3p4/2PP4/8/PP2PPPP/RNBQKBNR b KQkq c3 0 2", this, "c2c4"); ' class="line0">2.c4</span> 
 <span onclick='loadMove("rnbqkbnr/ppp2ppp/4p3/3p4/2PP4/8/PP2PPPP/RNBQKBNR w KQkq - 0 3", this, "e7e6"); ' class="line0">e6</span> 
 <span onclick='loadMove("rnbqkbnr/ppp2ppp/4p3/3p4/2PP4/2N5/PP2PPPP/R1BQKBNR b KQkq - 0 3", this, "b1c3"); ' class="line0">3.Кc3</span> 
 <span onclick='loadMove("rnbqkb1r/ppp2ppp/4pn2/3p4/2PP4/2N5/PP2PPPP/R1BQKBNR w KQkq - 0 4", this, "g8f6"); ' class="line0">Кf6</span> 
 <span onclick='loadMove("rnbqkb1r/ppp2ppp/4pn2/3p2B1/2PP4/2N5/PP2PPPP/R2QKBNR b KQkq - 0 4", this, "c1g5"); ' class="line0">4.Сg5</span> 
 <span onclick='loadMove("rnbqkb1r/pp3ppp/4pn2/2pp2B1/2PP4/2N5/PP2PPPP/R2QKBNR w KQkq c6 0 5", this, "c7c5"); ' class="line0">c5</span> 
 <span onclick='loadMove("rnbqkb1r/pp3ppp/4pn2/2pP2B1/3P4/2N5/PP2PPPP/R2QKBNR b KQkq - 0 5", this, "c4d5"); ' class="line0">5.cd</span> 
 <span onclick='loadMove("rnb1kb1r/pp3ppp/1q2pn2/2pP2B1/3P4/2N5/PP2PPPP/R2QKBNR w KQkq - 0 6", this, "d8b6"); ' class="line0">Фb6</span> 
 <span onclick='loadMove("rnb1kb1r/pp3ppp/1q2Pn2/2p3B1/3P4/2N5/PP2PPPP/R2QKBNR b KQkq - 0 6", this, "d5e6"); ' class="line0">6.de</span> 
 <span onclick='loadMove("rnb1kb1r/pp3ppp/1q2Pn2/6B1/3p4/2N5/PP2PPPP/R2QKBNR w KQkq - 0 7", this, "c5d4"); ' class="line0">cd!?</span> 
 <span onclick='loadMove("rnb1kb1r/pp3Ppp/1q3n2/6B1/3p4/2N5/PP2PPPP/R2QKBNR b KQkq - 0 7", this, "e6f7"); ' class="line0">7.ef+</span> 
 <span onclick='loadMove("rnb2b1r/pp3kpp/1q3n2/6B1/3p4/2N5/PP2PPPP/R2QKBNR w KQ - 0 8", this, "e8f7"); ' class="line0">Кр:f7</span> 
 <span onclick='loadMove("rnb2b1r/pp3kpp/1q3n2/6B1/N2p4/8/PP2PPPP/R2QKBNR b KQ - 0 8", this, "c3a4"); ' class="line0">8.Кa4</span> 
 <span onclick='loadMove("rnb4r/pp3kpp/1q3n2/6B1/Nb1p4/8/PP2PPPP/R2QKBNR w KQ - 0 9", this, "f8b4"); ' class="line0">Сb4+</span> 
 <span onclick='loadMove("rnb4r/pp3kpp/1q3n2/8/Nb1p4/8/PP1BPPPP/R2QKBNR b KQ - 0 9", this, "g5d2"); ' class="line0">9.Сd2</span> 
 <span onclick='loadMove("rnb4r/pp3kpp/1q3n2/8/N2p4/8/PP1bPPPP/R2QKBNR w KQ - 0 10", this, "b4d2"); ' class="line0">С:d2+</span> 
 <span onclick='loadMove("rnb4r/pp3kpp/1q3n2/8/N2p4/8/PP1QPPPP/R3KBNR b KQ - 0 10", this, "d1d2"); ' class="line0">10.Ф:d2</span> 
 <span onclick='loadMove("rnb4r/pp3kpp/5n2/1q6/N2p4/8/PP1QPPPP/R3KBNR w KQ - 0 11", this, "b6b5"); ' class="line0">Фb5</span> 
.</p>
<div class="chessBoard analysis nobuttons" data-start-fen="rnb4r/pp3kpp/5n2/1q6/N2p4/8/PP1QPPPP/R3KBNR w KQ - 0 11"></div>
<p>
 <span onclick='loadMove("rnb4r/pp3kpp/5n2/1q6/N2Q4/8/PP2PPPP/R3KBNR b KQ - 0 11", this, "d2d4"); ' class="line0">11.Ф:d4?</span> 
</p>
<p>Верно
 <span onclick='loadMove("rnb4r/pp3kpp/5n2/1q6/N2p4/1P6/P2QPPPP/R3KBNR b KQ - 0 11", this, "b2b3"); ' class="line1">11.b3</span> 
 <span onclick='loadMove("r1b4r/pp3kpp/2n2n2/1q6/N2p4/1P6/P2QPPPP/R3KBNR w KQ - 0 12", this, "b8c6"); ' class="line1">Кc6</span> 
 <span onclick='loadMove("r1b4r/pp3kpp/2n2n2/1q6/N2p4/1P3N2/P2QPPPP/R3KB1R b KQ - 0 12", this, "g1f3"); ' class="line1">12.Кf3</span> 
- шансы взаимны.</p>
<p>
 <span onclick='loadMove("r1b4r/pp3kpp/2n2n2/1q6/N2Q4/8/PP2PPPP/R3KBNR w KQ - 0 12", this, "b8c6"); ' class="line0">11...Кc6</span> 
 <span onclick='loadMove("r1b4r/pp3kpp/2n2n2/1q6/N4Q2/8/PP2PPPP/R3KBNR b KQ - 0 12", this, "d4f4"); ' class="line0">12.Фf4</span> 
 <span onclick='loadMove("r1b4r/pp3k1p/2n2n2/1q4p1/N4Q2/8/PP2PPPP/R3KBNR w KQ g6 0 13", this, "g7g5"); ' class="line0">g5!</span> 
 <span onclick='loadMove("r1b4r/ppQ2k1p/2n2n2/1q4p1/N7/8/PP2PPPP/R3KBNR b KQ - 0 13", this, "f4c7"); ' class="line0">13.Фc7+</span> 
 <span onclick='loadMove("r1b4r/ppQ4p/2n2nk1/1q4p1/N7/8/PP2PPPP/R3KBNR w KQ - 0 14", this, "f7g6"); ' class="line0">Крg6</span> 
.</p>
<p>Теперь
 <span onclick='loadMove("r1b4r/ppQ4p/2n2nk1/1q4p1/8/2N5/PP2PPPP/R3KBNR b KQ - 0 14", this, "a4c3"); ' class="line1">14.Кc3</span> 
 <span onclick='loadMove("r1b4r/ppQ4p/2n2nk1/6p1/8/2N5/Pq2PPPP/R3KBNR w KQ - 0 15", this, "b5b2"); ' class="line1">Ф:b2</span> 
или
 <span onclick='loadMove("r1b4r/ppQ4p/2n2nk1/1q4p1/N7/1P6/P3PPPP/R3KBNR b KQ - 0 14", this, "b2b3"); ' class="line1">14.b3</span> 
 <span onclick='loadMove("r1b4r/ppQ4p/2n2nk1/6p1/Nq6/1P6/P3PPPP/R3KBNR w KQ - 0 15", this, "b5b4"); ' class="line1">Фb4+</span> 
одинаково неинтересно для белых. <b>0-1</b>.</p>
</div> <!-- score -->
</div> <!-- section -->

<div class="section">
<div class="chessBoard small floater" data-start-fen="rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w KQkq - 0 1"></div>
<div class="score">
 <span class="line0" onclick='loadMove("rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w KQkq - 0 1", this, ""); '>[...]</span> 
<p class="capTop diagram"><i>Перуанский гамбит D50</i><br /><strong>А.НЕЙСНЕР – Д.ХОФМАН</strong><br />Прага, 1952</p>
<p>
 <span onclick='loadMove("rnbqkbnr/pppppppp/8/8/3P4/8/PPP1PPPP/RNBQKBNR b KQkq d3 0 1", this, "d2d4"); ' class="line0">1.d4</span> 
 <span onclick='loadMove("rnbqkbnr/ppp1pppp/8/3p4/3P4/8/PPP1PPPP/RNBQKBNR w KQkq d6 0 2", this, "d7d5"); ' class="line0">d5</span> 
 <span onclick='loadMove("rnbqkbnr/ppp1pppp/8/3p4/2PP4/8/PP2PPPP/RNBQKBNR b KQkq c3 0 2", this, "c2c4"); ' class="line0">2.c4</span> 
 <span onclick='loadMove("rnbqkbnr/ppp2ppp/4p3/3p4/2PP4/8/PP2PPPP/RNBQKBNR w KQkq - 0 3", this, "e7e6"); ' class="line0">e6</span> 
 <span onclick='loadMove("rnbqkbnr/ppp2ppp/4p3/3p4/2PP4/2N5/PP2PPPP/R1BQKBNR b KQkq - 0 3", this, "b1c3"); ' class="line0">3.Кc3</span> 
 <span onclick='loadMove("rnbqkb1r/ppp2ppp/4pn2/3p4/2PP4/2N5/PP2PPPP/R1BQKBNR w KQkq - 0 4", this, "g8f6"); ' class="line0">Кf6</span> 
 <span onclick='loadMove("rnbqkb1r/ppp2ppp/4pn2/3p2B1/2PP4/2N5/PP2PPPP/R2QKBNR b KQkq - 0 4", this, "c1g5"); ' class="line0">4.Сg5</span> 
 <span onclick='loadMove("rnbqkb1r/pp3ppp/4pn2/2pp2B1/2PP4/2N5/PP2PPPP/R2QKBNR w KQkq c6 0 5", this, "c7c5"); ' class="line0">c5</span> 
 <span onclick='loadMove("rnbqkb1r/pp3ppp/4pn2/2pP2B1/3P4/2N5/PP2PPPP/R2QKBNR b KQkq - 0 5", this, "c4d5"); ' class="line0">5.cd</span> 
 <span onclick='loadMove("rnb1kb1r/pp3ppp/1q2pn2/2pP2B1/3P4/2N5/PP2PPPP/R2QKBNR w KQkq - 0 6", this, "d8b6"); ' class="line0">Фb6</span> 
.</p>
<p>Перуанский гамбит еще ждет своего настоящего исследователя. Обычнее здесь, конечно,
 <span onclick='loadMove("rnbqkb1r/pp3ppp/5n2/2pp2B1/3P4/2N5/PP2PPPP/R2QKBNR w KQkq - 0 6", this, "e6d5"); ' class="line1">5...ed</span> 
.</p>
<p>
 <span onclick='loadMove("rnb1kb1r/pp3ppp/1q2pB2/2pP4/3P4/2N5/PP2PPPP/R2QKBNR b KQkq - 0 6", this, "g5f6"); ' class="line0">6.С:f6</span> 
 <span onclick='loadMove("rnb1kb1r/pp3p1p/1q2pp2/2pP4/3P4/2N5/PP2PPPP/R2QKBNR w KQkq - 0 7", this, "g7f6"); ' class="line0">gf</span> 
 <span onclick='loadMove("rnb1kb1r/pp3p1p/1q2pp2/2pP4/3P4/1QN5/PP2PPPP/R3KBNR b KQkq - 0 7", this, "d1b3"); ' class="line0">7.Фb3</span> 
.</p>
<p>Теория предпочитает
 <span onclick='loadMove("rnb1kb1r/pp3p1p/1q2pp2/2pP4/3P4/2N1P3/PP3PPP/R2QKBNR b KQkq - 0 7", this, "e2e3"); ' class="line1">7.e3!</span> 
Например,
 <span onclick='loadMove("rnb1kb1r/pp3p1p/4pp2/2pP4/3P4/2N1P3/Pq3PPP/R2QKBNR w KQkq - 0 8", this, "b6b2"); ' class="line1">7...Ф:b2</span> 
 <span onclick='loadMove("rnb1kb1r/pp3p1p/4pp2/1BpP4/3P4/2N1P3/Pq3PPP/R2QK1NR b KQkq - 0 8", this, "f1b5"); ' class="line1">8.Сb5+</span> 
 <span onclick='loadMove("rn2kb1r/pp1b1p1p/4pp2/1BpP4/3P4/2N1P3/Pq3PPP/R2QK1NR w KQkq - 0 9", this, "c8d7"); ' class="line1">Сd7</span> 
 <span onclick='loadMove("rn2kb1r/pp1B1p1p/4pp2/2pP4/3P4/2N1P3/Pq3PPP/R2QK1NR b KQkq - 0 9", this, "b5d7"); ' class="line1">9.С:d7+</span> 
 <span onclick='loadMove("r3kb1r/pp1n1p1p/4pp2/2pP4/3P4/2N1P3/Pq3PPP/R2QK1NR w KQkq - 0 10", this, "b8d7"); ' class="line1">К:d7</span> 
 <span onclick='loadMove("r3kb1r/pp1n1p1p/4pp2/2pP4/3P4/2N1P3/Pq2NPPP/R2QK2R b KQkq - 0 10", this, "g1e2"); ' class="line1">10.Кge2</span> 
 <span onclick='loadMove("r3kb1r/pp1n1p1p/4pp2/3P4/3p4/2N1P3/Pq2NPPP/R2QK2R w KQkq - 0 11", this, "c5d4"); ' class="line1">cd</span> 
 <span onclick='loadMove("r3kb1r/pp1n1p1p/4pp2/3P4/3p4/2N1P3/Pq2NPPP/1R1QK2R b Kkq - 0 11", this, "a1b1"); ' class="line1">11.Лb1!</span> 
 <span onclick='loadMove("r3kb1r/pp1n1p1p/4pp2/3P4/3p4/q1N1P3/P3NPPP/1R1QK2R w Kkq - 0 12", this, "b2a3"); ' class="line1">Фa3</span> 
 <span onclick='loadMove("r3kb1r/pp1n1p1p/4pp2/3P4/3P4/q1N5/P3NPPP/1R1QK2R b Kkq - 0 12", this, "e3d4"); ' class="line1">12.ed</span> 
с некоторым преимуществом.</p>
<p>
 <span onclick='loadMove("rnb1kb1r/pp3p1p/1q2pp2/3P4/3p4/1QN5/PP2PPPP/R3KBNR w KQkq - 0 8", this, "c5d4"); ' class="line0">7...cd</span> 
 <span onclick='loadMove("rnb1kb1r/pp3p1p/1Q2pp2/3P4/3p4/2N5/PP2PPPP/R3KBNR b KQkq - 0 8", this, "b3b6"); ' class="line0">8.Ф:b6</span> 
 <span onclick='loadMove("rnb1kb1r/1p3p1p/1p2pp2/3P4/3p4/2N5/PP2PPPP/R3KBNR w KQkq - 0 9", this, "a7b6"); ' class="line0">ab</span> 
 <span onclick='loadMove("rnb1kb1r/1p3p1p/1p2pp2/1N1P4/3p4/8/PP2PPPP/R3KBNR b KQkq - 0 9", this, "c3b5"); ' class="line0">9.Кb5?</span> 
</p>
<p>Вода на мельницу соперника. Верным ходом было
 <span onclick='loadMove("rnb1kb1r/1p3p1p/1p2pp2/3P4/3pN3/8/PP2PPPP/R3KBNR b KQkq - 0 9", this, "c3e4"); ' class="line1">9.Кe4</span> 
.</p>
<div class="chessBoard analysis nobuttons" data-start-fen="rnb1kb1r/1p3p1p/1p2pp2/1N1P4/3p4/8/PP2PPPP/R3KBNR b KQkq - 0 9"></div>
<p>
 <span onclick='loadMove("1nb1kb1r/1p3p1p/1p2pp2/rN1P4/3p4/8/PP2PPPP/R3KBNR w KQk - 0 10", this, "a8a5"); ' class="line0">9...Лa5!</span> 
 <span onclick='loadMove("1nb1kb1r/1p3p1p/1p2pp2/r2P4/3N4/8/PP2PPPP/R3KBNR b KQk - 0 10", this, "b5d4"); ' class="line0">10.К:d4</span> 
 <span onclick='loadMove("1nb1k2r/1p3p1p/1p2pp2/r2P4/1b1N4/8/PP2PPPP/R3KBNR w KQk - 0 11", this, "f8b4"); ' class="line0">Сb4+</span> 
 <span onclick='loadMove("1nb1k2r/1p3p1p/1p2pp2/r2P4/1b1N4/8/PP2PPPP/R2K1BNR b k - 0 11", this, "e1d1"); ' class="line0">11.Крd1</span> 
 <span onclick='loadMove("1nb1k2r/1p3p1p/1p2pp2/3r4/1b1N4/8/PP2PPPP/R2K1BNR w k - 0 12", this, "a5d5"); ' class="line0">Л:d5</span> 
.</p>
<p><b>0-1</b>. На
 <span onclick='loadMove("1nb1k2r/1p3p1p/1p2pp2/3r4/1b1N4/5N2/PP2PPPP/R2K1B1R b k - 0 12", this, "g1f3"); ' class="line1">12.Кf3</span> 
или
 <span onclick='loadMove("1nb1k2r/1p3p1p/1p2pp2/3r4/1b1N4/4P3/PP3PPP/R2K1BNR b k - 0 12", this, "e2e3"); ' class="line1">12.e3</span> 
есть
 <span onclick='loadMove("1nb1k2r/1p3p1p/1p3p2/3rp3/1b1N4/4P3/PP3PPP/R2K1BNR w k - 0 13", this, "e6e5"); ' class="line1">12...e5</span> 
.</p>
</div> <!-- score -->
</div> <!-- section -->

</div> <!-- iBook -->
{% endblock content %}

