{% extends '../../base.htm' %}
{% load static %}
{% block title %}
<title>Сицилианский гамбит B20 | {{book.title}} | {%for author in book.authors.all%} {%if author.first_name%} {{author.first_name}} {%endif%} {%if author.second_name%} {{author.second_name}} {%endif%} {%if forloop.counter == book.authors.all.count%} {{author.last_name}} {%else%} {{author.last_name}}, {%endif%} {%endfor%} | {{book.year}}</title>
{% endblock title %}
{% block content %}

<div class="iBook">

<div class="section">
<div class="chessBoard small floater" data-start-fen="rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w KQkq - 0 1"></div>
<div class="score">
 <span class="line0" onclick='loadMove("rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w KQkq - 0 1", this, ""); '>[...]</span> 
<h2>СИЦИЛИАНСКИЙ гамбит</h2>
<p>
 <span onclick='loadMove("rnbqkbnr/pppppppp/8/8/4P3/8/PPPP1PPP/RNBQKBNR b KQkq e3 0 1", this, "e2e4"); ' class="line0">1.e4</span> 
 <span onclick='loadMove("rnbqkbnr/pp1ppppp/8/2p5/4P3/8/PPPP1PPP/RNBQKBNR w KQkq c6 0 2", this, "c7c5"); ' class="line0">c5</span> 
 <span onclick='loadMove("rnbqkbnr/pp1ppppp/8/2p5/1P2P3/8/P1PP1PPP/RNBQKBNR b KQkq b3 0 2", this, "b2b4"); ' class="line0">2.b4</span> 
.</p>
<div class="chessBoard analysis nobuttons" data-start-fen="rnbqkbnr/pp1ppppp/8/2p5/1P2P3/8/P1PP1PPP/RNBQKBNR b KQkq b3 0 2"></div>
<p>Впервые упоминается в итальянской рукописи 1623 года. Идея гамбита — отвлечь от центра пешку c5:
 <span onclick='loadMove("rnbqkbnr/pp1ppppp/8/8/1p2P3/8/P1PP1PPP/RNBQKBNR w KQkq - 0 3", this, "c5b4"); ' class="line1">2...cb</span> 
 <span onclick='loadMove("rnbqkbnr/pp1ppppp/8/8/1p2P3/P7/2PP1PPP/RNBQKBNR b KQkq - 0 3", this, "a2a3"); ' class="line1">3.a3</span> 
 <span onclick='loadMove("rnbqkbnr/pp1ppppp/8/8/4P3/p7/2PP1PPP/RNBQKBNR w KQkq - 0 4", this, "b4a3"); ' class="line1">ba</span> 
 <span onclick='loadMove("rnbqkbnr/pp1ppppp/8/8/4P3/N7/2PP1PPP/R1BQKBNR b KQkq - 0 4", this, "b1a3"); ' class="line1">4.К:a3</span> 
 <!--span onclick='loadMove("rnbqkbnr/pp1ppppp/8/8/4P3/N7/2PP1PPP/R1BQKBNR w KQkq - 0 5", this, "b1a3"); ' class="line1">z0</span--> 
с последующим
 <span onclick='loadMove("rnbqkbnr/pp1ppppp/8/8/4P3/N7/1BPP1PPP/R2QKBNR b KQkq - 0 5", this, "c1b2"); ' class="line1">5.Сb2</span> 
.
Как показала практика, черным лучше возразить
 <span onclick='loadMove("rnbqkbnr/pp2pppp/8/3p4/1p2P3/P7/2PP1PPP/RNBQKBNR w KQkq d6 0 4", this, "d7d5"); ' class="line2">3...d5</span> 
, получая после
 <span onclick='loadMove("rnbqkbnr/pp2pppp/8/3P4/1p6/P7/2PP1PPP/RNBQKBNR b KQkq - 0 4", this, "e4d5"); ' class="line2">4.ed</span> 
 <span onclick='loadMove("rnb1kbnr/pp2pppp/8/3q4/1p6/P7/2PP1PPP/RNBQKBNR w KQkq - 0 5", this, "d8d5"); ' class="line2">Ф:d5</span> 
 <span onclick='loadMove("rnb1kbnr/pp2pppp/8/3q4/1p6/P4N2/2PP1PPP/RNBQKB1R b KQkq - 0 5", this, "g1f3"); ' class="line2">5.Кf3</span> 
 <span onclick='loadMove("rnb1kbnr/pp3ppp/8/3qp3/1p6/P4N2/2PP1PPP/RNBQKB1R w KQkq e6 0 6", this, "e7e5"); ' class="line2">e5</span> 
 <span onclick='loadMove("rnb1kbnr/pp3ppp/8/3qp3/1P6/5N2/2PP1PPP/RNBQKB1R b KQkq - 0 6", this, "a3b4"); ' class="line2">6.ab</span> 
 <span onclick='loadMove("rnb1k1nr/pp3ppp/8/3qp3/1b6/5N2/2PP1PPP/RNBQKB1R w KQkq - 0 7", this, "f8b4"); ' class="line2">С:b4</span> 
хорошие перспективы.</p>
<p>Поэтому чаще проводят эту же гамбитную идею при ином порядке ходов:
 <span onclick='loadMove("rnbqkbnr/pp1ppppp/8/2p5/4P3/5N2/PPPP1PPP/RNBQKB1R b KQkq - 0 2", this, "g1f3"); ' class="line1">2.Кf3</span> 
 <span onclick='loadMove("rnbqkbnr/pp2pppp/3p4/2p5/4P3/5N2/PPPP1PPP/RNBQKB1R w KQkq - 0 3", this, "d7d6"); ' class="line1">d6</span> 
 <span onclick='loadMove("rnbqkbnr/pp2pppp/3p4/2p5/1P2P3/5N2/P1PP1PPP/RNBQKB1R b KQkq b3 0 3", this, "b2b4"); ' class="line1">3.b4</span> 
.
Далее возможно
 <span onclick='loadMove("rnbqkbnr/pp2pppp/3p4/8/1p2P3/5N2/P1PP1PPP/RNBQKB1R w KQkq - 0 4", this, "c5b4"); ' class="line1">3...cb</span> 
 <span onclick='loadMove("rnbqkbnr/pp2pppp/3p4/8/1p1PP3/5N2/P1P2PPP/RNBQKB1R b KQkq d3 0 4", this, "d2d4"); ' class="line1">4.d4</span> 
 <span onclick='loadMove("rnbqkb1r/pp2pppp/3p1n2/8/1p1PP3/5N2/P1P2PPP/RNBQKB1R w KQkq - 0 5", this, "g8f6"); ' class="line1">Кf6</span> 
 <span onclick='loadMove("rnbqkb1r/pp2pppp/3p1n2/8/1p1PP3/3B1N2/P1P2PPP/RNBQK2R b KQkq - 0 5", this, "f1d3"); ' class="line1">5.Сd3</span> 
 <span onclick='loadMove("rnbqkb1r/pp3ppp/3ppn2/8/1p1PP3/3B1N2/P1P2PPP/RNBQK2R w KQkq - 0 6", this, "e7e6"); ' class="line1">e6</span> 
 <span onclick='loadMove("rnbqkb1r/pp3ppp/3ppn2/8/1p1PP3/3B1N2/P1PN1PPP/R1BQK2R b KQkq - 0 6", this, "b1d2"); ' class="line1">6.Кbd2</span> 
 <span onclick='loadMove("rnbqk2r/pp2bppp/3ppn2/8/1p1PP3/3B1N2/P1PN1PPP/R1BQK2R w KQkq - 0 7", this, "f8e7"); ' class="line1">Сe7</span> 
 <span onclick='loadMove("rnbqk2r/pp2bppp/3ppn2/8/1p1PP3/3B1N2/P1PN1PPP/R1BQ1RK1 b kq - 0 7", this, "e1g1"); ' class="line1">7.0-0</span> 
 <span onclick='loadMove("r1bqk2r/pp2bppp/2nppn2/8/1p1PP3/3B1N2/P1PN1PPP/R1BQ1RK1 w kq - 0 8", this, "b8c6"); ' class="line1">Кc6</span> 
. Белые сохраняют определенные шансы на атаку, однако позиция черных достаточно прочна.</p>
</div> <!-- score -->
</div> <!-- section -->

<div class="section">
<div class="chessBoard small floater" data-start-fen="rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w KQkq - 0 1"></div>
<div class="score">
 <span class="line0" onclick='loadMove("rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w KQkq - 0 1", this, ""); '>[...]</span> 
<p class="capTop diagram"><i>Сицилианский гамбит B20</i><br /><strong>Г. НАГИ – Я.БАЛОГ</strong><br />Будапешт, 1932</p>
<p>
 <span onclick='loadMove("rnbqkbnr/pppppppp/8/8/4P3/8/PPPP1PPP/RNBQKBNR b KQkq e3 0 1", this, "e2e4"); ' class="line0">1.e4</span> 
 <span onclick='loadMove("rnbqkbnr/pp1ppppp/8/2p5/4P3/8/PPPP1PPP/RNBQKBNR w KQkq c6 0 2", this, "c7c5"); ' class="line0">c5</span> 
 <span onclick='loadMove("rnbqkbnr/pp1ppppp/8/2p5/1P2P3/8/P1PP1PPP/RNBQKBNR b KQkq b3 0 2", this, "b2b4"); ' class="line0">2.b4</span> 
 <span onclick='loadMove("rnbqkbnr/pp1ppppp/8/8/1p2P3/8/P1PP1PPP/RNBQKBNR w KQkq - 0 3", this, "c5b4"); ' class="line0">cb</span> 
 <span onclick='loadMove("rnbqkbnr/pp1ppppp/8/8/1p1PP3/8/P1P2PPP/RNBQKBNR b KQkq d3 0 3", this, "d2d4"); ' class="line0">3.d4</span> 
 <span onclick='loadMove("rnbqkbnr/pp1p1ppp/8/4p3/1p1PP3/8/P1P2PPP/RNBQKBNR w KQkq e6 0 4", this, "e7e5"); ' class="line0">e5</span> 
.</p>
<p>Более удобное для черных развитие событий начинается после
 <span onclick='loadMove("rnbqkbnr/pp2pppp/8/3p4/1p1PP3/8/P1P2PPP/RNBQKBNR w KQkq d6 0 4", this, "d7d5"); ' class="line1">3...d5</span> 
.</p>
<p>
 <span onclick='loadMove("rnbqkbnr/pp1p1ppp/8/4P3/1p2P3/8/P1P2PPP/RNBQKBNR b KQkq - 0 4", this, "d4e5"); ' class="line0">4.de</span> 
 <span onclick='loadMove("r1bqkbnr/pp1p1ppp/2n5/4P3/1p2P3/8/P1P2PPP/RNBQKBNR w KQkq - 0 5", this, "b8c6"); ' class="line0">Кc6</span> 
 <span onclick='loadMove("r1bqkbnr/pp1p1ppp/2n5/4P3/1p2P3/5N2/P1P2PPP/RNBQKB1R b KQkq - 0 5", this, "g1f3"); ' class="line0">5.Кf3</span> 
 <span onclick='loadMove("r1bqkb1r/pp1pnppp/2n5/4P3/1p2P3/5N2/P1P2PPP/RNBQKB1R w KQkq - 0 6", this, "g8e7"); ' class="line0">Кge7</span> 
 <span onclick='loadMove("r1bqkb1r/pp1pnppp/2n5/4P3/1p2PB2/5N2/P1P2PPP/RN1QKB1R b KQkq - 0 6", this, "c1f4"); ' class="line0">6.Сf4?!</span> 
</p>
<p>Поддерживало инициативное настроение
 <span onclick='loadMove("r1bqkb1r/pp1pnppp/2n5/4P3/1p2P3/5N2/PBP2PPP/RN1QKB1R b KQkq - 0 6", this, "c1b2"); ' class="line1">6.Сb2</span> 
.</p>
<p>
 <span onclick='loadMove("r1bqkb1r/pp1p1ppp/2n3n1/4P3/1p2PB2/5N2/P1P2PPP/RN1QKB1R w KQkq - 0 7", this, "e7g6"); ' class="line0">6...Кg6</span> 
 <span onclick='loadMove("r1bqkb1r/pp1p1ppp/2n3n1/4P3/1p2P3/5NB1/P1P2PPP/RN1QKB1R b KQkq - 0 7", this, "f4g3"); ' class="line0">7.Сg3</span> 
 <span onclick='loadMove("r1b1kb1r/pp1p1ppp/2n3n1/q3P3/1p2P3/5NB1/P1P2PPP/RN1QKB1R w KQkq - 0 8", this, "d8a5"); ' class="line0">Фa5</span> 
 <span onclick='loadMove("r1b1kb1r/pp1p1ppp/2n3n1/q2QP3/1p2P3/5NB1/P1P2PPP/RN2KB1R b KQkq - 0 8", this, "d1d5"); ' class="line0">8.Фd5?</span> 
</p>
<p>От борьбы до поражения всего полхода —
 <span onclick='loadMove("r1b1kb1r/pp1p1ppp/2n3n1/q3P3/1p2P3/5NB1/P1PN1PPP/R2QKB1R b KQkq - 0 8", this, "b1d2"); ' class="line1">8.Кbd2</span> 
.</p>
<div class="chessBoard analysis nobuttons" data-start-fen="r1b1kb1r/pp1p1ppp/2n3n1/q2QP3/1p2P3/5NB1/P1P2PPP/RN2KB1R b KQkq - 0 8"></div>
<p>
 <span onclick='loadMove("r1b1kb1r/pp1p1ppp/2n3n1/q2QP3/4P3/1p3NB1/P1P2PPP/RN2KB1R w KQkq - 0 9", this, "b4b3"); ' class="line0">8...b3+!!</span> 
 <span onclick='loadMove("r1b1kb1r/pp1p1ppp/2n3n1/Q3P3/4P3/1p3NB1/P1P2PPP/RN2KB1R b KQkq - 0 9", this, "d5a5"); ' class="line0">9.Ф:a5</span> 
.</p>
<p>Упорнее, конечно,
 <span onclick='loadMove("r1b1kb1r/pp1p1ppp/2n3n1/q2QP3/4P3/1p3NB1/P1PN1PPP/R3KB1R b KQkq - 0 9", this, "b1d2"); ' class="line1">9.Кbd2</span> 
, что, впрочем, не спасало партию -
 <span onclick='loadMove("r1b1kb1r/pp1p1ppp/2n3n1/3QP3/4P3/1pq2NB1/P1PN1PPP/R3KB1R w KQkq - 0 10", this, "a5c3"); ' class="line1">9...Фc3</span> 
.</p>
<p>
 <span onclick='loadMove("r1b1kb1r/pp1p1ppp/2n3n1/Q3P3/4P3/5NB1/PpP2PPP/RN2KB1R w KQkq - 0 10", this, "b3b2"); ' class="line0">9...b2!</span> 
 <span onclick='loadMove("r1b1kb1r/pp1p1ppp/2n3n1/4P3/4P3/2Q2NB1/PpP2PPP/RN2KB1R b KQkq - 0 10", this, "a5c3"); ' class="line0">10.Фc3</span> 
 <span onclick='loadMove("r1b1k2r/pp1p1ppp/2n3n1/4P3/1b2P3/2Q2NB1/PpP2PPP/RN2KB1R w KQkq - 0 11", this, "f8b4"); ' class="line0">Сb4</span> 
 <span onclick='loadMove("r1b1k2r/pp1p1ppp/2n3n1/4P3/1Q2P3/5NB1/PpP2PPP/RN2KB1R b KQkq - 0 11", this, "c3b4"); ' class="line0">11.Ф:b4</span> 
 <span onclick='loadMove("r1b1k2r/pp1p1ppp/6n1/4P3/1n2P3/5NB1/PpP2PPP/RN2KB1R w KQkq - 0 12", this, "c6b4"); ' class="line0">К:b4</span> 
.</p>
<p><b>0-1</b>.</p>
</div> <!-- score -->
</div> <!-- section -->

</div> <!-- iBook -->
{% endblock content %}

