{% extends '../../base.htm' %}
{% load static %}
{% block title %}
<title>Гамбит Файаровича А51 | {{book.title}} | {%for author in book.authors.all%} {%if author.first_name%} {{author.first_name}} {%endif%} {%if author.second_name%} {{author.second_name}} {%endif%} {%if forloop.counter == book.authors.all.count%} {{author.last_name}} {%else%} {{author.last_name}}, {%endif%} {%endfor%} | {{book.year}}</title>
{% endblock title %}
{% block content %}

<div class="iBook">

<div class="section">
<div class="chessBoard small floater" data-start-fen="rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w KQkq - 0 1"></div>
<div class="score">
 <span class="line0" onclick='loadMove("rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w KQkq - 0 1", this, ""); '>[...]</span> 
<h2>Гамбит ФАЙАРОВИЧА</h2>
<p>
 <span onclick='loadMove("rnbqkbnr/pppppppp/8/8/3P4/8/PPP1PPPP/RNBQKBNR b KQkq d3 0 1", this, "d2d4"); ' class="line0">1.d4</span> 
 <span onclick='loadMove("rnbqkb1r/pppppppp/5n2/8/3P4/8/PPP1PPPP/RNBQKBNR w KQkq - 0 2", this, "g8f6"); ' class="line0">Кf6</span> 
 <span onclick='loadMove("rnbqkb1r/pppppppp/5n2/8/2PP4/8/PP2PPPP/RNBQKBNR b KQkq c3 0 2", this, "c2c4"); ' class="line0">2.c4</span> 
 <span onclick='loadMove("rnbqkb1r/pppp1ppp/5n2/4p3/2PP4/8/PP2PPPP/RNBQKBNR w KQkq e6 0 3", this, "e7e5"); ' class="line0">e5</span> 
 <span onclick='loadMove("rnbqkb1r/pppp1ppp/5n2/4P3/2P5/8/PP2PPPP/RNBQKBNR b KQkq - 0 3", this, "d4e5"); ' class="line0">3.de</span> 
.</p>
<p>B 1928 году немецкий шахматист С.Файярович из Лейпцига вместо привычного здесь
 <span onclick='loadMove("rnbqkb1r/pppp1ppp/8/4P3/2P3n1/8/PP2PPPP/RNBQKBNR w KQkq - 0 4", this, "f6g4"); ' class="line1">3...Кg4</span> 
(<i>будапештский гамбит</i>) предложил...</p>
<p>
 <span onclick='loadMove("rnbqkb1r/pppp1ppp/8/4P3/2P1n3/8/PP2PPPP/RNBQKBNR w KQkq - 0 4", this, "f6e4"); ' class="line0">3...Кe4</span> 
.</p>
<div class="chessBoard analysis nobuttons" data-start-fen="rnbqkb1r/pppp1ppp/8/4P3/2P1n3/8/PP2PPPP/RNBQKBNR w KQkq - 0 4"></div>
<p>Атака выглядит стратегически менее обоснованной, но содержит немало ловушек, главная из которых вот какая.</p>
</div> <!-- score -->
</div> <!-- section -->

<div class="section">
<div class="chessBoard small floater" data-start-fen="rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w KQkq - 0 1"></div>
<div class="score">
 <span class="line0" onclick='loadMove("rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w KQkq - 0 1", this, ""); '>[...]</span> 
<p class="capTop diagram"><i>Гамбит Файаровича А51</i><br /><strong>А.ВАРРЕН – Я.ЗЕЛЛМАН</strong><br />Берлин, 1930</p>
<p>
 <span onclick='loadMove("rnbqkbnr/pppppppp/8/8/3P4/8/PPP1PPPP/RNBQKBNR b KQkq d3 0 1", this, "d2d4"); ' class="line0">1.d4</span> 
 <span onclick='loadMove("rnbqkb1r/pppppppp/5n2/8/3P4/8/PPP1PPPP/RNBQKBNR w KQkq - 0 2", this, "g8f6"); ' class="line0">Кf6</span> 
 <span onclick='loadMove("rnbqkb1r/pppppppp/5n2/8/2PP4/8/PP2PPPP/RNBQKBNR b KQkq c3 0 2", this, "c2c4"); ' class="line0">2.c4</span> 
 <span onclick='loadMove("rnbqkb1r/pppp1ppp/5n2/4p3/2PP4/8/PP2PPPP/RNBQKBNR w KQkq e6 0 3", this, "e7e5"); ' class="line0">e5</span> 
 <span onclick='loadMove("rnbqkb1r/pppp1ppp/5n2/4P3/2P5/8/PP2PPPP/RNBQKBNR b KQkq - 0 3", this, "d4e5"); ' class="line0">3.de</span> 
 <span onclick='loadMove("rnbqkb1r/pppp1ppp/8/4P3/2P1n3/8/PP2PPPP/RNBQKBNR w KQkq - 0 4", this, "f6e4"); ' class="line0">Кe4</span> 
 <span onclick='loadMove("rnbqkb1r/pppp1ppp/8/4P3/2P1n3/P7/1P2PPPP/RNBQKBNR b KQkq - 0 4", this, "a2a3"); ' class="line0">4.a3</span> 
 <span onclick='loadMove("rnbqkb1r/ppp2ppp/3p4/4P3/2P1n3/P7/1P2PPPP/RNBQKBNR w KQkq - 0 5", this, "d7d6"); ' class="line0">d6</span> 
 <span onclick='loadMove("rnbqkb1r/ppp2ppp/3P4/8/2P1n3/P7/1P2PPPP/RNBQKBNR b KQkq - 0 5", this, "e5d6"); ' class="line0">5.ed</span> 
.</p>
<p>Не обязательное взятие. Сохраняло дебютную инициативу
 <span onclick='loadMove("rnbqkb1r/ppp2ppp/3p4/4P3/2P1n3/P4N2/1P2PPPP/RNBQKB1R b KQkq - 0 5", this, "g1f3"); ' class="line1">5.Кf3</span> 
или
 <span onclick='loadMove("rnbqkb1r/ppp2ppp/3p4/4P3/2P1nB2/P7/1P2PPPP/RN1QKBNR b KQkq - 0 5", this, "c1f4"); ' class="line1">5.Сf4</span> 
.</p>
<p>
 <span onclick='loadMove("rnbqk2r/ppp2ppp/3b4/8/2P1n3/P7/1P2PPPP/RNBQKBNR w KQkq - 0 6", this, "f8d6"); ' class="line0">5...С:d6</span> 
 <span onclick='loadMove("rnbqk2r/ppp2ppp/3b4/8/2P1n3/P5P1/1P2PP1P/RNBQKBNR b KQkq - 0 6", this, "g2g3"); ' class="line0">6.g3?</span> 
</p>
<div class="chessBoard analysis nobuttons" data-start-fen="rnbqk2r/ppp2ppp/3b4/8/2P1n3/P5P1/1P2PP1P/RNBQKBNR b KQkq - 0 6"></div>
<p>Самая популярная в этом гамбите ловушка. Чуть приятнее дела белых после
 <span onclick='loadMove("rnbqk2r/ppp2ppp/3b4/8/2P1n3/P7/1P1NPPPP/R1BQKBNR b KQkq - 0 6", this, "b1d2"); ' class="line1">6.Кbd2</span> 
.</p>
<p>
 <span onclick='loadMove("rnbqk2r/ppp2ppp/3b4/8/2P5/P5P1/1P2Pn1P/RNBQKBNR w KQkq - 0 7", this, "e4f2"); ' class="line0">6...К:f2!</span> 
 <span onclick='loadMove("rnbqk2r/ppp2ppp/3b4/8/2P5/P5P1/1P2PK1P/RNBQ1BNR b kq - 0 7", this, "e1f2"); ' class="line0">7.Кр:f2</span> 
 <span onclick='loadMove("rnbqk2r/ppp2ppp/8/8/2P5/P5b1/1P2PK1P/RNBQ1BNR w kq - 0 8", this, "d6g3"); ' class="line0">С:g3+</span> 
.</p>
<p><b>0-1</b>. На эту тему существуют еще такие партии: <strong>П.Николеану – Г.Георгеску</strong> (Бухарест 1960), <strong>Д.Сабиан – Ю.Сабо</strong> (Будапешт 1985), <strong>Т.Маринелли – С.Османбегович</strong> (Канны 1995), <strong>Й.Грюнвальд – Х.Кратошвил</strong> (Берлин 1997). Без сомнения, этот список можно дополнить.</p>
</div> <!-- score -->
</div> <!-- section -->

</div> <!-- iBook -->
{% endblock content %}

