{% extends '../../base.htm' %}
{% load static %}
{% block title %}
<title>ШОТЛАНДСКАЯ ПАРТИЯ | Современные гамбитные идеи | {{book.title}} | {%for author in book.authors.all%} {%if author.first_name%} {{author.first_name}} {%endif%} {%if author.second_name%} {{author.second_name}} {%endif%} {%if forloop.counter == book.authors.all.count%} {{author.last_name}} {%else%} {{author.last_name}}, {%endif%} {%endfor%} | {{book.year}}</title>
{% endblock title %}
{% block content %}

<div class="iBook">

<div class="section">
<div class="chessBoard small floater" data-start-fen="rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w KQkq - 0 1"></div>
<div class="score">
 <span class="line0" onclick='loadMove("rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w KQkq - 0 1", this, ""); '>[...]</span> 
<h1>ШОТЛАНДСКАЯ ПАРТИЯ</h1>
<p>Каждый шахматный дебют имеет свою судьбу, свою историю. Здесь все, как в человеческой жизни, — взлеты, падения, откровения, жуткие непостижимые ошибки, заблуждения и проблески гениальности. Да и чему удивляться, до последнего времени в шахматы играли только люди. Хотя, глядя на игру современных компьютерных программ, можно прийти к выводу, что природа шахмат заставляет даже невозмутимых металлических друзей совершать непростительные глупости.</p>
<p>Итак, шотландская партия. Отметим славное начало — принципиальная победа в 1824 году шахматистов Эдинбурга над коллегами из Лондона в партии, игранной по переписке. Затем за «шотландкой» закрепилась репутация пресноватого дебюта, где борьба исчезает, не успев начаться. Так было до 1990 года, точнее, до матча Каспаров-Карпов. Матч проходил в двух городах: Нью-Йорке и
<!--p>136</p>
<p>Часть вторая</p-->
французском Лионе и потому состоял из двух частей с двухнедельным перерывом в середине. В Нью-Йорке Анатолий Карпов продемонстрировал блестящую дебютную подготовку в испанской партии при игре черными фигурами, и Гарри Каспаров принимает неожиданное решение. Вместе с тренерами он вместо желанного отдыха в рекордно короткие сроки пишет заново всю теорию шотландской партии. Спокойное старинное начало на глазах уважаемой шахматной публики превращается в острейший романтический дебют. Прологом к новой счастливой судьбе дебюта стал следующий шедевр.</p>
<!--div class="diagram"-->
<!--img src="images/2-razuv-gambit-1.png" style="width:123pt;height:126pt;"/-->
<!--/div-->
</div> <!-- score -->
</div> <!-- section -->

<div class="section">
<div class="chessBoard small floater" data-start-fen="rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w KQkq - 0 1"></div>
<div class="score">
 <span class="line0" onclick='loadMove("rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w KQkq - 0 1", this, ""); '>[...]</span> 
<p class="capTop diagram"><i>Шотландская партия C45</i><br /><strong>Г. КАСПАРОВ – А. КАРПОВ</strong><br />Лион 1990, 14-я партия матча</p>
<p>
 <span onclick='loadMove("rnbqkbnr/pppppppp/8/8/4P3/8/PPPP1PPP/RNBQKBNR b KQkq e3 0 1", this, "e2e4"); ' class="line0">1.e4</span> 
 <span onclick='loadMove("rnbqkbnr/pppp1ppp/8/4p3/4P3/8/PPPP1PPP/RNBQKBNR w KQkq e6 0 2", this, "e7e5"); ' class="line0">e5</span> 
 <span onclick='loadMove("rnbqkbnr/pppp1ppp/8/4p3/4P3/5N2/PPPP1PPP/RNBQKB1R b KQkq - 0 2", this, "g1f3"); ' class="line0">2.Кf3</span> 
 <span onclick='loadMove("r1bqkbnr/pppp1ppp/2n5/4p3/4P3/5N2/PPPP1PPP/RNBQKB1R w KQkq - 0 3", this, "b8c6"); ' class="line0">Кc6</span> 
 <span onclick='loadMove("r1bqkbnr/pppp1ppp/2n5/4p3/3PP3/5N2/PPP2PPP/RNBQKB1R b KQkq d3 0 3", this, "d2d4"); ' class="line0">3.d4</span> 
 <span onclick='loadMove("r1bqkbnr/pppp1ppp/2n5/8/3pP3/5N2/PPP2PPP/RNBQKB1R w KQkq - 0 4", this, "e5d4"); ' class="line0">ed</span> 
 <span onclick='loadMove("r1bqkbnr/pppp1ppp/2n5/8/3NP3/8/PPP2PPP/RNBQKB1R b KQkq - 0 4", this, "f3d4"); ' class="line0">4.К:d4</span> 
 <span onclick='loadMove("r1bqkb1r/pppp1ppp/2n2n2/8/3NP3/8/PPP2PPP/RNBQKB1R w KQkq - 0 5", this, "g8f6"); ' class="line0">Кf6</span> 
 <span onclick='loadMove("r1bqkb1r/pppp1ppp/2N2n2/8/4P3/8/PPP2PPP/RNBQKB1R b KQkq - 0 5", this, "d4c6"); ' class="line0">5.К:c6</span> 
 <span onclick='loadMove("r1bqkb1r/p1pp1ppp/2p2n2/8/4P3/8/PPP2PPP/RNBQKB1R w KQkq - 0 6", this, "b7c6"); ' class="line0">bc</span> 
 <span onclick='loadMove("r1bqkb1r/p1pp1ppp/2p2n2/4P3/8/8/PPP2PPP/RNBQKB1R b KQkq - 0 6", this, "e4e5"); ' class="line0">6.e5</span> 
 <span onclick='loadMove("r1b1kb1r/p1ppqppp/2p2n2/4P3/8/8/PPP2PPP/RNBQKB1R w KQkq - 0 7", this, "d8e7"); ' class="line0">Фe7</span> 
 <span onclick='loadMove("r1b1kb1r/p1ppqppp/2p2n2/4P3/8/8/PPP1QPPP/RNB1KB1R b KQkq - 0 7", this, "d1e2"); ' class="line0">7.Фe2</span> 
 <span onclick='loadMove("r1b1kb1r/p1ppqppp/2p5/3nP3/8/8/PPP1QPPP/RNB1KB1R w KQkq - 0 8", this, "f6d5"); ' class="line0">Кd5</span> 
 <span onclick='loadMove("r1b1kb1r/p1ppqppp/2p5/3nP3/2P5/8/PP2QPPP/RNB1KB1R b KQkq c3 0 8", this, "c2c4"); ' class="line0">8.c4</span> 
 <span onclick='loadMove("r3kb1r/p1ppqppp/b1p5/3nP3/2P5/8/PP2QPPP/RNB1KB1R w KQkq - 0 9", this, "c8a6"); ' class="line0">Сa6</span> 
 <span onclick='loadMove("r3kb1r/p1ppqppp/b1p5/3nP3/2P5/1P6/P3QPPP/RNB1KB1R b KQkq - 0 9", this, "b2b3"); ' class="line0">9.b3</span> 
 <span onclick='loadMove("2kr1b1r/p1ppqppp/b1p5/3nP3/2P5/1P6/P3QPPP/RNB1KB1R w KQ - 0 10", this, "e8c8"); ' class="line0">0-0-0</span> 
 <span onclick='loadMove("2kr1b1r/p1ppqppp/b1p5/3nP3/2P5/1P4P1/P3QP1P/RNB1KB1R b KQ - 0 10", this, "g2g3"); ' class="line0">10.g3!</span> 
</p>
<div class="chessBoard analysis nobuttons" data-start-fen="2kr1b1r/p1ppqppp/b1p5/3nP3/2P5/1P4P1/P3QP1P/RNB1KB1R b KQ - 0 10"></div>
<p>Это была первая новинка Гарри Каспарова в шотландской теме. Белые жертвуют центральную пешку, но получают взамен богатую фигурную игру, чему во многом способствует испорченная пешечная «прическа» вокруг черного короля.</p>
<p>
 <span onclick='loadMove("2k1rb1r/p1ppqppp/b1p5/3nP3/2P5/1P4P1/P3QP1P/RNB1KB1R w KQ - 0 11", this, "d8e8"); ' class="line0">10...Лe8</span> 
 <span onclick='loadMove("2k1rb1r/p1ppqppp/b1p5/3nP3/2P5/1P4P1/PB2QP1P/RN2KB1R b KQ - 0 11", this, "c1b2"); ' class="line0">11.Сb2</span> 
 <span onclick='loadMove("2k1rb1r/p1ppq1pp/b1p2p2/3nP3/2P5/1P4P1/PB2QP1P/RN2KB1R w KQ - 0 12", this, "f7f6"); ' class="line0">f6</span> 
 <span onclick='loadMove("2k1rb1r/p1ppq1pp/b1p2p2/3nP3/2P5/1P4P1/PB2QPBP/RN2K2R b KQ - 0 12", this, "f1g2"); ' class="line0">12.Сg2</span> 
 <span onclick='loadMove("2k1rb1r/p1ppq1pp/b1p5/3np3/2P5/1P4P1/PB2QPBP/RN2K2R w KQ - 0 13", this, "f6e5"); ' class="line0">fe</span> 
 <span onclick='loadMove("2k1rb1r/p1ppq1pp/b1p5/3np3/2P5/1P4P1/PB2QPBP/RN3RK1 b - - 0 13", this, "e1g1"); ' class="line0">13.0-0</span> 
.</p>
<p>Возможно и более спокойное
 <span onclick='loadMove("2k1rb1r/p1ppq1pp/b1p5/3np3/2P5/1P4P1/PB1NQPBP/R3K2R b KQ - 0 13", this, "b1d2"); ' class="line1">13.Кd2</span> 
 <span onclick='loadMove("2k1rb1r/p1ppq2p/b1p3p1/3np3/2P5/1P4P1/PB1NQPBP/R3K2R w KQ - 0 14", this, "g7g6"); ' class="line1">g6</span> 
 <span onclick='loadMove("2k1rb1r/p1ppq2p/b1p3p1/3np3/2P5/1P4P1/PB1NQPBP/2KR3R b - - 0 14", this, "e1c1"); ' class="line1">14.0-0-0</span> 
 <span onclick='loadMove("2k1r2r/p1ppq1bp/b1p3p1/3np3/2P5/1P4P1/PB1NQPBP/2KR3R w - - 0 15", this, "f8g7"); ' class="line1">Сg7</span> 
 <span onclick='loadMove("2k1r2r/p1ppq1bp/b1p3p1/3np3/2P1N3/1P4P1/PB2QPBP/2KR3R b - - 0 15", this, "d2e4"); ' class="line1">15.Кe4</span> 
.</p>
<p>
 <span onclick='loadMove("2k1rb1r/p1ppq1p1/b1p5/3np2p/2P5/1P4P1/PB2QPBP/RN3RK1 w - h6 0 14", this, "h7h5"); ' class="line0">13...h5!</span> 
</p>
<div class="chessBoard analysis nobuttons" data-start-fen="2k1rb1r/p1ppq1p1/b1p5/3np2p/2P5/1P4P1/PB2QPBP/RN3RK1 w - h6 0 14"></div>
<!--p>Современные гамбитные идеи</p>
<p>137</p-->
<p>
 <span onclick='loadMove("2k1rb1r/p1ppq1p1/b1p5/3np2p/2P5/1P4P1/PB1Q1PBP/RN3RK1 b - - 0 14", this, "e2d2"); ' class="line0">14.Фd2!</span> 
</p>
<p>Начало красивого маневра, дающего белым сильную атаку на короля.</p>
<p>
 <span onclick='loadMove("2k1rb1r/p1ppq1p1/b1p2n2/4p2p/2P5/1P4P1/PB1Q1PBP/RN3RK1 w - - 0 15", this, "d5f6"); ' class="line0">14...Кf6</span> 
 <span onclick='loadMove("2k1rb1r/p1ppq1p1/b1p2n2/Q3p2p/2P5/1P4P1/PB3PBP/RN3RK1 b - - 0 15", this, "d2a5"); ' class="line0">15.Фa5</span> 
 <span onclick='loadMove("2k1rb1r/pbppq1p1/2p2n2/Q3p2p/2P5/1P4P1/PB3PBP/RN3RK1 w - - 0 16", this, "a6b7"); ' class="line0">Сb7</span> 
.</p>
<p>На
 <span onclick='loadMove("4rb1r/pkppq1p1/b1p2n2/Q3p2p/2P5/1P4P1/PB3PBP/RN3RK1 w - - 0 16", this, "c8b7"); ' class="line1">15...Крb7</span> 
белые располагали хорошими атакующими возможностями.
 <span onclick='loadMove("4rb1r/pkppq1p1/b1p2n2/Q3p2p/2P5/BP4P1/P4PBP/RN3RK1 b - - 0 16", this, "b2a3"); ' class="line1">16.Сa3</span> 
 <span onclick='loadMove("4rb1r/pkpp1qp1/b1p2n2/Q3p2p/2P5/BP4P1/P4PBP/RN3RK1 w - - 0 17", this, "e7f7"); ' class="line1">Фf7</span> 
 <span onclick='loadMove("4rB1r/pkpp1qp1/b1p2n2/Q3p2p/2P5/1P4P1/P4PBP/RN3RK1 b - - 0 17", this, "a3f8"); ' class="line1">17.С:f8</span> 
 <span onclick='loadMove("4rr2/pkpp1qp1/b1p2n2/Q3p2p/2P5/1P4P1/P4PBP/RN3RK1 w - - 0 18", this, "h8f8"); ' class="line1">Лh:f8</span> 
 <span onclick='loadMove("4rr2/pkpp1qp1/b1p2n2/Q3p2p/2P5/1PN3P1/P4PBP/R4RK1 b - - 0 18", this, "b1c3"); ' class="line1">18.Кc3</span> 
 <span onclick='loadMove("4rr2/pkpp1qp1/b1p2n2/Q6p/2P1p3/1PN3P1/P4PBP/R4RK1 w - - 0 19", this, "e5e4"); ' class="line1">e4</span> 
 <span onclick='loadMove("4rr2/pkpp1qp1/b1p2n2/Q6p/2P1p3/1PN3P1/P4PBP/4RRK1 b - - 0 19", this, "a1e1"); ' class="line1">19.Лae1</span> 
. У черных трудности. К примеру, плохо
 <span onclick='loadMove("4rr2/pkp2qp1/b1p2n2/Q2p3p/2P1p3/1PN3P1/P4PBP/4RRK1 w - d6 0 20", this, "d7d5"); ' class="line1">19...d5</span> 
из-за
 <span onclick='loadMove("4rr2/pkp2qp1/b1p2n2/Q2p3p/N1P1p3/1P4P1/P4PBP/4RRK1 b - - 0 20", this, "c3a4"); ' class="line1">20.Кa4</span> 
 <span onclick='loadMove("4rr2/pkpn1qp1/b1p5/Q2p3p/N1P1p3/1P4P1/P4PBP/4RRK1 w - - 0 21", this, "f6d7"); ' class="line1">Кd7</span> 
 <span onclick='loadMove("4rr2/pkpn1qp1/b1p5/Q2p3p/N1P1p3/1P4PB/P4P1P/4RRK1 b - - 0 21", this, "g2h3"); ' class="line1">21.Сh3</span> 
, и черным дорог хороший совет.</p>
<p>
 <span onclick='loadMove("2k1rb1r/pbppq1p1/2p2n2/Q3p2p/2P5/BP4P1/P4PBP/RN3RK1 b - - 0 16", this, "b2a3"); ' class="line0">16.Сa3</span> 
.</p>
<p>Важный промежуточный ход. В случае прямолинейного
 <span onclick='loadMove("2k1rb1r/Qbppq1p1/2p2n2/4p2p/2P5/1P4P1/PB3PBP/RN3RK1 b - - 0 16", this, "a5a7"); ' class="line1">16.Ф:a7</span> 
черные получали отличную игру после
 <span onclick='loadMove("2k1rb1r/Qbpp2p1/2p2n2/2q1p2p/2P5/1P4P1/PB3PBP/RN3RK1 w - - 0 17", this, "e7c5"); ' class="line1">16...Фc5</span> 
 <span onclick='loadMove("2k1rb1r/1bpp2p1/2p2n2/2Q1p2p/2P5/1P4P1/PB3PBP/RN3RK1 b - - 0 17", this, "a7c5"); ' class="line1">17.Ф:c5</span> 
 <span onclick='loadMove("2k1r2r/1bpp2p1/2p2n2/2b1p2p/2P5/1P4P1/PB3PBP/RN3RK1 w - - 0 18", this, "f8c5"); ' class="line1">С:c5</span> 
 <span onclick='loadMove("2k1r2r/1bpp2p1/2p2n2/2b1p2p/2P5/1PN3P1/PB3PBP/R4RK1 b - - 0 18", this, "b1c3"); ' class="line1">18.Кc3</span> 
 <span onclick='loadMove("2k1r2r/1bpp2p1/2p2n2/2b1p3/2P4p/1PN3P1/PB3PBP/R4RK1 w - - 0 19", this, "h5h4"); ' class="line1">h4!</span> 
</p>
<p>
 <span onclick='loadMove("2k1rb1r/pbpp2p1/2p1qn2/Q3p2p/2P5/BP4P1/P4PBP/RN3RK1 w - - 0 17", this, "e7e6"); ' class="line0">16...Фe6</span> 
 <span onclick='loadMove("2k1rB1r/pbpp2p1/2p1qn2/Q3p2p/2P5/1P4P1/P4PBP/RN3RK1 b - - 0 17", this, "a3f8"); ' class="line0">17.С:f8</span> 
 <span onclick='loadMove("2k1rr2/pbpp2p1/2p1qn2/Q3p2p/2P5/1P4P1/P4PBP/RN3RK1 w - - 0 18", this, "h8f8"); ' class="line0">Лh:f8</span> 
 <span onclick='loadMove("2k1rr2/Qbpp2p1/2p1qn2/4p2p/2P5/1P4P1/P4PBP/RN3RK1 b - - 0 18", this, "a5a7"); ' class="line0">18.Ф:a7</span> 
 <span onclick='loadMove("2k1rr2/Qbpp2p1/2p2n2/4p2p/2P3q1/1P4P1/P4PBP/RN3RK1 w - - 0 19", this, "e6g4"); ' class="line0">Фg4</span> 
 <span onclick='loadMove("2k1rr2/Qbpp2p1/2p2n2/4p2p/2P3q1/NP4P1/P4PBP/R4RK1 b - - 0 19", this, "b1a3"); ' class="line0">19.Кa3!</span> 
 <span onclick='loadMove("2k1rr2/Qbpp2p1/2p2n2/4p3/2P3qp/NP4P1/P4PBP/R4RK1 w - - 0 20", this, "h5h4"); ' class="line0">h4</span> 
 <span onclick='loadMove("2k1rr2/Qbpp2p1/2p2n2/4p3/2P3qp/1P4P1/P1N2PBP/R4RK1 b - - 0 20", this, "a3c2"); ' class="line0">20.Кc2</span> 
 <span onclick='loadMove("2k1rr2/Qbpp2p1/2p2n2/4p3/2P3q1/1P4Pp/P1N2PBP/R4RK1 w - - 0 21", this, "h4h3"); ' class="line0">h3</span> 
 <span onclick='loadMove("2k1rr2/Qbpp2p1/2p2n2/4p3/2P3q1/1P4Pp/P1N2P1P/R4RKB b - - 0 21", this, "g2h1"); ' class="line0">21.Сh1</span> 
 <span onclick='loadMove("2k1rr2/Qbpp2p1/2p5/4p3/2P1n1q1/1P4Pp/P1N2P1P/R4RKB w - - 0 22", this, "f6e4"); ' class="line0">Кe4</span> 
 <span onclick='loadMove("2k1rr2/Qbpp2p1/2p5/4p3/P1P1n1q1/1P4Pp/2N2P1P/R4RKB b - a3 0 22", this, "a2a4"); ' class="line0">22.a4!</span> 
</p>
<p>Обе стороны с большой фантазией ведут игру на встречных курсах. Только что белые обошли красивую ловушку:
 <span onclick='loadMove("2k1rr2/Qbpp2p1/2p5/4p3/2P1n1q1/1P3PPp/P1N4P/R4RKB b - - 0 22", this, "f2f3"); ' class="line1">22.f3</span> 
 <span onclick='loadMove("2k1rr2/Qbpp2p1/2p5/4p3/2P3q1/1P3Pnp/P1N4P/R4RKB w - - 0 23", this, "e4g3"); ' class="line1">К:g3!</span> 
 <span onclick='loadMove("2k1rr2/Qbpp2p1/2p5/4p3/2P3P1/1P4np/P1N4P/R4RKB b - - 0 23", this, "f3g4"); ' class="line1">23.fg</span> 
 <span onclick='loadMove("2k1rr2/Qbpp2p1/2p5/4p3/2P3P1/1P5p/P1N1n2P/R4RKB w - - 0 24", this, "g3e2"); ' class="line1">Кe2X</span> 
. Теперь они, в свою очередь, угрожают марш-броском ладейной пешки до a6.</p>
<p>
 <span onclick='loadMove("2k1rr2/Qbpp2p1/2p5/4p3/P1P3q1/1Pn3Pp/2N2P1P/R4RKB w - - 0 23", this, "e4c3"); ' class="line0">22...Кc3</span> 
 <span onclick='loadMove("2k1rr2/Qbpp2p1/2p5/4p3/P1P3q1/1Pn3Pp/2N2P1P/4RRKB b - - 0 23", this, "a1e1"); ' class="line0">23.Лae1</span> 
.</p>
<p>Неточность. Всегда трудно угадать, какую ладью нужно подводить к центру. К преимуществу белых вело
 <span onclick='loadMove("2k1rr2/Qbpp2p1/2p5/4p3/P1P3q1/1Pn3Pp/2N2P1P/R3R1KB b - - 0 23", this, "f1e1"); ' class="line1">23.Лfe1</span> 
. Секундант Каспарова на этом матче гроссмейстер Зураб Азмайпарашвили приводит такой вариант:
 <span onclick='loadMove("2k1rr2/Qbpp2p1/2p5/4p3/P1P3q1/1Pn3Pp/2N2P1P/R3R1KB b - - 0 23", this, "f1e1"); ' class="line1">23.Лfe1</span> 
 <span onclick='loadMove("2k1rr2/Qbpp2p1/2p5/4p3/P1P3q1/1P4Pp/2N1nP1P/R3R1KB w - - 0 24", this, "c3e2"); ' class="line1">Кe2+</span> 
 <span onclick='loadMove("2k1rr2/Qbpp2p1/2p5/4p3/P1P3q1/1P4Pp/2N1nP1P/R3RK1B b - - 0 24", this, "g1f1"); ' class="line1">24.Крf1</span> 
 <span onclick='loadMove("2k1rr2/Qbpp2p1/2p5/4p3/P1Pn2q1/1P4Pp/2N2P1P/R3RK1B w - - 0 25", this, "e2d4"); ' class="line1">Кd4</span> 
 <span onclick='loadMove("2k1rr2/Qbpp2p1/2p5/4p3/P1PN2q1/1P4Pp/5P1P/R3RK1B b - - 0 25", this, "c2d4"); ' class="line1">25.К:d4</span> 
 <span onclick='loadMove("2k1rr2/Qbpp2p1/2p5/4p3/P1Pq4/1P4Pp/5P1P/R3RK1B w - - 0 26", this, "g4d4"); ' class="line1">Ф:d4</span> 
 <span onclick='loadMove("2k1rr2/1bpp2p1/2p5/4p3/P1PQ4/1P4Pp/5P1P/R3RK1B b - - 0 26", this, "a7d4"); ' class="line1">26.Ф:d4</span> 
 <span onclick='loadMove("2k1rr2/1bpp2p1/2p5/8/P1Pp4/1P4Pp/5P1P/R3RK1B w - - 0 27", this, "e5d4"); ' class="line1">ed</span> 
 <span onclick='loadMove("2k1Rr2/1bpp2p1/2p5/8/P1Pp4/1P4Pp/5P1P/R4K1B b - - 0 27", this, "e1e8"); ' class="line1">27.Л:e8+</span> 
 <span onclick='loadMove("2k1r3/1bpp2p1/2p5/8/P1Pp4/1P4Pp/5P1P/R4K1B w - - 0 28", this, "f8e8"); ' class="line1">Л:e8</span> 
 <span onclick='loadMove("2k1r3/1bpp2p1/2p5/8/P1Pp4/1P4Pp/5P1P/4RK1B b - - 0 28", this, "a1e1"); ' class="line1">28.Лe1</span> 
 <span onclick='loadMove("2k2r2/1bpp2p1/2p5/8/P1Pp4/1P4Pp/5P1P/4RK1B w - - 0 29", this, "e8f8"); ' class="line1">Лf8</span> 
 <span onclick='loadMove("2k2r2/1bpp2p1/2p5/8/P1Pp1P2/1P4Pp/7P/4RK1B b - f3 0 29", this, "f2f4"); ' class="line1">29.f4</span> 
 <span onclick='loadMove("2k2r2/1bpp4/2p5/6p1/P1Pp1P2/1P4Pp/7P/4RK1B w - g6 0 30", this, "g7g5"); ' class="line1">g5</span> 
 <span onclick='loadMove("2k2r2/1bpp4/2p5/6p1/P1Pp1P2/1P4Pp/5K1P/4R2B b - - 0 30", this, "f1f2"); ' class="line1">30.Крf2</span> 
 <span onclick='loadMove("2k2r2/1bpp4/2p5/8/P1Pp1p2/1P4Pp/5K1P/4R2B w - - 0 31", this, "g5f4"); ' class="line1">gf</span> 
 <span onclick='loadMove("2k2r2/1bpp4/2p5/8/P1Pp1pP1/1P5p/5K1P/4R2B b - - 0 31", this, "g3g4"); ' class="line1">31.g4</span> 
 <span onclick='loadMove("2k2r2/1bpp4/2p5/8/P1Pp2P1/1P3p1p/5K1P/4R2B w - - 0 32", this, "f4f3"); ' class="line1">f3</span> 
 <span onclick='loadMove("2k2r2/1bpp4/2p5/2P5/P2p2P1/1P3p1p/5K1P/4R2B b - - 0 32", this, "c4c5"); ' class="line1">32.c5</span> 
с преимуществом у белых. После хода в партии игра обостряется, и шансы становятся обоюдными.</p>
<p>
 <span onclick='loadMove("2k1rr2/Qbpp2p1/2p5/4p3/P1P3q1/1P4Pp/2N1nP1P/4RRKB w - - 0 24", this, "c3e2"); ' class="line0">23...Кe2+</span> 
 <span onclick='loadMove("2k1rr2/Qbpp2p1/2p5/4p3/P1P3q1/1P4Pp/2N1RP1P/5RKB b - - 0 24", this, "e1e2"); ' class="line0">24.Л:e2</span> 
 <span onclick='loadMove("2k1rr2/Qbpp2p1/2p5/4p3/P1P5/1P4Pp/2N1qP1P/5RKB w - - 0 25", this, "g4e2"); ' class="line0">Ф:e2</span> 
 <span onclick='loadMove("2k1rr2/Qbpp2p1/2p5/4p3/PNP5/1P4Pp/4qP1P/5RKB b - - 0 25", this, "c2b4"); ' class="line0">25.Кb4!</span> 
 <span onclick='loadMove("2k1rr2/Qbp3p1/2p5/3pp3/PNP5/1P4Pp/4qP1P/5RKB w - d6 0 26", this, "d7d5"); ' class="line0">d5</span> 
.</p>
<p>Единственный ход, угрожало коварное
 <span onclick='loadMove("2k1rr2/Qbp3p1/N1p5/3pp3/P1P5/1P4Pp/4qP1P/5RKB b - - 0 26", this, "b4a6"); ' class="line1">26.Кa6!</span> 
</p>
<p>
 <span onclick='loadMove("2k1rr2/Qbp3p1/2p5/3Pp3/PN6/1P4Pp/4qP1P/5RKB b - - 0 26", this, "c4d5"); ' class="line0">26.cd</span> 
 <span onclick='loadMove("2k1rr2/Qbp3p1/8/3pp3/PN6/1P4Pp/4qP1P/5RKB w - - 0 27", this, "c6d5"); ' class="line0">cd</span> 
.</p>
<div class="chessBoard analysis nobuttons" data-start-fen="2k1rr2/Qbp3p1/8/3pp3/PN6/1P4Pp/4qP1P/5RKB w - - 0 27"></div>
<p>
 <span onclick='loadMove("2k1rr2/Qbp3p1/8/3Bp3/PN6/1P4Pp/4qP1P/5RK1 b - - 0 27", this, "h1d5"); ' class="line0">27.С:d5</span> 
.</p>
<p>По мнению Азмайпарашвили, здесь белые упустили последний шанс захватить инициативу
 <span onclick='loadMove("2k1rr2/Qbp3p1/8/3pp3/PN6/1P4Pp/4qP1P/2R3KB b - - 0 27", this, "f1c1"); ' class="line1">27.Лc1</span> 
 <span onclick='loadMove("2k1rr2/Qbp3p1/8/3pp3/PN6/1P4Pp/3q1P1P/2R3KB w - - 0 28", this, "e2d2"); ' class="line1">Фd2</span> 
 <span onclick='loadMove("2k1rr2/1bp3p1/8/2Qpp3/PN6/1P4Pp/3q1P1P/2R3KB b - - 0 28", this, "a7c5"); ' class="line1">28.Фc5</span> 
, и шансы белых в этих джунглях выглядят весомей.</p>
<p>
 <span onclick='loadMove("2k1rr2/Q1p3p1/8/3bp3/PN6/1P4Pp/4qP1P/5RK1 w - - 0 28", this, "b7d5"); ' class="line0">27...С:d5</span> 
 <span onclick='loadMove("2k1rr2/Q1p3p1/8/3Np3/P7/1P4Pp/4qP1P/5RK1 b - - 0 28", this, "b4d5"); ' class="line0">28.К:d5</span> 
 <span onclick='loadMove("2k1rr2/Q1p3p1/8/3Np3/P7/1P4Pp/2q2P1P/5RK1 w - - 0 29", this, "e2c2"); ' class="line0">Фc2</span> 
 <span onclick='loadMove("2k1rr2/2p3p1/Q7/3Np3/P7/1P4Pp/2q2P1P/5RK1 b - - 0 29", this, "a7a6"); ' class="line0">29.Фa6+</span> 
 <span onclick='loadMove("4rr2/2pk2p1/Q7/3Np3/P7/1P4Pp/2q2P1P/5RK1 w - - 0 30", this, "c8d7"); ' class="line0">Крd7</span> 
 <span onclick='loadMove("4rr2/2pk2p1/Q7/4p3/P7/1P2N1Pp/2q2P1P/5RK1 b - - 0 30", this, "d5e3"); ' class="line0">30.Кe3</span> 
 <span onclick='loadMove("4rr2/2pk2p1/Q7/4p3/P3q3/1P2N1Pp/5P1P/5RK1 w - - 0 31", this, "c2e4"); ' class="line0">Фe4</span> 
 <span onclick='loadMove("4rr2/2pk2p1/Q7/4p3/P3q3/1P2N1Pp/5P1P/2R3K1 b - - 0 31", this, "f1c1"); ' class="line0">31.Лc1</span> 
 <span onclick='loadMove("1r3r2/2pk2p1/Q7/4p3/P3q3/1P2N1Pp/5P1P/2R3K1 w - - 0 32", this, "e8b8"); ' class="line0">Лb8</span> 
 <span onclick='loadMove("1r3r2/2pk2p1/8/4p3/P3q3/1P2N1Pp/5P1P/2R2QK1 b - - 0 32", this, "a6f1"); ' class="line0">32.Фf1</span> 
 <span onclick='loadMove("5r2/2pk2p1/8/4p3/P3q3/1r2N1Pp/5P1P/2R2QK1 w - - 0 33", this, "b8b3"); ' class="line0">Л:b3</span> 
 <span onclick='loadMove("5r2/2pk2p1/8/4p3/P3q3/1r2N1PQ/5P1P/2R3K1 b - - 0 33", this, "f1h3"); ' class="line0">33.Ф:h3+</span> 
 <span onclick='loadMove("3k1r2/2p3p1/8/4p3/P3q3/1r2N1PQ/5P1P/2R3K1 w - - 0 34", this, "d7d8"); ' class="line0">Крd8</span> 
 <span onclick='loadMove("3k1r2/2p3p1/8/4p2Q/P3q3/1r2N1P1/5P1P/2R3K1 b - - 0 34", this, "h3h5"); ' class="line0">34.Фh5</span> 
 <span onclick='loadMove("2k2r2/2p3p1/8/4p2Q/P3q3/1r2N1P1/5P1P/2R3K1 w - - 0 35", this, "d8c8"); ' class="line0">Крc8</span> 
 <span onclick='loadMove("2k2r2/2p3p1/8/4p3/P3q3/1r2N1P1/5P1P/2RQ2K1 b - - 0 35", this, "h5d1"); ' class="line0">35.Фd1</span> 
 <span onclick='loadMove("2k2r2/2p3p1/8/4p3/P3q3/4r1P1/5P1P/2RQ2K1 w - - 0 36", this, "b3e3"); ' class="line0">Л:e3!</span> 
 <span onclick='loadMove("2k2r2/2p3p1/8/4p3/P3q3/4P1P1/7P/2RQ2K1 b - - 0 36", this, "f2e3"); ' class="line0">36.fe</span> 
 <span onclick='loadMove("2k2r2/2p3p1/8/4p3/P7/4q1P1/7P/2RQ2K1 w - - 0 37", this, "e4e3"); ' class="line0">Ф:e3+</span> 
 <span onclick='loadMove("2k2r2/2p3p1/8/4p3/P7/4q1P1/7P/2RQ3K b - - 0 37", this, "g1h1"); ' class="line0">37.Крh1</span> 
 <span onclick='loadMove("2k2r2/2p3p1/8/4p3/P3q3/6P1/7P/2RQ3K w - - 0 38", this, "e3e4"); ' class="line0">Фe4+</span> 
<!--p>138</p>
<p>Часть вторая</p-->
 <span onclick='loadMove("2k2r2/2p3p1/8/4p3/P3q3/6P1/7P/2RQ2K1 b - - 0 38", this, "h1g1"); ' class="line0">38.Крg1</span> 
 <span onclick='loadMove("2k2r2/2p3p1/8/4p3/P7/4q1P1/7P/2RQ2K1 w - - 0 39", this, "e4e3"); ' class="line0">Фe3+</span> 
 <span onclick='loadMove("2k2r2/2p3p1/8/4p3/P7/4q1P1/7P/2RQ3K b - - 0 39", this, "g1h1"); ' class="line0">39.Крh1</span> 
 <span onclick='loadMove("2k2r2/2p3p1/8/4p3/P3q3/6P1/7P/2RQ3K w - - 0 40", this, "e3e4"); ' class="line0">Фe4+</span> 
 <span onclick='loadMove("2k2r2/2p3p1/8/4p3/P3q3/6P1/7P/2RQ2K1 b - - 0 40", this, "h1g1"); ' class="line0">40.Крg1</span> 
 <span onclick='loadMove("2kr4/2p3p1/8/4p3/P3q3/6P1/7P/2RQ2K1 w - - 0 41", this, "f8d8"); ' class="line0">Лd8</span> 
 <span onclick='loadMove("2kr4/2p3p1/8/4p3/P3q3/6P1/2Q4P/2R3K1 b - - 0 41", this, "d1c2"); ' class="line0">41.Фc2</span> 
. Ничья.</p>
<p>Замечательная партия. С этого момента на новые просторы ринулись искатели шахматных приключений. Вот один из возникших шедевров вполне в стиле романтиков минувших столетий.</p>
</div> <!-- score -->
</div> <!-- section -->

<div class="section">
<div class="chessBoard small floater" data-start-fen="rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w KQkq - 0 1"></div>
<div class="score">
 <span class="line0" onclick='loadMove("rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w KQkq - 0 1", this, ""); '>[...]</span> 
<p class="capTop diagram"><i>Шотландская партия C45</i><br /><strong>П.КОЦУР – Д.ФРОЛОВ</strong><br />Томск, 1997</p>
<p>
 <span onclick='loadMove("rnbqkbnr/pppppppp/8/8/4P3/8/PPPP1PPP/RNBQKBNR b KQkq e3 0 1", this, "e2e4"); ' class="line0">1.e4</span> 
 <span onclick='loadMove("rnbqkbnr/pppp1ppp/8/4p3/4P3/8/PPPP1PPP/RNBQKBNR w KQkq e6 0 2", this, "e7e5"); ' class="line0">e5</span> 
 <span onclick='loadMove("rnbqkbnr/pppp1ppp/8/4p3/4P3/5N2/PPPP1PPP/RNBQKB1R b KQkq - 0 2", this, "g1f3"); ' class="line0">2.Кf3</span> 
 <span onclick='loadMove("r1bqkbnr/pppp1ppp/2n5/4p3/4P3/5N2/PPPP1PPP/RNBQKB1R w KQkq - 0 3", this, "b8c6"); ' class="line0">Кc6</span> 
 <span onclick='loadMove("r1bqkbnr/pppp1ppp/2n5/4p3/3PP3/5N2/PPP2PPP/RNBQKB1R b KQkq d3 0 3", this, "d2d4"); ' class="line0">3.d4</span> 
 <span onclick='loadMove("r1bqkbnr/pppp1ppp/2n5/8/3pP3/5N2/PPP2PPP/RNBQKB1R w KQkq - 0 4", this, "e5d4"); ' class="line0">ed</span> 
 <span onclick='loadMove("r1bqkbnr/pppp1ppp/2n5/8/3NP3/8/PPP2PPP/RNBQKB1R b KQkq - 0 4", this, "f3d4"); ' class="line0">4.К:d4</span> 
 <span onclick='loadMove("r1bqkb1r/pppp1ppp/2n2n2/8/3NP3/8/PPP2PPP/RNBQKB1R w KQkq - 0 5", this, "g8f6"); ' class="line0">Кf6</span> 
 <span onclick='loadMove("r1bqkb1r/pppp1ppp/2N2n2/8/4P3/8/PPP2PPP/RNBQKB1R b KQkq - 0 5", this, "d4c6"); ' class="line0">5.К:c6</span> 
 <span onclick='loadMove("r1bqkb1r/p1pp1ppp/2p2n2/8/4P3/8/PPP2PPP/RNBQKB1R w KQkq - 0 6", this, "b7c6"); ' class="line0">bc</span> 
 <span onclick='loadMove("r1bqkb1r/p1pp1ppp/2p2n2/4P3/8/8/PPP2PPP/RNBQKB1R b KQkq - 0 6", this, "e4e5"); ' class="line0">6.e5</span> 
 <span onclick='loadMove("r1b1kb1r/p1ppqppp/2p2n2/4P3/8/8/PPP2PPP/RNBQKB1R w KQkq - 0 7", this, "d8e7"); ' class="line0">Фe7</span> 
 <span onclick='loadMove("r1b1kb1r/p1ppqppp/2p2n2/4P3/8/8/PPP1QPPP/RNB1KB1R b KQkq - 0 7", this, "d1e2"); ' class="line0">7.Фe2</span> 
 <span onclick='loadMove("r1b1kb1r/p1ppqppp/2p5/3nP3/8/8/PPP1QPPP/RNB1KB1R w KQkq - 0 8", this, "f6d5"); ' class="line0">Кd5</span> 
 <span onclick='loadMove("r1b1kb1r/p1ppqppp/2p5/3nP3/2P5/8/PP2QPPP/RNB1KB1R b KQkq c3 0 8", this, "c2c4"); ' class="line0">8.c4</span> 
 <span onclick='loadMove("r3kb1r/p1ppqppp/b1p5/3nP3/2P5/8/PP2QPPP/RNB1KB1R w KQkq - 0 9", this, "c8a6"); ' class="line0">Сa6</span> 
 <span onclick='loadMove("r3kb1r/p1ppqppp/b1p5/3nP3/2P5/1P6/P3QPPP/RNB1KB1R b KQkq - 0 9", this, "b2b3"); ' class="line0">9.b3</span> 
 <span onclick='loadMove("r3kb1r/p1pp1ppp/b1p5/3nP3/2P4q/1P6/P3QPPP/RNB1KB1R w KQkq - 0 10", this, "e7h4"); ' class="line0">Фh4</span> 
 <span onclick='loadMove("r3kb1r/p1pp1ppp/b1p5/3nP3/2P4q/PP6/4QPPP/RNB1KB1R b KQkq - 0 10", this, "a2a3"); ' class="line0">10.a3</span> 
 <span onclick='loadMove("r3k2r/p1pp1ppp/b1p5/2bnP3/2P4q/PP6/4QPPP/RNB1KB1R w KQkq - 0 11", this, "f8c5"); ' class="line0">Сc5</span> 
 <span onclick='loadMove("r3k2r/p1pp1ppp/b1p5/2bnP3/2P4q/PP4P1/4QP1P/RNB1KB1R b KQkq - 0 11", this, "g2g3"); ' class="line0">11.g3</span> 
 <span onclick='loadMove("r3k2r/p1pp1ppp/b1p5/3nP3/2P4q/PP4P1/4Qb1P/RNB1KB1R w KQkq - 0 12", this, "c5f2"); ' class="line0">С:f2+!?</span> 
</p>
<div class="chessBoard analysis nobuttons" data-start-fen="r3k2r/p1pp1ppp/b1p5/3nP3/2P4q/PP4P1/4Qb1P/RNB1KB1R w KQkq - 0 12"></div>
<p>Не успев вывести фигуры, соперники вступили в ближний бой и начали обмен ударами. На
 <span onclick='loadMove("r3k2r/p1pp1ppp/b1p5/3nP3/2P4q/PP4P1/4QK1P/RNB2B1R b kq - 0 12", this, "e1f2"); ' class="line1">12.Кр:f2</span> 
имеется
 <span onclick='loadMove("r3k2r/p1pp1ppp/b1p5/3nP3/2Pq4/PP4P1/4QK1P/RNB2B1R w kq - 0 13", this, "h4d4"); ' class="line1">12...Фd4+</span> 
 <span onclick='loadMove("r3k2r/p1pp1ppp/b1p5/3nP3/2Pq4/PP3KP1/4Q2P/RNB2B1R b kq - 0 13", this, "f2f3"); ' class="line1">13.Крf3</span> 
(Отступление
 <span onclick='loadMove("r3k2r/p1pp1ppp/b1p5/3nP3/2Pq4/PP4P1/4Q1KP/RNB2B1R b kq - 0 13", this, "f2g2"); ' class="line2">13.Крg2</span> 
вызывает такой вариант:
 <span onclick='loadMove("r3k2r/p1pp1ppp/b1p5/3nP3/2P5/PP4P1/4Q1KP/qNB2B1R w kq - 0 14", this, "d4a1"); ' class="line2">13...Ф:a1</span> 
 <span onclick='loadMove("r3k2r/p1pp1ppp/b1p5/3nP3/2P5/PP4P1/2Q3KP/qNB2B1R b kq - 0 14", this, "e2c2"); ' class="line2">14.Фc2</span> 
 <span onclick='loadMove("r3k2r/p1pp1ppp/b1p5/3nq3/2P5/PP4P1/2Q3KP/1NB2B1R w kq - 0 15", this, "a1e5"); ' class="line2">Ф:e5</span> 
 <span onclick='loadMove("r3k2r/p1pp1ppp/b1p5/3nq3/2P5/PP1B2P1/2Q3KP/1NB4R b kq - 0 15", this, "f1d3"); ' class="line2">15.Сd3</span> 
 <span onclick='loadMove("r3k2r/p1pp1ppp/b1p5/4q3/2P5/PP1Bn1P1/2Q3KP/1NB4R w kq - 0 16", this, "d5e3"); ' class="line2">Кe3+</span> 
 <span onclick='loadMove("r3k2r/p1pp1ppp/b1p5/4q3/2P5/PP1BB1P1/2Q3KP/1N5R b kq - 0 16", this, "c1e3"); ' class="line2">16.С:e3</span> 
 <span onclick='loadMove("r3k2r/p1pp1ppp/b1p5/8/2P5/PP1Bq1P1/2Q3KP/1N5R w kq - 0 17", this, "e5e3"); ' class="line2">Ф:e3</span> 
, и белым плохо.)
 <span onclick='loadMove("r3k2r/p1pp1ppp/b1p5/3nP3/2P5/PP3KP1/4Q2P/qNB2B1R w kq - 0 14", this, "d4a1"); ' class="line1">13...Ф:a1</span> 
 <span onclick='loadMove("r3k2r/p1pp1ppp/b1p5/3nP3/2P5/PP3KP1/2Q4P/qNB2B1R b kq - 0 14", this, "e2c2"); ' class="line1">14.Фc2</span> 
 <span onclick='loadMove("r3k2r/p1pp1ppp/b1p5/3nq3/2P5/PP3KP1/2Q4P/1NB2B1R w kq - 0 15", this, "a1e5"); ' class="line1">Ф:e5</span> 
 <span onclick='loadMove("r3k2r/p1pp1ppp/b1p5/3Pq3/8/PP3KP1/2Q4P/1NB2B1R b kq - 0 15", this, "c4d5"); ' class="line1">15.cd</span> 
 <span onclick='loadMove("r3k2r/p1pp1ppp/b1p5/3q4/8/PP3KP1/2Q4P/1NB2B1R w kq - 0 16", this, "e5d5"); ' class="line1">Ф:d5+</span> 
 <span onclick='loadMove("r3k2r/p1pp1ppp/b1p5/3q4/4Q3/PP3KP1/7P/1NB2B1R b kq - 0 16", this, "c2e4"); ' class="line1">16.Фe4+</span> 
 <span onclick='loadMove("r3k2r/p1pp1ppp/b1p5/8/4q3/PP3KP1/7P/1NB2B1R w kq - 0 17", this, "d5e4"); ' class="line1">Ф:e4+</span> 
 <span onclick='loadMove("r3k2r/p1pp1ppp/b1p5/8/4K3/PP4P1/7P/1NB2B1R b kq - 0 17", this, "f3e4"); ' class="line1">17.Кр:e4</span> 
 <span onclick='loadMove("r3k2r/p1pp1ppp/2p5/8/4K3/PP4P1/7P/1NB2b1R w kq - 0 18", this, "a6f1"); ' class="line1">С:f1</span> 
. У черных бесспорное преимущество. <strong>Вукович – Басагич</strong> (Баня-Вручича, 1991).</p>
<p>
 <span onclick='loadMove("r3k2r/p1pp1ppp/b1p5/3nP3/2P4q/PP4P1/5Q1P/RNB1KB1R b KQkq - 0 12", this, "e2f2"); ' class="line0">12.Ф:f2</span> 
 <span onclick='loadMove("r3k2r/p1pp1ppp/b1p5/3nP3/2P1q3/PP4P1/5Q1P/RNB1KB1R w KQkq - 0 13", this, "h4e4"); ' class="line0">Фe4+</span> 
 <span onclick='loadMove("r3k2r/p1pp1ppp/b1p5/3nP3/2P1q3/PP4P1/5Q1P/RNBK1B1R b kq - 0 13", this, "e1d1"); ' class="line0">13.Крd1</span> 
.</p>
<div class="chessBoard analysis nobuttons" data-start-fen="r3k2r/p1pp1ppp/b1p5/3nP3/2P1q3/PP4P1/5Q1P/RNBK1B1R b kq - 0 13"></div>
<p>Немало оказалось желающих пойти более спокойным путем —
 <span onclick='loadMove("r3k2r/p1pp1ppp/b1p5/3nP3/2P1q3/PP4P1/3K1Q1P/RNB2B1R b kq - 0 13", this, "e1d2"); ' class="line1">13.Крd2</span> 
. Не будем здесь углубляться в дебютный диспут. Выразим лишь наше скромное мнение: <b>Крd1</b> в духе этого романтического варианта.</p>
<p>
 <span onclick='loadMove("r3k2r/p1pp1ppp/b1p5/3nP3/2P5/PP4P1/5Q1P/RNBK1B1q w kq - 0 14", this, "e4h1"); ' class="line0">13...Ф:h1</span> 
 <span onclick='loadMove("r3k2r/p1pp1ppp/b1p5/3nP3/2P5/PP4P1/3N1Q1P/R1BK1B1q b kq - 0 14", this, "b1d2"); ' class="line0">14.Кd2</span> 
 <span onclick='loadMove("r3k2r/p1pp1ppp/b1p5/4P3/2P5/PPn3P1/3N1Q1P/R1BK1B1q w kq - 0 15", this, "d5c3"); ' class="line0">Кc3+</span> 
.</p>
<p>Попытка перевести короля в безопасное место
 <span onclick='loadMove("r4rk1/p1pp1ppp/b1p5/3nP3/2P5/PP4P1/3N1Q1P/R1BK1B1q w - - 0 15", this, "e8g8"); ' class="line1">14...0-0</span> 
счастья не принесла:
 <span onclick='loadMove("r4rk1/p1pp1ppp/b1p5/3nP3/2P5/PP4P1/2KN1Q1P/R1B2B1q b - - 0 15", this, "d1c2"); ' class="line1">15.Крc2</span> 
 <span onclick='loadMove("r4rk1/p1pp2pp/b1p2p2/3nP3/2P5/PP4P1/2KN1Q1P/R1B2B1q w - - 0 16", this, "f7f6"); ' class="line1">f6</span> 
 <span onclick='loadMove("r4rk1/p1pp2pp/b1p1Pp2/3n4/2P5/PP4P1/2KN1Q1P/R1B2B1q b - - 0 16", this, "e5e6"); ' class="line1">16.e6!</span> 
 <span onclick='loadMove("r4rk1/p1p3pp/b1p1pp2/3n4/2P5/PP4P1/2KN1Q1P/R1B2B1q w - - 0 17", this, "d7e6"); ' class="line1">de</span> 
 <span onclick='loadMove("r4rk1/p1p3pp/b1p1pp2/3n4/2P5/PP4PB/2KN1Q1P/R1B4q b - - 0 17", this, "f1h3"); ' class="line1">17.Сh3</span> 
 <span onclick='loadMove("r3r1k1/p1p3pp/b1p1pp2/3n4/2P5/PP4PB/2KN1Q1P/R1B4q w - - 0 18", this, "f8e8"); ' class="line1">Лfe8</span> 
 <span onclick='loadMove("r3r1k1/p1p3pp/b1p1pp2/3n4/2P5/PP3NPB/2K2Q1P/R1B4q b - - 0 18", this, "d2f3"); ' class="line1">18.Кf3!</span> 
 <span onclick='loadMove("r3r1k1/p1p3pp/b1p2p2/3np3/2P5/PP3NPB/2K2Q1P/R1B4q w - - 0 19", this, "e6e5"); ' class="line1">e5</span> 
 <span onclick='loadMove("r3r1k1/p1p3pp/b1p2p2/3np3/2P5/PP3NPB/1BK2Q1P/R6q b - - 0 19", this, "c1b2"); ' class="line1">19.Сb2!</span> 
, и белые близки к победе.
На привлекательное
 <span onclick='loadMove("r4rk1/p1pp1ppp/b1p5/3PP3/8/PP4P1/3N1Q1P/R1BK1B1q b - - 0 15", this, "c4d5"); ' class="line2">15.cd</span> 
(вместо
 <span onclick='loadMove("r4rk1/p1pp1ppp/b1p5/3nP3/2P5/PP4P1/2KN1Q1P/R1B2B1q b - - 0 15", this, "d1c2"); ' class="line3">15.Крc2</span> 
)
имеется
 <span onclick='loadMove("r4rk1/p1pp1ppp/2p5/3PP3/8/PP4P1/3N1Q1P/R1BK1b1q w - - 0 16", this, "a6f1"); ' class="line2">15...С:f1</span> 
 <span onclick='loadMove("r4rk1/p1pp1ppp/2p5/3PP3/8/PP4P1/3N3P/R1BK1Q1q b - - 0 16", this, "f2f1"); ' class="line2">16.Ф:f1</span> 
 <span onclick='loadMove("r4rk1/p1pp1ppp/2p5/3PP3/8/PP4P1/3N3q/R1BK1Q2 w - - 0 17", this, "h1h2"); ' class="line2">Ф:h2</span> 
 <span onclick='loadMove("r4rk1/p1pp1ppp/2p5/3PP3/8/PP3QP1/3N3q/R1BK4 b - - 0 17", this, "f1f3"); ' class="line2">17.Фf3</span> 
с острой игрой, где шансы черных несколько выше.</p>
<!--p>Современные гамбитные идеи</p>
<p>139</p-->
<p>
 <span onclick='loadMove("r3k2r/p1pp1ppp/b1p5/4P3/2P5/PPn3P1/2KN1Q1P/R1B2B1q b kq - 0 15", this, "d1c2"); ' class="line0">15.Крc2</span> 
 <span onclick='loadMove("r3k2r/p1pp1ppp/b1p5/4P3/2P1n3/PP4P1/2KN1Q1P/R1B2B1q w kq - 0 16", this, "c3e4"); ' class="line0">Кe4</span> 
 <span onclick='loadMove("r3k2r/p1pp1ppp/b1p5/4P3/2P1N3/PP4P1/2K2Q1P/R1B2B1q b kq - 0 16", this, "d2e4"); ' class="line0">16.К:e4</span> 
 <span onclick='loadMove("r3k2r/p1pp1ppp/b1p5/4P3/2P1q3/PP4P1/2K2Q1P/R1B2B2 w kq - 0 17", this, "h1e4"); ' class="line0">Ф:e4+</span> 
 <span onclick='loadMove("r3k2r/p1pp1ppp/b1p5/4P3/2P1q3/PP1B2P1/2K2Q1P/R1B5 b kq - 0 17", this, "f1d3"); ' class="line0">17.Сd3</span> 
 <span onclick='loadMove("r3k2r/p1pp1ppp/b1p5/4P3/2P3q1/PP1B2P1/2K2Q1P/R1B5 w kq - 0 18", this, "e4g4"); ' class="line0">Фg4</span> 
.</p>
<p>Черные остановились в своем стремлении к материальным приобретениям. После
 <span onclick='loadMove("r3k2r/p1pp1ppp/b1p5/4q3/2P5/PP1B2P1/2K2Q1P/R1B5 w kq - 0 18", this, "e4e5"); ' class="line1">17...Ф:e5</span> 
 <span onclick='loadMove("r3k2r/p1pp1ppp/b1p5/4q3/2P5/PP1B2P1/1BK2Q1P/R7 b kq - 0 18", this, "c1b2"); ' class="line1">18.Сb2</span> 
 <span onclick='loadMove("r3k2r/p1pp1ppp/b1pq4/8/2P5/PP1B2P1/1BK2Q1P/R7 w kq - 0 19", this, "e5d6"); ' class="line1">Фd6</span> 
 <span onclick='loadMove("r3k2r/p1pp1ppp/b1pq4/8/2P5/PP1B2P1/1BK2Q1P/4R3 b kq - 0 19", this, "a1e1"); ' class="line1">19.Лe1+</span> 
их королю негде спрятаться.</p>
<p>
 <span onclick='loadMove("r3k2r/p1pp1ppp/b1p5/4PB2/2P3q1/PP4P1/2K2Q1P/R1B5 b kq - 0 18", this, "d3f5"); ' class="line0">18.Сf5</span> 
 <span onclick='loadMove("r3k2r/p1pp1ppp/b1p5/4PB1q/2P5/PP4P1/2K2Q1P/R1B5 w kq - 0 19", this, "g4h5"); ' class="line0">Фh5</span> 
 <span onclick='loadMove("r3k2r/p1pp1ppp/b1p5/4PB1q/2P4P/PP4P1/2K2Q2/R1B5 b kq h3 0 19", this, "h2h4"); ' class="line0">19.h4!</span> 
 <span onclick='loadMove("r3k2r/p1pp2pp/b1p2p2/4PB1q/2P4P/PP4P1/2K2Q2/R1B5 w kq - 0 20", this, "f7f6"); ' class="line0">f6</span> 
.</p>
<p>Вынужденно, так как грозило
 <!--span onclick='loadMove("r3k2r/p1pp1ppp/b1p5/4PB1q/2P4P/PP4P1/2K2Q2/R1B5 w kq - 0 20", this, "f7f6"); ' class="line1">19...z0</span--> 
 <span onclick='loadMove("r3k2r/p1pp1ppp/b1p5/4PB1q/2P3PP/PP6/2K2Q2/R1B5 b kq - 0 20", this, "g3g4"); ' class="line1">20.g4</span> 
.</p>
<p>
 <span onclick='loadMove("r3k2r/p1pp2pp/b1p2P2/5B1q/2P4P/PP4P1/2K2Q2/R1B5 b kq - 0 20", this, "e5f6"); ' class="line0">20.ef</span> 
 <span onclick='loadMove("r4rk1/p1pp2pp/b1p2P2/5B1q/2P4P/PP4P1/2K2Q2/R1B5 w - - 0 21", this, "e8g8"); ' class="line0">0-0</span> 
 <span onclick='loadMove("r4rk1/p1pp2pp/b1p2P2/5B1q/2P3PP/PP6/2K2Q2/R1B5 b - - 0 21", this, "g3g4"); ' class="line0">21.g4</span> 
 <span onclick='loadMove("r3qrk1/p1pp2pp/b1p2P2/5B2/2P3PP/PP6/2K2Q2/R1B5 w - - 0 22", this, "h5e8"); ' class="line0">Фe8</span> 
.</p>
<p>Немедленно проигрывает
 <span onclick='loadMove("r4rk1/p1pp1qpp/b1p2P2/5B2/2P3PP/PP6/2K2Q2/R1B5 w - - 0 22", this, "h5f7"); ' class="line1">21...Фf7</span> 
 <span onclick='loadMove("r4rk1/p1pp1qPp/b1p5/5B2/2P3PP/PP6/2K2Q2/R1B5 b - - 0 22", this, "f6g7"); ' class="line1">22.fg</span> 
 <span onclick='loadMove("r4rk1/p1pp2qp/b1p5/5B2/2P3PP/PP6/2K2Q2/R1B5 w - - 0 23", this, "f7g7"); ' class="line1">Ф:g7</span> 
(
 <span onclick='loadMove("r3r1k1/p1pp1qPp/b1p5/5B2/2P3PP/PP6/2K2Q2/R1B5 w - - 0 23", this, "f8e8"); ' class="line2">22...Лfe8</span> 
 <span onclick='loadMove("r3r1k1/p1pp1qPB/b1p5/8/2P3PP/PP6/2K2Q2/R1B5 b - - 0 23", this, "f5h7"); ' class="line2">23.С:h7+</span> 
)
 <span onclick='loadMove("r4rk1/p1pp2qp/b1p5/5B2/2P3PP/PP6/1BK2Q2/R7 b - - 0 23", this, "c1b2"); ' class="line1">23.Сb2</span> 
 <!--span onclick='loadMove("r4rk1/p1pp2qp/b1p5/5B2/2P3PP/PP6/1BK2Q2/R7 w - - 0 24", this, "c1b2"); ' class="line1">z0</span--> 
и
 <span onclick='loadMove("r4rk1/p1pp2qp/b1p5/5B2/2PQ2PP/PP6/1BK5/R7 b - - 0 24", this, "f2d4"); ' class="line1">24.Фd4</span> 
.</p>
<p>
 <span onclick='loadMove("r3qrk1/p1pp2pp/b1p2P2/5B2/2P3PP/PP6/1BK2Q2/R7 b - - 0 22", this, "c1b2"); ' class="line0">22.Сb2</span> 
.</p>
<p>Рекомендация В.Корчного.</p>
<p>
 <span onclick='loadMove("r3qrk1/p1pp3p/b1p2p2/5B2/2P3PP/PP6/1BK2Q2/R7 w - - 0 23", this, "g7f6"); ' class="line0">22...gf</span> 
.</p>
<p>В случае
 <span onclick='loadMove("r3qrk1/p1pp3p/b1p2Pp1/5B2/2P3PP/PP6/1BK2Q2/R7 w - - 0 23", this, "g7g6"); ' class="line1">22...g6</span> 
 <span onclick='loadMove("r3qrk1/p1pp3p/b1p2Pp1/5B2/2P3PP/PP6/1BK2Q2/4R3 b - - 0 23", this, "a1e1"); ' class="line1">23.Лe1</span> 
 <span onclick='loadMove("r2q1rk1/p1pp3p/b1p2Pp1/5B2/2P3PP/PP6/1BK2Q2/4R3 w - - 0 24", this, "e8d8"); ' class="line1">Фd8</span> 
 <span onclick='loadMove("r2q1rk1/p1pp3p/b1p2Pp1/8/2P3PP/PP1B4/1BK2Q2/4R3 b - - 0 24", this, "f5d3"); ' class="line1">24.Сd3</span> 
черные беззащитны.</p>
<p>
 <span onclick='loadMove("r3qrk1/p1pp3p/b1p2p2/5B2/2P3PP/PP6/1BK2Q2/6R1 b - - 0 23", this, "a1g1"); ' class="line0">23.Лg1</span> 
 <span onclick='loadMove("r3qrk1/p1pp4/b1p2p1p/5B2/2P3PP/PP6/1BK2Q2/6R1 w - - 0 24", this, "h7h6"); ' class="line0">h6</span> 
.</p>
<p>Объективно, сильнее
 <span onclick='loadMove("r3qr1k/p1pp3p/b1p2p2/5B2/2P3PP/PP6/1BK2Q2/6R1 w - - 0 24", this, "g8h8"); ' class="line1">23...Крh8</span> 
, но черным уже поздно советовать.</p>
<p>
 <span onclick='loadMove("r3qrk1/p1pp4/b1p2p1p/5BP1/2P4P/PP6/1BK2Q2/6R1 b - - 0 24", this, "g4g5"); ' class="line0">24.g5</span> 
 <span onclick='loadMove("r3qrk1/p1pp4/b1p4p/5Bp1/2P4P/PP6/1BK2Q2/6R1 w - - 0 25", this, "f6g5"); ' class="line0">fg</span> 
 <span onclick='loadMove("r3qrk1/p1pp4/b1p4p/5Bp1/2PQ3P/PP6/1BK5/6R1 b - - 0 25", this, "f2d4"); ' class="line0">25.Фd4</span> 
 <span onclick='loadMove("r4rk1/p1ppq3/b1p4p/5Bp1/2PQ3P/PP6/1BK5/6R1 w - - 0 26", this, "e8e7"); ' class="line0">Фe7</span> 
 <span onclick='loadMove("r4rkQ/p1ppq3/b1p4p/5Bp1/2P4P/PP6/1BK5/6R1 b - - 0 26", this, "d4h8"); ' class="line0">26.Фh8+</span> 
.</p>
<div class="chessBoard analysis nobuttons" data-start-fen="r4rkQ/p1ppq3/b1p4p/5Bp1/2P4P/PP6/1BK5/6R1 b - - 0 26"></div>
<p>Черные сдались, а жаль. Финальный вариант мог получиться очень красочным:
 <span onclick='loadMove("r4r1Q/p1ppqk2/b1p4p/5Bp1/2P4P/PP6/1BK5/6R1 w - - 0 27", this, "g8f7"); ' class="line1">26...Крf7</span> 
 <span onclick='loadMove("r4r2/p1ppqkQ1/b1p4p/5Bp1/2P4P/PP6/1BK5/6R1 b - - 0 27", this, "h8g7"); ' class="line1">27.Фg7+</span> 
 <span onclick='loadMove("r3kr2/p1ppq1Q1/b1p4p/5Bp1/2P4P/PP6/1BK5/6R1 w q - 0 28", this, "f7e8"); ' class="line1">Крe8</span> 
 <span onclick='loadMove("r3kr2/p1ppq1Q1/b1p4p/5Bp1/2P4P/PP6/1BK5/4R3 b q - 0 28", this, "g1e1"); ' class="line1">28.Лe1!</span> 
 <span onclick='loadMove("r3kr2/p1pp2Q1/b1p4p/5Bp1/2P4P/PP6/1BK5/4q3 w q - 0 29", this, "e7e1"); ' class="line1">Ф:e1</span> 
 <span onclick='loadMove("r3kr2/p1pQ4/b1p4p/5Bp1/2P4P/PP6/1BK5/4q3 b q - 0 29", this, "g7d7"); ' class="line1">29.Ф:d7X</span> 
.</p>
<p>Уже в далеком 1970 году на тренировочном сборе команды Москвы Давид Ионович Бронштейн рассказывал молодым шахматистам о взаимосвязи стиля игры с обеденным меню на партиях XIX века. Точнее, речь шла о Лондонском турнире 1883 года. Если показать эту партию без фамилий игравших и других координат и предложить читателю самостоятельно все угадать, что мы получим? Вполне возможен ответ: Париж, кафе «Режанс», XIX век, Андерсен — Кизерицкий, красное вино, сыр (без них французы и сейчас за стол не садятся). А на самом деле партия сыграна в сибирском студенческом городе в конце XX века.</p>
</div> <!-- score -->
</div> <!-- section -->

</div> <!-- iBook -->
{% endblock content %}
