{% extends '../../base.htm' %}
{% load static %}
{% block title %}
<title>Глава 1. Доска | {{book.title}} | {%for author in book.authors.all%} {%if author.first_name%} {{author.first_name}} {%endif%} {%if author.second_name%} {{author.second_name}} {%endif%} {%if forloop.counter == book.authors.all.count%} {{author.last_name}} {%else%} {{author.last_name}}, {%endif%} {%endfor%} | {{book.year}}</title>
{% endblock title %}
{% block content %}

<div class="iBook">

<div class="section">
<h2>Глава 1. ДОСКА</h2>

<div class="score">
<p>Как хорошо вы знаете арену сражения? Шахматная доска представляет собой большое квадратное поле, состоящее из 64 маленьких полей (клеток), поставленных в ряды 8 на 8. Тридцать два поля, или ровно половина, белого цвета, а другие тридцать два — черного. Ряды, состоящие из восьми клеток, выстроенные по вертикали, так и называются — вертикалями, и они обозначаются буквами. Такие же ряды, выстроенные вбок, называются горизонталями и нумеруются арабскими цифрами. Диагонали (составленные из различного числа полей, соприкасающихся уголками) состоят из полей одного цвета.</p>
</div> <!-- score -->
</div> <!-- section -->

<div class="section">
<h3>Принцип 1: Если вы контролируете больше чем половину полей на доске, на вашей стороне преимущество.</h3>
<div class="chessBoard small nobuttons floater" data-start-fen="rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w KQkq - 0 1"></div>
<div class="score">
<p>Первый принцип весьма очевиден, если вы понимаете, что контроль над полями означает следующее: если вражеская фигура или пешка становится на «ваше» поле, она попадает под бой и может быть вами взята.</p>
<p>Но доминация означает нечто большее, чем наличие преимущества в пространстве. Контроль над большим числом полей — это чудесно, но насколько большим, и что в действительности означает термин «контроль»? Достаточно, что слон присматривает за полем, или нужна еще и пешка? Означает ли занятие фигурой или пешкой поля, что она (пешка или фигура) его контролирует?</p>
<p>Ответы на поставленные вопросы зависят от того, что за позиция перед вами. Если бы на поставленные вопросы можно было ответить в общем и целом, то не было бы нужды в издании тысяч шахматных книг, а также в тысячах, возможно, десятках тысяч партий, которые играются каждый день.</p>

<p>Контроль должен быть длительным, чтобы дать вам преимущество. Например, после
 <span class="line0" onclick='loadMove("rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w KQkq - 0 1", this, ""); '>[...]</span> 
 <span onclick='loadMove("rnbqkbnr/pppppppp/8/8/4P3/8/PPPP1PPP/RNBQKBNR b KQkq e3 0 1", this, "e2e4"); ' class="line0">1.e4</span> 
 <span onclick='loadMove("rnbqkb1r/pppppppp/5n2/8/4P3/8/PPPP1PPP/RNBQKBNR w KQkq - 0 2", this, "g8f6"); ' class="line0">Кf6</span> 
 <span onclick='loadMove("rnbqkb1r/pppppppp/5n2/4P3/8/8/PPPP1PPP/RNBQKBNR b KQkq - 0 2", this, "e4e5"); ' class="line0">2.e5</span> 
 <span onclick='loadMove("rnbqkb1r/pppppppp/8/3nP3/8/8/PPPP1PPP/RNBQKBNR w KQkq - 0 3", this, "f6d5"); ' class="line0">Кd5</span> 
 <span onclick='loadMove("rnbqkb1r/pppppppp/8/3nP3/3P4/8/PPP2PPP/RNBQKBNR b KQkq d3 0 3", this, "d2d4"); ' class="line0">3.d4</span> 
(защита Алехина) белые контролируют центр — пока. Но после таких ходов черных, как
 <span onclick='loadMove("rnbqkb1r/ppp1pppp/3p4/3nP3/3P4/8/PPP2PPP/RNBQKBNR w KQkq - 0 4", this, "d7d6"); ' class="line0">d7-d6</span> 
и
 <span onclick='loadMove("rnbqkb1r/pp2pppp/2pp4/3nP3/3P4/8/PPP2PPP/RNBQKBNR w KQkq - 0 5", this, "c7c6"); ' class="line0">c6</span> 
и, возможно,
 <span onclick='loadMove("rnbqkb1r/pppppp1p/6p1/3nP3/3P4/8/PPP2PPP/RNBQKBNR w KQkq - 0 4", this, "g7g6"); ' class="line0">g7-g6</span> 
и
 <span onclick='loadMove("rnbqk2r/ppppppbp/6p1/3nP3/3P4/8/PPP2PPP/RNBQKBNR w KQkq - 0 5", this, "f8g7"); ' class="line0">Сf8-g7</span>, центр белых подвергается серьезному нападению и становится неясным, кто же в реальности его контролирует.</p>
<p>Это неизбежно. Если вам хочется знать, контролируете ли вы больше полей, чем соперник, необходимо немножко заглянуть в будущее. Вы просто не сможете отъединить элемент времени в шахматах от других элементов, таких как контроль над полями.</p>

<!--p class="advertising message">P N B R Q K</p-->

<p class="notification message">Политик, желающий добиться успеха, должен контролировать больше половины голосов, чтобы быть избранным. Это проистекает из того же принципа. Волки и другие дикие животные, возможно, понимают этот принцип лучше большинства людей (не политиков). Они осознают значение территории, их версии полей на шахматной доске.</p>
</div> <!-- score -->
</div> <!-- section -->

<div class="section">
<h3>Принцип 2: Конь на краю доски — позор.</h3>
<div class="chessBoard small nobuttons floater" data-start-fen="8/8/p2p2p1/n2B1k1p/5P1P/4K1P1/P7/8 w - - 0 1"></div>
<div class="score">
<p>На это глубокое замечание я впервые натолкнулся, читая что-то из написанного Фредом Рейнфельдом. Это весьма специфическое замечание, которое стремится передать больше, чем может показаться на первый взгляд.</p>
<p>Пояснить этот принцип можно так: фигуры, в чьем поле зрения мало полей, не очень полезны. Это касается не только коней на краю доски, но также слонов, которым мешают собственные пешки, и ладей, замкнутых в углу без доступных им открытых или хотя бы полуоткрытых линий.</p>
<p>В действительности, это принцип мобильности. Кони плохо смотрятся на краю доски, потому что им доступно ограниченное число полей. Поняв эту истину, вы научитесь определять моменты, когда эта направляющая не работает и другой принцип может оказаться более весомым. Следующая диаграмма иллюстрирует смысл этого принципа:</p>
<!--img src="images/Tao of Chess-4.png" /-->
<div class="chessBoard analysis nobuttons" data-start-fen="8/8/p2p2p1/n2B1k1p/5P1P/4K1P1/P7/8 w - - 0 1"></div>
<p class="caption"><b>Ход черных</b></p>
<p>
 <span class="line0" onclick='loadMove("8/8/p2p2p1/n2B1k1p/5P1P/4K1P1/P7/8 w - - 0 1", this, ""); '>[...]</span> 
Ход черных, но они никак не могут помешать планам белых. Белый король способен, оставаясь на королевском фланге, вынудить черного короля дать ему дорогу, после чего сможет пообедать черными пешками. Он (белый король) также вправе отправиться на ферзевый фланг, чтобы «пожрать» обездвиженных коня и пешку, вслед за чем в обоих случаях белая пешка отправится на коронацию. Суть происходящего в том, что черные фактически играют без фигуры. Их конь на краю доски абсолютно бесполезен.</p>
<!--p class="advertising message">P N B R Q K</p-->
<p class="notification message">Не попадайте в ситуацию, где у вас нет выбора. Класть все яйца в одну корзину недопустимо, в один прекрасный день они могут разбиться.</p>
</div> <!-- score -->
</div> <!-- section -->

<div class="section">
<h3>Принцип 3: Расставляйте свои пешки на полях цвета, противоположного цвету вашего слона.</h3>
<div class="score">
<p>Этот принцип — просто иной способ сказать, что фигуры и пешки на шахматной доске должны дополнять друг друга. Поскольку слоны и пешки бьют наискосок, размещение слона и пешек по полям разного цвета обеспечит вам больше пространства, на котором вы сможете осуществлять взятия.</p>
<p>Расстановка слонов и коней на полях одного цвета суть другой способ следования тому же принципу, так же как и борьба ферзя и коня против ферзя и слона. Всегда старайтесь получить максимальную отдачу от своих фигур.</p>
<p>Принцип воплощает собой суть командной работы. Существует много путей, с помощью которых можно избежать дублирования усилий. В команде офисных сотрудников каждый отвечает за свой участок работы. В спортивных командах каждый игрок исполняет свою роль. В певческом квартете каждый голос ведет свою партию. В противном случае проект, игру или песню ждет исполнительская неудача.</p>
</div> <!-- score -->
</div> <!-- section -->

<div class="section">
<h3>Принцип 4: Путь от поля a1 к a8 имеет ту же длину, что и путь от поля a1 к h8.</h3>
<div class="chessBoard small nobuttons floater" data-start-fen="8/8/8/8/P7/5p1K/8/k7 b - - 0 1"></div>
<div class="score">
<p>Этот принцип кажется контринтуитивным. Диагональ выглядит длиннее, поэтому и путь должен быть длиннее. Но на шахматной доске это не так. Королю потребуется семь ходов, чтобы пройти путь в обоих случаях.</p>
<p>Однако, хотя путь по диагонали и не длиннее, на этом пути у вашей фигуры беднее выбор. Например, от поля a1 до поля a8 дойти за семь ходов можно различными путями. Один из них <b>a1-a2-a3-a4-a5-a6-a7-a8</b>. Другой — <b>a1-b2-c3-d4-d5-c6-b7-a8</b>.</p>
<p>Если вы полагаете, что разница невелика, то взгляните на следующую диаграмму, на которой представлен знаменитый этюд чешского гроссмейстера Рихарда Рети.</p>
<!--img src="images/Tao of Chess-5.png" /-->
<div class="chessBoard analysis nobuttons" data-start-fen="8/8/8/8/P7/5p1K/8/k7 b - - 0 1"></div>
<p class="caption"><b>Черные начинают и делают ничью</b></p>
<p>На первый взгляд задача черных кажется невыполнимой. Но она разбивается на две части, и в этом ключ к решению. Одна задача заключается во взятии пешки «а». Это само по себе недостижимо. Другая — провести пешку «f» к полю превращения. Это тоже само по себе невозможно. Но, сочетая выполнение этих задач посредством избрания диагонального пути, черные могут решить одну из них:</p>
<p>
 <span class="line0" onclick='loadMove("8/8/8/8/P7/5p1K/8/k7 b - - 0 1", this, ""); '>[...]</span> 
 <span onclick='loadMove("8/8/8/8/P7/5p1K/1k6/8 w - - 0 2", this, "a1b2"); ' class="line0">1...Крb2</span> 
 <span onclick='loadMove("8/8/8/P7/8/5p1K/1k6/8 b - - 0 2", this, "a4a5"); ' class="line0">2.a5</span> 
 <span onclick='loadMove("8/8/8/P7/8/2k2p1K/8/8 w - - 0 3", this, "b2c3"); ' class="line0">Крc3</span> 
 <span onclick='loadMove("8/8/P7/8/8/2k2p1K/8/8 b - - 0 3", this, "a5a6"); ' class="line0">3.a6</span> 
 <span onclick='loadMove("8/8/P7/8/8/3k1p1K/8/8 w - - 0 4", this, "c3d3"); ' class="line0">Крd3</span>, и белая пешка вот-вот достигнет поля превращения, но также и черная. Если черные попытаются вызвать кульминацию раньше, то получаем
 <span onclick='loadMove("8/8/8/P7/8/2k2pK1/8/8 b - - 0 3", this, "h3g3"); ' class="line1">3.Крg3</span> 
 <span onclick='loadMove("8/8/8/P7/3k4/5pK1/8/8 w - - 0 4", this, "c3d4"); ' class="line1">Крd4</span> 
 <span onclick='loadMove("8/8/P7/8/3k4/5pK1/8/8 b - - 0 4", this, "a5a6"); ' class="line1">4.a6</span> 
 <span onclick='loadMove("8/8/P7/8/8/4kpK1/8/8 w - - 0 5", this, "d4e3"); ' class="line1">Крe3</span>, и вновь обе пешки проходят в ферзи. Если
 <span onclick='loadMove("8/8/8/P7/3k4/5K2/8/8 b - - 0 4", this, "g3f3"); ' class="line2">4.Кр:f3</span>, то
 <span onclick='loadMove("8/8/8/P1k5/8/5K2/8/8 w - - 0 5", this, "d4c5"); ' class="line2">4...Крc5</span>, и пешка «а» погибает.</p>
<!--p class="advertising message">P N B R Q K</p-->
<p class="notification message">Не так важно, куда вы стремитесь, важнее то, как вы собираетесь достигнуть желаемого. Дорогу следует избирать взвешенно, и те, кто внимательно проанализирует каждый альтернативный путь, получит максимум возможного из задуманного предприятия.</p>
</div> <!-- score -->
</div> <!-- section -->

</div> <!-- iBook -->

{% endblock content %}

