{% extends '../../base.htm' %}
{% load static %}
{% block title %}
<title>Глава 33. Расходование времени | {{book.title}} | {%for author in book.authors.all%} {%if author.first_name%} {{author.first_name}} {%endif%} {%if author.second_name%} {{author.second_name}} {%endif%} {%if forloop.counter == book.authors.all.count%} {{author.last_name}} {%else%} {{author.last_name}}, {%endif%} {%endfor%} | {{book.year}}</title>
{% endblock title %}
{% block content %}

<div class="iBook">

<div class="section">
<h2>Глава 33. РАСХОДОВАНИЕ ВРЕМЕНИ</h2>
<div class="score">
<p>Время, которое вы имеете на обдумывание своих ходов, обычно очень ограничено. Учитесь использовать его рационально.</p>
</div> <!-- score -->
</div> <!-- section -->

<div class="section">
<h3>Принцип 156: Держитесь подальше от ситуаций с дефицитом времени, только если они не есть ваш хлеб с маслом.</h3>
<div class="score">
<p>Добиваться этого становится всё труднее в современных турнирах. Лимит времени становится всё короче по различным причинам. Шахматисты хотят сыграть как можно больше партий в как можно более сжатые сроки, а промоутеры стремятся привлечь зрителей на ТВ и в Интернете.</p>
<p>И все же старайтесь делать всё возможное, чтобы не попадать в цейт-ноты, за счет равномерного распределения времени по ходам. Если по регламенту каждому игроку выделяется по часу на всю партию, вы поступите не слишком разумно, потратив на какой-либо ход полчаса, если только он не ведет прямиком к выигрышу. На ход в среднем следует тратить по минуте.</p>
<p>Если по регламенту каждому игроку выделяется полчаса на всю партию, то десять минут, затраченных на один ход, еще аукнутся вам в конце партии. На ход в этом случае следует тратить по тридцать секунд.</p>
<p>Используйте время рационально. Не забывайте о принципах 154 и 155, даже при игре с укороченным контролем. Просто помните, что можно потратить чуть больше времени в критических положениях и при поиске выигрыша, если вы уверены, что он в позиции есть.</p>
<!--p class="bpiesesSet">P N B R Q K</p-->
<p class="notification message">Рациональное использование времени — это не пустяк. Пусть такой подход станет для вас привычкой, и ваши результаты пойдут вверх.</p>
</div> <!-- score -->
</div> <!-- section -->

<div class="section">
<h3>Принцип 157: Тратьте больше времени при переходе из одной стадии партии в другую, а также в переломные моменты.</h3>
<div class="score">
<p>Этот принцип действует и в отношении партий с укороченным контролем. Ключевым является понимание того, что фраза «Больше времени» является сокращением от «больше времени по отношению к другим ходам». Это дополнительное время в отношении среднего времени, которое вы тратите на один ход.</p>
<p>Причина, по которой мы выделяем переходные позиции и переломные моменты, состоит просто в том, что то, как вы трактуете эти позиции, в значительной мере определяет исход партии. Эти позиции более сложны, чем обычные, и в общем здесь проходит водораздел «между мальчиками и мужами».</p>
<p>Если вам что-то осталось неясным, обратитесь к принципам 102, 144 и 155.</p>
<!--p class="bpiesesSet">P N B R Q K</p-->
<p class="notification message">Тратить больше времени на обдумывание в моменты, когда решается будущее, очень важно. Важные решения требуют ответственного к себе отношения.</p>
</div> <!-- score -->
</div> <!-- section -->

<div class="section">
<h3>Принцип 158: Не тратьте много времени на рутинные ходы.</h3>
<div class="score">
<p>Этот принцип следует из предыдущего, в котором говорится о необходимости тратить больше времени на обдумывание переходных позиций, и в решающие моменты. У вас не будет дополнительного времени, если вы будет думать подолгу над рутинными ходами. Поэтому играйте дебюты, которые вы знаете, и изучайте основы стратегии, базовые окончания и типичные комбинации.</p>
<p>Во многих позициях не содержится комбинаций, и нет необходимости в продумывании планов. Эти позиции надо разыгрывать быстро — делая рутинные развивающие ходы, нацеленные на улучшение вашего положения, или рутинные же профилактические ходы, направленные на то, чтобы не позволить противнику вскрыть позицию к своей выгоде.</p>
<p>Ключевым моментом здесь, конечно же, является умение распознать, что в данной позиции не кроется ничего заслуживающего особого внимания. Это соображение находится в близкой связи со следующим принципом.</p>
<!--p class="bpiesesSet">P N B R Q K</p-->
<p class="notification message">Затрачивайте как можно меньше времени на решение рутинных задач, чтобы у вас накапливалось время, которое потребуется на прохождение сложных положений.</p>
</div> <!-- score -->
</div> <!-- section -->

<div class="section">
<h3>Принцип 159: В быстрых шахматах полагайтесь в основном на интуицию, а не на расчет.</h3>
<div class="score">
<p>Очевидно, причиной является то, что если вы начнете долго думать над комбинациями — рассчитывая все ходы и сравнивая возникающие позиции, — время у вас кончится прежде, чем вы сделаете свой выигрывающий ход.</p>
<p>Тем не менее интуиция важна и при обычном контроле, поскольку задает мыслям общее направление — какие ходы следует принимать во внимание в первую очередь и из каких планов может выйти толк. Этот принцип близок по духу к принципу 135 (верьте своей интуиции). Интуиция — это чувство, которое вызывает у вас позиция, и нарабатывается в течение всей шахматной жизни, через попытки решить любую шахматную позицию, которая попадается вам на глаза, и является итогом бесчисленных партий с мастерами. Если вы только начали играть или играете не слишком давно, ваша интуиция не будет так же хорошо развита, как она развита у опытных игроков, но это положение временное. Так что развивайте свою интуицию, и с течением времени вы сможете всё более уверенно на нее полагаться.</p>
<!--p class="bpiesesSet">P N B R Q K</p-->
<p class="notification message">Если вам нужно быстро принять решение, или вы приступаете к его обдумыванию — интуиция сыграет ключевую роль. Пусть оно так и будет.</p>
</div> <!-- score -->
</div> <!-- section -->

<div class="section">
<h3>Принцип 160: Когда ваш противник в цейтноте, не торопитесь делать свои ходы, пытаясь не дать ему думать за счет вашего времени.</h3>
<div class="score">
<p>Это очень любопытный феномен, знакомый каждому шахматисту, которому довелось играть при различных контролях времени. Некоторые игроки просто не умеют распределять свое время или в самом деле предпочитают загнать себя в условия, когда ходы приходится делать очень быстро.</p>
<p>Контроль времени, при котором выделяется два с половиной часа (даваемые каждому игроку) на первые сорок ходов и далее по часу на каждые следующие двадцать ходов, должен обеспечить достаточно времени для обдумывания любой позиции. Тогда первые сорок ходов будут сделаны за пять часов (2,5 часа плюс 2,5 часа), и партия может затянуться до глубокой ночи (дополнительные два часа на каждые следующие двадцать ходов) и в целом может продолжаться часов двенадцать, если будет сделано много ходов. В этом причина, почему такой контроль времени вышел из моды.</p>
<p>Но и при таком контроле всегда находятся игроки, которые попадают в жестокий цейтнот, когда им требуется сделать двадцать и более ходов до контрольного 40-го хода за одну минуту. Это явный случай неумения распределять время, и немало игроков страдают этим недостатком.</p>
<p>Так что же делать, если ваш противник принадлежит к так называемым «цейтнотчикам»? Лучший совет — не обращать на цейтнот противника внимания, каким бы жестким он ни был. Подобные игроки привыкли к недостатку времени и способны хорошо собой управлять, изобретая хорошие планы и находя сильные ходы буквально за секунды. Так что если вы решите сыграть в их игру, делая свои ходы в темпе блица в тщетной надежде, что у соперника «рухнет флаг», вы просто поставите себя в ту же стрессовую ситуацию, в которой находится ваш соперник.</p>
<p>Правильнее использовать накопленное вами время на неторопливое обдумывание возникающих позиций, беря в расчет только позиции и возможные комбинации. Другими словами, играйте как ни в чем не бывало. Может показаться, что тем самым вы даете своему сопернику дополнительное время на обдумывание, но в действительности вы даете это время себе. Ваш противник вынужден будет «переключать передачу», как только вы сделаете свой ход — то есть, когда вы надумаете его сделать.</p>
<p>В сущности, вы только добавите сопернику трудностей, спокойно думая над своими ходами, в то время как переход к блицу будет ему только на руку. Играйте в удобном для вас темпе, когда это возможно, и не думайте о противнике.</p>
<!--p class="bpiesesSet">P N B R Q K</p-->
<p class="notification message">Когда у вас больше ресурсов, чем у соперника, глупо их не использовать. Играйте в удобном для вас темпе, а ваш соперник пусть поступает как ему угодно.</p>
</div> <!-- score -->
</div> <!-- section -->

</div> <!-- iBook -->

{% endblock content %}

