{% extends '../../base.htm' %}
{% load static %}
{% block title %}
<title>Глава 38. Практика | {{book.title}} | {%for author in book.authors.all%} {%if author.first_name%} {{author.first_name}} {%endif%} {%if author.second_name%} {{author.second_name}} {%endif%} {%if forloop.counter == book.authors.all.count%} {{author.last_name}} {%else%} {{author.last_name}}, {%endif%} {%endfor%} | {{book.year}}</title>
{% endblock title %}
{% block content %}

<div class="iBook">

<div class="section">
<h2>Глава 38. ПРАКТИКА</h2>
<div class="score">
<blockquote>
«Я был не прав, когда полагал, что смогу собрать шахматы и запрятать их подальше в стеклянный ящик».
<p style="text-align:right;"><i>Адольф Андерсен, после поражения от Пола Морфи в 1858 году</i></p>
</blockquote>
<p class="notification message">Вы научитесь принимать правильные решения после того, как примете много решений. Если они окажутся неверными, вы это отметите и никогда не повторите раз сделанные ошибки. Если же они себя оправдают, то вы возьмете их себе на заметку и будете принимать схожие решения в схожих обстоятельствах.</p>
</div> <!-- score -->
</div> <!-- section -->

<div class="section">
<h3>Принцип 179: Практика — путь к совершенству.</h3>
<div class="score">
<p>Это мантра музыкантов. И этот принцип должен бы стать мантрой всякого, кто хочет делать что-либо хорошо. Хотя совершенство редко достижимо, к нему мы стремимся, стараясь быть настолько хорошими, насколько это возможно. Но, разумеется, эта практика должна быть основана на здоровых принципах.</p>
<p>Частая игра в шахматы не поможет вам, если вы будете совершать вновь и вновь одни те же ошибки. Практика полезна только тогда, когда сопровождается критическим анализом каждого выступления.</p>
<p>Поэтому, чтобы улучшить свою игру через практику, нужно сыграть множество разных партий против разных соперников. Это первый шаг. Шаг номер два заключается в критическом анализе каждого хода в каждой партии. Этот шаг важен в плане любого улучшения, к которому вы стремитесь. Без этого ваша практика не практика, а просто повторение пройденного. А это далеко не одно и то же.</p>
<p>Второй шаг очень важен. Именно критический разбор своих решений позволяет вам улучшить свою игру. Но, конечно, такой разбор невозможен, если решения не принимались. Поэтому вы должны играть, чтобы получать позиции для критического анализа. Вот для этого и нужна практика — играть и критически разбирать свою игру.</p>
<!--p class="bpiesesSet">P N B R Q K</p-->
<p class="notification message">Исполнение необходимо для того, чтобы добиться совершенного исполнения. Но критический разбор также необходим, чтобы извлечь пользу из опыта. Только комплексный подход дает шанс достигнуть совершенства.</p>
</div> <!-- score -->
</div> <!-- section -->

<div class="section">
<h3>Принцип 180: Сначала разыграйте дебют, а затем посмотрите, что думает о нем теория.</h3>
<div class="score">
<p>Многие шахматисты подходят к этой проблеме с точностью до наоборот. Они изучают дебюты для нахождения правильных путей, а затем берут их на вооружение.</p>
<p>Недостаток такого подхода в том, что вам приходится механически запоминать слишком много вариантов без фактического понимания, что при этом происходит. В запоминании — самом по себе — нет ничего плохого; но механическое заучивание без понимания происходящего умным не назовешь. Уж очень легко сделать тот же ход в цепочке, как он запомнился, хотя соперник чуть изменил ее порядок. Но при ином порядке ходов может измениться и рисунок игры, и то, что выигрывало при одном раскладе, проигрывает при другом.</p>
<p>Но разыгрывание дебюта со свежим на него взглядом, если вы не слишком хорошо его знаете, заставит вас думать над каждым ходом и внутренне обосновывать избираемый порядок ходов. Ваши ходы и/или порядок ходов могут быть не лучшими, но, во всяком случае, они будут осмысленными. Позднее, узнав, как играли мастера в подобных положениях, вы узнаете не только то, насколько сильными были ваши ходы, но также и ходы, считающиеся сильнейшими, и, что более важно, почему они таковыми считаются.</p>
<!--p class="bpiesesSet">P N B R Q K</p-->
<p class="notification message">Учитесь как методом проб и ошибок, так и посредством использования советов мастеров (получаемых из книг, медиа или при личном общении). Так вы научитесь анализировать и поймете, какие соображения следует принимать во внимание и почему.</p>
</div> <!-- score -->
</div> <!-- section -->

<div class="section">
<h3>Принцип 181: Ничто не учит так быстро, как разгромное поражение от сильного игрока.</h3>
<div class="score">
<p>Если вы любите выигрывать, то можете поступить двумя разными способами. Играть со слабыми игроками, которых вы наверняка обыграете, или играть с сильными, чтобы учиться на своих поражениях. Первый способ удовлетворит ваше эго, но второй даст больше на перспективу.</p>
<p>Если вы действительно хотите усилить свою игру, то вы больше узнаете из поражений, чем из большинства своих выигрышей. Одна причина этого феномена в том, что вы сможете понять методы, которые позволили сильному противнику добиться победы (вы сопротивлялись как могли, но проиграли. В следующий раз используйте стратегию противника сами). Другая причина в том, что поражения ранят. Они не позволяют чувствовать себя комфортно или чересчур умным. Это заставляет вас работать больше, чтобы добиться победы в следующей партии. И результатом явится то, что в конечном счете вы повысите свой уровень до уровня вашего соперника.</p>
<p>Учитывая вышесказанное, разве есть смысл в том, чтобы постоянно играть с теми, кто не может ничего предложить, кроме слабого сопротивления всякий раз, когда вы переходите в атаку?</p>
<!--p class="bpiesesSet">P N B R Q K</p-->
<p class="notification message">В любом соревновании старайтесь найти самое трудное противостояние всякий раз, когда вам захочется чему-нибудь научиться. При таком подходе вы не только усилите свою игру, но каждый выигрыш будет по-настоящему хорош, в нем будет ощущаться рука мастера.</p>
</div> <!-- score -->
</div> <!-- section -->

<div class="section">
<h3>Принцип 182: Всегда играйте на пределе возможностей.</h3>
<div class="score">
<p>Этот принцип не вызывает возражений, за исключением тех случаев, когда вы испытываете искушение сыграть не лучшим образом, чтобы дать неопытному или более слабому противнику шанс. Это искушение следует преодолеть.</p>
<p>Во-первых, это будет означать, что к своему сопернику вы относитесь свысока. Во-вторых, у вашего молодого или неопытного соперника может появиться ложное впечатление, что он хорошо играет. В-третьих, любой следующий выигрыш вашего противника «по-честному» будет обесценен. Так же, как вы хотите быть уверены в заслуженности своих побед, так хотят этого и ваши соперники.</p>
<p>В ситуациях, когда в игре нет особого смысла, поскольку вы намного сильнее своего соперника, лучше играть в полную силу, но с гандикапом. Годятся и другие подходы, лишь бы они были на пользу. Установите для себя меньше времени, играйте вслепую или поступите в старых добрых традициях — снимите у себя пешку, коня, ладью или даже ферзя. В таких партиях с форой есть определенный смысл, из них в определенных ситуациях можно извлечь пользу.</p>
<p>Чтобы лучше понять данный принцип, просто представьте себе противоположную ситуацию — когда ваш партнер гораздо сильнее вас. Что бы вы предпочли? Пусть он делает слабые ходы? Или пусть играет в полную силу? Если он будет поддаваться, зачем вообще играть? Просто сыграйте с кем-нибудь послабее.</p>
<!--p class="bpiesesSet">P N B R Q K</p-->
<p class="notification message">Не играйте в соревновательные шахматы, если вы не собираетесь соревноваться. Нет оправданий слабым ходам, сделанным нарочно для того, чтобы проиграть.</p>
</div> <!-- score -->
</div> <!-- section -->

<div class="section">
<h3>Принцип 183: Практикуйтесь в разыгрывании окончаний, если вы хотите овладеть умением игры в дебюте и миттельшпиле.</h3>
<div class="score">
<p>Окончания заключают в себе основы шахматной игры, но изучаются большинством игроков меньше всего.</p>
<p>Эндшпиль — всему голова, потому что основан на простейших позициях. Как можно понять тонкости игры в дебюте или миттельшпиле, если вы не понимаете эндшпиль, которым кончаются первые две стадии шахматной партии? Если вы не понимаете, как слоны борются с конями в простейших окончаниях (например, слоны и пешки против коней и пешек), как вы поймете хитросплетения миттельшпильных позиций, где у каждой стороны есть по полному комплекту фигур?</p>
<p>Обратимся еще раз к принципу 89 и диаграмме на с. 114. Позиции с испорченным пешечным большинством против здорового нередко возникают в эндшпиле, а в одном варианте она возникает по определению: это разменный вариант Испанской партии (<b>1.e4 e5 2.Кf3 Кc6 3.Сb5 a6 4.С:c6 d:c6</b>) — см. принцип 109.</p>
<p>Многие дебютные и миттельшпильные идеи находят свое выражение в возникающих эндшпильных позициях. Поэтому необходимо знать базовые окончания для того, чтобы понимать предыдущую игру.</p>
<p>Эндшпиль изучают мало, потому что его базовые позиции возникают реже, чем любимые позиции и схемы дебюта и миттельшпиля, а потому кажутся менее важными. Но лень и недостаток понимания не должны скрывать от вас то значение, которое имеет знание базовых позиций эндшпиля.</p>
<!--p class="bpiesesSet">P N B R Q K</p-->
<p class="notification message">Не понимая кирпичиков, из которых состоит любая дисциплина, вам не понять ее совокупное назначение. Так, чтобы овладеть игрой на пианино, необходимо освоить гаммы, арпеджио и т. п., в то время как в шахматах нужно знать базовые эндшпильные позиции для того, чтобы разбираться в тонкостях происходящего во всех стадиях партии.</p>
</div> <!-- score -->
</div> <!-- section -->

</div> <!-- iBook -->

{% endblock content %}

