{% extends '../../base.htm' %}
{% load static %}
{% block title %}
<title>28. Романовский — Терпугов | Защита Чигорина | Турнир, Москва, 1951 г. | {{book.title}} | {%for author in book.authors.all%} {%if author.first_name%} {{author.first_name}} {%endif%} {%if author.second_name%} {{author.second_name}} {%endif%} {%if forloop.counter == book.authors.all.count%} {{author.last_name}} {%else%} {{author.last_name}}, {%endif%} {%endfor%} | {{book.year}}</title>
{% endblock title %}
{% block content %}

<div class="iBook">

<div class="section"><div class="chessBoard small floater" data-start-fen="rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w KQkq - 0 1"></div>
<div class="score">
 <span class="line0" onclick='loadMove("rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w KQkq - 0 1", this, ""); '>[...]</span> 
<p class="capTop diagram"><span class="opening">№ 28. Защита Чигорина</span><br /><strong>Романовский — Терпугов</strong><br />Турнир, Москва, 1951 г.</p>
<p class="longNotation">
 <span onclick='loadMove("rnbqkbnr/pppppppp/8/8/3P4/8/PPP1PPPP/RNBQKBNR b KQkq d3 0 1", this, "d2d4"); ' class="line0">1.d2-d4</span> 
 <span onclick='loadMove("rnbqkbnr/ppp1pppp/8/3p4/3P4/8/PPP1PPPP/RNBQKBNR w KQkq d6 0 2", this, "d7d5"); ' class="line0">d7-d5</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("rnbqkbnr/ppp1pppp/8/3p4/3P4/5N2/PPP1PPPP/RNBQKB1R b KQkq - 0 2", this, "g1f3"); ' class="line0">2.Кg1-f3</span> 
 <span onclick='loadMove("r1bqkbnr/ppp1pppp/2n5/3p4/3P4/5N2/PPP1PPPP/RNBQKB1R w KQkq - 0 3", this, "b8c6"); ' class="line0">Кb8-c6</span> 
</p>
<p>Терпугов большой любитель защиты Чигорина. Пытался и я не раз следовать путями Михаила Ивановича, но, увы, в его защите меня регулярно преследовали трудности.</p>
<p>Правда, ни одной партии, где я избирал защиту Чигорина, я не проиграл, но почти ни одной и не выиграл.</p>
<p>Вспоминаю свои две ничьи — с Бондаревским (полуфинал XI первенства СССР, 1938 г ) и с Котовым (финал XI первенства СССР). Во всех этих партиях я был недалек от поражения. Проблему защиты Чигорина я не раз ставил в качестве задания своим ученикам; мы вместе подвергали ее тщательным теоретическим исследованиям, и все же выявить полностью ее положительные стороны нам не удалось. На практике всегда инициатива была у белых. В анализах мы находили кое-какие тактические возможности за черных, но дальше этого дело не шло. Смущало нас и то обстоятельство, что чемпион мира Алехин никогда не применял эту защиту за черных и даже как-то высказался, что после
 <span onclick='loadMove("rnbqkbnr/pppppppp/8/8/3P4/8/PPP1PPPP/RNBQKBNR b KQkq d3 0 1", this, "d2d4"); ' class="line1">1.d4</span> 
 <span onclick='loadMove("rnbqkbnr/ppp1pppp/8/3p4/3P4/8/PPP1PPPP/RNBQKBNR w KQkq d6 0 2", this, "d7d5"); ' class="line1">d5</span> 
 <span onclick='loadMove("rnbqkbnr/ppp1pppp/8/3p4/2PP4/8/PP2PPPP/RNBQKBNR b KQkq c3 0 2", this, "c2c4"); ' class="line1">2.c4</span> 
 <span onclick='loadMove("r1bqkbnr/ppp1pppp/2n5/3p4/2PP4/8/PP2PPPP/RNBQKBNR w KQkq - 0 3", this, "b8c6"); ' class="line1">Кc6</span> 
 <span onclick='loadMove("r1bqkbnr/ppp1pppp/2n5/3p4/2PP4/5N2/PP2PPPP/RNBQKB1R b KQkq - 0 3", this, "g1f3"); ' class="line1">3.Кf3</span> 
 <span onclick='loadMove("r2qkbnr/ppp1pppp/2n5/3p4/2PP2b1/5N2/PP2PPPP/RNBQKB1R w KQkq - 0 4", this, "c8g4"); ' class="line1">Сg4</span> 
 <span onclick='loadMove("r2qkbnr/ppp1pppp/2n5/3p4/Q1PP2b1/5N2/PP2PPPP/RNB1KB1R b KQkq - 0 4", this, "d1a4"); ' class="line1">4.Фa4</span> 
белым обеспечена длительная инициатива. Кажется, и сам Чигорин за последние годы своей жизни почти не прибегал к ходу
 <span onclick='loadMove("r1bqkbnr/ppp1pppp/2n5/3p4/2PP4/8/PP2PPPP/RNBQKBNR w KQkq - 0 3", this, "b8c6"); ' class="line1">2...Кc6</span> 
.</p>
<p>В партии <b>Фюштер — Бронштейн</b> (Матч Москва — Прага 1949 г.) советский гроссмейстер блеснул новой идеей (
 <span onclick='loadMove("r2qkbnr/ppp1pppp/2n5/3p4/Q1PP2b1/5N2/PP2PPPP/RNB1KB1R b KQkq - 0 4", this, "d1a4"); ' class="line2">4.Фa4</span> 
 <span onclick='loadMove("r2qkbnr/ppp1pppp/2n5/3p4/Q1PP4/5b2/PP2PPPP/RNB1KB1R w KQkq - 0 5", this, "g4f3"); ' class="line2">С:f3</span> 
 <span onclick='loadMove("r2qkbnr/ppp1pppp/2n5/3p4/Q1PP4/5P2/PP3PPP/RNB1KB1R b KQkq - 0 5", this, "e2f3"); ' class="line2">5.ef</span> 
 <span onclick='loadMove("r2qkbnr/ppp2ppp/2n1p3/3p4/Q1PP4/5P2/PP3PPP/RNB1KB1R w KQkq - 0 6", this, "e7e6"); ' class="line2">e6</span> 
 <span onclick='loadMove("r2qkbnr/ppp2ppp/2n1p3/3p4/Q1PP4/2N2P2/PP3PPP/R1B1KB1R b KQkq - 0 6", this, "b1c3"); ' class="line2">6.Кc3</span> 
 <span onclick='loadMove("r2qkb1r/ppp1nppp/2n1p3/3p4/Q1PP4/2N2P2/PP3PPP/R1B1KB1R w KQkq - 0 7", this, "g8e7"); ' class="line2">Кe7</span> 
 <span onclick='loadMove("r2qkb1r/ppp1nppp/2n1p3/3p4/Q1PP4/2N1BP2/PP3PPP/R3KB1R b KQkq - 0 7", this, "c1e3"); ' class="line2">7.Сe3</span> 
 <span onclick='loadMove("r2qkb1r/ppp1np1p/2n1p1p1/3p4/Q1PP4/2N1BP2/PP3PPP/R3KB1R w KQkq - 0 8", this, "g7g6"); ' class="line2">g6!</span> 
и т.д.) и добился успеха. Это событие несколько обогатило возможности черных в защите Чигорина; Фюштер, однако, с моей точки зрения, провел дебютную часть партии и особенно переходной этап от дебюта к середине весьма несовершенно.</p>
<p>Все это побудило меня искать случая сыграть эту систему, чтобы воочию ощутить выгоды ее для белых. Надо было, конечно, иметь в этом случае противника, и принципиально отстаивающего «защиту Чигорина» и практически накопившего в данном вопросе некоторый опыт. Таким именно и был Е. Терпугов.</p>
<p class="longNotation">
 <span onclick='loadMove("r1bqkbnr/ppp1pppp/2n5/3p4/2PP4/5N2/PP2PPPP/RNBQKB1R b KQkq c3 0 3", this, "c2c4"); ' class="line0">3.c2-c4</span> 
 <span onclick='loadMove("r2qkbnr/ppp1pppp/2n5/3p4/2PP2b1/5N2/PP2PPPP/RNBQKB1R w KQkq - 0 4", this, "c8g4"); ' class="line0">Сc8-g4</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("r2qkbnr/ppp1pppp/2n5/3p4/2PP2b1/2N2N2/PP2PPPP/R1BQKB1R b KQkq - 0 4", this, "b1c3"); ' class="line0">4.Кb1-c3</span> 
 <span class="ellipsis0">...</span> 
</p>
<p>Но не
 <span onclick='loadMove("r2qkbnr/ppp1pppp/2n5/3P4/3P2b1/5N2/PP2PPPP/RNBQKB1R b KQkq - 0 4", this, "c4d5"); ' class="line1">4.cd</span> 
, как играли Пильсбери и Тейхман против Чигорина, на что последний отвечал
 <span onclick='loadMove("r2qkbnr/ppp1pppp/2n5/3P4/3P4/5b2/PP2PPPP/RNBQKB1R w KQkq - 0 5", this, "g4f3"); ' class="line1">4...С:f3</span> 
 <span onclick='loadMove("r2qkbnr/ppp1pppp/2P5/8/3P4/5b2/PP2PPPP/RNBQKB1R b KQkq - 0 5", this, "d5c6"); ' class="line1">5.dc</span> 
 <span onclick='loadMove("r2qkbnr/ppp1pppp/2b5/8/3P4/8/PP2PPPP/RNBQKB1R w KQkq - 0 6", this, "f3c6"); ' class="line1">С:c6</span> 
и не
 <span onclick='loadMove("r2qkbnr/ppp1pppp/2n5/3p4/Q1PP2b1/5N2/PP2PPPP/RNB1KB1R b KQkq - 0 4", this, "d1a4"); ' class="line1">4.Фa4</span> 
, рекомендуемое Алехиным (что, по моему мнению, тоже хорошо), чтобы заставить черных уже сейчас решать вопрос о выгоде размена
 <span onclick='loadMove("r2qkbnr/ppp1pppp/2n5/3p4/Q1PP4/5b2/PP2PPPP/RNB1KB1R w KQkq - 0 5", this, "g4f3"); ' class="line1">4...С:f3</span> 
 <span onclick='loadMove("r2qkbnr/ppp1pppp/2n5/3p4/Q1PP4/5P2/PP2PP1P/RNB1KB1R b KQkq - 0 5", this, "g2f3"); ' class="line1">5.gf!</span> 
.</p>
<p class="longNotation">
 <span class="ellipsis0">4. ...</span> 
 <span onclick='loadMove("r2qkbnr/ppp2ppp/2n1p3/3p4/2PP2b1/2N2N2/PP2PPPP/R1BQKB1R w KQkq - 0 5", this, "e7e6"); ' class="line0">e7-e6</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("r2qkbnr/ppp2ppp/2n1p3/3p4/Q1PP2b1/2N2N2/PP2PPPP/R1B1KB1R b KQkq - 0 5", this, "d1a4"); ' class="line0">5.Фd1-a4</span> 
 <span onclick='loadMove("r3kbnr/pppq1ppp/2n1p3/3p4/Q1PP2b1/2N2N2/PP2PPPP/R1B1KB1R w KQkq - 0 6", this, "d8d7"); ' class="line0">Фd8-d7</span> 
</p>
<p>На
 <span onclick='loadMove("r2qkbnr/ppp2ppp/2n1p3/3p4/Q1PP4/2N2b2/PP2PPPP/R1B1KB1R w KQkq - 0 6", this, "g4f3"); ' class="line1">5...С:f3</span> 
я взял бы пешкой «g».</p>
<p class="longNotation">
 <span onclick='loadMove("r3kbnr/pppq1ppp/2n1p3/3P4/Q2P2b1/2N2N2/PP2PPPP/R1B1KB1R b KQkq - 0 6", this, "c4d5"); ' class="line0">6.c4:d5</span> 
 <span onclick='loadMove("r3kbnr/pppq1ppp/2n5/3p4/Q2P2b1/2N2N2/PP2PPPP/R1B1KB1R w KQkq - 0 7", this, "e6d5"); ' class="line0">e6:d5</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("r3kbnr/pppq1ppp/2n5/3p4/Q2P1Bb1/2N2N2/PP2PPPP/R3KB1R b KQkq - 0 7", this, "c1f4"); ' class="line0">7.Сc1-f4</span> 
 <span class="ellipsis0">...</span> 
</p>
<p>План белых выясняется: они намерены предпринять энергичное нападение на ферзевый фланг противника, в частности на пункт c6. Имеются в виду ходы <b>Лc1</b>, <b>e3</b>, <b>Сb5</b> и другие, в зависимости от того, как на эту атаку будут реагировать черные.</p>
<p class="longNotation">
 <span class="ellipsis0">7. ...</span> 
 <span onclick='loadMove("r3kb1r/pppq1ppp/2n2n2/3p4/Q2P1Bb1/2N2N2/PP2PPPP/R3KB1R w KQkq - 0 8", this, "g8f6"); ' class="line0">Кg8-f6</span> 
</p>
<p>Пока что черные никак не реагируют (и напрасно!) на замысел белых, иначе они предпочли бы здесь
 <span onclick='loadMove("r3kb1r/pppqnppp/2n5/3p4/Q2P1Bb1/2N2N2/PP2PPPP/R3KB1R w KQkq - 0 8", this, "g8e7"); ' class="line1">7...Кge7</span> 
.</p>
<p class="longNotation">
 <span onclick='loadMove("r3kb1r/pppq1ppp/2n2n2/3p4/Q2P1Bb1/2N1PN2/PP3PPP/R3KB1R b KQkq - 0 8", this, "e2e3"); ' class="line0">8.e2-e3</span> 
 <span onclick='loadMove("r3kb1r/pppq1ppp/5n2/3p4/Qn1P1Bb1/2N1PN2/PP3PPP/R3KB1R w KQkq - 0 9", this, "c6b4"); ' class="line0">Кc6-b4</span> 
</p>
<p>Остроумная тактическая идея, являющаяся, пожалуй, единственным возражением на угрозу <b>Сb5</b>. Однако и таким путем черным не удастся избавиться от трудностей, незаметно возникших в их позиции.</p>
<p class="longNotation">
 <span onclick='loadMove("r3kb1r/pppq1ppp/5n2/1B1p4/Qn1P1Bb1/2N1PN2/PP3PPP/R3K2R b KQkq - 0 9", this, "f1b5"); ' class="line0">9.Сf1-b5</span> 
 <span class="ellipsis0">...</span> 
</p>
<p>Напрашивалось
 <span onclick='loadMove("r3kb1r/pppq1ppp/5n2/1N1p4/Qn1P1Bb1/4PN2/PP3PPP/R3KB1R b KQkq - 0 9", this, "c3b5"); ' class="line1">9.Кb5</span> 
, но черные, несомненно, предусматривали этот ход и ответили бы на него
 <span onclick='loadMove("r3kb1r/pppq1ppp/n4n2/1N1p4/Q2P1Bb1/4PN2/PP3PPP/R3KB1R w KQkq - 0 10", this, "b4a6"); ' class="line1">9...Кa6</span> 
и если
 <span onclick='loadMove("r3kb1r/pppq1ppp/n4n2/1N1pN3/Q2P1Bb1/4P3/PP3PPP/R3KB1R b KQkq - 0 10", this, "f3e5"); ' class="line1">10.Кe5</span> 
, то
 <span onclick='loadMove("r3k2r/pppq1ppp/n4n2/1N1pN3/Qb1P1Bb1/4P3/PP3PPP/R3KB1R w KQkq - 0 11", this, "f8b4"); ' class="line1">10...Сb4+</span> 
.</p>
<p class="longNotation">
 <span class="ellipsis0">9. ...</span> 
 <span onclick='loadMove("r3kb1r/pp1q1ppp/2p2n2/1B1p4/Qn1P1Bb1/2N1PN2/PP3PPP/R3K2R w KQkq - 0 10", this, "c7c6"); ' class="line0">c7-c6</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("r3kb1r/pp1q1ppp/2p2n2/3p4/Qn1P1Bb1/2N1PN2/PP2BPPP/R3K2R b KQkq - 0 10", this, "b5e2"); ' class="line0">10.Сb5-e2</span> 
 <span class="ellipsis0">...</span> 
</p>
<p>Теперь конь на b4 попал в неловкое положение —
 <!--span onclick='loadMove("r3kb1r/pp1q1ppp/2p2n2/3p4/Qn1P1Bb1/2N1PN2/PP2BPPP/R3K2R w KQkq - 0 11", this, "b5e2"); ' class="line1">10...z0</span--> 
грозит
 <span onclick='loadMove("r3kb1r/pp1q1ppp/2p2n2/3p4/Qn1P1Bb1/P1N1PN2/1P2BPPP/R3K2R b KQkq - 0 11", this, "a2a3"); ' class="line1">11.a3</span> 
.</p>
<p class="longNotation">
 <span class="ellipsis0">10. ...</span> 
 <span onclick='loadMove("r3kb1r/pp1q1ppp/2p2n2/3p4/Qn1P1B2/2N1Pb2/PP2BPPP/R3K2R w KQkq - 0 11", this, "g4f3"); ' class="line0">Сg4:f3</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("r3kb1r/pp1q1ppp/2p2n2/3p4/Qn1P1B2/2N1PP2/PP2BP1P/R3K2R b KQkq - 0 11", this, "g2f3"); ' class="line0">11.g2:f3</span> 
 <span onclick='loadMove("r3kb1r/pp3ppp/2p2n2/3p1q2/Qn1P1B2/2N1PP2/PP2BP1P/R3K2R w KQkq - 0 12", this, "d7f5"); ' class="line0">Фd7-f5</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("r3kb1r/pp3ppp/2p2n2/3p1q2/Qn1P1B2/2N1PP2/PP1KBP1P/R6R b kq - 0 12", this, "e1d2"); ' class="line0">12.Крe1-d2</span> 
 <span class="ellipsis0">...</span> 
</p>
<p>Вынуждено, но не плохо. Белые лишились рокировки, но мобилизация ладей от этого не задерживается, крупный же пешечный заслон надежно прикрывает короля и в центре.
 <span onclick='loadMove("r3kb1r/pp3ppp/2p2n2/3p1q2/Qn1P1B2/2N1PP2/PP2BP1P/2R1K2R b Kkq - 0 12", this, "a1c1"); ' class="line1">12.Лc1</span> 
допускало
 <span onclick='loadMove("r3kb1r/pp3ppp/2p2n2/3p1q2/Q2P1B2/2NnPP2/PP2BP1P/2R1K2R w Kkq - 0 13", this, "b4d3"); ' class="line1">12...Кd3+</span> 
,
а на
 <span onclick='loadMove("r3kb1r/pp3ppp/2p2n2/3p1q2/Qn1P1B2/2N1PP2/PP2BP1P/2KR3R b kq - 0 12", this, "e1c1"); ' class="line1">12.0-0-0</span> 
могло последовать
 <span onclick='loadMove("r3kb1r/p4ppp/2p2n2/1p1p1q2/Qn1P1B2/2N1PP2/PP2BP1P/2KR3R w kq b6 0 13", this, "b7b5"); ' class="line1">12...b5</span> 
 <span onclick='loadMove("r3kb1r/p4ppp/2p2n2/1p1p1q2/1n1P1B2/1QN1PP2/PP2BP1P/2KR3R b kq - 0 13", this, "a4b3"); ' class="line1">13.Фb3</span> 
 <span onclick='loadMove("r3kb1r/5ppp/2p2n2/pp1p1q2/1n1P1B2/1QN1PP2/PP2BP1P/2KR3R w kq a6 0 14", this, "a7a5"); ' class="line1">a5</span> 
 <span onclick='loadMove("r3kb1r/5ppp/2p2n2/pp1p1q2/Pn1P1B2/1QN1PP2/1P2BP1P/2KR3R b kq a3 0 14", this, "a2a4"); ' class="line1">14.a4</span> 
 <span onclick='loadMove("r3kb1r/5ppp/2p2n2/p2p1q2/pn1P1B2/1QN1PP2/1P2BP1P/2KR3R w kq - 0 15", this, "b5a4"); ' class="line1">ba</span> 
и положение черного коня на b4 очень сильно.</p>
<p class="longNotation">
 <span class="ellipsis0">12. ...</span> 
 <span onclick='loadMove("r3kb1r/pp1n1ppp/2p5/3p1q2/Qn1P1B2/2N1PP2/PP1KBP1P/R6R w kq - 0 13", this, "f6d7"); ' class="line0">Кf6-d7</span> 
</p>
<p>Остроумный ход, идея которого обнаруживается в варианте
 <span onclick='loadMove("r3kb1r/pp1n1ppp/2p5/3p1q2/Qn1P1B2/P1N1PP2/1P1KBP1P/R6R b kq - 0 13", this, "a2a3"); ' class="line1">13.a3</span> 
 <span onclick='loadMove("r3kb1r/pp3ppp/1np5/3p1q2/Qn1P1B2/P1N1PP2/1P1KBP1P/R6R w kq - 0 14", this, "d7b6"); ' class="line1">Кb6</span> 
 <span onclick='loadMove("r3kb1r/pp3ppp/1np5/3p1q2/1n1P1B2/PQN1PP2/1P1KBP1P/R6R b kq - 0 14", this, "a4b3"); ' class="line1">14.Фb3</span> 
 <span onclick='loadMove("r3kb1r/pp3ppp/2p5/3p1q2/1nnP1B2/PQN1PP2/1P1KBP1P/R6R w kq - 0 15", this, "b6c4"); ' class="line1">Кc4+</span> 
и т. д.,
однако и здесь после
 <span onclick='loadMove("r3kb1r/pp3ppp/1np5/3p1q2/1n1P1B2/P1N1PP2/1P1KBP1P/R2Q3R b kq - 0 14", this, "a4d1"); ' class="line2">14.Фd1</span> 
у черных ничего бы не получилось.</p>
<p class="longNotation">
 <span onclick='loadMove("r3kb1r/pp1n1ppp/2p5/3p1q2/Qn1P1B2/2N1PP2/PP1KBP1P/2R4R b kq - 0 13", this, "a1c1"); ' class="line0">13.Лa1-c1</span> 
 <span class="ellipsis0">...</span> 
</p>
<p>Развивая фигуру и избавляя ферзя от необходимости контролировать поле c2.</p>
<p class="longNotation">
 <span class="ellipsis0">13. ...</span> 
 <span onclick='loadMove("r3k2r/pp1nbppp/2p5/3p1q2/Qn1P1B2/2N1PP2/PP1KBP1P/2R4R w kq - 0 14", this, "f8e7"); ' class="line0">Сf8-e7</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("r3k2r/pp1nbppp/2p5/3p1q2/Qn1P1B2/P1N1PP2/1P1KBP1P/2R4R b kq - 0 14", this, "a2a3"); ' class="line0">14.a2-a3</span> 
 <span onclick='loadMove("r3k2r/pp2bppp/1np5/3p1q2/Qn1P1B2/P1N1PP2/1P1KBP1P/2R4R w kq - 0 15", this, "d7b6"); ' class="line0">Кd7-b6</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("r3k2r/pp2bppp/1np5/3p1q2/1n1P1B2/PQN1PP2/1P1KBP1P/2R4R b kq - 0 15", this, "a4b3"); ' class="line0">15.Фa4-b3</span> 
 <span onclick='loadMove("r3k2r/pp2bppp/nnp5/3p1q2/3P1B2/PQN1PP2/1P1KBP1P/2R4R w kq - 0 16", this, "b4a6"); ' class="line0">Кb4-a6</span> 
</p>
<p>Здесь я оказался на распутье. Небольшая тактическая инициатива черных, как и следовало ожидать, ничем не завершилась, и перед белыми во всей широте встал вопрос о плане наступления.</p>
<!--[FEN "r3k2r/pp2bppp/nnp5/3p1q2/3P1B2/PQN1PP2/1P1KBP1P/2R4R w kq - 0 1"]-->
<div class="chessBoard analysis nobuttons" data-start-fen="r3k2r/pp2bppp/nnp5/3p1q2/3P1B2/PQN1PP2/1P1KBP1P/2R4R w kq - 0 16"></div>
<p>Первое, что я рассмотрел, был план наступления на ферзевом фланге. Он сулил сравнительно скорый и верный успех. Были возможны следующие продолжения:</p>
<p>
 <span onclick='loadMove("r3k2r/pp2bppp/nnp5/3p1q2/N2P1B2/PQ2PP2/1P1KBP1P/2R4R b kq - 0 16", this, "c3a4"); ' class="line1">16.Кa4</span> 
 <span onclick='loadMove("r2bk2r/pp3ppp/nnp5/3p1q2/N2P1B2/PQ2PP2/1P1KBP1P/2R4R w kq - 0 17", this, "e7d8"); ' class="line1">Сd8</span> 
(На
 <span onclick='loadMove("r3k2r/pp2bppp/n1p5/3p1q2/n2P1B2/PQ2PP2/1P1KBP1P/2R4R w kq - 0 17", this, "b6a4"); ' class="line2">16...К:a4</span> 
сильно
 <span onclick='loadMove("r3k2r/pQ2bppp/n1p5/3p1q2/n2P1B2/P3PP2/1P1KBP1P/2R4R b kq - 0 17", this, "b3b7"); ' class="line2">17.Ф:b7</span> 
)
 <span onclick='loadMove("r2bk2r/pp3ppp/nnp5/2Np1q2/3P1B2/PQ2PP2/1P1KBP1P/2R4R b kq - 0 17", this, "a4c5"); ' class="line1">17.Кc5</span> 
 <span onclick='loadMove("r1qbk2r/pp3ppp/nnp5/2Np4/3P1B2/PQ2PP2/1P1KBP1P/2R4R w kq - 0 18", this, "f5c8"); ' class="line1">Фc8</span> 
 <span onclick='loadMove("r1qbk2r/pp3ppp/Nnp5/3p4/3P1B2/PQ2PP2/1P1KBP1P/2R4R b kq - 0 18", this, "c5a6"); ' class="line1">18.К:a6</span> 
 <span onclick='loadMove("r1qbk2r/p4ppp/pnp5/3p4/3P1B2/PQ2PP2/1P1KBP1P/2R4R w kq - 0 19", this, "b7a6"); ' class="line1">ba</span> 
 <span onclick='loadMove("r1qbk2r/p4ppp/pnp5/3p4/3P1B2/PQ2PP2/1PRKBP1P/7R b kq - 0 19", this, "c1c2"); ' class="line1">19.Лc2</span> 
 <!--span onclick='loadMove("r1qbk2r/p4ppp/pnp5/3p4/3P1B2/PQ2PP2/1PRKBP1P/7R w kq - 0 20", this, "c1c2"); ' class="line1">z0</span--> 
и затем
 <span onclick='loadMove("r1qbk2r/p4ppp/pnp5/3p4/3P1B2/PQ2PP2/1PRKBP1P/2R5 b kq - 0 20", this, "h1c1"); ' class="line1">20.Лhc1</span> 
.
Едва ли корректна жертва пешки
 <span onclick='loadMove("r3k2r/pp2bppp/nnp5/3p1q2/N2P1B2/PQ2PP2/1P1KBP1P/2R4R b kq - 0 16", this, "c3a4"); ' class="line1">16.Кa4</span> 
 <span onclick='loadMove("r4rk1/pp2bppp/nnp5/3p1q2/N2P1B2/PQ2PP2/1P1KBP1P/2R4R w - - 0 17", this, "e8g8"); ' class="line1">0-0</span> 
 <span onclick='loadMove("r4rk1/pp2bppp/nNp5/3p1q2/3P1B2/PQ2PP2/1P1KBP1P/2R4R b - - 0 17", this, "a4b6"); ' class="line1">17.К:b6</span> 
 <span onclick='loadMove("r4rk1/1p2bppp/npp5/3p1q2/3P1B2/PQ2PP2/1P1KBP1P/2R4R w - - 0 18", this, "a7b6"); ' class="line1">ab</span> 
 <span onclick='loadMove("r4rk1/1p2bppp/nQp5/3p1q2/3P1B2/P3PP2/1P1KBP1P/2R4R b - - 0 18", this, "b3b6"); ' class="line1">18.Ф:b6</span> 
. Все это было достаточно убедительно, но меня тянуло к другой игре.</p>
<p>Я начал рассматривать возможности, связанные с открытой линией «g», и хотя в этом случае пришлось бы считаться со встречной игрой <b>c6-c5</b>, они показались мне богаче и интересней, чем погоня за пешкой на ферзевом фланге. Через день я показал эту партию В. Рагозину, и он упрекнул меня за то, что я не выбрал спокойного пути с ходом
 <span onclick='loadMove("r3k2r/pp2bppp/nnp5/3p1q2/N2P1B2/PQ2PP2/1P1KBP1P/2R4R b kq - 0 16", this, "c3a4"); ' class="line1">16.Кa4</span> 
.</p>
<p class="longNotation">
 <span onclick='loadMove("r3k2r/pp2bppp/nnp5/3p1q2/3P1B1P/PQN1PP2/1P1KBP2/2R4R b kq h3 0 16", this, "h2h4"); ' class="line0">16.h2-h4</span> 
 <span onclick='loadMove("r4rk1/pp2bppp/nnp5/3p1q2/3P1B1P/PQN1PP2/1P1KBP2/2R4R w - - 0 17", this, "e8g8"); ' class="line0">0-0</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("r4rk1/pp2bppp/nnp5/3p1q2/3P1B1P/PQNBPP2/1P1K1P2/2R4R b - - 0 17", this, "e2d3"); ' class="line0">17.Сe2-d3</span> 
 <span onclick='loadMove("r4rk1/pp2bppp/nnp5/3p3q/3P1B1P/PQNBPP2/1P1K1P2/2R4R w - - 0 18", this, "f5h5"); ' class="line0">Фf5-h5</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("r4rk1/pp2bppp/nnp5/3p3q/3P1B1P/PQNBPP2/1P1K1P2/6RR b - - 0 18", this, "c1g1"); ' class="line0">18.Лc1-g1</span> 
 <span class="ellipsis0">...</span> 
</p>
<p>Черные теперь не могут играть
 <span onclick='loadMove("r4rk1/pp2bppp/nnp5/3p4/3P1B1P/PQNBPq2/1P1K1P2/6RR w - - 0 19", this, "h5f3"); ' class="line1">18...Ф:f3</span> 
ввиду
 <span onclick='loadMove("r4rk1/pp2bppp/nnp5/3p4/3P1B1P/PQN1Pq2/1P1KBP2/6RR b - - 0 19", this, "d3e2"); ' class="line1">19.Сe2</span> 
 <span onclick='loadMove("r4rk1/pp2bppp/nnp5/3p4/3P1B1P/PQN1P3/1P1KBq2/6RR w - - 0 20", this, "f3f2"); ' class="line1">Ф:f2</span> 
 <span onclick='loadMove("r4rk1/pp2bppp/nnp5/3p4/3P1B1P/PQ2P3/1P1KBq2/3N2RR b - - 0 20", this, "c3d1"); ' class="line1">20.Кd1</span> 
 <span onclick='loadMove("r4rk1/pp2bppp/n1p5/3p4/2nP1B1P/PQ2P3/1P1KBq2/3N2RR w - - 0 21", this, "b6c4"); ' class="line1">Кc4+</span> 
 <span onclick='loadMove("r4rk1/pp2bppp/n1p5/3p4/2nP1B1P/PQ1KP3/1P2Bq2/3N2RR b - - 0 21", this, "d2d3"); ' class="line1">21.Крd3</span> 
. Но у них и нет выбора.
Если они немедленно не бросятся в контратаку, то гибель наступит без борьбы. Например,
 <span onclick='loadMove("r2r2k1/pp2bppp/nnp5/3p3q/3P1B1P/PQNBPP2/1P1K1P2/6RR w - - 0 19", this, "f8d8"); ' class="line1">18...Лfd8</span> 
 <span onclick='loadMove("r2r2k1/pp2bppp/nnp5/3p3q/3P1B1P/P1NBPP2/1P1K1P2/3Q2RR b - - 0 19", this, "b3d1"); ' class="line1">19.Фd1</span> 
 <span onclick='loadMove("r2r2k1/pp2bppp/nn6/2pp3q/3P1B1P/P1NBPP2/1P1K1P2/3Q2RR w - - 0 20", this, "c6c5"); ' class="line1">c5</span> 
 <span onclick='loadMove("r2r2k1/pp2bppp/nn6/2pp2Rq/3P1B1P/P1NBPP2/1P1K1P2/3Q3R b - - 0 20", this, "g1g5"); ' class="line1">20.Лg5!</span> 
</p>
<p class="longNotation">
 <span class="ellipsis0">18. ...</span> 
 <span onclick='loadMove("r4rk1/pp2bppp/nn6/2pp3q/3P1B1P/PQNBPP2/1P1K1P2/6RR w - - 0 19", this, "c6c5"); ' class="line0">c6-c5</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("r4rk1/pp2bppp/nn6/2ppB2q/3P3P/PQNBPP2/1P1K1P2/6RR b - - 0 19", this, "f4e5"); ' class="line0">19.Сf4-e5</span> 
 <span onclick='loadMove("r4rk1/pp2bp1p/nn4p1/2ppB2q/3P3P/PQNBPP2/1P1K1P2/6RR w - - 0 20", this, "g7g6"); ' class="line0">g7-g6</span> 
</p>
<p>На
 <span onclick='loadMove("r4rk1/pp2b1pp/nn3p2/2ppB2q/3P3P/PQNBPP2/1P1K1P2/6RR w - - 0 20", this, "f7f6"); ' class="line1">19...f6</span> 
я имел в виду комбинацию
 <span onclick='loadMove("r4rk1/pp2b1pp/nn3p2/2pNB2q/3P3P/PQ1BPP2/1P1K1P2/6RR b - - 0 20", this, "c3d5"); ' class="line1">20.К:d5</span> 
 <span onclick='loadMove("r4rk1/pp2b1pp/n4p2/2pnB2q/3P3P/PQ1BPP2/1P1K1P2/6RR w - - 0 21", this, "b6d5"); ' class="line1">К:d5</span> 
 <span onclick='loadMove("r4rk1/pp2b1pp/n4p2/2pQB2q/3P3P/P2BPP2/1P1K1P2/6RR b - - 0 21", this, "b3d5"); ' class="line1">21.Ф:d5+</span> 
 <span onclick='loadMove("r4r1k/pp2b1pp/n4p2/2pQB2q/3P3P/P2BPP2/1P1K1P2/6RR w - - 0 22", this, "g8h8"); ' class="line1">Крh8</span> 
 <span onclick='loadMove("r4r1k/pp2b1Rp/n4p2/2pQB2q/3P3P/P2BPP2/1P1K1P2/7R b - - 0 22", this, "g1g7"); ' class="line1">22.Л:g7</span> 
 <span onclick='loadMove("r4r2/pp2b1kp/n4p2/2pQB2q/3P3P/P2BPP2/1P1K1P2/7R w - - 0 23", this, "h8g7"); ' class="line1">Кр:g7</span> 
(
 <span onclick='loadMove("3r1r1k/pp2b1Rp/n4p2/2pQB2q/3P3P/P2BPP2/1P1K1P2/7R w - - 0 23", this, "a8d8"); ' class="line2">22...Лad8</span> 
 <span onclick='loadMove("3r1r1k/pQ2b1Rp/n4p2/2p1B2q/3P3P/P2BPP2/1P1K1P2/7R b - - 0 23", this, "d5b7"); ' class="line2">23.Ф:b7</span> 
)
 <span onclick='loadMove("r4r2/pp2b1kp/n4B2/2pQ3q/3P3P/P2BPP2/1P1K1P2/7R b - - 0 23", this, "e5f6"); ' class="line1">23.С:f6+</span> 
и т. д.</p>
<p class="longNotation">
 <span onclick='loadMove("r4rk1/pp2bp1p/nn4p1/2pNB2q/3P3P/PQ1BPP2/1P1K1P2/6RR b - - 0 20", this, "c3d5"); ' class="line0">20.Кc3:d5</span> 
 <span onclick='loadMove("r4rk1/pp2bp1p/n5p1/2pnB2q/3P3P/PQ1BPP2/1P1K1P2/6RR w - - 0 21", this, "b6d5"); ' class="line0">Кb6:d5</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("r4rk1/pp2bp1p/n5p1/2pQB2q/3P3P/P2BPP2/1P1K1P2/6RR b - - 0 21", this, "b3d5"); ' class="line0">21.Фb3:d5</span> 
 <span onclick='loadMove("r4rk1/pp2bp1p/n5p1/3QB2q/3p3P/P2BPP2/1P1K1P2/6RR w - - 0 22", this, "c5d4"); ' class="line0">c5:d4</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("r4rk1/pp2bp1p/n5p1/3QB2q/3P3P/P2B1P2/1P1K1P2/6RR b - - 0 22", this, "e3d4"); ' class="line0">22.e3:d4</span> 
 <span onclick='loadMove("3r1rk1/pp2bp1p/n5p1/3QB2q/3P3P/P2B1P2/1P1K1P2/6RR w - - 0 23", this, "a8d8"); ' class="line0">Лa8-d8</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("3r1rk1/pQ2bp1p/n5p1/4B2q/3P3P/P2B1P2/1P1K1P2/6RR b - - 0 23", this, "d5b7"); ' class="line0">23.Фd5:b7</span> 
 <span class="ellipsis0">...</span> 
</p>
<p>Положение белого короля также довольно тревожно.</p>
<p class="longNotation">
 <span class="ellipsis0">23. ...</span> 
 <span onclick='loadMove("3r1rk1/pQ2bp1p/6p1/2n1B2q/3P3P/P2B1P2/1P1K1P2/6RR w - - 0 24", this, "a6c5"); ' class="line0">Кa6-c5</span> 
</p>
<p>Другого ничего нет.</p>
<p class="longNotation">
 <span onclick='loadMove("3r1rk1/p3Qp1p/6p1/2n1B2q/3P3P/P2B1P2/1P1K1P2/6RR b - - 0 24", this, "b7e7"); ' class="line0">24.Фb7:e7</span> 
 <span onclick='loadMove("3r1rk1/p3Qp1p/6p1/4B2q/3P3P/P2n1P2/1P1K1P2/6RR w - - 0 25", this, "c5d3"); ' class="line0">Кc5:d3</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("3r1rk1/p3Qp1p/6p1/4B2q/3P3P/P2K1P2/1P3P2/6RR b - - 0 25", this, "d2d3"); ' class="line0">25.Крd2:d3</span> 
 <span class="ellipsis0">...</span> 
</p>
<!--[FEN "3r1rk1/p3Qp1p/6p1/4B2q/3P3P/P2K1P2/1P3P2/6RR w - - 0 1"]-->
<div class="chessBoard analysis nobuttons" data-start-fen="3r1rk1/p3Qp1p/6p1/4B2q/3P3P/P2K1P2/1P3P2/6RR b - - 0 25"></div>
<p class="longNotation">
 <span class="ellipsis0">25. ...</span> 
 <span onclick='loadMove("3r1rk1/p3Qp1p/6p1/4B3/3P3P/P2K1q2/1P3P2/6RR w - - 0 26", this, "h5f3"); ' class="line0">Фh5:f3+</span> 
</p>
<p>Черные могли отыграть фигуру, но у них не хватает еще пешек.
 <span onclick='loadMove("4rrk1/p3Qp1p/6p1/4B2q/3P3P/P2K1P2/1P3P2/6RR w - - 0 26", this, "d8e8"); ' class="line1">25...Лe8</span> 
 <span onclick='loadMove("4rrk1/p4p1p/5Qp1/4B2q/3P3P/P2K1P2/1P3P2/6RR b - - 0 26", this, "e7f6"); ' class="line1">26.Фf6</span> 
 <span onclick='loadMove("4rrk1/p4p1p/5Qp1/4q3/3P3P/P2K1P2/1P3P2/6RR w - - 0 27", this, "h5e5"); ' class="line1">Ф:e5</span> 
 <span onclick='loadMove("4rrk1/p4p1p/6p1/4Q3/3P3P/P2K1P2/1P3P2/6RR b - - 0 27", this, "f6e5"); ' class="line1">27.Ф:e5</span> 
 <span onclick='loadMove("5rk1/p4p1p/6p1/4r3/3P3P/P2K1P2/1P3P2/6RR w - - 0 28", this, "e8e5"); ' class="line1">Л:e5</span> 
 <span onclick='loadMove("5rk1/p4p1p/6p1/4r1R1/3P3P/P2K1P2/1P3P2/7R b - - 0 28", this, "g1g5"); ' class="line1">28.Лg5</span> 
 <span onclick='loadMove("5rk1/p6p/6p1/4rpR1/3P3P/P2K1P2/1P3P2/7R w - f6 0 29", this, "f7f5"); ' class="line1">f5</span> 
 <span onclick='loadMove("5rk1/p6p/6p1/4rpR1/3P3P/P2K1P2/1P3P2/2R5 b - - 0 29", this, "h1c1"); ' class="line1">29.Лc1</span> 
и шансы черных на ничью ничтожны. Терпугов предпочитает их искать в атаке на короля.</p>
<p class="longNotation">
 <span onclick='loadMove("3r1rk1/p3Qp1p/6p1/4B3/3P3P/P4q2/1P1K1P2/6RR b - - 0 26", this, "d3d2"); ' class="line0">26.Крd3-d2!</span> 
 <span class="ellipsis0">...</span> 
</p>
<p>Роковой ошибкой явилось бы
 <span onclick='loadMove("3r1rk1/p3Qp1p/6p1/4B3/3P3P/P4q2/1PK2P2/6RR b - - 0 26", this, "d3c2"); ' class="line1">26.Крc2</span> 
 <span onclick='loadMove("3r1rk1/p3Qp1p/6p1/4B3/3Pq2P/P7/1PK2P2/6RR w - - 0 27", this, "f3e4"); ' class="line1">Фe4+</span> 
 <span onclick='loadMove("3r1rk1/p3Qp1p/6p1/4B3/3Pq2P/PK6/1P3P2/6RR b - - 0 27", this, "c2b3"); ' class="line1">27.Крb3</span> 
 <span onclick='loadMove("3r1rk1/p3Qp1p/6p1/3qB3/3P3P/PK6/1P3P2/6RR w - - 0 28", this, "e4d5"); ' class="line1">Фd5+</span> 
и ничья.
Если
 <span onclick='loadMove("3r1rk1/p3Qp1p/6p1/4B3/3Pq2P/P7/1P1K1P2/6RR b - - 0 27", this, "c2d2"); ' class="line2">27.Крd2?</span> 
, то
 <span onclick='loadMove("5rk1/p3Qp1p/6p1/4B3/3rq2P/P7/1P1K1P2/6RR w - - 0 28", this, "d8d4"); ' class="line2">27...Л:d4+</span> 
.</p>
<p class="longNotation">
 <span class="ellipsis0">26. ...</span> 
 <span onclick='loadMove("3r1rk1/p3Q2p/5pp1/4B3/3P3P/P4q2/1P1K1P2/6RR w - - 0 27", this, "f7f6"); ' class="line0">f7-f6</span> 
</p>
<p>Черных не спасает и
 <span onclick='loadMove("3r1rk1/p3Qp1p/6p1/4B3/3P3P/P7/1P1K1q2/6RR w - - 0 27", this, "f3f2"); ' class="line1">26...Ф:f2+</span> 
 <span onclick='loadMove("3r1rk1/p3Qp1p/6p1/4B3/3P3P/P7/1P3q2/2K3RR b - - 0 27", this, "d2c1"); ' class="line1">27.Крc1</span> 
 <span onclick='loadMove("3r1rk1/p3Qp1p/6p1/4Bq2/3P3P/P7/1P6/2K3RR w - - 0 28", this, "f2f5"); ' class="line1">Фf5</span> 
(
 <span onclick='loadMove("2r2rk1/p3Qp1p/6p1/4B3/3P3P/P7/1P3q2/2K3RR w - - 0 28", this, "d8c8"); ' class="line2">27...Лc8+</span> 
 <span onclick='loadMove("2r2rk1/p3Qp1p/6p1/4B3/3P3P/P7/1P3q2/1K4RR b - - 0 28", this, "c1b1"); ' class="line2">28.Крb1</span> 
 <span onclick='loadMove("5rk1/p3Qp1p/6p1/4B3/3P3P/P7/1Pr2q2/1K4RR w - - 0 29", this, "c8c2"); ' class="line2">Лc2</span> 
 <span onclick='loadMove("5rk1/p4p1p/6p1/4B3/1Q1P3P/P7/1Pr2q2/1K4RR b - - 0 29", this, "e7b4"); ' class="line2">29.Фb4</span> 
)
 <span onclick='loadMove("3r1rk1/p4p1p/5Qp1/4Bq2/3P3P/P7/1P6/2K3RR b - - 0 28", this, "e7f6"); ' class="line1">28.Фf6</span> 
 <span onclick='loadMove("2r2rk1/p4p1p/5Qp1/4Bq2/3P3P/P7/1P6/2K3RR w - - 0 29", this, "d8c8"); ' class="line1">Лc8+</span> 
 <span onclick='loadMove("2r2rk1/p4p1p/5Qp1/4Bq2/3P3P/P7/1P1K4/6RR b - - 0 29", this, "c1d2"); ' class="line1">29.Крd2</span> 
 <span onclick='loadMove("5rk1/p4p1p/5Qp1/4Bq2/3P3P/P7/1PrK4/6RR w - - 0 30", this, "c8c2"); ' class="line1">Лc2+</span> 
 <span onclick='loadMove("5rk1/p4p1p/5Qp1/4Bq2/3P3P/P3K3/1Pr5/6RR b - - 0 30", this, "d2e3"); ' class="line1">30.Крe3</span> 
, и шахов больше нет.
Между тем белые грозили сыграть
 <!--span onclick='loadMove("3r1rk1/p3Qp1p/6p1/4B3/3P3P/P4q2/1P1K1P2/6RR w - - 0 27", this, "d2e3"); ' class="line1">26...z0</span--> 
 <span onclick='loadMove("3r1rk1/p4p1p/5Qp1/4B3/3P3P/P4q2/1P1K1P2/6RR b - - 0 27", this, "e7f6"); ' class="line1">27.Фf6</span> 
.</p>
<p class="longNotation">
 <span onclick='loadMove("3r1rk1/p6p/4Qpp1/4B3/3P3P/P4q2/1P1K1P2/6RR b - - 0 27", this, "e7e6"); ' class="line0">27.Фe7-e6+</span> 
 <span onclick='loadMove("3r1r2/p5kp/4Qpp1/4B3/3P3P/P4q2/1P1K1P2/6RR w - - 0 28", this, "g8g7"); ' class="line0">Крg8-g7</span> 
</p>
<p>На
 <span onclick='loadMove("3r1r1k/p6p/4Qpp1/4B3/3P3P/P4q2/1P1K1P2/6RR w - - 0 28", this, "g8h8"); ' class="line1">27...Крh8</span> 
белые ответили бы
 <span onclick='loadMove("3r1r1k/p6p/4Qpp1/4B2P/3P4/P4q2/1P1K1P2/6RR b - - 0 28", this, "h4h5"); ' class="line1">28.h5</span> 
 <span onclick='loadMove("3r1r1k/p6p/4Q1p1/4p2P/3P4/P4q2/1P1K1P2/6RR w - - 0 29", this, "f6e5"); ' class="line1">fe</span> 
 <span onclick='loadMove("3r1r1k/p6p/6p1/4Q2P/3P4/P4q2/1P1K1P2/6RR b - - 0 29", this, "e6e5"); ' class="line1">29.Ф:e5+</span> 
и т. д , в худшем случае оставаясь с лишними пешками.</p>
<p class="longNotation">
 <span onclick='loadMove("3r1r2/p5kp/4Qpp1/4B2P/3P4/P4q2/1P1K1P2/6RR b - - 0 28", this, "h4h5"); ' class="line0">28.h4-h5</span> 
 <span onclick='loadMove("3r1r2/p5kp/4Q1p1/4p2P/3P4/P4q2/1P1K1P2/6RR w - - 0 29", this, "f6e5"); ' class="line0">f6:e5</span> 
</p>
<p>Не замечая комбинации, что случается часто, когда позиция безнадежна.</p>
<p class="longNotation">
 <span onclick='loadMove("3r1r2/p5kp/4Q1R1/4p2P/3P4/P4q2/1P1K1P2/7R b - - 0 29", this, "g1g6"); ' class="line0">29.Лg1:g6+</span> 
 <span class="ellipsis0">...</span> 
</p>
<p>Черные сдались.</p>
<p>(
 <span onclick='loadMove("3r1r2/p5k1/4Q1p1/4p2P/3P4/P4q2/1P1K1P2/7R w - - 0 30", this, "h7g6"); ' class="line1">29...hg</span> 
 <span onclick='loadMove("3r1r2/p5k1/6Q1/4p2P/3P4/P4q2/1P1K1P2/7R b - - 0 30", this, "e6g6"); ' class="line1">30.Ф:g6+</span> 
 <span onclick='loadMove("3r1r1k/p7/6Q1/4p2P/3P4/P4q2/1P1K1P2/7R w - - 0 31", this, "g7h8"); ' class="line1">Крh8</span> 
 <span onclick='loadMove("3r1r1k/p7/7Q/4p2P/3P4/P4q2/1P1K1P2/7R b - - 0 31", this, "g6h6"); ' class="line1">31.Фh6+</span> 
 <span onclick='loadMove("3r1rk1/p7/7Q/4p2P/3P4/P4q2/1P1K1P2/7R w - - 0 32", this, "h8g8"); ' class="line1">Крg8</span> 
 <span onclick='loadMove("3r1rk1/p7/7Q/4p2P/3P4/P4q2/1P1K1P2/6R1 b - - 0 32", this, "h1g1"); ' class="line1">32.Лg1+</span> 
 <span onclick='loadMove("3r1r2/p4k2/7Q/4p2P/3P4/P4q2/1P1K1P2/6R1 w - - 0 33", this, "g8f7"); ' class="line1">Крf7</span> 
 <span onclick='loadMove("3r1r2/p4kR1/7Q/4p2P/3P4/P4q2/1P1K1P2/8 b - - 0 33", this, "g1g7"); ' class="line1">33.Лg7+</span> 
 <span onclick='loadMove("3rkr2/p5R1/7Q/4p2P/3P4/P4q2/1P1K1P2/8 w - - 0 34", this, "f7e8"); ' class="line1">Крe8</span> 
 <span onclick='loadMove("3rkr2/p5R1/6Q1/4p2P/3P4/P4q2/1P1K1P2/8 b - - 0 34", this, "h6g6"); ' class="line1">34.Фg6X</span> 
).</p>
</div> <!-- score -->
</div> <!-- section -->

</div> <!-- iBook -->
{% endblock content %}
