{% extends '../../base.htm' %}
{% load static %}
{% block title %}
<title>8. Романовский — Кутузов | Новоиндийская защита за белых | IV первенство СССР, Ленинград, 1925 г. | {{book.title}} | {%for author in book.authors.all%} {%if author.first_name%} {{author.first_name}} {%endif%} {%if author.second_name%} {{author.second_name}} {%endif%} {%if forloop.counter == book.authors.all.count%} {{author.last_name}} {%else%} {{author.last_name}}, {%endif%} {%endfor%} | {{book.year}}</title>
{% endblock title %}
{% block content %}

<div class="iBook">

<div class="section"><div class="chessBoard small floater" data-start-fen="rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w KQkq - 0 1"></div>
<div class="score">
 <span class="line0" onclick='loadMove("rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w KQkq - 0 1", this, ""); '>[...]</span> 
<p class="capTop diagram"><span class="opening">№ 8. Новоиндийская защита за белых</span><br /><strong>Романовский — Кутузов</strong><br />IV первенство СССР, Ленинград, 1925 г.</p>
<p class="longNotation">
 <span onclick='loadMove("rnbqkbnr/pppppppp/8/8/8/5N2/PPPPPPPP/RNBQKB1R b KQkq - 0 1", this, "g1f3"); ' class="line0">1.Кg1-f3</span> 
 <span class="ellipsis0">...</span> 
</p>
<p>Дебютные системы, связанные с этим ходом, по своим идеям весьма многообразны.</p>
<p>В те годы (1924—1926) многие молодые шахматисты стремились обогатить этот дебют новыми стратегическими идеями. Международный турнир в Нью-Йорке в 1924 г. широко отразил эти веяния.</p>
<p>Тщательно рассмотрев материалы турнира, я пришел к выводу, что они заслуживают глубокого исследования и прежде всего практического применения, без чего по ряду вопросов трудно будет сделать более или менее определенные выводы. Это побудило меня и в личной практике применять дебют Рети, а также и другие дебютные построения, вытекающие из
 <span onclick='loadMove("rnbqkbnr/pppppppp/8/8/8/5N2/PPPPPPPP/RNBQKB1R b KQkq - 0 1", this, "g1f3"); ' class="line1">1.Кf3</span> 
.</p>
<p class="longNotation">
 <span class="ellipsis0">1. ...</span> 
 <span onclick='loadMove("rnbqkbnr/ppp1pppp/8/3p4/8/5N2/PPPPPPPP/RNBQKB1R w KQkq d6 0 2", this, "d7d5"); ' class="line0">d7-d5</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("rnbqkbnr/ppp1pppp/8/3p4/8/1P3N2/P1PPPPPP/RNBQKB1R b KQkq - 0 2", this, "b2b3"); ' class="line0">2.b2-b3</span> 
 <span onclick='loadMove("rnbqkb1r/ppp1pppp/5n2/3p4/8/1P3N2/P1PPPPPP/RNBQKB1R w KQkq - 0 3", this, "g8f6"); ' class="line0">Кg8-f6</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("rnbqkb1r/ppp1pppp/5n2/3p4/8/1P3N2/PBPPPPPP/RN1QKB1R b KQkq - 0 3", this, "c1b2"); ' class="line0">3.Сc1-b2</span> 
 <span onclick='loadMove("rnbqkb1r/ppp2ppp/4pn2/3p4/8/1P3N2/PBPPPPPP/RN1QKB1R w KQkq - 0 4", this, "e7e6"); ' class="line0">e7-e6</span> 
</p>
<p>С точки зрения борьбы за пункт e5 более основательным выглядит здесь продолжение
 <span onclick='loadMove("rnbqkb1r/ppp1pp1p/5np1/3p4/8/1P3N2/PBPPPPPP/RN1QKB1R w KQkq - 0 4", this, "g7g6"); ' class="line1">3...g6</span> 
 <!--span onclick='loadMove("rnbqkb1r/ppp1pp1p/5np1/3p4/8/1P3N2/PBPPPPPP/RN1QKB1R b KQkq - 0 4", this, "g7g6"); ' class="line1">4.z0</span--> 
и
 <span onclick='loadMove("rnbqk2r/ppp1ppbp/5np1/3p4/8/1P3N2/PBPPPPPP/RN1QKB1R w KQkq - 0 5", this, "f8g7"); ' class="line1">4...Сg7</span> 
, но и избранный черными метод игры вполне приемлем.</p>
<p class="longNotation">
 <span onclick='loadMove("rnbqkb1r/ppp2ppp/4pn2/3p4/8/1P2PN2/PBPP1PPP/RN1QKB1R b KQkq - 0 4", this, "e2e3"); ' class="line0">4.e2-e3</span> 
 <span onclick='loadMove("rnbqkb1r/pp3ppp/4pn2/2pp4/8/1P2PN2/PBPP1PPP/RN1QKB1R w KQkq c6 0 5", this, "c7c5"); ' class="line0">c7-c5</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("rnbqkb1r/pp3ppp/4pn2/1Bpp4/8/1P2PN2/PBPP1PPP/RN1QK2R b KQkq - 0 5", this, "f1b5"); ' class="line0">5.Сf1-b5+</span> 
 <span class="ellipsis0">...</span> 
</p>
<p>В расчете на трафаретное
 <span onclick='loadMove("r1bqkb1r/pp3ppp/2n1pn2/1Bpp4/8/1P2PN2/PBPP1PPP/RN1QK2R w KQkq - 0 6", this, "b8c6"); ' class="line1">5...Кc6</span> 
, после чего путем
 <span onclick='loadMove("r1bqkb1r/pp3ppp/2B1pn2/2pp4/8/1P2PN2/PBPP1PPP/RN1QK2R b KQkq - 0 6", this, "b5c6"); ' class="line1">6.С:c6+</span> 
или предварительного
 <span onclick='loadMove("r1bqkb1r/pp3ppp/2n1pn2/1BppN3/8/1P2P3/PBPP1PPP/RN1QK2R b KQkq - 0 6", this, "f3e5"); ' class="line1">6.Кe5</span> 
белые прочно овладевают пунктом e5. Ответ черных противодействует этому замыслу.</p>
<p class="longNotation">
 <span class="ellipsis0">5. ...</span> 
 <span onclick='loadMove("rn1qkb1r/pp1b1ppp/4pn2/1Bpp4/8/1P2PN2/PBPP1PPP/RN1QK2R w KQkq - 0 6", this, "c8d7"); ' class="line0">Сc8-d7</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("rn1qkb1r/pp1b1ppp/4pn2/1Bpp4/8/1PN1PN2/PBPP1PPP/R2QK2R b KQkq - 0 6", this, "b1c3"); ' class="line0">6.Кb1-c3</span> 
 <span class="ellipsis0">...</span> 
</p>
<p>Сначала я хотел разменяться на d7, но потом решил, что таким путем белые лишь содействуют развитию сил противника. Отступать слоном назад было бы непоследовательно; отсюда и возникла мысль о ходе конем на c3. Однако, если бы черные сыграли
 <span onclick='loadMove("rn1qkb1r/pp3ppp/4pn2/1bpp4/8/1PN1PN2/PBPP1PPP/R2QK2R w KQkq - 0 7", this, "d7b5"); ' class="line1">6...С:b5</span> 
 <span onclick='loadMove("rn1qkb1r/pp3ppp/4pn2/1Npp4/8/1P2PN2/PBPP1PPP/R2QK2R b KQkq - 0 7", this, "c3b5"); ' class="line1">7.К:b5</span> 
 <span onclick='loadMove("rn1qkb1r/1p3ppp/p3pn2/1Npp4/8/1P2PN2/PBPP1PPP/R2QK2R w KQkq - 0 8", this, "a7a6"); ' class="line1">a6</span> 
 <span onclick='loadMove("rn1qkb1r/1p3ppp/p3pn2/2pp4/8/1PN1PN2/PBPP1PPP/R2QK2R b KQkq - 0 8", this, "b5c3"); ' class="line1">8.Кc3</span> 
 <span onclick='loadMove("r2qkb1r/1p3ppp/p1n1pn2/2pp4/8/1PN1PN2/PBPP1PPP/R2QK2R w KQkq - 0 9", this, "b8c6"); ' class="line1">Кc6</span> 
и далее <b>Сd6</b>, то белым было бы очень трудно создать хороший план игры.</p>
<p>Наоборот, владение диагональю b8-h2 открывало перед черными хорошие перспективы.</p>
<p>Отсюда можно сделать вывод, что, опираясь лишь на какое-нибудь одно соображение без конкретного учета особенностей всей позиции, нельзя составить реального плана действий. Если бы белые вдумались в позицию, то они сыграли бы
 <span onclick='loadMove("rn1qkb1r/pp1B1ppp/4pn2/2pp4/8/1P2PN2/PBPP1PPP/RN1QK2R b KQkq - 0 6", this, "b5d7"); ' class="line1">6.С:d7+</span> 
 <span onclick='loadMove("r2qkb1r/pp1n1ppp/4pn2/2pp4/8/1P2PN2/PBPP1PPP/RN1QK2R w KQkq - 0 7", this, "b8d7"); ' class="line1">Кb:d7</span> 
 <span onclick='loadMove("r2qkb1r/pp1n1ppp/4pn2/2pp4/8/1P1PPN2/PBP2PPP/RN1QK2R b KQkq - 0 7", this, "d2d3"); ' class="line1">7.d3</span> 
, затем <b>Кbd2</b>, подготовляя <b>e3-e4</b>. Это могло бы служить основой здорового плана.</p>
<p>Последний ход белых свидетельствует о том, что такой план у них еще не созрел и что они решают все вопросы независимо от степени их важности, руководствуясь лишь своим опытом и общими соображениями. Конечно, можно и так вести партию, но ценных, интересных идей создать таким образом невозможно. </p>
<p class="longNotation">
 <span class="ellipsis0">6. ...</span> 
 <span onclick='loadMove("rn1qkb1r/1p1b1ppp/p3pn2/1Bpp4/8/1PN1PN2/PBPP1PPP/R2QK2R w KQkq - 0 7", this, "a7a6"); ' class="line0">a7-a6</span> 
</p>
<p>Черные заставляют белых сделать ход, который они сделали бы и без побуждения.</p>
<p class="longNotation">
 <span onclick='loadMove("rn1qkb1r/1p1B1ppp/p3pn2/2pp4/8/1PN1PN2/PBPP1PPP/R2QK2R b KQkq - 0 7", this, "b5d7"); ' class="line0">7.Сb5:d7+</span> 
 <span onclick='loadMove("r2qkb1r/1p1n1ppp/p3pn2/2pp4/8/1PN1PN2/PBPP1PPP/R2QK2R w KQkq - 0 8", this, "b8d7"); ' class="line0">Кb8:d7</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("r2qkb1r/1p1n1ppp/p3pn2/2pp4/8/1P2PN2/PBPPNPPP/R2QK2R b KQkq - 0 8", this, "c3e2"); ' class="line0">8.Кc3-e2</span> 
 <span onclick='loadMove("r2qk2r/1p1n1ppp/p2bpn2/2pp4/8/1P2PN2/PBPPNPPP/R2QK2R w KQkq - 0 9", this, "f8d6"); ' class="line0">Сf8-d6</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("r2qk2r/1p1n1ppp/p2bpn2/2pp4/8/1P2PN2/PBPPNPPP/R2Q1RK1 b kq - 0 9", this, "e1g1"); ' class="line0">9.0-0</span> 
 <span onclick='loadMove("r2q1rk1/1p1n1ppp/p2bpn2/2pp4/8/1P2PN2/PBPPNPPP/R2Q1RK1 w - - 0 10", this, "e8g8"); ' class="line0">0-0</span> 
</p>
<p>Дебют закончен, белые ничего не достигли, территориальное преимущество в центре у черных.</p>
<p class="longNotation">
 <span onclick='loadMove("r2q1rk1/1p1n1ppp/p2bpn2/2pp4/8/1P2PNN1/PBPP1PPP/R2Q1RK1 b - - 0 10", this, "e2g3"); ' class="line0">10.Кe2-g3</span> 
 <span class="ellipsis0">...</span> 
</p>
<p>Целесообразнее, конечно, было
 <span onclick='loadMove("r2q1rk1/1p1n1ppp/p2bpn2/2pp4/2P5/1P2PN2/PB1PNPPP/R2Q1RK1 b - c3 0 10", this, "c2c4"); ' class="line1">10.c4</span> 
, что сулило больше перспектив. </p>
<p class="longNotation">
 <span class="ellipsis0">10. ...</span> 
 <span onclick='loadMove("r4rk1/1pqn1ppp/p2bpn2/2pp4/8/1P2PNN1/PBPP1PPP/R2Q1RK1 w - - 0 11", this, "d8c7"); ' class="line0">Фd8-c7</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("r4rk1/1pqn1ppp/p2bpn2/2pp4/8/1P2PNN1/PBPPQPPP/R4RK1 b - - 0 11", this, "d1e2"); ' class="line0">11.Фd1-e2</span> 
 <span onclick='loadMove("2r2rk1/1pqn1ppp/p2bpn2/2pp4/8/1P2PNN1/PBPPQPPP/R4RK1 w - - 0 12", this, "a8c8"); ' class="line0">Лa8-c8</span> 
</p>
<p>Напрасная потеря времени. У черных было несколько планов, отвечавших их сильному положению в центре: а) наступление на ферзевом фланге (<b>b7-b5</b> и т. д.); б) наступление в центре путем <b>e6-e5</b> с предварительным <b>Лfe8</b> (чтобы на <b>Кf5</b> ответить <b>Сf8</b>); в) нейтрализация активной позиции белого слона на b2 путем <b>Кd7-e5:f3+</b> и <b>Сe5</b>. Ни одного из этих планов они не избрали. Зато теперь белые серьезно задумались над своим планом дальнейшей игры. Их побудило к этому, во-первых, последний бесцельный ход черных, а во-вторых, то обстоятельство, что делать ходы на основе отдельных соображений стало уже трудно.</p>
<p class="longNotation">
 <span onclick='loadMove("2r2rk1/1pqn1ppp/p2bpn2/2pp4/2P5/1P2PNN1/PB1PQPPP/R4RK1 b - c3 0 12", this, "c2c4"); ' class="line0">12.c2-c4</span> 
 <span class="ellipsis0">...</span> 
</p>
<p>Это уже звено плана. Черные, однако, рассматривают данный ход лишь как частный выпад, и это удивительным образом быстро приводит их к поражению. Не увидеть или не понять плана противника, не суметь ему противопоставить своего плана — это серьезный недостаток в шахматной борьбе.</p>
<p>Белые учитывали следующее возможное развитие событий:
 <span onclick='loadMove("2r2rk1/1pqn1ppp/p2bpn2/2p5/2p5/1P2PNN1/PB1PQPPP/R4RK1 w - - 0 13", this, "d5c4"); ' class="line1">12...dc</span> 
 <span onclick='loadMove("2r2rk1/1pqn1ppp/p2bpn2/2p5/2P5/4PNN1/PB1PQPPP/R4RK1 b - - 0 13", this, "b3c4"); ' class="line1">13.bc</span> 
 <span onclick='loadMove("2r2rk1/1pq2ppp/p2bpn2/2p1n3/2P5/4PNN1/PB1PQPPP/R4RK1 w - - 0 14", this, "d7e5"); ' class="line1">Кe5</span> 
 <span onclick='loadMove("2r2rk1/1pq2ppp/p2bpn2/2p1n3/2P5/4PNN1/PB1PQPPP/1R3RK1 b - - 0 14", this, "a1b1"); ' class="line1">14.Лab1</span> 
с давлением по линии «b». Если же черные не возьмут на c4, белые сами возьмут на d5 и освободят для атаки конями поле e4 или f5.</p>
<p class="longNotation">
 <span class="ellipsis0">12. ...</span> 
 <span onclick='loadMove("2rr2k1/1pqn1ppp/p2bpn2/2pp4/2P5/1P2PNN1/PB1PQPPP/R4RK1 w - - 0 13", this, "f8d8"); ' class="line0">Лf8-d8</span> 
</p>
<p>Лучше было
 <span onclick='loadMove("2r1r1k1/1pqn1ppp/p2bpn2/2pp4/2P5/1P2PNN1/PB1PQPPP/R4RK1 w - - 0 13", this, "f8e8"); ' class="line1">12...Лfe8</span> 
и если
 <span onclick='loadMove("2r1r1k1/1pqn1ppp/p2bpn2/2pP4/8/1P2PNN1/PB1PQPPP/R4RK1 b - - 0 13", this, "c4d5"); ' class="line1">13.cd</span> 
, то
 <span onclick='loadMove("2r1r1k1/1pqn1ppp/p2b1n2/2pp4/8/1P2PNN1/PB1PQPPP/R4RK1 w - - 0 14", this, "e6d5"); ' class="line1">13...ed</span> 
 <span onclick='loadMove("2r1r1k1/1pqn1ppp/p2b1n2/2pp1N2/8/1P2PN2/PB1PQPPP/R4RK1 b - - 0 14", this, "g3f5"); ' class="line1">14.Кf5</span> 
 <span onclick='loadMove("2r1rbk1/1pqn1ppp/p4n2/2pp1N2/8/1P2PN2/PB1PQPPP/R4RK1 w - - 0 15", this, "d6f8"); ' class="line1">Сf8</span> 
. </p>
<p class="longNotation">
 <span onclick='loadMove("2rr2k1/1pqn1ppp/p2bpn2/2pP4/8/1P2PNN1/PB1PQPPP/R4RK1 b - - 0 13", this, "c4d5"); ' class="line0">13.c4:d5</span> 
 <span onclick='loadMove("2rr2k1/1pqn1ppp/p2bp3/2pn4/8/1P2PNN1/PB1PQPPP/R4RK1 w - - 0 14", this, "f6d5"); ' class="line0">Кf6:d5?</span> 
</p>
<p>Черные не хотят закрывать для своей ладьи линию «d» и поэтому берут на d5 конем. Это решение оказывается выгодным только белым, получающим новые объекты для атаки.
 <span onclick='loadMove("2rr2k1/1pqn1ppp/p2b1n2/2pp4/8/1P2PNN1/PB1PQPPP/R4RK1 w - - 0 14", this, "e6d5"); ' class="line1">13...ed</span> 
 <span onclick='loadMove("2rr2k1/1pqn1ppp/p2b1n2/2pp1N2/8/1P2PN2/PB1PQPPP/R4RK1 b - - 0 14", this, "g3f5"); ' class="line1">14.Кf5</span> 
 <span onclick='loadMove("2rr1bk1/1pqn1ppp/p4n2/2pp1N2/8/1P2PN2/PB1PQPPP/R4RK1 w - - 0 15", this, "d6f8"); ' class="line1">Сf8</span> 
было еще вполне приемлемо для черных.</p>
<!--[FEN "2rr2k1/1pqn1ppp/p2bp3/2pn4/8/1P2PNN1/PB1PQPPP/R4RK1 w - - 0 1"]-->
<div class="chessBoard analysis nobuttons" data-start-fen="2rr2k1/1pqn1ppp/p2bp3/2pn4/8/1P2PNN1/PB1PQPPP/R4RK1 w - - 0 14"></div>
<p class="longNotation">
 <span onclick='loadMove("2rr2k1/1pqn1ppp/p2bp3/2pn2N1/8/1P2P1N1/PB1PQPPP/R4RK1 b - - 0 14", this, "f3g5"); ' class="line0">14.Кf3-g5!</span> 
 <span class="ellipsis0">...</span> 
</p>
<p>Этот маневр не был предусмотрен черными. Белые грозят наступлением пешки «f» и вторжением ферзя на королевский фланг.</p>
<p class="longNotation">
 <span class="ellipsis0">14. ...</span> 
 <span onclick='loadMove("2rr2k1/1pqn1pp1/p2bp2p/2pn2N1/8/1P2P1N1/PB1PQPPP/R4RK1 w - - 0 15", this, "h7h6"); ' class="line0">h7-h6</span> 
</p>
<p>Или
 <span onclick='loadMove("2rr2k1/1pqn1ppp/p3p3/2pnb1N1/8/1P2P1N1/PB1PQPPP/R4RK1 w - - 0 15", this, "d6e5"); ' class="line1">14...Сe5</span> 
 <span onclick='loadMove("2rr2k1/1pqn1ppp/p3p3/2pnB1N1/8/1P2P1N1/P2PQPPP/R4RK1 b - - 0 15", this, "b2e5"); ' class="line1">15.С:e5</span> 
 <span onclick='loadMove("2rr2k1/1pq2ppp/p3p3/2pnn1N1/8/1P2P1N1/P2PQPPP/R4RK1 w - - 0 16", this, "d7e5"); ' class="line1">К:e5</span> 
 <span onclick='loadMove("2rr2k1/1pq2ppp/p3p3/2pnn1N1/5P2/1P2P1N1/P2PQ1PP/R4RK1 b - f3 0 16", this, "f2f4"); ' class="line1">16.f4</span> 
.</p>
<p class="longNotation">
 <span onclick='loadMove("2rr2k1/1pqn1pp1/p2bp2p/2pn4/4N3/1P2P1N1/PB1PQPPP/R4RK1 b - - 0 15", this, "g5e4"); ' class="line0">15.Кg5-e4</span> 
 <span onclick='loadMove("2rr2k1/1pqn1pp1/p3p2p/2pnb3/4N3/1P2P1N1/PB1PQPPP/R4RK1 w - - 0 16", this, "d6e5"); ' class="line0">Сd6-e5?</span> 
</p>
<p>Этот естественный, с точки зрения общих соображений, ход (надо же обезвредить слона на b2) позволяет белым с темпом осуществить важное продвижение <b>f2-f4</b>.</p>
<p>Целесообразнее поэтому было
 <span onclick='loadMove("2rr1bk1/1pqn1pp1/p3p2p/2pn4/4N3/1P2P1N1/PB1PQPPP/R4RK1 w - - 0 16", this, "d6f8"); ' class="line1">15...Сf8</span> 
, и если
 <span onclick='loadMove("2rr1bk1/1pqn1pp1/p3p2p/2pn4/4NP2/1P2P1N1/PB1PQ1PP/R4RK1 b - f3 0 16", this, "f2f4"); ' class="line1">16.f4</span> 
, то
 <span onclick='loadMove("2rr1bk1/1pqn2p1/p3p2p/2pn1p2/4NP2/1P2P1N1/PB1PQ1PP/R4RK1 w - f6 0 17", this, "f7f5"); ' class="line1">16...f5</span> 
, и черные могли бы еще обороняться благодаря открытой линии «d» и хорошей позиции коня.</p>
<p class="longNotation">
 <span onclick='loadMove("2rr2k1/1pqn1pp1/p3p2p/2pnB3/4N3/1P2P1N1/P2PQPPP/R4RK1 b - - 0 16", this, "b2e5"); ' class="line0">16.Сb2:e5</span> 
 <span onclick='loadMove("2rr2k1/1p1n1pp1/p3p2p/2pnq3/4N3/1P2P1N1/P2PQPPP/R4RK1 w - - 0 17", this, "c7e5"); ' class="line0">Фc7:e5</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("2rr2k1/1p1n1pp1/p3p2p/2pnq3/4NP2/1P2P1N1/P2PQ1PP/R4RK1 b - f3 0 17", this, "f2f4"); ' class="line0">17.f2-f4</span> 
 <span onclick='loadMove("2rr2k1/1pqn1pp1/p3p2p/2pn4/4NP2/1P2P1N1/P2PQ1PP/R4RK1 w - - 0 18", this, "e5c7"); ' class="line0">Фe5-c7</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("2rr2k1/1pqn1pp1/p3p2p/2pn1P2/4N3/1P2P1N1/P2PQ1PP/R4RK1 b - - 0 18", this, "f4f5"); ' class="line0">18.f4-f5</span> 
 <span onclick='loadMove("2rr2k1/1pqn1pp1/p6p/2pn1p2/4N3/1P2P1N1/P2PQ1PP/R4RK1 w - - 0 19", this, "e6f5"); ' class="line0">e6:f5</span> 
</p>
<p>Черные попали под сильнейшую атаку. На
 <span onclick='loadMove("2rr2k1/1pqn1pp1/p6p/2pnpP2/4N3/1P2P1N1/P2PQ1PP/R4RK1 w - - 0 19", this, "e6e5"); ' class="line1">18...e5</span> 
я собирался жертвовать качество:
 <span onclick='loadMove("2rr2k1/1pqn1pp1/p4P1p/2pnp3/4N3/1P2P1N1/P2PQ1PP/R4RK1 b - - 0 19", this, "f5f6"); ' class="line1">19.f6</span> 
 <span onclick='loadMove("2rr2k1/1pq2pp1/p4n1p/2pnp3/4N3/1P2P1N1/P2PQ1PP/R4RK1 w - - 0 20", this, "d7f6"); ' class="line1">К7:f6</span> 
 <span onclick='loadMove("2rr2k1/1pq2pp1/p4N1p/2pnp3/8/1P2P1N1/P2PQ1PP/R4RK1 b - - 0 20", this, "e4f6"); ' class="line1">20.К:f6+</span> 
 <span onclick='loadMove("2rr2k1/1pq2pp1/p4n1p/2p1p3/8/1P2P1N1/P2PQ1PP/R4RK1 w - - 0 21", this, "d5f6"); ' class="line1">К:f6</span> 
 <span onclick='loadMove("2rr2k1/1pq2pp1/p4R1p/2p1p3/8/1P2P1N1/P2PQ1PP/R5K1 b - - 0 21", this, "f1f6"); ' class="line1">21.Л:f6</span> 
 <span onclick='loadMove("2rr2k1/1pq2p2/p4p1p/2p1p3/8/1P2P1N1/P2PQ1PP/R5K1 w - - 0 22", this, "g7f6"); ' class="line1">gf</span> 
 <span onclick='loadMove("2rr2k1/1pq2p2/p4p1p/2p1pN2/8/1P2P3/P2PQ1PP/R5K1 b - - 0 22", this, "g3f5"); ' class="line1">22.Кf5</span> 
 <span onclick='loadMove("2rr1k2/1pq2p2/p4p1p/2p1pN2/8/1P2P3/P2PQ1PP/R5K1 w - - 0 23", this, "g8f8"); ' class="line1">Крf8</span> 
 <span onclick='loadMove("2rr1k2/1pq2p2/p4p1p/2p1pN2/6Q1/1P2P3/P2P2PP/R5K1 b - - 0 23", this, "e2g4"); ' class="line1">23.Фg4</span> 
 <span onclick='loadMove("2r2k2/1pq2p2/p4p1p/2p1pN2/6Q1/1P2P3/P2r2PP/R5K1 w - - 0 24", this, "d8d2"); ' class="line1">Л:d2</span> 
(На
 <span onclick='loadMove("r2r1k2/1pq2p2/p4p1p/2p1pN2/6Q1/1P2P3/P2P2PP/R5K1 w - - 0 24", this, "c8a8"); ' class="line2">23...Лca8</span> 
, чтобы ускользнуть королем через d7 и c8 на ферзевый фланг, белые могли сыграть просто
 <span onclick='loadMove("r2r1k2/1pq2p2/p4p1p/2p1pN2/6Q1/1P2P3/P2P2PP/5RK1 b - - 0 24", this, "a1f1"); ' class="line2">24.Лaf1</span> 
, задерживая короля в центре и вводя в атаку еще и ладью)
 <span onclick='loadMove("2r2k2/1pq2pQ1/p4p1p/2p1pN2/8/1P2P3/P2r2PP/R5K1 b - - 0 24", this, "g4g7"); ' class="line1">24.Фg7+</span> 
 <span onclick='loadMove("2r1k3/1pq2pQ1/p4p1p/2p1pN2/8/1P2P3/P2r2PP/R5K1 w - - 0 25", this, "f8e8"); ' class="line1">Крe8</span> 
 <span onclick='loadMove("2r1k1Q1/1pq2p2/p4p1p/2p1pN2/8/1P2P3/P2r2PP/R5K1 b - - 0 25", this, "g7g8"); ' class="line1">25.Фg8+</span> 
 <span onclick='loadMove("2r3Q1/1pqk1p2/p4p1p/2p1pN2/8/1P2P3/P2r2PP/R5K1 w - - 0 26", this, "e8d7"); ' class="line1">Крd7</span> 
 <span onclick='loadMove("2r5/1pqk1Q2/p4p1p/2p1pN2/8/1P2P3/P2r2PP/R5K1 b - - 0 26", this, "g8f7"); ' class="line1">26.Ф:f7+</span> 
 <span onclick='loadMove("2r5/1pq2Q2/p1k2p1p/2p1pN2/8/1P2P3/P2r2PP/R5K1 w - - 0 27", this, "d7c6"); ' class="line1">Крc6</span> 
 <span onclick='loadMove("2r5/1pq1NQ2/p1k2p1p/2p1p3/8/1P2P3/P2r2PP/R5K1 b - - 0 27", this, "f5e7"); ' class="line1">27.Кe7+</span> 
 <span onclick='loadMove("2r5/1pq1NQ2/p4p1p/1kp1p3/8/1P2P3/P2r2PP/R5K1 w - - 0 28", this, "c6b5"); ' class="line1">Крb5</span> 
 <span onclick='loadMove("2r5/1pq1N3/p4p1p/1kp1p3/2Q5/1P2P3/P2r2PP/R5K1 b - - 0 28", this, "f7c4"); ' class="line1">28.Фc4+</span> 
 <span onclick='loadMove("2r5/1pq1N3/pk3p1p/2p1p3/2Q5/1P2P3/P2r2PP/R5K1 w - - 0 29", this, "b5b6"); ' class="line1">Крb6</span> 
 <span onclick='loadMove("2r5/1pq1N3/pk2Qp1p/2p1p3/8/1P2P3/P2r2PP/R5K1 b - - 0 29", this, "c4e6"); ' class="line1">29.Фe6+</span> 
с выигрышем ладьи. </p>
<p class="longNotation">
 <span onclick='loadMove("2rr2k1/1pqn1pp1/p6p/2pn1N2/4N3/1P2P3/P2PQ1PP/R4RK1 b - - 0 19", this, "g3f5"); ' class="line0">19.Кg3:f5</span> 
 <span onclick='loadMove("2rr1nk1/1pq2pp1/p6p/2pn1N2/4N3/1P2P3/P2PQ1PP/R4RK1 w - - 0 20", this, "d7f8"); ' class="line0">Кd7-f8</span> 
</p>
<p>Ведет к материальным потерям, но защиты уже нет. Если
 <span onclick='loadMove("2rr2k1/1pq2pp1/p4n1p/2pn1N2/4N3/1P2P3/P2PQ1PP/R4RK1 w - - 0 20", this, "d7f6"); ' class="line1">19...К7f6</span> 
, то
 <span onclick='loadMove("2rr2k1/1pq2pp1/p4n1N/2pn4/4N3/1P2P3/P2PQ1PP/R4RK1 b - - 0 20", this, "f5h6"); ' class="line1">20.К:h6+</span> 
,
а на
 <span onclick='loadMove("2rr2k1/1pq2pp1/p6p/2pnnN2/4N3/1P2P3/P2PQ1PP/R4RK1 w - - 0 20", this, "d7e5"); ' class="line1">19...Кe5</span> 
последует
 <span onclick='loadMove("2rr2k1/1pq2pp1/p6p/2pnnN2/4N3/1P2P3/P2PQ1PP/2R2RK1 b - - 0 20", this, "a1c1"); ' class="line1">20.Лac1</span> 
 <!--span onclick='loadMove("2rr2k1/1pq2pp1/p6p/2pnnN2/4N3/1P2P3/P2PQ1PP/2R2RK1 w - - 0 21", this, "a1c1"); ' class="line1">z0</span--> 
с угрозами не только взять пешку c5,
но и сыграть
 <span onclick='loadMove("2rr2k1/1pq2pp1/p6p/2pnnN2/3PN3/1P2P3/P3Q1PP/2R2RK1 b - d3 0 21", this, "d2d4"); ' class="line1">21.d4</span> 
.</p>
<!--[FEN "2rr1nk1/1pq2pp1/p6p/2pn1N2/4N3/1P2P3/P2PQ1PP/R4RK1 w - - 0 1"]-->
<div class="chessBoard analysis nobuttons" data-start-fen="2rr1nk1/1pq2pp1/p6p/2pn1N2/4N3/1P2P3/P2PQ1PP/R4RK1 w - - 0 20"></div>
<p class="longNotation">
 <span onclick='loadMove("2rr1nk1/1pq2pp1/p6p/2pn1N2/4N1Q1/1P2P3/P2P2PP/R4RK1 b - - 0 20", this, "e2g4"); ' class="line0">20.Фe2-g4</span> 
 <span onclick='loadMove("2rr2k1/1pq2pp1/p5np/2pn1N2/4N1Q1/1P2P3/P2P2PP/R4RK1 w - - 0 21", this, "f8g6"); ' class="line0">Кf8-g6</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("2rr2k1/1pq2pp1/p2N2np/2pn4/4N1Q1/1P2P3/P2P2PP/R4RK1 b - - 0 21", this, "f5d6"); ' class="line0">21.Кf5-d6!</span> 
 <span onclick='loadMove("2rr2k1/1pq2pp1/p2N3p/2pnn3/4N1Q1/1P2P3/P2P2PP/R4RK1 w - - 0 22", this, "g6e5"); ' class="line0">Кg6-e5</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("2rr2k1/1pq2pp1/p2N3p/2pnnQ2/4N3/1P2P3/P2P2PP/R4RK1 b - - 0 22", this, "g4f5"); ' class="line0">22.Фg4-f5</span> 
 <span onclick='loadMove("2r3k1/1pq2pp1/p2r3p/2pnnQ2/4N3/1P2P3/P2P2PP/R4RK1 w - - 0 23", this, "d8d6"); ' class="line0">Лd8:d6</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("2r3k1/1pq2pp1/p2N3p/2pnnQ2/8/1P2P3/P2P2PP/R4RK1 b - - 0 23", this, "e4d6"); ' class="line0">23.Кe4:d6</span> 
 <span class="ellipsis0">...</span> 
</p>
<p>Белые выиграли качество. Реализация этого материального преимущества в данной позиции является делом сравнительно несложной техники.</p>
<p class="longNotation">
 <span class="ellipsis0">23. ...</span> 
 <span onclick='loadMove("3r2k1/1pq2pp1/p2N3p/2pnnQ2/8/1P2P3/P2P2PP/R4RK1 w - - 0 24", this, "c8d8"); ' class="line0">Лc8-d8</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("3r2k1/1pq2pp1/p2N3p/2pnQ3/8/1P2P3/P2P2PP/R4RK1 b - - 0 24", this, "f5e5"); ' class="line0">24.Фf5:e5</span> 
 <span onclick='loadMove("3r2k1/1p3pp1/p2q3p/2pnQ3/8/1P2P3/P2P2PP/R4RK1 w - - 0 25", this, "c7d6"); ' class="line0">Фc7:d6</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("3r2k1/1p3pp1/p2Q3p/2pn4/8/1P2P3/P2P2PP/R4RK1 b - - 0 25", this, "e5d6"); ' class="line0">25.Фe5:d6</span> 
 <span onclick='loadMove("6k1/1p3pp1/p2r3p/2pn4/8/1P2P3/P2P2PP/R4RK1 w - - 0 26", this, "d8d6"); ' class="line0">Лd8:d6</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("6k1/1p3pp1/p2r3p/2pn4/8/1P2P3/P2P2PP/2R2RK1 b - - 0 26", this, "a1c1"); ' class="line0">26.Лa1-c1</span> 
 <span onclick='loadMove("6k1/5pp1/pp1r3p/2pn4/8/1P2P3/P2P2PP/2R2RK1 w - - 0 27", this, "b7b6"); ' class="line0">b7-b6</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("6k1/5pp1/pp1r3p/2pn4/3P4/1P2P3/P5PP/2R2RK1 b - d3 0 27", this, "d2d4"); ' class="line0">27.d2-d4</span> 
 <span onclick='loadMove("6k1/5pp1/pp1r3p/3n4/3p4/1P2P3/P5PP/2R2RK1 w - - 0 28", this, "c5d4"); ' class="line0">c5:d4</span> 
</p>
<p>Или
 <span onclick='loadMove("6k1/5pp1/pp1r3p/2p5/3P4/1P2n3/P5PP/2R2RK1 w - - 0 28", this, "d5e3"); ' class="line1">27...К:e3</span> 
 <span onclick='loadMove("6k1/5pp1/pp1r3p/2P5/8/1P2n3/P5PP/2R2RK1 b - - 0 28", this, "d4c5"); ' class="line1">28.dc</span> 
 <span onclick='loadMove("6k1/5pp1/p2r3p/2p5/8/1P2n3/P5PP/2R2RK1 w - - 0 29", this, "b6c5"); ' class="line1">bc</span> 
 <span onclick='loadMove("6k1/5pp1/p2r3p/2p5/8/1P2n3/P5PP/2R1R1K1 b - - 0 29", this, "f1e1"); ' class="line1">29.Лfe1</span> 
 <!--span onclick='loadMove("6k1/5pp1/p2r3p/2p5/8/1P2n3/P5PP/2R1R1K1 w - - 0 30", this, "f1e1"); ' class="line1">z0</span--> 
и
 <span onclick='loadMove("6k1/5pp1/p2r3p/2R5/8/1P2n3/P5PP/4R1K1 b - - 0 30", this, "c1c5"); ' class="line1">30.Л:c5</span> 
и т.д.</p>
<p class="longNotation">
 <span onclick='loadMove("6k1/5pp1/pp1r3p/3n4/3P4/1P6/P5PP/2R2RK1 b - - 0 28", this, "e3d4"); ' class="line0">28.e3:d4</span> 
 <span onclick='loadMove("6k1/5pp1/pp1r3p/8/1n1P4/1P6/P5PP/2R2RK1 w - - 0 29", this, "d5b4"); ' class="line0">Кd5-b4</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("2R3k1/5pp1/pp1r3p/8/1n1P4/1P6/P5PP/5RK1 b - - 0 29", this, "c1c8"); ' class="line0">29.Лc1-c8+</span> 
 <span onclick='loadMove("2R5/5ppk/pp1r3p/8/1n1P4/1P6/P5PP/5RK1 w - - 0 30", this, "g8h7"); ' class="line0">Крg8-h7</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("2R5/5ppk/pp1r3p/8/1n1P4/PP6/6PP/5RK1 b - - 0 30", this, "a2a3"); ' class="line0">30.a2-a3</span> 
 <span onclick='loadMove("2R5/5ppk/ppnr3p/8/3P4/PP6/6PP/5RK1 w - - 0 31", this, "b4c6"); ' class="line0">Кb4-c6</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("2R5/5Rpk/ppnr3p/8/3P4/PP6/6PP/6K1 b - - 0 31", this, "f1f7"); ' class="line0">31.Лf1:f7</span> 
 <span onclick='loadMove("2R5/5Rpk/pp1r3p/8/3n4/PP6/6PP/6K1 w - - 0 32", this, "c6d4"); ' class="line0">Кc6:d4</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("8/2R2Rpk/pp1r3p/8/3n4/PP6/6PP/6K1 b - - 0 32", this, "c8c7"); ' class="line0">32.Лc8-c7</span> 
 <span onclick='loadMove("8/2R2Rpk/pp1rn2p/8/8/PP6/6PP/6K1 w - - 0 33", this, "d4e6"); ' class="line0">Кd4-e6</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("8/2RR2pk/pp1rn2p/8/8/PP6/6PP/6K1 b - - 0 33", this, "f7d7"); ' class="line0">33.Лf7-d7</span> 
 <span class="ellipsis0">...</span> 
</p>
<p>Черные сдались.</p>
</div> <!-- score -->
</div> <!-- section -->

</div> <!-- iBook -->
{% endblock content %}
