{% extends '../../base.htm' %}
{% load static %}
{% block title %}
<title>Контратака | {{book.title}} | {%for author in book.authors.all%} {%if author.first_name%} {{author.first_name}} {%endif%} {%if author.second_name%} {{author.second_name}} {%endif%} {%if forloop.counter == book.authors.all.count%} {{author.last_name}} {%else%} {{author.last_name}}, {%endif%} {%endfor%} | {{book.year}}</title>
{% endblock title %}
{% block content %}

<div class="iBook">

<div class="section">
<h2>КОНТРАТАКА</h2>
<div class="chessBoard small floater" data-start-fen="rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w KQkq - 0 1"></div>
<div class="score">

<ul>
<li><a class="line0" href="{% url 'page-view' book.root_dir|add:'/2-2-29-alehin-romanovskij.htm' %}">№ 29. Алехин — Романовский (Венская партия)</a></li>
<li><a class="line0" href="{% url 'page-view' book.root_dir|add:'/2-2-30-viahirev-romanovskij.htm' %}">№ 30. Вяхирев — Романовский (Венская партия)</a></li>
<li><a class="line0" href="{% url 'page-view' book.root_dir|add:'/2-2-31-grigorev-romanovskij.htm' %}">№ 31. Григорьев — Романовский (Испанская партия)</a></li>
<li><a class="line0" href="{% url 'page-view' book.root_dir|add:'/2-2-32-rozental-romanovskij.htm' %}">№ 32. Розенталь — Романовский (Защита Алехина)</a></li>
<li><a class="line0" href="{% url 'page-view' book.root_dir|add:'/2-2-33-levenfish-romanovskij.htm' %}">№ 33. Левенфиш — Романовский (Защита Алехина)</a></li>
<li><a class="line0" href="{% url 'page-view' book.root_dir|add:'/2-2-34-duz-hotimirskij-romanovskij.htm' %}">№ 34. Дуз-Хотимирский — Романовский (Новоиндийская защита)</a></li>
<li><a class="line0" href="{% url 'page-view' book.root_dir|add:'/2-2-35-rohlin-romanovskij.htm' %}">№ 35. Рохлин — Романовский (Голландская партия)</a></li>
<li><a class="line0" href="{% url 'page-view' book.root_dir|add:'/2-2-36-romanovskij-koialovich.htm' %}">№ 36. Романовский — Коялович (Голландская партия)</a></li>
<li><a class="line0" href="{% url 'page-view' book.root_dir|add:'/2-2-37-kmoh-romanovskij.htm' %}">№ 37. Кмох — Романовский (Новоиндийская защита)</a></li>
<li><a class="line0" href="{% url 'page-view' book.root_dir|add:'/2-2-38-bazhin-romanovskij.htm' %}">№ 38. Бажин — Романовский (Дебют ферзевых пешек)</a></li>
<li><a class="line0" href="{% url 'page-view' book.root_dir|add:'/2-2-39-mikenas-romanovskij.htm' %}">№ 39. Микенас — Романовский (Испанская партия)</a></li>
<li><a class="line0" href="{% url 'page-view' book.root_dir|add:'/2-2-40-ravinskij-romanovskij.htm' %}">№ 40. Равинский — Романовский (Испанская партия)</a></li>
<li><a class="line0" href="{% url 'page-view' book.root_dir|add:'/2-2-41-solovev-romanovskij.htm' %}">№ 41. Соловьев — Романовский (Испанская партия)</a></li>
</ul>

</div> <!-- score -->
</div> <!-- section -->

</div> <!-- iBook -->
{% endblock content %}
