{% extends '../../base.htm' %}
{% load static %}
{% block title %}
<title>34. Дуз-Хотимирский — Романовский | Новоиндийская защита | Международный турнир, Москва, 1925 г. | {{book.title}} | {%for author in book.authors.all%} {%if author.first_name%} {{author.first_name}} {%endif%} {%if author.second_name%} {{author.second_name}} {%endif%} {%if forloop.counter == book.authors.all.count%} {{author.last_name}} {%else%} {{author.last_name}}, {%endif%} {%endfor%} | {{book.year}}</title>
{% endblock title %}
{% block content %}

<div class="iBook">

<div class="section"><div class="chessBoard small floater" data-start-fen="rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w KQkq - 0 1"></div>
<div class="score">
 <span class="line0" onclick='loadMove("rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w KQkq - 0 1", this, ""); '>[...]</span> 
<p class="capTop diagram"><span class="opening">№ 34. Новоиндийская защита</span><br /><strong>Дуз-Хотимирский — Романовский</strong><br />Международный турнир, Москва, 1925 г.</p>
<p class="longNotation">
 <span onclick='loadMove("rnbqkbnr/pppppppp/8/8/3P4/8/PPP1PPPP/RNBQKBNR b KQkq d3 0 1", this, "d2d4"); ' class="line0">1.d2-d4</span> 
 <span onclick='loadMove("rnbqkb1r/pppppppp/5n2/8/3P4/8/PPP1PPPP/RNBQKBNR w KQkq - 0 2", this, "g8f6"); ' class="line0">Кg8-f6</span> 
</p>
<p>Я сравнительно редко отвечаю на
 <span onclick='loadMove("rnbqkbnr/pppppppp/8/8/3P4/8/PPP1PPPP/RNBQKBNR b KQkq d3 0 1", this, "d2d4"); ' class="line1">1.d4</span> 

 <span onclick='loadMove("rnbqkbnr/ppp1pppp/8/3p4/3P4/8/PPP1PPPP/RNBQKBNR w KQkq d6 0 2", this, "d7d5"); ' class="line1">1...d5</span> 
и соглашаюсь обычно на ферзевый гамбит в том случае, если белые после
 <span onclick='loadMove("rnbqkbnr/pppppppp/8/8/3P4/8/PPP1PPPP/RNBQKBNR b KQkq d3 0 1", this, "d2d4"); ' class="line1">1.d4</span> 
 <span onclick='loadMove("rnbqkb1r/pppppppp/5n2/8/3P4/8/PPP1PPPP/RNBQKBNR w KQkq - 0 2", this, "g8f6"); ' class="line1">Кf6</span> 
 <span onclick='loadMove("rnbqkb1r/pppppppp/5n2/8/2PP4/8/PP2PPPP/RNBQKBNR b KQkq c3 0 2", this, "c2c4"); ' class="line1">2.c4</span> 
 <span onclick='loadMove("rnbqkb1r/pppp1ppp/4pn2/8/2PP4/8/PP2PPPP/RNBQKBNR w KQkq - 0 3", this, "e7e6"); ' class="line1">e6</span> 
отказываются от защиты Нимцовича путем
 <span onclick='loadMove("rnbqkb1r/pppp1ppp/4pn2/8/2PP4/5N2/PP2PPPP/RNBQKB1R b KQkq - 0 3", this, "g1f3"); ' class="line1">3.Кf3</span> 
.</p>
<p class="longNotation">
 <span onclick='loadMove("rnbqkb1r/pppppppp/5n2/8/3P4/5N2/PPP1PPPP/RNBQKB1R b KQkq - 0 2", this, "g1f3"); ' class="line0">2.Кg1-f3</span> 
 <span onclick='loadMove("rnbqkb1r/pppp1ppp/4pn2/8/3P4/5N2/PPP1PPPP/RNBQKB1R w KQkq - 0 3", this, "e7e6"); ' class="line0">e7-e6</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("rnbqkb1r/pppp1ppp/4pn2/8/3P4/4PN2/PPP2PPP/RNBQKB1R b KQkq - 0 3", this, "e2e3"); ' class="line0">3.e2-e3</span> 
 <span onclick='loadMove("rnbqkb1r/p1pp1ppp/1p2pn2/8/3P4/4PN2/PPP2PPP/RNBQKB1R w KQkq - 0 4", this, "b7b6"); ' class="line0">b7-b6</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("rnbqkb1r/p1pp1ppp/1p2pn2/8/3P4/3BPN2/PPP2PPP/RNBQK2R b KQkq - 0 4", this, "f1d3"); ' class="line0">4.Сf1-d3</span> 
 <span onclick='loadMove("rn1qkb1r/pbpp1ppp/1p2pn2/8/3P4/3BPN2/PPP2PPP/RNBQK2R w KQkq - 0 5", this, "c8b7"); ' class="line0">Сc8-b7</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("rn1qkb1r/pbpp1ppp/1p2pn2/8/3P4/3BPN2/PPP1QPPP/RNB1K2R b KQkq - 0 5", this, "d1e2"); ' class="line0">5.Фd1-e2</span> 
 <span onclick='loadMove("rn1qkb1r/pb1p1ppp/1p2pn2/2p5/3P4/3BPN2/PPP1QPPP/RNB1K2R w KQkq c6 0 6", this, "c7c5"); ' class="line0">c7-c5</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("rn1qkb1r/pb1p1ppp/1p2pn2/2p5/3P4/2PBPN2/PP2QPPP/RNB1K2R b KQkq - 0 6", this, "c2c3"); ' class="line0">6.c2-c3</span> 
 <span class="ellipsis0">...</span> 
</p>
<p>Белые избрали скучную систему развития, которая не причиняет черным особых трудностей. План белых состоит в подготовке продвижения <b>e3-e4</b>. Очевидная задача черных заключается в том, чтобы препятствовать продвижению пешки до e5.</p>
<p class="longNotation">
 <span class="ellipsis0">6. ...</span> 
 <span onclick='loadMove("rn1qk2r/pb1pbppp/1p2pn2/2p5/3P4/2PBPN2/PP2QPPP/RNB1K2R w KQkq - 0 7", this, "f8e7"); ' class="line0">Сf8-e7</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("rn1qk2r/pb1pbppp/1p2pn2/2p5/3P4/2PBPN2/PP2QPPP/RNB2RK1 b kq - 0 7", this, "e1g1"); ' class="line0">7.0-0</span> 
 <span onclick='loadMove("rn1q1rk1/pb1pbppp/1p2pn2/2p5/3P4/2PBPN2/PP2QPPP/RNB2RK1 w - - 0 8", this, "e8g8"); ' class="line0">0-0</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("rn1q1rk1/pb1pbppp/1p2pn2/2p5/3PP3/2PB1N2/PP2QPPP/RNB2RK1 b - - 0 8", this, "e3e4"); ' class="line0">8.e3-e4</span> 
 <span class="ellipsis0">...</span> 
</p>
<p>Белые спешат, теперь черным легче планировать свою игру. Я предпочел бы предварительно подготовить этот ход путем <b>Кbd2</b> и <b>Лe1</b>.</p>
<p class="longNotation">
 <span class="ellipsis0">8. ...</span> 
 <span onclick='loadMove("rn1q1rk1/pb1pbppp/1p2pn2/8/3pP3/2PB1N2/PP2QPPP/RNB2RK1 w - - 0 9", this, "c5d4"); ' class="line0">c5:d4</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("rn1q1rk1/pb1pbppp/1p2pn2/8/3NP3/2PB4/PP2QPPP/RNB2RK1 b - - 0 9", this, "f3d4"); ' class="line0">9.Кf3:d4</span> 
 <span class="ellipsis0">...</span> 
</p>
<p>Взятие конем было для меня неожиданным. Я был почти убежден в
 <span onclick='loadMove("rn1q1rk1/pb1pbppp/1p2pn2/8/3PP3/3B1N2/PP2QPPP/RNB2RK1 b - - 0 9", this, "c3d4"); ' class="line1">9.cd</span> 
и считал, что в этом случае черным труднее строить свою игру, главным образом, потому, что придется контролировать ход e4-e5.</p>
<p class="longNotation">
 <span class="ellipsis0">9. ...</span> 
 <span onclick='loadMove("rn1q1rk1/pb2bppp/1p1ppn2/8/3NP3/2PB4/PP2QPPP/RNB2RK1 w - - 0 10", this, "d7d6"); ' class="line0">d7-d6</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("rn1q1rk1/pb2bppp/1p1ppn2/8/3NP3/2PB4/PP2QPPP/RNB1R1K1 b - - 0 10", this, "f1e1"); ' class="line0">10.Лf1-e1</span> 
 <span onclick='loadMove("r2q1rk1/pb1nbppp/1p1ppn2/8/3NP3/2PB4/PP2QPPP/RNB1R1K1 w - - 0 11", this, "b8d7"); ' class="line0">Кb8-d7</span> 
</p>
<p>Черные теперь превосходно развиты. Их ближайшая задача — поиски реальных слабостей в позиции противника.</p>
<p class="longNotation">
 <span onclick='loadMove("r2q1rk1/pb1nbppp/1p1ppn2/8/3NP3/2P5/PPB1QPPP/RNB1R1K1 b - - 0 11", this, "d3c2"); ' class="line0">11.Сd3-c2</span> 
 <span class="ellipsis0">...</span> 
</p>
<p>Белые не хотят ходом
 <span onclick='loadMove("r2q1rk1/pb1nbppp/1p1ppn2/8/3NP3/2PB4/PP1NQPPP/R1B1R1K1 b - - 0 11", this, "b1d2"); ' class="line1">11.Кbd2</span> 
запирать хотя бы на время своего ферзевого слона,
а
 <span onclick='loadMove("r2q1rk1/pb1nbppp/1p1ppn2/6B1/3NP3/2PB4/PP2QPPP/RN2R1K1 b - - 0 11", this, "c1g5"); ' class="line1">11.Сg5</span> 
не устраивает их в данный момент ввиду
 <span onclick='loadMove("r2q1rk1/pb2bppp/1p1ppn2/2n3B1/3NP3/2PB4/PP2QPPP/RN2R1K1 w - - 0 12", this, "d7c5"); ' class="line1">11...Кc5</span> 
с нападением на пешку e4.</p>
<p>Конечно, следовало играть
 <span onclick='loadMove("r2q1rk1/pb1nbppp/1p1ppn2/8/3NP3/2PB4/PP1NQPPP/R1B1R1K1 b - - 0 11", this, "b1d2"); ' class="line1">11.Кd2</span> 
 <!--span onclick='loadMove("r2q1rk1/pb1nbppp/1p1ppn2/8/3NP3/2PB4/PP1NQPPP/R1B1R1K1 w - - 0 12", this, "b1d2"); ' class="line2">11...z0</span--> 
, не только укрепляя пункт e4, но и создавая угрозу
 <span onclick='loadMove("r2q1rk1/pb1nbppp/Bp1ppn2/8/3NP3/2P5/PP1NQPPP/R1B1R1K1 b - - 0 12", this, "d3a6"); ' class="line2">12.Сa6</span> 
.
На
 <!--span onclick='loadMove("r2q1rk1/pb1nbppp/1p1ppn2/8/3NP3/2PB4/PP1NQPPP/R1B1R1K1 w - - 0 12", this, "d3a6"); ' class="line1">11...z0</span--> 
 <!--span onclick='loadMove("r2q1rk1/pb1nbppp/1p1ppn2/8/3NP3/2PB4/PP1NQPPP/R1B1R1K1 b - - 0 12", this, "d3a6"); ' class="line1">12.z0</span--> 

 <span onclick='loadMove("r2q1rk1/pb2bppp/1p1ppn2/2n5/3NP3/2PB4/PP1NQPPP/R1B1R1K1 w - - 0 13", this, "d7c5"); ' class="line1">12...Кc5</span> 
белые ответили бы уже
 <span onclick='loadMove("r2q1rk1/pb2bppp/1p1ppn2/2n5/3NP3/2P5/PPBNQPPP/R1B1R1K1 b - - 0 13", this, "d3c2"); ' class="line1">13.Сc2</span> 
.</p>
<p class="longNotation">
 <span class="ellipsis0">11. ...</span> 
 <span onclick='loadMove("r4rk1/pbqnbppp/1p1ppn2/8/3NP3/2P5/PPB1QPPP/RNB1R1K1 w - - 0 12", this, "d8c7"); ' class="line0">Фd8-c7</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("r4rk1/pbqnbppp/1p1ppn2/6B1/3NP3/2P5/PPB1QPPP/RN2R1K1 b - - 0 12", this, "c1g5"); ' class="line0">12.Сc1-g5</span> 
 <span onclick='loadMove("r4rk1/pbq1bppp/1p1ppn2/2n3B1/3NP3/2P5/PPB1QPPP/RN2R1K1 w - - 0 13", this, "d7c5"); ' class="line0">Кd7-c5</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("r4rk1/pbq1bppp/1p1ppn2/2n3B1/3NP3/2P5/PPBNQPPP/R3R1K1 b - - 0 13", this, "b1d2"); ' class="line0">13.Кb1-d2</span> 
 <span onclick='loadMove("r4rk1/p1q1bppp/bp1ppn2/2n3B1/3NP3/2P5/PPBNQPPP/R3R1K1 w - - 0 14", this, "b7a6"); ' class="line0">Сb7-a6</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("r4rk1/p1q1bppp/bp1ppn2/2n3B1/3NP3/2P2Q2/PPBN1PPP/R3R1K1 b - - 0 14", this, "e2f3"); ' class="line0">14.Фe2-f3</span> 
 <span onclick='loadMove("r4rk1/p1q1bpp1/bp1ppn1p/2n3B1/3NP3/2P2Q2/PPBN1PPP/R3R1K1 w - - 0 15", this, "h7h6"); ' class="line0">h7-h6</span> 
</p>
<p>С намерением продолжить преследование ферзя белых.</p>
<p class="longNotation">
 <span onclick='loadMove("r4rk1/p1q1bpp1/bp1ppn1p/2n5/3NP2B/2P2Q2/PPBN1PPP/R3R1K1 b - - 0 15", this, "g5h4"); ' class="line0">15.Сg5-h4</span> 
 <span onclick='loadMove("r4rk1/p1qnbpp1/bp1ppn1p/8/3NP2B/2P2Q2/PPBN1PPP/R3R1K1 w - - 0 16", this, "c5d7"); ' class="line0">Кc5-d7</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("r4rk1/p1qnbpp1/bp1ppn1p/8/3NP2B/2P4Q/PPBN1PPP/R3R1K1 b - - 0 16", this, "f3h3"); ' class="line0">16.Фf3-h3</span> 
 <span class="ellipsis0">...</span> 
</p>
<p>Уже четвертый ход ферзем, причем и занятая им сейчас позиция не может считаться прочной.</p>
<p class="longNotation">
 <span class="ellipsis0">16. ...</span> 
 <span onclick='loadMove("r3r1k1/p1qnbpp1/bp1ppn1p/8/3NP2B/2P4Q/PPBN1PPP/R3R1K1 w - - 0 17", this, "f8e8"); ' class="line0">Лf8-e8</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("r3r1k1/p1qnbpp1/bp1ppn1p/8/3NPP1B/2P4Q/PPBN2PP/R3R1K1 b - f3 0 17", this, "f2f4"); ' class="line0">17.f2-f4</span> 
 <span class="ellipsis0">...</span> 
</p>
<p>По-видимому, белые хотят предупредить ход <b>Кe5</b>. Более целесообразным был план с переводом плохо стоящего слона h4 на другую позицию, например на диагональ c1-h6. С этой целью можно было сыграть
 <span onclick='loadMove("r3r1k1/p1qnbpp1/bp1ppn1p/8/3NP2B/2P2P1Q/PPBN2PP/R3R1K1 b - - 0 17", this, "f2f3"); ' class="line1">17.f3</span> 
, далее <b>Сh4-f2-e3</b>. В связи с таким переводом мог возникнуть также план атаки g2-g4-g5 после предварительного Крh1 и Лg1. Заслуживало внимания и
 <span onclick='loadMove("r3r1k1/p1qnbpp1/bp1ppn1p/8/3NP3/2P3BQ/PPBN1PPP/R3R1K1 b - - 0 17", this, "h4g3"); ' class="line1">17.Сg3</span> 
.</p>
<p class="longNotation">
 <span class="ellipsis0">17. ...</span> 
 <span onclick='loadMove("r3rnk1/p1q1bpp1/bp1ppn1p/8/3NPP1B/2P4Q/PPBN2PP/R3R1K1 w - - 0 18", this, "d7f8"); ' class="line0">Кd7-f8</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("r3rnk1/p1q1bpp1/bp1ppn1p/8/3NPP1B/2P4Q/PPBN2PP/3RR1K1 b - - 0 18", this, "a1d1"); ' class="line0">18.Лa1-d1</span> 
 <span class="ellipsis0">...</span> 
</p>
<!--[FEN "r3rnk1/p1q1bpp1/bp1ppn1p/8/3NPP1B/2P4Q/PPBN2PP/3RR1K1 w - - 0 1"]-->
<div class="chessBoard analysis nobuttons" data-start-fen="r3rnk1/p1q1bpp1/bp1ppn1p/8/3NPP1B/2P4Q/PPBN2PP/3RR1K1 b - - 0 18"></div>
<p class="longNotation">
 <span class="ellipsis0">18. ...</span> 
 <span onclick='loadMove("r3rnk1/p1q1bpp1/bp1pp2p/7n/3NPP1B/2P4Q/PPBN2PP/3RR1K1 w - - 0 19", this, "f6h5"); ' class="line0">Кf6-h5!</span> 
</p>
<p>Неожиданная комбинация, свидетельствующая о готовности черных перейти в наступление. Главным вариантом является:
 <span onclick='loadMove("r3rnk1/p1q1Bpp1/bp1pp2p/7n/3NPP2/2P4Q/PPBN2PP/3RR1K1 b - - 0 19", this, "h4e7"); ' class="line1">19.С:e7</span> 
 <span onclick='loadMove("r3rnk1/p1q1Bpp1/bp1pp2p/8/3NPn2/2P4Q/PPBN2PP/3RR1K1 w - - 0 20", this, "h5f4"); ' class="line1">К:f4</span> 
 <span onclick='loadMove("r3rnk1/p1q1Bpp1/bp1pp2p/8/3NPn2/2P3Q1/PPBN2PP/3RR1K1 b - - 0 20", this, "h3g3"); ' class="line1">20.Фg3</span> 
 <span onclick='loadMove("r4nk1/p1q1rpp1/bp1pp2p/8/3NPn2/2P3Q1/PPBN2PP/3RR1K1 w - - 0 21", this, "e8e7"); ' class="line1">Л:e7</span> 
 <span onclick='loadMove("r4nk1/p1q1rpp1/bp1pp2p/8/3NPQ2/2P5/PPBN2PP/3RR1K1 b - - 0 21", this, "g3f4"); ' class="line1">21.Ф:f4</span> 
 <span onclick='loadMove("r4nk1/p1q1rpp1/bp1p3p/4p3/3NPQ2/2P5/PPBN2PP/3RR1K1 w - - 0 22", this, "e6e5"); ' class="line1">e5</span> 
 <span onclick='loadMove("r4nk1/p1q1rpp1/bp1p3p/4p3/3NP3/2P5/PPBN1QPP/3RR1K1 b - - 0 22", this, "f4f2"); ' class="line1">22.Фf2</span> 
 <span onclick='loadMove("r4nk1/p1q1rpp1/bp1p3p/8/3pP3/2P5/PPBN1QPP/3RR1K1 w - - 0 23", this, "e5d4"); ' class="line1">ed</span> 
 <span onclick='loadMove("r4nk1/p1q1rpp1/bp1p3p/8/3QP3/2P5/PPBN2PP/3RR1K1 b - - 0 23", this, "f2d4"); ' class="line1">23.Ф:d4</span> 
 <span onclick='loadMove("r5k1/p1q1rpp1/bp1pn2p/8/3QP3/2P5/PPBN2PP/3RR1K1 w - - 0 24", this, "f8e6"); ' class="line1">Кe6</span> 
 <span onclick='loadMove("r5k1/p1q1rpp1/bp1pn2p/8/4P3/2P5/PPBN1QPP/3RR1K1 b - - 0 24", this, "d4f2"); ' class="line1">24.Фf2</span> 
 <span onclick='loadMove("r5k1/p1q1rpp1/bp1p3p/2n5/4P3/2P5/PPBN1QPP/3RR1K1 w - - 0 25", this, "e6c5"); ' class="line1">Кc5</span> 
и далее <b>Лae8</b> с сильным давлением на пешку e4.</p>
<p class="longNotation">
 <span onclick='loadMove("r3rnk1/p1q1bpp1/bp1pp2p/7n/3NPP1B/2P3PQ/PPBN3P/3RR1K1 b - - 0 19", this, "g2g3"); ' class="line0">19.g2-g3</span> 
 <span class="ellipsis0">...</span> 
</p>
<p>Положение фигур белых на королевском фланге выглядит неестественно. Почему, собственно говоря, они не сыграли
 <span onclick='loadMove("r3rnk1/p1q1bpp1/bp1pp2p/7n/3NPP2/2P3BQ/PPBN2PP/3RR1K1 b - - 0 19", this, "h4g3"); ' class="line1">19.Сg3</span> 
? Ответ на этот вопрос скорее всего надо искать в пристрастии моего партнера все к тем же двум слонам, с помощью которых в 1909 г. он нанес знаменитое поражение тогдашнему чемпиону мира Эм. Ласкеру.</p>
<p class="longNotation">
 <span class="ellipsis0">19. ...</span> 
 <span onclick='loadMove("r3rnk1/p1q1bpp1/bp1ppn1p/8/3NPP1B/2P3PQ/PPBN3P/3RR1K1 w - - 0 20", this, "h5f6"); ' class="line0">Кh5-f6</span> 
</p>
<p>
 <!--span onclick='loadMove("r3rnk1/p1q1bpp1/bp1ppn1p/8/3NPP1B/2P3PQ/PPBN3P/3RR1K1 b - - 0 20", this, "h5f6"); ' class="line1">20.z0</span--> 
Намереваясь сыграть
 <span onclick='loadMove("r3r1k1/p1q1bpp1/bp1ppnnp/8/3NPP1B/2P3PQ/PPBN3P/3RR1K1 w - - 0 21", this, "f8g6"); ' class="line1">20...Кg6</span> 
, от чего у белых находится единственная, но правда, не очень их устраивающая защита.</p>
<p class="longNotation">
 <span onclick='loadMove("r3rnk1/p1q1bpp1/bp1ppn1p/8/3NPPPB/2P4Q/PPBN3P/3RR1K1 b - - 0 20", this, "g3g4"); ' class="line0">20.g3-g4</span> 
 <span onclick='loadMove("r3r1k1/p1q1bpp1/bp1ppnnp/8/3NPPPB/2P4Q/PPBN3P/3RR1K1 w - - 0 21", this, "f8g6"); ' class="line0">Кf8-g6</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("r3r1k1/p1q1bpp1/bp1ppnnp/8/3NPPP1/2P3BQ/PPBN3P/3RR1K1 b - - 0 21", this, "h4g3"); ' class="line0">21.Сh4-g3</span> 
 <span onclick='loadMove("r3r1k1/p1q1bpp1/bp1p1nnp/4p3/3NPPP1/2P3BQ/PPBN3P/3RR1K1 w - - 0 22", this, "e6e5"); ' class="line0">e6-e5</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("r3r1k1/p1q1bpp1/bp1p1nnp/4pP2/3NP1P1/2P3BQ/PPBN3P/3RR1K1 b - - 0 22", this, "f4f5"); ' class="line0">22.f4-f5</span> 
 <span class="ellipsis0">...</span> 
</p>
<p>Относительно лучшим выходом для белых мне представляется здесь
 <span onclick='loadMove("r3r1k1/p1q1bpp1/bp1p1nnp/4P3/3NP1P1/2P3BQ/PPBN3P/3RR1K1 b - - 0 22", this, "f4e5"); ' class="line1">22.fe</span> 
 <span onclick='loadMove("r3r1k1/p1q1bpp1/bp1p1n1p/4n3/3NP1P1/2P3BQ/PPBN3P/3RR1K1 w - - 0 23", this, "g6e5"); ' class="line1">К:e5</span> 
 <span onclick='loadMove("r3r1k1/p1q1bpp1/bp1p1n1p/4B3/3NP1P1/2P4Q/PPBN3P/3RR1K1 b - - 0 23", this, "g3e5"); ' class="line1">23.С:e5</span> 
 <span onclick='loadMove("r3r1k1/p1q1bpp1/bp3n1p/4p3/3NP1P1/2P4Q/PPBN3P/3RR1K1 w - - 0 24", this, "d6e5"); ' class="line1">de</span> 
 <span onclick='loadMove("r3r1k1/p1q1bpp1/bp3n1p/4pN2/4P1P1/2P4Q/PPBN3P/3RR1K1 b - - 0 24", this, "d4f5"); ' class="line1">24.Кf5</span> 
.</p>
<p class="longNotation">
 <span class="ellipsis0">22. ...</span> 
 <span onclick='loadMove("r3rnk1/p1q1bpp1/bp1p1n1p/4pP2/3NP1P1/2P3BQ/PPBN3P/3RR1K1 w - - 0 23", this, "g6f8"); ' class="line0">Кg6-f8</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("r3rnk1/p1q1bpp1/bp1p1n1p/4pP2/4P1P1/2P2NBQ/PPBN3P/3RR1K1 b - - 0 23", this, "d4f3"); ' class="line0">23.Кd4-f3</span> 
 <span onclick='loadMove("r3r1k1/p1q1bppn/bp1p1n1p/4pP2/4P1P1/2P2NBQ/PPBN3P/3RR1K1 w - - 0 24", this, "f8h7"); ' class="line0">Кf8-h7</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("r3r1k1/p1q1bppn/bp1p1n1p/4pP2/4P1PB/2P2N1Q/PPBN3P/3RR1K1 b - - 0 24", this, "g3h4"); ' class="line0">24.Сg3-h4</span> 
 <span onclick='loadMove("r3r1k1/p1q1bppn/bp3n1p/3ppP2/4P1PB/2P2N1Q/PPBN3P/3RR1K1 w - - 0 25", this, "d6d5"); ' class="line0">d6-d5</span> 
</p>
<p>Преждевременный прорыв.</p>
<p class="longNotation">
 <span onclick='loadMove("r3r1k1/p1q1bppn/bp3n1p/3ppPP1/4P2B/2P2N1Q/PPBN3P/3RR1K1 b - - 0 25", this, "g4g5"); ' class="line0">25.g4-g5</span> 
 <span onclick='loadMove("r3r1k1/p1q1bppn/bp3n2/3ppPp1/4P2B/2P2N1Q/PPBN3P/3RR1K1 w - - 0 26", this, "h6g5"); ' class="line0">h6:g5</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("r3r1k1/p1q1bppn/bp3n2/3ppPN1/4P2B/2P4Q/PPBN3P/3RR1K1 b - - 0 26", this, "f3g5"); ' class="line0">26.Кf3:g5</span> 
 <span onclick='loadMove("r3r1k1/p1q2ppn/bp3n2/2bppPN1/4P2B/2P4Q/PPBN3P/3RR1K1 w - - 0 27", this, "e7c5"); ' class="line0">Сe7-c5+</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("r3r1k1/p1q2ppn/bp3n2/2bppPN1/4P2B/2P4Q/PPBN2KP/3RR3 b - - 0 27", this, "g1g2"); ' class="line0">27.Крg1-g2</span> 
 <span onclick='loadMove("r3r1k1/p1q2ppn/bp6/2bppPNn/4P2B/2P4Q/PPBN2KP/3RR3 w - - 0 28", this, "f6h5"); ' class="line0">Кf6-h5</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("r3r1k1/p1q2ppn/bp6/2bppPNn/4P3/2P3BQ/PPBN2KP/3RR3 b - - 0 28", this, "h4g3"); ' class="line0">28.Сh4-g3!</span> 
 <span onclick='loadMove("r3r1k1/p1q2pp1/bp6/2bppPnn/4P3/2P3BQ/PPBN2KP/3RR3 w - - 0 29", this, "h7g5"); ' class="line0">Кh7:g5</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("r3r1k1/p1q2pp1/bp6/2bppPnQ/4P3/2P3B1/PPBN2KP/3RR3 b - - 0 29", this, "h3h5"); ' class="line0">29.Фh3:h5</span> 
 <span onclick='loadMove("r3r1k1/p1q2pp1/bp6/2bppP1Q/4n3/2P3B1/PPBN2KP/3RR3 w - - 0 30", this, "g5e4"); ' class="line0">Кg5:e4</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("r3r1k1/p1q2pp1/bp6/2bppP1Q/4N3/2P3B1/PPB3KP/3RR3 b - - 0 30", this, "d2e4"); ' class="line0">30.Кd2:e4</span> 
 <span onclick='loadMove("r3r1k1/p1q2pp1/bp6/2b1pP1Q/4p3/2P3B1/PPB3KP/3RR3 w - - 0 31", this, "d5e4"); ' class="line0">d5:e4</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("r3r1k1/p1q2pp1/bp6/2b1pP1Q/4B3/2P3B1/PP4KP/3RR3 b - - 0 31", this, "c2e4"); ' class="line0">31.Сc2:e4</span> 
 <span class="ellipsis0">...</span> 
</p>
<p>Над доской пронеслась буря, причем для белых она окончилась сравнительно благополучно. По-видимому, я переоценил значение своего преимущества и поторопился форсировать события. Теперь начинает грозить <b>f5-f6</b>, и против этого надо принимать меры.</p>
<p class="longNotation">
 <span class="ellipsis0">31. ...</span> 
 <span onclick='loadMove("r3r1k1/pbq2pp1/1p6/2b1pP1Q/4B3/2P3B1/PP4KP/3RR3 w - - 0 32", this, "a6b7"); ' class="line0">Сa6-b7</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("r3r1k1/pbq2pp1/1p6/2b1pP1Q/1P2B3/2P3B1/P5KP/3RR3 b - b3 0 32", this, "b2b4"); ' class="line0">32.b2-b4?</span> 
 <span class="ellipsis0">...</span> 
</p>
<p>Белые напрасно создают в своей позиции новые слабости. Авторитеты рекомендовали здесь
 <span onclick='loadMove("r3r1k1/pbq2pp1/1p6/2b1pP2/4B3/2P2QB1/PP4KP/3RR3 b - - 0 32", this, "h5f3"); ' class="line1">32.Фf3</span> 
, и это действительно сильный ход, которого я несколько опасался. В этом случае я бы стремился к разменам, пытаясь использовать после упрощений лучшее расположение своих пешек. Могло последовать
 <span onclick='loadMove("r3r1k1/pbq2pp1/1p6/2b1pP2/4B3/2P2QB1/PP4KP/3RR3 b - - 0 32", this, "h5f3"); ' class="line1">32.Фf3</span> 
 <span onclick='loadMove("r3r1k1/p1q2pp1/1p6/2b1pP2/4b3/2P2QB1/PP4KP/3RR3 w - - 0 33", this, "b7e4"); ' class="line1">С:e4</span> 
 <span onclick='loadMove("r3r1k1/p1q2pp1/1p6/2b1pP2/4Q3/2P3B1/PP4KP/3RR3 b - - 0 33", this, "f3e4"); ' class="line1">33.Ф:e4</span> 
 <span onclick='loadMove("3rr1k1/p1q2pp1/1p6/2b1pP2/4Q3/2P3B1/PP4KP/3RR3 w - - 0 34", this, "a8d8"); ' class="line1">Лad8</span> 
 <span onclick='loadMove("3Rr1k1/p1q2pp1/1p6/2b1pP2/4Q3/2P3B1/PP4KP/4R3 b - - 0 34", this, "d1d8"); ' class="line1">34.Л:d8</span> 
(
 <span onclick='loadMove("3rr1k1/p1q2pp1/1p6/2b1BP2/4Q3/2P5/PP4KP/3RR3 b - - 0 34", this, "g3e5"); ' class="line2">34.С:e5</span> 
 <span onclick='loadMove("4r1k1/p1q2pp1/1p6/2b1BP2/4Q3/2P5/PP4KP/3rR3 w - - 0 35", this, "d8d1"); ' class="line2">Л:d1</span> 
)
 <span onclick='loadMove("3qr1k1/p4pp1/1p6/2b1pP2/4Q3/2P3B1/PP4KP/4R3 w - - 0 35", this, "c7d8"); ' class="line1">34...Ф:d8</span> 
.</p>
<p class="longNotation">
 <span class="ellipsis0">32. ...</span> 
 <span onclick='loadMove("r3rbk1/pbq2pp1/1p6/4pP1Q/1P2B3/2P3B1/P5KP/3RR3 w - - 0 33", this, "c5f8"); ' class="line0">Сc5-f8</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("r3rbk1/pbq2pp1/1p6/4pP1Q/1P2B3/2P3BK/P6P/3RR3 b - - 0 33", this, "g2h3"); ' class="line0">33.Крg2-h3?</span> 
 <span onclick='loadMove("2r1rbk1/pbq2pp1/1p6/4pP1Q/1P2B3/2P3BK/P6P/3RR3 w - - 0 34", this, "a8c8"); ' class="line0">Лa8-c8</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("2r1rbk1/pbq2pp1/1p6/4pP1Q/1P6/2P3BK/P1B4P/3RR3 b - - 0 34", this, "e4c2"); ' class="line0">34.Сe4-c2</span> 
 <span class="ellipsis0">...</span> 
</p>
<p>Опять сыграно плохо; белые во что бы то ни стало хотят атаковать и собираются внести в свою инициативу свежие мотивы путем <b>Сb3</b>. Эта сверхоптимистическая оценка своей позиции чревата тяжелыми последствиями. У белых очень неудачно стоит король на h3, они забыли об этом. Следовало укрепить его позицию путем
 <span onclick='loadMove("2r1rbk1/pbq2pp1/1p6/4pP2/1P2B3/2P2QBK/P6P/3RR3 b - - 0 34", this, "h5f3"); ' class="line1">34.Фf3</span> 
.
Выигрыш пешки
 <span onclick='loadMove("2r1rbk1/pBq2pp1/1p6/4pP1Q/1P6/2P3BK/P6P/3RR3 b - - 0 34", this, "e4b7"); ' class="line1">34.С:b7</span> 
 <span onclick='loadMove("2r1rbk1/pq3pp1/1p6/4pP1Q/1P6/2P3BK/P6P/3RR3 w - - 0 35", this, "c7b7"); ' class="line1">Ф:b7</span> 
 <span onclick='loadMove("2r1rbk1/pq3pp1/1p6/4RP1Q/1P6/2P3BK/P6P/3R4 b - - 0 35", this, "e1e5"); ' class="line1">35.Л:e5</span> 
 <span onclick='loadMove("2r2bk1/pq3pp1/1p6/4rP1Q/1P6/2P3BK/P6P/3R4 w - - 0 36", this, "e8e5"); ' class="line1">Л:e5</span> 
 <span onclick='loadMove("2r2bk1/pq3pp1/1p6/4BP1Q/1P6/2P4K/P6P/3R4 b - - 0 36", this, "g3e5"); ' class="line1">36.С:e5</span> 
 <span onclick='loadMove("4rbk1/pq3pp1/1p6/4BP1Q/1P6/2P4K/P6P/3R4 w - - 0 37", this, "c8e8"); ' class="line1">Лe8</span> 
 <span onclick='loadMove("4rbk1/pq3pp1/1p6/5P1Q/1P1B4/2P4K/P6P/3R4 b - - 0 37", this, "e5d4"); ' class="line1">37.Сd4</span> 
 <span onclick='loadMove("5bk1/pq3pp1/1p6/5P1Q/1P1Br3/2P4K/P6P/3R4 w - - 0 38", this, "e8e4"); ' class="line1">Лe4</span> 
был рискованным мероприятием ввиду угрозы теперь <b>Сe7</b>.</p>
<p class="longNotation">
 <span class="ellipsis0">34. ...</span> 
 <span onclick='loadMove("2r1rbk1/pb3pp1/1pq5/4pP1Q/1P6/2P3BK/P1B4P/3RR3 w - - 0 35", this, "c7c6"); ' class="line0">Фc7-c6!</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("2r1rbk1/pb3pp1/1pq5/4pP1Q/1P2B3/2P3BK/P6P/3RR3 b - - 0 35", this, "c2e4"); ' class="line0">35.Сc2-e4</span> 
 <span class="ellipsis0">...</span> 
</p>
<!--[FEN "2r1rbk1/pb3pp1/1pq5/4pP1Q/1P2B3/2P3BK/P6P/3RR3 w - - 0 1"]-->
<div class="chessBoard analysis nobuttons" data-start-fen="2r1rbk1/pb3pp1/1pq5/4pP1Q/1P2B3/2P3BK/P6P/3RR3 b - - 0 35"></div>
<p class="longNotation">
 <span class="ellipsis0">35. ...</span> 
 <span onclick='loadMove("2r1rbk1/pb3pp1/1p6/4pP1Q/1P2q3/2P3BK/P6P/3RR3 w - - 0 36", this, "c6e4"); ' class="line0">Фc6:e4</span> 
</p>
<p>Я не решаюсь поставить к этой жертве восклицательный знак, так как она совершенно очевидна. Мой противник пытался, правда, после партии утверждать, что она некорректна, но доказать обратное здесь не представляет никаких трудов.</p>
<p class="longNotation">
 <span onclick='loadMove("2r1rbk1/pb3pp1/1p6/4pP1Q/1P2R3/2P3BK/P6P/3R4 b - - 0 36", this, "e1e4"); ' class="line0">36.Лe1:e4</span> 
 <span onclick='loadMove("2r1rbk1/p4pp1/1p6/4pP1Q/1P2b3/2P3BK/P6P/3R4 w - - 0 37", this, "b7e4"); ' class="line0">Сb7:e4</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("2r1rbk1/p2R1pp1/1p6/4pP1Q/1P2b3/2P3BK/P6P/8 b - - 0 37", this, "d1d7"); ' class="line0">37.Лd1-d7</span> 
 <span onclick='loadMove("2r1rbk1/p2R1p2/1p4p1/4pP1Q/1P2b3/2P3BK/P6P/8 w - - 0 38", this, "g7g6"); ' class="line0">g7-g6!</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("2r1rbk1/p2R1p2/1p4P1/4p2Q/1P2b3/2P3BK/P6P/8 b - - 0 38", this, "f5g6"); ' class="line0">38.f5:g6</span> 
 <span onclick='loadMove("2r1rbk1/p2R1p2/1p4b1/4p2Q/1P6/2P3BK/P6P/8 w - - 0 39", this, "e4g6"); ' class="line0">Сe4:g6</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("2r1rbk1/p2R1p2/1p4b1/4p3/1P4Q1/2P3BK/P6P/8 b - - 0 39", this, "h5g4"); ' class="line0">39.Фh5-g4</span> 
 <span onclick='loadMove("4rbk1/p2R1p2/1p4b1/4p3/1P4Q1/2r3BK/P6P/8 w - - 0 40", this, "c8c3"); ' class="line0">Лc8:c3</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("4rbk1/R4p2/1p4b1/4p3/1P4Q1/2r3BK/P6P/8 b - - 0 40", this, "d7a7"); ' class="line0">40.Лd7:a7</span> 
 <span onclick='loadMove("5bk1/R4p2/1p2r1b1/4p3/1P4Q1/2r3BK/P6P/8 w - - 0 41", this, "e8e6"); ' class="line0">Лe8-e6</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("R4bk1/5p2/1p2r1b1/4p3/1P4Q1/2r3BK/P6P/8 b - - 0 41", this, "a7a8"); ' class="line0">41.Лa7-a8</span> 
 <span onclick='loadMove("R4b2/5pk1/1p2r1b1/4p3/1P4Q1/2r3BK/P6P/8 w - - 0 42", this, "g8g7"); ' class="line0">Крg8-g7</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("R4b2/5pk1/1p2r1b1/4p1Q1/1P6/2r3BK/P6P/8 b - - 0 42", this, "g4g5"); ' class="line0">42.Фg4-g5</span> 
 <span onclick='loadMove("R7/4bpk1/1p2r1b1/4p1Q1/1P6/2r3BK/P6P/8 w - - 0 43", this, "f8e7"); ' class="line0">Сf8-e7</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("R7/4bpk1/1p2r1b1/4p3/1P4Q1/2r3BK/P6P/8 b - - 0 43", this, "g5g4"); ' class="line0">43.Фg5-g4</span> 
 <span onclick='loadMove("R7/4b1k1/1p2r1b1/4pp2/1P4Q1/2r3BK/P6P/8 w - f6 0 44", this, "f7f5"); ' class="line0">f7-f5</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("R7/4b1k1/1p2r1b1/4pp2/1P6/2r3BK/P3Q2P/8 b - - 0 44", this, "g4e2"); ' class="line0">44.Фg4-e2</span> 
 <span onclick='loadMove("R7/4b1k1/1p2r1b1/4p3/1P3p2/2r3BK/P3Q2P/8 w - - 0 45", this, "f5f4"); ' class="line0">f5-f4</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("R7/4b1k1/1p2r1b1/4p3/1P3pQ1/2r3BK/P6P/8 b - - 0 45", this, "e2g4"); ' class="line0">45.Фe2-g4</span> 
 <span onclick='loadMove("R7/4bk2/1p2r1b1/4p3/1P3pQ1/2r3BK/P6P/8 w - - 0 46", this, "g7f7"); ' class="line0">Крg7-f7</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("6R1/4bk2/1p2r1b1/4p3/1P3pQ1/2r3BK/P6P/8 b - - 0 46", this, "a8g8"); ' class="line0">46.Лa8-g8</span> 
 <span class="ellipsis0">...</span> 
</p>
<p>Цейтнотные «красоты». Черные могут хладнокровно взять слона и выиграть партию после
 <span onclick='loadMove("6R1/4bk2/1p2r1b1/4p3/1P4Q1/2r3pK/P6P/8 w - - 0 47", this, "f4g3"); ' class="line1">46...fg</span> 
 <span onclick='loadMove("8/4bkR1/1p2r1b1/4p3/1P4Q1/2r3pK/P6P/8 b - - 0 47", this, "g8g7"); ' class="line1">47.Лg7+</span> 
 <span onclick='loadMove("8/4b1k1/1p2r1b1/4p3/1P4Q1/2r3pK/P6P/8 w - - 0 48", this, "f7g7"); ' class="line1">Кр:g7</span> 
 <span onclick='loadMove("8/4b1k1/1p2Q1b1/4p3/1P6/2r3pK/P6P/8 b - - 0 48", this, "g4e6"); ' class="line1">48.Ф:e6</span> 
 <span onclick='loadMove("8/4b1k1/1p2Q1b1/4p3/1P6/2r4K/P6p/8 w - - 0 49", this, "g3h2"); ' class="line1">gh+</span> 
 <span onclick='loadMove("8/4b1k1/1p2Q1b1/4p3/1P6/2r5/P6K/8 b - - 0 49", this, "h3h2"); ' class="line1">49.Кр:h2</span> 
 <span onclick='loadMove("8/6k1/1p2Qbb1/4p3/1P6/2r5/P6K/8 w - - 0 50", this, "e7f6"); ' class="line1">Сf6</span> 
, но у белых висел флажок, не было надобности выбирать форсированное продолжение.</p>
<p class="longNotation">
 <span class="ellipsis0">46. ...</span> 
 <span onclick='loadMove("6R1/4bk2/1p3rb1/4p3/1P3pQ1/2r3BK/P6P/8 w - - 0 47", this, "e6f6"); ' class="line0">Лe6-f6</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("8/4bk2/1p3rR1/4p3/1P3pQ1/2r3BK/P6P/8 b - - 0 47", this, "g8g6"); ' class="line0">47.Лg8:g6</span> 
 <span onclick='loadMove("8/4bk2/1p4r1/4p3/1P3pQ1/2r3BK/P6P/8 w - - 0 48", this, "f6g6"); ' class="line0">Лf6:g6</span> 
</p>
<p>Белые просрочили время.</p>
</div> <!-- score -->
</div> <!-- section -->

</div> <!-- iBook -->
{% endblock content %}
