{% extends '../../base.htm' %}
{% load static %}
{% block title %}
<title>Index of Games | {{book.title}} | {%for author in book.authors.all%} {%if author.first_name%} {{author.first_name}} {%endif%} {%if author.second_name%} {{author.second_name}} {%endif%} {%if forloop.counter == book.authors.all.count%} {{author.last_name}} {%else%} {{author.last_name}}, {%endif%} {%endfor%} | {{book.year}}</title>
{% endblock title %}
{% block content %}

<div class="iBook">

<div class="section">
<div class="chessBoard small floater" data-start-fen="rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w KQkq - 0 1"></div>
<div class="score">
 <span class="line0" onclick='loadMove("rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w KQkq - 0 1", this, ""); '>[...]</span> 
<h2>Index of Games</h2>
<p>Ader.W-Fischer.R, Santiago 1959<!--9--></p>
<p>Ashley.M-Nakamura.H, U.S. Championship, Seattle 2003<!--54--></p>
<p>Atakisi.U-Mazi.L, European Championship, Antalya 2004<!--33--></p>
<p>Barczay.L-Kavalek.L, Salgotarjan 1967<!--93--></p>
<p>Becerra Rivero.J-Novikov.l, U.S. Championship, San Diego 2004<!--129--></p>
<p>Becerra Rivero.J-Zapata.A, San Juan 2006<!--125--></p>
<p>Bernstein.S-Fischer.R, U.S. Championship, New York 1957<!--39--></p>
<p>Bronstein.D- Najdorf.M, Buenos Aires 1954<!--143--></p>
<p>Bronstein.D-Gheorghiu.F, Petropolis Interzonal 1973<!--35--></p>
<p>Browne. W-Kaplan.J, San Antonio 1972<!--8--></p>
<p>Calvo Minguez.R-Kavalek.L, Las Palmas 1973<!--118--></p>
<p>Capablanca.J-Havasi.K, Budapest 1928<!--68--></p>
<p>Cervenka.I-Schneider.A, USSR 1974<!--73--></p>
<p>Chudinovskih.A-Kuporosov.V, USSR 1980<!--139--></p>
<p>Conticello.N-PaoIozzi.M, New York City 1978<!--14--></p>
<p>Davis.N-WasteII.G, Australia 1973<!--104--></p>
<p>Dominguez.L-Corral Blanco.J, Spanish Team Championship 2002<!--28--></p>
<p>Fedorov.A-Kobalija.M, Russia 1998<!--80--></p>
<p>Fernandez.A-Ouezada.Y, Santa Clara 2006<!--75--></p>
<p>Fischer.R-Rubinetti.J, Palma de Mallorca Interzonal 1970<!--164--></p>
<p>Fluvia Poyatos.J-Gual Pascual.A, Badalona 2001<!--38--></p>
<p>Garcia.G-Browne.W, U.S. Open 1990<!--176--></p>
<p>Georgiev.K-Kasparov.G, La Valetta Olympiad 1980<!--60--></p>
<!--p>187</p--><!--p>Seven Ways to Smash the Sicilian</p-->
<p>Ghizdava.D-Munteanu.A, Romania 1971<!--116--></p>
<p>Gligoric.S-Bobotsov.Wl, Hastings 1959/60<!--172--></p>
<p>Grefe.J-Browne.W, U.S. Championship, El Paso 1973<!--173--></p>
<p>Gruenfeld.Y-Van der Vliet.F, Amsterdam 1982<!--62--></p>
<p>Gusev.Y-Averbakh.Y, Moscow 1951<!--168--></p>
<p>Hagara.E-Manik.M, Pardubice 2000<!--19--></p>
<p>Hansen.M-Fawbush.G, correspondence 1983<!--107--></p>
<p>Horvath.T-HuIak.K, Virovitica 1980<!--122--></p>
<p>lordachescu.V-Guido.F, Jesolo 1999<!--23--></p>
<p>Ivanchuk.V-Van Wely.L, Monaco (rapid) 2005<!--97--></p>
<p>Karpov.A-Dorfman.J, USSR Championship, Moscow 1976<!--21--></p>
<p>Kasimdzhanov.R-Van der Sterren.P, German League 2001<!--71--></p>
<p>Kasparov.G-Gelfand.B, Amsterdam 1996<!--114--></p>
<p>Kasparov.G-Van Wely.L, Wijk aan Zee 2000<!--48--></p>
<p>Keres.P-Kotov.A, Budapest Candidates 1950<!--57--></p>
<p>Keres.P-Sajtar.J, Amsterdam Olympiad 1954<!--84--></p>
<p>Kozlitin.O-Nechepurenko.R, Samara 2004<!--27--></p>
<p>Lasker.E-Pirc.V, Moscow 1935<!--166--></p>
<p>Leko.P-Ghaem Maghami.E, World Team Championship, Yerevan 2001<!--175--></p>
<p>Ligterink.G-Dieks.R, Wijk aan Zee 1975<!--56--></p>
<p>Lima.D-Morovic Fernandez.l, Sao Paulo 2002<!--40--></p>
<p>Ljiljak-Goddard.A, correspondence 1968<!--154--></p>
<p>Lukashok.A-Smirnov.V, Belarus Championship, Minsk 2003<!--30--></p>
<p>Lutz.C-GeIfand.B, Budapest 2003<!--131--></p>
<p>Martin Gonzalez.A-Chiburdanidze.M, Barcelona 1979<!--83--></p>
<p>Martin GonzaIez.A-Magem Badals.J, Spanish Championship 1986<!--134--></p>
<p>Martinez.N-Vera.R, Cuba 1984<!--158--></p>
<p>Martinovic.S-Musil.V, Yugoslavia 1973<!--111--></p>
<p>Matanovic.A-Gufeld.E, Skopje 1969<!--85--></p>
<p>Matsukevich.A-Vooremaa.A, USSR 1968<!--81--></p>
<p>Minic.D- Fischer.R, Rovinj-Zagreb 1970<!--92--></p>
<p>Nezhmetdinov.R-Chemikov.L, Rostov on Don 1962<!--170--></p>
<p>Nikolenko.O-Nagy.Z, Budapest 1990<!--46--></p>
<p>Nisipeanu.L-Ruck.R, Croatian Team Championship 2006<!--77--></p>
<p>Nisipeanu.L-Solak.D, Bucharest 2001<!--123--></p>
<p>Nunn.J-Sosonko.G, Thessaloniki Olympiad 1984<!--120--></p>
<!--p>188</p--><!--p>index of Games</p-->
<p>Onischuk.A-Bologan.V, Poikovsky 2001<!--101--></p>
<p>Ostapenko.A-Yartsev, correspondence 1969<!--16--></p>
<p>Pedersen-Hallmeyer, Denmark 1973<!--174--></p>
<p>Perez. A-Mclntoch.P, Camaguey 1997<!--140--></p>
<p>Polgar.J-Anand.V, Dos Hermanas 1999<!--99--></p>
<p>Polgar.J-Kasimdzhanov.R, FIDE World Championship, San Luis 2005<!--102--></p>
<p>Psakhis.L-Anikaev.Y, USSR Championship, Frunze 1979<!--152--></p>
<p>Psakhis.L-Tukmakov.V, USSR Championship, Frunze 1979<!--137--></p>
<p>Rajlich.V-Sahovic.D, Belgrade 2001<!--156--></p>
<p>Rigo.J-Busu.C, Romania 1978<!--133--></p>
<p>Rogulj.B-Georgiev.Kr, Varna 1977<!--136--></p>
<p>Schneider.L-Cebalo.M, Eksjo 1982<!--51--></p>
<p>Shamkovich.L-Benko.P, U.S. Championship, Pasadena 1978<!--49--></p>
<p>Shamkovich.L-Wachtel.R, Columbus 1977<!--146--></p>
<p>Shirov.A-Kasparov.G, Linares 2002<!--148--></p>
<p>Shirov.A-Topalov.V, Leon (rapid) 2001<!--146--></p>
<p>Shirov.A-Topalov.V, Wijk aan Zee 2001<!--95--></p>
<p>Shirov.A-Van Wely.L, Istanbul Olympiad 2000<!--96--></p>
<p>Sion Castro.M-Atalik.S, Oviedo 1993<!--112--></p>
<p>Smirnov.P-Shipov.S, Russian Championship, Elista 2001<!--127--></p>
<p>Sokolov.A-Salov.V, Nikolaev 1983<!--105--></p>
<p>Spassky.B-Darga.K, Varna Olympiad 1962<!--46--></p>
<p>Spassky.B-Petrosian.T, World Championship (Game 19), Moscow 1969<!--163--></p>
<p>Spassky.B-Pilnik.H, Gothenburg Interzonal 1955<!--64--></p>
<p>Spassky.B-Rashkovsky.N, USSR Championship, Moscow 1973<!--58--></p>
<p>Spassky.B-Zaichik.G, Moscow 1972<!--31--></p>
<p>Stean.M-Browne.W, Nice Olympiad 1974<!--44--></p>
<p>Stein.L-Furman.S, USSR Championship, Moscow 1969<!--17--></p>
<p>Stellwagen.D-Naiditsch.A, Wijk aan Zee 2003<!--74--></p>
<p>Sulskis.S-Kobalija.M, Moscow 2003<!--88--></p>
<p>Sulypa.A-Andonov.B, Sautron 2004<!--24--></p>
<p>Svidler.P-Sherbakov.R, Russian Championship, Krasnoyarsk 2003<!--70--></p>
<p>Szalanczy.E-Gavrikov.V, Debrecen 1988<!--25--></p>
<p>Tal.M-Larsen.B, 10th matchgame, Bled 1965<!--41--></p>
<p>Tal.M-Mukhin.M, USSR Championship, Baku 1972<!--26--></p>
<p>Tal.M-Stean.M, Hastings 1973/74<!--151--></p>
<!--p>189</p--><!--p>Seven Ways to Smash the Sicilian</p-->
<p>Tsaturian.V-Bangiev.A, USSR 1988<!--160--></p>
<p>Tseshkovsky. V-Browne.W, Manila Interzonal 1976<!--52--></p>
<p>Tseshkovsky.V-Zaitshik.C, USSR Championship, Telavi 1982<!--69--></p>
<p>Vasiukov.E-Modr.B, Prague 1980<!--50--></p>
<p>Velimirovic.D-AI-Kazzaz.R, Nice Olympiad 1974<!--145--></p>
<p>Velimirovic.D-Sofrevski.J, Yugoslav Championship, Titograd 1965<!--91--></p>
<p>Vitolinsh.A-Anetbayev.B, Riga 1975<!--159--></p>
<p>Vitolinsh.A-Yuferov.S, Moscow 1972<!--155--></p>
<p>Wolff.P-SokoIov.I, Baguio City 1987<!--109--></p>
<p>Yeo.M-Chandler.M, British League 1996<!--149--></p>
<p>Yudasin.L-Van Wely.L, Philadelphia 1994<!--166--></p>
<p>Zaitsev.l-Anetbaev.B, Odessa 1972<!--36--></p>
<p>Zakharov.A-Yuferov.S, USSR 1973<!--86--></p>
<p>Zwaig.A-Bednarski.J, Tel Aviv Olympiad 1964<!--66--></p>
<!--p>190</p-->
</div> <!-- score -->
</div> <!-- section -->

</div> <!-- iBook -->
{% endblock content %}
