{% extends '../../base.htm' %}
{% load static %}
{% block title %}
<title>Глава 3: 4.d3 Сc5. Введение и варианты с развитием ферзевого коня | {{book.title}} | {%for author in book.authors.all%} {%if author.first_name%} {{author.first_name}} {%endif%} {%if author.second_name%} {{author.second_name}} {%endif%} {%if forloop.counter == book.authors.all.count%} {{author.last_name}} {%else%} {{author.last_name}}, {%endif%} {%endfor%} | {{book.year}}</title>
{% endblock title %}
{% block content %}

<div class="iBook">
{% include '../../snippet_litres_banner1.htm' %}

<div class="section">
<div class="chessBoard small floater" data-start-fen="r1bqk2r/pppp1ppp/2n2n2/1Bb1p3/4P3/3P1N2/PPP2PPP/RNBQK2R w KQkq - 0 5"></div>
<div class="score">
 <span class="line0" onclick='loadMove("r1bqk2r/pppp1ppp/2n2n2/1Bb1p3/4P3/3P1N2/PPP2PPP/RNBQK2R w KQkq - 0 5", this, ""); '>[...]</span> 
<h2>Глава 3: 4.d3 Сc5. Введение и варианты с развитием ферзевого коня</h2>
<div class="chessBoard analysis nobuttons" data-start-fen="r1bqk2r/pppp1ppp/2n2n2/1Bb1p3/4P3/3P1N2/PPP2PPP/RNBQK2R w KQkq - 0 5"></div>
<p>Наиболее популярная схема развития. После
 <span onclick='loadMove("r1bqkb1r/pppp1ppp/2n2n2/1B2p3/4P3/5N2/PPPP1PPP/RNBQ1RK1 b kq - 0 4", this, "e1g1"); ' class="line1">4.0-0</span> 
играть
 <span onclick='loadMove("r1bqk2r/pppp1ppp/2n2n2/1Bb1p3/4P3/5N2/PPPP1PPP/RNBQ1RK1 w kq - 0 5", this, "f8c5"); ' class="line1">4...Сc5</span> 
не так хорошо, поскольку и
 <span onclick='loadMove("r1bqk2r/pppp1ppp/2n2n2/1Bb1p3/4P3/2P2N2/PP1P1PPP/RNBQ1RK1 b kq - 0 5", this, "c2c3"); ' class="line1">5.c3</span> 
и
 <span onclick='loadMove("r1bqk2r/pppp1ppp/2n2n2/1Bb1N3/4P3/8/PPPP1PPP/RNBQ1RK1 b kq - 0 5", this, "f3e5"); ' class="line1">5.К:e5</span> 
обещают белым неплохие шансы на перевес,
но стоит только белой пешке «d» продвинуться на одно поле, и элитные гроссмейстеры немедленно пользуются возможностью вывести слона на более активную позицию. Вариант этот быстро развивается, поэтому мы разделим весь материал на несколько частей; в данной главе рассмотрим ходы коня b1, в Главе 4 немедленный размен на c6, ход
 <span onclick='loadMove("r1bqk2r/pppp1ppp/2n2n2/1Bb1p3/4P3/3P1N2/PPP2PPP/RNBQ1RK1 b kq - 0 5", this, "e1g1"); ' class="line1">5.0-0</span> 
в Главе 5, а
 <span onclick='loadMove("r1bqk2r/pppp1ppp/2n2n2/1Bb1p3/4P3/2PP1N2/PP3PPP/RNBQK2R b KQkq - 0 5", this, "c2c3"); ' class="line1">5.c3</span> 
— главное продолжение — в Главах 6 и 7.</p>

<ul>
<li><a class="line0" href="{% url 'page-view' book.root_dir|add:'/3-1-a-5-nc3.htm' %}">A) 5.Кc3</a></li>
<li><a class="line0" href="{% url 'page-view' book.root_dir|add:'/3-2-b-5-nbd2.htm' %}">B) 5.Кbd2!?</a></li>
</ul>

</div> <!-- score -->
</div> <!-- section -->

{% include '../../snippet_litres_banner1.htm' %}
</div> <!-- iBook -->
{% endblock content %}

