/* Analysis set */

.analysis .piece.wpawn   { background-image: url("20/wp.png"); }
.analysis .piece.bpawn   { background-image: url("20/bp.png"); }
.analysis .piece.wrook   { background-image: url("20/wr.png"); }
.analysis .piece.brook   { background-image: url("20/br.png"); }
.analysis .piece.wknight { background-image: url("20/wn.png"); }
.analysis .piece.bknight { background-image: url("20/bn.png"); }
.analysis .piece.wbishop { background-image: url("20/wb.png"); }
.analysis .piece.bbishop { background-image: url("20/bb.png"); }
.analysis .piece.wqueen  { background-image: url("20/wq.png"); }
.analysis .piece.bqueen  { background-image: url("20/bq.png"); }
.analysis .piece.wking   { background-image: url("20/wk.png"); }
.analysis .piece.bking   { background-image: url("20/bk.png"); }

/* Small set */

.small .piece.wpawn   { background-image: url("25/wp.png"); }
.small .piece.bpawn   { background-image: url("25/bp.png"); }
.small .piece.wrook   { background-image: url("25/wr.png"); }
.small .piece.brook   { background-image: url("25/br.png"); }
.small .piece.wknight { background-image: url("25/wn.png"); }
.small .piece.bknight { background-image: url("25/bn.png"); }
.small .piece.wbishop { background-image: url("25/wb.png"); }
.small .piece.bbishop { background-image: url("25/bb.png"); }
.small .piece.wqueen  { background-image: url("25/wq.png"); }
.small .piece.bqueen  { background-image: url("25/bq.png"); }
.small .piece.wking   { background-image: url("25/wk.png"); }
.small .piece.bking   { background-image: url("25/bk.png"); }

/* Large set */

.piece.wpawn   { background-image: url("45/wp.png"); }
.piece.bpawn   { background-image: url("45/bp.png"); }
.piece.wrook   { background-image: url("45/wr.png"); }
.piece.brook   { background-image: url("45/br.png"); }
.piece.wknight { background-image: url("45/wn.png"); }
.piece.bknight { background-image: url("45/bn.png"); }
.piece.wbishop { background-image: url("45/wb.png"); }
.piece.bbishop { background-image: url("45/bb.png"); }
.piece.wqueen  { background-image: url("45/wq.png"); }
.piece.bqueen  { background-image: url("45/bq.png"); }
.piece.wking   { background-image: url("45/wk.png"); }
.piece.bking   { background-image: url("45/bk.png"); }