{% extends '../../base.htm' %}
{% load static %}
{% block title %}
<title>ГАМБИТ САВЕЛИЯ ТАРТАКОВЕРА | Черные Б. Ивков — 1957, Вена — командное первенство Европы | {{book.title}} | {%for author in book.authors.all%} {%if author.first_name%} {{author.first_name}} {%endif%} {%if author.second_name%} {{author.second_name}} {%endif%} {%if forloop.counter == book.authors.all.count%} {{author.last_name}} {%else%} {{author.last_name}}, {%endif%} {%endfor%} | {{book.year}}</title>
{% endblock title %}
{% block content %}

<div class="iBook">

<div class="section">
<div class="chessBoard small floater" data-start-fen="rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w KQkq - 0 1"></div>
<div class="score">
 <span class="line0" onclick='loadMove("rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w KQkq - 0 1", this, ""); '>[...]</span> 
<!--p>Королевский гамбит</p><p>27</p-->

<h3>ГАМБИТ САВЕЛИЯ ТАРТАКОВЕРА</h3>
<h4>Черные Б. Ивков — 1957, Вена — командное первенство Европы</h4>
<div class="chessBoard analysis nobuttons" data-start-fen="rnbqk1nr/ppppbppp/8/8/4Pp2/5N2/PPPPB1PP/RNBQK2R b KQkq - 0 4"></div>
<p>После
 <span onclick='loadMove("rnbqk1nr/ppppbppp/8/8/4Pp2/5N2/PPPPB1PP/RNBQK2R b KQkq - 0 4", this, "f1e2"); ' class="line1">4.Сf1-e2</span> 
</p>
<p>Искать этот гамбит в шахматных справочниках бесполезно — ничего похожего вы там не найдете. Ход
 <span onclick='loadMove("rnbqk1nr/ppppbppp/8/8/4Pp2/5N2/PPPPB1PP/RNBQK2R b KQkq - 0 4", this, "f1e2"); ' class="line1">4.Сe2</span> 
придумал мастер Мучник, а название — я сам.</p>
<p>А как бы вы назвали этот вариант, если бы узнали, что в крупном международном турнире, состоявшемся в Нью-Йорке в 1924 году, Савелий Григорьевич Тартаковер позволил себе роскошь так разыграть начало партии против чемпиона мира Х.-Р. Капабланки и претендента на шахматный престол А.Алехина:
 <span onclick='loadMove("rnbqkbnr/pppppppp/8/8/4P3/8/PPPP1PPP/RNBQKBNR b KQkq e3 0 1", this, "e2e4"); ' class="line1">1.e4</span> 
 <span onclick='loadMove("rnbqkbnr/pppp1ppp/8/4p3/4P3/8/PPPP1PPP/RNBQKBNR w KQkq e6 0 2", this, "e7e5"); ' class="line1">e5</span> 
 <span onclick='loadMove("rnbqkbnr/pppp1ppp/8/4p3/4PP2/8/PPPP2PP/RNBQKBNR b KQkq f3 0 2", this, "f2f4"); ' class="line1">2.f4</span> 
 <span onclick='loadMove("rnbqkbnr/pppp1ppp/8/8/4Pp2/8/PPPP2PP/RNBQKBNR w KQkq - 0 3", this, "e5f4"); ' class="line1">ef</span> 
 <span onclick='loadMove("rnbqkbnr/pppp1ppp/8/8/4Pp2/8/PPPPB1PP/RNBQK1NR b KQkq - 0 3", this, "f1e2"); ' class="line1">3.Сe2</span> 
.</p>
<p>Имеет ли эта историческая справка какое-либо касательство к разбираемой нами партии?</p>
<p>Конечно. Здесь добавлены ходы <b>Кf3</b> и <b>Сe7</b>, но суть дела не изменилась — белый слон выходит на e2, чтобы не попасть под обстрел черной пешки d7, когда последней заблагорассудится совершить вояж на центральное поле d5.</p>
<p>И если при позиции слона на поле c4 у белых узкий выбор ходов — побить пешку или отступить, то при слоне на e2 появляется новая возможность — черную пешку можно обойти с фланга.</p>
<p>Этот план мне удалось успешно осуществить, но дальнейшая атака была приостановлена четкими действиями Б. Ивкова.</p>
<p>Читателю предоставляется возможность изучить высокопрофессиональную манеру игры югославского гроссмейстера и лучшее взять на вооружение.</p>
<p>А когда появится свободная минута, непременно найдите книгу А. А. Алехина о турнире в Нью-Йорке 1924 года и разыграйте на доске партии Тартаковер — Капабланка и Тартаковер — Алехин. Там же вы познакомитесь и со многими другими партиями большого турнира, виртуозно прокомментированными.</p>

<p>
 <span onclick='loadMove("rnbqkbnr/pppppppp/8/8/4P3/8/PPPP1PPP/RNBQKBNR b KQkq e3 0 1", this, "e2e4"); ' class="line0">1.e4</span> 
 <span onclick='loadMove("rnbqkbnr/pppp1ppp/8/4p3/4P3/8/PPPP1PPP/RNBQKBNR w KQkq e6 0 2", this, "e7e5"); ' class="line0">e5</span> 
 <span onclick='loadMove("rnbqkbnr/pppp1ppp/8/4p3/4PP2/8/PPPP2PP/RNBQKBNR b KQkq f3 0 2", this, "f2f4"); ' class="line0">2.f4</span> 
 <span onclick='loadMove("rnbqkbnr/pppp1ppp/8/8/4Pp2/8/PPPP2PP/RNBQKBNR w KQkq - 0 3", this, "e5f4"); ' class="line0">ef</span> 
 <span onclick='loadMove("rnbqkbnr/pppp1ppp/8/8/4Pp2/5N2/PPPP2PP/RNBQKB1R b KQkq - 0 3", this, "g1f3"); ' class="line0">3.Кf3</span> 
 <span onclick='loadMove("rnbqk1nr/ppppbppp/8/8/4Pp2/5N2/PPPP2PP/RNBQKB1R w KQkq - 0 4", this, "f8e7"); ' class="line0">Сe7</span> 
 <span onclick='loadMove("rnbqk1nr/ppppbppp/8/8/4Pp2/5N2/PPPPB1PP/RNBQK2R b KQkq - 0 4", this, "f1e2"); ' class="line0">4.Сe2</span> 
 <span onclick='loadMove("rnbqk2r/ppppbppp/5n2/8/4Pp2/5N2/PPPPB1PP/RNBQK2R w KQkq - 0 5", this, "g8f6"); ' class="line0">Кf6</span> 
 <span onclick='loadMove("rnbqk2r/ppppbppp/5n2/8/4Pp2/3P1N2/PPP1B1PP/RNBQK2R b KQkq - 0 5", this, "d2d3"); ' class="line0">5.d3</span> 
 <span onclick='loadMove("rnbqk2r/ppp1bppp/5n2/3p4/4Pp2/3P1N2/PPP1B1PP/RNBQK2R w KQkq d6 0 6", this, "d7d5"); ' class="line0">d5</span> 
 <span onclick='loadMove("rnbqk2r/ppp1bppp/5n2/3pP3/5p2/3P1N2/PPP1B1PP/RNBQK2R b KQkq - 0 6", this, "e4e5"); ' class="line0">6.e5</span> 
 <span onclick='loadMove("rnbqk2r/ppp1bppp/8/3pP3/5pn1/3P1N2/PPP1B1PP/RNBQK2R w KQkq - 0 7", this, "f6g4"); ' class="line0">Кg4</span> 
 <span onclick='loadMove("rnbqk2r/ppp1bppp/8/3pP3/5Bn1/3P1N2/PPP1B1PP/RN1QK2R b KQkq - 0 7", this, "c1f4"); ' class="line0">7.С:f4</span> 
 <span onclick='loadMove("rnbqk2r/ppp1b1pp/5p2/3pP3/5Bn1/3P1N2/PPP1B1PP/RN1QK2R w KQkq - 0 8", this, "f7f6"); ' class="line0">f6</span> 
 <span onclick='loadMove("rnbqk2r/ppp1b1pp/5p2/3pP3/3P1Bn1/5N2/PPP1B1PP/RN1QK2R b KQkq - 0 8", this, "d3d4"); ' class="line0">8.d4</span> 
 <span onclick='loadMove("rnbq1rk1/ppp1b1pp/5p2/3pP3/3P1Bn1/5N2/PPP1B1PP/RN1QK2R w KQ - 0 9", this, "e8g8"); ' class="line0">0-0</span> 
 <span onclick='loadMove("rnbq1rk1/ppp1b1pp/5p2/3pP3/3P1Bn1/5N2/PPP1B1PP/RN1Q1RK1 b - - 0 9", this, "e1g1"); ' class="line0">9.0-0</span> 
 <span onclick='loadMove("rnbq1rk1/ppp1b1pp/8/3pp3/3P1Bn1/5N2/PPP1B1PP/RN1Q1RK1 w - - 0 10", this, "f6e5"); ' class="line0">fe</span> 
 <span onclick='loadMove("rnbq1rk1/ppp1b1pp/8/3pN3/3P1Bn1/8/PPP1B1PP/RN1Q1RK1 b - - 0 10", this, "f3e5"); ' class="line0">10.К:e5</span> 
 <span onclick='loadMove("rnbq1rk1/ppp1b1pp/8/3pn3/3P1B2/8/PPP1B1PP/RN1Q1RK1 w - - 0 11", this, "g4e5"); ' class="line0">К:e5</span> 
 <span onclick='loadMove("rnbq1rk1/ppp1b1pp/8/3pB3/3P4/8/PPP1B1PP/RN1Q1RK1 b - - 0 11", this, "f4e5"); ' class="line0">11.С:e5</span> 
 <span onclick='loadMove("rnbq2k1/ppp1b1pp/8/3pB3/3P4/8/PPP1B1PP/RN1Q1rK1 w - - 0 12", this, "f8f1"); ' class="line0">Л:f1+</span> 
 <span onclick='loadMove("rnbq2k1/ppp1b1pp/8/3pB3/3P4/8/PPP3PP/RN1Q1BK1 b - - 0 12", this, "e2f1"); ' class="line0">12.С:f1</span> 
 <span onclick='loadMove("r1bq2k1/ppp1b1pp/2n5/3pB3/3P4/8/PPP3PP/RN1Q1BK1 w - - 0 13", this, "b8c6"); ' class="line0">Кc6</span> 
. Ничья.</p>

</div> <!-- score -->
</div> <!-- section -->

</div> <!-- iBook -->
{% endblock content %}
