{% extends '../../base.htm' %}
{% load static %}
{% block title %}
<title>ВЕНСКАЯ ПАРТИЯ | {{book.title}} | {%for author in book.authors.all%} {%if author.first_name%} {{author.first_name}} {%endif%} {%if author.second_name%} {{author.second_name}} {%endif%} {%if forloop.counter == book.authors.all.count%} {{author.last_name}} {%else%} {{author.last_name}}, {%endif%} {%endfor%} | {{book.year}}</title>
{% endblock title %}
{% block content %}

<div class="iBook">

<div class="section">
<div class="chessBoard small floater" data-start-fen="rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w KQkq - 0 1"></div>
<div class="score">
 <span class="line0" onclick='loadMove("rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w KQkq - 0 1", this, ""); '>[...]</span> 

<h2>ВЕНСКАЯ ПАРТИЯ</h2>
<div class="chessBoard analysis nobuttons" data-start-fen="rnbqkbnr/pppp1ppp/8/4p3/4P3/2N5/PPPP1PPP/R1BQKBNR b KQkq - 0 2"></div>
<p>После
 <span onclick='loadMove("rnbqkbnr/pppp1ppp/8/4p3/4P3/2N5/PPPP1PPP/R1BQKBNR b KQkq - 0 2", this, "b1c3"); ' class="line1">2.Кb1-c3</span> 
</p>
<p>Атака ферзевого коня
 <span onclick='loadMove("rnbqkbnr/pppp1ppp/8/4p3/4P3/2N5/PPPP1PPP/R1BQKBNR b KQkq - 0 2", this, "b1c3"); ' class="line0">2.Кb1-c3</span> 
— дебют для шахматистов спокойных, не то чтобы флегматичных, но рассудительных. Такие игроки прежде, чем наступать на редуты врага, хотят ликвидировать слабые пункты в собственном лагере. Вот они увидели, что пешка «е» потеряла подвижность, на миг осталась беззащитной,— и спешат подкрепить ее кавалерийским резервом. И лишь после подготовки, в зависимости от действий соперника, белые решат, какую фигуру следует послать в разведку.</p>
<p>Солидная атака
 <span onclick='loadMove("rnbqkbnr/pppp1ppp/8/4p3/4P3/2N5/PPPP1PPP/R1BQKBNR b KQkq - 0 2", this, "b1c3"); ' class="line1">2.Кc3</span> 
пользовалась особой любовью венских шахматистов, она так и вошла в теорию под названием «венская партия». О ней написано много теоретических статей, а в вышедшем в 1940 году солидном, я сказал бы капитальном, труде «Современный дебют» есть специальная глава, посвященная венской партии.</p>
<p>Главенствующие мотивы — общие для всех открытых начал. Опять-таки не последнюю роль играет диагональ c4-f7, внезапный прыжок ферзя на поле h5, недостаточная защита поля f7. Если черным удается перехватить инициативу, то все бывает наоборот: слабость поля f2, вылазка черного ферзя на h4 и грозная диагональ c5-f2.</p>
<p>Тех, кто только приступает к изучению венской партии, я хотел бы предостеречь от хода <b>Фd8-f6</b> (
 <span onclick='loadMove("rnbqkbnr/pppppppp/8/8/4P3/8/PPPP1PPP/RNBQKBNR b KQkq e3 0 1", this, "e2e4"); ' class="line1">1.e4</span> 
 <span onclick='loadMove("rnbqkbnr/pppp1ppp/8/4p3/4P3/8/PPPP1PPP/RNBQKBNR w KQkq e6 0 2", this, "e7e5"); ' class="line1">e5</span> 
 <span onclick='loadMove("rnbqkbnr/pppp1ppp/8/4p3/4P3/2N5/PPPP1PPP/R1BQKBNR b KQkq - 0 2", this, "b1c3"); ' class="line1">2.Кc3</span> 
 <span onclick='loadMove("r1bqkbnr/pppp1ppp/2n5/4p3/4P3/2N5/PPPP1PPP/R1BQKBNR w KQkq - 0 3", this, "b8c6"); ' class="line1">Кc6</span> 
 <span onclick='loadMove("r1bqkbnr/pppp1ppp/2n5/4p3/2B1P3/2N5/PPPP1PPP/R1BQK1NR b KQkq - 0 3", this, "f1c4"); ' class="line1">3.Сc4</span> 
 <span onclick='loadMove("r1bqk1nr/pppp1ppp/2n5/2b1p3/2B1P3/2N5/PPPP1PPP/R1BQK1NR w KQkq - 0 4", this, "f8c5"); ' class="line1">Сc5</span> 
 <span onclick='loadMove("r1bqk1nr/pppp1ppp/2n5/2b1p3/2B1P1Q1/2N5/PPPP1PPP/R1B1K1NR b KQkq - 0 4", this, "d1g4"); ' class="line1">4.Фg4</span> 
). Не надо сознательно вызывать ход <b>Кc3-d5</b>:
 <span onclick='loadMove("r1b1k1nr/pppp1ppp/2n2q2/2b1p3/2B1P1Q1/2N5/PPPP1PPP/R1B1K1NR w KQkq - 0 5", this, "d8f6"); ' class="line1">4...Фf6</span> 
 <span onclick='loadMove("r1b1k1nr/pppp1ppp/2n2q2/2bNp3/2B1P1Q1/8/PPPP1PPP/R1B1K1NR b KQkq - 0 5", this, "c3d5"); ' class="line1">5.Кd5</span> 
, так как после
 <span onclick='loadMove("r1b1k1nr/pppp1ppp/2n5/2bNp3/2B1P1Q1/8/PPPP1qPP/R1B1K1NR w KQkq - 0 6", this, "f6f2"); ' class="line1">5...Ф:f2+</span> 
 <span onclick='loadMove("r1b1k1nr/pppp1ppp/2n5/2bNp3/2B1P1Q1/8/PPPP1qPP/R1BK2NR b kq - 0 6", this, "e1d1"); ' class="line1">6.Крd1</span> 
 <span onclick='loadMove("r1bk2nr/pppp1ppp/2n5/2bNp3/2B1P1Q1/8/PPPP1qPP/R1BK2NR w - - 0 7", this, "e8d8"); ' class="line1">Крd8</span> 
 <span onclick='loadMove("r1bk2nr/pppp1ppp/2n5/2bNp3/2B1P1Q1/7N/PPPP1qPP/R1BK3R b - - 0 7", this, "g1h3"); ' class="line1">7.Кh3</span> 
 <span onclick='loadMove("r1bk2nr/pppp1ppp/2n5/2bNp3/2BqP1Q1/7N/PPPP2PP/R1BK3R w - - 0 8", this, "f2d4"); ' class="line1">Фd4</span> 
 <span onclick='loadMove("r1bk2nr/pppp1ppp/2n5/2bNp3/2BqP1Q1/3P3N/PPP3PP/R1BK3R b - - 0 8", this, "d2d3"); ' class="line1">8.d3</span> 
черному ферзю будет крайне трудно выскользнуть невредимым из цепких объятий белых пешек.</p>
<p>Главным продолжением венской партии считают вариант
 <span onclick='loadMove("rnbqkbnr/pppp1ppp/8/4p3/4P3/2N5/PPPP1PPP/R1BQKBNR b KQkq - 0 2", this, "b1c3"); ' class="line0">2.Кc3</span> 
 <span onclick='loadMove("rnbqkb1r/pppp1ppp/5n2/4p3/4P3/2N5/PPPP1PPP/R1BQKBNR w KQkq - 0 3", this, "g8f6"); ' class="line0">Кf6</span> 
 <span onclick='loadMove("rnbqkb1r/pppp1ppp/5n2/4p3/4PP2/2N5/PPPP2PP/R1BQKBNR b KQkq f3 0 3", this, "f2f4"); ' class="line0">3.f4</span> 
 <span onclick='loadMove("rnbqkb1r/ppp2ppp/5n2/3pp3/4PP2/2N5/PPPP2PP/R1BQKBNR w KQkq d6 0 4", this, "d7d5"); ' class="line0">d5</span> 
 <span onclick='loadMove("rnbqkb1r/ppp2ppp/5n2/3pP3/4P3/2N5/PPPP2PP/R1BQKBNR b KQkq - 0 4", this, "f4e5"); ' class="line0">4.fe</span> 
 <span onclick='loadMove("rnbqkb1r/ppp2ppp/8/3pP3/4n3/2N5/PPPP2PP/R1BQKBNR w KQkq - 0 5", this, "f6e4"); ' class="line0">К:e4</span> 
и теперь
 <span onclick='loadMove("rnbqkb1r/ppp2ppp/8/3pP3/4n3/2N2N2/PPPP2PP/R1BQKB1R b KQkq - 0 5", this, "g1f3"); ' class="line0">5.Кf3</span> 
,
 <span onclick='loadMove("rnbqkb1r/ppp2ppp/8/3pP3/4n3/2N2Q2/PPPP2PP/R1B1KBNR b KQkq - 0 5", this, "d1f3"); ' class="line0">5.Фf3</span> 
,
 <span onclick='loadMove("rnbqkb1r/ppp2ppp/8/3pP3/4n3/2NP4/PPP3PP/R1BQKBNR b KQkq - 0 5", this, "d2d3"); ' class="line0">5.d3</span> 
.</p>
</div> <!-- score -->
</div> <!-- section -->

</div> <!-- iBook -->
{% endblock content %}
