{% extends '../../base.htm' %}
{% load static %}
{% block title %}
<title>ТЕХНИЧЕСКИЙ БРАК | Черные Б. Ивков — 1968, Амстердам — международный турнир | {{book.title}} | {%for author in book.authors.all%} {%if author.first_name%} {{author.first_name}} {%endif%} {%if author.second_name%} {{author.second_name}} {%endif%} {%if forloop.counter == book.authors.all.count%} {{author.last_name}} {%else%} {{author.last_name}}, {%endif%} {%endfor%} | {{book.year}}</title>
{% endblock title %}
{% block content %}

<div class="iBook">

<div class="section">
<div class="chessBoard small floater" data-start-fen="rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w KQkq - 0 1"></div>
<div class="score">
 <span class="line0" onclick='loadMove("rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w KQkq - 0 1", this, ""); '>[...]</span> 
<!--p>Итальянская партия</p><p>77</p-->

<h3>ТЕХНИЧЕСКИЙ БРАК</h3>
<h4>Черные Б. Ивков — 1968, Амстердам — международный турнир</h4>
<div class="chessBoard analysis nobuttons" data-start-fen="r3r1k1/pp3p2/3p2pB/3Pp2n/3PP1Q1/8/1Pq2PPP/R4RK1 w - - 0 22"></div>
<p>После
 <span onclick='loadMove("r3r1k1/pp3p2/3p2pB/3Pp2n/3PP1Q1/8/1Pq2PPP/R4RK1 w - - 0 22", this, "g7g6"); ' class="line1">21...g7-g6</span> 
</p>
<p>Борьба развернулась не в центре и не на королевском фланге, как обычно бывает в этом дебюте, а на ферзевом фланге, где объектом атаки явился чернопольный слон, неосторожно застрявший на поле b6.</p>
<p>И только на 15-м ходу белые резко изменили темп игры, осуществив программное продвижение <b>d3-d4!</b></p>
<p>Для защиты от грозившего пешечного штурма черным надо было спешно принимать ответные меры, такой акцией явилась вылазка слона на g4 и коня на d4.</p>
<p>Однако Б. Ивкову не повезло: делая ход
 <span onclick='loadMove("r3r1k1/ppqn1pp1/2npb2p/4p3/3PP3/2P2N2/1PB2PPP/R1BQ1RK1 b - - 0 15", this, "d3d4"); ' class="line1">15.d4</span> 
, я учел возможность
 <span onclick='loadMove("r3r1k1/ppqn1pp1/2np3p/4p3/3PP1b1/2P2N2/1PB2PPP/R1BQ1RK1 w - - 0 16", this, "e6g4"); ' class="line1">15...Сg4</span> 
 <span onclick='loadMove("r3r1k1/ppqn1pp1/2np3p/3Pp3/4P1b1/2P2N2/1PB2PPP/R1BQ1RK1 b - - 0 16", this, "d4d5"); ' class="line1">16.d5</span> 
 <span onclick='loadMove("r3r1k1/ppqn1pp1/2np3p/3Pp3/4P3/2P2b2/1PB2PPP/R1BQ1RK1 w - - 0 17", this, "g4f3"); ' class="line1">С:f3</span> 
 <span onclick='loadMove("r3r1k1/ppqn1pp1/2np3p/3Pp3/4P3/2P2Q2/1PB2PPP/R1B2RK1 b - - 0 17", this, "d1f3"); ' class="line1">17.Ф:f3</span> 
 <span onclick='loadMove("r3r1k1/ppqn1pp1/3p3p/3Pp3/3nP3/2P2Q2/1PB2PPP/R1B2RK1 w - - 0 18", this, "c6d4"); ' class="line1">Кd4</span> 
и приготовил внезапную жертву —
 <span onclick='loadMove("r3r1k1/ppqn1pp1/3p3p/3Pp3/3PP3/5Q2/1PB2PPP/R1B2RK1 b - - 0 18", this, "c3d4"); ' class="line1">18.cd</span> 
 <span onclick='loadMove("r3r1k1/pp1n1pp1/3p3p/3Pp3/3PP3/5Q2/1Pq2PPP/R1B2RK1 w - - 0 19", this, "c7c2"); ' class="line1">Ф:c2</span> 
 <span onclick='loadMove("r3r1k1/pp1n1pp1/3p3B/3Pp3/3PP3/5Q2/1Pq2PPP/R4RK1 b - - 0 19", this, "c1h6"); ' class="line1">19.С:h6!</span> 
Бить слона
 <span onclick='loadMove("r3r1k1/pp1n1p2/3p3p/3Pp3/3PP3/5Q2/1Pq2PPP/R4RK1 w - - 0 20", this, "g7h6"); ' class="line1">19...gh</span> 
явно невыгодно из-за хода
 <span onclick='loadMove("r3r1k1/pp1n1p2/3p3p/3Pp3/3PP1Q1/8/1Pq2PPP/R4RK1 b - - 0 20", this, "f3g4"); ' class="line1">20.Фf3-g4+</span> 
.</p>
<p>Во время домашней подготовки я и мечтать не смел о позиции, которая изображена на диаграмме. Ослабление пешечной цепи черных лучше всего можно было использовать при помощи хода
 <span onclick='loadMove("r3r1k1/pp3p2/3p2pB/3Pp2n/3PP1Q1/8/1Pq2PPP/2R2RK1 b - - 0 22", this, "a1c1"); ' class="line1">22.Лac1</span> 
и <b>23.Лc7</b>, после которого не видно защиты от угрозы <b>Фg4-d7-f7!</b></p>
<p>Видел ли я этот ход? Разумеется. Так в чем же дело? Слона пожалел. Пешку f7 черные легко могли защитить ходом <b>Лf8</b>: не отдавать же за эту ладью моего слона! После партии мы с Ивковым установили, что эта угроза была белым не опасна. Одним словом, ход
 <span onclick='loadMove("r3r1k1/pp3p2/3p2pB/3PP2n/4P1Q1/8/1Pq2PPP/R4RK1 b - - 0 22", this, "d4e5"); ' class="line1">22.de?</span> 
— технический брак.</p>

<p>
 <span onclick='loadMove("rnbqkbnr/pppppppp/8/8/4P3/8/PPPP1PPP/RNBQKBNR b KQkq e3 0 1", this, "e2e4"); ' class="line0">1.e4</span> 
 <span onclick='loadMove("rnbqkbnr/pppp1ppp/8/4p3/4P3/8/PPPP1PPP/RNBQKBNR w KQkq e6 0 2", this, "e7e5"); ' class="line0">e5</span> 
 <span onclick='loadMove("rnbqkbnr/pppp1ppp/8/4p3/4P3/5N2/PPPP1PPP/RNBQKB1R b KQkq - 0 2", this, "g1f3"); ' class="line0">2.Кf3</span> 
 <span onclick='loadMove("r1bqkbnr/pppp1ppp/2n5/4p3/4P3/5N2/PPPP1PPP/RNBQKB1R w KQkq - 0 3", this, "b8c6"); ' class="line0">Кc6</span> 
 <span onclick='loadMove("r1bqkbnr/pppp1ppp/2n5/4p3/2B1P3/5N2/PPPP1PPP/RNBQK2R b KQkq - 0 3", this, "f1c4"); ' class="line0">3.Сc4</span> 
 <span onclick='loadMove("r1bqk1nr/pppp1ppp/2n5/2b1p3/2B1P3/5N2/PPPP1PPP/RNBQK2R w KQkq - 0 4", this, "f8c5"); ' class="line0">Сc5</span> 
 <span onclick='loadMove("r1bqk1nr/pppp1ppp/2n5/2b1p3/2B1P3/2P2N2/PP1P1PPP/RNBQK2R b KQkq - 0 4", this, "c2c3"); ' class="line0">4.c3</span> 
 <span onclick='loadMove("r1bqk2r/pppp1ppp/2n2n2/2b1p3/2B1P3/2P2N2/PP1P1PPP/RNBQK2R w KQkq - 0 5", this, "g8f6"); ' class="line0">Кf6</span> 
 <span onclick='loadMove("r1bqk2r/pppp1ppp/2n2n2/2b1p3/2B1P3/2PP1N2/PP3PPP/RNBQK2R b KQkq - 0 5", this, "d2d3"); ' class="line0">5.d3</span> 
 <span onclick='loadMove("r1bqk2r/ppp2ppp/2np1n2/2b1p3/2B1P3/2PP1N2/PP3PPP/RNBQK2R w KQkq - 0 6", this, "d7d6"); ' class="line0">d6</span> 
 <span onclick='loadMove("r1bqk2r/ppp2ppp/2np1n2/2b1p3/2B1P3/2PP1N2/PP1N1PPP/R1BQK2R b KQkq - 0 6", this, "b1d2"); ' class="line0">6.Кbd2</span> 
 <span onclick='loadMove("r1bqk2r/ppp2ppp/1bnp1n2/4p3/2B1P3/2PP1N2/PP1N1PPP/R1BQK2R w KQkq - 0 7", this, "c5b6"); ' class="line0">Сb6</span> 
 <span onclick='loadMove("r1bqk2r/ppp2ppp/1bnp1n2/4p3/4P3/1BPP1N2/PP1N1PPP/R1BQK2R b KQkq - 0 7", this, "c4b3"); ' class="line0">7.Сb3</span> 
 <span onclick='loadMove("r2qk2r/ppp2ppp/1bnpbn2/4p3/4P3/1BPP1N2/PP1N1PPP/R1BQK2R w KQkq - 0 8", this, "c8e6"); ' class="line0">Сe6</span> 
 <span onclick='loadMove("r2qk2r/ppp2ppp/1bnpbn2/4p3/2N1P3/1BPP1N2/PP3PPP/R1BQK2R b KQkq - 0 8", this, "d2c4"); ' class="line0">8.Кc4</span> 
 <span onclick='loadMove("r2qk2r/ppp2pp1/1bnpbn1p/4p3/2N1P3/1BPP1N2/PP3PPP/R1BQK2R w KQkq - 0 9", this, "h7h6"); ' class="line0">h6</span> 
 <span onclick='loadMove("r2qk2r/ppp2pp1/1bnpbn1p/4p3/P1N1P3/1BPP1N2/1P3PPP/R1BQK2R b KQkq a3 0 9", this, "a2a4"); ' class="line0">9.a4</span> 
 <span onclick='loadMove("r2q1rk1/ppp2pp1/1bnpbn1p/4p3/P1N1P3/1BPP1N2/1P3PPP/R1BQK2R w KQ - 0 10", this, "e8g8"); ' class="line0">0-0</span> 
 <span onclick='loadMove("r2q1rk1/ppp2pp1/1bnpbn1p/4p3/P1N1P3/1BPP1N2/1P3PPP/R1BQ1RK1 b - - 0 10", this, "e1g1"); ' class="line0">10.0-0</span> 
 <span onclick='loadMove("r2qr1k1/ppp2pp1/1bnpbn1p/4p3/P1N1P3/1BPP1N2/1P3PPP/R1BQ1RK1 w - - 0 11", this, "f8e8"); ' class="line0">Лe8</span> 
 <span onclick='loadMove("r2qr1k1/ppp2pp1/1bnpbn1p/4p3/P1N1P3/2PP1N2/1PB2PPP/R1BQ1RK1 b - - 0 11", this, "b3c2"); ' class="line0">11.Сc2</span> 
 <span onclick='loadMove("r2qr1k1/pppn1pp1/1bnpb2p/4p3/P1N1P3/2PP1N2/1PB2PPP/R1BQ1RK1 w - - 0 12", this, "f6d7"); ' class="line0">Кd7</span> 
 <span onclick='loadMove("r2qr1k1/pppn1pp1/1bnpb2p/P3p3/2N1P3/2PP1N2/1PB2PPP/R1BQ1RK1 b - - 0 12", this, "a4a5"); ' class="line0">12.a5</span> 
 <span onclick='loadMove("r2qr1k1/pppn1pp1/1bnp3p/P3p3/2b1P3/2PP1N2/1PB2PPP/R1BQ1RK1 w - - 0 13", this, "e6c4"); ' class="line0">С:c4</span> 
 <span onclick='loadMove("r2qr1k1/pppn1pp1/1Pnp3p/4p3/2b1P3/2PP1N2/1PB2PPP/R1BQ1RK1 b - - 0 13", this, "a5b6"); ' class="line0">13.ab</span> 
 <span onclick='loadMove("r2qr1k1/pppn1pp1/1Pnpb2p/4p3/4P3/2PP1N2/1PB2PPP/R1BQ1RK1 w - - 0 14", this, "c4e6"); ' class="line0">Сe6</span> 
 <span onclick='loadMove("r2qr1k1/ppPn1pp1/2npb2p/4p3/4P3/2PP1N2/1PB2PPP/R1BQ1RK1 b - - 0 14", this, "b6c7"); ' class="line0">14.bc</span> 
 <span onclick='loadMove("r3r1k1/ppqn1pp1/2npb2p/4p3/4P3/2PP1N2/1PB2PPP/R1BQ1RK1 w - - 0 15", this, "d8c7"); ' class="line0">Ф:c7</span> 
 <span onclick='loadMove("r3r1k1/ppqn1pp1/2npb2p/4p3/3PP3/2P2N2/1PB2PPP/R1BQ1RK1 b - - 0 15", this, "d3d4"); ' class="line0">15.d4</span> 
 <span onclick='loadMove("r3r1k1/ppqn1pp1/2np3p/4p3/3PP1b1/2P2N2/1PB2PPP/R1BQ1RK1 w - - 0 16", this, "e6g4"); ' class="line0">Сg4</span> 
 <span onclick='loadMove("r3r1k1/ppqn1pp1/2np3p/3Pp3/4P1b1/2P2N2/1PB2PPP/R1BQ1RK1 b - - 0 16", this, "d4d5"); ' class="line0">16.d5</span> 
 <span onclick='loadMove("r3r1k1/ppqn1pp1/2np3p/3Pp3/4P3/2P2b2/1PB2PPP/R1BQ1RK1 w - - 0 17", this, "g4f3"); ' class="line0">С:f3</span> 
 <span onclick='loadMove("r3r1k1/ppqn1pp1/2np3p/3Pp3/4P3/2P2Q2/1PB2PPP/R1B2RK1 b - - 0 17", this, "d1f3"); ' class="line0">17.Ф:f3</span> 
 <span onclick='loadMove("r3r1k1/ppqn1pp1/3p3p/3Pp3/3nP3/2P2Q2/1PB2PPP/R1B2RK1 w - - 0 18", this, "c6d4"); ' class="line0">Кd4</span> 
 <span onclick='loadMove("r3r1k1/ppqn1pp1/3p3p/3Pp3/3PP3/5Q2/1PB2PPP/R1B2RK1 b - - 0 18", this, "c3d4"); ' class="line0">18.cd</span> 
 <span onclick='loadMove("r3r1k1/pp1n1pp1/3p3p/3Pp3/3PP3/5Q2/1Pq2PPP/R1B2RK1 w - - 0 19", this, "c7c2"); ' class="line0">Ф:c2</span> 
 <span onclick='loadMove("r3r1k1/pp1n1pp1/3p3B/3Pp3/3PP3/5Q2/1Pq2PPP/R4RK1 b - - 0 19", this, "c1h6"); ' class="line0">19.С:h6</span> 
 <span onclick='loadMove("r3r1k1/pp3pp1/3p1n1B/3Pp3/3PP3/5Q2/1Pq2PPP/R4RK1 w - - 0 20", this, "d7f6"); ' class="line0">Кf6</span> 
 <span onclick='loadMove("r3r1k1/pp3pp1/3p1n1B/3Pp3/3PP3/6Q1/1Pq2PPP/R4RK1 b - - 0 20", this, "f3g3"); ' class="line0">20.Фg3</span> 
 <span onclick='loadMove("r3r1k1/pp3pp1/3p3B/3Pp2n/3PP3/6Q1/1Pq2PPP/R4RK1 w - - 0 21", this, "f6h5"); ' class="line0">Кh5</span> 
 <span onclick='loadMove("r3r1k1/pp3pp1/3p3B/3Pp2n/3PP1Q1/8/1Pq2PPP/R4RK1 b - - 0 21", this, "g3g4"); ' class="line0">21.Фg4</span> 
 <span onclick='loadMove("r3r1k1/pp3p2/3p2pB/3Pp2n/3PP1Q1/8/1Pq2PPP/R4RK1 w - - 0 22", this, "g7g6"); ' class="line0">g6</span> 
 <span onclick='loadMove("r3r1k1/pp3p2/3p2pB/3PP2n/4P1Q1/8/1Pq2PPP/R4RK1 b - - 0 22", this, "d4e5"); ' class="line0">22.de</span> 
 <span onclick='loadMove("r5k1/pp3p2/3p2pB/3Pr2n/4P1Q1/8/1Pq2PPP/R4RK1 w - - 0 23", this, "e8e5"); ' class="line0">Л:e5</span> 
 <span onclick='loadMove("r5k1/pp3p2/3p2pB/3Pr2n/4P1Q1/5P2/1Pq3PP/R4RK1 b - - 0 23", this, "f2f3"); ' class="line0">23.f3</span> 
 <span onclick='loadMove("r5k1/pp3p2/3p2pB/3Pr2n/4P1Q1/5P2/1q4PP/R4RK1 w - - 0 24", this, "c2b2"); ' class="line0">Ф:b2</span> 
 <span onclick='loadMove("r5k1/pp3p2/3p2p1/3Pr2n/4P1Q1/4BP2/1q4PP/R4RK1 b - - 0 24", this, "h6e3"); ' class="line0">24.Сe3</span> 
 <span onclick='loadMove("r5k1/pp2rp2/3p2p1/3P3n/4P1Q1/4BP2/1q4PP/R4RK1 w - - 0 25", this, "e5e7"); ' class="line0">Лe7</span> 
 <span onclick='loadMove("r5k1/pp2rp2/3p2p1/3P3n/4P2Q/4BP2/1q4PP/R4RK1 b - - 0 25", this, "g4h4"); ' class="line0">25.Фh4</span> 
 <span onclick='loadMove("r5k1/ppr2p2/3p2p1/3P3n/4P2Q/4BP2/1q4PP/R4RK1 w - - 0 26", this, "e7c7"); ' class="line0">Лc7</span> 
 <span onclick='loadMove("r5k1/ppr2p2/3p2p1/3P3n/4P1PQ/4BP2/1q5P/R4RK1 b - g3 0 26", this, "g2g4"); ' class="line0">26.g4</span> 
 <span onclick='loadMove("r5k1/ppr2p2/3p1np1/3P4/4P1PQ/4BP2/1q5P/R4RK1 w - - 0 27", this, "h5f6"); ' class="line0">Кf6</span> 
 <span onclick='loadMove("r5k1/ppr2p2/3p1np1/3P4/4P1PQ/4BP2/1q5P/1R3RK1 b - - 0 27", this, "a1b1"); ' class="line0">27.Лab1</span> 
 <span onclick='loadMove("r5k1/ppr2p2/3p1np1/3Pq3/4P1PQ/4BP2/7P/1R3RK1 w - - 0 28", this, "b2e5"); ' class="line0">Фe5</span> 
 <span onclick='loadMove("r5k1/ppr2p2/3p1np1/3Pq3/4P1PQ/4BP2/7P/1R1R2K1 b - - 0 28", this, "f1d1"); ' class="line0">28.Лfd1</span> 
 <span onclick='loadMove("r5k1/ppr2p1n/3p2p1/3Pq3/4P1PQ/4BP2/7P/1R1R2K1 w - - 0 29", this, "f6h7"); ' class="line0">Кh7</span> 
 <span onclick='loadMove("r5k1/ppr2p1n/3p2p1/3Pq3/4P1PQ/4BP2/7P/2RR2K1 b - - 0 29", this, "b1c1"); ' class="line0">29.Лbc1</span> 
 <span onclick='loadMove("r5k1/pp3p1n/3p2p1/3Pq3/4P1PQ/4BP2/7P/2rR2K1 w - - 0 30", this, "c7c1"); ' class="line0">Л:c1</span> 
. Ничья.</p>

</div> <!-- score -->
</div> <!-- section -->

</div> <!-- iBook -->
{% endblock content %}
