{% extends '../../base.htm' %}
{% load static %}
{% block title %}
<title>ГАМБИТ КАПИТАНА ЭВАНСА | {{book.title}} | {%for author in book.authors.all%} {%if author.first_name%} {{author.first_name}} {%endif%} {%if author.second_name%} {{author.second_name}} {%endif%} {%if forloop.counter == book.authors.all.count%} {{author.last_name}} {%else%} {{author.last_name}}, {%endif%} {%endfor%} | {{book.year}}</title>
{% endblock title %}
{% block content %}

<div class="iBook">

<div class="section">
<div class="chessBoard small floater" data-start-fen="rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w KQkq - 0 1"></div>
<div class="score">
 <span class="line0" onclick='loadMove("rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w KQkq - 0 1", this, ""); '>[...]</span> 

<h2>ГАМБИТ КАПИТАНА ЭВАНСА</h2>
<p>Изобретатель системы сигнальных огней английский капитан Эванс чемпионом мира по шахматам не стал. И даже никогда не пытался оспаривать это звание. Тем не менее шахматисты всегда с благодарностью будут вспоминать человека, подарившего миру такой замечательный дебют, как славный гамбит Эванса —
 <span onclick='loadMove("rnbqkbnr/pppppppp/8/8/4P3/8/PPPP1PPP/RNBQKBNR b KQkq e3 0 1", this, "e2e4"); ' class="line0">1.e4</span> 
 <span onclick='loadMove("rnbqkbnr/pppp1ppp/8/4p3/4P3/8/PPPP1PPP/RNBQKBNR w KQkq e6 0 2", this, "e7e5"); ' class="line0">e5</span> 
 <span onclick='loadMove("rnbqkbnr/pppp1ppp/8/4p3/4P3/5N2/PPPP1PPP/RNBQKB1R b KQkq - 0 2", this, "g1f3"); ' class="line0">2.Кf3</span> 
 <span onclick='loadMove("r1bqkbnr/pppp1ppp/2n5/4p3/4P3/5N2/PPPP1PPP/RNBQKB1R w KQkq - 0 3", this, "b8c6"); ' class="line0">Кc6</span> 
 <span onclick='loadMove("r1bqkbnr/pppp1ppp/2n5/4p3/2B1P3/5N2/PPPP1PPP/RNBQK2R b KQkq - 0 3", this, "f1c4"); ' class="line0">3.Сc4</span> 
 <span onclick='loadMove("r1bqk1nr/pppp1ppp/2n5/2b1p3/2B1P3/5N2/PPPP1PPP/RNBQK2R w KQkq - 0 4", this, "f8c5"); ' class="line0">Сc5</span> 
 <span onclick='loadMove("r1bqk1nr/pppp1ppp/2n5/2b1p3/1PB1P3/5N2/P1PP1PPP/RNBQK2R b KQkq b3 0 4", this, "b2b4"); ' class="line0">4.b4!</span> 
</p>
<div class="chessBoard analysis nobuttons" data-start-fen="r1bqk1nr/pppp1ppp/2n5/4p3/1bB1P3/5N2/P1PP1PPP/RNBQK2R w KQkq - 0 5"></div>
<p>После
 <span onclick='loadMove("r1bqk1nr/pppp1ppp/2n5/4p3/1bB1P3/5N2/P1PP1PPP/RNBQK2R w KQkq - 0 5", this, "c5b4"); ' class="line0">4...Сc5:b4</span> 
</p>
<p>Патент на ход
 <span onclick='loadMove("r1bqk1nr/pppp1ppp/2n5/2b1p3/1PB1P3/5N2/P1PP1PPP/RNBQK2R b KQkq b3 0 4", this, "b2b4"); ' class="line1">4.b2-b4</span> 
был взят в 1824 году, и почти тотчас же гамбит Эванса стал самым популярным дебютом в разных точках земли. В чем сила этого дебюта?</p>
<p>В те далекие от нас годы турниры устраивались редко, больше играли матчи, поэтому партнеры хорошо знали друг друга и без прощупывания. Главная задача была иной — как можно скорее начать ближний бой. Для такой манеры игры как нельзя лучше подходил гамбит Эванса, в течение более полувека верой и правдой служивший не одному поколению любителей шахматной игры.</p>
<p>Глубокую травму ходу
 <span onclick='loadMove("r1bqk1nr/pppp1ppp/2n5/2b1p3/1PB1P3/5N2/P1PP1PPP/RNBQK2R b KQkq b3 0 4", this, "b2b4"); ' class="line1">4.b2-b4</span> 
нанес чемпион мира 1894-1921 годов, автор цикла лекций «Здравый смысл в шахматах», человек выдающегося интеллекта д-р Эмануил Ласкер. Он предложил миру принципиально новый подход к проблеме гамбитов. Жертвы надо принять, но при первом же удобном случае с выгодой вернуть обратно. Сегодня мы считаем такой совет естественным, но тогда это было равносильно кощунству — в период расцвета комбинационного творчества считалось делом чести равно как щедро жертвовать при атаке, так и ничего не возвращать при защите.</p>
<p>Опровергнут ли этот дебют сегодня? Нет, не опровергнут, хотя и найдены более безопасные способы вести атаку.</p>
</div> <!-- score -->
</div> <!-- section -->

</div> <!-- iBook -->
{% endblock content %}
