{% extends '../../base.htm' %}
{% load static %}
{% block title %}
<title>ВИРТУОЗ ШАХМАТНОЙ КОМБИНАЦИИ | Черные Р. Нежметдинов — 1957, Москва — чемпионат СССР | {{book.title}} | {%for author in book.authors.all%} {%if author.first_name%} {{author.first_name}} {%endif%} {%if author.second_name%} {{author.second_name}} {%endif%} {%if forloop.counter == book.authors.all.count%} {{author.last_name}} {%else%} {{author.last_name}}, {%endif%} {%endfor%} | {{book.year}}</title>
{% endblock title %}
{% block content %}

<div class="iBook">

<div class="section">
<div class="chessBoard small floater" data-start-fen="rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w KQkq - 0 1"></div>
<div class="score">
 <span class="line0" onclick='loadMove("rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w KQkq - 0 1", this, ""); '>[...]</span> 
<!--p>испанская партия</p><p>125</p-->

<h3>ВИРТУОЗ ШАХМАТНОЙ КОМБИНАЦИИ</h3>
<h4>Черные Р. Нежметдинов — 1957, Москва — чемпионат СССР</h4>
<div class="chessBoard analysis nobuttons" data-start-fen="3rqr1k/1pp3bp/p5p1/3n2B1/3nN2N/PBP3Pb/1P2Q2P/R3R1K1 w - - 0 21"></div>
<p>После
 <span onclick='loadMove("3rqr1k/1pp3bp/p5p1/3n2B1/3nN2N/PBP3Pb/1P2Q2P/R3R1K1 w - - 0 21", this, "c6d4"); ' class="line1">20...Кc6-d4</span> 
</p>
<p>Международный мастер Рашид Нежметдинов — виртуоз шахматной комбинации.</p>
<p>Поэтому каждый из нас еще до начала партии с Р. Нежметдиновым намечает определенный план ограничивающей стратегии, то есть такой, при котором самому комбинации осуществить будет легко, а партнеру трудно.</p>
<p>Каждый понимает, что такой план можно реализовать разве лишь в мечтах, в партии все намного сложней.</p>
<p>Однако бесспорно одно: при встрече с таким на редкость одаренным комбинационным талантом мастером, как Р. Нежметдинов, каждый из нас старается до предела повысить свою боевую готовность и стремится подчинить свои усилия самому главному — разгадать, предвосхитить и ликвидировать комбинационный взрыв. Если с этих позиций взглянуть на нашу встречу, то кое-что мне удалось, по крайней мере, ход <b>f7-f5</b> я предвидел и тотчас ответил встречным уколом <b>f2-f4!</b></p>
<p>О дальнейших событиях рассказывать не стану, так как задача эта невыполнима, читатель сам все поймет.</p>
<p>Видимо, ход
 <span onclick='loadMove("3rqr1k/1pp3bp/p5p1/3n2B1/3nN2N/PBP3Pb/1P2Q2P/R3R1K1 w - - 0 21", this, "c6d4"); ' class="line1">20...Кd4</span> 
должен был служить вступлением к разгромной комбинации, и также можно только догадываться, что тихий испанский ход
 <span onclick='loadMove("3rqr1k/1pp4p/p5p1/6B1/3bN2N/P3n1Pb/1PB1Q2P/R3R2K b - - 0 23", this, "b3c2"); ' class="line1">23.Сc2</span> 
выпал из поля зрения черных.</p>

<p>
 <span onclick='loadMove("rnbqkbnr/pppppppp/8/8/4P3/8/PPPP1PPP/RNBQKBNR b KQkq e3 0 1", this, "e2e4"); ' class="line0">1.e4</span> 
 <span onclick='loadMove("rnbqkbnr/pppp1ppp/8/4p3/4P3/8/PPPP1PPP/RNBQKBNR w KQkq e6 0 2", this, "e7e5"); ' class="line0">e5</span> 
 <span onclick='loadMove("rnbqkbnr/pppp1ppp/8/4p3/4P3/5N2/PPPP1PPP/RNBQKB1R b KQkq - 0 2", this, "g1f3"); ' class="line0">2.Кf3</span> 
 <span onclick='loadMove("r1bqkbnr/pppp1ppp/2n5/4p3/4P3/5N2/PPPP1PPP/RNBQKB1R w KQkq - 0 3", this, "b8c6"); ' class="line0">Кc6</span> 
 <span onclick='loadMove("r1bqkbnr/pppp1ppp/2n5/1B2p3/4P3/5N2/PPPP1PPP/RNBQK2R b KQkq - 0 3", this, "f1b5"); ' class="line0">3.Сb5</span> 
 <span onclick='loadMove("r1bqkbnr/1ppp1ppp/p1n5/1B2p3/4P3/5N2/PPPP1PPP/RNBQK2R w KQkq - 0 4", this, "a7a6"); ' class="line0">a6</span> 
 <span onclick='loadMove("r1bqkbnr/1ppp1ppp/p1n5/4p3/B3P3/5N2/PPPP1PPP/RNBQK2R b KQkq - 0 4", this, "b5a4"); ' class="line0">4.Сa4</span> 
 <span onclick='loadMove("r1bqkbnr/1pp2ppp/p1np4/4p3/B3P3/5N2/PPPP1PPP/RNBQK2R w KQkq - 0 5", this, "d7d6"); ' class="line0">d6</span> 
 <span onclick='loadMove("r1bqkbnr/1pp2ppp/p1np4/4p3/B3P3/2P2N2/PP1P1PPP/RNBQK2R b KQkq - 0 5", this, "c2c3"); ' class="line0">5.c3</span> 
 <span onclick='loadMove("r2qkbnr/1ppb1ppp/p1np4/4p3/B3P3/2P2N2/PP1P1PPP/RNBQK2R w KQkq - 0 6", this, "c8d7"); ' class="line0">Сd7</span> 
 <span onclick='loadMove("r2qkbnr/1ppb1ppp/p1np4/4p3/B2PP3/2P2N2/PP3PPP/RNBQK2R b KQkq d3 0 6", this, "d2d4"); ' class="line0">6.d4</span> 
 <span onclick='loadMove("r2qkbnr/1ppb1p1p/p1np2p1/4p3/B2PP3/2P2N2/PP3PPP/RNBQK2R w KQkq - 0 7", this, "g7g6"); ' class="line0">g6</span> 
 <span onclick='loadMove("r2qkbnr/1ppb1p1p/p1np2p1/4p3/B2PP3/2P2N2/PP3PPP/RNBQ1RK1 b kq - 0 7", this, "e1g1"); ' class="line0">7.0-0</span> 
 <span onclick='loadMove("r2qk1nr/1ppb1pbp/p1np2p1/4p3/B2PP3/2P2N2/PP3PPP/RNBQ1RK1 w kq - 0 8", this, "f8g7"); ' class="line0">Сg7</span> 
 <span onclick='loadMove("r2qk1nr/1ppb1pbp/p1np2p1/4p3/B2PP3/P1P2N2/1P3PPP/RNBQ1RK1 b kq - 0 8", this, "a2a3"); ' class="line0">8.a3</span> 
 <span onclick='loadMove("r2qk2r/1ppbnpbp/p1np2p1/4p3/B2PP3/P1P2N2/1P3PPP/RNBQ1RK1 w kq - 0 9", this, "g8e7"); ' class="line0">Кge7</span> 
 <span onclick='loadMove("r2qk2r/1ppbnpbp/p1np2p1/4p3/B2PP3/P1P1BN2/1P3PPP/RN1Q1RK1 b kq - 0 9", this, "c1e3"); ' class="line0">9.Сe3</span> 
 <span onclick='loadMove("r2q1rk1/1ppbnpbp/p1np2p1/4p3/B2PP3/P1P1BN2/1P3PPP/RN1Q1RK1 w - - 0 10", this, "e8g8"); ' class="line0">0-0</span> 
 <span onclick='loadMove("r2q1rk1/1ppbnpbp/p1np2p1/4p3/B2PP3/P1P1BN2/1P1N1PPP/R2Q1RK1 b - - 0 10", this, "b1d2"); ' class="line0">10.Кbd2</span> 
 <span onclick='loadMove("r3qrk1/1ppbnpbp/p1np2p1/4p3/B2PP3/P1P1BN2/1P1N1PPP/R2Q1RK1 w - - 0 11", this, "d8e8"); ' class="line0">Фe8</span> 
 <span onclick='loadMove("r3qrk1/1ppbnpbp/p1np2p1/4p3/3PP3/PBP1BN2/1P1N1PPP/R2Q1RK1 b - - 0 11", this, "a4b3"); ' class="line0">11.Сb3</span> 
 <span onclick='loadMove("r3qr1k/1ppbnpbp/p1np2p1/4p3/3PP3/PBP1BN2/1P1N1PPP/R2Q1RK1 w - - 0 12", this, "g8h8"); ' class="line0">Крh8</span> 
 <span onclick='loadMove("r3qr1k/1ppbnpbp/p1np2p1/4P3/4P3/PBP1BN2/1P1N1PPP/R2Q1RK1 b - - 0 12", this, "d4e5"); ' class="line0">12.de</span> 
 <span onclick='loadMove("r3qr1k/1ppbnpbp/p1n3p1/4p3/4P3/PBP1BN2/1P1N1PPP/R2Q1RK1 w - - 0 13", this, "d6e5"); ' class="line0">de</span> 
 <span onclick='loadMove("r3qr1k/1ppbnpbp/p1n3p1/4p3/4P2N/PBP1B3/1P1N1PPP/R2Q1RK1 b - - 0 13", this, "f3h4"); ' class="line0">13.Кh4</span> 
 <span onclick='loadMove("r3qr1k/1ppbn1bp/p1n2pp1/4p3/4P2N/PBP1B3/1P1N1PPP/R2Q1RK1 w - - 0 14", this, "f7f6"); ' class="line0">f6</span> 
 <span onclick='loadMove("r3qr1k/1ppbn1bp/p1n2pp1/4p3/4P2N/PBP1B1P1/1P1N1P1P/R2Q1RK1 b - - 0 14", this, "g2g3"); ' class="line0">14.g3</span> 
 <span onclick='loadMove("r3qr1k/1pp1n1bp/p1n2pp1/4p3/4P2N/PBP1B1Pb/1P1N1P1P/R2Q1RK1 w - - 0 15", this, "d7h3"); ' class="line0">Сh3</span> 
 <span onclick='loadMove("r3qr1k/1pp1n1bp/p1n2pp1/4p3/4P2N/PBP1B1Pb/1P1N1P1P/R2QR1K1 b - - 0 15", this, "f1e1"); ' class="line0">15.Лe1</span> 
 <span onclick='loadMove("3rqr1k/1pp1n1bp/p1n2pp1/4p3/4P2N/PBP1B1Pb/1P1N1P1P/R2QR1K1 w - - 0 16", this, "a8d8"); ' class="line0">Лd8</span> 
 <span onclick='loadMove("3rqr1k/1pp1n1bp/p1n2pp1/4p3/4P2N/PBP1B1Pb/1P1NQP1P/R3R1K1 b - - 0 16", this, "d1e2"); ' class="line0">16.Фe2</span> 
 <span onclick='loadMove("3rqr1k/1pp1n1bp/p1n3p1/4pp2/4P2N/PBP1B1Pb/1P1NQP1P/R3R1K1 w - - 0 17", this, "f6f5"); ' class="line0">f5</span> 
 <span onclick='loadMove("3rqr1k/1pp1n1bp/p1n3p1/4pp2/4PP1N/PBP1B1Pb/1P1NQ2P/R3R1K1 b - f3 0 17", this, "f2f4"); ' class="line0">17.f4</span> 
 <span onclick='loadMove("3rqr1k/1pp1n1bp/p1n3p1/5p2/4Pp1N/PBP1B1Pb/1P1NQ2P/R3R1K1 w - - 0 18", this, "e5f4"); ' class="line0">ef</span> 
 <span onclick='loadMove("3rqr1k/1pp1n1bp/p1n3p1/5p2/4PB1N/PBP3Pb/1P1NQ2P/R3R1K1 b - - 0 18", this, "e3f4"); ' class="line0">18.С:f4</span> 
 <span onclick='loadMove("3rqr1k/1pp1n1bp/p1n3p1/8/4pB1N/PBP3Pb/1P1NQ2P/R3R1K1 w - - 0 19", this, "f5e4"); ' class="line0">fe</span> 
 <span onclick='loadMove("3rqr1k/1pp1n1bp/p1n3p1/8/4NB1N/PBP3Pb/1P2Q2P/R3R1K1 b - - 0 19", this, "d2e4"); ' class="line0">19.К:e4</span> 
 <span onclick='loadMove("3rqr1k/1pp3bp/p1n3p1/3n4/4NB1N/PBP3Pb/1P2Q2P/R3R1K1 w - - 0 20", this, "e7d5"); ' class="line0">Кd5</span> 
 <span onclick='loadMove("3rqr1k/1pp3bp/p1n3p1/3n2B1/4N2N/PBP3Pb/1P2Q2P/R3R1K1 b - - 0 20", this, "f4g5"); ' class="line0">20.Сg5</span> 
 <span onclick='loadMove("3rqr1k/1pp3bp/p5p1/3n2B1/3nN2N/PBP3Pb/1P2Q2P/R3R1K1 w - - 0 21", this, "c6d4"); ' class="line0">Кd4</span> 
 <span onclick='loadMove("3rqr1k/1pp3bp/p5p1/3n2B1/3PN2N/PB4Pb/1P2Q2P/R3R1K1 b - - 0 21", this, "c3d4"); ' class="line0">21.cd</span> 
 <span onclick='loadMove("3rqr1k/1pp4p/p5p1/3n2B1/3bN2N/PB4Pb/1P2Q2P/R3R1K1 w - - 0 22", this, "g7d4"); ' class="line0">С:d4+</span> 
 <span onclick='loadMove("3rqr1k/1pp4p/p5p1/3n2B1/3bN2N/PB4Pb/1P2Q2P/R3R2K b - - 0 22", this, "g1h1"); ' class="line0">22.Крh1</span> 
 <span onclick='loadMove("3rqr1k/1pp4p/p5p1/6B1/3bN2N/PB2n1Pb/1P2Q2P/R3R2K w - - 0 23", this, "d5e3"); ' class="line0">Кe3</span> 
 <span onclick='loadMove("3rqr1k/1pp4p/p5p1/6B1/3bN2N/P3n1Pb/1PB1Q2P/R3R2K b - - 0 23", this, "b3c2"); ' class="line0">23.Сc2</span> 
 <span onclick='loadMove("3rqr1k/1pp4p/p5p1/6B1/3bN1nN/P5Pb/1PB1Q2P/R3R2K w - - 0 24", this, "e3g4"); ' class="line0">Кg4</span> 
 <span onclick='loadMove("3rqr1k/1pp4p/p5p1/6B1/3bN1n1/P4NPb/1PB1Q2P/R3R2K b - - 0 24", this, "h4f3"); ' class="line0">24.Кf3</span> 
 <span onclick='loadMove("3r1r1k/1pp4p/p1q3p1/6B1/3bN1n1/P4NPb/1PB1Q2P/R3R2K w - - 0 25", this, "e8c6"); ' class="line0">Фc6</span> 
 <span onclick='loadMove("3B1r1k/1pp4p/p1q3p1/8/3bN1n1/P4NPb/1PB1Q2P/R3R2K b - - 0 25", this, "g5d8"); ' class="line0">25.С:d8</span> 
 <span onclick='loadMove("3B3k/1pp4p/p1q3p1/8/3bN1n1/P4rPb/1PB1Q2P/R3R2K w - - 0 26", this, "f8f3"); ' class="line0">Л:f3</span> 
 <span onclick='loadMove("3B3k/1pp4p/p1q3p1/8/3bN1n1/P4QPb/1PB4P/R3R2K b - - 0 26", this, "e2f3"); ' class="line0">26.Ф:f3</span> 
 <span onclick='loadMove("3B3k/1pp4p/p1q3p1/8/3bN3/P4QPb/1PB2n1P/R3R2K w - - 0 27", this, "g4f2"); ' class="line0">Кf2+</span> 
 <span onclick='loadMove("3B3k/1pp4p/p1q3p1/8/3bN3/P5Pb/1PB2Q1P/R3R2K b - - 0 27", this, "f3f2"); ' class="line0">27.Ф:f2</span> 
 <span onclick='loadMove("3B3k/1pp4p/p1q3p1/8/4N3/P5Pb/1PB2b1P/R3R2K w - - 0 28", this, "d4f2"); ' class="line0">С:f2</span> 
 <span onclick='loadMove("7k/1pp4p/p1q2Bp1/8/4N3/P5Pb/1PB2b1P/R3R2K b - - 0 28", this, "d8f6"); ' class="line0">28.Сf6+</span> 
 <span onclick='loadMove("6k1/1pp4p/p1q2Bp1/8/4N3/P5Pb/1PB2b1P/R3R2K w - - 0 29", this, "h8g8"); ' class="line0">Крg8</span> 
 <span onclick='loadMove("6k1/1pp4p/p1q2Bp1/8/4N3/PB4Pb/1P3b1P/R3R2K b - - 0 29", this, "c2b3"); ' class="line0">29.Сb3+</span> 
 <span onclick='loadMove("5k2/1pp4p/p1q2Bp1/8/4N3/PB4Pb/1P3b1P/R3R2K w - - 0 30", this, "g8f8"); ' class="line0">Крf8</span> 
 <span onclick='loadMove("5k2/1pp4p/p1q2Bp1/8/4N3/PB4Pb/1P3b1P/3RR2K b - - 0 30", this, "a1d1"); ' class="line0">30.Лad1</span> 
 <span onclick='loadMove("5k2/1pp4p/p1q2Bp1/8/4N3/PB4Pb/1P5P/3Rb2K w - - 0 31", this, "f2e1"); ' class="line0">С:e1</span> 
 <span onclick='loadMove("3R1k2/1pp4p/p1q2Bp1/8/4N3/PB4Pb/1P5P/4b2K b - - 0 31", this, "d1d8"); ' class="line0">31.Лd8+</span> 
 <span onclick='loadMove("3Rqk2/1pp4p/p4Bp1/8/4N3/PB4Pb/1P5P/4b2K w - - 0 32", this, "c6e8"); ' class="line0">Фe8</span> 
 <span onclick='loadMove("4Rk2/1pp4p/p4Bp1/8/4N3/PB4Pb/1P5P/4b2K b - - 0 32", this, "d8e8"); ' class="line0">32.Л:e8+</span> 
 <span onclick='loadMove("4k3/1pp4p/p4Bp1/8/4N3/PB4Pb/1P5P/4b2K w - - 0 33", this, "f8e8"); ' class="line0">Кр:e8</span> 
 <span onclick='loadMove("4k3/1pp4p/p5p1/8/4N3/PBB3Pb/1P5P/4b2K b - - 0 33", this, "f6c3"); ' class="line0">33.Сc3</span> 
 <span onclick='loadMove("4k3/1pp4p/p5p1/8/4N3/PBb3Pb/1P5P/7K w - - 0 34", this, "e1c3"); ' class="line0">С:c3</span> 
 <span onclick='loadMove("4k3/1pp4p/p5p1/8/8/PBN3Pb/1P5P/7K b - - 0 34", this, "e4c3"); ' class="line0">34.К:c3</span> 
 <span onclick='loadMove("8/1pp1k2p/p5p1/8/8/PBN3Pb/1P5P/7K w - - 0 35", this, "e8e7"); ' class="line0">Крe7</span> 
 <span onclick='loadMove("8/1pp1k2p/p5p1/8/8/PBN3Pb/1P5P/6K1 b - - 0 35", this, "h1g1"); ' class="line0">35.Крg1</span> 
 <span onclick='loadMove("8/1p2k2p/p5p1/2p5/8/PBN3Pb/1P5P/6K1 w - c6 0 36", this, "c7c5"); ' class="line0">c5</span> 
 <span onclick='loadMove("8/1p2k2p/p5p1/2p5/P7/1BN3Pb/1P5P/6K1 b - - 0 36", this, "a3a4"); ' class="line0">36.a4</span> 
. Черные сдались.</p>

</div> <!-- score -->
</div> <!-- section -->

</div> <!-- iBook -->
{% endblock content %}
