{% extends '../../base.htm' %}
{% load static %}
{% block title %}
<title>«КОЛЕСО В КОЛЕСО» | Черные П. Керес — 1950, Будапешт — турнир претендентов | {{book.title}} | {%for author in book.authors.all%} {%if author.first_name%} {{author.first_name}} {%endif%} {%if author.second_name%} {{author.second_name}} {%endif%} {%if forloop.counter == book.authors.all.count%} {{author.last_name}} {%else%} {{author.last_name}}, {%endif%} {%endfor%} | {{book.year}}</title>
{% endblock title %}
{% block content %}

<div class="iBook">

<div class="section">
<div class="chessBoard small floater" data-start-fen="rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w KQkq - 0 1"></div>
<div class="score">
 <span class="line0" onclick='loadMove("rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w KQkq - 0 1", this, ""); '>[...]</span> 
<!--p>192</p><p>Испанская партия</p-->

<h3>«КОЛЕСО В КОЛЕСО»</h3>
<h4>Черные П. Керес — 1950, Будапешт — турнир претендентов</h4>
<div class="chessBoard analysis nobuttons" data-start-fen="r4r1k/5p1p/p2p1Pp1/2p3Q1/2P1PR2/7P/1Pq3P1/1R5K w - - 0 33"></div>
<p>После
 <span onclick='loadMove("r4r1k/5p1p/p2p1Pp1/2p3Q1/2P1PR2/7P/1Pq3P1/1R5K w - - 0 33", this, "a4c2"); ' class="line1">32...Фa4-c2</span> 
</p>
<p>Даже в многодневных велосипедных гонках нередко двое или более спортсменов финишируют «колесо в колесо». И даже скрупулезное изучение фотографий не позволяет определить, кто же из них первый.</p>
<p>Накануне партии с П. Кересом я отставал от лидера на пол-очка, но И. Болеславский в последнем туре быстро сыграл вничью с Г. Штальбергом и любезно предоставил мне шанс догнать его. Это мне удалось.</p>
<p>Результат партии с П. Кересом позволил мне сыграть матч из 12 партий с И. Болеславским.</p>
<p>Эти 12 партий окончились вничью — 6:6, и только удачный дебютный вариант, примененный под занавес дополнительного микроматча из двух партий, позволил мне в 1951 году вызвать на единоборство чемпиона мира.</p>
<p>По иронии судьбы, что ли, и этот матч окончился вничью — 12 : 12. «Колесо в колесо».</p>
<p>Гамбитный вариант с жертвой важной центральной пешки, на мой взгляд, вполне корректен — у белых возникают подвижные пешки «е» и «f», Наша партия в какой-то мере подтвердила этот взгляд. Долгое время борьба носила равный характер, но стоило П. Кересу недооценить силу хода <b>Фg3-g5</b>, как дела черного короля сразу ухудшились. Можно было сразу пойти
 <span onclick='loadMove("r4r1k/5p1p/pq1p1Pp1/2p3Q1/B1n1PR2/1p5P/PP4P1/1R5K b - - 0 30", this, "f1f4"); ' class="line1">30.Лf4</span> 
 <span onclick='loadMove("r4r1k/5p1p/pq1p1Pp1/2p3Q1/B1n1PR2/7P/pP4P1/1R5K w - - 0 31", this, "b3a2"); ' class="line1">ba</span> 
 <span onclick='loadMove("r4r1k/5p1p/pq1p1PpQ/2p5/B1n1PR2/7P/pP4P1/1R5K b - - 0 31", this, "g5h6"); ' class="line1">31.Фh6</span> 
 <span onclick='loadMove("r4r1k/5p1p/pq1p1PpQ/2p5/B1n1PR2/7P/1P4P1/1q5K w - - 0 32", this, "a2b1"); ' class="line1">abФ+</span> 
 <span onclick='loadMove("r4r1k/5p1p/pq1p1PpQ/2p5/B1n1PR2/7P/1P4PK/1q6 b - - 0 32", this, "h1h2"); ' class="line1">32.Крh2</span> 
, но выигрыш этой партии означал для меня слишком многое, и я старался играть как можно проще и надежней.</p>

<p>
 <span onclick='loadMove("rnbqkbnr/pppppppp/8/8/4P3/8/PPPP1PPP/RNBQKBNR b KQkq e3 0 1", this, "e2e4"); ' class="line0">1.e4</span> 
 <span onclick='loadMove("rnbqkbnr/pppp1ppp/8/4p3/4P3/8/PPPP1PPP/RNBQKBNR w KQkq e6 0 2", this, "e7e5"); ' class="line0">e5</span> 
 <span onclick='loadMove("rnbqkbnr/pppp1ppp/8/4p3/4P3/5N2/PPPP1PPP/RNBQKB1R b KQkq - 0 2", this, "g1f3"); ' class="line0">2.Кf3</span> 
 <span onclick='loadMove("r1bqkbnr/pppp1ppp/2n5/4p3/4P3/5N2/PPPP1PPP/RNBQKB1R w KQkq - 0 3", this, "b8c6"); ' class="line0">Кc6</span> 
 <span onclick='loadMove("r1bqkbnr/pppp1ppp/2n5/1B2p3/4P3/5N2/PPPP1PPP/RNBQK2R b KQkq - 0 3", this, "f1b5"); ' class="line0">3.Сb5</span> 
 <span onclick='loadMove("r1bqkbnr/1ppp1ppp/p1n5/1B2p3/4P3/5N2/PPPP1PPP/RNBQK2R w KQkq - 0 4", this, "a7a6"); ' class="line0">a6</span> 
 <span onclick='loadMove("r1bqkbnr/1ppp1ppp/p1n5/4p3/B3P3/5N2/PPPP1PPP/RNBQK2R b KQkq - 0 4", this, "b5a4"); ' class="line0">4.Сa4</span> 
 <span onclick='loadMove("r1bqkb1r/1ppp1ppp/p1n2n2/4p3/B3P3/5N2/PPPP1PPP/RNBQK2R w KQkq - 0 5", this, "g8f6"); ' class="line0">Кf6</span> 
 <span onclick='loadMove("r1bqkb1r/1ppp1ppp/p1n2n2/4p3/B3P3/5N2/PPPP1PPP/RNBQ1RK1 b kq - 0 5", this, "e1g1"); ' class="line0">5.0-0</span> 
 <span onclick='loadMove("r1bqk2r/1pppbppp/p1n2n2/4p3/B3P3/5N2/PPPP1PPP/RNBQ1RK1 w kq - 0 6", this, "f8e7"); ' class="line0">Сe7</span> 
 <span onclick='loadMove("r1bqk2r/1pppbppp/p1n2n2/4p3/B3P3/5N2/PPPP1PPP/RNBQR1K1 b kq - 0 6", this, "f1e1"); ' class="line0">6.Лe1</span> 
 <span onclick='loadMove("r1bqk2r/2ppbppp/p1n2n2/1p2p3/B3P3/5N2/PPPP1PPP/RNBQR1K1 w kq b6 0 7", this, "b7b5"); ' class="line0">b5</span> 
 <span onclick='loadMove("r1bqk2r/2ppbppp/p1n2n2/1p2p3/4P3/1B3N2/PPPP1PPP/RNBQR1K1 b kq - 0 7", this, "a4b3"); ' class="line0">7.Сb3</span> 
 <span onclick='loadMove("r1bq1rk1/2ppbppp/p1n2n2/1p2p3/4P3/1B3N2/PPPP1PPP/RNBQR1K1 w - - 0 8", this, "e8g8"); ' class="line0">0-0</span> 
 <span onclick='loadMove("r1bq1rk1/2ppbppp/p1n2n2/1p2p3/3PP3/1B3N2/PPP2PPP/RNBQR1K1 b - d3 0 8", this, "d2d4"); ' class="line0">8.d4</span> 
 <span onclick='loadMove("r1bq1rk1/2p1bppp/p1np1n2/1p2p3/3PP3/1B3N2/PPP2PPP/RNBQR1K1 w - - 0 9", this, "d7d6"); ' class="line0">d6</span> 
 <span onclick='loadMove("r1bq1rk1/2p1bppp/p1np1n2/1p2p3/3PP3/1BP2N2/PP3PPP/RNBQR1K1 b - - 0 9", this, "c2c3"); ' class="line0">9.c3</span> 
 <span onclick='loadMove("r2q1rk1/2p1bppp/p1np1n2/1p2p3/3PP1b1/1BP2N2/PP3PPP/RNBQR1K1 w - - 0 10", this, "c8g4"); ' class="line0">Сg4</span> 
 <span onclick='loadMove("r2q1rk1/2p1bppp/p1np1n2/1p2p3/3PP1b1/1BP2N1P/PP3PP1/RNBQR1K1 b - - 0 10", this, "h2h3"); ' class="line0">10.h3</span> 
 <span onclick='loadMove("r2q1rk1/2p1bppp/p1np1n2/1p2p3/3PP3/1BP2b1P/PP3PP1/RNBQR1K1 w - - 0 11", this, "g4f3"); ' class="line0">С:f3</span> 
 <span onclick='loadMove("r2q1rk1/2p1bppp/p1np1n2/1p2p3/3PP3/1BP2Q1P/PP3PP1/RNB1R1K1 b - - 0 11", this, "d1f3"); ' class="line0">11.Ф:f3</span> 
 <span onclick='loadMove("r2q1rk1/2p1bppp/p1np1n2/1p6/3pP3/1BP2Q1P/PP3PP1/RNB1R1K1 w - - 0 12", this, "e5d4"); ' class="line0">e:d4</span> 
 <span onclick='loadMove("r2q1rk1/2p1bppp/p1np1n2/1p6/3pP3/1BP4P/PP3PP1/RNBQR1K1 b - - 0 12", this, "f3d1"); ' class="line0">12.Фd1</span> 
 <span onclick='loadMove("r2q1rk1/2p1bppp/p1np1n2/1p6/4P3/1Bp4P/PP3PP1/RNBQR1K1 w - - 0 13", this, "d4c3"); ' class="line0">d:c3</span> 
 <span onclick='loadMove("r2q1rk1/2p1bppp/p1np1n2/1p6/4P3/1BN4P/PP3PP1/R1BQR1K1 b - - 0 13", this, "b1c3"); ' class="line0">13.К:c3</span> 
 <span onclick='loadMove("r2q1rk1/2p1bppp/p2p1n2/np6/4P3/1BN4P/PP3PP1/R1BQR1K1 w - - 0 14", this, "c6a5"); ' class="line0">Кa5</span> 
 <span onclick='loadMove("r2q1rk1/2p1bppp/p2p1n2/np6/4P3/2N4P/PPB2PP1/R1BQR1K1 b - - 0 14", this, "b3c2"); ' class="line0">14.Сc2</span> 
 <span onclick='loadMove("r2qr1k1/2p1bppp/p2p1n2/np6/4P3/2N4P/PPB2PP1/R1BQR1K1 w - - 0 15", this, "f8e8"); ' class="line0">Лe8</span> 
 <span onclick='loadMove("r2qr1k1/2p1bppp/p2p1n2/np6/4PP2/2N4P/PPB3P1/R1BQR1K1 b - f3 0 15", this, "f2f4"); ' class="line0">15.f4</span> 
 <span onclick='loadMove("r2qr1k1/2p1bppp/p2p1n2/n7/1p2PP2/2N4P/PPB3P1/R1BQR1K1 w - - 0 16", this, "b5b4"); ' class="line0">b4</span> 
 <span onclick='loadMove("r2qr1k1/2p1bppp/p2p1n2/n2N4/1p2PP2/7P/PPB3P1/R1BQR1K1 b - - 0 16", this, "c3d5"); ' class="line0">16.Кd5</span> 
 <span onclick='loadMove("r2qr1k1/2p1bppp/p2p4/n2n4/1p2PP2/7P/PPB3P1/R1BQR1K1 w - - 0 17", this, "f6d5"); ' class="line0">К:d5</span> 
 <span onclick='loadMove("r2qr1k1/2p1bppp/p2p4/n2Q4/1p2PP2/7P/PPB3P1/R1B1R1K1 b - - 0 17", this, "d1d5"); ' class="line0">17.Ф:d5</span> 
 <span onclick='loadMove("r2qr1k1/4bppp/p1pp4/n2Q4/1p2PP2/7P/PPB3P1/R1B1R1K1 w - - 0 18", this, "c7c6"); ' class="line0">c6</span> 
 <span onclick='loadMove("r2qr1k1/4bppp/p1pp4/n7/1p2PP2/3Q3P/PPB3P1/R1B1R1K1 b - - 0 18", this, "d5d3"); ' class="line0">18.Фd3</span> 
 <span onclick='loadMove("r2qr1k1/4bp1p/p1pp2p1/n7/1p2PP2/3Q3P/PPB3P1/R1B1R1K1 w - - 0 19", this, "g7g6"); ' class="line0">g6</span> 
 <span onclick='loadMove("r2qr1k1/4bp1p/p1pp2p1/n7/1p2PP2/3Q3P/PPB3P1/R1B1R2K b - - 0 19", this, "g1h1"); ' class="line0">19.Крh1</span> 
 <span onclick='loadMove("r2qrbk1/5p1p/p1pp2p1/n7/1p2PP2/3Q3P/PPB3P1/R1B1R2K w - - 0 20", this, "e7f8"); ' class="line0">Сf8</span> 
 <span onclick='loadMove("r2qrbk1/5p1p/p1pp2p1/n7/1p2PP2/3Q3P/PPB3P1/R1B2R1K b - - 0 20", this, "e1f1"); ' class="line0">20.Лf1</span> 
 <span onclick='loadMove("r2qr1k1/5pbp/p1pp2p1/n7/1p2PP2/3Q3P/PPB3P1/R1B2R1K w - - 0 21", this, "f8g7"); ' class="line0">Сg7</span> 
 <span onclick='loadMove("r2qr1k1/5pbp/p1pp2p1/n7/1p2PP2/3Q3P/PPBB2P1/R4R1K b - - 0 21", this, "c1d2"); ' class="line0">21.Сd2</span> 
 <span onclick='loadMove("r2qr1k1/5pbp/p2p2p1/n1p5/1p2PP2/3Q3P/PPBB2P1/R4R1K w - - 0 22", this, "c6c5"); ' class="line0">c5</span> 
 <span onclick='loadMove("r2qr1k1/5pbp/p2p2p1/n1p5/Bp2PP2/3Q3P/PP1B2P1/R4R1K b - - 0 22", this, "c2a4"); ' class="line0">22.Сa4</span> 
 <span onclick='loadMove("r2q1rk1/5pbp/p2p2p1/n1p5/Bp2PP2/3Q3P/PP1B2P1/R4R1K w - - 0 23", this, "e8f8"); ' class="line0">Лf8</span> 
 <span onclick='loadMove("r2q1rk1/5pbp/p2p2p1/n1p5/Bp2PP2/3Q3P/PP1B2P1/1R3R1K b - - 0 23", this, "a1b1"); ' class="line0">23.Лab1</span> 
 <span onclick='loadMove("r4rk1/5pbp/pq1p2p1/n1p5/Bp2PP2/3Q3P/PP1B2P1/1R3R1K w - - 0 24", this, "d8b6"); ' class="line0">Фb6</span> 
 <span onclick='loadMove("r4rk1/5pbp/pq1p2p1/n1p2P2/Bp2P3/3Q3P/PP1B2P1/1R3R1K b - - 0 24", this, "f4f5"); ' class="line0">24.f5</span> 
 <span onclick='loadMove("r4rk1/5p1p/pq1p2p1/n1p2P2/Bp1bP3/3Q3P/PP1B2P1/1R3R1K w - - 0 25", this, "g7d4"); ' class="line0">Сd4</span> 
 <span onclick='loadMove("r4rk1/5p1p/pq1p2p1/n1p2P2/Bp1bP3/6QP/PP1B2P1/1R3R1K b - - 0 25", this, "d3g3"); ' class="line0">25.Фg3</span> 
 <span onclick='loadMove("r4rk1/5p1p/pq1p2p1/2p2P2/BpnbP3/6QP/PP1B2P1/1R3R1K w - - 0 26", this, "a5c4"); ' class="line0">Кc4</span> 
 <span onclick='loadMove("r4rk1/5p1p/pq1p2pB/2p2P2/BpnbP3/6QP/PP4P1/1R3R1K b - - 0 26", this, "d2h6"); ' class="line0">26.Сh6</span> 
 <span onclick='loadMove("r4rk1/5pbp/pq1p2pB/2p2P2/Bpn1P3/6QP/PP4P1/1R3R1K w - - 0 27", this, "d4g7"); ' class="line0">Сg7</span> 
 <span onclick='loadMove("r4rk1/5pBp/pq1p2p1/2p2P2/Bpn1P3/6QP/PP4P1/1R3R1K b - - 0 27", this, "h6g7"); ' class="line0">27.С:g7</span> 
 <span onclick='loadMove("r4r2/5pkp/pq1p2p1/2p2P2/Bpn1P3/6QP/PP4P1/1R3R1K w - - 0 28", this, "g8g7"); ' class="line0">Кр:g7</span> 
 <span onclick='loadMove("r4r2/5pkp/pq1p1Pp1/2p5/Bpn1P3/6QP/PP4P1/1R3R1K b - - 0 28", this, "f5f6"); ' class="line0">28.f6+</span> 
 <span onclick='loadMove("r4r1k/5p1p/pq1p1Pp1/2p5/Bpn1P3/6QP/PP4P1/1R3R1K w - - 0 29", this, "g7h8"); ' class="line0">Крh8</span> 
 <span onclick='loadMove("r4r1k/5p1p/pq1p1Pp1/2p3Q1/Bpn1P3/7P/PP4P1/1R3R1K b - - 0 29", this, "g3g5"); ' class="line0">29.Фg5</span> 
 <span onclick='loadMove("r4r1k/5p1p/pq1p1Pp1/2p3Q1/B1n1P3/1p5P/PP4P1/1R3R1K w - - 0 30", this, "b4b3"); ' class="line0">b3</span> 
 <span onclick='loadMove("r4r1k/5p1p/pq1p1Pp1/2p3Q1/B1n1P3/1P5P/1P4P1/1R3R1K b - - 0 30", this, "a2b3"); ' class="line0">30.a:b3</span> 
 <span onclick='loadMove("r4r1k/5p1p/p2p1Pp1/2p3Q1/Bqn1P3/1P5P/1P4P1/1R3R1K w - - 0 31", this, "b6b4"); ' class="line0">Фb4</span> 
 <span onclick='loadMove("r4r1k/5p1p/p2p1Pp1/2p3Q1/BqP1P3/7P/1P4P1/1R3R1K b - - 0 31", this, "b3c4"); ' class="line0">31.b:c4</span> 
 <span onclick='loadMove("r4r1k/5p1p/p2p1Pp1/2p3Q1/q1P1P3/7P/1P4P1/1R3R1K w - - 0 32", this, "b4a4"); ' class="line0">Ф:a4</span> 
 <span onclick='loadMove("r4r1k/5p1p/p2p1Pp1/2p3Q1/q1P1PR2/7P/1P4P1/1R5K b - - 0 32", this, "f1f4"); ' class="line0">32.Лf4</span> 
 <span onclick='loadMove("r4r1k/5p1p/p2p1Pp1/2p3Q1/2P1PR2/7P/1Pq3P1/1R5K w - - 0 33", this, "a4c2"); ' class="line0">Фc2</span> 
 <span onclick='loadMove("r4r1k/5p1p/p2p1PpQ/2p5/2P1PR2/7P/1Pq3P1/1R5K b - - 0 33", this, "g5h6"); ' class="line0">33.Фh6</span> 
. Черные сдались.</p>

</div> <!-- score -->
</div> <!-- section -->

</div> <!-- iBook -->
{% endblock content %}
