{% extends '../../base.htm' %}
{% load static %}
{% block title %}
<title>РЕКОРДНЫЙ ЦЕЙТНОТ | Черные Е. Геллер — 1967, Тбилиси — чемпионат СССР | {{book.title}} | {%for author in book.authors.all%} {%if author.first_name%} {{author.first_name}} {%endif%} {%if author.second_name%} {{author.second_name}} {%endif%} {%if forloop.counter == book.authors.all.count%} {{author.last_name}} {%else%} {{author.last_name}}, {%endif%} {%endfor%} | {{book.year}}</title>
{% endblock title %}
{% block content %}

<div class="iBook">

<div class="section">
<div class="chessBoard small floater" data-start-fen="rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w KQkq - 0 1"></div>
<div class="score">
 <span class="line0" onclick='loadMove("rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w KQkq - 0 1", this, ""); '>[...]</span> 
<!--p>Испанская партия</p><p>233</p-->

<h3>РЕКОРДНЫЙ ЦЕЙТНОТ</h3>
<h4>Черные Е. Геллер — 1967, Тбилиси — чемпионат СССР</h4>
<div class="chessBoard analysis nobuttons" data-start-fen="5rkn/1pp3pp/p1pb1p2/P4P1q/2NP4/1P5P/1BQ1rPP1/R4RK1 w - - 0 20"></div>
<p>После
 <span onclick='loadMove("5rkn/1pp3pp/p1pb1p2/P4P1q/2NP4/1P5P/1BQ1rPP1/R4RK1 w - - 0 20", this, "e8e2"); ' class="line1">19...Лe8-e2</span> 
</p>
<p>Старт чемпионата сложился для меня удачно: три выигрыша и две ничьи. Вполне можно было рассчитывать на участие в межзональном турнире.</p>
<p>Но в середине турнира я необоснованно отклонил предложение ничьей со стороны Н. Крогиуса и проиграл. В то же время целая группа шахматистов была уже впереди меня. В этих условиях и состоялся мой поединок с Е. Геллером.</p>
<p>Я был готов к ходу
 <span onclick='loadMove("rnbqkbnr/pppp1ppp/8/4p3/4P3/8/PPPP1PPP/RNBQKBNR w KQkq e6 0 2", this, "e7e5"); ' class="line1">1...e7-e5</span> 
и подготовил стройную систему атаки, но после первых семи ходов я напрасно отказался от заготовленного
 <span onclick='loadMove("r2qk1nr/1pp3pp/p1pb1p2/4p3/3PP1b1/2P1BN2/PP3PPP/RN1Q1RK1 b kq - 0 8", this, "c1e3"); ' class="line1">8.Сe3</span> 
и избрал Кbd2, а к 18-му ходу попал в ужасный цейтнот.</p>
<p>Е. Геллер отлично расположил свои силы и первым сумел перейти в наступление. Особенно красив его маневр <b>Кg8-h6-f7-h8!</b></p>

<p>
 <span onclick='loadMove("rnbqkbnr/pppppppp/8/8/4P3/8/PPPP1PPP/RNBQKBNR b KQkq e3 0 1", this, "e2e4"); ' class="line0">1.e4</span> 
 <span onclick='loadMove("rnbqkbnr/pppp1ppp/8/4p3/4P3/8/PPPP1PPP/RNBQKBNR w KQkq e6 0 2", this, "e7e5"); ' class="line0">e5</span> 
 <span onclick='loadMove("rnbqkbnr/pppp1ppp/8/4p3/4P3/5N2/PPPP1PPP/RNBQKB1R b KQkq - 0 2", this, "g1f3"); ' class="line0">2.Кf3</span> 
 <span onclick='loadMove("r1bqkbnr/pppp1ppp/2n5/4p3/4P3/5N2/PPPP1PPP/RNBQKB1R w KQkq - 0 3", this, "b8c6"); ' class="line0">Кc6</span> 
 <span onclick='loadMove("r1bqkbnr/pppp1ppp/2n5/1B2p3/4P3/5N2/PPPP1PPP/RNBQK2R b KQkq - 0 3", this, "f1b5"); ' class="line0">3.Сb5</span> 
 <span onclick='loadMove("r1bqkbnr/1ppp1ppp/p1n5/1B2p3/4P3/5N2/PPPP1PPP/RNBQK2R w KQkq - 0 4", this, "a7a6"); ' class="line0">a6</span> 
 <span onclick='loadMove("r1bqkbnr/1ppp1ppp/p1B5/4p3/4P3/5N2/PPPP1PPP/RNBQK2R b KQkq - 0 4", this, "b5c6"); ' class="line0">4.С:c6</span> 
 <span onclick='loadMove("r1bqkbnr/1pp2ppp/p1p5/4p3/4P3/5N2/PPPP1PPP/RNBQK2R w KQkq - 0 5", this, "d7c6"); ' class="line0">d:c6</span> 
 <span onclick='loadMove("r1bqkbnr/1pp2ppp/p1p5/4p3/4P3/5N2/PPPP1PPP/RNBQ1RK1 b kq - 0 5", this, "e1g1"); ' class="line0">5.0-0</span> 
 <span onclick='loadMove("r1bqkbnr/1pp3pp/p1p2p2/4p3/4P3/5N2/PPPP1PPP/RNBQ1RK1 w kq - 0 6", this, "f7f6"); ' class="line0">f6</span> 
 <span onclick='loadMove("r1bqkbnr/1pp3pp/p1p2p2/4p3/3PP3/5N2/PPP2PPP/RNBQ1RK1 b kq d3 0 6", this, "d2d4"); ' class="line0">6.d4</span> 
 <span onclick='loadMove("r2qkbnr/1pp3pp/p1p2p2/4p3/3PP1b1/5N2/PPP2PPP/RNBQ1RK1 w kq - 0 7", this, "c8g4"); ' class="line0">Сg4</span> 
 <span onclick='loadMove("r2qkbnr/1pp3pp/p1p2p2/4p3/3PP1b1/2P2N2/PP3PPP/RNBQ1RK1 b kq - 0 7", this, "c2c3"); ' class="line0">7.c3</span> 
 <span onclick='loadMove("r2qk1nr/1pp3pp/p1pb1p2/4p3/3PP1b1/2P2N2/PP3PPP/RNBQ1RK1 w kq - 0 8", this, "f8d6"); ' class="line0">Сd6</span> 
 <span onclick='loadMove("r2qk1nr/1pp3pp/p1pb1p2/4p3/3PP1b1/2P2N2/PP1N1PPP/R1BQ1RK1 b kq - 0 8", this, "b1d2"); ' class="line0">8.Кbd2</span> 
 <span onclick='loadMove("r3k1nr/1pp1q1pp/p1pb1p2/4p3/3PP1b1/2P2N2/PP1N1PPP/R1BQ1RK1 w kq - 0 9", this, "d8e7"); ' class="line0">Фe7</span> 
 <span onclick='loadMove("r3k1nr/1pp1q1pp/p1pb1p2/4p3/P2PP1b1/2P2N2/1P1N1PPP/R1BQ1RK1 b kq a3 0 9", this, "a2a4"); ' class="line0">9.a4</span> 
 <span onclick='loadMove("r3k2r/1pp1q1pp/p1pb1p1n/4p3/P2PP1b1/2P2N2/1P1N1PPP/R1BQ1RK1 w kq - 0 10", this, "g8h6"); ' class="line0">Кh6</span> 
 <span onclick='loadMove("r3k2r/1pp1q1pp/p1pb1p1n/P3p3/3PP1b1/2P2N2/1P1N1PPP/R1BQ1RK1 b kq - 0 10", this, "a4a5"); ' class="line0">10.a5</span> 
 <span onclick='loadMove("r3k2r/1pp1qnpp/p1pb1p2/P3p3/3PP1b1/2P2N2/1P1N1PPP/R1BQ1RK1 w kq - 0 11", this, "h6f7"); ' class="line0">Кf7</span> 
 <span onclick='loadMove("r3k2r/1pp1qnpp/p1pb1p2/P3p3/3PP1b1/2P2N2/1PQN1PPP/R1B2RK1 b kq - 0 11", this, "d1c2"); ' class="line0">11.Фc2</span> 
 <span onclick='loadMove("r4rk1/1pp1qnpp/p1pb1p2/P3p3/3PP1b1/2P2N2/1PQN1PPP/R1B2RK1 w - - 0 12", this, "e8g8"); ' class="line0">0-0</span> 
 <span onclick='loadMove("r4rk1/1pp1qnpp/p1pb1p2/P3p3/3PP1b1/2P2N1P/1PQN1PP1/R1B2RK1 b - - 0 12", this, "h2h3"); ' class="line0">12.h3</span> 
 <span onclick='loadMove("r4rk1/1ppbqnpp/p1pb1p2/P3p3/3PP3/2P2N1P/1PQN1PP1/R1B2RK1 w - - 0 13", this, "g4d7"); ' class="line0">Сd7</span> 
 <span onclick='loadMove("r4rk1/1ppbqnpp/p1pb1p2/P3p3/3PP3/1PP2N1P/2QN1PP1/R1B2RK1 b - - 0 13", this, "b2b3"); ' class="line0">13.b3</span> 
 <span onclick='loadMove("4rrk1/1ppbqnpp/p1pb1p2/P3p3/3PP3/1PP2N1P/2QN1PP1/R1B2RK1 w - - 0 14", this, "a8e8"); ' class="line0">Лae8</span> 
 <span onclick='loadMove("4rrk1/1ppbqnpp/p1pb1p2/P3p3/3PP3/1PP2N1P/1BQN1PP1/R4RK1 b - - 0 14", this, "c1b2"); ' class="line0">14.Сb2</span> 
 <span onclick='loadMove("4rrkn/1ppbq1pp/p1pb1p2/P3p3/3PP3/1PP2N1P/1BQN1PP1/R4RK1 w - - 0 15", this, "f7h8"); ' class="line0">Кh8</span> 
 <span onclick='loadMove("4rrkn/1ppbq1pp/p1pb1p2/P3p3/3PP2N/1PP4P/1BQN1PP1/R4RK1 b - - 0 15", this, "f3h4"); ' class="line0">15.Кh4</span> 
 <span onclick='loadMove("4rrkn/1ppb1qpp/p1pb1p2/P3p3/3PP2N/1PP4P/1BQN1PP1/R4RK1 w - - 0 16", this, "e7f7"); ' class="line0">Фf7</span> 
 <span onclick='loadMove("4rrkn/1ppb1qpp/p1pb1p2/P3p3/2NPP2N/1PP4P/1BQ2PP1/R4RK1 b - - 0 16", this, "d2c4"); ' class="line0">16.Кc4</span> 
 <span onclick='loadMove("4rrkn/1ppb1qpp/p1pb1p2/P7/2NpP2N/1PP4P/1BQ2PP1/R4RK1 w - - 0 17", this, "e5d4"); ' class="line0">e:d4</span> 
 <span onclick='loadMove("4rrkn/1ppb1qpp/p1pb1p2/P7/2NPP2N/1P5P/1BQ2PP1/R4RK1 b - - 0 17", this, "c3d4"); ' class="line0">17.c:d4</span> 
 <span onclick='loadMove("4rrkn/1ppb2pp/p1pb1p2/P6q/2NPP2N/1P5P/1BQ2PP1/R4RK1 w - - 0 18", this, "f7h5"); ' class="line0">Фh5</span> 
 <span onclick='loadMove("4rrkn/1ppb2pp/p1pb1p2/P4N1q/2NPP3/1P5P/1BQ2PP1/R4RK1 b - - 0 18", this, "h4f5"); ' class="line0">18.Кf5</span> 
 <span onclick='loadMove("4rrkn/1pp3pp/p1pb1p2/P4b1q/2NPP3/1P5P/1BQ2PP1/R4RK1 w - - 0 19", this, "d7f5"); ' class="line0">С:f5</span> 
 <span onclick='loadMove("4rrkn/1pp3pp/p1pb1p2/P4P1q/2NP4/1P5P/1BQ2PP1/R4RK1 b - - 0 19", this, "e4f5"); ' class="line0">19.e:f5</span> 
 <span onclick='loadMove("5rkn/1pp3pp/p1pb1p2/P4P1q/2NP4/1P5P/1BQ1rPP1/R4RK1 w - - 0 20", this, "e8e2"); ' class="line0">Лe2</span> 
 <span onclick='loadMove("5rkn/1pp3pp/p1pb1p2/P4P1q/2NP4/1P1Q3P/1B2rPP1/R4RK1 b - - 0 20", this, "c2d3"); ' class="line0">20.Фd3</span> 
 <span onclick='loadMove("4r1kn/1pp3pp/p1pb1p2/P4P1q/2NP4/1P1Q3P/1B2rPP1/R4RK1 w - - 0 21", this, "f8e8"); ' class="line0">Лfe8</span> 
 <span onclick='loadMove("4r1kn/1pp3pp/p1pb1p2/P4P1q/2NP4/BP1Q3P/4rPP1/R4RK1 b - - 0 21", this, "b2a3"); ' class="line0">21.Сa3</span> 
 <span onclick='loadMove("4r1kn/1pp3pp/p1p2p2/P4P1q/2NP4/bP1Q3P/4rPP1/R4RK1 w - - 0 22", this, "d6a3"); ' class="line0">С:a3</span> 
 <span onclick='loadMove("4r1kn/1pp3pp/p1p2p2/P4P1q/2NP4/RP1Q3P/4rPP1/5RK1 b - - 0 22", this, "a1a3"); ' class="line0">22.Л:a3</span> 
 <span onclick='loadMove("4r1kn/1pp1r1pp/p1p2p2/P4P1q/2NP4/RP1Q3P/5PP1/5RK1 w - - 0 23", this, "e2e7"); ' class="line0">Л2e7</span> 
 <span onclick='loadMove("4r1kn/1pp1r1pp/p1p2p2/P4P1q/3P4/RP1QN2P/5PP1/5RK1 b - - 0 23", this, "c4e3"); ' class="line0">23.Кe3</span> 
 <span onclick='loadMove("4r1kn/1ppr2pp/p1p2p2/P4P1q/3P4/RP1QN2P/5PP1/5RK1 w - - 0 24", this, "e7d7"); ' class="line0">Лd7</span> 
 <span onclick='loadMove("4r1kn/1ppr2pp/p1p2p2/P4P1q/R2P4/1P1QN2P/5PP1/5RK1 b - - 0 24", this, "a3a4"); ' class="line0">24.Лa4</span> 
 <span onclick='loadMove("4r1k1/1ppr1npp/p1p2p2/P4P1q/R2P4/1P1QN2P/5PP1/5RK1 w - - 0 25", this, "h8f7"); ' class="line0">Кf7</span> 
 <span onclick='loadMove("4r1k1/1ppr1npp/p1p2p2/P4P1q/1R1P4/1P1QN2P/5PP1/5RK1 b - - 0 25", this, "a4b4"); ' class="line0">25.Лb4</span> 
 <span onclick='loadMove("4r1k1/1ppr2pp/p1pn1p2/P4P1q/1R1P4/1P1QN2P/5PP1/5RK1 w - - 0 26", this, "f7d6"); ' class="line0">Кd6</span> 
 <span onclick='loadMove("4r1k1/1ppr2pp/p1pn1p2/P4P1q/1R1P4/1P1QN2P/5PP1/3R2K1 b - - 0 26", this, "f1d1"); ' class="line0">26.Лd1</span> 
 <span onclick='loadMove("4r1k1/1ppr1qpp/p1pn1p2/P4P2/1R1P4/1P1QN2P/5PP1/3R2K1 w - - 0 27", this, "h5f7"); ' class="line0">Фf7</span> 
 <span onclick='loadMove("4r1k1/1ppr1qpp/p1pn1p2/P4P2/1R1P4/1P1QN2P/5PP1/3R1K2 b - - 0 27", this, "g1f1"); ' class="line0">27.Крf1</span> 
 <span onclick='loadMove("3r2k1/1ppr1qpp/p1pn1p2/P4P2/1R1P4/1P1QN2P/5PP1/3R1K2 w - - 0 28", this, "e8d8"); ' class="line0">Лed8</span> 
 <span onclick='loadMove("3r2k1/1ppr1qpp/p1pn1p2/P4P2/1R1P4/1P2N2P/2Q2PP1/3R1K2 b - - 0 28", this, "d3c2"); ' class="line0">28.Фc2</span> 
 <span onclick='loadMove("3r2k1/1ppr1qpp/p1p2p2/Pn3P2/1R1P4/1P2N2P/2Q2PP1/3R1K2 w - - 0 29", this, "d6b5"); ' class="line0">Кb5</span> 
 <span onclick='loadMove("3r2k1/1ppr1qpp/p1p2p2/PnQ2P2/1R1P4/1P2N2P/5PP1/3R1K2 b - - 0 29", this, "c2c5"); ' class="line0">29.Фc5</span> 
 <span onclick='loadMove("3r1qk1/1ppr2pp/p1p2p2/PnQ2P2/1R1P4/1P2N2P/5PP1/3R1K2 w - - 0 30", this, "f7f8"); ' class="line0">Фf8</span> 
 <span onclick='loadMove("3r1Qk1/1ppr2pp/p1p2p2/Pn3P2/1R1P4/1P2N2P/5PP1/3R1K2 b - - 0 30", this, "c5f8"); ' class="line0">30.Ф:f8+</span> 
 <span onclick='loadMove("3r1k2/1ppr2pp/p1p2p2/Pn3P2/1R1P4/1P2N2P/5PP1/3R1K2 w - - 0 31", this, "g8f8"); ' class="line0">Кр:f8</span> 
 <span onclick='loadMove("3r1k2/1ppr2pp/p1p2p2/Pn3P2/1R1P4/1P5P/2N2PP1/3R1K2 b - - 0 31", this, "e3c2"); ' class="line0">31.Кc2</span> 
 <span onclick='loadMove("3r1k2/1ppr2pp/p4p2/Pnp2P2/1R1P4/1P5P/2N2PP1/3R1K2 w - - 0 32", this, "c6c5"); ' class="line0">c5</span> 
 <span onclick='loadMove("3r1k2/1ppr2pp/p4p2/Pnp2P2/2RP4/1P5P/2N2PP1/3R1K2 b - - 0 32", this, "b4c4"); ' class="line0">32.Лc4</span> 
 <span onclick='loadMove("3r1k2/1ppr2pp/p4p2/Pn3P2/2Rp4/1P5P/2N2PP1/3R1K2 w - - 0 33", this, "c5d4"); ' class="line0">c:d4</span> 
 <span onclick='loadMove("3r1k2/1ppr2pp/p4p2/Pn3P2/2Rp4/1P1R3P/2N2PP1/5K2 b - - 0 33", this, "d1d3"); ' class="line0">33.Лd3</span> 
 <span onclick='loadMove("3r4/1ppr1kpp/p4p2/Pn3P2/2Rp4/1P1R3P/2N2PP1/5K2 w - - 0 34", this, "f8f7"); ' class="line0">Крf7</span> 
 <span onclick='loadMove("3r4/1ppr1kpp/p4p2/Pn3P2/1PRp4/3R3P/2N2PP1/5K2 b - - 0 34", this, "b3b4"); ' class="line0">34.b4</span> 
 <span onclick='loadMove("3r4/1p1r1kpp/p1p2p2/Pn3P2/1PRp4/3R3P/2N2PP1/5K2 w - - 0 35", this, "c7c6"); ' class="line0">c6</span> 
 <span onclick='loadMove("3r4/1p1r1kpp/p1p2p2/Pn3P2/1PRp2P1/3R3P/2N2P2/5K2 b - g3 0 35", this, "g2g4"); ' class="line0">35.g4</span> 
 <span onclick='loadMove("3r4/1p1r1kp1/p1p2p2/Pn3P1p/1PRp2P1/3R3P/2N2P2/5K2 w - h6 0 36", this, "h7h5"); ' class="line0">h5</span> 
 <span onclick='loadMove("3r4/1p1r1kp1/p1p2p2/Pn3P1p/1PRp2P1/3R3P/2N1KP2/8 b - - 0 36", this, "f1e2"); ' class="line0">36.Крe2</span> 
 <span onclick='loadMove("3r4/1p3kp1/p1p2p2/Pn1r1P1p/1PRp2P1/3R3P/2N1KP2/8 w - - 0 37", this, "d7d5"); ' class="line0">Лd5</span> 
 <span onclick='loadMove("3r4/1p3kp1/p1p2p2/Pn1r1P1p/1PRp2P1/3R3P/2NK1P2/8 b - - 0 37", this, "e2d2"); ' class="line0">37.Крd2</span> 
 <span onclick='loadMove("8/1p1r1kp1/p1p2p2/Pn1r1P1p/1PRp2P1/3R3P/2NK1P2/8 w - - 0 38", this, "d8d7"); ' class="line0">Л8d7</span> 
 <span onclick='loadMove("8/1p1r1kp1/p1p2p2/Pn1r1P1p/1PRp2P1/3R1P1P/2NK4/8 b - - 0 38", this, "f2f3"); ' class="line0">38.f3</span> 
 <span onclick='loadMove("3r4/1p3kp1/p1p2p2/Pn1r1P1p/1PRp2P1/3R1P1P/2NK4/8 w - - 0 39", this, "d7d8"); ' class="line0">Лd8</span> 
 <span onclick='loadMove("3r4/1p3kp1/p1p2p2/Pn1r1P1p/1PRp2P1/3R1P1P/3K4/4N3 b - - 0 39", this, "c2e1"); ' class="line0">39.Кe1</span> 
 <span onclick='loadMove("3r4/1p3kp1/p1p2p2/Pn1r1P2/1PRp2p1/3R1P1P/3K4/4N3 w - - 0 40", this, "h5g4"); ' class="line0">h:g4</span> 
 <span onclick='loadMove("3r4/1p3kp1/p1p2p2/Pn1r1P2/1PRp2P1/3R1P2/3K4/4N3 b - - 0 40", this, "h3g4"); ' class="line0">40.h:g4</span> 
 <span onclick='loadMove("7r/1p3kp1/p1p2p2/Pn1r1P2/1PRp2P1/3R1P2/3K4/4N3 w - - 0 41", this, "d8h8"); ' class="line0">Лh8</span> 
 <span onclick='loadMove("7r/1p3kp1/p1p2p2/Pn1r1P2/1PRp2P1/3R1P2/2NK4/8 b - - 0 41", this, "e1c2"); ' class="line0">41.Кc2</span> 
 <span onclick='loadMove("8/1p3kp1/p1p2p2/Pn1r1P2/1PRp2P1/3R1P2/2NK3r/8 w - - 0 42", this, "h8h2"); ' class="line0">Лh2+</span> 
 <span onclick='loadMove("8/1p3kp1/p1p2p2/Pn1r1P2/1PRp2P1/3R1P2/2N4r/2K5 b - - 0 42", this, "d2c1"); ' class="line0">42.Крc1</span> 
 <span onclick='loadMove("8/1p3kp1/p1p2p2/Pn1r1P2/1PRp2P1/3R1P2/2N2r2/2K5 w - - 0 43", this, "h2f2"); ' class="line0">Лf2</span> 
 <span onclick='loadMove("8/1p3kp1/p1p2p2/PnRr1P2/1P1p2P1/3R1P2/2N2r2/2K5 b - - 0 43", this, "c4c5"); ' class="line0">43.Лc5</span> 
 <span onclick='loadMove("8/1p3kp1/p1p2p2/PnR1rP2/1P1p2P1/3R1P2/2N2r2/2K5 w - - 0 44", this, "d5e5"); ' class="line0">Лe5</span> 
 <span onclick='loadMove("8/1p3kp1/p1p2p2/PnR1rP2/1P1p2P1/5P2/2NR1r2/2K5 b - - 0 44", this, "d3d2"); ' class="line0">44.Лd2</span> 
 <span onclick='loadMove("8/1p3kp1/p1p2p2/PnR1rP2/1P1p2P1/5r2/2NR4/2K5 w - - 0 45", this, "f2f3"); ' class="line0">Л:f3</span> 
 <span onclick='loadMove("8/1p3kp1/p1p2p2/PnR1rP2/1P1N2P1/5r2/3R4/2K5 b - - 0 45", this, "c2d4"); ' class="line0">45.К:d4</span> 
 <span onclick='loadMove("8/1p3kp1/p1p2p2/P1R1rP2/1P1n2P1/5r2/3R4/2K5 w - - 0 46", this, "b5d4"); ' class="line0">К:d4</span> 
 <span onclick='loadMove("8/1p3kp1/p1p2p2/P1R1rP2/1P1R2P1/5r2/8/2K5 b - - 0 46", this, "d2d4"); ' class="line0">46.Л:d4</span> 
 <span onclick='loadMove("8/1p3kp1/p1p2p2/P1r2P2/1P1R2P1/5r2/8/2K5 w - - 0 47", this, "e5c5"); ' class="line0">Л:c5+</span> 
 <span onclick='loadMove("8/1p3kp1/p1p2p2/P1P2P2/3R2P1/5r2/8/2K5 b - - 0 47", this, "b4c5"); ' class="line0">47.b:c5</span> 
 <span onclick='loadMove("8/1p3kp1/p1p2p2/P1P2P2/3R2P1/2r5/8/2K5 w - - 0 48", this, "f3c3"); ' class="line0">Лc3+</span> 
 <span onclick='loadMove("8/1p3kp1/p1p2p2/P1P2P2/3R2P1/2r5/3K4/8 b - - 0 48", this, "c1d2"); ' class="line0">48.Крd2</span> 
 <span onclick='loadMove("8/1p3kp1/p1p2p2/P1r2P2/3R2P1/8/3K4/8 w - - 0 49", this, "c3c5"); ' class="line0">Л:c5</span> 
 <span onclick='loadMove("8/1p1R1kp1/p1p2p2/P1r2P2/6P1/8/3K4/8 b - - 0 49", this, "d4d7"); ' class="line0">49.Лd7+</span> 
 <span onclick='loadMove("6k1/1p1R2p1/p1p2p2/P1r2P2/6P1/8/3K4/8 w - - 0 50", this, "f7g8"); ' class="line0">Крg8</span> 
 <span onclick='loadMove("6k1/1R4p1/p1p2p2/P1r2P2/6P1/8/3K4/8 b - - 0 50", this, "d7b7"); ' class="line0">50.Л:b7</span> 
 <span onclick='loadMove("6k1/1R4p1/p1p2p2/r4P2/6P1/8/3K4/8 w - - 0 51", this, "c5a5"); ' class="line0">Л:a5</span> 
 <span onclick='loadMove("6k1/1R4p1/p1p2p2/r4P2/6P1/4K3/8/8 b - - 0 51", this, "d2e3"); ' class="line0">51.Крe3</span> 
 <span onclick='loadMove("8/1R4pk/p1p2p2/r4P2/6P1/4K3/8/8 w - - 0 52", this, "g8h7"); ' class="line0">Крh7</span> 
 <span onclick='loadMove("8/1R4pk/p1p2p2/r4P2/5KP1/8/8/8 b - - 0 52", this, "e3f4"); ' class="line0">52.Крf4</span> 
 <span onclick='loadMove("8/1R4pk/p1p2p2/5P2/5KP1/8/8/r7 w - - 0 53", this, "a5a1"); ' class="line0">Лa1</span> 
 <span onclick='loadMove("8/2R3pk/p1p2p2/5P2/5KP1/8/8/r7 b - - 0 53", this, "b7c7"); ' class="line0">53.Лc7</span> 
 <span onclick='loadMove("8/2R3p1/p1p2p1k/5P2/5KP1/8/8/r7 w - - 0 54", this, "h7h6"); ' class="line0">Крh6</span> 
 <span onclick='loadMove("8/2R3p1/p1p2p1k/5P2/6P1/6K1/8/r7 b - - 0 54", this, "f4g3"); ' class="line0">54.Крg3</span> 
 <span onclick='loadMove("8/2R3p1/p1p2p1k/5P2/6P1/6K1/8/2r5 w - - 0 55", this, "a1c1"); ' class="line0">Лc1</span> 
 <span onclick='loadMove("8/2R3p1/p1p2p1k/5P2/6PK/8/8/2r5 b - - 0 55", this, "g3h4"); ' class="line0">55.Крh4</span> 
 <span onclick='loadMove("8/2R3p1/p1p2p1k/5P2/6PK/8/8/7r w - - 0 56", this, "c1h1"); ' class="line0">Лh1+</span> 
 <span onclick='loadMove("8/2R3p1/p1p2p1k/5P2/6P1/6K1/8/7r b - - 0 56", this, "h4g3"); ' class="line0">56.Крg3</span> 
 <span onclick='loadMove("8/2R3p1/p1p2p1k/5P2/6P1/6K1/8/2r5 w - - 0 57", this, "h1c1"); ' class="line0">Лc1</span> 
 <span onclick='loadMove("8/2R3p1/p1p2p1k/5P2/6PK/8/8/2r5 b - - 0 57", this, "g3h4"); ' class="line0">57.Крh4</span> 
 <span onclick='loadMove("8/2R3p1/2p2p1k/p4P2/6PK/8/8/2r5 w - - 0 58", this, "a6a5"); ' class="line0">a5</span> 
 <span onclick='loadMove("8/R5p1/2p2p1k/p4P2/6PK/8/8/2r5 b - - 0 58", this, "c7a7"); ' class="line0">58.Лa7</span> 
 <span onclick='loadMove("8/R5p1/2p2p1k/p4P2/6PK/8/8/7r w - - 0 59", this, "c1h1"); ' class="line0">Лh1+</span> 
 <span onclick='loadMove("8/R5p1/2p2p1k/p4P2/6P1/6K1/8/7r b - - 0 59", this, "h4g3"); ' class="line0">59.Крg3</span> 
 <span onclick='loadMove("8/R5p1/2p2p1k/p4P2/6P1/6K1/8/r7 w - - 0 60", this, "h1a1"); ' class="line0">Лa1</span> 
 <span onclick='loadMove("8/2R3p1/2p2p1k/p4P2/6P1/6K1/8/r7 b - - 0 60", this, "a7c7"); ' class="line0">60.Лc7</span> 
 <span onclick='loadMove("8/2R3p1/2p2p1k/p4P2/6P1/6K1/8/2r5 w - - 0 61", this, "a1c1"); ' class="line0">Лc1</span> 
 <span onclick='loadMove("8/R5p1/2p2p1k/p4P2/6P1/6K1/8/2r5 b - - 0 61", this, "c7a7"); ' class="line0">61.Лa7</span> 
 <span onclick='loadMove("8/R5p1/5p1k/p1p2P2/6P1/6K1/8/2r5 w - - 0 62", this, "c6c5"); ' class="line0">c5</span> 
 <span onclick='loadMove("8/R5p1/5p1k/p1p2P2/5KP1/8/8/2r5 b - - 0 62", this, "g3f4"); ' class="line0">62.Крf4</span> 
 <span onclick='loadMove("8/R5p1/5p1k/p1p2P2/5KP1/8/8/r7 w - - 0 63", this, "c1a1"); ' class="line0">Лa1</span> 
 <span onclick='loadMove("8/2R3p1/5p1k/p1p2P2/5KP1/8/8/r7 b - - 0 63", this, "a7c7"); ' class="line0">63.Лc7</span> 
 <span onclick='loadMove("8/2R3p1/5p1k/p1p2P2/5KP1/r7/8/8 w - - 0 64", this, "a1a3"); ' class="line0">Лa3</span> 
 <span onclick='loadMove("8/R5p1/5p1k/p1p2P2/5KP1/r7/8/8 b - - 0 64", this, "c7a7"); ' class="line0">64.Лa7</span> 
 <span onclick='loadMove("8/R5p1/5p1k/p1p2P2/r4KP1/8/8/8 w - - 0 65", this, "a3a4"); ' class="line0">Лa4+</span> 
 <span onclick='loadMove("8/R5p1/5p1k/p1p2P2/r5P1/6K1/8/8 b - - 0 65", this, "f4g3"); ' class="line0">65.Крg3</span> 
 <span onclick='loadMove("8/R5p1/5p1k/p1p2P2/6P1/6K1/8/r7 w - - 0 66", this, "a4a1"); ' class="line0">Лa1</span> 
 <span onclick='loadMove("8/2R3p1/5p1k/p1p2P2/6P1/6K1/8/r7 b - - 0 66", this, "a7c7"); ' class="line0">66.Лc7</span> 
 <span onclick='loadMove("8/2R3p1/5p1k/p1p2P2/6P1/6K1/8/2r5 w - - 0 67", this, "a1c1"); ' class="line0">Лc1</span> 
 <span onclick='loadMove("8/R5p1/5p1k/p1p2P2/6P1/6K1/8/2r5 b - - 0 67", this, "c7a7"); ' class="line0">67.Лa7</span> 
 <span onclick='loadMove("8/R5p1/5p1k/p4P2/2p3P1/6K1/8/2r5 w - - 0 68", this, "c5c4"); ' class="line0">c4</span> 
 <span onclick='loadMove("8/R5p1/5p1k/p4P2/2p2KP1/8/8/2r5 b - - 0 68", this, "g3f4"); ' class="line0">68.Крf4</span> 
 <span onclick='loadMove("8/R5p1/5p1k/p4P2/2p2KP1/8/8/5r2 w - - 0 69", this, "c1f1"); ' class="line0">Лf1+</span> 
 <span onclick='loadMove("8/R5p1/5p1k/p4P2/2p3P1/4K3/8/5r2 b - - 0 69", this, "f4e3"); ' class="line0">69.Крe3</span> 
 <span onclick='loadMove("8/R5p1/5p1k/p4P2/2p3P1/4K3/8/6r1 w - - 0 70", this, "f1g1"); ' class="line0">Лg1</span> 
 <span onclick='loadMove("8/R5p1/5p1k/p4P2/2p2KP1/8/8/6r1 b - - 0 70", this, "e3f4"); ' class="line0">70.Крf4</span> 
 <span onclick='loadMove("8/R5p1/5p1k/p4P2/5KP1/2p5/8/6r1 w - - 0 71", this, "c4c3"); ' class="line0">c3</span> 
 <span onclick='loadMove("8/2R3p1/5p1k/p4P2/5KP1/2p5/8/6r1 b - - 0 71", this, "a7c7"); ' class="line0">71.Лc7</span> 
 <span onclick='loadMove("8/2R3p1/5p1k/p4P2/5KP1/2p5/8/2r5 w - - 0 72", this, "g1c1"); ' class="line0">Лc1</span> 
 <span onclick='loadMove("2R5/6p1/5p1k/p4P2/5KP1/2p5/8/2r5 b - - 0 72", this, "c7c8"); ' class="line0">72.Лc8</span> 
 <span onclick='loadMove("2R5/8/5ppk/p4P2/5KP1/2p5/8/2r5 w - - 0 73", this, "g7g6"); ' class="line0">g6</span> 
 <span onclick='loadMove("2R5/8/5ppk/p4P2/6P1/2p1K3/8/2r5 b - - 0 73", this, "f4e3"); ' class="line0">73.Крe3</span> 
 <span onclick='loadMove("2R5/8/5p1k/p4p2/6P1/2p1K3/8/2r5 w - - 0 74", this, "g6f5"); ' class="line0">g:f5</span> 
 <span onclick='loadMove("2R5/8/5p1k/p4P2/8/2p1K3/8/2r5 b - - 0 74", this, "g4f5"); ' class="line0">74.g:f5</span> 
 <span onclick='loadMove("2R5/8/5p2/p4Pk1/8/2p1K3/8/2r5 w - - 0 75", this, "h6g5"); ' class="line0">Крg5</span> 
 <span onclick='loadMove("8/8/5p2/p1R2Pk1/8/2p1K3/8/2r5 b - - 0 75", this, "c8c5"); ' class="line0">75.Лc5</span> 
 <span onclick='loadMove("8/8/5p2/p1R2Pk1/8/2p1K3/8/4r3 w - - 0 76", this, "c1e1"); ' class="line0">Лe1+</span> 
 <span onclick='loadMove("8/8/5p2/p1R2Pk1/8/2pK4/8/4r3 b - - 0 76", this, "e3d3"); ' class="line0">76.Крd3</span> 
 <span onclick='loadMove("8/8/5p2/p1R1rPk1/8/2pK4/8/8 w - - 0 77", this, "e1e5"); ' class="line0">Лe5</span> 
 <span onclick='loadMove("8/8/5p2/p3rPk1/8/2RK4/8/8 b - - 0 77", this, "c5c3"); ' class="line0">77.Л:c3</span> 
 <span onclick='loadMove("8/8/5p2/p3rk2/8/2RK4/8/8 w - - 0 78", this, "g5f5"); ' class="line0">Кр:f5</span> 
 <span onclick='loadMove("8/8/5p2/p3rk2/8/R2K4/8/8 b - - 0 78", this, "c3a3"); ' class="line0">78.Лa3</span> 
 <span onclick='loadMove("8/8/5p2/p3r3/6k1/R2K4/8/8 w - - 0 79", this, "f5g4"); ' class="line0">Крg4</span> 
 <span onclick='loadMove("8/8/5p2/p3r3/3K2k1/R7/8/8 b - - 0 79", this, "d3d4"); ' class="line0">79.Крd4</span> 
 <span onclick='loadMove("8/8/5p2/p7/3K2k1/R7/8/4r3 w - - 0 80", this, "e5e1"); ' class="line0">Лe1</span> 
 <span onclick='loadMove("8/8/5p2/R7/3K2k1/8/8/4r3 b - - 0 80", this, "a3a5"); ' class="line0">80.Л:a5</span> 
 <span onclick='loadMove("8/8/8/R4p2/3K2k1/8/8/4r3 w - - 0 81", this, "f6f5"); ' class="line0">f5</span> 
. Белые сдались.</p>

</div> <!-- score -->
</div> <!-- section -->

</div> <!-- iBook -->
{% endblock content %}
