{% extends '../../base.htm' %}
{% load static %}
{% block title %}
<title>СДВОЕННЫЕ ЧЕРНЫЕ ПЕШКИ | Черные В. Смыслов — 1953, Цюрих — турнир претендентов | {{book.title}} | {%for author in book.authors.all%} {%if author.first_name%} {{author.first_name}} {%endif%} {%if author.second_name%} {{author.second_name}} {%endif%} {%if forloop.counter == book.authors.all.count%} {{author.last_name}} {%else%} {{author.last_name}}, {%endif%} {%endfor%} | {{book.year}}</title>
{% endblock title %}
{% block content %}

<div class="iBook">

<div class="section">
<div class="chessBoard small floater" data-start-fen="rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w KQkq - 0 1"></div>
<div class="score">
 <span class="line0" onclick='loadMove("rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w KQkq - 0 1", this, ""); '>[...]</span> 
<!--p>230</p><p>Испанская партия</p-->

<h3>СДВОЕННЫЕ ЧЕРНЫЕ ПЕШКИ</h3>
<h4>Черные В. Смыслов — 1953, Цюрих — турнир претендентов</h4>
<div class="chessBoard analysis nobuttons" data-start-fen="r1bqkbnr/1pp2ppp/p1p5/4p3/4P3/5N2/PPPP1PPP/RNBQK2R w KQkq - 0 5"></div>
<p>После
 <span onclick='loadMove("r1bqkbnr/1pp2ppp/p1p5/4p3/4P3/5N2/PPPP1PPP/RNBQK2R w KQkq - 0 5", this, "d7c6"); ' class="line1">4...d7:c6</span> 
</p>
<p>Разменный вариант испанской партии — загадка шахматной теории.</p>
<p>Появляясь и исчезая, он каждый раз вызывает множество самых разноречивых мнений и оценок.</p>
<p>Все же ясно одно: особой сверхчеловеческой силы в ходе <b>С:c6</b> нет. У черных немало перспективных путей защиты.</p>
<p>Лучшее доказательство сказанному — многочисленные неудачи белых в этом варианте, свидетельств чему достаточно и в этой книге.</p>
<p>Собственно говоря, у меня с этим ходом связаны только горькие воспоминания — ничья в силу разных околотурнирных обстоятельств, дурного самочувствия, потери спортивных шансов и т. п.</p>
<p>Или же проигрыш... в силу тех же причин, но аккумулированных в один отрицательный заряд. Не было даже сил отбиться на ничью!</p>
<p>Я бы вовсе не приводил этих партий, но среди них есть одна жемчужина, моя гордость, венец психологической работы, синтез сотен и тысяч комбинационных вариаций.</p>
<p>Эту партию в виде исключения я привожу с более развернутыми комментариями и, опять-таки в виде исключения, комментирую ее «на разных уровнях».</p>
<p>О какой партии идет речь? О партии с С. Глигоричем из московского международного турнира гроссмейстеров 1967 года.</p>
<p>И вот чтобы иной критик не подумал, что так выигрывать можно каждый день, я и привел почти все свои неудачи в разменном варианте испанской партии. Спортивный итог хода <b>С:c6</b> отрицательный, но если хоть раз что-то удается, то игра, несомненно, стоит свеч.</p>
<p>Поскольку путешествие наше приближается к концу, то пора раскрыть небольшой секрет. Все мысли о разменном варианте в равной мере можно отнести к предыдущим разделам книги — хорошее и плохое собрано вместе,— чтобы читатель видел, с каким трудом приходится пробивать путь в будущее каждой отдельной фигуре и пешке.</p>
<p>И в заключение несколько слов о гроссмейстерах, с именами которых, на мой взгляд, тесно переплетены все главные
<!--p>Испанская партия</p><p>231</p-->
тонкости испанской стратегии в варианте с ходом <b>Сb5:c6+</b>.</p>
<p>Не секрет, что, добровольно отдавая слона за коня, белые рассчитывают с лихвой компенсировать этот недочет лучшим пешечным расположением.</p>
<p>Так кто же первый придумал этот вариант?</p>
<p>У шахматных вариантов, как и у людей, сложные судьбы. Они далеко не однозначны и полны всяких сюрпризов.</p>
<p>К примеру, мог ли кто-нибудь предвидеть, что такие разные шахматисты, как Эмануил Ласкер и Роберт Фишер, люди разных шахматных эпох, встретятся на одной и той же теоретической странице книги! И все же это невероятное событие произошло.</p>
<p>Сначала Р. Фишер, по молодости лет не разгадав шахматного почерка Эм. Ласкера, отказал ему в месте среди первых десяти бессмертных, а затем, подхватив эстафету у Ласкера, сам стал разить соперников ходом
 <span onclick='loadMove("r1bqkbnr/1ppp1ppp/p1B5/4p3/4P3/5N2/PPPP1PPP/RNBQK2R b KQkq - 0 4", this, "b5c6"); ' class="line1">4.С:c6</span> 
. Одного за другим, наповал!</p>
<p>Объяснение такому факту — ясный стиль игры Р. Фишера, отточенная техника в эндшпиле и большая воля к победе. Что ж, почти как великий Ласкер.</p>
<p>Впрочем, есть важный штрих. Если Р. Фишер — профессор дебютных исследований, то долголетний чемпион мира Эм. Ласкер, упрямо и словно дразня весь мир, не желал растрачивать свои силы на зубрежку дебютных вариантов.</p>
<p>«Варианты мимолетны, в шахматах главное — метод, он применим всегда»,— любил говорить Ласкер.</p>
<p>Так в чем же сила общего «ласкерофишеровского» оружия?</p>
<p>
 <span onclick='loadMove("r1bqkbnr/1ppp1ppp/p1B5/4p3/4P3/5N2/PPPP1PPP/RNBQK2R b KQkq - 0 4", this, "b5c6"); ' class="line1">4.С:c6!</span> 
</p>
<p>Меньше всего я хотел бы удивить читателя, но ответ только один, и принадлежит он А. Филидору: «Пешки — душа шахматной партии!» А французский шахматист жил на свете даже раньше Ласкера.</p>
<p>Так кому же принадлежат мудрые шахматные ходы?</p>

<p>
 <span onclick='loadMove("rnbqkbnr/pppppppp/8/8/4P3/8/PPPP1PPP/RNBQKBNR b KQkq e3 0 1", this, "e2e4"); ' class="line0">1.e4</span> 
 <span onclick='loadMove("rnbqkbnr/pppp1ppp/8/4p3/4P3/8/PPPP1PPP/RNBQKBNR w KQkq e6 0 2", this, "e7e5"); ' class="line0">e5</span> 
 <span onclick='loadMove("rnbqkbnr/pppp1ppp/8/4p3/4P3/5N2/PPPP1PPP/RNBQKB1R b KQkq - 0 2", this, "g1f3"); ' class="line0">2.Кf3</span> 
 <span onclick='loadMove("r1bqkbnr/pppp1ppp/2n5/4p3/4P3/5N2/PPPP1PPP/RNBQKB1R w KQkq - 0 3", this, "b8c6"); ' class="line0">Кc6</span> 
 <span onclick='loadMove("r1bqkbnr/pppp1ppp/2n5/1B2p3/4P3/5N2/PPPP1PPP/RNBQK2R b KQkq - 0 3", this, "f1b5"); ' class="line0">3.Сb5</span> 
 <span onclick='loadMove("r1bqkbnr/1ppp1ppp/p1n5/1B2p3/4P3/5N2/PPPP1PPP/RNBQK2R w KQkq - 0 4", this, "a7a6"); ' class="line0">a6</span> 
 <span onclick='loadMove("r1bqkbnr/1ppp1ppp/p1B5/4p3/4P3/5N2/PPPP1PPP/RNBQK2R b KQkq - 0 4", this, "b5c6"); ' class="line0">4.С:c6</span> 
 <span onclick='loadMove("r1bqkbnr/1pp2ppp/p1p5/4p3/4P3/5N2/PPPP1PPP/RNBQK2R w KQkq - 0 5", this, "d7c6"); ' class="line0">dc</span> 
 <span onclick='loadMove("r1bqkbnr/1pp2ppp/p1p5/4p3/4P3/2N2N2/PPPP1PPP/R1BQK2R b KQkq - 0 5", this, "b1c3"); ' class="line0">5.Кc3</span> 
 <span onclick='loadMove("r1bqkbnr/1pp3pp/p1p2p2/4p3/4P3/2N2N2/PPPP1PPP/R1BQK2R w KQkq - 0 6", this, "f7f6"); ' class="line0">f6</span> 
 <span onclick='loadMove("r1bqkbnr/1pp3pp/p1p2p2/4p3/3PP3/2N2N2/PPP2PPP/R1BQK2R b KQkq d3 0 6", this, "d2d4"); ' class="line0">6.d4</span> 
 <span onclick='loadMove("r1bqkbnr/1pp3pp/p1p2p2/8/3pP3/2N2N2/PPP2PPP/R1BQK2R w KQkq - 0 7", this, "e5d4"); ' class="line0">ed</span> 
 <span onclick='loadMove("r1bqkbnr/1pp3pp/p1p2p2/8/3QP3/2N2N2/PPP2PPP/R1B1K2R b KQkq - 0 7", this, "d1d4"); ' class="line0">7.Ф:d4</span> 
 <span onclick='loadMove("r1b1kbnr/1pp3pp/p1p2p2/8/3qP3/2N2N2/PPP2PPP/R1B1K2R w KQkq - 0 8", this, "d8d4"); ' class="line0">Ф:d4</span> 
 <span onclick='loadMove("r1b1kbnr/1pp3pp/p1p2p2/8/3NP3/2N5/PPP2PPP/R1B1K2R b KQkq - 0 8", this, "f3d4"); ' class="line0">8.К:d4</span> 
 <span onclick='loadMove("r3kbnr/1ppb2pp/p1p2p2/8/3NP3/2N5/PPP2PPP/R1B1K2R w KQkq - 0 9", this, "c8d7"); ' class="line0">Сd7</span> 
 <span onclick='loadMove("r3kbnr/1ppb2pp/p1p2p2/8/3NP3/2N1B3/PPP2PPP/R3K2R b KQkq - 0 9", this, "c1e3"); ' class="line0">9.Сe3</span> 
 <span onclick='loadMove("2kr1bnr/1ppb2pp/p1p2p2/8/3NP3/2N1B3/PPP2PPP/R3K2R w KQ - 0 10", this, "e8c8"); ' class="line0">0-0-0</span> 
 <span onclick='loadMove("2kr1bnr/1ppb2pp/p1p2p2/8/3NP3/2N1B3/PPP2PPP/2KR3R b - - 0 10", this, "e1c1"); ' class="line0">10.0-0-0</span> 
 <span onclick='loadMove("2kr1b1r/1ppbn1pp/p1p2p2/8/3NP3/2N1B3/PPP2PPP/2KR3R w - - 0 11", this, "g8e7"); ' class="line0">Кe7</span> 
 <span onclick='loadMove("2kr1b1r/1ppbn1pp/p1p2p2/8/3NP3/2N1B2P/PPP2PP1/2KR3R b - - 0 11", this, "h2h3"); ' class="line0">11.h3</span> 
 <span onclick='loadMove("2kr1b1r/1ppb2pp/p1p2pn1/8/3NP3/2N1B2P/PPP2PP1/2KR3R w - - 0 12", this, "e7g6"); ' class="line0">Кg6</span> 
 <span onclick='loadMove("2kr1b1r/1ppb2pp/p1p2pn1/8/4P3/1NN1B2P/PPP2PP1/2KR3R b - - 0 12", this, "d4b3"); ' class="line0">12.Кb3</span> 
 <span onclick='loadMove("2kr3r/1ppb2pp/p1p2pn1/8/1b2P3/1NN1B2P/PPP2PP1/2KR3R w - - 0 13", this, "f8b4"); ' class="line0">Сb4</span> 
 <span onclick='loadMove("2kr3r/1ppb2pp/p1p2pn1/8/1b2P3/1N2B2P/PPP1NPP1/2KR3R b - - 0 13", this, "c3e2"); ' class="line0">13.Кe2</span> 
 <span onclick='loadMove("2krr3/1ppb2pp/p1p2pn1/8/1b2P3/1N2B2P/PPP1NPP1/2KR3R w - - 0 14", this, "h8e8"); ' class="line0">Лhe8</span> 
 <span onclick='loadMove("2krr3/1ppb2pp/p1p2pn1/8/1b2P3/PN2B2P/1PP1NPP1/2KR3R b - - 0 14", this, "a2a3"); ' class="line0">14.a3</span> 
 <span onclick='loadMove("2krrb2/1ppb2pp/p1p2pn1/8/4P3/PN2B2P/1PP1NPP1/2KR3R w - - 0 15", this, "b4f8"); ' class="line0">Сf8</span> 
 <span onclick='loadMove("2krrb2/1ppb2pp/p1p2pn1/8/4P3/PNN1B2P/1PP2PP1/2KR3R b - - 0 15", this, "e2c3"); ' class="line0">15.Кc3</span> 
 <span onclick='loadMove("2krrb2/1pp3pp/p1p1bpn1/8/4P3/PNN1B2P/1PP2PP1/2KR3R w - - 0 16", this, "d7e6"); ' class="line0">Сe6</span> 
 <span onclick='loadMove("2kRrb2/1pp3pp/p1p1bpn1/8/4P3/PNN1B2P/1PP2PP1/2K4R b - - 0 16", this, "d1d8"); ' class="line0">16.Л:d8+</span> 
 <span onclick='loadMove("2kr1b2/1pp3pp/p1p1bpn1/8/4P3/PNN1B2P/1PP2PP1/2K4R w - - 0 17", this, "e8d8"); ' class="line0">Л:d8</span> 
 <span onclick='loadMove("2kr1b2/1pp3pp/p1p1bpn1/8/4P3/PNN1B2P/1PP2PP1/2KR4 b - - 0 17", this, "h1d1"); ' class="line0">17.Лd1</span> 
 <span onclick='loadMove("2k2b2/1pp3pp/p1p1bpn1/8/4P3/PNN1B2P/1PP2PP1/2Kr4 w - - 0 18", this, "d8d1"); ' class="line0">Л:d1+</span> 
 <span onclick='loadMove("2k2b2/1pp3pp/p1p1bpn1/8/4P3/PNN1B2P/1PP2PP1/3K4 b - - 0 18", this, "c1d1"); ' class="line0">18.Кр:d1</span> 
 <span onclick='loadMove("2k2b2/1pp3pp/p1p1bp2/4n3/4P3/PNN1B2P/1PP2PP1/3K4 w - - 0 19", this, "g6e5"); ' class="line0">Кe5</span> 
 <span onclick='loadMove("2k2b2/1pp3pp/p1p1bp2/2B1n3/4P3/PNN4P/1PP2PP1/3K4 b - - 0 19", this, "e3c5"); ' class="line0">19.Сc5</span> 
 <span onclick='loadMove("2k5/1pp3pp/p1pbbp2/2B1n3/4P3/PNN4P/1PP2PP1/3K4 w - - 0 20", this, "f8d6"); ' class="line0">Сd6</span> 
 <span onclick='loadMove("2k5/1pp3pp/p1pBbp2/4n3/4P3/PNN4P/1PP2PP1/3K4 b - - 0 20", this, "c5d6"); ' class="line0">20.С:d6</span> 
 <span onclick='loadMove("2k5/1p4pp/p1ppbp2/4n3/4P3/PNN4P/1PP2PP1/3K4 w - - 0 21", this, "c7d6"); ' class="line0">cd</span> 
. Ничья.</p>

</div> <!-- score -->
</div> <!-- section -->

</div> <!-- iBook -->
{% endblock content %}
