{% extends '../../base.htm' %}
{% load static %}
{% block title %}
<title>ВСТРЕЧА С ФЭРЗЬБЕРИ | Белые Б. Фэрзьбери — 1938, Киев — легкая партия | {{book.title}} | {%for author in book.authors.all%} {%if author.first_name%} {{author.first_name}} {%endif%} {%if author.second_name%} {{author.second_name}} {%endif%} {%if forloop.counter == book.authors.all.count%} {{author.last_name}} {%else%} {{author.last_name}}, {%endif%} {%endfor%} | {{book.year}}</title>
{% endblock title %}
{% block content %}

<div class="iBook">

<div class="section">
<div class="chessBoard small floater" data-start-fen="rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w KQkq - 0 1"></div>
<div class="score">
 <span class="line0" onclick='loadMove("rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w KQkq - 0 1", this, ""); '>[...]</span> 

<h3>ВСТРЕЧА С ФЭРЗЬБЕРИ</h3>
<h4>Белые Б. Фэрзьбери — 1938, Киев — легкая партия</h4>
<p>В создании каждой книги участвует не только автор, но и целый коллектив, ведомый Редактором.</p>
<p>Редактор — это гармония, редактор — это пропорции, редактор — это порядок. Дружелюбный ценитель жемчужин, встречающихся в книге, беспощадный враг ее недостатков — таким должен быть Редактор.</p>
<p>...Когда книга была совсем готова, редактор неожиданно сказал:</p>
<p>— В общем получилось неплохо, но все же есть недостатки. Во-первых, мало проигранных партий — несамокритично. Затем, нет дебюта Алапина — неполнота. Далее: автор обещал 200 партий, между тем их всего лишь 199. И, наконец, главный минус: ничего нет о гроссмейстере Б. С. Фэрзьбери. Хотя сам я глубоко убежден, что личность это вымышленная,— никто никогда и в глаза его не видел.</p>
<p>— Великолепная идея, просто восхитительная! Но должен вас огорчить: мне не только знакомо имя Фэрзьбери, я даже играл с ним.</p>
<p>— А вы не сочиняете?— совсем упавшим голосом спросил шеф книги. (Он-то думал, что править больше ничего не придется.)</p>
<p>— Так вот. Случилось это весной 1938 года в Киеве, где я тогда жил. Было мне 14 лет. В здании консерватории проходил очередной тур полуфинала страны.</p>
<p>Пришел я на турнир и столкнулся в коридоре с моим шахматным учителем — А. М. Константинопольским, который дружески беседовал с каким-то высоким мужчиной.</p>
<p>— Мне пора играть,— прервал беседу Константинопольский,— а вы сразитесь с Малюткой.— Он показал на меня.</p>
<p>Партнер взял себе белые, снял с доски ладью a1, пешку «а» поставил на a3.</p>
<p>— С незнакомыми молодыми людьми я не играю на равных.</p>
<p>
 <span onclick='loadMove("rnbqkbnr/pppppppp/8/8/4P3/8/PPPP1PPP/RNBQKBNR b KQkq e3 0 1", this, "e2e4"); ' class="line0">1.e4</span> 
 <span onclick='loadMove("rnbqkbnr/pppp1ppp/8/4p3/4P3/8/PPPP1PPP/RNBQKBNR w KQkq e6 0 2", this, "e7e5"); ' class="line0">e5</span> 
 <span onclick='loadMove("rnbqkbnr/pppp1ppp/8/4p3/4P3/8/PPPPNPPP/RNBQKB1R b KQkq - 0 2", this, "g1e2"); ' class="line0">2.Кe2</span> 
.</p>
<div class="chessBoard analysis nobuttons" data-start-fen="rnbqkbnr/pppp1ppp/8/4p3/4P3/8/PPPPNPPP/RNBQKB1R b KQkq - 0 2"></div>
<p>После
 <span onclick='loadMove("rnbqkbnr/pppp1ppp/8/4p3/4P3/8/PPPPNPPP/RNBQKB1R b KQkq - 0 2", this, "g1e2"); ' class="line1">2.Кg1-e2</span> 
</p>
<p>— Что это? — спросил я.— Мне хотелось бы сыграть испанскую партию.</p>
<p>— Желание ваше исполнится, но не сейчас,— ответил незнакомец.— Тот, кто хочет забрать чужого ферзя (это он, сам Фэрзьбери, говорит же «Забрать ферзя»!), не должен ходить своим
<!--p>Дебют Алапина</p><p>243</p-->
ферзем до середины партии, поэтому я играю дебют Алапина.</p>
<p>
 <span onclick='loadMove("rnbqkb1r/pppp1ppp/5n2/4p3/4P3/8/PPPPNPPP/RNBQKB1R w KQkq - 0 3", this, "g8f6"); ' class="line0">2...Кf6</span> 
 <span onclick='loadMove("rnbqkb1r/pppp1ppp/5n2/4p3/3PP3/8/PPP1NPPP/RNBQKB1R b KQkq d3 0 3", this, "d2d4"); ' class="line0">3.d4</span> 
 <span onclick='loadMove("rnbqkb1r/pppp1ppp/8/4p3/3Pn3/8/PPP1NPPP/RNBQKB1R w KQkq - 0 4", this, "f6e4"); ' class="line0">К:e4</span> 
 <span onclick='loadMove("rnbqkb1r/pppp1ppp/8/4p3/3Pn3/6N1/PPP2PPP/RNBQKB1R b KQkq - 0 4", this, "e2g3"); ' class="line0">4.Кg3</span> 
 <span onclick='loadMove("rnbqkb1r/pppp1ppp/8/4p3/3P4/6n1/PPP2PPP/RNBQKB1R w KQkq - 0 5", this, "e4g3"); ' class="line0">К:g3</span> 
 <span onclick='loadMove("rnbqkb1r/pppp1ppp/8/4p3/3P4/6P1/PPP2PP1/RNBQKB1R b KQkq - 0 5", this, "h2g3"); ' class="line0">5.hg</span> 
 <span onclick='loadMove("r1bqkb1r/pppp1ppp/2n5/4p3/3P4/6P1/PPP2PP1/RNBQKB1R w KQkq - 0 6", this, "b8c6"); ' class="line0">Кc6</span> 
.</p>
<p>Воспитанный в строгом позиционно-логическом стиле, я был вполне доволен своей партией. У меня развита одна фигура, у партнера — ни одной.</p>
<p>
 <span onclick='loadMove("r1bqkb1r/pppp1ppp/2n5/4p3/3P4/2N3P1/PPP2PP1/R1BQKB1R b KQkq - 0 6", this, "b1c3"); ' class="line0">6.Кc3</span> 
 <span onclick='loadMove("r1bqkb1r/pppp1ppp/2n5/8/3p4/2N3P1/PPP2PP1/R1BQKB1R w KQkq - 0 7", this, "e5d4"); ' class="line0">ed</span> 
 <span onclick='loadMove("r1bqkb1r/pppp1ppp/2n5/3N4/3p4/6P1/PPP2PP1/R1BQKB1R b KQkq - 0 7", this, "c3d5"); ' class="line0">7.Кd5</span> 
 <span onclick='loadMove("r1bqk2r/ppppbppp/2n5/3N4/3p4/6P1/PPP2PP1/R1BQKB1R w KQkq - 0 8", this, "f8e7"); ' class="line0">Сe7</span> 
.</p>
<p>— В таких позициях Алапин восклицал: «Элоре!»— что значит «Вперед!»,— сказал мой партнер и сыграл</p>
<p>
 <span onclick='loadMove("r1bqk2r/ppppbppp/2n5/3N4/3p2Q1/6P1/PPP2PP1/R1B1KB1R b KQkq - 0 8", this, "d1g4"); ' class="line0">8.Фg4!</span> 
</p>
<p>У меня мелькнула страшная мысль. Если Алапин выводил ферзя в середине партии, то сколько же ходов продлится вся партия?</p>
<p>И, прежде чем сделать ход, я тихо спросил:</p>
<p>— Вы...знали Алапина?</p>
<p>— Я знал даже Б. Лапина. Он писал стилизованные восточные стихи: «Где ныне слава Дария, Рустама? Кто помнит имя Стейница Вильяма?»</p>
<p>— Я помню имя Стейница Вильяма,— ответил я.</p>
<p>
 <span onclick='loadMove("r1bqk2r/ppppbp1p/2n3p1/3N4/3p2Q1/6P1/PPP2PP1/R1B1KB1R w KQkq - 0 9", this, "g7g6"); ' class="line0">8...g6</span> 
 <span onclick='loadMove("r1bqk2r/ppppbp1p/2n3p1/3N4/2Bp2Q1/6P1/PPP2PP1/R1B1K2R b KQkq - 0 9", this, "f1c4"); ' class="line0">9.Сc4</span> 
 <span onclick='loadMove("r1bqk2r/ppppb2p/2n3p1/3N1p2/2Bp2Q1/6P1/PPP2PP1/R1B1K2R w KQkq f6 0 10", this, "f7f5"); ' class="line0">f5</span> 
 <span onclick='loadMove("r1bqk2r/ppppb2R/2n3p1/3N1p2/2Bp2Q1/6P1/PPP2PP1/R1B1K3 b Qkq - 0 10", this, "h1h7"); ' class="line0">10.Л:h7</span> 
 <span onclick='loadMove("r1bqk2r/ppppb2R/2n3p1/3N4/2Bp2p1/6P1/PPP2PP1/R1B1K3 w Qkq - 0 11", this, "f5g4"); ' class="line0">fg</span> 
.</p>
<p>— Фэрзьбери!— воскликнул я. Мне хотелось, чтобы таинственный незнакомец знал, что его тайна мне известна.</p>
<p>
 <span onclick='loadMove("r1bqk2r/ppNpb2R/2n3p1/8/2Bp2p1/6P1/PPP2PP1/R1B1K3 b Qkq - 0 11", this, "d5c7"); ' class="line0">11.К:c7+</span> 
 <span onclick='loadMove("r1b1k2r/ppqpb2R/2n3p1/8/2Bp2p1/6P1/PPP2PP1/R1B1K3 w Qkq - 0 12", this, "d8c7"); ' class="line0">Ф:c7</span> 
 <span onclick='loadMove("r1b1k2r/ppqpbB1R/2n3p1/8/3p2p1/6P1/PPP2PP1/R1B1K3 b Qkq - 0 12", this, "c4f7"); ' class="line0">12.Сf7+</span> 
 <span onclick='loadMove("r1bk3r/ppqpbB1R/2n3p1/8/3p2p1/6P1/PPP2PP1/R1B1K3 w Q - 0 13", this, "e8d8"); ' class="line0">Крd8</span> 
 <span onclick='loadMove("r1bk3R/ppqpbB2/2n3p1/8/3p2p1/6P1/PPP2PP1/R1B1K3 b Q - 0 13", this, "h7h8"); ' class="line0">13.Л:h8+</span> 
 <span onclick='loadMove("r1bk1b1R/ppqp1B2/2n3p1/8/3p2p1/6P1/PPP2PP1/R1B1K3 w Q - 0 14", this, "e7f8"); ' class="line0">Сf8</span> 
 <span onclick='loadMove("r1bk1b1R/ppqp1B2/2n3p1/6B1/3p2p1/6P1/PPP2PP1/R3K3 b Q - 0 14", this, "c1g5"); ' class="line0">14.Сg5+</span> 
 <span onclick='loadMove("r1bk1b1R/ppqpnB2/6p1/6B1/3p2p1/6P1/PPP2PP1/R3K3 w Q - 0 15", this, "c6e7"); ' class="line0">Кe7</span> 
 <span onclick='loadMove("r1bk1R2/ppqpnB2/6p1/6B1/3p2p1/6P1/PPP2PP1/R3K3 b Q - 0 15", this, "h8f8"); ' class="line0">15.Л:f8X</span> 
.</p>
<p>... — В данном конкретном случае не Фэрзьбери, а Кингбери,— сказал незнакомец...</p>
<p>— Вот такой случай произошел более 30 лет назад в Киеве,— закончил я свой рассказ редактору.— С той поры мы с Фэрзьбери стали друзьями. Можно мне поместить рассказ о нем в книгу?</p>
<p>— Ладно уж,— со вздохом промолвил редактор. Но все, что про Редактора, это сплошная гипербола.</p>
<p>Подумав, он добавил:</p>
<p>— Теперь в книге 200 партий, есть солидная доза проигранных, есть дебют Алапина и есть Б. С. Фэрзьбери.</p>
<p>Хотя,— поморщился он,— это не Рио-де-Жанейро.</p>
</div> <!-- score -->
</div> <!-- section -->

</div> <!-- iBook -->
{% endblock content %}
