{% extends '../../base.htm' %}
{% load static %}
{% block title %}
<title>{{book.title}} | {%for author in book.authors.all%} {%if author.first_name%} {{author.first_name}} {%endif%} {%if author.second_name%} {{author.second_name}} {%endif%} {%if forloop.counter == book.authors.all.count%} {{author.last_name}} {%else%} {{author.last_name}}, {%endif%} {%endfor%} | {{book.year}}</title>
{% endblock title %}
{% block content %}

<div class="iBook">

<div class="section">
<div class="small floater">
 <img src="{% static 'images/'|add:book.slug|add:'/thumb.jpg' %}" />
</div>
<div class="score">
<h3>Выдающиеся шахматисты мира</h3>
<h2>В. Н. ПАНОВ,<br />международный мастер</h2>
<h1>КАПАБЛАНКА</h1>
<h4>Документально повествование о гениальном кубинском шахматисте и 70 его избранных партий</h4>
<h4>Третье, дополненное и переработанное, издание</h4>
<div class="diagram">
<p>Издательство</p>
<p>«Физкультура и Спорт»</p>
<p>Москва 1970</p>
</div>
<hr />
<div class="diagram">
<p>7 А91</p>
<p>П 16</p>
</div>
<div class="notification message">
<p>Книга эта рассказывает о гениальном шахматисте и обаятельном человеке, чемпионе мира 1921–1927 гг., большом друге советских шахматистов кубинце Хосе-Рауле Капабланке.</p>
<p>В обстоятельном биографическом очерке автор воссоздает драматическую картину борьбы за мировое первенство, которую в течение трех десятилетий вели за шахматной доской Ласкер, Капабланка, Алехин.</p>
<p>Творческие взгляды великого кубинца, его надежды и заблуждения, победы и поражения, его жизнь и его борьба вновь оживают на страницах этой книги.</p>
<p>В партиях Капабланки, этих тонких произведениях гениального художника, всегда будут жить его идеи и открытия.</p>
<p>И всем, кто любит шахматы, они всегда будут приносить радость, которую способны дать человеку произведения искусства.</p>
</div>
<div class="diagram">
<p>6-9-4</p>
<p>Б3№11—1970 г.— №17</p>
</div>
</div> <!-- score -->
</div> <!-- section -->

</div> <!-- iBook -->
{% endblock content %}

