{% extends '../../base.htm' %}
{% load static %}
{% block title %}
<title>ОГЛАВЛЕНИЕ | {{book.title}} | {%for author in book.authors.all%} {%if author.first_name%} {{author.first_name}} {%endif%} {%if author.second_name%} {{author.second_name}} {%endif%} {%if forloop.counter == book.authors.all.count%} {{author.last_name}} {%else%} {{author.last_name}}, {%endif%} {%endfor%} | {{book.year}}</title>
{% endblock title %}
{% block content %}

<div class="iBook">

<div class="section">
<div class="small floater">
 <img src="{% static 'images/'|add:book.slug|add:'/thumb.jpg' %}" />
</div>
<div class="score">
<h1>ОГЛАВЛЕНИЕ</h1>
<ul>
<li><a class="line0" href="{% url 'page-view' book.root_dir|add:'/0-0-title.htm' %}">Капабланка (Панов В.Н., 1970)</a></li>
<li><a class="line0" href="{% url 'page-view' book.root_dir|add:'/0-1-predislovie-avtora.htm' %}">Предисловие автора</a></li>
<li><a class="line0" href="{% url 'page-view' book.root_dir|add:'/1-0-talant-pokorivshij-mir.htm' %}">Часть первая. Талант, покоривший мир</a></li>
<ul>
<li><a class="line0" href="{% url 'page-view' book.root_dir|add:'/1-1-gordost-ostrova-svobody.htm' %}">Глава первая. Гордость Острова Свободы</a></li>
<li><a class="line0" href="{% url 'page-view' book.root_dir|add:'/1-2-vunderkind-stanovitsia-maestro.htm' %}">Глава вторая. Вундеркинд становится маэстро</a></li>
<li><a class="line0" href="{% url 'page-view' book.root_dir|add:'/1-3-pretendent-na-mirovoe-pervenstvo.htm' %}">Глава третья. Претендент на мировое первенство</a></li>
<li><a class="line0" href="{% url 'page-view' book.root_dir|add:'/1-4-velichie-i-padenie-cezaria.htm' %}">Глава четвертая. Величие и падение цезаря</a></li>
<li><a class="line0" href="{% url 'page-view' book.root_dir|add:'/1-5-pogonia-za-bylym-velichiem.htm' %}">Глава пятая. Погоня за былым величием</a></li>
<li><a class="line0" href="{% url 'page-view' book.root_dir|add:'/1-6-sportivnye-vystupleniia-kapablanki.htm' %}">Спортивные выступления Капабланки</a></li>
</ul>
<li><a class="line0" href="{% url 'page-view' book.root_dir|add:'/2-0-izbrannye-partii.htm' %}">Часть вторая. Избранные партии</a></li>
<ol>
<li><a class="line1" href="{% url 'page-view' book.root_dir|add:'/2-1-partii-01-10.htm' %}#game1">Корцо — Капабланка, матч в Гаване 1902 г.</a></li>
<li><a class="line1" href="{% url 'page-view' book.root_dir|add:'/2-1-partii-01-10.htm' %}#game2">Капабланка — Корцо, матч в Гаване 1902 г.</a></li>
<li><a class="line1" href="{% url 'page-view' book.root_dir|add:'/2-1-partii-01-10.htm' %}#game3">Капабланка — Маршалл, 6-я партия матча 1909 г.</a></li>
<li><a class="line1" href="{% url 'page-view' book.root_dir|add:'/2-1-partii-01-10.htm' %}#game4">Маршалл — Капабланка, 23-я партия матча 1909 г.</a></li>
<li><a class="line1" href="{% url 'page-view' book.root_dir|add:'/2-1-partii-01-10.htm' %}#game5">Капабланка — Бернштейн, турнир в Сан-Себастьяне 1911 г.</a></li>
<li><a class="line1" href="{% url 'page-view' book.root_dir|add:'/2-1-partii-01-10.htm' %}#game6">Капабланка — Яновский, турнир в Сан-Себастьяне 1911 г.</a></li>
<li><a class="line1" href="{% url 'page-view' book.root_dir|add:'/2-1-partii-01-10.htm' %}#game7">Корцо — Капабланка, турнир в Гаване 1913 г.</a></li>
<li><a class="line1" href="{% url 'page-view' book.root_dir|add:'/2-1-partii-01-10.htm' %}#game8">Капабланка — Бланко, турнир в Гаване 1913 г.</a></li>
<li><a class="line1" href="{% url 'page-view' book.root_dir|add:'/2-1-partii-01-10.htm' %}#game9">Капабланка — Чайес, турнир в Нью-Йорке 1913 г.</a></li>
<li><a class="line1" href="{% url 'page-view' book.root_dir|add:'/2-1-partii-01-10.htm' %}#game10">Капабланка — Дуз-Хотимирский, гастрольная партия. Петербург, 1913 г.</a></li>
<li><a class="line1" href="{% url 'page-view' book.root_dir|add:'/2-2-partii-11-20.htm' %}#game11">Бернштейн — Капабланка, гастрольная партия, Москва, 1914 г.</a></li>
<li><a class="line1" href="{% url 'page-view' book.root_dir|add:'/2-2-partii-11-20.htm' %}#game12">Алехин — Капабланка, турнир в Петербурге 1914 г.</a></li>
<li><a class="line1" href="{% url 'page-view' book.root_dir|add:'/2-2-partii-11-20.htm' %}#game13">Капабланка — Бернштейн, турнир в Петербурге 1914 г.</a></li>
<li><a class="line1" href="{% url 'page-view' book.root_dir|add:'/2-2-partii-11-20.htm' %}#game14">Нимцович — Капабланка, турнир в Петербурге 1914 г.</a></li>
<li><a class="line1" href="{% url 'page-view' book.root_dir|add:'/2-2-partii-11-20.htm' %}#game15">Капабланка — Яновский, турнир в Петербурге 1914 г.</a></li>
<li><a class="line1" href="{% url 'page-view' book.root_dir|add:'/2-2-partii-11-20.htm' %}#game16">Ласкер — Капабланка, турнир в Петербурге 1914 г.</a></li>
<li><a class="line1" href="{% url 'page-view' book.root_dir|add:'/2-2-partii-11-20.htm' %}#game17">Капабланка — Молина и Руис, гастрольная партия, Буэнос-Айрес, 1914 г.</a></li>
<li><a class="line1" href="{% url 'page-view' book.root_dir|add:'/2-2-partii-11-20.htm' %}#game18">Капабланка — Шредер, турнир в Нью-Йорке 1916 г.</a></li>
<li><a class="line1" href="{% url 'page-view' book.root_dir|add:'/2-2-partii-11-20.htm' %}#game19">Яновский — Капабланка, турнир в Нью-Йорке 1916 г.</a></li>
<li><a class="line1" href="{% url 'page-view' book.root_dir|add:'/2-2-partii-11-20.htm' %}#game20">Капабланка — Маршалл, турнир в Нью-Йорке 1918 г.</a></li>
<li><a class="line1" href="{% url 'page-view' book.root_dir|add:'/2-3-partii-21-30.htm' %}#game21">Капабланка — Яновский, турнир в Нью-Йорке 1918 г.</a></li>
<li><a class="line1" href="{% url 'page-view' book.root_dir|add:'/2-3-partii-21-30.htm' %}#game22">Маршалл — Капабланка, турнир в Нью-Йорке 1918 г.</a></li>
<li><a class="line1" href="{% url 'page-view' book.root_dir|add:'/2-3-partii-21-30.htm' %}#game23">Костич — Капабланка, матч в Гаване 1919 г.</a></li>
<li><a class="line1" href="{% url 'page-view' book.root_dir|add:'/2-3-partii-21-30.htm' %}#game24">Капабланка — Ейтс, турнир в Гастингсе 1919 г.</a></li>
<li><a class="line1" href="{% url 'page-view' book.root_dir|add:'/2-3-partii-21-30.htm' %}#game25">Капабланка — Ласкер, 5-я партия матча в Гаване 1921 г.</a></li>
<li><a class="line1" href="{% url 'page-view' book.root_dir|add:'/2-3-partii-21-30.htm' %}#game26">Ласкер — Капабланка, 10-я партия матча в Гаване 1921 г.</a></li>
<li><a class="line1" href="{% url 'page-view' book.root_dir|add:'/2-3-partii-21-30.htm' %}#game27">Капабланка — Ласкер, 11-я партия матча в Гаване 1921 г.</a></li>
<li><a class="line1" href="{% url 'page-view' book.root_dir|add:'/2-3-partii-21-30.htm' %}#game28">Ласкер — Капабланка, 14-я партия матча в Гаване 1921 г.</a></li>
<li><a class="line1" href="{% url 'page-view' book.root_dir|add:'/2-3-partii-21-30.htm' %}#game29">Капабланка — Боголюбов, турнир в Лондоне 1922 г.</a></li>
<li><a class="line1" href="{% url 'page-view' book.root_dir|add:'/2-3-partii-21-30.htm' %}#game30">Аткинс — Капабланка, турнир в Лондоне 1922 г.</a></li>
<li><a class="line1" href="{% url 'page-view' book.root_dir|add:'/2-4-partii-31-40.htm' %}#game31">Капабланка — Видмар, турнир в Лондоне 1922 г.</a></li>
<li><a class="line1" href="{% url 'page-view' book.root_dir|add:'/2-4-partii-31-40.htm' %}#game32">Капабланка — Ейтс, турнир в Нью-Йорке 1924 г.</a></li>
<li><a class="line1" href="{% url 'page-view' book.root_dir|add:'/2-4-partii-31-40.htm' %}#game33">Боголюбов — Капабланка, турнир в Нью-Йорке 1924 г.</a></li>
<li><a class="line1" href="{% url 'page-view' book.root_dir|add:'/2-4-partii-31-40.htm' %}#game34">Капабланка — Ласкер, турнир в Нью-Йорке 1924 г.</a></li>
<li><a class="line1" href="{% url 'page-view' book.root_dir|add:'/2-4-partii-31-40.htm' %}#game35">Тартаковер — Капабланка, турнир в Нью-Йорке 1924 г.</a></li>
<li><a class="line1" href="{% url 'page-view' book.root_dir|add:'/2-4-partii-31-40.htm' %}#game36">Капабланка — Ильин-Женевский, турнир в Москве 1925 г.</a></li>
<li><a class="line1" href="{% url 'page-view' book.root_dir|add:'/2-4-partii-31-40.htm' %}#game37">Дуз-Хотимирский — Капабланка, турнир в Москве 1925 г.</a></li>
<!--p>271</p-->
<li><a class="line1" href="{% url 'page-view' book.root_dir|add:'/2-4-partii-31-40.htm' %}#game38">Капабланка — Зубарев, турнир в Москве 1925 г.</a></li>
<li><a class="line1" href="{% url 'page-view' book.root_dir|add:'/2-4-partii-31-40.htm' %}#game39">Капабланка — Боголюбов, турнир в Москве 1925 г.</a></li>
<li><a class="line1" href="{% url 'page-view' book.root_dir|add:'/2-4-partii-31-40.htm' %}#game40">Эд. Ласкер — Капабланка, турнир в Лейк-Хопатконге 1926 г.</a></li>
<li><a class="line1" href="{% url 'page-view' book.root_dir|add:'/2-5-partii-41-50.htm' %}#game41">Нимцович — Капабланка, турнир в Нью-Йорке 1927 г.</a></li>
<li><a class="line1" href="{% url 'page-view' book.root_dir|add:'/2-5-partii-41-50.htm' %}#game42">Алехин — Капабланка, турнир в Нью-Йорке 1927 г.</a></li>
<li><a class="line1" href="{% url 'page-view' book.root_dir|add:'/2-5-partii-41-50.htm' %}#game43">Капабланка — Шпильман, турнир в Нью-Йорке 1927 г.</a></li>
<li><a class="line1" href="{% url 'page-view' book.root_dir|add:'/2-5-partii-41-50.htm' %}#game44">Нимцович — Капабланка, турнир в Нью-Йорке 1927 г.</a></li>
<li><a class="line1" href="{% url 'page-view' book.root_dir|add:'/2-5-partii-41-50.htm' %}#game45">Капабланка — Алехин, 3-я партия матча, Буэнос-Айрес, 1927 г.</a></li>
<li><a class="line1" href="{% url 'page-view' book.root_dir|add:'/2-5-partii-41-50.htm' %}#game46">Капабланка — Алехин, 7-я партия матча, Буэнос-Айрес, 1927 г.</a></li>
<li><a class="line1" href="{% url 'page-view' book.root_dir|add:'/2-5-partii-41-50.htm' %}#game47">Капабланка — Алехин, 27-я партия матча, Буэнос-Айрес, 1927 г.</a></li>
<li><a class="line1" href="{% url 'page-view' book.root_dir|add:'/2-5-partii-41-50.htm' %}#game48">Капабланка — Алехин, 29-я партия матча, Буэнос-Айрес, 1927 г.</a></li>
<li><a class="line1" href="{% url 'page-view' book.root_dir|add:'/2-5-partii-41-50.htm' %}#game49">Боголюбов — Капабланка, турнир в Киссингене 1928 г.</a></li>
<li><a class="line1" href="{% url 'page-view' book.root_dir|add:'/2-5-partii-41-50.htm' %}#game50">Капабланка — Рубинштейн, турнир в Берлине 1928 г.</a></li>
<li><a class="line1" href="{% url 'page-view' book.root_dir|add:'/2-6-partii-51-60.htm' %}#game51">Капабланка — Г. Стейнер, турнир в Будапеште 1928 г.</a></li>
<li><a class="line1" href="{% url 'page-view' book.root_dir|add:'/2-6-partii-51-60.htm' %}#game52">Капабланка — Балла, турнир в Будапеште 1928 г.</a></li>
<li><a class="line1" href="{% url 'page-view' book.root_dir|add:'/2-6-partii-51-60.htm' %}#game53">Капабланка — Беккер, турнир в Карлсбаде 1929 г.</a></li>
<li><a class="line1" href="{% url 'page-view' book.root_dir|add:'/2-6-partii-51-60.htm' %}#game54">Капабланка — Трейбал, турнир в Карлсбаде 1929 г.</a></li>
<li><a class="line1" href="{% url 'page-view' book.root_dir|add:'/2-6-partii-51-60.htm' %}#game55">Капабланка — Матисон, турнир в Карлсбаде 1929 г.</a></li>
<li><a class="line1" href="{% url 'page-view' book.root_dir|add:'/2-6-partii-51-60.htm' %}#game56">Капабланка — Ейтс, турнир в Барселоне 1929 г.</a></li>
<li><a class="line1" href="{% url 'page-view' book.root_dir|add:'/2-6-partii-51-60.htm' %}#game57">Капабланка — Колле, турнир в Гастингсе 1930/31 г.</a></li>
<li><a class="line1" href="{% url 'page-view' book.root_dir|add:'/2-6-partii-51-60.htm' %}#game58">Капабланка — Эйве, матч в Голландии 1931 г.</a></li>
<li><a class="line1" href="{% url 'page-view' book.root_dir|add:'/2-6-partii-51-60.htm' %}#game59">Капабланка — Г. Стейнер, партия «живыми фигурами», Лос-Анджелес, 1933 г.</a></li>
<li><a class="line1" href="{% url 'page-view' book.root_dir|add:'/2-6-partii-51-60.htm' %}#game60">Капабланка — Томас, турнир в Маргете 1935 г.</a></li>
<li><a class="line1" href="{% url 'page-view' book.root_dir|add:'/2-7-partii-61-70.htm' %}#game61">Капабланка — Рагозин, турнир в Москве 1935 г.</a></li>
<li><a class="line1" href="{% url 'page-view' book.root_dir|add:'/2-7-partii-61-70.htm' %}#game62">Капабланка — Кан, турнир в Москве 1935 г.</a></li>
<li><a class="line1" href="{% url 'page-view' book.root_dir|add:'/2-7-partii-61-70.htm' %}#game63">Капабланка — Левенфиш, турнир в Москве 1935 г.</a></li>
<li><a class="line1" href="{% url 'page-view' book.root_dir|add:'/2-7-partii-61-70.htm' %}#game64">Ласкер — Капабланка, турнир в Москве 1936 г.</a></li>
<li><a class="line1" href="{% url 'page-view' book.root_dir|add:'/2-7-partii-61-70.htm' %}#game65">Капабланка — Алехин, турнир в Ноттингеме 1936 г.</a></li>
<li><a class="line1" href="{% url 'page-view' book.root_dir|add:'/2-7-partii-61-70.htm' %}#game66">Капабланка — Решевский, турнир в Ноттингеме 1936 г.</a></li>
<li><a class="line1" href="{% url 'page-view' book.root_dir|add:'/2-7-partii-61-70.htm' %}#game67">Капабланка — Зноско-Боровский, турнир в Париже 1938 г.</a></li>
<li><a class="line1" href="{% url 'page-view' book.root_dir|add:'/2-7-partii-61-70.htm' %}#game68">Капабланка — Эйве, турнир в Голландии 1938 г.</a></li>
<li><a class="line1" href="{% url 'page-view' book.root_dir|add:'/2-7-partii-61-70.htm' %}#game69">Капабланка — Микенас, Олимпиада ФИДЕ, Буэнос-Айрес, 1939 г.</a></li>
<li><a class="line1" href="{% url 'page-view' book.root_dir|add:'/2-7-partii-61-70.htm' %}#game70">Капабланка — Черняк, Олимпиада ФИДЕ, Буэнос-Айрес, 1939 г.</a></li>
</ol>

</ul>

<hr />

<div class="diagram">
<h2>Василий Николаевич Панов</h2>
<h1>КАПАБЛАНКА</h1>
</div>
<div class="diagram">
<p>Редактор Ю. А. Бразильский</p>
<p>Художники И. Д. Жихарев, Д. В. Белоус</p>
<p>Художественный редактор О. И. Айзман</p>
<p>Технический редактор И. А. Суровцева</p>
<p>Корректор З. Г. Самылкина</p>
</div>
<div class="diagram">
<p>А-02229 Сдано в производство 15/V 1970 г. Подписано к печати 26/VIII 1970 г. Формат 60x84<sup>1</sup>/<sub>16</sub>. Бумага тип. № 1. Печ. л. 17. Усл. п. л. 15,81. Уч.-изд. л. 14,63. Бум. л. 8,6 Тираж 75 000 экз. Издат. № 4379. Цена 1 р. 15 к. Зак. 1082</p>
</div>
<div class="diagram">
<p>Издательство «Физкультура и спорт» Комитета по печати при Совете Министров СССР. Москва, К-6, Каляевская ул., 27.</p>
</div>
<div class="diagram">
<p>Ордена Трудового Красного Знамени Первая Образцовая типография имени А. А. Жданова Главполиграфпрома Комитета по печати при Совете Министров СССР.</p>
<p>Москва, М-54, Валовая, 28</p>
</div>
</div> <!-- score -->
</div> <!-- section -->

</div> <!-- iBook -->
{% endblock content %}
