{% extends '../../base.htm' %}
{% load static %}
{% block title %}
<title>Вместо послесловия | {{book.title}} | {%for author in book.authors.all%} {%if author.first_name%} {{author.first_name}} {%endif%} {%if author.second_name%} {{author.second_name}} {%endif%} {%if forloop.counter == book.authors.all.count%} {{author.last_name}} {%else%} {{author.last_name}}, {%endif%} {%endfor%} | {{book.year}}</title>
{% endblock title %}
{% block content %}

<div class="iBook">

<div class="section">
<div class="chessBoard small floater" data-start-fen="r1b2rk1/2qnbppp/p2pp3/np4P1/3NPP2/1BN1BQ2/PPP4P/R4RK1 w - - 0 14"></div>
<div class="score">
 <span class="line0" onclick='loadMove("r1b2rk1/2qnbppp/p2pp3/np4P1/3NPP2/1BN1BQ2/PPP4P/R4RK1 w - - 0 14", this, ""); '>[...]</span> 
<h2>Вместо послесловия</h2>
<p>Книга, с которой только что ознакомился читатель, представляет собой одну из немногих попыток систематизировать и подробно рассмотреть основные виды жертв, встречающихся в дебютной стадии современной шахматной партии.</p>
<p>Тема эта чрезвычайно обширна, и поэтому автор никак не претендует на исчерпывающую полноту, которая, впрочем, недостижима и в других случаях. Но главные и наиболее распространенные виды жертв им рассмотрены. Некоторой оговорки еще раз требует последняя глава, посвященная классическим жертвам — гамбитным. Эта тема заслуживает специального и подробного исследования. Автор осветил ее в общем плане, детально остановившись лишь на двух характерных разделах.</p>
<p>Принятая автором классификация и иллюстрирующие ее примеры могут, конечно, вызвать сомнения и споры. Ведь теория этого раздела современных шахмат сравнительно нова и допускает различные концепции. Автор с благодарностью встретит деловые замечания и критику.</p>
<p>Автор хотел помочь квалифицированным шахматистам разобраться в пестром калейдоскопе жертв, найти место каждой и научиться гибко решать проблемы жертв в практической борьбе. Если эти далеко не простые задачи решены удовлетворительно и книга в какой-то мере поможет совершенствованию любителей шахмат, автор сочтет свой труд ненапрасным.</p>
</div> <!-- score -->
</div> <!-- section -->

</div> <!-- iBook -->

{% endblock content %}

