{% extends '../../base.htm' %}
{% load static %}
{% block title %}
<title>{{book.title}} | {%for author in book.authors.all%} {%if author.first_name%} {{author.first_name}} {%endif%} {%if author.second_name%} {{author.second_name}} {%endif%} {%if forloop.counter == book.authors.all.count%} {{author.last_name}} {%else%} {{author.last_name}}, {%endif%} {%endfor%} | {{book.year}}</title>
{% endblock title %}
{% block content %}

<div class="iBook">
{% include '../../snippet_litres_banner1.htm' %}

<div class="section">
<div class="small floater">
 <img src="{% static 'images/'|add:book.slug|add:'/thumb.jpg' %}" />
</div>
<div class="score">
<h4>БИБЛИОТЕЧКА ШАХМАТИСТА</h4>
<h2>Сархан ГУЛИЕВ</h2>
<h1>ШАХМАТНАЯ ШКОЛА Владимира КРАМНИКА</h1>
<div class="diagram">
<p>Russian Chess House / Русский Шахматный Дом</p>
<p>www.chessm.ru</p>
<p>МОСКВА 2019</p>
</div>
<!--div>
<p>УДК 794</p>
<p>ББК 75.581</p>
<p>Г94</p>
</div-->
<div class="message page">
<p> <b>Гулиев С.</b> </p>
<p>Г94 <b>Шахматная школа Владимира Крамника</b>. — М.: «RUSSIAN CHESS HOUSE/Русский Шахматный Дом», 2019. — 176 с. (Библиотечка шахматиста).</p>
<p> <b>ISBN 978-5-94693-787-0</b> </p>
</div>
<div class="message notification">
<p>Четырнадцатый чемпион мира Владимир Крамник является ярким представителем классического направления в шахматном искусстве. В его творчестве гармонично сочетаются тонкое понимание позиции, безукоризненное владение комбинационным оружием и отточенная эндшпильная техника.</p>
<p>30 партий В. Крамника, представленных в этой книге и прокомментированных гроссмейстером С. Гулиевым, доставят читателям огромное эстетическое удовольствие.</p>
<p>В учебных целях партии разбиты по тематическим разделам, каждому из которых предпослано краткое вступление.</p>
</div>

{% include '../../snippet_litres_banner2.htm' %}

<!--div>
<p>УДК 794</p>
<p>ББК 75.581</p>
</div-->
<div class="message">
<h4>Учебное издание</h4>
<h2>Сархан Бабаш оглы ГУЛИЕВ</h2>
<h1>ШАХМАТНАЯ ШКОЛА ВЛАДИМИРА КРАМНИКА</h1>
</div>
<div class="message">
<p>Фото Борис Долматовский</p>
<p>Составитель Александр Калинин</p>
<p>Художник Наталья Кустова</p>
<p>Вёрстка Алексей Белов</p>
</div>
<!--div>
<p>Подписано в печать 15.09.2018. Формат 60 х 90/16.</p>
<p>Гарнитура «Ньютон». Усл. п. л. 11.</p>
<p>Издательство «RUSSIAN CHESS HOUSE»</p>
<p>(директор Мурад Аманназаров)</p>
</div-->
<!--div>
<p>Тел.: +7(495) 963-8017(пн-пт c 11.00до 18.00)</p>
<p>email: chessm.ru@ya.ru или andy-el@mail.ru</p>
<p>http://www.chessm.ru — Интернет-магазин</p>
</div-->
<div class="message warning">
<b>ISBN 978-5-94693-787-0</b>
<p style="float:right;">© Издательство «RUSSIAN CHESS HOUSE», 2019</p>
</div>
</div> <!-- score -->
</div> <!-- section -->

{% include '../../snippet_litres_banner1.htm' %}
</div> <!-- iBook -->
{% endblock content %}</div>

