{% extends '../../base.htm' %}
{% load static %}
{% block title %}
<title>Bibliography | {{book.title}} | {%for author in book.authors.all%} {%if author.first_name%} {{author.first_name}} {%endif%} {%if author.second_name%} {{author.second_name}} {%endif%} {%if forloop.counter == book.authors.all.count%} {{author.last_name}} {%else%} {{author.last_name}}, {%endif%} {%endfor%} | {{book.year}}</title>
{% endblock title %}
{% block content %}

<div class="iBook">

<div class="section">
<div class="chessBoard small floater" data-start-fen="rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w KQkq - 0 1"></div>
<div class="score">
 <span class="line0" onclick='loadMove("rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w KQkq - 0 1", this, ""); '>[...]</span> 
<h2>Bibliography</h2>
<h3>Books</h3>
<p>Challenging the Nimzo-Indian, David Vigorito (Quality Chess 2007)</p>
<p>Chess Openings for Black, Explained, Lev Alburt, Roman Dzindzichashvili and Eugene Perelshteyn (CIRC 2005)</p>
<p>Dangerous Weapons: The Nimzo-Indian, John Emms, Chris Ward and Richard Palliser (Everyman Chess 2006)</p>
<p>Easy Guide to the Nimzo-Indian, John Emms (Everyman Chess 1998)</p>
<p>Mastering the Nimzo-Indian, Tony Kosten (Batsford 1998)</p>
<p>Nimzo-Indian Defence Classical Variation, Ivan Sokolov (Everyman Chess 1995)</p>
<p>Nimzo-Indian Kasparov Variation, Chris Ward (Everyman Chess 2003)</p>
<p>Play the 4 f3 Nimzo-Indian, Yuri Yakovich (Gambit 2004)</p>
<p>Play the Nimzo-Indian, Edward Dearing (Everyman Chess 2005)</p>
<p>Starting Out: The Nimzo-Indian, Chris Ward (Everyman Chess 2002)</p>
<p>The Nimzo-Indian Defence, Svetozar Gligoric (Cadogan 1993)</p>
<p>The Nimzo-Indian: 4 e3, Carsten Hansen (Gambit 2002)</p>
<h3>Electronic sources, DVDs and databases</h3>
<p>Chess Informant</p>
<p>Chess Today</p>
<p>Nimzo Indian 4.f3 and Saemisch Variation, Vadim Milov (ChessBase 2002)</p>
<p>Mega Database (ChessBase)</p>
<p>The Week in Chess</p>
<p>I also made use of analysis and notes from my monthly Nimzo-Indian column hosted by ChessPublishing.com.</p>
</div> <!-- score -->
</div> <!-- section -->

</div> <!-- iBook -->
{% endblock content %}
