{% extends '../../base.htm' %}
{% load static %}
{% block title %}
<title>Introduction. What is the Nimzo-Indian? | {{book.title}} | {%for author in book.authors.all%} {%if author.first_name%} {{author.first_name}} {%endif%} {%if author.second_name%} {{author.second_name}} {%endif%} {%if forloop.counter == book.authors.all.count%} {{author.last_name}} {%else%} {{author.last_name}}, {%endif%} {%endfor%} | {{book.year}}</title>
{% endblock title %}
{% block content %}

<div class="iBook">

<div class="section">
<div class="chessBoard small floater" data-start-fen="rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w KQkq - 0 1"></div>
<div class="score">
 <span class="line0" onclick='loadMove("rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w KQkq - 0 1", this, ""); '>[...]</span> 
<h2>Introduction. What is the Nimzo-Indian?</h2>
<p>The Nimzo-Indian Defence arises after the opening moves
 <span onclick='loadMove("rnbqkbnr/pppppppp/8/8/3P4/8/PPP1PPPP/RNBQKBNR b KQkq d3 0 1", this, "d2d4"); ' class="line0">1.d4</span> 
 <span onclick='loadMove("rnbqkb1r/pppppppp/5n2/8/3P4/8/PPP1PPPP/RNBQKBNR w KQkq - 0 2", this, "g8f6"); ' class="line0">Nf6</span> 
 <span onclick='loadMove("rnbqkb1r/pppppppp/5n2/8/2PP4/8/PP2PPPP/RNBQKBNR b KQkq c3 0 2", this, "c2c4"); ' class="line0">2.c4</span> 
 <span onclick='loadMove("rnbqkb1r/pppp1ppp/4pn2/8/2PP4/8/PP2PPPP/RNBQKBNR w KQkq - 0 3", this, "e7e6"); ' class="line0">e6</span> 
 <span onclick='loadMove("rnbqkb1r/pppp1ppp/4pn2/8/2PP4/2N5/PP2PPPP/R1BQKBNR b KQkq - 0 3", this, "b1c3"); ' class="line0">3.Nc3</span> 
 <span onclick='loadMove("rnbqk2r/pppp1ppp/4pn2/8/1bPP4/2N5/PP2PPPP/R1BQKBNR w KQkq - 0 4", this, "f8b4"); ' class="line0">Bb4</span> 
.</p>
<!--img src="dia"/-->
<div class="chessBoard analysis nobuttons" data-start-fen="rnbqk2r/pppp1ppp/4pn2/8/1bPP4/2N5/PP2PPPP/R1BQKBNR w KQkq - 0 4"></div>

<p>The Nimzo-Indian was the creation of Aron Nimzowitsch, who was one of the World's strongest players in the 1920s, as well as a hugely influential writer. He was also the leader of the Hypermodern School of chess. The hypermodern approach to chess openings advocated long-range control of the centre with pieces as opposed to classical occupation with pawns which previously had been thought to be compulsory.</p>
<p>The Nimzo-Indian bears all the hallmarks of a hypermodern opening. After
 <span onclick='loadMove("rnbqkbnr/pppppppp/8/8/3P4/8/PPP1PPPP/RNBQKBNR b KQkq d3 0 1", this, "d2d4"); ' class="line1">1.d4</span> 
White would ideally like to follow up with e2-e4. Black prevents this move, not with the classical
 <span onclick='loadMove("rnbqkbnr/ppp1pppp/8/3p4/3P4/8/PPP1PPPP/RNBQKBNR w KQkq d6 0 2", this, "d7d5"); ' class="line2">1...d5</span> 
but with a piece:
 <span onclick='loadMove("rnbqkb1r/pppppppp/5n2/8/3P4/8/PPP1PPPP/RNBQKBNR w KQkq - 0 2", this, "g8f6"); ' class="line1">1...Nf6!</span> 
. After
 <span onclick='loadMove("rnbqkb1r/pppppppp/5n2/8/2PP4/8/PP2PPPP/RNBQKBNR b KQkq c3 0 2", this, "c2c4"); ' class="line1">2.c4</span> 
 <span onclick='loadMove("rnbqkb1r/pppp1ppp/4pn2/8/2PP4/8/PP2PPPP/RNBQKBNR w KQkq - 0 3", this, "e7e6"); ' class="line1">e6</span> 
 <span onclick='loadMove("rnbqkb1r/pppp1ppp/4pn2/8/2PP4/2N5/PP2PPPP/R1BQKBNR b KQkq - 0 3", this, "b1c3"); ' class="line1">3.Nc3</span> 
White is again ready to play e2-e4. Black could still occupy the centre with
 <span onclick='loadMove("rnbqkb1r/ppp2ppp/4pn2/3p4/2PP4/2N5/PP2PPPP/R1BQKBNR w KQkq d6 0 4", this, "d7d5"); ' class="line2">3...d5</span> 
but instead uses another piece to prevent White's advance:
 <span onclick='loadMove("rnbqk2r/pppp1ppp/4pn2/8/1bPP4/2N5/PP2PPPP/R1BQKBNR w KQkq - 0 4", this, "f8b4"); ' class="line1">3...Bb4!</span> 
.</p>
<p>The Nimzo-Indian doesn't always stick to hypermodern principles though; in some main lines Black does quickly occupy the centre with pawns. Another feature to mention straightaway is Black's rapid development. In the diagram position Black is already prepared to castle if he needs to, whereas it will take White at least three more moves before he can castle kingside.</p>
<h3>The Attraction of the Nimzo-Indian</h3>
<p>I've been playing the Nimzo-Indian for over 30 years, starting as a junior all the way up to grandmaster level. I swapped around with other openings but always remained loyal to the Nimzo.</p>
<p>I'm sure one of the reasons I'm still attracted to the Nimzo-Indian is that I'm always learning something new about it, even after all these years. I discovered quite a few new things during the writing of this book. The Nimzo-Indian is such a flexible opening with so many different possibilities and so many ways to play it. New ideas are always cropping up too, not just novelties in existing lines but whole new variations.</p>
<p>Even so, probably the greatest attraction of the Nimzo-Indian is its reliability. The Nimzo-Indian is undoubtedly a sound opening and has no chance of being refuted anytime soon. Yet it also offers players enough imbalances in the position to be able to outplay opponents - the two most typical ones being superior pawn structure versus bishop pair and centre (see Chapter 1 and Chapter 2), and lead in development versus bishop pair (see Chapter 5). I feel it's these two qualities - soundness and imbalance - which have attracted virtually all the World's leading players to the Nimzo-Indian at one time or another.</p>
<h3>What this book covers</h3>
<p>I've always thought that one of the most difficult periods of a game is when our opening knowledge runs out, when we are "out of book" - when we have to think for ourselves! This happens in 99% of the games we play, and I've tried to address the situation in this book by focussing on the following:</p>
<p>1. Typical situations in opening and middlegame positions (and very occasionally thematic endings).</p>
<p>2. Typical plans for both sides and how players react to these.</p>
<p>3. Typical and thematic tactical opportunities for both sides.</p>
<p>4. The principles and guidelines of each variation covered.</p>
<p>5. The key questions we should be asking ourselves during study and in game situations.</p>
<p>I've also presented the opening theory for each variation covered, and highlighted move-order issues and possible transpositions into other lines in the book.</p>
<p>In general I've chosen to cover well known lines, but I've also favoured lines which I feel teach us a great deal about the basic principles of the Nimzo-Indian, for example fighting against the doubled c-pawns or exploiting a lead in development when White avoids the doubled pawns.</p>
<p>Being a Nimzo-Indian player for such a long time, I can't help but have a certain bias to the Black side of this opening, and this book is aimed more at those who play (or want to play) the Nimzo-Indian as Black. I've covered a sufficient number of lines so that those playing Black can choose at least one option against every main line White can play. I do feel, though, that the general study of Nimzo-Indian positions, as well as the opening theory, will also be of value to those who prefer playing the White side.</p>
<p>There is a huge number of players whose ideas have contributed immensely to the development of the Nimzo-Indian, and some of these players are featured in this book. Their creative efforts over the board make the task of studying and writing about the Nimzo-Indian much easier, and for this they deserve a huge amount of appreciation. If I had to name just a very few high-profile players, I would mention Anatoly Karpov, Vladimir Kramnik, Michael Adams, Peter Leko, Pavel Eljanov and current World Champion Vishy Anand, all of whose games are well worth following to obtain a better feel for the Nimzo and to check for new ideas. On the White side I should mention Garry Kasparov, Magnus Carlsen, Kramnik (again) and Alexander Morozevich.</p>
<h3>The Move by Move Series</h3>
<p>The Move by Move series tries to replicate - as much as possible - lessons between chess teachers and students, and encourages the practising of skills just as much as the assimilation of knowledge. Throughout this book you will come across questions which could be asked by students or teachers, and you will also be invited to try exercises of varying degrees of difficulty. To get the most out of the games, please pause at questions before moving on, and spend some time on each exercise before checking the answer. I've highlighted some of the more difficult exercises and also included a few hints in places.</p>
<p>Finally, many thanks go to all those who have been kind enough to offer inspiration, advice and assistance in the creation and development of Move by Move. Special thanks go to Darren Reed.</p>
<br>
<p>John Emms</p>
<p>Kent</p>
<p>September 2011</p>
</div> <!-- score -->
</div> <!-- section -->

</div> <!-- iBook -->
{% endblock content %}
