{% extends '../../base.htm' %}
{% load static %}
{% block title %}
<title>Содержание | {{book.title}} | {%for author in book.authors.all%} {%if author.first_name%} {{author.first_name}} {%endif%} {%if author.second_name%} {{author.second_name}} {%endif%} {%if forloop.counter == book.authors.all.count%} {{author.last_name}} {%else%} {{author.last_name}}, {%endif%} {%endfor%} | {{book.year}}</title>
{% endblock title %}
{% block content %}

<div class="iBook">
{% include '../../snippet_litres_banner1.htm' %}

<div class="section">
<div class="small floater">
 <img src="{% static 'images/'|add:book.slug|add:'/thumb.jpg' %}" />
</div>
<div class="score">
<h2>СОДЕРЖАНИЕ</h2>
<ul>
<li><a class="line0" href="{% url 'page-view' book.root_dir|add:'/0-0-title.htm' %}">Вместе с Морозевичем</a></li>
<li><a class="line0" href="{% url 'page-view' book.root_dir|add:'/0-1-predislovie-aleksandra-morozevicha.htm' %}">Предисловие Александра Морозевича</a></li>
<li><a class="line0" href="{% url 'page-view' book.root_dir|add:'/0-2-ot-avtora.htm' %}">От автора</a></li>
<li><a class="line0" href="{% url 'page-view' book.root_dir|add:'/0-3-ot-kotova-do-morozevicha.htm' %}">От Котова до Морозевича, или как рассчитывать варианты</a></li>
<li><a class="line0" href="{% url 'page-view' book.root_dir|add:'/1-0-chast-pervaya.htm' %}">ЧАСТЬ ПЕРВАЯ</a></li>
<ul>
<li><a class="line0" href="{% url 'page-view' book.root_dir|add:'/1-1-0-ladya-na-eshafote.htm' %}">Глава 1. Ладья на эшафоте</a></li>
<ul>
<li><a class="line0" href="{% url 'page-view' book.root_dir|add:'/1-1-1-testy.htm' %}">Тесты</a></li>
<li><a class="line4" href="{{ book.litres_url }}?lfrom=777059770">Партия А. Морозевич — М. Вашье-Лаграв, Биль 2009</a></li>
<li><a class="line4" href="{{ book.litres_url }}?lfrom=777059770">Решения</a></li>
</ul>
<li><a class="line4" href="{{ book.litres_url }}?lfrom=777059770">Глава 2. Невероятная позиция</a></li>
<ul>
<li><a class="line4" href="{{ book.litres_url }}?lfrom=777059770">Тесты</a></li>
<li><a class="line4" href="{{ book.litres_url }}?lfrom=777059770">Партия А. Грищук — А. Морозевич, Сочи 2004</a></li>
</ul>
<li><a class="line4" href="{{ book.litres_url }}?lfrom=777059770">Глава 3. Избранные миниатюры</a></li>
<ul>
<li><a class="line4" href="{{ book.litres_url }}?lfrom=777059770">Тесты</a></li>
<li><a class="line4" href="{{ book.litres_url }}?lfrom=777059770">Партии</a></li>
</ul>
<li><a class="line4" href="{{ book.litres_url }}?lfrom=777059770">Глава 4. Когда соперник наступает</a></li>
<ul>
<li><a class="line4" href="{{ book.litres_url }}?lfrom=777059770">Тесты</a></li>
<li><a class="line4" href="{{ book.litres_url }}?lfrom=777059770">Партия Г. Каспаров — А. Морозевич, Сараево 2000</a></li>
<li><a class="line4" href="{{ book.litres_url }}?lfrom=777059770">Решения</a></li>
</ul>
</ul>
<li><a class="line4" href="{{ book.litres_url }}?lfrom=777059770">ЧАСТЬ ВТОРАЯ</a></li>
<ul>
<li><a class="line4" href="{{ book.litres_url }}?lfrom=777059770">Глава 5. В стиле Таля</a></li>
<ul>
<li><a class="line4" href="{{ book.litres_url }}?lfrom=777059770">Тесты</a></li>
<li><a class="line4" href="{{ book.litres_url }}?lfrom=777059770">Решения</a></li>
</ul>
<li><a class="line4" href="{{ book.litres_url }}?lfrom=777059770">Глава 6. В темпе блица</a></li>
<ul>
<li><a class="line4" href="{{ book.litres_url }}?lfrom=777059770">Тесты</a></li>
<li><a class="line4" href="{{ book.litres_url }}?lfrom=777059770">Решения</a></li>
</ul>
<li><a class="line4" href="{{ book.litres_url }}?lfrom=777059770">Глава 7. Стратегия в действии</a></li>
<ul>
<li><a class="line4" href="{{ book.litres_url }}?lfrom=777059770">Тесты</a></li>
<li><a class="line4" href="{{ book.litres_url }}?lfrom=777059770">Решения</a></li>
</ul>
<li><a class="line4" href="{{ book.litres_url }}?lfrom=777059770">Глава 8. Калейдоскоп задач</a></li>
<ul>
<li><a class="line4" href="{{ book.litres_url }}?lfrom=777059770">Тесты</a></li>
<li><a class="line4" href="{{ book.litres_url }}?lfrom=777059770">Решения</a></li>
</ul>
</ul>
</ul>

{% include '../../snippet_litres_banner2.htm' %}

</div> <!-- score -->
</div> <!-- section -->

{% include '../../snippet_litres_banner1.htm' %}
</div> <!-- iBook -->
{% endblock content %}

