{% extends '../../base.htm' %}
{% load static %}
{% block title %}
<title>Кисловодск, 1960 | {{book.title}} | {%for author in book.authors.all%} {%if author.first_name%} {{author.first_name}} {%endif%} {%if author.second_name%} {{author.second_name}} {%endif%} {%if forloop.counter == book.authors.all.count%} {{author.last_name}} {%else%} {{author.last_name}}, {%endif%} {%endfor%} | {{book.year}}</title>
{% endblock title %}
{% block content %}

<div class="iBook">

<a name="game49"></a>
<div class="section">
<div class="chessBoard small floater" data-start-fen="rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w KQkq - 0 1"></div>
<div class="score">
 <span class="line0" onclick='loadMove("rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w KQkq - 0 1", this, ""); '>[...]</span> 
<p class="capTop diagram">№ 49 <i>A36</i><br /><strong>Решко — Спасский</strong><br />Кисловодск, 1960</p>
<p>В 1970 году в Белграде во время «Матча века» на вопрос: «Какую из своих партий считаете лучшей?» — Спасский ответил так: «Трудно выделить одну свою партию. Больше всего мне по душе партия, которую я сыграл десять лет назад с ленинградским шахматистом Решко. Но вкусы с годами меняются...»</p>
<p>Познакомимся с этой встречей. Попутно отметим, что партия имела важное значение в борьбе за первое место в чемпионате спортивного общества «Труд». Спасский стал победителем турнира, а Решко занял второе место, отстав на очко.</p>
<p class="longNotation">
 <span onclick='loadMove("rnbqkbnr/pppppppp/8/8/2P5/8/PP1PPPPP/RNBQKBNR b KQkq c3 0 1", this, "c2c4"); ' class="line0">1.c2-c4</span> 
 <span onclick='loadMove("rnbqkb1r/pppppppp/5n2/8/2P5/8/PP1PPPPP/RNBQKBNR w KQkq - 0 2", this, "g8f6"); ' class="line0">Кg8-f6</span> 
</p>
<p>Чаще Спасский применял систему с
 <span onclick='loadMove("rnbqkbnr/pppp1ppp/8/4p3/2P5/8/PP1PPPPP/RNBQKBNR w KQkq e6 0 2", this, "e7e5"); ' class="line1">1...e5</span> 
, включавшую далее ходы <b>Кc6</b>, <b>d6</b> и <b>f5</b>, то есть разыгрывал закрытый вариант сицилианской защиты «во второй руке».</p>
<p class="longNotation">
 <span onclick='loadMove("rnbqkb1r/pppppppp/5n2/8/2P5/2N5/PP1PPPPP/R1BQKBNR b KQkq - 0 2", this, "b1c3"); ' class="line0">2.Кb1-c3</span> 
 <span onclick='loadMove("rnbqkb1r/pppppp1p/5np1/8/2P5/2N5/PP1PPPPP/R1BQKBNR w KQkq - 0 3", this, "g7g6"); ' class="line0">g7-g6</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("rnbqkb1r/pppppp1p/5np1/8/2P5/2N3P1/PP1PPP1P/R1BQKBNR b KQkq - 0 3", this, "g2g3"); ' class="line0">3.g2-g3</span> 
 <span onclick='loadMove("rnbqk2r/ppppppbp/5np1/8/2P5/2N3P1/PP1PPP1P/R1BQKBNR w KQkq - 0 4", this, "f8g7"); ' class="line0">Сf8-g7</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("rnbqk2r/ppppppbp/5np1/8/2P5/2N3P1/PP1PPPBP/R1BQK1NR b KQkq - 0 4", this, "f1g2"); ' class="line0">4.Сf1-g2</span> 
 <span onclick='loadMove("rnbq1rk1/ppppppbp/5np1/8/2P5/2N3P1/PP1PPPBP/R1BQK1NR w KQ - 0 5", this, "e8g8"); ' class="line0">0-0</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("rnbq1rk1/ppppppbp/5np1/8/2P1P3/2N3P1/PP1P1PBP/R1BQK1NR b KQ e3 0 5", this, "e2e4"); ' class="line0">5.e2-e4</span> 
 <span onclick='loadMove("rnbq1rk1/pp1pppbp/5np1/2p5/2P1P3/2N3P1/PP1P1PBP/R1BQK1NR w KQ c6 0 6", this, "c7c5"); ' class="line0">c7-c5</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("rnbq1rk1/pp1pppbp/5np1/2p5/2P1P3/2N3P1/PP1PNPBP/R1BQK2R b KQ - 0 6", this, "g1e2"); ' class="line0">6.Кg1-e2</span> 
 <span onclick='loadMove("r1bq1rk1/pp1pppbp/2n2np1/2p5/2P1P3/2N3P1/PP1PNPBP/R1BQK2R w KQ - 0 7", this, "b8c6"); ' class="line0">Кb8-c6</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("r1bq1rk1/pp1pppbp/2n2np1/2p5/2P1P3/2NP2P1/PP2NPBP/R1BQK2R b KQ - 0 7", this, "d2d3"); ' class="line0">7.d2-d3</span> 
 <span class="ellipsis0">...</span> 
</p>
<p>Игра белых в этом варианте обычно связана с подготовкой пешечных продвижений <b>f2-f4</b> или <b>a2-a3</b>, <b>Лa1-b1</b> и <b>b2-b4</b>. План черных направлен на овладение полем d4. Для этого, как правило, проводится маневр <b>Кf6-e8-c7-e6</b>. Кроме того, часто черным полезен подрыв <b>b7-b5</b> (после <b>a7-a6</b>).</p>
<p class="longNotation">
 <span class="ellipsis0">7. ...</span> 
 <span onclick='loadMove("r1bq1rk1/pp2ppbp/2np1np1/2p5/2P1P3/2NP2P1/PP2NPBP/R1BQK2R w KQ - 0 8", this, "d7d6"); ' class="line0">d7-d6</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("r1bq1rk1/pp2ppbp/2np1np1/2p5/2P1P3/2NP2PP/PP2NPB1/R1BQK2R b KQ - 0 8", this, "h2h3"); ' class="line0">8.h2-h3</span> 
 <span class="ellipsis0">...</span> 
</p>
<p>Потеря времени. Эта профилактика направлена на обеспечение стоянки слона на e3. Но лучше
 <span onclick='loadMove("r1bq1rk1/pp2ppbp/2np1np1/2p5/2P1P3/2NP2P1/PP2NPBP/R1BQ1RK1 b - - 0 8", this, "e1g1"); ' class="line1">8.0-0</span> 
 <!--span onclick='loadMove("r1bq1rk1/pp2ppbp/2np1np1/2p5/2P1P3/2NP2P1/PP2NPBP/R1BQ1RK1 w - - 0 9", this, "e1g1"); ' class="line1">z0</span--> 
и
 <span onclick='loadMove("r1bq1rk1/pp2ppbp/2np1np1/2p5/2P1PP2/2NP2P1/PP2N1BP/R1BQ1RK1 b - f3 0 9", this, "f2f4"); ' class="line1">9.f4</span> 
, а ход <b>Сc1-e3</b> можно сделать после того, как черные отведут коня на e8 и, следовательно, отпадет угроза <b>Кf6-g4</b>.</p>
<p class="longNotation">
 <span class="ellipsis0">8. ...</span> 
 <span onclick='loadMove("1rbq1rk1/pp2ppbp/2np1np1/2p5/2P1P3/2NP2PP/PP2NPB1/R1BQK2R w KQ - 0 9", this, "a8b8"); ' class="line0">Лa8-b8</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("1rbq1rk1/pp2ppbp/2np1np1/2p5/2P1P3/2NPB1PP/PP2NPB1/R2QK2R b KQ - 0 9", this, "c1e3"); ' class="line0">9.Сc1-e3</span> 
 <span onclick='loadMove("1rbq1rk1/1p2ppbp/p1np1np1/2p5/2P1P3/2NPB1PP/PP2NPB1/R2QK2R w KQ - 0 10", this, "a7a6"); ' class="line0">a7-a6</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("1rbq1rk1/1p2ppbp/p1np1np1/2p5/2P1P3/2NPB1PP/PP2NPB1/R2Q1RK1 b - - 0 10", this, "e1g1"); ' class="line0">10.0-0</span> 
 <span onclick='loadMove("1r1q1rk1/1p1bppbp/p1np1np1/2p5/2P1P3/2NPB1PP/PP2NPB1/R2Q1RK1 w - - 0 11", this, "c8d7"); ' class="line0">Сc8-d7</span> 
</p>
<p>На наш взгляд, черным вместо трех последних ходов следовало немедленно заняться передвижением коня по маршруту <b>Кf6-e8-c7-e6-d4</b>, поскольку сейчас и ранее белые могли с выгодой проявить активность в центре. Например:
 <span onclick='loadMove("1r1q1rk1/1p1bppbp/p1np1np1/2p5/P1P1P3/2NPB1PP/1P2NPB1/R2Q1RK1 b - a3 0 11", this, "a2a4"); ' class="line1">11.a4</span> 
 <span onclick='loadMove("1r1qnrk1/1p1bppbp/p1np2p1/2p5/P1P1P3/2NPB1PP/1P2NPB1/R2Q1RK1 w - - 0 12", this, "f6e8"); ' class="line1">Кe8</span> 
 <span onclick='loadMove("1r1qnrk1/1p1bppbp/p1np2p1/2p5/P1PPP3/2N1B1PP/1P2NPB1/R2Q1RK1 b - - 0 12", this, "d3d4"); ' class="line1">12.d4</span> 
или
 <span onclick='loadMove("1r1q1rk1/1p1bppbp/p1np1np1/2p5/2PPP3/2N1B1PP/PP2NPB1/R2Q1RK1 b - - 0 11", this, "d3d4"); ' class="line1">11.d4</span> 
 <span onclick='loadMove("1r1q1rk1/1p1bppbp/p1np1np1/8/2PpP3/2N1B1PP/PP2NPB1/R2Q1RK1 w - - 0 12", this, "c5d4"); ' class="line1">cd</span> 
 <span onclick='loadMove("1r1q1rk1/1p1bppbp/p1np1np1/8/2PNP3/2N1B1PP/PP3PB1/R2Q1RK1 b - - 0 12", this, "e2d4"); ' class="line1">12.К:d4</span> 
 <span onclick='loadMove("1r1q1rk1/1p1bppbp/p2p1np1/8/2PnP3/2N1B1PP/PP3PB1/R2Q1RK1 w - - 0 13", this, "c6d4"); ' class="line1">К:d4</span> 
 <span onclick='loadMove("1r1q1rk1/1p1bppbp/p2p1np1/8/2PBP3/2N3PP/PP3PB1/R2Q1RK1 b - - 0 13", this, "e3d4"); ' class="line1">13.С:d4</span> 
 <span onclick='loadMove("1r1q1rk1/3bppbp/p2p1np1/1p6/2PBP3/2N3PP/PP3PB1/R2Q1RK1 w - b6 0 14", this, "b7b5"); ' class="line1">b5</span> 
 <span onclick='loadMove("1r1q1rk1/3bppbp/p2p1np1/1P6/3BP3/2N3PP/PP3PB1/R2Q1RK1 b - - 0 14", this, "c4b5"); ' class="line1">14.cb</span> 
 <span onclick='loadMove("1r1q1rk1/3bppbp/3p1np1/1p6/3BP3/2N3PP/PP3PB1/R2Q1RK1 w - - 0 15", this, "a6b5"); ' class="line1">ab</span> 
 <span onclick='loadMove("1r1q1rk1/3bppbp/3p1np1/1p6/3BP3/2N3PP/PP3PB1/R2QR1K1 b - - 0 15", this, "f1e1"); ' class="line1">15.Лe1</span> 
 <span onclick='loadMove("1r1q1rk1/3bppbp/3p1np1/8/1p1BP3/2N3PP/PP3PB1/R2QR1K1 w - - 0 16", this, "b5b4"); ' class="line1">b4</span> 
 <span onclick='loadMove("1r1q1rk1/3bppbp/3p1np1/3N4/1p1BP3/6PP/PP3PB1/R2QR1K1 b - - 0 16", this, "c3d5"); ' class="line1">16.Кd5</span> 
.</p>
<p class="longNotation">
 <span onclick='loadMove("1r1q1rk1/1p1bppbp/p1np1np1/2p5/2P1P3/2NPB1PP/PP1QNPB1/R4RK1 b - - 0 11", this, "d1d2"); ' class="line0">11.Фd1-d2</span> 
 <span onclick='loadMove("1r1q1rk1/3bppbp/p1np1np1/1pp5/2P1P3/2NPB1PP/PP1QNPB1/R4RK1 w - b6 0 12", this, "b7b5"); ' class="line0">b7-b5</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("1r1q1rk1/3bppbp/p1np1np1/1pp5/2P1PP2/2NPB1PP/PP1QN1B1/R4RK1 b - f3 0 12", this, "f2f4"); ' class="line0">12.f2-f4</span> 
 <span onclick='loadMove("1r1qnrk1/3bppbp/p1np2p1/1pp5/2P1PP2/2NPB1PP/PP1QN1B1/R4RK1 w - - 0 13", this, "f6e8"); ' class="line0">Кf6-e8</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("1r1qnrk1/3bppbp/p1np2p1/1pp5/2P1PPP1/2NPB2P/PP1QN1B1/R4RK1 b - - 0 13", this, "g3g4"); ' class="line0">13.g3-g4</span> 
 <span class="ellipsis0">...</span> 
</p>
<p>Белые были обязаны осуществить свой программный ход <b>f4-f5</b>.</p>
<p class="longNotation">
 <span class="ellipsis0">13. ...</span> 
 <span onclick='loadMove("1r1q1rk1/2nbppbp/p1np2p1/1pp5/2P1PPP1/2NPB2P/PP1QN1B1/R4RK1 w - - 0 14", this, "e8c7"); ' class="line0">Кe8-c7</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("1r1q1rk1/2nbppbp/p1np2p1/1pp5/2P1PPP1/2NPB2P/PP1QNRB1/R5K1 b - - 0 14", this, "f1f2"); ' class="line0">14.Лf1-f2?</span> 
 <span class="ellipsis0">...</span> 
</p>
<p>Здесь необходимо
 <span onclick='loadMove("1r1q1rk1/2nbppbp/p1np2p1/1pp2P2/2P1P1P1/2NPB2P/PP1QN1B1/R4RK1 b - - 0 14", this, "f4f5"); ' class="line1">14.f5</span> 
, отнимая у коня черных поле e6 и готовя наступление на королевском фланге. Рекомендация Авербаха: «На
 <span onclick='loadMove("1r1q1rk1/2nbppbp/p1np2p1/1pp2P2/2P1P1P1/2NPB2P/PP1QN1B1/R4RK1 b - - 0 14", this, "f4f5"); ' class="line1">14.f5</span> 
могло последовать
 <span onclick='loadMove("1r1q1rk1/2nbppbp/p2p2p1/1pp1nP2/2P1P1P1/2NPB2P/PP1QN1B1/R4RK1 w - - 0 15", this, "c6e5"); ' class="line1">14...Кe5</span> 
 <span onclick='loadMove("1r1q1rk1/2nbppbp/p2p2p1/1pp1nP2/2P1P1P1/1PNPB2P/P2QN1B1/R4RK1 b - - 0 15", this, "b2b3"); ' class="line1">15.b3</span> 
 <span onclick='loadMove("1r1q1rk1/2nbppbp/p2p2p1/2p1nP2/1pP1P1P1/1PNPB2P/P2QN1B1/R4RK1 w - - 0 16", this, "b5b4"); ' class="line1">b4</span> 
 <span onclick='loadMove("1r1q1rk1/2nbppbp/p2p2p1/2pNnP2/1pP1P1P1/1P1PB2P/P2QN1B1/R4RK1 b - - 0 16", this, "c3d5"); ' class="line1">16.Кd5</span> 
 <span onclick='loadMove("1r1q1rk1/3bppbp/p2p2p1/2pnnP2/1pP1P1P1/1P1PB2P/P2QN1B1/R4RK1 w - - 0 17", this, "c7d5"); ' class="line1">К:d5</span> 
с хорошей игрой», по меньшей мере сомнительна. После
 <span onclick='loadMove("1r1q1rk1/3bppbp/p2p2p1/2pPnP2/1pP3P1/1P1PB2P/P2QN1B1/R4RK1 b - - 0 17", this, "e4d5"); ' class="line1">17.ed</span> 
и далее <b>d3-d4</b> у белых явный перевес.</p>
<p class="longNotation">
 <span class="ellipsis0">14. ...</span> 
 <span onclick='loadMove("1r1q1rk1/3bppbp/p1npn1p1/1pp5/2P1PPP1/2NPB2P/PP1QNRB1/R5K1 w - - 0 15", this, "c7e6"); ' class="line0">Кc7-e6</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("1r1q1rk1/3bppbp/p1npn1p1/1pp2P2/2P1P1P1/2NPB2P/PP1QNRB1/R5K1 b - - 0 15", this, "f4f5"); ' class="line0">15.f4-f5</span> 
 <span onclick='loadMove("1r1q1rk1/3bppbp/p1np2p1/1pp2P2/2PnP1P1/2NPB2P/PP1QNRB1/R5K1 w - - 0 16", this, "e6d4"); ' class="line0">Кe6-d4</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("1r1q1rk1/3bppbp/p1np2P1/1pp5/2PnP1P1/2NPB2P/PP1QNRB1/R5K1 b - - 0 16", this, "f5g6"); ' class="line0">16.f5:g6?!</span> 
 <span class="ellipsis0">...</span> 
</p>
<p>Логичнее и сильнее
 <span onclick='loadMove("1r1q1rk1/3bppbp/p1np2p1/1pp2P2/2PnP1P1/2NPB2P/PP1QNRB1/5RK1 b - - 0 16", this, "a1f1"); ' class="line1">16.Лaf1</span> 
.</p>
<p class="longNotation">
 <span class="ellipsis0">16. ...</span> 
 <span onclick='loadMove("1r1q1rk1/3bp1bp/p1np2p1/1pp5/2PnP1P1/2NPB2P/PP1QNRB1/R5K1 w - - 0 17", this, "f7g6"); ' class="line0">f7:g6</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("1r1q1Rk1/3bp1bp/p1np2p1/1pp5/2PnP1P1/2NPB2P/PP1QN1B1/R5K1 b - - 0 17", this, "f2f8"); ' class="line0">17.Лf2:f8+</span> 
 <span onclick='loadMove("1r3qk1/3bp1bp/p1np2p1/1pp5/2PnP1P1/2NPB2P/PP1QN1B1/R5K1 w - - 0 18", this, "d8f8"); ' class="line0">Фd8:f8</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("1r3qk1/3bp1bp/p1np2p1/1pp5/2PnP1P1/2NPB2P/PP1QN1B1/5RK1 b - - 0 18", this, "a1f1"); ' class="line0">18.Лa1-f1</span> 
 <span onclick='loadMove("1r1q2k1/3bp1bp/p1np2p1/1pp5/2PnP1P1/2NPB2P/PP1QN1B1/5RK1 w - - 0 19", this, "f8d8"); ' class="line0">Фf8-d8</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("1r1q2k1/3bp1bp/p1np2p1/1Pp5/3nP1P1/2NPB2P/PP1QN1B1/5RK1 b - - 0 19", this, "c4b5"); ' class="line0">19.c4:b5</span> 
 <span onclick='loadMove("1r1q2k1/3bp1bp/2np2p1/1pp5/3nP1P1/2NPB2P/PP1QN1B1/5RK1 w - - 0 20", this, "a6b5"); ' class="line0">a6:b5</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("1r1q2k1/3bp1bp/2np2p1/1ppN4/3nP1P1/3PB2P/PP1QN1B1/5RK1 b - - 0 20", this, "c3d5"); ' class="line0">20.Кc3-d5</span> 
 <span onclick='loadMove("1r1q2k1/3bp1bp/2np2p1/1ppN4/4P1P1/3PB2P/PP1Qn1B1/5RK1 w - - 0 21", this, "d4e2"); ' class="line0">Кd4:e2+!</span> 
</p>
<p>Белые намеревались играть
 <!--span onclick='loadMove("1r1q2k1/3bp1bp/2np2p1/1ppN4/3nP1P1/3PB2P/PP1QN1B1/5RK1 w - - 0 21", this, "d4e2"); ' class="line1">20...z0</span--> 
 <span onclick='loadMove("1r1q2k1/3bp1bp/2np2p1/1ppN4/3NP1P1/3PB2P/PP1Q2B1/5RK1 b - - 0 21", this, "e2d4"); ' class="line1">21.К:d4</span> 
и, в случае,
 <span onclick='loadMove("1r1q2k1/3bp1bp/3p2p1/1ppN4/3nP1P1/3PB2P/PP1Q2B1/5RK1 w - - 0 22", this, "c6d4"); ' class="line1">21...К:d4</span> 
—</p>
<p>
 <span onclick='loadMove("1r1q2k1/3bp1bp/3p2p1/1ppN2B1/3nP1P1/3P3P/PP1Q2B1/5RK1 b - - 0 22", this, "e3g5"); ' class="line1">22.Сg5</span> 
. Размен коней разрушает замысел белых и заставляет их фигуры занять крайне неудачные места.</p>
<p class="longNotation">
 <span onclick='loadMove("1r1q2k1/3bp1bp/2np2p1/1ppN4/4P1P1/3PB2P/PP2Q1B1/5RK1 b - - 0 21", this, "d2e2"); ' class="line0">21.Фd2:e2</span> 
 <span onclick='loadMove("1r1q2k1/3b2bp/2npp1p1/1ppN4/4P1P1/3PB2P/PP2Q1B1/5RK1 w - - 0 22", this, "e7e6"); ' class="line0">e7-e6</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("1r1q2k1/3b2bp/2npp1p1/1pp5/4PNP1/3PB2P/PP2Q1B1/5RK1 b - - 0 22", this, "d5f4"); ' class="line0">22.Кd5-f4</span> 
 <span onclick='loadMove("1r4k1/3b2bp/2npp1p1/qpp5/4PNP1/3PB2P/PP2Q1B1/5RK1 w - - 0 23", this, "d8a5"); ' class="line0">Фd8-a5</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("1r4k1/3b2bp/2npp1p1/qpp5/4PNP1/1P1PB2P/P3Q1B1/5RK1 b - - 0 23", this, "b2b3"); ' class="line0">23.b2-b3</span> 
 <span onclick='loadMove("5rk1/3b2bp/2npp1p1/qpp5/4PNP1/1P1PB2P/P3Q1B1/5RK1 w - - 0 24", this, "b8f8"); ' class="line0">Лb8-f8</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("5rk1/3b2bp/2npp1p1/qpp5/4PNP1/1P1PB2P/P3QRB1/6K1 b - - 0 24", this, "f1f2"); ' class="line0">24.Лf1-f2</span> 
 <span onclick='loadMove("5rk1/3b2bp/2npp1p1/1pp5/4PNP1/1PqPB2P/P3QRB1/6K1 w - - 0 25", this, "a5c3"); ' class="line0">Фa5-c3!</span> 
</p>
<p>Направляя свой взор на опору позиции белых — пешку d3.</p>
<p class="longNotation">
 <span onclick='loadMove("5rk1/3b2bp/2npp1p1/1pp3P1/4PN2/1PqPB2P/P3QRB1/6K1 b - - 0 25", this, "g4g5"); ' class="line0">25.g4-g5</span> 
 <span class="ellipsis0">...</span> 
</p>
<p>В связи с <b>h3-h4</b> и <b>Сg2-h3</b> единственная возможность проявить активность. Но черные первыми начинают наступление.</p>
<p class="longNotation">
 <span class="ellipsis0">25. ...</span> 
 <span onclick='loadMove("5rk1/3b2bp/3pp1p1/1pp3P1/1n2PN2/1PqPB2P/P3QRB1/6K1 w - - 0 26", this, "c6b4"); ' class="line0">Кc6-b4</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("5rk1/3b2bp/3pp1p1/1pp3P1/1n2PN1P/1PqPB3/P3QRB1/6K1 b - - 0 26", this, "h3h4"); ' class="line0">26.h3-h4?</span> 
 <span class="ellipsis0">...</span> 
</p>
<p>Позволяет черным осуществить оригинальную тактическую операцию. Осторожнее
 <span onclick='loadMove("5rk1/3b2bp/3pp1p1/1pp3P1/1n2PN2/1PqPB2P/P3QR2/5BK1 b - - 0 26", this, "g2f1"); ' class="line1">26.Сf1</span> 
.</p>
<div class="chessBoard analysis nobuttons" data-start-fen="5rk1/3b2bp/3pp1p1/1pp3P1/1n2PN1P/1PqPB3/P3QRB1/6K1 b - - 0 26"></div>
<p class="longNotation">
 <span class="ellipsis0">26. ...</span> 
 <span onclick='loadMove("5rk1/3b2bp/3pp1p1/1pp3P1/4PN1P/1PqPB3/n3QRB1/6K1 w - - 0 27", this, "b4a2"); ' class="line0">Кb4:a2!</span> 
</p>
<p>Ложным следом было бы
 <span onclick='loadMove("5rk1/3b2bp/3p2p1/1pp1p1P1/1n2PN1P/1PqPB3/P3QRB1/6K1 w - - 0 27", this, "e6e5"); ' class="line1">26...e5</span> 
из-за
 <span onclick='loadMove("5rk1/3b2bp/3p2p1/1ppNp1P1/1n2P2P/1PqPB3/P3QRB1/6K1 b - - 0 27", this, "f4d5"); ' class="line1">27.Кd5</span> 
. Например
 <span onclick='loadMove("5rk1/3b2bp/3p2p1/1ppNp1P1/1n2P2P/1P1PB3/P3QRB1/q5K1 w - - 0 28", this, "c3a1"); ' class="line1">27...Фa1+</span> 
 <span onclick='loadMove("5rk1/3b2bp/3p2p1/1ppNp1P1/1n2P2P/1P1PB3/P3QRBK/q7 b - - 0 28", this, "g1h2"); ' class="line1">28.Крh2</span> 
 <span onclick='loadMove("6k1/3b2bp/3p2p1/1ppNp1P1/1n2P2P/1P1PB3/P3QrBK/q7 w - - 0 29", this, "f8f2"); ' class="line1">Л:f2</span> 
 <span onclick='loadMove("6k1/3b2bp/3p2p1/1ppNp1P1/1n2P2P/1P1PB3/P4QBK/q7 b - - 0 29", this, "e2f2"); ' class="line1">29.Ф:f2</span> 
и нельзя
 <span onclick='loadMove("6k1/3b2bp/3p2p1/1ppNp1P1/1n2P2P/1P1PB3/q4QBK/8 w - - 0 30", this, "a1a2"); ' class="line1">29...Ф:a2</span> 
ввиду
 <span onclick='loadMove("6k1/3bN1bp/3p2p1/1pp1p1P1/1n2P2P/1P1PB3/q4QBK/8 b - - 0 30", this, "d5e7"); ' class="line1">30.Кe7+</span> 
 <span onclick='loadMove("7k/3bN1bp/3p2p1/1pp1p1P1/1n2P2P/1P1PB3/q4QBK/8 w - - 0 31", this, "g8h8"); ' class="line1">Крh8</span> 
 <span onclick='loadMove("7k/3bNQbp/3p2p1/1pp1p1P1/1n2P2P/1P1PB3/q5BK/8 b - - 0 31", this, "f2f7"); ' class="line1">31.Фf7</span> 
или
 <span onclick='loadMove("6k1/3b2bp/3p2p1/1ppNp1P1/1n2P2P/1PqPB3/P3QrB1/6K1 w - - 0 28", this, "f8f2"); ' class="line1">27...Л:f2</span> 
 <span onclick='loadMove("6k1/3b2bp/3p2p1/1ppNp1P1/1n2P2P/1PqPB3/P3QKB1/8 b - - 0 28", this, "g1f2"); ' class="line1">28.Кр:f2</span> 
 <span onclick='loadMove("6k1/3b2bp/3p2p1/1ppNp1P1/4P2P/1PqnB3/P3QKB1/8 w - - 0 29", this, "b4d3"); ' class="line1">К:d3+?</span> 
 <span onclick='loadMove("6k1/3b2bp/3p2p1/1ppNp1P1/4P2P/1PqnBK2/P3Q1B1/8 b - - 0 29", this, "f2f3"); ' class="line1">29.Крf3</span> 
 <span onclick='loadMove("6k1/3b2bp/3p2p1/1ppNp1P1/4P2P/1Pq1BK2/P3Q1B1/4n3 w - - 0 30", this, "d3e1"); ' class="line1">Кe1+</span> 
 <span onclick='loadMove("6k1/3b2bp/3p2p1/1ppNp1P1/4P2P/1Pq1B1K1/P3Q1B1/4n3 b - - 0 30", this, "f3g3"); ' class="line1">30.Крg3</span> 
 <span onclick='loadMove("6k1/3b2bp/3p2p1/1ppNp1P1/4P2P/1P2B1K1/P3Q1B1/q3n3 w - - 0 31", this, "c3a1"); ' class="line1">Фa1</span> 
 <span onclick='loadMove("6k1/3b2bp/3p2p1/1ppNp1P1/4P2P/1P2B1K1/P4QB1/q3n3 b - - 0 31", this, "e2f2"); ' class="line1">31.Фf2</span> 
 <span onclick='loadMove("6k1/6bp/3pb1p1/1ppNp1P1/4P2P/1P2B1K1/P4QB1/q3n3 w - - 0 32", this, "d7e6"); ' class="line1">Сe6</span> 
 <span onclick='loadMove("6k1/6bp/3pb1p1/1ppNp1P1/4P2P/1P2B1KB/P4Q2/q3n3 b - - 0 32", this, "g2h3"); ' class="line1">32.Сh3</span> 
.</p>
<p class="longNotation">
 <span onclick='loadMove("5rk1/3b2bp/3pp1p1/1pp3PP/4PN2/1PqPB3/n3QRB1/6K1 b - - 0 27", this, "h4h5"); ' class="line0">27.h4-h5</span> 
 <span class="ellipsis0">...</span> 
</p>
<p>Если
 <span onclick='loadMove("5rk1/3b2bp/3pp1p1/1pp3P1/4PN1P/1PqPB3/Q4RB1/6K1 b - - 0 27", this, "e2a2"); ' class="line1">27.Ф:a2</span> 
, то
 <span onclick='loadMove("5rk1/3b2bp/3pp1p1/1pp3P1/4PN1P/1P1PB3/Q4RB1/4q1K1 w - - 0 28", this, "c3e1"); ' class="line1">27...Фe1+</span> 
. В случае
 <span onclick='loadMove("5rk1/3b2bp/3pp1p1/1pp3P1/4PN1P/1PqPB2B/n3QR2/6K1 b - - 0 27", this, "g2h3"); ' class="line1">27.Сh3</span> 
 <span onclick='loadMove("5rk1/3b2bp/3pp1p1/1pp3P1/1n2PN1P/1PqPB2B/4QR2/6K1 w - - 0 28", this, "a2b4"); ' class="line1">Кb4</span> 
 <span onclick='loadMove("5rk1/3b2bp/3pB1p1/1pp3P1/1n2PN1P/1PqPB3/4QR2/6K1 b - - 0 28", this, "h3e6"); ' class="line1">28.С:e6+</span> 
 <span onclick='loadMove("5rk1/6bp/3pb1p1/1pp3P1/1n2PN1P/1PqPB3/4QR2/6K1 w - - 0 29", this, "d7e6"); ' class="line1">С:e6</span> 
 <span onclick='loadMove("5rk1/6bp/3pN1p1/1pp3P1/1n2P2P/1PqPB3/4QR2/6K1 b - - 0 29", this, "f4e6"); ' class="line1">29.К:e6</span> 
 <span onclick='loadMove("6k1/6bp/3pN1p1/1pp3P1/1n2P2P/1PqPB3/4Qr2/6K1 w - - 0 30", this, "f8f2"); ' class="line1">Л:f2</span> 
 <span onclick='loadMove("6k1/6bp/3pN1p1/1pp3P1/1n2P2P/1PqPB3/5Q2/6K1 b - - 0 30", this, "e2f2"); ' class="line1">30.Ф:f2</span> 
 <span onclick='loadMove("6k1/6bp/3pN1p1/1pp3P1/4P2P/1PqnB3/5Q2/6K1 w - - 0 31", this, "b4d3"); ' class="line1">К:d3</span> 
 <span onclick='loadMove("6k1/6bp/3pN1p1/1pp3P1/4P2P/1PqnB3/Q7/6K1 b - - 0 31", this, "f2a2"); ' class="line1">31.Фa2</span> 
 <span onclick='loadMove("6k1/6bp/3pN1p1/1pp3P1/4P2P/1P1nB3/Q7/q5K1 w - - 0 32", this, "c3a1"); ' class="line1">Фa1+</span> 
у белых безнадежный эндшпиль.</p>
<p class="longNotation">
 <span class="ellipsis0">27. ...</span> 
 <span onclick='loadMove("5rk1/3b2bp/3pp1p1/1pp3PP/4PN2/1PqPB3/4QRB1/2n3K1 w - - 0 28", this, "a2c1"); ' class="line0">Кa2-c1!</span> 
</p>
<p>«Соль» замысла черных. На
 <span onclick='loadMove("5rk1/3b2bp/3pp1p1/1pp3PP/4PN2/1PqP4/4QRB1/2B3K1 b - - 0 28", this, "e3c1"); ' class="line1">28.С:c1</span> 
выигрывает
 <span onclick='loadMove("5rk1/3b2bp/3pp1p1/1pp3PP/4PN2/1P1P4/4QRB1/2q3K1 w - - 0 29", this, "c3c1"); ' class="line1">28...Ф:c1+</span> 
 <span onclick='loadMove("5rk1/3b2bp/3pp1p1/1pp3PP/4PN2/1P1P4/4Q1B1/2q2RK1 b - - 0 29", this, "f2f1"); ' class="line1">29.Лf1</span> 
 <span onclick='loadMove("5rk1/3b3p/3pp1p1/1pp3PP/3bPN2/1P1P4/4Q1B1/2q2RK1 w - - 0 30", this, "g7d4"); ' class="line1">Сd4+</span> 
 <span onclick='loadMove("5rk1/3b3p/3pp1p1/1pp3PP/3bPN2/1P1P4/4Q1B1/2q2R1K b - - 0 30", this, "g1h1"); ' class="line1">30.Крh1</span> 
 <span onclick='loadMove("5rk1/3b3p/3pp1p1/1pp3PP/3bPN2/1P1Pq3/4Q1B1/5R1K w - - 0 31", this, "c1e3"); ' class="line1">Фe3</span> 
 <span onclick='loadMove("5rk1/3b3p/3pp1p1/1pp3PP/3bPNQ1/1P1Pq3/6B1/5R1K b - - 0 31", this, "e2g4"); ' class="line1">31.Фg4</span> 
 <span onclick='loadMove("5rk1/3b3p/3pp1p1/1pp1b1PP/4PNQ1/1P1Pq3/6B1/5R1K w - - 0 32", this, "d4e5"); ' class="line1">Сe5</span> 
 <span onclick='loadMove("5rk1/3b3p/3pN1p1/1pp1b1PP/4P1Q1/1P1Pq3/6B1/5R1K b - - 0 32", this, "f4e6"); ' class="line1">32.К:e6</span> 
 <span onclick='loadMove("6k1/3b3p/3pN1p1/1pp1b1PP/4P1Q1/1P1Pq3/6B1/5r1K w - - 0 33", this, "f8f1"); ' class="line1">Л:f1+</span> 
 <span onclick='loadMove("6k1/3b3p/3pN1p1/1pp1b1PP/4P1Q1/1P1Pq3/8/5B1K b - - 0 33", this, "g2f1"); ' class="line1">33.С:f1</span> 
 <span onclick='loadMove("6k1/3b3p/3pN1p1/1pp1b1PP/4P1Q1/1P1P4/5q2/5B1K w - - 0 34", this, "e3f2"); ' class="line1">Фf2</span> 
 <span onclick='loadMove("6k1/3b3p/3pN1p1/1pp1b1PP/4P3/1P1P3Q/5q2/5B1K b - - 0 34", this, "g4h3"); ' class="line1">34.Фh3</span> 
 <span onclick='loadMove("6k1/3b3p/3pN3/1pp1b1Pp/4P3/1P1P3Q/5q2/5B1K w - - 0 35", this, "g6h5"); ' class="line1">gh</span> 
или
 <span onclick='loadMove("6k1/3b1q1p/3pN1p1/1pp1b1PP/4P3/1P1P3Q/8/5B1K w - - 0 35", this, "f2f7"); ' class="line1">34...Фf7</span> 
.</p>
<p class="longNotation">
 <span onclick='loadMove("5rk1/3b2bp/3pp1p1/1pp3PP/4PN2/1PqPB3/5RB1/2n2QK1 b - - 0 28", this, "e2f1"); ' class="line0">28.Фe2-f1</span> 
 <span onclick='loadMove("5rk1/3b3p/3pp1p1/1pp3PP/3bPN2/1PqPB3/5RB1/2n2QK1 w - - 0 29", this, "g7d4"); ' class="line0">Сg7-d4</span> 
</p>
<p>Заключительная тонкость. Теперь плохо
 <span onclick='loadMove("5rk1/3b3p/3pp1p1/1pp3PP/3bPN2/1PqPB3/5RB1/2Q3K1 b - - 0 29", this, "f1c1"); ' class="line1">29.Ф:c1</span> 
из-за
 <span onclick='loadMove("5rk1/3b3p/3pp1p1/1pp3PP/3bPN2/1P1PB3/5RB1/2q3K1 w - - 0 30", this, "c3c1"); ' class="line1">29...Ф:c1+</span> 
 <span onclick='loadMove("5rk1/3b3p/3pp1p1/1pp3PP/3bPN2/1P1P4/5RB1/2B3K1 b - - 0 30", this, "e3c1"); ' class="line1">30.С:c1</span> 
 <span onclick='loadMove("5rk1/3b3p/3p2p1/1pp1p1PP/3bPN2/1P1P4/5RB1/2B3K1 w - - 0 31", this, "e6e5"); ' class="line1">e5</span> 
.</p>
<p class="longNotation">
 <span onclick='loadMove("5rk1/3b3p/3pp1p1/1pp3PP/3BPN2/1PqP4/5RB1/2n2QK1 b - - 0 29", this, "e3d4"); ' class="line0">29.Сe3:d4</span> 
 <span onclick='loadMove("5rk1/3b3p/3pp1p1/1pp3PP/3qPN2/1P1P4/5RB1/2n2QK1 w - - 0 30", this, "c3d4"); ' class="line0">Фc3:d4</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("5rk1/3b3p/3pp1p1/1pp3PP/3qPN2/1P1P4/5RB1/2Q3K1 b - - 0 30", this, "f1c1"); ' class="line0">30.Фf1:c1</span> 
 <span onclick='loadMove("5rk1/3b3p/3p2p1/1pp1p1PP/3qPN2/1P1P4/5RB1/2Q3K1 w - - 0 31", this, "e6e5"); ' class="line0">e6-e5</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("5rk1/3b3p/3p2P1/1pp1p1P1/3qPN2/1P1P4/5RB1/2Q3K1 b - - 0 31", this, "h5g6"); ' class="line0">31.h5:g6</span> 
 <span class="ellipsis0">...</span> 
</p>
<p>Неудовлетворительно и
 <span onclick='loadMove("5rk1/3b3p/3p2p1/1pp1p1PP/3qPN2/1P1P4/5RB1/2Q2K2 b - - 0 31", this, "g1f1"); ' class="line1">31.Крf1</span> 
 <span onclick='loadMove("5rk1/3b3p/3p2p1/1pp3PP/3qPp2/1P1P4/5RB1/2Q2K2 w - - 0 32", this, "e5f4"); ' class="line1">ef</span> 
 <span onclick='loadMove("5rk1/3b3p/3p2p1/1pp3PP/3qPR2/1P1P4/6B1/2Q2K2 b - - 0 32", this, "f2f4"); ' class="line1">32.Л:f4</span> 
 <span onclick='loadMove("5rk1/3b3p/3p2p1/1pp3PP/4PR2/1P1q4/6B1/2Q2K2 w - - 0 33", this, "d4d3"); ' class="line1">Ф:d3+</span> 
</p>
<p class="longNotation">
 <span class="ellipsis0">31. ...</span> 
 <span onclick='loadMove("6k1/3b3p/3p2P1/1pp1p1P1/3qPr2/1P1P4/5RB1/2Q3K1 w - - 0 32", this, "f8f4"); ' class="line0">Лf8:f4</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("6k1/3b3P/3p4/1pp1p1P1/3qPr2/1P1P4/5RB1/2Q3K1 b - - 0 32", this, "g6h7"); ' class="line0">32.g6:h7+</span> 
 <span onclick='loadMove("8/3b3k/3p4/1pp1p1P1/3qPr2/1P1P4/5RB1/2Q3K1 w - - 0 33", this, "g8h7"); ' class="line0">Крg8:h7</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("8/3b3k/3p4/1pp1p1P1/3qPr2/1P1P4/1Q3RB1/6K1 b - - 0 33", this, "c1b2"); ' class="line0">33.Фc1-b2</span> 
 <span onclick='loadMove("8/3b3k/3p4/1pp1p1P1/3qP3/1P1P4/1Q3rB1/6K1 w - - 0 34", this, "f4f2"); ' class="line0">Лf4:f2</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("8/3b3k/3p4/1pp1p1P1/3qP3/1P1P4/5QB1/6K1 b - - 0 34", this, "b2f2"); ' class="line0">34.Фb2:f2</span> 
 <span onclick='loadMove("8/7k/3pb3/1pp1p1P1/3qP3/1P1P4/5QB1/6K1 w - - 0 35", this, "d7e6"); ' class="line0">Сd7-e6</span> 
</p>
<p>Белые сдались.</p>
<p>Примечания Н. Крогиуса.</p>
</div> <!-- score -->
</div> <!-- section -->

<a name="game50"></a>
<div class="section">
<div class="chessBoard small floater" data-start-fen="rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w KQkq - 0 1"></div>
<div class="score">
 <span class="line0" onclick='loadMove("rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w KQkq - 0 1", this, ""); '>[...]</span> 
<p class="capTop diagram">№ 50 <i>C65</i><br /><strong>А. Кузнецов — Спасский</strong><br />Кисловодск, 1960</p>
<p class="longNotation">
 <span onclick='loadMove("rnbqkbnr/pppppppp/8/8/4P3/8/PPPP1PPP/RNBQKBNR b KQkq e3 0 1", this, "e2e4"); ' class="line0">1.e2-e4</span> 
 <span onclick='loadMove("rnbqkbnr/pppp1ppp/8/4p3/4P3/8/PPPP1PPP/RNBQKBNR w KQkq e6 0 2", this, "e7e5"); ' class="line0">e7-e5</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("rnbqkbnr/pppp1ppp/8/4p3/4P3/5N2/PPPP1PPP/RNBQKB1R b KQkq - 0 2", this, "g1f3"); ' class="line0">2.Кg1-f3</span> 
 <span onclick='loadMove("r1bqkbnr/pppp1ppp/2n5/4p3/4P3/5N2/PPPP1PPP/RNBQKB1R w KQkq - 0 3", this, "b8c6"); ' class="line0">Кb8-c6</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("r1bqkbnr/pppp1ppp/2n5/1B2p3/4P3/5N2/PPPP1PPP/RNBQK2R b KQkq - 0 3", this, "f1b5"); ' class="line0">3.Сf1-b5</span> 
 <span onclick='loadMove("r1bqkb1r/pppp1ppp/2n2n2/1B2p3/4P3/5N2/PPPP1PPP/RNBQK2R w KQkq - 0 4", this, "g8f6"); ' class="line0">Кg8-f6</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("r1bqkb1r/pppp1ppp/2n2n2/1B2p3/4P3/5N2/PPPP1PPP/RNBQ1RK1 b kq - 0 4", this, "e1g1"); ' class="line0">4.0-0</span> 
 <span onclick='loadMove("r1bqk2r/pppp1ppp/2n2n2/1Bb1p3/4P3/5N2/PPPP1PPP/RNBQ1RK1 w kq - 0 5", this, "f8c5"); ' class="line0">Сf8-c5</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("r1bqk2r/pppp1ppp/2n2n2/1Bb1N3/4P3/8/PPPP1PPP/RNBQ1RK1 b kq - 0 5", this, "f3e5"); ' class="line0">5.Кf3:e5</span> 
 <span onclick='loadMove("r1bqk2r/pppp1ppp/2n5/1Bb1N3/4n3/8/PPPP1PPP/RNBQ1RK1 w kq - 0 6", this, "f6e4"); ' class="line0">Кf6:e4</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("r1bqk2r/pppp1Npp/2n5/1Bb5/4n3/8/PPPP1PPP/RNBQ1RK1 b kq - 0 6", this, "e5f7"); ' class="line0">6.Кe5:f7?!</span> 
 <span onclick='loadMove("r1bq3r/pppp1kpp/2n5/1Bb5/4n3/8/PPPP1PPP/RNBQ1RK1 w - - 0 7", this, "e8f7"); ' class="line0">Крe8:f7</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("r1bq3r/pppp1kpp/2n5/1Bb4Q/4n3/8/PPPP1PPP/RNB2RK1 b - - 0 7", this, "d1h5"); ' class="line0">7.Фd1-h5+</span> 
 <span onclick='loadMove("r1bq3r/pppp1k1p/2n3p1/1Bb4Q/4n3/8/PPPP1PPP/RNB2RK1 w - - 0 8", this, "g7g6"); ' class="line0">g7-g6</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("r1bq3r/pppp1k1p/2n3p1/1BbQ4/4n3/8/PPPP1PPP/RNB2RK1 b - - 0 8", this, "h5d5"); ' class="line0">8.Фh5-d5+</span> 
 <span onclick='loadMove("r1bq3r/pppp2kp/2n3p1/1BbQ4/4n3/8/PPPP1PPP/RNB2RK1 w - - 0 9", this, "f7g7"); ' class="line0">Крf7-g7</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("r1bq3r/pppp2kp/2B3p1/2bQ4/4n3/8/PPPP1PPP/RNB2RK1 b - - 0 9", this, "b5c6"); ' class="line0">9.Сb5:c6</span> 
 <span class="ellipsis0">...</span> 
</p>
<p>Если
 <span onclick='loadMove("r1bq3r/pppp2kp/2n3p1/1Bb5/4Q3/8/PPPP1PPP/RNB2RK1 b - - 0 9", this, "d5e4"); ' class="line1">9.Ф:e4</span> 
, то
 <span onclick='loadMove("r1bq3r/ppp3kp/2n3p1/1Bbp4/4Q3/8/PPPP1PPP/RNB2RK1 w - d6 0 10", this, "d7d5"); ' class="line1">9...d5!</span> 
.</p>
<p class="longNotation">
 <span class="ellipsis0">9. ...</span> 
 <span onclick='loadMove("r1bqr3/pppp2kp/2B3p1/2bQ4/4n3/8/PPPP1PPP/RNB2RK1 w - - 0 10", this, "h8e8"); ' class="line0">Лh8-e8!</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("r1bqr3/pppp2kp/6p1/2bQ4/B3n3/8/PPPP1PPP/RNB2RK1 b - - 0 10", this, "c6a4"); ' class="line0">10.Сc6-a4</span> 
 <span onclick='loadMove("r1bqr3/pp1p2kp/2p3p1/2bQ4/B3n3/8/PPPP1PPP/RNB2RK1 w - - 0 11", this, "c7c6"); ' class="line0">c7-c6</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("r1bqr3/pp1p2kp/2p3p1/2b5/B3n3/3Q4/PPPP1PPP/RNB2RK1 b - - 0 11", this, "d5d3"); ' class="line0">11.Фd5-d3</span> 
 <span class="ellipsis0">...</span> 
</p>
<p>Белые выиграли пешку, но отстали в развитии, и теперь черные приступают к штурму.</p>
<p class="longNotation">
 <span class="ellipsis0">11. ...</span> 
 <span onclick='loadMove("r1b1r3/pp1p2kp/2p3p1/2b5/B3n2q/3Q4/PPPP1PPP/RNB2RK1 w - - 0 12", this, "d8h4"); ' class="line0">Фd8-h4</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("r1b1r3/pp1p2kp/2p3p1/2b5/B3n2q/3Q2P1/PPPP1P1P/RNB2RK1 b - - 0 12", this, "g2g3"); ' class="line0">12.g2-g3</span> 
 <span onclick='loadMove("r1b1r3/pp1p2kp/2p3p1/2b5/B3n3/3Q2Pq/PPPP1P1P/RNB2RK1 w - - 0 13", this, "h4h3"); ' class="line0">Фh4-h3</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("r1b1r3/pp1p2kp/2p3p1/2b5/BP2n3/3Q2Pq/P1PP1P1P/RNB2RK1 b - b3 0 13", this, "b2b4"); ' class="line0">13.b2-b4</span> 
 <span onclick='loadMove("r1b1r3/pp1p2kp/2p3p1/2b5/BP6/3Q2Pq/P1PP1n1P/RNB2RK1 w - - 0 14", this, "e4f2"); ' class="line0">Кe4:f2!</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("r1b1r3/pp1p2kp/2p3p1/2b5/BP6/2Q3Pq/P1PP1n1P/RNB2RK1 b - - 0 14", this, "d3c3"); ' class="line0">14.Фd3-c3+</span> 
 <span onclick='loadMove("r1b1r1k1/pp1p3p/2p3p1/2b5/BP6/2Q3Pq/P1PP1n1P/RNB2RK1 w - - 0 15", this, "g7g8"); ' class="line0">Крg7-g8</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("r1b1r1k1/pp1p3p/2p3p1/2Q5/BP6/6Pq/P1PP1n1P/RNB2RK1 b - - 0 15", this, "c3c5"); ' class="line0">15.Фc3:c5</span> 
 <span onclick='loadMove("r1b1r1k1/pp1p3p/2p3p1/2Q5/BP4n1/6Pq/P1PP3P/RNB2RK1 w - - 0 16", this, "f2g4"); ' class="line0">Кf2-g4</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("r1b1r1k1/pp1p3p/2p3p1/2Q5/1P4n1/1B4Pq/P1PP3P/RNB2RK1 b - - 0 16", this, "a4b3"); ' class="line0">16.Сa4-b3+</span> 
 <span onclick='loadMove("r1b1r1k1/pp5p/2p3p1/2Qp4/1P4n1/1B4Pq/P1PP3P/RNB2RK1 w - d6 0 17", this, "d7d5"); ' class="line0">d7-d5</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("r1b1r1k1/pp5p/2p3p1/2QB4/1P4n1/6Pq/P1PP3P/RNB2RK1 b - - 0 17", this, "b3d5"); ' class="line0">17.Сb3:d5+!</span> 
 <span class="ellipsis0">...</span> 
</p>
<p>С надеждой после
 <span onclick='loadMove("r1b1r1k1/pp5p/6p1/2Qp4/1P4n1/6Pq/P1PP3P/RNB2RK1 w - - 0 18", this, "c6d5"); ' class="line1">17...cd</span> 
 <span onclick='loadMove("r1b1r1k1/pp5p/6p1/3Q4/1P4n1/6Pq/P1PP3P/RNB2RK1 b - - 0 18", this, "c5d5"); ' class="line1">18.Ф:d5+</span> 
 <!--span onclick='loadMove("r1b1r1k1/pp5p/6p1/3Q4/1P4n1/6Pq/P1PP3P/RNB2RK1 w - - 0 19", this, "c5d5"); ' class="line1">z0</span--> 
и
 <span onclick='loadMove("r1b1r1k1/pp5p/6p1/8/1P4n1/6Pq/P1PP2QP/RNB2RK1 b - - 0 19", this, "d5g2"); ' class="line1">19.Фg2</span> 
отразить угрозы, но...</p>
<div class="chessBoard analysis nobuttons" data-start-fen="r1b1r1k1/pp5p/2p3p1/2QB4/1P4n1/6Pq/P1PP3P/RNB2RK1 b - - 0 17"></div>
<p class="longNotation">
 <span class="ellipsis0">17. ...</span> 
 <span onclick='loadMove("r3r1k1/pp5p/2p1b1p1/2QB4/1P4n1/6Pq/P1PP3P/RNB2RK1 w - - 0 18", this, "c8e6"); ' class="line0">Сc8-e6!</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("r3rRk1/pp5p/2p1b1p1/2QB4/1P4n1/6Pq/P1PP3P/RNB3K1 b - - 0 18", this, "f1f8"); ' class="line0">18.Лf1-f8+!</span> 
 <span class="ellipsis0">...</span> 
</p>
<p>И этот черным надо было предусмотреть. В случае взятия
 <span onclick='loadMove("r4rk1/pp5p/2p1b1p1/2QB4/1P4n1/6Pq/P1PP3P/RNB3K1 w - - 0 19", this, "e8f8"); ' class="line1">18...Л:f8</span> 
они проигрывали, например:
 <span onclick='loadMove("r4rk1/pp5p/2p1B1p1/2Q5/1P4n1/6Pq/P1PP3P/RNB3K1 b - - 0 19", this, "d5e6"); ' class="line1">19.С:e6+</span> 
 <span onclick='loadMove("r4r2/pp4kp/2p1B1p1/2Q5/1P4n1/6Pq/P1PP3P/RNB3K1 w - - 0 20", this, "g8g7"); ' class="line1">Крg7</span> 
 <span onclick='loadMove("r4r2/pp2Q1kp/2p1B1p1/8/1P4n1/6Pq/P1PP3P/RNB3K1 b - - 0 20", this, "c5e7"); ' class="line1">20.Фe7+</span> 
или
 <span onclick='loadMove("r5k1/pp3r1p/2p1B1p1/2Q5/1P4n1/6Pq/P1PP3P/RNB3K1 w - - 0 20", this, "f8f7"); ' class="line1">19...Лf7</span> 
 <span onclick='loadMove("r5k1/pp3B1p/2p3p1/2Q5/1P4n1/6Pq/P1PP3P/RNB3K1 b - - 0 20", this, "e6f7"); ' class="line1">20.С:f7+</span> 
 <span onclick='loadMove("r7/pp3k1p/2p3p1/2Q5/1P4n1/6Pq/P1PP3P/RNB3K1 w - - 0 21", this, "g8f7"); ' class="line1">Кр:f7</span> 
 <span onclick='loadMove("r7/pp3k1p/2p3p1/8/1PQ3n1/6Pq/P1PP3P/RNB3K1 b - - 0 21", this, "c5c4"); ' class="line1">21.Фc4+</span> 
.</p>
<p class="longNotation">
 <span class="ellipsis0">18. ...</span> 
 <span onclick='loadMove("r3rR2/pp4kp/2p1b1p1/2QB4/1P4n1/6Pq/P1PP3P/RNB3K1 w - - 0 19", this, "g8g7"); ' class="line0">Крg8-g7!</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("r3rR2/pp4kp/2p1b1p1/2QB4/1P4n1/6Pq/PBPP3P/RN4K1 b - - 0 19", this, "c1b2"); ' class="line0">19.Сc1-b2+</span> 
 <span onclick='loadMove("r3rR2/pp5p/2p1b1pk/2QB4/1P4n1/6Pq/PBPP3P/RN4K1 w - - 0 20", this, "g7h6"); ' class="line0">Крg7-h6</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("r3R3/pp5p/2p1b1pk/2QB4/1P4n1/6Pq/PBPP3P/RN4K1 b - - 0 20", this, "f8e8"); ' class="line0">20.Лf8:e8</span> 
 <span onclick='loadMove("4r3/pp5p/2p1b1pk/2QB4/1P4n1/6Pq/PBPP3P/RN4K1 w - - 0 21", this, "a8e8"); ' class="line0">Лa8:e8</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("4r3/pp5p/2p1b1pk/2Q5/1P4n1/5BPq/PBPP3P/RN4K1 b - - 0 21", this, "d5f3"); ' class="line0">21.Сd5-f3</span> 
 <span onclick='loadMove("4r3/pp5p/2p1b1pk/2Q5/1P4n1/5BP1/PBPP3q/RN4K1 w - - 0 22", this, "h3h2"); ' class="line0">Фh3:h2+</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("4r3/pp5p/2p1b1pk/2Q5/1P4n1/5BP1/PBPP3q/RN3K2 b - - 0 22", this, "g1f1"); ' class="line0">22.Крg1-f1</span> 
 <span onclick='loadMove("4r3/pp5p/2p1b1pk/2Q5/1P4n1/5Bq1/PBPP4/RN3K2 w - - 0 23", this, "h2g3"); ' class="line0">Фh2:g3</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("4r3/pp5p/2p1b1pk/2Q5/1P4B1/6q1/PBPP4/RN3K2 b - - 0 23", this, "f3g4"); ' class="line0">23.Сf3:g4</span> 
 <span onclick='loadMove("4r3/pp5p/2p3pk/2Q5/1Pb3B1/6q1/PBPP4/RN3K2 w - - 0 24", this, "e6c4"); ' class="line0">Сe6-c4+!</span> 
</p>
<p>Белые сдались.</p>
<p>Примечания М. Юдовича (ст.).</p>
</div> <!-- score -->
</div> <!-- section -->

</div> <!-- iBook -->
{% endblock content %}

