{% extends '../../base.htm' %}
{% load static %}
{% block title %}
<title>2.1.2 Ферзь и конь против пешки h7 | {{book.title}} | {%for author in book.authors.all%} {%if author.first_name%} {{author.first_name}} {%endif%} {%if author.second_name%} {{author.second_name}} {%endif%} {%if forloop.counter == book.authors.all.count%} {{author.last_name}} {%else%} {{author.last_name}}, {%endif%} {%endfor%} | {{book.year}}</title>
{% endblock title %}
{% block content %}

<div class="iBook">

<div class="section">
<div class="chessBoard small floater" data-start-fen="5rk1/5ppp/8/6NQ/8/8/5PPP/5RK1 w - - 0 1"></div>
<div class="score">
 <span class="line0" onclick='loadMove("5rk1/5ppp/8/6NQ/8/8/5PPP/5RK1 w - - 0 1", this, ""); '>[...]</span> 
<h4>2.1.2 Схема <span class="CAChess">&#0163;+&#0164;&#0130;&#0167;h7</span></h4>
<!--img src="images/figurnaya_ataka-20.png" style="width:144pt;height:146pt;"/-->
<div class="chessBoard analysis nobuttons" data-start-fen="5rk1/5ppp/8/6NQ/8/8/5PPP/5RK1 w - - 0 1"></div>
<p>Угроза
 <span onclick='loadMove("5rk1/5ppQ/8/6N1/8/8/5PPP/5RK1 b - - 0 1", this, "h5h7"); ' class="line0">1.Фh5:h7X</span> 
особенно эффективна в сочетании с ударом на пункт f7 (например, у белых еще есть слон на c4).</p>
</div> <!-- score -->
</div> <!-- section -->

<div class="section">
<div class="chessBoard small floater" data-start-fen="rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w KQkq - 0 1"></div>
<div class="score">
 <span class="line0" onclick='loadMove("rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w KQkq - 0 1", this, ""); '>[...]</span> 
<h5>Пример</h5>
<p>
 <span onclick='loadMove("rnbqkbnr/pppppppp/8/8/4P3/8/PPPP1PPP/RNBQKBNR b KQkq e3 0 1", this, "e2e4"); ' class="line0">1.e2-e4</span> 
 <span onclick='loadMove("rnbqkbnr/pppp1ppp/8/4p3/4P3/8/PPPP1PPP/RNBQKBNR w KQkq e6 0 2", this, "e7e5"); ' class="line0">e7-e5</span> 
 <span onclick='loadMove("rnbqkbnr/pppp1ppp/8/4p3/4P3/5N2/PPPP1PPP/RNBQKB1R b KQkq - 0 2", this, "g1f3"); ' class="line0">2.Кg1-f3</span> 
 <span onclick='loadMove("r1bqkbnr/pppp1ppp/2n5/4p3/4P3/5N2/PPPP1PPP/RNBQKB1R w KQkq - 0 3", this, "b8c6"); ' class="line0">Кb8-c6</span> 
 <span onclick='loadMove("r1bqkbnr/pppp1ppp/2n5/4p3/2B1P3/5N2/PPPP1PPP/RNBQK2R b KQkq - 0 3", this, "f1c4"); ' class="line0">3.Сf1-c4</span> 
 <span onclick='loadMove("r1bqk1nr/pppp1ppp/2n5/2b1p3/2B1P3/5N2/PPPP1PPP/RNBQK2R w KQkq - 0 4", this, "f8c5"); ' class="line0">Сf8-c5</span> 
 <span onclick='loadMove("r1bqk1nr/pppp1ppp/2n5/2b1p3/2B1P3/2P2N2/PP1P1PPP/RNBQK2R b KQkq - 0 4", this, "c2c3"); ' class="line0">4.c2-c3</span> 
 <span onclick='loadMove("r1bqk2r/pppp1ppp/2n2n2/2b1p3/2B1P3/2P2N2/PP1P1PPP/RNBQK2R w KQkq - 0 5", this, "g8f6"); ' class="line0">Кg8-f6</span> 
 <span onclick='loadMove("r1bqk2r/pppp1ppp/2n2n2/2b1p3/2BPP3/2P2N2/PP3PPP/RNBQK2R b KQkq d3 0 5", this, "d2d4"); ' class="line0">5.d2-d4</span> 
 <span onclick='loadMove("r1bqk2r/pppp1ppp/2n2n2/2b5/2BpP3/2P2N2/PP3PPP/RNBQK2R w KQkq - 0 6", this, "e5d4"); ' class="line0">e5:d4</span> 
 <span onclick='loadMove("r1bqk2r/pppp1ppp/2n2n2/2b5/2BPP3/5N2/PP3PPP/RNBQK2R b KQkq - 0 6", this, "c3d4"); ' class="line0">6.c3:d4</span> 
 <span onclick='loadMove("r1bqk2r/pppp1ppp/2n2n2/8/1bBPP3/5N2/PP3PPP/RNBQK2R w KQkq - 0 7", this, "c5b4"); ' class="line0">Сc5-b4+</span> 
 <span onclick='loadMove("r1bqk2r/pppp1ppp/2n2n2/8/1bBPP3/2N2N2/PP3PPP/R1BQK2R b KQkq - 0 7", this, "b1c3"); ' class="line0">7.Кb1-c3</span> 
 <span onclick='loadMove("r1bq1rk1/pppp1ppp/2n2n2/8/1bBPP3/2N2N2/PP3PPP/R1BQK2R w KQ - 0 8", this, "e8g8"); ' class="line0">0-0?!</span> 
</p>
<!--img src="images/figurnaya_ataka-21.png" style="width:143pt;height:143pt;"/-->
<div class="chessBoard analysis nobuttons" data-start-fen="r1bq1rk1/pppp1ppp/2n2n2/8/1bBPP3/2N2N2/PP3PPP/R1BQK2R w KQ - 0 8"></div>
<p>Основным и наиболее сильным продолжением является
 <span onclick='loadMove("r1bqk2r/pppp1ppp/2n5/8/1bBPn3/2N2N2/PP3PPP/R1BQK2R w KQkq - 0 8", this, "f6e4"); ' class="line1">7...К:e4</span> 
.</p>
<p>Здесь у белых есть две возможности начать атаку
 <span onclick='loadMove("r1bq1rk1/pppp1ppp/2n2n2/3P4/1bB1P3/2N2N2/PP3PPP/R1BQK2R b KQ - 0 8", this, "d4d5"); ' class="line1">8.d5</span> 
и
 <span onclick='loadMove("r1bq1rk1/pppp1ppp/2n2n2/4P3/1bBP4/2N2N2/PP3PPP/R1BQK2R b KQ - 0 8", this, "e4e5"); ' class="line1">8.e5</span> 
. Мы рассмотрим второй вариант, где конь f6 сразу же изгоняется со своего места (что, как мы уже видели, может существенно ослабить позицию рокировки черных) и белые, не считаясь с материалом, рассчитывают на быстрый штурм королевского фланга.</p>
<!--p>21</p-->
<p>
 <span onclick='loadMove("r1bq1rk1/pppp1ppp/2n2n2/4P3/1bBP4/2N2N2/PP3PPP/R1BQK2R b KQ - 0 8", this, "e4e5"); ' class="line0">8.e4-e5</span> 
 <span onclick='loadMove("r1bq1rk1/pppp1ppp/2n5/4P3/1bBPn3/2N2N2/PP3PPP/R1BQK2R w KQ - 0 9", this, "f6e4"); ' class="line0">Кf6-e4</span> 
 <span onclick='loadMove("r1bq1rk1/pppp1ppp/2n5/4P3/1bBPn3/2N2N2/PP3PPP/R1BQ1RK1 b - - 0 9", this, "e1g1"); ' class="line0">9.0-0</span> 
 <span onclick='loadMove("r1bq1rk1/pppp1ppp/2n5/4P3/1bBP4/2n2N2/PP3PPP/R1BQ1RK1 w - - 0 10", this, "e4c3"); ' class="line0">Кe4:c3?</span> 
</p>
<p>Здесь просто необходимо играть
 <span onclick='loadMove("r1bq1rk1/pppp1ppp/2n5/4P3/2BPn3/2b2N2/PP3PPP/R1BQ1RK1 w - - 0 10", this, "b4c3"); ' class="line1">9...С:c3</span> 
 <span onclick='loadMove("r1bq1rk1/pppp1ppp/2n5/4P3/2BPn3/2P2N2/P4PPP/R1BQ1RK1 b - - 0 10", this, "b2c3"); ' class="line1">10.bc</span> 
 <span onclick='loadMove("r1bq1rk1/ppp2ppp/2n5/3pP3/2BPn3/2P2N2/P4PPP/R1BQ1RK1 w - d6 0 11", this, "d7d5"); ' class="line1">d5</span> 
, правда, и тогда после
 <span onclick='loadMove("r1bq1rk1/ppp2ppp/2nP4/8/2BPn3/2P2N2/P4PPP/R1BQ1RK1 b - - 0 11", this, "e5d6"); ' class="line1">11.ed</span> 
позиция белых заслуживает предпочтения.</p>
<p>
 <span onclick='loadMove("r1bq1rk1/pppp1ppp/2n5/4P3/1bBP4/2P2N2/P4PPP/R1BQ1RK1 b - - 0 10", this, "b2c3"); ' class="line0">10.b2:c3</span> 
 <span onclick='loadMove("r1bq1rk1/pppp1ppp/2n5/4P3/2BP4/2b2N2/P4PPP/R1BQ1RK1 w - - 0 11", this, "b4c3"); ' class="line0">Сb4:c3</span> 
</p>
<!--img src="images/figurnaya_ataka-22.png" style="width:142pt;height:142pt;"/-->
<div class="chessBoard analysis nobuttons" data-start-fen="r1bq1rk1/pppp1ppp/2n5/4P3/2BP4/2b2N2/P4PPP/R1BQ1RK1 w - - 0 11"></div>
<div class="warning message">
<p>Вопрос №1</p>
<p>Ход белых.</p>
<p>Под боем ладья a1. Как вы сыграете?</p>
</div>
<p>Ну что тут сказать. Нужна нам эта ленивая домашняя ладья! Мы будем короля атаковать! Цель пункт h7!</p>
<p>
 <span onclick='loadMove("r1bq1rk1/pppp1ppp/2n5/4P1N1/2BP4/2b5/P4PPP/R1BQ1RK1 b - - 0 11", this, "f3g5"); ' class="line0">11.Кf3-g5!</span> 
 <span onclick='loadMove("r1bq1rk1/pppp1ppp/2n5/4P1N1/2BP4/8/P4PPP/b1BQ1RK1 w - - 0 12", this, "c3a1"); ' class="line0">Сc3:a1</span> 
</p>
<p>После
 <span onclick='loadMove("r1bq1rk1/ppp2ppp/2n5/3pP1N1/2BP4/2b5/P4PPP/R1BQ1RK1 w - d6 0 12", this, "d7d5"); ' class="line1">11...d7-d5</span> 
 <span onclick='loadMove("r1bq1rk1/ppp2ppp/2nP4/6N1/2BP4/2b5/P4PPP/R1BQ1RK1 b - - 0 12", this, "e5d6"); ' class="line1">12.e5:d6</span> 
 <span onclick='loadMove("r1b2rk1/ppp2ppp/2nq4/6N1/2BP4/2b5/P4PPP/R1BQ1RK1 w - - 0 13", this, "d8d6"); ' class="line1">Фd8:d6</span> 
 <span onclick='loadMove("r1b2rk1/ppp2ppp/2nq4/6N1/2BP4/2bQ4/P4PPP/R1B2RK1 b - - 0 13", this, "d1d3"); ' class="line1">13.Фd1-d3</span> 
белые с угрозой мата и нападением на слона выигрывают фигуру.</p>
<p>
 <span onclick='loadMove("r1bq1rk1/pppp1ppp/2n5/4P1NQ/2BP4/8/P4PPP/b1B2RK1 b - - 0 12", this, "d1h5"); ' class="line0">12.Фd1-h5</span> 
</p>
<!--img src="images/figurnaya_ataka-23.png" style="width:142pt;height:143pt;"/-->
<div class="chessBoard analysis nobuttons" data-start-fen="r1bq1rk1/pppp1ppp/2n5/4P1NQ/2BP4/8/P4PPP/b1B2RK1 b - - 0 12"></div>
<p>Крепость черных атакована с обоих флангов. Пункты h7 и f7 слабые.</p>
<!--p>22</p-->
<p>
 <span onclick='loadMove("r1bq1rk1/pppp1pp1/2n4p/4P1NQ/2BP4/8/P4PPP/b1B2RK1 w - - 0 13", this, "h7h6"); ' class="line0">12...h7-h6</span> 
</p>
<p>
 <span onclick='loadMove("r1bq1rk1/pppp1Np1/2n4p/4P2Q/2BP4/8/P4PPP/b1B2RK1 b - - 0 13", this, "g5f7"); ' class="line0">13.Кg5:f7</span> 
 <span onclick='loadMove("r1bq2k1/pppp1rp1/2n4p/4P2Q/2BP4/8/P4PPP/b1B2RK1 w - - 0 14", this, "f8f7"); ' class="line0">Лf8:f7</span> 
</p>
<p>
 <span onclick='loadMove("r1bq2k1/pppp1Qp1/2n4p/4P3/2BP4/8/P4PPP/b1B2RK1 b - - 0 14", this, "h5f7"); ' class="line0">14.Фh5:f7+</span> 
</p>
<p>(самое простое)</p>
<p>
 <span onclick='loadMove("r1bq4/pppp1Qpk/2n4p/4P3/2BP4/8/P4PPP/b1B2RK1 w - - 0 15", this, "g8h7"); ' class="line0">14...Крg8-h7</span> 
</p>
<!--img src="images/figurnaya_ataka-24.png" style="width:143pt;height:143pt;"/-->
<div class="chessBoard analysis nobuttons" data-start-fen="r1bq4/pppp1Qpk/2n4p/4P3/2BP4/8/P4PPP/b1B2RK1 w - - 0 15"></div>
<div class="warning message">
<p>Вопрос №2</p>
<p>Ход белых. Как завершить атаку?</p>
</div>
<p>Здесь решает очень эффектное</p>
<p>
 <span onclick='loadMove("r1bq4/pppp1Qpk/2n4p/4P1B1/2BP4/8/P4PPP/b4RK1 b - - 0 15", this, "c1g5"); ' class="line0">15.Сc1-g5!</span> 
 <span onclick='loadMove("r1b5/pppp1Qpk/2n4p/4P1q1/2BP4/8/P4PPP/b4RK1 w - - 0 16", this, "d8g5"); ' class="line0">Фd8:g5</span> 
</p>
<p>
 <span onclick='loadMove("r1bq4/pppp1Qpk/2n5/4P1p1/2BP4/8/P4PPP/b4RK1 w - - 0 16", this, "h6g5"); ' class="line1">15...h6:g5</span> 
 <span onclick='loadMove("r1bq4/pppp2pk/2n5/4P1pQ/2BP4/8/P4PPP/b4RK1 b - - 0 16", this, "f7h5"); ' class="line1">16.Фf7-h5X</span> 
</p>
<p>
 <span onclick='loadMove("r1b5/pppp1Qpk/2n4p/4P1q1/3P4/3B4/P4PPP/b4RK1 b - - 0 16", this, "c4d3"); ' class="line0">16.Сc4-d3+</span> 
 <span onclick='loadMove("r1b4k/pppp1Qp1/2n4p/4P1q1/3P4/3B4/P4PPP/b4RK1 w - - 0 17", this, "h7h8"); ' class="line0">Крh7-h8</span> 
 <span onclick='loadMove("r1b1Q2k/pppp2p1/2n4p/4P1q1/3P4/3B4/P4PPP/b4RK1 b - - 0 17", this, "f7e8"); ' class="line0">17.Фf7-e8X</span> 
</p>
<p>Рассмотрим более сложный пример, где так же имеет место сочетание атаки пункта h7 с атакой пункта f7.</p>
<!--p>23</p-->
</div> <!-- score -->
</div> <!-- section -->

<div class="section">
<div class="chessBoard small floater" data-start-fen="r1b2rk1/pp1n1ppp/2pq4/8/2BP4/2R2N2/PPQ2PPP/5RK1 w - - 0 1"></div>
<div class="score">
 <span class="line0" onclick='loadMove("r1b2rk1/pp1n1ppp/2pq4/8/2BP4/2R2N2/PPQ2PPP/5RK1 w - - 0 1", this, ""); '>[...]</span> 
<h5>ФАРАГО - БЕЛИКОВ<br>Албена, 1984</h5>
<!--img src="images/figurnaya_ataka-25.png" style="width:142pt;height:141pt;"/-->
<div class="chessBoard analysis nobuttons" data-start-fen="r1b2rk1/pp1n1ppp/2pq4/8/2BP4/2R2N2/PPQ2PPP/5RK1 w - - 0 1"></div>
<div class="warning message">
<p>Вопрос №3</p>
<p>Ход белых.</p>
<p>Как бы вы сыграли?</p>
</div>
<p>Началу атаки положило нападение на пункт h7.</p>
<p>
 <span onclick='loadMove("r1b2rk1/pp1n1ppp/2pq4/6N1/2BP4/2R5/PPQ2PPP/5RK1 b - - 0 1", this, "f3g5"); ' class="line0">1.Кf3-g5!</span> 
 <span onclick='loadMove("r1b2rk1/pp3ppp/2pq1n2/6N1/2BP4/2R5/PPQ2PPP/5RK1 w - - 0 2", this, "d7f6"); ' class="line0">Кd7-f6</span> 
</p>
<p>В случае
 <span onclick='loadMove("r1b2rk1/pp1n1ppp/2p3q1/6N1/2BP4/2R5/PPQ2PPP/5RK1 w - - 0 2", this, "d6g6"); ' class="line1">1...Фd6-g6</span> 
 <span onclick='loadMove("r1b2rk1/pp1n1ppp/2p3Q1/6N1/2BP4/2R5/PP3PPP/5RK1 b - - 0 2", this, "c2g6"); ' class="line1">2.Фc2:g6</span> 
 <span onclick='loadMove("r1b2rk1/pp1n1pp1/2p3p1/6N1/2BP4/2R5/PP3PPP/5RK1 w - - 0 3", this, "h7g6"); ' class="line1">h7:g6</span> 
 <span onclick='loadMove("r1b2rk1/pp1n1pp1/2p3p1/6N1/2BP4/2R5/PP3PPP/4R1K1 b - - 0 3", this, "f1e1"); ' class="line1">3.Лf1-e1</span> 
дальнейшее вторжение ладьи на e7 приводило черных к краху.</p>
<!--img src="images/figurnaya_ataka-26.png" style="width:142pt;height:143pt;"/-->
<div class="chessBoard analysis nobuttons" data-start-fen="r1b2rk1/pp3ppp/2pq1n2/6N1/2BP4/2R5/PPQ2PPP/5RK1 w - - 0 2"></div>
<div class="warning message">
<p>Вопрос №4</p>
<p>Ход белых.</p>
<p>Как продолжить наступление?</p>
</div>
<!--p>24</p-->
<p>Атакуем защитника поля h7 (коня f6) и вынуждаем черных ослабить свое пешечное прикрытие.</p>
<p>
 <span onclick='loadMove("r1b2rk1/pp3ppp/2pq1n2/6N1/2BP4/5R2/PPQ2PPP/5RK1 b - - 0 2", this, "c3f3"); ' class="line0">2.Лc3-f3!</span> 
 <span onclick='loadMove("r1b2rk1/pp3p1p/2pq1np1/6N1/2BP4/5R2/PPQ2PPP/5RK1 w - - 0 3", this, "g7g6"); ' class="line0">g7-g6</span> 
</p>
<!--img src="images/figurnaya_ataka-27.png" style="width:143pt;height:142pt;"/-->
<div class="chessBoard analysis nobuttons" data-start-fen="r1b2rk1/pp3p1p/2pq1np1/6N1/2BP4/5R2/PPQ2PPP/5RK1 w - - 0 3"></div>
<div class="warning message">
<p>Вопрос №5</p>
<p>Ход белых.</p>
<p>Итак, мы вынудили соперника на ослабляющее продвижение <b>g7-g6</b>. Пункт h7 пока надежно защищен. Как играть дальше?</p>
</div>
<p>Переносим атаку на пункт f7!</p>
<p>
 <span onclick='loadMove("r1b2rk1/pp3p1p/2pq1np1/6N1/2BP4/1Q3R2/PP3PPP/5RK1 b - - 0 3", this, "c2b3"); ' class="line0">3.Фc2-b3</span> 
 <span onclick='loadMove("r1b2rk1/pp3p1p/2pq2p1/3n2N1/2BP4/1Q3R2/PP3PPP/5RK1 w - - 0 4", this, "f6d5"); ' class="line0">Кf6-d5</span> 
</p>
<p>Защитить пункт f7 посредством
 <span onclick='loadMove("r1b2rk1/pp2qp1p/2p2np1/6N1/2BP4/1Q3R2/PP3PPP/5RK1 w - - 0 4", this, "d6e7"); ' class="line1">3...Фd6-e7</span> 
нельзя из-за
 <span onclick='loadMove("r1b2rk1/pp2qN1p/2p2np1/8/2BP4/1Q3R2/PP3PPP/5RK1 b - - 0 4", this, "g5f7"); ' class="line1">4.Кg5:f7</span> 
 <span onclick='loadMove("r1b3k1/pp2qr1p/2p2np1/8/2BP4/1Q3R2/PP3PPP/5RK1 w - - 0 5", this, "f8f7"); ' class="line1">Лf8:f7</span> 
 <span onclick='loadMove("r1b3k1/pp2qB1p/2p2np1/8/3P4/1Q3R2/PP3PPP/5RK1 b - - 0 5", this, "c4f7"); ' class="line1">5.Сc4:f7+</span> 
 <span onclick='loadMove("r1b3k1/pp3q1p/2p2np1/8/3P4/1Q3R2/PP3PPP/5RK1 w - - 0 6", this, "e7f7"); ' class="line1">Фe7:f7</span> 
 <span onclick='loadMove("r1b3k1/pp3q1p/2p2Rp1/8/3P4/1Q6/PP3PPP/5RK1 b - - 0 6", this, "f3f6"); ' class="line1">6.Лf3:f6</span> 
Вот и сказалось ослабление пункта f6!</p>
<!--img src="images/figurnaya_ataka-28.png" style="width:143pt;height:143pt;"/-->
<div class="chessBoard analysis nobuttons" data-start-fen="r1b2rk1/pp3p1p/2pq2p1/3n2N1/2BP4/1Q3R2/PP3PPP/5RK1 w - - 0 4"></div>
<!--p>25</p-->
<div class="warning message">
<p>Вопрос №6</p>
<p>Ход белых.</p>
<p>Черные перекрыли опасную диагональ. Что дальше?</p>
</div>
<p>А дальше начинаем атаковать поле f6.</p>
<p>
 <span onclick='loadMove("r1b2rk1/pp3p1p/2pq2p1/3n4/2BPN3/1Q3R2/PP3PPP/5RK1 b - - 0 4", this, "g5e4"); ' class="line0">4.Кg5-e4</span> 
 <span onclick='loadMove("r1bq1rk1/pp3p1p/2p3p1/3n4/2BPN3/1Q3R2/PP3PPP/5RK1 w - - 0 5", this, "d6d8"); ' class="line0">Фd6-d8</span> 
 <span onclick='loadMove("r1bq1rk1/pp3p1p/2p3p1/3B4/3PN3/1Q3R2/PP3PPP/5RK1 b - - 0 5", this, "c4d5"); ' class="line0">5.Сc4:d5</span> 
 <span onclick='loadMove("r1bq1rk1/pp3p1p/6p1/3p4/3PN3/1Q3R2/PP3PPP/5RK1 w - - 0 6", this, "c6d5"); ' class="line0">c6:d5</span> 
 <span onclick='loadMove("r1bq1rk1/pp3p1p/5Np1/3p4/3P4/1Q3R2/PP3PPP/5RK1 b - - 0 6", this, "e4f6"); ' class="line0">6.Кe4-f6+</span> 
 <span onclick='loadMove("r1bq1r2/pp3pkp/5Np1/3p4/3P4/1Q3R2/PP3PPP/5RK1 w - - 0 7", this, "g8g7"); ' class="line0">Крg8-g7</span> 
</p>
<!--img src="images/figurnaya_ataka-29.png" style="width:141pt;height:141pt;"/-->
<div class="chessBoard analysis nobuttons" data-start-fen="r1bq1r2/pp3pkp/5Np1/3p4/3P4/1Q3R2/PP3PPP/5RK1 w - - 0 7"></div>
<p>Белые ведут атаку просто и очень логично. Конь влез в дыру на f6, и теперь следует маневр ферзем.</p>
<p>
 <span onclick='loadMove("r1bq1r2/pp3pkp/5Np1/3p4/3P4/4QR2/PP3PPP/5RK1 b - - 0 7", this, "b3e3"); ' class="line0">7.Фb3-e3</span> 
 <span onclick='loadMove("r1bq1r2/pp3pk1/5Np1/3p3p/3P4/4QR2/PP3PPP/5RK1 w - h6 0 8", this, "h7h5"); ' class="line0">h7-h5</span> 
</p>
<p>Это очередное ослабление вызвано тем, что черному королю очень не хочется после <b>Фe5</b> вылезать на поле h6 перед своей пешечной цепью.</p>
<p>
 <span onclick='loadMove("r1bq1r2/pp3pk1/5Np1/3pQ2p/3P4/5R2/PP3PPP/5RK1 b - - 0 8", this, "e3e5"); ' class="line0">8.Фe3-e5</span> 
 <span onclick='loadMove("r1bq1r2/pp3p2/5Npk/3pQ2p/3P4/5R2/PP3PPP/5RK1 w - - 0 9", this, "g7h6"); ' class="line0">Крg7-h6</span> 
</p>
<!--img src="images/figurnaya_ataka-30.png" style="width:142pt;height:142pt;"/-->
<div class="chessBoard analysis nobuttons" data-start-fen="r1bq1r2/pp3p2/5Npk/3pQ2p/3P4/5R2/PP3PPP/5RK1 w - - 0 9"></div>
<!--p>26</p-->
<div class="warning message">
<p>Вопрос №7</p>
<p>Ход белых.</p>
<p>Как они завершили атаку?</p>
</div>
<p>Последовала жертва коня и королю все-таки пришлось идти погулять.</p>
<p>
 <span onclick='loadMove("r1bq1r2/pp3p2/6pk/3pQ2N/3P4/5R2/PP3PPP/5RK1 b - - 0 9", this, "f6h5"); ' class="line0">9.Кf6:h5!</span> 
 <span onclick='loadMove("r2q1r2/pp3p2/6pk/3pQ2N/3P2b1/5R2/PP3PPP/5RK1 w - - 0 10", this, "c8g4"); ' class="line0">Сc8-g4</span> 
</p>
<p>
 <span onclick='loadMove("r1bq1r2/pp3p2/7k/3pQ2p/3P4/5R2/PP3PPP/5RK1 w - - 0 10", this, "g6h5"); ' class="line1">9...g6:h5</span> 
 <span onclick='loadMove("r1bq1r2/pp3p2/5R1k/3pQ2p/3P4/8/PP3PPP/5RK1 b - - 0 10", this, "f3f6"); ' class="line1">10.Лf3-f6+</span> 
</p>
<p>
 <span onclick='loadMove("r2q1r2/pp3pQ1/6pk/3p3N/3P2b1/5R2/PP3PPP/5RK1 b - - 0 10", this, "e5g7"); ' class="line0">10.Фe5-g7+</span> 
 <span onclick='loadMove("r2q1r2/pp3pQ1/6p1/3p2kN/3P2b1/5R2/PP3PPP/5RK1 w - - 0 11", this, "h6g5"); ' class="line0">Крh6-g5</span> 
</p>
<p>
 <span onclick='loadMove("r2q1r2/pp3pQ1/6p1/3p3k/3P2b1/5R2/PP3PPP/5RK1 w - - 0 11", this, "h6h5"); ' class="line0">10...Крh6:h5</span> 
 <span onclick='loadMove("r2q1r2/pp3p1Q/6p1/3p3k/3P2b1/5R2/PP3PPP/5RK1 b - - 0 11", this, "g7h7"); ' class="line0">11.Фg7-h7+</span> 
 <span onclick='loadMove("r2q1r2/pp3p1Q/6p1/3p2k1/3P2b1/5R2/PP3PPP/5RK1 w - - 0 12", this, "h5g5"); ' class="line0">Крh5-g5</span> 
 <span onclick='loadMove("r2q1r2/pp3p1Q/6p1/3p2k1/3P2bP/5R2/PP3PP1/5RK1 b - h3 0 12", this, "h2h4"); ' class="line0">12.h2-h4X</span> 
</p>
<p>
 <span onclick='loadMove("r2q1r2/pp3pQ1/6p1/3p3k/3P2b1/6R1/PP3PPP/5RK1 b - - 0 11", this, "f3g3"); ' class="line0">11.Лf3-g3</span> 
</p>
<p>Черные сдались.</p>
<p>[1:0]</p>
</div> <!-- score -->
</div> <!-- section -->


</div> <!-- iBook -->
{% endblock content %}

