{% extends '../../base.htm' %}
{% load static %}
{% block title %}
<title>{{book.title}} | {%for author in book.authors.all%} {%if author.first_name%} {{author.first_name}} {%endif%} {%if author.second_name%} {{author.second_name}} {%endif%} {%if forloop.counter == book.authors.all.count%} {{author.last_name}} {%else%} {{author.last_name}}, {%endif%} {%endfor%} | {{book.year}}</title>
{% endblock title %}
{% block content %}

<div class="iBook">

<div class="section">
<div class="small floater">
 <img src="{% static 'images/'|add:book.slug|add:'/thumb.jpg' %}" />
</div>
<div class="score">
<h4>ВЫДАЮЩИЕСЯ ШАХМАТИСТЫ МИРА</h4>

<div class="diagram">
<!--img src="steiniz_files/steiniz-1.png" style="width:216pt;height:366pt;"/-->
</div>

<div class="diagram">
<h2>Я. И. НЕЙШТАДТ,</h2>
<h3>мастер спорта СССР</h3>
</div>

<div class="diagram">
<h1>ПЕРВЫЙ ЧЕМПИОН МИРА</h1>
</div>

<div class="diagram">
<p>ИЗДАТЕЛЬСТВО</p>
<p>«ФИЗКУЛЬТУРА И СПОРТ»</p>
<p>МОСКВА</p>
<p>1971</p>
</div>

<div class="diagram">
<p>7А91</p>
<p>Н45</p>
<p><b>Я. И. Нейштадт</b></p>
<p>Н45 <b>Первый чемпион мира</b>. М., «Физкультура и спорт», 1971.</p>
<p>288 с. с илл.</p>
</div>

<div class="diagram">
<p>Книга, написанная советским теоретиком и историком шахмат Я. И. Нейштадтом, посвящена творчеству выдающегося шахматного мыслителя, первого официального чемпиона мира Вильгельма Стейница. Она продолжает серию книг о шахматных корифеях и их месте в истории шахмат. Автор знакомит читателей с богатым шахматным наследием Стейница, его спортивной биографией, вехами жизненного пути.</p>
<p>Изучение творчества классика шахматной стратегии имеет не только познавательное значение. Любителям шахмат, стремящимся к практическому совершенствованию, книга Я. И. Нейштадта принесет несомненную пользу.</p>
</div>

<div class="diagram">
<p>6-9-2</p>
<p>199-71</p>
<p>7А91</p>
</div>

</div> <!-- score -->
</div> <!-- section -->

</div> <!-- iBook -->
{% endblock content %}

