{% extends '../../base.htm' %}
{% load static %}
{% block title %}
<title>{{book.title}} | {%for author in book.authors.all%} {%if author.first_name%} {{author.first_name}} {%endif%} {%if author.second_name%} {{author.second_name}} {%endif%} {%if forloop.counter == book.authors.all.count%} {{author.last_name}} {%else%} {{author.last_name}}, {%endif%} {%endfor%} | {{book.year}}</title>
{% endblock title %}
{% block content %}

<div class="iBook">

<div class="section">
<div class="small floater">
 <img src="{% static 'images/'|add:book.slug|add:'/thumb.jpg' %}" />
</div>
<div class="score">

<div class="diagram">
<h2>Михаил Таль, Яков Дамский</h2>
<h1>На алтарь Каиссы</h1>
</div>
<div class="diagram">
<p>РИПОЛ КЛАССИК</p>
<p>МОСКВА</p>
<p>2006</p>
</div>
<div class="diagram">
<p>УДК 794</p>
<p>ББК 75.581</p>
<p>Т16</p>
</div>
<div class="diagram">
<p>Серия «Великие шахматисты мира» основана в 2002 г.</p>
<p>В оформлении использованы работы художницы Г. Сатониной</p>
<p>Фотографии из периодических изданий, архивов Я. Дамского и семьи М. Таля</p>
</div>
<div class="diagram">
<p>Таль, М. Н.</p>
<p>Т16 На алтарь Каиссы / М. Н. Таль, Я. В. Дамский. — М.: РИПОЛ классик, 2006. — 480 с.: ил. — (Великие шахматисты мира).</p>
<p>ISBN 5-7905-4758-3</p>
</div>
<div class="message">
<p>Эта книга — не только самая полная биография 8-го в истории чемпионата мира, но и развернутый, тщательно прорисованный портрет одного из самых популярных и любимых шахматистов планеты. Жизненные и шахматные принципы Михаила Таля выявляются и в диалоге авторов, и в примечаниях к его блистательным, неповторимым партиям, которые учат побеждать.</p>
</div>
<div class="message">
<p>Михаил Таль (1936-1992) и Яков Дамский (1934) дружили ровно треть века. Месяцами жили друг у друга - в Москве и в Риге, обсуждали самые актуальные проблемы в шахматах и в жизни. Навещали друг друга в больницах, спорили, сходились во мнениях и оставались каждый при своем. Много работали вместе, много застольничали...</p>
<p>Такие отношения позволили авторам сделать и эту книгу не совсем обычной...</p>
</div>
<div class="diagram">
<p>УДК 794</p>
<p>ББК 75.581</p>
</div>
<div class="message">
<div style="float:left;">
<p>ISBN 5-7905-4758-3</p>
</div>
<div style="float:right">
<p>© М. Н. Таль (наследники), Я. В. Дамский</p>
<p>© ООО «ИД «РИПОЛ классик», 2006</p>
</div>
<div class="clear"></div>
</div>
</div> <!-- score -->
</div> <!-- section -->

</div> <!-- iBook -->
{% endblock content %}

