{% extends '../../base.htm' %}
{% load static %}
{% block title %}
<title>18 Noteboom - Doesburgh, Netherlands 1931, Queen's Gambit Declined | {{book.title}} | {%for author in book.authors.all%} {%if author.first_name%} {{author.first_name}} {%endif%} {%if author.second_name%} {{author.second_name}} {%endif%} {%if forloop.counter == book.authors.all.count%} {{author.last_name}} {%else%} {{author.last_name}}, {%endif%} {%endfor%} | {{book.year}}</title>
{% endblock title %}
{% block content %}

<div class="iBook">

<div class="section">
<div class="chessBoard small floater" data-start-fen="rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w KQkq - 0 1"></div>
<div class="score">
 <span class="line0" onclick='loadMove("rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w KQkq - 0 1", this, ""); '>[...]</span> 
<h3>Game 18<br />Noteboom - Doesburgh<br />Netherlands 1931<br />Queen's Gambit Declined</h3>
<p class="longNotation">
 <span onclick='loadMove("rnbqkbnr/pppppppp/8/8/3P4/8/PPP1PPPP/RNBQKBNR b KQkq d3 0 1", this, "d2d4"); ' class="line0">1.d4</span> 
 <span class="ellipsis0">...</span> 
</p>
<p>In the opening, it is advantageous to occupy the centre with a pawn and to develop the pieces with a view to controlling the centre.</p>
<p>White begins by placing a pawn where it takes complete possession of one important square and attacks two others. Control of the two squares c5 and c5 makes it impossible for Black to place pieces there. White can hope to use e5 and c5 as outposts for his pieces, which will have the support of the d-pawn.</p>
<p>The advance of the d pawn serves an additional purpose in opening lines for White's queen and c1-bishop.</p>
<p class="longNotation">
 <span class="ellipsis0">1. ...</span> 
 <span onclick='loadMove("rnbqkbnr/ppp1pppp/8/3p4/3P4/8/PPP1PPPP/RNBQKBNR w KQkq d6 0 2", this, "d7d5"); ' class="line0">d5</span> 
</p>
<p>This is the simplest way for Black to get an equal grip on the centre and to prevent White acquiring more territory with
 <span onclick='loadMove("rnbqkbnr/ppp1pppp/8/3p4/3PP3/8/PPP2PPP/RNBQKBNR b KQkq e3 0 2", this, "e2e4"); ' class="line1">2.e4</span> 
.</p>
<p class="longNotation">
 <span onclick='loadMove("rnbqkbnr/ppp1pppp/8/3p4/2PP4/8/PP2PPPP/RNBQKBNR b KQkq c3 0 2", this, "c2c4"); ' class="line0">2.c4</span> 
 <span class="ellipsis0">...</span> 
</p>
<p>White offers a pawn to divert Black's d-pawn from the centre. In effect, it is an offer to exchange a flank pawn for a centre pawn, as White can regain the pawn without any trouble.</p>
<p>Concealed in White's proposal is a threat of destroying Black's pawn-centre by
 <!--span onclick='loadMove("rnbqkbnr/ppp1pppp/8/3p4/2PP4/8/PP2PPPP/RNBQKBNR w KQkq - 0 3", this, "c2c4"); ' class="line1">2...z0</span--> 
 <span onclick='loadMove("rnbqkbnr/ppp1pppp/8/3P4/3P4/8/PP2PPPP/RNBQKBNR b KQkq - 0 3", this, "c4d5"); ' class="line1">3.cxd5</span> 
 <span onclick='loadMove("rnb1kbnr/ppp1pppp/8/3q4/3P4/8/PP2PPPP/RNBQKBNR w KQkq - 0 4", this, "d8d5"); ' class="line1">Qxd5</span> 
 <span onclick='loadMove("rnb1kbnr/ppp1pppp/8/3q4/3P4/2N5/PP2PPPP/R1BQKBNR b KQkq - 0 4", this, "b1c3"); ' class="line1">4.Nc3</span> 
(gaining a tempo, as White develops a piece while Black must move the same one again)
 <span onclick='loadMove("rnb1kbnr/ppp1pppp/8/q7/3P4/2N5/PP2PPPP/R1BQKBNR w KQkq - 0 5", this, "d5a5"); ' class="line1">4...Qa5</span> 
 <span onclick='loadMove("rnb1kbnr/ppp1pppp/8/q7/3PP3/2N5/PP3PPP/R1BQKBNR b KQkq e3 0 5", this, "e2e4"); ' class="line1">5.e4</span> 
, and White's control of the centre is imposing.</p>
<p class="longNotation">
 <span class="ellipsis0">2. ...</span> 
 <span onclick='loadMove("rnbqkbnr/ppp2ppp/4p3/3p4/2PP4/8/PP2PPPP/RNBQKBNR w KQkq - 0 3", this, "e7e6"); ' class="line0">e6</span> 
</p>
<p>Black defends the centre by supporting the d-pawn with another pawn. If White plays
 <span onclick='loadMove("rnbqkbnr/ppp2ppp/4p3/3P4/3P4/8/PP2PPPP/RNBQKBNR b KQkq - 0 3", this, "c4d5"); ' class="line1">3.cxd5</span> 
. Black can recapture with a pawn and maintain a pawn in the centre.</p>
<p>Black does not capture White's c4-pawn as that means surrendering the centre and his grip on c4.</p>
<p>The shutting in of his c8-bishop (after
 <span onclick='loadMove("rnbqkbnr/pp2pppp/2p5/3p4/2PP4/8/PP2PPPP/RNBQKBNR w KQkq - 0 3", this, "c7c6"); ' class="line1">2...c6</span> 
) and the consequent difficulty in developing that piece effectively is one of the reasons for the popularity of the Queen's Gambit for White.</p>
<p class="longNotation">
 <span onclick='loadMove("rnbqkbnr/ppp2ppp/4p3/3p4/2PP4/2N5/PP2PPPP/R1BQKBNR b KQkq - 0 3", this, "b1c3"); ' class="line0">3.Nc3</span> 
 <span class="ellipsis0">...</span> 
</p>
<p>A good move, as the knight attacks the two central squares e4 and d5, adding its influence to the pawn's pressure on the latter.</p>
<p class="longNotation">
 <span class="ellipsis0">3. ...</span> 
<span>
 <span onclick='loadMove("rnbqkb1r/ppp2ppp/4pn2/3p4/2PP4/2N5/PP2PPPP/R1BQKBNR w KQkq - 0 4", this, "g8f6"); ' class="line0">Nf6</span> 
 <b>(D)</b> 
</span>
</p>
<p>Black's knight develops toward the centre, where its mobility is greatest and where it can counter the pressure exerted by White's knight.</p>
<div class="chessBoard analysis nobuttons" data-start-fen="rnbqkb1r/ppp2ppp/4pn2/3p4/2PP4/2N5/PP2PPPP/R1BQKBNR w KQkq - 0 4"></div>
<p class="longNotation">
 <span onclick='loadMove("rnbqkb1r/ppp2ppp/4pn2/3p2B1/2PP4/2N5/PP2PPPP/R2QKBNR b KQkq - 0 4", this, "c1g5"); ' class="line0">4.Bg5</span> 
 <span class="ellipsis0">...</span> 
</p>
<p>A pin which threatens
 <!--span onclick='loadMove("rnbqkb1r/ppp2ppp/4pn2/3p2B1/2PP4/2N5/PP2PPPP/R2QKBNR w KQkq - 0 5", this, "c1g5"); ' class="line1">4...z0</span--> 
 <span onclick='loadMove("rnbqkb1r/ppp2ppp/4pn2/3P2B1/3P4/2N5/PP2PPPP/R2QKBNR b KQkq - 0 5", this, "c4d5"); ' class="line1">5.cxd5</span> 
 <span onclick='loadMove("rnbqkb1r/ppp2ppp/5n2/3p2B1/3P4/2N5/PP2PPPP/R2QKBNR w KQkq - 0 6", this, "e6d5"); ' class="line1">exd5</span> 
 <span onclick='loadMove("rnbqkb1r/ppp2ppp/5B2/3p4/3P4/2N5/PP2PPPP/R2QKBNR b KQkq - 0 6", this, "g5f6"); ' class="line1">6.Bxf6</span> 
, when Black must either submit to being left with a badly doubled pawn by
 <span onclick='loadMove("rnbqkb1r/ppp2p1p/5p2/3p4/3P4/2N5/PP2PPPP/R2QKBNR w KQkq - 0 7", this, "g7f6"); ' class="line1">6...gxf6</span> 
or lose a pawn after
 <span onclick='loadMove("rnb1kb1r/ppp2ppp/5q2/3p4/3P4/2N5/PP2PPPP/R2QKBNR w KQkq - 0 7", this, "d8f6"); ' class="line2">6...Qxf6</span> 
 <span onclick='loadMove("rnb1kb1r/ppp2ppp/5q2/3N4/3P4/8/PP2PPPP/R2QKBNR b KQkq - 0 7", this, "c3d5"); ' class="line2">7.Nxd5</span> 
.</p>
<p>The threat is actually of minor importance. White's real aim in pinning the knight is not to institute a threat that can so easily be parried. What White is interested in is the most effective placement of his pieces, and the development of the bishop at g5 is extremely strong. The restraint it places on Black's knight and the cramping effect it has on Black's whole game is not easily shaken off.</p>
<p class="longNotation">
 <span class="ellipsis0">4. ...</span> 
<span>
 <span onclick='loadMove("r1bqkb1r/pppn1ppp/4pn2/3p2B1/2PP4/2N5/PP2PPPP/R2QKBNR w KQkq - 0 5", this, "b8d7"); ' class="line0">Nbd7</span> 
 <b>(D)</b> 
</span>
</p>
<p>In queen's pawn openings. Black's queen's knight does its best job at d7, not c6. At d7 it supports the other knight and helps prepare the advance of the c-pawn to c5. The b8-knight must not move to c6, where it obstructs the c-pawn. The c-pawn must be free to advance and attack White's centre.</p>
<div class="chessBoard analysis nobuttons" data-start-fen="r1bqkb1r/pppn1ppp/4pn2/3p2B1/2PP4/2N5/PP2PPPP/R2QKBNR w KQkq - 0 5"></div>
<p>Black incidentally sets a trap with the text-move, which is designed to catch the greedy player.</p>
<p class="longNotation">
 <span onclick='loadMove("r1bqkb1r/pppn1ppp/4pn2/3p2B1/2PP4/2N1P3/PP3PPP/R2QKBNR b KQkq - 0 5", this, "e2e3"); ' class="line0">5.e3</span> 
 <span class="ellipsis0">...</span> 
</p>
<p>Why not win a pawn by
 <span onclick='loadMove("r1bqkb1r/pppn1ppp/4pn2/3P2B1/3P4/2N5/PP2PPPP/R2QKBNR b KQkq - 0 5", this, "c4d5"); ' class="line1">5.cxd5</span> 
 <span onclick='loadMove("r1bqkb1r/pppn1ppp/5n2/3p2B1/3P4/2N5/PP2PPPP/R2QKBNR w KQkq - 0 6", this, "e6d5"); ' class="line1">exd5</span> 
 <span onclick='loadMove("r1bqkb1r/pppn1ppp/5n2/3N2B1/3P4/8/PP2PPPP/R2QKBNR b KQkq - 0 6", this, "c3d5"); ' class="line1">6.Nxd5</span> 
instead? There would then follow
 <span onclick='loadMove("r1bqkb1r/pppn1ppp/8/3n2B1/3P4/8/PP2PPPP/R2QKBNR w KQkq - 0 7", this, "f6d5"); ' class="line1">6...Nxd5!</span> 
(the knight breaks the pin by brute force)
 <span onclick='loadMove("r1bBkb1r/pppn1ppp/8/3n4/3P4/8/PP2PPPP/R2QKBNR b KQkq - 0 7", this, "g5d8"); ' class="line1">7.Bxd8</span> 
 <span onclick='loadMove("r1bBk2r/pppn1ppp/8/3n4/1b1P4/8/PP2PPPP/R2QKBNR w KQkq - 0 8", this, "f8b4"); ' class="line1">Bb4+</span> 
 <span onclick='loadMove("r1bBk2r/pppn1ppp/8/3n4/1b1P4/8/PP1QPPPP/R3KBNR b KQkq - 0 8", this, "d1d2"); ' class="line1">8.Qd2</span> 
 <span onclick='loadMove("r1bBk2r/pppn1ppp/8/3n4/3P4/8/PP1bPPPP/R3KBNR w KQkq - 0 9", this, "b4d2"); ' class="line1">Bxd2+</span> 
 <span onclick='loadMove("r1bBk2r/pppn1ppp/8/3n4/3P4/8/PP1KPPPP/R4BNR b kq - 0 9", this, "e1d2"); ' class="line1">9.Kxd2</span> 
 <span onclick='loadMove("r1bk3r/pppn1ppp/8/3n4/3P4/8/PP1KPPPP/R4BNR w - - 0 10", this, "e8d8"); ' class="line1">Kxd8</span> 
and Black has gained a piece.</p>
<p>White could not fall into the trap if he followed the principle which covers these cases:</p>
<p>Do not chase after pawns at the expense of your development</p>
<p>White's last move supports the central d4-pawn and creates an outlet for the f1-bishop.</p>
<p class="longNotation">
 <span class="ellipsis0">5. ...</span> 
 <span onclick='loadMove("r1bqkb1r/pp1n1ppp/2p1pn2/3p2B1/2PP4/2N1P3/PP3PPP/R2QKBNR w KQkq - 0 6", this, "c7c6"); ' class="line0">c6</span> 
</p>
<p>Black strengthens his d-pawn and opens a diagonal for his queen's use.</p>
<!--div><p>112 Game 18: Noteboom - Doesburgh</p></div-->
<p>He plans a counterattack beginning with
 <!--span onclick='loadMove("r1bqkb1r/pp1n1ppp/2p1pn2/3p2B1/2PP4/2N1P3/PP3PPP/R2QKBNR b KQkq - 0 6", this, "c7c6"); ' class="line1">6.z0</span--> 

 <span onclick='loadMove("r1b1kb1r/pp1n1ppp/2p1pn2/q2p2B1/2PP4/2N1P3/PP3PPP/R2QKBNR w KQkq - 0 7", this, "d8a5"); ' class="line1">6...Qa5</span> 
and
 <!--span onclick='loadMove("r1b1kb1r/pp1n1ppp/2p1pn2/q2p2B1/2PP4/2N1P3/PP3PPP/R2QKBNR b KQkq - 0 7", this, "d8a5"); ' class="line1">7.z0</span--> 

 <span onclick='loadMove("r1b1k2r/pp1n1ppp/2p1pn2/q2p2B1/1bPP4/2N1P3/PP3PPP/R2QKBNR w KQkq - 0 8", this, "f8b4"); ' class="line1">7...Bb4</span> 
.</p>
<p class="longNotation">
 <span onclick='loadMove("r1bqkb1r/pp1n1ppp/2p1pn2/3p2B1/2PP4/P1N1P3/1P3PPP/R2QKBNR b KQkq - 0 6", this, "a2a3"); ' class="line0">6.a3</span> 
 <span class="ellipsis0">...</span> 
</p>
<p>This puts a stop to any such manoeuvre, as Black's bishop can never get to b4 to pin the knight.</p>
<p class="longNotation">
 <span class="ellipsis0">6. ...</span> 
 <span onclick='loadMove("r1bqk2r/pp1nbppp/2p1pn2/3p2B1/2PP4/P1N1P3/1P3PPP/R2QKBNR w KQkq - 0 7", this, "f8e7"); ' class="line0">Be7</span> 
</p>
<p>Black develops a piece, unpins the knight and clears the back rank for castling.</p>
<p class="longNotation">
 <span onclick='loadMove("r1bqk2r/pp1nbppp/2p1pn2/3p2B1/2PP4/P1N1P3/1PQ2PPP/R3KBNR b KQkq - 0 7", this, "d1c2"); ' class="line0">7.Qc2</span> 
 <span class="ellipsis0">...</span> 
</p>
<p>An ideal development for the queen in this opening. At c2, the queen exerts pressure on the c-file (which will be strongly evident after centre pawns are exchanged) and controls the e4-square. The latter circumstance is the reason for the queen coming into play at this point, instead of the expected mobilization of the kingside pieces. It is vital to guard the c4-square so that Black cannot tree himself easily by playing
 <span onclick='loadMove("r1bqk2r/pp1nbppp/2p1p3/3p2B1/2PPn3/P1N1P3/1PQ2PPP/R3KBNR w KQkq - 0 8", this, "f6e4"); ' class="line1">7...Ne4</span> 
and exchanging some pieces.</p>
<p class="longNotation">
 <span class="ellipsis0">7. ...</span> 
 <span onclick='loadMove("r1bq1rk1/pp1nbppp/2p1pn2/3p2B1/2PP4/P1N1P3/1PQ2PPP/R3KBNR w KQ - 0 8", this, "e8g8"); ' class="line0">O-O</span> 
</p>
<p>Black moves his king to safer quarters. He cannot free his crowded position by the Lasker manoeuvre
 <span onclick='loadMove("r1bqk2r/pp1nbppp/2p1p3/3p2B1/2PPn3/P1N1P3/1PQ2PPP/R3KBNR w KQkq - 0 8", this, "f6e4"); ' class="line1">7...Ne4</span> 
as White responds
 <span onclick='loadMove("r1bqk2r/pp1nBppp/2p1p3/3p4/2PPn3/P1N1P3/1PQ2PPP/R3KBNR b KQkq - 0 8", this, "g5e7"); ' class="line1">8.Bxe7</span> 
 <span onclick='loadMove("r1b1k2r/pp1nqppp/2p1p3/3p4/2PPn3/P1N1P3/1PQ2PPP/R3KBNR w KQkq - 0 9", this, "d8e7"); ' class="line1">Qxe7</span> 
 <span onclick='loadMove("r1b1k2r/pp1nqppp/2p1p3/3p4/2PPN3/P3P3/1PQ2PPP/R3KBNR b KQkq - 0 9", this, "c3e4"); ' class="line1">9.Nxe4</span> 
 <span onclick='loadMove("r1b1k2r/pp1nqppp/2p1p3/8/2PPp3/P3P3/1PQ2PPP/R3KBNR w KQkq - 0 10", this, "d5e4"); ' class="line1">dxe4</span> 
 <span onclick='loadMove("r1b1k2r/pp1nqppp/2p1p3/8/2PPQ3/P3P3/1P3PPP/R3KBNR b KQkq - 0 10", this, "c2e4"); ' class="line1">10.Qxe4</span> 
and wins a pawn. Notice that White's pawn at a3 prevents Black from regaining the pawn by
 <span onclick='loadMove("r1b1k2r/pp1n1ppp/2p1p3/8/1qPPQ3/P3P3/1P3PPP/R3KBNR w KQkq - 0 11", this, "e7b4"); ' class="line1">10...Qb4+</span> 
, showing that White's sixth move was not a waste of time.</p>
<p>Instead of the passive kingside castling. Black should have tried for counterplay by
 <span onclick='loadMove("r1bqk2r/pp1nbppp/2p1pn2/6B1/2pP4/P1N1P3/1PQ2PPP/R3KBNR w KQkq - 0 8", this, "d5c4"); ' class="line1">7...dxc4</span> 
 <span onclick='loadMove("r1bqk2r/pp1nbppp/2p1pn2/6B1/2BP4/P1N1P3/1PQ2PPP/R3K1NR b KQkq - 0 8", this, "f1c4"); ' class="line1">8.Bxc4</span> 
 <span onclick='loadMove("r1bqk2r/pp1nbppp/4pn2/2p3B1/2BP4/P1N1P3/1PQ2PPP/R3K1NR w KQkq - 0 9", this, "c6c5"); ' class="line1">c5!</span> 
, which disputes control of the centre and helps clear a diagonal for his c8-bishop.</p>
<p class="longNotation">
 <span onclick='loadMove("r1bq1rk1/pp1nbppp/2p1pn2/3p2B1/2PP4/P1N1PN2/1PQ2PPP/R3KB1R b KQ - 0 8", this, "g1f3"); ' class="line0">8.Nf3</span> 
 <span class="ellipsis0">...</span> 
</p>
<p>White brings his king's knight to its best post and attacks the e5-square again, putting an end to any contemplated break by <b>...e5</b>.</p>
<p class="longNotation">
 <span class="ellipsis0">8. ...</span> 
<span>
 <span onclick='loadMove("r1bq1rk1/1p1nbppp/p1p1pn2/3p2B1/2PP4/P1N1PN2/1PQ2PPP/R3KB1R w KQ - 0 9", this, "a7a6"); ' class="line0">a6</span> 
 <b>(D)</b> 
</span>
</p>
<div class="chessBoard analysis nobuttons" data-start-fen="r1bq1rk1/1p1nbppp/p1p1pn2/3p2B1/2PP4/P1N1PN2/1PQ2PPP/R3KB1R w KQ - 0 9"></div>
<p>Preparation for the manoeuvre
 <!--span onclick='loadMove("r1bq1rk1/1p1nbppp/p1p1pn2/3p2B1/2PP4/P1N1PN2/1PQ2PPP/R3KB1R b KQ - 0 9", this, "a7a6"); ' class="line1">9.z0</span--> 

 <span onclick='loadMove("r1bq1rk1/1p1nbppp/p1p1pn2/6B1/2pP4/P1N1PN2/1PQ2PPP/R3KB1R w KQ - 0 10", this, "d5c4"); ' class="line1">9...dxc4</span> 
 <span onclick='loadMove("r1bq1rk1/1p1nbppp/p1p1pn2/6B1/2BP4/P1N1PN2/1PQ2PPP/R3K2R b KQ - 0 10", this, "f1c4"); ' class="line1">10.Bxc4</span> 
 <span onclick='loadMove("r1bq1rk1/3nbppp/p1p1pn2/1p4B1/2BP4/P1N1PN2/1PQ2PPP/R3K2R w KQ b6 0 11", this, "b7b5"); ' class="line1">b5</span> 
 <span onclick='loadMove("r1bq1rk1/3nbppp/p1p1pn2/1p4B1/3P4/P1NBPN2/1PQ2PPP/R3K2R b KQ - 0 11", this, "c4d3"); ' class="line1">11.Bd3</span> 
 <span onclick='loadMove("r2q1rk1/1b1nbppp/p1p1pn2/1p4B1/3P4/P1NBPN2/1PQ2PPP/R3K2R w KQ - 0 12", this, "c8b7"); ' class="line1">Bb7</span> 
, followed by an eventual <b>...c5</b>. This would serve to develop the c8-bishop, free his queenside and start action against White's pawn-centre.</p>
<p class="longNotation">
 <span onclick='loadMove("r1bq1rk1/1p1nbppp/p1p1pn2/3p2B1/2PP4/P1N1PN2/1PQ2PPP/3RKB1R b K - 0 9", this, "a1d1"); ' class="line0">9.Rd1!</span> 
 <span class="ellipsis0">...</span> 
</p>
<p>If Black is going in for an attack on the wing. White is prepared to meet it with the recommended antidote - play in the centre!</p>
<p>The position of the rook at d1 acts as a deterrent to central pawn exchanges by Black, as any clearances on the d-file increase the pressure of the rook on that file.</p>
<p class="longNotation">
 <span class="ellipsis0">9. ...</span> 
 <span onclick='loadMove("r1bqr1k1/1p1nbppp/p1p1pn2/3p2B1/2PP4/P1N1PN2/1PQ2PPP/3RKB1R w K - 0 10", this, "f8e8"); ' class="line0">Re8</span> 
</p>
<p>Black brings his rook to the e-file, as the centre is usually the theatre of action.</p>
<p class="longNotation">
 <span onclick='loadMove("r1bqr1k1/1p1nbppp/p1p1pn2/3p2B1/2PP4/P1NBPN2/1PQ2PPP/3RK2R b K - 0 10", this, "f1d3"); ' class="line0">10.Bd3</span> 
 <span class="ellipsis0">...</span> 
</p>
<p>With the entrance of this bishop. White's development is nearly complete. Notice that he plays no combinations of any sort, either to win material or to start an attack on the king, until most of his pieces are brought off the back rank and into play It is only after these pieces are posted where they are most effective - where they control the centre, enjoy their greatest mobility, and take possession of a good part of the important territory - that White looks around for a combination, a stroke that will decide the game quickly.</p>
<p class="longNotation">
 <span class="ellipsis0">10. ...</span> 
 <span onclick='loadMove("r1bqr1k1/1p1nbppp/p1p1pn2/6B1/2pP4/P1NBPN2/1PQ2PPP/3RK2R w K - 0 11", this, "d5c4"); ' class="line0">dxc4</span> 
</p>
<p>Black has delayed taking this pawn until White's f1-bishop made a move, so that the bishop will now lose a move in recapturing.</p>
<p class="longNotation">
 <span onclick='loadMove("r1bqr1k1/1p1nbppp/p1p1pn2/6B1/2BP4/P1N1PN2/1PQ2PPP/3RK2R b K - 0 11", this, "d3c4"); ' class="line0">11.Bxc4</span> 
 <span class="ellipsis0">...</span> 
</p>
<p>The recapture is forced.</p>
<p class="longNotation">
 <span class="ellipsis0">11. ...</span> 
<span>
 <span onclick='loadMove("r1bqr1k1/3nbppp/p1p1pn2/1p4B1/2BP4/P1N1PN2/1PQ2PPP/3RK2R w K b6 0 12", this, "b7b5"); ' class="line0">b5</span> 
 <b>(D)</b> 
</span>
</p>
<p>Black makes the bishop lose time in retreating and vacates the b7-square, ready for the development of the c8-bishop.</p>
<div class="chessBoard analysis nobuttons" data-start-fen="r1bqr1k1/3nbppp/p1p1pn2/1p4B1/2BP4/P1N1PN2/1PQ2PPP/3RK2R w K b6 0 12"></div>
<p class="longNotation">
 <span onclick='loadMove("r1bqr1k1/3nbppp/p1p1pn2/1p4B1/3P4/P1NBPN2/1PQ2PPP/3RK2R b K - 0 12", this, "c4d3"); ' class="line0">12.Bd3!</span> 
 <span class="ellipsis0">...</span> 
</p>
<p>From this square, the bishop manages to be remarkably useful:</p>
<p>It reaches out in two directions to attack, it helps guard e4 from invasion, it threatens Black's kingside and, by attacking h7, prevents Black from freeing himself by means of <b>12...c3</b>.</p>
<p class="longNotation">
 <span class="ellipsis0">12. ...</span> 
<span>
 <span onclick='loadMove("r1bqr1k1/3nbpp1/p1p1pn1p/1p4B1/3P4/P1NBPN2/1PQ2PPP/3RK2R w K - 0 13", this, "h7h6"); ' class="line0">h6</span> 
 <b>(D)</b> 
</span>
</p>
<p>If
 <span onclick='loadMove("r1bqr1k1/3nbppp/p3pn2/1pp3B1/3P4/P1NBPN2/1PQ2PPP/3RK2R w K - 0 13", this, "c6c5"); ' class="line1">12...c5</span> 
, then
 <span onclick='loadMove("r1bqr1k1/3nbppp/p3pn2/1pP3B1/8/P1NBPN2/1PQ2PPP/3RK2R b K - 0 13", this, "d4c5"); ' class="line1">13.dxc5</span> 
 <span onclick='loadMove("r1bqr1k1/4bppp/p3pn2/1pn3B1/8/P1NBPN2/1PQ2PPP/3RK2R w K - 0 14", this, "d7c5"); ' class="line1">Nxc5</span> 
(certainly not
 <span onclick='loadMove("r1bqr1k1/4bppp/p3pn2/1pn3B1/8/P1NBPN2/1PQ2PPP/3RK2R w K - 0 14", this, "d7c5"); ' class="line2">13...Nxc5</span> 
 <span onclick='loadMove("r1bqr1k1/4bppB/p3pn2/1pn3B1/8/P1N1PN2/1PQ2PPP/3RK2R b K - 0 14", this, "d3h7"); ' class="line2">14.Bxh7+</span> 
and White wins the queen by discovered attack)
 <span onclick='loadMove("r1bqr1k1/4bppB/p3pn2/1pn3B1/8/P1N1PN2/1PQ2PPP/3RK2R b K - 0 14", this, "d3h7"); ' class="line1">14.Bxh7+</span> 
and White wins a pawn, as the pinned knight is helpless to take the bishop.</p>
<div class="chessBoard analysis nobuttons" data-start-fen="r1bqr1k1/3nbpp1/p1p1pn1p/1p4B1/3P4/P1NBPN2/1PQ2PPP/3RK2R w K - 0 13"></div>
<p>With the text-move. Black moves the h-pawn out of the attack of White's queen and bishop. Now he hopes to free his queenside and establish a state of tension in the centre by
 <!--span onclick='loadMove("r1bqr1k1/3nbpp1/p1p1pn1p/1p4B1/3P4/P1NBPN2/1PQ2PPP/3RK2R b K - 0 13", this, "d3h7"); ' class="line1">13.z0</span--> 

 <span onclick='loadMove("r1bqr1k1/3nbpp1/p3pn1p/1pp3B1/3P4/P1NBPN2/1PQ2PPP/3RK2R w K - 0 14", this, "c6c5"); ' class="line1">13...c5</span> 
. Incidentally, he would like White's g5-bishop to declare its intentions.</p>
<p class="longNotation">
 <span onclick='loadMove("r1bqr1k1/3nbpp1/p1p1pB1p/1p6/3P4/P1NBPN2/1PQ2PPP/3RK2R b K - 0 13", this, "g5f6"); ' class="line0">13.Bxf6!</span> 
 <span class="ellipsis0">...</span> 
</p>
<p>A very fine concept! White does not waste time holding on to the two bishops but plays to prevent any counterplay by <b>...c5</b>. If he can keep the c-pawn from advancing. Black's game will be fearfully cramped, and he may never solve the problem of getting his light-squared bishop settled on a decent square.</p>
<p>The immediate object of
 <span onclick='loadMove("r1bqr1k1/3nbpp1/p1p1pB1p/1p6/3P4/P1NBPN2/1PQ2PPP/3RK2R b K - 0 13", this, "g5f6"); ' class="line1">13.Bxf6</span> 
is to divert one of Black's recapturing pieces, the knight or the bishop.</p>
<p>from its surveillance of the c5-square and the support of a pawn moving to that square.</p>
<p class="longNotation">
 <span class="ellipsis0">13. ...</span> 
 <span onclick='loadMove("r1bqr1k1/4bpp1/p1p1pn1p/1p6/3P4/P1NBPN2/1PQ2PPP/3RK2R w K - 0 14", this, "d7f6"); ' class="line0">Nxf6</span> 
</p>
<p>This is probably better than taking with the bishop, as Black's queen and c8 bishop now have more freedom.</p>
<p class="longNotation">
 <span onclick='loadMove("r1bqr1k1/4bpp1/p1p1pn1p/1p6/3P4/P1NBPN2/1PQ2PPP/3R1RK1 b - - 0 14", this, "e1g1"); ' class="line0">14.O-O</span> 
 <span class="ellipsis0">...</span> 
</p>
<p>The king (who must be secure from danger at all costs) goes into hiding, while the rook (that must take part in the fighting) comes closer to the scene of action.</p>
<p class="longNotation">
 <span class="ellipsis0">14. ...</span> 
<span>
 <span onclick='loadMove("r2qr1k1/1b2bpp1/p1p1pn1p/1p6/3P4/P1NBPN2/1PQ2PPP/3R1RK1 w - - 0 15", this, "c8b7"); ' class="line0">Bb7</span> 
 <b>(D)</b> 
</span>
</p>
<p>With rook and queen on the same file, it would be foolhardy to venture on
 <span onclick='loadMove("r1bqr1k1/4bpp1/p3pn1p/1pp5/3P4/P1NBPN2/1PQ2PPP/3R1RK1 w - - 0 15", this, "c6c5"); ' class="line1">14...c5</span> 
. White simply takes the pawn,
 <span onclick='loadMove("r1bqr1k1/4bpp1/p3pn1p/1pP5/8/P1NBPN2/1PQ2PPP/3R1RK1 b - - 0 15", this, "d4c5"); ' class="line1">15.dxc5</span> 
, and punishes the recapture
 <span onclick='loadMove("r1bqr1k1/5pp1/p3pn1p/1pb5/8/P1NBPN2/1PQ2PPP/3R1RK1 w - - 0 16", this, "e7c5"); ' class="line1">15...Bxc5</span> 
with
 <span onclick='loadMove("r1bqr1k1/5ppB/p3pn1p/1pb5/8/P1N1PN2/1PQ2PPP/3R1RK1 b - - 0 16", this, "d3h7"); ' class="line1">16.Bh7+</span> 
winning the queen.</p>
<div class="chessBoard analysis nobuttons" data-start-fen="r2qr1k1/1b2bpp1/p1p1pn1p/1p6/3P4/P1NBPN2/1PQ2PPP/3R1RK1 w - - 0 15"></div>
<p>Black's idea, besides that of developing the light-squared bishop, is to bring his rook to c8 and then push the c-pawn.</p>
<p class="longNotation">
 <span onclick='loadMove("r2qr1k1/1b2bpp1/p1p1pn1p/1p6/3PN3/P2BPN2/1PQ2PPP/3R1RK1 b - - 0 15", this, "c3e4"); ' class="line0">15.Ne4!</span> 
 <span class="ellipsis0">...</span> 
</p>
<p>White clears the c-file so that he now has three pieces (queen, knight and d4-pawn) concentrating their power on c5, with the aim of making an advance of Black's c-pawn to that square impossible.</p>
<p>Notice too how White has resisted the temptation to play c4, filling up the centre with pawns. Instead he keeps the c4-square free and utilizes it as a springboard for his pieces.</p>
<p class="longNotation">
 <span class="ellipsis0">15. ...</span> 
 <span onclick='loadMove("r2qr1k1/1b2bpp1/p1p1p2p/1p6/3Pn3/P2BPN2/1PQ2PPP/3R1RK1 w - - 0 16", this, "f6e4"); ' class="line0">Nxe4</span> 
</p>
<p>Otherwise, White might swing the knight over to c5 and completely smother Black's queenside.</p>
<p class="longNotation">
<span>
 <span onclick='loadMove("r2qr1k1/1b2bpp1/p1p1p2p/1p6/3PB3/P3PN2/1PQ2PPP/3R1RK1 b - - 0 16", this, "d3e4"); ' class="line0">16.Bxe4</span> 
 <b>(D)</b> 
</span>
 <span class="ellipsis0">...</span> 
</p>
<div class="chessBoard analysis nobuttons" data-start-fen="r2qr1k1/1b2bpp1/p1p1p2p/1p6/3PB3/P3PN2/1PQ2PPP/3R1RK1 b - - 0 16"></div>
<p>Still keeping Black under restraint: he may not play
 <span onclick='loadMove("r2qr1k1/1b2bpp1/p3p2p/1pp5/3PB3/P3PN2/1PQ2PPP/3R1RK1 w - - 0 17", this, "c6c5"); ' class="line1">16...c5</span> 
as his b7-bishop would be snapped up.</p>
<p class="longNotation">
 <span class="ellipsis0">16. ...</span> 
 <span onclick='loadMove("r2qr1k1/1b2b1p1/p1p1p2p/1p3p2/3PB3/P3PN2/1PQ2PPP/3R1RK1 w - f6 0 17", this, "f7f5"); ' class="line0">f5</span> 
</p>
<p>Black must drive the bishop off at once, even at the cost of weakening the pawn position on his kingside. A delay gives White lime to play
 <span onclick='loadMove("r2qr1k1/1b2b1p1/p1p1p2p/1p2Np2/3PB3/P3P3/1PQ2PPP/3R1RK1 b - - 0 17", this, "f3e5"); ' class="line1">17.Ne5</span> 
 <!--span onclick='loadMove("r2qr1k1/1b2b1p1/p1p1p2p/1p2Np2/3PB3/P3P3/1PQ2PPP/3R1RK1 w - - 0 18", this, "f3e5"); ' class="line1">z0</span--> 
(intensifying the pressure on the c-pawn and incidentally providing the f3-square for a bishop retreat) followed if need be by
 <span onclick='loadMove("r2qr1k1/1b2b1p1/p1p1p2p/1p2Np2/3PB3/P3P3/1PQ2PPP/2R2RK1 b - - 0 18", this, "d1c1"); ' class="line1">18.Rc1</span> 
.</p>
<p class="longNotation">
 <span onclick='loadMove("r2qr1k1/1b2b1p1/p1p1p2p/1p3p2/3P4/P2BPN2/1PQ2PPP/3R1RK1 b - - 0 17", this, "e4d3"); ' class="line0">17.Bd3</span> 
 <span class="ellipsis0">...</span> 
</p>
<p>The third visit of the bishop to this square.</p>
<p>White must not be hasty and play
 <span onclick='loadMove("r2qr1k1/1b2b1p1/p1B1p2p/1p3p2/3P4/P3PN2/1PQ2PPP/3R1RK1 b - - 0 17", this, "e4c6"); ' class="line1">17.Bxc6</span> 
as the reply
 <span onclick='loadMove("2rqr1k1/1b2b1p1/p1B1p2p/1p3p2/3P4/P3PN2/1PQ2PPP/3R1RK1 w - - 0 18", this, "a8c8"); ' class="line1">17...Rc8</span> 
pins the bishop</p>
<p class="longNotation">
 <span class="ellipsis0">17. ...</span> 
 <span onclick='loadMove("r3r1k1/1b2b1p1/pqp1p2p/1p3p2/3P4/P2BPN2/1PQ2PPP/3R1RK1 w - - 0 18", this, "d8b6"); ' class="line0">Qb6</span> 
</p>
<p>Once again preparing the liberating pawn push.</p>
<p class="longNotation">
 <span onclick='loadMove("r3r1k1/1b2b1p1/pqp1p2p/1p3p2/3P4/P2BPN2/1PQ2PPP/2R2RK1 b - - 0 18", this, "d1c1"); ' class="line0">18.Rc1</span> 
 <span class="ellipsis0">...</span> 
</p>
<p>The position demands that White devote all his efforts to sustaining the blockade of Black's c-pawn. White must acquire undisputed control of the c5-square, so that the pawn may never advance. He must not relax for a moment, as domination of the key c5-square virtually assures him of a positional win.</p>
<p class="longNotation">
 <span class="ellipsis0">18. ...</span> 
<span>
 <span onclick='loadMove("2r1r1k1/1b2b1p1/pqp1p2p/1p3p2/3P4/P2BPN2/1PQ2PPP/2R2RK1 w - - 0 19", this, "a8c8"); ' class="line0">Rac8</span> 
 <b>(D)</b> 
</span>
</p>
<p>Black persists in his plan to push the pawn. If he does not get this move in, his b7 bishop will never have any air.</p>
<div class="chessBoard analysis nobuttons" data-start-fen="2r1r1k1/1b2b1p1/pqp1p2p/1p3p2/3P4/P2BPN2/1PQ2PPP/2R2RK1 w - - 0 19"></div>
<p class="longNotation">
 <span onclick='loadMove("2r1r1k1/1b2b1p1/pqp1p2p/1p3p2/1P1P4/P2BPN2/2Q2PPP/2R2RK1 b - b3 0 19", this, "b2b4"); ' class="line0">19.b4!</span> 
 <span class="ellipsis0">...</span> 
</p>
<p>White nails the pawn down! White has a won game, strategically. What remains is to apply the proper tactical touches to compel the opponent to yield. The time is ripe for the combinations to appear!</p>
<p class="longNotation">
 <span class="ellipsis0">19. ...</span> 
 <span onclick='loadMove("2rqr1k1/1b2b1p1/p1p1p2p/1p3p2/1P1P4/P2BPN2/2Q2PPP/2R2RK1 w - - 0 20", this, "b6d8"); ' class="line0">Qd8</span> 
</p>
<p>Ready to parry
 <span onclick='loadMove("2rqr1k1/1b2b1p1/p1p1p2p/1p3p2/1P1P4/PQ1BPN2/5PPP/2R2RK1 b - - 0 20", this, "c2b3"); ' class="line1">20.Qb3</span> 
(threatening
 <!--span onclick='loadMove("2rqr1k1/1b2b1p1/p1p1p2p/1p3p2/1P1P4/PQ1BPN2/5PPP/2R2RK1 w - - 0 21", this, "c2b3"); ' class="line2">20...z0</span--> 
 <span onclick='loadMove("2rqr1k1/1b2b1p1/p1p1Q2p/1p3p2/1P1P4/P2BPN2/5PPP/2R2RK1 b - - 0 21", this, "b3e6"); ' class="line2">21.Qxe6+</span> 
or
 <span onclick='loadMove("2rqr1k1/1b2b1p1/p1p1p2p/1p3B2/1P1P4/PQ2PN2/5PPP/2R2RK1 b - - 0 21", this, "d3f5"); ' class="line2">21.Bxf5</span> 
) with
 <span onclick='loadMove("2r1r1k1/1b2b1p1/p1p1p2p/1p1q1p2/1P1P4/PQ1BPN2/5PPP/2R2RK1 w - - 0 21", this, "d8d5"); ' class="line1">20...Qd5</span> 
.</p>
<p class="longNotation">
 <span onclick='loadMove("2rqr1k1/1b2b1p1/p1p1p2p/1p2Np2/1P1P4/P2BP3/2Q2PPP/2R2RK1 b - - 0 20", this, "f3e5"); ' class="line0">20.Ne5</span> 
 <span class="ellipsis0">...</span> 
</p>
<p>A powerful blow! White attacks the unfortunate c-pawn (which must slay where it is) a third time. Against passive resistance. White plans
 <!--span onclick='loadMove("2rqr1k1/1b2b1p1/p1p1p2p/1p2Np2/1P1P4/P2BP3/2Q2PPP/2R2RK1 w - - 0 21", this, "f3e5"); ' class="line1">20...z0</span--> 
 <span onclick='loadMove("2rqr1k1/1b2b1p1/p1p1p2p/1p2Np2/1P1P1P2/P2BP3/2Q3PP/2R2RK1 b - f3 0 21", this, "f2f4"); ' class="line1">21.f4</span> 
 <!--span onclick='loadMove("2rqr1k1/1b2b1p1/p1p1p2p/1p2Np2/1P1P1P2/P2BP3/2Q3PP/2R2RK1 w - - 0 22", this, "f2f4"); ' class="line1">z0</span--> 
(to give his knight additional support and to stabilize the centre), followed by
 <span onclick='loadMove("2rqr1k1/1b2b1p1/p1p1p2p/1p2Np2/1P1P1P2/P3P3/2Q1B1PP/2R2RK1 b - - 0 22", this, "d3e2"); ' class="line1">22.Be2</span> 
 <!--span onclick='loadMove("2rqr1k1/1b2b1p1/p1p1p2p/1p2Np2/1P1P1P2/P3P3/2Q1B1PP/2R2RK1 w - - 0 23", this, "d3e2"); ' class="line1">z0</span--> 
and
 <span onclick='loadMove("2rqr1k1/1b2b1p1/p1p1p2p/1p2Np2/1P1P1P2/P3PB2/2Q3PP/2R2RK1 b - - 0 23", this, "e2f3"); ' class="line1">23.Bf3</span> 
, after which the c-pawn must perish.</p>
<p class="longNotation">
 <span class="ellipsis0">20. ...</span> 
<span>
 <span onclick='loadMove("2rqr1k1/1b2b1p1/2p1p2p/pp2Np2/1P1P4/P2BP3/2Q2PPP/2R2RK1 w - - 0 21", this, "a6a5"); ' class="line0">a5</span> 
 <b>(D)</b> 
</span>
</p>
<p>Black attacks one of the pawns hemming in his queenside.</p>
<p>Against
 <span onclick='loadMove("2rqr1k1/1b4p1/p1p1pb1p/1p2Np2/1P1P4/P2BP3/2Q2PPP/2R2RK1 w - - 0 21", this, "e7f6"); ' class="line1">20...Bf6</span> 
White slicks to the script with
 <span onclick='loadMove("2rqr1k1/1b4p1/p1p1pb1p/1p2Np2/1P1P1P2/P2BP3/2Q3PP/2R2RK1 b - f3 0 21", this, "f2f4"); ' class="line1">21.f4</span> 
 <!--span onclick='loadMove("2rqr1k1/1b4p1/p1p1pb1p/1p2Np2/1P1P1P2/P2BP3/2Q3PP/2R2RK1 w - - 0 22", this, "f2f4"); ' class="line1">z0</span--> 
, followed by
 <span onclick='loadMove("2rqr1k1/1b4p1/p1p1pb1p/1p2Np2/1P1P1P2/P3P3/2Q1B1PP/2R2RK1 b - - 0 22", this, "d3e2"); ' class="line1">22.Be2</span> 
 <!--span onclick='loadMove("2rqr1k1/1b4p1/p1p1pb1p/1p2Np2/1P1P1P2/P3P3/2Q1B1PP/2R2RK1 w - - 0 23", this, "d3e2"); ' class="line1">z0</span--> 
and
 <span onclick='loadMove("2rqr1k1/1b4p1/p1p1pb1p/1p2Np2/1P1P1P2/P3PB2/2Q3PP/2R2RK1 b - - 0 23", this, "e2f3"); ' class="line1">23.Bf3</span> 
.</p>
<div class="chessBoard analysis nobuttons" data-start-fen="2rqr1k1/1b2b1p1/2p1p2p/pp2Np2/1P1P4/P2BP3/2Q2PPP/2R2RK1 w - - 0 21"></div>
<p class="longNotation">
 <span onclick='loadMove("2rqr1k1/1b2b1p1/2p1p2p/pp2Np2/1P1P4/PQ1BP3/5PPP/2R2RK1 b - - 0 21", this, "c2b3"); ' class="line0">21.Qb3!</span> 
 <span class="ellipsis0">...</span> 
</p>
<p>Again threatening
 <!--span onclick='loadMove("2rqr1k1/1b2b1p1/2p1p2p/pp2Np2/1P1P4/PQ1BP3/5PPP/2R2RK1 w - - 0 22", this, "c2b3"); ' class="line1">21...z0</span--> 
 <span onclick='loadMove("2rqr1k1/1b2b1p1/2p1Q2p/pp2Np2/1P1P4/P2BP3/5PPP/2R2RK1 b - - 0 22", this, "b3e6"); ' class="line1">22.Qxe6+</span> 
or
 <span onclick='loadMove("2rqr1k1/1b2b1p1/2p1p2p/pp2NB2/1P1P4/PQ2P3/5PPP/2R2RK1 b - - 0 22", this, "d3f5"); ' class="line1">22.Bxf5</span> 
.</p>
<p>White probably gave no more than a glance to
 <span onclick='loadMove("2rqr1k1/1b2b1p1/2p1p2p/Pp2Np2/3P4/P2BP3/2Q2PPP/2R2RK1 b - - 0 21", this, "b4a5"); ' class="line1">21.bxa5</span> 
, to which Black can reply
 <span onclick='loadMove("2r1r1k1/1b2b1p1/2p1p2p/qp2Np2/3P4/P2BP3/2Q2PPP/2R2RK1 w - - 0 22", this, "d8a5"); ' class="line1">21...Qxa5</span> 
,
 <span onclick='loadMove("2rqr1k1/1b4p1/2p1p2p/Pp2Np2/3P4/b2BP3/2Q2PPP/2R2RK1 w - - 0 22", this, "e7a3"); ' class="line1">21...Bxa3</span> 
or
 <span onclick='loadMove("2rqr1k1/1b2b1p1/4p2p/Ppp1Np2/3P4/P2BP3/2Q2PPP/2R2RK1 w - - 0 22", this, "c6c5"); ' class="line1">21...c5</span> 
, any of which gives him far too much freedom from White's point of view!</p>
<p class="longNotation">
 <span class="ellipsis0">21. ...</span> 
 <span onclick='loadMove("2rqr1k1/1b4p1/2pbp2p/pp2Np2/1P1P4/PQ1BP3/5PPP/2R2RK1 w - - 0 22", this, "e7d6"); ' class="line0">Bd6</span> 
</p>
<p>The defence that Black had relied on is ruled out: if
 <span onclick='loadMove("2r1r1k1/1b2b1p1/2p1p2p/pp1qNp2/1P1P4/PQ1BP3/5PPP/2R2RK1 w - - 0 22", this, "d8d5"); ' class="line1">21...Qd5</span> 
, then
 <span onclick='loadMove("2r1r1k1/1b2b1p1/2p1p2p/pp1QNp2/1P1P4/P2BP3/5PPP/2R2RK1 b - - 0 22", this, "b3d5"); ' class="line1">22.Qxd5</span> 
and White wins a pawn after
 <span onclick='loadMove("2r1r1k1/1b2b1p1/2p4p/pp1pNp2/1P1P4/P2BP3/5PPP/2R2RK1 w - - 0 23", this, "e6d5"); ' class="line1">22...exd5</span> 
 <span onclick='loadMove("2r1r1k1/1b2b1p1/2p4p/pp1pNB2/1P1P4/P3P3/5PPP/2R2RK1 b - - 0 23", this, "d3f5"); ' class="line1">23.Bxf5</span> 
or
 <span onclick='loadMove("2r1r1k1/1b2b1p1/4p2p/pp1pNp2/1P1P4/P2BP3/5PPP/2R2RK1 w - - 0 23", this, "c6d5"); ' class="line2">22...cxd5</span> 
 <span onclick='loadMove("2r1r1k1/1b2b1p1/4p2p/pB1pNp2/1P1P4/P3P3/5PPP/2R2RK1 b - - 0 23", this, "d3b5"); ' class="line2">23.Bxb5</span> 
.</p>
<p class="longNotation">
 <span onclick='loadMove("2rqr1k1/1b4p1/2pbp2p/pp2NB2/1P1P4/PQ2P3/5PPP/2R2RK1 b - - 0 22", this, "d3f5"); ' class="line0">22.Bxf5</span> 
 <span class="ellipsis0">...</span> 
</p>
<p>The first bit of actual violence brings in a pawn.</p>
<p class="longNotation">
 <span class="ellipsis0">22. ...</span> 
 <span onclick='loadMove("2r1r1k1/1b4p1/2pbpq1p/pp2NB2/1P1P4/PQ2P3/5PPP/2R2RK1 w - - 0 23", this, "d8f6"); ' class="line0">Qf6</span> 
</p>
<p>With an attack on the bishop and a double attack on the knight. Black hopes to get his pawn back.</p>
<p class="longNotation">
 <span onclick='loadMove("2r1r1k1/1b4p1/2pbpq1p/pp2N3/1P1P4/PQ2P3/5PPP/1BR2RK1 b - - 0 23", this, "f5b1"); ' class="line0">23.Bb1</span> 
 <span class="ellipsis0">...</span> 
</p>
<p>The idea of this withdrawal to the back rank is to support the queen in an attack along a diagonal, either by moving the queen to c2 or by shifting the bishop to a2 behind the queen.</p>
<p class="longNotation">
 <span class="ellipsis0">23. ...</span> 
 <span onclick='loadMove("2r1r1k1/1b4p1/2p1pq1p/pp2b3/1P1P4/PQ2P3/5PPP/1BR2RK1 w - - 0 24", this, "d6e5"); ' class="line0">Bxe5</span> 
</p>
<p>Black does not care to part with the services of an active piece, but he must do so in order to recover the pawn he lost.</p>
<p class="longNotation">
 <span onclick='loadMove("2r1r1k1/1b4p1/2p1pq1p/pp2P3/1P6/PQ2P3/5PPP/1BR2RK1 b - - 0 24", this, "d4e5"); ' class="line0">24.dxe5</span> 
 <span class="ellipsis0">...</span> 
</p>
<p>Forced.</p>
<p class="longNotation">
 <span class="ellipsis0">24. ...</span> 
 <span onclick='loadMove("2r1r1k1/1b4p1/2p1p2p/pp2q3/1P6/PQ2P3/5PPP/1BR2RK1 w - - 0 25", this, "f6e5"); ' class="line0">Qxe5</span> 
</p>
<p>Material is even, and Black seems to have survived the worst.</p>
<p>It is true that White can win a pawn by
 <span onclick='loadMove("2r1r1k1/1b4p1/2p1p2p/Pp2q3/8/PQ2P3/5PPP/1BR2RK1 b - - 0 25", this, "b4a5"); ' class="line1">25.bxa5</span> 
, but he would be left with doubled and isolated pawns on the a-file, and it is doubtful that he could get any advantage from the extra pawn. There must be a better reward for line positional play than this dubious bounty!</p>
<p class="longNotation">
 <span onclick='loadMove("2r1r1k1/1b4p1/2p1p2p/ppR1q3/1P6/PQ2P3/5PPP/1B3RK1 b - - 0 25", this, "c1c5"); ' class="line0">25.Rc5!</span> 
 <span class="ellipsis0">...</span> 
</p>
<p>White spurns the pawn, in favour of piling on more pressure. The rook now holds Black's queenside in a paralysing grip. The strength of White's move is evident in the fact that the rook can never be dislodged!</p>
<p class="longNotation">
 <span class="ellipsis0">25. ...</span> 
<span>
 <span onclick='loadMove("2r1r1k1/1b4p1/2p1p2p/1pR1q3/pP6/PQ2P3/5PPP/1B3RK1 w - - 0 26", this, "a5a4"); ' class="line0">a4</span> 
 <b>(D)</b> 
</span>
</p>
<p>An intermediary move, whose purpose is not only to save the pawn, but also to gauge White's plans by his next queen move.</p>
<div class="chessBoard analysis nobuttons" data-start-fen="2r1r1k1/1b4p1/2p1p2p/1pR1q3/pP6/PQ2P3/5PPP/1B3RK1 w - - 0 26"></div>
<p class="longNotation">
 <span onclick='loadMove("2r1r1k1/1b4p1/2p1p2p/1pR1q3/pP6/P3P3/Q4PPP/1B3RK1 b - - 0 26", this, "b3a2"); ' class="line0">26.Qa2!</span> 
 <span class="ellipsis0">...</span> 
</p>
<p>A remarkable retreat! One would expect
 <span onclick='loadMove("2r1r1k1/1b4p1/2p1p2p/1pR1q3/pP6/P3P3/2Q2PPP/1B3RK1 b - - 0 26", this, "b3c2"); ' class="line1">26.Qc2</span> 
so that the queen, backed up by the bishop, might penetrate Black's kingside position. However. Black refutes this cleverly by
 <span onclick='loadMove("2r1r1k1/1b4p1/2p1pq1p/1pR5/pP6/P3P3/2Q2PPP/1B3RK1 w - - 0 27", this, "e5f6"); ' class="line1">26...Qf6</span> 
and now:</p>
<p>1)
 <span onclick='loadMove("2r1r1k1/1b4pQ/2p1pq1p/1pR5/pP6/P3P3/5PPP/1B3RK1 b - - 0 27", this, "c2h7"); ' class="line2">27.Qh7+</span> 
is met by
 <span onclick='loadMove("2r1r3/1b3kpQ/2p1pq1p/1pR5/pP6/P3P3/5PPP/1B3RK1 w - - 0 28", this, "g8f7"); ' class="line2">27...Kf7</span> 
, when White has no means of furthering the attack.</p>
<p>2)
 <span onclick='loadMove("2r1r1k1/1b4p1/2p1pq1p/1pR5/pP2P3/P7/2Q2PPP/1B3RK1 b - - 0 27", this, "e3e4"); ' class="line2">27.e4</span> 
(intending to banish the queen by
 <!--span onclick='loadMove("2r1r1k1/1b4p1/2p1pq1p/1pR5/pP2P3/P7/2Q2PPP/1B3RK1 w - - 0 28", this, "e3e4"); ' class="line3">27...z0</span--> 
 <span onclick='loadMove("2r1r1k1/1b4p1/2p1pq1p/1pR1P3/pP6/P7/2Q2PPP/1B3RK1 b - - 0 28", this, "e4e5"); ' class="line3">28.e5</span> 
and then pierce the position)
 <span onclick='loadMove("2r1r1k1/1b4p1/2p2q1p/1pR1p3/pP2P3/P7/2Q2PPP/1B3RK1 w - - 0 28", this, "e6e5"); ' class="line2">27...e5</span> 
and Black repels any invasion.</p>
<p class="longNotation">
 <span class="ellipsis0">26. ...</span> 
 <span onclick='loadMove("2r1r1k1/1b4p1/2pqp2p/1pR5/pP6/P3P3/Q4PPP/1B3RK1 w - - 0 27", this, "e5d6"); ' class="line0">Qd6</span> 
</p>
<p>The defence
 <span onclick='loadMove("2r1r1k1/1b4p1/2p1pq1p/1pR5/pP6/P3P3/Q4PPP/1B3RK1 w - - 0 27", this, "e5f6"); ' class="line1">26...Qf6</span> 
succumbs to
 <span onclick='loadMove("2r1r1k1/1b4p1/2p1pq1p/1pR5/pP2P3/P7/Q4PPP/1B3RK1 b - - 0 27", this, "e3e4"); ' class="line1">27.e4!</span> 
(now we see the point of
 <span onclick='loadMove("2r1r1k1/1b4p1/2p1p2p/1pR1q3/pP6/P3P3/Q4PPP/1B3RK1 b - - 0 26", this, "b3a2"); ' class="line2">26.Qa2</span> 
- it is to pin Black's e-pawn and prevent <b>27...e5</b>
at this point)
 <span onclick='loadMove("3rr1k1/1b4p1/2p1pq1p/1pR5/pP2P3/P7/Q4PPP/1B3RK1 w - - 0 28", this, "c8d8"); ' class="line1">27...Rcd8</span> 
 <span onclick='loadMove("3rr1k1/1b4p1/2p1pq1p/1pR1P3/pP6/P7/Q4PPP/1B3RK1 b - - 0 28", this, "e4e5"); ' class="line1">28.e5</span> 
 <span onclick='loadMove("3rr1k1/1b4p1/2p1p2p/1pR1P3/pP3q2/P7/Q4PPP/1B3RK1 w - - 0 29", this, "f6f4"); ' class="line1">Qf4</span> 
 <span onclick='loadMove("3rr1k1/1b4p1/2p1p2p/1pR1P3/pP3q2/P7/2Q2PPP/1B3RK1 b - - 0 29", this, "a2c2"); ' class="line1">29.Qc2</span> 
(threatening
 <!--span onclick='loadMove("3rr1k1/1b4p1/2p1p2p/1pR1P3/pP3q2/P7/2Q2PPP/1B3RK1 w - - 0 30", this, "a2c2"); ' class="line2">29...z0</span--> 
 <span onclick='loadMove("3rr1k1/1b4pQ/2p1p2p/1pR1P3/pP3q2/P7/5PPP/1B3RK1 b - - 0 30", this, "c2h7"); ' class="line2">30.Qh7+</span> 
 <span onclick='loadMove("3rrk2/1b4pQ/2p1p2p/1pR1P3/pP3q2/P7/5PPP/1B3RK1 w - - 0 31", this, "g8f8"); ' class="line2">Kf8</span> 
 <span onclick='loadMove("3rrk2/1b4pQ/2p1p1Bp/1pR1P3/pP3q2/P7/5PPP/5RK1 b - - 0 31", this, "b1g6"); ' class="line2">31.Bg6</span> 
 <span onclick='loadMove("3r1k2/1b2r1pQ/2p1p1Bp/1pR1P3/pP3q2/P7/5PPP/5RK1 w - - 0 32", this, "e8e7"); ' class="line2">Re7</span> 
 <span onclick='loadMove("3r1k1Q/1b2r1p1/2p1p1Bp/1pR1P3/pP3q2/P7/5PPP/5RK1 b - - 0 32", this, "h7h8"); ' class="line2">32.Qh8#</span> 
)
 <span onclick='loadMove("3rr1k1/1b4p1/2p1p2p/1pR1P1q1/pP6/P7/2Q2PPP/1B3RK1 w - - 0 30", this, "f4g5"); ' class="line1">29...Qg5</span> 
 <span onclick='loadMove("3rr1k1/1b4p1/2p1p2p/1pR1P1q1/pP3P2/P7/2Q3PP/1B3RK1 b - f3 0 30", this, "f2f4"); ' class="line1">30.f4</span> 
 <span onclick='loadMove("3rr1k1/1b4p1/2p1p2p/1pR1P3/pP3Pq1/P7/2Q3PP/1B3RK1 w - - 0 31", this, "g5g4"); ' class="line1">Qg4</span> 
 <span onclick='loadMove("3rr1k1/1b4p1/2p1p2p/1p2P3/pP3Pq1/P1R5/2Q3PP/1B3RK1 b - - 0 31", this, "c5c3"); ' class="line1">31.Rc3</span> 
, when the entrance of the rook at g3, followed by <b>33.Qh7+</b>, is conclusive.</p>
<p>Notice that the move
 <span onclick='loadMove("3rr1k1/1b4p1/2p1p2p/1p2P3/pP3Pq1/P1R5/2Q3PP/1B3RK1 b - - 0 31", this, "c5c3"); ' class="line1">31.Rc3</span> 
, relaxing the pressure on the queenside, is not an infraction of principle. An attack that leads to a forced win takes precedence over positional considerations.</p>
<p class="longNotation">
 <span onclick='loadMove("2r1r1k1/1b4p1/2pqp2p/1pR5/pP6/P3P3/2Q2PPP/1B3RK1 b - - 0 27", this, "a2c2"); ' class="line0">27.Qc2</span> 
 <span class="ellipsis0">...</span> 
</p>
<p>Now this grouping has more effect! White threatens
 <!--span onclick='loadMove("2r1r1k1/1b4p1/2pqp2p/1pR5/pP6/P3P3/2Q2PPP/1B3RK1 w - - 0 28", this, "a2c2"); ' class="line1">27...z0</span--> 
 <span onclick='loadMove("2r1r1k1/1b4pQ/2pqp2p/1pR5/pP6/P3P3/5PPP/1B3RK1 b - - 0 28", this, "c2h7"); ' class="line1">28.Qh7+</span> 
 <span onclick='loadMove("2r1rk2/1b4pQ/2pqp2p/1pR5/pP6/P3P3/5PPP/1B3RK1 w - - 0 29", this, "g8f8"); ' class="line1">Kf8</span> 
 <span onclick='loadMove("2r1rk2/1b4pQ/2pqp1Bp/1pR5/pP6/P3P3/5PPP/5RK1 b - - 0 29", this, "b1g6"); ' class="line1">29.Bg6</span> 
 <span onclick='loadMove("2rr1k2/1b4pQ/2pqp1Bp/1pR5/pP6/P3P3/5PPP/5RK1 w - - 0 30", this, "e8d8"); ' class="line1">Red8</span> 
 <span onclick='loadMove("2rr1k1Q/1b4p1/2pqp1Bp/1pR5/pP6/P3P3/5PPP/5RK1 b - - 0 30", this, "h7h8"); ' class="line1">30.Qh8+</span> 
 <span onclick='loadMove("2rr3Q/1b2k1p1/2pqp1Bp/1pR5/pP6/P3P3/5PPP/5RK1 w - - 0 31", this, "f8e7"); ' class="line1">Ke7</span> 
 <span onclick='loadMove("2rr4/1b2k1Q1/2pqp1Bp/1pR5/pP6/P3P3/5PPP/5RK1 b - - 0 31", this, "h8g7"); ' class="line1">31.Qxg7#</span> 
.</p>
<p class="longNotation">
 <span class="ellipsis0">27. ...</span> 
<span>
 <span onclick='loadMove("3rr1k1/1b4p1/2pqp2p/1pR5/pP6/P3P3/2Q2PPP/1B3RK1 w - - 0 28", this, "c8d8"); ' class="line0">Rcd8</span> 
 <b>(D)</b> 
</span>
</p>
<p>If
 <span onclick='loadMove("2r1r1k1/1b4p1/2pq3p/1pR1p3/pP6/P3P3/2Q2PPP/1B3RK1 w - - 0 28", this, "e6e5"); ' class="line1">27...e5</span> 
to guard the g6-square with the queen, then
 <span onclick='loadMove("2r1r1k1/1b4pQ/2pq3p/1pR1p3/pP6/P3P3/5PPP/1B3RK1 b - - 0 28", this, "c2h7"); ' class="line1">28.Qh7+</span> 
 <span onclick='loadMove("2r1r3/1b3kpQ/2pq3p/1pR1p3/pP6/P3P3/5PPP/1B3RK1 w - - 0 29", this, "g8f7"); ' class="line1">Kf7</span> 
(on
 <span onclick='loadMove("2r1rk2/1b4pQ/2pq3p/1pR1p3/pP6/P3P3/5PPP/1B3RK1 w - - 0 29", this, "g8f8"); ' class="line2">28...Kf8</span> 
,
 <span onclick='loadMove("2r1rk2/1b4pQ/2pq2Bp/1pR1p3/pP6/P3P3/5PPP/5RK1 b - - 0 29", this, "b1g6"); ' class="line2">29.Bg6</span> 
wins easily)
 <span onclick='loadMove("2r1r3/1b3kpQ/2pq3p/1pR1p3/pP3P2/P3P3/6PP/1B3RK1 b - f3 0 29", this, "f2f4"); ' class="line1">29.f4</span> 
(threatening
 <!--span onclick='loadMove("2r1r3/1b3kpQ/2pq3p/1pR1p3/pP3P2/P3P3/6PP/1B3RK1 w - - 0 30", this, "f2f4"); ' class="line2">29...z0</span--> 
 <span onclick='loadMove("2r1r3/1b3kpQ/2pq3p/1pR1P3/pP6/P3P3/6PP/1B3RK1 b - - 0 30", this, "f4e5"); ' class="line2">30.fxe5+</span> 
)
 <span onclick='loadMove("2r1r3/1b3kpQ/2pq3p/1pR5/pP2pP2/P3P3/6PP/1B3RK1 w - - 0 30", this, "e5e4"); ' class="line1">29...e4</span> 
 <span onclick='loadMove("2r1r3/1b3kpQ/2pq3p/1pR5/pP2pP2/P3P3/B5PP/5RK1 b - - 0 30", this, "b1a2"); ' class="line1">30.Ba2+</span> 
 <span onclick='loadMove("2r1r3/1b4pQ/2pq1k1p/1pR5/pP2pP2/P3P3/B5PP/5RK1 w - - 0 31", this, "f7f6"); ' class="line1">Kf6</span> 
 <span onclick='loadMove("2r1r3/1b4p1/2pq1k1p/1pR2Q2/pP2pP2/P3P3/B5PP/5RK1 b - - 0 31", this, "h7f5"); ' class="line1">31.Qf5+</span> 
 <span onclick='loadMove("2r1r3/1b2k1p1/2pq3p/1pR2Q2/pP2pP2/P3P3/B5PP/5RK1 w - - 0 32", this, "f6e7"); ' class="line1">Ke7</span> 
 <span onclick='loadMove("2r1r3/1b2kQp1/2pq3p/1pR5/pP2pP2/P3P3/B5PP/5RK1 b - - 0 32", this, "f5f7"); ' class="line1">32.Qf7+</span> 
and White wins the bishop, as a start.</p>
<div class="chessBoard analysis nobuttons" data-start-fen="3rr1k1/1b4p1/2pqp2p/1pR5/pP6/P3P3/2Q2PPP/1B3RK1 w - - 0 28"></div>
<p class="longNotation">
 <span onclick='loadMove("3rr1k1/1b4pQ/2pqp2p/1pR5/pP6/P3P3/5PPP/1B3RK1 b - - 0 28", this, "c2h7"); ' class="line0">28.Qh7+</span> 
 <span class="ellipsis0">...</span> 
</p>
<p>Control of the light squares leading to Black's king renders this a decisive invasion; the cramping of Black's queenside and the smother-ing of his bishop make it difficult for Black to hold out.</p>
<p class="longNotation">
 <span class="ellipsis0">28. ...</span> 
 <span onclick='loadMove("3rrk2/1b4pQ/2pqp2p/1pR5/pP6/P3P3/5PPP/1B3RK1 w - - 0 29", this, "g8f8"); ' class="line0">Kf8</span> 
</p>
<p>On
 <span onclick='loadMove("3rr3/1b3kpQ/2pqp2p/1pR5/pP6/P3P3/5PPP/1B3RK1 w - - 0 29", this, "g8f7"); ' class="line1">28...Kf7</span> 
White can either win the exchange by a bishop check or pursue the attack by
 <span onclick='loadMove("3rr3/1b3kpQ/2pqp2p/1pR5/pP3P2/P3P3/6PP/1B3RK1 b - f3 0 29", this, "f2f4"); ' class="line1">29.f4</span> 
, when the continuation might be
 <span onclick='loadMove("3r3r/1b3kpQ/2pqp2p/1pR5/pP3P2/P3P3/6PP/1B3RK1 w - - 0 30", this, "e8h8"); ' class="line1">29...Rh8</span> 
 <span onclick='loadMove("3r3r/1b3kp1/2pqp1Qp/1pR5/pP3P2/P3P3/6PP/1B3RK1 b - - 0 30", this, "h7g6"); ' class="line1">30.Qg6+</span> 
 <span onclick='loadMove("3r1k1r/1b4p1/2pqp1Qp/1pR5/pP3P2/P3P3/6PP/1B3RK1 w - - 0 31", this, "f7f8"); ' class="line1">Kf8</span> 
 <span onclick='loadMove("3r1k1r/1b4p1/2pqp1Qp/1pR2P2/pP6/P3P3/6PP/1B3RK1 b - - 0 31", this, "f4f5"); ' class="line1">31.f5</span> 
 <span onclick='loadMove("3r1k1r/1b4p1/2pq2Qp/1pR1pP2/pP6/P3P3/6PP/1B3RK1 w - - 0 32", this, "e6e5"); ' class="line1">e5</span> 
(or
 <span onclick='loadMove("3r1k1r/1b2q1p1/2p1p1Qp/1pR2P2/pP6/P3P3/6PP/1B3RK1 w - - 0 32", this, "d6e7"); ' class="line2">31...Qe7</span> 
 <span onclick='loadMove("3r1k1r/1b2q1p1/2p1pPQp/1pR5/pP6/P3P3/6PP/1B3RK1 b - - 0 32", this, "f5f6"); ' class="line2">32.f6</span> 
)
 <span onclick='loadMove("3r1k1r/1b4p1/2pq1PQp/1pR1p3/pP6/P3P3/6PP/1B3RK1 b - - 0 32", this, "f5f6"); ' class="line1">32.f6</span> 
and White wins.</p>
<p class="longNotation">
 <span onclick='loadMove("3rrk2/1b4pQ/2pqp1Bp/1pR5/pP6/P3P3/5PPP/5RK1 b - - 0 29", this, "b1g6"); ' class="line0">29.Bg6</span> 
 <span class="ellipsis0">...</span> 
</p>
<p>Further confines the king while attacking the rook. The threat is
 <!--span onclick='loadMove("3rrk2/1b4pQ/2pqp1Bp/1pR5/pP6/P3P3/5PPP/5RK1 w - - 0 30", this, "b1g6"); ' class="line0">29...z0</span--> 
 <span onclick='loadMove("3rrk1Q/1b4p1/2pqp1Bp/1pR5/pP6/P3P3/5PPP/5RK1 b - - 0 30", this, "h7h8"); ' class="line0">30.Qh8+</span> 
 <span onclick='loadMove("3rr2Q/1b2k1p1/2pqp1Bp/1pR5/pP6/P3P3/5PPP/5RK1 w - - 0 31", this, "f8e7"); ' class="line0">Ke7</span> 
 <span onclick='loadMove("3rr3/1b2k1Q1/2pqp1Bp/1pR5/pP6/P3P3/5PPP/5RK1 b - - 0 31", this, "h8g7"); ' class="line0">31.Qxg7#</span> 
.</p>
<p>1-0</p>
<p>Black can only delay the execution at great cost in material.</p>
<p>White's play is a fine example of the value of preventive strategy. In paralysing Black's queenside, he demonstrates the extraordinary fact that weaknesses on one wing can lead to complete collapse on the other! Once Black is held in restraint, his efforts to make some sort of stand seem little more than feeble flutterings.</p>
</div> <!-- score -->
</div> <!-- section -->

</div> <!-- iBook -->
{% endblock content %}

