.chessBoard .flipicon
{
    background: url("invert_16.png") no-repeat top left;
}

table.game_board td.corner, 
table.game_board td.lettertop, 
table.game_board td.letterbottom, 
table.game_board td.numberleft, 
table.game_board td.numberright
{
    background: url("boardedge.png");
}

table.game_board td.white
{
    background: url("white.png") no-repeat;
}

table.game_board td.black
{
    background: url("black.png") no-repeat;
}

table.game_board td.black.controlled
{
    background-color: #b892c3;
    background-image: url("black.hl.png");
}

table.game_board td.white.controlled
{
    background-color: #dac6e1;
    background-image: url("white.hl.png");
}