{% extends '../../base.htm' %}
{% load static %}
{% block title %}
<title>{{book.title}} | {%for author in book.authors.all%} {%if author.first_name%} {{author.first_name}} {%endif%} {%if author.second_name%} {{author.second_name}} {%endif%} {%if forloop.counter == book.authors.all.count%} {{author.last_name}} {%else%} {{author.last_name}}, {%endif%} {%endfor%} | {{book.year}}</title>
{% endblock title %}
{% block content %}

<div class="iBook">

<div class="section">
<div class="chessBoard small floater" data-start-fen="rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w KQkq - 0 1"></div>
<div class="score">
 <span class="line0" onclick='loadMove("rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w KQkq - 0 1", this, ""); '>[...]</span> 
<h1>BRONSTEIN<br>on the King's Indian</h1>
<p>by David Bronstein with Ken Neat</p>
<p>EVERYMAN CHESS</p>
<p>Everyman Chess, formerly Cadogan Chess, is published by Everyman Publishers, London</p>
<p>First published in 1999 by Everyman Publishers plc, formerly Cadogan Books plc, Gloucester Mansions, 140A Shaftesbury Avenue, London WC2H 8HD.</p>
<p>Copyright © 1999 David Bronstein, Ken Neat</p>
<p>All rights reserved. No part of this publication may be reproduced, stored in a retrieval system or transmitted in any form or by any means: electronic, electrostatic, magnetic tape, mechanical, photocopying, recording or otherwise, without prior permission in writing from the publishers.</p>
<p>British Library Cataloguing in Publication Data</p>
<p>A CIP catalogue record for this book is available from the British Library.</p>
<p>ISBN 1 85744 265 2</p>
<p>Distributed in North America by The Globe Pequot Press, 6 Business Park Road, P.O. Box 833, Old Saybrook, Connecticut 06475-0833. Telephone 1-800 243 0495 (toll free)</p>
<p>All other sales enquiries should be directed to Everyman Chess, Gloucester Mansions, 140A Shaftesbury Avenue, London WC2H 8HD tel: 0171 539 7600 fax: 0171 379 4060 e-mail: dan@everyman.uk.com website: http://www.everyman.uk.com</p>
<p>EVERYMAN CHESS SERIES (formerly Cadogan Chess)</p>
<p>Chief Advisor: Garry Kasparov</p>
<p>Russian Series Editor: Ken Neat</p>
<p>Typeset by Ken Neat, Durham</p>
<p>Printed in Great Britain by Cromwell Press Ltd, Trowbridge, Wilts.</p>

<h1>BRONSTEIN<br>on the King's Indian</h1>
<p>This book demonstrates that the King's Indian is not a difficult opening to play or master, showing that it leads to rich and interesting positions in which both sides can enjoy a complicated struggle. The emphasis is on understanding the typical moves and manoeuvres and the overall 'spirit' of the defence, not on memorizing reams of theory.</p>
<p>The book also contains fifty of Russian grandmaster David Bronstein's favourite games that he has played with the King's Indian, not all with Black, and not all ending in wins, but games that demonstrate the wide variety of ideas and positions that can arise in this exciting defence.</p>
<p>David Bronstein was one of the two creators of the King's Indian Defence and is also the co-author of the highly acclaimed The Sorcerer's Apprentice.</p>
<p>EVERYMAN CHESS</p>
<p>www.everyman.uk.com</p>
<p>Published in the UK by Everyman Publishers Plc Distributed in the US by the Globe Pequot Press</p>

</div> <!-- score -->
</div> <!-- section -->

</div> <!-- iBook -->
{% endblock content %}
