{% extends '../../base.htm' %}
{% load static %}
{% block title %}
<title>Introduction | {{book.title}} | {%for author in book.authors.all%} {%if author.first_name%} {{author.first_name}} {%endif%} {%if author.second_name%} {{author.second_name}} {%endif%} {%if forloop.counter == book.authors.all.count%} {{author.last_name}} {%else%} {{author.last_name}}, {%endif%} {%endfor%} | {{book.year}}</title>
{% endblock title %}
{% block content %}

<div class="iBook">

<div class="section">
<div class="chessBoard small floater" data-start-fen="rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w KQkq - 0 1"></div>
<div class="score">
 <span class="line0" onclick='loadMove("rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w KQkq - 0 1", this, ""); '>[...]</span> 
<h2>Introduction</h2>
<p>Chess is a friendly game, which is why it was invented. The main idea of each player is to capture the chief of the opposing chess army, which according to the rules of the game leads to the surrender of the opposing forces. This rule was introduced because it was thought more beautiful for a lesser army to be able to outplay and force the surrender of a superior force. If you can understand the spirit of chess in this way, then you will see that the fewer men that are captured, the more noble is the victory, and this reflects a peculiarly human way of thinking.</p>
<p>So, winning or losing is not the main idea of chess at all. A chess game is in fact a friendly exchange of intentions, hidden in individual moves. You always have the choice either of putting into action your planned move, or of first calmly preventing the intended move of the friend with whom you are playing chess in this brief, finite moment of your life.</p>
<p>When chess is considered in this way, there is no better opening than the King's Indian Defence, for both players - White and Black, of every age, from beginners to masters. The King's Indian gives you the maximum opportunity to test your ability to make reasonable decisions in situations on the chess board that are always complex and uncertain. Now let us begin to look at the moves which introduce this beautiful chess opening.</p>
<p>
 <span onclick='loadMove("rnbqkbnr/pppppppp/8/8/3P4/8/PPP1PPPP/RNBQKBNR b KQkq d3 0 1", this, "d2d4"); ' class="line0">1.d4</span> 
 <span onclick='loadMove("rnbqkb1r/pppppppp/5n2/8/3P4/8/PPP1PPPP/RNBQKBNR w KQkq - 0 2", this, "g8f6"); ' class="line0">Nf6</span> 
</p>
<p>Black brings out his knight to a good square, preventing the white pawn from immediately occupying the e4 square, and makes the first step in preparing a residence for his king.</p>
<p>
 <span onclick='loadMove("rnbqkb1r/pppppppp/5n2/8/2PP4/8/PP2PPPP/RNBQKBNR b KQkq c3 0 2", this, "c2c4"); ' class="line0">2.c4</span> 
 <span onclick='loadMove("rnbqkb1r/pppppp1p/5np1/8/2PP4/8/PP2PPPP/RNBQKBNR w KQkq - 0 3", this, "g7g6"); ' class="line0">g6</span> 
</p>
<p>While the white pawns are occupying the centre, Black prepares a post for his bishop at g7.</p>
<p>
 <span onclick='loadMove("rnbqkb1r/pppppp1p/5np1/8/2PP4/2N5/PP2PPPP/R1BQKBNR b KQkq - 0 3", this, "b1c3"); ' class="line0">3.Nc3</span> 
 <span onclick='loadMove("rnbqk2r/ppppppbp/5np1/8/2PP4/2N5/PP2PPPP/R1BQKBNR w KQkq - 0 4", this, "f8g7"); ' class="line0">Bg7</span> 
</p>
<p>The bishop occupies the prepared post, and the residence is now ready for occupation by the black king.</p>
<p>
 <span onclick='loadMove("rnbqk2r/ppppppbp/5np1/8/2PPP3/2N5/PP3PPP/R1BQKBNR b KQkq e3 0 4", this, "e2e4"); ' class="line0">4.e4</span> 
 <span onclick='loadMove("rnbqk2r/ppp1ppbp/3p1np1/8/2PPP3/2N5/PP3PPP/R1BQKBNR w KQkq - 0 5", this, "d7d6"); ' class="line0">d6</span> 
</p>
<p>Black is careful to forestall the advance of the white pawn to e5. He is now ready to take his king into safety by castling, and then to strike at the white centre by advancing his own pawn to e5.</p>
<!--p>Introduction</p--><!--p>5</p-->
<div class="chessBoard analysis nobuttons" data-start-fen="rnbqk2r/ppp1ppbp/3p1np1/8/2PPP3/2N5/PP3PPP/R1BQKBNR w KQkq - 0 5"></div>
<!--p><b>Diagram</b></p-->
<!--img src="images/BronKingsIndian-1.png" style="width:163pt;height:163pt;"/-->
<p>This, basically, is what constitutes the King Indian's Defence! Of course, White is not obliged to choose this particular move order, but, as will be seen from the examples in the book, a King's Indian set-up can be adopted against a wide variety of opening moves.</p>
<p>At this point we consider it appropriate to make a brief journey into history, to see how this opening was played by some of the great players from the past.</p>
<h3>How this book was compiled</h3>
<p>In the course of many meetings, telephone discussions and exchanges of correspondence, David Bronstein provided me with a wealth of analyses and ideas relating to the King's Indian Defence, which I have endeavoured to arrange in a coherent and instructive form. On his suggestion I have also included a few of my own games, and although it may seem incongruous to have these appearing alongside battles between world-class players, they do have the merit of highlighting certain basic errors which one would not encounter in grandmaster games. Considerable assistance in the compilation of the material was made in Moscow by Sergey Rosenberg, and the two authors are deeply grateful to him for his contribution to the book.</p>
<p>Ken Neat Durham, June 1999</p>
</div> <!-- score -->
</div> <!-- section -->

</div> <!-- iBook -->
{% endblock content %}
