{% extends '../../base.htm' %}
{% load static %}
{% block title %}
<title>Index of other players | {{book.title}} | {%for author in book.authors.all%} {%if author.first_name%} {{author.first_name}} {%endif%} {%if author.second_name%} {{author.second_name}} {%endif%} {%if forloop.counter == book.authors.all.count%} {{author.last_name}} {%else%} {{author.last_name}}, {%endif%} {%endfor%} | {{book.year}}</title>
{% endblock title %}
{% block content %}

<div class="iBook">

<div class="section">
<!--div class="chessBoard small floater" data-start-fen="rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w KQkq - 0 1"></div-->
<div class="score">
 <!--span class="line0" onclick='loadMove("rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w KQkq - 0 1", this, ""); '>[...]</span--> 
<h2>Index of other players</h2>
<p>(numbers refer to games)</p>

<p>Abrahams&nbsp;<a href="5-4-3-black-pawns-at-e5-and-c5.htm#game36">36</a></p>

<p>Alekhine&nbsp;<a href="1-a-brief-journey-into-the-past.htm#gameP2">P2</a></p>

<p>Aloni&nbsp;<a href="5-7-white-castles-queenside.htm#game47">47</a></p>

<p>Antoshin&nbsp;<a href="6-64-additional-games.htm#gameA44">A44</a></p>

<p>Baturinsky&nbsp;<a href="6-64-additional-games.htm#gameA5">A5</a></p>

<p>Batuyev&nbsp;<a href="5-1-restrained-set-up-by-white.htm#game4">4</a></p>

<p>Belavenets&nbsp;<a href="5-1-restrained-set-up-by-white.htm#game1">1</a></p>

<p>Bisguier&nbsp;<a href="5-7-white-castles-queenside.htm#game48">48</a></p>

<p>Blau&nbsp;<a href="5-3-black-captures-_e5xd4.htm#game21">21</a></p>

<p>Boleslavsky&nbsp;<a href="6-64-additional-games.htm#gameA8">A8</a>,
 <a href="6-64-additional-games.htm#gameA12">A12</a>,
 <a href="6-64-additional-games.htm#gameA13">A13</a>,
 <a href="6-64-additional-games.htm#gameA14">A14</a>,
 <a href="6-64-additional-games.htm#gameA37">A37</a>,
 <a href="1-a-brief-journey-into-the-past.htm#gameP3">P3</a></p>

<p>Bondarevsky&nbsp;<a href="5-1-restrained-set-up-by-white.htm#game7">7</a></p>

<p>Botvinnik&nbsp;<a href="5-4-2-black-opens-the-c-file.htm#game32">32</a>,
 <a href="5-5-the-central-tension-is-maintained.htm#game40">40</a></p>

<p>Bronstein&nbsp;<a href="5-1-restrained-set-up-by-white.htm#game1">1</a>,
 <a href="5-1-restrained-set-up-by-white.htm#game2">2</a>,
 <a href="5-1-restrained-set-up-by-white.htm#game3">3</a>,
 <a href="5-1-restrained-set-up-by-white.htm#game4">4</a>,
 <a href="5-1-restrained-set-up-by-white.htm#game5">5</a>,
 <a href="5-1-restrained-set-up-by-white.htm#game6">6</a>,
 <a href="5-1-restrained-set-up-by-white.htm#game7">7</a>,
 <a href="5-1-restrained-set-up-by-white.htm#game8">8</a>,
 <a href="5-1-restrained-set-up-by-white.htm#game9">9</a>,
 <a href="5-2-white-exchanges-d4xe5.htm#game10">10</a>,
 <a href="5-2-white-exchanges-d4xe5.htm#game11">11</a>,
 <a href="5-2-white-exchanges-d4xe5.htm#game12">12</a>,
 <a href="5-2-white-exchanges-d4xe5.htm#game13">13</a>,
 <a href="5-2-white-exchanges-d4xe5.htm#game14">14</a>,
 <a href="5-3-black-captures-_e5xd4.htm#game15">15</a>,
 <a href="5-3-black-captures-_e5xd4.htm#game16">16</a>,
 <a href="5-3-black-captures-_e5xd4.htm#game17">17</a>,
 <a href="5-3-black-captures-_e5xd4.htm#game18">18</a>,
 <a href="5-3-black-captures-_e5xd4.htm#game19">19</a>,
 <a href="5-3-black-captures-_e5xd4.htm#game20">20</a>,
 <a href="5-3-black-captures-_e5xd4.htm#game21">21</a>,
 <a href="5-3-black-captures-_e5xd4.htm#game22">22</a>,
 <a href="5-3-black-captures-_e5xd4.htm#game23">23</a>,
 <a href="5-4-1-black-keeps-his-pawn-at-c7.htm#game24">24</a>,
 <a href="5-4-1-black-keeps-his-pawn-at-c7.htm#game25">25</a>,
 <a href="5-4-1-black-keeps-his-pawn-at-c7.htm#game26">26</a>,
 <a href="5-4-1-black-keeps-his-pawn-at-c7.htm#game27">27</a>,
 <a href="5-4-1-black-keeps-his-pawn-at-c7.htm#game28">28</a>,
 <a href="5-4-1-black-keeps-his-pawn-at-c7.htm#game29">29</a>,
 <a href="5-4-1-black-keeps-his-pawn-at-c7.htm#game30">30</a>,
 <a href="5-4-2-black-opens-the-c-file.htm#game31">31</a>,
 <a href="5-4-2-black-opens-the-c-file.htm#game32">32</a>,
 <a href="5-4-2-black-opens-the-c-file.htm#game33">33</a>,
 <a href="5-4-2-black-opens-the-c-file.htm#game34">34</a>,
 <a href="5-4-2-black-opens-the-c-file.htm#game35">35</a>,
 <a href="5-4-3-black-pawns-at-e5-and-c5.htm#game36">36</a>,
 <a href="5-4-3-black-pawns-at-e5-and-c5.htm#game37">37</a>,
 <a href="5-4-3-black-pawns-at-e5-and-c5.htm#game38">38</a>,
 <a href="5-4-3-black-pawns-at-e5-and-c5.htm#game39">39</a>,
 <a href="5-5-the-central-tension-is-maintained.htm#game40">40</a>,
 <a href="5-6-benoni-set-ups.htm#game41">41</a>,
 <a href="5-6-benoni-set-ups.htm#game42">42</a>,
 <a href="5-6-benoni-set-ups.htm#game43">43</a>,
 <a href="5-6-benoni-set-ups.htm#game44">44</a>,
 <a href="5-6-benoni-set-ups.htm#game45">45</a>,
 <a href="5-7-white-castles-queenside.htm#game46">46</a>,
 <a href="5-7-white-castles-queenside.htm#game47">47</a>,
 <a href="5-7-white-castles-queenside.htm#game48">48</a>,
 <a href="5-7-white-castles-queenside.htm#game49">49</a>,
 <a href="5-7-white-castles-queenside.htm#game50">50</a>,
 <a href="6-64-additional-games.htm#gameA1">A1</a>,
 <a href="6-64-additional-games.htm#gameA2">A2</a>,
 <a href="6-64-additional-games.htm#gameA3">A3</a>,
 <a href="6-64-additional-games.htm#gameA4">A4</a>,
 <a href="6-64-additional-games.htm#gameA5">A5</a>,
 <a href="6-64-additional-games.htm#gameA6">A6</a>,
 <a href="6-64-additional-games.htm#gameA7">A7</a>,
 <a href="6-64-additional-games.htm#gameA8">A8</a>,
 <a href="6-64-additional-games.htm#gameA9">A9</a>,
 <a href="6-64-additional-games.htm#gameA10">A10</a>,
 <a href="6-64-additional-games.htm#gameA13">A13</a>,
 <a href="6-64-additional-games.htm#gameA14">A14</a>,
 <a href="6-64-additional-games.htm#gameA15">A15</a>,
 <a href="6-64-additional-games.htm#gameA17">A17</a>,
 <a href="6-64-additional-games.htm#gameA18">A18</a>,
 <a href="6-64-additional-games.htm#gameA19">A19</a>,
 <a href="6-64-additional-games.htm#gameA20">A20</a>,
 <a href="6-64-additional-games.htm#gameA21">A21</a>,
 <a href="6-64-additional-games.htm#gameA22">A22</a>,
 <a href="6-64-additional-games.htm#gameA23">A23</a>,
 <a href="6-64-additional-games.htm#gameA24">A24</a>,
 <a href="6-64-additional-games.htm#gameA25">A25</a>,
 <a href="6-64-additional-games.htm#gameA26">A26</a>,
 <a href="6-64-additional-games.htm#gameA27">A27</a>,
 <a href="6-64-additional-games.htm#gameA28">A28</a>,
 <a href="6-64-additional-games.htm#gameA29">A29</a>,
 <a href="6-64-additional-games.htm#gameA30">A30</a>,
 <a href="6-64-additional-games.htm#gameA31">A31</a>,
 <a href="6-64-additional-games.htm#gameA32">A32</a>,
 <a href="6-64-additional-games.htm#gameA33">A33</a>,
 <a href="6-64-additional-games.htm#gameA34">A34</a>,
 <a href="6-64-additional-games.htm#gameA35">A35</a>,
 <a href="6-64-additional-games.htm#gameA36">A36</a>,
 <a href="6-64-additional-games.htm#gameA37">A37</a>,
 <a href="6-64-additional-games.htm#gameA40">A40</a>,
 <a href="6-64-additional-games.htm#gameA41">A41</a>,
 <a href="6-64-additional-games.htm#gameA42">A42</a>,
 <a href="6-64-additional-games.htm#gameA44">A44</a>,
 <a href="6-64-additional-games.htm#gameA45">A45</a>,
 <a href="6-64-additional-games.htm#gameA46">A46</a>,
 <a href="6-64-additional-games.htm#gameA47">A47</a>,
 <a href="6-64-additional-games.htm#gameA48">A48</a>,
 <a href="6-64-additional-games.htm#gameA49">A49</a>,
 <a href="6-64-additional-games.htm#gameA50">A50</a>,
 <a href="6-64-additional-games.htm#gameA51">A51</a>,
 <a href="6-64-additional-games.htm#gameA52">A52</a>,
 <a href="6-64-additional-games.htm#gameA57">A57</a>,
 <a href="6-64-additional-games.htm#gameA59">A59</a>,
 <a href="6-64-additional-games.htm#gameA60">A60</a>,
 <a href="6-64-additional-games.htm#gameA61">A61</a>,
 <a href="6-64-additional-games.htm#gameA62">A62</a>,
 <a href="6-64-additional-games.htm#gameA63">A63</a></p>

<p>Cafferty&nbsp;<a href="6-64-additional-games.htm#gameA53">A53</a></p>

<p>Chekhover&nbsp;<a href="5-1-restrained-set-up-by-white.htm#game5">5</a></p>

<p>Cherepkov&nbsp;<a href="5-6-benoni-set-ups.htm#game45">45</a></p>

<p>Dake&nbsp;<a href="6-64-additional-games.htm#gameA22">A22</a></p>

<p>Deep Thought II&nbsp;<a href="6-64-additional-games.htm#gameA59">A59</a></p>

<p>Dvoretsky&nbsp;<a href="6-64-additional-games.htm#gameA52">A52</a></p>

<p>Englisch&nbsp;<a href="1-a-brief-journey-into-the-past.htm#gameP1">P1</a></p>

<p>Evans&nbsp;<a href="6-64-additional-games.htm#gameA45">A45</a></p>

<p>Fine&nbsp;<a href="1-a-brief-journey-into-the-past.htm#gameP3">P3</a></p>

<p>Flohr&nbsp;<a href="6-64-additional-games.htm#gameA7">A7</a>,
 <a href="6-64-additional-games.htm#gameA9">A9</a></p>

<p>Fuderer&nbsp;<a href="6-64-additional-games.htm#gameA25">A25</a></p>

<p>Geller&nbsp;<a href="6-64-additional-games.htm#gameA11">A11</a></p>

<p>Gligoric&nbsp;<a href="6-64-additional-games.htm#gameA19">A19</a></p>

<p>Goldenov&nbsp;<a href="6-64-additional-games.htm#gameA1">A1</a></p>

<p>Golombek&nbsp;<a href="5-4-1-black-keeps-his-pawn-at-c7.htm#game27">27</a></p>

<p>Hartston&nbsp;<a href="5-6-benoni-set-ups.htm#game44">44</a></p>

<p>Haygarth&nbsp;<a href="6-64-additional-games.htm#gameA43">A43</a></p>

<p>Henriksen&nbsp;<a href="6-64-additional-games.htm#gameA60">A60</a></p>

<p>Hoad&nbsp;<a href="6-64-additional-games.htm#gameA38">A38</a></p>

<p>Kapengut&nbsp;<a href="5-4-1-black-keeps-his-pawn-at-c7.htm#game29">29</a></p>

<p>Keres&nbsp;<a href="6-64-additional-games.htm#gameA20">A20</a></p>

<p>Kluger&nbsp;<a href="6-64-additional-games.htm#gameA41">A41</a></p>

<p>Koblents&nbsp;<a href="6-64-additional-games.htm#gameA2">A2</a></p>

<p>Kolarov&nbsp;<a href="5-1-restrained-set-up-by-white.htm#game6">6</a></p>

<p>Kolbus&nbsp;<a href="5-4-2-black-opens-the-c-file.htm#game35">35</a></p>

<p>Korchnoi&nbsp;<a href="6-64-additional-games.htm#gameA31">A31</a>,
 <a href="6-64-additional-games.htm#gameA40">A40</a></p>

<p>Kotov&nbsp;<a href="5-2-white-exchanges-d4xe5.htm#game10">10</a>,
 <a href="5-4-1-black-keeps-his-pawn-at-c7.htm#game26">26</a>,
 <a href="6-64-additional-games.htm#gameA3">A3</a>,
 <a href="6-64-additional-games.htm#gameA11">A11</a></p>

<p>Kots&nbsp;<a href="6-64-additional-games.htm#gameA42">A42</a></p>

<p>Kottnauer&nbsp;<a href="5-4-1-black-keeps-his-pawn-at-c7.htm#game25">25</a></p>

<p>Krogius&nbsp;<a href="6-64-additional-games.htm#gameA35">A35</a></p>

<p>Kupreichik&nbsp;<a href="5-7-white-castles-queenside.htm#game49">49</a></p>

<p>Larsen&nbsp;<a href="6-64-additional-games.htm#gameA46">A46</a></p>

<p>Larusson&nbsp;<a href="6-64-additional-games.htm#gameA54">A54</a></p>

<p>Lilienthal&nbsp;<a href="5-4-2-black-opens-the-c-file.htm#game31">31</a></p>

<p>Lisitsyn&nbsp;<a href="5-4-1-black-keeps-his-pawn-at-c7.htm#game24">24</a></p>

<p>Littlewood&nbsp;<a href="6-64-additional-games.htm#gameA55">A55</a></p>

<p>Lundin&nbsp;<a href="6-64-additional-games.htm#gameA10">A10</a></p>

<p>Lutikov&nbsp;<a href="5-4-2-black-opens-the-c-file.htm#game33">33</a>,
 <a href="6-64-additional-games.htm#gameA36">A36</a></p>

<p>Makogonov&nbsp;<a href="5-7-white-castles-queenside.htm#game46">46</a></p>

<p>Marovic&nbsp;<a href="6-64-additional-games.htm#gameA49">A49</a></p>

<p>Mikenas&nbsp;<a href="6-64-additional-games.htm#gameA47">A47</a></p>

<p>Moiseyev&nbsp;<a href="5-1-restrained-set-up-by-white.htm#game8">8</a></p>

<p>Najdorf&nbsp;<a href="5-3-black-captures-_e5xd4.htm#game19">19</a>,
 <a href="6-64-additional-games.htm#gameA18">A18</a>,
 <a href="6-64-additional-games.htm#gameA21">A21</a></p>

<p>Neat&nbsp;<a href="6-64-additional-games.htm#gameA38">A38</a>,
 <a href="6-64-additional-games.htm#gameA39">A39</a>,
 <a href="6-64-additional-games.htm#gameA43">A43</a>,
 <a href="6-64-additional-games.htm#gameA53">A53</a>,
 <a href="6-64-additional-games.htm#gameA54">A54</a>,
 <a href="6-64-additional-games.htm#gameA55">A55</a>,
 <a href="6-64-additional-games.htm#gameA56">A56</a>,
 <a href="6-64-additional-games.htm#gameA58">A58</a>,
 <a href="6-64-additional-games.htm#gameA64">A64</a></p>

<p>Nowak&nbsp;<a href="5-1-restrained-set-up-by-white.htm#game9">9</a></p>
<!--p>208</p--><!--p>Bronstein on the King's Indian</p-->
<p>Opocensky&nbsp;<a href="6-64-additional-games.htm#gameA6">A6</a></p>

<p>Pachman&nbsp;<a href="5-3-black-captures-_e5xd4.htm#game15">15</a>,
 <a href="6-64-additional-games.htm#gameA61">A61</a></p>

<p>Panno&nbsp;<a href="5-2-white-exchanges-d4xe5.htm#game13">13</a>,
 <a href="5-6-benoni-set-ups.htm#game41">41</a>,
 <a href="6-64-additional-games.htm#gameA29">A29</a></p>

<p>Pein&nbsp;<a href="5-7-white-castles-queenside.htm#game50">50</a></p>

<p>Petrosian&nbsp;<a href="5-4-3-black-pawns-at-e5-and-c5.htm#game39">39</a>,
 <a href="6-64-additional-games.htm#gameA16">A16</a>,
 <a href="6-64-additional-games.htm#gameA27">A27</a></p>

<p>Petursson&nbsp;<a href="6-64-additional-games.htm#gameA56">A56</a></p>

<p>Pilnik&nbsp;<a href="6-64-additional-games.htm#gameA23">A23</a>,
 <a href="6-64-additional-games.htm#gameA28">A28</a></p>

<p>Platonov&nbsp;<a href="6-64-additional-games.htm#gameA50">A50</a></p>

<p>Ravinsky&nbsp;<a href="5-1-restrained-set-up-by-white.htm#game3">3</a>,
 <a href="5-4-3-black-pawns-at-e5-and-c5.htm#game37">37</a></p>

<p>Reshevsky&nbsp;<a href="5-3-black-captures-_e5xd4.htm#game20">20</a></p>

<p>Rytov&nbsp;<a href="6-64-additional-games.htm#gameA51">A51</a></p>

<p>Sajtar&nbsp;<a href="5-2-white-exchanges-d4xe5.htm#game12">12</a></p>

<p>Sakharov&nbsp;<a href="5-3-black-captures-_e5xd4.htm#game22">22</a></p>

<p>Santasiere&nbsp;<a href="5-2-white-exchanges-d4xe5.htm#game11">11</a></p>

<p>Schebler&nbsp;<a href="6-64-additional-games.htm#gameA63">A63</a></p>

<p>Shamkovich&nbsp;<a href="5-6-benoni-set-ups.htm#game43">43</a></p>

<p>Slomson&nbsp;<a href="6-64-additional-games.htm#gameA39">A39</a></p>

<p>Smith&nbsp;<a href="6-64-additional-games.htm#gameA62">A62</a></p>

<p>Solntsev&nbsp;<a href="6-64-additional-games.htm#gameA4">A4</a></p>

<p>Spassky&nbsp;<a href="5-4-1-black-keeps-his-pawn-at-c7.htm#game28">28</a>,
 <a href="6-64-additional-games.htm#gameA26">A26</a></p>

<p>Stahlberg&nbsp;<a href="5-4-3-black-pawns-at-e5-and-c5.htm#game38">38</a></p>

<p>Stoltz&nbsp;<a href="6-64-additional-games.htm#gameA16">A16</a></p>

<p>Stuart&nbsp;<a href="6-64-additional-games.htm#gameA58">A58</a></p>

<p>Szabo&nbsp;<a href="6-64-additional-games.htm#gameA12">A12</a>,
 <a href="6-64-additional-games.htm#gameA24">A24</a>,
 <a href="6-64-additional-games.htm#gameA48">A48</a></p>

<p>Taimanov&nbsp;<a href="6-64-additional-games.htm#gameA17">A17</a></p>

<p>Tarasov&nbsp;<a href="6-64-additional-games.htm#gameA32">A32</a></p>

<p>Tarrasch&nbsp;<a href="1-a-brief-journey-into-the-past.htm#gameP1">P1</a></p>

<p>Terpugov&nbsp;<a href="6-64-additional-games.htm#gameA15">A15</a></p>

<p>Thorsson&nbsp;<a href="5-4-1-black-keeps-his-pawn-at-c7.htm#game30">30</a></p>

<p>Tolush&nbsp;<a href="5-1-restrained-set-up-by-white.htm#game2">2</a>,
 <a href="5-4-2-black-opens-the-c-file.htm#game34">34</a></p>

<p>Udovcic&nbsp;<a href="6-64-additional-games.htm#gameA34">A34</a></p>

<p>Vaganian&nbsp;<a href="5-2-white-exchanges-d4xe5.htm#game14">14</a>,
 <a href="5-3-black-captures-_e5xd4.htm#game23">23</a></p>

<p>Vajda&nbsp;<a href="5-3-black-captures-_e5xd4.htm#game18">18</a></p>

<p>Vasiljevic&nbsp;<a href="6-64-additional-games.htm#gameA57">A57</a></p>

<p>Vasyukov&nbsp;<a href="6-64-additional-games.htm#gameA30">A30</a></p>

<p>Walton&nbsp;<a href="6-64-additional-games.htm#gameA64">A64</a></p>

<p>Wexler&nbsp;<a href="5-6-benoni-set-ups.htm#game42">42</a></p>

<p>Winter&nbsp;<a href="5-3-black-captures-_e5xd4.htm#game17">17</a></p>

<p>Yates&nbsp;<a href="1-a-brief-journey-into-the-past.htm#gameP2">P2</a></p>

<p>Zita&nbsp;<a href="5-3-black-captures-_e5xd4.htm#game16">16</a>,
 <a href="6-64-additional-games.htm#gameA33">A33</a></p>
</div> <!-- score -->
</div> <!-- section -->

</div> <!-- iBook -->
{% endblock content %}
