{% extends '../base.htm' %}
{% load static %}
{% block description %}
<meta name="description" content="Ученик Петрова, «Новый анализ...», Стаунтон — Яниш, Поэзия шахмат, С точки зрения математики...">
{% endblock description %}
{% block content %}

<div class="iBook">

<div class="section">
	<ul>
		<li><a class="line0" href="{% url 'linder_first_russian_masters_uchenik_petrova' %}">Ученик Петрова</a></li>
		<li><a class="line0" href="{% url 'linder_first_russian_masters_novyj_analiz' %}">«Новый анализ...»</a></li>
		<li><a class="line0" href="{% url 'linder_first_russian_masters_staunton_-_yanish' %}">Стаунтон — Яниш</a></li>
		<li><a class="line0" href="{% url 'linder_first_russian_masters_poeziya_shahmat' %}">Поэзия шахмат</a></li>
		<li><a class="line0" href="{% url 'linder_first_russian_masters_s_tochki_zreniya_matematiki' %}">С точки зрения математики...</a></li>
	</ul>
<div class="score">

<h1>Яниш</h1>

<p>Почетное место в летописи отечественной шахматной школы занимает имя Карла Андреевича Яниша, произведения которого уже при жизни автора были признаны классическими. Талантливый шахматный аналитик и композитор, журналист и организатор петербургской шахматной жизни середины XIX века, он был в то же время одним из инициаторов развития международных шахматных связей России. Но особенно велик его вклад в дебютную теорию. Несмотря на то что она за истекший век ушла в своем развитии далеко вперед, многие идеи Яниша и сегодня еще живы и находят применение в шахматной практике.</p>

</div> <!-- score -->
</div> <!-- section -->

</div> <!-- iBook -->

{% endblock content %}

