{% extends '../base.htm' %}
{% load static %}
{% block description %}
<meta name="description" content="Сильнейший в столице, Московский мастер, Гамбит Урусова, Второй в России, «Мой севастопольский друг»">
{% endblock description %}
{% block content %}

<div class="iBook">

<div class="section">
<ul>
	<li><a class="line0" href="{% url 'linder_first_russian_masters_silnejshij_v_stolice' %}">Сильнейший в столице</a></li>
	<li><a class="line0" href="{% url 'linder_first_russian_masters_moskovskij_master' %}">Московский мастер</a></li>
	<li><a class="line0" href="{% url 'linder_first_russian_masters_gambit_urusova' %}">Гамбит Урусова</a></li>
	<li><a class="line0" href="{% url 'linder_first_russian_masters_vtoroj_v_rossii' %}">Второй в России</a></li>
	<li><a class="line0" href="{% url 'linder_first_russian_masters_moj_sevastopolskij_drug' %}">«Мой севастопольский друг»</a></li>
</ul>
<div class="score">
<h1>УРУСОВЫ</h1>
<p>Жизнь и деятельность братьев Сергея Семеновича и Дмитрия Семеновича Урусовых замечательны во многих отношениях. В середине XIX века один из них был сильнейшим шахматистом Москвы, другой — Петербурга. Московский мастер С. Урусов был тогда вторым по силе шахматистом России. Он получил известность и как участник Севастопольской обороны, удостоенный за храбрость офицерского Георгиевского креста, и как друг Льва Толстого.</p>

</div> <!-- score -->
</div> <!-- section -->

</div> <!-- iBook -->
{% endblock content %}
