{% extends '../base.htm' %}
{% load static %}
{% block content %}

<div class="iBook">

<div class="section">
<div class="score">
<h2>ГАМБИТ УРУСОВА</h2>
<p>Сергей Семенович был разносторонне одаренным человеком. Природа наградила его хорошим слухом и приятным голосом. В его репертуаре были романсы собственного сочинения. Рано у него обнаружились способности и к математике. Здесь он не остался дилетантом. С. Урусов выступал с докладами о дифференциальных уравнениях на заседаниях Московского математического общества и даже написал «Руководство к изучению геометрии, алгебры и тригонометрии», вышедшее в трех частях в 1870-1871 годах.</p>
<p>Но наибольшую известность С. Урусов приобрел как шахматист. После окончания
<!--p>117</p-->
Крымской войны и отставки Сергей Семенович, серьезно готовясь к решающей встрече с Петровым, особенно много стал заниматься теорией.</p>
<p>Уже одно из первых его исследований о дебюте слона, помещенное в 1857 году в «Шахцайтунг», обратило на себя внимание искусством анализа. Предложенный Урусовым гамбит подвергся обсуждению на страницах многих журналов и вошел в теоретические руководства.</p>
</div> <!-- score -->
</div> <!-- section -->

<div class="section">
<div class="chessBoard small floater" data-start-fen="rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w KQkq - 0 1"></div>
<div class="score">
 <span class="line0" onclick='loadMove("rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w KQkq - 0 1", this, ""); '>[...]</span> 
<p><b>Дебют слона</b></p>
<p><b>Гамбит Урусова</b></p>
<p class="longNotation">
 <span onclick='loadMove("rnbqkbnr/pppppppp/8/8/4P3/8/PPPP1PPP/RNBQKBNR b KQkq e3 0 1", this, "e2e4"); ' class="line0">1.e2-e4</span> 
 <span onclick='loadMove("rnbqkbnr/pppp1ppp/8/4p3/4P3/8/PPPP1PPP/RNBQKBNR w KQkq e6 0 2", this, "e7e5"); ' class="line0">e7-e5</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("rnbqkbnr/pppp1ppp/8/4p3/2B1P3/8/PPPP1PPP/RNBQK1NR b KQkq - 0 2", this, "f1c4"); ' class="line0">2.Сf1-c4</span> 
 <span onclick='loadMove("rnbqkb1r/pppp1ppp/5n2/4p3/2B1P3/8/PPPP1PPP/RNBQK1NR w KQkq - 0 3", this, "g8f6"); ' class="line0">Кg8-f6</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("rnbqkb1r/pppp1ppp/5n2/4p3/2BPP3/8/PPP2PPP/RNBQK1NR b KQkq d3 0 3", this, "d2d4"); ' class="line0">3.d2-d4</span> 
 <span onclick='loadMove("rnbqkb1r/pppp1ppp/5n2/8/2BpP3/8/PPP2PPP/RNBQK1NR w KQkq - 0 4", this, "e5d4"); ' class="line0">e5:d4</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("rnbqkb1r/pppp1ppp/5n2/8/2BpP3/5N2/PPP2PPP/RNBQK2R b KQkq - 0 4", this, "g1f3"); ' class="line0">4.Кg1-f3</span> 
 <span class="ellipsis0">...</span> 
</p>
<p>В середине прошлого века играли
 <span onclick='loadMove("rnbqkb1r/pppp1ppp/5n2/8/2BQP3/8/PPP2PPP/RNB1K1NR b KQkq - 0 4", this, "d1d4"); ' class="line1">4.Ф:d4</span> 
или
 <span onclick='loadMove("rnbqkb1r/pppp1ppp/5n2/4P3/2Bp4/8/PPP2PPP/RNBQK1NR b KQkq - 0 4", this, "e4e5"); ' class="line1">4.e5</span> 
. С. Урусов разработал новую систему с жертвой пешки.</p>
<div class="chessBoard analysis nobuttons" data-start-fen="rnbqkb1r/pppp1ppp/5n2/8/2BpP3/5N2/PPP2PPP/RNBQK2R b KQkq - 0 4"></div>
<p>Как показал мастер, в распоряжении черных есть несколько защит. При
 <span onclick='loadMove("r1bqkb1r/pppp1ppp/2n2n2/8/2BpP3/5N2/PPP2PPP/RNBQK2R w KQkq - 0 5", this, "b8c6"); ' class="line1">4...Кc6</span> 
партия переходит в защиту двух коней,
при
 <span onclick='loadMove("rnbqkb1r/ppp2ppp/5n2/3p4/2BpP3/5N2/PPP2PPP/RNBQK2R w KQkq d6 0 5", this, "d7d5"); ' class="line1">4...d5</span> 
черные сохраняют равные возможности,
а при взятии пешки —
 <span onclick='loadMove("rnbqkb1r/pppp1ppp/8/8/2Bpn3/5N2/PPP2PPP/RNBQK2R w KQkq - 0 5", this, "f6e4"); ' class="line1">4...К:e4</span> 
— у белых
<!--p>118</p-->
возникают прекрасные шансы на атаку:
 <span onclick='loadMove("rnbqkb1r/pppp1ppp/8/8/2BQn3/5N2/PPP2PPP/RNB1K2R b KQkq - 0 5", this, "d1d4"); ' class="line1">5.Ф:d4</span> 
 <span onclick='loadMove("rnbqkb1r/pppp1ppp/5n2/8/2BQ4/5N2/PPP2PPP/RNB1K2R w KQkq - 0 6", this, "e4f6"); ' class="line1">Кf6</span> 
 <span onclick='loadMove("rnbqkb1r/pppp1ppp/5n2/6B1/2BQ4/5N2/PPP2PPP/RN2K2R b KQkq - 0 6", this, "c1g5"); ' class="line1">6.Сg5</span> 
 <span onclick='loadMove("rnbqk2r/ppppbppp/5n2/6B1/2BQ4/5N2/PPP2PPP/RN2K2R w KQkq - 0 7", this, "f8e7"); ' class="line1">Сe7</span> 
 <span onclick='loadMove("rnbqk2r/ppppbppp/5n2/6B1/2BQ4/2N2N2/PPP2PPP/R3K2R b KQkq - 0 7", this, "b1c3"); ' class="line1">7.Кc3</span> 
 <span onclick='loadMove("rnbqk2r/pp1pbppp/2p2n2/6B1/2BQ4/2N2N2/PPP2PPP/R3K2R w KQkq - 0 8", this, "c7c6"); ' class="line1">c6</span> 
 <span onclick='loadMove("rnbqk2r/pp1pbppp/2p2n2/6B1/2BQ4/2N2N2/PPP2PPP/2KR3R b kq - 0 8", this, "e1c1"); ' class="line1">8.0-0-0</span> 
 <span onclick='loadMove("rnbqk2r/pp2bppp/2p2n2/3p2B1/2BQ4/2N2N2/PPP2PPP/2KR3R w kq d6 0 9", this, "d7d5"); ' class="line1">d5</span> 
 <span onclick='loadMove("rnbqk2r/pp2bppp/2p2n2/3p2B1/2BQ4/2N2N2/PPP2PPP/2KRR3 b kq - 0 9", this, "h1e1"); ' class="line1">9.Лhe1!</span> 
и т. д.
Впоследствии А. Алехин писал: «В случае
 <span onclick='loadMove("rnbqkb1r/pppp1ppp/8/8/2Bpn3/5N2/PPP2PPP/RNBQK2R w KQkq - 0 5", this, "f6e4"); ' class="line1">4...К:e4</span> 
 <span onclick='loadMove("rnbqkb1r/pppp1ppp/8/8/2BQn3/5N2/PPP2PPP/RNB1K2R b KQkq - 0 5", this, "d1d4"); ' class="line1">5.Ф:d4</span> 
у белых очень сильная атака. Я принципиально избегаю подобного материального выигрыша в дебюте, ведущего лишь к потере времени и к задержке в развитии». В теории дебютов эта система игры получила название гамбита Урусова.</p>
<p>Оригинальную идею высказал С. Урусов и в другом дебюте.</p>
</div> <!-- score -->
</div> <!-- section -->

<div class="section">
<div class="chessBoard small floater" data-start-fen="rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w KQkq - 0 1"></div>
<div class="score">
 <span class="line0" onclick='loadMove("rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w KQkq - 0 1", this, ""); '>[...]</span> 
<p><b>Итальянская партия</b></p>
<p class="longNotation">
 <span onclick='loadMove("rnbqkbnr/pppppppp/8/8/4P3/8/PPPP1PPP/RNBQKBNR b KQkq e3 0 1", this, "e2e4"); ' class="line0">1.e2-e4</span> 
 <span onclick='loadMove("rnbqkbnr/pppp1ppp/8/4p3/4P3/8/PPPP1PPP/RNBQKBNR w KQkq e6 0 2", this, "e7e5"); ' class="line0">e7-e5</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("rnbqkbnr/pppp1ppp/8/4p3/4P3/5N2/PPPP1PPP/RNBQKB1R b KQkq - 0 2", this, "g1f3"); ' class="line0">2.Кg1-f3</span> 
 <span onclick='loadMove("r1bqkbnr/pppp1ppp/2n5/4p3/4P3/5N2/PPPP1PPP/RNBQKB1R w KQkq - 0 3", this, "b8c6"); ' class="line0">Кb8-c6</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("r1bqkbnr/pppp1ppp/2n5/4p3/2B1P3/5N2/PPPP1PPP/RNBQK2R b KQkq - 0 3", this, "f1c4"); ' class="line0">3.Сf1-c4</span> 
 <span onclick='loadMove("r1bqk1nr/pppp1ppp/2n5/2b1p3/2B1P3/5N2/PPPP1PPP/RNBQK2R w KQkq - 0 4", this, "f8c5"); ' class="line0">Сf8-c5</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("r1bqk1nr/pppp1ppp/2n5/2b1p3/2B1P3/2P2N2/PP1P1PPP/RNBQK2R b KQkq - 0 4", this, "c2c3"); ' class="line0">4.c2-c3</span> 
 <span onclick='loadMove("r1bqk2r/pppp1ppp/2n2n2/2b1p3/2B1P3/2P2N2/PP1P1PPP/RNBQK2R w KQkq - 0 5", this, "g8f6"); ' class="line0">Кg8-f6</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("r1bqk2r/pppp1ppp/2n2n2/2b1p3/2BPP3/2P2N2/PP3PPP/RNBQK2R b KQkq d3 0 5", this, "d2d4"); ' class="line0">5.d2-d4</span> 
 <span onclick='loadMove("r1bqk2r/pppp1ppp/2n2n2/2b5/2BpP3/2P2N2/PP3PPP/RNBQK2R w KQkq - 0 6", this, "e5d4"); ' class="line0">e5:d4</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("r1bqk2r/pppp1ppp/2n2n2/2b5/2BPP3/5N2/PP3PPP/RNBQK2R b KQkq - 0 6", this, "c3d4"); ' class="line0">6.c3:d4</span> 
 <span onclick='loadMove("r1bqk2r/pppp1ppp/2n2n2/8/1bBPP3/5N2/PP3PPP/RNBQK2R w KQkq - 0 7", this, "c5b4"); ' class="line0">Сc5-b4+</span> 
</p>
<p>Здесь Урусов вместо обычных ходов
 <span onclick='loadMove("r1bqk2r/pppp1ppp/2n2n2/8/1bBPP3/5N2/PP1B1PPP/RN1QK2R b KQkq - 0 7", this, "c1d2"); ' class="line1">7.Сd2</span> 
или
 <span onclick='loadMove("r1bqk2r/pppp1ppp/2n2n2/8/1bBPP3/2N2N2/PP3PPP/R1BQK2R b KQkq - 0 7", this, "b1c3"); ' class="line1">7.Кc3</span> 
предложил отойти королем:</p>
<p class="longNotation">
 <span onclick='loadMove("r1bqk2r/pppp1ppp/2n2n2/8/1bBPP3/5N2/PP3PPP/RNBQ1K1R b kq - 0 7", this, "e1f1"); ' class="line0">7.Крe1-f1!</span> 
 <span class="ellipsis0">...</span> 
</p>
<div class="chessBoard analysis nobuttons" data-start-fen="r1bqk2r/pppp1ppp/2n2n2/8/1bBPP3/5N2/PP3PPP/RNBQ1K1R b kq - 0 7"></div>
<p>Идея хода — ценой потери рокировки сохранить ладью на линии «h» для атаки на королевском фланге. Так играл он в партии с Петровым в 1853 году (опубликована в «Чесс плейере кроникл», Лондон, 1853, №8, стр. 231-232). Интересно, что полвека спустя на этот ход обратили внимание польские шахматисты, применившие его в партиях по переписке, после чего продолжение получило название краковского варианта.</p>
<p>Были свои открытия у С. Урусова и в королевском гамбите (в продолжении, называвшемся гамбитом Альгайера).</p>
</div> <!-- score -->
</div> <!-- section -->

<div class="section">
<div class="chessBoard small floater" data-start-fen="rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w KQkq - 0 1"></div>
<div class="score">
 <span class="line0" onclick='loadMove("rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w KQkq - 0 1", this, ""); '>[...]</span> 
<p><b>Королевский гамбит</b></p>
<p class="longNotation">
 <span onclick='loadMove("rnbqkbnr/pppppppp/8/8/4P3/8/PPPP1PPP/RNBQKBNR b KQkq e3 0 1", this, "e2e4"); ' class="line0">1.e2-e4</span> 
 <span onclick='loadMove("rnbqkbnr/pppp1ppp/8/4p3/4P3/8/PPPP1PPP/RNBQKBNR w KQkq e6 0 2", this, "e7e5"); ' class="line0">e7-e5</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("rnbqkbnr/pppp1ppp/8/4p3/4PP2/8/PPPP2PP/RNBQKBNR b KQkq f3 0 2", this, "f2f4"); ' class="line0">2.f2-f4</span> 
 <span onclick='loadMove("rnbqkbnr/pppp1ppp/8/8/4Pp2/8/PPPP2PP/RNBQKBNR w KQkq - 0 3", this, "e5f4"); ' class="line0">e5:f4</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("rnbqkbnr/pppp1ppp/8/8/4Pp2/5N2/PPPP2PP/RNBQKB1R b KQkq - 0 3", this, "g1f3"); ' class="line0">3.Кg1-f3</span> 
 <span onclick='loadMove("rnbqkbnr/pppp1p1p/8/6p1/4Pp2/5N2/PPPP2PP/RNBQKB1R w KQkq g6 0 4", this, "g7g5"); ' class="line0">g7-g5</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("rnbqkbnr/pppp1p1p/8/6p1/4Pp1P/5N2/PPPP2P1/RNBQKB1R b KQkq h3 0 4", this, "h2h4"); ' class="line0">4.h2-h4</span> 
 <span onclick='loadMove("rnbqkbnr/pppp1p1p/8/8/4PppP/5N2/PPPP2P1/RNBQKB1R w KQkq - 0 5", this, "g5g4"); ' class="line0">g5-g4</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("rnbqkbnr/pppp1p1p/8/6N1/4PppP/8/PPPP2P1/RNBQKB1R b KQkq - 0 5", this, "f3g5"); ' class="line0">5.Кf3-g5</span> 
 <span onclick='loadMove("rnbqkbnr/ppp2p1p/8/3p2N1/4PppP/8/PPPP2P1/RNBQKB1R w KQkq d6 0 6", this, "d7d5"); ' class="line0">d7-d5</span> 
</p>
<p>Обычно теперь отвечали
 <span onclick='loadMove("rnbqkbnr/ppp2p1p/8/3P2N1/5ppP/8/PPPP2P1/RNBQKB1R b KQkq - 0 6", this, "e4d5"); ' class="line1">6.ed</span> 
 <span onclick='loadMove("rnb1kbnr/ppp2p1p/8/3q2N1/5ppP/8/PPPP2P1/RNBQKB1R w KQkq - 0 7", this, "d8d5"); ' class="line1">Ф:d5</span> 
 <span onclick='loadMove("rnb1kbnr/ppp2p1p/8/3q2N1/5ppP/2N5/PPPP2P1/R1BQKB1R b KQkq - 0 7", this, "b1c3"); ' class="line1">7.Кc3</span> 
 <span onclick='loadMove("rnb1kbnr/ppp2p1p/8/4q1N1/5ppP/2N5/PPPP2P1/R1BQKB1R w KQkq - 0 8", this, "d5e5"); ' class="line1">Фe5+</span> 
 <span onclick='loadMove("rnb1kbnr/ppp2p1p/8/4q1N1/5ppP/2N5/PPPPQ1P1/R1B1KB1R b KQkq - 0 8", this, "d1e2"); ' class="line1">8.Фe2</span> 
 <span onclick='loadMove("rnb1kbnr/ppp4p/5p2/4q1N1/5ppP/2N5/PPPPQ1P1/R1B1KB1R w KQkq - 0 9", this, "f7f6"); ' class="line1">f6</span> 
 <span onclick='loadMove("rnb1kbnr/ppp4p/5p2/4Q1N1/5ppP/2N5/PPPP2P1/R1B1KB1R b KQkq - 0 9", this, "e2e5"); ' class="line1">9.Ф:e5+</span> 
 <span onclick='loadMove("rnb1kbnr/ppp4p/8/4p1N1/5ppP/2N5/PPPP2P1/R1B1KB1R w KQkq - 0 10", this, "f6e5"); ' class="line1">fe</span> 
и т. д. Урусов же применил новый ход:</p>
<p class="longNotation">
 <span onclick='loadMove("rnbqkbnr/ppp2p1p/8/3p2N1/3PPppP/8/PPP3P1/RNBQKB1R b KQkq d3 0 6", this, "d2d4"); ' class="line0">6.d2-d4</span> 
 <span class="ellipsis0">...</span> 
</p>
<div class="chessBoard analysis nobuttons" data-start-fen="rnbqkbnr/ppp2p1p/8/3p2N1/3PPppP/8/PPP3P1/RNBQKB1R b KQkq d3 0 6"></div>
<p>В одной из его партий последовало
 <span onclick='loadMove("rnbqkbnr/ppp2p2/7p/3p2N1/3PPppP/8/PPP3P1/RNBQKB1R w KQkq - 0 7", this, "h7h6"); ' class="line1">6...h6</span> 
 <span onclick='loadMove("rnbqkbnr/ppp2N2/7p/3p4/3PPppP/8/PPP3P1/RNBQKB1R b KQkq - 0 7", this, "g5f7"); ' class="line1">7.К:f7</span> 
 <span onclick='loadMove("rnbq1bnr/ppp2k2/7p/3p4/3PPppP/8/PPP3P1/RNBQKB1R w KQ - 0 8", this, "e8f7"); ' class="line1">Кр:f7</span> 
 <span onclick='loadMove("rnbq1bnr/ppp2k2/7p/3p4/3PPBpP/8/PPP3P1/RN1QKB1R b KQ - 0 8", this, "c1f4"); ' class="line1">8.С:f4</span> 
 <!--span onclick='loadMove("rnbq1bnr/ppp2k2/7p/3p4/3PPBpP/8/PPP3P1/RN1QKB1R w KQ - 0 9", this, "c1f4"); ' class="line1">z0</span--> 
и затем
 <span onclick='loadMove("rnbq1bnr/ppp2k2/7p/3pP3/3P1BpP/8/PPP3P1/RN1QKB1R b KQ - 0 9", this, "e4e5"); ' class="line1">9.e5</span> 
.</p>
<p>Примером пытливых исканий мастера в дебютной теории явилось его открытие в защите Филидора, сделанное одновременно с Я. Левенталем.</p>
</div> <!-- score -->
</div> <!-- section -->

<div class="section">
<div class="chessBoard small floater" data-start-fen="rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w KQkq - 0 1"></div>
<div class="score">
 <span class="line0" onclick='loadMove("rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w KQkq - 0 1", this, ""); '>[...]</span> 
<p><b>Защита Филидора</b></p>
<p class="longNotation">
 <span onclick='loadMove("rnbqkbnr/pppppppp/8/8/4P3/8/PPPP1PPP/RNBQKBNR b KQkq e3 0 1", this, "e2e4"); ' class="line0">1.e2-e4</span> 
 <span onclick='loadMove("rnbqkbnr/pppp1ppp/8/4p3/4P3/8/PPPP1PPP/RNBQKBNR w KQkq e6 0 2", this, "e7e5"); ' class="line0">e7-e5</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("rnbqkbnr/pppp1ppp/8/4p3/4P3/5N2/PPPP1PPP/RNBQKB1R b KQkq - 0 2", this, "g1f3"); ' class="line0">2.Кg1-f3</span> 
 <span onclick='loadMove("rnbqkbnr/ppp2ppp/3p4/4p3/4P3/5N2/PPPP1PPP/RNBQKB1R w KQkq - 0 3", this, "d7d6"); ' class="line0">d7-d6</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("rnbqkbnr/ppp2ppp/3p4/4p3/3PP3/5N2/PPP2PPP/RNBQKB1R b KQkq d3 0 3", this, "d2d4"); ' class="line0">3.d2-d4</span> 
 <span onclick='loadMove("rnbqkbnr/ppp3pp/3p4/4pp2/3PP3/5N2/PPP2PPP/RNBQKB1R w KQkq f6 0 4", this, "f7f5"); ' class="line0">f7-f5</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("rnbqkbnr/ppp3pp/3p4/4Pp2/4P3/5N2/PPP2PPP/RNBQKB1R b KQkq - 0 4", this, "d4e5"); ' class="line0">4.d4:e5</span> 
 <span onclick='loadMove("rnbqkbnr/ppp3pp/3p4/4P3/4p3/5N2/PPP2PPP/RNBQKB1R w KQkq - 0 5", this, "f5e4"); ' class="line0">f5:e4</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("rnbqkbnr/ppp3pp/3p4/4P1N1/4p3/8/PPP2PPP/RNBQKB1R b KQkq - 0 5", this, "f3g5"); ' class="line0">5.Кf3-g5</span> 
 <span onclick='loadMove("rnbqkbnr/ppp3pp/8/3pP1N1/4p3/8/PPP2PPP/RNBQKB1R w KQkq - 0 6", this, "d6d5"); ' class="line0">d6-d5</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("rnbqkbnr/ppp3pp/4P3/3p2N1/4p3/8/PPP2PPP/RNBQKB1R b KQkq - 0 6", this, "e5e6"); ' class="line0">6.e5-e6</span> 
 <span onclick='loadMove("rnbqkb1r/ppp3pp/4P2n/3p2N1/4p3/8/PPP2PPP/RNBQKB1R w KQkq - 0 7", this, "g8h6"); ' class="line0">Кg8-h6</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("rnbqkb1r/ppp3pp/4P2n/3p2N1/4p3/2N5/PPP2PPP/R1BQKB1R b KQkq - 0 7", this, "b1c3"); ' class="line0">7.Кb1-c3</span> 
 <span onclick='loadMove("rnbqkb1r/pp4pp/2p1P2n/3p2N1/4p3/2N5/PPP2PPP/R1BQKB1R w KQkq - 0 8", this, "c7c6"); ' class="line0">c7-c6</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("rnbqkb1r/pp4pp/2p1P2n/3p4/4N3/2N5/PPP2PPP/R1BQKB1R b KQkq - 0 8", this, "g5e4"); ' class="line0">8.Кg5:e4</span> 
 <span onclick='loadMove("rnbqkb1r/pp4pp/2p1P2n/8/4p3/2N5/PPP2PPP/R1BQKB1R w KQkq - 0 9", this, "d5e4"); ' class="line0">d5:e4</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("rnbqkb1r/pp4pp/2p1P2n/7Q/4p3/2N5/PPP2PPP/R1B1KB1R b KQkq - 0 9", this, "d1h5"); ' class="line0">9.Фd1-h5+</span> 
 <span onclick='loadMove("rnbqkb1r/pp5p/2p1P1pn/7Q/4p3/2N5/PPP2PPP/R1B1KB1R w KQkq - 0 10", this, "g7g6"); ' class="line0">g7-g6</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("rnbqkb1r/pp5p/2p1P1pn/4Q3/4p3/2N5/PPP2PPP/R1B1KB1R b KQkq - 0 10", this, "h5e5"); ' class="line0">10.Фh5-e5</span> 
 <span onclick='loadMove("rnbqkbr1/pp5p/2p1P1pn/4Q3/4p3/2N5/PPP2PPP/R1B1KB1R w KQq - 0 11", this, "h8g8"); ' class="line0">Лh8-g8</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("rnbqkbr1/pp5p/2p1P1pn/4Q1B1/4p3/2N5/PPP2PPP/R3KB1R b KQq - 0 11", this, "c1g5"); ' class="line0">11.Сc1-g5!!</span> 
 <span class="ellipsis0">...</span> 
</p>
<div class="chessBoard analysis nobuttons" data-start-fen="rnbqkbr1/pp5p/2p1P1pn/4Q1B1/4p3/2N5/PPP2PPP/R3KB1R b KQq - 0 11"></div>
<p>Этот ход был предложен Левенталем в книге о Морфи, вышедшей в Лондоне в 1860 году, вместо
 <span onclick='loadMove("rnbqkbr1/pp5p/2p1P1pB/4Q3/4p3/2N5/PPP2PPP/R3KB1R b KQq - 0 11", this, "c1h6"); ' class="line1">11.С:h6</span> 
, встретившегося в консультационной партии Стаунтона и Оуэна против Морфи и Барнеса. Яниш писал: «Этот вариант представляет пример алчного нетерпения, с каким любители всех наций собирали и изучали партии Морфи. Он открыт одновременно в Лондоне г. Левенталем и в Москве кн. Урусовым. За шесть месяцев до выхода в свет книги Левенталя вариант был нам известен во всех подробностях».</p>
<p>Свои работы в области дебюта и эндшпиля, которому он также уделял много времени, С. Урусов позднее изложил в
<!--p>119</p-->
виде «Руководства к изучению шахматной игры», опубликованного в 17 номерах журнала «Шахматный листок» (1859—1861).</p>
<p>Руководство адресовывалось опытным шахматистам и содержало ряд важных для теории и практики идей. Прежде всего мастер требовал совершенствования игры в эндшпиле и защите. «Правильная оборона,— утверждал он,— есть та, которая предполагает переход в наступление и потому называется активной обороной, в противоположность другого рода обороне, называемой пассивной. Оборона труднее атаки». Как и Петров, С. Урусов особенно выделял изучение эндшпиля: «Что несомненно, это совершенная невозможность сделаться хорошим игроком без познания концов игр».</p>
</div> <!-- score -->
</div> <!-- section -->

</div> <!-- iBook -->
{% endblock content %}
