{% extends '../base.htm' %}
{% load static %}
{% block content %}

<div class="iBook">

<div class="section">
<div class="chessBoard small floater" data-start-fen="rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w KQkq - 0 1"></div>
<div class="score">
 <span class="line0" onclick='loadMove("rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w KQkq - 0 1", this, ""); '>[...]</span> 
<h1>УКАЗАТЕЛЬ ДЕБЮТОВ</h1>
<ul>
<li>Королевский гамбит —
 <span onclick='loadMove("rnbqkbnr/pppppppp/8/8/4P3/8/PPPP1PPP/RNBQKBNR b KQkq e3 0 1", this, "e2e4"); ' class="line1">1.e4</span> 
 <span onclick='loadMove("rnbqkbnr/pppp1ppp/8/4p3/4P3/8/PPPP1PPP/RNBQKBNR w KQkq e6 0 2", this, "e7e5"); ' class="line1">e5</span> 
 <span onclick='loadMove("rnbqkbnr/pppp1ppp/8/4p3/4PP2/8/PPPP2PP/RNBQKBNR b KQkq f3 0 2", this, "f2f4"); ' class="line1">2.f4</span> 
<ul>
<li>Гамбит коня —
 <span onclick='loadMove("rnbqkbnr/pppp1ppp/8/8/4Pp2/8/PPPP2PP/RNBQKBNR w KQkq - 0 3", this, "e5f4"); ' class="line2">2...ef</span> 
 <span onclick='loadMove("rnbqkbnr/pppp1ppp/8/8/4Pp2/5N2/PPPP2PP/RNBQKB1R b KQkq - 0 3", this, "g1f3"); ' class="line2">3.Кf3</span> 
 <span onclick='loadMove("rnbqkb1r/pppp1ppp/5n2/8/4Pp2/5N2/PPPP2PP/RNBQKB1R w KQkq - 0 4", this, "g8f6"); ' class="line2">Кf6</span> 
— <a href="{% url 'linder_first_russian_masters_pevec_kombinacii' %}#game33">33</a></li>
<li>Гамбит Кизерицкого —
 <span onclick='loadMove("rnbqkbnr/pppp1ppp/8/8/4Pp2/8/PPPP2PP/RNBQKBNR w KQkq - 0 3", this, "e5f4"); ' class="line2">2...ef</span> 
 <span onclick='loadMove("rnbqkbnr/pppp1ppp/8/8/4Pp2/5N2/PPPP2PP/RNBQKB1R b KQkq - 0 3", this, "g1f3"); ' class="line2">3.Кf3</span> 
 <span onclick='loadMove("rnbqkbnr/pppp1p1p/8/6p1/4Pp2/5N2/PPPP2PP/RNBQKB1R w KQkq g6 0 4", this, "g7g5"); ' class="line2">g5</span> 
 <span onclick='loadMove("rnbqkbnr/pppp1p1p/8/6p1/4Pp1P/5N2/PPPP2P1/RNBQKB1R b KQkq h3 0 4", this, "h2h4"); ' class="line2">4.h4</span> 
 <span onclick='loadMove("rnbqkbnr/pppp1p1p/8/8/4PppP/5N2/PPPP2P1/RNBQKB1R w KQkq - 0 5", this, "g5g4"); ' class="line2">g4</span> 
 <span onclick='loadMove("rnbqkbnr/pppp1p1p/8/4N3/4PppP/8/PPPP2P1/RNBQKB1R b KQkq - 0 5", this, "f3e5"); ' class="line2">5.Кe5</span> 
— <a href="{% url 'linder_first_russian_masters_stranstvuyushchij_rycar' %}#game13">13</a>, <a href="{% url 'linder_first_russian_masters_stranstvuyushchij_rycar' %}#game14">14</a></li>
<li>Гамбит Муцио —
 <span onclick='loadMove("rnbqkbnr/pppp1ppp/8/8/4Pp2/8/PPPP2PP/RNBQKBNR w KQkq - 0 3", this, "e5f4"); ' class="line2">2...ef</span> 
 <span onclick='loadMove("rnbqkbnr/pppp1ppp/8/8/4Pp2/5N2/PPPP2PP/RNBQKB1R b KQkq - 0 3", this, "g1f3"); ' class="line2">3.Кf3</span> 
 <span onclick='loadMove("rnbqkbnr/pppp1p1p/8/6p1/4Pp2/5N2/PPPP2PP/RNBQKB1R w KQkq g6 0 4", this, "g7g5"); ' class="line2">g5</span> 
 <span onclick='loadMove("rnbqkbnr/pppp1p1p/8/6p1/2B1Pp2/5N2/PPPP2PP/RNBQK2R b KQkq - 0 4", this, "f1c4"); ' class="line2">4.Сc4</span> 
 <span onclick='loadMove("rnbqkbnr/pppp1p1p/8/8/2B1Ppp1/5N2/PPPP2PP/RNBQK2R w KQkq - 0 5", this, "g5g4"); ' class="line2">g4</span> 
 <span onclick='loadMove("rnbqkbnr/pppp1p1p/8/8/2B1Ppp1/5N2/PPPP2PP/RNBQ1RK1 b kq - 0 5", this, "e1g1"); ' class="line2">5.0-0</span> 
— <a href="{% url 'linder_first_russian_masters_master-zhurnalist' %}#game35">35</a>, <a href="{% url 'linder_first_russian_masters_druzya-soperniki' %}#game40">40</a></li>
<li>Гамбит Филидора —
 <span onclick='loadMove("rnbqkbnr/pppp1ppp/8/8/4Pp2/8/PPPP2PP/RNBQKBNR w KQkq - 0 3", this, "e5f4"); ' class="line2">2...ef</span> 
 <span onclick='loadMove("rnbqkbnr/pppp1ppp/8/8/4Pp2/5N2/PPPP2PP/RNBQKB1R b KQkq - 0 3", this, "g1f3"); ' class="line2">3.Кf3</span> 
 <span onclick='loadMove("rnbqkbnr/pppp1p1p/8/6p1/4Pp2/5N2/PPPP2PP/RNBQKB1R w KQkq g6 0 4", this, "g7g5"); ' class="line2">g5</span> 
 <span onclick='loadMove("rnbqkbnr/pppp1p1p/8/6p1/2B1Pp2/5N2/PPPP2PP/RNBQK2R b KQkq - 0 4", this, "f1c4"); ' class="line2">4.Сc4</span> 
 <span onclick='loadMove("rnbqk1nr/pppp1pbp/8/6p1/2B1Pp2/5N2/PPPP2PP/RNBQK2R w KQkq - 0 5", this, "f8g7"); ' class="line2">Сg7</span> 
— <a href="{% url 'linder_first_russian_masters_uspekh_v_stolichnom_turnire' %}#game66">66</a></li>
<li>Гамбит Кэннингема —
 <span onclick='loadMove("rnbqkbnr/pppp1ppp/8/8/4Pp2/8/PPPP2PP/RNBQKBNR w KQkq - 0 3", this, "e5f4"); ' class="line2">2...ef</span> 
 <span onclick='loadMove("rnbqkbnr/pppp1ppp/8/8/4Pp2/5N2/PPPP2PP/RNBQKB1R b KQkq - 0 3", this, "g1f3"); ' class="line2">3.Кf3</span> 
 <span onclick='loadMove("rnbqk1nr/ppppbppp/8/8/4Pp2/5N2/PPPP2PP/RNBQKB1R w KQkq - 0 4", this, "f8e7"); ' class="line2">Сe7</span> 
 <span onclick='loadMove("rnbqk1nr/ppppbppp/8/8/2B1Pp2/5N2/PPPP2PP/RNBQK2R b KQkq - 0 4", this, "f1c4"); ' class="line2">4.Сc4</span> 
 <span onclick='loadMove("rnbqk1nr/pppp1ppp/8/8/2B1Pp1b/5N2/PPPP2PP/RNBQK2R w KQkq - 0 5", this, "e7h4"); ' class="line2">Сh4</span> 
— <a href="{% url 'linder_first_russian_masters_uchenik_petrova' %}#game17">17</a></li>
<li>Гамбит слона —
 <span onclick='loadMove("rnbqkbnr/pppp1ppp/8/8/4Pp2/8/PPPP2PP/RNBQKBNR w KQkq - 0 3", this, "e5f4"); ' class="line2">2...ef</span> 
 <span onclick='loadMove("rnbqkbnr/pppp1ppp/8/8/2B1Pp2/8/PPPP2PP/RNBQK1NR b KQkq - 0 3", this, "f1c4"); ' class="line2">3.Сc4</span> 
— <a href="{% url 'linder_first_russian_masters_varshavskie_vstrechi' %}#game4">4</a>, <a href="{% url 'linder_first_russian_masters_ya_ostayus_v_peterburge' %}#game28">28</a>, <a href="{% url 'linder_first_russian_masters_peterburgskie_batalii' %}#game74">74</a></li>
<li>Отказанный королевский гамбит —
 <span onclick='loadMove("rnbqkbnr/pppppppp/8/8/4P3/8/PPPP1PPP/RNBQKBNR b KQkq e3 0 1", this, "e2e4"); ' class="line2">1.e4</span> 
 <span onclick='loadMove("rnbqkbnr/pppp1ppp/8/4p3/4P3/8/PPPP1PPP/RNBQKBNR w KQkq e6 0 2", this, "e7e5"); ' class="line2">e5</span> 
 <span onclick='loadMove("rnbqkbnr/pppp1ppp/8/4p3/4PP2/8/PPPP2PP/RNBQKBNR b KQkq f3 0 2", this, "f2f4"); ' class="line2">2.f4</span> 
 <span onclick='loadMove("rnbqk1nr/pppp1ppp/8/2b1p3/4PP2/8/PPPP2PP/RNBQKBNR w KQkq - 0 3", this, "f8c5"); ' class="line2">Сc5</span> 
— <a href="{% url 'linder_first_russian_masters_staunton_-_yanish' %}#game18">18</a></li>
<li>Контргамбит Фалькбеера —
 <span onclick='loadMove("rnbqkbnr/pppppppp/8/8/4P3/8/PPPP1PPP/RNBQKBNR b KQkq e3 0 1", this, "e2e4"); ' class="line2">1.e4</span> 
 <span onclick='loadMove("rnbqkbnr/pppp1ppp/8/4p3/4P3/8/PPPP1PPP/RNBQKBNR w KQkq e6 0 2", this, "e7e5"); ' class="line2">e5</span> 
 <span onclick='loadMove("rnbqkbnr/pppp1ppp/8/4p3/4PP2/8/PPPP2PP/RNBQKBNR b KQkq f3 0 2", this, "f2f4"); ' class="line2">2.f4</span> 
 <span onclick='loadMove("rnbqkbnr/ppp2ppp/8/3pp3/4PP2/8/PPPP2PP/RNBQKBNR w KQkq d6 0 3", this, "d7d5"); ' class="line2">d5</span> 
— <a href="{% url 'linder_first_russian_masters_staunton_-_yanish' %}#game19">19</a>, <a href="{% url 'linder_first_russian_masters_stejnic_-_shiffers' %}#game55">55</a></li>
</ul>
</li>
<li>Дебют слона —
 <span onclick='loadMove("rnbqkbnr/pppppppp/8/8/4P3/8/PPPP1PPP/RNBQKBNR b KQkq e3 0 1", this, "e2e4"); ' class="line1">1.e4</span> 
 <span onclick='loadMove("rnbqkbnr/pppp1ppp/8/4p3/4P3/8/PPPP1PPP/RNBQKBNR w KQkq e6 0 2", this, "e7e5"); ' class="line1">e5</span> 
 <span onclick='loadMove("rnbqkbnr/pppp1ppp/8/4p3/2B1P3/8/PPPP1PPP/RNBQK1NR b KQkq - 0 2", this, "f1c4"); ' class="line1">2.Сc4</span> 
— <a href="{% url 'linder_first_russian_masters_varshavskie_vstrechi' %}#game2">2</a></li>
<li>Русская партия, или Защита Петрова —
 <span onclick='loadMove("rnbqkbnr/pppppppp/8/8/4P3/8/PPPP1PPP/RNBQKBNR b KQkq e3 0 1", this, "e2e4"); ' class="line1">1.e4</span> 
 <span onclick='loadMove("rnbqkbnr/pppp1ppp/8/4p3/4P3/8/PPPP1PPP/RNBQKBNR w KQkq e6 0 2", this, "e7e5"); ' class="line1">e5</span> 
 <span onclick='loadMove("rnbqkbnr/pppp1ppp/8/4p3/4P3/5N2/PPPP1PPP/RNBQKB1R b KQkq - 0 2", this, "g1f3"); ' class="line1">2.Кf3</span> 
 <span onclick='loadMove("rnbqkb1r/pppp1ppp/5n2/4p3/4P3/5N2/PPPP1PPP/RNBQKB1R w KQkq - 0 3", this, "g8f6"); ' class="line1">Кf6</span> 
— <a href="{% url 'linder_first_russian_masters_po_sankt-peterburgskoj_pochte' %}#game1">1</a>, <a href="{% url 'linder_first_russian_masters_pevec_kombinacii' %}#game34">34</a></li>
<li>Защита Филидора —
 <span onclick='loadMove("rnbqkbnr/pppppppp/8/8/4P3/8/PPPP1PPP/RNBQKBNR b KQkq e3 0 1", this, "e2e4"); ' class="line1">1.e4</span> 
 <span onclick='loadMove("rnbqkbnr/pppp1ppp/8/4p3/4P3/8/PPPP1PPP/RNBQKBNR w KQkq e6 0 2", this, "e7e5"); ' class="line1">e5</span> 
 <span onclick='loadMove("rnbqkbnr/pppp1ppp/8/4p3/4P3/5N2/PPPP1PPP/RNBQKB1R b KQkq - 0 2", this, "g1f3"); ' class="line1">2.Кf3</span> 
 <span onclick='loadMove("rnbqkbnr/ppp2ppp/3p4/4p3/4P3/5N2/PPPP1PPP/RNBQKB1R w KQkq - 0 3", this, "d7d6"); ' class="line1">d6</span> 
— <a href="{% url 'linder_first_russian_masters_petrov_i_morfi' %}#game12">12</a></li>
<li>Дебют четырех коней —
 <span onclick='loadMove("rnbqkbnr/pppppppp/8/8/4P3/8/PPPP1PPP/RNBQKBNR b KQkq e3 0 1", this, "e2e4"); ' class="line1">1.e4</span> 
 <span onclick='loadMove("rnbqkbnr/pppp1ppp/8/4p3/4P3/8/PPPP1PPP/RNBQKBNR w KQkq e6 0 2", this, "e7e5"); ' class="line1">e5</span> 
 <span onclick='loadMove("rnbqkbnr/pppp1ppp/8/4p3/4P3/5N2/PPPP1PPP/RNBQKB1R b KQkq - 0 2", this, "g1f3"); ' class="line1">2.Кf3</span> 
 <span onclick='loadMove("r1bqkbnr/pppp1ppp/2n5/4p3/4P3/5N2/PPPP1PPP/RNBQKB1R w KQkq - 0 3", this, "b8c6"); ' class="line1">Кc6</span> 
 <span onclick='loadMove("r1bqkbnr/pppp1ppp/2n5/4p3/4P3/2N2N2/PPPP1PPP/R1BQKB1R b KQkq - 0 3", this, "b1c3"); ' class="line1">3.Кc3</span> 
 <span onclick='loadMove("r1bqkb1r/pppp1ppp/2n2n2/4p3/4P3/2N2N2/PPPP1PPP/R1BQKB1R w KQkq - 0 4", this, "g8f6"); ' class="line1">Кf6</span> 
— <a href="{% url 'linder_first_russian_masters_poslednie_gody' %}#game36">36</a>, <a href="{% url 'linder_first_russian_masters_stejnic_-_shiffers' %}#game51">51</a></li>
<li>Центральный гамбит —
 <span onclick='loadMove("rnbqkbnr/pppppppp/8/8/4P3/8/PPPP1PPP/RNBQKBNR b KQkq e3 0 1", this, "e2e4"); ' class="line1">1.e4</span> 
 <span onclick='loadMove("rnbqkbnr/pppp1ppp/8/4p3/4P3/8/PPPP1PPP/RNBQKBNR w KQkq e6 0 2", this, "e7e5"); ' class="line1">e5</span> 
 <span onclick='loadMove("rnbqkbnr/pppp1ppp/8/4p3/3PP3/8/PPP2PPP/RNBQKBNR b KQkq d3 0 2", this, "d2d4"); ' class="line1">2.d4</span> 
— <a href="{% url 'linder_first_russian_masters_prevoskhodstvo_veterana' %}#game10">10</a></li>
<li>Шотландская партия —
 <span onclick='loadMove("rnbqkbnr/pppppppp/8/8/4P3/8/PPPP1PPP/RNBQKBNR b KQkq e3 0 1", this, "e2e4"); ' class="line1">1.e4</span> 
 <span onclick='loadMove("rnbqkbnr/pppp1ppp/8/4p3/4P3/8/PPPP1PPP/RNBQKBNR w KQkq e6 0 2", this, "e7e5"); ' class="line1">e5</span> 
 <span onclick='loadMove("rnbqkbnr/pppp1ppp/8/4p3/4P3/5N2/PPPP1PPP/RNBQKB1R b KQkq - 0 2", this, "g1f3"); ' class="line1">2.Кf3</span> 
 <span onclick='loadMove("r1bqkbnr/pppp1ppp/2n5/4p3/4P3/5N2/PPPP1PPP/RNBQKB1R w KQkq - 0 3", this, "b8c6"); ' class="line1">Кc6</span> 
 <span onclick='loadMove("r1bqkbnr/pppp1ppp/2n5/4p3/3PP3/5N2/PPP2PPP/RNBQKB1R b KQkq d3 0 3", this, "d2d4"); ' class="line1">3.d4</span> 
— <a href="{% url 'linder_first_russian_masters_pisma_iz_samary' %}#game76">76</a></li>
<li>Шотландский гамбит —
 <span onclick='loadMove("rnbqkbnr/pppppppp/8/8/4P3/8/PPPP1PPP/RNBQKBNR b KQkq e3 0 1", this, "e2e4"); ' class="line1">1.e4</span> 
 <span onclick='loadMove("rnbqkbnr/pppp1ppp/8/4p3/4P3/8/PPPP1PPP/RNBQKBNR w KQkq e6 0 2", this, "e7e5"); ' class="line1">e5</span> 
 <span onclick='loadMove("rnbqkbnr/pppp1ppp/8/4p3/4P3/5N2/PPPP1PPP/RNBQKB1R b KQkq - 0 2", this, "g1f3"); ' class="line1">2.Кf3</span> 
 <span onclick='loadMove("r1bqkbnr/pppp1ppp/2n5/4p3/4P3/5N2/PPPP1PPP/RNBQKB1R w KQkq - 0 3", this, "b8c6"); ' class="line1">Кc6</span> 
 <span onclick='loadMove("r1bqkbnr/pppp1ppp/2n5/4p3/3PP3/5N2/PPP2PPP/RNBQKB1R b KQkq d3 0 3", this, "d2d4"); ' class="line1">3.d4</span> 
 <span onclick='loadMove("r1bqkbnr/pppp1ppp/2n5/8/3pP3/5N2/PPP2PPP/RNBQKB1R w KQkq - 0 4", this, "e5d4"); ' class="line1">ed</span> 
 <span onclick='loadMove("r1bqkbnr/pppp1ppp/2n5/8/2BpP3/5N2/PPP2PPP/RNBQK2R b KQkq - 0 4", this, "f1c4"); ' class="line1">4.Сc4</span> 
— <a href="{% url 'linder_first_russian_masters_match_s_poslesloviem' %}#game11">11</a>, <a href="{% url 'linder_first_russian_masters_vtoroj_v_rossii' %}#game26">26</a></li>
<li>Защита двух коней —
 <span onclick='loadMove("rnbqkbnr/pppppppp/8/8/4P3/8/PPPP1PPP/RNBQKBNR b KQkq e3 0 1", this, "e2e4"); ' class="line1">1.e4</span> 
 <span onclick='loadMove("rnbqkbnr/pppp1ppp/8/4p3/4P3/8/PPPP1PPP/RNBQKBNR w KQkq e6 0 2", this, "e7e5"); ' class="line1">e5</span> 
 <span onclick='loadMove("rnbqkbnr/pppp1ppp/8/4p3/4P3/5N2/PPPP1PPP/RNBQKB1R b KQkq - 0 2", this, "g1f3"); ' class="line1">2.Кf3</span> 
 <span onclick='loadMove("r1bqkbnr/pppp1ppp/2n5/4p3/4P3/5N2/PPPP1PPP/RNBQKB1R w KQkq - 0 3", this, "b8c6"); ' class="line1">Кc6</span> 
 <span onclick='loadMove("r1bqkbnr/pppp1ppp/2n5/4p3/2B1P3/5N2/PPPP1PPP/RNBQK2R b KQkq - 0 3", this, "f1c4"); ' class="line1">3.Сc4</span> 
 <span onclick='loadMove("r1bqkb1r/pppp1ppp/2n2n2/4p3/2B1P3/5N2/PPPP1PPP/RNBQK2R w KQkq - 0 4", this, "g8f6"); ' class="line1">Кf6</span> 
— <a href="{% url 'linder_first_russian_masters_gastings_1895' %}#game49">49</a></li>
<li>Дебют трех коней —
 <span onclick='loadMove("rnbqkbnr/pppppppp/8/8/4P3/8/PPPP1PPP/RNBQKBNR b KQkq e3 0 1", this, "e2e4"); ' class="line1">1.e4</span> 
 <span onclick='loadMove("rnbqkbnr/pppp1ppp/8/4p3/4P3/8/PPPP1PPP/RNBQKBNR w KQkq e6 0 2", this, "e7e5"); ' class="line1">e5</span> 
 <span onclick='loadMove("rnbqkbnr/pppp1ppp/8/4p3/4P3/5N2/PPPP1PPP/RNBQKB1R b KQkq - 0 2", this, "g1f3"); ' class="line1">2.Кf3</span> 
 <span onclick='loadMove("r1bqkbnr/pppp1ppp/2n5/4p3/4P3/5N2/PPPP1PPP/RNBQKB1R w KQkq - 0 3", this, "b8c6"); ' class="line1">Кc6</span> 
 <span onclick='loadMove("r1bqkbnr/pppp1ppp/2n5/4p3/4P3/2N2N2/PPPP1PPP/R1BQKB1R b KQkq - 0 3", this, "b1c3"); ' class="line1">3.Кc3</span> 
 <span onclick='loadMove("r1bqk1nr/pppp1ppp/2n5/4p3/1b2P3/2N2N2/PPPP1PPP/R1BQKB1R w KQkq - 0 4", this, "f8b4"); ' class="line1">Сb4</span> 
— <a href="{% url 'linder_first_russian_masters_gastings_1895' %}#game47">47</a></li>
<li>Итальянская партия —
 <span onclick='loadMove("rnbqkbnr/pppppppp/8/8/4P3/8/PPPP1PPP/RNBQKBNR b KQkq e3 0 1", this, "e2e4"); ' class="line1">1.e4</span> 
 <span onclick='loadMove("rnbqkbnr/pppp1ppp/8/4p3/4P3/8/PPPP1PPP/RNBQKBNR w KQkq e6 0 2", this, "e7e5"); ' class="line1">e5</span> 
 <span onclick='loadMove("rnbqkbnr/pppp1ppp/8/4p3/4P3/5N2/PPPP1PPP/RNBQKB1R b KQkq - 0 2", this, "g1f3"); ' class="line1">2.Кf3</span> 
 <span onclick='loadMove("r1bqkbnr/pppp1ppp/2n5/4p3/4P3/5N2/PPPP1PPP/RNBQKB1R w KQkq - 0 3", this, "b8c6"); ' class="line1">Кc6</span> 
 <span onclick='loadMove("r1bqkbnr/pppp1ppp/2n5/4p3/2B1P3/5N2/PPPP1PPP/RNBQK2R b KQkq - 0 3", this, "f1c4"); ' class="line1">3.Сc4</span> 
 <span onclick='loadMove("r1bqk1nr/pppp1ppp/2n5/2b1p3/2B1P3/5N2/PPPP1PPP/RNBQK2R w KQkq - 0 4", this, "f8c5"); ' class="line1">Сc5</span> 
— <a href="{% url 'linder_first_russian_masters_varshavskie_vstrechi' %}#game3">3</a>, <a href="{% url 'linder_first_russian_masters_prevoskhodstvo_veterana' %}#game8">8</a>, <a href="{% url 'linder_first_russian_masters_prevoskhodstvo_veterana' %}#game9">9</a>, <a href="{% url 'linder_first_russian_masters_silnejshij_v_stolice' %}#game23">23</a>, <a href="{% url 'linder_first_russian_masters_ya_ostayus_v_peterburge' %}#game29">29</a>, <a href="{% url 'linder_first_russian_masters_pevec_kombinacii' %}#game30">30</a>, <a href="{% url 'linder_first_russian_masters_gastings_1895' %}#game46">46</a>, <a href="{% url 'linder_first_russian_masters_stejnic_-_shiffers' %}#game53">53</a></li>
<li>Гамбит Эванса —
 <span onclick='loadMove("rnbqkbnr/pppppppp/8/8/4P3/8/PPPP1PPP/RNBQKBNR b KQkq e3 0 1", this, "e2e4"); ' class="line1">1.e4</span> 
 <span onclick='loadMove("rnbqkbnr/pppp1ppp/8/4p3/4P3/8/PPPP1PPP/RNBQKBNR w KQkq e6 0 2", this, "e7e5"); ' class="line1">e5</span> 
 <span onclick='loadMove("rnbqkbnr/pppp1ppp/8/4p3/4P3/5N2/PPPP1PPP/RNBQKB1R b KQkq - 0 2", this, "g1f3"); ' class="line1">2.Кf3</span> 
 <span onclick='loadMove("r1bqkbnr/pppp1ppp/2n5/4p3/4P3/5N2/PPPP1PPP/RNBQKB1R w KQkq - 0 3", this, "b8c6"); ' class="line1">Кc6</span> 
 <span onclick='loadMove("r1bqkbnr/pppp1ppp/2n5/4p3/2B1P3/5N2/PPPP1PPP/RNBQK2R b KQkq - 0 3", this, "f1c4"); ' class="line1">3.Сc4</span> 
 <span onclick='loadMove("r1bqk1nr/pppp1ppp/2n5/2b1p3/2B1P3/5N2/PPPP1PPP/RNBQK2R w KQkq - 0 4", this, "f8c5"); ' class="line1">Сc5</span> 
 <span onclick='loadMove("r1bqk1nr/pppp1ppp/2n5/2b1p3/1PB1P3/5N2/P1PP1PPP/RNBQK2R b KQkq b3 0 4", this, "b2b4"); ' class="line1">4.b4</span> 
— <a href="{% url 'linder_first_russian_masters_silnejshij_v_stolice' %}#game22">22</a>, <a href="{% url 'linder_first_russian_masters_moskovskij_master' %}#game24">24</a>, <a href="{% url 'linder_first_russian_masters_pevec_kombinacii' %}#game32">32</a>, <a href="{% url 'linder_first_russian_masters_v_kafe_dominik' %}#game38">38</a>, <a href="{% url 'linder_first_russian_masters_stejnic_-_shiffers' %}#game52">52</a>, <a href="{% url 'linder_first_russian_masters_otkrytie_v_gambite_evansa' %}#game78">78</a></li>
<li>Испанская партия —
 <span onclick='loadMove("rnbqkbnr/pppppppp/8/8/4P3/8/PPPP1PPP/RNBQKBNR b KQkq e3 0 1", this, "e2e4"); ' class="line1">1.e4</span> 
 <span onclick='loadMove("rnbqkbnr/pppp1ppp/8/4p3/4P3/8/PPPP1PPP/RNBQKBNR w KQkq e6 0 2", this, "e7e5"); ' class="line1">e5</span> 
 <span onclick='loadMove("rnbqkbnr/pppp1ppp/8/4p3/4P3/5N2/PPPP1PPP/RNBQKB1R b KQkq - 0 2", this, "g1f3"); ' class="line1">2.Кf3</span> 
 <span onclick='loadMove("r1bqkbnr/pppp1ppp/2n5/4p3/4P3/5N2/PPPP1PPP/RNBQKB1R w KQkq - 0 3", this, "b8c6"); ' class="line1">Кc6</span> 
 <span onclick='loadMove("r1bqkbnr/pppp1ppp/2n5/1B2p3/4P3/5N2/PPPP1PPP/RNBQK2R b KQkq - 0 3", this, "f1b5"); ' class="line1">3.Сb5</span> 
<ul>
<li>Защита
 <span onclick='loadMove("r1bqk1nr/pppp1ppp/2n5/1Bb1p3/4P3/5N2/PPPP1PPP/RNBQK2R w KQkq - 0 4", this, "f8c5"); ' class="line2">3...Сc5</span> 
— <a href="{% url 'linder_first_russian_masters_stejnic_-_shiffers' %}#game50">50</a></li>
<li>Защита
 <span onclick='loadMove("r1bqkb1r/pppp1ppp/2n2n2/1B2p3/4P3/5N2/PPPP1PPP/RNBQK2R w KQkq - 0 4", this, "g8f6"); ' class="line2">3...Кf6</span> 
— <a href="{% url 'linder_first_russian_masters_druzya-soperniki' %}#game41">41</a>, <a href="{% url 'linder_first_russian_masters_partii_s_chigorinym' %}#game70">70</a></li>
<li>Гамбит Яниша
 <span onclick='loadMove("r1bqkbnr/pppp2pp/2n5/1B2pp2/4P3/5N2/PPPP1PPP/RNBQK2R w KQkq f6 0 4", this, "f7f5"); ' class="line2">3...f5</span> 
— <a href="{% url 'linder_first_russian_masters_poslednij_match' %}#game79">79</a>, <a href="{% url 'linder_first_russian_masters_poslednij_match' %}#game80">80</a></li>
<li>Продолжение
 <span onclick='loadMove("r1bqkbnr/1ppp1ppp/p1n5/1B2p3/4P3/5N2/PPPP1PPP/RNBQK2R w KQkq - 0 4", this, "a7a6"); ' class="line2">3...a6</span> 
 <span onclick='loadMove("r1bqkbnr/1ppp1ppp/p1n5/4p3/B3P3/5N2/PPPP1PPP/RNBQK2R b KQkq - 0 4", this, "b5a4"); ' class="line2">4.Сa4</span> 
— <a href="{% url 'linder_first_russian_masters_vtoroj_v_rossii' %}#game27">27</a>, <a href="{% url 'linder_first_russian_masters_pevec_kombinacii' %}#game31">31</a>, <a href="{% url 'linder_first_russian_masters_gastings_1895' %}#game48">48</a>, <a href="{% url 'linder_first_russian_masters_pervye_vserossijskie' %}#game56">56</a>, <a href="{% url 'linder_first_russian_masters_uspekh_v_stolichnom_turnire' %}#game65">65</a></li>
</ul>
</li>
<li>Французская защита
 <span onclick='loadMove("rnbqkbnr/pppppppp/8/8/4P3/8/PPPP1PPP/RNBQKBNR b KQkq e3 0 1", this, "e2e4"); ' class="line1">1.e4</span> 
 <span onclick='loadMove("rnbqkbnr/pppp1ppp/4p3/8/4P3/8/PPPP1PPP/RNBQKBNR w KQkq - 0 2", this, "e7e6"); ' class="line1">e6</span> 
 <span onclick='loadMove("rnbqkbnr/pppp1ppp/4p3/8/3PP3/8/PPP2PPP/RNBQKBNR b KQkq d3 0 2", this, "d2d4"); ' class="line1">2.d4</span> 
 <span onclick='loadMove("rnbqkbnr/ppp2ppp/4p3/3p4/3PP3/8/PPP2PPP/RNBQKBNR w KQkq d6 0 3", this, "d7d5"); ' class="line1">d5</span> 
— <a href="{% url 'linder_first_russian_masters_varshavskie_vstrechi' %}#game5">5</a>, <a href="{% url 'linder_first_russian_masters_varshavskie_vstrechi' %}#game6">6</a>, <a href="{% url 'linder_first_russian_masters_stejnic_-_shiffers' %}#game54">54</a></li>
<li>Сицилианская защита
 <span onclick='loadMove("rnbqkbnr/pppppppp/8/8/4P3/8/PPPP1PPP/RNBQKBNR b KQkq e3 0 1", this, "e2e4"); ' class="line1">1.e4</span> 
 <span onclick='loadMove("rnbqkbnr/pp1ppppp/8/2p5/4P3/8/PPPP1PPP/RNBQKBNR w KQkq c6 0 2", this, "c7c5"); ' class="line1">c5</span> 
— <a href="{% url 'linder_first_russian_masters_prevoskhodstvo_veterana' %}#game7">7</a>, <a href="{% url 'linder_first_russian_masters_poslednie_gody' %}#game37">37</a>, <a href="{% url 'linder_first_russian_masters_peterburgskie_batalii' %}#game73">73</a>, <a href="{% url 'linder_first_russian_masters_peterburgskie_batalii' %}#game75">75</a></li>
<li>Голландская защита
 <span onclick='loadMove("rnbqkbnr/pppppppp/8/8/3P4/8/PPP1PPPP/RNBQKBNR b KQkq d3 0 1", this, "d2d4"); ' class="line1">1.d4</span> 
 <span onclick='loadMove("rnbqkbnr/ppppp1pp/8/5p2/3P4/8/PPP1PPPP/RNBQKBNR w KQkq f6 0 2", this, "f7f5"); ' class="line1">f5</span> 
— <a href="{% url 'linder_first_russian_masters_prezident_obshchestva_lyubitelej' %}#game58">58</a></li>
<li>Староиндийская защита
 <span onclick='loadMove("rnbqkbnr/pppppppp/8/8/3P4/8/PPP1PPPP/RNBQKBNR b KQkq d3 0 1", this, "d2d4"); ' class="line1">1.d4</span> 
 <span onclick='loadMove("rnbqkbnr/pp1ppppp/8/2p5/3P4/8/PPP1PPPP/RNBQKBNR w KQkq c6 0 2", this, "c7c5"); ' class="line1">c5</span> 
 <span onclick='loadMove("rnbqkbnr/pp1ppppp/8/2pP4/8/8/PPP1PPPP/RNBQKBNR b KQkq - 0 2", this, "d4d5"); ' class="line1">2.d5</span> 
 <span onclick='loadMove("rnbqkbnr/pp1ppp1p/6p1/2pP4/8/8/PPP1PPPP/RNBQKBNR w KQkq - 0 3", this, "g7g6"); ' class="line1">g6</span> 
 <span onclick='loadMove("rnbqkbnr/pp1ppp1p/6p1/2pP4/4P3/8/PPP2PPP/RNBQKBNR b KQkq e3 0 3", this, "e2e4"); ' class="line1">3.e4</span> 
 <span onclick='loadMove("rnbqk1nr/pp1pppbp/6p1/2pP4/4P3/8/PPP2PPP/RNBQKBNR w KQkq - 0 4", this, "f8g7"); ' class="line1">Сg7</span> 
 <span onclick='loadMove("rnbqk1nr/pp1pppbp/6p1/2pP4/4P3/2P5/PP3PPP/RNBQKBNR b KQkq - 0 4", this, "c2c3"); ' class="line1">4.c3</span> 
 <span onclick='loadMove("rnbqk1nr/pp2ppbp/3p2p1/2pP4/4P3/2P5/PP3PPP/RNBQKBNR w KQkq - 0 5", this, "d7d6"); ' class="line1">d6</span> 
— <a href="{% url 'linder_first_russian_masters_pervye_vserossijskie' %}#game57">57</a></li>
</ul>
<!--li>249</li-->
</div> <!-- score -->
</div> <!-- section -->

</div> <!-- iBook -->
{% endblock content %}
