{% extends '../base.htm' %}
{% load static %}
{% block content %}

<div class="iBook">

<div class="section">
<div class="chessBoard small floater" data-start-fen="rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w KQkq - 0 1"></div>
<div class="score">
 <span class="line0" onclick='loadMove("rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w KQkq - 0 1", this, ""); '>[...]</span> 
<h1>УКАЗАТЕЛЬ ПАРТИЙ И ОКОНЧАНИЙ</h1>
<ul>
<li><b>Алапин</b> — Хардин — <a href="{% url 'linder_first_russian_masters_peterburgskie_batalii' %}#game74">74</a></li>
<li><b>Барделебен</b> — Шифферс — <a href="{% url 'linder_first_russian_masters_pervye_vserossijskie' %}#game57">57</a></li>
<li><b>Берд</b> — Шифферс — <a href="{% url 'linder_first_russian_masters_gastings_1895' %}#game49">49</a></li>
<li><b>Бескровный</b> — Хардин — <a href="{% url 'linder_first_russian_masters_peterburgskie_batalii' %}#game73">73</a></li>
<li><b>Винавер</b> — Шифферс — <a href="{% url 'linder_first_russian_masters_v_kafe_dominik' %}#game39">39</a></li>
<li><b>Гофман</b> — Петров — <a href="{% url 'linder_first_russian_masters_varshavskie_vstrechi' %}#game3">3</a></li>
<li><b>Козлянинов</b> — Шумов — <a href="{% url 'linder_first_russian_masters_pevec_kombinacii' %}#game33">33</a></li>
<li><b>Колиш</b> — Шумов — <a href="{% url 'linder_first_russian_masters_pevec_kombinacii' %}#game32">32</a></li>
<li><b>Линдэн</b> — Петров — <a href="{% url 'linder_first_russian_masters_stranstvuyushchij_rycar' %}#game15">15</a></li>
<li><b>Марков</b> — Хардин — <a href="{% url 'linder_first_russian_masters_pisma_iz_samary' %}#game77">77</a></li>
<li><b>Митропольский</b> — Шифферс — <a href="{% url 'linder_first_russian_masters_druzya-soperniki' %}#game43">43</a></li>
<li><b>Морфи</b> — Гаррвиц — <a href="{% url 'linder_first_russian_masters_petrov_i_morfi' %}#game12">12</a></li>
<li><b>NN</b> — Петров — <a href="{% url 'linder_first_russian_masters_stranstvuyushchij_rycar' %}#game13">13</a></li>
<li><b>Петров</b> — Варшавский клуб — <a href="{% url 'linder_first_russian_masters_varshavskie_vstrechi' %}#game2">2</a></li>
<li><b>Петров</b> — Гофман — <a href="{% url 'linder_first_russian_masters_varshavskie_vstrechi' %}#game4">4</a></li>
<li><b>Петров</b> — Журну — <a href="{% url 'linder_first_russian_masters_stranstvuyushchij_rycar' %}#game14">14</a></li>
<li><b>Петров</b> — Консультанты — <a href="{% url 'linder_first_russian_masters_po_sankt-peterburgskoj_pochte' %}#game1">1</a></li>
<li><b>Петров</b> — Урусов Д. — <a href="{% url 'linder_first_russian_masters_prevoskhodstvo_veterana' %}#game9">9</a></li>
<li>Петров — <b>Урусов С.</b> — <a href="{% url 'linder_first_russian_masters_vtoroj_v_rossii' %}#game26">26</a></li>
<li>Петров — Шиманский — <a href="{% url 'linder_first_russian_masters_varshavskie_vstrechi' %}#game5">5</a>, <a href="{% url 'linder_first_russian_masters_varshavskie_vstrechi' %}#game6">6</a></li>
<li><b>Петров</b> — Шумов — <a href="{% url 'linder_first_russian_masters_prevoskhodstvo_veterana' %}#game7">7</a></li>
<li><b>Рабинович А.</b> — Шифферс — <a href="{% url 'linder_first_russian_masters_pervye_vserossijskie' %}#game56">56</a></li>
<li><b>Смиттен</b> — Соловцов — <a href="{% url 'linder_first_russian_masters_prezident_obshchestva_lyubitelej' %}#game59">59</a></li>
<li><b>Соловцов</b> — Даненберг — <a href="{% url 'linder_first_russian_masters_prezident_obshchestva_lyubitelej' %}#game62">62</a></li>
<li><b>Соловцов</b> — Кроль — <a href="{% url 'linder_first_russian_masters_mezhdu_muzykoj_i_shahmatami' %}#game72">72</a></li>
<li><b>Соловцов</b> — Острогский — <a href="{% url 'linder_first_russian_masters_mezhdu_muzykoj_i_shahmatami' %}#game71">71</a></li>
<li><b>Соловцов</b> — Петровский — <a href="{% url 'linder_first_russian_masters_uspekh_v_stolichnom_turnire' %}#game63">63</a></li>
<li><b>Соловцов</b> — Смиттен — <a href="{% url 'linder_first_russian_masters_prezident_obshchestva_lyubitelej' %}#game60">60</a></li>
<li><b>Соловцов</b> — Хардин — <a href="{% url 'linder_first_russian_masters_iz_zapisnoj_knizhki_solovcova' %}#game68">68</a></li>
<li><b>Соловцов</b> — Чигорин — <a href="{% url 'linder_first_russian_masters_partii_s_chigorinym' %}#game70">70</a></li>
<li><b>Соловцов</b> — Шмидт — <a href="{% url 'linder_first_russian_masters_prezident_obshchestva_lyubitelej' %}#game61">61</a></li>
<li><b>Стейниц</b> — Шифферс — <a href="{% url 'linder_first_russian_masters_stejnic_-_shiffers' %}#game53">53</a></li>
<li><b>Урусов Д.</b> — Яниш — <a href="{% url 'linder_first_russian_masters_silnejshij_v_stolice' %}#game22">22</a></li>
<!--p>250</p-->
<li><b>Урусов Н.</b> — Хардин — <a href="{% url 'linder_first_russian_masters_otkrytie_v_gambite_evansa' %}#game78">78</a></li>
<li><b>Урусов С.</b> — Бин — <a href="{% url 'linder_first_russian_masters_moskovskij_master' %}#game24">24</a></li>
<li><b>Урусов С.</b> — Колиш — <a href="{% url 'linder_first_russian_masters_vtoroj_v_rossii' %}#game27">27</a></li>
<li>Урусов С. — Петров — <a href="{% url 'linder_first_russian_masters_prevoskhodstvo_veterana' %}#game8">8</a>, <a href="{% url 'linder_first_russian_masters_prevoskhodstvo_veterana' %}#game10">10</a>, <a href="{% url 'linder_first_russian_masters_match_s_poslesloviem' %}#game11">11</a>, <a href="{% url 'linder_first_russian_masters_vtoroj_v_rossii' %}#game25">25</a></li>
<li><b>Фальк</b> — Соловцов — <a href="{% url 'linder_first_russian_masters_iz_zapisnoj_knizhki_solovcova' %}#game69">69</a></li>
<li><b>Хардин</b> — Чигорин — <a href="{% url 'linder_first_russian_masters_peterburgskie_batalii' %}#game75">75</a></li>
<li><b>Хардин</b> — Шифферс — <a href="{% url 'linder_first_russian_masters_pisma_iz_samary' %}#game76">76</a></li>
<li><b>Чигорин</b> — Соловцов — <a href="{% url 'linder_first_russian_masters_uspekh_v_stolichnom_turnire' %}#game64">64</a></li>
<li><b>Чигорин</b> — Шифферс — <a href="{% url 'linder_first_russian_masters_druzya-soperniki' %}#game41">41</a>, <a href="{% url 'linder_first_russian_masters_stejnic_-_shiffers' %}#game55">55</a></li>
<li><b>Шифферс</b> — Берн — <a href="{% url 'linder_first_russian_masters_stejnic_-_shiffers' %}#game54">54</a></li>
<li><b>Шифферс</b> — Гармонист — <a href="{% url 'linder_first_russian_masters_gastings_1895' %}#game46">46</a></li>
<li><b>Шифферс</b> — Гунсберг — <a href="{% url 'linder_first_russian_masters_gastings_1895' %}#game47">47</a></li>
<li><b>Шифферс</b> — Любитель — <a href="{% url 'linder_first_russian_masters_druzya-soperniki' %}#game44">44</a>, <a href="{% url 'linder_first_russian_masters_druzya-soperniki' %}#game45">45</a></li>
<li><b>Шифферс</b> — Нольде — <a href="{% url 'linder_first_russian_masters_v_kafe_dominik' %}#game38">38</a></li>
<li><b>Шифферс</b> — Пильсбери — <a href="{% url 'linder_first_russian_masters_stejnic_-_shiffers' %}#game52">52</a></li>
<li><b>Шифферс</b> — Стейниц — <a href="{% url 'linder_first_russian_masters_stejnic_-_shiffers' %}#game50">50</a>, <a href="{% url 'linder_first_russian_masters_stejnic_-_shiffers' %}#game51">51</a></li>
<li><b>Шифферс</b> — Хардин — <a href="{% url 'linder_first_russian_masters_poslednij_match' %}#game79">79</a>, <a href="{% url 'linder_first_russian_masters_poslednij_match' %}#game80">80</a></li>
<li><b>Шифферс</b> — Чигорин — <a href="{% url 'linder_first_russian_masters_druzya-soperniki' %}#game40">40</a></li>
<li><b>Шифферс</b> — Яновский — <a href="{% url 'linder_first_russian_masters_gastings_1895' %}#game48">48</a></li>
<li><b>Шмидт</b> — Соловцов — <a href="{% url 'linder_first_russian_masters_prezident_obshchestva_lyubitelej' %}#game58">58</a></li>
<li><b>Шмидт</b> — Шифферс — <a href="{% url 'linder_first_russian_masters_druzya-soperniki' %}#game42">42</a></li>
<li><b>Шумов</b> — Бескровный — <a href="{% url 'linder_first_russian_masters_master-zhurnalist' %}#game35">35</a></li>
<li><b>Шумов</b> — Винавер — <a href="{% url 'linder_first_russian_masters_poslednie_gody' %}#game36">36</a></li>
<li><b>Шумов</b> — Петров — <a href="{% url 'linder_first_russian_masters_pevec_kombinacii' %}#game31">31</a></li>
<li><b>Шумов</b> — Урусов Д. — <a href="{% url 'linder_first_russian_masters_silnejshij_v_stolice' %}#game23">23</a></li>
<li><b>Шумов</b> — Чигорин — <a href="{% url 'linder_first_russian_masters_poslednie_gody' %}#game37">37</a></li>
<li><b>Шумов</b> — Яниш — <a href="{% url 'linder_first_russian_masters_staunton_-_yanish' %}#game20">20</a>, <a href="{% url 'linder_first_russian_masters_ya_ostayus_v_peterburge' %}#game29">29</a>, <a href="{% url 'linder_first_russian_masters_pevec_kombinacii' %}#game30">30</a>, <a href="{% url 'linder_first_russian_masters_pevec_kombinacii' %}#game34">34</a></li>
<li><b>Яниш</b> — Колиш — <a href="{% url 'linder_first_russian_masters_staunton_-_yanish' %}#game21">21</a></li>
<li><b>Яниш</b> — Лаза — <a href="{% url 'linder_first_russian_masters_uchenik_petrova' %}#game17">17</a></li>
<li><b>Яниш</b> — Петров — <a href="{% url 'linder_first_russian_masters_uchenik_petrova' %}#game16">16</a></li>
<li><b>Яниш</b> — Стаунтон — <a href="{% url 'linder_first_russian_masters_staunton_-_yanish' %}#game18">18</a>, <a href="{% url 'linder_first_russian_masters_staunton_-_yanish' %}#game19">19</a></li>
<li><b>Яниш</b> — Шумов — <a href="{% url 'linder_first_russian_masters_ya_ostayus_v_peterburge' %}#game28">28</a></li>
</ul>
</div> <!-- score -->
</div> <!-- section -->

</div> <!-- iBook -->
{% endblock content %}
