{% extends '../../base.htm' %}
{% load static %}
{% block title %}
<title>Слон и пешка против слона | {{book.title}} | {%for author in book.authors.all%} {%if author.first_name%} {{author.first_name}} {%endif%} {%if author.second_name%} {{author.second_name}} {%endif%} {%if forloop.counter == book.authors.all.count%} {{author.last_name}} {%else%} {{author.last_name}}, {%endif%} {%endfor%} | {{book.year}}</title>
{% endblock title %}
{% block content %}

<div class="iBook">

<div class="section">
<h3>СЛОН И ПЕШКА ПРОТИВ СЛОНА</h3>
<div class='score'>
<p>Если слоны разноцветные, защита слабейшей стороны совсем не трудна. Либо нужно королем занять поле перед пешкой, недоступное слону, либо слоном взять под контроль одно из полей на пути пешки. Слон один, без помощи короля, легко тормозит пешку. Лишь иногда, при неудачном расположении фигур, могут возникнуть некоторые трудности.</p>
</div> <!-- score -->
</div> <!-- section -->

<div class="section">
<p class="capTop">69</p>
<p class="capTop">И. Бергер, 1922 г.</p>
<div class="chessBoard small" data-start-fen="8/8/P3k3/8/6b1/8/5K1B/8 b - - 0 1"></div>
<p class="capBot">Ход черных</p>
<div class='score'>
 <span class="line0" onclick='loadMove("8/8/P3k3/8/6b1/8/5K1B/8 b - - 0 1", this, ""); '>[...]</span>
<p>Так, здесь положение черных кажется критическим. Как задержать пешку? После</p>
<p class="longNotation">
 <span class="ellipsis0">1. ...</span>
 <span onclick='loadMove("8/8/P3k3/5b2/8/8/5K1B/8 w - - 0 2", this, "g4f5"); ' class="line0">Сg4-f5</span>
</p>
<p class="longNotation">
<span onclick='loadMove("8/8/P3k3/5b2/8/5K2/7B/8 b - - 0 2", this, "f2f3"); ' class="line0">2.Крf2-f3</span>
<span onclick='loadMove("8/8/P7/3k1b2/8/5K2/7B/8 w - - 0 3", this, "e6d5"); ' class="line0">Крe6-d5</span></p>
<p class="longNotation">
<span onclick='loadMove("8/P7/8/3k1b2/8/5K2/7B/8 b - - 0 3", this, "a6a7"); ' class="line0">3.a6-a7</span>
<span onclick='loadMove("8/P7/8/3k4/4b3/5K2/7B/8 w - - 0 4", this, "f5e4"); ' class="line0">Сf5-e4+</span></p>
<p class="longNotation">
 <span onclick='loadMove("8/P7/8/3k4/4b3/4K3/7B/8 b - - 0 4", this, "f3e3"); ' class="line0">4.Крf3-e3</span>
 <span class="ellipsis0">...</span>
</p>
<p>черные не могут остановить пешку. Однако черные защищались не самым лучшим образом.</p>
<p>Продолжая
 <span onclick='loadMove("8/8/P3k3/8/8/3b1K2/7B/8 w - - 0 3", this, "f5d3"); ' class="line1">2...Сf5-d3!</span> 
 <span onclick='loadMove("8/P7/4k3/8/8/3b1K2/7B/8 b - - 0 3", this, "a6a7"); ' class="line1">3.a6-a7</span> 
 <span onclick='loadMove("8/P7/4k3/8/2b5/5K2/7B/8 w - - 0 4", this, "d3c4"); ' class="line1">Сd3-c4!</span> 
 <span onclick='loadMove("Q7/8/4k3/8/2b5/5K2/7B/8 b - - 0 4", this, "a7a8"); ' class="line1">4.a7-a8Ф</span>, они пропускали пешку в ферзи, но затем ходом
 <span onclick='loadMove("Q7/8/4k3/3b4/8/5K2/7B/8 w - - 0 5", this, "c4d5"); ' class="line1">4...Сc4-d5+</span> 
выигрывали новоиспеченного ферзя. Белые могли играть и по-другому:
 <span onclick='loadMove("8/8/P3k3/5b2/8/4K3/7B/8 b - - 0 2", this, "f2e3"); ' class="line1">2.Крf2-e3</span> 
 <span onclick='loadMove("8/8/P3k3/8/8/4K2b/7B/8 w - - 0 3", this, "f5h3"); ' class="line1">Сf5-h3</span> 
 <span onclick='loadMove("8/8/P3k3/8/8/5K1b/7B/8 b - - 0 3", this, "e3f3"); ' class="line1">3.Крe3-f3</span>, но в этом случае к ничьей вело
 <span onclick='loadMove("8/8/P3k3/8/8/5K2/7B/5b2 w - - 0 4", this, "h3f1"); ' class="line1">3...Сh3-f1!</span> 
 <span onclick='loadMove("8/P7/4k3/8/8/5K2/7B/5b2 b - - 0 4", this, "a6a7"); ' class="line1">4.a6-a7</span> 
 <span onclick='loadMove("8/P7/4k3/8/2b5/5K2/7B/8 w - - 0 5", this, "f1c4"); ' class="line1">Сf1-c4!</span> 
и
 <!--span onclick='loadMove("8/P7/4k3/8/2b5/5K2/7B/8 b - - 0 5", this, "f1c4"); ' class="line1">5.z0</span--> 

 <span onclick='loadMove("8/P7/4k3/3b4/8/5K2/7B/8 w - - 0 6", this, "c4d5"); ' class="line1">5...Сc4-d5+</span>.</p>
<p>Если слоны одноцветные, но королю слабейшей стороны удалось занять поле перед пешкой, недоступное слону, то ничья совершенно очевидна.</p>
<p>Значительно сложнее задача защиты, если королю слабейшей стороны не удается занять поле перед пешкой.</p>
</div> <!-- score -->
</div> <!-- section -->

<p class="score">Рассмотрим позицию на диаграмме 70.</p>

<div class="section">
<div class="floater">
<p class="capTop">70</p>
<div class="chessBoard small" data-start-fen="5k2/3b4/3P1K2/8/8/8/8/3B4 w - - 0 1"></div>
</div>
<div class='score'>
 <span class="line0" onclick='loadMove("5k2/3b4/3P1K2/8/8/8/8/3B4 w - - 0 1", this, ""); '>[...]</span>
<p>При своем ходе черные добиваются ничьей, проникая после
 <!--span onclick='loadMove("5k2/3b4/3P1K2/8/8/8/8/3B4 b - - 0 1", this, "c4d5"); ' class="line1">1.z0</span--> 

 <span onclick='loadMove("4k3/3b4/3P1K2/8/8/8/8/3B4 w - - 0 2", this, "f8e8"); ' class="line1">1...Крf8-e8</span> 
на поле d8. Начиная, белые, конечно, продолжают</p>
<p class="longNotation">
<span onclick='loadMove("5k2/3b4/3P1K2/7B/8/8/8/8 b - - 0 1", this, "d1h5"); ' class="line0">1.Сd1-h5</span>
<span class="ellipsis0">...</span>
,</p>
<p>не пропуская короля. Рассмотрим примерные варианты.</p>
<p class="longNotation">
 <span class="ellipsis0">1. ...</span> 
 <span onclick='loadMove("5k2/8/3P1K2/7B/8/7b/8/8 w - - 0 2", this, "d7h3"); ' class="line0">Сd7-h3</span></p>
<p class="longNotation">
<span onclick='loadMove("5k2/8/3P1KB1/8/8/7b/8/8 b - - 0 2", this, "h5g6"); ' class="line0">2.Сh5-g6</span>
<span onclick='loadMove("5k2/3b4/3P1KB1/8/8/8/8/8 w - - 0 3", this, "h3d7"); ' class="line0">Сh3-d7!</span></p>
<p>(Проигрывает
 <span onclick='loadMove("5k2/8/3P1KB1/8/6b1/8/8/8 w - - 0 3", this, "h3g4"); ' class="line1">2...Сh3-g4</span> 
 <span onclick='loadMove("5k2/8/3P1K2/5B2/6b1/8/8/8 b - - 0 3", this, "g6f5"); ' class="line1">3.Сg6-f5</span> 
 <span onclick='loadMove("5k2/8/3P1K2/5b2/8/8/8/8 w - - 0 4", this, "g4f5"); ' class="line1">Сg4:f5</span> 
 <span onclick='loadMove("5k2/8/3P4/5K2/8/8/8/8 b - - 0 4", this, "f6f5"); ' class="line1">4.Крf6:f5</span> 
 <span onclick='loadMove("8/5k2/3P4/5K2/8/8/8/8 w - - 0 5", this, "f8f7"); ' class="line1">Крf8-f7</span> 
 <span onclick='loadMove("8/5k2/3P4/4K3/8/8/8/8 b - - 0 5", this, "f5e5"); ' class="line1">5.Крf5-e5</span> 
 <span onclick='loadMove("5k2/8/3P4/4K3/8/8/8/8 w - - 0 6", this, "f7f8"); ' class="line1">Крf7-f8</span> 
 <span onclick='loadMove("5k2/8/3P1K2/8/8/8/8/8 b - - 0 6", this, "e5f6"); ' class="line1">6.Крe5-f6!</span> 
 <span onclick='loadMove("4k3/8/3P1K2/8/8/8/8/8 w - - 0 7", this, "f8e8"); ' class="line1">Крf8-e8</span> 
 <span onclick='loadMove("4k3/8/3PK3/8/8/8/8/8 b - - 0 7", this, "f6e6"); ' class="line1">7.Крf6-e6!</span> 
 <span onclick='loadMove("3k4/8/3PK3/8/8/8/8/8 w - - 0 8", this, "e8d8"); ' class="line1">Крe8-d8</span> 
 <span onclick='loadMove("3k4/3P4/4K3/8/8/8/8/8 b - - 0 8", this, "d6d7"); ' class="line1">8.d6-d7</span>)</p>
<p class="longNotation">
<span onclick='loadMove("5k2/3b4/3P1K2/5B2/8/8/8/8 b - - 0 3", this, "g6f5"); ' class="line0">3.Сg6-f5</span>
<span onclick='loadMove("4k3/3b4/3P1K2/5B2/8/8/8/8 w - - 0 4", this, "f8e8"); ' class="line0">Крf8-e8</span>.</p>
<p>Могут ли белые вытеснить слона? Для этого им нужно пройти королем на поле c7. Пусть при этом черные будут придерживаться пассивной тактики.</p>
<p>
 <span onclick='loadMove("5k2/8/3P4/4K2B/8/7b/8/8 b - - 0 2", this, "f6e5"); ' class="line1">2.Крf6-e5</span> 
 <span onclick='loadMove("5k2/3b4/3P4/4K2B/8/8/8/8 w - - 0 3", this, "h3d7"); ' class="line1">Сh3-d7</span> 
 <span onclick='loadMove("5k2/3b4/3P4/3K3B/8/8/8/8 b - - 0 3", this, "e5d5"); ' class="line1">3.Крe5-d5</span> 
 <span onclick='loadMove("5k2/8/3P4/3K3B/b7/8/8/8 w - - 0 4", this, "d7a4"); ' class="line1">Сd7-a4</span> 
 <span onclick='loadMove("5k2/8/3P4/2K4B/b7/8/8/8 b - - 0 4", this, "d5c5"); ' class="line1">4.Крd5-c5</span> 
 <span onclick='loadMove("5k2/3b4/3P4/2K4B/8/8/8/8 w - - 0 5", this, "a4d7"); ' class="line1">Сa4-d7</span> 
 <span onclick='loadMove("5k2/3b4/1K1P4/7B/8/8/8/8 b - - 0 5", this, "c5b6"); ' class="line1">5.Крc5-b6</span> 
 <span onclick='loadMove("5k2/8/1K1P4/7B/b7/8/8/8 w - - 0 6", this, "d7a4"); ' class="line1">Сd7-a4</span> 
 <span onclick='loadMove("5k2/2K5/3P4/7B/b7/8/8/8 b - - 0 6", this, "b6c7"); ' class="line1">6.Крb6-c7</span> 
 <span onclick='loadMove("5k2/2K5/3P4/1b5B/8/8/8/8 w - - 0 7", this, "a4b5"); ' class="line1">Сa4-b5</span>.</p>
 
 <div class="chessBoard analysis nobuttons" data-start-fen="5k2/2K5/3P4/1b5B/8/8/8/8 w - - 0 7"></div>
 <p class="capTop">71</p>

<p>Мы получили позицию, где белым удается вытеснить слона и провести пешку в ферзи.</p>
<p>
 <span onclick='loadMove("5k2/2K5/3P4/1b6/8/5B2/8/8 b - - 0 7", this, "h5f3"); ' class="line1">7.Сh5-f3</span> 
 <span onclick='loadMove("5k2/2K5/3P4/8/b7/5B2/8/8 w - - 0 8", this, "b5a4"); ' class="line1">Сb5-a4</span> 
(<span onclick='loadMove("4k3/2K5/3P4/1b6/8/5B2/8/8 w - - 0 8", this, "f8e8"); ' class="line2">7...Крe8</span> 
 <span onclick='loadMove("4k3/2K5/2BP4/1b6/8/8/8/8 b - - 0 8", this, "f3c6"); ' class="line2">8.Сc6+</span> 
 <span onclick='loadMove("4k3/2K5/2bP4/8/8/8/8/8 w - - 0 9", this, "b5c6"); ' class="line2">С:c6</span> 
 <span onclick='loadMove("4k3/8/2KP4/8/8/8/8/8 b - - 0 9", this, "c7c6"); ' class="line2">9.Кр:c6</span> 
 <span onclick='loadMove("3k4/8/2KP4/8/8/8/8/8 w - - 0 10", this, "e8d8"); ' class="line2">Крd8</span> 
 <span onclick='loadMove("3k4/3P4/2K5/8/8/8/8/8 b - - 0 10", this, "d6d7"); ' class="line2">10.d7</span>)
 <span onclick='loadMove("5k2/2K5/2BP4/8/b7/8/8/8 b - - 0 8", this, "f3c6"); ' class="line1">8.Сf3-c6</span> 
 <span onclick='loadMove("5k2/2K5/2bP4/8/8/8/8/8 w - - 0 9", this, "a4c6"); ' class="line1">Сa4:c6</span> 
 <span onclick='loadMove("5k2/8/2KP4/8/8/8/8/8 b - - 0 9", this, "c7c6"); ' class="line1">9.Крc7:c6</span> 
 <span onclick='loadMove("4k3/8/2KP4/8/8/8/8/8 w - - 0 10", this, "f8e8"); ' class="line1">Крf8-e8</span> 
 <span onclick='loadMove("4k3/2K5/3P4/8/8/8/8/8 b - - 0 10", this, "c6c7"); ' class="line1">10.Крc6-c7</span>, и выигрывают.</p>
<p>Если бы черные сыграли
 <span onclick='loadMove("5k2/8/1K1P4/5b1B/8/8/8/8 w - - 0 6", this, "d7f5"); ' class="line2">5...Сf5</span> 
или на другое поле по этой диагонали, то белые выигрывали, переведя слона на c8, и все равно заставляя черных пропустить пешку.</p>
<p>Итак, при пассивной защите черные проигрывали. Один слон не смог справиться с превосходящими силами противника. Сильная сторона провела типичный маневр, перекрывая или вытесняя слона противника.</p>
<p>Но, может быть, король черных мог помешать вытеснению слона? Белые осуществляли перекрытие ходом <b>Сc6</b>, и черные могли не допустить перекрытия только в том случае, если бы их король был расположен на поле c5. Нетрудно установить, что тогда белые были не в силах провести пешку в ферзи.</p>
</div> <!-- score -->
</div> <!-- section -->

<div class="section">
<p class="capTop">72</p>
<div class="chessBoard small" data-start-fen="8/2K5/3P4/1bk4B/8/8/8/8 w - - 0 1"></div>
<div class='score'>
 <span class="line0" onclick='loadMove("8/2K5/3P4/1bk4B/8/8/8/8 w - - 0 1", this, ""); '>[...]</span>
<p>Например:</p>
<p class="longNotation">
<span onclick='loadMove("8/2K5/3P4/1bk5/6B1/8/8/8 b - - 0 1", this, "h5g4"); ' class="line0">1.Сh5-g4</span>
<span onclick='loadMove("8/2K5/3P4/2k5/b5B1/8/8/8 w - - 0 2", this, "b5a4"); ' class="line0">Сb5-a4</span></p>
<p class="longNotation">
<span onclick='loadMove("8/2KB4/3P4/2k5/b7/8/8/8 b - - 0 2", this, "g4d7"); ' class="line0">2.Сg4-d7</span>
<span onclick='loadMove("8/2KB4/3P4/2k5/8/8/8/3b4 w - - 0 3", this, "a4d1"); ' class="line0">Сa4-d1</span></p>
<p class="longNotation">
<span onclick='loadMove("8/2K5/2BP4/2k5/8/8/8/3b4 b - - 0 3", this, "d7c6"); ' class="line0">3.Сd7-c6</span>
<span onclick='loadMove("8/2K5/2BP4/2k5/6b1/8/8/8 w - - 0 4", this, "d1g4"); ' class="line0">Сd1-g4</span>,</p>
<p>и белые не улучшили своего положения.</p>
</div> <!-- score -->
</div> <!-- section -->

<div class="section">
<div class="chessBoard small" data-start-fen="5k2/3b4/3P1K2/8/8/8/8/3B4 w - - 0 1"></div>
<div class='score'>
 <span class="line0" onclick='loadMove("5k2/3b4/3P1K2/8/8/8/8/3B4 w - - 0 1", this, ""); '>[...]</span>
<p>Вернемся теперь к диаграмме 70. после</p>
<p class="longNotation">
<span onclick='loadMove("5k2/3b4/3P1K2/7B/8/8/8/8 b - - 0 1", this, "d1h5"); ' class="line0">1.Сd1-h5</span>
<span onclick='loadMove("5k2/8/3P1K2/7B/8/7b/8/8 w - - 0 2", this, "d7h3"); ' class="line0">Сd7-h3</span></p>
</p>
<p>Только что вы видели, что черный король, когда его противник направляется на c7, не имеет права пассивно наблюдать за развертывающимися событиями, а сам должен торопиться к полю c5. Итак, на
 <span onclick='loadMove("5k2/8/3P4/4K2B/8/7b/8/8 b - - 0 2", this, "f6e5"); ' class="line1">2.Крf6-e5</span> 
нужно продолжать
 <span onclick='loadMove("8/6k1/3P4/4K2B/8/7b/8/8 w - - 0 3", this, "f8g7"); ' class="line1">2...Крf8-g7</span> 
 <span onclick='loadMove("8/6k1/3P4/3K3B/8/7b/8/8 b - - 0 3", this, "e5d5"); ' class="line1">3.Крe5-d5</span> 
 <span onclick='loadMove("8/8/3P1k2/3K3B/8/7b/8/8 w - - 0 4", this, "g7f6"); ' class="line1">Крg7-f6</span> 
 <span onclick='loadMove("8/8/2KP1k2/7B/8/7b/8/8 b - - 0 4", this, "d5c6"); ' class="line1">4.Крd5-c6</span> 
 <span onclick='loadMove("8/8/2KP4/4k2B/8/7b/8/8 w - - 0 5", this, "f6e5"); ' class="line1">Крf6-e5</span> 
 <span onclick='loadMove("8/2K5/3P4/4k2B/8/7b/8/8 b - - 0 5", this, "c6c7"); ' class="line1">5.Крc6-c7</span> 
 <span onclick='loadMove("8/2K5/3P4/7B/3k4/7b/8/8 w - - 0 6", this, "e5d4"); ' class="line1">Крe5-d4</span> 
 <span onclick='loadMove("4B3/2K5/3P4/8/3k4/7b/8/8 b - - 0 6", this, "h5e8"); ' class="line1">6.Сh5-e8</span> 
 <span onclick='loadMove("4B3/2K5/3P4/2k5/8/7b/8/8 w - - 0 7", this, "d4c5"); ' class="line1">Крd4-c5</span>, и черные достигли своей цели.</p>
</div> <!-- score -->
</div> <!-- section -->

<p class="score">Однако контроль над полем перекрытия не всегда спасает слабейшую сторону. Важно, чтобы у слона еще был простор для действий. Если подвижность слона ограничена, то может возникнуть позиция цугцванга.</p>

<div class="section">
<p class="capTop">73</p>
<div class="chessBoard small" data-start-fen="8/K7/bP6/k4B2/8/8/8/8 w - - 0 1"></div>
<div class='score'>
 <span class="line0" onclick='loadMove("8/K7/bP6/k4B2/8/8/8/8 w - - 0 1", this, ""); '>[...]</span>
<p>В этом положении слон черных очень ограничен в своих действиях. Простым выжидательным ходом слона по диагонали h3—c8 белые ставят черных в положение цугцванга и добиваются победы.</p>
<p class="notification message">Для подобных позиций существует важное правило. Слабейшая сторона спасается только в том случае, если на диагонали, с которой слон контролирует продвижение пешки, имеется не менее трех свободных полей. В данном примере их было всего два, поэтому белым и удалось добиться успеха.</p>
</div> <!-- score -->
</div> <!-- section -->

<p class="score">Вот еще одна позиция, подтверждающая это правило.</p>

<div class="section">
<div  class="floater">
<p class="capTop">74</p>
<p class="capTop">Л. Чентурини, 1847 г.</p>
<div class="chessBoard small" data-start-fen="2KB4/1P6/2k5/8/8/8/7b/8 w - - 0 1"></div>
</div>
<div class='score'>
 <span class="line0" onclick='loadMove("2KB4/1P6/2k5/8/8/8/7b/8 w - - 0 1", this, ""); '>[...]</span>
<p>Если бы король белых находился на a8, они легко добивались победы, переведя слона через a7 на b8 и вытеснив слона черных. Но король белых расположен менее удачно, и черные могут попытаться помешать слону белых попасть на a7. На</p>
<p class="longNotation">
<span onclick='loadMove("2K5/1P6/2k5/8/7B/8/7b/8 b - - 0 1", this, "d8h4"); ' class="line0">1.Сd8-h4</span>
 <span class="ellipsis0">...</span>
</p>
<p>они продолжают</p>
<p class="longNotation">
 <span class="ellipsis0">1. ...</span>
 <span onclick='loadMove("2K5/1P6/8/1k6/7B/8/7b/8 w - - 0 2", this, "c6b5"); ' class="line0">Крc6-b5!</span></p>
<p class="longNotation">
<span onclick='loadMove("2K5/1P6/8/1k6/8/8/5B1b/8 b - - 0 2", this, "h4f2"); ' class="line0">2.Сh4-f2</span>
<span onclick='loadMove("2K5/1P6/k7/8/8/8/5B1b/8 w - - 0 3", this, "b5a6"); ' class="line0">Крb5-a6!</span></p>
</p>
<p>Как теперь играть белым? На выжидательный ход слоном</p>
<p class="longNotation">
<span onclick='loadMove("2K5/1P6/k7/8/8/4B3/7b/8 b - - 0 3", this, "f2e3"); ' class="line0">3.Сf2-e3</span>
<span class="ellipsis0">...</span>
</p>
<p>следует</p>
<p class="longNotation">
 <span class="ellipsis0">3. ...</span>
 <span onclick='loadMove("2K5/1P6/k2b4/8/8/4B3/8/8 w - - 0 4", this, "h2d6"); ' class="line0">Сh2-d6!</span></p>
<p class="longNotation">
<span onclick='loadMove("2K5/1P6/k2b4/6B1/8/8/8/8 b - - 0 4", this, "e3g5"); ' class="line0">4.Сe3-g5</span>
<span onclick='loadMove("2K5/1P6/3b4/1k4B1/8/8/8/8 w - - 0 5", this, "a6b5"); ' class="line0">Крa6-b5</span></p>
<p class="longNotation">
<span onclick='loadMove("2KB4/1P6/3b4/1k6/8/8/8/8 b - - 0 5", this, "g5d8"); ' class="line0">5.Сg5-d8</span>
<span onclick='loadMove("2KB4/1P6/2kb4/8/8/8/8/8 w - - 0 6", this, "b5c6"); ' class="line0">Крb5-c6!</span>,</p>
<p>и король черных вовремя поспел на c6. И все же у белых есть путь к победе. Он начинается ходом
 <span onclick='loadMove("2K5/1P6/k7/2B5/8/8/7b/8 b - - 0 3", this, "f2c5"); ' class="line1">3.Сf2-c5!</span>, отнимающим у черных важное поле d6.</p>
<p>Теперь на
 <span onclick='loadMove("2K5/1P6/k7/2B5/5b2/8/8/8 w - - 0 4", this, "h2f4"); ' class="line1">3...Сh2-f4</span> 
следует
 <span onclick='loadMove("2K5/1P2B3/k7/8/5b2/8/8/8 b - - 0 4", this, "c5e7"); ' class="line1">4.Сc5-e7</span> 
 <span onclick='loadMove("2K5/1P2B3/8/1k6/5b2/8/8/8 w - - 0 5", this, "a6b5"); ' class="line1">Крa6-b5</span> 
 <span onclick='loadMove("2KB4/1P6/8/1k6/5b2/8/8/8 b - - 0 5", this, "e7d8"); ' class="line1">5.Сe7-d8</span> 
 <span onclick='loadMove("2KB4/1P6/2k5/8/5b2/8/8/8 w - - 0 6", this, "b5c6"); ' class="line1">Крb5-c6</span> 
 <span onclick='loadMove("2K5/1P6/2k5/6B1/5b2/8/8/8 b - - 0 6", this, "d8g5"); ' class="line1">6.Сd8-g5!</span> 
(В этом выигрыше темпа все дело!)
 <span onclick='loadMove("2K5/1P6/2k5/6B1/8/8/7b/8 w - - 0 7", this, "f4h2"); ' class="line1">6...Сf4-h2</span> 
 <span onclick='loadMove("2K5/1P6/2k5/8/8/4B3/7b/8 b - - 0 7", this, "g5e3"); ' class="line1">7.Сg5-e3</span>, и белый слон проникает на a7.</p>
<p>Знание только что рассмотренных критических позиций очень важно, без него в более сложных позициях не найти правильного пути к ничьей или к победе.</p>
</div> <!-- score -->
</div> <!-- section -->

<p class="score">Вот характерный пример из практики гроссмейстеров.</p>

<div class="section">
<div class="floater">
<p class="capTop">75</p>
<p class="capTop">Капабланка — Яновский (Нью-Йорк, 1916 г.)</p>
<div class="chessBoard small" data-start-fen="3b4/8/8/3K1k2/1P6/2B5/8/8 b - - 0 1"></div>
<p class="capBot">Ход черных</p>
</div>
<div class='score'>
 <span class="line0" onclick='loadMove("3b4/8/8/3K1k2/1P6/2B5/8/8 b - - 0 1", this, ""); '>[...]</span>
<p>Черные в этой позиции решили, что сопротивление безнадежно, и сдались. Однако при правильной защите здесь вообще нет выигрыша, хотя от слабейшей стороны требуется большая изобретательность и точность. Для того чтобы достичь ничьей, черному королю следует заходить с тыла, чтобы не допустить перекрытия диагонали слона.</p>
<p>Итак,</p>
<p class="longNotation">
 <span class="ellipsis0">1. ...</span>
 <span onclick='loadMove("3b4/8/8/3K4/1P3k2/2B5/8/8 w - - 0 2", this, "f5f4"); ' class="line0">Крf5-f4!!</span></p>
<p class="longNotation">
<span onclick='loadMove("3b4/8/8/3K4/1P1B1k2/8/8/8 b - - 0 2", this, "c3d4"); ' class="line0">2.Сc3-d4</span>
<span class="ellipsis0">...</span>
</p>
<p>(На
 <span onclick='loadMove("3b4/8/8/3KB3/1P3k2/8/8/8 b - - 0 2", this, "c3e5"); ' class="line1">2.Сc3-e5+</span> 
черные играют
 <span onclick='loadMove("3b4/8/8/3KB3/1P6/4k3/8/8 w - - 0 3", this, "f4e3"); ' class="line1">2...Крf4-e3</span> 
 <span onclick='loadMove("3b4/8/8/1P1KB3/8/4k3/8/8 b - - 0 3", this, "b4b5"); ' class="line1">3.b4-b5</span> 
 <span onclick='loadMove("3b4/8/8/1P1KB3/8/3k4/8/8 w - - 0 4", this, "e3d3"); ' class="line1">Крe3-d3</span> 
 <span onclick='loadMove("3b4/8/2K5/1P2B3/8/3k4/8/8 b - - 0 4", this, "d5c6"); ' class="line1">4.Крd5-c6</span> 
 <span onclick='loadMove("3b4/8/2K5/1P2B3/2k5/8/8/8 w - - 0 5", this, "d3c4"); ' class="line1">Крd3-c4</span> 
с ясной ничьей).</p>
<p class="longNotation">
 <span class="ellipsis0">2. ...</span> 
 <span onclick='loadMove("3b4/8/8/3K4/1P1B4/5k2/8/8 w - - 0 3", this, "f4f3"); ' class="line0">Крf4-f3!!</span></p>
<p class="longNotation">
<span onclick='loadMove("3b4/8/8/1P1K4/3B4/5k2/8/8 b - - 0 3", this, "b4b5"); ' class="line0">3.b4-b5</span>
<span class="ellipsis0">...</span>
</p>
<p>
(<span onclick='loadMove("3b4/8/8/2BK4/1P6/5k2/8/8 b - - 0 3", this, "d4c5"); ' class="line1">3.Сd4-c5</span> 
 <span onclick='loadMove("3b4/8/8/2BK4/1P6/8/4k3/8 w - - 0 4", this, "f3e2"); ' class="line1">Крf3-e2!!</span> 
 <span onclick='loadMove("3b4/8/2K5/2B5/1P6/8/4k3/8 b - - 0 4", this, "d5c6"); ' class="line1">4.Крd5-c6</span> 
 <span onclick='loadMove("3b4/8/2K5/2B5/1P6/3k4/8/8 w - - 0 5", this, "e2d3"); ' class="line1">Крe2-d3</span> 
 <span onclick='loadMove("3b4/3K4/8/2B5/1P6/3k4/8/8 b - - 0 5", this, "c6d7"); ' class="line1">5.Крc6-d7</span> 
 <span onclick='loadMove("8/3K4/8/2B3b1/1P6/3k4/8/8 w - - 0 6", this, "d8g5"); ' class="line1">Сd8-g5</span> 
 <span onclick='loadMove("8/3K4/8/1PB3b1/8/3k4/8/8 b - - 0 6", this, "b4b5"); ' class="line1">6.b4-b5</span> 
 <span onclick='loadMove("8/3K4/8/1PB3b1/2k5/8/8/8 w - - 0 7", this, "d3c4"); ' class="line1">Крd3-c4</span>).</p>
<p class="longNotation">
 <span class="ellipsis0">3. ...</span> 
 <span onclick='loadMove("3b4/8/8/1P1K4/3B4/8/4k3/8 w - - 0 4", this, "f3e2"); ' class="line0">Крf3-e2!!</span></p>
<p>(Король черных неудержимо направляется к своей цели).</p>
<p class="longNotation">
<span onclick='loadMove("3b4/8/2K5/1P6/3B4/8/4k3/8 b - - 0 4", this, "d5c6"); ' class="line0">4.Крd5-c6</span>
<span onclick='loadMove("3b4/8/2K5/1P6/3B4/3k4/8/8 w - - 0 5", this, "e2d3"); ' class="line0">Крe2-d3</span></p>
<p class="longNotation">
<span onclick='loadMove("3b4/8/1BK5/1P6/8/3k4/8/8 b - - 0 5", this, "d4b6"); ' class="line0">5.Сd4-b6</span>
<span onclick='loadMove("8/8/1BK5/1P4b1/8/3k4/8/8 w - - 0 6", this, "d8g5"); ' class="line0">Сd8-g5</span></p>
<p class="longNotation">
<span onclick='loadMove("8/1K6/1B6/1P4b1/8/3k4/8/8 b - - 0 6", this, "c6b7"); ' class="line0">6.Крc6-b7!</span>
<span class="ellipsis0">...</span>
</p>
<p>(Самое опасное продолжение).</p>
<p class="longNotation">
 <span class="ellipsis0">6. ...</span> 
 <span onclick='loadMove("8/1K6/1B6/1P4b1/2k5/8/8/8 w - - 0 7", this, "d3c4"); ' class="line0">Крd3-c4</span></p>
<p class="longNotation">
<span onclick='loadMove("8/8/KB6/1P4b1/2k5/8/8/8 b - - 0 7", this, "b7a6"); ' class="line0">7.Крb7-a6</span>
<span onclick='loadMove("8/8/KB6/1P4b1/8/1k6/8/8 w - - 0 8", this, "c4b3"); ' class="line0">Крc4-b3!!</span></p>
<p class="longNotation">
<span onclick='loadMove("8/8/K7/1P4b1/8/1k6/5B2/8 b - - 0 8", this, "b6f2"); ' class="line0">8.Сb6-f2</span>
<span onclick='loadMove("3b4/8/K7/1P6/8/1k6/5B2/8 w - - 0 9", this, "g5d8"); ' class="line0">Сg5-d8</span></p>
<p class="longNotation">
<span onclick='loadMove("3b4/8/K7/1P6/8/1k6/8/4B3 b - - 0 9", this, "f2e1"); ' class="line0">9.Сf2-e1</span>
<span onclick='loadMove("3b4/8/K7/1P6/k7/8/8/4B3 w - - 0 10", this, "b3a4"); ' class="line0">Крb3-a4!!</span>,</p>
<p>и черный король поспел вовремя.</p>
</div> <!-- score -->
</div> <!-- section -->

<p class="score">И в заключение рассмотрим позицию 76, являющуюся исключением из правила.</p>

<div class="section">
<p class="capTop">76</p>
<p class="capTop">Л. Чентурини, 1856 г.</p>
<div class="chessBoard small" data-start-fen="2k5/8/2K1P3/b7/8/8/7B/8 w - - 0 1"></div>
<div class='score'>
 <span class="line0" onclick='loadMove("2k5/8/2K1P3/b7/8/8/7B/8 w - - 0 1", this, ""); '>[...]</span>
<p>Белые, играя</p>
<p class="longNotation">
<span onclick='loadMove("2k5/4P3/2K5/b7/8/8/7B/8 b - - 0 1", this, "e6e7"); ' class="line0">1.e6-e7</span>
<span class="ellipsis0">...</span>
,</p>
<p>казалось бы, проводят пешку в ферзи, но на это следует</p>
<p class="longNotation">
 <span class="ellipsis0">1. ...</span>
 <span onclick='loadMove("2kb4/4P3/2K5/8/8/8/7B/8 w - - 0 2", this, "a5d8"); ' class="line0">Сa5-d8!</span>,</p>
<p>и если белые ставят ферзя или ладью, то черным пат.</p>
<p>К ничьей ведет как</p>
<p class="longNotation">
<span onclick='loadMove("2kbB3/8/2K5/8/8/8/7B/8 b - - 0 2", this, "e7e8"); ' class="line0">2.e7-e8С</span>
<span class="ellipsis0">...</span>
</p>
<p>из-за</p>
<p class="longNotation">
 <span class="ellipsis0">2. ...</span>
 <span onclick='loadMove("2k1B3/8/2K5/b7/8/8/7B/8 w - - 0 3", this, "d8a5"); ' class="line0">Сd8-a5!</span></p>
<p class="longNotation">
<span onclick='loadMove("2k1B3/8/2K5/b7/8/6B1/8/8 b - - 0 3", this, "h2g3"); ' class="line0">3.Сh2-g3</span>
<span onclick='loadMove("3kB3/8/2K5/b7/8/6B1/8/8 w - - 0 4", this, "c8d8"); ' class="line0">Крc8-d8</span></p>
<p>и
<!--span onclick='loadMove("3kB3/8/2K5/b7/8/6B1/8/8 b - - 0 4", this, "c8d8"); ' class="line0">4.z0</span--></p>
<p class="longNotation">
 <span class="ellipsis0">4. ...</span>
 <span onclick='loadMove("4B3/4k3/2K5/b7/8/6B1/8/8 w - - 0 5", this, "d8e7"); ' class="line0">Крd8-e7</span>,</p>
<p>так и
 <span onclick='loadMove("2kbN3/8/2K5/8/8/8/7B/8 b - - 0 2", this, "e7e8"); ' class="line1">2.e7-e8К</span> 
из-за
 <span onclick='loadMove("2k1N3/8/2K5/8/7b/8/7B/8 w - - 0 3", this, "d8h4"); ' class="line1">2...Сd8-h4!</span> 
 <span onclick='loadMove("2k1N3/2B5/2K5/8/7b/8/8/8 b - - 0 3", this, "h2c7"); ' class="line1">3.Сh2-c7</span> 
 <span onclick='loadMove("2k1N3/2B1b3/2K5/8/8/8/8/8 w - - 0 4", this, "h4e7"); ' class="line1">Сh4-e7</span> 
 <span onclick='loadMove("2k5/2B1b1N1/2K5/8/8/8/8/8 b - - 0 4", this, "e8g7"); ' class="line1">4.Кe8-g7</span> 
 <span onclick='loadMove("2kb4/2B3N1/2K5/8/8/8/8/8 w - - 0 5", this, "e7d8"); ' class="line1">Сe7-d8</span> 
 <span onclick='loadMove("2kb4/6N1/2K5/8/5B2/8/8/8 b - - 0 5", this, "c7f4"); ' class="line1">5.Сc7-f4</span> 
 <span onclick='loadMove("2k5/2b3N1/2K5/8/5B2/8/8/8 w - - 0 6", this, "d8c7"); ' class="line1">Сd8-c7</span>.</p>
</div> <!-- score -->
</div> <!-- section -->

</div> <!-- iBook -->
{% endblock content %}

