{% extends '../../base.htm' %}
{% load static %}
{% block title %}
<title>Слоновые окончания | {{book.title}} | {%for author in book.authors.all%} {%if author.first_name%} {{author.first_name}} {%endif%} {%if author.second_name%} {{author.second_name}} {%endif%} {%if forloop.counter == book.authors.all.count%} {{author.last_name}} {%else%} {{author.last_name}}, {%endif%} {%endfor%} | {{book.year}}</title>
{% endblock title %}
{% block content %}

<div class="iBook">

<h3>СЛОНОВЫЕ ОКОНЧАНИЯ</h3>

<ul>
<li><a class="line0" href="{% url 'page-view' book.root_dir|add:'/5-3-1_slony-odnocvetnye.htm' %}">Слоны одноцветные</a></li>
<li><a class="line0" href="{% url 'page-view' book.root_dir|add:'/5-3-2_slony-raznocvetnye.htm' %}">Слоны разноцветные</a></li>
</ul>

</div> <!-- iBook -->
{% endblock content %}

