{% extends '../../base.htm' %}
{% load static %}
{% block title %}
<title>Основная литература | {{book.title}} | {%for author in book.authors.all%} {%if author.first_name%} {{author.first_name}} {%endif%} {%if author.second_name%} {{author.second_name}} {%endif%} {%if forloop.counter == book.authors.all.count%} {{author.last_name}} {%else%} {{author.last_name}}, {%endif%} {%endfor%} | {{book.year}}</title>
{% endblock title %}
{% block content %}

<div class="iBook">

<div class="section">
<h2>ОСНОВНАЯ ЛИТЕРАТУРА</h2>
<div class='score'>
<p>Рабинович И. Эндшпиль. 2-е изд. Л., 1927, 1938, 466 стр.</p>
<p>Шахматные окончания. Пешечные, слоновые, коневые. Монография под ред. Ю. Авербаха. М., 1956, 479 стр.</p>
<p>Шахматные окончания. Конь против слона, ладейные. Монография под ред. Ю. Авербаха. М., 1958, 367 стр.</p>
<p>Левенфиш Г., Смыслов В. Теория ладейных окончаний. 2-е изд., 1959, 261 стр.</p>
<p>Лисицын Г. Заключительная часть шахматной партии, Л., 1956, 528 стр.</p>
<!--p class='page'></p-->
<hr />
</div> <!-- score -->
</div> <!-- section -->

</div> <!-- iBook -->
{% endblock content %}

