{% extends '../../base.htm' %}
{% load static %}
{% block title %}
<title>66. Л. Ван Вели - А. Морозевич. Амстердам 1995 | {{book.title}} | {%for author in book.authors.all%} {%if author.first_name%} {{author.first_name}} {%endif%} {%if author.second_name%} {{author.second_name}} {%endif%} {%if forloop.counter == book.authors.all.count%} {{author.last_name}} {%else%} {{author.last_name}}, {%endif%} {%endfor%} | {{book.year}}</title>
{% endblock title %}
{% block content %}

<div class="iBook">

<div class="section">
<div class="chessBoard small floater" data-start-fen="rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w KQkq - 0 1"></div>
<div class="score">
 <span class="line0" onclick='loadMove("rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w KQkq - 0 1", this, ""); '>[...]</span> 
<h3>66. Л. Ван Вели - А. Морозевич<br>Амстердам 1995</h3>
<p class="longNotation">
 <span onclick='loadMove("rnbqkbnr/pppppppp/8/8/3P4/8/PPP1PPPP/RNBQKBNR b KQkq d3 0 1", this, "d2d4"); ' class="line0">1.d2-d4</span> 
 <span onclick='loadMove("rnbqkbnr/ppp1pppp/8/3p4/3P4/8/PPP1PPPP/RNBQKBNR w KQkq d6 0 2", this, "d7d5"); ' class="line0">d7-d5</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("rnbqkbnr/ppp1pppp/8/3p4/2PP4/8/PP2PPPP/RNBQKBNR b KQkq c3 0 2", this, "c2c4"); ' class="line0">2.c2-c4</span> 
 <span onclick='loadMove("r1bqkbnr/ppp1pppp/2n5/3p4/2PP4/8/PP2PPPP/RNBQKBNR w KQkq - 0 3", this, "b8c6"); ' class="line0">Кb8-c6</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("r1bqkbnr/ppp1pppp/2n5/3p4/2PP4/2N5/PP2PPPP/R1BQKBNR b KQkq - 0 3", this, "b1c3"); ' class="line0">3.Кb1-c3</span> 
 <span onclick='loadMove("r1bqkbnr/ppp1pppp/2n5/8/2pP4/2N5/PP2PPPP/R1BQKBNR w KQkq - 0 4", this, "d5c4"); ' class="line0">d5:c4</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("r1bqkbnr/ppp1pppp/2n5/8/2pP4/2N2N2/PP2PPPP/R1BQKB1R b KQkq - 0 4", this, "g1f3"); ' class="line0">4.Кg1-f3</span> 
 <span onclick='loadMove("r1bqkb1r/ppp1pppp/2n2n2/8/2pP4/2N2N2/PP2PPPP/R1BQKB1R w KQkq - 0 5", this, "g8f6"); ' class="line0">Кg8-f6</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("r1bqkb1r/ppp1pppp/2n2n2/8/2pPP3/2N2N2/PP3PPP/R1BQKB1R b KQkq e3 0 5", this, "e2e4"); ' class="line0">5.e2-e4</span> 
 <span onclick='loadMove("r2qkb1r/ppp1pppp/2n2n2/8/2pPP1b1/2N2N2/PP3PPP/R1BQKB1R w KQkq - 0 6", this, "c8g4"); ' class="line0">Сc8-g4</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("r2qkb1r/ppp1pppp/2n2n2/8/2pPP1b1/2N1BN2/PP3PPP/R2QKB1R b KQkq - 0 6", this, "c1e3"); ' class="line0">6.Сc1-e3</span> 
 <span onclick='loadMove("r2qkb1r/ppp2ppp/2n1pn2/8/2pPP1b1/2N1BN2/PP3PPP/R2QKB1R w KQkq - 0 7", this, "e7e6"); ' class="line0">e7-e6</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("r2qkb1r/ppp2ppp/2n1pn2/8/2BPP1b1/2N1BN2/PP3PPP/R2QK2R b KQkq - 0 7", this, "f1c4"); ' class="line0">7.Сf1:c4</span> 
 <span onclick='loadMove("r2qk2r/ppp2ppp/2n1pn2/8/1bBPP1b1/2N1BN2/PP3PPP/R2QK2R w KQkq - 0 8", this, "f8b4"); ' class="line0">Сf8-b4</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("r2qk2r/ppp2ppp/2n1pn2/8/1bBPP1b1/2N1BN2/PPQ2PPP/R3K2R b KQkq - 0 8", this, "d1c2"); ' class="line0">8.Фd1-c2</span> 
 <span onclick='loadMove("r2q1rk1/ppp2ppp/2n1pn2/8/1bBPP1b1/2N1BN2/PPQ2PPP/R3K2R w KQ - 0 9", this, "e8g8"); ' class="line0">0-0</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("r2q1rk1/ppp2ppp/2n1pn2/8/1bBPP1b1/2N1BN2/PPQ2PPP/3RK2R b K - 0 9", this, "a1d1"); ' class="line0">9.Лa1-d1</span> 
 <span onclick='loadMove("r2q1rk1/ppp1nppp/4pn2/8/1bBPP1b1/2N1BN2/PPQ2PPP/3RK2R w K - 0 10", this, "c6e7"); ' class="line0">Кc6-e7</span> 
</p>
<div class="chessBoard analysis nobuttons" data-start-fen="r2q1rk1/ppp1nppp/4pn2/8/1bBPP1b1/2N1BN2/PPQ2PPP/3RK2R w K - 0 10"></div>
<p>Черные открывают дорогу пешке с, с помощью которой собираются атаковать неприятельский центр. При желании можно поставить сопернику ловушку -настолько «хитрую», что никто в нее до сих пор не попался.</p>
<p class="longNotation">
 <span onclick='loadMove("r2q1rk1/ppp1nppp/4pn2/8/1b1PP1b1/2N1BN2/PPQ1BPPP/3RK2R b K - 0 10", this, "c4e2"); ' class="line0">10.Сc4-e2</span> 
 <span class="ellipsis0">...</span> 
</p>
<p>Неплохо также
 <span onclick='loadMove("r2q1rk1/ppp1nppp/4pn2/8/1bBPP1b1/2N1BN2/PPQ2PPP/3R1RK1 b - - 0 10", this, "e1g1"); ' class="line1">10.0-0!?</span> 
</p>
<p class="longNotation">
 <span class="ellipsis0">10. ...</span> 
 <span onclick='loadMove("r2q1rk1/ppp1nppp/4pn2/8/3PP1b1/2b1BN2/PPQ1BPPP/3RK2R w K - 0 11", this, "b4c3"); ' class="line0">Сb4:c3+!</span> 
</p>
<p>Вот она, упомянутая выше западня:
 <span onclick='loadMove("r2q1rk1/ppp2ppp/4pnn1/8/1b1PP1b1/2N1BN2/PPQ1BPPP/3RK2R w K - 0 11", this, "e7g6"); ' class="line1">10...Кg6</span> 
 <span onclick='loadMove("r2q1rk1/ppp2ppp/4pnn1/8/1b1PP1b1/2N1BN2/PPQ1BPPP/3R1RK1 b - - 0 11", this, "e1g1"); ' class="line1">11.0-0</span> 
 <span onclick='loadMove("r1q2rk1/ppp2ppp/4pnn1/8/1b1PP1b1/2N1BN2/PPQ1BPPP/3R1RK1 w - - 0 12", this, "d8c8"); ' class="line1">Фc8</span> 
 <span onclick='loadMove("r1q2rk1/ppp2ppp/4pnn1/8/1b1PP1b1/P1N1BN2/1PQ1BPPP/3R1RK1 b - - 0 12", this, "a2a3"); ' class="line1">12.a3?</span> 
 <span onclick='loadMove("r1q2rk1/ppp2ppp/4pnn1/8/3PP1b1/P1b1BN2/1PQ1BPPP/3R1RK1 w - - 0 13", this, "b4c3"); ' class="line1">С:c3</span> 
 <span onclick='loadMove("r1q2rk1/ppp2ppp/4pnn1/8/3PP1b1/P1P1BN2/2Q1BPPP/3R1RK1 b - - 0 13", this, "b2c3"); ' class="line1">13.bc</span> 
 <span onclick='loadMove("r1q2rk1/ppp2ppp/4p1n1/8/3Pn1b1/P1P1BN2/2Q1BPPP/3R1RK1 w - - 0 14", this, "f6e4"); ' class="line1">К:e4!</span> 
<b class="CAChess">&#181;</b>, и коня брать нельзя из-за
 <!--span onclick='loadMove("r1q2rk1/ppp2ppp/4p1n1/8/3Pn1b1/P1P1BN2/2Q1BPPP/3R1RK1 b - - 0 14", this, "f6e4"); ' class="line1">14.z0</span--> 

 <span onclick='loadMove("r1q2rk1/ppp2ppp/4p1n1/5b2/3Pn3/P1P1BN2/2Q1BPPP/3R1RK1 w - - 0 15", this, "g4f5"); ' class="line1">14...Сf5</span> 
с поимкой ферзя. Ход
 <span onclick='loadMove("r1q2rk1/ppp2ppp/4pnn1/8/1b1PP1b1/P1N1BN2/1PQ1BPPP/3R1RK1 b - - 0 12", this, "a2a3"); ' class="line2">12.a3</span> 
напоминает задачи на кооперативный мат, практически любой другой ход не только лучше сам по себе, но и обеспечивает белым преимущество. Например:
 <span onclick='loadMove("r1q2rk1/ppp2ppp/4pnn1/8/1b1PP1b1/2N1BN1P/PPQ1BPP1/3R1RK1 b - - 0 12", this, "h2h3"); ' class="line2">12.h3</span> 
 <span onclick='loadMove("r1q2rk1/ppp2ppp/4pnn1/8/1b1PP3/2N1Bb1P/PPQ1BPP1/3R1RK1 w - - 0 13", this, "g4f3"); ' class="line2">С:f3</span> 
 <span onclick='loadMove("r1q2rk1/ppp2ppp/4pnn1/8/1b1PP3/2N1BB1P/PPQ2PP1/3R1RK1 b - - 0 13", this, "e2f3"); ' class="line2">13.С:f3</span> 
 <span onclick='loadMove("r1q2rk1/pp3ppp/4pnn1/2p5/1b1PP3/2N1BB1P/PPQ2PP1/3R1RK1 w - c6 0 14", this, "c7c5"); ' class="line2">c5</span> 
 <span onclick='loadMove("r1q2rk1/pp3ppp/4pnn1/2pP4/1b2P3/2N1BB1P/PPQ2PP1/3R1RK1 b - - 0 14", this, "d4d5"); ' class="line2">14.d5</span> 
 <span onclick='loadMove("r1q2rk1/pp3ppp/5nn1/2pPp3/1b2P3/2N1BB1P/PPQ2PP1/3R1RK1 w - - 0 15", this, "e6e5"); ' class="line2">e5</span> 
 <span onclick='loadMove("r1q2rk1/pp3ppp/3P1nn1/2p1p3/1b2P3/2N1BB1P/PPQ2PP1/3R1RK1 b - - 0 15", this, "d5d6"); ' class="line2">15.d6</span> 
 <span onclick='loadMove("r1q2rk1/pp3ppp/3P1nn1/2p1p3/4P3/2b1BB1P/PPQ2PP1/3R1RK1 w - - 0 16", this, "b4c3"); ' class="line2">С:c3</span> 
 <span onclick='loadMove("r1q2rk1/pp3ppp/3P1nn1/2p1p3/4P3/2Q1BB1P/PP3PP1/3R1RK1 b - - 0 16", this, "c2c3"); ' class="line2">16.Ф:c3</span> 
 <span onclick='loadMove("r1q2rk1/pp3ppp/3P1n2/2p1p3/4P2n/2Q1BB1P/PP3PP1/3R1RK1 w - - 0 17", this, "g6h4"); ' class="line2">Кh4</span> 
 <span onclick='loadMove("r1q2rk1/pp3ppp/3P1n2/2p1p3/4P2n/2Q1B2P/PP2BPP1/3R1RK1 b - - 0 17", this, "f3e2"); ' class="line2">17.Сe2</span> 
 <span onclick='loadMove("r4rk1/pp3ppp/2qP1n2/2p1p3/4P2n/2Q1B2P/PP2BPP1/3R1RK1 w - - 0 18", this, "c8c6"); ' class="line2">Фc6</span> 
 <span onclick='loadMove("r4rk1/pp3ppp/2qP1n2/2p1p3/4P2n/2Q1BP1P/PP2B1P1/3R1RK1 b - - 0 18", this, "f2f3"); ' class="line2">18.f3</span> 
<b class="CAChess">&#177;</b> (Байков - Барский, Москва 1995).</p>
<p>Не решает всех проблем
 <span onclick='loadMove("r1q2rk1/ppp1nppp/4pn2/8/1b1PP1b1/2N1BN2/PPQ1BPPP/3RK2R w K - 0 11", this, "d8c8"); ' class="line1">10...Фc8</span> 
 <span onclick='loadMove("r1q2rk1/ppp1nppp/4pn2/8/1b1PP1b1/2N1BN2/PPQ1BPPP/3R1RK1 b - - 0 11", this, "e1g1"); ' class="line1">11.0-0</span> 
(заслуживает внимания
 <span onclick='loadMove("r1q2rk1/ppp1nppp/4pn2/8/1b1PP1b1/P1N1BN2/1PQ1BPPP/3RK2R b K - 0 11", this, "a2a3"); ' class="line2">11.a3</span> 
, например:
 <span onclick='loadMove("r1q2rk1/ppp1nppp/4pn2/8/3PP1b1/P1b1BN2/1PQ1BPPP/3RK2R w K - 0 12", this, "b4c3"); ' class="line2">11...С:c3+</span> 
 <span onclick='loadMove("r1q2rk1/ppp1nppp/4pn2/8/3PP1b1/P1P1BN2/2Q1BPPP/3RK2R b K - 0 12", this, "b2c3"); ' class="line2">12.bc</span> 
 <span onclick='loadMove("r1q2rk1/p1p1nppp/1p2pn2/8/3PP1b1/P1P1BN2/2Q1BPPP/3RK2R w K - 0 13", this, "b7b6"); ' class="line2">b6</span> 
 <span onclick='loadMove("r1q2rk1/p1p1nppp/1p2pn2/8/3PP1b1/P1P1BN2/2Q1BPPP/3R1RK1 b - - 0 13", this, "e1g1"); ' class="line2">13.0-0</span> 
 <span onclick='loadMove("r4rk1/pqp1nppp/1p2pn2/8/3PP1b1/P1P1BN2/2Q1BPPP/3R1RK1 w - - 0 14", this, "c8b7"); ' class="line2">Фb7</span> 
 <span onclick='loadMove("r4rk1/pqp1nppp/1p2pn2/6B1/3PP1b1/P1P2N2/2Q1BPPP/3R1RK1 b - - 0 14", this, "e3g5"); ' class="line2">14.Сg5!</span> 
<b class="CAChess">&#177;</b>)
 <span onclick='loadMove("r1q2rk1/pp2nppp/4pn2/2p5/1b1PP1b1/2N1BN2/PPQ1BPPP/3R1RK1 w - c6 0 12", this, "c7c5"); ' class="line1">11...c5</span> 
 <span onclick='loadMove("r1q2rk1/pp2nppp/4pn2/2P5/1b2P1b1/2N1BN2/PPQ1BPPP/3R1RK1 b - - 0 12", this, "d4c5"); ' class="line1">12.dc</span> 
 <span onclick='loadMove("r1q2rk1/pp2nppp/4pn2/2b5/4P1b1/2N1BN2/PPQ1BPPP/3R1RK1 w - - 0 13", this, "b4c5"); ' class="line1">С:c5</span> 
 <span onclick='loadMove("r1q2rk1/pp2nppp/4pn2/2b1P3/6b1/2N1BN2/PPQ1BPPP/3R1RK1 b - - 0 13", this, "e4e5"); ' class="line1">13.e5</span> 
 <span onclick='loadMove("r1q2rk1/pp1nnppp/4p3/2b1P3/6b1/2N1BN2/PPQ1BPPP/3R1RK1 w - - 0 14", this, "f6d7"); ' class="line1">Кd7</span> 
(
 <span onclick='loadMove("r1q2rk1/pp2nppp/4pn2/2b1Pb2/8/2N1BN2/PPQ1BPPP/3R1RK1 w - - 0 14", this, "g4f5"); ' class="line2">13...Сf5</span> 
 <span onclick='loadMove("r1q2rk1/pp2nppp/4pn2/2b1Pb2/8/2NBBN2/PPQ2PPP/3R1RK1 b - - 0 14", this, "e2d3"); ' class="line2">14.Сd3</span> 
 <span onclick='loadMove("r1q2rk1/pp2nppp/4pn2/2b1P3/8/2NbBN2/PPQ2PPP/3R1RK1 w - - 0 15", this, "f5d3"); ' class="line2">С:d3</span> 
 <span onclick='loadMove("r1q2rk1/pp2nppp/4pn2/2b1P3/8/2NQBN2/PP3PPP/3R1RK1 b - - 0 15", this, "c2d3"); ' class="line2">15.Ф:d3</span> 
 <span onclick='loadMove("r1q1nrk1/pp2nppp/4p3/2b1P3/8/2NQBN2/PP3PPP/3R1RK1 w - - 0 16", this, "f6e8"); ' class="line2">Кe8</span> 
 <span onclick='loadMove("r1q1nrk1/pp2nppp/4p3/2B1P3/8/2NQ1N2/PP3PPP/3R1RK1 b - - 0 16", this, "e3c5"); ' class="line2">16.С:c5</span> 
 <span onclick='loadMove("r3nrk1/pp2nppp/4p3/2q1P3/8/2NQ1N2/PP3PPP/3R1RK1 w - - 0 17", this, "c8c5"); ' class="line2">Ф:c5</span> 
 <span onclick='loadMove("r3nrk1/pp2nppp/4p3/2q1P3/4N3/3Q1N2/PP3PPP/3R1RK1 b - - 0 17", this, "c3e4"); ' class="line2">17.Кe4</span> 
 <span onclick='loadMove("r3nrk1/pp2nppp/1q2p3/4P3/4N3/3Q1N2/PP3PPP/3R1RK1 w - - 0 18", this, "c5b6"); ' class="line2">Фb6</span> 
 <span onclick='loadMove("r3nrk1/pp2nppp/1q2p3/4P1N1/8/3Q1N2/PP3PPP/3R1RK1 b - - 0 18", this, "e4g5"); ' class="line2">18.Кeg5</span> 
 <span onclick='loadMove("r3nrk1/pp2np1p/1q2p1p1/4P1N1/8/3Q1N2/PP3PPP/3R1RK1 w - - 0 19", this, "g7g6"); ' class="line2">g6</span> 
 <span onclick='loadMove("r3nrk1/pp2np1p/1q2p1p1/4P1N1/4Q3/5N2/PP3PPP/3R1RK1 b - - 0 19", this, "d3e4"); ' class="line2">19.Фe4</span> 
 <span onclick='loadMove("r3nrk1/pp3p1p/1q2p1p1/3nP1N1/4Q3/5N2/PP3PPP/3R1RK1 w - - 0 20", this, "e7d5"); ' class="line2">Кd5</span> 
 <span onclick='loadMove("r3nrk1/pp3p1p/1q2p1p1/3nP1N1/7Q/5N2/PP3PPP/3R1RK1 b - - 0 20", this, "e4h4"); ' class="line2">20.Фh4</span> 
 <span onclick='loadMove("r3nrk1/pp3p2/1q2p1p1/3nP1Np/7Q/5N2/PP3PPP/3R1RK1 w - h6 0 21", this, "h7h5"); ' class="line2">h5</span> 
 <span onclick='loadMove("r3nrk1/pp3p2/1q2p1p1/3nP1Np/7Q/5N2/PP1R1PPP/5RK1 b - - 0 21", this, "d1d2"); ' class="line2">21.Лd2</span> 
<b class="CAChess">&#177;</b> Гаврилов-Барский, Москва 1995)
 <span onclick='loadMove("r1q2rk1/pp1Rnppp/4p3/2b1P3/6b1/2N1BN2/PPQ1BPPP/5RK1 b - - 0 14", this, "d1d7"); ' class="line1">14.Л:d7</span> 
(
 <span onclick='loadMove("r1q2rk1/pp1nnppp/4p3/2b1P3/4N1b1/4BN2/PPQ1BPPP/3R1RK1 b - - 0 14", this, "c3e4"); ' class="line2">14.Кe4</span> 
 <span onclick='loadMove("r1q2rk1/pp1nnppp/4p3/4P3/4N1b1/4bN2/PPQ1BPPP/3R1RK1 w - - 0 15", this, "c5e3"); ' class="line2">С:e3</span> 
 <span onclick='loadMove("r1Q2rk1/pp1nnppp/4p3/4P3/4N1b1/4bN2/PP2BPPP/3R1RK1 b - - 0 15", this, "c2c8"); ' class="line2">15.Ф:c8</span> 
 <span onclick='loadMove("r1n2rk1/pp1n1ppp/4p3/4P3/4N1b1/4bN2/PP2BPPP/3R1RK1 w - - 0 16", this, "e7c8"); ' class="line2">К:c8</span> 
 <span onclick='loadMove("r1n2rk1/pp1R1ppp/4p3/4P3/4N1b1/4bN2/PP2BPPP/5RK1 b - - 0 16", this, "d1d7"); ' class="line2">16.Л:d7</span> 
 <span onclick='loadMove("r4rk1/pp1R1ppp/1n2p3/4P3/4N1b1/4bN2/PP2BPPP/5RK1 w - - 0 17", this, "c8b6"); ' class="line2">Кb6</span> 
 <span onclick='loadMove("r4rk1/pR3ppp/1n2p3/4P3/4N1b1/4bN2/PP2BPPP/5RK1 b - - 0 17", this, "d7b7"); ' class="line2">17.Л:b7</span> 
 <span onclick='loadMove("r4rk1/pR3ppp/1n2p3/4P3/4N3/4bb2/PP2BPPP/5RK1 w - - 0 18", this, "g4f3"); ' class="line2">С:f3</span> 
 <span onclick='loadMove("r4rk1/pR3ppp/1n2p3/4P3/4N3/4bB2/PP3PPP/5RK1 b - - 0 18", this, "e2f3"); ' class="line2">18.С:f3</span> 
 <span onclick='loadMove("r4rk1/pR3ppp/1n2p3/4P3/3bN3/5B2/PP3PPP/5RK1 w - - 0 19", this, "e3d4"); ' class="line2">Сd4=</span> 
;
 <span onclick='loadMove("r1q2rk1/pp1nnppp/4p3/2B1P3/6b1/2N2N2/PPQ1BPPP/3R1RK1 b - - 0 14", this, "e3c5"); ' class="line2">14.С:c5</span> 
 <span onclick='loadMove("r1q2rk1/pp2nppp/4p3/2n1P3/6b1/2N2N2/PPQ1BPPP/3R1RK1 w - - 0 15", this, "d7c5"); ' class="line2">К:c5</span> 
 <span onclick='loadMove("r1q2rk1/pp2nppp/4p3/1Nn1P3/6b1/5N2/PPQ1BPPP/3R1RK1 b - - 0 15", this, "c3b5"); ' class="line2">15.Кb5</span> 
<b class="CAChess">&#178;</b>)
 <span onclick='loadMove("r1q2rk1/pp1Rnppp/4p3/4P3/6b1/2N1bN2/PPQ1BPPP/5RK1 w - - 0 15", this, "c5e3"); ' class="line1">14...С:e3</span> 
 <span onclick='loadMove("r1q2rk1/pp1Rnppp/4p3/4P3/6b1/2N1bN2/PPQ1BPPP/3R2K1 b - - 0 15", this, "f1d1"); ' class="line1">15.Лfd1</span> 
(
 <span onclick='loadMove("r1q2rk1/pp2Rppp/4p3/4P3/6b1/2N1bN2/PPQ1BPPP/5RK1 b - - 0 15", this, "d7e7"); ' class="line2">15.Л:e7</span> 
 <span onclick='loadMove("r1q2rk1/pp2Rppp/4p3/2b1P3/6b1/2N2N2/PPQ1BPPP/5RK1 w - - 0 16", this, "e3c5"); ' class="line2">Сc5</span> 
<b class="CAChess">&#179;</b>)
 <span onclick='loadMove("r1q2rk1/pp1Rnppp/4p3/2b1P3/6b1/2N2N2/PPQ1BPPP/3R2K1 w - - 0 16", this, "e3c5"); ' class="line1">15...Сc5</span> 
 <span onclick='loadMove("r1q2rk1/pp1Rnppp/4p3/2b1P3/4Q1b1/2N2N2/PP2BPPP/3R2K1 b - - 0 16", this, "c2e4"); ' class="line1">16.Фe4</span> 
<b class="CAChess">&#178;</b>.</p>
<p class="longNotation">
 <span onclick='loadMove("r2q1rk1/ppp1nppp/4pn2/8/3PP1b1/2P1BN2/P1Q1BPPP/3RK2R b K - 0 11", this, "b2c3"); ' class="line0">11.b2:c3</span> 
 <span onclick='loadMove("r2q1rk1/pp2nppp/4pn2/2p5/3PP1b1/2P1BN2/P1Q1BPPP/3RK2R w K c6 0 12", this, "c7c5"); ' class="line0">c7-c5</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("r2q1rk1/pp2nppp/4pn2/2p5/3PP1b1/2P1BN2/P1Q1BPPP/3R1RK1 b - - 0 12", this, "e1g1"); ' class="line0">12.0-0</span> 
 <span onclick='loadMove("r4rk1/ppq1nppp/4pn2/2p5/3PP1b1/2P1BN2/P1Q1BPPP/3R1RK1 w - - 0 13", this, "d8c7"); ' class="line0">Фd8-c7</span> 
</p>
<!--p>210</p><p>Глава третья</p-->
<p class="longNotation">
 <span onclick='loadMove("r4rk1/ppq1nppp/4pn2/2p5/3PP1b1/2P1BN2/P3BPPP/1Q1R1RK1 b - - 0 13", this, "c2b1"); ' class="line0">13.Фc2-b1</span> 
 <span onclick='loadMove("r4rk1/p1q1nppp/1p2pn2/2p5/3PP1b1/2P1BN2/P3BPPP/1Q1R1RK1 w - - 0 14", this, "b7b6"); ' class="line0">b7-b6?!</span> 
</p>
<p>Правильно было
 <span onclick='loadMove("r2r2k1/ppq1nppp/4pn2/2p5/3PP1b1/2P1BN2/P3BPPP/1Q1R1RK1 w - - 0 14", this, "f8d8"); ' class="line1">13...Лfd8</span> 
 <span onclick='loadMove("r2r2k1/ppq1nppp/4pn2/2p5/3PP1b1/2P1BN1P/P3BPP1/1Q1R1RK1 b - - 0 14", this, "h2h3"); ' class="line1">14.h3</span> 
 <span onclick='loadMove("r2r2k1/ppq1nppp/4pn2/2p4b/3PP3/2P1BN1P/P3BPP1/1Q1R1RK1 w - - 0 15", this, "g4h5"); ' class="line1">Сh5</span> 
 <span onclick='loadMove("r2r2k1/ppq1nppp/4pn2/2p4b/3PP1P1/2P1BN1P/P3BP2/1Q1R1RK1 b - g3 0 15", this, "g2g4"); ' class="line1">15.g4</span> 
 <span onclick='loadMove("r2r2k1/ppq1nppp/4pnb1/2p5/3PP1P1/2P1BN1P/P3BP2/1Q1R1RK1 w - - 0 16", this, "h5g6"); ' class="line1">Сg6</span> 
 <span onclick='loadMove("r2r2k1/ppq1nppp/4pnb1/2p5/3PP1P1/2PBBN1P/P4P2/1Q1R1RK1 b - - 0 16", this, "e2d3"); ' class="line1">16.Сd3</span> 
 <span onclick='loadMove("r2r2k1/ppq2ppp/2n1pnb1/2p5/3PP1P1/2PBBN1P/P4P2/1Q1R1RK1 w - - 0 17", this, "e7c6"); ' class="line1">Кc6</span> 
 <span onclick='loadMove("r2r2k1/ppq2ppp/2n1pnb1/2p5/3PP1P1/2PBBN1P/P4P2/1Q1RR1K1 b - - 0 17", this, "f1e1"); ' class="line1">17.Лfe1</span> 
 <span onclick='loadMove("r5k1/ppqr1ppp/2n1pnb1/2p5/3PP1P1/2PBBN1P/P4P2/1Q1RR1K1 w - - 0 18", this, "d8d7"); ' class="line1">Лd7!</span> 
с равенством.</p>
<p class="longNotation">
 <span onclick='loadMove("r4rk1/p1q1nppp/1p2pn2/2p5/3PP1b1/2P1BN1P/P3BPP1/1Q1R1RK1 b - - 0 14", this, "h2h3"); ' class="line0">14.h2-h3</span> 
 <span onclick='loadMove("r4rk1/p1q1nppp/1p2pn2/2p4b/3PP3/2P1BN1P/P3BPP1/1Q1R1RK1 w - - 0 15", this, "g4h5"); ' class="line0">Сg4-h5</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("r4rk1/p1q1nppp/1p2pn2/2p4b/3PP1P1/2P1BN1P/P3BP2/1Q1R1RK1 b - g3 0 15", this, "g2g4"); ' class="line0">15.g2-g4</span> 
 <span onclick='loadMove("r4rk1/p1q1nppp/1p2pnb1/2p5/3PP1P1/2P1BN1P/P3BP2/1Q1R1RK1 w - - 0 16", this, "h5g6"); ' class="line0">Сh5-g6</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("r4rk1/p1q1nppp/1p2pnb1/2p5/3PP1P1/2PBBN1P/P4P2/1Q1R1RK1 b - - 0 16", this, "e2d3"); ' class="line0">16.Сe2-d3</span> 
 <span onclick='loadMove("r2r2k1/p1q1nppp/1p2pnb1/2p5/3PP1P1/2PBBN1P/P4P2/1Q1R1RK1 w - - 0 17", this, "f8d8"); ' class="line0">Лf8-d8?!</span> 
</p>
<p>Еще одна неточность, лучше как
 <span onclick='loadMove("r4rk1/p1q2ppp/1pn1pnb1/2p5/3PP1P1/2PBBN1P/P4P2/1Q1R1RK1 w - - 0 17", this, "e7c6"); ' class="line1">16...Кc6</span> 
<b class="CAChess">&#178;</b>, так и
 <span onclick='loadMove("r4rk1/pq2nppp/1p2pnb1/2p5/3PP1P1/2PBBN1P/P4P2/1Q1R1RK1 w - - 0 17", this, "c7b7"); ' class="line1">16...Фb7</span> 
 <span onclick='loadMove("r4rk1/pq2nppp/1p2pnb1/2p5/3PP1P1/2PBB2P/P2N1P2/1Q1R1RK1 b - - 0 17", this, "f3d2"); ' class="line1">17.Кd2</span> 
 <span onclick='loadMove("r4rk1/pq2nppp/1p2pnb1/8/3pP1P1/2PBB2P/P2N1P2/1Q1R1RK1 w - - 0 18", this, "c5d4"); ' class="line1">cd</span> 
 <span onclick='loadMove("r4rk1/pq2nppp/1p2pnb1/8/3PP1P1/3BB2P/P2N1P2/1Q1R1RK1 b - - 0 18", this, "c3d4"); ' class="line1">18.cd</span> 
 <span onclick='loadMove("r4rk1/pq2npp1/1p2pnbp/8/3PP1P1/3BB2P/P2N1P2/1Q1R1RK1 w - - 0 19", this, "h7h6"); ' class="line1">h6</span> 
 <span onclick='loadMove("r4rk1/pq2npp1/1p2pnbp/8/3PP1P1/3BB2P/P2N1P2/1QR2RK1 b - - 0 19", this, "d1c1"); ' class="line1">19.Лc1</span> 
<b class="CAChess">&#178;</b>.</p>
<p class="longNotation">
 <span onclick='loadMove("r2r2k1/p1q1nppp/1p2pnb1/2p1N3/3PP1P1/2PBB2P/P4P2/1Q1R1RK1 b - - 0 17", this, "f3e5"); ' class="line0">17.Кf3-e5</span> 
 <span onclick='loadMove("r2r2k1/pq2nppp/1p2pnb1/2p1N3/3PP1P1/2PBB2P/P4P2/1Q1R1RK1 w - - 0 18", this, "c7b7"); ' class="line0">Фc7-b7</span> 
</p>
<p>После
 <span onclick='loadMove("r2r2k1/p1q2ppp/1pn1pnb1/2p1N3/3PP1P1/2PBB2P/P4P2/1Q1R1RK1 w - - 0 18", this, "e7c6"); ' class="line1">17...Кc6</span> 
 <span onclick='loadMove("r2r2k1/p1q2ppp/1pn1pnb1/2p1N3/3PPPP1/2PBB2P/P7/1Q1R1RK1 b - f3 0 18", this, "f2f4"); ' class="line1">18.f4</span> 
 <span onclick='loadMove("r2r2k1/p1q2ppp/1pn1pnb1/4N3/3pPPP1/2PBB2P/P7/1Q1R1RK1 w - - 0 19", this, "c5d4"); ' class="line1">cd</span> 
[
 <span onclick='loadMove("r2r2k1/p1q2ppp/1p2pnb1/2p1n3/3PPPP1/2PBB2P/P7/1Q1R1RK1 w - - 0 19", this, "c6e5"); ' class="line2">18...К:e5</span> 
 <span onclick='loadMove("r2r2k1/p1q2ppp/1p2pnb1/2p1P3/3PP1P1/2PBB2P/P7/1Q1R1RK1 b - - 0 19", this, "f4e5"); ' class="line2">19.fe</span> 
(
 <span onclick='loadMove("r2r2k1/p1q2ppp/1p2pnb1/2p1P3/4PPP1/2PBB2P/P7/1Q1R1RK1 b - - 0 19", this, "d4e5"); ' class="line3">19.de</span> 
 <span onclick='loadMove("r5k1/p1q2ppp/1p2pnb1/2p1P3/4PPP1/2PrB2P/P7/1Q1R1RK1 w - - 0 20", this, "d8d3"); ' class="line3">Л:d3</span> 
 <span onclick='loadMove("r5k1/p1q2ppp/1p2pnb1/2p1P3/4PPP1/2PQB2P/P7/3R1RK1 b - - 0 20", this, "b1d3"); ' class="line3">20.Ф:d3</span> 
 <span onclick='loadMove("r5k1/p1q2ppp/1p2pn2/2p1P3/4bPP1/2PQB2P/P7/3R1RK1 w - - 0 21", this, "g6e4"); ' class="line3">С:e4</span> 
 <span onclick='loadMove("r5k1/p1q2ppp/1p1Qpn2/2p1P3/4bPP1/2P1B2P/P7/3R1RK1 b - - 0 21", this, "d3d6"); ' class="line3">21.Фd6</span> 
 <span onclick='loadMove("r5k1/p4ppp/1p1qpn2/2p1P3/4bPP1/2P1B2P/P7/3R1RK1 w - - 0 22", this, "c7d6"); ' class="line3">Ф:d6</span> 
 <span onclick='loadMove("r5k1/p4ppp/1p1Rpn2/2p1P3/4bPP1/2P1B2P/P7/5RK1 b - - 0 22", this, "d1d6"); ' class="line3">22.Л:d6</span> 
 <span onclick='loadMove("r5k1/p4ppp/1p1Rp3/2pnP3/4bPP1/2P1B2P/P7/5RK1 w - - 0 23", this, "f6d5"); ' class="line3">Кd5</span> 
<b class="CAChess">&#178;</b>)
 <span onclick='loadMove("r2r2k1/p1qn1ppp/1p2p1b1/2p1P3/3PP1P1/2PBB2P/P7/1Q1R1RK1 w - - 0 20", this, "f6d7"); ' class="line2">19...Кd7</span> 
 <span onclick='loadMove("r2r2k1/p1qn1ppp/1p2p1b1/2p1P3/3PP1P1/2PBB2P/P4R2/1Q1R2K1 b - - 0 20", this, "f1f2"); ' class="line2">20.Лf2</span> 
<b class="CAChess">&#177;</b>]
 <span onclick='loadMove("r2r2k1/p1q2ppp/1pn1pnb1/4N3/3PPPP1/3BB2P/P7/1Q1R1RK1 b - - 0 19", this, "c3d4"); ' class="line1">19.cd</span> 
 <span onclick='loadMove("r2r2k1/p1q2ppp/1p2pnb1/4N3/3nPPP1/3BB2P/P7/1Q1R1RK1 w - - 0 20", this, "c6d4"); ' class="line1">К:d4</span> 
 <span onclick='loadMove("r2r2k1/p1q2ppp/1p2pnb1/4N3/3nPPP1/3BB2P/P7/1QR2RK1 b - - 0 20", this, "d1c1"); ' class="line1">20.Лc1</span> 
(
 <span onclick='loadMove("r2r2k1/p1q2ppp/1p2pnb1/4N3/3nPPP1/3BB2P/PQ6/3R1RK1 b - - 0 20", this, "b1b2"); ' class="line2">20.Фb2</span> 
 <span onclick='loadMove("r2r2k1/p1q2ppp/1pn1pnb1/4N3/4PPP1/3BB2P/PQ6/3R1RK1 w - - 0 21", this, "d4c6"); ' class="line2">Кc6</span> 
 <span onclick='loadMove("r2r2k1/p1q2ppp/1pn1pnb1/4N3/4PPP1/3BB2P/PQ6/2R2RK1 b - - 0 21", this, "d1c1"); ' class="line2">21.Лc1</span> 
 <span onclick='loadMove("r2r2k1/pq3ppp/1pn1pnb1/4N3/4PPP1/3BB2P/PQ6/2R2RK1 w - - 0 22", this, "c7b7"); ' class="line2">Фb7</span> 
)
 <span onclick='loadMove("r2r2k1/pq3ppp/1p2pnb1/4N3/3nPPP1/3BB2P/P7/1QR2RK1 w - - 0 21", this, "c7b7"); ' class="line1">20...Фb7</span> 
 <span onclick='loadMove("r2r2k1/pq3ppp/1p2pnb1/4N3/2RnPPP1/3BB2P/P7/1Q3RK1 b - - 0 21", this, "c1c4"); ' class="line1">21.Лc4</span> 
<b class="CAChess">&#177;</b> у черных начинались проблемы не только со слоном, но и с конем.</p>
<p>Меньшее из зол -
 <span onclick='loadMove("r2r2k1/p1qnnppp/1p2p1b1/2p1N3/3PP1P1/2PBB2P/P4P2/1Q1R1RK1 w - - 0 18", this, "f6d7"); ' class="line1">17...Кd7!?</span> 
 <span onclick='loadMove("r2r2k1/p1qnnppp/1p2p1b1/2p1N3/3PPPP1/2PBB2P/P7/1Q1R1RK1 b - f3 0 18", this, "f2f4"); ' class="line1">18.f4</span> 
 <span onclick='loadMove("r2r2k1/p1q1nppp/1p2p1b1/2p1n3/3PPPP1/2PBB2P/P7/1Q1R1RK1 w - - 0 19", this, "d7e5"); ' class="line1">К:e5</span> 
 <span onclick='loadMove("r2r2k1/p1q1nppp/1p2p1b1/2p1P3/4PPP1/2PBB2P/P7/1Q1R1RK1 b - - 0 19", this, "d4e5"); ' class="line1">19.de</span> 
 <span onclick='loadMove("r2r2k1/p1q1nppp/1p2p1b1/4P3/2p1PPP1/2PBB2P/P7/1Q1R1RK1 w - - 0 20", this, "c5c4"); ' class="line1">c4</span> 
 <span onclick='loadMove("r2r2k1/p1q1nppp/1p2p1b1/4P3/2p1PPP1/2P1B2P/P1B5/1Q1R1RK1 b - - 0 20", this, "d3c2"); ' class="line1">20.Сc2</span> 
 <span onclick='loadMove("r2r2k1/p1q1npp1/1p2p1b1/4P2p/2p1PPP1/2P1B2P/P1B5/1Q1R1RK1 w - h6 0 21", this, "h7h5"); ' class="line1">h5</span> 
<b class="CAChess">&#178;</b>.</p>
<p class="longNotation">
 <span onclick='loadMove("r2r2k1/pq2nppp/1p2pnb1/2p1N3/3PP1P1/2PBBP1P/P7/1Q1R1RK1 b - - 0 18", this, "f2f3"); ' class="line0">18.f2-f3</span> 
 <span onclick='loadMove("r2r2k1/pq2nppp/1p2pnb1/4N3/3pP1P1/2PBBP1P/P7/1Q1R1RK1 w - - 0 19", this, "c5d4"); ' class="line0">c5:d4?!</span> 
</p>
<p>И сейчас нехорошо
 <span onclick='loadMove("r2r2k1/pq3ppp/1pn1pnb1/2p1N3/3PP1P1/2PBBP1P/P7/1Q1R1RK1 w - - 0 19", this, "e7c6"); ' class="line1">18...Кc6?!</span> 
 <span onclick='loadMove("r2r2k1/pq3ppp/1pN1pnb1/2p5/3PP1P1/2PBBP1P/P7/1Q1R1RK1 b - - 0 19", this, "e5c6"); ' class="line1">19.К:c6</span> 
 <span onclick='loadMove("r2r2k1/p4ppp/1pq1pnb1/2p5/3PP1P1/2PBBP1P/P7/1Q1R1RK1 w - - 0 20", this, "b7c6"); ' class="line1">Ф:c6</span> 
 <span onclick='loadMove("r2r2k1/p4ppp/1pq1pnb1/1Qp5/3PP1P1/2PBBP1P/P7/3R1RK1 b - - 0 20", this, "b1b5"); ' class="line1">20.Фb5</span> 
 <span onclick='loadMove("r2r2k1/p1q2ppp/1p2pnb1/1Qp5/3PP1P1/2PBBP1P/P7/3R1RK1 w - - 0 21", this, "c6c7"); ' class="line1">Фc7</span> 
 <span onclick='loadMove("r2r2k1/p1q2ppp/1p2pnb1/1Qp5/3PP1P1/2PBBP1P/P5K1/3R1R2 b - - 0 21", this, "g1g2"); ' class="line1">21.Крg2</span> 
<b class="CAChess">&#177;</b>. Впрочем, возможно было
 <span onclick='loadMove("2rr2k1/pq2nppp/1p2pnb1/2p1N3/3PP1P1/2PBBP1P/P7/1Q1R1RK1 w - - 0 19", this, "a8c8"); ' class="line1">18...Лac8</span> 
 <span onclick='loadMove("2rr2k1/pq2nppp/1p2pnb1/2p1N3/3PP1P1/1QPBBP1P/P7/3R1RK1 b - - 0 19", this, "b1b3"); ' class="line1">19.Фb3</span> 
<b class="CAChess">&#178;</b>.</p>
<p class="longNotation">
 <span onclick='loadMove("r2r2k1/pq2nppp/1p2pnb1/4N3/3PP1P1/3BBP1P/P7/1Q1R1RK1 b - - 0 19", this, "c3d4"); ' class="line0">19.c3:d4</span> 
 <span onclick='loadMove("2rr2k1/pq2nppp/1p2pnb1/4N3/3PP1P1/3BBP1P/P7/1Q1R1RK1 w - - 0 20", this, "a8c8"); ' class="line0">Лa8-c8</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("2rr2k1/pq2nppp/1p2pnb1/4N3/3PP1P1/3BBP1P/P7/1QR2RK1 b - - 0 20", this, "d1c1"); ' class="line0">20.Лd1-c1</span> 
 <span onclick='loadMove("3r2k1/pq2nppp/1p2pnb1/4N3/3PP1P1/3BBP1P/P7/1Qr2RK1 w - - 0 21", this, "c8c1"); ' class="line0">Лc8:c1</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("3r2k1/pq2nppp/1p2pnb1/4N3/3PP1P1/3BBP1P/P7/1QR3K1 b - - 0 21", this, "f1c1"); ' class="line0">21.Лf1:c1</span> 
 <span onclick='loadMove("3r2k1/pq1nnppp/1p2p1b1/4N3/3PP1P1/3BBP1P/P7/1QR3K1 w - - 0 22", this, "f6d7"); ' class="line0">Кf6-d7</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("3r2k1/pq1Nnppp/1p2p1b1/8/3PP1P1/3BBP1P/P7/1QR3K1 b - - 0 22", this, "e5d7"); ' class="line0">22.Кe5:d7?!</span> 
 <span class="ellipsis0">...</span> 
</p>
<p>Небольшой перевес у белых после
 <span onclick='loadMove("3r2k1/pq1nnppp/1p2p1b1/1Q2N3/3PP1P1/3BBP1P/P7/2R3K1 b - - 0 22", this, "b1b5"); ' class="line1">22.Фb5</span> 
 <span onclick='loadMove("3r2k1/pq2nppp/1p2p1b1/1Q2n3/3PP1P1/3BBP1P/P7/2R3K1 w - - 0 23", this, "d7e5"); ' class="line1">К:e5</span> 
 <span onclick='loadMove("3r2k1/pq2nppp/1p2p1b1/1Q2P3/4P1P1/3BBP1P/P7/2R3K1 b - - 0 23", this, "d4e5"); ' class="line1">23.de</span> 
<b class="CAChess">&#178;</b> (
 <span onclick='loadMove("3r2k1/pq2nppp/1p2p1b1/4Q3/3PP1P1/3BBP1P/P7/2R3K1 b - - 0 23", this, "b5e5"); ' class="line2">23.Ф:e5</span> 
 <span onclick='loadMove("3r2k1/pq3ppp/1pn1p1b1/4Q3/3PP1P1/3BBP1P/P7/2R3K1 w - - 0 24", this, "e7c6"); ' class="line2">Кc6</span> 
 <span onclick='loadMove("3r2k1/pq3ppp/1pn1p1b1/1Q6/3PP1P1/3BBP1P/P7/2R3K1 b - - 0 24", this, "e5b5"); ' class="line2">24.Фb5</span> 
 <span onclick='loadMove("1q1r2k1/p4ppp/1pn1p1b1/1Q6/3PP1P1/3BBP1P/P7/2R3K1 w - - 0 25", this, "b7b8"); ' class="line2">Фb8!</span> 
<b class="CAChess">&#132;</b>). Но лучше было сыграть на ограничение подвижности фигур:
 <span onclick='loadMove("3r2k1/pq1nnppp/1p2p1N1/8/3PP1P1/3BBP1P/P7/1QR3K1 b - - 0 22", this, "e5g6"); ' class="line1">22.К:g6</span> 
 <span onclick='loadMove("3r2k1/pq1nnpp1/1p2p1p1/8/3PP1P1/3BBP1P/P7/1QR3K1 w - - 0 23", this, "h7g6"); ' class="line1">hg</span> 
(
 <span onclick='loadMove("3r2k1/pq1n1ppp/1p2p1n1/8/3PP1P1/3BBP1P/P7/1QR3K1 w - - 0 23", this, "e7g6"); ' class="line2">22...К:g6</span> 
 <span onclick='loadMove("3r2k1/pq1n1ppp/1p2p1n1/8/3PP1P1/3BBP1P/P1Q5/2R3K1 b - - 0 23", this, "b1c2"); ' class="line2">23.Фc2</span> 
)
 <span onclick='loadMove("3r2k1/pq1nnpp1/1p2p1p1/1Q6/3PP1P1/3BBP1P/P7/2R3K1 b - - 0 23", this, "b1b5"); ' class="line1">23.Фb5</span> 
<b class="CAChess">&#177;</b>.</p>
<p class="longNotation">
 <span class="ellipsis0">22. ...</span> 
 <span onclick='loadMove("3r2k1/p2qnppp/1p2p1b1/8/3PP1P1/3BBP1P/P7/1QR3K1 w - - 0 23", this, "b7d7"); ' class="line0">Фb7:d7</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("3r2k1/p2qnppp/1p2p1b1/1Q6/3PP1P1/3BBP1P/P7/2R3K1 b - - 0 23", this, "b1b5"); ' class="line0">23.Фb1-b5</span> 
 <span onclick='loadMove("3r2k1/p3nppp/1p1qp1b1/1Q6/3PP1P1/3BBP1P/P7/2R3K1 w - - 0 24", this, "d7d6"); ' class="line0">Фd7-d6</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("3r2k1/p3nppp/1p1qp1b1/1Q6/3PP1P1/3BBP1P/P5K1/2R5 b - - 0 24", this, "g1g2"); ' class="line0">24.Крg1-g2</span> 
 <span onclick='loadMove("3r2k1/p3npp1/1p1qp1bp/1Q6/3PP1P1/3BBP1P/P5K1/2R5 w - - 0 25", this, "h7h6"); ' class="line0">h7-h6</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("3r2k1/p3npp1/1p1qp1bp/1Q6/3PP1PP/3BBP2/P5K1/2R5 b - - 0 25", this, "h3h4"); ' class="line0">25.h3-h4?!</span> 
 <span class="ellipsis0">...</span> 
</p>
<p>Лучше
 <span onclick='loadMove("3r2k1/p3npp1/1p1qp1bp/1Q6/3PPPP1/3BB2P/P5K1/2R5 b - - 0 25", this, "f3f4"); ' class="line1">25.f4</span> 
 <span onclick='loadMove("3r2k1/p3n1p1/1p1qp1bp/1Q3p2/3PPPP1/3BB2P/P5K1/2R5 w - f6 0 26", this, "f7f5"); ' class="line1">f5</span> 
 <span onclick='loadMove("3r2k1/p3n1p1/1p1qp1bp/1Q3P2/3PPP2/3BB2P/P5K1/2R5 b - - 0 26", this, "g4f5"); ' class="line1">26.gf</span> 
 <span onclick='loadMove("3r2k1/p3n1p1/1p1q2bp/1Q3p2/3PPP2/3BB2P/P5K1/2R5 w - - 0 27", this, "e6f5"); ' class="line1">ef</span> 
 <span onclick='loadMove("3r2k1/p3n1p1/1p1q2bp/1Q2Pp2/3P1P2/3BB2P/P5K1/2R5 b - - 0 27", this, "e4e5"); ' class="line1">27.e5</span> 
 <span onclick='loadMove("3r2k1/p3n1p1/1p2q1bp/1Q2Pp2/3P1P2/3BB2P/P5K1/2R5 w - - 0 28", this, "d6e6"); ' class="line1">Фe6</span> 
 <span onclick='loadMove("3r2k1/p3n1p1/Qp2q1bp/4Pp2/3P1P2/3BB2P/P5K1/2R5 b - - 0 28", this, "b5a6"); ' class="line1">28.Фa6</span> 
 <span onclick='loadMove("3r2k1/p3n1p1/Qp2q2p/4Pp1b/3P1P2/3BB2P/P5K1/2R5 w - - 0 29", this, "g6h5"); ' class="line1">Сh5</span> 
 <span onclick='loadMove("3r2k1/p3n1p1/Qp2q2p/4Pp1b/3P1P2/3BB2P/P6K/2R5 b - - 0 29", this, "g2h2"); ' class="line1">29.Крh2</span> 
 <span onclick='loadMove("3r2k1/p5p1/Qp2q2p/3nPp1b/3P1P2/3BB2P/P6K/2R5 w - - 0 30", this, "e7d5"); ' class="line1">Кd5</span> 
 <span onclick='loadMove("3r2k1/p5p1/Qp2q2p/3nPp1b/3P1P2/3B3P/P2B3K/2R5 b - - 0 30", this, "e3d2"); ' class="line1">30.Сd2</span> 
<b class="CAChess">&#178;</b>.</p>
<div class="chessBoard analysis nobuttons" data-start-fen="3r2k1/p3npp1/1p1qp1bp/1Q6/3PP1PP/3BBP2/P5K1/2R5 b - - 0 25"></div>
<p class="longNotation">
 <span class="ellipsis0">25. ...</span> 
 <span onclick='loadMove("3r2k1/p3n1p1/1p1qp1bp/1Q3p2/3PP1PP/3BBP2/P5K1/2R5 w - f6 0 26", this, "f7f5"); ' class="line0">f7-f5!</span> 
</p>
<p>Смена декораций: у белых по-прежнему перевес, но соперник получает встречные шансы.</p>
<p class="longNotation">
 <span onclick='loadMove("3r2k1/p3n1p1/1p1qp1bp/1Q3P2/3PP2P/3BBP2/P5K1/2R5 b - - 0 26", this, "g4f5"); ' class="line0">26.g4:f5</span> 
 <span onclick='loadMove("3r2k1/p3n1p1/1p1q2bp/1Q3p2/3PP2P/3BBP2/P5K1/2R5 w - - 0 27", this, "e6f5"); ' class="line0">e6:f5</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("3r2k1/p3n1p1/1p1q2bp/5p2/2QPP2P/3BBP2/P5K1/2R5 b - - 0 27", this, "b5c4"); ' class="line0">27.Фb5-c4+</span> 
 <span onclick='loadMove("3r4/p3n1pk/1p1q2bp/5p2/2QPP2P/3BBP2/P5K1/2R5 w - - 0 28", this, "g8h7"); ' class="line0">Крg8-h7</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("3r4/p3n1pk/1p1q2bp/3P1p2/2Q1P2P/3BBP2/P5K1/2R5 b - - 0 28", this, "d4d5"); ' class="line0">28.d4-d5</span> 
 <span class="ellipsis0">...</span> 
</p>
<p>Лучше
 <span onclick='loadMove("3r4/p3n1pk/1p1q2bp/4Pp2/2QP3P/3BBP2/P5K1/2R5 b - - 0 28", this, "e4e5"); ' class="line1">28.e5</span> 
 <span onclick='loadMove("3r4/p5pk/1p1q2bp/3nPp2/2QP3P/3BBP2/P5K1/2R5 w - - 0 29", this, "e7d5"); ' class="line1">Кd5</span> 
 <span onclick='loadMove("3r4/p5pk/1p1q2bp/3nPp2/2QP3P/3B1P2/P2B2K1/2R5 b - - 0 29", this, "e3d2"); ' class="line1">29.Сd2</span> 
<b class="CAChess">&#178;</b>.</p>
<p class="longNotation">
 <span class="ellipsis0">28. ...</span> 
 <span onclick='loadMove("4r3/p3n1pk/1p1q2bp/3P1p2/2Q1P2P/3BBP2/P5K1/2R5 w - - 0 29", this, "d8e8"); ' class="line0">Лd8-e8</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("4r3/p3n1pk/1p1q2bp/3P1p2/2Q1P2P/3BBP2/P5K1/4R3 b - - 0 29", this, "c1e1"); ' class="line0">29.Лc1-e1</span> 
 <span onclick='loadMove("4r3/p3n1pk/1p1q2bp/3P4/2Q1p2P/3BBP2/P5K1/4R3 w - - 0 30", this, "f5e4"); ' class="line0">f5:e4</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("4r3/p3n1pk/1p1q2bp/3P4/2Q1P2P/3BB3/P5K1/4R3 b - - 0 30", this, "f3e4"); ' class="line0">30.f3:e4</span> 
 <span onclick='loadMove("4r3/p2qn1pk/1p4bp/3P4/2Q1P2P/3BB3/P5K1/4R3 w - - 0 31", this, "d6d7"); ' class="line0">Фd6-d7</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("4r3/p2qn1pk/1p4bp/3P4/2Q1P2P/3BB1K1/P7/4R3 b - - 0 31", this, "g2g3"); ' class="line0">31.Крg2-g3</span> 
 <span onclick='loadMove("4r3/p2qn1pk/1p4b1/3P3p/2Q1P2P/3BB1K1/P7/4R3 w - - 0 32", this, "h6h5"); ' class="line0">h6-h5</span> 
</p>
<p>Надо обладать хладнокровием компьютера, чтобы найти
 <span onclick='loadMove("4r3/p2qn1pk/1p5p/3P3b/2Q1P2P/3BB1K1/P7/4R3 w - - 0 32", this, "g6h5"); ' class="line1">31...Сh5!</span> 
 <span onclick='loadMove("4r3/p2qn1pk/1p5p/3P3b/2Q1P2P/3BB3/P6K/4R3 b - - 0 32", this, "g3h2"); ' class="line1">32.Крh2</span> 
(
 <span onclick='loadMove("4r3/p2qn1pk/1p5p/3PP2b/2Q4P/3BB1K1/P7/4R3 b - - 0 32", this, "e4e5"); ' class="line2">32.e5+</span> 
 <span onclick='loadMove("4r3/p2q2pk/1p5p/3PPn1b/2Q4P/3BB1K1/P7/4R3 w - - 0 33", this, "e7f5"); ' class="line2">Кf5+</span> 
)
 <span onclick='loadMove("4r3/p2q2pk/1p4np/3P3b/2Q1P2P/3BB3/P6K/4R3 w - - 0 33", this, "e7g6"); ' class="line1">32...Кg6</span> 
<b class="CAChess">&#132;</b>.</p>
<p class="longNotation">
 <span onclick='loadMove("4r3/p2qn1pk/1p4b1/3P3p/2Q1P2P/3BB3/P4K2/4R3 b - - 0 32", this, "g3f2"); ' class="line0">32.Крg3-f2?</span> 
 <span class="ellipsis0">...</span> 
</p>
<p>Паника. Правильно
 <span onclick='loadMove("4r3/p2qn1pk/1p4b1/3P3p/2Q1P2P/3BB3/P6K/4R3 b - - 0 32", this, "g3h2"); ' class="line1">32.Крh2</span> 
 <span onclick='loadMove("4r3/p3n1pk/1p4b1/3P3p/2Q1P1qP/3BB3/P6K/4R3 w - - 0 33", this, "d7g4"); ' class="line1">Фg4</span> 
 <span onclick='loadMove("4r3/p3n1pk/1p4b1/3PP2p/2Q3qP/3BB3/P6K/4R3 b - - 0 33", this, "e4e5"); ' class="line1">33.e5</span> 
 <span onclick='loadMove("4r3/p3n1pk/1p6/3PP2p/2Q3qP/3bB3/P6K/4R3 w - - 0 34", this, "g6d3"); ' class="line1">С:d3</span> 
 <span onclick='loadMove("4r3/p3n1pk/1p6/3PP2p/6qP/3QB3/P6K/4R3 b - - 0 34", this, "c4d3"); ' class="line1">34.Ф:d3+</span> 
 <span onclick='loadMove("4r1k1/p3n1p1/1p6/3PP2p/6qP/3QB3/P6K/4R3 w - - 0 35", this, "h7g8"); ' class="line1">Крg8</span> 
 <span onclick='loadMove("4r1k1/p3n1p1/1p6/3PP1Bp/6qP/3Q4/P6K/4R3 b - - 0 35", this, "e3g5"); ' class="line1">35.Сg5</span> 
 <span onclick='loadMove("5rk1/p3n1p1/1p6/3PP1Bp/6qP/3Q4/P6K/4R3 w - - 0 36", this, "e8f8"); ' class="line1">Лf8</span> 
 <span onclick='loadMove("5rk1/p3n1p1/1p6/3PP1Bp/6qP/3Q4/P6K/6R1 b - - 0 36", this, "e1g1"); ' class="line1">36.Лg1</span> 
 <span onclick='loadMove("6k1/p3n1p1/1p6/3PP1Bp/6qP/3Q4/P4r1K/6R1 w - - 0 37", this, "f8f2"); ' class="line1">Лf2+</span> 
 <span onclick='loadMove("6k1/p3n1p1/1p6/3PP1Bp/6qP/3Q4/P4r2/6RK b - - 0 37", this, "h2h1"); ' class="line1">37.Крh1</span> 
 <span onclick='loadMove("6k1/p2qn1p1/1p6/3PP1Bp/7P/3Q4/P4r2/6RK w - - 0 38", this, "g4d7"); ' class="line1">Фd7</span> 
с обоюдоострой позицией.</p>
<p class="longNotation">
 <span class="ellipsis0">32. ...</span> 
 <span onclick='loadMove("4r3/p3n1pk/1p4b1/3P3p/2Q1P2P/3BB2q/P4K2/4R3 w - - 0 33", this, "d7h3"); ' class="line0">Фd7-h3</span> 
</p>
<p>Нехорошо
 <span onclick='loadMove("4r3/p3n1pk/1p4b1/3P3p/2Q1P1qP/3BB3/P4K2/4R3 w - - 0 33", this, "d7g4"); ' class="line1">32...Фg4?</span> 
из-за
 <span onclick='loadMove("4r3/p3n1pk/1p4b1/3P3p/2Q1P1qP/3BB3/P4K2/6R1 b - - 0 33", this, "e1g1"); ' class="line1">33.Лg1</span> 
или
 <span onclick='loadMove("4r3/p3n1pk/1p4b1/3P2Bp/2Q1P1qP/3B4/P4K2/4R3 b - - 0 33", this, "e3g5"); ' class="line1">33.Сg5</span> 
.</p>
<p class="longNotation">
 <span onclick='loadMove("4r3/p3n1pk/1p4b1/3P3p/2Q1P2P/3BB2q/P3K3/4R3 b - - 0 33", this, "f2e2"); ' class="line0">33.Крf2-e2?</span> 
 <span class="ellipsis0">...</span> 
</p>
<!--p>Пехота против конницы</p><p>211</p-->
<p>Упорнее
 <span onclick='loadMove("4r3/p3n1pk/1p4b1/3P3p/2Q1P2P/3BB2q/P4K2/6R1 b - - 0 33", this, "e1g1"); ' class="line1">33.Лg1</span> 
 <span onclick='loadMove("4r3/p3n1pk/1p4b1/3P3p/2Q1P2q/3BB3/P4K2/6R1 w - - 0 34", this, "h3h4"); ' class="line1">Ф:h4+</span> 
 <span onclick='loadMove("4r3/p3n1pk/1p4b1/3P3p/2Q1P2q/3BB3/P3K3/6R1 b - - 0 34", this, "f2e2"); ' class="line1">34.Крe2</span> 
 <span onclick='loadMove("4r3/p3n1pk/1p4b1/3P3p/2Q1P3/3BB3/P3K2q/6R1 w - - 0 35", this, "h4h2"); ' class="line1">Фh2+</span> 
 <span onclick='loadMove("4r3/p3n1pk/1p4b1/3P3p/2Q1P3/3BB3/P6q/3K2R1 b - - 0 35", this, "e2d1"); ' class="line1">35.Крd1</span> 
 <span onclick='loadMove("4r3/p3n1pk/1p4b1/3P4/2Q1P2p/3BB3/P6q/3K2R1 w - - 0 36", this, "h5h4"); ' class="line1">h4</span> 
 <span onclick='loadMove("4r3/p3n1pk/1p4b1/3P4/3QP2p/3BB3/P6q/3K2R1 b - - 0 36", this, "c4d4"); ' class="line1">36.Фd4</span> 
 <span onclick='loadMove("3r4/p3n1pk/1p4b1/3P4/3QP2p/3BB3/P6q/3K2R1 w - - 0 37", this, "e8d8"); ' class="line1">Лd8</span> 
<b class="CAChess">&#179;</b>.</p>
<p class="longNotation">
 <span class="ellipsis0">33. ...</span> 
 <span onclick='loadMove("4r3/p5pk/1p4b1/3P1n1p/2Q1P2P/3BB2q/P3K3/4R3 w - - 0 34", this, "e7f5"); ' class="line0">Кe7-f5!</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("4r3/p5pk/1p4b1/3P1n1p/2Q1P2P/3BB2q/P2K4/4R3 b - - 0 34", this, "e2d2"); ' class="line0">34.Крe2-d2</span> 
 <span class="ellipsis0">...</span> 
</p>
<p>Или
 <span onclick='loadMove("4r3/p5pk/1p4b1/3P1n1p/2QBP2P/3B3q/P3K3/4R3 b - - 0 34", this, "e3d4"); ' class="line1">34.Сd4</span> 
 <span onclick='loadMove("4r3/p5pk/1p4b1/3P3p/2QBP2n/3B3q/P3K3/4R3 w - - 0 35", this, "f5h4"); ' class="line1">К:h4</span> 
 <span onclick='loadMove("4r3/p5pk/1p4b1/3P3p/2QBP2n/3B3q/P7/3KR3 b - - 0 35", this, "e2d1"); ' class="line1">35.Крd1</span> 
<b class="CAChess">&#181;</b>.</p>
<p class="longNotation">
 <span class="ellipsis0">34. ...</span> 
 <span onclick='loadMove("4r3/p5pk/1p1n2b1/3P3p/2Q1P2P/3BB2q/P2K4/4R3 w - - 0 35", this, "f5d6"); ' class="line0">Кf5-d6?!</span> 
</p>
<p>Выигрывало
 <span onclick='loadMove("4r3/p5pk/1p4b1/3P3p/2Q1P2n/3BB2q/P2K4/4R3 w - - 0 35", this, "f5h4"); ' class="line1">34...К:h4<b class="CAChess">&#176;</b></span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("4r3/p5pk/1pQn2b1/3P3p/4P2P/3BB2q/P2K4/4R3 b - - 0 35", this, "c4c6"); ' class="line0">35.Фc4-c6?</span> 
 <span class="ellipsis0">...</span> 
</p>
<p>Затягивало сопротивление
 <span onclick='loadMove("4r3/p5pk/1p1n2b1/3P3p/3QP2P/3BB2q/P2K4/4R3 b - - 0 35", this, "c4d4"); ' class="line1">35.Фd4</span> 
 <span onclick='loadMove("4r3/p5pk/1p4b1/3P3p/3Qn2P/3BB2q/P2K4/4R3 w - - 0 36", this, "d6e4"); ' class="line1">К:e4+</span> 
 <span onclick='loadMove("4r3/p5pk/1p4b1/3P3p/3Qn2P/3BB2q/P7/2K1R3 b - - 0 36", this, "d2c1"); ' class="line1">36.Крc1</span> 
 <span onclick='loadMove("4r3/p5pk/1p3nb1/3P3p/3Q3P/3BB2q/P7/2K1R3 w - - 0 37", this, "e4f6"); ' class="line1">Кf6</span> 
 <span onclick='loadMove("4r3/p5pk/1p1P1nb1/7p/3Q3P/3BB2q/P7/2K1R3 b - - 0 37", this, "d5d6"); ' class="line1">37.d6</span> 
 <span onclick='loadMove("4r3/p5pk/1p1P1n2/7p/3Q3P/3bB2q/P7/2K1R3 w - - 0 38", this, "g6d3"); ' class="line1">С:d3</span> 
 <span onclick='loadMove("4r3/p5pk/1p1P1n2/7p/7P/3QB2q/P7/2K1R3 b - - 0 38", this, "d4d3"); ' class="line1">38.Ф:d3+</span> 
 <span onclick='loadMove("4r2k/p5p1/1p1P1n2/7p/7P/3QB2q/P7/2K1R3 w - - 0 39", this, "h7h8"); ' class="line1">Крh8</span> 
<b class="CAChess">&#181;</b>.</p>
<p class="longNotation">
 <span class="ellipsis0">35. ...</span> 
 <span onclick='loadMove("4r3/p5pk/1pQ3b1/3P3p/4n2P/3BB2q/P2K4/4R3 w - - 0 36", this, "d6e4"); ' class="line0">Кd6:e4+</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("4r3/p5pk/1pQ3b1/3P3p/4B2P/4B2q/P2K4/4R3 b - - 0 36", this, "d3e4"); ' class="line0">36.Сd3:e4</span> 
 <span onclick='loadMove("8/p5pk/1pQ3b1/3P3p/4r2P/4B2q/P2K4/4R3 w - - 0 37", this, "e8e4"); ' class="line0">Лe8:e4</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("8/p5pk/1pQP2b1/7p/4r2P/4B2q/P2K4/4R3 b - - 0 37", this, "d5d6"); ' class="line0">37.d5-d6</span> 
 <span onclick='loadMove("8/p5pk/1pQP2b1/7p/4r2P/4B3/P2K2q1/4R3 w - - 0 38", this, "h3g2"); ' class="line0">Фh3-g2+</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("8/p5pk/1pQP2b1/7p/4r2P/4B3/P5q1/2K1R3 b - - 0 38", this, "d2c1"); ' class="line0">38.Крd2-c1</span> 
 <span onclick='loadMove("8/p5pk/1pQP2b1/7p/4r2P/4B3/q7/2K1R3 w - - 0 39", this, "g2a2"); ' class="line0">Фg2:a2</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("8/p5pk/1pQP2b1/7p/4r2P/4B3/q7/3KR3 b - - 0 39", this, "c1d1"); ' class="line0">39.Крc1-d1</span> 
 <span onclick='loadMove("8/p5pk/1pQP2b1/7p/2r4P/4B3/q7/3KR3 w - - 0 40", this, "e4c4"); ' class="line0">Лe4-c4</span> 
</p>
<p>Белые сдались.</p>
</div> <!-- score -->
</div> <!-- section -->

</div> <!-- iBook -->
{% endblock content %}

