{% extends '../../base.htm' %}
{% load static %}
{% block title %}
<title>Index of Players | {{book.title}} | {%for author in book.authors.all%} {%if author.first_name%} {{author.first_name}} {%endif%} {%if author.second_name%} {{author.second_name}} {%endif%} {%if forloop.counter == book.authors.all.count%} {{author.last_name}} {%else%} {{author.last_name}}, {%endif%} {%endfor%} | {{book.year}}</title>
{% endblock title %}
{% block content %}

<div class="iBook">

<div class="section">
<div class="chessBoard small floater" data-start-fen="rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w KQkq - 0 1"></div>
<div class="score">
 <span class="line0" onclick='loadMove("rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w KQkq - 0 1", this, ""); '>[...]</span> 
<h2>Index of Players</h2>
<p>Numbers refer to pages.</p>
<p>A</p>
<p>Adams 115,145</p>
<p>Akobian 40</p>
<p>Al Sayed 233</p>
<p>Andriasian 122</p>
<p>B</p>
<p>Bareev 47</p>
<p>Botvinnik 97</p>
<p>Braga 253</p>
<p>Browne 238</p>
<p>C</p>
<p>Cheparinov 132</p>
<p>Chistiakov 214</p>
<p>Clarke 42</p>
<p>Cuenca Jimenez 204</p>
<p>D</p>
<p>De La Paz 135</p>
<p>Deman 246</p>
<p>Dvoiris 36</p>
<p>E</p>
<p>Eingorn 54</p>
<p>Esplana 207</p>
<p>F</p>
<p>Fedorchuk 70</p>
<p>Felgaer 183</p>
<p>Fluvia 266</p>
<p>G</p>
<p>Giddins 202</p>
<p>Gonzalez Rodriguez 218</p>
<p>Grischuk 51</p>
<p>Gurevich 17</p>
<p>H</p>
<p>Haberkorn 246</p>
<p>I</p>
<p>Ibragimov 229, 238</p>
<p>Iglesias 176</p>
<p>Ivanchuk 47,66,87,216</p>
<p>Izoria 142</p>
<p>J</p>
<p>Jerez 263</p>
<p>K</p>
<p>Kasparov 216</p>
<p>Khamrakulov 90</p>
<p>Klinger 45</p>
<p>Kochetkov 249</p>
<p>Konguvel 226</p>
<p>Korneev 229</p>
<p>Kortchnoi 170,178</p>
<p>Kosteniuk 202</p>
<p>Kotronias 126</p>
<p>L</p>
<p>Landa 185</p>
<p>Lapshun 38</p>
<p>Leko 180</p>
<p>Luther 75</p>
<p>M</p>
<p>Malaniuk 50</p>
<p>Matamoros 75</p>
<p>Mestel 140</p>
<p>Michielsen 235</p>
<p>Minasian 172</p>
<p>Monroy 82</p>
<p>Morozevich 115,120,152,160,168,180,185</p>
<!--p>277</p-->
<p>Moskalenko 13, 23, 38, 66, 70, 77, 82, 87, 90, 101, 103, 135, 139, 152, 157, 176, 183, 218, 226, 235, 249, 253, 256, 260, 263, 266</p>
<p>Movsesian 43</p>
<p>N</p>
<p>Nakamura 33</p>
<p>Narciso 260</p>
<p>Nepomniachtchi 122, 126, 198</p>
<p>Ni Hua 72</p>
<p>Nisipeanu 145</p>
<p>O</p>
<p>Onischuk 120</p>
<p>Ostojic 97</p>
<p>P</p>
<p>Panchanathan 142</p>
<p>Panov 178</p>
<p>Pavlovic 240</p>
<p>Pelletier 51</p>
<p>Pesotsky 101</p>
<p>Petrosian 31,42,214</p>
<p>Pogorelov 231</p>
<p>Portisch 45,225</p>
<p>Potkin 196</p>
<p>Psakhis 240</p>
<p>R</p>
<p>Radjabov 43</p>
<p>Rasmussen 157</p>
<p>Riazantsev 132</p>
<p>Rodriguez Guerrero 204</p>
<p>Rohl Montes 241</p>
<p>S</p>
<p>Sadvakasov 231, 241</p>
<p>Satyapragyan 7 7</p>
<p>Schneider 207</p>
<p>Shabalov 40</p>
<p>Shirov 17</p>
<p>Short 168, 174</p>
<p>Slovineanu 209</p>
<p>Smirin 256</p>
<p>Socko 233</p>
<p>Stean 140</p>
<p>Sveshnikov 13, 23, 54</p>
<p>Svidler 174</p>
<p>T</p>
<p>Tal 31</p>
<p>Timman 33</p>
<p>U</p>
<p>Uhlmann 50</p>
<p>V</p>
<p>Vaganian 36</p>
<p>Velicka 139</p>
<p>Vitiugov 188</p>
<p>Volkov 172,198</p>
<p>Volokitin 170,242</p>
<p>W</p>
<p>Wang Hao 72</p>
<p>Warner 209</p>
<p>Y</p>
<p>Yakovenko 160,188</p>
<p>Yudasin 103</p>
<p>Z</p>
<p>Zakharov 196</p>
<p>Zhang Pengxiang 242</p>
<p>Zsedenyi 225</p>
<!--p>278</p-->
</div> <!-- score -->
</div> <!-- section -->

</div> <!-- iBook -->
{% endblock content %}
