{% extends '../../base.htm' %}
{% load static %}
{% block title %}
<title>Указатель партий | {{book.title}} | {%for author in book.authors.all%} {%if author.first_name%} {{author.first_name}} {%endif%} {%if author.second_name%} {{author.second_name}} {%endif%} {%if forloop.counter == book.authors.all.count%} {{author.last_name}} {%else%} {{author.last_name}}, {%endif%} {%endfor%} | {{book.year}}</title>
{% endblock title %}
{% block content %}

<div class="iBook">

<div class="section">
<div class="chessBoard small floater" data-start-fen="rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w KQkq - 0 1"></div>
<div class="score">
 <span class="line0" onclick='loadMove("rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w KQkq - 0 1", this, ""); '>[...]</span> 
<h1>Указатель партий</h1>
<!--p>(цифры обозначают номера страниц)</p-->
<ul>
<li><a class="line0" href="{% url 'page-view' book.root_dir|add:'/3-02-dip-bliu-kasparov.htm' %}">«Дип Блю» — Каспаров</a></li>
<li><a class="line0" href="{% url 'page-view' book.root_dir|add:'/3-01-adams-bendzhamin.htm' %}">Адамс — Бенджамин</a></li>
<li><a class="line0" href="{% url 'page-view' book.root_dir|add:'/3-07-adams-korchnoj.htm' %}">Адамс — Корчной</a></li>
<li><a class="line0" href="{% url 'page-view' book.root_dir|add:'/3-05-berg-i-sokolov.htm' %}">Берг — И. Соколов</a></li>
<li><a class="line0" href="{% url 'page-view' book.root_dir|add:'/3-17-van-der-vejde-epishin.htm' %}">Ван дер Вейде — Епишин</a></li>
<li><a class="line0" href="{% url 'page-view' book.root_dir|add:'/3-22-van-der-sterren-glek.htm' %}">Ван дер Стеррен — Глек</a></li>
<li><a class="line0" href="{% url 'page-view' book.root_dir|add:'/3-11-gelfand-adams.htm' %}">Гельфанд — Адамс</a></li>
<li><a class="line0" href="{% url 'page-view' book.root_dir|add:'/3-21-gelfand-topalov.htm' %}">Гельфанд — Топалов</a></li>
<li><a class="line0" href="{% url 'page-view' book.root_dir|add:'/3-06-gufeld-lutikov.htm' %}">Гуфельд — Лутиков</a></li>
<li><a class="line0" href="{% url 'page-view' book.root_dir|add:'/3-23-damlianovich-radzhabov.htm' %}">Дамлянович — Раджабов</a></li>
<li><a class="line0" href="{% url 'page-view' book.root_dir|add:'/3-15-damianovich-shtejn.htm' %}">Дамянович — Штейн</a></li>
<li><a class="line0" href="{% url 'page-view' book.root_dir|add:'/3-24-dimeshi-shirov.htm' %}">Дьимеши — Широв</a></li>
<li><a class="line0" href="{% url 'page-view' book.root_dir|add:'/3-09-kalinichenko-vefling.htm' %}">Калиниченко — Вефлинг</a></li>
<li><a class="line0" href="{% url 'page-view' book.root_dir|add:'/3-14-kasparov-ivanchuk.htm' %}">Каспаров — Иванчук</a></li>
<li><a class="line0" href="{% url 'page-view' book.root_dir|add:'/3-12-kasparov-topalov.htm' %}">Каспаров — Топалов</a></li>
<li><a class="line0" href="{% url 'page-view' book.root_dir|add:'/3-13-korchnoj-efimov.htm' %}">Корчной — Ефимов</a></li>
<li><a class="line0" href="{% url 'page-view' book.root_dir|add:'/3-19-mestel-gufeld.htm' %}">Местел — Гуфельд</a></li>
<li><a class="line0" href="{% url 'page-view' book.root_dir|add:'/3-03-rozentalis-kempinskij.htm' %}">Розенталис — Кемпинский</a></li>
<li><a class="line0" href="{% url 'page-view' book.root_dir|add:'/3-08-rublevskij-lputian.htm' %}">Рублевский — Лпутян</a></li>
<li><a class="line0" href="{% url 'page-view' book.root_dir|add:'/3-04-rublevskij-onishchuk.htm' %}">Рублевский — Онищук</a></li>
<li><a class="line0" href="{% url 'page-view' book.root_dir|add:'/3-10-svidler-anand.htm' %}">Свидлер — Ананд</a></li>
<li><a class="line0" href="{% url 'page-view' book.root_dir|add:'/3-25-smyslov-gufeld.htm' %}">Смыслов — Гуфельд</a></li>
<li><a class="line0" href="{% url 'page-view' book.root_dir|add:'/3-20-timman-kasparov.htm' %}">Тимман — Каспаров</a></li>
<li><a class="line0" href="{% url 'page-view' book.root_dir|add:'/3-16-topalov-kramnik.htm' %}">Топалов — Крамник</a></li>
<li><a class="line0" href="{% url 'page-view' book.root_dir|add:'/3-18-shtalberg-shtejn.htm' %}">Штальберг — Штейн</a></li>
</ul>
</div> <!-- score -->
</div> <!-- section -->

</div> <!-- iBook -->
{% endblock content %}


