{% extends '../../base.htm' %}
{% load static %}
{% block title %}
<title>ЗАЩИТА БЕНОНИ | {{book.title}} | {%for author in book.authors.all%} {%if author.first_name%} {{author.first_name}} {%endif%} {%if author.second_name%} {{author.second_name}} {%endif%} {%if forloop.counter == book.authors.all.count%} {{author.last_name}} {%else%} {{author.last_name}}, {%endif%} {%endfor%} | {{book.year}}</title>
{% endblock title %}
{% block content %}

<div class="iBook">

<div class="section">
<div class="chessBoard small floater" data-start-fen="rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w KQkq - 0 1"></div>
<div class="score">
 <span class="line0" onclick='loadMove("rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w KQkq - 0 1", this, ""); '>[...]</span> 
<h2>ЗАЩИТА БЕНОНИ</h2>
<p>
 <span onclick='loadMove("rnbqkbnr/pppppppp/8/8/3P4/8/PPP1PPPP/RNBQKBNR b KQkq d3 0 1", this, "d2d4"); ' class="line0">1.d4</span> 
с ранним <b>c7-c5</b>.</p>
<p>Для дебюта характерна сложная маневренная борьба при закрытом центре с белой пешкой на d5.</p>
<p>Различают классический вариант
 <span onclick='loadMove("rnbqkbnr/pppppppp/8/8/3P4/8/PPP1PPPP/RNBQKBNR b KQkq d3 0 1", this, "d2d4"); ' class="line1">1.d4</span> 
 <span onclick='loadMove("rnbqkbnr/pp1ppppp/8/2p5/3P4/8/PPP1PPPP/RNBQKBNR w KQkq c6 0 2", this, "c7c5"); ' class="line1">c5</span> 
 <span onclick='loadMove("rnbqkbnr/pp1ppppp/8/2pP4/8/8/PPP1PPPP/RNBQKBNR b KQkq - 0 2", this, "d4d5"); ' class="line1">2.d5</span> 
 <span onclick='loadMove("rnbqkbnr/pp1p1ppp/8/2pPp3/8/8/PPP1PPPP/RNBQKBNR w KQkq e6 0 3", this, "e7e5"); ' class="line1">e5</span> 
 <span onclick='loadMove("rnbqkbnr/pp1p1ppp/8/2pPp3/4P3/8/PPP2PPP/RNBQKBNR b KQkq e3 0 3", this, "e2e4"); ' class="line1">3.e4</span> 
 <span onclick='loadMove("rnbqkbnr/pp3ppp/3p4/2pPp3/4P3/8/PPP2PPP/RNBQKBNR w KQkq - 0 4", this, "d7d6"); ' class="line1">d6</span> 
и модерн-бенони
 <span onclick='loadMove("rnbqkbnr/pppppppp/8/8/3P4/8/PPP1PPPP/RNBQKBNR b KQkq d3 0 1", this, "d2d4"); ' class="line1">1.d4</span> 
 <span onclick='loadMove("rnbqkb1r/pppppppp/5n2/8/3P4/8/PPP1PPPP/RNBQKBNR w KQkq - 0 2", this, "g8f6"); ' class="line1">Кf6</span> 
 <span onclick='loadMove("rnbqkb1r/pppppppp/5n2/8/2PP4/8/PP2PPPP/RNBQKBNR b KQkq c3 0 2", this, "c2c4"); ' class="line1">2.c4</span> 
 <span onclick='loadMove("rnbqkb1r/pp1ppppp/5n2/2p5/2PP4/8/PP2PPPP/RNBQKBNR w KQkq c6 0 3", this, "c7c5"); ' class="line1">c5</span> 
 <span onclick='loadMove("rnbqkb1r/pp1ppppp/5n2/2pP4/2P5/8/PP2PPPP/RNBQKBNR b KQkq - 0 3", this, "d4d5"); ' class="line1">3.d5</span> 
 <span onclick='loadMove("rnbqkb1r/pp1p1ppp/4pn2/2pP4/2P5/8/PP2PPPP/RNBQKBNR w KQkq - 0 4", this, "e7e6"); ' class="line1">e6</span> 
 <span onclick='loadMove("rnbqkb1r/pp1p1ppp/4pn2/2pP4/2P5/2N5/PP2PPPP/R1BQKBNR b KQkq - 0 4", this, "b1c3"); ' class="line1">4.Кc3</span> 
 <span onclick='loadMove("rnbqkb1r/pp1p1ppp/5n2/2pp4/2P5/2N5/PP2PPPP/R1BQKBNR w KQkq - 0 5", this, "e6d5"); ' class="line1">ed</span> 
 <span onclick='loadMove("rnbqkb1r/pp1p1ppp/5n2/2pP4/8/2N5/PP2PPPP/R1BQKBNR b KQkq - 0 5", this, "c4d5"); ' class="line1">5.cd</span> 
.</p>
</div> <!-- score -->
</div> <!-- section -->

<a name="game497"></a>
<div class="section">
<div class="chessBoard small floater" data-start-fen="rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w KQkq - 0 1"></div>
<div class="score">
 <span class="line0" onclick='loadMove("rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w KQkq - 0 1", this, ""); '>[...]</span> 
<p class="capTop diagram">497. <strong>Шерешевский — Гусев</strong><br />Львов, 1977</p>
<p>
 <span onclick='loadMove("rnbqkbnr/pppppppp/8/8/3P4/8/PPP1PPPP/RNBQKBNR b KQkq d3 0 1", this, "d2d4"); ' class="line0">1.d4</span> 
 <span onclick='loadMove("rnbqkb1r/pppppppp/5n2/8/3P4/8/PPP1PPPP/RNBQKBNR w KQkq - 0 2", this, "g8f6"); ' class="line0">Кf6</span> 
 <span onclick='loadMove("rnbqkb1r/pppppppp/5n2/8/3P4/5N2/PPP1PPPP/RNBQKB1R b KQkq - 0 2", this, "g1f3"); ' class="line0">2.Кf3</span> 
 <span onclick='loadMove("rnbqkb1r/pp1ppppp/5n2/2p5/3P4/5N2/PPP1PPPP/RNBQKB1R w KQkq c6 0 3", this, "c7c5"); ' class="line0">c5</span> 
 <span onclick='loadMove("rnbqkb1r/pp1ppppp/5n2/2pP4/8/5N2/PPP1PPPP/RNBQKB1R b KQkq - 0 3", this, "d4d5"); ' class="line0">3.d5</span> 
 <span onclick='loadMove("rnbqkb1r/pp1p1ppp/4pn2/2pP4/8/5N2/PPP1PPPP/RNBQKB1R w KQkq - 0 4", this, "e7e6"); ' class="line0">e6</span> 
 <span onclick='loadMove("rnbqkb1r/pp1p1ppp/4pn2/2pP4/8/2N2N2/PPP1PPPP/R1BQKB1R b KQkq - 0 4", this, "b1c3"); ' class="line0">4.Кc3</span> 
</p>
<p>Чаще применяется
 <span onclick='loadMove("rnbqkb1r/pp1p1ppp/4pn2/2pP4/2P5/5N2/PP2PPPP/RNBQKB1R b KQkq c3 0 4", this, "c2c4"); ' class="line1">4.c4</span> 
, укрепляя пешечный клин в центре.</p>
<p>
 <span onclick='loadMove("rnbqkb1r/pp1p1ppp/5n2/2pp4/8/2N2N2/PPP1PPPP/R1BQKB1R w KQkq - 0 5", this, "e6d5"); ' class="line0">4...ed</span> 
</p>
<p>Освобождает белых от многих проблем. Торопиться с этим разменом не следовало. Нормальное продолжение
<!--p>316</p-->
 <span onclick='loadMove("rnbqkb1r/pp3ppp/3ppn2/2pP4/8/2N2N2/PPP1PPPP/R1BQKB1R w KQkq - 0 5", this, "d7d6"); ' class="line1">4...d6</span> 
.</p>
<p>
 <span onclick='loadMove("rnbqkb1r/pp1p1ppp/5n2/2pN4/8/5N2/PPP1PPPP/R1BQKB1R b KQkq - 0 5", this, "c3d5"); ' class="line0">5.К:d5</span> 
 <span onclick='loadMove("rnbqkb1r/pp1p1ppp/8/2pn4/8/5N2/PPP1PPPP/R1BQKB1R w KQkq - 0 6", this, "f6d5"); ' class="line0">К:d5</span> 
 <span onclick='loadMove("rnbqkb1r/pp1p1ppp/8/2pQ4/8/5N2/PPP1PPPP/R1B1KB1R b KQkq - 0 6", this, "d1d5"); ' class="line0">6.Ф:d5</span> 
 <span onclick='loadMove("rnbqk2r/pp1pbppp/8/2pQ4/8/5N2/PPP1PPPP/R1B1KB1R w KQkq - 0 7", this, "f8e7"); ' class="line0">Сe7</span> 
 <span onclick='loadMove("rnbqk2r/pp1pbppp/8/2pQ2B1/8/5N2/PPP1PPPP/R3KB1R b KQkq - 0 7", this, "c1g5"); ' class="line0">7.Сg5!</span> 
 <span onclick='loadMove("rnbq1rk1/pp1pbppp/8/2pQ2B1/8/5N2/PPP1PPPP/R3KB1R w KQ - 0 8", this, "e8g8"); ' class="line0">0-0</span> 
 <span onclick='loadMove("rnbq1rk1/pp1pbppp/8/2pQ2B1/8/5N2/PPP1PPPP/2KR1B1R b - - 0 8", this, "e1c1"); ' class="line0">8.0-0-0</span> 
</p>
<p>Итоги преждевременного
 <span onclick='loadMove("rnbqkb1r/pp1p1ppp/5n2/2pp4/8/2N2N2/PPP1PPPP/R1BQKB1R w KQkq - 0 5", this, "e6d5"); ' class="line1">4...ed</span> 
очевидны. Белые без забот получили большое позиционное преимущество.</p>
<p>
 <span onclick='loadMove("r1bq1rk1/pp1pbppp/2n5/2pQ2B1/8/5N2/PPP1PPPP/2KR1B1R w - - 0 9", this, "b8c6"); ' class="line0">8...Кc6</span> 
</p>
<p>Беда черных в том, что они никак не могут продвинуть пешку d7. Некоторый шанс на это давал фланговый ход
 <span onclick='loadMove("r1bq1rk1/pp1pbppp/n7/2pQ2B1/8/5N2/PPP1PPPP/2KR1B1R w - - 0 9", this, "b8a6"); ' class="line1">8...Кa6</span> 
. Например,
 <span onclick='loadMove("r1bq1rk1/pp1pbppp/n7/2pQ2B1/8/P4N2/1PP1PPPP/2KR1B1R b - - 0 9", this, "a2a3"); ' class="line1">9.a3</span> 
 <span onclick='loadMove("r1bq1rk1/ppnpbppp/8/2pQ2B1/8/P4N2/1PP1PPPP/2KR1B1R w - - 0 10", this, "a6c7"); ' class="line1">Кc7</span> 
 <span onclick='loadMove("r1bq1rk1/ppnpBppp/8/2pQ4/8/P4N2/1PP1PPPP/2KR1B1R b - - 0 10", this, "g5e7"); ' class="line1">10.С:e7</span> 
 <span onclick='loadMove("r1b2rk1/ppnpqppp/8/2pQ4/8/P4N2/1PP1PPPP/2KR1B1R w - - 0 11", this, "d8e7"); ' class="line1">Ф:e7</span> 
 <span onclick='loadMove("r1b2rk1/ppnpqppp/3Q4/2p5/8/P4N2/1PP1PPPP/2KR1B1R b - - 0 11", this, "d5d6"); ' class="line1">11.Фd6</span> 
 <span onclick='loadMove("r1b2rk1/ppnp1ppp/3q4/2p5/8/P4N2/1PP1PPPP/2KR1B1R w - - 0 12", this, "e7d6"); ' class="line1">Ф:d6</span> 
 <span onclick='loadMove("r1b2rk1/ppnp1ppp/3R4/2p5/8/P4N2/1PP1PPPP/2K2B1R b - - 0 12", this, "d1d6"); ' class="line1">12.Л:d6</span> 
 <span onclick='loadMove("r1br2k1/ppnp1ppp/3R4/2p5/8/P4N2/1PP1PPPP/2K2B1R w - - 0 13", this, "f8d8"); ' class="line1">Лd8!</span> 
 <span onclick='loadMove("r1br2k1/ppnp1ppp/3R4/2p5/4P3/P4N2/1PP2PPP/2K2B1R b - e3 0 13", this, "e2e4"); ' class="line1">13.e4</span> 
 <span onclick='loadMove("r1brn1k1/pp1p1ppp/3R4/2p5/4P3/P4N2/1PP2PPP/2K2B1R w - - 0 14", this, "c7e8"); ' class="line1">Кe8</span> 
 <span onclick='loadMove("r1brn1k1/pp1p1ppp/8/2p5/4P3/P4N2/1PPR1PPP/2K2B1R b - - 0 14", this, "d6d2"); ' class="line1">14.Лd2</span> 
 <span onclick='loadMove("r1brn1k1/pp3ppp/3p4/2p5/4P3/P4N2/1PPR1PPP/2K2B1R w - - 0 15", this, "d7d6"); ' class="line1">d6</span> 
. У черных хуже, но борьба еще впереди.</p>
<p>
 <span onclick='loadMove("r1bq1rk1/pp1pbppp/2n5/2pQ2B1/8/P4N2/1PP1PPPP/2KR1B1R b - - 0 9", this, "a2a3"); ' class="line0">9.a3</span> 
</p>
<p>Защищаясь от
 <span onclick='loadMove("r1bq1rk1/pp1pbppp/8/2pQ2B1/1n6/P4N2/1PP1PPPP/2KR1B1R w - - 0 10", this, "c6b4"); ' class="line1">9...Кb4</span> 
.</p>
<p>
 <span onclick='loadMove("r1bq1rk1/p2pbppp/2n5/1ppQ2B1/8/P4N2/1PP1PPPP/2KR1B1R w - b6 0 10", this, "b7b5"); ' class="line0">9...b5</span> 
 <span onclick='loadMove("r1bq1rk1/p2pbppp/2n5/1ppQ2B1/8/P3PN2/1PP2PPP/2KR1B1R b - - 0 10", this, "e2e3"); ' class="line0">10.e3</span> 
 <span onclick='loadMove("1rbq1rk1/p2pbppp/2n5/1ppQ2B1/8/P3PN2/1PP2PPP/2KR1B1R w - - 0 11", this, "a8b8"); ' class="line0">Лb8?</span> 
</p>
<p>Сейчас уже не до пешек. Желанные осложнения возникали после
 <span onclick='loadMove("r1bq1rk1/p2pbppp/2n5/1p1Q2B1/2p5/P3PN2/1PP2PPP/2KR1B1R w - - 0 11", this, "c5c4"); ' class="line1">10...c4</span> 
 <span onclick='loadMove("r1bq1rk1/p2pbppp/2n5/1Q4B1/2p5/P3PN2/1PP2PPP/2KR1B1R b - - 0 11", this, "d5b5"); ' class="line1">11.Ф:b5</span> 
 <span onclick='loadMove("r1bq1rk1/p2pbppp/2n5/1Q4B1/8/P1p1PN2/1PP2PPP/2KR1B1R w - - 0 12", this, "c4c3"); ' class="line1">c3!</span> 
</p>
<p>
 <span onclick='loadMove("1rbq1rk1/p2pbppp/2n5/1ppQ2B1/8/P2BPN2/1PP2PPP/2KR3R b - - 0 11", this, "f1d3"); ' class="line0">11.Сd3</span> 
 <span onclick='loadMove("1rbq1rk1/p2pbppp/2n5/1p1Q2B1/2p5/P2BPN2/1PP2PPP/2KR3R w - - 0 12", this, "c5c4"); ' class="line0">c4</span> 
</p>
<p>Черные пропускают стандартную, но любопытно замаскированную комбинацию. Впрочем, их позиция уже очень плоха.</p>
<div class="chessBoard analysis nobuttons" data-start-fen="1rbq1rk1/p2pbppp/2n5/1p1Q2B1/2p5/P2BPN2/1PP2PPP/2KR3R w - - 0 12"></div>
<p>
 <span onclick='loadMove("1rbq1rk1/p2pbppB/2n5/1p1Q2B1/2p5/P3PN2/1PP2PPP/2KR3R b - - 0 12", this, "d3h7"); ' class="line0">12.С:h7+!</span> 
</p>
<p><b>1-0</b>.
Теперь очевидно, что на
 <span onclick='loadMove("1rbq1r2/p2pbppk/2n5/1p1Q2B1/2p5/P3PN2/1PP2PPP/2KR3R w - - 0 13", this, "g8h7"); ' class="line1">12...Кр:h7</span> 
имеется
 <span onclick='loadMove("1rbq1r2/p2pBppk/2n5/1p1Q4/2p5/P3PN2/1PP2PPP/2KR3R b - - 0 13", this, "g5e7"); ' class="line1">13.С:e7</span> 
 <span onclick='loadMove("1rbq1r2/p2pnppk/8/1p1Q4/2p5/P3PN2/1PP2PPP/2KR3R w - - 0 14", this, "c6e7"); ' class="line1">К:e7</span> 
 <span onclick='loadMove("1rbq1r2/p2pnppk/8/1p5Q/2p5/P3PN2/1PP2PPP/2KR3R b - - 0 14", this, "d5h5"); ' class="line1">14.Фh5+</span> 
 <span onclick='loadMove("1rbq1rk1/p2pnpp1/8/1p5Q/2p5/P3PN2/1PP2PPP/2KR3R w - - 0 15", this, "h7g8"); ' class="line1">Крg8</span> 
 <span onclick='loadMove("1rbq1rk1/p2pnpp1/8/1p4NQ/2p5/P3P3/1PP2PPP/2KR3R b - - 0 15", this, "f3g5"); ' class="line1">15.Кg5</span> 
 <span onclick='loadMove("1rbqr1k1/p2pnpp1/8/1p4NQ/2p5/P3P3/1PP2PPP/2KR3R w - - 0 16", this, "f8e8"); ' class="line1">Лe8</span> 
 <span onclick='loadMove("1rbqr1k1/p2pnQp1/8/1p4N1/2p5/P3P3/1PP2PPP/2KR3R b - - 0 16", this, "h5f7"); ' class="line1">16.Ф:f7+</span> 
 <span onclick='loadMove("1rbqr2k/p2pnQp1/8/1p4N1/2p5/P3P3/1PP2PPP/2KR3R w - - 0 17", this, "g8h8"); ' class="line1">Крh8</span> 
 <span onclick='loadMove("1rbqr2k/p2pnQp1/8/1p4N1/2pR4/P3P3/1PP2PPP/2K4R b - - 0 17", this, "d1d4"); ' class="line1">17.Лd4</span> 
с неотразимыми угрозами.</p>
</div> <!-- score -->
</div> <!-- section -->

<a name="game498"></a>
<div class="section">
<div class="chessBoard small floater" data-start-fen="rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w KQkq - 0 1"></div>
<div class="score">
 <span class="line0" onclick='loadMove("rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w KQkq - 0 1", this, ""); '>[...]</span> 
<p class="capTop diagram">498. <strong>Балло — Вайбел</strong><br />Бад-Вильдбад, 2000</p>
<p>
 <span onclick='loadMove("rnbqkbnr/pppppppp/8/8/3P4/8/PPP1PPPP/RNBQKBNR b KQkq d3 0 1", this, "d2d4"); ' class="line0">1.d4</span> 
 <span onclick='loadMove("rnbqkb1r/pppppppp/5n2/8/3P4/8/PPP1PPPP/RNBQKBNR w KQkq - 0 2", this, "g8f6"); ' class="line0">Кf6</span> 
 <span onclick='loadMove("rnbqkb1r/pppppppp/5n2/8/2PP4/8/PP2PPPP/RNBQKBNR b KQkq c3 0 2", this, "c2c4"); ' class="line0">2.c4</span> 
 <span onclick='loadMove("rnbqkb1r/pp1ppppp/5n2/2p5/2PP4/8/PP2PPPP/RNBQKBNR w KQkq c6 0 3", this, "c7c5"); ' class="line0">c5</span> 
 <span onclick='loadMove("rnbqkb1r/pp1ppppp/5n2/2pP4/2P5/8/PP2PPPP/RNBQKBNR b KQkq - 0 3", this, "d4d5"); ' class="line0">3.d5</span> 
 <span onclick='loadMove("rnbqkb1r/pp1p1ppp/4pn2/2pP4/2P5/8/PP2PPPP/RNBQKBNR w KQkq - 0 4", this, "e7e6"); ' class="line0">e6</span> 
 <span onclick='loadMove("rnbqkb1r/pp1p1ppp/4pn2/2pP4/2P5/2N5/PP2PPPP/R1BQKBNR b KQkq - 0 4", this, "b1c3"); ' class="line0">4.Кc3</span> 
 <span onclick='loadMove("rnbqkb1r/pp1p1ppp/5n2/2pp4/2P5/2N5/PP2PPPP/R1BQKBNR w KQkq - 0 5", this, "e6d5"); ' class="line0">ed</span> 
 <span onclick='loadMove("rnbqkb1r/pp1p1ppp/5n2/2pP4/8/2N5/PP2PPPP/R1BQKBNR b KQkq - 0 5", this, "c4d5"); ' class="line0">5.cd</span> 
 <span onclick='loadMove("rnbqkb1r/pp1p1p1p/5np1/2pP4/8/2N5/PP2PPPP/R1BQKBNR w KQkq - 0 6", this, "g7g6"); ' class="line0">g6</span> 
</p>
<p>Исток скорого поражения. При всей вольности в современном разыгрывании дебюта закона о борьбе за центр никто не отменял. И потому верным ходом было
 <span onclick='loadMove("rnbqkb1r/pp3ppp/3p1n2/2pP4/8/2N5/PP2PPPP/R1BQKBNR w KQkq - 0 6", this, "d7d6"); ' class="line1">5...d6</span> 
.</p>
<p>
 <span onclick='loadMove("rnbqkb1r/pp1p1p1p/5np1/2pP4/4P3/2N5/PP3PPP/R1BQKBNR b KQkq e3 0 6", this, "e2e4"); ' class="line0">6.e4</span> 
 <span onclick='loadMove("rnbqk2r/pp1p1pbp/5np1/2pP4/4P3/2N5/PP3PPP/R1BQKBNR w KQkq - 0 7", this, "f8g7"); ' class="line0">Сg7?!</span> 
</p>
<p>А вот это промах посерьезнее. Пешку e4 следовало притормозить -
 <span onclick='loadMove("rnbqkb1r/pp3p1p/3p1np1/2pP4/4P3/2N5/PP3PPP/R1BQKBNR w KQkq - 0 7", this, "d7d6"); ' class="line1">6...d6</span> 
.</p>
<p>
 <span onclick='loadMove("rnbqk2r/pp1p1pbp/5np1/2pPP3/8/2N5/PP3PPP/R1BQKBNR b KQkq - 0 7", this, "e4e5"); ' class="line0">7.e5</span> 
 <span onclick='loadMove("rnb1k2r/pp1pqpbp/5np1/2pPP3/8/2N5/PP3PPP/R1BQKBNR w KQkq - 0 8", this, "d8e7"); ' class="line0">Фe7?</span> 
</p>
<p>Следовало увести коня —
 <span onclick='loadMove("rnbqk1nr/pp1p1pbp/6p1/2pPP3/8/2N5/PP3PPP/R1BQKBNR w KQkq - 0 8", this, "f6g8"); ' class="line1">7...Кg8</span> 
и по возможности терпеть превосходство соперника.</p>
<p>
 <span onclick='loadMove("rnb1k2r/pp1pqpbp/5np1/2pPP3/8/2N5/PP2QPPP/R1B1KBNR b KQkq - 0 8", this, "d1e2"); ' class="line0">8.Фe2</span> 
 <span onclick='loadMove("rnb1k1nr/pp1pqpbp/6p1/2pPP3/8/2N5/PP2QPPP/R1B1KBNR w KQkq - 0 9", this, "f6g8"); ' class="line0">Кg8</span> 
 <span onclick='loadMove("rnb1k1nr/pp1pqpbp/6p1/2pPP3/8/2N2N2/PP2QPPP/R1B1KB1R b KQkq - 0 9", this, "g1f3"); ' class="line0">9.Кf3</span> 
 <span onclick='loadMove("rnb1k1nr/pp2qpbp/3p2p1/2pPP3/8/2N2N2/PP2QPPP/R1B1KB1R w KQkq - 0 10", this, "d7d6"); ' class="line0">d6</span> 
</p>
<div class="chessBoard analysis nobuttons" data-start-fen="rnb1k1nr/pp2qpbp/3p2p1/2pPP3/8/2N2N2/PP2QPPP/R1B1KB1R w KQkq - 0 10"></div>
<p>
 <span onclick='loadMove("rnb1k1nr/pp2qpbp/3p2p1/1NpPP3/8/5N2/PP2QPPP/R1B1KB1R b KQkq - 0 10", this, "c3b5"); ' class="line0">10.Кb5!</span> 
 <span onclick='loadMove("rnb1k1nr/pp2qpbp/6p1/1NpPp3/8/5N2/PP2QPPP/R1B1KB1R w KQkq - 0 11", this, "d6e5"); ' class="line0">de</span> 
 <span onclick='loadMove("rnb1k1nr/pp2qpbp/3P2p1/1Np1p3/8/5N2/PP2QPPP/R1B1KB1R b KQkq - 0 11", this, "d5d6"); ' class="line0">11.d6</span> 
 <span onclick='loadMove("rnbqk1nr/pp3pbp/3P2p1/1Np1p3/8/5N2/PP2QPPP/R1B1KB1R w KQkq - 0 12", this, "e7d8"); ' class="line0">Фd8</span> 
 <span onclick='loadMove("rnbqk1nr/ppN2pbp/3P2p1/2p1p3/8/5N2/PP2QPPP/R1B1KB1R b KQkq - 0 12", this, "b5c7"); ' class="line0">12.Кc7+</span> 
 <span onclick='loadMove("rnbq1knr/ppN2pbp/3P2p1/2p1p3/8/5N2/PP2QPPP/R1B1KB1R w KQ - 0 13", this, "e8f8"); ' class="line0">Крf8</span> 
 <span onclick='loadMove("rnbq1knr/ppN2pbp/3P2p1/2p1N3/8/8/PP2QPPP/R1B1KB1R b KQ - 0 13", this, "f3e5"); ' class="line0">13.К:e5!</span> 
</p>
<p>Достаточно, конечно, снять ладью a8, но так симпатичнее:
 <span onclick='loadMove("rnb2knr/ppN2pbp/3q2p1/2p1N3/8/8/PP2QPPP/R1B1KB1R w KQ - 0 14", this, "d8d6"); ' class="line1">13...Ф:d6</span> 
 <span onclick='loadMove("rnb2knr/ppN2pbp/3q2N1/2p5/8/8/PP2QPPP/R1B1KB1R b KQ - 0 14", this, "e5g6"); ' class="line1">14.К:g6+!</span> 
<b>1-0</b>.</p>
</div> <!-- score -->
</div> <!-- section -->

<a name="game499"></a>
<div class="section">
<div class="chessBoard small floater" data-start-fen="rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w KQkq - 0 1"></div>
<div class="score">
 <span class="line0" onclick='loadMove("rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w KQkq - 0 1", this, ""); '>[...]</span> 
<p class="capTop diagram">499. <strong>Спасов — Адорьян</strong><br />Сочи,1977</p>
<p>
 <span onclick='loadMove("rnbqkbnr/pppppppp/8/8/3P4/8/PPP1PPPP/RNBQKBNR b KQkq d3 0 1", this, "d2d4"); ' class="line0">1.d4</span> 
 <span onclick='loadMove("rnbqkb1r/pppppppp/5n2/8/3P4/8/PPP1PPPP/RNBQKBNR w KQkq - 0 2", this, "g8f6"); ' class="line0">Кf6</span> 
 <span onclick='loadMove("rnbqkb1r/pppppppp/5n2/8/2PP4/8/PP2PPPP/RNBQKBNR b KQkq c3 0 2", this, "c2c4"); ' class="line0">2.c4</span> 
 <span onclick='loadMove("rnbqkb1r/pp1ppppp/5n2/2p5/2PP4/8/PP2PPPP/RNBQKBNR w KQkq c6 0 3", this, "c7c5"); ' class="line0">c5</span> 
 <span onclick='loadMove("rnbqkb1r/pp1ppppp/5n2/2pP4/2P5/8/PP2PPPP/RNBQKBNR b KQkq - 0 3", this, "d4d5"); ' class="line0">3.d5</span> 
 <span onclick='loadMove("rnbqkb1r/pp2pppp/3p1n2/2pP4/2P5/8/PP2PPPP/RNBQKBNR w KQkq - 0 4", this, "d7d6"); ' class="line0">d6</span> 
 <span onclick='loadMove("rnbqkb1r/pp2pppp/3p1n2/2pP4/2P5/5N2/PP2PPPP/RNBQKB1R b KQkq - 0 4", this, "g1f3"); ' class="line0">4.Кf3</span> 
 <span onclick='loadMove("rnbqkb1r/pp2pp1p/3p1np1/2pP4/2P5/5N2/PP2PPPP/RNBQKB1R w KQkq - 0 5", this, "g7g6"); ' class="line0">g6</span> 
 <span onclick='loadMove("rnbqkb1r/pp2pp1p/3p1np1/2pP4/2P5/5NP1/PP2PP1P/RNBQKB1R b KQkq - 0 5", this, "g2g3"); ' class="line0">5.g3</span> 
 <span onclick='loadMove("rnbqk2r/pp2ppbp/3p1np1/2pP4/2P5/5NP1/PP2PP1P/RNBQKB1R w KQkq - 0 6", this, "f8g7"); ' class="line0">Сg7</span> 
 <span onclick='loadMove("rnbqk2r/pp2ppbp/3p1np1/2pP4/2P5/5NP1/PP2PPBP/RNBQK2R b KQkq - 0 6", this, "f1g2"); ' class="line0">6.Сg2</span> 
 <span onclick='loadMove("rnbqk2r/p3ppbp/3p1np1/1ppP4/2P5/5NP1/PP2PPBP/RNBQK2R w KQkq b6 0 7", this, "b7b5"); ' class="line0">b5</span> 
 <span onclick='loadMove("rnbqk2r/p3ppbp/3p1np1/1PpP4/8/5NP1/PP2PPBP/RNBQK2R b KQkq - 0 7", this, "c4b5"); ' class="line0">7.cb</span> 
 <span onclick='loadMove("rnbqk2r/4ppbp/p2p1np1/1PpP4/8/5NP1/PP2PPBP/RNBQK2R w KQkq - 0 8", this, "a7a6"); ' class="line0">a6</span> 
 <span onclick='loadMove("rnbqk2r/4ppbp/P2p1np1/2pP4/8/5NP1/PP2PPBP/RNBQK2R b KQkq - 0 8", this, "b5a6"); ' class="line0">8.ba</span> 
 <span onclick='loadMove("rnb1k2r/4ppbp/P2p1np1/q1pP4/8/5NP1/PP2PPBP/RNBQK2R w KQkq - 0 9", this, "d8a5"); ' class="line0">Фa5+</span> 
</p>
<!--p>317</p-->
<p>Пока ничего не предвещает скорой развязки.</p>
<p>
 <span onclick='loadMove("rnb1k2r/4ppbp/P2p1np1/q1pP4/8/2N2NP1/PP2PPBP/R1BQK2R b KQkq - 0 9", this, "b1c3"); ' class="line0">9.Кc3?</span> 
</p>
<p>Следовало перестроиться
 <span onclick='loadMove("rnb1k2r/4ppbp/P2p1np1/q1pP4/8/5NP1/PP1BPPBP/RN1QK2R b KQkq - 0 9", this, "c1d2"); ' class="line1">9.Сd2</span> 
 <span onclick='loadMove("rnb1k2r/4ppbp/q2p1np1/2pP4/8/5NP1/PP1BPPBP/RN1QK2R w KQkq - 0 10", this, "a5a6"); ' class="line1">Ф:a6</span> 
 <span onclick='loadMove("rnb1k2r/4ppbp/q2p1np1/2pP4/8/2B2NP1/PP2PPBP/RN1QK2R b KQkq - 0 10", this, "d2c3"); ' class="line1">10.Сc3</span> 
.</p>
<p>
 <span onclick='loadMove("rnb1k2r/4ppbp/P2p2p1/q1pP4/4n3/2N2NP1/PP2PPBP/R1BQK2R w KQkq - 0 10", this, "f6e4"); ' class="line0">9...Кe4</span> 
 <span onclick='loadMove("rnb1k2r/4ppbp/P2p2p1/q1pP4/4n3/2N2NP1/PPQ1PPBP/R1B1K2R b KQkq - 0 10", this, "d1c2"); ' class="line0">10.Фc2</span> 
 <span onclick='loadMove("rnb1k2r/4ppbp/P2p2p1/q1pP4/8/2n2NP1/PPQ1PPBP/R1B1K2R w KQkq - 0 11", this, "e4c3"); ' class="line0">К:c3</span> 
 <span onclick='loadMove("rnb1k2r/4ppbp/P2p2p1/q1pP4/8/2n2NP1/PPQBPPBP/R3K2R b KQkq - 0 11", this, "c1d2"); ' class="line0">11.Сd2</span> 
</p>
<p>На этом и держится расчет. Фигура как будто отыгрывается?</p>
<div class="chessBoard analysis nobuttons" data-start-fen="rnb1k2r/4ppbp/P2p2p1/q1pP4/8/2n2NP1/PPQBPPBP/R3K2R b KQkq - 0 11"></div>
<p>
 <span onclick='loadMove("rnb1k2r/4ppbp/P2p2p1/2pP4/q7/2n2NP1/PPQBPPBP/R3K2R w KQkq - 0 12", this, "a5a4"); ' class="line0">11...Фa4!</span> 
</p>
<p><b>0-1</b>.
Увы, нет! В случае
 <span onclick='loadMove("rnb1k2r/4ppbp/P2p2p1/2pP4/q7/1Pn2NP1/P1QBPPBP/R3K2R b KQkq - 0 12", this, "b2b3"); ' class="line1">12.b3</span> 
достаточно убедительно
 <span onclick='loadMove("rnb1k2r/4ppbp/P2p2p1/2pP4/4q3/1Pn2NP1/P1QBPPBP/R3K2R w KQkq - 0 13", this, "a4e4"); ' class="line1">12...Фe4</span> 
.</p>
</div> <!-- score -->
</div> <!-- section -->

<a name="game500"></a>
<div class="section">
<div class="chessBoard small floater" data-start-fen="rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w KQkq - 0 1"></div>
<div class="score">
 <span class="line0" onclick='loadMove("rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w KQkq - 0 1", this, ""); '>[...]</span> 
<p class="capTop diagram">500. <strong>Комбе — Хасенфусс</strong><br />Фолкстон, 1933</p>
<p>
 <span onclick='loadMove("rnbqkbnr/pppppppp/8/8/3P4/8/PPP1PPPP/RNBQKBNR b KQkq d3 0 1", this, "d2d4"); ' class="line0">1.d4</span> 
 <span onclick='loadMove("rnbqkbnr/pp1ppppp/8/2p5/3P4/8/PPP1PPPP/RNBQKBNR w KQkq c6 0 2", this, "c7c5"); ' class="line0">c5</span> 
 <span onclick='loadMove("rnbqkbnr/pp1ppppp/8/2p5/2PP4/8/PP2PPPP/RNBQKBNR b KQkq c3 0 2", this, "c2c4"); ' class="line0">2.c4</span> 
</p>
<p>Неточность. В духе дебюта
 <span onclick='loadMove("rnbqkbnr/pp1ppppp/8/2pP4/8/8/PPP1PPPP/RNBQKBNR b KQkq - 0 2", this, "d4d5"); ' class="line1">2.d5</span> 
.</p>
<!--p>318</p-->
<p>
 <span onclick='loadMove("rnbqkbnr/pp1ppppp/8/8/2Pp4/8/PP2PPPP/RNBQKBNR w KQkq - 0 3", this, "c5d4"); ' class="line0">2...cd</span> 
 <span onclick='loadMove("rnbqkbnr/pp1ppppp/8/8/2Pp4/5N2/PP2PPPP/RNBQKB1R b KQkq - 0 3", this, "g1f3"); ' class="line0">3.Кf3</span> 
 <span onclick='loadMove("rnbqkbnr/pp1p1ppp/8/4p3/2Pp4/5N2/PP2PPPP/RNBQKB1R w KQkq e6 0 4", this, "e7e5"); ' class="line0">e5</span> 
 <span onclick='loadMove("rnbqkbnr/pp1p1ppp/8/4N3/2Pp4/8/PP2PPPP/RNBQKB1R b KQkq - 0 4", this, "f3e5"); ' class="line0">4.К:e5?</span> 
</p>
<p>Следовало продолжать в гамбитном стиле
 <span onclick='loadMove("rnbqkbnr/pp1p1ppp/8/4p3/2Pp4/4PN2/PP3PPP/RNBQKB1R b KQkq - 0 4", this, "e2e3"); ' class="line1">4.e3</span> 
, получая за пешку компенсацию в виде лучше развитых фигур и давления по центральным вертикалям.</p>
<div class="chessBoard analysis nobuttons" data-start-fen="rnbqkbnr/pp1p1ppp/8/4N3/2Pp4/8/PP2PPPP/RNBQKB1R b KQkq - 0 4"></div>
<p>
 <span onclick='loadMove("rnb1kbnr/pp1p1ppp/8/q3N3/2Pp4/8/PP2PPPP/RNBQKB1R w KQkq - 0 5", this, "d8a5"); ' class="line0">4...Фa5+</span> 
.</p>
<p>Самая короткая результативная партия, сыгранная на всех Олимпиадах. <b>0-1</b>.</p>
</div> <!-- score -->
</div> <!-- section -->

<a name="game501"></a>
<div class="section">
<div class="chessBoard small floater" data-start-fen="rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w KQkq - 0 1"></div>
<div class="score">
 <span class="line0" onclick='loadMove("rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w KQkq - 0 1", this, ""); '>[...]</span> 
<p class="capTop diagram">501. <strong>Чарош — Яффе</strong><br />Нью-Йорк, 1936</p>
<p>
 <span onclick='loadMove("rnbqkbnr/pppppppp/8/8/3P4/8/PPP1PPPP/RNBQKBNR b KQkq d3 0 1", this, "d2d4"); ' class="line0">1.d4</span> 
 <span onclick='loadMove("rnbqkbnr/pp1ppppp/8/2p5/3P4/8/PPP1PPPP/RNBQKBNR w KQkq c6 0 2", this, "c7c5"); ' class="line0">c5</span> 
 <span onclick='loadMove("rnbqkbnr/pp1ppppp/8/2pP4/8/8/PPP1PPPP/RNBQKBNR b KQkq - 0 2", this, "d4d5"); ' class="line0">2.d5</span> 
 <span onclick='loadMove("r1bqkbnr/pp1ppppp/n7/2pP4/8/8/PPP1PPPP/RNBQKBNR w KQkq - 0 3", this, "b8a6"); ' class="line0">Кa6?</span> 
</p>
<p>В подобных структурах конь действительно иногда переводится через a6 на c7, чтобы организовать продвижение <b>b7-b5</b>. Но, разумеется, это делается не на первых ходах, а после выполнения более важных задач: развития фигур королевского фланга и рокировки.</p>
<p>
 <span onclick='loadMove("r1bqkbnr/pp1ppppp/n7/2pP4/8/5N2/PPP1PPPP/RNBQKB1R b KQkq - 0 3", this, "g1f3"); ' class="line0">3.Кf3</span> 
 <span onclick='loadMove("r1bqkbnr/pp2pppp/n2p4/2pP4/8/5N2/PPP1PPPP/RNBQKB1R w KQkq - 0 4", this, "d7d6"); ' class="line0">d6</span> 
 <span onclick='loadMove("r1bqkbnr/pp2pppp/n2p4/2pP4/4P3/5N2/PPP2PPP/RNBQKB1R b KQkq e3 0 4", this, "e2e4"); ' class="line0">4.e4</span> 
 <span onclick='loadMove("r2qkbnr/pp2pppp/n2p4/2pP4/4P1b1/5N2/PPP2PPP/RNBQKB1R w KQkq - 0 5", this, "c8g4"); ' class="line0">Сg4?</span> 
</p>
<p>Ход
 <span onclick='loadMove("r1bqkb1r/pp2pppp/n2p1n2/2pP4/4P3/5N2/PPP2PPP/RNBQKB1R w KQkq - 0 5", this, "g8f6"); ' class="line1">4...Кf6</span> 
был уже необходим. Преждевременным
 <span onclick='loadMove("r1bqkbnr/pp1ppppp/n7/2pP4/8/8/PPP1PPPP/RNBQKBNR w KQkq - 0 3", this, "b8a6"); ' class="line1">2...Кa6?</span> 
черные ослабили диагональ a4-e8. Особенно важно — осталось без прикрытия поле d7. Выходом слона черные усиливают эти недостатки.</p>
<div class="chessBoard analysis nobuttons" data-start-fen="r2qkbnr/pp2pppp/n2p4/2pP4/4P1b1/5N2/PPP2PPP/RNBQKB1R w KQkq - 0 5"></div>
<p>
 <span onclick='loadMove("r2qkbnr/pp2pppp/n2p4/2pPN3/4P1b1/8/PPP2PPP/RNBQKB1R b KQkq - 0 5", this, "f3e5"); ' class="line0">5.Кe5!</span> 
</p>
<p>Теперь лучшим решением для черных было возвращение
 <span onclick='loadMove("r2qkbnr/pp1bpppp/n2p4/2pPN3/4P3/8/PPP2PPP/RNBQKB1R w KQkq - 0 6", this, "g4d7"); ' class="line1">5...Сd7</span> 
, пытаясь после
 <span onclick='loadMove("r2qkbnr/pp1Npppp/n2p4/2pP4/4P3/8/PPP2PPP/RNBQKB1R b KQkq - 0 6", this, "e5d7"); ' class="line1">6.К:d7</span> 
 <span onclick='loadMove("r3kbnr/pp1qpppp/n2p4/2pP4/4P3/8/PPP2PPP/RNBQKB1R w KQkq - 0 7", this, "d8d7"); ' class="line1">Ф:d7</span> 
отделаться лишь позиционными потерями.</p>
<p>
 <span onclick='loadMove("r3kbnr/pp2pppp/n2p4/q1pPN3/4P1b1/8/PPP2PPP/RNBQKB1R w KQkq - 0 6", this, "d8a5"); ' class="line0">5...Фa5+</span> 
 <span onclick='loadMove("r3kbnr/pp2pppp/n2p4/q1pPN3/4P1b1/8/PPPB1PPP/RN1QKB1R b KQkq - 0 6", this, "c1d2"); ' class="line0">6.Сd2</span> 
 <span onclick='loadMove("r3kbnr/pp2pppp/n7/q1pPp3/4P1b1/8/PPPB1PPP/RN1QKB1R w KQkq - 0 7", this, "d6e5"); ' class="line0">de</span> 
 <span onclick='loadMove("r3kbnr/pp2pppp/n7/B1pPp3/4P1b1/8/PPP2PPP/RN1QKB1R b KQkq - 0 7", this, "d2a5"); ' class="line0">7.С:a5</span> 
 <span onclick='loadMove("r3kbnr/pp2pppp/n7/B1pPp3/4P3/8/PPP2PPP/RN1bKB1R w KQkq - 0 8", this, "g4d1"); ' class="line0">С:d1</span> 
 <span onclick='loadMove("r3kbnr/pp2pppp/n7/BBpPp3/4P3/8/PPP2PPP/RN1bK2R b KQkq - 0 8", this, "f1b5"); ' class="line0">8.Сb5X!</span> 
</p>
</div> <!-- score -->
</div> <!-- section -->

</div> <!-- iBook -->
{% endblock content %}
