{% extends '../../base.htm' %}
{% load static %}
{% block title %}
<title>ДЕБЮТ СИМАГИНА-ЛАРСЕНА | {{book.title}} | {%for author in book.authors.all%} {%if author.first_name%} {{author.first_name}} {%endif%} {%if author.second_name%} {{author.second_name}} {%endif%} {%if forloop.counter == book.authors.all.count%} {{author.last_name}} {%else%} {{author.last_name}}, {%endif%} {%endfor%} | {{book.year}}</title>
{% endblock title %}
{% block content %}

<div class="iBook">

<div class="section">
<div class="chessBoard small floater" data-start-fen="rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w KQkq - 0 1"></div>
<div class="score">
 <span class="line0" onclick='loadMove("rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w KQkq - 0 1", this, ""); '>[...]</span> 
<h2>ДЕБЮТ СИМАГИНА-ЛАРСЕНА</h2>
<p>
 <span onclick='loadMove("rnbqkbnr/pppppppp/8/8/8/1P6/P1PPPPPP/RNBQKBNR b KQkq - 0 1", this, "b2b3"); ' class="line0">1.b3</span> 
.</p>
<p>Своеобразная разработка московского гроссмейстера Владимира Симагина (1919-1968) и датского гроссмейстера Бента Ларсена (р. в 1935 г.). Белые не определяют стратегические планы, выжидая начальных действий соперника.</p>
</div> <!-- score -->
</div> <!-- section -->

<a name="game549"></a>
<div class="section">
<div class="chessBoard small floater" data-start-fen="rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w KQkq - 0 1"></div>
<div class="score">
 <span class="line0" onclick='loadMove("rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w KQkq - 0 1", this, ""); '>[...]</span> 
<p class="capTop diagram">549. <strong>Любоевич — Штейн</strong><br />Лас-Пальмас, 1973</p>
<p>
 <span onclick='loadMove("rnbqkbnr/pppppppp/8/8/8/1P6/P1PPPPPP/RNBQKBNR b KQkq - 0 1", this, "b2b3"); ' class="line0">1.b3</span> 
 <span onclick='loadMove("rnbqkbnr/pppp1ppp/8/4p3/8/1P6/P1PPPPPP/RNBQKBNR w KQkq e6 0 2", this, "e7e5"); ' class="line0">e5</span> 
 <span onclick='loadMove("rnbqkbnr/pppp1ppp/8/4p3/8/1P6/PBPPPPPP/RN1QKBNR b KQkq - 0 2", this, "c1b2"); ' class="line0">2.Сb2</span> 
 <span onclick='loadMove("rnbqkbnr/ppp2ppp/3p4/4p3/8/1P6/PBPPPPPP/RN1QKBNR w KQkq - 0 3", this, "d7d6"); ' class="line0">d6</span> 
 <span onclick='loadMove("rnbqkbnr/ppp2ppp/3p4/4p3/8/1P2P3/PBPP1PPP/RN1QKBNR b KQkq - 0 3", this, "e2e3"); ' class="line0">3.e3</span> 
 <span onclick='loadMove("rnbqkb1r/ppp2ppp/3p1n2/4p3/8/1P2P3/PBPP1PPP/RN1QKBNR w KQkq - 0 4", this, "g8f6"); ' class="line0">Кf6</span> 
 <span onclick='loadMove("rnbqkb1r/ppp2ppp/3p1n2/4p3/2P5/1P2P3/PB1P1PPP/RN1QKBNR b KQkq c3 0 4", this, "c2c4"); ' class="line0">4.c4</span> 
 <span onclick='loadMove("rnbqkb1r/ppp2p1p/3p1np1/4p3/2P5/1P2P3/PB1P1PPP/RN1QKBNR w KQkq - 0 5", this, "g7g6"); ' class="line0">g6</span> 
 <span onclick='loadMove("rnbqkb1r/ppp2p1p/3p1np1/4p3/2PP4/1P2P3/PB3PPP/RN1QKBNR b KQkq d3 0 5", this, "d2d4"); ' class="line0">5.d4</span> 
 <span onclick='loadMove("rnbqk2r/ppp2pbp/3p1np1/4p3/2PP4/1P2P3/PB3PPP/RN1QKBNR w KQkq - 0 6", this, "f8g7"); ' class="line0">Сg7</span> 
 <span onclick='loadMove("rnbqk2r/ppp2pbp/3p1np1/4p3/2PP4/1PN1P3/PB3PPP/R2QKBNR b KQkq - 0 6", this, "b1c3"); ' class="line0">6.Кc3</span> 
</p>
<p>На
 <span onclick='loadMove("rnbqk2r/ppp2pbp/3p1np1/4P3/2P5/1P2P3/PB3PPP/RN1QKBNR b KQkq - 0 6", this, "d4e5"); ' class="line1">6.de</span> 
возможен типичный в таких
<!--p>350</p-->
случаях прием
 <span onclick='loadMove("rnbqk2r/ppp2pbp/3p2p1/4P3/2P3n1/1P2P3/PB3PPP/RN1QKBNR w KQkq - 0 7", this, "f6g4"); ' class="line1">6...Кg4</span> 
.</p>
<p>
 <span onclick='loadMove("rnbqk2r/ppp2pbp/3p1np1/8/2Pp4/1PN1P3/PB3PPP/R2QKBNR w KQkq - 0 7", this, "e5d4"); ' class="line0">6...ed</span> 
 <span onclick='loadMove("rnbqk2r/ppp2pbp/3p1np1/8/2PQ4/1PN1P3/PB3PPP/R3KBNR b KQkq - 0 7", this, "d1d4"); ' class="line0">7.Ф:d4</span> 
</p>
<p>Осторожнее
 <span onclick='loadMove("rnbqk2r/ppp2pbp/3p1np1/8/2PP4/1PN5/PB3PPP/R2QKBNR b KQkq - 0 7", this, "e3d4"); ' class="line1">7.ed</span> 
.</p>
<p>
 <span onclick='loadMove("rnbq1rk1/ppp2pbp/3p1np1/8/2PQ4/1PN1P3/PB3PPP/R3KBNR w KQ - 0 8", this, "e8g8"); ' class="line0">7...0-0</span> 
 <span onclick='loadMove("rnbq1rk1/ppp2pbp/3p1np1/8/2PQ4/1PN1PN2/PB3PPP/R3KB1R b KQ - 0 8", this, "g1f3"); ' class="line0">8.Кf3</span> 
 <span onclick='loadMove("r1bq1rk1/pppn1pbp/3p1np1/8/2PQ4/1PN1PN2/PB3PPP/R3KB1R w KQ - 0 9", this, "b8d7"); ' class="line0">Кbd7</span> 
 <span onclick='loadMove("r1bq1rk1/pppn1pbp/3p1np1/8/2PQ4/1PN1PN2/PB2BPPP/R3K2R b KQ - 0 9", this, "f1e2"); ' class="line0">9.Сe2</span> 
 <span onclick='loadMove("r1bq1rk1/ppp2pbp/3p1np1/2n5/2PQ4/1PN1PN2/PB2BPPP/R3K2R w KQ - 0 10", this, "d7c5"); ' class="line0">Кc5</span> 
 <span onclick='loadMove("r1bq1rk1/ppp2pbp/3p1np1/2n5/2PQ4/1PN1PN2/PB2BPPP/3RK2R b K - 0 10", this, "a1d1"); ' class="line0">10.Лd1?</span> 
</p>
<p>Пора было отступить ферзем. Белых увлекает красивый замысел:
 <span onclick='loadMove("r1bq1rk1/ppp2pbp/3p2p1/2n5/2PQn3/1PN1PN2/PB2BPPP/3RK2R w K - 0 11", this, "f6e4"); ' class="line1">10...Кfe4</span> 
 <span onclick='loadMove("r1bq1rk1/ppp2pQp/3p2p1/2n5/2P1n3/1PN1PN2/PB2BPPP/3RK2R b K - 0 11", this, "d4g7"); ' class="line1">11.Ф:g7+!</span> 
 <span onclick='loadMove("r1bq1r2/ppp2pkp/3p2p1/2n5/2P1n3/1PN1PN2/PB2BPPP/3RK2R w K - 0 12", this, "g8g7"); ' class="line1">Кр:g7</span> 
 <span onclick='loadMove("r1bq1r2/ppp2pkp/3p2p1/2n5/2P1N3/1P2PN2/PB2BPPP/3RK2R b K - 0 12", this, "c3e4"); ' class="line1">12.К:e4+</span> 
 <span onclick='loadMove("r1bq1r2/ppp3kp/3p1pp1/2n5/2P1N3/1P2PN2/PB2BPPP/3RK2R w K - 0 13", this, "f7f6"); ' class="line1">f6</span> 
 <span onclick='loadMove("r1bq1r2/ppp3kp/3p1pp1/2N5/2P5/1P2PN2/PB2BPPP/3RK2R b K - 0 13", this, "e4c5"); ' class="line1">13.К:c5</span> 
. Все здесь правильно, но беда приходит с другой стороны.</p>
<p>
 <span onclick='loadMove("r1bq1rk1/ppp2pbp/3p2p1/2n5/2PQ2n1/1PN1PN2/PB2BPPP/3RK2R w K - 0 11", this, "f6g4"); ' class="line0">10...Кg4!</span> 
 <span onclick='loadMove("r1bq1rk1/ppp2pbp/3p2p1/2n5/2P3n1/1PN1PN2/PB1QBPPP/3RK2R b K - 0 11", this, "d4d2"); ' class="line0">11.Фd2</span> 
</p>
<div class="chessBoard analysis nobuttons" data-start-fen="r1bq1rk1/ppp2pbp/3p2p1/2n5/2P3n1/1PN1PN2/PB1QBPPP/3RK2R b K - 0 11"></div>
<p>
 <span onclick='loadMove("r1bq1rk1/ppp2pbp/3p2p1/2n5/2P5/1PN1PN2/PB1QBnPP/3RK2R w K - 0 12", this, "g4f2"); ' class="line0">11...К:f2!</span> 
</p>
<p>Выясняется, что на
 <span onclick='loadMove("r1bq1rk1/ppp2pbp/3p2p1/2n5/2P5/1PN1PN2/PB1QBKPP/3R3R b - - 0 12", this, "e1f2"); ' class="line1">12.Кр:f2</span> 
имеется
 <span onclick='loadMove("r1bq1rk1/ppp2p1p/3p2p1/2n5/2P5/1Pb1PN2/PB1QBKPP/3R3R w - - 0 13", this, "g7c3"); ' class="line1">12...С:c3</span> 
 <!--span onclick='loadMove("r1bq1rk1/ppp2p1p/3p2p1/2n5/2P5/1Pb1PN2/PB1QBKPP/3R3R b - - 0 13", this, "g7c3"); ' class="line1">13.z0</span--> 
с последующим
 <span onclick='loadMove("r1bq1rk1/ppp2p1p/3p2p1/8/2P1n3/1Pb1PN2/PB1QBKPP/3R3R w - - 0 14", this, "c5e4"); ' class="line1">13...Кe4+</span> 
.</p>
<p>
 <span onclick='loadMove("r1bq1rk1/ppp2pbp/3p2p1/2n5/2P5/1PN1PN2/PB1QBnPP/3R1RK1 b - - 0 12", this, "e1g1"); ' class="line0">12.0-0</span> 
 <span onclick='loadMove("r1bq1rk1/ppp2pbp/3p2p1/2n5/2P5/1PN1PN2/PB1QB1PP/3n1RK1 w - - 0 13", this, "f2d1"); ' class="line0">К:d1</span> 
. <b>0-1</b>.</p>
</div> <!-- score -->
</div> <!-- section -->

</div> <!-- iBook -->
{% endblock content %}
