{% extends '../../base.htm' %}
{% load static %}
{% block title %}
<title>Часть 4. ЭНДШПИЛЬ | {{book.title}} | {%for author in book.authors.all%} {%if author.first_name%} {{author.first_name}} {%endif%} {%if author.second_name%} {{author.second_name}} {%endif%} {%if forloop.counter == book.authors.all.count%} {{author.last_name}} {%else%} {{author.last_name}}, {%endif%} {%endfor%} | {{book.year}}</title>
{% endblock title %}
{% block content %}

<div class="iBook">

<h2>Часть 4. ЭНДШПИЛЬ</h2>

<ul>
  <li><a class="line0" href="{% url 'page-view' book.root_dir|add:'/4-1-00-peshechnyj-endshpil.htm' %}">Пешечный эндшпиль</a></li>
    <ul>
    <li><a class="line0" href="{% url 'page-view' book.root_dir|add:'/4-1-01-oppoziciia.htm' %}">Оппозиция</a></li>
    <li><a class="line0" href="{% url 'page-view' book.root_dir|add:'/4-1-02-manevr-reti.htm' %}">Маневр Рети</a></li>
    <li><a class="line0" href="{% url 'page-view' book.root_dir|add:'/4-1-03-treugolnik.htm' %}">Треугольник</a></li>
    <li><a class="line0" href="{% url 'page-view' book.root_dir|add:'/4-1-04-ozhidanie-neozhidannogo.htm' %}">Ожидание неожиданного</a></li>
    <li><a class="line0" href="{% url 'page-view' book.root_dir|add:'/4-1-05-shahmaty-bolshe-chem-prosto-schet.htm' %}">Шахматы - больше, чем просто счет</a></li>
    </ul>
  <li><a class="line0" href="{% url 'page-view' book.root_dir|add:'/4-2-00-ladejnyj-endshpil.htm' %}">Ладейный эндшпиль</a></li>
    <ul>
    <li><a class="line0" href="{% url 'page-view' book.root_dir|add:'/4-2-01-ladia-i-peshka-protiv-ladi.htm' %}">Ладья и пешка против ладьи</a></li>
    <li><a class="line0" href="{% url 'page-view' book.root_dir|add:'/4-2-02-lishniaia-peshka.htm' %}">Лишняя пешка</a></li>
    <li><a class="line0" href="{% url 'page-view' book.root_dir|add:'/4-2-03-pozicionnyj-pereves.htm' %}">Позиционный перевес</a></li>
    </ul>
  <li><a class="line0" href="{% url 'page-view' book.root_dir|add:'/4-3-00-legkofigurnye-okonchaniia.htm' %}">Легкофигурные окончания</a></li>
    <ul>
    <li><a class="line0" href="{% url 'page-view' book.root_dir|add:'/4-3-01-konevye-okonchaniia.htm' %}">Коневые окончания</a></li>
    <li><a class="line0" href="{% url 'page-view' book.root_dir|add:'/4-3-02-endshpil-slon-protiv-konia.htm' %}">Эндшпиль «слон против коня»</a></li>
    <li><a class="line0" href="{% url 'page-view' book.root_dir|add:'/4-3-03-slonovye-okonchaniia.htm' %}">Слоновые окончания</a></li>
    </ul>
  <li><a class="line0" href="{% url 'page-view' book.root_dir|add:'/4-4-00-ferzevye-okonchaniia.htm' %}">Ферзевые окончания</a></li>
    <ul>
    <li><a class="line0" href="{% url 'page-view' book.root_dir|add:'/4-4-01-ferz-i-peshka-protiv-ferzia.htm' %}">Ферзь и пешка против ферзя</a></li>
    <li><a class="line0" href="{% url 'page-view' book.root_dir|add:'/4-4-02-lishniaia-peshka.htm' %}">Лишняя пешка</a></li>
    </ul>
  <li><a class="line0" href="{% url 'page-view' book.root_dir|add:'/4-5-00-rasprostranennye-endshpili-bez-peshek.htm' %}">Распространенные эндшпили без пешек</a></li>
    <ul>
    <li><a class="line0" href="{% url 'page-view' book.root_dir|add:'/4-5-01-ladia-protiv-legkoj-figury.htm' %}">Ладья против легкой фигуры</a></li>
    <li><a class="line0" href="{% url 'page-view' book.root_dir|add:'/4-5-02-ladia-i-legkaia-figura-protiv-ladi.htm' %}">Ладья и легкая фигура против ладьи</a></li>
    </ul>
  <li><a class="line0" href="{% url 'page-view' book.root_dir|add:'/4-6-00-igra-do-padeniia-flazhka.htm' %}">Игра до падения флажка</a></li>
</ul>

<div class="message">
<p>Многие партии решаются в эндшпиле, особенно между шахматистами примерно равной силы. Эндшпильное мастерство так же важно, как умение разыгрывать дебют и миттельшпиль. Но хотя эта истина повторяется снова и снова, эндшпиль при изучении шахмат все еще остается «заброшенным полем», особенно в среде любителей.</p>
<p>Раньше у них было определенное оправдание, поскольку партии откладывались и при домашнем анализе можно было заглянуть в справочник, но сейчас доигрывания вышли из практики. Наиболее распространенный метод окончания затянувшихся партий - быстрый финиш (например, после 60-го хода шахматистам прибавляется по 15 минут до конца партии). Практический эффект от этих изменений таков, что игроки не могут больше рассуждать следующим образом: «Если мы дойдем до эндшпиля, я поработаю над ним дома». Быстрый контроль означает, что вы должны знать правильный план заранее. Более того, очень важна хорошая осведомленность. Если вам приходится искать в своей памяти полузабытый, но жизненно важный кусок информации, то есть шанс, что вы просрочите время до того, как память его выдаст.</p>
<p>Поэтому данная глава является кратким путеводителем по абсолютно необходимым для эндшпиля знаниям.</p>
</div>

</div> <!-- iBook -->
{% endblock content %}

