{% extends '../../base.htm' %}
{% load static %}
{% block title %}
<title>Предисловие Гроссмейстера Рублевского | {{book.title}} | {%for author in book.authors.all%} {%if author.first_name%} {{author.first_name}} {%endif%} {%if author.second_name%} {{author.second_name}} {%endif%} {%if forloop.counter == book.authors.all.count%} {{author.last_name}} {%else%} {{author.last_name}}, {%endif%} {%endfor%} | {{book.year}}</title>
{% endblock title %}
{% block content %}

<div class="iBook">

<div class="section">
<div class="chessBoard small floater" data-start-fen="rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w KQkq - 0 1"></div>
<div class="score">
 <span class="line0" onclick='loadMove("rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w KQkq - 0 1", this, ""); '>[...]</span> 
<h2>ПРЕДИСЛОВИЕ ГРОССМЕЙСТЕРА РУБЛЕВСКОГО</h2>
<p>В огромном потоке дебютных справочников книги о сицилианской защите занимают особое место ввиду фантастической популярности этого начала.</p>
<p>Кто-то посвящает объемные монографии отдельным системам, кто-то пытается рассказать, как получить белыми перевес во всех вариантах "сицилианки". У кого-то все рецепты по достижению преимущества умещаются в одну книгу, а кто-то выпускает объемный многотомник.</p>
<p>Но дебютные справочники, посвященные такому динамично развивающемуся дебюту (каждый месяц играется множество ценных для теории партий), быстро стареют, и страницы вариантов утрачивают свое значение. Изучение отдельных схем, не подкрепленное пониманием общих принципов разыгрывания достаточно широкого спектра позиций, приносит немного пользы.</p>
<p>Но как сформулировать принципы игры в, казалось бы, совершенно непохожих друг на друга позициях?</p>
<p>Решению этой непростой задачи и посвящена книга моего друга гроссмейстера Юрия Яковича. Эрудиция и талант автора слишком рано, на мой взгляд, сосредоточившегося в основном на тренерской работе помогли создать блестящий учебник по миттельшпилю.</p>
<p>Все знают насколько трудно сейчас разграничить различные стадии партии. В этой книге вы найдете множество интересных, нигде не публиковавшихся ранее дебютных идей, анализов и находок.</p>
<p>Я с детства играю сицилианскую защиту за оба цвета, но, к сожалению, раньше никто не пытался классифицировать сложнейшие миттелыппильные позиции, возникающие на выходе из дебюта, дать рекомендации по методам игры в них, соотнося с конкретными вариантами. Никто просто не брался за такой "неподъемный" труд, и приходилось по крупицам, изучая различные книги, журналы, турнирные сборники, собирать необходимую информацию.</p>
<p>Я искренне рад за читателей, независимо от их квалификации, в руки которых попадет эта книга, потому что сам с огромным интересом прочел ее от начала до конца, открыв множество интересных идей, на которые прежде не обращал внимания.</p>
<p>Чего стоит только анализ ключевых моментов партии Таль-Ларсен, заставляющий по-новому оценить события, случившиеся в той великой партии. Тридцать лет блестящие аналитики и присоединившиеся к ним в последние годы пользователи мощных компьютеров доказывали, что Таль блефовал и при правильной игре противника должен был потерпеть поражение.</p>
<p>Юрий показывает, что интуиция гения часто значит больше, чем перебор вариантов на недоступные человеку глубины, что вера в свои силы и способности, основанная на понимании общих стратегических и тактических идей, способна творить чудеса.</p>
<p>Надеюсь, что и Вам эта книга доставит огромное удовольствие!</p>
<p style="text-align:right;"><i>Сергей РУБЛЕВСКИЙ</i></p>
</div> <!-- score -->
</div> <!-- section -->

</div> <!-- iBook -->
{% endblock content %}
