{% extends '../../base.htm' %}
{% load static %}
{% block title %}
<title>Часть 1. Черные пешки d6, e6 против белой пешки e4 | {{book.title}} | {%for author in book.authors.all%} {%if author.first_name%} {{author.first_name}} {%endif%} {%if author.second_name%} {{author.second_name}} {%endif%} {%if forloop.counter == book.authors.all.count%} {{author.last_name}} {%else%} {{author.last_name}}, {%endif%} {%endfor%} | {{book.year}}</title>
{% endblock title %}
{% block content %}

<div class="iBook">

<div class="section">
<div class="chessBoard small floater" data-start-fen="rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w KQkq - 0 1"></div>
<div class="score">
 <span class="line0" onclick='loadMove("rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w KQkq - 0 1", this, ""); '>[...]</span> 
<h2>Часть 1. Черные пешки d6, e6 против белой пешки e4</h2>
<div class="chessBoard analysis nobuttons" data-start-fen="8/pp3ppp/3pp3/8/4P3/8/PPP2PPP/8 w - - 0 1"></div>
<p>Чаще всего расположение черных пешек на e6 и d6 ассоциируется со схевенингенским вариантом сицилианской защиты. До появления компьютерных баз данных считалось, что этот вариант впервые встретился на турнире в Схевенингене в 1923 году. Но теперь можно с уверенностью говорить о том, что еще в 19-м веке таким образом любили расставлять пешки Андерсен и Паульсен.</p>
<p>Сегодня расположение черных пешек на e6 и d6 можно встретить не только в схевенингене в чистом виде и близкой ему по духу системе Паульсена, но и в системе Найдорфа, атаке Велимировича, атаке Раузера и других схемах, о которых Андерсен и Паульсен даже не догадывались.</p>
<p>Стремясь быстрее сделать длинную рокировку, белые в первую очередь развивают фигуры ферзевого фланга - чернопольного слона и ферзя. Слон f1 трогается с места значительно позже, а иногда и вообще остается на начальной позиции, оживляясь лишь тогда, когда надо съесть прыткого коня черных, появившегося на c4, хотя в атаке Велимировича (глава 1.4) он с первых ходов выходит на активную позицию. В подавляющем большинстве случаев слон c1 развивается на e3 или g5.</p>
<p>Для усиления контроля над центром и создания плацдарма для атаки на короля белые могут двинуть свою пешку "f" на 4-ю (глава 1.2) или 3-ю (глава 1.3) горизонталь. Иногда (если позволяет противник) белым удается надвинуть свою пешку "g" до g5, оттесняя главного защитника черного монарха коня f6 без поддержки пешки "f" (глава 1.4).</p>
<p>Мы начнем рассмотрение методов атаки белых с общего для всех перечисленных пешечных структур приема - жертвы коня на d5 (глава 1.1), а затем перейдем к особенностям игры при различном расположении белых пешек.</p>

<ul>
	<li><a href="1-1-0-zhertva-konia-na-d5.htm">Глава 1.1 Жертва коня на d5<!--9--></a></li>
	<li><a href="1-2-0-chernye-peshki-d6_e6-protiv-belyh-peshek-e4_f4.htm">Глава 1.2 Черные пешки d6, e6 против белых пешек e4, f4<!--27--></a></li>
	<li><a href="1-3-0-chernye-peshki-d6_e6-protiv-belyh-peshek-e4_f3.htm">Глава 1.3 Черные пешки d6, e6 против белых пешек e4, f3<!--65--></a></li>
	<li><a href="1-4-0-belaia-peshka-g-dvizhetsia-do-g5-bez-podderzhki-drugih-peshek.htm">Глава 1.4 Белая пешка «g» движется до g5 без поддержки других пешек<!--88--></a></li>
</ul>

</div> <!-- score -->
</div> <!-- section -->

</div> <!-- iBook -->
{% endblock content %}
