{% extends '../../base.htm' %}
{% load static %}
{% block title %}
<title>Глава 5.1. Профилактическое движение пешки "g" | {{book.title}} | {%for author in book.authors.all%} {%if author.first_name%} {{author.first_name}} {%endif%} {%if author.second_name%} {{author.second_name}} {%endif%} {%if forloop.counter == book.authors.all.count%} {{author.last_name}} {%else%} {{author.last_name}}, {%endif%} {%endfor%} | {{book.year}}</title>
{% endblock title %}
{% block content %}

<div class="iBook">

<div class="section">
<div class="chessBoard small floater" data-start-fen="rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w KQkq - 0 1"></div>
<div class="score">
 <span class="line0" onclick='loadMove("rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w KQkq - 0 1", this, ""); '>[...]</span> 
<h3>Глава 5.1. Профилактическое движение пешки "g"</h3>
<h4><a name="game22">ПАРТИЯ №22</a> B76<br>Коль - Бланкенберг<br>Corr. 2007</h4>
<p>
 <span onclick='loadMove("rnbqkbnr/pppppppp/8/8/4P3/8/PPPP1PPP/RNBQKBNR b KQkq e3 0 1", this, "e2e4"); ' class="line0">1.e4</span> 
 <span onclick='loadMove("rnbqkbnr/pp1ppppp/8/2p5/4P3/8/PPPP1PPP/RNBQKBNR w KQkq c6 0 2", this, "c7c5"); ' class="line0">c5</span> 
 <span onclick='loadMove("rnbqkbnr/pp1ppppp/8/2p5/4P3/5N2/PPPP1PPP/RNBQKB1R b KQkq - 0 2", this, "g1f3"); ' class="line0">2.Кf3</span> 
 <span onclick='loadMove("rnbqkbnr/pp2pppp/3p4/2p5/4P3/5N2/PPPP1PPP/RNBQKB1R w KQkq - 0 3", this, "d7d6"); ' class="line0">d6</span> 
 <span onclick='loadMove("rnbqkbnr/pp2pppp/3p4/2p5/3PP3/5N2/PPP2PPP/RNBQKB1R b KQkq d3 0 3", this, "d2d4"); ' class="line0">3.d4</span> 
 <span onclick='loadMove("rnbqkbnr/pp2pppp/3p4/8/3pP3/5N2/PPP2PPP/RNBQKB1R w KQkq - 0 4", this, "c5d4"); ' class="line0">c:d4</span> 
 <span onclick='loadMove("rnbqkbnr/pp2pppp/3p4/8/3NP3/8/PPP2PPP/RNBQKB1R b KQkq - 0 4", this, "f3d4"); ' class="line0">4.К:d4</span> 
 <span onclick='loadMove("rnbqkb1r/pp2pppp/3p1n2/8/3NP3/8/PPP2PPP/RNBQKB1R w KQkq - 0 5", this, "g8f6"); ' class="line0">Кf6</span> 
 <span onclick='loadMove("rnbqkb1r/pp2pppp/3p1n2/8/3NP3/2N5/PPP2PPP/R1BQKB1R b KQkq - 0 5", this, "b1c3"); ' class="line0">5.Кc3</span> 
 <span onclick='loadMove("rnbqkb1r/pp2pp1p/3p1np1/8/3NP3/2N5/PPP2PPP/R1BQKB1R w KQkq - 0 6", this, "g7g6"); ' class="line0">g6</span> 
 <span onclick='loadMove("rnbqkb1r/pp2pp1p/3p1np1/8/3NP3/2N1B3/PPP2PPP/R2QKB1R b KQkq - 0 6", this, "c1e3"); ' class="line0">6.Сe3</span> 
 <span onclick='loadMove("rnbqk2r/pp2ppbp/3p1np1/8/3NP3/2N1B3/PPP2PPP/R2QKB1R w KQkq - 0 7", this, "f8g7"); ' class="line0">Сg7</span> 
 <span onclick='loadMove("rnbqk2r/pp2ppbp/3p1np1/8/3NP3/2N1B3/PPPQ1PPP/R3KB1R b KQkq - 0 7", this, "d1d2"); ' class="line0">7.Фd2</span> 
 <span onclick='loadMove("r1bqk2r/pp2ppbp/2np1np1/8/3NP3/2N1B3/PPPQ1PPP/R3KB1R w KQkq - 0 8", this, "b8c6"); ' class="line0">Кc6</span> 
 <span onclick='loadMove("r1bqk2r/pp2ppbp/2np1np1/8/3NP3/2N1BP2/PPPQ2PP/R3KB1R b KQkq - 0 8", this, "f2f3"); ' class="line0">8.f3</span> 
 <span onclick='loadMove("r1bq1rk1/pp2ppbp/2np1np1/8/3NP3/2N1BP2/PPPQ2PP/R3KB1R w KQ - 0 9", this, "e8g8"); ' class="line0">O-O</span> 
</p>
<div class="chessBoard analysis nobuttons" data-start-fen="r1bq1rk1/pp2ppbp/2np1np1/8/3NP3/2N1BP2/PPPQ2PP/R3KB1R w KQ - 0 9"></div>
<p>
 <span onclick='loadMove("r1bq1rk1/pp2ppbp/2np1np1/8/3NP1P1/2N1BP2/PPPQ3P/R3KB1R b KQ g3 0 9", this, "g2g4"); ' class="line0">9.g4</span> 
</p>
<p>Убедительные победы Анатолия Карпова над Местелом и Майлсом на турнире в Лондоне в 1982 году привели к быстрому росту популярности этого продолжения в 80-е годы прошлого века. Как уже говорилось выше, белые препятствуют продвижению <b>d6-d5</b> и захватывают пространство на королевском фланге, готовя плацдарм для атаки на черного короля. Что еще можно требовать от одного хода? Однако приходится добавить ложку дегтя в мед предыдущего высказывания. Дело в том, что часто ход g2-g4 оказывается не нужным! Ключевым в атаке на черного монарха является вскрытие линии "h", и, как мы увидим в дальнейшем при анализе партии 23 без движения пешки "g" белые вполне могут обойтись, и во многих случаях <b>g2-g4</b> оказывается банальной потерей темпа!</p>
<p>
 <span onclick='loadMove("r2q1rk1/pp2ppbp/2npbnp1/8/3NP1P1/2N1BP2/PPPQ3P/R3KB1R w KQ - 0 10", this, "c8e6"); ' class="line0">9...Сe6!</span> 
</p>
<p>В случае предварительного размена
 <span onclick='loadMove("r1bq1rk1/pp2ppbp/3p1np1/8/3nP1P1/2N1BP2/PPPQ3P/R3KB1R w KQ - 0 10", this, "c6d4"); ' class="line1">9...К:d4</span> 
 <span onclick='loadMove("r1bq1rk1/pp2ppbp/3p1np1/8/3BP1P1/2N2P2/PPPQ3P/R3KB1R b KQ - 0 10", this, "e3d4"); ' class="line1">10.С:d4</span> 
с последующим
 <span onclick='loadMove("r2q1rk1/pp2ppbp/3pbnp1/8/3BP1P1/2N2P2/PPPQ3P/R3KB1R w KQ - 0 11", this, "c8e6"); ' class="line1">10...Сe6</span> 
заслуживает внимания как
 <span onclick='loadMove("r2q1rk1/pp2ppbp/3pbnp1/8/3BP1PP/2N2P2/PPPQ4/R3KB1R b KQ h3 0 11", this, "h2h4"); ' class="line1">11.h4!?</span> 
 <span onclick='loadMove("r4rk1/pp2ppbp/3pbnp1/q7/3BP1PP/2N2P2/PPPQ4/R3KB1R w KQ - 0 12", this, "d8a5"); ' class="line1">Фa5</span> 
(на
 <span onclick='loadMove("r2q1rk1/pp2ppbp/4bnp1/3p4/3BP1PP/2N2P2/PPPQ4/R3KB1R w KQ - 0 12", this, "d6d5"); ' class="line2">11...d5?</span> 
последует
 <span onclick='loadMove("r2q1rk1/pp2ppbp/4bnp1/3p2P1/3BP2P/2N2P2/PPPQ4/R3KB1R b KQ - 0 12", this, "g4g5"); ' class="line2">12.g5</span> 
с выигрышем пешки)
 <span onclick='loadMove("r4rk1/pp2ppbp/3pbnp1/q6P/3BP1P1/2N2P2/PPPQ4/R3KB1R b KQ - 0 12", this, "h4h5"); ' class="line1">12.h5</span> 
,
так и
 <span onclick='loadMove("r2q1rk1/pp2ppbp/3pbnp1/3N4/3BP1P1/5P2/PPPQ3P/R3KB1R b KQ - 0 11", this, "c3d5"); ' class="line2">11.Кd5!?</span> 
(не допуская выхода черного ферзя на a5)
 <span onclick='loadMove("r2q1rk1/pp2ppbp/3p1np1/3b4/3BP1P1/5P2/PPPQ3P/R3KB1R w KQ - 0 12", this, "e6d5"); ' class="line2">11...С:d5</span> 
 <span onclick='loadMove("r2q1rk1/pp2ppbp/3p1np1/3P4/3B2P1/5P2/PPPQ3P/R3KB1R b KQ - 0 12", this, "e4d5"); ' class="line2">12.e:d5</span> 
 <span onclick='loadMove("2rq1rk1/pp2ppbp/3p1np1/3P4/3B2P1/5P2/PPPQ3P/R3KB1R w KQ - 0 13", this, "a8c8"); ' class="line2">Лc8</span> 
 <span onclick='loadMove("2rq1rk1/pp2ppbp/3p1np1/3P4/3B2PP/5P2/PPPQ4/R3KB1R b KQ h3 0 13", this, "h2h4"); ' class="line2">13.h4!</span> 
 <span onclick='loadMove("2r2rk1/ppq1ppbp/3p1np1/3P4/3B2PP/5P2/PPPQ4/R3KB1R w KQ - 0 14", this, "d8c7"); ' class="line2">Фc7</span> 
 <span onclick='loadMove("2r2rk1/ppq1ppbp/3p1np1/3P4/3B2PP/5P2/PPPQ3R/R3KB2 b Q - 0 14", this, "h1h2"); ' class="line2">14.Лh2!</span> 
, что принесло успех Карпову в упомянутой выше партии против Местела (Лондон 1982) и Грищуку против Накамуры тридцатью годами позже (Мемориал Таля, Москва 2012).</p>
<p>Сейчас на
 <span onclick='loadMove("r2q1rk1/pp2ppbp/2npbnp1/8/3NP1PP/2N1BP2/PPPQ4/R3KB1R b KQ h3 0 10", this, "h2h4"); ' class="line1">10.h4</span> 
уже сильно
 <span onclick='loadMove("r2q1rk1/pp2ppbp/2n1bnp1/3p4/3NP1PP/2N1BP2/PPPQ4/R3KB1R w KQ - 0 11", this, "d6d5"); ' class="line1">10...d5!</span> 
 <span onclick='loadMove("r2q1rk1/pp2ppbp/2n1bnp1/3p2P1/3NP2P/2N1BP2/PPPQ4/R3KB1R b KQ - 0 11", this, "g4g5"); ' class="line1">11.g5</span> 
 <span onclick='loadMove("r2q1rk1/pp2ppbp/2n1b1p1/3p2Pn/3NP2P/2N1BP2/PPPQ4/R3KB1R w KQ - 0 12", this, "f6h5"); ' class="line1">Кh5</span> 
с отличной игрой у черных, поэтому белым нет смысла дальше медлить с рокировкой.</p>
<p>
 <span onclick='loadMove("r2q1rk1/pp2ppbp/2npbnp1/8/3NP1P1/2N1BP2/PPPQ3P/2KR1B1R b - - 0 10", this, "e1c1"); ' class="line0">10.O-O-O</span> 
</p>
<p>Белые ослабили пешку f3, поэтому черные не опасаются
 <span onclick='loadMove("r2q1rk1/pp2ppbp/2npNnp1/8/4P1P1/2N1BP2/PPPQ3P/R3KB1R b KQ - 0 10", this, "d4e6"); ' class="line1">10.К:e6</span> 
 <span onclick='loadMove("r2q1rk1/pp2p1bp/2nppnp1/8/4P1P1/2N1BP2/PPPQ3P/R3KB1R w KQ - 0 11", this, "f7e6"); ' class="line1">f:e6</span> 
, считая, что игра по линии "f" и контроль над центром послужат достаточной компенсацией за ослабление пешеч-ной структуры.
 <span onclick='loadMove("r2q1rk1/pp2p1bp/2nppnp1/8/4P1P1/2N1BP2/PPPQ3P/2KR1B1R b - - 0 11", this, "e1c1"); ' class="line1">11.O-O-O</span> 
 <span onclick='loadMove("r2q1rk1/pp2p1bp/3ppnp1/4n3/4P1P1/2N1BP2/PPPQ3P/2KR1B1R w - - 0 12", this, "c6e5"); ' class="line1">Кe5</span> 
 <span onclick='loadMove("r2q1rk1/pp2p1bp/3ppnp1/4n3/4P1P1/2N1BP2/PPPQB2P/2KR3R b - - 0 12", this, "f1e2"); ' class="line1">12.Сe2</span> 
 <span onclick='loadMove("r1q2rk1/pp2p1bp/3ppnp1/4n3/4P1P1/2N1BP2/PPPQB2P/2KR3R w - - 0 13", this, "d8c8"); ' class="line1">Фc8!</span> 
Рано или поздно черный конь прыгнет на c4, и после его размена на слона черные хотят утвердить ферзя на активной позиции.
 <span onclick='loadMove("r1q2rk1/pp2p1bp/3ppnp1/4n3/4P1PP/2N1BP2/PPPQB3/2KR3R b - h3 0 13", this, "h2h4"); ' class="line1">13.h4</span> 
 <span onclick='loadMove("r1q2rk1/pp1np1bp/3pp1p1/4n3/4P1PP/2N1BP2/PPPQB3/2KR3R w - - 0 14", this, "f6d7"); ' class="line1">Кfd7</span> 
</p>
<div class="chessBoard analysis nobuttons" data-start-fen="r1q2rk1/pp1np1bp/3pp1p1/4n3/4P1PP/2N1BP2/PPPQB3/2KR3R w - - 0 14"></div>
<p class="caption">диаграмма для анализа №1</p>
<p>
 <span onclick='loadMove("r1q2rk1/pp1np1bp/3pp1p1/4n2P/4P1P1/2N1BP2/PPPQB3/2KR3R b - - 0 14", this, "h4h5"); ' class="line1">14.h5</span> 
, пытаясь побыстрее поставить мат.
После
 <span onclick='loadMove("r1q2rk1/pp1np1bp/3pp1p1/4n3/4PPPP/2N1B3/PPPQB3/2KR3R b - - 0 14", this, "f3f4"); ' class="line2">14.f4</span> 
 <span onclick='loadMove("r1q2rk1/pp1np1bp/3pp1p1/8/2n1PPPP/2N1B3/PPPQB3/2KR3R w - - 0 15", this, "e5c4"); ' class="line2">Кc4</span> 
 <span onclick='loadMove("r1q2rk1/pp1np1bp/3pp1p1/8/2B1PPPP/2N1B3/PPPQ4/2KR3R b - - 0 15", this, "e2c4"); ' class="line2">15.С:c4</span> 
 <span onclick='loadMove("r4rk1/pp1np1bp/3pp1p1/8/2q1PPPP/2N1B3/PPPQ4/2KR3R w - - 0 16", this, "c8c4"); ' class="line2">Ф:c4</span> 
 <span onclick='loadMove("r4rk1/pp1np1bp/3pp1p1/4P3/2q2PPP/2N1B3/PPPQ4/2KR3R b - - 0 16", this, "e4e5"); ' class="line2">16.e5</span> 
 <span onclick='loadMove("3r1rk1/pp1np1bp/3pp1p1/4P3/2q2PPP/2N1B3/PPPQ4/2KR3R w - - 0 17", this, "a8d8"); ' class="line2">Лad8!</span> 
 <span onclick='loadMove("3r1rk1/pp1np1bp/3Pp1p1/8/2q2PPP/2N1B3/PPPQ4/2KR3R b - - 0 17", this, "e5d6"); ' class="line2">17.e:d6</span> 
(ничего решающего за белых не видно и при
 <span onclick='loadMove("3r1rk1/pp1np1bp/3pp1p1/4P2P/2q2PP1/2N1B3/PPPQ4/2KR3R b - - 0 17", this, "h4h5"); ' class="line3">17.h5</span> 
 <span onclick='loadMove("3r1rk1/pp1np1bp/4p1p1/4p2P/2q2PP1/2N1B3/PPPQ4/2KR3R w - - 0 18", this, "d6e5"); ' class="line3">d:e5</span> 
 <span onclick='loadMove("3r1rk1/pp1np1bp/4p1P1/4p3/2q2PP1/2N1B3/PPPQ4/2KR3R b - - 0 18", this, "h5g6"); ' class="line3">18.h:g6</span> 
 <span onclick='loadMove("3r1rk1/pp1np1b1/4p1p1/4p3/2q2PP1/2N1B3/PPPQ4/2KR3R w - - 0 19", this, "h7g6"); ' class="line3">h:g6</span> 
)
 <span onclick='loadMove("3r1rk1/pp2p1bp/3Ppnp1/8/2q2PPP/2N1B3/PPPQ4/2KR3R w - - 0 18", this, "d7f6"); ' class="line2">17...Кf6!?</span> 
 <span onclick='loadMove("3r1rk1/pp2p1bp/3Ppnp1/8/2qQ1PPP/2N1B3/PPP5/2KR3R b - - 0 18", this, "d2d4"); ' class="line2">18.Фd4</span> 
 <span onclick='loadMove("3r1rk1/pp2p1bp/3Ppnp1/8/3q1PPP/2N1B3/PPP5/2KR3R w - - 0 19", this, "c4d4"); ' class="line2">Ф:d4</span> 
 <span onclick='loadMove("3r1rk1/pp2p1bp/3Ppnp1/8/3B1PPP/2N5/PPP5/2KR3R b - - 0 19", this, "e3d4"); ' class="line2">19.С:d4</span> 
 <span onclick='loadMove("5rk1/pp2p1bp/3rpnp1/8/3B1PPP/2N5/PPP5/2KR3R w - - 0 20", this, "d8d6"); ' class="line2">Л:d6</span> 
 <span onclick='loadMove("5rk1/pp2p1bp/3rpnp1/1N6/3B1PPP/8/PPP5/2KR3R b - - 0 20", this, "c3b5"); ' class="line2">20.Кb5</span> 
 <span onclick='loadMove("5rk1/pp2p1bp/r3pnp1/1N6/3B1PPP/8/PPP5/2KR3R w - - 0 21", this, "d6a6"); ' class="line2">Лa6</span> 
в партии <b>Nickel - Voll, Corr 2010</b> получился примерно равный острый эндшпиль со взаимными пешечными слабостями.
 <span onclick='loadMove("r1q2rk1/pp1np1bp/3pp1p1/7P/2n1P1P1/2N1BP2/PPPQB3/2KR3R w - - 0 15", this, "e5c4"); ' class="line1">14...Кc4</span> 
 <span onclick='loadMove("r1q2rk1/pp1np1bp/3pp1p1/7P/2B1P1P1/2N1BP2/PPPQ4/2KR3R b - - 0 15", this, "e2c4"); ' class="line1">15.С:c4</span> 
 <span onclick='loadMove("r4rk1/pp1np1bp/3pp1p1/7P/2q1P1P1/2N1BP2/PPPQ4/2KR3R w - - 0 16", this, "c8c4"); ' class="line1">Ф:c4</span> 
 <span onclick='loadMove("r4rk1/pp1np1bp/3pp1P1/8/2q1P1P1/2N1BP2/PPPQ4/2KR3R b - - 0 16", this, "h5g6"); ' class="line1">16.h:g6</span> 
 <span onclick='loadMove("r4rk1/pp1np1b1/3pp1p1/8/2q1P1P1/2N1BP2/PPPQ4/2KR3R w - - 0 17", this, "h7g6"); ' class="line1">h:g6</span> 
 <span onclick='loadMove("r4rk1/pp1np1b1/3pp1p1/8/2q1PPP1/2N1B3/PPPQ4/2KR3R b - - 0 17", this, "f3f4"); ' class="line1">17.f4</span> 
Не ведет к матовой атаке жертва пешки f3 -
 <span onclick='loadMove("r4rk1/pp1np1b1/3pp1p1/8/2q1P1P1/2N1BP2/PPP4Q/2KR3R b - - 0 17", this, "d2h2"); ' class="line2">17.Фh2</span> 
 <span onclick='loadMove("r5k1/pp1np1b1/3pp1p1/8/2q1P1P1/2N1Br2/PPP4Q/2KR3R w - - 0 18", this, "f8f3"); ' class="line2">Л:f3</span> 
 <span onclick='loadMove("r5k1/pp1np1bQ/3pp1p1/8/2q1P1P1/2N1Br2/PPP5/2KR3R b - - 0 18", this, "h2h7"); ' class="line2">18.Фh7+</span> 
 <span onclick='loadMove("r7/pp1npkbQ/3pp1p1/8/2q1P1P1/2N1Br2/PPP5/2KR3R w - - 0 19", this, "g8f7"); ' class="line2">Крf7</span> 
 <span onclick='loadMove("r7/pp1npkbQ/3pp1pB/8/2q1P1P1/2N2r2/PPP5/2KR3R b - - 0 19", this, "e3h6"); ' class="line2">19.Сh6</span> 
 <span onclick='loadMove("6r1/pp1npkbQ/3pp1pB/8/2q1P1P1/2N2r2/PPP5/2KR3R w - - 0 20", this, "a8g8"); ' class="line2">Лg8</span> 
, и черные отбиваются Martello - Simmelink, Corr 2003.
Слишком медленно
 <span onclick='loadMove("r4rk1/pp1np1b1/3pp1p1/8/2q1P1P1/2N1BP1R/PPPQ4/2KR4 b - - 0 17", this, "h1h3"); ' class="line2">17.Лh3?!</span> 
из-за
 <span onclick='loadMove("r4rk1/pp1np3/3pp1p1/8/2q1P1P1/2b1BP1R/PPPQ4/2KR4 w - - 0 18", this, "g7c3"); ' class="line2">17...С:c3!</span> 
(без предрассудков)
 <span onclick='loadMove("r4rk1/pp1np3/3pp1p1/8/2q1P1P1/2Q1BP1R/PPP5/2KR4 b - - 0 18", this, "d2c3"); ' class="line2">18.Ф:c3</span> 
(или
 <span onclick='loadMove("r4rk1/pp1np3/3pp1p1/8/2q1P1P1/2P1BP1R/P1PQ4/2KR4 b - - 0 18", this, "b2c3"); ' class="line3">18.b:c3</span> 
 <span onclick='loadMove("2r2rk1/pp1np3/3pp1p1/8/2q1P1P1/2P1BP1R/P1PQ4/2KR4 w - - 0 19", this, "a8c8"); ' class="line3">Лac8</span> 
 <span onclick='loadMove("2r2rk1/pp1np3/3pp1p1/8/2q1P1P1/2P1BP1R/P1P4Q/2KR4 b - - 0 19", this, "d2h2"); ' class="line3">19.Фh2</span> 
 <span onclick='loadMove("2r2rk1/pp1np3/3pp1p1/8/4P1P1/2q1BP1R/P1P4Q/2KR4 w - - 0 20", this, "c4c3"); ' class="line3">Ф:c3</span> 
с преимуществом у черных)
 <span onclick='loadMove("r4rk1/pp1np3/3pp1p1/8/4P1P1/2q1BP1R/PPP5/2KR4 w - - 0 19", this, "c4c3"); ' class="line2">18...Ф:c3</span> 
 <span onclick='loadMove("r4rk1/pp1np3/3pp1p1/8/4P1P1/2P1BP1R/P1P5/2KR4 b - - 0 19", this, "b2c3"); ' class="line2">19.b:c3</span> 
 <span onclick='loadMove("r4rk1/pp1np3/3p2p1/4p3/4P1P1/2P1BP1R/P1P5/2KR4 w - - 0 20", this, "e6e5"); ' class="line2">e5</span> 
с перевесом в окончании Ефимов,А - Глушенков, Corr 2012.
 <span onclick='loadMove("r4rk1/pp1np3/3pp1p1/8/2q1PPP1/2b1B3/PPPQ4/2KR3R w - - 0 18", this, "g7c3"); ' class="line1">17...С:c3!</span> 
и снова черные создают контригру, разменивая чернопольного слона.
 <span onclick='loadMove("r4rk1/pp1np3/3pp1p1/8/2q1PPP1/2P1B3/P1PQ4/2KR3R b - - 0 18", this, "b2c3"); ' class="line1">18.b:c3</span> 
 <span onclick='loadMove("r4rk1/pp1np3/3pp1p1/8/4PPP1/2P1B3/q1PQ4/2KR3R w - - 0 19", this, "c4a2"); ' class="line1">Ф:a2</span> 
(заслуживает внимания и
 <span onclick='loadMove("2r2rk1/pp1np3/3pp1p1/8/2q1PPP1/2P1B3/P1PQ4/2KR3R w - - 0 19", this, "a8c8"); ' class="line2">18...Лac8</span> 
)
 <span onclick='loadMove("r4rk1/pp1np3/3pp1p1/8/4PPP1/2P1B3/q1P4Q/2KR3R b - - 0 19", this, "d2h2"); ' class="line1">19.Фh2</span> 
 <span onclick='loadMove("r4r2/pp1npk2/3pp1p1/8/4PPP1/2P1B3/q1P4Q/2KR3R w - - 0 20", this, "g8f7"); ' class="line1">Крf7</span> 
 <span onclick='loadMove("r4r2/pp1npk1Q/3pp1p1/8/4PPP1/2P1B3/q1P5/2KR3R b - - 0 20", this, "h2h7"); ' class="line1">20.Фh7+</span> 
 <span onclick='loadMove("r3kr2/pp1np2Q/3pp1p1/8/4PPP1/2P1B3/q1P5/2KR3R w q - 0 21", this, "f7e8"); ' class="line1">Крe8</span> 
 <span onclick='loadMove("r3kr2/pp1np2Q/3pp1p1/4P3/5PP1/2P1B3/q1P5/2KR3R b q - 0 21", this, "e4e5"); ' class="line1">21.e5</span> 
 <span onclick='loadMove("r3kr2/pp1np2Q/4p1p1/4p3/5PP1/2P1B3/q1P5/2KR3R w q - 0 22", this, "d6e5"); ' class="line1">d:e5</span> 
 <span onclick='loadMove("r3kr2/pp1np3/4p1Q1/4p3/5PP1/2P1B3/q1P5/2KR3R b q - 0 22", this, "h7g6"); ' class="line1">22.Ф:g6+</span> 
 <span onclick='loadMove("r2k1r2/pp1np3/4p1Q1/4p3/5PP1/2P1B3/q1P5/2KR3R w - - 0 23", this, "e8d8"); ' class="line1">Крd8</span> 
 <span onclick='loadMove("r2k1r2/pp1np3/4p3/4p3/5PP1/2PQB3/q1P5/2KR3R b - - 0 23", this, "g6d3"); ' class="line1">23.Фd3</span> 
 <span onclick='loadMove("r2k1r2/pp1np3/4p3/4p3/5PP1/2PQB3/2P5/q1KR3R w - - 0 24", this, "a2a1"); ' class="line1">Фa1+</span> 
 <span onclick='loadMove("r2k1r2/pp1np3/4p3/4p3/5PP1/2PQB3/2PK4/q2R3R b - - 0 24", this, "c1d2"); ' class="line1">24.Крd2</span> 
 <span onclick='loadMove("r2k1r2/pp1np3/q3p3/4p3/5PP1/2PQB3/2PK4/3R3R w - - 0 25", this, "a1a6"); ' class="line1">Фa6</span> 
 <span onclick='loadMove("r2k1r2/pp1np3/Q3p3/4p3/5PP1/2P1B3/2PK4/3R3R b - - 0 25", this, "d3a6"); ' class="line1">25.Ф:a6</span> 
 <span onclick='loadMove("r2k1r2/p2np3/p3p3/4p3/5PP1/2P1B3/2PK4/3R3R w - - 0 26", this, "b7a6"); ' class="line1">b:a6</span> 
.</p>
<p>После острейшей схватки в партии Папенин - Оливейра, 2009 Corr на доске возникло равное окончание.</p>
<p>
 <span onclick='loadMove("r2q1rk1/pp2ppbp/3pbnp1/8/3nP1P1/2N1BP2/PPPQ3P/2KR1B1R w - - 0 11", this, "c6d4"); ' class="line0">10...К:d4</span> 
 <span onclick='loadMove("r2q1rk1/pp2ppbp/3pbnp1/8/3BP1P1/2N2P2/PPPQ3P/2KR1B1R b - - 0 11", this, "e3d4"); ' class="line0">11.С:d4</span> 
 <span onclick='loadMove("r4rk1/pp2ppbp/3pbnp1/q7/3BP1P1/2N2P2/PPPQ3P/2KR1B1R w - - 0 12", this, "d8a5"); ' class="line0">Фa5!</span> 
</p>
<p>Именно так! В отличие от позиций, рассмотренных в разделах 1-3, немедленное движение пешек ферзевого фланге в "Драконе" не дает черным достаточной контригры (смотри примечания к 11-му ходу черных в партии 23). После того, как черные в конце концов сыграют <b>b5-b4</b>, белый конь с комфортом переместится на d5. И в отличие от партий 1 и 2, это перемещение произойдет без материальных жертв. Поэтому черные сначала развивают фигурное давление на позицию рокировки, вызывая <b>a2-a3</b>, а лишь затем приступают к пешечному штурму.</p>
<p>
 <span onclick='loadMove("r4rk1/pp2ppbp/3pbnp1/q7/3BP1P1/P1N2P2/1PPQ3P/2KR1B1R b - - 0 12", this, "a2a3"); ' class="line0">12.a3</span> 
</p>
<p>Ничего принципиально не меняет
 <span onclick='loadMove("r4rk1/pp2ppbp/3pbnp1/q7/3BP1P1/2N2P2/PPPQ3P/1K1R1B1R b - - 0 12", this, "c1b1"); ' class="line1">12.Крb1</span> 
(угрожая
 <!--span onclick='loadMove("r4rk1/pp2ppbp/3pbnp1/q7/3BP1P1/2N2P2/PPPQ3P/1K1R1B1R w - - 0 13", this, "c1b1"); ' class="line2">12...z0</span--> 
 <span onclick='loadMove("r4rk1/pp2ppbp/3pbnp1/q2N4/3BP1P1/5P2/PPPQ3P/1K1R1B1R b - - 0 13", this, "c3d5"); ' class="line2">13.Кd5</span> 
)
 <span onclick='loadMove("r1r3k1/pp2ppbp/3pbnp1/q7/3BP1P1/2N2P2/PPPQ3P/1K1R1B1R w - - 0 13", this, "f8c8"); ' class="line1">12...Лfc8</span> 
(с идеей в удобный момент пожертвовать качество на c3)
 <span onclick='loadMove("r1r3k1/pp2ppbp/3pbnp1/q7/3BP1P1/P1N2P2/1PPQ3P/1K1R1B1R b - - 0 13", this, "a2a3"); ' class="line1">13.a3</span> 
 <span onclick='loadMove("1rr3k1/pp2ppbp/3pbnp1/q7/3BP1P1/P1N2P2/1PPQ3P/1K1R1B1R w - - 0 14", this, "a8b8"); ' class="line1">Лab8</span> 
.</p>
<p>
 <span onclick='loadMove("1r3rk1/pp2ppbp/3pbnp1/q7/3BP1P1/P1N2P2/1PPQ3P/2KR1B1R w - - 0 13", this, "a8b8"); ' class="line0">12...Лab8</span> 
 <span onclick='loadMove("1r3rk1/pp2ppbp/3pbnp1/q7/3BP1P1/P1N2P2/1PPQ3P/1K1R1B1R b - - 0 13", this, "c1b1"); ' class="line0">13.Крb1</span> 
 <span onclick='loadMove("1rr3k1/pp2ppbp/3pbnp1/q7/3BP1P1/P1N2P2/1PPQ3P/1K1R1B1R w - - 0 14", this, "f8c8"); ' class="line0">Лfc8!</span> 
</p>
<p>Конечно не
 <span onclick='loadMove("1r3rk1/p3ppbp/3pbnp1/qp6/3BP1P1/P1N2P2/1PPQ3P/1K1R1B1R w - b6 0 14", this, "b7b5"); ' class="line1">13...b5?</span> 
из-за
 <span onclick='loadMove("1r3rk1/p3ppbp/3pbnp1/qp1N4/3BP1P1/P4P2/1PPQ3P/1K1R1B1R b - - 0 14", this, "c3d5"); ' class="line1">14.Кd5</span> 
.</p>
<p>
 <span onclick='loadMove("1rr3k1/pp2ppbp/3pbnp1/q7/3BP1PP/P1N2P2/1PPQ4/1K1R1B1R b - h3 0 14", this, "h2h4"); ' class="line0">14.h4</span> 
</p>
<p>К быстрой ничьей ведет
 <span onclick='loadMove("1rr3k1/pp2ppbp/3pbnp1/q2N4/3BP1P1/P4P2/1PPQ3P/1K1R1B1R b - - 0 14", this, "c3d5"); ' class="line1">14.Кd5</span> 
 <span onclick='loadMove("1rr3k1/pp2ppbp/3pbnp1/3N4/3BP1P1/P4P2/1PPq3P/1K1R1B1R w - - 0 15", this, "a5d2"); ' class="line1">Ф:d2</span> 
 <span onclick='loadMove("1rr3k1/pp2ppbp/3pbnp1/3N4/3BP1P1/P4P2/1PPR3P/1K3B1R b - - 0 15", this, "d1d2"); ' class="line1">15.Л:d2</span> 
 <span onclick='loadMove("1rr3k1/pp2ppbp/3pb1p1/3n4/3BP1P1/P4P2/1PPR3P/1K3B1R w - - 0 16", this, "f6d5"); ' class="line1">К:d5</span> 
 <span onclick='loadMove("1rr3k1/pp2ppBp/3pb1p1/3n4/4P1P1/P4P2/1PPR3P/1K3B1R b - - 0 16", this, "d4g7"); ' class="line1">16.С:g7</span> 
(
 <span onclick='loadMove("1rr3k1/pp2ppbp/3pb1p1/3P4/3B2P1/P4P2/1PPR3P/1K3B1R b - - 0 16", this, "e4d5"); ' class="line2">16.e:d5?</span> 
является зевком пешки, так как после
 <span onclick='loadMove("1rr3k1/pp2ppbp/3p2p1/3b4/3B2P1/P4P2/1PPR3P/1K3B1R w - - 0 17", this, "e6d5"); ' class="line2">16...С:d5</span> 
 <span onclick='loadMove("1rr3k1/pp2ppBp/3p2p1/3b4/6P1/P4P2/1PPR3P/1K3B1R b - - 0 17", this, "d4g7"); ' class="line2">17.С:g7</span> 
черные располагают промежуточным
 <span onclick='loadMove("1rr3k1/pp2ppBp/3p2p1/8/6P1/P4b2/1PPR3P/1K3B1R w - - 0 18", this, "d5f3"); ' class="line2">17...С:f3!</span> 
)
 <span onclick='loadMove("1rr3k1/pp2ppBp/3pb1p1/8/4P1P1/P3nP2/1PPR3P/1K3B1R w - - 0 17", this, "d5e3"); ' class="line1">16...Кe3!?</span> 
</p>
<p>Ничья
(<b>Ананд - Каспаров, Нью Йорк 1995</b>).</p>
<p>
 <span onclick='loadMove("1rr3k1/p3ppbp/3pbnp1/qp6/3BP1PP/P1N2P2/1PPQ4/1K1R1B1R w - b6 0 15", this, "b7b5"); ' class="line0">14...b5</span> 
</p>
<div class="chessBoard analysis nobuttons" data-start-fen="1rr3k1/p3ppbp/3pbnp1/qp6/3BP1PP/P1N2P2/1PPQ4/1K1R1B1R w - b6 0 15"></div>
<p>
 <span onclick='loadMove("1rr3k1/p3ppbp/3pbnp1/qp1N4/3BP1PP/P4P2/1PPQ4/1K1R1B1R b - - 0 15", this, "c3d5"); ' class="line0">15.Кd5</span> 
</p>
<p>Печальная необходимость. Белые вынуждены переходить в равное окончание, поскольку в атаке черные значительно их опережают.</p>
<p>На
 <span onclick='loadMove("1rr3k1/p3ppbp/3pbnp1/qp5P/3BP1P1/P1N2P2/1PPQ4/1K1R1B1R b - - 0 15", this, "h4h5"); ' class="line1">15.h5?</span> 
последует
 <span onclick='loadMove("1rr3k1/p3ppbp/3pbnp1/q6P/1p1BP1P1/P1N2P2/1PPQ4/1K1R1B1R w - - 0 16", this, "b5b4"); ' class="line1">15...b4!</span> 
со следующими возможными вариантами:</p>
<p>(a)
 <span onclick='loadMove("1rr3k1/p3ppbp/3pbnp1/q2N3P/1p1BP1P1/P4P2/1PPQ4/1K1R1B1R b - - 0 16", this, "c3d5"); ' class="line2">16.Кd5</span> 
 <span onclick='loadMove("1rr3k1/p3ppbp/3pb1p1/q2n3P/1p1BP1P1/P4P2/1PPQ4/1K1R1B1R w - - 0 17", this, "f6d5"); ' class="line2">К:d5</span> 
 <span onclick='loadMove("1rr3k1/p3ppBp/3pb1p1/q2n3P/1p2P1P1/P4P2/1PPQ4/1K1R1B1R b - - 0 17", this, "d4g7"); ' class="line2">17.С:g7</span> 
(
 <span onclick='loadMove("1rr3k1/p3ppbp/3pb1p1/q2P3P/1p1B2P1/P4P2/1PPQ4/1K1R1B1R b - - 0 17", this, "e4d5"); ' class="line3">17.e:d5</span> 
 <span onclick='loadMove("1rr3k1/p3ppbp/3pb1p1/3q3P/1p1B2P1/P4P2/1PPQ4/1K1R1B1R w - - 0 18", this, "a5d5"); ' class="line3">Ф:d5</span> 
)
 <span onclick='loadMove("1rr3k1/p3ppBp/3pb1p1/q6P/1p2P1P1/P1n2P2/1PPQ4/1K1R1B1R w - - 0 18", this, "d5c3"); ' class="line2">17...Кc3+</span> 
 <span onclick='loadMove("1rr3k1/p3ppBp/3pb1p1/q6P/1p2P1P1/P1n2P2/1PPQ4/K2R1B1R b - - 0 18", this, "b1a1"); ' class="line2">18.Крa1</span> 
 <span onclick='loadMove("1rr3k1/p3ppBp/3pb1p1/q6P/4P1P1/p1n2P2/1PPQ4/K2R1B1R w - - 0 19", this, "b4a3"); ' class="line2">b:a3</span> 
 <span onclick='loadMove("1rr3k1/p3ppBp/3pb1p1/q6P/4P1P1/pPn2P2/2PQ4/K2R1B1R b - - 0 19", this, "b2b3"); ' class="line2">19.b3</span> 
 <span onclick='loadMove("1rr5/p3ppkp/3pb1p1/q6P/4P1P1/pPn2P2/2PQ4/K2R1B1R w - - 0 20", this, "g8g7"); ' class="line2">Кр:g7</span> 
 <span onclick='loadMove("1rr5/p3ppkp/3pb1P1/q7/4P1P1/pPn2P2/2PQ4/K2R1B1R b - - 0 20", this, "h5g6"); ' class="line2">20.h:g6</span> 
 <span onclick='loadMove("1rr5/p3p1kp/3pb1p1/q7/4P1P1/pPn2P2/2PQ4/K2R1B1R w - - 0 21", this, "f7g6"); ' class="line2">f:g6</span> 
;</p>
<p>(b)
 <span onclick='loadMove("1rr3k1/p3ppbp/3pbnp1/q6P/1p1BP1P1/P4P2/1PPQN3/1K1R1B1R b - - 0 16", this, "c3e2"); ' class="line2">16.Кe2</span> 
 <span onclick='loadMove("1rr3k1/p3ppbp/3pbnp1/7P/qp1BP1P1/P4P2/1PPQN3/1K1R1B1R w - - 0 17", this, "a5a4"); ' class="line2">Фa4</span> 
 <span onclick='loadMove("1rr3k1/p3ppbp/3pbnpP/8/qp1BP1P1/P4P2/1PPQN3/1K1R1B1R b - - 0 17", this, "h5h6"); ' class="line2">17.h6</span> 
 <span onclick='loadMove("1rr3k1/p3ppbp/3pbnpP/8/q2BP1P1/p4P2/1PPQN3/1K1R1B1R w - - 0 18", this, "b4a3"); ' class="line2">b:a3</span> 
;</p>
<p>(c)
 <span onclick='loadMove("1rr3k1/p3ppbp/3pbnp1/q6P/1p1BP1P1/P4P2/NPPQ4/1K1R1B1R b - - 0 16", this, "c3a2"); ' class="line2">16.Кa2</span> 
 <span onclick='loadMove("1rr3k1/p3ppbp/3pbnp1/7P/qp1BP1P1/P4P2/NPPQ4/1K1R1B1R w - - 0 17", this, "a5a4"); ' class="line2">Фa4</span> 
 <span onclick='loadMove("1rr3k1/p3ppbp/3pbnP1/8/qp1BP1P1/P4P2/NPPQ4/1K1R1B1R b - - 0 17", this, "h5g6"); ' class="line2">17.h:g6</span> 
 <span onclick='loadMove("1rr3k1/p3ppb1/3pbnp1/8/qp1BP1P1/P4P2/NPPQ4/1K1R1B1R w - - 0 18", this, "h7g6"); ' class="line2">h:g6</span> 
 <span onclick='loadMove("1rr3k1/p3ppb1/3pbnp1/6P1/qp1BP3/P4P2/NPPQ4/1K1R1B1R b - - 0 18", this, "g4g5"); ' class="line2">18.g5</span> 
 <span onclick='loadMove("1rr3k1/p3ppb1/3p1np1/6P1/qp1BP3/P4P2/bPPQ4/1K1R1B1R w - - 0 19", this, "e6a2"); ' class="line2">С:a2+</span> 
 <span onclick='loadMove("1rr3k1/p3ppb1/3p1np1/6P1/qp1BP3/P4P2/KPPQ4/3R1B1R b - - 0 19", this, "b1a2"); ' class="line2">19.Кр:a2</span> 
 <span onclick='loadMove("1r4k1/p3ppb1/3p1np1/6P1/qp1BP3/P4P2/KPrQ4/3R1B1R w - - 0 20", this, "c8c2"); ' class="line2">Л:c2</span> 
 <span onclick='loadMove("1r4k1/p3ppb1/3p1Pp1/8/qp1BP3/P4P2/KPrQ4/3R1B1R b - - 0 20", this, "g5f6"); ' class="line2">20.g:f6</span> 
 <span onclick='loadMove("1r4k1/p3ppb1/3p1Pp1/8/1p1BP3/q4P2/KPrQ4/3R1B1R w - - 0 21", this, "a4a3"); ' class="line2">Ф:a3+</span> 
;</p>
<p>(d)
 <span onclick='loadMove("1rr3k1/p3ppbp/3pbnp1/q6P/1P1BP1P1/2N2P2/1PPQ4/1K1R1B1R b - - 0 16", this, "a3b4"); ' class="line2">16.a:b4</span> 
 <span onclick='loadMove("1rr3k1/p3ppbp/3pbnp1/7P/1q1BP1P1/2N2P2/1PPQ4/1K1R1B1R w - - 0 17", this, "a5b4"); ' class="line2">Ф:b4</span> 
 <span onclick='loadMove("1rr3k1/p3ppbp/3pbnp1/3N3P/1q1BP1P1/5P2/1PPQ4/1K1R1B1R b - - 0 17", this, "c3d5"); ' class="line2">17.Кd5</span> 
 <span onclick='loadMove("1rr3k1/p3ppbp/3pb1p1/3n3P/1q1BP1P1/5P2/1PPQ4/1K1R1B1R w - - 0 18", this, "f6d5"); ' class="line2">К:d5</span> 
 <span onclick='loadMove("1rr3k1/p3ppbp/3pb1p1/3P3P/1q1B2P1/5P2/1PPQ4/1K1R1B1R b - - 0 18", this, "e4d5"); ' class="line2">18.e:d5</span> 
 <span onclick='loadMove("1rr3k1/p3ppbp/3p2p1/3b3P/1q1B2P1/5P2/1PPQ4/1K1R1B1R w - - 0 19", this, "e6d5"); ' class="line2">С:d5</span> 
 <span onclick='loadMove("1rr3k1/p3ppbp/3p2p1/3b3P/1Q1B2P1/5P2/1PP5/1K1R1B1R b - - 0 19", this, "d2b4"); ' class="line2">19.Ф:b4</span> 
 <span onclick='loadMove("2r3k1/p3ppbp/3p2p1/3b3P/1r1B2P1/5P2/1PP5/1K1R1B1R w - - 0 20", this, "b8b4"); ' class="line2">Л:b4</span> 
 <span onclick='loadMove("2r3k1/p3ppBp/3p2p1/3b3P/1r4P1/5P2/1PP5/1K1R1B1R b - - 0 20", this, "d4g7"); ' class="line2">20.С:g7</span> 
 <span onclick='loadMove("2r3k1/p3ppBp/3p2p1/7P/1r4P1/5b2/1PP5/1K1R1B1R w - - 0 21", this, "d5f3"); ' class="line2">С:f3</span> 
.</p>
<p>Во всех случаях с решающим перевесом у черных.</p>
<p>
 <span onclick='loadMove("1rr3k1/p3ppbp/3pbnp1/1p1N4/3BP1PP/P4P2/1PPq4/1K1R1B1R w - - 0 16", this, "a5d2"); ' class="line0">15...Ф:d2</span> 
 <span onclick='loadMove("1rr3k1/p3ppbp/3pbnp1/1p1N4/3BP1PP/P4P2/1PPR4/1K3B1R b - - 0 16", this, "d1d2"); ' class="line0">16.Л:d2</span> 
</p>
<div class="chessBoard analysis nobuttons" data-start-fen="1rr3k1/p3ppbp/3pbnp1/1p1N4/3BP1PP/P4P2/1PPR4/1K3B1R b - - 0 16"></div>
<p>
 <span onclick='loadMove("1rr3k1/p3ppbp/3p1np1/1p1b4/3BP1PP/P4P2/1PPR4/1K3B1R w - - 0 17", this, "e6d5"); ' class="line0">16...С:d5</span> 
</p>
<p>Желающим пощекотать нервы можно рекомендовать
 <span onclick='loadMove("1rr3k1/p3ppbp/3pb1p1/1p1n4/3BP1PP/P4P2/1PPR4/1K3B1R w - - 0 17", this, "f6d5"); ' class="line1">16...К:d5</span> 
 <span onclick='loadMove("1rr3k1/p3ppbp/3pb1p1/1p1P4/3B2PP/P4P2/1PPR4/1K3B1R b - - 0 17", this, "e4d5"); ' class="line1">17.e:d5</span> 
(к равенству ведет
 <span onclick='loadMove("1rr3k1/p3ppBp/3pb1p1/1p1n4/4P1PP/P4P2/1PPR4/1K3B1R b - - 0 17", this, "d4g7"); ' class="line2">17.С:g7</span> 
 <span onclick='loadMove("1rr3k1/p3ppBp/3pb1p1/1p6/4P1PP/P3nP2/1PPR4/1K3B1R w - - 0 18", this, "d5e3"); ' class="line2">Кe3</span> 
 <span onclick='loadMove("1rr3k1/p3pp1p/3pb1p1/1p6/3BP1PP/P3nP2/1PPR4/1K3B1R b - - 0 18", this, "g7d4"); ' class="line2">18.Сd4</span> 
 <span onclick='loadMove("1rr3k1/p3pp1p/3pb1p1/1p6/3BP1PP/P4P2/1PPR4/1K3n1R w - - 0 19", this, "e3f1"); ' class="line2">К:f1</span> 
 <span onclick='loadMove("1rr3k1/p3pp1p/3pb1p1/1p6/3BP1PP/P4P2/1PPR4/1K3R2 b - - 0 19", this, "h1f1"); ' class="line2">19.Л:f1</span> 
 <span onclick='loadMove("1rr3k1/4pp1p/3pb1p1/pp6/3BP1PP/P4P2/1PPR4/1K3R2 w - a6 0 20", this, "a7a5"); ' class="line2">a5</span> 
 <span onclick='loadMove("1rr3k1/4pp1p/3pb1p1/pp2P3/3B2PP/P4P2/1PPR4/1K3R2 b - - 0 20", this, "e4e5"); ' class="line2">20.e5</span> 
1/2-1/2 <b>Полгар,Ж. - Ананд, Дортмунд 1997</b>)
 <span onclick='loadMove("1rr3k1/p3ppbp/3p2p1/1p1b4/3B2PP/P4P2/1PPR4/1K3B1R w - - 0 18", this, "e6d5"); ' class="line1">17...С:d5!?</span> 
(к несколько худшему, но защитимому окончанию ведет
 <span onclick='loadMove("1rr3k1/p3pp1p/3pb1p1/1p1P4/3b2PP/P4P2/1PPR4/1K3B1R w - - 0 18", this, "g7d4"); ' class="line2">17...С:d4</span> 
 <span onclick='loadMove("1rr3k1/p3pp1p/3pb1p1/1p1P4/3R2PP/P4P2/1PP5/1K3B1R b - - 0 18", this, "d2d4"); ' class="line2">18.Л:d4</span> 
 <span onclick='loadMove("1rr3k1/p2bpp1p/3p2p1/1p1P4/3R2PP/P4P2/1PP5/1K3B1R w - - 0 19", this, "e6d7"); ' class="line2">Сd7</span> 
)
 <span onclick='loadMove("1rr3k1/p3ppBp/3p2p1/1p1b4/6PP/P4P2/1PPR4/1K3B1R b - - 0 18", this, "d4g7"); ' class="line1">18.С:g7</span> 
 <span onclick='loadMove("1rr3k1/p3ppBp/3p2p1/1p6/6PP/P4b2/1PPR4/1K3B1R w - - 0 19", this, "d5f3"); ' class="line1">С:f3</span> 
 <span onclick='loadMove("1rr3k1/p3ppBp/3p2p1/1p6/6PP/P4b1R/1PPR4/1K3B2 b - - 0 19", this, "h1h3"); ' class="line1">19.Лh3</span> 
 <span onclick='loadMove("1rr3k1/p3ppBp/3p2p1/1p6/6bP/P6R/1PPR4/1K3B2 w - - 0 20", this, "f3g4"); ' class="line1">С:g4</span> 
 <span onclick='loadMove("1rr3k1/p3ppBp/3p2p1/1p6/6bP/P5R1/1PPR4/1K3B2 b - - 0 20", this, "h3g3"); ' class="line1">20.Лg3</span> 
 <span onclick='loadMove("1rr5/p3ppkp/3p2p1/1p6/6bP/P5R1/1PPR4/1K3B2 w - - 0 21", this, "g8g7"); ' class="line1">Кр:g7</span> 
 <span onclick='loadMove("1rr5/p3ppkp/3p2p1/1p6/6RP/P7/1PPR4/1K3B2 b - - 0 21", this, "g3g4"); ' class="line1">21.Л:g4</span> 
 <span onclick='loadMove("1r6/p3ppkp/3p2p1/1pr5/6RP/P7/1PPR4/1K3B2 w - - 0 22", this, "c8c5"); ' class="line1">Лc5</span> 
c острым эндшпилем <b>Нижник - Рейндерман, Гронинген 2009</b>.</p>
<p>
 <span onclick='loadMove("1rr3k1/p3ppbp/3p1np1/1p1P4/3B2PP/P4P2/1PPR4/1K3B1R b - - 0 17", this, "e4d5"); ' class="line0">17.e:d5</span> 
 <span onclick='loadMove("1rr3k1/4ppbp/3p1np1/pp1P4/3B2PP/P4P2/1PPR4/1K3B1R w - a6 0 18", this, "a7a5"); ' class="line0">a5!?</span> 
</p>
<p>Неплохо смотрится и
 <span onclick='loadMove("1r4k1/p1r1ppbp/3p1np1/1p1P4/3B2PP/P4P2/1PPR4/1K3B1R w - - 0 18", this, "c8c7"); ' class="line1">17...Лc7</span> 
.</p>
<p>
 <span onclick='loadMove("1rr3k1/4ppbp/3p1np1/pp1P3P/3B2P1/P4P2/1PPR4/1K3B1R b - - 0 18", this, "h4h5"); ' class="line0">18.h5</span> 
</p>
<p>В случае
 <span onclick='loadMove("1rr3k1/4ppbp/3p1np1/pp1P4/3B2PP/P1P2P2/1P1R4/1K3B1R b - - 0 18", this, "c2c3"); ' class="line1">18.c3</span> 
 <span onclick='loadMove("1rr3k1/3nppbp/3p2p1/pp1P4/3B2PP/P1P2P2/1P1R4/1K3B1R w - - 0 19", this, "f6d7"); ' class="line1">Кd7</span> 
 <span onclick='loadMove("1rr3k1/3nppbp/3p2p1/pp1P4/3B1PPP/P1P5/1P1R4/1K3B1R b - - 0 19", this, "f3f4"); ' class="line1">19.f4</span> 
 <span onclick='loadMove("1rr3k1/4ppbp/3p2p1/ppnP4/3B1PPP/P1P5/1P1R4/1K3B1R w - - 0 20", this, "d7c5"); ' class="line1">Кc5</span> 
 <span onclick='loadMove("1rr3k1/4ppBp/3p2p1/ppnP4/5PPP/P1P5/1P1R4/1K3B1R b - - 0 20", this, "d4g7"); ' class="line1">20.С:g7</span> 
 <span onclick='loadMove("1rr5/4ppkp/3p2p1/ppnP4/5PPP/P1P5/1P1R4/1K3B1R w - - 0 21", this, "g8g7"); ' class="line1">Кр:g7</span> 
 <span onclick='loadMove("1rr5/4ppkp/3p2p1/ppnP3P/5PP1/P1P5/1P1R4/1K3B1R b - - 0 21", this, "h4h5"); ' class="line1">21.h5</span> 
 <span onclick='loadMove("1rr5/4ppkp/3p2p1/p1nP3P/1p3PP1/P1P5/1P1R4/1K3B1R w - - 0 22", this, "b5b4"); ' class="line1">b4</span> 
черные опережают белых в развитии инициативы.
 <span onclick='loadMove("1rr5/4ppkp/3p2p1/p1nP3P/1P3PP1/2P5/1P1R4/1K3B1R b - - 0 22", this, "a3b4"); ' class="line1">22.a:b4</span> 
(после
 <span onclick='loadMove("1rr5/4ppkp/3p2p1/p1nP3P/1P3PP1/P7/1P1R4/1K3B1R b - - 0 22", this, "c3b4"); ' class="line2">22.c:b4</span> 
 <span onclick='loadMove("1rr5/4ppkp/3p2p1/2nP3P/1p3PP1/P7/1P1R4/1K3B1R w - - 0 23", this, "a5b4"); ' class="line2">a:b4</span> 
 <span onclick='loadMove("1rr5/4ppkp/3p2p1/2nP3P/Pp3PP1/8/1P1R4/1K3B1R b - - 0 23", this, "a3a4"); ' class="line2">23.a4</span> 
 <span onclick='loadMove("1rr5/4ppkp/3p2p1/3P3P/np3PP1/8/1P1R4/1K3B1R w - - 0 24", this, "c5a4"); ' class="line2">К:a4</span> 
 <span onclick='loadMove("1rr5/4ppkp/3p2p1/3P3P/np3PP1/8/1P5R/1K3B1R b - - 0 24", this, "d2h2"); ' class="line2">24.Лdh2</span> 
 <span onclick='loadMove("1r5r/4ppkp/3p2p1/3P3P/np3PP1/8/1P5R/1K3B1R w - - 0 25", this, "c8h8"); ' class="line2">Лh8</span> 
 <span onclick='loadMove("1r5r/4ppkp/3p2pP/3P4/np3PP1/8/1P5R/1K3B1R b - - 0 25", this, "h5h6"); ' class="line2">25.h6+</span> 
 <span onclick='loadMove("1r3k1r/4pp1p/3p2pP/3P4/np3PP1/8/1P5R/1K3B1R w - - 0 26", this, "g7f8"); ' class="line2">Крf8</span> 
 <span onclick='loadMove("1r3k1r/4pp1p/3p2pP/3P2P1/np3P2/8/1P5R/1K3B1R b - - 0 26", this, "g4g5"); ' class="line2">26.g5</span> 
 <span onclick='loadMove("1r3k1r/4pp1p/3p2pP/2nP2P1/1p3P2/8/1P5R/1K3B1R w - - 0 27", this, "a4c5"); ' class="line2">Кc5</span> 
 <span onclick='loadMove("1r3k1r/4pp1p/3p2pP/2nP2P1/1p3P2/7B/1P5R/1K5R b - - 0 27", this, "f1h3"); ' class="line2">27.Сh3</span> 
 <span onclick='loadMove("1r3k1r/4p2p/3p2pP/2nP1pP1/1p3P2/7B/1P5R/1K5R w - f6 0 28", this, "f7f5"); ' class="line2">f5!</span> 
черные в партии <b>Джобава - Ле Гуанг, Москва 2008</b> отбили атаку и реализовали лишнюю пешку)
 <span onclick='loadMove("1rr5/4ppkp/3p2p1/2nP3P/1p3PP1/2P5/1P1R4/1K3B1R w - - 0 23", this, "a5b4"); ' class="line1">22...a:b4</span> 
 <span onclick='loadMove("1rr5/4ppkp/3p2p1/2nP3P/1pP2PP1/8/1P1R4/1K3B1R b - - 0 23", this, "c3c4"); ' class="line1">23.c4</span> 
 <span onclick='loadMove("r1r5/4ppkp/3p2p1/2nP3P/1pP2PP1/8/1P1R4/1K3B1R w - - 0 24", this, "b8a8"); ' class="line1">Лa8</span> 
 <span onclick='loadMove("r1r5/4ppkp/3p2p1/2nP3P/1pP2PP1/8/1P5R/1K3B1R b - - 0 24", this, "d2h2"); ' class="line1">24.Лdh2</span> 
 <span onclick='loadMove("r1r5/4ppkp/3p4/2nP2pP/1pP2PP1/8/1P5R/1K3B1R w - - 0 25", this, "g6g5"); ' class="line1">g5!</span> 
Препятствуя вскрытию линий.
 <span onclick='loadMove("r1r5/4ppkp/3p4/2nP2PP/1pP3P1/8/1P5R/1K3B1R b - - 0 25", this, "f4g5"); ' class="line1">25.f:g5</span> 
 <span onclick='loadMove("r1r5/4ppkp/3p4/2nP2PP/2P3P1/1p6/1P5R/1K3B1R w - - 0 26", this, "b4b3"); ' class="line1">b3</span> 
 <span onclick='loadMove("r1r5/4ppkp/3p4/2nP2PP/2P3P1/1p5R/1P6/1K3B1R b - - 0 26", this, "h2h3"); ' class="line1">26.Лh3</span> 
 <span onclick='loadMove("r7/2r1ppkp/3p4/2nP2PP/2P3P1/1p5R/1P6/1K3B1R w - - 0 27", this, "c8c7"); ' class="line1">Лc7</span> 
 <span onclick='loadMove("r7/2r1ppkp/3p4/2nP2PP/2P3P1/1p5R/1P6/2K2B1R b - - 0 27", this, "b1c1"); ' class="line1">27.Крc1</span> 
 <span onclick='loadMove("r7/1r2ppkp/3p4/2nP2PP/2P3P1/1p5R/1P6/2K2B1R w - - 0 28", this, "c7b7"); ' class="line1">Лb7!</span> 
Освобождая коня от защиты пешки b3
 <span onclick='loadMove("r7/1r2ppkp/3p2P1/2nP3P/2P3P1/1p5R/1P6/2K2B1R b - - 0 28", this, "g5g6"); ' class="line1">28.g6</span> 
 <span onclick='loadMove("r7/1r2ppkp/3p2P1/3P3P/2P1n1P1/1p5R/1P6/2K2B1R w - - 0 29", this, "c5e4"); ' class="line1">Кe4!</span> 
 <span onclick='loadMove("r7/1r2ppkp/3p2P1/3P3P/2P1n1P1/1p1B3R/1P6/2K4R b - - 0 29", this, "f1d3"); ' class="line1">29.Сd3</span> 
 <span onclick='loadMove("8/1r2ppkp/3p2P1/3P3P/2P1n1P1/1p1B3R/1P6/r1K4R w - - 0 30", this, "a8a1"); ' class="line1">Лa1+</span> 
 <span onclick='loadMove("8/1r2ppkp/3p2P1/3P3P/2P1n1P1/1p5R/1P6/rBK4R b - - 0 30", this, "d3b1"); ' class="line1">30.Сb1</span> 
 <span onclick='loadMove("8/4ppkp/3p2P1/3P3P/1rP1n1P1/1p5R/1P6/rBK4R w - - 0 31", this, "b7b4"); ' class="line1">Лb4</span> 
с перевесом у черных <b>Маммадов - Гусейнов, Нахичевань 2012</b>.</p>
<p>
 <span onclick='loadMove("1rr3k1/3nppbp/3p2p1/pp1P3P/3B2P1/P4P2/1PPR4/1K3B1R w - - 0 19", this, "f6d7"); ' class="line0">18...Кd7!</span> 
</p>
<p>Белые вынуждены расстаться с преимуществом двух слонов, иначе инициатива черных на ферзевом фланге станет очень опасной.</p>
<p>
 <span onclick='loadMove("1rr3k1/3nppbp/3p2P1/pp1P4/3B2P1/P4P2/1PPR4/1K3B1R b - - 0 19", this, "h5g6"); ' class="line0">19.h:g6</span> 
</p>
<p>К ничьей повторением ходов ведет
 <span onclick='loadMove("1rr3k1/3nppbp/3p2p1/pp1P2PP/3B4/P4P2/1PPR4/1K3B1R b - - 0 19", this, "g4g5"); ' class="line1">19.g5</span> 
 <span onclick='loadMove("1rr3k1/4ppbp/3p2p1/pp1Pn1PP/3B4/P4P2/1PPR4/1K3B1R w - - 0 20", this, "d7e5"); ' class="line1">Кe5</span> 
 <span onclick='loadMove("1rr3k1/4ppbp/3p2p1/pp1Pn1PP/3B4/P4P2/1PP2R2/1K3B1R b - - 0 20", this, "d2f2"); ' class="line1">20.Лf2</span> 
 <span onclick='loadMove("1rr3k1/4ppbp/3p2p1/pp1P2PP/3B2n1/P4P2/1PP2R2/1K3B1R w - - 0 21", this, "e5g4"); ' class="line1">Кg4</span> 
 <span onclick='loadMove("1rr3k1/4ppbp/3p2p1/pp1P2PP/3B2n1/P4P2/1PPR4/1K3B1R b - - 0 21", this, "f2d2"); ' class="line1">21.Лd2</span> 
 <span onclick='loadMove("1rr3k1/4ppbp/3p2p1/pp1Pn1PP/3B4/P4P2/1PPR4/1K3B1R w - - 0 22", this, "g4e5"); ' class="line1">Кe5</span> 
</p>
<p>
 <span onclick='loadMove("1rr3k1/3nppb1/3p2p1/pp1P4/3B2P1/P4P2/1PPR4/1K3B1R w - - 0 20", this, "h7g6"); ' class="line0">19...h:g6</span> 
 <span onclick='loadMove("1rr3k1/3nppb1/3p2p1/pp1P2P1/3B4/P4P2/1PPR4/1K3B1R b - - 0 20", this, "g4g5"); ' class="line0">20.g5</span> 
 <span onclick='loadMove("1rr3k1/3npp2/3p2p1/pp1P2P1/3b4/P4P2/1PPR4/1K3B1R w - - 0 21", this, "g7d4"); ' class="line0">С:d4</span> 
</p>
<p>Сейчас уже неудачно
 <span onclick='loadMove("1rr3k1/4ppb1/3p2p1/pp1Pn1P1/3B4/P4P2/1PPR4/1K3B1R w - - 0 21", this, "d7e5"); ' class="line1">20...Кe5</span> 
ввиду
 <span onclick='loadMove("1rr3k1/4ppb1/3p2p1/pp1Pn1P1/3B4/P4P2/1PP4R/1K3B1R b - - 0 21", this, "d2h2"); ' class="line1">21.Лdh2!</span> 
</p>
<p>
 <span onclick='loadMove("1rr3k1/3npp2/3p2p1/pp1P2P1/3R4/P4P2/1PP5/1K3B1R b - - 0 21", this, "d2d4"); ' class="line0">21.Л:d4</span> 
 <span onclick='loadMove("1rr5/3nppk1/3p2p1/pp1P2P1/3R4/P4P2/1PP5/1K3B1R w - - 0 22", this, "g8g7"); ' class="line0">Крg7</span> 
 <span onclick='loadMove("1rr5/3nppk1/3p2p1/pp1P2P1/7R/P4P2/1PP5/1K3B1R b - - 0 22", this, "d4h4"); ' class="line0">22.Лdh4</span> 
 <span onclick='loadMove("1rr2n2/4ppk1/3p2p1/pp1P2P1/7R/P4P2/1PP5/1K3B1R w - - 0 23", this, "d7f8"); ' class="line0">Кf8</span> 
 <span onclick='loadMove("1rr2n2/4ppk1/3p2p1/pp1P2P1/7R/P2B1P2/1PP5/1K5R b - - 0 23", this, "f1d3"); ' class="line0">23.Сd3</span> 
 <span onclick='loadMove("1r3n2/4ppk1/3p2p1/pprP2P1/7R/P2B1P2/1PP5/1K5R w - - 0 24", this, "c8c5"); ' class="line0">Лc5</span> 
 <span onclick='loadMove("1r3n2/4ppk1/3p2p1/pprP2P1/7R/P2B1P2/1PP5/1K2R3 b - - 0 24", this, "h1e1"); ' class="line0">24.Лe1</span> 
 <span onclick='loadMove("1r3n2/4ppk1/3p2p1/pp1r2P1/7R/P2B1P2/1PP5/1K2R3 w - - 0 25", this, "c5d5"); ' class="line0">Л:d5</span> 
 <span onclick='loadMove("1r3n2/4Rpk1/3p2p1/pp1r2P1/7R/P2B1P2/1PP5/1K6 b - - 0 25", this, "e1e7"); ' class="line0">25.Л:e7</span> 
 <span onclick='loadMove("1r6/4Rpk1/3pn1p1/pp1r2P1/7R/P2B1P2/1PP5/1K6 w - - 0 26", this, "f8e6"); ' class="line0">Кe6</span> 
</p>
<p>Шансы сторон равны.</p>
<p>И после взаимного истребления материала соперники согласились на ничью.</p>
<p>
 <span onclick='loadMove("1r6/4Rpk1/3pn1p1/pp1r2P1/5P1R/P2B4/1PP5/1K6 b - - 0 26", this, "f3f4"); ' class="line0">26.f4</span> 
 <span onclick='loadMove("1r6/4Rpk1/3pn1p1/p2r2P1/1p3P1R/P2B4/1PP5/1K6 w - - 0 27", this, "b5b4"); ' class="line0">b4</span> 
 <span onclick='loadMove("1r6/4Rpk1/3pn1B1/p2r2P1/1p3P1R/P7/1PP5/1K6 b - - 0 27", this, "d3g6"); ' class="line0">27.С:g6</span> 
</p>
<p>нехорошо
 <span onclick='loadMove("1r6/4Rpk1/3pn1p1/p2r2P1/1P3P1R/3B4/1PP5/1K6 b - - 0 27", this, "a3b4"); ' class="line1">27.a:b4</span> 
из-за
 <span onclick='loadMove("8/4Rpk1/3pn1p1/p2r2P1/1r3P1R/3B4/1PP5/1K6 w - - 0 28", this, "b8b4"); ' class="line1">27...Л:b4!</span> 
</p>
<p>
 <span onclick='loadMove("1r6/4Rp2/3pn1k1/p2r2P1/1p3P1R/P7/1PP5/1K6 w - - 0 28", this, "g7g6"); ' class="line0">27...Кр:g6</span> 
 <span onclick='loadMove("1r6/4Rp2/3pn1kR/p2r2P1/1p3P2/P7/1PP5/1K6 b - - 0 28", this, "h4h6"); ' class="line0">28.Лh6+</span> 
 <span onclick='loadMove("1r6/4Rpk1/3pn2R/p2r2P1/1p3P2/P7/1PP5/1K6 w - - 0 29", this, "g6g7"); ' class="line0">Крg7</span> 
 <span onclick='loadMove("1r6/4Rpk1/3pR3/p2r2P1/1p3P2/P7/1PP5/1K6 b - - 0 29", this, "h6e6"); ' class="line0">29.Лh:e6</span> 
 <span onclick='loadMove("1r6/4Rpk1/3pR3/p2r2P1/5P2/p7/1PP5/1K6 w - - 0 30", this, "b4a3"); ' class="line0">b:a3</span> 
 <span onclick='loadMove("1r6/4Rpk1/3pR3/p2r2P1/5P2/pP6/2P5/1K6 b - - 0 30", this, "b2b3"); ' class="line0">30.b3</span> 
 <span onclick='loadMove("1r6/4Rpk1/3pR3/3r2P1/p4P2/pP6/2P5/1K6 w - - 0 31", this, "a5a4"); ' class="line0">a4</span> 
 <span onclick='loadMove("1r6/4Rpk1/3pR1P1/3r4/p4P2/pP6/2P5/1K6 b - - 0 31", this, "g5g6"); ' class="line0">31.g6</span> 
 <span onclick='loadMove("1r6/4Rpk1/3pR1P1/5r2/p4P2/pP6/2P5/1K6 w - - 0 32", this, "d5f5"); ' class="line0">Лf5</span> 
 <span onclick='loadMove("1r6/4Rpk1/3pR1P1/5r2/p4P2/pP6/K1P5/8 b - - 0 32", this, "b1a2"); ' class="line0">32.Крa2</span> 
 <span onclick='loadMove("1r6/4Rpk1/3pR1P1/5r2/5P2/pp6/K1P5/8 w - - 0 33", this, "a4b3"); ' class="line0">a:b3+</span> 
 <span onclick='loadMove("1r6/4Rpk1/3pR1P1/5r2/5P2/pP6/K7/8 b - - 0 33", this, "c2b3"); ' class="line0">33.c:b3</span> 
 <span onclick='loadMove("1r6/4Rpk1/3pR1P1/8/5r2/pP6/K7/8 w - - 0 34", this, "f5f4"); ' class="line0">Л:f4</span> 
 <span onclick='loadMove("1r6/5Rk1/3pR1P1/8/5r2/pP6/K7/8 b - - 0 34", this, "e7f7"); ' class="line0">34.Л:f7+</span> 
 <span onclick='loadMove("1r6/5rk1/3pR1P1/8/8/pP6/K7/8 w - - 0 35", this, "f4f7"); ' class="line0">Л:f7</span> 
 <span onclick='loadMove("1r6/5Pk1/3pR3/8/8/pP6/K7/8 b - - 0 35", this, "g6f7"); ' class="line0">35.g:f7</span> 
 <span onclick='loadMove("1r6/5k2/3pR3/8/8/pP6/K7/8 w - - 0 36", this, "g7f7"); ' class="line0">Кр:f7</span> 
 <span onclick='loadMove("1r6/5k2/3R4/8/8/pP6/K7/8 b - - 0 36", this, "e6d6"); ' class="line0">36.Л:d6</span> 
</p>
<p>Ничья</p>
<h3>Выводы</h3>
<div class="notification message">
<p>1. На первый взгляд полезный ход
 <span onclick='loadMove("r1bq1rk1/pp2ppbp/2np1np1/8/3NP1P1/2N1BP2/PPPQ3P/R3KB1R b KQ g3 0 9", this, "g2g4"); ' class="line1">9.g2-g4</span> 
связан с существенной потерей времени в атаке.</p>
<p>2. Черные должны сначала развить фигурное давление на позицию короля белых с целью вызвать продвижение пешки на a3 и лишь затем приступить к пешечному штурму.</p>
<p>3. Атака белых, связанная с вскрытием линии "h" явно запаздывает, поэтому они вынуждены менять ферзей, продолжая <b>Кd5</b>, что приводит к равному окончанию.</p>
<p>В настоящее время план с
 <span onclick='loadMove("r1bq1rk1/pp2ppbp/2np1np1/8/3NP1P1/2N1BP2/PPPQ3P/R3KB1R b KQ g3 0 9", this, "g2g4"); ' class="line1">9.g4</span> 
растерял большинство своих приверженцев. В тех случаях, когда белые не хотят выводить слона на c4, они уже на 9-м ходу рокируют в длинную сторону.</p>
</div>
</div> <!-- score -->
</div> <!-- section -->

</div> <!-- iBook -->
{% endblock content %}
