{% extends '../../base.htm' %}
{% load static %}
{% block title %}
<title>{{book.title}} | {%for author in book.authors.all%} {%if author.first_name%} {{author.first_name}} {%endif%} {%if author.second_name%} {{author.second_name}} {%endif%} {%if forloop.counter == book.authors.all.count%} {{author.last_name}} {%else%} {{author.last_name}}, {%endif%} {%endfor%} | {{book.year}}</title>
{% endblock title %}
{% block content %}

<div class="iBook">

<div class="section">
<div class="small floater">
 <img src="{% static 'images/'|add:book.slug|add:'/thumb.jpg' %}" />
</div>
<div class="score">
<h6>БИБЛИОТЕЧКА ШАХМАТИСТА</h6>
<h2>Ю. М. КОТКОВ,</h2>
<h3>мастер спорта СССР</h3>
<h1>ЗАЩИТА ТОРЖЕСТВУЕТ</h1>

<div class="diagram">
<p>Издательство</p>
<p>«ФИЗКУЛЬТУРА И СПОРТ»</p>
<p>Москва 1971</p>
</div>

<!--div>
<p>7А9.1</p>
<p>К 73</p>
</div-->

<div class="message notification">
<p>Читатель знаком с несколькими книжками из «Библиотечки шахматиста». В 1970 году вышли в свет «Рассказы о комбинации» А. Кобленца, «Штурм королевской крепости» Б. Баранова, «Внимание, ловушка!» А. Сокольского.</p>
<p>В 1971 году издательство предполагает продолжить эту серию книжками И. Кана «Законы шахматных сражений», Л. Абрамова «Ход за ходом», В. Панова «Основы дебюта», Н. Крогиуса «Законы эндшпиля».</p>
<p>Тематика «Библиотечки» разнообразна, что поможет любителям древней игры расширить свой шахматный кругозор, повысить свою шахматную культуру.</p>
<p>Большинство шахматистов любят атаковать, а защиту считают печальной необходимостью. Автор этой книжки, известный мастер и педагог Юрий Михайлович Котков, поставил перед собой цель: показать читателю, что защита — дело тоже увлекательное, что она требует не меньшего, а подчас и большего искусства, чем атака.</p>
<p>Четко систематизировав материал, автор вместе с тем избежал назидательного тона. Он не навязывает правил и выводов, а просто предлагает читателю ряд интересных позиций.</p>
<p>Проанализировав эти позиции, читатель получит необходимое представление о приемах защиты, даже если не ставит перед собой учебных целей.</p>
</div>

<!--div>
<p>6-9-4</p>
<p>Тем. план 1971 г.</p>
<p>№ 188</p>
</div-->

</div> <!-- score -->
</div> <!-- section -->

</div> <!-- iBook -->
{% endblock content %}
