{% extends '../../base.htm' %}
{% load static %}
{% block title %}
<title>Диагональная защита | {{book.title}} | {%for author in book.authors.all%} {%if author.first_name%} {{author.first_name}} {%endif%} {%if author.second_name%} {{author.second_name}} {%endif%} {%if forloop.counter == book.authors.all.count%} {{author.last_name}} {%else%} {{author.last_name}}, {%endif%} {%endfor%} | {{book.year}}</title>
{% endblock title %}
{% block content %}

<div class="iBook">

<div class="section">
<h3>Диагональная защита</h3>
<div class="score">
</div> <!-- score -->
</div> <!-- section -->

<div class="section">
<div class="chessBoard small floater" data-start-fen="2rq1rk1/pb2bppp/1p2p3/3pR3/2PP4/PPR5/1B3PPP/3Q1BK1 b - - 0 17"></div>
<div class="score">
 <span class="line0" onclick='loadMove("2rq1rk1/pb2bppp/1p2p3/3pR3/2PP4/PPR5/1B3PPP/3Q1BK1 b - - 0 17", this, ""); '>[...]</span> 
<p class="capTop diagram"><strong>Керес — Смыслов</strong><br />Цюрих, 1953 г.</p>
<div class="chessBoard analysis nobuttons" data-start-fen="2rq1rk1/pb2bppp/1p2p3/3pR3/2PP4/PPR5/1B3PPP/3Q1BK1 b - - 0 17"></div>
<p>Черные должны внимательно следить за активными белыми ладьями, готовящимися к прыжку на королевский фланг.</p>
<p class="longNotation">
 <span class="ellipsis0">17. ...</span> 
 <span onclick='loadMove("2rq1rk1/pb3ppp/1p2pb2/3pR3/2PP4/PPR5/1B3PPP/3Q1BK1 w - - 0 18", this, "e7f6"); ' class="line0">Сe7-f6</span> 
</p>
<p>Подключая слона к защите короля.</p>
<p class="longNotation">
 <span onclick='loadMove("2rq1rk1/pb3ppp/1p2pb2/3p3R/2PP4/PPR5/1B3PPP/3Q1BK1 b - - 0 18", this, "e5h5"); ' class="line0">18.Лe5-h5</span> 
 <span class="ellipsis0">...</span> 
</p>
<p>Между прочим,
 <!--span onclick='loadMove("2rq1rk1/pb3ppp/1p2pb2/3p3R/2PP4/PPR5/1B3PPP/3Q1BK1 w - - 0 19", this, "e5h5"); ' class="line1">18...z0</span--> 
уже грозит
 <span onclick='loadMove("2rq1rk1/pb3ppR/1p2pb2/3p4/2PP4/PPR5/1B3PPP/3Q1BK1 b - - 0 19", this, "h5h7"); ' class="line1">19.Л:h7</span> 
 <span onclick='loadMove("2rq1r2/pb3ppk/1p2pb2/3p4/2PP4/PPR5/1B3PPP/3Q1BK1 w - - 0 20", this, "g8h7"); ' class="line1">Кр:h7</span> 
 <span onclick='loadMove("2rq1r2/pb3ppk/1p2pb2/3p3Q/2PP4/PPR5/1B3PPP/5BK1 b - - 0 20", this, "d1h5"); ' class="line1">20.Фh5+</span> 
 <span onclick='loadMove("2rq1rk1/pb3pp1/1p2pb2/3p3Q/2PP4/PPR5/1B3PPP/5BK1 w - - 0 21", this, "h7g8"); ' class="line1">Крg8</span> 
 <span onclick='loadMove("2rq1rk1/pb3pp1/1p2pb2/3p3Q/2PP4/PP5R/1B3PPP/5BK1 b - - 0 21", this, "c3h3"); ' class="line1">21.Лh3</span> 
.</p>
<p class="longNotation">
 <span class="ellipsis0">18. ...</span> 
 <span onclick='loadMove("2rq1rk1/pb3p1p/1p2pbp1/3p3R/2PP4/PPR5/1B3PPP/3Q1BK1 w - - 0 19", this, "g7g6"); ' class="line0">g7-g6</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("2rq1rk1/pb3p1p/1p2pbp1/3p3R/2PP4/PP5R/1B3PPP/3Q1BK1 b - - 0 19", this, "c3h3"); ' class="line0">19.Лc3-h3!?</span> 
 <span class="ellipsis0">...</span> 
</p>
<p>После длительного раздумья Смыслов отказался от принятия жертвы. Вот что могло произойти в этом случае:
 <span onclick='loadMove("2rq1rk1/pb3p1p/1p2pb2/3p3p/2PP4/PP5R/1B3PPP/3Q1BK1 w - - 0 20", this, "g6h5"); ' class="line1">19...gh</span> 
 <span onclick='loadMove("2rq1rk1/pb3p1p/1p2pb2/3p3Q/2PP4/PP5R/1B3PPP/5BK1 b - - 0 20", this, "d1h5"); ' class="line1">20.Ф:h5</span> 
 <span onclick='loadMove("2rqr1k1/pb3p1p/1p2pb2/3p3Q/2PP4/PP5R/1B3PPP/5BK1 w - - 0 21", this, "f8e8"); ' class="line1">Лe8</span> 
 <span onclick='loadMove("2rqr1k1/pb3p1p/1p2pb2/3p3Q/P1PP4/1P5R/1B3PPP/5BK1 b - - 0 21", this, "a3a4"); ' class="line1">21.a4!</span> 
со страшной угрозой <b>Сa3</b>.</p>
<p class="longNotation">
 <span class="ellipsis0">19. ...</span> 
 <span onclick='loadMove("2rq1rk1/pb3p1p/1p2pbp1/7R/2pP4/PP5R/1B3PPP/3Q1BK1 w - - 0 20", this, "d5c4"); ' class="line0">d5:c4!</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("2rq1rk1/pb3p1R/1p2pbp1/8/2pP4/PP5R/1B3PPP/3Q1BK1 b - - 0 20", this, "h5h7"); ' class="line0">20.Лh5:h7</span> 
 <span onclick='loadMove("2rq1rk1/pb3p1R/1p2pbp1/8/3P4/PPp4R/1B3PPP/3Q1BK1 w - - 0 21", this, "c4c3"); ' class="line0">c4-c3!</span> 
</p>
<p>Если
 <span onclick='loadMove("2rq1rk1/pb3p1R/1p2pbp1/8/3P4/PPB4R/5PPP/3Q1BK1 b - - 0 21", this, "b2c3"); ' class="line1">21.С:c3</span> 
, то, очевидно,
 <span onclick='loadMove("3q1rk1/pb3p1R/1p2pbp1/8/3P4/PPr4R/5PPP/3Q1BK1 w - - 0 22", this, "c8c3"); ' class="line1">21...Л:c3!</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("2rq1rk1/pb3p1R/1p2pbp1/8/3P4/PPp4R/1B3PPP/2Q2BK1 b - - 0 21", this, "d1c1"); ' class="line0">21.Фd1-c1!</span> 
 <span class="ellipsis0">...</span> 
</p>
<p>Любезно предлагая взять слона:
 <span onclick='loadMove("2rq1rk1/pb3p1R/1p2pbp1/8/3P4/PP5R/1p3PPP/2Q2BK1 w - - 0 22", this, "c3b2"); ' class="line1">21...cb</span> 
 <span onclick='loadMove("2rq1rk1/pb3p1R/1p2pbpQ/8/3P4/PP5R/1p3PPP/5BK1 b - - 0 22", this, "c1h6"); ' class="line1">22.Фh6!</span> 
 <span onclick='loadMove("2r2rk1/pb3p1R/1p2pbpQ/8/3q4/PP5R/1p3PPP/5BK1 w - - 0 23", this, "d8d4"); ' class="line1">Ф:d4</span> 
 <span onclick='loadMove("2r2rkR/pb3p2/1p2pbpQ/8/3q4/PP5R/1p3PPP/5BK1 b - - 0 23", this, "h7h8"); ' class="line1">23.Лh8+</span> 
 <span onclick='loadMove("2r2rkb/pb3p2/1p2p1pQ/8/3q4/PP5R/1p3PPP/5BK1 w - - 0 24", this, "f6h8"); ' class="line1">С:h8</span> 
 <span onclick='loadMove("2r2rkb/pb3p1Q/1p2p1p1/8/3q4/PP5R/1p3PPP/5BK1 b - - 0 24", this, "h6h7"); ' class="line1">24.Фh7X</span> 
. Неплохой «подарок»!</p>
<p class="longNotation">
 <span class="ellipsis0">21. ...</span> 
 <span onclick='loadMove("2r2rk1/pb3p1R/1p2pbp1/8/3q4/PPp4R/1B3PPP/2Q2BK1 w - - 0 22", this, "d8d4"); ' class="line0">Фd8:d4!</span> 
</p>
<p class="longNotation">
 <span onclick='loadMove("2r2rk1/pb3p1R/1p2pbpQ/8/3q4/PPp4R/1B3PPP/5BK1 b - - 0 22", this, "c1h6"); ' class="line0">22.Фc1-h6</span> 
 <span onclick='loadMove("2rr2k1/pb3p1R/1p2pbpQ/8/3q4/PPp4R/1B3PPP/5BK1 w - - 0 23", this, "f8d8"); ' class="line0">Лf8-d8!</span> 
</p>
<p>В противовес грозному построению тяжелой артиллерии белых по вертикали «h» черные соорудили мощный оборонительный заслон по большой диагонали h8-a1. Нападение отражено! Еще последовало
 <span onclick='loadMove("2rr2k1/pb3p1R/1p2pbpQ/8/3q4/PPp4R/5PPP/2B2BK1 b - - 0 23", this, "b2c1"); ' class="line0">23.Сc1</span> 
 <span onclick='loadMove("2rr2k1/pb3pbR/1p2p1pQ/8/3q4/PPp4R/5PPP/2B2BK1 w - - 0 24", this, "f6g7"); ' class="line0">Сg7</span> 
 <span onclick='loadMove("2rr2k1/pb3pbR/1p2p1p1/6Q1/3q4/PPp4R/5PPP/2B2BK1 b - - 0 24", this, "h6g5"); ' class="line0">24.Фg5</span> 
 <span onclick='loadMove("2rr2k1/pb3pbR/1p2pqp1/6Q1/8/PPp4R/5PPP/2B2BK1 w - - 0 25", this, "d4f6"); ' class="line0">Фf6</span> 
 <span onclick='loadMove("2rr2k1/pb3pbR/1p2pqp1/8/6Q1/PPp4R/5PPP/2B2BK1 b - - 0 25", this, "g5g4"); ' class="line0">25.Фg4</span> 
 <span onclick='loadMove("2rr2k1/pb3pbR/1p2pqp1/8/6Q1/PP5R/2p2PPP/2B2BK1 w - - 0 26", this, "c3c2"); ' class="line0">c2</span> 
 <span onclick='loadMove("2rr2k1/pb3pbR/1p2pqp1/8/6Q1/PP5R/2p1BPPP/2B3K1 b - - 0 26", this, "f1e2"); ' class="line0">26.Сe2</span> 
 <span onclick='loadMove("2r3k1/pb3pbR/1p2pqp1/8/3r2Q1/PP5R/2p1BPPP/2B3K1 w - - 0 27", this, "d8d4"); ' class="line0">Лd4!</span> 
 <span onclick='loadMove("2r3k1/pb3pbR/1p2pqp1/8/3r1PQ1/PP5R/2p1B1PP/2B3K1 b - f3 0 27", this, "f2f4"); ' class="line0">27.f4</span> 
 <span onclick='loadMove("2r3k1/pb3pbR/1p2pqp1/8/5PQ1/PP5R/2p1B1PP/2Br2K1 w - - 0 28", this, "d4d1"); ' class="line0">Лd1+</span> 
 <span onclick='loadMove("2r3k1/pb3pbR/1p2pqp1/8/5PQ1/PP5R/2p3PP/2BB2K1 b - - 0 28", this, "e2d1"); ' class="line0">28.С:d1</span> 
 <span onclick='loadMove("2r3k1/pb3pbR/1p2p1p1/8/3q1PQ1/PP5R/2p3PP/2BB2K1 w - - 0 29", this, "f6d4"); ' class="line0">Фd4+</span> 
, и <b>белые сдались</b>.</p>
<!--p>40</p-->
</div> <!-- score -->
</div> <!-- section -->

</div> <!-- iBook -->
{% endblock content %}
