{% extends '../../base.htm' %}
{% load static %}
{% block title %}
<title>The Modern 7...Na6 | {{book.title}} | {%for author in book.authors.all%} {%if author.first_name%} {{author.first_name}} {%endif%} {%if author.second_name%} {{author.second_name}} {%endif%} {%if forloop.counter == book.authors.all.count%} {{author.last_name}} {%else%} {{author.last_name}}, {%endif%} {%endfor%} | {{book.year}}</title>
{% endblock title %}
{% block content %}

<div class="iBook">

<div class="section">
<div class="chessBoard small floater" data-start-fen="rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w KQkq - 0 1"></div>
<div class="score">
 <span class="line0" onclick='loadMove("rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w KQkq - 0 1", this, ""); '>[...]</span> 
<h3>The Modern 7...Na6</h3>
<p>[ECO "E94"]</p>
<p>
 <span onclick='loadMove("rnbqkbnr/pppppppp/8/8/3P4/8/PPP1PPPP/RNBQKBNR b KQkq d3 0 1", this, "d2d4"); ' class="line0">1.d4</span> 
 <span onclick='loadMove("rnbqkb1r/pppppppp/5n2/8/3P4/8/PPP1PPPP/RNBQKBNR w KQkq - 0 2", this, "g8f6"); ' class="line0">Nf6</span> 
 <span onclick='loadMove("rnbqkb1r/pppppppp/5n2/8/2PP4/8/PP2PPPP/RNBQKBNR b KQkq c3 0 2", this, "c2c4"); ' class="line0">2.c4</span> 
 <span onclick='loadMove("rnbqkb1r/pppppp1p/5np1/8/2PP4/8/PP2PPPP/RNBQKBNR w KQkq - 0 3", this, "g7g6"); ' class="line0">g6</span> 
 <span onclick='loadMove("rnbqkb1r/pppppp1p/5np1/8/2PP4/2N5/PP2PPPP/R1BQKBNR b KQkq - 0 3", this, "b1c3"); ' class="line0">3.Nc3</span> 
 <span onclick='loadMove("rnbqk2r/ppppppbp/5np1/8/2PP4/2N5/PP2PPPP/R1BQKBNR w KQkq - 0 4", this, "f8g7"); ' class="line0">Bg7</span> 
 <span onclick='loadMove("rnbqk2r/ppppppbp/5np1/8/2PPP3/2N5/PP3PPP/R1BQKBNR b KQkq e3 0 4", this, "e2e4"); ' class="line0">4.e4</span> 
 <span onclick='loadMove("rnbqk2r/ppp1ppbp/3p1np1/8/2PPP3/2N5/PP3PPP/R1BQKBNR w KQkq - 0 5", this, "d7d6"); ' class="line0">d6</span> 
 <span onclick='loadMove("rnbqk2r/ppp1ppbp/3p1np1/8/2PPP3/2N2N2/PP3PPP/R1BQKB1R b KQkq - 0 5", this, "g1f3"); ' class="line0">5.Nf3</span> 
 <span onclick='loadMove("rnbq1rk1/ppp1ppbp/3p1np1/8/2PPP3/2N2N2/PP3PPP/R1BQKB1R w KQ - 0 6", this, "e8g8"); ' class="line0">O-O</span> 
 <span onclick='loadMove("rnbq1rk1/ppp1ppbp/3p1np1/8/2PPP3/2N2N2/PP2BPPP/R1BQK2R b KQ - 0 6", this, "f1e2"); ' class="line0">6.Be2</span> 
 <span onclick='loadMove("rnbq1rk1/ppp2pbp/3p1np1/4p3/2PPP3/2N2N2/PP2BPPP/R1BQK2R w KQ e6 0 7", this, "e7e5"); ' class="line0">e5</span> 
 <span onclick='loadMove("rnbq1rk1/ppp2pbp/3p1np1/4p3/2PPP3/2N2N2/PP2BPPP/R1BQ1RK1 b - - 0 7", this, "e1g1"); ' class="line0">7.O-O</span> 
 <span onclick='loadMove("r1bq1rk1/ppp2pbp/n2p1np1/4p3/2PPP3/2N2N2/PP2BPPP/R1BQ1RK1 w - - 0 8", this, "b8a6"); ' class="line0">Na6</span> 
</p>
<div class="chessBoard analysis nobuttons" data-start-fen="r1bq1rk1/ppp2pbp/n2p1np1/4p3/2PPP3/2N2N2/PP2BPPP/R1BQ1RK1 w - - 0 8"></div>
<p><b>Diagram 1</b>. The modern aproach</p>
<p>This is by far the most topical line in this chapter. It is a totally new system that has developed in the 1990's. It has become an important refuge for those who want to play the King's Indian but don't want to get involved in the heavy theoretical battles that often arise from
 <span onclick='loadMove("r1bq1rk1/ppp2pbp/2np1np1/4p3/2PPP3/2N2N2/PP2BPPP/R1BQ1RK1 w - - 0 8", this, "b8c6"); ' class="line1">7...Nc6</span> 
.</p>
<h4>Isn't the knight badly placed on the edge after
 <span onclick='loadMove("r1bq1rk1/ppp2pbp/n2p1np1/4p3/2PPP3/2N2N2/PP2BPPP/R1BQ1RK1 w - - 0 8", this, "b8a6"); ' class="line1">7...Na6</span> 
?</h4>
<p>On a superficial reading of the position the knight is indeed badly placed on the edge of the board. The move would appear to go against the basic chess principles of controlling the centre. However, once we look a little more closely we can see that this is not the case. White will not be able to hold the tension in the centre forever and at some point he is either going to take on e5 or play d5. In both cases the knight on a6 is poised to jump into c5, one of its best squares in the King's Indian. On other occasions Black, himself, may relieve the central tension by playing <b>...e5xd4</b> and here, too, the square c5 becomes available to the knight. If for some reason Black is unable to play <b>...Nc5</b> then there is an alternative method of bringing it back into play: <b>...c7-c6</b>, followed by <b>...Nc7</b> and <b>...Ne6</b>.</p>
<p>The move <b>...Na6</b> is more flexible than the old
 <span onclick='loadMove("r1bq1rk1/pppn1pbp/3p1np1/4p3/2PPP3/2N2N2/PP2BPPP/R1BQ1RK1 w - - 0 8", this, "b8d7"); ' class="line1">7...Nbd7</span> 
line that we study below as it doesn't interfere with the development of the rest of Black's queenside.</p>
<p>
 <span onclick='loadMove("r1bq1rk1/ppp2pbp/n2p1np1/4p3/2PPP3/2N1BN2/PP2BPPP/R2Q1RK1 b - - 0 8", this, "c1e3"); ' class="line0">8.Be3</span> 
</p>
<p>This is the most common move and the position is important for the King's Indian as it can also arise via the move order
 <span onclick='loadMove("rnbq1rk1/ppp2pbp/3p1np1/4p3/2PPP3/2N1BN2/PP2BPPP/R2QK2R b KQ - 0 7", this, "c1e3"); ' class="line1">7.Be3</span> 
 <span onclick='loadMove("r1bq1rk1/ppp2pbp/n2p1np1/4p3/2PPP3/2N1BN2/PP2BPPP/R2QK2R w KQ - 0 8", this, "b8a6"); ' class="line1">Na6</span> 
 <span onclick='loadMove("r1bq1rk1/ppp2pbp/n2p1np1/4p3/2PPP3/2N1BN2/PP2BPPP/R2Q1RK1 b - - 0 8", this, "e1g1"); ' class="line1">8.O-O</span> 
.</p>
<p>The other main line is
 <span onclick='loadMove("r1bq1rk1/ppp2pbp/n2p1np1/4p3/2PPP3/2N2N2/PP2BPPP/R1BQR1K1 b - - 0 8", this, "f1e1"); ' class="line1">8.Re1</span> 
and that is covered in <b>Portisch-Cramling</b>. The other alternatives are:</p>
<p>(1)
 <span onclick='loadMove("r1bq1rk1/ppp2pbp/n2p1np1/4P3/2P1P3/2N2N2/PP2BPPP/R1BQ1RK1 b - - 0 8", this, "d4e5"); ' class="line1">8.dxe5</span> 
 <span onclick='loadMove("r1bq1rk1/ppp2pbp/n4np1/4p3/2P1P3/2N2N2/PP2BPPP/R1BQ1RK1 w - - 0 9", this, "d6e5"); ' class="line1">dxe5</span> 
 <span onclick='loadMove("r1bQ1rk1/ppp2pbp/n4np1/4p3/2P1P3/2N2N2/PP2BPPP/R1B2RK1 b - - 0 9", this, "d1d8"); ' class="line1">9.Qxd8</span> 
 <span onclick='loadMove("r1br2k1/ppp2pbp/n4np1/4p3/2P1P3/2N2N2/PP2BPPP/R1B2RK1 w - - 0 10", this, "f8d8"); ' class="line1">Rxd8</span> 
, as usual, offers White nothing.</p>
<p>(2)
 <span onclick='loadMove("r1bq1rk1/ppp2pbp/n2p1np1/3Pp3/2P1P3/2N2N2/PP2BPPP/R1BQ1RK1 b - - 0 8", this, "d4d5"); ' class="line1">8.d5</span> 
 <span onclick='loadMove("r1bq1rk1/ppp2pbp/3p1np1/2nPp3/2P1P3/2N2N2/PP2BPPP/R1BQ1RK1 w - - 0 9", this, "a6c5"); ' class="line1">Nc5</span> 
 <span onclick='loadMove("r1bq1rk1/ppp2pbp/3p1np1/2nPp3/2P1P3/2N2N2/PPQ1BPPP/R1B2RK1 b - - 0 9", this, "d1c2"); ' class="line1">9.Qc2</span> 
 <span onclick='loadMove("r1bq1rk1/1pp2pbp/3p1np1/p1nPp3/2P1P3/2N2N2/PPQ1BPPP/R1B2RK1 w - a6 0 10", this, "a7a5"); ' class="line1">a5</span> 
was considered briefly in Game 3 (<b>Lyrberg-Bologan</b>).</p>
<p>(3)
 <span onclick='loadMove("r1bq1rk1/ppp2pbp/n2p1np1/4p1B1/2PPP3/2N2N2/PP2BPPP/R2Q1RK1 b - - 0 8", this, "c1g5"); ' class="line1">8.Bg5</span> 
has become quite popular. It is simplest to play the direct
 <span onclick='loadMove("r1bq1rk1/ppp2pb1/n2p1npp/4p1B1/2PPP3/2N2N2/PP2BPPP/R2Q1RK1 w - - 0 9", this, "h7h6"); ' class="line1">8...h6</span> 
 <span onclick='loadMove("r1bq1rk1/ppp2pb1/n2p1npp/4p3/2PPP2B/2N2N2/PP2BPPP/R2Q1RK1 b - - 0 9", this, "g5h4"); ' class="line1">9.Bh4</span> 
 <span onclick='loadMove("r1bq1rk1/ppp2pb1/n2p1n1p/4p1p1/2PPP2B/2N2N2/PP2BPPP/R2Q1RK1 w - - 0 10", this, "g6g5"); ' class="line1">g5</span> 
(
 <span onclick='loadMove("r1b1qrk1/ppp2pb1/n2p1npp/4p3/2PPP2B/2N2N2/PP2BPPP/R2Q1RK1 w - - 0 10", this, "d8e8"); ' class="line2">9...Qe8</span> 
 <span onclick='loadMove("r1b1qrk1/ppp2pb1/n2p1Bpp/4p3/2PPP3/2N2N2/PP2BPPP/R2Q1RK1 b - - 0 10", this, "h4f6"); ' class="line2">10.Bxf6</span> 
 <span onclick='loadMove("r1b1qrk1/ppp2p2/n2p1bpp/4p3/2PPP3/2N2N2/PP2BPPP/R2Q1RK1 w - - 0 11", this, "g7f6"); ' class="line2">Bxf6</span> 
 <span onclick='loadMove("r1b1qrk1/ppp2p2/n2p1bpp/2P1p3/3PP3/2N2N2/PP2BPPP/R2Q1RK1 b - - 0 11", this, "c4c5"); ' class="line2">11.c5!</span> 
, which has occurred quite often, is not totally reliable for Black.)
 <span onclick='loadMove("r1bq1rk1/ppp2pb1/n2p1n1p/4p1p1/2PPP3/2N2NB1/PP2BPPP/R2Q1RK1 b - - 0 10", this, "h4g3"); ' class="line1">10.Bg3</span> 
(
 <span onclick='loadMove("r1bq1rk1/ppp2pb1/n2p1n1p/4P1p1/2P1P2B/2N2N2/PP2BPPP/R2Q1RK1 b - - 0 10", this, "d4e5"); ' class="line2">10.dxe5</span> 
 <span onclick='loadMove("r1bq1rk1/ppp2pb1/n2p3p/4P1pn/2P1P2B/2N2N2/PP2BPPP/R2Q1RK1 w - - 0 11", this, "f6h5"); ' class="line2">Nh5</span> 
 <span onclick='loadMove("r1bq1rk1/ppp2pb1/n2p3p/4P1pn/2P1P3/2N2NB1/PP2BPPP/R2Q1RK1 b - - 0 11", this, "h4g3"); ' class="line2">11.Bg3</span> 
 <span onclick='loadMove("r1bq1rk1/ppp2pb1/n2p3p/4P1p1/2P1P3/2N2Nn1/PP2BPPP/R2Q1RK1 w - - 0 12", this, "h5g3"); ' class="line2">Nxg3</span> 
 <span onclick='loadMove("r1bq1rk1/ppp2pb1/n2p3p/4P1p1/2P1P3/2N2NP1/PP2BPP1/R2Q1RK1 b - - 0 12", this, "h2g3"); ' class="line2">12.hxg3</span> 
 <span onclick='loadMove("r1bq1rk1/ppp2pb1/n6p/4p1p1/2P1P3/2N2NP1/PP2BPP1/R2Q1RK1 w - - 0 13", this, "d6e5"); ' class="line2">dxe5</span> 
just transposes)
 <span onclick='loadMove("r1bq1rk1/ppp2pb1/n2p3p/4p1pn/2PPP3/2N2NB1/PP2BPPP/R2Q1RK1 w - - 0 11", this, "f6h5"); ' class="line1">10...Nh5</span> 
, when
 <span onclick='loadMove("r1bq1rk1/ppp2pb1/n2p3p/3Pp1pn/2P1P3/2N2NB1/PP2BPPP/R2Q1RK1 b - - 0 11", this, "d4d5"); ' class="line1">11.d5</span> 
(and
 <span onclick='loadMove("r1bq1rk1/ppp2pb1/n2p3p/4P1pn/2P1P3/2N2NB1/PP2BPPP/R2Q1RK1 b - - 0 11", this, "d4e5"); ' class="line2">11.dxe5</span> 
 <span onclick='loadMove("r1bq1rk1/ppp2pb1/n2p3p/4P1p1/2P1P3/2N2Nn1/PP2BPPP/R2Q1RK1 w - - 0 12", this, "h5g3"); ' class="line2">Nxg3</span> 
 <span onclick='loadMove("r1bq1rk1/ppp2pb1/n2p3p/4P1p1/2P1P3/2N2NP1/PP2BPP1/R2Q1RK1 b - - 0 12", this, "h2g3"); ' class="line2">12.hxg3</span> 
 <span onclick='loadMove("r1bq1rk1/ppp2pb1/n6p/4p1p1/2P1P3/2N2NP1/PP2BPP1/R2Q1RK1 w - - 0 13", this, "d6e5"); ' class="line2">dxe5</span> 
is level)
 <span onclick='loadMove("r1bq1rk1/ppp2pb1/n2p3p/3Pp1p1/2P1Pn2/2N2NB1/PP2BPPP/R2Q1RK1 w - - 0 12", this, "h5f4"); ' class="line1">11...Nf4</span> 
transposes to a line in the Petrosian System which is not considered dangerous for Black.</p>
<p>
 <span onclick='loadMove("r1bq1rk1/ppp2pbp/n2p2p1/4p3/2PPP1n1/2N1BN2/PP2BPPP/R2Q1RK1 w - - 0 9", this, "f6g4"); ' class="line0">8...Ng4</span> 
</p>
<p>Just as in the
 <span onclick='loadMove("rnbq1rk1/ppp2pbp/3p1np1/4p3/2PPP3/2N1BN2/PP2BPPP/R2QK2R b KQ - 0 7", this, "c1e3"); ' class="line1">7.Be3</span> 
variation the bishop is not allowed to settle on this square.</p>
<p>
 <span onclick='loadMove("r1bq1rk1/ppp2pbp/n2p2p1/4p1B1/2PPP1n1/2N2N2/PP2BPPP/R2Q1RK1 b - - 0 9", this, "e3g5"); ' class="line0">9.Bg5</span> 
 <span onclick='loadMove("r1b1qrk1/ppp2pbp/n2p2p1/4p1B1/2PPP1n1/2N2N2/PP2BPPP/R2Q1RK1 w - - 0 10", this, "d8e8"); ' class="line0">Qe8!</span> 
</p>
<p>In the early days of the variation Black often played
 <span onclick='loadMove("r1bq1rk1/ppp3bp/n2p1pp1/4p1B1/2PPP1n1/2N2N2/PP2BPPP/R2Q1RK1 w - - 0 10", this, "f7f6"); ' class="line1">9...f6</span> 
, but went off this line because of the continuation
 <span onclick='loadMove("r1bq1rk1/ppp3bp/n2p1pp1/4p3/2PPP1n1/2N2N2/PP2BPPP/R1BQ1RK1 b - - 0 10", this, "g5c1"); ' class="line1">10.Bc1</span> 
 <span onclick='loadMove("r1bq1rk1/pp4bp/n1pp1pp1/4p3/2PPP1n1/2N2N2/PP2BPPP/R1BQ1RK1 w - - 0 11", this, "c7c6"); ' class="line1">c6</span> 
 <span onclick='loadMove("r1bq1rk1/pp4bp/n1pp1pp1/4p3/2PPP1n1/2N2N1P/PP2BPP1/R1BQ1RK1 b - - 0 11", this, "h2h3"); ' class="line1">11.h3</span> 
 <span onclick='loadMove("r1bq1rk1/pp4bp/n1pp1ppn/4p3/2PPP3/2N2N1P/PP2BPP1/R1BQ1RK1 w - - 0 12", this, "g4h6"); ' class="line1">Nh6</span> 
 <span onclick='loadMove("r1bq1rk1/pp4bp/n1pp1ppn/2P1p3/3PP3/2N2N1P/PP2BPP1/R1BQ1RK1 b - - 0 12", this, "c4c5"); ' class="line1">12.c5!</span> 
.</p>
<p>
 <span onclick='loadMove("r1b1qrk1/ppp2pbp/n2p2p1/4P1B1/2P1P1n1/2N2N2/PP2BPPP/R2Q1RK1 b - - 0 10", this, "d4e5"); ' class="line0">10.dxe5</span> 
</p>
<p>This exchange is considered to be the most accurate move.
After
 <span onclick='loadMove("r1b1qrk1/ppp2pbp/n2p2p1/4p1B1/2PPP1n1/2N2N1P/PP2BPP1/R2Q1RK1 b - - 0 10", this, "h2h3"); ' class="line1">10.h3</span> 
 <span onclick='loadMove("r1b1qrk1/ppp2pb1/n2p2pp/4p1B1/2PPP1n1/2N2N1P/PP2BPP1/R2Q1RK1 w - - 0 11", this, "h7h6"); ' class="line1">h6?</span> 
 <span onclick='loadMove("r1b1qrk1/ppp2pb1/n2p2pp/4p3/2PPP1n1/2N2N1P/PP2BPP1/R1BQ1RK1 b - - 0 11", this, "g5c1"); ' class="line1">11.Bc1</span> 
 <span onclick='loadMove("r1b1qrk1/ppp2pb1/n2p2pp/8/2PpP1n1/2N2N1P/PP2BPP1/R1BQ1RK1 w - - 0 12", this, "e5d4"); ' class="line1">exd4</span> 
 <span onclick='loadMove("r1b1qrk1/ppp2pb1/n2p2pp/8/2PNP1n1/2N4P/PP2BPP1/R1BQ1RK1 b - - 0 12", this, "f3d4"); ' class="line1">12.Nxd4</span> 
 <span onclick='loadMove("r1b1qrk1/ppp2pb1/n2p1npp/8/2PNP3/2N4P/PP2BPP1/R1BQ1RK1 w - - 0 13", this, "g4f6"); ' class="line1">Nf6</span> 
 <span onclick='loadMove("r1b1qrk1/ppp2pb1/n2p1npp/8/2PNP3/2N2B1P/PP3PP1/R1BQ1RK1 b - - 0 13", this, "e2f3"); ' class="line1">13.Bf3</span> 
Black has demonstrated on a number of occasions that the move
 <span onclick='loadMove("r1b1qrk1/ppp2pbn/n2p2pp/8/2PNP3/2N2B1P/PP3PP1/R1BQ1RK1 w - - 0 14", this, "f6h7"); ' class="line1">13...Nh7!</span> 
, intending <b>...Ng5</b>, gives him a comfortable game.</p>
<p>
 <span onclick='loadMove("r1b1qrk1/ppp2pbp/n5p1/4p1B1/2P1P1n1/2N2N2/PP2BPPP/R2Q1RK1 w - - 0 11", this, "d6e5"); ' class="line0">10...dxe5</span> 
 <span onclick='loadMove("r1b1qrk1/ppp2pbp/n5p1/4p1B1/2P1P1n1/2N2N1P/PP2BPP1/R2Q1RK1 b - - 0 11", this, "h2h3"); ' class="line0">11.h3</span> 
</p>
<p>
 <span onclick='loadMove("r1b1qrk1/ppp2pbp/n5p1/4p1B1/2P1P1n1/2N5/PP1NBPPP/R2Q1RK1 b - - 0 11", this, "f3d2"); ' class="line1">11.Nd2</span> 
is an important alternative. Black can try:</p>
<p>(1)
 <span onclick='loadMove("r1b1qrk1/ppp2pb1/n5pp/4p1B1/2P1P1n1/2N5/PP1NBPPP/R2Q1RK1 w - - 0 12", this, "h7h6"); ' class="line2">11...h6</span> 
 <span onclick='loadMove("r1b1qrk1/ppp2pb1/n5pp/4p3/2P1P1nB/2N5/PP1NBPPP/R2Q1RK1 b - - 0 12", this, "g5h4"); ' class="line2">12.Bh4</span> 
 <span onclick='loadMove("r1b1qrk1/ppp2pb1/n4npp/4p3/2P1P2B/2N5/PP1NBPPP/R2Q1RK1 w - - 0 13", this, "g4f6"); ' class="line2">Nf6</span> 
 <span onclick='loadMove("r1b1qrk1/ppp2pb1/n4npp/3Np3/2P1P2B/8/PP1NBPPP/R2Q1RK1 b - - 0 13", this, "c3d5"); ' class="line2">13.Nd5</span> 
 <span onclick='loadMove("r1bq1rk1/ppp2pb1/n4npp/3Np3/2P1P2B/8/PP1NBPPP/R2Q1RK1 w - - 0 14", this, "e8d8"); ' class="line2">Qd8?!</span> 
(
 <span onclick='loadMove("r1b1qrk1/ppp2pb1/n4n1p/3Np1p1/2P1P2B/8/PP1NBPPP/R2Q1RK1 w - - 0 14", this, "g6g5"); ' class="line3">13...g5</span> 
 <span onclick='loadMove("r1b1qrk1/ppp2pb1/n4n1p/3Np1p1/2P1P3/6B1/PP1NBPPP/R2Q1RK1 b - - 0 14", this, "h4g3"); ' class="line3">14.Bg3</span> 
 <span onclick='loadMove("r1b1qrk1/pp3pb1/n1p2n1p/3Np1p1/2P1P3/6B1/PP1NBPPP/R2Q1RK1 w - - 0 15", this, "c7c6"); ' class="line3">c6</span> 
 <span onclick='loadMove("r1b1qrk1/pp3pb1/n1p2n1p/4p1p1/2P1P3/4N1B1/PP1NBPPP/R2Q1RK1 b - - 0 15", this, "d5e3"); ' class="line3">15.Ne3</span> 
 <span onclick='loadMove("r1b1qrk1/pp3pb1/2p2n1p/2n1p1p1/2P1P3/4N1B1/PP1NBPPP/R2Q1RK1 w - - 0 16", this, "a6c5"); ' class="line3">Nc5</span> 
is more solid with good equalising chances for Black; he does have a hole on his f5-square but he will always be able to take a white knight that occupies this square)
 <span onclick='loadMove("r1bq1rk1/ppp2pb1/n4npp/3Np3/2P1PP1B/8/PP1NB1PP/R2Q1RK1 b - f3 0 14", this, "f2f4"); ' class="line2">14.f4!</span> 
and now he must sacrifice his queen. After
 <span onclick='loadMove("r1bq1rk1/ppp2pb1/n5pp/3np3/2P1PP1B/8/PP1NB1PP/R2Q1RK1 w - - 0 15", this, "f6d5"); ' class="line2">14...Nxd5!</span> 
 <span onclick='loadMove("r1bB1rk1/ppp2pb1/n5pp/3np3/2P1PP2/8/PP1NB1PP/R2Q1RK1 b - - 0 15", this, "h4d8"); ' class="line2">15.Bxd8</span> 
 <span onclick='loadMove("r1bB1rk1/ppp2pb1/n5pp/4p3/2P1PP2/4n3/PP1NB1PP/R2Q1RK1 w - - 0 16", this, "d5e3"); ' class="line2">Ne3</span> 
 <span onclick='loadMove("r1bB1rk1/ppp2pb1/n5pp/4p3/2P1PP2/1Q2n3/PP1NB1PP/R4RK1 b - - 0 16", this, "d1b3"); ' class="line2">16.Qb3</span> 
 <span onclick='loadMove("r1bB1rk1/ppp2pb1/n5pp/4p3/2P1PP2/1Q6/PP1NB1PP/R4nK1 w - - 0 17", this, "e3f1"); ' class="line2">Nxf1</span> 
 <span onclick='loadMove("r1bB1rk1/ppp2pb1/n5pp/4p3/2P1PP2/1Q6/PP2B1PP/R4NK1 b - - 0 17", this, "d2f1"); ' class="line2">17.Nxf1</span> 
 <span onclick='loadMove("r1br2k1/ppp2pb1/n5pp/4p3/2P1PP2/1Q6/PP2B1PP/R4NK1 w - - 0 18", this, "f8d8"); ' class="line2">Rxd8</span> 
Black probably does not have quite enough compensation.</p>
<p>(2) Recently Black has started playing
 <span onclick='loadMove("r1b1qrk1/ppp3bp/n4pp1/4p1B1/2P1P1n1/2N5/PP1NBPPP/R2Q1RK1 w - - 0 12", this, "f7f6"); ' class="line2">11...f6!?</span> 
and has been doing fine after both 12 Bh4 h5 and
 <span onclick='loadMove("r1b1qrk1/ppp3bp/n4pp1/4p1B1/2P1P1B1/2N5/PP1N1PPP/R2Q1RK1 b - - 0 12", this, "e2g4"); ' class="line2">12.Bxg4</span> 
 <span onclick='loadMove("r1b1qrk1/ppp3bp/n5p1/4p1p1/2P1P1B1/2N5/PP1N1PPP/R2Q1RK1 w - - 0 13", this, "f6g5"); ' class="line2">fxg5</span> 
.
</p>
<p>
 <span onclick='loadMove("r1b1qrk1/ppp2pb1/n5pp/4p1B1/2P1P1n1/2N2N1P/PP2BPP1/R2Q1RK1 w - - 0 12", this, "h7h6"); ' class="line0">11...h6</span> 
</p>
<p>
 <span onclick='loadMove("r1b1qrk1/ppp3bp/n4pp1/4p1B1/2P1P1n1/2N2N1P/PP2BPP1/R2Q1RK1 w - - 0 12", this, "f7f6"); ' class="line1">11...f6</span> 
is also playable here.</p>
<p>
 <span onclick='loadMove("r1b1qrk1/ppp2pb1/n5pp/4p3/2P1P1n1/2N2N1P/PP1BBPP1/R2Q1RK1 b - - 0 12", this, "g5d2"); ' class="line0">12.Bd2</span> 
</p>
<p>White can win a pawn with
 <span onclick='loadMove("r1b1qrk1/ppp2pb1/n5pp/4p1B1/2P1P1P1/2N2N2/PP2BPP1/R2Q1RK1 b - - 0 12", this, "h3g4"); ' class="line1">12.hxg4</span> 
 <span onclick='loadMove("r1b1qrk1/ppp2pb1/n5p1/4p1p1/2P1P1P1/2N2N2/PP2BPP1/R2Q1RK1 w - - 0 13", this, "h6g5"); ' class="line1">hxg5</span> 
 <span onclick='loadMove("r1b1qrk1/ppp2pb1/n5p1/4p1N1/2P1P1P1/2N5/PP2BPP1/R2Q1RK1 b - - 0 13", this, "f3g5"); ' class="line1">13.Nxg5</span> 
 <span onclick='loadMove("r1b2rk1/ppp1qpb1/n5p1/4p1N1/2P1P1P1/2N5/PP2BPP1/R2Q1RK1 w - - 0 14", this, "e8e7"); ' class="line1">Qe7</span> 
 <span onclick='loadMove("r1b2rk1/ppp1qpb1/n5p1/4p3/2P1P1P1/2N4N/PP2BPP1/R2Q1RK1 b - - 0 14", this, "g5h3"); ' class="line1">14.Nh3</span> 
but Black has excellent compensation on the dark squares after
 <span onclick='loadMove("r1b2rk1/ppp1qp2/n5pb/4p3/2P1P1P1/2N4N/PP2BPP1/R2Q1RK1 w - - 0 15", this, "g7h6"); ' class="line1">14...Bh6</span> 
. His main plan now will be to manoeuvre the knight from a6 to d4.</p>
<p>
 <span onclick='loadMove("r1b1qrk1/ppp2pb1/n4npp/4p3/2P1P3/2N2N1P/PP1BBPP1/R2Q1RK1 w - - 0 13", this, "g4f6"); ' class="line0">12...Nf6</span> 
 <span onclick='loadMove("r1b1qrk1/ppp2pb1/n4npp/4p3/2P1P3/2N1BN1P/PP2BPP1/R2Q1RK1 b - - 0 13", this, "d2e3"); ' class="line0">13.Be3</span> 
 <span onclick='loadMove("r1b2rk1/ppp1qpb1/n4npp/4p3/2P1P3/2N1BN1P/PP2BPP1/R2Q1RK1 w - - 0 14", this, "e8e7"); ' class="line0">Qe7!?</span> 
</p>
<div class="chessBoard analysis nobuttons" data-start-fen="r1b2rk1/ppp1qpb1/n4npp/4p3/2P1P3/2N1BN1P/PP2BPP1/R2Q1RK1 w - - 0 14"></div>
<p><b>Diagram 2</b>. Inviting Nd5</p>
<p>This crazy-looking queen move, which seems to invite <b>Nd5</b>, is designed to prevent White from playing c5. It has become the main line and is featured in <b>Tukmakov-Gallagher</b>.</p>
<h4>Theoretical?</h4>
<p>The raison d'être of this variation was to avoid all the heavy theory that surrounds
 <span onclick='loadMove("r1bq1rk1/ppp2pbp/2np1np1/4p3/2PPP3/2N2N2/PP2BPPP/R1BQ1RK1 w - - 0 8", this, "b8c6"); ' class="line1">7...Nc6</span> 
. However, any line that is extensively tested in top class chess for ten years or so is bound to develop a decent body of theory. That is what has happened here. There is no such thing as a free lunch.</p>
<h4>Statistics</h4>
<p>After
 <span onclick='loadMove("r1bq1rk1/ppp2pbp/n2p1np1/4p3/2PPP3/2N2N2/PP2BPPP/R1BQ1RK1 w - - 0 8", this, "b8a6"); ' class="line1">7...Na6</span> 
(including
 <span onclick='loadMove("rnbq1rk1/ppp2pbp/3p1np1/4p3/2PPP3/2N1BN2/PP2BPPP/R2QK2R b KQ - 0 7", this, "c1e3"); ' class="line2">7.Be3</span> 
 <span onclick='loadMove("r1bq1rk1/ppp2pbp/n2p1np1/4p3/2PPP3/2N1BN2/PP2BPPP/R2QK2R w KQ - 0 8", this, "b8a6"); ' class="line2">Na6</span> 
 <span onclick='loadMove("r1bq1rk1/ppp2pbp/n2p1np1/4p3/2PPP3/2N1BN2/PP2BPPP/R2Q1RK1 b - - 0 8", this, "e1g1"); ' class="line2">8.O-O</span> 
) White has scored 57% from 1600 games.
Not bad, but what is very interesting is that in the position after
 <span onclick='loadMove("r1b2rk1/ppp1qpb1/n4npp/4p3/2P1P3/2N1BN1P/PP2BPP1/R2Q1RK1 w - - 0 14", this, "e8e7"); ' class="line1">13...Qe7</span> 
, the main line from <b>Tukmakov-Gallagher</b>, White has only managed 46% from just over 100 games. With
 <span onclick='loadMove("r1bq1rk1/ppp2pbp/n2p1np1/4p3/2PPP3/2N2N2/PP2BPPP/R1BQR1K1 b - - 0 8", this, "f1e1"); ' class="line1">8.Re1</span> 
White has scored 58%.</p>
</div> <!-- score -->
</div> <!-- section -->

<div class="section">
<div class="chessBoard small floater" data-start-fen="rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w KQkq - 0 1"></div>
<div class="score">
 <span class="line0" onclick='loadMove("rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w KQkq - 0 1", this, ""); '>[...]</span> 
<h3>Illustrative Games</h3>
<h4>Game 7<br>Tukmakov, V. - Gallagher, J.<br>Basel 1999</h4>
<p>[ECO "E94"]</p>
<p>
 <span onclick='loadMove("rnbqkbnr/pppppppp/8/8/3P4/8/PPP1PPPP/RNBQKBNR b KQkq d3 0 1", this, "d2d4"); ' class="line0">1.d4</span> 
 <span onclick='loadMove("rnbqkb1r/pppppppp/5n2/8/3P4/8/PPP1PPPP/RNBQKBNR w KQkq - 0 2", this, "g8f6"); ' class="line0">Nf6</span> 
 <span onclick='loadMove("rnbqkb1r/pppppppp/5n2/8/3P4/5N2/PPP1PPPP/RNBQKB1R b KQkq - 0 2", this, "g1f3"); ' class="line0">2.Nf3</span> 
 <span onclick='loadMove("rnbqkb1r/pppppp1p/5np1/8/3P4/5N2/PPP1PPPP/RNBQKB1R w KQkq - 0 3", this, "g7g6"); ' class="line0">g6</span> 
 <span onclick='loadMove("rnbqkb1r/pppppp1p/5np1/8/2PP4/5N2/PP2PPPP/RNBQKB1R b KQkq c3 0 3", this, "c2c4"); ' class="line0">3.c4</span> 
 <span onclick='loadMove("rnbqk2r/ppppppbp/5np1/8/2PP4/5N2/PP2PPPP/RNBQKB1R w KQkq - 0 4", this, "f8g7"); ' class="line0">Bg7</span> 
 <span onclick='loadMove("rnbqk2r/ppppppbp/5np1/8/2PP4/2N2N2/PP2PPPP/R1BQKB1R b KQkq - 0 4", this, "b1c3"); ' class="line0">4.Nc3</span> 
 <span onclick='loadMove("rnbqk2r/ppp1ppbp/3p1np1/8/2PP4/2N2N2/PP2PPPP/R1BQKB1R w KQkq - 0 5", this, "d7d6"); ' class="line0">d6</span> 
 <span onclick='loadMove("rnbqk2r/ppp1ppbp/3p1np1/8/2PPP3/2N2N2/PP3PPP/R1BQKB1R b KQkq e3 0 5", this, "e2e4"); ' class="line0">5.e4</span> 
 <span onclick='loadMove("rnbq1rk1/ppp1ppbp/3p1np1/8/2PPP3/2N2N2/PP3PPP/R1BQKB1R w KQ - 0 6", this, "e8g8"); ' class="line0">O-O</span> 
 <span onclick='loadMove("rnbq1rk1/ppp1ppbp/3p1np1/8/2PPP3/2N2N2/PP2BPPP/R1BQK2R b KQ - 0 6", this, "f1e2"); ' class="line0">6.Be2</span> 
 <span onclick='loadMove("rnbq1rk1/ppp2pbp/3p1np1/4p3/2PPP3/2N2N2/PP2BPPP/R1BQK2R w KQ e6 0 7", this, "e7e5"); ' class="line0">e5</span> 
 <span onclick='loadMove("rnbq1rk1/ppp2pbp/3p1np1/4p3/2PPP3/2N2N2/PP2BPPP/R1BQ1RK1 b - - 0 7", this, "e1g1"); ' class="line0">7.O-O</span> 
 <span onclick='loadMove("r1bq1rk1/ppp2pbp/n2p1np1/4p3/2PPP3/2N2N2/PP2BPPP/R1BQ1RK1 w - - 0 8", this, "b8a6"); ' class="line0">Na6</span> 
 <span onclick='loadMove("r1bq1rk1/ppp2pbp/n2p1np1/4p3/2PPP3/2N1BN2/PP2BPPP/R2Q1RK1 b - - 0 8", this, "c1e3"); ' class="line0">8.Be3</span> 
 <span onclick='loadMove("r1bq1rk1/ppp2pbp/n2p2p1/4p3/2PPP1n1/2N1BN2/PP2BPPP/R2Q1RK1 w - - 0 9", this, "f6g4"); ' class="line0">Ng4</span> 
 <span onclick='loadMove("r1bq1rk1/ppp2pbp/n2p2p1/4p1B1/2PPP1n1/2N2N2/PP2BPPP/R2Q1RK1 b - - 0 9", this, "e3g5"); ' class="line0">9.Bg5</span> 
 <span onclick='loadMove("r1b1qrk1/ppp2pbp/n2p2p1/4p1B1/2PPP1n1/2N2N2/PP2BPPP/R2Q1RK1 w - - 0 10", this, "d8e8"); ' class="line0">Qe8</span> 
 <span onclick='loadMove("r1b1qrk1/ppp2pbp/n2p2p1/4P1B1/2P1P1n1/2N2N2/PP2BPPP/R2Q1RK1 b - - 0 10", this, "d4e5"); ' class="line0">10.dxe5</span> 
 <span onclick='loadMove("r1b1qrk1/ppp2pb1/n2p2pp/4P1B1/2P1P1n1/2N2N2/PP2BPPP/R2Q1RK1 w - - 0 11", this, "h7h6"); ' class="line0">h6</span> 
 <span onclick='loadMove("r1b1qrk1/ppp2pb1/n2p2pp/4P3/2P1P1n1/2N2N2/PP1BBPPP/R2Q1RK1 b - - 0 11", this, "g5d2"); ' class="line0">11.Bd2</span> 
 <span onclick='loadMove("r1b1qrk1/ppp2pb1/n5pp/4p3/2P1P1n1/2N2N2/PP1BBPPP/R2Q1RK1 w - - 0 12", this, "d6e5"); ' class="line0">dxe5</span> 
 <span onclick='loadMove("r1b1qrk1/ppp2pb1/n5pp/4p3/2P1P1n1/2N2N1P/PP1BBPP1/R2Q1RK1 b - - 0 12", this, "h2h3"); ' class="line0">12.h3</span> 
 <span onclick='loadMove("r1b1qrk1/ppp2pb1/n4npp/4p3/2P1P3/2N2N1P/PP1BBPP1/R2Q1RK1 w - - 0 13", this, "g4f6"); ' class="line0">Nf6</span> 
 <span onclick='loadMove("r1b1qrk1/ppp2pb1/n4npp/4p3/2P1P3/2N1BN1P/PP2BPP1/R2Q1RK1 b - - 0 13", this, "d2e3"); ' class="line0">13.Be3</span> 
 <span onclick='loadMove("r1b2rk1/ppp1qpb1/n4npp/4p3/2P1P3/2N1BN1P/PP2BPP1/R2Q1RK1 w - - 0 14", this, "e8e7"); ' class="line0">Qe7</span> 
 <span onclick='loadMove("r1b2rk1/ppp1qpb1/n4npp/3Np3/2P1P3/4BN1P/PP2BPP1/R2Q1RK1 b - - 0 14", this, "c3d5"); ' class="line0">14.Nd5</span> 
</p>
<p>The obvious move;
but
 <span onclick='loadMove("r1b2rk1/ppp1qpb1/n4npp/4p3/2P1P3/P1N1BN1P/1P2BPP1/R2Q1RK1 b - - 0 14", this, "a2a3"); ' class="line1">14.a3</span> 
is an important alternative. White's plan is to play <b>b2-b4</b> and <b>c4-c5</b> to gain space on the queenside and potential use of the outpost on d6. A typical continuation is
 <span onclick='loadMove("r1b2rk1/pp2qpb1/n1p2npp/4p3/2P1P3/P1N1BN1P/1P2BPP1/R2Q1RK1 w - - 0 15", this, "c7c6"); ' class="line1">14...c6</span> 
 <span onclick='loadMove("r1b2rk1/pp2qpb1/n1p2npp/4p3/1PP1P3/P1N1BN1P/4BPP1/R2Q1RK1 b - b3 0 15", this, "b2b4"); ' class="line1">15.b4</span> 
 <span onclick='loadMove("r1b2rk1/pp2qpb1/n1p3pp/4p2n/1PP1P3/P1N1BN1P/4BPP1/R2Q1RK1 w - - 0 16", this, "f6h5"); ' class="line1">Nh5</span> 
 <span onclick='loadMove("r1b2rk1/pp2qpb1/n1p3pp/2P1p2n/1P2P3/P1N1BN1P/4BPP1/R2Q1RK1 b - - 0 16", this, "c4c5"); ' class="line1">16.c5</span> 
 <span onclick='loadMove("r1br2k1/pp2qpb1/n1p3pp/2P1p2n/1P2P3/P1N1BN1P/4BPP1/R2Q1RK1 w - - 0 17", this, "f8d8"); ' class="line1">Rd8!</span> 
(
 <span onclick='loadMove("r1b2rk1/ppn1qpb1/2p3pp/2P1p2n/1P2P3/P1N1BN1P/4BPP1/R2Q1RK1 w - - 0 17", this, "a6c7"); ' class="line2">16...Nc7?!</span> 
 <span onclick='loadMove("r1b2rk1/ppn1qpb1/2pQ2pp/2P1p2n/1P2P3/P1N1BN1P/4BPP1/R4RK1 b - - 0 17", this, "d1d6"); ' class="line2">17.Qd6!</span> 
)
 <span onclick='loadMove("r1br2k1/pp2qpb1/n1p3pp/2P1p2n/1P2P3/P1N1BN1P/4BPP1/R1Q2RK1 b - - 0 17", this, "d1c1"); ' class="line1">17.Qc1</span> 
 <span onclick='loadMove("r1br4/pp2qpbk/n1p3pp/2P1p2n/1P2P3/P1N1BN1P/4BPP1/R1Q2RK1 w - - 0 18", this, "g8h7"); ' class="line1">Kh7</span> 
. Now White can ruin Black's pawn structure with
 <span onclick='loadMove("r1br4/pp2qpbk/B1p3pp/2P1p2n/1P2P3/P1N1BN1P/5PP1/R1Q2RK1 b - - 0 18", this, "e2a6"); ' class="line1">18.Bxa6</span> 
but this is very double-edged as his bishop is an important piece. If he doesn't take then Black will follow up with <b>...Nc7</b>. The general consensus is that Black is doing OK here.</p>
<p>
 <span onclick='loadMove("r1bq1rk1/ppp2pb1/n4npp/3Np3/2P1P3/4BN1P/PP2BPP1/R2Q1RK1 w - - 0 15", this, "e7d8"); ' class="line0">14...Qd8!</span> 
</p>
<p>Certainly not the horrible
 <span onclick='loadMove("r1b2rk1/ppp1qpb1/n5pp/3np3/2P1P3/4BN1P/PP2BPP1/R2Q1RK1 w - - 0 15", this, "f6d5"); ' class="line1">14...Nxd5</span> 
 <span onclick='loadMove("r1b2rk1/ppp1qpb1/n5pp/3Pp3/4P3/4BN1P/PP2BPP1/R2Q1RK1 b - - 0 15", this, "c4d5"); ' class="line1">15.cxd5</span> 
after which the pawn structure is very much in White's favour. There is no need to take the knight. It's much better to drive it away with <b>...c7-c6</b>.</p>
<p>
 <span onclick='loadMove("r1bq1rk1/ppp2pb1/n4npp/3Np3/2P1P3/4BN1P/PPQ1BPP1/R4RK1 b - - 0 15", this, "d1c2"); ' class="line0">15.Qc2</span> 
</p>
<p>White defends his pawn on e4. There are a couple of alternatives:</p>
<p>(1)
 <span onclick='loadMove("r1bq1rk1/ppp2pb1/n4Npp/4p3/2P1P3/4BN1P/PP2BPP1/R2Q1RK1 b - - 0 15", this, "d5f6"); ' class="line1">15.Nxf6+</span> 
 <span onclick='loadMove("r1b2rk1/ppp2pb1/n4qpp/4p3/2P1P3/4BN1P/PP2BPP1/R2Q1RK1 w - - 0 16", this, "d8f6"); ' class="line1">Qxf6</span> 
 <span onclick='loadMove("r1b2rk1/ppp2pb1/n4qpp/2P1p3/4P3/4BN1P/PP2BPP1/R2Q1RK1 b - - 0 16", this, "c4c5"); ' class="line1">16.c5</span> 
 <span onclick='loadMove("rnb2rk1/ppp2pb1/5qpp/2P1p3/4P3/4BN1P/PP2BPP1/R2Q1RK1 w - - 0 17", this, "a6b8"); ' class="line1">Nb8!</span> 
followed by <b>...Nc6</b> gives Black an equal game. Note that Black has to go via b8 as
 <span onclick='loadMove("r1b2rk1/ppp2pb1/5qpp/2P1p3/1n2P3/4BN1P/PP2BPP1/R2Q1RK1 w - - 0 17", this, "a6b4"); ' class="line2">16...Nb4</span> 
loses a pawn to
 <span onclick='loadMove("r1b2rk1/ppp2pb1/5qpp/2P1p3/1n2P3/4BN1P/PP1QBPP1/R4RK1 b - - 0 17", this, "d1d2"); ' class="line2">17.Qd2</span> 
.</p>
<p>(2)
 <span onclick='loadMove("r1bq1rk1/ppp2pb1/n4npp/3Np3/2P1P3/4BN1P/PP2BPP1/R1Q2RK1 b - - 0 15", this, "d1c1"); ' class="line1">15.Qc1</span> 
 <span onclick='loadMove("r1bq1rk1/ppp2pb1/n5pp/3Np3/2P1n3/4BN1P/PP2BPP1/R1Q2RK1 w - - 0 16", this, "f6e4"); ' class="line1">Nxe4</span> 
 <span onclick='loadMove("r1bq1rk1/ppp2pb1/n5pB/3Np3/2P1n3/5N1P/PP2BPP1/R1Q2RK1 b - - 0 16", this, "e3h6"); ' class="line1">16.Bxh6</span> 
is quite risky for Black so he should play
 <span onclick='loadMove("r1bq1r2/ppp2pbk/n4npp/3Np3/2P1P3/4BN1P/PP2BPP1/R1Q2RK1 w - - 0 16", this, "g8h7"); ' class="line1">15...Kh7</span> 
and after
 <span onclick='loadMove("r1bq1r2/ppp2pbk/n4npp/3Np3/2P1P3/4BN1P/PP2BPP1/R1QR2K1 b - - 0 16", this, "f1d1"); ' class="line1">16.Rd1</span> 
sacrifice his queen with
 <span onclick='loadMove("r1bq1r2/ppp2pbk/n5pp/3Np3/2P1n3/4BN1P/PP2BPP1/R1QR2K1 w - - 0 17", this, "f6e4"); ' class="line1">16...Nxe4!</span> 
 <span onclick='loadMove("r1bq1r2/ppp2pbk/nN4pp/4p3/2P1n3/4BN1P/PP2BPP1/R1QR2K1 b - - 0 17", this, "d5b6"); ' class="line1">17.Nb6</span> 
 <span onclick='loadMove("r1bq1r2/1pp2pbk/np4pp/4p3/2P1n3/4BN1P/PP2BPP1/R1QR2K1 w - - 0 18", this, "a7b6"); ' class="line1">axb6</span> 
 <span onclick='loadMove("r1bR1r2/1pp2pbk/np4pp/4p3/2P1n3/4BN1P/PP2BPP1/R1Q3K1 b - - 0 18", this, "d1d8"); ' class="line1">18.Rxd8</span> 
 <span onclick='loadMove("r1br4/1pp2pbk/np4pp/4p3/2P1n3/4BN1P/PP2BPP1/R1Q3K1 w - - 0 19", this, "f8d8"); ' class="line1">Rxd8</span> 
. The rook, piece and central pawn give him full compensation.</p>
<p class="notification message">NOTE: This is already the second queen sacrifice we have seen in this variation. Amongst players starting out, the queen is often treated with exaggerated respect but more experienced players are sometimes willing to exchange it for a collection of other pieces.</p>
<p>
 <span onclick='loadMove("r1bq1rk1/pp3pb1/n1p2npp/3Np3/2P1P3/4BN1P/PPQ1BPP1/R4RK1 w - - 0 16", this, "c7c6"); ' class="line0">15...c6</span> 
 <span onclick='loadMove("r1bq1rk1/pp3pb1/n1p2Npp/4p3/2P1P3/4BN1P/PPQ1BPP1/R4RK1 b - - 0 16", this, "d5f6"); ' class="line0">16.Nxf6+</span> 
 <span onclick='loadMove("r1b2rk1/pp3pb1/n1p2qpp/4p3/2P1P3/4BN1P/PPQ1BPP1/R4RK1 w - - 0 17", this, "d8f6"); ' class="line0">Qxf6</span> 
 <span onclick='loadMove("r1b2rk1/pp3pb1/n1p2qpp/4p3/2P1P3/4BN1P/PPQ1BPP1/R2R2K1 b - - 0 17", this, "f1d1"); ' class="line0">17.Rfd1</span> 
 <span onclick='loadMove("r1b2rk1/pp2qpb1/n1p3pp/4p3/2P1P3/4BN1P/PPQ1BPP1/R2R2K1 w - - 0 18", this, "f6e7"); ' class="line0">Qe7</span> 
</p>
<p>Black's plan is to play <b>...f7-f5</b>.</p>
<p>
 <span onclick='loadMove("r1b2rk1/pp2qpb1/n1p3pp/2P1p3/4P3/4BN1P/PPQ1BPP1/R2R2K1 b - - 0 18", this, "c4c5"); ' class="line0">18.c5</span> 
 <span onclick='loadMove("r1b2rk1/ppn1qpb1/2p3pp/2P1p3/4P3/4BN1P/PPQ1BPP1/R2R2K1 w - - 0 19", this, "a6c7"); ' class="line0">Nc7</span> 
 <span onclick='loadMove("r1b2rk1/ppn1qpb1/2p3pp/2P1p3/1P2P3/4BN1P/P1Q1BPP1/R2R2K1 b - b3 0 19", this, "b2b4"); ' class="line0">19.b4</span> 
 <span onclick='loadMove("r1b2r2/ppn1qpbk/2p3pp/2P1p3/1P2P3/4BN1P/P1Q1BPP1/R2R2K1 w - - 0 20", this, "g8h7"); ' class="line0">Kh7</span> 
 <span onclick='loadMove("r1b2r2/ppn1qpbk/2p3pp/2P1p3/PP2P3/4BN1P/2Q1BPP1/R2R2K1 b - a3 0 20", this, "a2a4"); ' class="line0">20.a4</span> 
 <span onclick='loadMove("r1b2r2/ppn1q1bk/2p3pp/2P1pp2/PP2P3/4BN1P/2Q1BPP1/R2R2K1 w - f6 0 21", this, "f7f5"); ' class="line0">f5</span> 
 <span onclick='loadMove("r1b2r2/ppn1q1bk/2p3pp/1PP1pp2/P3P3/4BN1P/2Q1BPP1/R2R2K1 b - - 0 21", this, "b4b5"); ' class="line0">21.b5</span> 
 <span onclick='loadMove("r1b2r2/ppn1q1bk/2p3pp/1PP1p3/P3p3/4BN1P/2Q1BPP1/R2R2K1 w - - 0 22", this, "f5e4"); ' class="line0">fxe4!</span> 
</p>
<div class="chessBoard analysis nobuttons" data-start-fen="r1b2r2/ppn1q1bk/2p3pp/1PP1p3/P3p3/4BN1P/2Q1BPP1/R2R2K1 w - - 0 22"></div>
<p><b>Diagram 3</b>. Black takes control of d5</p>
<p>Black is not interested in playing for a kingside attack with <b>...f5-f4</b> as White's queenside play is already well advanced. No, his idea is to occupy d5 which White made available when he played <b>c4-c5</b>.</p>
<p>
 <span onclick='loadMove("r1b2r2/ppn1q1bk/2p3pp/1PP1p3/P3p3/4B2P/2QNBPP1/R2R2K1 b - - 0 22", this, "f3d2"); ' class="line0">22.Nd2</span> 
 <span onclick='loadMove("r1b2r2/pp2q1bk/2p3pp/1PPnp3/P3p3/4B2P/2QNBPP1/R2R2K1 w - - 0 23", this, "c7d5"); ' class="line0">Nd5</span> 
 <span onclick='loadMove("r1b2r2/pp2q1bk/2p3pp/1PPnp3/P3N3/4B2P/2Q1BPP1/R2R2K1 b - - 0 23", this, "d2e4"); ' class="line0">23.Nxe4</span> 
 <span onclick='loadMove("r4r2/pp2q1bk/2p3pp/1PPnpb2/P3N3/4B2P/2Q1BPP1/R2R2K1 w - - 0 24", this, "c8f5"); ' class="line0">Bf5</span> 
 <span onclick='loadMove("r4r2/pp2q1bk/2p3pp/1PPnpb2/P3N3/R3B2P/2Q1BPP1/3R2K1 b - - 0 24", this, "a1a3"); ' class="line0">24.Ra3</span> 
 <span onclick='loadMove("3r1r2/pp2q1bk/2p3pp/1PPnpb2/P3N3/R3B2P/2Q1BPP1/3R2K1 w - - 0 25", this, "a8d8"); ' class="line0">Rad8</span> 
 <span onclick='loadMove("3r1r2/pp2q1bk/2p3pp/1PPnpb2/P3N3/R3BP1P/2Q1B1P1/3R2K1 b - - 0 25", this, "f2f3"); ' class="line0">25.f3</span> 
 <span onclick='loadMove("3r1r2/pp2q1bk/2p3pp/1PP1pb2/P3N3/R3nP1P/2Q1B1P1/3R2K1 w - - 0 26", this, "d5e3"); ' class="line0">Nxe3!</span> 
</p>
<p>Black's knight was a fine piece but after White played f3, to reinforce his knight on e4, he weakened all the dark squares on his kingside. He probably thought that this didn't matter so much because Black's bishop is quite passive on g7 but there is a very thematic way to bring this piece into the game.</p>
<p>
 <span onclick='loadMove("3r1r2/pp2q1bk/2p3pp/1PP1pb2/P3N3/4RP1P/2Q1B1P1/3R2K1 b - - 0 26", this, "a3e3"); ' class="line0">26.Rxe3</span> 
 <span onclick='loadMove("5r2/pp2q1bk/2p3pp/1PP1pb2/P3N3/4RP1P/2Q1B1P1/3r2K1 w - - 0 27", this, "d8d1"); ' class="line0">Rxd1+</span> 
 <span onclick='loadMove("5r2/pp2q1bk/2p3pp/1PP1pb2/P3N3/4RP1P/2Q3P1/3B2K1 b - - 0 27", this, "e2d1"); ' class="line0">27.Bxd1</span> 
 <span onclick='loadMove("3r4/pp2q1bk/2p3pp/1PP1pb2/P3N3/4RP1P/2Q3P1/3B2K1 w - - 0 28", this, "f8d8"); ' class="line0">Rd8</span> 
 <span onclick='loadMove("3r4/pp2q1bk/2P3pp/2P1pb2/P3N3/4RP1P/2Q3P1/3B2K1 b - - 0 28", this, "b5c6"); ' class="line0">28.bxc6</span> 
 <span onclick='loadMove("3r4/p3q1bk/2p3pp/2P1pb2/P3N3/4RP1P/2Q3P1/3B2K1 w - - 0 29", this, "b7c6"); ' class="line0">bxc6</span> 
 <span onclick='loadMove("3r4/p3q1bk/2p3pp/2P1pb2/P3N3/4RP1P/2Q1B1P1/6K1 b - - 0 29", this, "d1e2"); ' class="line0">29.Be2</span> 
 <span onclick='loadMove("3r4/p3q1bk/2p3p1/2P1pb1p/P3N3/4RP1P/2Q1B1P1/6K1 w - - 0 30", this, "h6h5"); ' class="line0">h5!</span> 
</p>
<p>Once the King's Indian bishop, as it's usually known, makes its presence felt the White position crumbles with remarkable speed.</p>
<p>
 <span onclick='loadMove("3r4/p3q1bk/2p3p1/2P1pb1p/P3N3/3BRP1P/2Q3P1/6K1 b - - 0 30", this, "e2d3"); ' class="line0">30.Bd3</span> 
 <span onclick='loadMove("3r4/p3q2k/2p3pb/2P1pb1p/P3N3/3BRP1P/2Q3P1/6K1 w - - 0 31", this, "g7h6"); ' class="line0">Bh6</span> 
 <span onclick='loadMove("3r4/p3q2k/2p3pb/2P1pb1p/P3N3/3B1P1P/2Q3P1/4R1K1 b - - 0 31", this, "e3e1"); ' class="line0">31.Re1</span> 
 <span onclick='loadMove("8/p3q2k/2p3pb/2Prpb1p/P3N3/3B1P1P/2Q3P1/4R1K1 w - - 0 32", this, "d8d5"); ' class="line0">Rd5</span> 
 <span onclick='loadMove("8/p3q2k/2p3pb/2Prpb1p/P3N3/3B1P1P/2Q3P1/4R2K b - - 0 32", this, "g1h1"); ' class="line0">32.Kh1</span> 
 <span onclick='loadMove("8/p6k/2p3pb/2Prpb1p/P3N2q/3B1P1P/2Q3P1/4R2K w - - 0 33", this, "e7h4"); ' class="line0">Qh4</span> 
 <span onclick='loadMove("8/p6k/2p3pb/2Prpb1p/P3N2q/3B1P1P/2Q1R1P1/7K b - - 0 33", this, "e1e2"); ' class="line0">33.Re2</span> 
 <span onclick='loadMove("3q4/p6k/2p3pb/2Prpb1p/P3N3/3B1P1P/2Q1R1P1/7K w - - 0 34", this, "h4d8"); ' class="line0">Qd8!</span> 
</p>
<p>Suddenly White is getting into trouble on his back rank. The bishop on h6 covers a number of important squares in the white camp.</p>
<p>
 <span onclick='loadMove("3q4/p6k/2p3pb/2Prpb1p/P1B1N3/5P1P/2Q1R1P1/7K b - - 0 34", this, "d3c4"); ' class="line0">34.Bc4</span> 
 <span onclick='loadMove("3q4/p6k/2p3pb/2P1pb1p/P1B1N3/5P1P/2Q1R1P1/3r3K w - - 0 35", this, "d5d1"); ' class="line0">Rd1+</span> 
 <span onclick='loadMove("3q4/p6k/2p3pb/2P1pb1p/P1B1N3/5P1P/2Q1R1PK/3r4 b - - 0 35", this, "h1h2"); ' class="line0">35.Kh2</span> 
 <span onclick='loadMove("8/p6k/2p3pb/2P1pb1p/P1BqN3/5P1P/2Q1R1PK/3r4 w - - 0 36", this, "d8d4"); ' class="line0">Qd4!</span> 
</p>
<div class="chessBoard analysis nobuttons" data-start-fen="8/p6k/2p3pb/2P1pb1p/P1BqN3/5P1P/2Q1R1PK/3r4 w - - 0 36"></div>
<p><b>Diagram 4</b>. Black's pieces circle like vultures</p>
<p>Threatening mate in two starting with <b>...Bf4+</b>.</p>
<p>
 <span onclick='loadMove("8/p6k/2p3pb/2P1pb1p/P1BqN3/5P1P/2Q2RPK/3r4 b - - 0 36", this, "e2f2"); ' class="line0">36.Rf2</span> 
 <span onclick='loadMove("8/p6k/2p3pb/2P1pb1p/P1BqN3/5P1P/2Q2RPK/2r5 w - - 0 37", this, "d1c1"); ' class="line0">Rc1!</span> 
</p>
<p>The bishop on c4 is lost.</p>
<p>
 <span onclick='loadMove("8/p6k/2p3pb/2P1pb1p/P1BqN3/1Q3P1P/5RPK/2r5 b - - 0 37", this, "c2b3"); ' class="line0">37.Qb3</span> 
 <span onclick='loadMove("8/p6k/2p3pb/2P1p2p/P1Bqb3/1Q3P1P/5RPK/2r5 w - - 0 38", this, "f5e4"); ' class="line0">Bxe4</span> 
 <span onclick='loadMove("6B1/p6k/2p3pb/2P1p2p/P2qb3/1Q3P1P/5RPK/2r5 b - - 0 38", this, "c4g8"); ' class="line0">38.Bg8+</span> 
 <span onclick='loadMove("6Bk/p7/2p3pb/2P1p2p/P2qb3/1Q3P1P/5RPK/2r5 w - - 0 39", this, "h7h8"); ' class="line0">Kh8</span> 
</p>
<p>White resigns</p>
</div> <!-- score -->
</div> <!-- section -->

<div class="section">
<div class="chessBoard small floater" data-start-fen="rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w KQkq - 0 1"></div>
<div class="score">
 <span class="line0" onclick='loadMove("rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w KQkq - 0 1", this, ""); '>[...]</span> 
<h4>Game 8<br>Portisch, L. - Cramling, P.<br>Marbella 1999</h4>
<p>[ECO "E94"]</p>
<p>
 <span onclick='loadMove("rnbqkbnr/pppppppp/8/8/3P4/8/PPP1PPPP/RNBQKBNR b KQkq d3 0 1", this, "d2d4"); ' class="line0">1.d4</span> 
 <span onclick='loadMove("rnbqkb1r/pppppppp/5n2/8/3P4/8/PPP1PPPP/RNBQKBNR w KQkq - 0 2", this, "g8f6"); ' class="line0">Nf6</span> 
 <span onclick='loadMove("rnbqkb1r/pppppppp/5n2/8/3P4/5N2/PPP1PPPP/RNBQKB1R b KQkq - 0 2", this, "g1f3"); ' class="line0">2.Nf3</span> 
 <span onclick='loadMove("rnbqkb1r/pppppp1p/5np1/8/3P4/5N2/PPP1PPPP/RNBQKB1R w KQkq - 0 3", this, "g7g6"); ' class="line0">g6</span> 
 <span onclick='loadMove("rnbqkb1r/pppppp1p/5np1/8/2PP4/5N2/PP2PPPP/RNBQKB1R b KQkq c3 0 3", this, "c2c4"); ' class="line0">3.c4</span> 
 <span onclick='loadMove("rnbqk2r/ppppppbp/5np1/8/2PP4/5N2/PP2PPPP/RNBQKB1R w KQkq - 0 4", this, "f8g7"); ' class="line0">Bg7</span> 
 <span onclick='loadMove("rnbqk2r/ppppppbp/5np1/8/2PP4/2N2N2/PP2PPPP/R1BQKB1R b KQkq - 0 4", this, "b1c3"); ' class="line0">4.Nc3</span> 
 <span onclick='loadMove("rnbqk2r/ppp1ppbp/3p1np1/8/2PP4/2N2N2/PP2PPPP/R1BQKB1R w KQkq - 0 5", this, "d7d6"); ' class="line0">d6</span> 
 <span onclick='loadMove("rnbqk2r/ppp1ppbp/3p1np1/8/2PPP3/2N2N2/PP3PPP/R1BQKB1R b KQkq e3 0 5", this, "e2e4"); ' class="line0">5.e4</span> 
 <span onclick='loadMove("rnbq1rk1/ppp1ppbp/3p1np1/8/2PPP3/2N2N2/PP3PPP/R1BQKB1R w KQ - 0 6", this, "e8g8"); ' class="line0">O-O</span> 
 <span onclick='loadMove("rnbq1rk1/ppp1ppbp/3p1np1/8/2PPP3/2N2N2/PP2BPPP/R1BQK2R b KQ - 0 6", this, "f1e2"); ' class="line0">6.Be2</span> 
 <span onclick='loadMove("rnbq1rk1/ppp2pbp/3p1np1/4p3/2PPP3/2N2N2/PP2BPPP/R1BQK2R w KQ e6 0 7", this, "e7e5"); ' class="line0">e5</span> 
 <span onclick='loadMove("rnbq1rk1/ppp2pbp/3p1np1/4p3/2PPP3/2N2N2/PP2BPPP/R1BQ1RK1 b - - 0 7", this, "e1g1"); ' class="line0">7.O-O</span> 
 <span onclick='loadMove("r1bq1rk1/ppp2pbp/n2p1np1/4p3/2PPP3/2N2N2/PP2BPPP/R1BQ1RK1 w - - 0 8", this, "b8a6"); ' class="line0">Na6</span> 
 <span onclick='loadMove("r1bq1rk1/ppp2pbp/n2p1np1/4p3/2PPP3/2N2N2/PP2BPPP/R1BQR1K1 b - - 0 8", this, "f1e1"); ' class="line0">8.Re1</span> 
</p>
<p>A relatively unassuming continuation. White decides to reinforce his e-pawn and await developments. One of the points behind White's play is that once his e-pawn has been overprotected (his next move will be <b>Bf1</b>) then he may be in a position to block the centre with <b>d4-d5</b>. Black would normally like to meet this with <b>...Nc5</b>, attacking the e-pawn, and then <b>...a7-a5</b> to secure the position of the knight on c5. However with the e-pawn already protected <b>...Nc5</b> can be met by <b>b2-b4</b>.</p>
<p>
 <span onclick='loadMove("r1bq1rk1/pp3pbp/n1pp1np1/4p3/2PPP3/2N2N2/PP2BPPP/R1BQR1K1 w - - 0 9", this, "c7c6"); ' class="line0">8...c6</span> 
</p>
<p>This move has several points. It covers the d5-square and opens a path to the queenside for the black queen. It also enables Black to meet <b>d4-d5</b> with <b>...c7-c5</b> without having to worry about White capturing en passant. Once the centre is blocked the pawn on c5 and the knight on a6 make quite a good defensive queenside combination.</p>
<p>
 <span onclick='loadMove("r1bq1rk1/pp3pbp/n1pp1np1/4p3/2PPP3/2N2N2/PP3PPP/R1BQRBK1 b - - 0 9", this, "e2f1"); ' class="line0">9.Bf1</span> 
 <span onclick='loadMove("r2q1rk1/pp3pbp/n1pp1np1/4p3/2PPP1b1/2N2N2/PP3PPP/R1BQRBK1 w - - 0 10", this, "c8g4"); ' class="line0">Bg4</span> 
</p>
<p>This move creates the simple threat of <b>...exd4</b> and is designed to try and force White to block the centre with <b>d4-d5</b>.
If Black wants to simplify the game then
 <span onclick='loadMove("r1bq1rk1/pp3pbp/n1pp1np1/8/2PpP3/2N2N2/PP3PPP/R1BQRBK1 w - - 0 10", this, "e5d4"); ' class="line1">9...exd4</span> 
is a respectable alternative. After
 <span onclick='loadMove("r1bq1rk1/pp3pbp/n1pp1np1/8/2PNP3/2N5/PP3PPP/R1BQRBK1 b - - 0 10", this, "f3d4"); ' class="line1">10.Nxd4</span> 
 <span onclick='loadMove("r1bq1rk1/pp3pbp/n1pp2p1/8/2PNP1n1/2N5/PP3PPP/R1BQRBK1 w - - 0 11", this, "f6g4"); ' class="line1">Ng4</span> 
 <span onclick='loadMove("r1bq1rk1/pp3pbp/n1pp2p1/8/2PNP1n1/2N4P/PP3PP1/R1BQRBK1 b - - 0 11", this, "h2h3"); ' class="line1">11.h3</span> 
 <span onclick='loadMove("r1b2rk1/pp3pbp/nqpp2p1/8/2PNP1n1/2N4P/PP3PP1/R1BQRBK1 w - - 0 12", this, "d8b6"); ' class="line1">Qb6!</span> 
 <span onclick='loadMove("r1b2rk1/pp3pbp/nqpp2p1/8/2PNP1P1/2N5/PP3PP1/R1BQRBK1 b - - 0 12", this, "h3g4"); ' class="line1">12.hxg4</span> 
 <span onclick='loadMove("r1b2rk1/pp3pbp/n1pp2p1/8/2PqP1P1/2N5/PP3PP1/R1BQRBK1 w - - 0 13", this, "b6d4"); ' class="line1">Qxd4</span> 
a typical continuation has been
 <span onclick='loadMove("r1b2rk1/pp3pbp/n1pp2p1/6P1/2PqP3/2N5/PP3PP1/R1BQRBK1 b - - 0 13", this, "g4g5"); ' class="line1">13.g5</span> 
 <span onclick='loadMove("r1b2rk1/pp3pbp/2pp2p1/2n3P1/2PqP3/2N5/PP3PP1/R1BQRBK1 w - - 0 14", this, "a6c5"); ' class="line1">Nc5</span> 
 <span onclick='loadMove("r1b2rk1/pp3pbp/2pp2p1/2n3P1/2PqPB2/2N5/PP3PP1/R2QRBK1 b - - 0 14", this, "c1f4"); ' class="line1">14.Bf4</span> 
 <span onclick='loadMove("r1b2rk1/pp3pbp/2pp2p1/2n3P1/2P1PB2/2N5/PP3PP1/R2qRBK1 w - - 0 15", this, "d4d1"); ' class="line1">Qxd1</span> 
 <span onclick='loadMove("r1b2rk1/pp3pbp/2pp2p1/2n3P1/2P1PB2/2N5/PP3PP1/3RRBK1 b - - 0 15", this, "a1d1"); ' class="line1">15.Raxd1</span> 
 <span onclick='loadMove("r1b2rk1/pp3p1p/2pp2p1/2n1b1P1/2P1PB2/2N5/PP3PP1/3RRBK1 w - - 0 16", this, "g7e5"); ' class="line1">Be5</span> 
 <span onclick='loadMove("r1b2rk1/pp3p1p/2pp2p1/2n1b1P1/2P1PB2/2N3P1/PP3P2/3RRBK1 b - - 0 16", this, "g2g3"); ' class="line1">16.g3</span> 
and now
 <span onclick='loadMove("r1b2rk1/p4p1p/1ppp2p1/2n1b1P1/2P1PB2/2N3P1/PP3P2/3RRBK1 w - - 0 17", this, "b7b6"); ' class="line1">16...b6!</span> 
is thought to be best. This last move is directed against an exchange sacrifice on d6 (it is important that the knight is defended) which had caused Black problems after other moves.</p>
<p>
 <span onclick='loadMove("r2q1rk1/pp3pbp/n1pp1np1/4p3/2PPP1b1/2N1BN2/PP3PPP/R2QRBK1 b - - 0 10", this, "c1e3"); ' class="line0">10.Be3?!</span> 
</p>
<p>A very instructive error which allows Black to simplify to an equal endgame.
White should have played
 <span onclick='loadMove("r2q1rk1/pp3pbp/n1pp1np1/3Pp3/2P1P1b1/2N2N2/PP3PPP/R1BQRBK1 b - - 0 10", this, "d4d5"); ' class="line1">10.d5</span> 
when
 <span onclick='loadMove("r2q1rk1/pp3pbp/n2p1np1/2pPp3/2P1P1b1/2N2N2/PP3PPP/R1BQRBK1 w - - 0 11", this, "c6c5"); ' class="line1">10...c5</span> 
, blocking the centre at once, is played most often these days. A typical continuation then is
 <span onclick='loadMove("r2q1rk1/pp3pbp/n2p1np1/2pPp3/2P1P1b1/2N2N1P/PP3PP1/R1BQRBK1 b - - 0 11", this, "h2h3"); ' class="line1">11.h3</span> 
 <span onclick='loadMove("r2q1rk1/pp1b1pbp/n2p1np1/2pPp3/2P1P3/2N2N1P/PP3PP1/R1BQRBK1 w - - 0 12", this, "g4d7"); ' class="line1">Bd7</span> 
 <span onclick='loadMove("r2q1rk1/pp1b1pbp/n2p1np1/2pPp1B1/2P1P3/2N2N1P/PP3PP1/R2QRBK1 b - - 0 12", this, "c1g5"); ' class="line1">12.Bg5</span> 
 <span onclick='loadMove("r2q1rk1/pp1b1pb1/n2p1npp/2pPp1B1/2P1P3/2N2N1P/PP3PP1/R2QRBK1 w - - 0 13", this, "h7h6"); ' class="line1">h6</span> 
 <span onclick='loadMove("r2q1rk1/pp1b1pb1/n2p1npp/2pPp3/2P1P3/2N1BN1P/PP3PP1/R2QRBK1 b - - 0 13", this, "g5e3"); ' class="line1">13.Be3</span> 
with a dour struggle ahead.</p>
<p>
 <span onclick='loadMove("r2q1rk1/pp3pbp/n1pp1np1/4p3/2PPP3/2N1Bb2/PP3PPP/R2QRBK1 w - - 0 11", this, "g4f3"); ' class="line0">10...Bxf3</span> 
 <span onclick='loadMove("r2q1rk1/pp3pbp/n1pp1np1/4p3/2PPP3/2N1BQ2/PP3PPP/R3RBK1 b - - 0 11", this, "d1f3"); ' class="line0">11.Qxf3</span> 
 <span onclick='loadMove("r2q1rk1/pp3pbp/n1pp2p1/4p3/2PPP1n1/2N1BQ2/PP3PPP/R3RBK1 w - - 0 12", this, "f6g4"); ' class="line0">Ng4!</span> 
</p>
<div class="chessBoard analysis nobuttons" data-start-fen="r2q1rk1/pp3pbp/n1pp2p1/4p3/2PPP1n1/2N1BQ2/PP3PPP/R3RBK1 w - - 0 12"></div>
<p><b>Diagram 5</b>. Black equalises through exchanges</p>
<p>A nice trick. If White takes the knight then Black regains the piece by taking on d4 while on other moves Black will just play <b>...Nxe3</b>.</p>
<p>
 <span onclick='loadMove("r2q1rk1/pp3pbp/n1pp2p1/4p3/2PPP1Q1/2N1B3/PP3PPP/R3RBK1 b - - 0 12", this, "f3g4"); ' class="line0">12.Qxg4</span> 
 <span onclick='loadMove("r2q1rk1/pp3pbp/n1pp2p1/8/2PpP1Q1/2N1B3/PP3PPP/R3RBK1 w - - 0 13", this, "e5d4"); ' class="line0">exd4</span> 
 <span onclick='loadMove("r2q1rk1/pp3pbp/n1pp2p1/6B1/2PpP1Q1/2N5/PP3PPP/R3RBK1 b - - 0 13", this, "e3g5"); ' class="line0">13.Bg5</span> 
 <span onclick='loadMove("r2q1rk1/pp4bp/n1pp1pp1/6B1/2PpP1Q1/2N5/PP3PPP/R3RBK1 w - - 0 14", this, "f7f6"); ' class="line0">f6</span> 
</p>
<p>White still has two pieces attacked and must lose one of them.</p>
<p>
 <span onclick='loadMove("r2q1rk1/pp4bp/n1pp1pp1/8/2PpP1Q1/2N5/PP1B1PPP/R3RBK1 b - - 0 14", this, "g5d2"); ' class="line0">14.Bd2</span> 
 <span onclick='loadMove("r2q1rk1/pp4bp/n1pp2p1/5p2/2PpP1Q1/2N5/PP1B1PPP/R3RBK1 w - - 0 15", this, "f6f5"); ' class="line0">f5!</span> 
 <span onclick='loadMove("r2q1rk1/pp4bp/n1pp2p1/5p2/2PpP3/2N4Q/PP1B1PPP/R3RBK1 b - - 0 15", this, "g4h3"); ' class="line0">15.Qh3</span> 
</p>
<p>After
 <span onclick='loadMove("r2q1rk1/pp4bp/n1pp2p1/5P2/2Pp2Q1/2N5/PP1B1PPP/R3RBK1 b - - 0 15", this, "e4f5"); ' class="line1">15.exf5</span> 
 <span onclick='loadMove("r2q1rk1/pp4bp/n1pp2p1/5P2/2P3Q1/2p5/PP1B1PPP/R3RBK1 w - - 0 16", this, "d4c3"); ' class="line1">dxc3</span> 
White's queenside pawn structure will be ruined.</p>
<p>
 <span onclick='loadMove("r2q1rk1/pp4bp/n1pp2p1/5p2/2P1P3/2p4Q/PP1B1PPP/R3RBK1 w - - 0 16", this, "d4c3"); ' class="line0">15...dxc3</span> 
 <span onclick='loadMove("r2q1rk1/pp4bp/n1pp2p1/5p2/2P1P3/2B4Q/PP3PPP/R3RBK1 b - - 0 16", this, "d2c3"); ' class="line0">16.Bxc3</span> 
 <span onclick='loadMove("r2q1rk1/pp5p/n1pp2p1/5p2/2P1P3/2b4Q/PP3PPP/R3RBK1 w - - 0 17", this, "g7c3"); ' class="line0">Bxc3</span> 
 <span onclick='loadMove("r2q1rk1/pp5p/n1pp2p1/5p2/2P1P3/2Q5/PP3PPP/R3RBK1 b - - 0 17", this, "h3c3"); ' class="line0">17.Qxc3</span> 
 <span onclick='loadMove("r2q1rk1/pp5p/n1pp2p1/8/2P1p3/2Q5/PP3PPP/R3RBK1 w - - 0 18", this, "f5e4"); ' class="line0">fxe4</span> 
 <span onclick='loadMove("r2q1rk1/pp5p/n1pp2p1/8/2P1R3/2Q5/PP3PPP/R4BK1 b - - 0 18", this, "e1e4"); ' class="line0">18.Rxe4</span> 
 <span onclick='loadMove("r2q1rk1/pp5p/2pp2p1/2n5/2P1R3/2Q5/PP3PPP/R4BK1 w - - 0 19", this, "a6c5"); ' class="line0">Nc5</span> 
 <span onclick='loadMove("r2q1rk1/pp5p/2pp2p1/2n5/2P5/2Q5/PP2RPPP/R4BK1 b - - 0 19", this, "e4e2"); ' class="line0">19.Re2</span> 
 <span onclick='loadMove("r4rk1/pp5p/2pp1qp1/2n5/2P5/2Q5/PP2RPPP/R4BK1 w - - 0 20", this, "d8f6"); ' class="line0">Qf6</span> 
 <span onclick='loadMove("r4rk1/pp5p/2pp1Qp1/2n5/2P5/8/PP2RPPP/R4BK1 b - - 0 20", this, "c3f6"); ' class="line0">20.Qxf6</span> 
 <span onclick='loadMove("r5k1/pp5p/2pp1rp1/2n5/2P5/8/PP2RPPP/R4BK1 w - - 0 21", this, "f8f6"); ' class="line0">Rxf6</span> 
 <span onclick='loadMove("r5k1/pp5p/2pp1rp1/2n5/2P5/8/PP2RPPP/3R1BK1 b - - 0 21", this, "a1d1"); ' class="line0">21.Rd1</span> 
 <span onclick='loadMove("r5k1/1p5p/2pp1rp1/p1n5/2P5/8/PP2RPPP/3R1BK1 w - a6 0 22", this, "a7a5"); ' class="line0">a5</span> 
</p>
<div class="chessBoard analysis nobuttons" data-start-fen="r5k1/1p5p/2pp1rp1/p1n5/2P5/8/PP2RPPP/3R1BK1 w - a6 0 22"></div>
<p><b>Diagram 6</b>. The endgame is level</p>
<p>The endgame is level despite the imbalances in the position. Black has one weakness on d6 but this can be easily defended. White has a bishop, which should be a slight advantage, but its activity is somewhat restricted by the pawn structure. Black's knight also has a solid central base, which is important for a knight fighting a bishop.</p>
<p>
 <span onclick='loadMove("r5k1/1p5p/2pp1rp1/p1n5/2P5/5P2/PP2R1PP/3R1BK1 b - - 0 22", this, "f2f3"); ' class="line0">22.f3</span> 
 <span onclick='loadMove("r7/1p3k1p/2pp1rp1/p1n5/2P5/5P2/PP2R1PP/3R1BK1 w - - 0 23", this, "g8f7"); ' class="line0">Kf7</span> 
 <span onclick='loadMove("r7/1p3k1p/2pp1rp1/p1n5/2PR4/5P2/PP2R1PP/5BK1 b - - 0 23", this, "d1d4"); ' class="line0">23.Rd4</span> 
 <span onclick='loadMove("4r3/1p3k1p/2pp1rp1/p1n5/2PR4/5P2/PP2R1PP/5BK1 w - - 0 24", this, "a8e8"); ' class="line0">Re8</span> 
 <span onclick='loadMove("4R3/1p3k1p/2pp1rp1/p1n5/2PR4/5P2/PP4PP/5BK1 b - - 0 24", this, "e2e8"); ' class="line0">24.Rxe8</span> 
 <span onclick='loadMove("4k3/1p5p/2pp1rp1/p1n5/2PR4/5P2/PP4PP/5BK1 w - - 0 25", this, "f7e8"); ' class="line0">Kxe8</span> 
 <span onclick='loadMove("4k3/1p5p/2pp1rp1/p1n5/2PR4/5P2/PP3KPP/5B2 b - - 0 25", this, "g1f2"); ' class="line0">25.Kf2</span> 
 <span onclick='loadMove("8/1p2k2p/2pp1rp1/p1n5/2PR4/5P2/PP3KPP/5B2 w - - 0 26", this, "e8e7"); ' class="line0">Ke7</span> 
 <span onclick='loadMove("8/1p2k2p/2pp1rp1/p1n5/2PR4/5P2/PP2BKPP/8 b - - 0 26", this, "f1e2"); ' class="line0">26.Be2</span> 
 <span onclick='loadMove("8/1p2k2p/2pp1r2/p1n3p1/2PR4/5P2/PP2BKPP/8 w - - 0 27", this, "g6g5"); ' class="line0">g5</span> 
 <span onclick='loadMove("8/1p2k2p/2pp1r2/p1n3p1/2PR4/5P2/PP3KPP/3B4 b - - 0 27", this, "e2d1"); ' class="line0">27.Bd1</span> 
 <span onclick='loadMove("8/1p5p/2ppkr2/p1n3p1/2PR4/5P2/PP3KPP/3B4 w - - 0 28", this, "e7e6"); ' class="line0">Ke6</span> 
 <span onclick='loadMove("8/1p5p/2ppkr2/p1n3p1/2PR4/4KP2/PP4PP/3B4 b - - 0 28", this, "f2e3"); ' class="line0">28.Ke3</span> 
 <span onclick='loadMove("8/1p5p/2p1kr2/p1np2p1/2PR4/4KP2/PP4PP/3B4 w - - 0 29", this, "d6d5"); ' class="line0">d5!?</span> 
 <span onclick='loadMove("8/1p5p/2p1kr2/p1nP2p1/3R4/4KP2/PP4PP/3B4 b - - 0 29", this, "c4d5"); ' class="line0">29.cxd5+</span> 
 <span onclick='loadMove("8/1p5p/4kr2/p1np2p1/3R4/4KP2/PP4PP/3B4 w - - 0 30", this, "c6d5"); ' class="line0">cxd5</span> 
 <span onclick='loadMove("8/1p5p/4kr2/p1np2p1/3R3P/4KP2/PP4P1/3B4 b - h3 0 30", this, "h2h4"); ' class="line0">30.h4</span> 
 <span onclick='loadMove("8/1p6/4kr1p/p1np2p1/3R3P/4KP2/PP4P1/3B4 w - - 0 31", this, "h7h6"); ' class="line0">h6</span> 
 <span onclick='loadMove("8/1p6/4kr1p/p1np2P1/3R4/4KP2/PP4P1/3B4 b - - 0 31", this, "h4g5"); ' class="line0">31.hxg5</span> 
 <span onclick='loadMove("8/1p6/4kr2/p1np2p1/3R4/4KP2/PP4P1/3B4 w - - 0 32", this, "h6g5"); ' class="line0">hxg5</span> 
 <span onclick='loadMove("8/1p6/4kr2/p1np2p1/6R1/4KP2/PP4P1/3B4 b - - 0 32", this, "d4g4"); ' class="line0">32.Rg4</span> 
 <span onclick='loadMove("8/1p6/4k3/p1np1rp1/6R1/4KP2/PP4P1/3B4 w - - 0 33", this, "f6f5"); ' class="line0">Rf5</span> 
 <span onclick='loadMove("8/1p6/4k3/p1np1rp1/6R1/4KP2/PPB3P1/8 b - - 0 33", this, "d1c2"); ' class="line0">33.Bc2</span> 
 <span onclick='loadMove("8/1p6/4k3/p1npr1p1/6R1/4KP2/PPB3P1/8 w - - 0 34", this, "f5e5"); ' class="line0">Re5+</span> 
 <span onclick='loadMove("8/1p6/4k3/p1npr1p1/6R1/5P2/PPBK2P1/8 b - - 0 34", this, "e3d2"); ' class="line0">34.Kd2</span> 
 <span onclick='loadMove("8/1p6/3k4/p1npr1p1/6R1/5P2/PPBK2P1/8 w - - 0 35", this, "e6d6"); ' class="line0">Kd6</span> 
 <span onclick='loadMove("8/1p6/3k4/p1npr1p1/1P4R1/5P2/P1BK2P1/8 b - b3 0 35", this, "b2b4"); ' class="line0">35.b4</span> 
 <span onclick='loadMove("8/1p6/3k4/2npr1p1/1p4R1/5P2/P1BK2P1/8 w - - 0 36", this, "a5b4"); ' class="line0">axb4</span> 
 <span onclick='loadMove("8/1p6/3k4/2npr1p1/1R6/5P2/P1BK2P1/8 b - - 0 36", this, "g4b4"); ' class="line0">36.Rxb4</span> 
Each pawn exchange brings the draw ever closer.
 <span onclick='loadMove("8/1p6/2k5/2npr1p1/1R6/5P2/P1BK2P1/8 w - - 0 37", this, "d6c6"); ' class="line0">36...Kc6</span> 
 <span onclick='loadMove("8/1p6/2k5/2npr1p1/1R6/5PP1/P1BK4/8 b - - 0 37", this, "g2g3"); ' class="line0">37.g3</span> 
 <span onclick='loadMove("8/8/2k5/1pnpr1p1/1R6/5PP1/P1BK4/8 w - b6 0 38", this, "b7b5"); ' class="line0">b5</span> 
 <span onclick='loadMove("8/8/2k5/1pnpr1p1/1R6/5PP1/P2K4/3B4 b - - 0 38", this, "c2d1"); ' class="line0">38.Bd1</span> 
 <span onclick='loadMove("8/1n6/2k5/1p1pr1p1/1R6/5PP1/P2K4/3B4 w - - 0 39", this, "c5b7"); ' class="line0">Nb7</span> 
 <span onclick='loadMove("8/1n6/2k5/1p1pr1p1/1R3P2/6P1/P2K4/3B4 b - - 0 39", this, "f3f4"); ' class="line0">39.f4</span> 
 <span onclick='loadMove("8/1n6/2k5/1p1pr3/1R3p2/6P1/P2K4/3B4 w - - 0 40", this, "g5f4"); ' class="line0">gxf4</span> 
 <span onclick='loadMove("8/1n6/2k5/1p1pr3/1R3P2/8/P2K4/3B4 b - - 0 40", this, "g3f4"); ' class="line0">40.gxf4</span> 
 <span onclick='loadMove("8/1n6/2k5/1p1p1r2/1R3P2/8/P2K4/3B4 w - - 0 41", this, "e5f5"); ' class="line0">Rf5</span> 
 <span onclick='loadMove("8/1n6/2k5/1p1p1r2/3R1P2/8/P2K4/3B4 b - - 0 41", this, "b4d4"); ' class="line0">41.Rd4</span> 
 <span onclick='loadMove("8/1n6/8/1pkp1r2/3R1P2/8/P2K4/3B4 w - - 0 42", this, "c6c5"); ' class="line0">Kc5</span> 
 <span onclick='loadMove("8/1n6/8/1pkp1r2/3R1P2/2K5/P7/3B4 b - - 0 42", this, "d2c3"); ' class="line0">42.Kc3</span> 
 <span onclick='loadMove("8/8/3n4/1pkp1r2/3R1P2/2K5/P7/3B4 w - - 0 43", this, "b7d6"); ' class="line0">Nd6</span> 
 <span onclick='loadMove("8/8/3n4/1pkp1r2/3R1PB1/2K5/P7/8 b - - 0 43", this, "d1g4"); ' class="line0">43.Bg4</span> 
 <span onclick='loadMove("8/8/3n1r2/1pkp4/3R1PB1/2K5/P7/8 w - - 0 44", this, "f5f6"); ' class="line0">Rf6</span> 
 <span onclick='loadMove("8/8/3n1r2/1pkp4/3R1P2/2K2B2/P7/8 b - - 0 44", this, "g4f3"); ' class="line0">44.Bf3</span> 
 <span onclick='loadMove("8/8/3n1r2/2kp4/1p1R1P2/2K2B2/P7/8 w - - 0 45", this, "b5b4"); ' class="line0">b4+</span> 
 <span onclick='loadMove("8/8/3n1r2/2kp4/1p1R1P2/3K1B2/P7/8 b - - 0 45", this, "c3d3"); ' class="line0">45.Kd3</span> 
 <span onclick='loadMove("8/8/3n4/2kp1r2/1p1R1P2/3K1B2/P7/8 w - - 0 46", this, "f6f5"); ' class="line0">Rf5</span> 
 <span onclick='loadMove("8/8/3n4/2kp1r2/1p1R1PB1/3K4/P7/8 b - - 0 46", this, "f3g4"); ' class="line0">46.Bg4</span> 
 <span onclick='loadMove("8/8/3n1r2/2kp4/1p1R1PB1/3K4/P7/8 w - - 0 47", this, "f5f6"); ' class="line0">Rf6</span> 
 <span onclick='loadMove("8/8/3n1r2/2kp4/1p1R1P2/3K1B2/P7/8 b - - 0 47", this, "g4f3"); ' class="line0">47.Bf3</span> 
 <span onclick='loadMove("8/8/3n4/2kp1r2/1p1R1P2/3K1B2/P7/8 w - - 0 48", this, "f6f5"); ' class="line0">Rf5</span> 
 <span onclick='loadMove("8/8/3n4/2kp1r2/1p1R1PB1/3K4/P7/8 b - - 0 48", this, "f3g4"); ' class="line0">48.Bg4</span> 
 <span onclick='loadMove("8/8/3n1r2/2kp4/1p1R1PB1/3K4/P7/8 w - - 0 49", this, "f5f6"); ' class="line0">Rf6</span> 
</p>
<p>Draw agreed.</p>
</div> <!-- score -->
</div> <!-- section -->

</div> <!-- iBook -->

{% endblock content %}
