{% extends '../../base.htm' %}
{% load static %}
{% block title %}
<title>The Old 7...Nbd7 | {{book.title}} | {%for author in book.authors.all%} {%if author.first_name%} {{author.first_name}} {%endif%} {%if author.second_name%} {{author.second_name}} {%endif%} {%if forloop.counter == book.authors.all.count%} {{author.last_name}} {%else%} {{author.last_name}}, {%endif%} {%endfor%} | {{book.year}}</title>
{% endblock title %}
{% block content %}

<div class="iBook">

<div class="section">
<div class="chessBoard small floater" data-start-fen="rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w KQkq - 0 1"></div>
<div class="score">
 <span class="line0" onclick='loadMove("rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w KQkq - 0 1", this, ""); '>[...]</span> 
<h3>The Old 7...Nbd7</h3>
<p>[ECO "E94"]</p>
<p>
 <span onclick='loadMove("rnbqkbnr/pppppppp/8/8/3P4/8/PPP1PPPP/RNBQKBNR b KQkq d3 0 1", this, "d2d4"); ' class="line0">1.d4</span> 
 <span onclick='loadMove("rnbqkb1r/pppppppp/5n2/8/3P4/8/PPP1PPPP/RNBQKBNR w KQkq - 0 2", this, "g8f6"); ' class="line0">Nf6</span> 
 <span onclick='loadMove("rnbqkb1r/pppppppp/5n2/8/2PP4/8/PP2PPPP/RNBQKBNR b KQkq c3 0 2", this, "c2c4"); ' class="line0">2.c4</span> 
 <span onclick='loadMove("rnbqkb1r/pppppp1p/5np1/8/2PP4/8/PP2PPPP/RNBQKBNR w KQkq - 0 3", this, "g7g6"); ' class="line0">g6</span> 
 <span onclick='loadMove("rnbqkb1r/pppppp1p/5np1/8/2PP4/2N5/PP2PPPP/R1BQKBNR b KQkq - 0 3", this, "b1c3"); ' class="line0">3.Nc3</span> 
 <span onclick='loadMove("rnbqk2r/ppppppbp/5np1/8/2PP4/2N5/PP2PPPP/R1BQKBNR w KQkq - 0 4", this, "f8g7"); ' class="line0">Bg7</span> 
 <span onclick='loadMove("rnbqk2r/ppppppbp/5np1/8/2PPP3/2N5/PP3PPP/R1BQKBNR b KQkq e3 0 4", this, "e2e4"); ' class="line0">4.e4</span> 
 <span onclick='loadMove("rnbqk2r/ppp1ppbp/3p1np1/8/2PPP3/2N5/PP3PPP/R1BQKBNR w KQkq - 0 5", this, "d7d6"); ' class="line0">d6</span> 
 <span onclick='loadMove("rnbqk2r/ppp1ppbp/3p1np1/8/2PPP3/2N2N2/PP3PPP/R1BQKB1R b KQkq - 0 5", this, "g1f3"); ' class="line0">5.Nf3</span> 
 <span onclick='loadMove("rnbq1rk1/ppp1ppbp/3p1np1/8/2PPP3/2N2N2/PP3PPP/R1BQKB1R w KQ - 0 6", this, "e8g8"); ' class="line0">O-O</span> 
 <span onclick='loadMove("rnbq1rk1/ppp1ppbp/3p1np1/8/2PPP3/2N2N2/PP2BPPP/R1BQK2R b KQ - 0 6", this, "f1e2"); ' class="line0">6.Be2</span> 
 <span onclick='loadMove("rnbq1rk1/ppp2pbp/3p1np1/4p3/2PPP3/2N2N2/PP2BPPP/R1BQK2R w KQ e6 0 7", this, "e7e5"); ' class="line0">e5</span> 
 <span onclick='loadMove("rnbq1rk1/ppp2pbp/3p1np1/4p3/2PPP3/2N2N2/PP2BPPP/R1BQ1RK1 b - - 0 7", this, "e1g1"); ' class="line0">7.O-O</span> 
 <span onclick='loadMove("r1bq1rk1/pppn1pbp/3p1np1/4p3/2PPP3/2N2N2/PP2BPPP/R1BQ1RK1 w - - 0 8", this, "b8d7"); ' class="line0">Nbd7</span> 
</p>
<div class="chessBoard analysis nobuttons" data-start-fen="r1bq1rk1/pppn1pbp/3p1np1/4p3/2PPP3/2N2N2/PP2BPPP/R1BQ1RK1 w - - 0 8"></div>
<p><b>Diagram 7</b>. The old way to play</p>
<p>This line is no longer very popular as it doesn't put enough pressure on the white centre.</p>
<p>In days gone by it was once the main line of the King's Indian, but it was first surpassed by
 <span onclick='loadMove("r1bq1rk1/ppp2pbp/2np1np1/4p3/2PPP3/2N2N2/PP2BPPP/R1BQ1RK1 w - - 0 8", this, "b8c6"); ' class="line1">7...Nc6</span> 
and now by
 <span onclick='loadMove("r1bq1rk1/ppp2pbp/n2p1np1/4p3/2PPP3/2N2N2/PP2BPPP/R1BQ1RK1 w - - 0 8", this, "b8a6"); ' class="line1">7...Na6</span> 
as well.</p>
<p>
 <span onclick='loadMove("r1bq1rk1/pppn1pbp/3p1np1/4p3/2PPP3/2N1BN2/PP2BPPP/R2Q1RK1 b - - 0 8", this, "c1e3"); ' class="line0">8.Be3!</span> 
</p>
<p>This is the line that is causing the most trouble for Black.
White has tried a whole host of other moves. In <b>Biriukov-Svidler</b> we shall examine
 <span onclick='loadMove("r1bq1rk1/pppn1pbp/3p1np1/4p3/2PPP3/2N2N2/PPQ1BPPP/R1B2RK1 b - - 0 8", this, "d1c2"); ' class="line1">8.Qc2</span> 
while
 <span onclick='loadMove("r1bq1rk1/pppn1pbp/3p1np1/3Pp3/2P1P3/2N2N2/PP2BPPP/R1BQ1RK1 b - - 0 8", this, "d4d5"); ' class="line1">8.d5</span> 
 <span onclick='loadMove("r1bq1rk1/ppp2pbp/3p1np1/2nPp3/2P1P3/2N2N2/PP2BPPP/R1BQ1RK1 w - - 0 9", this, "d7c5"); ' class="line1">Nc5</span> 
is a system that can arise from several variations. It was briefly considered in <b>Lyrberg-Bologan</b> (Game 3).</p>
<p>
 <span onclick='loadMove("r1bq1rk1/pp1n1pbp/2pp1np1/4p3/2PPP3/2N1BN2/PP2BPPP/R2Q1RK1 w - - 0 9", this, "c7c6"); ' class="line0">8...c6</span> 
</p>
<p>Again Black has a wide choice.
The most interesting is
 <span onclick='loadMove("r1bq1rk1/pppn1pbp/3p2p1/4p3/2PPP1n1/2N1BN2/PP2BPPP/R2Q1RK1 w - - 0 9", this, "f6g4"); ' class="line1">8...Ng4</span> 
with similar play to the
 <span onclick='loadMove("rnbq1rk1/ppp2pbp/3p1np1/4p3/2PPP3/2N1BN2/PP2BPPP/R2QK2R b KQ - 0 7", this, "c1e3"); ' class="line2">7.Be3</span> 
line in the last chapter. However, the fact that Black has already committed himself to <b>...Nbd7</b> means that he has an inferior version. A possible continuation is
 <span onclick='loadMove("r1bq1rk1/pppn1pbp/3p2p1/4p1B1/2PPP1n1/2N2N2/PP2BPPP/R2Q1RK1 b - - 0 9", this, "e3g5"); ' class="line1">9.Bg5</span> 
 <span onclick='loadMove("r1bq1rk1/pppn2bp/3p1pp1/4p1B1/2PPP1n1/2N2N2/PP2BPPP/R2Q1RK1 w - - 0 10", this, "f7f6"); ' class="line1">f6</span> 
 <span onclick='loadMove("r1bq1rk1/pppn2bp/3p1pp1/4p3/2PPP1n1/2N2N2/PP2BPPP/R1BQ1RK1 b - - 0 10", this, "g5c1"); ' class="line1">10.Bc1!</span> 
 <span onclick='loadMove("r1bq1rk1/pp1n2bp/2pp1pp1/4p3/2PPP1n1/2N2N2/PP2BPPP/R1BQ1RK1 w - - 0 11", this, "c7c6"); ' class="line1">c6</span> 
 <span onclick='loadMove("r1bq1rk1/pp1n2bp/2pp1pp1/4p3/2PPP1n1/2N2N1P/PP2BPP1/R1BQ1RK1 b - - 0 11", this, "h2h3"); ' class="line1">11.h3</span> 
 <span onclick='loadMove("r1bq1rk1/pp1n2bp/2pp1ppn/4p3/2PPP3/2N2N1P/PP2BPP1/R1BQ1RK1 w - - 0 12", this, "g4h6"); ' class="line1">Nh6</span> 
 <span onclick='loadMove("r1bq1rk1/pp1n2bp/2pp1ppn/4p3/2PPP3/2N1BN1P/PP2BPP1/R2Q1RK1 b - - 0 12", this, "c1e3"); ' class="line1">12.Be3</span> 
with a better game for White.</p>
<p>
 <span onclick='loadMove("r1bq1rk1/pp1n1pbp/2pp1np1/3Pp3/2P1P3/2N1BN2/PP2BPPP/R2Q1RK1 b - - 0 9", this, "d4d5"); ' class="line0">9.d5</span> 
</p>
<p>It is more inviting for White to block the centre once Black has played <b>...c7-c6</b>.</p>
<p>
 <span onclick='loadMove("r1bq1rk1/pp1n1pbp/3p1np1/2pPp3/2P1P3/2N1BN2/PP2BPPP/R2Q1RK1 w - - 0 10", this, "c6c5"); ' class="line0">9...c5</span> 
 <span onclick='loadMove("r1bq1rk1/pp1n1pbp/3p1np1/2pPp3/2P1P3/2N1B3/PP2BPPP/R2QNRK1 b - - 0 10", this, "f3e1"); ' class="line0">10.Ne1</span> 
 <span onclick='loadMove("r1bqnrk1/pp1n1pbp/3p2p1/2pPp3/2P1P3/2N1B3/PP2BPPP/R2QNRK1 w - - 0 11", this, "f6e8"); ' class="line0">Ne8</span> 
</p>
<p>Black prepares the traditional <b>...f7-f5</b>.</p>
<p>
 <span onclick='loadMove("r1bqnrk1/pp1n1pbp/3p2p1/2pPp3/2P1P1P1/2N1B3/PP2BP1P/R2QNRK1 b - g3 0 11", this, "g2g4"); ' class="line0">11.g4!</span> 
</p>
<div class="chessBoard analysis nobuttons" data-start-fen="r1bqnrk1/pp1n1pbp/3p2p1/2pPp3/2P1P1P1/2N1B3/PP2BP1P/R2QNRK1 b - g3 0 11"></div>
<p><b>Diagram 8</b>. A cramping attempt</p>
<p>The best move. It doesn't stop ...f7-f5 but ensures that the g-file will open after Black has played it. As we shall see in <b>game 10</b> White is the one who is able to make use of this dangerous file.</p>
<h4>Theoretical?</h4>
<p>It is not overly theoretical but as I found out from personal experience (<b>Pelletier-Gallagher</b>) things can go horribly wrong if you don't know what you're doing and you're up against a well-prepared opponent.</p>
<h4>Statistics</h4>
<p>This line has a long history and is still played by a lot of amateurs who have older books on the King's Indian. Therefore there are a lot of games. After
 <span onclick='loadMove("r1bq1rk1/pppn1pbp/3p1np1/4p3/2PPP3/2N2N2/PP2BPPP/R1BQ1RK1 w - - 0 8", this, "b8d7"); ' class="line1">7...Nbd7</span> 
White has scored 54% from over 6000 games. If we look a little closer things are not quite as healthy for Black as they appear at first sight. There are over 1000 games with
 <span onclick='loadMove("r1bq1rk1/pppn1pbp/3p1np1/3Pp3/2P1P3/2N2N2/PP2BPPP/R1BQ1RK1 b - - 0 8", this, "d4d5"); ' class="line1">8.d5</span> 
and there White has only managed 45%. With the main lines
 <span onclick='loadMove("r1bq1rk1/pppn1pbp/3p1np1/4p3/2PPP3/2N1BN2/PP2BPPP/R2Q1RK1 b - - 0 8", this, "c1e3"); ' class="line1">8.Be3</span> 
and
 <span onclick='loadMove("r1bq1rk1/pppn1pbp/3p1np1/4p3/2PPP3/2N2N2/PPQ1BPPP/R1B2RK1 b - - 0 8", this, "d1c2"); ' class="line1">8.Qc2</span> 
White has scored 60% from nearly 2500 games.</p>
</div> <!-- score -->
</div> <!-- section -->

<div class="section">
<div class="chessBoard small floater" data-start-fen="rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w KQkq - 0 1"></div>
<div class="score">
 <span class="line0" onclick='loadMove("rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w KQkq - 0 1", this, ""); '>[...]</span> 
<h3>Illustrative Games</h3>
<h4>Game 9<br>Biriukov, O. - Svidler, P.<br>St Petersburg 1997</h4>
<p>[ECO "E94"]</p>
<p>
 <span onclick='loadMove("rnbqkbnr/pppppppp/8/8/3P4/8/PPP1PPPP/RNBQKBNR b KQkq d3 0 1", this, "d2d4"); ' class="line0">1.d4</span> 
 <span onclick='loadMove("rnbqkb1r/pppppppp/5n2/8/3P4/8/PPP1PPPP/RNBQKBNR w KQkq - 0 2", this, "g8f6"); ' class="line0">Nf6</span> 
 <span onclick='loadMove("rnbqkb1r/pppppppp/5n2/8/2PP4/8/PP2PPPP/RNBQKBNR b KQkq c3 0 2", this, "c2c4"); ' class="line0">2.c4</span> 
 <span onclick='loadMove("rnbqkb1r/pppppp1p/5np1/8/2PP4/8/PP2PPPP/RNBQKBNR w KQkq - 0 3", this, "g7g6"); ' class="line0">g6</span> 
 <span onclick='loadMove("rnbqkb1r/pppppp1p/5np1/8/2PP4/2N5/PP2PPPP/R1BQKBNR b KQkq - 0 3", this, "b1c3"); ' class="line0">3.Nc3</span> 
 <span onclick='loadMove("rnbqk2r/ppppppbp/5np1/8/2PP4/2N5/PP2PPPP/R1BQKBNR w KQkq - 0 4", this, "f8g7"); ' class="line0">Bg7</span> 
 <span onclick='loadMove("rnbqk2r/ppppppbp/5np1/8/2PPP3/2N5/PP3PPP/R1BQKBNR b KQkq e3 0 4", this, "e2e4"); ' class="line0">4.e4</span> 
 <span onclick='loadMove("rnbq1rk1/ppppppbp/5np1/8/2PPP3/2N5/PP3PPP/R1BQKBNR w KQ - 0 5", this, "e8g8"); ' class="line0">O-O</span> 
 <span onclick='loadMove("rnbq1rk1/ppppppbp/5np1/8/2PPP3/2N2N2/PP3PPP/R1BQKB1R b KQ - 0 5", this, "g1f3"); ' class="line0">5.Nf3</span> 
 <span onclick='loadMove("rnbq1rk1/ppp1ppbp/3p1np1/8/2PPP3/2N2N2/PP3PPP/R1BQKB1R w KQ - 0 6", this, "d7d6"); ' class="line0">d6</span> 
 <span onclick='loadMove("rnbq1rk1/ppp1ppbp/3p1np1/8/2PPP3/2N2N2/PP2BPPP/R1BQK2R b KQ - 0 6", this, "f1e2"); ' class="line0">6.Be2</span> 
 <span onclick='loadMove("r1bq1rk1/pppnppbp/3p1np1/8/2PPP3/2N2N2/PP2BPPP/R1BQK2R w KQ - 0 7", this, "b8d7"); ' class="line0">Nbd7</span> 
 <span onclick='loadMove("r1bq1rk1/pppnppbp/3p1np1/8/2PPP3/2N2N2/PP2BPPP/R1BQ1RK1 b - - 0 7", this, "e1g1"); ' class="line0">7.O-O</span> 
 <span onclick='loadMove("r1bq1rk1/pppn1pbp/3p1np1/4p3/2PPP3/2N2N2/PP2BPPP/R1BQ1RK1 w - e6 0 8", this, "e7e5"); ' class="line0">e5</span> 
 <span onclick='loadMove("r1bq1rk1/pppn1pbp/3p1np1/4p3/2PPP3/2N2N2/PPQ1BPPP/R1B2RK1 b - - 0 8", this, "d1c2"); ' class="line0">8.Qc2</span> 
 <span onclick='loadMove("r1bq1rk1/pppn1pbp/3p2p1/4p2n/2PPP3/2N2N2/PPQ1BPPP/R1B2RK1 w - - 0 9", this, "f6h5"); ' class="line0">Nh5!?</span> 
</p>
<p>The start of a very interesting plan.
The main line is
 <span onclick='loadMove("r1bq1rk1/pp1n1pbp/2pp1np1/4p3/2PPP3/2N2N2/PPQ1BPPP/R1B2RK1 w - - 0 9", this, "c7c6"); ' class="line1">8...c6</span> 
 <span onclick='loadMove("r1bq1rk1/pp1n1pbp/2pp1np1/4p3/2PPP3/2N2N2/PPQ1BPPP/R1BR2K1 b - - 0 9", this, "f1d1"); ' class="line1">9.Rd1</span> 
 <span onclick='loadMove("r1b2rk1/pp1nqpbp/2pp1np1/4p3/2PPP3/2N2N2/PPQ1BPPP/R1BR2K1 w - - 0 10", this, "d8e7"); ' class="line1">Qe7</span> 
 <span onclick='loadMove("r1b2rk1/pp1nqpbp/2pp1np1/3Pp3/2P1P3/2N2N2/PPQ1BPPP/R1BR2K1 b - - 0 10", this, "d4d5"); ' class="line1">10.d5</span> 
 <span onclick='loadMove("r1b2rk1/pp1nqpbp/3p1np1/2pPp3/2P1P3/2N2N2/PPQ1BPPP/R1BR2K1 w - - 0 11", this, "c6c5"); ' class="line1">c5</span> 
 <span onclick='loadMove("r1b2rk1/pp1nqpbp/3p1np1/2pPp1B1/2P1P3/2N2N2/PPQ1BPPP/R2R2K1 b - - 0 11", this, "c1g5"); ' class="line1">11.Bg5</span> 
with a small advantage for White.</p>
<p>
 <span onclick='loadMove("r1bq1rk1/pppn1pbp/3p2p1/4p2n/2PPP3/2N2N2/PPQ1BPPP/R1BR2K1 b - - 0 9", this, "f1d1"); ' class="line0">9.Rd1</span> 
</p>
<p>
 <span onclick='loadMove("r1bq1rk1/pppn1pbp/3p2p1/4p1Bn/2PPP3/2N2N2/PPQ1BPPP/R4RK1 b - - 0 9", this, "c1g5"); ' class="line1">9.Bg5</span> 
 <span onclick='loadMove("r1bq1rk1/pppn2bp/3p1pp1/4p1Bn/2PPP3/2N2N2/PPQ1BPPP/R4RK1 w - - 0 10", this, "f7f6"); ' class="line1">f6</span> 
 <span onclick='loadMove("r1bq1rk1/pppn2bp/3p1pp1/4p2n/2PPP3/2N1BN2/PPQ1BPPP/R4RK1 b - - 0 10", this, "g5e3"); ' class="line1">10.Be3</span> 
 <span onclick='loadMove("r1bq1rk1/pppn2bp/3p1pp1/4p3/2PPPn2/2N1BN2/PPQ1BPPP/R4RK1 w - - 0 11", this, "h5f4"); ' class="line1">Nf4</span> 
is another possibility but
 <span onclick='loadMove("r1bq1rk1/pppn2bp/3p1pp1/4p3/2PPPn2/2N1BN2/PPQ1BPPP/3R1RK1 b - - 0 11", this, "a1d1"); ' class="line1">11.Rad1</span> 
(or
 <span onclick='loadMove("r1bq1rk1/pppn2bp/3p1pp1/4p3/2PPPB2/2N2N2/PPQ1BPPP/R4RK1 b - - 0 11", this, "e3f4"); ' class="line2">11.Bxf4</span> 
 <span onclick='loadMove("r1bq1rk1/pppn2bp/3p1pp1/8/2PPPp2/2N2N2/PPQ1BPPP/R4RK1 w - - 0 12", this, "e5f4"); ' class="line2">exf4</span> 
)
 <span onclick='loadMove("r1bq1rk1/pppn2bp/3p1pp1/4p3/2PPP3/2N1BN2/PPQ1nPPP/3R1RK1 w - - 0 12", this, "f4e2"); ' class="line1">11...Nxe2+</span> 
 <span onclick='loadMove("r1bq1rk1/pppn2bp/3p1pp1/4p3/2PPP3/2N1BN2/PP2QPPP/3R1RK1 b - - 0 12", this, "c2e2"); ' class="line1">12.Qxe2</span> 
 <span onclick='loadMove("r1bq2k1/pppn1rbp/3p1pp1/4p3/2PPP3/2N1BN2/PP2QPPP/3R1RK1 w - - 0 13", this, "f8f7"); ' class="line1">Rf7</span> 
is all right for Black.</p>
<p>
 <span onclick='loadMove("r1bq1rk1/pppn1pbp/3p2p1/4p3/2PPPn2/2N2N2/PPQ1BPPP/R1BR2K1 w - - 0 10", this, "h5f4"); ' class="line0">9...Nf4</span> 
 <span onclick='loadMove("r1bq1rk1/pppn1pbp/3p2p1/4p3/2PPPn2/2N2N2/PPQ2PPP/R1BR1BK1 b - - 0 10", this, "e2f1"); ' class="line0">10.Bf1</span> 
 <span onclick='loadMove("r1bq1rk1/pp1n1pbp/3p2p1/2p1p3/2PPPn2/2N2N2/PPQ2PPP/R1BR1BK1 w - c6 0 11", this, "c7c5"); ' class="line0">c5!</span> 
</p>
<div class="chessBoard analysis nobuttons" data-start-fen="r1bq1rk1/pp1n1pbp/3p2p1/2p1p3/2PPPn2/2N2N2/PPQ2PPP/R1BR1BK1 w - c6 0 11"></div>
<p><b>Diagram 9</b>. Black takes control of d4</p>
<p>This is the big idea. Black plans to play <b>...Ne6</b> and occupy the d4- square with his knight. Of course White can exchange in the centre and do the same with his knight but this just means a level game.</p>
<p>
 <span onclick='loadMove("r1bq1rk1/pp1n1pbp/3p2p1/1Np1p3/2PPPn2/5N2/PPQ2PPP/R1BR1BK1 b - - 0 11", this, "c3b5"); ' class="line0">11.Nb5?!</span> 
</p>
<p>I don't like this move.
 <span onclick='loadMove("r1bq1rk1/pp1n1pbp/3p2p1/2pPp3/2P1Pn2/2N2N2/PPQ2PPP/R1BR1BK1 b - - 0 11", this, "d4d5"); ' class="line1">11.d5</span> 
is better
while
 <span onclick='loadMove("r1bq1rk1/pp1n1pbp/3p2p1/2p1P3/2P1Pn2/2N2N2/PPQ2PPP/R1BR1BK1 b - - 0 11", this, "d4e5"); ' class="line1">11.dxe5</span> 
 <span onclick='loadMove("r1bq1rk1/pp1n1pbp/6p1/2p1p3/2P1Pn2/2N2N2/PPQ2PPP/R1BR1BK1 w - - 0 12", this, "d6e5"); ' class="line1">dxe5</span> 
 <span onclick='loadMove("r1bq1rk1/pp1n1pbp/6p1/2p1p3/2P1PB2/2N2N2/PPQ2PPP/R2R1BK1 b - - 0 12", this, "c1f4"); ' class="line1">12.Bxf4</span> 
 <span onclick='loadMove("r1bq1rk1/pp1n1pbp/6p1/2p5/2P1Pp2/2N2N2/PPQ2PPP/R2R1BK1 w - - 0 13", this, "e5f4"); ' class="line1">exf4</span> 
 <span onclick='loadMove("r1bq1rk1/pp1n1pbp/6p1/2p1P3/2P2p2/2N2N2/PPQ2PPP/R2R1BK1 b - - 0 13", this, "e4e5"); ' class="line1">13.e5</span> 
is another interesting continuation.</p>
<p>
 <span onclick='loadMove("r1bq1rk1/pp1n1pbp/3p2p1/1N2p3/2PpPn2/5N2/PPQ2PPP/R1BR1BK1 w - - 0 12", this, "c5d4"); ' class="line0">11...cxd4</span> 
 <span onclick='loadMove("r1bq1rk1/pp1n1pbp/3N2p1/4p3/2PpPn2/5N2/PPQ2PPP/R1BR1BK1 b - - 0 12", this, "b5d6"); ' class="line0">12.Nxd6</span> 
</p>
<p>
 <span onclick='loadMove("r1bq1rk1/pp1n1pbp/3p2p1/1N2p3/2PpPB2/5N2/PPQ2PPP/R2R1BK1 b - - 0 12", this, "c1f4"); ' class="line1">12.Bxf4</span> 
 <span onclick='loadMove("r1bq1rk1/pp1n1pbp/3p2p1/1N6/2PpPp2/5N2/PPQ2PPP/R2R1BK1 w - - 0 13", this, "e5f4"); ' class="line1">exf4</span> 
 <span onclick='loadMove("r1bq1rk1/pp1n1pbp/3p2p1/1N6/2PNPp2/8/PPQ2PPP/R2R1BK1 b - - 0 13", this, "f3d4"); ' class="line1">13.Nfxd4</span> 
 <span onclick='loadMove("r1bq1rk1/pp3pbp/3p2p1/1N2n3/2PNPp2/8/PPQ2PPP/R2R1BK1 w - - 0 14", this, "d7e5"); ' class="line1">Ne5</span> 
is also fine for Black.</p>
<p>
 <span onclick='loadMove("r1bq1rk1/pp1n1pbp/3Nn1p1/4p3/2PpP3/5N2/PPQ2PPP/R1BR1BK1 w - - 0 13", this, "f4e6"); ' class="line0">12...Ne6</span> 
 <span onclick='loadMove("r1bq1rk1/pp1n1pbp/3Nn1p1/4p3/2PpP3/5N2/PPQ2PPP/1RBR1BK1 b - - 0 13", this, "a1b1"); ' class="line0">13.Rb1</span> 
 <span onclick='loadMove("r1bq1rk1/1p1n1pbp/3Nn1p1/p3p3/2PpP3/5N2/PPQ2PPP/1RBR1BK1 w - a6 0 14", this, "a7a5"); ' class="line0">a5</span> 
 <span onclick='loadMove("r1bq1rk1/1p1n1pbp/3Nn1p1/p3p3/2PpP3/8/PPQ2PPP/1RBRNBK1 b - - 0 14", this, "f3e1"); ' class="line0">14.Ne1</span> 
 <span onclick='loadMove("r1bq1rk1/1p3pbp/3Nn1p1/p1n1p3/2PpP3/8/PPQ2PPP/1RBRNBK1 w - - 0 15", this, "d7c5"); ' class="line0">Ndc5</span> 
 <span onclick='loadMove("r1Nq1rk1/1p3pbp/4n1p1/p1n1p3/2PpP3/8/PPQ2PPP/1RBRNBK1 b - - 0 15", this, "d6c8"); ' class="line0">15.Nxc8</span> 
 <span onclick='loadMove("2rq1rk1/1p3pbp/4n1p1/p1n1p3/2PpP3/8/PPQ2PPP/1RBRNBK1 w - - 0 16", this, "a8c8"); ' class="line0">Rxc8</span> 
</p>
<p>Black already has the advantage. His strong passed pawn may be going nowhere for the moment but it is an asset that is going to keep White occupied in the long term. Black now opens lines on the kingside to start an attack there.</p>
<p>
 <span onclick='loadMove("2rq1rk1/1p3pbp/4n1p1/p1n1p3/2PpP3/3B4/PPQ2PPP/1RBRN1K1 b - - 0 16", this, "f1d3"); ' class="line0">16.Bd3</span> 
 <span onclick='loadMove("2rq1rk1/1p4bp/4n1p1/p1n1pp2/2PpP3/3B4/PPQ2PPP/1RBRN1K1 w - f6 0 17", this, "f7f5"); ' class="line0">f5</span> 
 <span onclick='loadMove("2rq1rk1/1p4bp/4n1p1/p1n1pp2/2PpP3/3B1P2/PPQ3PP/1RBRN1K1 b - - 0 17", this, "f2f3"); ' class="line0">17.f3</span> 
</p>
<p>After
 <span onclick='loadMove("2rq1rk1/1p4bp/4n1p1/p1n1pP2/2Pp4/3B4/PPQ2PPP/1RBRN1K1 b - - 0 17", this, "e4f5"); ' class="line1">17.exf5</span> 
Black takes the bishop before recapturing on f5.</p>
<p>
 <span onclick='loadMove("2r2rk1/1p4bp/4n1p1/p1n1pp2/2PpP2q/3B1P2/PPQ3PP/1RBRN1K1 w - - 0 18", this, "d8h4"); ' class="line0">17...Qh4</span> 
 <span onclick='loadMove("2r2rk1/1p4bp/4n1p1/p1n1pp2/2PpP2q/3B1P2/PP2Q1PP/1RBRN1K1 b - - 0 18", this, "c2e2"); ' class="line0">18.Qe2</span> 
 <span onclick='loadMove("5rk1/1pr3bp/4n1p1/p1n1pp2/2PpP2q/3B1P2/PP2Q1PP/1RBRN1K1 w - - 0 19", this, "c8c7"); ' class="line0">Rc7!</span> 
 <span onclick='loadMove("5rk1/1pr3bp/4n1p1/p1n1pp2/2PpP2q/3B1P2/PP1BQ1PP/1R1RN1K1 b - - 0 19", this, "c1d2"); ' class="line0">19.Bd2</span> 
 <span onclick='loadMove("5rk1/1p3rbp/4n1p1/p1n1pp2/2PpP2q/3B1P2/PP1BQ1PP/1R1RN1K1 w - - 0 20", this, "c7f7"); ' class="line0">Rcf7</span> 
</p>
<p>Black calmly improves his position.</p>
<p>
 <span onclick='loadMove("5rk1/1p3rbp/4n1p1/p1n1pp2/2PpP2q/3B1PP1/PP1BQ2P/1R1RN1K1 b - - 0 20", this, "g2g3"); ' class="line0">20.g3</span> 
 <span onclick='loadMove("5rk1/1p3rbp/4n1p1/p1n1pp1q/2PpP3/3B1PP1/PP1BQ2P/1R1RN1K1 w - - 0 21", this, "h4h5"); ' class="line0">Qh5</span> 
 <span onclick='loadMove("5rk1/1p3rbp/4n1p1/B1n1pp1q/2PpP3/3B1PP1/PP2Q2P/1R1RN1K1 b - - 0 21", this, "d2a5"); ' class="line0">21.Bxa5?</span> 
</p>
<p>Not the most relevant piece on the board but White was in deep trouble anyway. Now he loses by force.</p>
<p>
 <span onclick='loadMove("5rk1/1p3rbp/4n1p1/B3pp1q/2PpP3/3n1PP1/PP2Q2P/1R1RN1K1 w - - 0 22", this, "c5d3"); ' class="line0">21...Nxd3</span> 
 <span onclick='loadMove("5rk1/1p3rbp/4n1p1/B3pp1q/2PpP3/3Q1PP1/PP5P/1R1RN1K1 b - - 0 22", this, "e2d3"); ' class="line0">22.Qxd3</span> 
 <span onclick='loadMove("5rk1/1p3rbp/6p1/B1n1pp1q/2PpP3/3Q1PP1/PP5P/1R1RN1K1 w - - 0 23", this, "e6c5"); ' class="line0">Nc5</span> 
 <span onclick='loadMove("5rk1/1p3rbp/6p1/B1n1pp1q/2PpP3/Q4PP1/PP5P/1R1RN1K1 b - - 0 23", this, "d3a3"); ' class="line0">23.Qa3</span> 
 <span onclick='loadMove("5rk1/1p3rbp/6p1/B1n1p2q/2Ppp3/Q4PP1/PP5P/1R1RN1K1 w - - 0 24", this, "f5e4"); ' class="line0">fxe4!</span> 
 <span onclick='loadMove("5rk1/1p3rbp/6p1/B1Q1p2q/2Ppp3/5PP1/PP5P/1R1RN1K1 b - - 0 24", this, "a3c5"); ' class="line0">24.Qxc5</span> 
 <span onclick='loadMove("5rk1/1p3rbp/6p1/B1Q1p2q/2Pp4/5pP1/PP5P/1R1RN1K1 w - - 0 25", this, "e4f3"); ' class="line0">exf3</span> 
 <span onclick='loadMove("5rk1/1p3rbp/6p1/B1Q1p2q/2Pp4/3N1pP1/PP5P/1R1R2K1 b - - 0 25", this, "e1d3"); ' class="line0">25.Nd3</span> 
 <span onclick='loadMove("5rk1/1p3rbp/6p1/B1Q1p2q/2Pp4/3N2P1/PP3p1P/1R1R2K1 w - - 0 26", this, "f3f2"); ' class="line0">f2+</span> 
 <span onclick='loadMove("5rk1/1p3rbp/6p1/B1Q1p2q/2Pp4/3N2P1/PP3pKP/1R1R4 b - - 0 26", this, "g1g2"); ' class="line0">26.Kg2</span> 
 <span onclick='loadMove("5rk1/1p3rbp/6p1/B1Q1p3/2Pp4/3N1qP1/PP3pKP/1R1R4 w - - 0 27", this, "h5f3"); ' class="line0">Qf3+</span> 
 <span onclick='loadMove("5rk1/1p3rbp/6p1/B1Q1p3/2Pp4/3N1qPK/PP3p1P/1R1R4 b - - 0 27", this, "g2h3"); ' class="line0">27.Kh3</span> 
 <span onclick='loadMove("5rk1/1p3rbp/8/B1Q1p1p1/2Pp4/3N1qPK/PP3p1P/1R1R4 w - - 0 28", this, "g6g5"); ' class="line0">g5</span> 
</p>
<div class="chessBoard analysis nobuttons" data-start-fen="5rk1/1p3rbp/8/B1Q1p1p1/2Pp4/3N1qPK/PP3p1P/1R1R4 w - - 0 28"></div>
<p><b>Diagram 10</b>. White has no defence</p>
<p>White resigns</p>
<p>Black threatens mate starting with <b>...g5-g4+</b> and <b>...Bf6+</b>.
There is no defence; for example
 <span onclick='loadMove("5rk1/1p3rbp/8/B1Q1p1p1/2Pp4/3N1qPK/PP3p1P/1R1R4 w - - 0 28", this, "g6g5"); ' class="line1">27...g5</span> 
 <span onclick='loadMove("5rk1/1p3rbp/8/B1Q1N1p1/2Pp4/5qPK/PP3p1P/1R1R4 b - - 0 28", this, "d3e5"); ' class="line1">28.Nxe5</span> 
 <span onclick='loadMove("5rk1/1p3rbp/8/B1Q1N1pq/2Pp4/6PK/PP3p1P/1R1R4 w - - 0 29", this, "f3h5"); ' class="line1">Qh5+</span> 
 <span onclick='loadMove("5rk1/1p3rbp/8/B1Q1N1pq/2Pp4/6P1/PP3pKP/1R1R4 b - - 0 29", this, "h3g2"); ' class="line1">29.Kg2</span> 
 <span onclick='loadMove("5rk1/1p3rbp/8/B1Q1N1pq/2Pp4/6P1/PP4KP/1R1R1q2 w - - 0 30", this, "f2f1"); ' class="line1">f1Q+</span> 
 <span onclick='loadMove("5rk1/1p3rbp/8/B1Q1N1pq/2Pp4/6P1/PP4KP/1R3R2 b - - 0 30", this, "d1f1"); ' class="line1">30.Rxf1</span> 
 <span onclick='loadMove("5rk1/1p3rbp/8/B1Q1N1p1/2Pp4/6P1/PP2q1KP/1R3R2 w - - 0 31", this, "h5e2"); ' class="line1">Qe2+</span> 
and Black wins.</p>
</div> <!-- score -->
</div> <!-- section -->

<div class="section">
<div class="chessBoard small floater" data-start-fen="rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w KQkq - 0 1"></div>
<div class="score">
 <span class="line0" onclick='loadMove("rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w KQkq - 0 1", this, ""); '>[...]</span> 
<h4>Game 10<br>Pelletier, Y. - Gallagher, J.<br>Neuchâtel 2001</h4>
<p>[ECO "E94"]</p>
<p>
 <span onclick='loadMove("rnbqkbnr/pppppppp/8/8/3P4/8/PPP1PPPP/RNBQKBNR b KQkq d3 0 1", this, "d2d4"); ' class="line0">1.d4</span> 
 <span onclick='loadMove("rnbqkb1r/pppppppp/5n2/8/3P4/8/PPP1PPPP/RNBQKBNR w KQkq - 0 2", this, "g8f6"); ' class="line0">Nf6</span> 
 <span onclick='loadMove("rnbqkb1r/pppppppp/5n2/8/2PP4/8/PP2PPPP/RNBQKBNR b KQkq c3 0 2", this, "c2c4"); ' class="line0">2.c4</span> 
 <span onclick='loadMove("rnbqkb1r/pppppp1p/5np1/8/2PP4/8/PP2PPPP/RNBQKBNR w KQkq - 0 3", this, "g7g6"); ' class="line0">g6</span> 
 <span onclick='loadMove("rnbqkb1r/pppppp1p/5np1/8/2PP4/2N5/PP2PPPP/R1BQKBNR b KQkq - 0 3", this, "b1c3"); ' class="line0">3.Nc3</span> 
 <span onclick='loadMove("rnbqk2r/ppppppbp/5np1/8/2PP4/2N5/PP2PPPP/R1BQKBNR w KQkq - 0 4", this, "f8g7"); ' class="line0">Bg7</span> 
 <span onclick='loadMove("rnbqk2r/ppppppbp/5np1/8/2PPP3/2N5/PP3PPP/R1BQKBNR b KQkq e3 0 4", this, "e2e4"); ' class="line0">4.e4</span> 
 <span onclick='loadMove("rnbqk2r/ppp1ppbp/3p1np1/8/2PPP3/2N5/PP3PPP/R1BQKBNR w KQkq - 0 5", this, "d7d6"); ' class="line0">d6</span> 
 <span onclick='loadMove("rnbqk2r/ppp1ppbp/3p1np1/8/2PPP3/2N2N2/PP3PPP/R1BQKB1R b KQkq - 0 5", this, "g1f3"); ' class="line0">5.Nf3</span> 
 <span onclick='loadMove("rnbq1rk1/ppp1ppbp/3p1np1/8/2PPP3/2N2N2/PP3PPP/R1BQKB1R w KQ - 0 6", this, "e8g8"); ' class="line0">O-O</span> 
 <span onclick='loadMove("rnbq1rk1/ppp1ppbp/3p1np1/8/2PPP3/2N2N2/PP2BPPP/R1BQK2R b KQ - 0 6", this, "f1e2"); ' class="line0">6.Be2</span> 
 <span onclick='loadMove("rnbq1rk1/ppp2pbp/3p1np1/4p3/2PPP3/2N2N2/PP2BPPP/R1BQK2R w KQ e6 0 7", this, "e7e5"); ' class="line0">e5</span> 
 <span onclick='loadMove("rnbq1rk1/ppp2pbp/3p1np1/4p3/2PPP3/2N2N2/PP2BPPP/R1BQ1RK1 b - - 0 7", this, "e1g1"); ' class="line0">7.O-O</span> 
 <span onclick='loadMove("r1bq1rk1/pppn1pbp/3p1np1/4p3/2PPP3/2N2N2/PP2BPPP/R1BQ1RK1 w - - 0 8", this, "b8d7"); ' class="line0">Nbd7</span> 
 <span onclick='loadMove("r1bq1rk1/pppn1pbp/3p1np1/4p3/2PPP3/2N1BN2/PP2BPPP/R2Q1RK1 b - - 0 8", this, "c1e3"); ' class="line0">8.Be3</span> 
 <span onclick='loadMove("r1bq1rk1/pp1n1pbp/2pp1np1/4p3/2PPP3/2N1BN2/PP2BPPP/R2Q1RK1 w - - 0 9", this, "c7c6"); ' class="line0">c6</span> 
 <span onclick='loadMove("r1bq1rk1/pp1n1pbp/2pp1np1/3Pp3/2P1P3/2N1BN2/PP2BPPP/R2Q1RK1 b - - 0 9", this, "d4d5"); ' class="line0">9.d5</span> 
 <span onclick='loadMove("r1bq1rk1/pp1n1pbp/3p1np1/2pPp3/2P1P3/2N1BN2/PP2BPPP/R2Q1RK1 w - - 0 10", this, "c6c5"); ' class="line0">c5</span> 
 <span onclick='loadMove("r1bq1rk1/pp1n1pbp/3p1np1/2pPp3/2P1P3/2N1B3/PP2BPPP/R2QNRK1 b - - 0 10", this, "f3e1"); ' class="line0">10.Ne1</span> 
 <span onclick='loadMove("r1bqnrk1/pp1n1pbp/3p2p1/2pPp3/2P1P3/2N1B3/PP2BPPP/R2QNRK1 w - - 0 11", this, "f6e8"); ' class="line0">Ne8</span> 
 <span onclick='loadMove("r1bqnrk1/pp1n1pbp/3p2p1/2pPp3/2P1P1P1/2N1B3/PP2BP1P/R2QNRK1 b - g3 0 11", this, "g2g4"); ' class="line0">11.g4!</span> 
 <span onclick='loadMove("r1bqnrk1/pp1n2bp/3p2p1/2pPpp2/2P1P1P1/2N1B3/PP2BP1P/R2QNRK1 w - f6 0 12", this, "f7f5"); ' class="line0">f5</span> 
</p>
<p>It is too late to change plan.</p>
<p class="notification message">NOTE: There is an old chess saying: Better a bad plan than no plan at all.</p>
<p>
 <span onclick='loadMove("r1bqnrk1/pp1n2bp/3p2p1/2pPpP2/2P1P3/2N1B3/PP2BP1P/R2QNRK1 b - - 0 12", this, "g4f5"); ' class="line0">12.gxf5</span> 
 <span onclick='loadMove("r1bqnrk1/pp1n2bp/3p4/2pPpp2/2P1P3/2N1B3/PP2BP1P/R2QNRK1 w - - 0 13", this, "g6f5"); ' class="line0">gxf5</span> 
 <span onclick='loadMove("r1bqnrk1/pp1n2bp/3p4/2pPpP2/2P5/2N1B3/PP2BP1P/R2QNRK1 b - - 0 13", this, "e4f5"); ' class="line0">13.exf5</span> 
 <span onclick='loadMove("r1bqnrk1/pp4bp/1n1p4/2pPpP2/2P5/2N1B3/PP2BP1P/R2QNRK1 w - - 0 14", this, "d7b6"); ' class="line0">Nb6?!</span> 
</p>
<div class="chessBoard analysis nobuttons" data-start-fen="r1bqnrk1/pp4bp/1n1p4/2pPpP2/2P5/2N1B3/PP2BP1P/R2QNRK1 w - - 0 14"></div>
<p><b>Diagram 11</b>. Don't play <b>...Nb6</b> in the King's Indian</p>
<p>This was the first time I played
 <span onclick='loadMove("r1bq1rk1/pppn1pbp/3p1np1/4p3/2PPP3/2N2N2/PP2BPPP/R1BQ1RK1 w - - 0 8", this, "b8d7"); ' class="line1">7...Nbd7</span> 
for many years (and the last) and just before the game I looked up the theory in the encyclopaedia. This was the way it suggested Black should play. At the board I became extremely reluctant to play <b>...Nb6</b> (see my comments in <b>Game 60</b>),
much preferring the look of
 <span onclick='loadMove("r1bqnrk1/pp4bp/3p1n2/2pPpP2/2P5/2N1B3/PP2BP1P/R2QNRK1 w - - 0 14", this, "d7f6"); ' class="line1">13...Ndf6</span> 
 <span onclick='loadMove("r1bqnrk1/pp4bp/3p1n2/2pPpP2/2P5/2NBB3/PP3P1P/R2QNRK1 b - - 0 14", this, "e2d3"); ' class="line1">14.Bd3</span> 
 <span onclick='loadMove("r1bqnrk1/pp4bp/3p1n2/2pP1P2/2P1p3/2NBB3/PP3P1P/R2QNRK1 w - - 0 15", this, "e5e4"); ' class="line1">e4</span> 
 <span onclick='loadMove("r1bqnrk1/pp4bp/3p1n2/2pP1P2/2P1N3/3BB3/PP3P1P/R2QNRK1 b - - 0 15", this, "c3e4"); ' class="line1">15.Nxe4</span> 
 <span onclick='loadMove("r1bqnrk1/pp4bp/3p4/2pP1P2/2P1n3/3BB3/PP3P1P/R2QNRK1 w - - 0 16", this, "f6e4"); ' class="line1">Nxe4</span> 
 <span onclick='loadMove("r1bqnrk1/pp4bp/3p4/2pP1P2/2P1B3/4B3/PP3P1P/R2QNRK1 b - - 0 16", this, "d3e4"); ' class="line1">16.Bxe4</span> 
 <span onclick='loadMove("r2qnrk1/pp4bp/3p4/2pP1b2/2P1B3/4B3/PP3P1P/R2QNRK1 w - - 0 17", this, "c8f5"); ' class="line1">Bxf5</span> 
with some compensation for the pawn. But in the end I decided to stick with the theoretical recommendation. Within a few moves I absolutely hated my position as I could find no counterplay against White's slow but sure build up on the kingside.</p>
<p class="warning message">TIP: A little knowledge can be a dangerous thing. If you are unsure, or don't understand the theory then it is better to follow your own instincts. Even if it doesn't always work out you should at least learn something.</p>
<p>
 <span onclick='loadMove("r1bqnrk1/pp4bp/1n1p4/2pPpP2/2P5/2N1B3/PP2BP1P/R2QNR1K b - - 0 14", this, "g1h1"); ' class="line0">14.Kh1</span> 
</p>
<p>White's plan is nice and simple: tuck the king away in the corner, play Rg1 and Nf3 and then double rooks on the g-file.</p>
<p>
 <span onclick='loadMove("r2qnrk1/pp4bp/1n1p4/2pPpb2/2P5/2N1B3/PP2BP1P/R2QNR1K w - - 0 15", this, "c8f5"); ' class="line0">14...Bxf5</span> 
 <span onclick='loadMove("r2qnrk1/pp4bp/1n1p4/2pPpb2/2P5/2N1B3/PP2BP1P/R2QN1RK b - - 0 15", this, "f1g1"); ' class="line0">15.Rg1</span> 
 <span onclick='loadMove("r2qnrk1/pp1n2bp/3p4/2pPpb2/2P5/2N1B3/PP2BP1P/R2QN1RK w - - 0 16", this, "b6d7"); ' class="line0">Nd7</span> 
 <span onclick='loadMove("r2qnrk1/pp1n2bp/3p4/2pPpb2/2P5/2N1BN2/PP2BP1P/R2Q2RK b - - 0 16", this, "e1f3"); ' class="line0">16.Nf3</span> 
 <span onclick='loadMove("r2qnrk1/pp1n2bp/3p4/2pP1b2/2P1p3/2N1BN2/PP2BP1P/R2Q2RK w - - 0 17", this, "e5e4"); ' class="line0">e4!?</span> 
 <span onclick='loadMove("r2qnrk1/pp1n2bp/3p4/2pP1bN1/2P1p3/2N1B3/PP2BP1P/R2Q2RK b - - 0 17", this, "f3g5"); ' class="line0">17.Ng5</span> 
</p>
<p>I had been hoping for
 <span onclick='loadMove("r2qnrk1/pp1n2bp/3p4/2pP1bB1/2P1p3/2N2N2/PP2BP1P/R2Q2RK b - - 0 17", this, "e3g5"); ' class="line1">17.Bg5?!</span> 
when I was going to sacrifice my queen with
 <span onclick='loadMove("r2qnrk1/pp1n2bp/3p4/2pP1bB1/2P5/2N2p2/PP2BP1P/R2Q2RK w - - 0 18", this, "e4f3"); ' class="line1">17...exf3!</span> 
 <span onclick='loadMove("r2Bnrk1/pp1n2bp/3p4/2pP1b2/2P5/2N2p2/PP2BP1P/R2Q2RK b - - 0 18", this, "g5d8"); ' class="line1">18.Bxd8</span> 
 <span onclick='loadMove("r2Bnrk1/pp1n2bp/3p4/2pP1b2/2P5/2N5/PP2pP1P/R2Q2RK w - - 0 19", this, "f3e2"); ' class="line1">fxe2</span> 
 <span onclick='loadMove("r2Bnrk1/pp1n2bp/3p4/2pP1b2/2P5/2N5/PP2QP1P/R5RK b - - 0 19", this, "d1e2"); ' class="line1">19.Qxe2</span> 
 <span onclick='loadMove("3rnrk1/pp1n2bp/3p4/2pP1b2/2P5/2N5/PP2QP1P/R5RK w - - 0 20", this, "a8d8"); ' class="line1">Rxd8</span> 
. The position is far from clear and Pelletier, most sensibly, doesn't get involved.</p>
<p>
 <span onclick='loadMove("r2qnrk1/pp4bp/3p1n2/2pP1bN1/2P1p3/2N1B3/PP2BP1P/R2Q2RK w - - 0 18", this, "d7f6"); ' class="line0">17...Ndf6</span> 
 <span onclick='loadMove("r2qnrk1/pp4bp/3p1n2/2pP1bN1/2P1p3/2N1B1R1/PP2BP1P/R2Q3K b - - 0 18", this, "g1g3"); ' class="line0">18.Rg3</span> 
 <span onclick='loadMove("r3nrk1/pp2q1bp/3p1n2/2pP1bN1/2P1p3/2N1B1R1/PP2BP1P/R2Q3K w - - 0 19", this, "d8e7"); ' class="line0">Qe7</span> 
 <span onclick='loadMove("r3nrk1/pp2q1bp/3p1n2/2pP1bN1/2P1p3/2N1B1R1/PP1QBP1P/R6K b - - 0 19", this, "d1d2"); ' class="line0">19.Qd2</span> 
 <span onclick='loadMove("r3nr1k/pp2q1bp/3p1n2/2pP1bN1/2P1p3/2N1B1R1/PP1QBP1P/R6K w - - 0 20", this, "g8h8"); ' class="line0">Kh8</span> 
 <span onclick='loadMove("r3nr1k/pp2q1bp/3p1n2/2pP1bN1/2P1p3/2N1B1R1/PP1QBP1P/6RK b - - 0 20", this, "a1g1"); ' class="line0">20.Rag1</span> 
 <span onclick='loadMove("3rnr1k/pp2q1bp/3p1n2/2pP1bN1/2P1p3/2N1B1R1/PP1QBP1P/6RK w - - 0 21", this, "a8d8"); ' class="line0">Rd8</span> 
 <span onclick='loadMove("3rnr1k/pp2q1bp/3p1n2/2pP1bN1/2P1p3/2N1B1R1/PP2BP1P/3Q2RK b - - 0 21", this, "d2d1"); ' class="line0">21.Qd1!</span> 
</p>
<p>White is planning to play <b>Bf1-h3</b> in order to swap off the bishop on f5,
but he doesn't want to play
 <span onclick='loadMove("3rnr1k/pp2q1bp/3p1n2/2pP1bN1/2P1p3/2N1B1R1/PP1Q1P1P/5BRK b - - 0 21", this, "e2f1"); ' class="line1">21.Bf1</span> 
as Black has the reply
 <span onclick='loadMove("3rnr1k/pp2q1bp/3p4/2pP1bNn/2P1p3/2N1B1R1/PP1Q1P1P/5BRK w - - 0 22", this, "f6h5"); ' class="line1">21...Nh5</span> 
.</p>
<p>
 <span onclick='loadMove("4nr1k/pp1rq1bp/3p1n2/2pP1bN1/2P1p3/2N1B1R1/PP2BP1P/3Q2RK w - - 0 22", this, "d8d7"); ' class="line0">21...Rd7</span> 
 <span onclick='loadMove("4nr1k/pp1rq1bp/3p1n2/2pP1bN1/2P1p3/2N1B1R1/PP3P1P/3Q1BRK b - - 0 22", this, "e2f1"); ' class="line0">22.Bf1</span> 
 <span onclick='loadMove("4nr1k/pp1r2bp/3p1n2/2pPqbN1/2P1p3/2N1B1R1/PP3P1P/3Q1BRK w - - 0 23", this, "e7e5"); ' class="line0">Qe5</span> 
 <span onclick='loadMove("4nr1k/pp1r2bp/3pNn2/2pPqb2/2P1p3/2N1B1R1/PP3P1P/3Q1BRK b - - 0 23", this, "g5e6"); ' class="line0">23.Ne6?</span> 
</p>
<p>A mistake which lets Black back into the game.
White should have continued with
 <span onclick='loadMove("4nr1k/pp1r2bp/3p1n2/2pPqbN1/2P1p3/2N1B1RB/PP3P1P/3Q2RK b - - 0 23", this, "f1h3"); ' class="line1">23.Bh3</span> 
.</p>
<p>
 <span onclick='loadMove("4nr1k/pp1r2bp/3pbn2/2pPq3/2P1p3/2N1B1R1/PP3P1P/3Q1BRK w - - 0 24", this, "f5e6"); ' class="line0">23...Bxe6</span> 
 <span onclick='loadMove("4nr1k/pp1r2bp/3pPn2/2p1q3/2P1p3/2N1B1R1/PP3P1P/3Q1BRK b - - 0 24", this, "d5e6"); ' class="line0">24.dxe6</span> 
 <span onclick='loadMove("4nr1k/pp1r2bp/3pqn2/2p5/2P1p3/2N1B1R1/PP3P1P/3Q1BRK w - - 0 25", this, "e5e6"); ' class="line0">Qxe6!</span> 
 <span onclick='loadMove("4nr1k/pp1r2bp/3pqn2/2p5/2P1p3/2N1B1RB/PP3P1P/3Q2RK b - - 0 25", this, "f1h3"); ' class="line0">25.Bh3</span> 
 <span onclick='loadMove("4nr1k/pp1r2bp/3p1n2/2p5/2q1p3/2N1B1RB/PP3P1P/3Q2RK w - - 0 26", this, "e6c4"); ' class="line0">Qxc4</span> 
 <span onclick='loadMove("4nr1k/pp1B2bp/3p1n2/2p5/2q1p3/2N1B1R1/PP3P1P/3Q2RK b - - 0 26", this, "h3d7"); ' class="line0">26.Bxd7</span> 
 <span onclick='loadMove("4nr1k/pp1n2bp/3p4/2p5/2q1p3/2N1B1R1/PP3P1P/3Q2RK w - - 0 27", this, "f6d7"); ' class="line0">Nxd7</span> 
</p>
<p>The black position has improved dramatically over the last few moves. White now sets a trap which I fall straight into. It should be pointed out that from a practical point of view I was still likely to lose at this stage as I had about a minute against an hour (for ten moves).</p>
<p>
 <span onclick='loadMove("4nr1k/pp1n2bp/3p4/2p5/2q1p1R1/2N1B3/PP3P1P/3Q2RK b - - 0 27", this, "g3g4"); ' class="line0">27.Rg4!?</span> 
</p>
<div class="chessBoard analysis nobuttons" data-start-fen="4nr1k/pp1n2bp/3p4/2p5/2q1p1R1/2N1B3/PP3P1P/3Q2RK b - - 0 27"></div>
<p><b>Diagram 12</b>. White sets a trap</p>
<p>
 <span onclick='loadMove("4nr1k/pp4bp/3p1n2/2p5/2q1p1R1/2N1B3/PP3P1P/3Q2RK w - - 0 28", this, "d7f6"); ' class="line0">27...Ndf6?</span> 
</p>
<p>After
 <span onclick='loadMove("4nr1k/pp1n3p/3p4/2p5/2q1p1R1/2b1B3/PP3P1P/3Q2RK w - - 0 28", this, "g7c3"); ' class="line1">27...Bxc3</span> 
 <span onclick='loadMove("4nr1k/pp1n3p/3p4/2p5/2q1p1R1/2P1B3/P4P1P/3Q2RK b - - 0 28", this, "b2c3"); ' class="line1">28.bxc3</span> 
 <span onclick='loadMove("4nr1k/pp5p/3p4/2p1n3/2q1p1R1/2P1B3/P4P1P/3Q2RK w - - 0 29", this, "d7e5"); ' class="line1">Ne5</span> 
Black is fine. Now he gets killed on the dark squares.</p>
<p>
 <span onclick='loadMove("4nr1k/pp4Rp/3p1n2/2p5/2q1p3/2N1B3/PP3P1P/3Q2RK b - - 0 28", this, "g4g7"); ' class="line0">28.Rxg7!</span> 
 <span onclick='loadMove("5r1k/pp4np/3p1n2/2p5/2q1p3/2N1B3/PP3P1P/3Q2RK w - - 0 29", this, "e8g7"); ' class="line0">Nxg7</span> 
 <span onclick='loadMove("5r1k/pp4np/3Q1n2/2p5/2q1p3/2N1B3/PP3P1P/6RK b - - 0 29", this, "d1d6"); ' class="line0">29.Qxd6</span> 
 <span onclick='loadMove("5r1k/pp5p/3Qnn2/2p5/2q1p3/2N1B3/PP3P1P/6RK w - - 0 30", this, "g7e6"); ' class="line0">Ne6?</span> 
</p>
<p>This goes down;
but
 <span onclick='loadMove("5r1k/pp3qnp/3Q1n2/2p5/4p3/2N1B3/PP3P1P/6RK w - - 0 30", this, "c4f7"); ' class="line1">29...Qf7</span> 
 <span onclick='loadMove("5r1k/pp3qnp/3Q1n2/2B5/4p3/2N5/PP3P1P/6RK b - - 0 30", this, "e3c5"); ' class="line1">30.Bxc5</span> 
with <b>Bd4</b> coming did not inspire.</p>
<p>
 <span onclick='loadMove("5r1k/pp5p/4nn2/2p1Q3/2q1p3/2N1B3/PP3P1P/6RK b - - 0 30", this, "d6e5"); ' class="line0">30.Qe5!</span> 
 <span onclick='loadMove("5r1k/pp5p/q3nn2/2p1Q3/4p3/2N1B3/PP3P1P/6RK w - - 0 31", this, "c4a6"); ' class="line0">Qa6</span> 
 <span onclick='loadMove("5r1k/pp5p/q3nn1B/2p1Q3/4p3/2N5/PP3P1P/6RK b - - 0 31", this, "e3h6"); ' class="line0">31.Bh6</span> 
 <span onclick='loadMove("7k/pp3r1p/q3nn1B/2p1Q3/4p3/2N5/PP3P1P/6RK w - - 0 32", this, "f8f7"); ' class="line0">Rf7</span> 
 <span onclick='loadMove("1Q5k/pp3r1p/q3nn1B/2p5/4p3/2N5/PP3P1P/6RK b - - 0 32", this, "e5b8"); ' class="line0">32.Qb8+</span> 
 <span onclick='loadMove("1Q3n1k/pp3r1p/q4n1B/2p5/4p3/2N5/PP3P1P/6RK w - - 0 33", this, "e6f8"); ' class="line0">Nf8</span> 
 <span onclick='loadMove("1Q3B1k/pp3r1p/q4n2/2p5/4p3/2N5/PP3P1P/6RK b - - 0 33", this, "h6f8"); ' class="line0">33.Bxf8</span> 
</p>
<p>Black resigns</p>
</div> <!-- score -->
</div> <!-- section -->

</div> <!-- iBook -->

{% endblock content %}
