{% extends '../../base.htm' %}
{% load static %}
{% block title %}
<title>The Classical with 7 0-0 Nc6: Alternatives to 9 Ne1 | {{book.title}} | {%for author in book.authors.all%} {%if author.first_name%} {{author.first_name}} {%endif%} {%if author.second_name%} {{author.second_name}} {%endif%} {%if forloop.counter == book.authors.all.count%} {{author.last_name}} {%else%} {{author.last_name}}, {%endif%} {%endfor%} | {{book.year}}</title>
{% endblock title %}
{% block content %}

<div class="iBook">

<div class="section">
<div class="chessBoard small floater" data-start-fen="rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w KQkq - 0 1"></div>
<div class="score">
 <span class="line0" onclick='loadMove("rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w KQkq - 0 1", this, ""); '>[...]</span> 
<h2>The Classical with 7 0-0 Nc6:<br>Alternatives to 9 Ne1</h2>
<p>[ECO "E97"]</p>
<p>
 <span onclick='loadMove("rnbqkbnr/pppppppp/8/8/3P4/8/PPP1PPPP/RNBQKBNR b KQkq d3 0 1", this, "d2d4"); ' class="line0">1.d4</span> 
 <span onclick='loadMove("rnbqkb1r/pppppppp/5n2/8/3P4/8/PPP1PPPP/RNBQKBNR w KQkq - 0 2", this, "g8f6"); ' class="line0">Nf6</span> 
 <span onclick='loadMove("rnbqkb1r/pppppppp/5n2/8/2PP4/8/PP2PPPP/RNBQKBNR b KQkq c3 0 2", this, "c2c4"); ' class="line0">2.c4</span> 
 <span onclick='loadMove("rnbqkb1r/pppppp1p/5np1/8/2PP4/8/PP2PPPP/RNBQKBNR w KQkq - 0 3", this, "g7g6"); ' class="line0">g6</span> 
 <span onclick='loadMove("rnbqkb1r/pppppp1p/5np1/8/2PP4/2N5/PP2PPPP/R1BQKBNR b KQkq - 0 3", this, "b1c3"); ' class="line0">3.Nc3</span> 
 <span onclick='loadMove("rnbqk2r/ppppppbp/5np1/8/2PP4/2N5/PP2PPPP/R1BQKBNR w KQkq - 0 4", this, "f8g7"); ' class="line0">Bg7</span> 
 <span onclick='loadMove("rnbqk2r/ppppppbp/5np1/8/2PPP3/2N5/PP3PPP/R1BQKBNR b KQkq e3 0 4", this, "e2e4"); ' class="line0">4.e4</span> 
 <span onclick='loadMove("rnbqk2r/ppp1ppbp/3p1np1/8/2PPP3/2N5/PP3PPP/R1BQKBNR w KQkq - 0 5", this, "d7d6"); ' class="line0">d6</span> 
 <span onclick='loadMove("rnbqk2r/ppp1ppbp/3p1np1/8/2PPP3/2N2N2/PP3PPP/R1BQKB1R b KQkq - 0 5", this, "g1f3"); ' class="line0">5.Nf3</span> 
 <span onclick='loadMove("rnbq1rk1/ppp1ppbp/3p1np1/8/2PPP3/2N2N2/PP3PPP/R1BQKB1R w KQ - 0 6", this, "e8g8"); ' class="line0">O-O</span> 
 <span onclick='loadMove("rnbq1rk1/ppp1ppbp/3p1np1/8/2PPP3/2N2N2/PP2BPPP/R1BQK2R b KQ - 0 6", this, "f1e2"); ' class="line0">6.Be2</span> 
 <span onclick='loadMove("rnbq1rk1/ppp2pbp/3p1np1/4p3/2PPP3/2N2N2/PP2BPPP/R1BQK2R w KQ e6 0 7", this, "e7e5"); ' class="line0">e5</span> 
 <span onclick='loadMove("rnbq1rk1/ppp2pbp/3p1np1/4p3/2PPP3/2N2N2/PP2BPPP/R1BQ1RK1 b - - 0 7", this, "e1g1"); ' class="line0">7.O-O</span> 
 <span onclick='loadMove("r1bq1rk1/ppp2pbp/2np1np1/4p3/2PPP3/2N2N2/PP2BPPP/R1BQ1RK1 w - - 0 8", this, "b8c6"); ' class="line0">Nc6</span> 
 <span onclick='loadMove("r1bq1rk1/ppp2pbp/2np1np1/3Pp3/2P1P3/2N2N2/PP2BPPP/R1BQ1RK1 b - - 0 8", this, "d4d5"); ' class="line0">8.d5</span> 
 <span onclick='loadMove("r1bq1rk1/ppp1npbp/3p1np1/3Pp3/2P1P3/2N2N2/PP2BPPP/R1BQ1RK1 w - - 0 9", this, "c6e7"); ' class="line0">Ne7</span> 
</p>
<h3>Summary</h3>
<p>1) This chapter contains the two variations that have dominated King's Indian theory over the last decade or so:</p>
<p>2) In the <b>10 Re1</b> line of the Bayonet Attack,
 <span onclick='loadMove("r1bq1rk1/ppp1npbp/3p1np1/3Pp3/1PP1P3/2N2N2/P3BPPP/R1BQ1RK1 b - b3 0 9", this, "b2b4"); ' class="line1">9.b4</span> 
, Black should not consider
 <span onclick='loadMove("r1bq1rk1/ppp1npbp/3p2p1/3Pp2n/1PP1P3/2N2N2/P3BPPP/R1BQ1RK1 w - - 0 10", this, "f6h5"); ' class="line1">9...Nh5</span> 
as the first step on a journey to f4, but as a means of preparing <b>... f7-f5</b>. It is still better to play
 <span onclick='loadMove("r1bq1rk1/ppp1npbp/3p2p1/3Pp2n/1PP1P3/2N2N2/P3BPPP/R1BQ1RK1 w - - 0 10", this, "f6h5"); ' class="line1">9...Nh5</span> 
than
 <span onclick='loadMove("r1bqnrk1/ppp1npbp/3p2p1/3Pp3/1PP1P3/2N2N2/P3BPPP/R1BQ1RK1 w - - 0 10", this, "f6e8"); ' class="line1">9...Ne8</span> 
or
 <span onclick='loadMove("r1bq1rk1/pppnnpbp/3p2p1/3Pp3/1PP1P3/2N2N2/P3BPPP/R1BQ1RK1 w - - 0 10", this, "f6d7"); ' class="line1">9...Nd7</span> 
, as White is encouraged to waste a tempo with
 <span onclick='loadMove("r1bq1rk1/pppnnpbp/3p2p1/3Pp3/1PP1P3/2N2N2/P3BPPP/R1BQR1K1 b - - 0 10", this, "f1e1"); ' class="line1">10.Re1</span> 
or to weaken his kingside with
 <span onclick='loadMove("r1bq1rk1/pppnnpbp/3p2p1/3Pp3/1PP1P3/2N2NP1/P3BP1P/R1BQ1RK1 b - - 0 10", this, "g2g3"); ' class="line2">10.g3</span> 
.</p>
<p>3) Black should not be overambitious. Equality is a good result.</p>
<p>Against
 <span onclick='loadMove("r1bq1rk1/ppp1npbp/3p1np1/3Pp3/2P1P3/2N5/PP1NBPPP/R1BQ1RK1 b - - 0 9", this, "f3d2"); ' class="line1">9.Nd2</span> 
Black should reply
 <span onclick='loadMove("r1bq1rk1/1pp1npbp/3p1np1/p2Pp3/2P1P3/2N5/PP1NBPPP/R1BQ1RK1 w - a6 0 10", this, "a7a5"); ' class="line1">9...a5!</span> 
. This slows down White's queenside play and doesn't relinquish any of Black's attacking ideas.</p>
<ul>
<li><a href="04-1-1-the-bayonet-alternatives.htm">The Bayonet 9 b4: Alternatives to 10 Re1</a>
<li><a href="04-1-2-the-bayonet-main-line.htm">The Bayonet 9 b4: The Main Line 10 Re1</a>
<li><a href="04-1-3-white-plays-9-Nd2.htm">White Plays 9 Nd2</a>
</ul>
</div> <!-- score -->
</div> <!-- section -->

</div> <!-- iBook -->

{% endblock content %}
