{% extends '../../base.htm' %}
{% load static %}
{% block title %}
<title>8. The Averbakh Variation | {{book.title}} | {%for author in book.authors.all%} {%if author.first_name%} {{author.first_name}} {%endif%} {%if author.second_name%} {{author.second_name}} {%endif%} {%if forloop.counter == book.authors.all.count%} {{author.last_name}} {%else%} {{author.last_name}}, {%endif%} {%endfor%} | {{book.year}}</title>
{% endblock title %}
{% block content %}

<div class="iBook">

<div class="section">
<div class="chessBoard small floater" data-start-fen="rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w KQkq - 0 1"></div>
<div class="score">
 <span class="line0" onclick='loadMove("rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w KQkq - 0 1", this, ""); '>[...]</span> 
<h2>8. The Averbakh Variation</h2>
<p>[ECO "E73"]</p>
<p>
 <span onclick='loadMove("rnbqkbnr/pppppppp/8/8/3P4/8/PPP1PPPP/RNBQKBNR b KQkq d3 0 1", this, "d2d4"); ' class="line0">1.d4</span> 
 <span onclick='loadMove("rnbqkb1r/pppppppp/5n2/8/3P4/8/PPP1PPPP/RNBQKBNR w KQkq - 0 2", this, "g8f6"); ' class="line0">Nf6</span> 
 <span onclick='loadMove("rnbqkb1r/pppppppp/5n2/8/2PP4/8/PP2PPPP/RNBQKBNR b KQkq c3 0 2", this, "c2c4"); ' class="line0">2.c4</span> 
 <span onclick='loadMove("rnbqkb1r/pppppp1p/5np1/8/2PP4/8/PP2PPPP/RNBQKBNR w KQkq - 0 3", this, "g7g6"); ' class="line0">g6</span> 
 <span onclick='loadMove("rnbqkb1r/pppppp1p/5np1/8/2PP4/2N5/PP2PPPP/R1BQKBNR b KQkq - 0 3", this, "b1c3"); ' class="line0">3.Nc3</span> 
 <span onclick='loadMove("rnbqk2r/ppppppbp/5np1/8/2PP4/2N5/PP2PPPP/R1BQKBNR w KQkq - 0 4", this, "f8g7"); ' class="line0">Bg7</span> 
 <span onclick='loadMove("rnbqk2r/ppppppbp/5np1/8/2PPP3/2N5/PP3PPP/R1BQKBNR b KQkq e3 0 4", this, "e2e4"); ' class="line0">4.e4</span> 
 <span onclick='loadMove("rnbqk2r/ppp1ppbp/3p1np1/8/2PPP3/2N5/PP3PPP/R1BQKBNR w KQkq - 0 5", this, "d7d6"); ' class="line0">d6</span> 
 <span onclick='loadMove("rnbqk2r/ppp1ppbp/3p1np1/8/2PPP3/2N5/PP2BPPP/R1BQK1NR b KQkq - 0 5", this, "f1e2"); ' class="line0">5.Be2</span> 
 <span onclick='loadMove("rnbq1rk1/ppp1ppbp/3p1np1/8/2PPP3/2N5/PP2BPPP/R1BQK1NR w KQ - 0 6", this, "e8g8"); ' class="line0">O-O</span> 
 <span onclick='loadMove("rnbq1rk1/ppp1ppbp/3p1np1/6B1/2PPP3/2N5/PP2BPPP/R2QK1NR b KQ - 0 6", this, "c1g5"); ' class="line0">6.Bg5</span> 
</p>
<div class="chessBoard analysis nobuttons" data-start-fen="rnbq1rk1/ppp1ppbp/3p1np1/6B1/2PPP3/2N5/PP2BPPP/R2QK1NR b KQ - 0 6"></div>
<p><b>Diagram 1</b>. The Averbakh System</p>
<p>This line bears the name of the famous Russian Grandmaster Yuri Averbakh. It is a solid restraining system which, by preventing the immediate <b>...e7-e5</b>, attempts to make it more difficult for Black to obtain his traditional kingside counterplay.
What happens to
 <span onclick='loadMove("rnbq1rk1/ppp2pbp/3p1np1/4p1B1/2PPP3/2N5/PP2BPPP/R2QK1NR w KQ e6 0 7", this, "e7e5"); ' class="line1">6...e5</span> 
? Well, it just loses material after
 <span onclick='loadMove("rnbq1rk1/ppp2pbp/3p1np1/4P1B1/2P1P3/2N5/PP2BPPP/R2QK1NR b KQ - 0 7", this, "d4e5"); ' class="line1">7.dxe5</span> 
 <span onclick='loadMove("rnbq1rk1/ppp2pbp/5np1/4p1B1/2P1P3/2N5/PP2BPPP/R2QK1NR w KQ - 0 8", this, "d6e5"); ' class="line1">dxe5</span> 
 <span onclick='loadMove("rnbQ1rk1/ppp2pbp/5np1/4p1B1/2P1P3/2N5/PP2BPPP/R3K1NR b KQ - 0 8", this, "d1d8"); ' class="line1">8.Qxd8</span> 
 <span onclick='loadMove("rnbr2k1/ppp2pbp/5np1/4p1B1/2P1P3/2N5/PP2BPPP/R3K1NR w KQ - 0 9", this, "f8d8"); ' class="line1">Rxd8</span> 
 <span onclick='loadMove("rnbr2k1/ppp2pbp/5np1/3Np1B1/2P1P3/8/PP2BPPP/R3K1NR b KQ - 0 9", this, "c3d5"); ' class="line1">9.Nd5</span> 
as Black can't cope with the double attack on f6 and c7.</p>
<p>After
 <span onclick='loadMove("rnbq1rk1/ppp1ppbp/3p1np1/6B1/2PPP3/2N5/PP2BPPP/R2QK1NR b KQ - 0 6", this, "c1g5"); ' class="line1">6.Bg5</span> 
Black has an immediate decision to make. Should he abandon the idea of playing <b>...e7-e5</b>? If he does then he can play <b>...c7-c5</b>, with or without first throwing in the move <b>...h7-h6</b>. This is the subject of our first sub-section. If Black is resolute in his desire to play <b>...e7-e5</b> then he will have to find a suitable preparatory move. In the past this meant playing either
 <span onclick='loadMove("r1bq1rk1/pppnppbp/3p1np1/6B1/2PPP3/2N5/PP2BPPP/R2QK1NR w KQ - 0 7", this, "b8d7"); ' class="line1">6...Nbd7</span> 
or
 <span onclick='loadMove("rnbq1rk1/ppp1ppb1/3p1npp/6B1/2PPP3/2N5/PP2BPPP/R2QK1NR w KQ - 0 7", this, "h7h6"); ' class="line1">6...h6</span> 
, both of which have their drawbacks.
In recent times, however,
 <span onclick='loadMove("r1bq1rk1/ppp1ppbp/n2p1np1/6B1/2PPP3/2N5/PP2BPPP/R2QK1NR w KQ - 0 7", this, "b8a6"); ' class="line1">6...Na6</span> 
has come to Black's rescue as a more flexible way of preparing <b>...e7-e5</b>. This is considered in the second sub-section.</p>
<ul>
<li><a href="08-1-1-black-plays-c7-c5.htm">Black Plays (for) ...c7-c5</a>
<li><a href="08-1-2-black-plays-e7-e5.htm">Black Plays (for) ...e7-e5 (also 6...Na6)</a>
</ul>
<p>If you are going to play the King's Indian with Black you may be a little confused as to whether you should aim for <b>...c7-c5</b> or <b>...e7-e5</b>. I tend to adhere to the following rule:</p>
<p>Play <b>...e7-e5</b> except when White develops his queen bishop early. Then it's time to start thinking (just thinking, mind you) about <b>...c7-c5</b>. The move <b>...c7-c5</b> is likely to prise open the long diagonal (after <b>...e7-e5</b> it usually becomes totally blocked) and the absence of the white bishop from the queenside means that the dark squares there (such as b2) may become vulnerable to pressure from the g7-bishop.</p>
<p>The Averbakh Variation clearly comes into the group where <b>...c7-c5</b> deserves consideration.
 <span onclick='loadMove("rnbq1rk1/pp2ppbp/3p1np1/2p3B1/2PPP3/2N5/PP2BPPP/R2QK1NR w KQ c6 0 7", this, "c7c5"); ' class="line1">6...c5</span> 
is the subject of the first section below.</p>
<h3>Summary</h3>
<p>1) Don't play <b>6...e5!</b>. It loses.</p>
<p>2) The lines with <b>...c7-c5</b> are perfectly playable for Black but by playing dxc5 White can steer the game into the sort of position that few King's Indian players feel really at home in.</p>
<p>3) In some ways the move <b>6...Na6</b> has disarmed the Averbakh. Black is now able to play <b>...e7-e5</b> without making any real concessions. As always with a knight on a6 Black should make sure that it doesn't stay stuck there out of play. This is particularly important when White plays <b>7 f4</b>. There is an old saying: one badly placed piece makes the whole position bad.</p>
</div> <!-- score -->
</div> <!-- section -->

</div> <!-- iBook -->

{% endblock content %}
