{% extends '../../base.htm' %}
{% load static %}
{% block title %}
<title>I. Ограничение подвижности в староиндийской защите | {{book.title}} | {%for author in book.authors.all%} {%if author.first_name%} {{author.first_name}} {%endif%} {%if author.second_name%} {{author.second_name}} {%endif%} {%if forloop.counter == book.authors.all.count%} {{author.last_name}} {%else%} {{author.last_name}}, {%endif%} {%endfor%} | {{book.year}}</title>
{% endblock title %}
{% block content %}

<div class="iBook">

<div class="section">
<div class="chessBoard small floater" data-start-fen="rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w KQkq - 0 1"></div>
<div class="score">
 <span class="line0" onclick='loadMove("rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w KQkq - 0 1", this, ""); '>[...]</span> 
<h3>I. Ограничение подвижности в староиндийской защите</h3>
<p>В большинстве вариантов староиндийской защиты возникает пешечная конфигурация запертого центра с белыми пешками <b>c4-d5-e4</b> и черными <b>c7(c5)-d6-e5</b>. При такой конфигурации одной из основных стратегических идей черных является подрыв белого центра путем <b>f7-f5</b>. Современная турнирная практика накопила целый ряд типовых приемов игры за белых, направленных на борьбу с этим подрывом, а именно:</p>
<div class="notification message">
<p>1. Маневр <b>Кf3-h4</b>.</p>
<p>2. Связка коня f6 путем <b>Сc1-g5</b>.</p>
<p>3. Пешечный размен <b>e4:f5</b> <b>g6:f5</b> с последующим <b>f2-f4</b>.</p>
<p>4. Продвижение <b>g2-g4</b>.</p>
</div>
<p>Эти приемы имеют целью либо максимально затруднить ход <b>f7-f5</b>, либо ограничить подвижность черных пешек <b>e5-f5</b>.</p>
<p>Ограничение подвижности в староиндийской защите не является монополией белых. Современная турнирная практика выявила ряд типовых приемов и за черных. В этой главе разбирается один из наиболее оригинальных приемов, а именно:</p>
<div class="notification message">
<p>Ограничение подвижности белых путем размена слона g7 на коня c3.</p>
</div>
<p>Рассмотрим все вышеупомянутые приемы по порядку.</p>
</div> <!-- score -->
</div> <!-- section -->

</div> <!-- iBook -->
{% endblock content %}
