{% extends '../../base.htm' %}
{% load static %}
{% block title %}
<title>Перечень партий | {{book.title}} | {%for author in book.authors.all%} {%if author.first_name%} {{author.first_name}} {%endif%} {%if author.second_name%} {{author.second_name}} {%endif%} {%if forloop.counter == book.authors.all.count%} {{author.last_name}} {%else%} {{author.last_name}}, {%endif%} {%endfor%} | {{book.year}}</title>
{% endblock title %}
{% block content %}

<div class="iBook">

<div class="section">
<div class="chessBoard small floater" data-start-fen="rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w KQkq - 0 1"></div>
<div class="score">
 <span class="line0" onclick='loadMove("rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w KQkq - 0 1", this, ""); '>[...]</span> 
<h1>Перечень партий</h1>
<ul>
<li><a href="{% url 'page-view' book.root_dir|add:'/01-chistyj-legal.htm' %}#game1">1. «Мат морского кадета»</a></li>
<li><a href="{% url 'page-view' book.root_dir|add:'/01-chistyj-legal.htm' %}#game2">2. <b>Хартлауб</b> — Ворх, Бремен, 1890</a></li>
<li><a href="{% url 'page-view' book.root_dir|add:'/01-chistyj-legal.htm' %}#game3">3. <b>Эссер</b> — Уорден, 1912</a></li>
<li><a href="{% url 'page-view' book.root_dir|add:'/01-chistyj-legal.htm' %}#game4">4. <b>Лутиков</b> — Старухин, Ленинград, 1948</a></li>
<li><a href="{% url 'page-view' book.root_dir|add:'/01-chistyj-legal.htm' %}#game5">5. <b>Бегчанс</b> — Ангупас, Рига, 1987</a></li>
<li><a href="{% url 'page-view' book.root_dir|add:'/01-chistyj-legal.htm' %}#game6">6. <b>Шерон</b> — Янлоз, Цюрих, 1929</a></li>
<li><a href="{% url 'page-view' book.root_dir|add:'/01-chistyj-legal.htm' %}#game7">7. <b>Нассер</b> — Мбайе, Дубай, 1986</a></li>
<li><a href="{% url 'page-view' book.root_dir|add:'/01-chistyj-legal.htm' %}#game8">8. <b>Меркин</b> — Чаплинский, Москва, 1958</a></li>
<li><a href="{% url 'page-view' book.root_dir|add:'/01-chistyj-legal.htm' %}#game9">9. <b>Бебчук</b> — Бакулин, Москва, 1964</a></li>
<li><a href="{% url 'page-view' book.root_dir|add:'/01-chistyj-legal.htm' %}#game10">10. <b>Куинджи</b> — Журавлев, Калининград, 1973</a></li>
<li><a href="{% url 'page-view' book.root_dir|add:'/01-chistyj-legal.htm' %}#game11">11. <b>Мацукевич</b> — Кислов, Дубна, 1973</a></li>
<li><a href="{% url 'page-view' book.root_dir|add:'/01-chistyj-legal.htm' %}#game12">12. <b>Фалькбеер</b> — Любитель, Вена, 1847</a></li>
<li><a href="{% url 'page-view' book.root_dir|add:'/01-chistyj-legal.htm' %}#game13">13. <b>Пильсбери</b> — Фернандес, Гановер, 1900</a></li>
<li><a href="{% url 'page-view' book.root_dir|add:'/01-chistyj-legal.htm' %}#game14">14. Любитель — <b>Клюгер</b>, Щецин, 1920</a></li>
<li><a href="{% url 'page-view' book.root_dir|add:'/01-chistyj-legal.htm' %}#game15">15. Любитель — <b>Гешев</b>, 1935</a></li>
<li><a href="{% url 'page-view' book.root_dir|add:'/02-sverh-legal.htm' %}#game16">16. Арнольд — <b>Ханайер</b>, Филадельфия, 1936</a></li>
<li><a href="{% url 'page-view' book.root_dir|add:'/02-sverh-legal.htm' %}#game17">17. <b>Бобков</b> — Ходер, Могилев, 1958</a></li>
<li><a href="{% url 'page-view' book.root_dir|add:'/02-sverh-legal.htm' %}#game18">18. <b>Малых</b> — Эйдельберг, Симферополь, 1984</a></li>
<li><a href="{% url 'page-view' book.root_dir|add:'/02-sverh-legal.htm' %}#game19">19. <b>Шлаге</b> — Хаум, Берлин, 1937</a></li>
<li><a href="{% url 'page-view' book.root_dir|add:'/02-sverh-legal.htm' %}#game20">20. <b>Шмит</b> — Любитель, Вена, 1852</a></li>
<li><a href="{% url 'page-view' book.root_dir|add:'/02-sverh-legal.htm' %}#game21">21. <b>Шофман</b> — Гавриков, Кишинев, 1974</a></li>
<li><a href="{% url 'page-view' book.root_dir|add:'/02-sverh-legal.htm' %}#game22">22. <b>Аронин</b> — Канторович, Москва, 1960</a></li>
<li><a href="{% url 'page-view' book.root_dir|add:'/03-ustraniaia-prepiatstviia.htm' %}#game23">23. <b>Дейч</b> — Кони, Вена, 1925</a></li>
<li><a href="{% url 'page-view' book.root_dir|add:'/03-ustraniaia-prepiatstviia.htm' %}#game24">24. <b>Балоде</b> — Сондоре, Рига, 1965</a></li>
<li><a href="{% url 'page-view' book.root_dir|add:'/03-ustraniaia-prepiatstviia.htm' %}#game25">25. <b>Шилав</b> — Раздобарин, Красноярск, 1959</a></li>
<li><a href="{% url 'page-view' book.root_dir|add:'/03-ustraniaia-prepiatstviia.htm' %}#game26">26. Хьюдж — <b>Ходгсон</b>, Лондон, 1987</a></li>
<li><a href="{% url 'page-view' book.root_dir|add:'/03-ustraniaia-prepiatstviia.htm' %}#game27">27. Ойдхюсден — <b>де Врис</b>, Амстердам, 1934</a></li>
<li><a href="{% url 'page-view' book.root_dir|add:'/03-ustraniaia-prepiatstviia.htm' %}#game28">28. Кулмала — <b>Лихтенен</b>, Финляндия, 1938</a></li>
<li><a href="{% url 'page-view' book.root_dir|add:'/03-ustraniaia-prepiatstviia.htm' %}#game29">29. <b>Блек</b> — Хуг, Лондон 1923</a></li>
<li><a href="{% url 'page-view' book.root_dir|add:'/03-ustraniaia-prepiatstviia.htm' %}#game30">30. <b>Бокль</b> — Любитель, Лондон, 1840</a></li>
<li><a href="{% url 'page-view' book.root_dir|add:'/03-ustraniaia-prepiatstviia.htm' %}#game31">31. <b>Мекензи</b> — Фрин, Нью-Йорк, 1868</a></li>
<li><a href="{% url 'page-view' book.root_dir|add:'/03-ustraniaia-prepiatstviia.htm' %}#game32">32. <b>Бергер</b> — Фрюлих, Грац, 1888</a></li>
<li><a href="{% url 'page-view' book.root_dir|add:'/03-ustraniaia-prepiatstviia.htm' %}#game33">33. <b>Беньяфлейд</b> — Виппел, Сидней, 1938</a></li>
<li><a href="{% url 'page-view' book.root_dir|add:'/03-ustraniaia-prepiatstviia.htm' %}#game34">34. <b>Ткаченко</b> — Шведова, 1963</a></li>
<li><a href="{% url 'page-view' book.root_dir|add:'/03-ustraniaia-prepiatstviia.htm' %}#game35">35. <b>Шамкович</b> — Ивашин, Горький, 1946</a></li>
<li><a href="{% url 'page-view' book.root_dir|add:'/04-benefis-ferzevogo-slona_figura-pervaia.htm' %}#game36">36. <b>Поллок</b> — Халль, Нью-Йорк, 1890</a></li>
<li><a href="{% url 'page-view' book.root_dir|add:'/04-benefis-ferzevogo-slona_figura-pervaia.htm' %}#game37">37. Ничифор — <b>Крамер</b>, Югославия, 1921</a></li>
<li><a href="{% url 'page-view' book.root_dir|add:'/04-benefis-ferzevogo-slona_figura-pervaia.htm' %}#game38">38. <b>Тарраш</b> — Чигорин, Петербург, 1893</a></li>
<li><a href="{% url 'page-view' book.root_dir|add:'/04-benefis-ferzevogo-slona_figura-pervaia.htm' %}#game39">39. <b>Нейбург</b> — Леепин, 1941</a></li>
<li><a href="{% url 'page-view' book.root_dir|add:'/04-benefis-ferzevogo-slona_figura-pervaia.htm' %}#game40">40. Стивенсон — <b>Мариотт</b>, Нотингем, 1877</a></li>
<li><a href="{% url 'page-view' book.root_dir|add:'/04-benefis-ferzevogo-slona_figura-pervaia.htm' %}#game41">41. Тененбаум — <b>Канторович</b>, Москва, 1951</a></li>
<li><a href="{% url 'page-view' book.root_dir|add:'/05-benefis-ferzevogo-slona_figura-vtoraia.htm' %}#game42">42. <b>Тейлор</b> — Дрейер, Антверпен, 1934</a></li>
<li><a href="{% url 'page-view' book.root_dir|add:'/05-benefis-ferzevogo-slona_figura-vtoraia.htm' %}#game43">43. <b>Кан</b> — Хук, Кальтутта, 1979</a></li>
<li><a href="{% url 'page-view' book.root_dir|add:'/05-benefis-ferzevogo-slona_figura-vtoraia.htm' %}#game44">44. <b>Фрид</b> — Шлехтер, Вена, 1894</a></li>
<li><a href="{% url 'page-view' book.root_dir|add:'/05-benefis-ferzevogo-slona_figura-vtoraia.htm' %}#game45">45. <b>Хубер</b> — Лемке, 1936</a></li>
<li><a href="{% url 'page-view' book.root_dir|add:'/05-benefis-ferzevogo-slona_figura-vtoraia.htm' %}#game46">46. <b>Перри</b> — Уильямс, США, 1917</a></li>
<li><a href="{% url 'page-view' book.root_dir|add:'/05-benefis-ferzevogo-slona_figura-vtoraia.htm' %}#game47">47. <b>Имбо</b> — Струмие, по переписке, 1922</a></li>
<li><a href="{% url 'page-view' book.root_dir|add:'/05-benefis-ferzevogo-slona_figura-vtoraia.htm' %}#game48">48. <b>Розенталис</b> — А. Микенас, Вильнюс, 1981</a></li>
<li><a href="{% url 'page-view' book.root_dir|add:'/05-benefis-ferzevogo-slona_figura-vtoraia.htm' %}#game49">49. <b>Николайдэ</b> — Бириеску, Румыния, 1987</a></li>
<li><a href="{% url 'page-view' book.root_dir|add:'/05-benefis-ferzevogo-slona_figura-vtoraia.htm' %}#game50">50. <b>Вунич</b> — Дурович, Завлюяк, 1984</a></li>
<li><a href="{% url 'page-view' book.root_dir|add:'/05-benefis-ferzevogo-slona_figura-vtoraia.htm' %}#game51">51. <b>Джакс</b> — Пинч, по переписке, 1974</a></li>
<li><a href="{% url 'page-view' book.root_dir|add:'/05-benefis-ferzevogo-slona_figura-vtoraia.htm' %}#game52">52. Жураковский — <b>Костромин</b>, Камчатка,</a></li>
<li><a href="{% url 'page-view' book.root_dir|add:'/05-benefis-ferzevogo-slona_figura-vtoraia.htm' %}#game53">53. Витлинг — <b>Сергеев</b>, по переписке, 1982</a></li>
<li><a href="{% url 'page-view' book.root_dir|add:'/05-benefis-ferzevogo-slona_figura-vtoraia.htm' %}#game54">54. <b>Сосонко</b> — Хюбнер, Тилбург, 1973</a></li>
<li><a href="{% url 'page-view' book.root_dir|add:'/05-benefis-ferzevogo-slona_figura-vtoraia.htm' %}#game55">55. <b>Гедульт</b> — Рабе, Париж, семидесятые</a></li>
<li><a href="{% url 'page-view' book.root_dir|add:'/05-benefis-ferzevogo-slona_figura-vtoraia.htm' %}#game56">56. <b>Бахман</b> — Кунстманн, Аугбург, 1899</a></li>
<li><a href="{% url 'page-view' book.root_dir|add:'/05-benefis-ferzevogo-slona_figura-vtoraia.htm' %}#game57">57. <b>Упарт</b> — Койпиш, Минск, 1974</a></li>
<li><a href="{% url 'page-view' book.root_dir|add:'/05-benefis-ferzevogo-slona_figura-vtoraia.htm' %}#game58">58. <b>Мекензи</b> — Любитель, США, прошлый век</a></li>
<li><a href="{% url 'page-view' book.root_dir|add:'/06-o-polze-svoevremennoj-rokirovki.htm' %}#game59">59. Гофман — <b>Петров</b>, Варшава, 1844</a></li>
<li><a href="{% url 'page-view' book.root_dir|add:'/06-o-polze-svoevremennoj-rokirovki.htm' %}#game60">60. Горвиц — <b>Бледов</b>, Берлин,. 1837</a></li>
<li><a href="{% url 'page-view' book.root_dir|add:'/06-o-polze-svoevremennoj-rokirovki.htm' %}#game61">61. Шпильман — Мароци, Вена, 1907</a></li>
<li><a href="{% url 'page-view' book.root_dir|add:'/06-o-polze-svoevremennoj-rokirovki.htm' %}#game62">62. <b>Алехин</b> — Теннер, Кельн, 1911</a></li>
<li><a href="{% url 'page-view' book.root_dir|add:'/06-o-polze-svoevremennoj-rokirovki.htm' %}#game63">63. <b>Жуков</b> — Сальников, Москва, 1978</a></li>
<li><a href="{% url 'page-view' book.root_dir|add:'/06-o-polze-svoevremennoj-rokirovki.htm' %}#game64">64. <b>Кенц</b> — Маркович, Оджаци, 1978</a></li>
<li><a href="{% url 'page-view' book.root_dir|add:'/06-o-polze-svoevremennoj-rokirovki.htm' %}#game65">65. Фрезе — <b>Шродер</b>, 1951</a></li>
<li><a href="{% url 'page-view' book.root_dir|add:'/07-prikliucheniia-na-ferzevom-flange_atakuiut-chernye.htm' %}#game66">66. Майет — <b>Гарвитц</b>, Берлин, 1848</a></li>
<li><a href="{% url 'page-view' book.root_dir|add:'/07-prikliucheniia-na-ferzevom-flange_atakuiut-chernye.htm' %}#game67">67. Спенсер — <b>Файруст</b>, Тенди, 1928</a></li>
<li><a href="{% url 'page-view' book.root_dir|add:'/07-prikliucheniia-na-ferzevom-flange_atakuiut-chernye.htm' %}#game68">68. Файн — <b>Юдович</b>, Москва, 1937</a></li>
<li><a href="{% url 'page-view' book.root_dir|add:'/07-prikliucheniia-na-ferzevom-flange_atakuiut-chernye.htm' %}#game69">69. <b>Файн</b> — Винтер, Гастингс, 1936/37</a></li>
<li><a href="{% url 'page-view' book.root_dir|add:'/07-prikliucheniia-na-ferzevom-flange_atakuiut-chernye.htm' %}#game70">70. Шостакович — <b>Кофман</b>, Киев, 1934</a></li>
<li><a href="{% url 'page-view' book.root_dir|add:'/07-prikliucheniia-na-ferzevom-flange_atakuiut-chernye.htm' %}#game71">71. Шиффер — <b>Йорде</b>, по переписке, 1965</a></li>
<li><a href="{% url 'page-view' book.root_dir|add:'/07-prikliucheniia-na-ferzevom-flange_atakuiut-chernye.htm' %}#game72">72. Микенас В. — <b>Купрейчик</b>, Гомель, 1973</a></li>
<li><a href="{% url 'page-view' book.root_dir|add:'/07-prikliucheniia-na-ferzevom-flange_atakuiut-chernye.htm' %}#game73">73. Владимиров — Бахматов, СССР, 1956</a></li>
<li><a href="{% url 'page-view' book.root_dir|add:'/07-prikliucheniia-na-ferzevom-flange_atakuiut-chernye.htm' %}#game74">74. Бронд — Вулкорф, Кардоба, 1970</a></li>
<li><a href="{% url 'page-view' book.root_dir|add:'/07-prikliucheniia-na-ferzevom-flange_atakuiut-chernye.htm' %}#game75">75. <b>Мюллер</b> — Дюшан, Гаага, 1928</a></li>
<li><a href="{% url 'page-view' book.root_dir|add:'/08-prikliuchenie-na-ferzevom-flange_atakuiut-belye.htm' %}#game76">76. <b>Поттер</b> — Матьюз, Лондон, 1868</a></li>
<li><a href="{% url 'page-view' book.root_dir|add:'/08-prikliuchenie-na-ferzevom-flange_atakuiut-belye.htm' %}#game77">77. <b>Шумер</b> — Мюллер, 1917</a></li>
<li><a href="{% url 'page-view' book.root_dir|add:'/08-prikliuchenie-na-ferzevom-flange_atakuiut-belye.htm' %}#game78">78. <b>Кароч</b> — Яффе, Нью-Йорк, 1936</a></li>
<li><a href="{% url 'page-view' book.root_dir|add:'/08-prikliuchenie-na-ferzevom-flange_atakuiut-belye.htm' %}#game79">79. <b>Рельштаб</b> — Зеегберхт, ФРГ, 1954</a></li>
<li><a href="{% url 'page-view' book.root_dir|add:'/08-prikliuchenie-na-ferzevom-flange_atakuiut-belye.htm' %}#game80">80. <b>Кириллов</b> — Скуя, Рига, 1965</a></li>
<li><a href="{% url 'page-view' book.root_dir|add:'/08-prikliuchenie-na-ferzevom-flange_atakuiut-belye.htm' %}#game81">81. Любитель — <b>Каранжа</b>, Скопле, 1974</a></li>
<li><a href="{% url 'page-view' book.root_dir|add:'/09-rtutnaia-peshka-v-teme-legalia.htm' %}#game82">82. <b>Мизес</b> — Эквист, Нюрнберг, 1895</a></li>
<li><a href="{% url 'page-view' book.root_dir|add:'/09-rtutnaia-peshka-v-teme-legalia.htm' %}#game83">83. <b>Оскам</b> — Любитель, 1927</a></li>
<li><a href="{% url 'page-view' book.root_dir|add:'/09-rtutnaia-peshka-v-teme-legalia.htm' %}#game84">84. <b>Федоров</b> — Черный, Минск, 1980</a></li>
<li><a href="{% url 'page-view' book.root_dir|add:'/09-rtutnaia-peshka-v-teme-legalia.htm' %}#game85">85. Гольдберг — <b>Шевальдонне</b>, Бордо, 1982</a></li>
<li><a href="{% url 'page-view' book.root_dir|add:'/09-rtutnaia-peshka-v-teme-legalia.htm' %}#game86">86. <b>Саульсон</b> — Филиппс, Чикаго, 1907</a></li>
<li><a href="{% url 'page-view' book.root_dir|add:'/09-rtutnaia-peshka-v-teme-legalia.htm' %}#game87">87. Греков — <b>Григорьев</b>, Москва, 1919</a></li>
<li><a href="{% url 'page-view' book.root_dir|add:'/10-nestandart_vmesto-zakliucheniia.htm' %}#game88">88. <b>Стейниц</b> — Любитель, 1863</a></li>
<!--p>56</p-->
<li><a href="{% url 'page-view' book.root_dir|add:'/10-nestandart_vmesto-zakliucheniia.htm' %}#game89">89. Мандольфо — <b>Колиш</b>, Париж, 1859</a></li>
<li><a href="{% url 'page-view' book.root_dir|add:'/10-nestandart_vmesto-zakliucheniia.htm' %}#game90">90. <b>Андерсен</b> — Шаллоп, Берлин, 1864</a></li>
<li><a href="{% url 'page-view' book.root_dir|add:'/10-nestandart_vmesto-zakliucheniia.htm' %}#game91">91. <b>Кажич</b> — Вукович, Югославия, 1940</a></li>
<li><a href="{% url 'page-view' book.root_dir|add:'/10-nestandart_vmesto-zakliucheniia.htm' %}#game92">92. <b>Блюменфельд</b> — Любитель, Петербург, 1903</a></li>
<li><a href="{% url 'page-view' book.root_dir|add:'/10-nestandart_vmesto-zakliucheniia.htm' %}#game93">93. <b>Земгалиш</b> — Юахим, Сиетл, 1953</a></li>
<li><a href="{% url 'page-view' book.root_dir|add:'/10-nestandart_vmesto-zakliucheniia.htm' %}#game94">94. Спейер — <b>Яновский</b>, Амстердам, 1901</a></li>
<li><a href="{% url 'page-view' book.root_dir|add:'/10-nestandart_vmesto-zakliucheniia.htm' %}#game95">95. Каталымов — <b>Аронин</b>, Таллин, 1968</a></li>
<li><a href="{% url 'page-view' book.root_dir|add:'/10-nestandart_vmesto-zakliucheniia.htm' %}#game96">96. Разуваев — <b>Купрейчик</b>, Дубна, 1970</a></li>
<li><a href="{% url 'page-view' book.root_dir|add:'/10-nestandart_vmesto-zakliucheniia.htm' %}#game97">97. Дорошкевич — <b>Тукмаков</b>, Рига, 1970</a></li>
<li><a href="{% url 'page-view' book.root_dir|add:'/10-nestandart_vmesto-zakliucheniia.htm' %}#game98">98. Рейниш — <b>Тракслер</b>, Прага, 1890</a></li>
<li><a href="{% url 'page-view' book.root_dir|add:'/10-nestandart_vmesto-zakliucheniia.htm' %}#game99">99. Кнорре — <b>Чигорин</b>, Петербург, 1874</a></li>
<li><a href="{% url 'page-view' book.root_dir|add:'/10-nestandart_vmesto-zakliucheniia.htm' %}#game100">100. Юринский — Соколовский, Берлин, 1947</a></li>
</ul>
</div> <!-- score -->
</div> <!-- section -->

</div> <!-- iBook -->
{% endblock content %}
